<dom-module id="nav-node">
	<template>
		<style>
			li,
			li.active {
				background: #03466B !important;
				border-left: 0px solid #D80109 !important;
			}

			li a:hover,
			li a:focus {
				background: #03466B !important;
			}

			.nav-2-level {
				margin-left: -10px
			}

			.nav-1-level {
				margin-left: -10px
			}

			.nav-1-level li a {
				padding: 14px 10px 14px 25px !important;
			}

			.nav li>a {
				font-size: 11px;
			}

			.nav li.active>a {
				font-size: 11px;
			}

			.nav-3-level li>a {
				font-size: 11px;
			}

			.nav-3-level li.active>a {
				font-size: 11px;
			}

			.nav-label.nav-node {
				display: inline-block;
			}

			.ApplicationICN {
				background: transparent url("../images/applications.png") no-repeat;
				width: 16px;
				display: inline-block;
				height: 16px;
			}

			.FollowupsICN {
				background: transparent url("../images/followup.png") no-repeat;
				width: 16px;
				display: inline-block;
				height: 16px;
			}

			.ReviewICN {
				background: transparent url("../images/review.png") no-repeat;
				width: 16px;
				display: inline-block;
				height: 16px;
			}

			.BankICN {
				background: transparent url("../images/bank.png") no-repeat;
				width: 16px;
				display: inline-block;
				height: 16px;
			}

			.PostApprovalICN {
				background: transparent url("../images/postapproval.png") no-repeat;
				width: 16px;
				display: inline-block;
				height: 16px;
			}

			.FailedICN {
				background: transparent url("../images/failedMenu.png") no-repeat;
				width: 16px;
				display: inline-block;
				height: 16px;
			}

			.UserICN {
				background: transparent url("../images/followup.png") no-repeat;
				width: 16px;
				display: inline-block;
				height: 16px;
			}

			.nav-label {
				display: block;
			}
		</style>
		<template is="dom-if" if="{{hasRole(node.title, node)}}">
			<li class$="{{getActiveClass(active)}}" aria-expanded$="{{active}}" style="padding: 0 !important;margin: 0 !important">
				<a class='link' href$="{{node.url}}" data-title$="{{node.title}}" title$="{{node.tooltip}}" on-click="processClick">
					<i hidden$="{{ !node.icon }}" class$="{{join('', '', '', node.icon)}}"></i>
					<span class="nav-label">{{node.title}} {{_getFilterName(totalCounts, node.url)}}</span>
					<template is="dom-if" if="{{node.nodes}}">
						<span class="fa arrow"></span>
					</template>
				</a>
				<template is="dom-if" if="{{node.nodes}}">
					<ul class$="{{join('', 'nav ', 'nav-', level, '-level')}}" style="padding: 0 !important; margin: 0 !important">
						<template is="dom-repeat" items="{{node.nodes}}">
							<nav-node node="{{item}}" level="3" total-counts="{{totalCounts}}"></nav-node>
						</template>
					</ul>
				</template>
			</li>
		</template>
		<auth-service id="authorizenavn"></auth-service>
	</template>
	<script>
		HTMLImports.whenReady(function () {
			Polymer({
				is: "nav-node",
				properties: {
					node: {
						type: Object,
						notify: true,
						readOnly: false,
						reflectToAttribute: true
					},
					level: Number,
					active: {
						type: Boolean,
						value: true
					},
					totalCounts: {
						type: String,
						notify: true,
						reflectToAttribute: true
					}
				},
				ready: function () {
					this.init();
				},
				init: function () {
					var self = this;
					if (self.node.nodes) {
						self.menuShowing = true;
					}
					self.checkIfActive();
				},
				checkIfActive: function () {
					this.active = this.isActive();
					if (this.$$("ul") != undefined)
						this.$$("a.link").setAttribute("aria-expanded", this.active);
				},
				isActive: function () {
					var sameUrl = function (url) {
						if (document.location.hash === url) {
							return true;
						}
						return false;
					};
					if (this.menuShowing) {
						return true;
					}
					return (!_.isUndefined(this.node) && sameUrl(this.node.url)) || (!_.isUndefined(this.node) && !_.isUndefined(this.node.nodes) && this.node.nodes.find(function (e) { return sameUrl(e.url); }) != undefined);
				},
				join: function (separator) {
					return Array.prototype.slice.call(arguments, 1).join(separator);
				},
				getActiveClass: function (active) {
					return active ? "active" : "";
				},
				processClick: function (userObj) {
					var $navList = $(this).parents("navigation-list");
					if (!this.node.nodes) {
						$navList.find("nav-node").each(function (index, node) {
							if (node.active && !node.node.nodes) {
								node.active = false;
							}
						});
					}
					$('ul', this).toggleClass("collapse");
					if (this.menuShowing != null) {
						this.menuShowing = !this.menuShowing;
					}
					if (this.node.nodes) {
						this.active = !this.active;
					} else {
						this.active = true;
					}
				},
				hasRole: function (compName, node) {
					compName = compName + "Filters";
					return this.$.authorizenavn.hasRole(compName);
				},
				_getFilterName: function (count, url) {
					var self = this;
					if (self.totalCounts) {
						if (document.location.hash === url) {
							return "(" + self.totalCounts + ")";
						}
					}
					return "";
				}
			});
		});
	</script>
</dom-module>