<dom-module id="header-view">
    <template>
        <style>
            .navbar {
                max-height: 60px;
            }

            .navbar-brand {
                padding: 0;
                overflow: hidden;
                height: 60px !important;
            }
        </style>
        <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
            <div class="row">
                <div class="col-md-4">
                    <div class="navbar-header">
                        <div class="navbar-brand">
                            <template is="dom-if" if="{{_checkIfLogoLoaded(logoObj)}}">
                                <img src="{{dynamicImage}}" alt="{{logoObj.alt}}" style="{{imgStyle}}">
                            </template>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <advance-search selectedItem="{{selectedItem}}"></advance-search>
                </div>
                <div class="col-md-1">
                </div>
                <div class="col-md-2">
                    <table class="pull-right" style="width: 155px;">
                        <tr>
                            <td>
                                <template is="dom-if" if="{{isNotificationEnable(notification)}}">
                                    <profile-notification></profile-notification>
                                </template>
                            </td>
                            <td>
                                <profile-summary></profile-summary>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </nav>
        <http-request id="httph"></http-request>
        <alloy-config id="configh"></alloy-config>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "header-view",
                properties: {
                    imgStyle: {
                        type: String,
                        notify: true,
                        reflectToAttribute: true
                    },
                    selectedItem: {
                        type: String,
                        notify: true,
                        reflectToAttribute: true
                    },
                    notification: {
                        type: Boolean,
                        notify: true,
                        value: false
                    },
                    logoObj: {
                        type: Object,
                        notify: true,
                        value: {}
                    },
                    hasImageLoaded: {
                        type: Boolean,
                        notify: true,
                        value: false
                    },
                    dynamicImage: {
                        type: String,
                        notify: true
                    }
                },
                _checkIfLogoLoaded: function (logoObj) {
                    var self = this;
                    if (self.hasImageLoaded && !_.isEmpty(self.logoObj))
                        return true;
                    return false;
                },
                loadLogoconfigs: function () {
                    var self = this;
                    var data = self.$.configh.getConfigurationBasedOnKey("images-config");
                    if (data.nosearchlogo) {
                        self.set('hasImageLoaded', true);
                        self.set('logoObj', data.nosearchlogo);
                        var regexpattern = /((?:https?\:\/\/|www\.)(?:[-a-z0-9]+\.)*[-a-z0-9]+.*)/i;
                        if (regexpattern.test(data.nosearchlogo.img)) {
                            self.set("dynamicImage", data.nosearchlogo.img);
                        }
                        else {
                            self.set("dynamicImage", "/images/" + data.nosearchlogo.img);
                        }
                        var tmpHeight = (self.logoObj.height !== undefined && self.logoObj.height !== "") ? self.logoObj.height : "100%";
                        var tmpWidth = (self.logoObj.width !== undefined && self.logoObj.width !== "") ? self.logoObj.width : "100%";
                        var style = "height:" + tmpHeight + " !important; width:" + tmpWidth + " !important";
                        self.set('imgStyle', style);
                    }
                    var enableNotification = self.$.configh.getConfigurationBasedOnKey("enableNotification");
                    if (enableNotification !== undefined && enableNotification !== "") {
                        self.set("notification", enableNotification);
                    }
                },
                ready: function () {
                    this.loadLogoconfigs();
                },
                isNotificationEnable: function (objNotification) {
                    var self = this;

                    return (objNotification !== undefined && objNotification !== "" && objNotification === true) ? true : false;
                }
            });
        });
    </script>
</dom-module>
<html-import html-href="profile/summary.html"></html-import>
<html-import html-href="profile/notification.html"></html-import>
<html-import html-href="search/advance-search.html"></html-import>