<dom-module id="bureau-report-files">
    <template>
        <style>
            .tablecontainer {
                margin: 40px auto 0;
            }

            .row {
                margin: 0 auto !important;
            }

            .header-right {
                position: absolute;
                right: 20px;
            }

            .footer-right {
                float: right;
            }

            div#queue_wrapper {
                text-align: center;
            }
        </style>
        <div class="row">
            <breadcrumb-links></breadcrumb-links>
        </div>
        <div class="row">
            <form is="iron-form" class="form-horizontal" name="searchForm">
                <dynamic-form form-configuration={{bureauObj}} values="{{bureauObj.values}}"></dynamic-form>
                <br/>
                <button class="btn btn-primary activity-action-btn" on-click="_getAllLoans" raised>Get All Loans</button>
            </form>
        </div>
        <div class="row tablecontainer">
            <table id="bureauData" class="table table-striped" width="100%" cellspacing="0"></table>
        </div>
        <url-parser id="urlBureau"></url-parser>
        <http-request id="httpBureau"></http-request>
        <alloy-config id="configBureau"></alloy-config>
        <session-manager id="sessionBureau"></session-manager>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "bureau-report-files",
                properties: {
                    tableObj: {
                        type: Object,
                        notify: false
                    },
                    allLoans: {
                        type: Array,
                        notify: true
                    },
                    currentEntityName: {
                        type: String,
                        notify: true,
                        value: 'loan'
                    },
                    searchReqObj: {
                        type: Object,
                        notify: true,
                        value: {
                            searchFilterView: [],
                            inTagsSearch: [],
                            notInTagsSearch: [],
                            operator: "and",
                            projections: "",
                            sorts: ""
                        }
                    },
                    bureauObj: {
                        type: Object,
                        notify: true,
                        value: {
                            controls: {
                                fileId: {
                                    label: "Please select file",
                                    type: "combobox",
                                    class: "threeColumn",
                                    selectList: [],
                                    labelKey: "key",
                                    labelValue: "value",
                                    validations: {
                                        required: true
                                    }
                                }
                            },
                            values: {
                                fileId: ""
                            }
                        }
                    }
                },
                ready: function () {
                    var self = this;
                    var urlParams = self.$.urlBureau.getParams();
                    if (urlParams.hasOwnProperty('entity')) {
                        self.set('currentEntityName', urlParams.entity);
                    }
                    var bureauObj = self.get('bureauObj');
                    bureauObj.values.fileId = "";
                    self._getFileList();
                },
                _getFileList: function () {
                    var self = this;
                    var url = "/report/all/files";
                    self.$.httpBureau.get(url, window.config.services.bureauReport).then(function (data) {
                        var fileList = _.transform(data, function (result, item) {
                            result.push({ key: item.fileName, value: item.fileId });
                        }, []);
                        var bureauObj = self.get('bureauObj');
                        bureauObj.controls.fileId.selectList = fileList;
                        if (fileList != undefined && fileList != null && fileList.length == 1) {
                            bureauObj.values.fileId = fileList[0].key;
                        }
                        self.set('bureauObj', $.extend({}, self.get('bureauObj'), bureauObj));
                    }).fail(function (e) {
                        console.error("File List error is ", e);
                    });
                },
                _getAllLoans: function (event) {
                    event.preventDefault();
                    var self = this;
                    var form = Polymer.dom(event).localTarget.parentElement;
                    if (form.validate()) {
                        var bureauObj = self.get('bureauObj');
                        var url = "/report/file/" + bureauObj.values.fileId;
                        self.$.httpBureau.get(url, window.config.services.bureauReport).then(function (data) {
                            self.set("allLoans", data);
                            self.processData();
                        }).fail(function (e) {
                            console.error("Get Files Loan List error is ", e);
                        });
                    }
                },
                processData: function () {
                    var self = this;
                    var inputObj = {};
                    inputObj['LoanNumber'] = { "$in": self.allLoans };
                    var searchFilterView = _.transform(inputObj, function (result, value, key) {
                        if (value) {
                            var tempObj = {};
                            tempObj[key] = value;
                            result.push(tempObj);
                        }
                    }, []);
                    self._showResult(searchFilterView);
                },
                _showResult: function (searchFilterView) {
                    var self = this;
                    var data = self.$.configBureau.getConfigurationBasedOnKey("filters");
                    var config = _.cloneDeep(data["BureauReport"]);
                    var columnLength = config.columns.length;
                    for (var i = 0; i < columnLength; i++) {
                        if (config.columns[i].render != undefined) {
                            var render = config.columns[i].render;
                            if (config.columns[i].isFunction) {
                                config.columns[i].render = eval("(" + render + ")");
                            }
                            else {
                                config.columns[i].render = eval(render);
                            }
                        }
                    }
                    var table = self.tableObj;
                    var searchReqObj = self.searchReqObj;
                    var savedFilters = window.config.services.savedFilters;
                    if (table !== null && table !== undefined) {
                        table.clear();
                        table.destroy();
                    }
                    $.fn.dataTable.ext.errMode = 'none';
                    self.tableObj = $(this.$$('#bureauData')).DataTable({
                        serverSide: true,
                        ajax: function (data, success) {
                            var page = data.start / 10;
                            page = page + 1;
                            var draw = data.draw;
                            var sortObj = _.transform(data.order, function (result, item) {
                                var columnObj = data.columns[item.column];
                                result[columnObj.data] = item.dir === "desc" ? -1 : 1;
                            }, {});
                            searchReqObj.searchFilterView = searchFilterView;
                            searchReqObj.sorts = sortObj;
                            $.ajax({
                                url: savedFilters + '/' + self.currentEntityName + '/search-loans/?pageSize=10&page=' + page,
                                type: 'POST',
                                contentType: 'application/json',
                                data: JSON.stringify(searchReqObj),
                                headers: {
                                    'Authorization': "Bearer " + self.$.sessionBureau.get('token')
                                },
                                complete: function (data) {
                                    var gridData = {
                                        "draw": draw,
                                        "recordsTotal": parseInt(data.getResponseHeader('X-TOTAL-COUNT')),
                                        "recordsFiltered": parseInt(data.getResponseHeader('X-TOTAL-COUNT')),
                                        "data": data.responseJSON
                                    }
                                    success(gridData);
                                }
                            });
                        },
                        dom: "<'row'<'col-sm-12'tr>>" +
                            "<'row'<'col-sm-5'i><'col-sm-7'p>>",
                        order: config.order,
                        columnDefs: config.columnDefs,
                        columns: config.columns,
                        language: {
                            lengthMenu: "show_MENU_ loans",
                            zeroRecords: "No loans found.",
                            info: "Showing _START_ to _END_ of _TOTAL_ loans",
                            infoEmpty: "No loans available",
                            infoFiltered: "(filtered from _MAX_ total loans)"
                        }
                    });

                    $('#bureauData tbody').on('click', 'button', function () {
                        var data = self.tableObj.row($(this).parents('tr')).data();
                        self.openLoanView(data);
                    });

                    //Grid header tooltip
                    var configData = self.tableObj.settings().aoColumns;
                    $('#bureauData thead tr')[0].childNodes.forEach(function (obj) {
                        var tooltipObj = _.filter(configData, { title: obj.innerText })
                        if (!_.isUndefined(tooltipObj) && !_.isNull(tooltipObj) && !_.isEmpty(tooltipObj)) {
                            var tooltip = tooltipObj[0].tooltip;
                            if (tooltip !== "" && tooltip !== undefined) {
                                $(obj).attr('title', tooltip);
                            }
                        }
                    });
                },
                openLoanView: function (item) {
                    var self = this;
                    self.set("productId", item.LoanProductId);
                    self.set("statusWorkFlowId", item.StatusWorkFlowId);
                    var bureauObj = self.get('bureauObj');
                    if (bureauObj.values.fileId != undefined && bureauObj.values.fileId != null && bureauObj.values.fileId != "") {
                        window.location.hash = "/loan-details/entity:" + self.currentEntityName + "/filter:BureauFiles/loanId:" + item.LoanNumber + "/product:" + self.productId + "/workflow:" + self.statusWorkFlowId + "/bureauFile:" + bureauObj.values.fileId;
                    }
                    else {
                        window.location.hash = "/loan-details/entity:" + self.currentEntityName + "/filter:BureauFiles/loanId:" + item.LoanNumber + "/product:" + self.productId + "/workflow:" + self.statusWorkFlowId;
                    }
                },
                currencyFormat: function (value) {
                    if (value) {
                        value = new Number(value);
                        var amount = value.toFixed(0);
                        amount = amount.toString();
                        var lastThree = amount.substring(amount.length - 3);
                        var otherNumbers = amount.substring(0, amount.length - 3);
                        if (otherNumbers != '')
                            lastThree = ',' + lastThree;
                        var res = otherNumbers.replace(/\B(?=(\d{2})+(?!\d))/g, ",") + lastThree;
                        return res;
                    }
                    else {
                        return 0.00;
                    }
                },

                formatCurrency: function (data) {
                    return formats.money(data, window.config.country, 0);
                },
                formatDate: function (date) {
                    if (date !== undefined) {
                        return moment(date).format(COUNTRY[window.config.country].DATE_FORMAT.DATE);
                    }
                    return "";
                }
            });
        });
    </script>
</dom-module>