<html-import html-href="loaders/sk-wave.html"></html-import>
<dom-module id="report-list">
    <template>
        <style>
            .onlylable .col-md-12 {
                padding: 0 2px;
            }

            .row.onlylable {
                display: inline-block;
                margin: 10px 10px !important;
                width: 30px !important;
            }

            .header {
                font-size: 12px;
                font-weight: 700;
                color: white;
                background-color: #03466B;
            }

            .searchTitle {
                font-size: 13px !important;
            }

            .custom-input {
                --paper-input-container-input: {
                    font-size: 11px;
                }

                --paper-input-container-label: {
                    font-size: 12px;
                }
            }

            .tableReportContainer {
                margin: 40px auto 0;
            }

            .row {
                margin: 0 auto !important;
            }

            .header-right {
                position: absolute;
                right: 20px;
            }

            .footer-right {
                float: right;
            }

            div#reportListTable_wrapper {
                text-align: center;
            }

            .set-vertical-height {
                height: 450px;
                overflow-y: auto;
                overflow-x: hidden;
            }

            .paddleft {
                padding-left: 0px !important;
            }
        </style>
        <div id="reportsData" class="row">
            <breadcrumb-links></breadcrumb-links>
        </div>
        <div id="MessageContainerReport"></div>
        <div class="row">
            <div class="panel-left col-md-4 paddleft">
                <vaadin-combo-box class="custom-input" name="taskName" value="{{taskNameId}}" item-value-path="value"
                    item-label-path="key" items="{{reportList}}" label="Pick a Report" prevent-invalid-input="true"
                    on-change="_onReportChange"></vaadin-combo-box>
            </div>
        </div>
        <div class="row">
            <form is="iron-form" class="form-horizontal" name="searchReportForm">
                <div class="row searchTitle paddleft">
                    <div class="col-md-12 paddleft">
                        <b>{{criteriaHeaderLabel}}</b>
                    </div>
                </div>
                <dynamic-form form-configuration={{reportObj}} values="{{reportObj.values}}"></dynamic-form>
                <template is="dom-if" if="{{checkMoreParameter(reportObjOr)}}">
                    <div class="row onlylable">
                        <div class="col-md-2">
                            OR
                        </div>
                    </div>
                    <dynamic-form form-configuration={{reportObjOr}} values="{{reportObjOr.values}}"></dynamic-form>
                </template>
                <template is="dom-if" if="{{checkMoreParameter(moreReportObj)}}">
                    <br />
                    <div id="moreCriteriaDiv" style="display:none;">
                        <div class="row searchTitle paddleft">
                            <div class="col-md-12 paddleft">
                                <b>{{morecriteriaHeaderLabel}}</b>
                            </div>
                        </div>
                        <dynamic-form form-configuration={{moreReportObj}} values="{{moreReportObj.values}}">
                        </dynamic-form>
                        <template is="dom-if" if="{{checkMoreParameter(moreReportObjOr)}}">
                            <div class="row onlylable">
                                <div class="col-md-12 paddleft">
                                    OR
                                </div>
                            </div>
                            <dynamic-form form-configuration={{moreReportObjOr}} values="{{moreReportObjOr.values}}">
                            </dynamic-form>
                        </template>
                    </div>
                    <a href="javascript:void(0)" id="viewMore" on-click="showMoreFilter">More Filters</a>
                    <br>
                </template>
                <br />
                <button id="btnFetchReport" style="display:none;" class="btn btn-primary activity-action-btn"
                    on-click="_fetchReport" raised>Fetch Report</button>
            </form>
        </div>
        <br />
        <div class="row">
            <table class="table" id="tblHeader" style="display:none;">
                <tbody>
                    <tr>
                        <th colspan="6" class="header">{{reportName}}{{reportNameWithDate}}</th>
                    </tr>
                </tbody>
            </table>
        </div>
        <spinkit-wave hidden$="{{loadding}}"></spinkit-wave>
        <div id="tableReportContainer" class="row">
            <table id="reportListTable" class="table table-striped dataTableReport" width="100%" cellspacing="0">
            </table>
        </div>
        <url-parser id="urlReportList"></url-parser>
        <http-request id="httpReportList"></http-request>
        <alloy-config id="configReportList"></alloy-config>
        <session-manager id="sessionReportList"></session-manager>
        <message-component id="messageReportList"></message-component>
        <auth-service id="authorize"></auth-service>
        <lookup-service id="lookup"></lookup-service>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "report-list",
                properties: {
                    reportType: {
                        type: String,
                        notify: true
                    },
                    callDesposition: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    serviceEndPoint: {
                        type: String,
                        notify: true
                    },
                    morecriteriaHeaderLabel: {
                        type: String,
                        notify: true
                    },
                    criteriaHeaderLabel: {
                        type: String,
                        notify: true
                    },
                    paymentStatusLookup: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    loadding: {
                        type: Boolean,
                        notify: true,
                        value: false,
                        reflectToAttribute: true
                    },
                    url: {
                        type: String,
                        notify: true,
                        value: ""
                    },
                    payLoad: {
                        type: Object,
                        notify: true,
                    },
                    fetchFrom: {
                        type: String,
                        notify: true,
                        reflectToAttribute: true
                    },
                    totalCount: {
                        type: String,
                        notify: true,
                        reflectToAttribute: true
                    },
                    reportList: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    reportObj: {
                        type: Object,
                        notify: true,
                        value: {}
                    },
                    reportObjOr: {
                        type: Object,
                        notify: true,
                        value: {}
                    },
                    moreReportObj: {
                        type: Object,
                        notify: true,
                        value: {}
                    },
                    MoreReportObjOr: {
                        type: Object,
                        notify: true,
                        value: {}
                    },
                    searchReqObj: {
                        type: Object,
                        notify: true,
                        value: {
                            searchFilterView: [],
                            inTagsSearch: [],
                            notInTagsSearch: [],
                            operator: "and",
                            projections: "",
                            sorts: ""
                        }
                    },
                    filteredItems: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    config: {
                        type: Object,
                        notify: true
                    },
                    tableObj: {
                        type: Object,
                        notify: false
                    },
                    reportName: {
                        type: String,
                        notify: false
                    },
                    reportNameWithDate: {
                        type: String,
                        notify: false
                    },
                    exportTitle: {
                        type: String,
                        notify: true
                    },
                    i18n: {
                        type: Object,
                        notify: true,
                        value: {
                            monthNames: moment.months(),
                            weekdays: moment.weekdays(),
                            weekdaysShort: moment.weekdaysShort(),
                            firstDayOfWeek: moment.localeData().firstDayOfWeek(),
                            week: 'Week',
                            calendar: 'Calendar',
                            clear: 'Clear',
                            today: 'Today',
                            cancel: 'Cancel',
                            formatDate: function (d) {
                                return moment(d).format(COUNTRY[window.config.country].DATE_FORMAT.DATE);
                            },
                            parseDate: function (s) {
                                return moment(s, COUNTRY[window.config.country].DATE_FORMAT.DATE).toDate();
                            },
                            formatTitle: function (monthName, fullYear) {
                                return monthName + ' ' + fullYear;
                            }
                        }
                    }
                },
                observers: [
                    'calculationTypeChange("fromDateRpt",reportObj.values.fromDateRpt)',
                    'calculationTypeChange("toDateRpt",reportObj.values.toDateRpt)',
                    'calculationTypeChange("periodOfTime",reportObj.values.periodOfTime)',
                    'calculationTypeChange("paidOffAmount",reportObj.values.paidOffAmount)',
                    'calculationTypeChange("outstandingAmount",reportObj.values.outstandingAmount)'
                ],
                calculationTypeChange: function (control, val) {
                    var self = this;
                    var reportObj = _.cloneDeep(self.reportObj);
                    if ((control === "fromDateRpt" || control === "toDateRpt") && val !== "" && reportObj.controls.periodOfTime !== undefined && reportObj.controls.periodOfTime.validations.disabled === false) {
                        reportObj.controls.periodOfTime.validations.disabled = true;
                        self.set("reportObj", reportObj);
                    }
                    else if (reportObj.values.fromDateRpt === "" && reportObj.values.toDateRpt === "" && reportObj.controls.periodOfTime !== undefined && reportObj.controls.periodOfTime.validations.disabled === true) {
                        reportObj.controls.periodOfTime.validations.disabled = false;
                        self.set("reportObj", reportObj);
                    }
                    if ((control === "periodOfTime") && val !== "" && reportObj.controls.fromDateRpt.validations.disabled === false) {
                        reportObj.controls.fromDateRpt.validations.disabled = true;
                        reportObj.controls.toDateRpt.validations.disabled = true;
                        self.set("reportObj", reportObj);
                    }
                    else if ((control === "periodOfTime") && val === "" && reportObj.controls.fromDateRpt.validations.disabled === true) {
                        reportObj.controls.fromDateRpt.validations.disabled = false;
                        reportObj.controls.toDateRpt.validations.disabled = false;
                        self.set("reportObj", reportObj);
                    }

                    if ((control === "paidOffAmount") && val !== "" && reportObj.controls.outstandingAmount.validations.disabled === false) {
                        reportObj.controls.outstandingAmount.validations.disabled = true;
                        self.set("reportObj", reportObj);
                    }
                    else if ((control === "paidOffAmount") && val === "" && reportObj.controls.outstandingAmount.validations.disabled === true) {
                        reportObj.controls.outstandingAmount.validations.disabled = false;
                        self.set("reportObj", reportObj);
                    }

                    if ((control === "outstandingAmount") && val !== "" && reportObj.controls.paidOffAmount.validations.disabled === false) {
                        reportObj.controls.paidOffAmount.validations.disabled = true;
                        self.set("reportObj", reportObj);
                    }
                    else if ((control === "outstandingAmount") && val === "" && reportObj.controls.paidOffAmount.validations.disabled === true) {
                        reportObj.controls.paidOffAmount.validations.disabled = false;
                        self.set("reportObj", reportObj);
                    }
                },
                ready: function () {
                    var self = this;
                    var requestStatus = self.$.lookup.getLookupBasedOnName("requestStatus");
                    self.set('paymentStatusLookup', requestStatus);
                    var callDesposition = self.$.lookup.getLookupBasedOnName("calldisposition");
                    self.set('callDesposition', callDesposition);
                    var operationalReports = self.$.configReportList.getConfigurationBasedOnKey("operationalReports");
                    var filterReport = [];
                    _.forEach(operationalReports, function (item) {
                        if (self.hasRole(item.value + "Report")) {
                            filterReport.push(item);
                        }
                    });
                    self.set("reportList", filterReport);
                    self.set('loadding', true);
                },
                hasRole: function (compName) {
                    return this.$.authorize.hasRole(compName);
                },
                attached: function () {
                    $('html, body').animate({
                        scrollTop: ($('#reportsData').first().offset().top)
                    }, 3000);
                },
                _onReportChange: function (event) {
                    var self = this;
                    var selectedValues = event.target.value;
                    if (selectedValues !== "") {
                        $("#btnFetchReport").show();
                        $('#tblHeader').hide();
                        $('#tableReportContainer').hide();
                        var rptObj = _.find(self.reportList, ['value', selectedValues]);
                        var someDate = new Date();
                        self.set("fetchFrom", rptObj.fetchFrom);
                        self.set("payLoad", _.cloneDeep(rptObj.payload));
                        self.set("url", rptObj.url);
                        self.set("serviceEndPoint", rptObj.serviceEndPoint);
                        var minus = (rptObj.headerDate !== undefined && rptObj.headerDate !== "") ? rptObj.headerDate : 1;
                        someDate.setDate(someDate.getDate() - minus);
                        var currentDate = moment(someDate).format(COUNTRY[window.config.country].DATE_FORMAT.DATE);
                        self.set("reportName", rptObj.reportHeader);
                        self.set("exportTitle", "Click here to download the " + self.reportName + " in excel format");
                        self.set("reportNameWithDate", " as on " + currentDate);
                        self.set("reportType", _.cloneDeep(rptObj.reportType));
                        self.set("reportObj", _.cloneDeep(rptObj.criteria));
                        self.set("reportObjOr", _.cloneDeep(rptObj.criteriaOr));
                        self.set("moreReportObj", _.cloneDeep(rptObj.moreCriteria));
                        self.set("moreReportObjOr", _.cloneDeep(rptObj.MoreCriteriaOr));
                        self.set("criteriaHeaderLabel", (rptObj.criteriaHeaderLabel !== undefined) ? rptObj.criteriaHeaderLabel : "");
                        self.set("morecriteriaHeaderLabel", (rptObj.morecriteriaHeaderLabel !== undefined) ? rptObj.morecriteriaHeaderLabel : "");
                        var config = _.cloneDeep(rptObj.gridColumn);
                        var columnLength = config.columns.length;
                        for (var i = 0; i < columnLength; i++) {
                            if (config.columns[i].render != undefined) {
                                var render = config.columns[i].render;
                                if (config.columns[i].isFunction) {
                                    config.columns[i].render = eval("(" + render + ")");
                                }
                                else {
                                    config.columns[i].render = eval(render);
                                }
                            }
                        }
                        self.set("config", config);
                        setTimeout(function () {
                            window.document.querySelectorAll('vaadin-date-picker').forEach(function (element) {
                                element.addEventListener('value-changed', function (event) {
                                    if (!_.isUndefined(self.reportObj.values) && self.reportObj.values.hasOwnProperty(event.target.name)) {
                                        var values = _.cloneDeep(self.reportObj.values);
                                        values[event.target.name] = event.target.value;
                                        self.set("reportObj.values", values);
                                    }
                                });
                            });
                            if (rptObj.defaultLoadData !== undefined && rptObj.defaultLoadData === true) {
                                var currentDate = moment.tz(window.config.timezone);
                                currentDate.subtract(1, 'days');
                                var reportObj = _.cloneDeep(rptObj.criteria);
                                reportObj.values.ToDate = moment(currentDate.toJSON()).format('YYYY-MM-DD');
                                reportObj.values.FromDate = moment(currentDate.toJSON()).format('YYYY-MM-DD');
                                self.set("reportObj", reportObj);
                                $('#btnFetchReport').click();
                            }
                        }, 1000);
                    }
                    else {
                        $('#tblHeader').hide();
                        self.set("reportName", "");
                        self.set("reportNameWithDate", "");
                        $('#tableReportContainer').hide();
                        $("#btnFetchReport").hide();
                        self.set("reportObj", {});
                        self.set("reportObjOr", {});
                        self.set("criteriaHeaderLabel", "");
                        self.set("morecriteriaHeaderLabel", "");
                    }
                },
                _getFormat: function () {
                    return 'DD-MM-YYYY';
                },
                _fetchReport: function (event) {
                    event.preventDefault();
                    var self = this;
                    var rptObj = _.cloneDeep(self.reportObj);
                    var rptObjOr = _.cloneDeep(self.reportObjOr);
                    var morerptObj = _.cloneDeep(self.moreReportObj);
                    var morerptObjOr = _.cloneDeep(self.moreReportObjOr);
                    if (self.fetchFrom === "endpoint") {
                        self.set("totalCount", 0);
                        if (self.reportType !== undefined && self.reportType !== null && self.reportType !== "" && self.reportType === "GetwithPlaceHolder") {
                            self.set('loadding', false);
                            if (rptObj !== undefined && rptObj.values.TagName === "") {
                                var msg = "Please select atleast one tag name from dropdown.";
                                self.$.messageReportList.showMessage(msg, "ERROR", self.$$('#MessageContainerReport'));
                                return;
                            }
                            var payload = self.payLoad;
                            var url = self.url;
                            url = url.replace("{tagName}", rptObj.values.TagName);
                            var serviceEndPointURL = window.config.services.paymentProcessor;
                            if (window.config.services[self.serviceEndPoint] !== "" && window.config.services[self.serviceEndPoint] !== undefined) {
                                serviceEndPointURL = window.config.services[self.serviceEndPoint];
                            }
                            $('#tblHeader').show();
                            self.$.httpReportList.get(url, serviceEndPointURL, false).then(function (data) {
                                if (data) {
                                    $('#tableReportContainer').show();
                                    self.set('loadding', true);
                                    self._getReportDataFromEndpoint(data);
                                }
                                else {
                                    $('#tableReportContainer').show();
                                    self.set('loadding', true);
                                    self._getReportDataFromEndpoint(data);
                                }
                            }).fail(function (e) {
                                $('#tableReportContainer').show();
                                self.set('loadding', true);
                                var failMessage = "";
                                if (e.responseJSON.code === 400) {
                                    failMessage = e.responseJSON.message;
                                }
                                else {
                                    failMessage = "Some error occured, Please try it after some time.";
                                }
                                self.$.messageReportList.showMessage(failMessage, "ERROR", self.$.MessageContainerReport);
                                self._getReportDataFromEndpoint([]);
                            });
                        }
                        else {
                            var dataObj = {};
                            var dataObj1 = {};
                            if (rptObj !== undefined && rptObjOr !== undefined && rptObj.values.FromDate !== "" &&
                                rptObj.values.ToDate !== "" &&
                                rptObjOr !== undefined &&
                                rptObjOr.values.periodOfTime !== "") {
                                var msg = (self.criteriaHeaderLabel !== undefined && self.criteriaHeaderLabel !== "") ? " from " + self.criteriaHeaderLabel : "";
                                self.$.messageReportList.showMessage("Please select only one criteria" + msg, "ERROR", self.$$('#MessageContainerReport'));
                                return;
                            }
                            else if (morerptObj !== undefined && morerptObjOr !== undefined && morerptObj.values.FundedFromDate !== undefined && morerptObj.values.FundedFromDate !== "" &&
                                morerptObj.values.FundedToDate !== undefined &&
                                morerptObj.values.FundedToDate !== "" &&
                                morerptObjOr !== undefined &&
                                morerptObjOr.values.periodOfTime !== "") {
                                var msg = (self.morecriteriaHeaderLabel !== undefined && self.morecriteriaHeaderLabel !== "") ? " from " + self.morecriteriaHeaderLabel : "";
                                self.$.messageReportList.showMessage("Please select only one criteria" + msg, "ERROR", self.$$('#MessageContainerReport'));
                                return;
                            }
                            else if (morerptObj !== undefined && morerptObjOr !== undefined && morerptObj.values.LastFromDate !== undefined && morerptObj.values.LastFromDate !== "" &&
                                morerptObj.values.LastToDate !== undefined &&
                                morerptObj.values.LastToDate !== "" &&
                                morerptObjOr !== undefined &&
                                morerptObjOr.values.periodOfTime !== "") {
                                var msg = (self.morecriteriaHeaderLabel !== undefined && self.morecriteriaHeaderLabel !== "") ? " from " + self.morecriteriaHeaderLabel : "";
                                self.$.messageReportList.showMessage("Please select only one criteria" + msg, "ERROR", self.$$('#MessageContainerReport'));
                                return;
                            }
                            else if (rptObj.values.FromDate === "" && rptObj.values.ToDate === "" && (rptObjOr === undefined || rptObjOr.values.periodOfTime == "")) {
                                var msg = (self.criteriaHeaderLabel !== undefined && self.criteriaHeaderLabel !== "") ? " from " + self.criteriaHeaderLabel : "";
                                self.$.messageReportList.showMessage("Please select search criteria" + msg, "ERROR", self.$$('#MessageContainerReport'));
                                return;
                            }
                            else if (rptObj.values.FromDate !== "" && rptObj.values.ToDate === "") {
                                var msg = (self.criteriaHeaderLabel !== undefined && self.criteriaHeaderLabel !== "") ? " from " + self.criteriaHeaderLabel : "";
                                self.$.messageReportList.showMessage("Please select To Date" + msg, "ERROR", self.$$('#MessageContainerReport'));
                                return;
                            }
                            else if (rptObj.values.FromDate === "" && rptObj.values.ToDate !== "") {
                                var msg = (self.criteriaHeaderLabel !== undefined && self.criteriaHeaderLabel !== "") ? " from " + self.criteriaHeaderLabel : "";
                                self.$.messageReportList.showMessage("Please select From Date" + msg, "ERROR", self.$$('#MessageContainerReport'));
                                return;
                            }
                            else if (morerptObj !== undefined && morerptObj.values.FundedFromDate !== "" && morerptObj.values.FundedToDate === "") {
                                var msg = (self.morecriteriaHeaderLabel !== undefined && self.criteriaHeaderLabel !== "") ? " from " + self.morecriteriaHeaderLabel : "";
                                self.$.messageReportList.showMessage("Please select To Date" + msg, "ERROR", self.$$('#MessageContainerReport'));
                                return;
                            }
                            else if (morerptObj !== undefined && morerptObj.values.FundedFromDate === "" && morerptObj.values.FundedToDate !== "") {
                                var msg = (self.morecriteriaHeaderLabel !== undefined && self.criteriaHeaderLabel !== "") ? " from " + self.morecriteriaHeaderLabel : "";
                                self.$.messageReportList.showMessage("Please select From Date" + msg, "ERROR", self.$$('#MessageContainerReport'));
                                return;
                            }
                            else if (morerptObj !== undefined && morerptObj.values.LastFromDate !== "" && morerptObj.values.LastToDate === "") {
                                var msg = (self.morecriteriaHeaderLabel !== undefined && self.morecriteriaHeaderLabel !== "") ? " from " + self.morecriteriaHeaderLabel : "";
                                self.$.messageReportList.showMessage("Please select To Date" + msg, "ERROR", self.$$('#MessageContainerReport'));
                                return;
                            }
                            else if (morerptObj !== undefined && morerptObj.values.LastFromDate === "" && morerptObj.values.LastToDate !== "") {
                                var msg = (self.morecriteriaHeaderLabel !== undefined && self.morecriteriaHeaderLabel !== "") ? " from " + self.morecriteriaHeaderLabel : "";
                                self.$.messageReportList.showMessage("Please select From Date" + msg, "ERROR", self.$$('#MessageContainerReport'));
                                return;
                            }
                            else if ((rptObj.values.FromDate !== "" &&
                                rptObj.values.ToDate !== "") ||
                                (rptObj.values.FromDate !== "" &&
                                    rptObj.values.ToDate !== "" &&
                                    morerptObj.values.FundedFromDate !== "" &&
                                    morerptObj.values.FundedToDate !== "")
                            ) {
                                $('#tblHeader').show();
                                self.set('loadding', false);
                                dataObj = rptObj.values;
                                dataObj1 = (morerptObj !== undefined) ? morerptObj.values : {};
                                if (morerptObjOr !== undefined && morerptObjOr.values.periodOfTime !== "") {
                                    var currentDate = moment.tz(window.config.timezone);
                                    var lastDate = currentDate.clone().subtract(morerptObjOr.values.periodOfTime, 'days');
                                    if (morerptObj.values.LastFromDate !== undefined) {
                                        dataObj1.LastFromDate = moment(lastDate).format("YYYY-MM-DD");
                                        dataObj1.LastToDate = moment(currentDate).format("YYYY-MM-DD");
                                    }
                                    else {
                                        dataObj1.FundedFromDate = moment(lastDate).format("YYYY-MM-DD");
                                        dataObj1.FundedToDate = moment(currentDate).format("YYYY-MM-DD");
                                    }
                                }
                            }
                            if (((rptObjOr !== undefined && rptObjOr.values.periodOfTime !== "") &&
                                (morerptObjOr !== undefined && morerptObjOr.values.periodOfTime !== "")) || ((rptObjOr !== undefined && rptObjOr.values.periodOfTime !== ""))) {
                                self.set('loadding', false);
                                $('#tblHeader').show();
                                var currentDate = moment.tz(window.config.timezone);
                                currentDate = (rptObjOr.controls.periodOfTime.operation !== undefined && rptObjOr.controls.periodOfTime.operation === "add") ? currentDate : currentDate.clone().subtract(1, 'days');
                                if (rptObjOr !== undefined && rptObjOr.values.periodOfTime !== "") {
                                    var lastDate = (rptObjOr.controls.periodOfTime.operation !== undefined) ? currentDate.clone().add(rptObjOr.values.periodOfTime, 'days') : currentDate.clone().subtract(rptObjOr.values.periodOfTime, 'days');
                                    if (rptObjOr.controls.periodOfTime.operation !== undefined && rptObjOr.controls.periodOfTime.operation === "add") {
                                        dataObj.FromDate = moment(currentDate).format("YYYY-MM-DD");
                                        dataObj.ToDate = moment(lastDate).format("YYYY-MM-DD");
                                        dataObj.ProductId = (rptObj.values.ProductId !== undefined && rptObj.values.ProductId !== null && rptObj.values.ProductId !== "") ? rptObj.values.ProductId : "";
                                    }
                                    else {
                                        dataObj.FromDate = moment(lastDate).format("YYYY-MM-DD");
                                        dataObj.ToDate = moment(currentDate).format("YYYY-MM-DD");
                                        dataObj.ProductId = (rptObj.values.ProductId !== undefined && rptObj.values.ProductId !== null && rptObj.values.ProductId !== "") ? rptObj.values.ProductId : "";
                                    }
                                }
                                if (morerptObjOr !== undefined && morerptObjOr.values.periodOfTime !== "") {
                                    var lastDate = (morerptObjOr.controls.periodOfTime.operation !== undefined) ? currentDate.clone().add(morerptObjOr.values.periodOfTime, 'days') : currentDate.clone().subtract(morerptObjOr.values.periodOfTime, 'days');
                                    if (self.reportName === "Borrower Follow-Up Report") {
                                        dataObj1.LastFromDate = moment(lastDate).format("YYYY-MM-DD");
                                        dataObj1.LastToDate = moment(currentDate).format("YYYY-MM-DD");
                                    }
                                    else {
                                        if (rptObjOr.controls.periodOfTime.operation !== undefined && rptObjOr.controls.periodOfTime.operation === "add") {
                                            dataObj1.FundedFromDate = moment(currentDate).format("YYYY-MM-DD");
                                            dataObj1.FundedToDate = moment(lastDate).format("YYYY-MM-DD");
                                        }
                                        else {
                                            dataObj1.FundedFromDate = moment(lastDate).format("YYYY-MM-DD");
                                            dataObj1.FundedToDate = moment(currentDate).format("YYYY-MM-DD");
                                        }
                                    }
                                }
                                else if (morerptObj != undefined && morerptObj.values.FundedFromDate !== "" && morerptObj.values.FundedToDate !== "") {
                                    dataObj1 = morerptObj.values;
                                }
                            }
                            if (morerptObjOr !== undefined && morerptObjOr.values.LastCallDesposition !== undefined && morerptObjOr.values.LastCallDesposition !== "") {
                                dataObj1.LastCallDesposition = morerptObjOr.values.LastCallDesposition;
                            }
                            if (morerptObjOr !== undefined && morerptObjOr.values.LastCallDesposition !== undefined && morerptObjOr.values.LastCallDesposition === "") {
                                dataObj1.LastCallDesposition = null;
                            }
                            self.getReportDataByEndpoint(dataObj, dataObj1);
                        }
                    }
                },
                getReportDataByEndpoint: function (objValues, objValues1) {
                    var self = this;
                    self.set('loadding', false);
                    var url = self.url;
                    var payload = self.payLoad;
                    _.forEach(objValues, function (value, key) {
                        payload[key] = value;
                    });
                    _.forEach(objValues1, function (value, key) {
                        payload[key] = value;
                    });
                    var serviceEndPointURL = window.config.services.paymentProcessor;
                    if (window.config.services[self.serviceEndPoint] !== "" && window.config.services[self.serviceEndPoint] !== undefined) {
                        serviceEndPointURL = window.config.services[self.serviceEndPoint];
                    }
                    self.$.httpReportList.post(url, payload, serviceEndPointURL, false).then(function (data) {
                        if (data) {
                            $('#tableReportContainer').show();
                            self.set('loadding', true);
                            self._getReportDataFromEndpoint(data);
                        }
                    }).fail(function (e) {
                        $('#tableReportContainer').show();
                        self.set('loadding', true);
                        var failMessage = "";
                        if (e.responseJSON.code === 400) {
                            failMessage = e.responseJSON.message;
                        }
                        else {
                            failMessage = "Some error occured, Please try it after some time.";
                        }
                        self.$.messageReportList.showMessage(failMessage, "ERROR", self.$.MessageContainerReport);
                        self._getReportDataFromEndpoint([]);
                    });
                },
                _getReportDataFromEndpoint: function (reportList) {
                    var self = this, table;
                    table = self.tableObj;
                    if (table !== null && table !== undefined) {
                        table.clear();
                        table.destroy(true);
                        $('#tableReportContainer').append($('<table/>').attr('id', 'reportListTable').css('width', '100%').addClass('table table-striped dataTableReport'));
                    }
                    $.fn.dataTable.ext.errMode = 'none';
                    table = self.tableObj = $(self.$$('#reportListTable')).DataTable({
                        dom: "<'row'<'pull-right col-sm-1'B>>" +
                            "<'row'<'col-sm-12'tr>>" +
                            "<'row'<'col-sm-5'i><'col-sm-7'p>>",
                        fnFooterCallback: function (row, data, start, end, display) {
                            var api = this.api();
                            var footer = '<tfoot><tr>';
                            var api = this.api(), data;
                            // Remove the formatting to get integer data for summation
                            var intVal = function (i) {
                                return typeof i === 'string' ?
                                    i.replace(/[\$,]/g, '') * 1 :
                                    typeof i === 'number' ?
                                        i : 0;
                            };
                            api.columns().every(function () {
                                var column = this;
                                if (column.visible()) {
                                    if (self.config.sum != undefined) {
                                        var vv = self.config.sum.indexOf(column.dataSrc().toString());
                                        if (self.config.sum.indexOf(column.dataSrc().toString()) !== -1) {
                                            // Total over all pages
                                            total = api
                                                .column(column.index())
                                                .data()
                                                .reduce(function (a, b) {
                                                    return intVal(a) + intVal(b);
                                                }, 0);

                                            // Total over this page
                                            pageTotal = api
                                                .column(column.index(), { page: 'current' })
                                                .data()
                                                .reduce(function (a, b) {
                                                    return intVal(a) + intVal(b);
                                                }, 0);
                                            if (pageTotal != undefined && pageTotal > 0)
                                                footer += "<th class='h-right-c-right'><span title='Total Amount of all the records on current page'>" + self.formatCurrency(pageTotal) + "</span> <br/><span title='Total Amount of all the records'>(Total of " + api.rows().count() + " records: " + self.formatCurrency(total) + ")</span></th>";
                                            else
                                                footer += "<th></th>";
                                        }
                                        else {
                                            footer += "<th></th>";
                                        }
                                    }
                                    else {
                                        footer += "<th></th>";
                                    }
                                }
                            });
                            footer += "</tr></tfoot>";
                            document.getElementById("reportListTable").deleteTFoot();
                            $(this).append(footer);
                        },
                        data: reportList,
                        columns: self.config.columns,
                        columnDefs: self.config.columnDefs,
                        order: self.config.order,
                        language: {
                            lengthMenu: "show_MENU_ Records",
                            zeroRecords: "No Data found.",
                            info: "Showing _START_ to _END_ of _TOTAL_ Records",
                            infoEmpty: "No Records available",
                            infoFiltered: "(filtered from _MAX_ total Records)"
                        },
                        buttons: [
                            {
                                extend: 'excelHtml5',
                                text: '<i class="fa fa-file-excel-o"></i>',
                                titleAttr: self.exportTitle,
                                title: self.reportName + "" + self.reportNameWithDate,
                                filename: function () {
                                    return self.reportName + " as on " + moment().format("MMDDYYYY");
                                },
                                footer: true,
                                exportOptions: {
                                    columns: self.config.exportColumn,
                                    autoFilter: true,
                                    format: {
                                        body: function (data, row, column, node) {
                                            return ((node.innerText.indexOf('₹ ') !== -1) || (node.innerText.indexOf('$') !== -1)) ?
                                                node.innerText.replace(/₹ /g, '').replace("$", '') :
                                                node.innerText;
                                        }
                                    }
                                }
                            }
                        ],

                    });
                    setTimeout(function () {
                        $('#reportListTable tbody').on('click', 'a', function () {
                            var data = table.row($(this).parents('tr')).data();
                            self.openLoanViewfromEdnpoint(data);
                        });

                        var filterConfig = self.config;
                        if ($('#reportListTable thead tr')[0] != undefined) {
                            $('#reportListTable thead tr')[0].childNodes.forEach(function (obj) {
                                var tooltipObj = _.filter(filterConfig.columns, { title: obj.innerText });
                                if (!_.isUndefined(tooltipObj) && !_.isNull(tooltipObj) && !_.isEmpty(tooltipObj)) {
                                    var tooltip = tooltipObj[0].tooltip;
                                    if (tooltip !== "" && tooltip !== undefined) {
                                        $(obj).attr('title', tooltip);
                                    }
                                }
                            });
                        }
                    }, 700);
                },
                formatDate: function (date) {
                    if (!_.isNull(date) && !_.isUndefined(date) && !_.isEmpty(date)) {
                        return formats.onlyDate(date, window.config.country);
                    }
                    return "NA";
                },
                formatCurrency: function (value) {
                    return formats.money(value, window.config.country, 0);
                },
                _checkIfEmptyObject: function (obj) {
                    return Object.keys(obj).length === 0 && obj.constructor === Object;
                },
                openLoanView: function (item) {
                    var self = this;
                    var urlParams = self.$.urlReportList.getParams();
                    window.location.hash = "/loan-details/entity:loan/filter:" + urlParams.filter + "/loanId:" + item.LoanNumber + "/product:" + item.LoanProductId + "/workflow:" + item.StatusWorkFlowId;
                },
                openLoanViewfromEdnpoint: function (item) {
                    var self = this;
                    var urlParams = self.$.urlReportList.getParams();
                    window.location.hash = "/loan-details/entity:loan/filter:" + urlParams.filter + "/loanId:" + item.loanNumber + "/product:" + item.loanProductId + "/workflow:" + item.statusWorkFlowId;
                },
                checkRecords: function (totalCount) {
                    var self = this;
                    return (self.totalCount > 0) ? true : false;
                },
                _setData: function () {
                    var self = this;
                    var payload = {};
                    var rptObj = self.reportObj;
                    payload = self.$.configReportList.getConfigurationBasedOnKey("ReportSavedFilter");
                    var result = [];
                    if (rptObj.values.fromDateRpt != "" && rptObj.values.toDateRpt != "") {
                        var tempObj = {};
                        tempObj['LoanOnboardedDate-Time-DateTime'] = { '_gte': moment.tz(rptObj.values.fromDateRpt, window.config.timezone), '_lte': moment.tz(rptObj.values.toDateRpt, window.config.timezone) };
                        result.push(tempObj);
                    }
                    if (rptObj.values.periodOfTime != "") {
                        var tempObj = {};
                        var currentDate = moment.tz(window.config.timezone);
                        var lastDate = currentDate.clone().subtract(rptObj.values.periodOfTime, 'days');
                        tempObj['LoanOnboardedDate-Time-DateTime'] = { '_gte': lastDate.toJSON(), '_lte': currentDate.toJSON() };
                        result.push(tempObj);
                    }
                    if (rptObj.values.paidOffAmount != "") {
                        var tempObj = {};
                        var splt = rptObj.values.paidOffAmount.split("-");
                        tempObj['PaidOffAmountPercentage'] = { '_gte': parseFloat(splt[0]), '_lte': parseFloat(splt[1]) };
                        result.push(tempObj);
                    }
                    if (rptObj.values.outstandingAmount != "") {
                        var tempObj = {};
                        var splt = rptObj.values.outstandingAmount.split("-");
                        tempObj['TotalOutstandingPercentage'] = { '_gte': parseFloat(splt[0]), '_lte': parseFloat(splt[1]) };
                        result.push(tempObj);
                    }
                    payload.searchFilterView = result;
                    self.$.httpReportList.post("/reportsfilter/SaveSearch", payload, window.config.services.savedFilters).then(function (data) {
                        self.formatData();
                    }).fail(function (e) {
                        console.log(e);
                    });
                },
                formatData: function () {
                    var self = this;
                    LoanReportFormat = self.$.configReportList.getConfigurationBasedOnKey("LoanReportFormat");
                    self.$.httpReportList.get("/reportsfilter/ExportData/ReportsData", window.config.services.savedFilters).then(function (csv) {
                        var lines = csv.split("\n");
                        var result = [];
                        var headers = lines[0].replace(/"/g, '').split(",");
                        for (var i = 1; i < lines.length; i++) {
                            var obj = {};
                            var currentline = lines[i].replace(/"/g, '').split(",");
                            for (var j = 0; j < headers.length; j++) {
                                if (headers[j] !== "Product Portfolio Type") {
                                    if (LoanReportFormat.date.indexOf(headers[j]) !== -1) {
                                        obj[headers[j]] = self.formatDate(currentline[j]);
                                    }
                                    else if (LoanReportFormat.currency.indexOf(headers[j]) !== -1) {
                                        obj[headers[j]] = self.formatCurrency(currentline[j]).toString().replace(/,/g, '');
                                    }
                                    else if (LoanReportFormat.mcaPercent.indexOf(headers[j]) !== -1) {
                                        obj[headers[j]] = self.mcaPercent(currentline[headers.indexOf("Product Portfolio Type")], currentline[j]);
                                    }
                                    else if (LoanReportFormat.mcaCurrency.indexOf(headers[j]) !== -1) {
                                        obj[headers[j]] = self.mcaCurrency(currentline[headers.indexOf("Product Portfolio Type")], currentline[j]);
                                    }
                                    else if (LoanReportFormat.bool.indexOf(headers[j]) !== -1) {
                                        obj[headers[j]] = self.boolValue(currentline[j]);
                                    }
                                    else {
                                        obj[headers[j]] = currentline[j];
                                    }
                                }
                            }
                            result.push(obj);
                        }
                        var title = self.reportName + " as on " + moment().format(COUNTRY[window.config.country].DATE_FORMAT.DATE);
                        self.downloadExcel(result, title, true);
                    }).fail(function (e) {
                        console.log(e);
                    });
                },
                downloadExcel: function (JSONData, ReportTitle, ShowLabel) {
                    var self = this;
                    var arrData = typeof JSONData != 'object' ? JSON.parse(JSONData) : JSONData;
                    var CSV = '';
                    CSV += ReportTitle + '\r\n\n';
                    if (ShowLabel) {
                        var row = "";
                        for (var index in arrData[0]) {
                            row += index + ',';
                        }
                        row = row.slice(0, -1);
                        CSV += row + '\r\n';
                    }
                    for (var i = 0; i < arrData.length; i++) {
                        var row = "";
                        for (var index in arrData[i]) {
                            row += arrData[i][index] + ',';
                        }
                        row.slice(0, row.length - 1);
                        CSV += row + '\r\n';
                    }

                    if (CSV == '') {
                        return;
                    }
                    var fileName = "";
                    fileName += ReportTitle.replace(/ /g, "_");
                    var uri = 'data:text/csv;charset=utf-8,' + escape(CSV);
                    var link = document.createElement("a");
                    link.href = uri;
                    link.download = self.reportName + " as on " + moment().format("MMDDYYYY") + ".csv";
                    link.click();
                },
                mcaPercent: function (ProductPortfolioType, data) {
                    var self = this;
                    if (ProductPortfolioType === 'MCA' || ProductPortfolioType === 'MCALOC') {
                        return parseFloat(data).toFixed(2) + ' %';
                    }
                    else {
                        return 'NA'
                    }
                },
                mcaCurrency: function (ProductPortfolioType, data) {
                    var self = this;
                    if (ProductPortfolioType === 'MCA' || ProductPortfolioType === 'MCALOC') {
                        return self.formatCurrency(data).toString().replace(/,/g, '');
                    }
                    else {
                        return 'NA'
                    }
                },
                boolValue: function (data) {
                    var self = this;
                    if (data === true) {
                        return 'Yes';
                    }
                    else {
                        return 'No'
                    }
                },
                paymentStatus: function (data) {
                    var self = this;
                    var obj = _.find(self.paymentStatusLookup, ['key', data]);
                    if (!_.isUndefined(obj)) {
                        return obj.value || "NA";
                    }
                    return "NA";
                },
                checkMoreParameter: function (obj) {
                    return (obj !== undefined && obj !== null && obj !== "" && !_.isEmpty(obj)) ? true : false;
                },
                showMoreFilter: function (obj) {
                    var self = this;
                    if (obj.target.text === "More Filters") {
                        obj.target.text = "Less Filters";
                        $("#moreCriteriaDiv").show();
                    }
                    else {
                        obj.target.text = "More Filters";
                        $("#moreCriteriaDiv").hide();
                    }
                },
                getCallDisposition: function (data) {
                    var self = this;
                    var obj = _.find(self.callDesposition, ['key', data]);
                    if (!_.isUndefined(obj)) {
                        return obj.value || "NA";
                    }
                    return "NA";
                }
            });
        });
    </script>
</dom-module>