<html-import html-href="loaders/sk-wave.html"></html-import>
<dom-module id="amortize-payment">
    <template>
        <style>
            .prefixSign {
                font: normal normal normal 14px/1 FontAwesome !important;
                font-size: inherit !important;
            }

            .custom-input {
                --paper-input-container-input: {
                    font-size: 11px;
                }
                --paper-input-container-label: {
                    font-size: 12px;
                }
                --paper-input-container: {
                    padding: 0px 0 !important;
                }
            }

            .modal-dialogAmortize {
                margin: 10% auto;
                width: 750px !important;
            }

            .amortizeheader {
                font-size: 12px;
                font-weight: 700;
                color: white;
                background-color: #03466B;
            }

            .set-vertical-height {
                height: 400px;
                overflow-y: auto;
                overflow-x: hidden;
            }

            th.h-center-c-center {
                text-align: center !important;
            }

            td.h-center-c-center {
                text-align: center !important;
            }

            th.h-right-c-right {
                text-align: right !important;
            }

            td.h-right-c-right {
                text-align: right !important;
            }

            .blackBorder {
                border-top: 2px solid #000 !important;
            }
        </style>
        <custom-modal id="amortizeModal" class="modal-drop" on-modal-hidden="resetModalamortization">
            <div>
                <div class="modal-dialogAmortize">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close closeAmortization" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Recast Loan</h4>
                        </div>
                        <div class="modal-body">
                            <div id="amortizationMessageContainer"></div>
                            <div class="row set-vertical-height">
                                <div class="col-md-12">
                                    <form is="iron-form" class="form-horizontal" name="submitloanModForm">
                                        <div class="row">
                                            <div class="panel-left col-md-3">
                                                <paper-input class="custom-input" readonly required type="text" value="{{loanAmount}}" name="rcLoanAmount" id="rcLoanAmount"
                                                    label="Total Principal Outstanding" pattern="^[0-9]+(.[0-9]{0,2})?$">
                                                    <div prefix class$="{{getCurrencySymbol()}}"></div>
                                                </paper-input>
                                            </div>
                                            <div class="panel-left col-md-3">
                                                <paper-input class="custom-input" readonly required type="text" value="{{term}}" name="rcTerm" id="rcTerm" label="Terms"
                                                    pattern="^[0-9]{0,2})?$"></paper-input>
                                            </div>
                                            <div class="panel-left col-md-3">
                                                <paper-input class="custom-input" required type="text" value="{{remainingTerm}}" name="rcRemTerm" id="rcRemTerm" label="Remaining Terms"
                                                    pattern="^[0-9]{0,2})?$"></paper-input>
                                            </div>
                                            <div class="panel-left col-md-3">
                                                <paper-input class="custom-input" required type="text" readonly value="{{paymentFrequency}}" name="rcPaymentFrequency" id="rcPaymentFrequency"
                                                    label="Payment Frequency"></paper-input>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="panel-left col-md-3">
                                                <paper-input class="custom-input" readonly required type="text" value="{{annualRate}}" name="rcAnnualRate" id="rcAnnualRate"
                                                    label="Annual Rate" pattern="^[0-9]+(.[0-9]{0,2})?$"></paper-input>
                                            </div>
                                        </div>
                                        <br>
                                        <div id="divRecastLoan">
                                            <paper-button class="btn btn-primary activity-action-btn" id="submitSchedule" on-click="_submitSchedule" raised>Recast Loan</paper-button>
                                        </div>
                                    </form>
                                </div>
                                <spinkit-wave hidden$="{{!loadding}}"></spinkit-wave>
                                <div class="col-md-12">
                                    <div class="row" id="divcastSchedule" style="display:none;">
                                        <br>
                                        <table id="lmSchedule" class="table">
                                            <tr>
                                                <th colspan="4" class="amortizeheader">Recast Loan Schedule</th>
                                            </tr>
                                            <tr>
                                                <td colspan="6">
                                                    <table id="queueCastSchedule" class="table table-striped" width="100%" cellspacing="0"></table>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </custom-modal>
        <url-parser id="urlloand"></url-parser>
        <http-request id="httploand"></http-request>
        <lookup-service id="lookuploand"></lookup-service>
        <utility-service id="utilityloand"></utility-service>
        <message-component id="messageloand"></message-component>
        <alloy-config id="configloanmod"></alloy-config>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "amortize-payment",
                properties: {
                    loadding: {
                        type: Boolean,
                        notify: true,
                        value: false,
                        reflectToAttribute: true
                    },
                    tableObj: {
                        type: Object,
                        notify: false
                    },
                    loanAmount: {
                        type: String,
                        notify: true
                    },
                    term: {
                        type: String,
                        notify: true
                    },
                    remainingTerm: {
                        type: String,
                        notify: true
                    },
                    annualRate: {
                        type: String,
                        notify: true
                    },
                    paymentFrequency: {
                        type: String,
                        notify: true
                    },
                    scheduleStartDate: {
                        type: Date,
                        notify: true
                    },
                    applicationNumber: {
                        type: String,
                        notify: true,
                        reflectToAttribute: true
                    },
                    loanData: {
                        type: Object,
                        notify: true,
                        reflectToAttribute: true
                    },
                    currentEconomicsData: {
                        type: Object,
                        notify: true,
                        reflectToAttribute: true,
                        observer: "setValue"
                    },
                    currentSchedule: {
                        type: Object,
                        notify: true,
                        observer: "setTermData"
                    },
                    modifiedSchedule: {
                        type: Array,
                        notify: true,
                        reflectToAttribute: true,
                        observer: "setremTermData"
                    },
                    adhocPayment: {
                        type: String,
                        notify: true,
                        reflectToAttribute: true,
                        observer: "_openamortizeModal"
                    },
                    currentEntityName: {
                        type: String,
                        notify: true,
                        value: 'loan'
                    },
                    i18n: {
                        type: Object,
                        notify: true,
                        value: {
                            monthNames: moment.months(),
                            weekdays: moment.weekdays(),
                            weekdaysShort: moment.weekdaysShort(),
                            firstDayOfWeek: moment.localeData().firstDayOfWeek(),
                            week: 'Week',
                            calendar: 'Calendar',
                            clear: 'Clear',
                            today: 'Today',
                            cancel: 'Cancel',
                            formatDate: function (d) {
                                return moment(d).format(COUNTRY[window.config.country].DATE_FORMAT.DATE);
                            },
                            parseDate: function (s) {
                                return moment(s, COUNTRY[window.config.country].DATE_FORMAT.DATE).toDate();
                            },
                            formatTitle: function (monthName, fullYear) {
                                return monthName + ' ' + fullYear;
                            }
                        }
                    }

                },
                _openamortizeModal: function (obj) {
                    var self = this;
                    if (obj === "Change") {
                        self.$$('#amortizeModal').showModal();
                        self.setValue();
                        self.setTermData();
                        self.setremTermData();
                    }
                },
                init: function () {
                    var self = this;
                    var params = self.$.urlloand.getParams();
                    if (params.hasOwnProperty('entity')) {
                        self.set('currentEntityName', params.entity);
                    }
                    self.set('applicationNumber', params.loanId);

                },
                setValue: function () {
                    var self = this;
                    if (self.currentEconomicsData) {
                        var finalAmount = parseFloat(self.currentEconomicsData.pbot.totalPrincipalOutStanding) - parseFloat(self.currentEconomicsData.pbot.totalInterestOutstanding);
                        self.set("loanAmount", parseFloat(finalAmount).toFixed(2));
                        self.set("scheduleStartDate", self.currentEconomicsData.pbot.asOfDatePBOT);
                    }
                },
                setTermData: function () {
                    var self = this;
                    if (self.currentSchedule) {
                        self.set("term", self.currentSchedule.tenure);
                        self.set("annualRate", parseFloat(self.currentSchedule.annualRate).toFixed(2));
                        self.set("paymentFrequency", self.currentSchedule.paymentFrequency);
                    }
                },
                onlyDate: function (date) {
                    if (!_.isNull(date) && !_.isUndefined(date) && !_.isEmpty(date)) {
                        return formats.onlyDate(date, window.config.country);
                    }
                    return "NA";
                },
                setremTermData: function () {
                    var self = this;
                    if (self.modifiedSchedule) {
                        var installmentnumber = 0;
                        if (self.currentEconomicsData != undefined) {
                            var processingDate = self.currentEconomicsData.pbot.asOfDatePBOT.split("T");
                            var dateObj = moment.tz(processingDate[0], window.config.timezone);
                            var currentDate = dateObj.clone().add(1, 'days').format("YYYY-MM-DD");
                            var pdate = new Date(currentDate);
                            self.modifiedSchedule.forEach(function (item) {
                                var scheduleDate = self.onlyDate(item.scheduleDate);
                                var sdate = new Date(scheduleDate);
                                if (sdate != undefined && pdate != undefined && (sdate <= pdate)) {
                                    installmentnumber = item.installmentnumber;
                                }
                            });
                        }
                        self.set("remainingTerm", parseInt(self.term) - parseInt(installmentnumber));
                    }
                },
                resetModalamortization: function () {
                    var self = this;
                    self.set("adhocPayment", "");
                    self.set("loanAmount", "");
                    self.set("term", "");
                    //self.set("remainingTerm", "");
                    self.set("annualRate", "");
                    self.set("paymentFrequency", "");
                },
                formatDate: function (date) {
                    var dateValList = date.split("T");
                    var dateObj = moment.tz(dateValList[0], window.config.timezone);
                    return dateObj.clone().add(1, 'days').format("YYYY-MM-DD");
                },
                _submitSchedule: function (e) {
                    e.preventDefault();
                    var self = this;
                    var form = Polymer.dom(e).localTarget.parentElement.parentElement;
                    if (form.validate()) {
                        var url = "/" + self.applicationNumber + "/adhoc";
                        var payload = {};
                        $("#divRecastLoan").hide();
                        payload.LoanAmount = self.loanAmount;
                        payload.Term = self.remainingTerm;
                        payload.AnnualRate = self.annualRate;
                        payload.PaymentFrequency = self.paymentFrequency;
                        payload.ScheduleStartDate = self.formatDate(self.scheduleStartDate);
                        self.set('loadding', true);
                        self.$.httploand.post(url, payload, window.config.services.lmsService).then(function (data) {
                            if (data) {
                                $("#divcastSchedule").show();
                                self.setTableData(data);
                                self.$.messageloand.showMessage("Loan repayment schedule has been recasted successfully.", "SUCCESS", self.$$('#amortizationMessageContainer'));
                                self.raisecastRefreshEvent(e);
                                self.set('loadding', false);
                            }
                        }).fail(function (e) {
                            $("#divRecastLoan").show();
                            self.set('loadding', false);
                            self.$.messageloand.showMessage("Some error occured during recast schedule", "ERROR", self.$$('#amortizationMessageContainer'));
                        });
                    }
                },
                raisecastRefreshEvent: function (event) {
                    var self = this;
                    this.$.utilityloand.raiseEvent(this.fireEvent, {
                        ActionName: 'adhocPayment',
                        EventData: event,
                        CompnentName: 'adhoc-payment'
                    });
                },
                setTableData: function (objData) {
                    var self = this, table;
                    var data = self.$.configloanmod.getConfigurationBasedOnKey("filters");
                    var CastSchedule = _.cloneDeep(data["CastSchedule"]);
                    var columnLength = CastSchedule.columns.length;
                    for (var i = 0; i < columnLength; i++) {
                        if (CastSchedule.columns[i].render != undefined) {
                            var render = CastSchedule.columns[i].render;
                            if (CastSchedule.columns[i].isFunction) {
                                CastSchedule.columns[i].render = eval("(" + render + ")");
                            }
                            else {
                                CastSchedule.columns[i].render = eval(render);
                            }
                        }
                    }
                    if (CastSchedule !== undefined && CastSchedule !== "") {
                        table = self.tableObj;
                        if (table !== null && table !== undefined) {
                            table.clear();
                            table.destroy();
                        }
                        table = self.tableObj = $(self.$$('#queueCastSchedule')).DataTable({
                            dom: "<'row'<'col-sm-12'tr>>" +
                                "<'row'<'col-sm-5'i><'col-sm-7'p>>",
                            data: objData,
                            columns: CastSchedule.columns,
                            columnDefs: CastSchedule.columnDefs,
                            order: CastSchedule.order,
                            language: {
                                lengthMenu: "show_MENU_ Schedule",
                                zeroRecords: "No Data found.",
                                info: "Showing _START_ to _END_ of _TOTAL_ Schedule",
                                infoEmpty: "No Schedule available",
                                infoFiltered: "(filtered from _MAX_ total Schedule)"
                            }
                        });
                    }
                },
                formatCurrency: function (data) {
                    return formats.money(data, window.config.country, 0);
                },
                getCurrencySymbol: function () {
                    var self = this;
                    return formats.currencySymbol(window.config.country) + " prefixSign";
                }
            });
        });
    </script>
</dom-module>