<dom-module id="img-ext">
    <template>
    </template>
    <script>
        Polymer({
            is: "img-ext",
            extends: "img",
            created: function() {
                var a = document.createElement("a");
                a.href = this.src;
                this.src = window.location.origin + a.pathname;
            }
        });
    </script>
</dom-module>