<link rel="import" href="../behaviors/behaviors.html">
</link>
<link rel="import" href="../services/config.html">
</link>
<link rel="import" href="../services/tenant.html">
</link>
<link rel="import" href="micro-app.html">
</link>
<link rel="import" href="img.html">
</link>
<link rel="import" href="html-import.html">
</link>
<link rel="import" href="../services/session-manager.html">
</link>
<link rel="import" href="../services/url-parser.html">
</link>
<link rel="import" href="../services/format.html">
</link>
<link rel="import" href="../services/lookup-service.html">
</link>
<link rel="import" href="../services/utility-service.html">
</link>
<link rel="import" href="../services/identity-service.html">
</link>
<link rel="import" href="../dynamic-form/dynamic-form.html">
</link>
<link rel="import" href="../custom-component/help-text.html">
</link>
<link rel="import" href="../custom-component/custom-modal.html">
</link>
<link rel="import" href="../custom-component/image-circle.html">
</link>
<link rel="import" href="../services/authorization-service.html">
</link>
<link rel="import" href="../custom-component/checkbox-group.html">
</link>
<link rel="import" href="../custom-component/session-timeout.html">
</link>
<link rel="import" href="../custom-component/breadcrumb-links.html">
</link>
<link rel="import" href="../custom-component/message-component.html">
</link>
<dom-module id="platform-shell">
    <template>
        <style>
            #host {
                height: 100%;
            }
        </style>
        <div class="overlay"></div>
        <div id="paceContainer">
            <div class="loading-spinner sk-wave">
                <div class="sk-rect sk-rect1"></div>
                <div class="sk-rect sk-rect2"></div>
                <div class="sk-rect sk-rect3"></div>
                <div class="sk-rect sk-rect4"></div>
                <div class="sk-rect sk-rect5"></div>
            </div>
        </div>
        <div id="host"></div>
        <session-manager id="sessionps" security-service-url="{{ configuration.services.security  }}"></session-manager>
        <alloy-config id="coreConfig" alloy-configuration="{{configuration}}"></alloy-config>
        <alloy-tenant id="tenant" alloy-tenant="{{tenant}}"></alloy-tenant>
    </template>
    <script>
        Polymer({
            is: "platform-shell",
            observers: [
                "importComponents(configuration, appId, tenant)"
            ],
            listeners: {
                "is-not-authorized": "handleIsNotAuthorized"
            },
            properties: {
                appId: {
                    type: Boolean,
                    value: ""
                },
                AUTH_HEARTBEAT_INTERVAL: {
                    type: Number,
                    value: 60 * 1000
                }
            },
            ready: function () {
                var self = this;
                if (window.jQuery) {
                    self.init()();
                } else {
                    window.addEventListener("WebComponentsReady", self.init());
                }
            },
            init: function () {
                var self = this;
                self.authorization = null;
                self.configuration = null;
                return function () {
                    self.setAppId();
                    window.addEventListener("hashchange", function () {
                        self.setAppId();
                    });
                }
            },
            setAppId: function () {
                var splitUrl = window.location.hash.slice(2).split('/');
                var urlAppId = splitUrl[0];
                if (this.appId !== urlAppId) {
                    this.set("appId", urlAppId);
                }
            },
            initAuthHeartBeat: function () {
                var self = this;
                var confObj = self.configuration;
                if (this.authHeartBeat) return;
                if (confObj && confObj.securityAndAuthentication && confObj.securityAndAuthentication.heartBeatIntervalInMilliSeconds) {
                    self.set('AUTH_HEARTBEAT_INTERVAL', confObj.securityAndAuthentication.heartBeatIntervalInMilliSeconds);
                } else {
                    console.log("securityAndAuthentication.heartBeatIntervalInMilliSeconds is not configued");
                }
                self.authHeartBeat = setInterval(function () {
                    self.$.sessionps.isAuthorized().fail(self.handleIsNotAuthorized.bind(self));
                }, this.AUTH_HEARTBEAT_INTERVAL);
            },
            importComponents: function (configuration, appId, tenant) {
                if (configuration && tenant && !appId) {
                    window.location.hash = this.configuration.public.url;
                }

                if (!configuration || !appId || !tenant) { return }

                var self = this;
                var currentApp = configuration.apps[appId];
                var loadLayout = function (authorizationStatus) {
                    // Choose either the selected app layout or a default layout
                    var layout = currentApp && currentApp.layout || configuration[authorizationStatus].layout;
                    var url = "/components/" + tenant.name + "/" + layout;
                    self.importHref(url, self.loadLayoutSuccess.bind(self), self.loadLayoutError.bind(self));
                }

                // If the app is open to unauthenticated users, stop checking for authentication and use public layout
                if (currentApp.public) {
                    self.stopAuthHeartBeat();
                    loadLayout("public");
                    return;
                }

                // Check authorization from authorization service
                // If authentication is required, begin heartbeat and use private layout
                self.$.sessionps.isAuthorized().done(function () {
                    self.initAuthHeartBeat();
                    loadLayout("private");
                }).fail(self.handleIsNotAuthorized.bind(self));
            },
            layoutLoaded: function (e) {
                var id = Polymer.dom(e.target.import.body).querySelector("dom-module").getAttribute("id");
                return id === this.loadedLayout;
            },
            loadLayoutSuccess: function (e) {
                if (this.layoutLoaded(e)) { return }
                this.attachComponent(e);
            },
            loadLayoutError: function (error) {
                console.warn("Unable to load layout.", error)
            },
            // get attrs
            attachComponent: function (e, target) {
                target = target || Polymer.dom(this.$.host);
                var childNodes = target.childNodes;
                for (var i = 0; i < childNodes.length; i++) {
                    target.removeChild(childNodes[i]);
                }
                var id = Polymer.dom(e.target.import.body).querySelector("dom-module").getAttribute("id");
                var element = document.createElement(id);
                element.config = this.configuration;
                target.appendChild(element);
                target.flush();
                this.loadedLayout = id;
            },
            handleIsNotAuthorized: function () {
                this.stopAuthHeartBeat();
                this.$.sessionps.clearLocalStorage();
                this.redirectToPublicLayout();
            },
            redirectToPublicLayout: function () {
                window.location.hash = this.configuration.public.url;
                window.location.reload();
            },
            stopAuthHeartBeat: function () {
                if (!this.authHeartBeat) return;
                clearInterval(this.authHeartBeat);
            }
        });
    </script>
</dom-module>