<dom-module id="create-user">
    <template>
        <style>
            .no-role-selected {
                color: #ff0000;
            }

            .custom-input {
                --paper-input-container-input: {
                    font-size: 11px;
                }
                --paper-input-container-label: {
                    font-size: 12px;
                }
            }

            .setHeight {
                padding: 5px 5px 5px 5px;
            }
        </style>
        <div class="row">
            <div class="col-md-12">
                <breadcrumb-links show-content="true"></breadcrumb-links>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12" style="min-height: 240px;">
                    <div id="MessageContainer"></div>
                    <form is="iron-form" class="form-horizontal" name="UserDetail">
                        <dynamic-form form-configuration={{userDetailObj}} values="{{userDetailObj.values}}"></dynamic-form>
                        <br />
                        <div class="row">
                            <div class="col-md-12">
                                <iron-label class="no-role-selected" for="papercheckboxGroup" hidden$="{{!noRoleSelected}}">
                                    Please select at least one Role.
                                </iron-label>
                                <checkbox-group id="papercheckboxGroup" checkboxes="{{ChildLevelRoles}}" selected-items="{{SelectedChildRoles}}"></checkbox-group>
                                <br />
                            </div>
                        </div>
                        <br />
                        <paper-button class="btn btn-primary activity-action-btn" on-click="_verifyForm" raised>Create User</paper-button>
                        <paper-button id="formResetButton" class="btn btn-primary activity-action-btn" style="display: none;" on-click="_formReset"
                            raised>Reset</paper-button>
                        <br />
                        <div class="setHeight"></div>
                    </form>
                </div>
            </div>
        </div>
        <http-request id="httpcu"></http-request>
        <alloy-config id="configcu"></alloy-config>
        <message-component id="messagecu"></message-component>
    </template>
    <script>
        Polymer({
            is: "create-user",
            properties: {
                noRoleSelected: {
                    type: Boolean,
                    notify: true,
                    value: false
                },
                ChildLevelRoles: {
                    type: Array,
                    notify: true,
                    value: []
                },
                SelectedChildRoles: {
                    type: Array,
                    notify: true,
                    value: []
                },
                userDetailObj: {
                    type: Object,
                    notify: true,
                    value: {
                        controls: {
                            name: {
                                label: "Full Name",
                                type: "textbox",
                                class: "twoColumn",
                                validations: {
                                    required: true,
                                    readonly: false,
                                    pattern: 'ALPHABET',
                                    charcounter: false,
                                    autovalidate: true,
                                    minLen: 2,
                                    maxLen: 50
                                }
                            },
                            username: {
                                label: "Username",
                                type: "textbox",
                                class: "twoColumn",
                                validations: {
                                    required: true,
                                    readonly: false,
                                    charcounter: false,
                                    autovalidate: true,
                                    minLen: 2,
                                    maxLen: 50
                                }
                            },
                            password: {
                                label: "Password",
                                type: "password",
                                class: "twoColumn",
                                validations: {
                                    required: true,
                                    readonly: false,
                                    charcounter: false,
                                    autovalidate: true,
                                    minLen: 6,
                                    maxLen: 50
                                }
                            },
                            email: {
                                label: "Email",
                                type: "email",
                                class: "twoColumn",
                                validations: {
                                    required: true,
                                    readonly: false,
                                    charcounter: false,
                                    autovalidate: true,
                                    pattern: 'EMAIL',
                                    minLen: 1,
                                    maxLen: 50
                                }
                            }
                        },
                        values: {
                            username: "",
                            password: "",
                            name: "",
                            email: ""
                        }
                    }
                }
            },
            _formReset: function (event) {
                var form = Polymer.dom(event).localTarget.parentElement;
                form.reset();
                this.set('SelectedChildRoles', []);
            },
            _getAllPortalRoles: function () {
                var self = this;
                var roleName = self.$.configcu.getConfigurationBasedOnKey("portalRole");
                if (roleName !== "") {
                    var configUrl = "/roles/" + roleName + "/children";
                    self.$.httpcu.get(configUrl, "").then(function (data) {
                        self.set('ChildLevelRoles', data);
                        self.SelectedChildRoles = [];
                    }).fail(function (e) {
                        console.error("_getAllChildRoles error is ", e);
                    });
                }
            },
            _verifyForm: function (event) {
                var self = this;
                var userDetailObj = self.userDetailObj;
                var form = Polymer.dom(event).localTarget.parentElement;
                var checkboxGrp = document.querySelector('checkbox-group');
                self.noRoleSelected = false;
                if (form.validate()) {
                    if (!_.isEmpty(self.SelectedChildRoles)) {
                        var payload = userDetailObj.values;
                        payload.roles = self.SelectedChildRoles;
                        self.$.httpcu.put("/create-user/", payload, "").then(function (result) {
                            $('#formResetButton').click();
                            self.$.messagecu.showMessage("User is successfully created.", "SUCCESS", self.$.MessageContainer);
                        }).fail(function (e) {
                            console.error("submit user detail error is ", e);
                            var failMessage = "";
                            if (e.responseJSON.code === 400) {
                                failMessage = e.responseJSON.message;
                            }
                            else {
                                failMessage = "Some error occured, Please try it after some time.";
                            }
                            self.$.messagecu.showMessage(failMessage, "ERROR", self.$.MessageContainer);
                        });
                    }
                    else {
                        self.noRoleSelected = true;
                    }
                }
            },
            ready: function () {
                this._getAllPortalRoles();
                $('#formResetButton').click();
            }
        })
    </script>
</dom-module>