<dom-module id="amount-details">
    <template>
        <style>
            .sendEmailToast {
                max-width: 536px !important;
                position: static !important;
            }

            #closebtn {
                margin-bottom: 5px !important;
            }

            .padding {
                padding-top: 8px;
            }

            paper-input {
                --paper-input-container-disabled: {
                    opacity: 0.66;
                }
            }

            .modal-dialog {
                width: 2000px;
                margin: 30px auto;
            }

            .modal-body {
                padding: 20px 60px 30px 60px;
            }

            .dropdown-width {
                width: 100%;
            }

            .alignment {
                float: right;
            }
        </style>
        <form is="iron-form" class="form-horizontal" name="cashflowForm" id="ApplicationForm">
            <dynamic-form form-configuration={{amountDetailObj}} values="{{amountDetailObj.values}}"></dynamic-form>
            <br/>
        </form>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "amount-details",
                properties: {
                    amountDetailObj: {
                        type: Object,
                        notify: true,
                        value: {
                            controls: {},
                            values: {}
                        }
                    },
                    applicationDetails: {
                        type: Object,
                        notify: true
                    }
                }
            });
        });
    </script>
</dom-module>