<html-import html-href="personal-details/basic-details.html"></html-import>
<html-import html-href="personal-details/amount-details.html"></html-import>
<html-import html-href="personal-details/business-details.html"></html-import>
<html-import html-href="personal-details/applicant-details.html"></html-import>
<dom-module id="application-details">
    <template>
        <style>
            .nav li.active>a {
                color: #555555;
            }

            .inmodal .modal-title {
                font-size: 18px !important;
            }

            .inmodal .modal-body {
                background: #fff !important;
            }

            .top-tabs .tab-pane {
                padding: 10px 15px 0;
            }
        </style>
        <div class="modal inmodal" id="editApplicationModal" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content animated bounceInRight">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">×</span>
                            <span class="sr-only">Close</span>
                        </button>
                        <h6 class="modal-title">Edit Application
                            <i aria-hidden="true" class="modal-title fa fa-edit"></i>
                        </h6>
                    </div>
                    <div class="modal-body">
                        <ul class="nav nav-tabs" id="editApplicationTab">
                            <li class="active">
                                <a data-target="#bscDtl" data-toggle="tab">
                                    <i aria-hidden="true"></i>BASIC
                                </a>
                            </li>
                            <li>
                                <a data-target="#bisDtl" data-toggle="tab">
                                    <i aria-hidden="true"></i>BUSINESS
                                </a>
                            </li>
                            <li>
                                <a data-target="#appDtl" data-toggle="tab">
                                    <i aria-hidden="true"></i>OWNERSHIP
                                </a>
                            </li>
                            <li>
                                <a data-target="#amtDtl" data-toggle="tab">
                                    <i aria-hidden="true"></i>FINISH
                                </a>
                            </li>
                        </ul>
                        <form is="iron-form" class="form-horizontal" name="cashflowForm" id="ApplicationForm">
                            <div class="tab-content top-tabs">
                                <div class="tab-pane active" id="bscDtl">
                                    <template is="dom-if" if="{{showContentInn}}">
                                        <basic-details id="basicdetails" application-number="{{applicationNumber}}" basic-Detail-Obj="{{basicDetailObj}}" application-Details="{{applicationDetails}}"></basic-details>
                                    </template>
                                </div>
                                <div class="tab-pane" id="bisDtl">
                                    <template is="dom-if" if="{{showContentInn}}">
                                        <business-details id="businessdetails" application-number="{{applicationNumber}}" business-Detail-Obj={{businessDetailObj}}
                                            application-Details="{{applicationDetails}}"></business-details>
                                    </template>
                                </div>
                                <div class="tab-pane" id="appDtl">
                                    <template is="dom-if" if="{{showContentInn}}">
                                        <applicant-details id="applicantdetails" application-number="{{applicationNumber}}" applicant-detail-array="{{applicantDetailArray}}"
                                            ownershipfields="{{ownershipfields}}" application-Details="{{applicationDetails}}"
                                            owner-length="{{ownerLength}}" max-owner={{maxOwner}}></applicant-details>
                                    </template>
                                </div>
                                <div class="tab-pane" id="amtDtl">
                                    <template is="dom-if" if="{{showContentInn}}">
                                        <amount-details id="amountsdetails" application-number="{{applicationNumber}}" amount-Detail-Obj={{amountDetailObj}} application-Details="{{applicationDetails}}"></amount-details>
                                    </template>
                                </div>
                            </div>
                            <div id="MessageContainer"></div>
                            <div class="form-footer">
                                <button type="button" class="btn btn-primary" on-click="submitApplication">Save changes</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <http-request id="http"></http-request>
        <alloy-config id="config"></alloy-config>
        <lookup-service id="lookup"></lookup-service>
        <utility-service id="utility"></utility-service>
        <message-component id="message"></message-component>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "application-details",
                properties: {
                    applicationDetails: {
                        type: Object,
                        notify: true,
                        value: {}
                    },
                    applicationRequest: {
                        type: Object,
                        notify: true,
                        value: {}
                    },
                    showContentInn: {
                        type: Boolean,
                        notify: true,
                        value: false
                    },
                    showOtherOwner: {
                        type: Boolean,
                        notify: true,
                        value: false
                    },
                    owners: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    ownershipfields: {
                        type: Object,
                        notify: true,
                        value: {}
                    },
                    amountDetailObj: {
                        type: Object,
                        notify: true,
                        value: {
                            controls: {},
                            values: {}
                        }
                    },
                    applicantDetailArray: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    basicDetailObj: {
                        type: Object,
                        notify: true,
                        value: {
                            controls: {},
                            values: {}
                        }
                    },
                    businessDetailObj: {
                        type: Object,
                        notify: true,
                        value: {
                            controls: {},
                            values: {}
                        }
                    },
                    ownerLength: {
                        type: Number,
                        notify: true,
                        value: 0
                    },
                    maxOwner: {
                        type: Number,
                        notify: true,
                        value: 0
                    },
                    IsBusinessCountryDisable: {
                        type: Boolean,
                        notify: true,
                        value: false
                    },
                    IsOwnerCountryDisable: {
                        type: Boolean,
                        notify: true,
                        value: false
                    },
                    usaZipvalidation: {
                        type: Object,
                        notify: true,
                        value: {
                            "required": true,
                            "minLen": 5,
                            "maxLen": 5,
                            "charcounter": false,
                            "autovalidate": true,
                            "pattern": "NUMBER",
                            "error": "Please enter valid PostalCode"
                        }
                    },
                    canadaZipvalidation: {
                        type: Object,
                        notify: true,
                        value: {
                            "required": true,
                            "minLen": 6,
                            "maxLen": 6,
                            "charcounter": false,
                            "autovalidate": true,
                            "pattern": "CANADAZIP",
                            "error": "Please enter valid PostalCode"
                        }
                    },
                    CountryNameExist: {
                        type: Boolean,
                        notify: true,
                        value: false
                    }
                },
                _checkIfNullObject: function (obj) {
                    return Object.keys(obj).length === 0 && obj.constructor === Object;
                },
                ready: function () {
                    var self = this;
                    setTimeout(function () {
                        self.init();
                    }, 3000);
                    var _IsBusinessCountryDisable = self.$.config.getConfigurationBasedOnKey(
                        'IsBusinessCountryDisable');
                    var _IsOwnerCountryDisable = self.$.config.getConfigurationBasedOnKey(
                        'IsOwnerCountryDisable');
                    var _CountryNameExist = self.$.config.getConfigurationBasedOnKey(
                        'CountryNameExist');
                    if (!_.isUndefined(_IsBusinessCountryDisable) && !_.isNull(
                        _IsBusinessCountryDisable)) {
                        self.set('IsBusinessCountryDisable', _IsBusinessCountryDisable);
                    }
                    if (!_.isUndefined(_IsOwnerCountryDisable) && !_.isNull(_IsOwnerCountryDisable)) {
                        self.set('IsOwnerCountryDisable', _IsOwnerCountryDisable);
                    }
                    if (!_.isUndefined(_CountryNameExist) && !_.isNull(_CountryNameExist)) {
                        self.set('CountryNameExist', _CountryNameExist);
                    }
                    self.addEventListener('_businessLoaddynamicstates', this._businessLoaddynamicstates);
                    self.addEventListener('_ownerLoaddynamicstates', this._ownerLoaddynamicstates);
                },
                init: function () {
                    var self = this;
                    $('#editApplicationModal').on("show.bs.modal", function () {
                        self.loadApplicationFields();
                    });
                },
                _businessLoaddynamicstates: function (data) {
                    var self = this;
                    var _tempbusinessDetailObj = _.cloneDeep(self.businessDetailObj);
                    _tempbusinessDetailObj.values.state = '';
                    _tempbusinessDetailObj.values.zipCode = '';
                    if (_.lowerCase(data.detail.values) === "usa") {
                        _tempbusinessDetailObj.controls.zipCode.validations = _.cloneDeep(self.usaZipvalidation);
                        _tempbusinessDetailObj.controls.state.selectList = _.cloneDeep(self.stateLookup);
                    } else if (_.lowerCase(data.detail.values) === "canada") {
                        _tempbusinessDetailObj.controls.zipCode.validations = _.cloneDeep(self.canadaZipvalidation);
                        _tempbusinessDetailObj.controls.state.selectList = _.cloneDeep(self.canadastatesLookup);
                    }
                    self.set("businessDetailObj", _tempbusinessDetailObj);
                },
                _ownerLoaddynamicstates: function (data) {
                    var self = this;
                    var formDataKeys = Object.keys(_.cloneDeep(data.detail.formdata));
                    var currentOwner = 0;
                    _.forEach(formDataKeys, function (o) {
                        if (_.includes(o, 'dob')) {
                            currentOwner = parseInt(o.replace('dob', ''));
                        }
                    });
                    var _tempapplicantDetailArray = _.cloneDeep(self.applicantDetailArray);
                    var currentOwnerDetail = _tempapplicantDetailArray[currentOwner];
                    currentOwnerDetail.values.state = '';
                    currentOwnerDetail.values.zipCode = '';
                    if (_.lowerCase(data.detail.values) === "usa") {
                        currentOwnerDetail.controls.zipCode.validations = _.cloneDeep(self.usaZipvalidation);
                        currentOwnerDetail.controls.state.selectList = _.cloneDeep(self.stateLookup);
                    } else if (_.lowerCase(data.detail.values) === "canada") {
                        currentOwnerDetail.controls.zipCode.validations = _.cloneDeep(self.canadaZipvalidation);
                        currentOwnerDetail.controls.state.selectList = _.cloneDeep(self.canadastatesLookup);
                    }
                    self.set("applicantDetailArray", _tempapplicantDetailArray);
                },
                loadApplicationFields: function () {
                    var self = this;
                    var result = self.$.config.getConfigurationBasedOnKey("application-fields");
                    var fieldsConfigString = JSON.stringify(result);
                    var ChangedfieldsConfigString = fieldsConfigString.replace(/twoColumn/g,
                        "twoInRow");
                    var data = JSON.parse(ChangedfieldsConfigString);
                    self.set("basicDetailObj", data['basic-fields']);
                    self.setDropDownValue(data['basic-fields']);
                    self.set("businessDetailObj", data['business-fields']);
                    self.setDropDownValue(data['business-fields']);
                    self.set("amountDetailObj", data['finish-fields']);
                    self.setDropDownValue(data['finish-fields']);
                    self.set('maxOwner', data.maxOwner);
                    self.setDropDownValue(data['ownership-fields']);
                    self.set('ownershipfields', data['ownership-fields'])
                    self.set("applicationRequest", data['application']);
                    self.set("owners", data['owners']);
                    self._getApplicationDetail();
                    self.set('showContentInn', true);
                },
                _getApplicationDetail: function () {
                    var self = this;
                    var basicDetailObjClone = _.cloneDeep(self.basicDetailObj);
                    var businessDetailObjClone = _.cloneDeep(self.businessDetailObj);
                    var amountDetailObjClone = _.cloneDeep(self.amountDetailObj);
                    var applicantDetailArrayClone = [];//_.cloneDeep(self.applicantDetailArray);
                    var url = "/application/" + self.applicationNumber + "/details";
                    var applicationDetail = window.config.services.appProcessor;
                    self.$.http.get(url, applicationDetail).then(function (result) {
                        if (result != undefined && !self._checkIfNullObject(result)) {
                            self.set('applicationDetails', result);
                            self.mergeObj(basicDetailObjClone.values, result);
                            self.mergeObj(businessDetailObjClone.values, result);
                            businessDetailObjClone.values.businessStartDate = moment(result
                                .businessStartDate.time).format("YYYY-MM-DD");
                            businessDetailObjClone.values.state = result.state;
                            if (!_.isUndefined(result.country) && !_.isNull(result.country) &&
                                !_.isEmpty(result.country)) {
                                businessDetailObjClone.values.country = result.country;
                            } else if (self.CountryNameExist) {
                                businessDetailObjClone.values.country = self.getCountryBasedonState(
                                    result.state);
                            }
                            //disable or enable country ddl.
                            if (self.CountryNameExist) {
                                businessDetailObjClone.controls.country.validations.disabled =
                                    self.IsBusinessCountryDisable;
                                if (_.lowerCase(businessDetailObjClone.values.country) ===
                                    "usa") {
                                    businessDetailObjClone.controls.state.selectList = _.cloneDeep(
                                        self.stateLookup);
                                } else if (_.lowerCase(businessDetailObjClone.values.country) ===
                                    "canada") {
                                    businessDetailObjClone.controls.state.selectList = _.cloneDeep(
                                        self.canadastatesLookup);
                                }
                            }

                            self.mergeObj(amountDetailObjClone.values, result);
                            amountDetailObjClone.values.haveExistingLoan = result.haveExistingLoan;
                            self.set('ownerLength', result.owners.length);
                            for (var index = 0; index < result.owners.length; index++) {
                                applicantDetailArrayClone.push(_.cloneDeep(self.ownershipfields));
                                self.setOwnerInfo(applicantDetailArrayClone[index], index,
                                    result);
                                var ownerJSON = JSON.stringify(applicantDetailArrayClone[
                                    index]);
                                ownerJSON = ownerJSON.replace(/dob/ig, 'dob' + index);
                                applicantDetailArrayClone[index] = JSON.parse(ownerJSON);
                            }
                            self.set("basicDetailObj", basicDetailObjClone);
                            self.set("businessDetailObj", businessDetailObjClone);
                            self.set("amountDetailObj", amountDetailObjClone);
                            self.set("applicantDetailArray", applicantDetailArrayClone);
                        }
                    }).fail(function (e) {
                        console.error("_getApplicationDetail error is ", e);
                    });
                },
                mergeObj: function (dataobj, resultObj) {
                    var keys1 = Object.keys(resultObj);
                    for (var key_i = 0; key_i < keys1.length; key_i++) {
                        var key = keys1[key_i];
                        if (dataobj[key] != undefined) {
                            dataobj[key] = resultObj[key];
                        }
                    }
                },
                setOwnerInfo: function (applicantobject, index, result) {
                    var self = this;
                    self.mergeObj(applicantobject.values, result.owners[index]);
                    applicantobject.values.dob = moment(result.owners[index].dob).format(
                        "YYYY-MM-DD");
                    applicantobject.values.email = result.owners[index].emailAddresses[0].email;
                    applicantobject.values.phone = result.owners[index].phoneNumbers[0].phone;
                    applicantobject.values.addressLine1 = result.owners[index].addresses[0].addressLine1;
                    applicantobject.values.zipCode = result.owners[index].addresses[0].zipCode;
                    applicantobject.values.city = result.owners[index].addresses[0].city;
                    applicantobject.values.state = result.owners[index].addresses[0].state;
                    var _country = result.owners[index].addresses[0].country;

                    if (!_.isUndefined(_country) && !_.isNull(_country) && !_.isEmpty(_country)) {
                        applicantobject.values.country = _country;
                    } else if (self.CountryNameExist) {
                        applicantobject.values.country = self.getCountryBasedonState(result.owners[
                            index].addresses[0].state);
                    }

                    //disable or enable country ddl.
                    if (self.CountryNameExist) {
                        applicantobject.controls.country.validations.disabled = self.IsOwnerCountryDisable;

                        if (_.lowerCase(applicantobject.values.country) === "usa") {
                            applicantobject.controls.state.selectList = _.cloneDeep(self.stateLookup);
                        } else if (_.lowerCase(applicantobject.values.country) === "canada") {
                            applicantobject.controls.state.selectList = _.cloneDeep(self.canadastatesLookup);
                        }
                    }
                },
                getCountryBasedonState: function (stateName) {
                    var self = this;
                    if (!_.isUndefined(stateName) && !_.isNull(stateName)) {
                        var _USAStateIndex = -1;
                        var _CanadaStateIndex = -1;
                        if (self.stateLookup && self.stateLookup.length > 0) {
                            _USAStateIndex = _.findIndex(self.stateLookup, function (o) {
                                return o.value === stateName;
                            });
                        }

                        if (_USAStateIndex >= 0) {
                            return self._getCountryValue("usa");
                        } else if (self.canadastatesLookup && self.canadastatesLookup.length > 0) {
                            _CanadaStateIndex = _.findIndex(self.canadastatesLookup,
                                function (o) {
                                    return o.value === stateName;
                                });
                            if (_CanadaStateIndex >= 0) {
                                return self._getCountryValue("canada");
                            }
                            return "";
                        }
                    }
                },
                submitApplication: function (event) {
                    event.preventDefault();
                    var self = this;
                    var form = Polymer.dom(event).localTarget.parentElement.parentElement;
                    if (form.validate()) {
                        self.getApplicationRequestObject(self.basicDetailObj);
                        self.getApplicationRequestObject(self.businessDetailObj);
                        //timebucket time
                        self.businessDetailObj.values.businessStartDate = moment(self.applicationDetails
                            .businessStartDate.time).format("YYYY-MM-DD");
                        self.getApplicationRequestObject(self.amountDetailObj);
                        var aplicationRequestClone = _.cloneDeep(self.applicationRequest);
                        aplicationRequestClone.values.owners = self.addOwnerInfo();
                        if (self.totalPartnerShip > 100) {
                            var errMessage =
                                "Cumulative ownership for all owners can not be more than 100%";
                            self.$$('#message').showMessage(errMessage, "ERROR", self.$$(
                                '#MessageContainer'));
                            return;
                        }
                        self.set("applicationRequest", aplicationRequestClone);
                        self.applicationRequest.values.applicationNumber = self.applicationDetails.applicationNumber;
                        self.applicationRequest.values.applicantId = self.applicationDetails.applicantId;
                        self.set('applicationRequest.values.businessLocation',self.applicationRequest.values.businessLocation == true ? "0" : "1");
                        var submitBusinessApplicationRequest = self.applicationRequest.values;
                        var appProcessorEndpoint = window.config.services.appProcessor;
                        var url = "/application/" + self.applicationNumber + "/edit";
                        self.$.http.put(url, submitBusinessApplicationRequest, appProcessorEndpoint)
                            .then(function (response) {
                                self.raiseAppRefreshEvent();
                            }).fail(function (e) {
                                var response = e.responseJSON;
                                if (!_.isUndefined(response) && !_.isEmpty(response.message)) {
                                    if (response.code === 409) {
                                        self.$$('#message').showMessage(
                                            "Email is associated with existing account",
                                            "ERROR", self.$$('#MessageContainer'));
                                    } else {
                                        self.$$('#message').showMessage(
                                            "Email is associated with existing account" +
                                            response.message, "ERROR", self.$$(
                                                '#MessageContainer'));
                                    }
                                } else {
                                    self.$$('#message').showMessage(
                                        "Email is associated with existing account",
                                        "ERROR", self.$$('#MessageContainer'));
                                }
                                console.error("Unable to Submit Application error is ", e);
                            });
                    } else {
                        self.$$('#message').showMessage("Please provide all the mandatory details",
                            "ERROR", self.$$('#MessageContainer'));
                    }
                },
                _getCountryValue: function (propType) {
                    var self = this;
                    if (propType && self.countryLookup && self.countryLookup.length > 0) {
                        var obj = _.find(self.countryLookup, ['key', propType]);
                        return obj.value || "";
                    }
                    return "";
                },
                addOwnerInfo: function () {
                    var self = this;
                    var totalPartnerShipClone = 0;
                    var ownerdetails = _.cloneDeep(self.applicantDetailArray);
                    var ownerArray = [];
                    if (self.maxOwner >= ownerdetails.length) {
                        ownerdetails.forEach(function (ownerdetail, index) {
                            if (!_.isNull(ownerdetail.values.firstName) && !_.isUndefined(
                                ownerdetail.values.firstName) && !_.isEmpty(ownerdetail
                                    .values.firstName)) {
                                var owners = _.cloneDeep(self.owners);
                                owners[0].dob = self.date(ownerdetail.values['dob' + index]);
                                owners[0].addresses[0].addressLine1 = ownerdetail.values.addressLine1;
                                owners[0].addresses[0].city = ownerdetail.values.city;
                                owners[0].addresses[0].state = _.toUpper(ownerdetail.values
                                    .state);
                                if (self.CountryNameExist) {
                                    owners[0].addresses[0].country = (ownerdetail.values.country);
                                }
                                owners[0].addresses[0].zipCode = ownerdetail.values.zipCode;
                                owners[0].emailAddresses[0].email = ownerdetail.values.email;
                                owners[0].phoneNumbers[0].phone = ownerdetail.values.phone;
                                totalPartnerShipClone = (parseFloat(totalPartnerShipClone,
                                    10) + parseFloat(ownerdetail.values.ownershipPercentage,
                                        10));
                                self.mergeObj(owners[0], ownerdetail.values);
                                ownerArray.push(owners[0]);
                                self.set('totalPartnerShip', totalPartnerShipClone);
                            }
                        }, this);
                        return ownerArray;
                    }
                },
                setDropDownValue: function (fieldsObject) {
                    var self = this;
                    for (var lookupObject in fieldsObject.controls) {
                        if (fieldsObject.controls[lookupObject].type == "combobox") {
                            var lookupname = fieldsObject.controls[lookupObject].lookup;
                            if (lookupname != undefined) {
                                var data = self.$.lookup.getLookupBasedOnName(fieldsObject.controls[
                                    lookupObject].lookup);
                                if (data != undefined) {
                                    fieldsObject.controls[lookupObject].selectList = data;
                                }
                            }
                        }
                    }
                },
                getApplicationRequestObject: function (fields) {
                    var self = this;
                    var applicationclone = _.cloneDeep(self.applicationRequest);
                    applicationclone.values = Object.assign(applicationclone.values, fields.values);
                    self.set("applicationRequest", applicationclone);
                },
                date: function (date) {
                    if (date && date != null) {
                        return moment.tz(date, window.tenant.timezone).format(COUNTRY[window.config.country].DATE_FORMAT.DATE);
                    }
                    return '';
                },
                _hide: function () {
                    $('#editApplicationModal').modal('hide');
                },
                raiseAppRefreshEvent: function () {
                    this.$.utility.raiseEvent(this.fireEvent, {});
                }
            });
        });
    </script>
</dom-module>