<dom-module id="approve-drawdown">
    <style>
        .custom-input {
            --paper-input-container-input: {
                font-size: 11px;
            }
            --paper-input-container-label: {
                font-size: 12px;
            }
        }
    </style>
    <template>
        <div id="MessageContainer"></div>
        <div class="row">
            <div class="col-md-12">
                <form is="iron-form" class="form-horizontal" name="approveApplication">
                    <dynamic-form form-configuration={{requestedAmountObj}} values="{{requestedAmountObj.values}}"></dynamic-form>
                    <br/>

                    <!-- <h4>
                        <b>Notes</b>
                    </h4>
                    <br>
                    <textarea id="notes" rows="6" form="ach-form" class="form-control textareascroll" value="{{Notes}}" on-input="setNotes"></textarea>
                    <br> -->
                    <paper-button class="btn btn-primary activity-action-btn" on-click="updateStatus" raised>Update Status</paper-button>
                </form>
            </div>
        </div>
        <url-parser id="url"></url-parser>
        <http-request id="http"></http-request>
        <utility-service id="utility"></utility-service>
        <message-component id="message"></message-component>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "approve-drawdown",
                properties: {
                    currentEntityName: {
                        type: String,
                        notify: true,
                        value: 'application'
                    },
                    reasonList: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    Notes: {
                        type: String,
                        notify: true,
                        value: ""
                    },
                    selectedReason: {
                        type: String,
                        notify: true
                    },
                    showContent: {
                        type: Boolean,
                        notify: true,
                        value: false
                    },
                    requestedAmountObj: {
                        type: Object,
                        notify: true,
                        value: {
                            controls: {
                                RequestedAmountRD: {
                                    label: "Requested Amount",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false,
                                        pattern: 'AMOUNT',
                                        minLen: 1,
                                        maxLen: 10
                                    }
                                }
                            },
                            values: {

                            }
                        }
                    }
                },
                setNotes: function (event) {
                    var self = this;
                    self.Notes = event.target.value;
                },
                ready: function () {
                    var self = this;
                    var urlParams = this.$.url.getParams();
                    if (urlParams.hasOwnProperty('entity')) {
                        this.set('currentEntityName', urlParams.entity);
                    }
                    //self._loadReasonList();
                },
                _loadReasonList: function () {
                    var self = this;
                    var url = "";
                    var urlParams = this.$.url.getParams();
                    url = "/" + self.currentEntityName + "/" + urlParams.workflow + "/200.50/reasons";
                    self.$.http.get(url, window.config.services.statusManagement).then(function (result) {
                        var tempList = [];
                        if (!_.isNull(result)) {
                            for (var i = 0; i < result.length; i++) {
                                tempList.push({ key: result[i].code, value: result[i].descriptions });
                            }
                            self.set('reasonList', tempList);
                            $('#ReasonDDLA').show();
                        }
                    }).fail(function (e) {
                        $('#ReasonDDLA').hide();
                        console.error("not able to load status .", e);
                    });
                },
                raiseAppRefreshEvent: function (event) {
                    this.$.utility.raiseEvent(this.fireEvent, {
                        EventData: event
                    });
                },
                formatDate: function (date) {
                    return moment.tz(date, window.config.timezone).format("YYYY-MM-DD");
                },
                updateStatus: function (event) {
                    var self = this;
                    var form = Polymer.dom(event).localTarget.parentElement;
                    var params = self.$.url.getParams();
                    var url = "";
                    if (form.validate()) {
                        url = "/" + params.drawdownId + "/drawamount";
                        var rAmount = self.requestedAmountObj.values.RequestedAmountRD;
                        var payload = {
                            LocNumber: params.app,
                            RequestedAmount: rAmount,
                            DrawDownDate: self.formatDate(new Date()),
                            NeedByDate: self.formatDate(new Date())
                        };
                        if (_.isEmpty(self.reasonList) || self.selectedReason == "") {
                            self.$.http.put(url, payload, window.config.services.drawdownProcessor, true).then(function (data) {
                                self.raiseAppRefreshEvent(event);
                            }).fail(function (e) {
                                var strMessage = "Failed to complete the operation. " + e.responseText;
                                self.$.message.showMessage(strMessage, "ERROR", self.$.MessageContainer);
                            });
                        }
                        else if (!_.isEmpty(self.reasonList) && self.reasonList.length > 0 && self.selectedReason != "") {
                            payload.Reasons = [self.selectedReason];
                            self.$.http.put(url, payload, window.config.services.drawdownProcessor, true).then(function (data) {
                                self.raiseAppRefreshEvent(event);
                            }).fail(function (e) {
                                var strMessage = "Failed to complete the operation. " + e.responseText;
                                self.$.message.showMessage(strMessage, "ERROR", self.$.MessageContainer);
                            });
                        }
                        else {
                            var strMessage = "All fields are Required";
                            self.$.message.showMessage(strMessage, "ERROR", self.$.MessageContainer);
                        }
                    }
                }
            });
        });
    </script>
</dom-module>