<dom-module id="decide-product">
    <template>
        <style>
            .custom-input {
                --paper-input-container-input: {
                    font-size: 11px;
                }
                --paper-input-container-label: {
                    font-size: 12px;
                }
            }
        </style>
        <div id="MessageContainer"></div>
        <div class="row">
            <div class="col-md-12">
                <form is="iron-form" class="form-horizontal" name="MoveApp">
                    <vaadin-combo-box class="custom-input" name="productId" value="{{productId}}" item-value-path="key" item-label-path="value"
                        items="{{ProductList}}" label="Select Product" prevent-invalid-input="true" on-change="_notesHideShow"
                        required>
                    </vaadin-combo-box>
                    <template is="dom-if" if="{{showTextArea}}">
                        <h4>
                            <b>Notes</b>
                        </h4>
                        <br>
                        <textarea id="notes" rows="6" form="ach-form" class="form-control textareascroll" value="{{Notes}}" on-input="setNotes"></textarea>
                        <br>
                    </template>
                    <paper-button class="btn btn-primary activity-action-btn" on-click="updateStatus" raised>Move Application</paper-button>
                </form>
            </div>
        </div>
        <url-parser id="url"></url-parser>
        <http-request id="http"></http-request>
        <utility-service id="utility"></utility-service>
        <message-component id="message"></message-component>
        <alloy-config id="config" alloy-configuration="{{configuration}}"></alloy-config>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "decide-product",
                properties: {
                    productId: {
                        type: String,
                        notify: true
                    },
                    ProductList: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    Notes: {
                        type: String,
                        notify: true,
                        value: ""
                    },
                    currentEntityName: {
                        type: String,
                        notify: true,
                        value: 'application'
                    },
                    showTextArea: {
                        type: Boolean,
                        notify: true,
                        value: false
                    }
                },
                init: function () {
                    var self = this;
                    var urlParams = this.$.url.getParams();
                    if (urlParams.hasOwnProperty('entity')) {
                        this.set('currentEntityName', urlParams.entity);
                    }
                    var multiProducts = self.$.config.getConfigurationBasedOnKey("products");
                    var productList = _.transform(multiProducts, function (result, item) {
                        result.push({ key: item.key, value: item.value });
                    }, []);
                    self.ProductList = productList;
                },
                setNotes: function (event) {
                    var self = this;
                    self.Notes = event.target.value;
                },
                raiseAppRefreshEvent: function () {
                    this.$.utility.raiseEvent(this.fireEvent, {});
                },
                _notesHideShow: function (event) {
                    var self = this;
                    var currentValue = event.target.value;
                    if (currentValue == "OtherLenders") {
                        self.set("showTextArea", true);
                    } else {
                        self.set("showTextArea", false);
                    }
                },
                updateStatus: function (e) {
                    var self = this;
                    if (self.productId != undefined && self.productId != "") {
                        var event = e;
                        var form = Polymer.dom(e).localTarget.parentElement;
                        var params = self.$.url.getParams();
                        var payload = {
                            otherLenderNotes: self.Notes
                        };
                        var appProcessorEndpoint = window.config.services.appProcessor;
                        var url = "/application/" + params.app + "/productdecision/" + self.productId;
                        self.$.http.get(url, appProcessorEndpoint).then(function (data) {
                            self.redirectToNewProduct();
                        }).fail(function (e) {
                            var strMessage = "Failed to complete the operation. " + e.responseJSON.message;
                            self.$.message.showMessage(strMessage, "ERROR", self.$.MessageContainer);
                        });
                    } else {
                        var strMessage = "All fields are required";
                        self.$.message.showMessage(strMessage, "ERROR", self.$.MessageContainer);
                    }
                },
                redirectToNewProduct: function () {
                    var self = this;
                    var params = self.$.url.getParams();
                    var url = "/application/" + params.app + "/statusworkflow";
                    self.$.http.get(url, window.config.services.statusManagement).then(function (data) {
                        var redirect = "/app-details/entity:application/filter:Application";
                        if (params.applicantId !== undefined && params.applicantId !== null && params.applicantId !== "") {
                            redirect = redirect + "/app:" + params.app + "/applicantId:" + params.applicantId + "/product:" + data.productId + "/workflow:" + data.statusWorkFlowId;
                        } else {
                            redirect = redirect + "/app:" + params.app + "/product:" + data.productId + "/workflow:" + data.statusWorkFlowId;
                        }
                        window.location.hash = redirect;
                        window.location.reload();
                    }).fail(function (e) {
                        var strMessage = "Failed to complete the operation. " + e.responseJSON.message;
                        self.$.message.showMessage(strMessage, "ERROR", self.$.MessageContainer);
                    });
                }
            });
        });
    </script>
</dom-module>