<dom-module id="extract-transaction">
    <template>
        <div class="slide-action">
            <button id="generateCashflow" on-click="generateCashflow" class="btn btn-primary activity-action-btn">
                Generate Cashflow
            </button>
        </div>
        <div id="MessageContainer"></div>
        <http-request id="http"></http-request>
        <utility-service id="utility"></utility-service>
        <message-component id="message"></message-component>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "extract-transaction",
                properties: {

                },
                init: function () {

                },
                generateCashflow: function (event) {
                    var self = this;
                    var appProcessorEndpoint = window.config.services.appProcessor;
                    var url = '/application/' + this.applicationNumber + '/bankstatement/false';
                    var payload = {};
                    payload.documentlist = [];
                    var docAvailable = _.filter(self.availableDocuments, ['category', "bankstatement"]);
                    if (!_.isUndefined(docAvailable) && !_.isEmpty(docAvailable) && !_.isNull(docAvailable)) {
                        payload.documentlist = _.transform(docAvailable, function (result, element) {
                            result.push({ key: element.id, value: element.fileName });
                        }, []);
                        self.$.http.post(url, payload, appProcessorEndpoint).then(function (data) {
                            self.$.message.showMessage("Sent to Ocrolus", "INFO", self.$$('#MessageContainer'));
                            self.raiseAppRefreshEvent(event);
                        }).fail(function (e) {
                            console.error("Failed to update the status", e.responseJSON.message);
                            self.$.message.showMessage("Already sent to Ocrolus, Please check.", "ERROR", self.$$('#MessageContainer'));
                        });
                    } else {
                        self.$.message.showMessage("Bank Statement (PDF) Document not Uploaded", "ERROR", self.$$('#MessageContainer'));
                    }
                },
                raiseAppRefreshEvent: function (event) {
                    this.$.utility.raiseEvent(this.fireEvent, {
                        ActionName: 'ExtractTransaction',
                        EventData: event,
                        CompnentName: 'extract-transaction'
                    });
                }
            });
        });
    </script>
</dom-module>