<dom-module id="lender-decision">
    <template>
        <style>
            .custom-input {
                --paper-input-container-input: {
                    font-size: 11px;
                }
                --paper-input-container-label: {
                    font-size: 12px;
                }
            }
        </style>
        <div id="MessageContainer"></div>
        <div class="row">
            <div class="col-md-12">
                <form is="iron-form" class="form-horizontal" name="MoveApp">
                    <vaadin-combo-box class="custom-input" name="productId" value="{{productId}}" item-value-path="value" item-label-path="value"
                        items="{{ProductList}}" label="Select Lender" prevent-invalid-input="true" required>
                    </vaadin-combo-box>
                    <h4>
                        <b>Notes</b>
                    </h4>
                    <br>
                    <textarea id="notes" rows="6" form="ach-form" class="form-control textareascroll" value="{{Notes}}" on-input="setNotes"></textarea>
                    <br>
                    <paper-button class="btn btn-primary activity-action-btn" on-click="updateLenderDecision" raised>Process</paper-button>
                </form>
            </div>
        </div>
        <url-parser id="url"></url-parser>
        <http-request id="http"></http-request>
        <utility-service id="utility"></utility-service>
        <message-component id="message"></message-component>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "lender-decision",
                properties: {
                    productId: {
                        type: String,
                        notify: true
                    },
                    ProductList: {
                        type: Array,
                        notify: true,
                        value: [
                            { "key": "Prestala", "value": "Prestala" },
                            { "key": "OtherLenders", "value": "Other Lenders" },
                        ]
                    },
                    Notes: {
                        type: String,
                        notify: true,
                        value: ""
                    },
                    currentEntityName: {
                        type: String,
                        notify: true,
                        value: 'application'
                    }
                },
                init: function () {
                    var self = this;
                    var urlParams = self.$.url.getParams();
                    if (urlParams.hasOwnProperty('entity')) {
                        self.set('currentEntityName', urlParams.entity);
                    }
                },
                setNotes: function (event) {
                    var self = this;
                    self.Notes = event.target.value;
                },
                raiseAppRefreshEvent: function (event) {
                    this.$.utility.raiseEvent(this.fireEvent, {
                        ActionName: 'LenderDecision',
                        EventData: event,
                        CompnentName: 'lender-decision'
                    });
                },
                updateLenderDecision: function (e) {
                    var self = this;
                    if (self.productId != undefined && self.productId != "") {
                        var event = e;
                        var form = Polymer.dom(e).localTarget.parentElement;
                        var params = self.$.url.getParams();
                        var productId = self.productId;
                        var Notes = self.Notes;
                        var appProcessorEndpoint = window.config.services.appProcessor;
                        var url = "";
                        if (self.productId === 'Prestala')
                            url = '/application/' + this.applicationNumber + '/lenderdecision/' + self.productId + '/100.30';
                        else
                            url = '/application/' + this.applicationNumber + '/lenderdecision/' + self.productId + '/600.50';
                        self.$.http.post(url, {}, appProcessorEndpoint).then(function (data) {
                            self.raiseAppRefreshEvent(event);
                        }).fail(function (e) {
                            self.$.message.showMessage("Transition not allowed.", "ERROR", self.$.MessageContainer);
                        });
                    } else {
                        self.$.message.showMessage("All fields are required", "ERROR", self.$.MessageContainer);
                    }
                }
            });
        });
    </script>
</dom-module>