<html-import html-href="loaders/sk-wave.html"></html-import>
<dom-module id="app-owners-info">
    <template>
        <style>
            .header {
                font-size: 12px;
                font-weight: 700;
                color: white;
                background-color: #03466B;
            }

            address {
                margin-bottom: 20px;
                font-style: normal;
                line-height: 1.42857143;
            }

            strong {
                display: block;
            }

            .pass {
                color: #80b43c;
                font-size: 16px;
            }

            .fail {
                color: red;
                font-size: 16px;
            }

            .removeMargin {
                margin-bottom: 0px !important;
            }
        </style>
        <div class="row">
            <spinkit-wave hidden$="{{loadding}}"></spinkit-wave>
            <div class="col-sm-12">
                <table class="table">
                    <tbody>
                        <template is="dom-repeat" items="{{owners}}" as="owner">
                            <tr>
                                <th colspan="6" class="header">
                                    {{_getOwnerFullName(owner)}}
                                    <template is="dom-if" if="{{owner.IsPrimary}}">
                                        <span>(Primary)</span>
                                    </template>
                                </th>
                            </tr>
                            <tr>
                                <th>Email</th>
                                <td colspan="5">{{_getOwnerEmail(owner)}}</td>
                            </tr>
                            <tr>
                                <th>Address</th>
                                <td>{{_getOwnerAddress(owner)}}</td>
                                <th>SSN</th>
                                <td>{{_formateSSN(owner.SSN)}}</td>
                                <th>DOB</th>
                                <td>{{_formatDate(owner.DOB)}}</td>
                            </tr>
                            <tr>
                                <th>Phone</th>
                                <td>{{_getOwnerPhone(owner)}}</td>
                                <th>% Of Ownership</th>
                                <td>{{owner.OwnershipPercentage}}</td>
                                <th></th>
                                <td></td>
                            </tr>
                        </template>
                    </tbody>
                </table>
            </div>
        </div>
        <div id="MessageContainerSignContract"></div>
        <template is="dom-if" if="{{checkRecords(ownersSignedContract,statusObj)}}">
            <div class="row ">
                <div class="col-sm-12">
                    <table class="table removeMargin">
                        <tr>
                            <th colspan="6" class="header">
                                Owner's Sign Contract History
                            </th>
                        </tr>
                    </table>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Sent Count</th>
                                <th>Last Sent On</th>
                                <th>Signed On</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <template is="dom-repeat" items="{{ownersSignedContract}}" as="contract">
                                <tr>
                                    <td>{{contract.name}}</td>
                                    <td>{{contract.email}}</td>
                                    <td>{{contract.sendCount}}</td>
                                    <td>{{_formatDate(contract.time.time)}}</td>
                                    <td>{{_formatDate(contract.signedOn.time)}}</td>
                                    <td>
                                        <template is="dom-if" if="{{checkStatus(contract.status)}}">
                                            <button model$="[[contract]]" on-click="_sendReminder" data-args="{{contract.recipientId}}" class="btn btn-primary">Send Reminder</button>
                                        </template>
                                        <template is="dom-if" if="{{!checkStatus(contract.status)}}">
                                            <template is="dom-if" if="{{checkSubStatus(contract.status)}}">
                                                <i class="fa fa-check pass" aria-hidden="true" title="{{contract.status}}"></i>
                                            </template>
                                            <template is="dom-if" if="{{!checkSubStatus(contract.status)}}">
                                                <i class="fa fa-times fail" aria-hidden="true" title="{{contract.status}}"></i>
                                            </template>
                                        </template>
                                    </td>
                                </tr>
                            </template>

                        </tbody>
                    </table>
                </div>
            </div>
        </template>
        <url-parser id="url"></url-parser>
        <http-request id="http"></http-request>
        <alloy-config id="config"></alloy-config>
        <message-component id="message"></message-component>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "app-owners-info",
                properties: {
                    owners: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    ownersSignedContract: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    currentEntityName: {
                        type: String,
                        notify: true,
                        value: 'application'
                    },
                    loadding: {
                        type: Boolean,
                        notify: true,
                        value: false,
                        reflectToAttribute: true
                    },
                    statusObj: {
                        type: Object,
                        notify: true,
                        reflectToAttribute: true,
                        observer: "_loadSignContract"
                    }
                },
                _formateSSN: function (data) {
                    return formats.ssn(data, window.config.country);
                },
                _getOwnerPhone: function (owner) {
                    var self = this;
                    if (owner) {
                        var phone = owner.PhoneNumbers[0].Phone;
                        return formats.phone(phone, window.config.country);
                    }
                    return "Not available";
                },
                _getOwnerEmail: function (owner) {
                    var self = this;
                    if (owner) {
                        var email = owner.EmailAddresses[0].Email;
                        return email
                    }
                    return "Not available";
                },
                _getOwnerAddress: function (owner) {
                    var address = '';
                    if (owner && owner != null && owner.Addresses && owner.Addresses != null && owner.Addresses.length > 0) {
                        var ownerAddress = owner.Addresses[0];
                        address = this._checkNullUndefined(ownerAddress.AddressLine1) + ' ' + this._checkNullUndefined(ownerAddress.AddressLine2) + ' ' + this._checkNullUndefined(ownerAddress.City) + ' ' + this._checkNullUndefined(ownerAddress.State) + ' ' + this._checkNullUndefined(ownerAddress.PinCode);
                    } else {
                        "Not available"
                    }
                    return address;
                },
                _getOwnerFullName: function (owner) {
                    if (owner) {
                        return _.startCase(owner.FirstName + " " + owner.LastName);
                    }
                },
                _checkIfEmptyObject: function (obj) {
                    return Object.keys(obj).length === 0 && obj.constructor === Object;
                },
                _checkNullUndefined: function (obj) {
                    if (obj && obj != null) {
                        return obj;
                    }
                    return '';
                },
                _formatDate: function (date) {
                    var EXCLUDE_Date = ["01-01-0001", "01/01/0001", "0001-01-01T00:00:00Z", "0001-01-01T00:00:00+00:00"];
                    if (!_.isNull(date) && !_.isUndefined(date) && !_.isEmpty(date)) {
                        if (EXCLUDE_Date.indexOf(date.toString()) != -1) {
                            return "Not available";
                        }
                        else {
                            return formats.date(date, window.config.country, false);
                        }
                    }
                    else {
                        return "Not available";
                    }
                },
                init: function () {
                    var self = this;
                    var params = self.$.url.getParams();
                    if (params.hasOwnProperty('entity')) {
                        self.set('currentEntityName', params.entity);
                    }
                    self._loadDataAttributes();
                },
                _loadDataAttributes: function () {
                    var self = this;
                    var data = self.dataAttributes;
                    if (!self._checkIfEmptyObject(data) && !self._checkIfEmptyObject(data.application)) {
                        self.set('owners', data.application.owners);
                    }
                },
                checkStatus: function (objStatus) {
                    var self = this;
                    if (objStatus === "Sent") {
                        return true;
                    }
                    else {
                        return false;
                    }
                },
                checkSubStatus: function (objStatus) {
                    var self = this;
                    if (objStatus === "Completed") {
                        return true;
                    }
                    else {
                        return false;
                    }
                },
                _loadSignContract: function () {
                    var self = this;
                    var params = self.$.url.getParams();
                    var OwnerSignContractTabDisplayStatus = self.$.config.getConfigurationBasedOnKey("OwnerSignContractTabDisplayStatus");
                    if (self.statusObj != undefined && self.statusObj != null && OwnerSignContractTabDisplayStatus.indexOf(self.statusObj.code) !== -1) {
                        var appNumber = (self.currentEntityName === "application") ? params.app : params.drawdownId;
                        var url = "/" + self.currentEntityName + "/" + appNumber + "/get/pending/signature";
                        self.$.http.get(url, window.config.services.appProcessor).then(function (data) {
                            self.set("ownersSignedContract", data);
                            self.set('loadding', true);
                        }).fail(function (e) {
                            self.set('loadding', true);
                            console.error("Pending sign contract error is  ", e);
                        });
                    }
                    else {
                        self.set('loadding', true);
                    }
                },
                _sendReminder: function (event) {
                    var self = this;
                    var eventModel = event.model;
                    var onwerId = eventModel.__data__.contract.recipientId;
                    var params = self.$.url.getParams();
                    var appNumber = (self.currentEntityName === "application") ? params.app : params.drawdownId;
                    var url = "/" + self.currentEntityName + "/" + appNumber + "/" + onwerId + "/send/reminder/email";
                    self.$.http.post(url, null, window.config.services.appProcessor).then(function (data) {
                        setTimeout(() => {
                            self._loadSignContract();
                        }, 1000);
                        self.$.message.showMessage("Sign contract mail sent successfully.", "SUCCESS", self.$.MessageContainerSignContract);
                    }).fail(function (e) {
                        var failMessage = "";
                        if (e.responseJSON.code === 400)
                            failMessage = e.responseJSON.message;
                        else
                            failMessage = "Some error occured, Please try it after some time.";
                        self.$.message.showMessage(failMessage, "ERROR", self.$.MessageContainerSignContract);
                    });
                },
                checkRecords: function (objSignContract, statusObj) {
                    var self = this;
                    var OwnerSignContractTabDisplayStatus = self.$.config.getConfigurationBasedOnKey("OwnerSignContractTabDisplayStatus");
                    if (objSignContract !== undefined && objSignContract !== null && objSignContract.length > 0 && statusObj != undefined && statusObj != null && OwnerSignContractTabDisplayStatus.indexOf(statusObj.code) !== -1) {
                        return true;
                    }
                    else {
                        return false;
                    }
                }
            });
        });
    </script>
</dom-module>