<dom-module id="edit-broker">
    <template>
        <style>
            #ErrorMessge {
                color: #ff0000;
            }
        </style>
        <div id="ErrorMessge" style="display: none;">
            <p></p>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form is="iron-form" class="form-horizontal" name="PersonalDetail">
                    <dynamic-form form-configuration={{editPartnerObj}} values="{{editPartnerObj.values}}"></dynamic-form>
                    <br/>
                    <paper-button class="btn btn-primary activity-action-btn" on-click="editPartner" raised>Submit</paper-button>
                </form>
            </div>
        </div>
        <url-parser id="urlep"></url-parser>
        <http-request id="httpep"></http-request>
        <utility-service id="utilityep"></utility-service>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "edit-broker",
                properties: {
                    statesDropdown: {
                        type: Array,
                        value: [
                            {
                                key: "AK",
                                value: "Alaska"
                            },
                            {
                                key: "AL",
                                value: "Alabama"
                            },
                            {
                                key: "AR",
                                value: "Arkansas"
                            },
                            {
                                key: "AZ",
                                value: "Arizona"
                            },
                            {
                                key: "CA",
                                value: "California"
                            },
                            {
                                key: "CO",
                                value: "Colorado"
                            },
                            {
                                key: "CT",
                                value: "Connecticut"
                            },
                            {
                                key: "DC",
                                value: "District of Columbia"
                            },
                            {
                                key: "DE",
                                value: "Delaware"
                            },
                            {
                                key: "FL",
                                value: "Florida"
                            },
                            {
                                key: "GA",
                                value: "Georgia"
                            },
                            {
                                key: "HI",
                                value: "Hawaii"
                            },
                            {
                                key: "IA",
                                value: "Iowa"
                            },
                            {
                                key: "ID",
                                value: "Idaho"
                            },
                            {
                                key: "IL",
                                value: "Illinois"
                            },
                            {
                                key: "IN",
                                value: "Indiana"
                            },
                            {
                                key: "KS",
                                value: "Kansas"
                            },
                            {
                                key: "KY",
                                value: "Kentucky"
                            },
                            {
                                key: "LA",
                                value: "Louisiana"
                            },
                            {
                                key: "MA",
                                value: "Massachusetts"
                            },
                            {
                                key: "MD",
                                value: "Maryland"
                            },
                            {
                                key: "ME",
                                value: "Maine"
                            },
                            {
                                key: "MI",
                                value: "Michigan"
                            },
                            {
                                key: "MN",
                                value: "Minnesota"
                            },
                            {
                                key: "MO",
                                value: "Missouri"
                            },
                            {
                                key: "MS",
                                value: "Mississippi"
                            },
                            {
                                key: "MT",
                                value: "Montana"
                            },
                            {
                                key: "NC",
                                value: "North Carolina"
                            },
                            {
                                key: "ND",
                                value: "North Dakota"
                            },
                            {
                                key: "NE",
                                value: "Nebraska"
                            },
                            {
                                key: "NH",
                                value: "New Hampshire"
                            },
                            {
                                key: "NJ",
                                value: "New Jersey"
                            },
                            {
                                key: "NM",
                                value: "New Mexico"
                            },
                            {
                                key: "NV",
                                value: "Nevada"
                            },
                            {
                                key: "NY",
                                value: "New York"
                            },
                            {
                                key: "OH",
                                value: "Ohio"
                            },
                            {
                                key: "OK",
                                value: "Oklahoma"
                            },
                            {
                                key: "OR",
                                value: "Oregon"
                            },
                            {
                                key: "PA",
                                value: "Pennsylvania"
                            },
                            {
                                key: "PR",
                                value: "Puerto Rico"
                            },
                            {
                                key: "RI",
                                value: "Rhode Island"
                            },
                            {
                                key: "SC",
                                value: "South Carolina"
                            },
                            {
                                key: "SD",
                                value: "South Dakota"
                            },
                            {
                                key: "TN",
                                value: "Tennessee"
                            },
                            {
                                key: "TX",
                                value: "Texas"
                            },
                            {
                                key: "UT",
                                value: "Utah"
                            },
                            {
                                key: "VA",
                                value: "Virginia"
                            },
                            {
                                key: "VT",
                                value: "Vermont"
                            },
                            {
                                key: "WA",
                                value: "Washington"
                            },
                            {
                                key: "WI",
                                value: "Wisconsin"
                            },
                            {
                                key: "WV",
                                value: "West Virginia"
                            },
                            {
                                key: "WY",
                                value: "Wyoming"
                            }
                        ]
                    },
                    editPartnerObj: {
                        type: Object,
                        notify: true,
                        value: {
                            controls: {
                                BusinessName: {
                                    label: "Business Name",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: true,
                                        minLen: 1,
                                        maxLen: 64
                                    }
                                },
                                DBA: {
                                    label: "DBA",
                                    type: "textbox",
                                    validations: {
                                        required: false,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false,
                                        minLen: 0,
                                        maxLen: 64
                                    }
                                },
                                NickName: {
                                    label: "Nick Name",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false,
                                        minLen: 0,
                                        maxLen: 64
                                    }
                                },
                                IncorporationDate: {
                                    label: "Incorporation Date",
                                    type: "date",
                                    format: COUNTRY[window.config.country].DATE_FORMAT.DATE,
                                    minFactor: 10,
                                    maxFactor: 0,
                                    validations: {
                                        required: true,
                                        min: false,
                                        max: false
                                    }
                                },
                                Notes: {
                                    label: "Notes",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: true,
                                        minLen: 1,
                                        maxLen: 64
                                    }
                                },
                                AddressLine1: {
                                    label: "Addreess Line1",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: true,
                                        minLen: 1,
                                        maxLen: 64
                                    }
                                },
                                AddressLine2: {
                                    label: "Address Line2",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: true,
                                        minLen: 1,
                                        maxLen: 64
                                    }
                                },
                                AddressLine3: {
                                    label: "Address Line3",
                                    type: "textbox",
                                    validations: {
                                        required: false,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: true,
                                        minLen: 1,
                                        maxLen: 64
                                    }
                                }, City: {
                                    label: "City",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: true,
                                        minLen: 1,
                                        maxLen: 64
                                    }
                                },
                                State: {
                                    label: "State",
                                    type: "combobox",
                                    selectList: [],
                                    labelKey: "value",
                                    labelValue: "key",
                                    validations: {
                                        required: true
                                    }
                                },
                                ZipCode: {
                                    label: "Zip Code",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: true,
                                        minLen: 1,
                                        maxLen: 64
                                    }
                                },
                                PrinOwnerFirstName: {
                                    label: "Principal Owner Firstname",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: true,
                                        minLen: 1,
                                        maxLen: 64
                                    }
                                },
                                PrinOwnerLastName: {
                                    label: "Principal Owner Lastname",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: true,
                                        minLen: 1,
                                        maxLen: 64
                                    }
                                },
                                PrinOwnerDateOfBirth: {
                                    label: "Principal Owner Date of Birth",
                                    type: "date",
                                    format: COUNTRY[window.config.country].DATE_FORMAT.DATE,
                                    minFactor: 10,
                                    maxFactor: 0,
                                    validations: {
                                        required: true,
                                        min: false,
                                        max: false
                                    }
                                },
                                ssn: {
                                    label: "Principal Owner SSN",
                                    type: "textbox",
                                    validations: {
                                        required: false,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: true,
                                        minLen: 1,
                                        maxLen: 64
                                    }
                                },
                                percentage: {
                                    label: "Owned Percentage",
                                    type: "textbox",
                                    validations: {
                                        required: false,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: true,
                                        minLen: 1,
                                        maxLen: 64
                                    }
                                },
                                PrinOwnerAddressLine1: {
                                    label: "Principal Owner Address line1",
                                    type: "textbox",
                                    validations: {
                                        required: false,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: true,
                                        minLen: 1,
                                        maxLen: 64
                                    }
                                },
                                PrinOwnerAddressLine2: {
                                    label: "Principal Owner Addressline2",
                                    type: "textbox",
                                    validations: {
                                        required: false,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: true,
                                        minLen: 1,
                                        maxLen: 64
                                    }
                                },
                                PrinOwnerAddressLine3: {
                                    label: "Principal Owner Address Line3",
                                    type: "textbox",
                                    validations: {
                                        required: false,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: true,
                                        minLen: 1,
                                        maxLen: 64
                                    }
                                }, PrinOwnerCity: {
                                    label: "Principal Owner City",
                                    type: "textbox",
                                    validations: {
                                        required: false,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: true,
                                        minLen: 1,
                                        maxLen: 64
                                    }
                                },
                                PrinOwnerState: {
                                    label: "Principal Owner State",
                                    type: "combobox",
                                    selectList: [],
                                    labelKey: "value",
                                    labelValue: "key",
                                    validations: {
                                        required: true
                                    }
                                },
                                PrinOwnerZipCode: {
                                    label: "Principal Owner Zip Code",
                                    type: "textbox",
                                    validations: {
                                        required: false,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: true,
                                        minLen: 1,
                                        maxLen: 64
                                    }
                                },
                                ein: {
                                    label: "EIN",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false,
                                        minLen: 0,
                                        maxLen: 64
                                    }
                                },
                                website: {
                                    label: "WebSite",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false,
                                        minLen: 0,
                                        maxLen: 64
                                    }
                                },
                            },
                            values: {
                                BusinessName: "",
                                DBA: "",
                                NickName: "",
                                IncorporationDate: "",
                                Notes: "",
                                AddressLine1: "",
                                AddressLine2: "",
                                AddressLine3: "",
                                City: "",
                                State: "",
                                ZipCode: "",
                                PrinOwnerFirstName: "",
                                PrinOwnerLastName: "",
                                PrinOwnerDateOfBirth: "",
                                ssn: "",
                                percentage: "",
                                PrinOwnerAddressLine1: "",
                                PrinOwnerAddressLine2: "",
                                PrinOwnerAddressLine3: "",
                                PrinOwnerCity: "",
                                PrinOwnerState: "",
                                PrinOwnerZipCode: "",
                                ein: "",
                                website: ""

                            }
                        }
                    }
                },
                raiseAppRefreshEvent: function () {
                    this.$.utilityep.raiseEvent(this.fireEvent, {});
                },
                init: function () {
                    self.populateEditFields();
                },
                populateEditFields: function () {
                    var self = this;
                    var params = self.$.urlep.getParams();
                    var partnerId = "/" + params.partner;
                    var partnersHost = window.config.services.partner;
                    self.$.httpep.get(partnerId, partnersHost).then(function (partnerDetailsObj) {
                        var editPartnerObj = self.get('editPartnerObj');
                        editPartnerObj.values.BusinessName = partnerDetailsObj.name;
                        editPartnerObj.values.DBA = partnerDetailsObj.dba;
                        editPartnerObj.values.NickName = partnerDetailsObj.nickName;
                        editPartnerObj.values.IncorporationDate = moment.tz(partnerDetailsObj.inCorporationDate.time, window.config.timezone).format("YYYY-MM-DD");
                        editPartnerObj.values.Notes = partnerDetailsObj.notes;
                        editPartnerObj.values.AddressLine1 = partnerDetailsObj.address.line1;
                        editPartnerObj.values.AddressLine2 = partnerDetailsObj.address.line2;
                        editPartnerObj.values.AddressLine3 = partnerDetailsObj.address.line3;
                        editPartnerObj.values.City = partnerDetailsObj.address.city;
                        editPartnerObj.controls.State.selectList = self.statesDropdown
                        editPartnerObj.values.State = partnerDetailsObj.address.state;
                        editPartnerObj.values.ZipCode = partnerDetailsObj.address.zipCode;
                        editPartnerObj.values.PrinOwnerFirstName = partnerDetailsObj.principalOwner.firstName;
                        editPartnerObj.values.PrinOwnerLastName = partnerDetailsObj.principalOwner.lastName;
                        editPartnerObj.values.PrinOwnerDateOfBirth = moment.tz(partnerDetailsObj.principalOwner.dateOfBirth, window.config.timezone).format("YYYY-MM-DD");
                        editPartnerObj.values.ssn = partnerDetailsObj.principalOwner.ssn;
                        editPartnerObj.values.percentage = partnerDetailsObj.principalOwner.ownedPercentage;
                        if (!_.isNull(partnerDetailsObj.principalOwner) && !_.isNull(partnerDetailsObj.principalOwner.address)) {
                            editPartnerObj.values.PrinOwnerAddressLine1 = partnerDetailsObj.principalOwner.address.line1;
                            editPartnerObj.values.PrinOwnerAddressLine2 = partnerDetailsObj.principalOwner.address.line2;
                            editPartnerObj.values.PrinOwnerAddressLine3 = partnerDetailsObj.principalOwner.address.line3;
                            editPartnerObj.values.PrinOwnerCity = partnerDetailsObj.principalOwner.address.city;
                            editPartnerObj.values.PrinOwnerState = partnerDetailsObj.principalOwner.address.state;
                            editPartnerObj.values.PrinOwnerZipCode = partnerDetailsObj.principalOwner.address.zipCode;
                        }
                        editPartnerObj.controls.PrinOwnerState.selectList = self.statesDropdown
                        editPartnerObj.values.ein = partnerDetailsObj.ein;
                        editPartnerObj.values.website = partnerDetailsObj.webSite;
                        self.set('editPartnerObj', $.extend({}, self.get('editPartnerObj'), editPartnerObj));
                        self.set("partnerDetails", partnerDetailsObj);
                    });
                },
                editPartner: function () {
                    event.preventDefault();
                    var self = this;
                    var params = self.$.urlep.getParams();
                    var url = "/" + params.partner;
                    var form = Polymer.dom(event).localTarget.parentElement;
                    var partnerHost = window.config.services.partner;
                    if (form.validate()) {
                        var partnerDetails = self.editPartnerDetails();
                        self.$.httpep.put(url, partnerDetails, partnerHost).then(function (data) {
                            self.raiseAppRefreshEvent();
                        }).fail(function (e) {
                            var msg = JSON.parse(e.responseText);
                            $('div#ErrorMessge p').html(msg["message"]);
                            $('div#ErrorMessge').show();
                            setTimeout(function () {
                                $('div#ErrorMessge').hide();
                            }, 2000);
                        });
                    }
                },
                editPartnerDetails: function () {
                    var partnerDetailsObj = this.partnerDetails;
                    partnerDetailsObj.name = this.editPartnerObj.values.BusinessName;
                    partnerDetailsObj.dba = this.editPartnerObj.values.DBA;
                    partnerDetailsObj.nickName = this.editPartnerObj.values.NickName;
                    partnerDetailsObj.inCorporationDate = moment.tz(this.editPartnerObj.values.IncorporationDate, window.config.timezone).format("YYYY-MM-DD");
                    partnerDetailsObj.notes = this.editPartnerObj.values.Notes;
                    partnerDetailsObj.address.line1 = this.editPartnerObj.values.AddressLine1;
                    partnerDetailsObj.address.line2 = this.editPartnerObj.values.AddressLine2;
                    partnerDetailsObj.address.line3 = this.editPartnerObj.values.AddressLine3;
                    partnerDetailsObj.address.city = this.editPartnerObj.values.City;
                    partnerDetailsObj.address.state = this.editPartnerObj.values.State;
                    partnerDetailsObj.address.zipCode = this.editPartnerObj.values.ZipCode;
                    partnerDetailsObj.principalOwner.firstName = this.editPartnerObj.values.PrinOwnerFirstName;
                    partnerDetailsObj.principalOwner.lastName = this.editPartnerObj.values.PrinOwnerLastName;
                    partnerDetailsObj.principalOwner.dateOfBirth = this.editPartnerObj.values.PrinOwnerDateOfBirth;
                    partnerDetailsObj.principalOwner.ssn = this.editPartnerObj.values.ssn;
                    partnerDetailsObj.principalOwner.ownedPercentage = this.editPartnerObj.values.percentage;
                    $.extend(partnerDetailsObj.principalOwner, { address: {} })
                    $.extend(partnerDetailsObj.principalOwner.address, { line1: "", line2: "", line3: "", city: "", state: "", zipCode: "" });
                    partnerDetailsObj.principalOwner.address.line1 = this.editPartnerObj.values.PrinOwnerAddressLine1;
                    partnerDetailsObj.principalOwner.address.line2 = this.editPartnerObj.values.PrinOwnerAddressLine2;
                    partnerDetailsObj.principalOwner.address.line3 = this.editPartnerObj.values.PrinOwnerAddressLine3;
                    partnerDetailsObj.principalOwner.address.city = this.editPartnerObj.values.PrinOwnerCity;
                    partnerDetailsObj.principalOwner.address.state = this.editPartnerObj.values.PrinOwnerState;
                    partnerDetailsObj.principalOwner.address.zipCode = this.editPartnerObj.values.PrinOwnerZipCode;
                    partnerDetailsObj.ein = this.editPartnerObj.values.ein;
                    partnerDetailsObj.website = this.editPartnerObj.values.website;
                    return partnerDetailsObj;
                }
            });
        });
    </script>
</dom-module>