<dom-module id="filter-list">
    <template>
        <style>
            div#queue_wrapper {
                text-align: center;
            }

            .export-button {
                margin: 15px 0 15px auto;
                display: block;
            }
        </style>
        <div class="row" id="filterContainer">
            <div class="col-md-12" id="tableContainer">
                <breadcrumb-links id="breadcrumbLinks"></breadcrumb-links>
                <br>
                <template is="dom-if" if="{{hasRole(componentMap,'ExportDataAction')}}">
                    <div class="row">
                        <div class="col-md-12">
                            <button id="Export" on-click="_exportData" class="btn btn-primary activity-action-btn export-button">Export Data</button>
                        </div>
                    </div>
                </template>
                <table id="queue" class="table table-striped" width="100%" cellspacing="0"></table>
            </div>
        </div>
        <url-parser id="urlfli"></url-parser>
        <http-request id="httpfli"></http-request>
        <alloy-format id="formatfli"></alloy-format>
        <lookup-service id="lookup"></lookup-service>
        <alloy-config id="configfli"></alloy-config>
        <session-manager id="sessionfli"></session-manager>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "filter-list",
                properties: {
                    applicationNumber: {
                        type: String,
                        notify: true
                    },
                    drawDownId: {
                        type: String,
                        notify: true,
                        value: ""
                    },
                    partnerId: {
                        type: String,
                        notify: true,
                        value: ""
                    },
                    applicantId: {
                        type: String,
                        notify: true
                    },
                    microAppName: {
                        type: String,
                        notify: true
                    },
                    currentEntityName: {
                        type: String,
                        notify: true,
                        value: 'application'
                    },
                    currentFilterName: {
                        type: String,
                        notify: true
                    },
                    tableObj: {
                        type: Object,
                        notify: true,
                        value: {}
                    },
                    filteredItems: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    searchName: {
                        type: String,
                        notify: true,
                        value: 'Search'
                    },
                    sourceType: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    filterConfig: {
                        type: Array,
                        notify: true
                    }
                },
                attached: function () {
                    window.addEventListener("hashchange", this.createHashChangedHandler());
                    this._loadFilterConfigurations();
                },
                detached: function () {
                    window.removeEventListener("hashchange", this.onHashChanged);
                },
                createHashChangedHandler: function () {
                    this.onHashChanged = function () {
                        var self = this;
                        var currentMicroApp = window.location.hash.slice(2).split("/")[0];
                        if (self.microAppName === currentMicroApp) {
                            self._loadFilterConfigurations();
                            self.$$('#breadcrumbLinks').init();
                        }
                    }.bind(this);
                    return this.onHashChanged;
                },
                _loadFilterConfigurations: function () {
                    var self = this;
                    var data = self.$.lookup.getLookupBasedOnName("sourceType");
                    self.set('sourceType', data);
                    var urlParams = self.$$('#urlfli').getParams();
                    self.set('microAppName', window.location.hash.slice(2).split("/")[0]);
                    self.set('currentFilterName', urlParams.filter);
                    if (urlParams.hasOwnProperty('entity')) {
                        self.set('currentEntityName', urlParams.entity);
                    }
                    if (self.currentEntityName === "loan") {
                        self.set("searchName", "SearchLoan");
                    }
                    else {
                        self.set("searchName", "Search");
                    }
                    var data = self.$.configfli.getConfigurationBasedOnKey("filters");
                    var config = _.cloneDeep(data[self.currentFilterName]);
                    var columnLength = config.columns.length;
                    for (var i = 0; i < columnLength; i++) {
                        if (config.columns[i].render != undefined) {
                            var render = config.columns[i].render;
                            if (config.columns[i].isFunction) {
                                config.columns[i].render = eval("(" + render + ")");
                            }
                            else {
                                config.columns[i].render = eval(render);
                            }
                        }
                    }
                    self._getFilteredApplicationList(config);
                },
                getSourceType: function (data) {
                    var self = this;
                    var obj = _.find(self.sourceType, ['key', data]);
                    if (!_.isUndefined(obj)) {
                        return obj.value || "NA";
                    }
                    return "NA";
                },
                _checkIfEmptyObject: function (obj) {
                    return Object.keys(obj).length === 0 && obj.constructor === Object;
                },
                _getFilteredApplicationList: function (filterConfig) {
                    var self = this;
                    var table = self.tableObj;
                    var loanFilters = window.config.services.savedFilters;
                    $.fn.dataTable.ext.errMode = 'none';
                    if (!_.isUndefined(table) && !_.isNull(table) && !self._checkIfEmptyObject(table)) {
                        table.clear();
                        table.destroy(true);
                        $('#tableContainer').append($('<table/>').attr('id', 'queue').css('width', '100%').addClass('table table-striped'));
                    }
                    table = self.tableObj = $('#queue').DataTable({
                        serverSide: true,
                        ajax: function (data, success) {
                            var page = data.start / data.length;
                            page = page + 1;
                            var draw = data.draw;
                            var sortObj = _.transform(data.order, function (result, item) {
                                var columnObj = data.columns[item.column];
                                result[columnObj.data] = item.dir === "desc" ? -1 : 1;
                            }, {});
                            var payload = { sorts: sortObj };
                            if (self.currentFilterName === "AssignedApplications") {
                                payload.searchFilterView = [{ "Assignees.v": self.$.sessionfli.get("username") }];
                            }
                            if (self.currentFilterName === "UnAssignedApplications") {
                                payload.searchFilterView = [{ "Assignees.k": { '$nin': JSON.parse(self.$.sessionfli.get("role")) } }];
                            }
                            if (self.currentFilterName === "PollingVoting") {
                                var sha256 = new jsSHA('SHA-256', 'TEXT');
                                sha256.update(self.$.sessionfli.get("username"));
                                var hashUser = sha256.getHash("HEX");
                                hashUser = "votes." + hashUser;
                                var keyVal = '{"' + hashUser + '": {"' + "$exists" + '":' + false + '}}';
                                var obj = JSON.parse(keyVal);
                                payload.searchFilterView = [];
                                payload.searchFilterView.push({ "entityType": "application" });
                                payload.searchFilterView.push({ "participants.id": self.$.sessionfli.get("username") });
                                payload.searchFilterView.push(obj);
                            }
                            $.ajax({
                                url: loanFilters + '/' + self.currentEntityName + '/' + self.searchName + '/' + self.currentFilterName + '?pageSize=' + data.length + '&page=' + page,
                                type: 'POST',
                                contentType: 'application/json',
                                data: JSON.stringify(payload),
                                headers: {
                                    'Authorization': "Bearer " + self.$.sessionfli.get('token')
                                },
                                complete: function (data) {
                                    var totalCount = parseInt(data.getResponseHeader('X-TOTAL-COUNT'));
                                    self.set('filteredItems', data.responseJSON);
                                    self.fire('iron-signal', { name: 'displaytotalcount', data: { totalRecords: data.getResponseHeader('X-TOTAL-COUNT') } });
                                    var gridData = {
                                        "draw": draw,
                                        "recordsTotal": parseInt(data.getResponseHeader('X-TOTAL-COUNT')),
                                        "recordsFiltered": parseInt(data.getResponseHeader('X-TOTAL-COUNT')),
                                        "data": data.responseJSON
                                    }
                                    $('html, body').animate({
                                        scrollTop: ($('#tableContainer').first().offset().top)
                                    }, 500);
                                    if (totalCount === 0) {
                                        $('#Export').hide();
                                    } else {
                                        $('#Export').show();
                                    }
                                    success(gridData);
                                }
                            });
                        },
                        dom: "<'row'<'col-sm-12'tr>><'row'<'col-sm-12'lt>>" +
                            "<'row'<'col-sm-5'i><'col-sm-7'p>>",
                        columns: filterConfig.columns,
                        columnDefs: filterConfig.columnDefs,
                        order: filterConfig.order,
                        language: {
                            lengthMenu: "show_MENU_ loans",
                            zeroRecords: "No loans found.",
                            info: "Showing _START_ to _END_ of _TOTAL_ loans",
                            infoEmpty: "",
                            infoFiltered: "(filtered from _MAX_ total loans)"
                        }
                    });
                    setTimeout(function () {
                        $('#queue tbody').on('click', 'a', function () {
                            var data = table.row($(this).parents('tr')).data();
                            self[this.getAttribute("on-click")](data);
                        });
                        $('#queue tbody').on('click', 'button', function () {
                            var data = table.row($(this).parents('tr')).data();
                            self[this.getAttribute("on-click")](data);
                        });
                        //Grid header tooltip
                        var configData = $('#queue').dataTable().dataTableSettings[0].aoColumns;
                        $('#queue thead tr')[0].childNodes.forEach(function (obj) {
                            var tooltipObj = _.filter(configData, { title: obj.innerText })
                            if (!_.isUndefined(tooltipObj) && !_.isNull(tooltipObj) && !_.isEmpty(tooltipObj)) {
                                var tooltip = tooltipObj[0].tooltip;
                                if (tooltip !== "" && tooltip !== undefined) {
                                    $(obj).attr('title', tooltip);
                                }
                            }
                        });
                    }, 700);
                },
                locOpenAppView: function (item) {
                    var self = this;
                    var url = "/application/" + item.LocNumber + "/statusworkflow";
                    self.$.httpfli.get(url, window.config.services.statusManagement).then(function (data) {
                        var redirect = "/app-details/entity:application/filter:Application";
                        redirect = redirect + "/app:" + item.LocNumber + "/product:" + data.productId + "/workflow:" + data.statusWorkFlowId;
                        window.location.hash = redirect;
                    }).fail(function (e) {
                        console.error("get application detail error is ", e);
                    });
                },
                openVotingView: function (item) {
                    var self = this;
                    self.set("pollId", item._id);
                    window.location.hash = "/poll-details/entity:" + self.currentEntityName + "/filter:" + self.currentFilterName + "/pollId:" + item._id;
                },
                openPartnerView: function (item) {
                    this.set("partnerId", item.PartnerId);
                    window.location.hash = "/partner-details/entity:" + this.currentEntityName + "/filter:" + this.currentFilterName + "/partner:" + this.partnerId;
                },
                openLoanView: function (item) {
                    var self = this;
                    self.set("productId", item.LoanProductId);
                    self.set("statusWorkFlowId", item.StatusWorkFlowId);
                    window.location.hash = "/loan-details/entity:" + self.currentEntityName + "/filter:" + self.currentFilterName + "/loanId:" + item.LoanNumber + "/product:" + self.productId + "/workflow:" + self.statusWorkFlowId;
                },
                openAppView: function (item) {
                    var self = this;
                    var params = self.$$('#urlfli').getParams();
                    var url = "/app-details/entity:" + self.currentEntityName + "/filter:" + self.currentFilterName;
                    self.set("statusName", item.StatusName);
                    if (item.hasOwnProperty('ApplicationNumber')) {
                        self.set("applicationNumber", item.ApplicationNumber);
                    } else {
                        self.set("applicationNumber", item.LocNumber);
                        self.set("drawdownId", item.DrawDownId);
                    }
                    self.set("applicantId", item.ApplicantId);
                    self.set("productId", item.ProductId);
                    self.set("statusWorkFlowId", item.StatusWorkFlowId);
                    if (item.StatusCode === "200.10" && params.filter === "LeadCreated") {
                        url = "/application/app:" + self.applicationNumber;
                    }
                    else if (self.applicantId !== null && self.applicantId !== undefined) {
                        url = url + "/app:" + self.applicationNumber + "/applicantId:" + self.applicantId + "/product:" + self.productId + "/workflow:" + self.statusWorkFlowId;
                    }
                    else {
                        url = url + "/app:" + self.applicationNumber + "/product:" + self.productId + "/workflow:" + self.statusWorkFlowId;
                    }
                    if (self.drawdownId !== "" && self.drawdownId !== undefined) {
                        url = url + "/drawdownId:" + self.drawdownId;
                    }
                    window.location.hash = url;
                },
                currencyFormat: function (value) {
                    if (value) {
                        value = new Number(value);
                        var amount = value.toFixed(0);
                        amount = amount.toString();
                        var lastThree = amount.substring(amount.length - 3);
                        var otherNumbers = amount.substring(0, amount.length - 3);
                        if (otherNumbers != '')
                            lastThree = ',' + lastThree;
                        var res = otherNumbers.replace(/\B(?=(\d{2})+(?!\d))/g, ",") + lastThree;
                        return res;
                    }
                    else {
                        return 0.00;
                    }
                },
                formatMoney: function (value) {
                    if (typeof (value) != Number)
                        value = new Number(value);
                    return value.formatMoney(2);
                },
                formatCurrency: function (data) {
                    return formats.money(data, window.config.country, 0);
                },
                formatDate: function (date) {
                    if (typeof this.$.formatfli.formatDate === "function") {
                        return this.$.formatfli.formatDate(date);
                    }
                    return "";
                },
                _exportData: function () {
                    var self = this;
                    var token = self.$.sessionfli.get("token");
                    var savefilterservice = window.config.services.savedFilters;
                    var xhr = new XMLHttpRequest();
                    xhr.open('GET', savefilterservice + "/" + self.currentEntityName + "/ExportData/" + self.currentFilterName);
                    xhr.setRequestHeader('Authorization', "Bearer " + token);
                    xhr.responseType = 'blob';
                    xhr.onload = function (e) {
                        if (this.status == 200) {
                            var blob = new Blob([this.response], {
                                type: this.response.type
                            });
                            var link = document.createElement('a');
                            link.href = window.URL.createObjectURL(blob);
                            link.download = "ExportedData.csv";
                            link.click();
                        }
                    };
                    xhr.onerror = function (e) {
                        console.error("Error " + e.target.status + " occurred while receiving the document.");
                    };
                    xhr.send();
                },
                getProductName: function (data) {
                    var self = this;
                    var productNameList = self.$.configfli.getConfigurationBasedOnKey("productNameList");
                    var obj = _.find(productNameList, ['productId', data]);
                    return (obj != undefined && obj != null && obj != "") ? obj.productName : data;
                },
                getTerm: function (data) {
                    var self = this;
                    var term = data.Tenure + ' ';
                    switch (data.PaymentFrequency) {
                        case "Daily":
                            term = term + "Days";
                            break;
                        case "Weekly":
                            term = term + "Weeks";
                            break;
                        case "BiWeekly":
                            term = term + "BiWeeks";
                            break;
                        case "Monthly":
                            term = term + "Months";
                            break;
                        case "Quarterly":
                            term = term + "Quarters";
                            break;
                        case "Yearly":
                            term = term + "Years";
                            break;
                        default:
                            break;
                    }
                    return term;
                },
            });
        });
    </script>
</dom-module>