<dom-module id="profile-notification">
    <template>
        <style>
            .notification {
                font-size: 20px !important;
            }

            .dropdown-menu>li>a {
                padding: 0px 8px 3px;
            }

            .dropdown-menu li small {
                display: block;
            }

            .fa-angle-down {
                margin: 20px auto;
                font-size: 20px;
            }

            .setbackground {
                color: #fff;
                border-radius: 20px;
                background-color: #03466B;
                padding: 4px;
                position: relative;
                margin-top: 0px;
            }

            .setbackgroundAlert {
                color: red;
                border-radius: 20px;
                background-color: #03466B;
                padding: 4px;
            }

            .nocursor {
                cursor: default !important;
            }

            .alink {
                color: #337ab7 !important;
            }

            .viewAll {
                padding-top: 15px !important;
                padding-bottom: 15px !important;
                color: #000 !important;
            }

            .setfontSize {
                font-size: 11px !important;
            }

            .other {
                color: #9a9d9f !important;
            }

            .noAlert {
                color: red;
                border-radius: 20px;
                padding: 4px;
                position: absolute;
                margin: -30px 0px 0px 19px;
            }

            .yesAlert {
                color: red;
                border-radius: 20px;
                background-color: red;
                padding: 5px;
                position: absolute;
                margin: -30px 0px 0px 19px;
            }

            .lineHeight {
                line-height: 2.5 !important;
            }
        </style>
        <ul class="nav navbar-top-links navbar-right">
            <li class="dropdown">
                <i class="fa fa-bell-o notification setbackground" aria-hidden="true" data-toggle="dropdown"
                    role="button" aria-expanded="false" on-click="getAllNotification">
                </i>
                <span class$="{{applyClass}}"></span>
                <ul class="dropdown-menu">
                    <template is="dom-if" if="{{checkHasNewRecords(unReadNotification)}}">
                        <li>
                            <a href="javascript:void(0)" class="nocursor">
                                <b>New</b>
                            </a>
                        </li>
                        <li class="divider"></li>
                    </template>
                    <template id="newNotification" is="dom-repeat" items="{{unReadNotification}}" as="unread">
                        <li class="lineHeight">
                            <a href="javascript:void(0)" on-click="openAppView" class="setfontSize"
                                style="margin:0;display:inline;" data-args="{{unread}}">
                                <span class="alink">{{unread.applicationNumber}}</span>
                                <span class="other"> - {{unread.title}}</span>
                            </a>
                        </li>
                    </template>
                    <template is="dom-if" if="{{checkHasOldRecords(readNotification)}}">
                        <li>
                            <a href="javascript:void(0)" class="nocursor">
                                <b>Earlier</b>
                            </a>
                        </li>
                        <li class="divider"></li>
                    </template>
                    <template id="newNotification" is="dom-repeat" items="{{readNotification}}" as="read">
                        <li class="lineHeight">
                            <a href="javascript:void(0)" class="setfontSize" on-click="openAppView"
                                style="margin:0;display:inline;" data-args="{{read}}">
                                <span class="alink">{{read.applicationNumber}}</span>
                                <span class="other">- {{read.title}}</span>
                            </a>
                        </li>
                    </template>
                    <li>
                        <center>
                            <a on-click="viewAllNotification" class="viewAll" href="javascript:">View All</a>
                        </center>
                    </li>
                </ul>
            </li>
        </ul>
        <url-parser id="url"></url-parser>
        <http-request id="httpps"></http-request>
        <session-manager id="sessionps"></session-manager>
        <alloy-config id="configps" alloy-configuration="{{configuration}}"></alloy-config>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: 'profile-notification',
                properties: {
                    originalNotification: {
                        type: Array,
                        notify: true
                    },
                    readNotification: {
                        type: Array,
                        notify: true
                    },
                    unReadNotification: {
                        type: Array,
                        notify: true
                    },
                    applyClass: {
                        type: String,
                        notify: true
                    },
                    defaultClass: {
                        type: String,
                        notify: true,
                        value: "noAlert"
                    },
                    alertClass: {
                        type: String,
                        notify: true,
                        value: "yesAlert"
                    },
                    user: {
                        type: Object,
                        notify: true
                    }
                },
                ready: function () {
                    var self = this;
                    self.set("applyClass", self.defaultClass);
                    var refreshTimeForNotification = self.$.configps.getConfigurationBasedOnKey("refreshTimeForNotification");
                    if (refreshTimeForNotification !== undefined) {
                        var chkTabLoaded = setInterval(function () {
                            var token = self.$.sessionps.get("token");
                            if (token !== undefined && token !== null && token !== "") {
                                self.checkNewNotification();
                            }
                            else {
                                clearInterval(chkTabLoaded);
                            }
                        }, refreshTimeForNotification);
                    }
                },
                checkNewNotification: function () {
                    var self = this;
                    self.$.httpps.get("/", window.config.services.inbox, false).then(function (data) {
                        var unread = _.filter(data, { isRead: false });
                        if (unread !== undefined && unread !== null && unread != "" && unread.length > 0) {
                            self.set("applyClass", self.alertClass);
                        }
                        else {
                            self.set("applyClass", self.defaultClass);
                        }
                    }).fail(function (e) {
                        console.log("notification error");
                    });
                },
                getAllNotification: function () {
                    var self = this;
                    var notificationNewEntryCount = self.$.configps.getConfigurationBasedOnKey("notificationNewEntryCount");
                    var notificationOlderEntryCount = self.$.configps.getConfigurationBasedOnKey("notificationOlderEntryCount");
                    self.$.httpps.get("/", window.config.services.inbox, true).then(function (data) {
                        self.set("originalNotification", data);
                        _.forEach(data, function (element) {
                            var _app = "";
                            var _entityType = "";
                            var body = element.body;
                            if ((body.indexOf("$#") !== -1) && (body.indexOf("#$") !== -1)) {
                                var entityData = body.substring(body.indexOf("$#") + 2);
                                entityData = entityData.substring(0, entityData.indexOf("#$"));
                                var arrayEntity = entityData.split('|');
                                if (arrayEntity !== undefined && arrayEntity.length > 0) {
                                    _entityType = arrayEntity[0];
                                    if (arrayEntity[1] !== undefined) {
                                        _app = arrayEntity[1];
                                    }
                                }
                            }
                            _.extend(element, {
                                applicationNumber: _app,
                                entityType: _entityType,
                                body: element.body.substring(0, element.body.indexOf("$#")),
                                title: (element.subject === "Loan on-boarded")?(" "+ element.subject):(" " + element.subject + " at " + self.formatDate(element.date))
                            });
                        });
                        var read = _.filter(data, { isRead: true });
                        var unread = _.filter(data, { isRead: false });
                        var readSortby = _.orderBy(read, ['date'], ['desc']);
                        var unreadSortBy = _.orderBy(unread, ['date'], ['desc']);
                        var unreadTaken = _.take(unreadSortBy, notificationNewEntryCount);
                        var readTaken = _.take(readSortby, notificationOlderEntryCount);
                        self.set("unReadNotification", unreadTaken);
                        self.set("readNotification", readTaken);
                        self.updateNotification();
                    }).fail(function (e) {
                        console.log("notification Error");
                    });
                },
                formatDate: function (date) {
                    if (date !== undefined) {
                        return moment.tz(date, window.config.timezone).format(COUNTRY[window.config.country].DATE_FORMAT.DATE_TIMEZONE);
                    }
                    return "";
                },
                updateNotification: function () {
                    var self = this;
                    var url = "";
                    var AllUnread = _.filter(self.originalNotification, { isRead: false });
                    _.forEach(AllUnread, function (item) {
                        self.$.httpps.get("/" + item.id, window.config.services.inbox, false).then(function (data) {
                            self.set("applyClass", self.defaultClass);
                        }).fail(function (e) {
                            console.log("notification Error");
                        });
                    });
                },
                viewAllNotification: function () {
                    var self = this;
                    window.location.hash = "/recent-activity/filter:activity";
                },
                checkHasNewRecords: function (newRecords) {
                    return (newRecords !== undefined && newRecords.length > 0) ? true : false;
                },
                checkHasOldRecords: function (oldRecords) {
                    return (oldRecords !== undefined && oldRecords.length > 0) ? true : false;
                },
                openAppView: function (e) {
                    var self = this;
                    var objPayload = e.currentTarget.dataArgs;
                    self.redirectToNewProduct(objPayload);
                },
                redirectToNewProduct: function (objPayload) {
                    var self = this;
                    var url = "";
                    if (objPayload.entityType === "application") {
                        url = "/application/" + objPayload.applicationNumber + "/statusworkflow";
                    }
                    else if (objPayload.entityType === "loan") {
                        url = "/loan/" + objPayload.applicationNumber + "/statusworkflow";
                    }
                    else {
                        url = "/drawdown/" + objPayload.applicationNumber + "/statusworkflow";
                    }
                    var params = self.$.url.getParams();
                    self.$.httpps.get(url, window.config.services.statusManagement).then(function (data) {
                        if (objPayload.entityType === "application") {
                            var redirect = "/app-details/entity:application/filter:Application";
                            redirect = redirect + "/app:" + objPayload.applicationNumber + "/product:" + data.productId + "/workflow:" + data.statusWorkFlowId;
                            window.location.hash = redirect;
                            if (params.app !== undefined && params.app !== null && params.app !== "") {
                                window.location.reload();
                            }
                        }
                        else if (objPayload.entityType === "loan") {
                            var redirect = "/loan-details/entity:loan/filter:Loan";
                            redirect = redirect + "/loanId:" + objPayload.applicationNumber + "/product:" + data.productId + "/workflow:" + data.statusWorkFlowId;
                            window.location.hash = redirect;
                            if (params.loanId !== undefined && params.loanId !== null && params.loanId !== "") {
                                window.location.reload();
                            }
                        }
                        else {
                            var redirect = "/app-details/entity:drawdown/filter:Drawdown";
                            redirect = redirect + "/app:" + objPayload.applicationNumber + "/product:" + data.productId + "/workflow:" + data.statusWorkFlowId + "/drawdownId:" + objPayload.applicationNumber;
                            window.location.hash = redirect;
                            if (params.app !== undefined && params.app !== null && params.app !== "") {
                                window.location.reload();
                            }
                        }
                    }).fail(function (e) {
                        console.error("initiat fact verification error is ", e);
                    });
                }
            });
        });
    </script>
</dom-module>