<dom-module id="profile-summary">
	<template>
		<style>
			.my-image {
				--image-circle-width: 50px;
				--image-circle-height: 50px;
				--image-circle-margin-x: 5px;
				--image-circle-margin-y: 5px;
				--image-circle-text-font-size: 14px;
			}

			.dropdown-menu>li>a {
				padding: 0px 8px 3px;
			}

			.dropdown-menu li small {
				display: block;
			}

			.fa-angle-down {
				margin: 20px auto;
				font-size: 20px;
			}
		</style>

		<ul class="nav navbar-top-links navbar-right">
			<li class="dropdown">
				<image-circle class="my-image dropdown-toggle" data-toggle="dropdown" img-obj="{{user}}" username-prop="username" full-username-prop="name"></image-circle>
				<i class="fa fa-angle-down dropdown-toggle" aria-hidden="true" data-toggle="dropdown" role="button" aria-expanded="false"></i>
				<ul class="dropdown-menu">
					<li>
						<a href="javascript:" class="no-underline" on-click="_editProfile">Settings</a>
					</li>
					<li class="divider"></li>
					<li></li>
					<li>
						<a on-click="logout" href="javascript:">Log out</a>
					</li>
				</ul>
			</li>
		</ul>
		<http-request id="httpps"></http-request>
		<session-manager id="sessionps"></session-manager>
		<alloy-config id="configps" alloy-configuration="{{configuration}}"></alloy-config>
	</template>
	<script>
		HTMLImports.whenReady(function () {
			Polymer({
				is: 'profile-summary',
				properties: {
					user: {
						type: Object,
						notify: true
					}
				},
				ready: function () {
					this.loadUser();
				},
				loadUser: function () {
					var self = this;
					self.$.httpps.get("/user-info/", "").then(function (user) {
						self.$.sessionps.set("userEmail", user.email);
						self.$.sessionps.set("userName", user.name);
						self.$.sessionps.set("userRoles", user.roles);
						user.name = _.startCase(user.name);
						self._fetchUserImage(user);
					});
				},
				_fetchUserImage: function (userObj) {
					var self = this;
					var url = "/user/" + userObj.username + "/profile.png";
					var assetService = window.config.services.assetService;
					self.$.httpps.get(url, assetService).then(function (result) {
						if (result.hasOwnProperty('url') && !_.isUndefined(result.url) && !_.isNull(result.url)) {
							_.extend(userObj, {
								url: result.url,
								fullName: userObj.name
							});
						}
						else {
							_.extend(userObj, {
								url: null,
								fullName: userObj.name
							});
						}
						self.set('user', userObj);
					}).fail(function (e) {
						_.extend(userObj, {
							url: null,
							fullName: userObj.name
						});
						self.set('user', userObj);
					});
				},
				_editProfile: function () {
					window.location.hash = "/update-user/id:" + this.user.id + "/editMode:" + true;
				},
				logout: function () {
					var self = this;
					return self.$.httpps.get("/logout/", "", true).done(function () {
						window.localStorage.clear();
						window.location.hash = self.configuration.public.url;
					});
				}
			});
		});
	</script>
</dom-module>