<dom-module id="collection-details">
    <template>
        <style>
            .modal-dialogLM {
                margin: 10% auto;
                width: 800px !important;
            }

            .header {
                font-size: 12px !important;
                font-weight: 700 !important;
                color: white !important;
                background-color: #03466B !important;
            }

            .header_1 {
                height: 1px;
                color: black;
                background-color: #f7f7f7;
            }

            address {
                margin-bottom: 20px;
                font-style: normal;
                line-height: 1.42857143;
            }

            strong {
                display: block;
            }

            .bank-name {
                height: 1px;
                color: #03466B;
                background-color: #ddd;
            }

            .set-vertical-height {
                height: 450px;
                overflow-y: auto;
                overflow-x: hidden;
            }

            .panel-group {
                margin-bottom: 20px !important;
            }

            .panel-group .panel {
                border-radius: 0;
                box-shadow: none;
                border-color: #EEEEEE;
            }

            .panel.panel-default {
                margin-bottom: 0px !important;
            }

            .panel-default>.panel-heading {
                padding: 0;
                border-radius: 0;
                color: #03466B;
                background-color: #ddd;
                border-color: #ddd;
            }

            .panel-default>.panel-heading1 {
                padding: 0;
                border-radius: 0;
                color: #03466B;
                background-color: #ddd;
                border-color: #ddd;
            }

            .panel-title {
                font-size: 14px;
            }

            .panel-title>a {
                display: block;
                padding: 15px;
                text-decoration: none;
            }

            .more-less {
                float: right;
            }

            .panel-default>.panel-heading+.panel-collapse>.panel-body {
                border-top-color: #EEEEEE;
            }
        </style>
        <div class="row">
            <div class="col-sm-12">
                <div id="loanModeMessageContainerCollection"></div>
                <table class="table">
                    <tbody>
                        <tr>
                            <th colspan="6" class="header">Modify Payments Details</th>
                        </tr>
                        <template is="dom-if" if="{{hasLoanMod(scheduleList,currentScheduleLoanMod)}}">
                            <tr>
                                <td colspan="6">
                                    <div class="col-lg-4">
                                        <vaadin-combo-box name="scheduledropdowns" value="{{selectedScheduleVersion}}" item-value-path="key" item-label-path="value"
                                            items="{{allScheduleVersion}}" label="Select Schedule" prevent-invalid-input="true"
                                            on-change="_onVersionChange">
                                        </vaadin-combo-box>
                                    </div>
                                    <div class="col-lg-4">
                                        <a on-click="_viewMoreInfo" href="javascript:">
                                            View Version Details
                                        </a>
                                        <br>As of date: {{formatDate(currentScheduleLoanMod.remainderDetails.asOfDate)}}
                                    </div>
                                    <div class="col-lg-4">
                                        <template is="dom-if" if="{{hasReviewApproveAccess(hasAccess)}}">
                                            <a on-click="_openSubFlow" href="javascript:">
                                                {{approvalLBL}}
                                            </a>
                                        </template>
                                        <template is="dom-if" if="{{checkStatusLoanMod(currentScheduleLoanMod,activateLoanMod,approvalLBL)}}">
                                            <a on-click="activateSchedule" href="javascript:" data-arg="{{currentScheduleLoanMod.id}}">
                                                Activate Schedule
                                            </a>
                                        </template>
                                        <template is="dom-if" if="{{checkCreatedLoan(currentScheduleLoanMod)}}">
                                            <i aria-hidden="true" class="fa fa-pencil-square-o" title="Edit loan mod" data-arg="{{currentScheduleLoanMod.id}}" on-click="EditloanMod"></i>
                                        </template>
                                    </div>
                                </td>
                            </tr>
                        </template>
                    </tbody>
                </table>
                <table class="table">
                    <tbody>
                        <template is="dom-if" if="{{hasLoanMod(scheduleList,currentScheduleLoanMod)}}">
                            <tr>
                                <th>Current Coll. Stage</th>
                                <td>{{loanData.collectionStage}}</td>
                                <th>Next Coll. Stage</th>
                                <td>{{currentScheduleLoanMod.nextEscalationStage}}</td>
                            </tr>
                            <tr>
                                <th># of Missed Payments for Esca.</th>
                                <td>{{currentScheduleLoanMod.paymentFailure}}</td>
                                <th>Mod Reason</th>
                                <td>{{currentScheduleLoanMod.modReason}}</td>
                            </tr>
                            <tr>
                                <th>Remainder Principal</th>
                                <td>{{formatMoney(currentScheduleLoanMod.remainderDetails.remainderPrincipal)}}</td>
                                <th>Remainder Interest</th>
                                <td>{{formatMoney(currentScheduleLoanMod.remainderDetails.remainderInterest)}}</td>

                            </tr>
                            <tr>
                                <th>Remainder Fees</th>
                                <td>{{formatMoney(currentScheduleLoanMod.remainderDetails.remainderFee)}}</td>
                                <th>Remainder Total</th>
                                <td>{{formatMoney(currentScheduleLoanMod.remainderDetails.remainderAmount)}}</td>
                            </tr>
                        </template>
                        <tr>
                            <td id="moreDetails" colspan="4">
                                <div class="panel-group Accheader-tab" id="daPanel" role="tablist" aria-multiselectable="false">
                                    <div id="da" class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="daHeading">
                                            <h4 class="panel-title">
                                                <a role="button" data-toggle="collapse" data-parent="#daPanel" href="#daOne" aria-expanded="true" aria-controls="daOne">
                                                    <i class="more-less fa fa-minus"></i>View Payment Schedule List
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="daOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="daHeading">
                                            <div class="panel-body">
                                                <div class="panel-group" id="collSchedule" role="tablist" aria-multiselectable="false">
                                                    <table id="queueCastScheduleCollection" class="table table-striped" width="100%" cellspacing="0"></table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table class="table">
                    <tbody>
                        <tr>
                            <th colspan="6" class="header">Collection Details</th>
                        </tr>
                        <template is="dom-repeat" items="{{otherContacts}}" as="otherCon">
                            <tr>
                                <th colspan="5" class="bank-name">Collection Details</th>
                                <th colspan="1" class="bank-name">
                                    <i aria-hidden="true" class="fa fa-pencil-square-o" data-arg="{{otherCon.id}}" on-click="EditContact"></i>
                                </th>
                            </tr>
                            <template is="dom-repeat" items="{{otherCon.collectionDetails}}" as="collectionD">
                                <tr>
                                    <th>Evaluation</th>
                                    <td colspan="2">{{findevaluation(collectionD.evaluation)}}</td>
                                    <th>Reason For Non Payment</th>
                                    <td colspan="2">{{findreasonForNonPayment(collectionD.reasonForNonPayment)}}</td>
                                </tr>
                                <tr>
                                    <th>Situation</th>
                                    <td colspan="2">{{collectionD.situation}}</td>
                                </tr>
                            </template>
                            <tr>
                                <th colspan="6" class="bank-name">Email Details</th>
                            </tr>
                            <template is="dom-repeat" items="{{otherCon.email}}" as="email">
                                <tr>
                                    <th>Contact Person</th>
                                    <td>{{email.contactPerson}}</td>
                                    <th>Relation</th>
                                    <td>{{findrelations(email.relation)}}</td>
                                    <th>Active</th>
                                    <td>
                                        <i class$="{{_checkIfPrimary(email.active)}}" aria-hidden="true"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Email Type</th>
                                    <td>{{findemailTypes(email.emailType)}}</td>
                                    <th>Email Address</th>
                                    <td colspan="3">{{email.emailAddress}}</td>
                                </tr>
                                <tr>
                                    <td colspan="6" class="header_1"></td>
                                </tr>
                            </template>
                            <tr>
                                <th colspan="6" class="bank-name">Phone Details</th>
                            </tr>
                            <template is="dom-repeat" items="{{otherCon.phone}}" as="phone">
                                <tr>
                                    <th>Contact Person</th>
                                    <td>{{phone.contactPerson}}</td>
                                    <th>Relation</th>
                                    <td>{{findrelations(phone.relation)}}</td>
                                    <th>Active</th>
                                    <td>
                                        <i class$="{{_checkIfPrimary(phone.active)}}" aria-hidden="true"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Phone Type</th>
                                    <td>{{findphoneTypes(phone.phoneType)}}</td>
                                    <th>Phone No</th>
                                    <td>{{_phoneFormat(phone.phoneNo)}}</td>
                                    <th>Availability Notes</th>
                                    <td>{{phone.availabilityNotes}}</td>
                                </tr>
                                <tr>
                                    <td colspan="6" class="header_1"></td>
                                </tr>
                            </template>
                            <tr>
                                <th colspan="6" class="bank-name">Address Details</th>
                            </tr>
                            <template is="dom-repeat" items="{{otherCon.address}}" as="address">
                                <tr>
                                    <th>Contact Person</th>
                                    <td>{{address.contactPerson}}</td>
                                    <th>Relation</th>
                                    <td>{{findrelations(address.relation)}}</td>
                                    <th>Active</th>
                                    <td>
                                        <i class$="{{_checkIfPrimary(address.active)}}" aria-hidden="true"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Address Type</th>
                                    <td>{{findAddressType(address.addressType)}}</td>
                                    <th>Availability Notes</th>
                                    <td colspan="3">{{address.availabilityNotes}}</td>
                                </tr>
                                <tr>
                                    <th>Address</th>
                                    <td colspan="5">{{_getOtherAddress(address)}}</td>
                                </tr>
                                <tr>
                                    <td colspan="6" class="header_1"></td>
                                </tr>
                            </template>
                            <tr>
                                <td colspan="6" class="header_1"></td>
                            </tr>
                        </template>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row divideborder">
        </div>
        <div id="AllLoanModVersion" class="modal fade" role="dialog">
            <div class="modal-dialogLM">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Loan Mod Schedule Version Details</h4>
                    </div>
                    <div class="modal-body">

                        <div class="row set-vertical-height">
                            <template is="dom-repeat" items="{{modScheduleList}}" as="schedule">
                                <table class="table table-striped" id="scheduleDetailsTable" style="width:100%;">
                                    <tr>
                                        <th colspan="5" class="header">{{schedule.scheduleVersionNo}}</th>
                                        <th colspan="1" class="header">

                                        </th>
                                    </tr>
                                    <tr>
                                        <th>Current Collection Stage</th>
                                        <td>{{loanData.collectionStage}}</td>
                                        <th># of Missed Payments for Escalation</th>
                                        <td>{{schedule.paymentFailure}}</td>
                                        <th>Next Collection Stage</th>
                                        <td>{{schedule.nextEscalationStage}}</td>
                                    </tr>
                                    <tr>
                                        <th>Mod Reason</th>
                                        <td>{{schedule.modReason}}</td>
                                        <th>Mod Status</th>
                                        <td>{{checkStatus(schedule.modStatus)}}</td>
                                        <th></th>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th>Remainder Principal</th>
                                        <td>{{formatMoney(schedule.remainderDetails.remainderPrincipal)}}</td>
                                        <th>Remainder Interest</th>
                                        <td>{{formatMoney(schedule.remainderDetails.remainderInterest)}}</td>
                                        <th>Remainder Fees</th>
                                        <td>{{formatMoney(schedule.remainderDetails.remainderFee)}}</td>
                                    </tr>
                                    <tr>
                                        <th>Remainder Total</th>
                                        <td>{{formatMoney(schedule.remainderDetails.remainderAmount)}}</td>
                                        <th>As of Date</th>
                                        <td>{{formatDate(schedule.remainderDetails.asOfDate)}}</td>
                                        <th></th>
                                        <td></td>
                                    </tr>
                                </table>
                            </template>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <lookup-service id="lookuploancd"></lookup-service>
        <utility-service id="utilityloancd"></utility-service>
        <url-parser id="urlloancd"></url-parser>
        <message-component id="messageloancd"></message-component>
        <http-request id="httploancd"></http-request>
        <alloy-config id="configloancd"></alloy-config>
        <auth-service id="authorizeloancd"></auth-service>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "collection-details",
                properties: {
                    openSubFlow: {
                        type: String,
                        notify: true,
                        reflectToAttribute: true
                    },
                    approvalLBL: {
                        type: String,
                        notify: true
                    },
                    activateLoanMod: {
                        type: Boolean,
                        notify: true,
                        value: false,
                        reflectToAttribute: true
                    },
                    hasAccess: {
                        type: Boolean,
                        notify: true,
                        value: false,
                        reflectToAttribute: true
                    },
                    statusObj: {
                        type: Object,
                        notify: true,
                        reflectToAttribute: true,
                        observer: 'loadInititedSubworkInfo'
                    },
                    selectedScheduleVersion: {
                        type: String,
                        notify: true
                    },
                    allScheduleVersion: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    tableObj: {
                        type: Object,
                        notify: false
                    },
                    currentSchedule: {
                        type: Object,
                        notify: true
                    },
                    currentScheduleLoanMod: {
                        type: Object,
                        notify: true,
                        observer: "setTableData"
                    },
                    scheduleList: {
                        type: Array,
                        notify: true,
                        reflectToAttribute: true,
                        observer: "processSchedule"
                    },
                    modScheduleList: {
                        type: Array,
                        notify: true,
                        reflectToAttribute: true
                    },
                    updateContact: {
                        type: String,
                        notify: true,
                        reflectToAttribute: true
                    },
                    otherContacts: {
                        type: Array,
                        notify: true,
                        reflectToAttribute: true
                    },
                    reasonForNonPayment: {
                        type: Array,
                        notify: true
                    },
                    situation: {
                        type: Array,
                        notify: true
                    },
                    evaluation: {
                        type: Array,
                        notify: true
                    },
                    phoneTypes: {
                        type: Array,
                        notify: true
                    },
                    emailTypes: {
                        type: Array,
                        notify: true
                    },
                    relations: {
                        type: Array,
                        notify: true
                    },
                    addressTypes: {
                        type: Array,
                        notify: true
                    },
                    loanData: {
                        type: Object,
                        notify: true,
                        reflectToAttribute: true,
                        observer: "init"
                    },
                    loanModId: {
                        type: String,
                        notify: true,
                        reflectToAttribute: true
                    }
                },
                ready: function () {
                    var self = this;
                    setTimeout(function () {
                        self._initJQueryEvents();
                    }, 3000);
                },
                init: function () {
                    this._loadCollections();
                },
                _checkIfEmptyObject: function (obj) {
                    return Object.keys(obj).length === 0 && obj.constructor === Object;
                },
                _phoneFormat: function (phone) {
                    return formats.phone(phone, window.config.country);
                },
                _getOtherAddress: function (Address) {
                    var self = this;
                    if (Address && Address != null && Address != undefined) {
                        var FinalAddress = "";
                        if (!_.isUndefined(Address.addressLine2) && !_.isNull(Address.addressLine2) && !_.isEmpty(Address.addressLine2)) {
                            FinalAddress = Address.addressLine1 + ", " + Address.addressLine2 + ", " + Address.city + ", " + Address.state + ", " + Address.zip;
                            return FinalAddress;
                        }
                        else {
                            FinalAddress = Address.addressLine1 + ", " + Address.city + ", " + Address.state + ", " + Address.zip;
                            return FinalAddress;
                        }
                    } else {
                        return "NA";
                    }
                },
                _checkNullUndefined: function (obj) {
                    if (obj && obj != null && obj != undefined && obj != "") {
                        return obj;
                    }
                    return '';
                },
                _loadCollections: function () {
                    var self = this;
                    if (!self._checkIfEmptyObject(self.loanData)) {
                        self.GetLookups();
                        self.set('otherContacts', self.loanData.otherContacts);
                    }
                },
                GetName: function (objData) {
                    var self = this;
                    if (!_.isUndefined(objData) && !_.isNull(objData) && !_.isEmpty(objData)) {
                        return objData.name.salutation + " " + objData.name.first + " " + objData.name.middle + " " + objData.name.last;
                    }
                    else
                        return "";
                },
                _checkIfPrimary: function (status) {
                    return status === true ? 'fa fa-check' : 'fa fa-times';
                },
                EditContact: function (event) {
                    var self = this;
                    var selectedBorrower = event.target.dataArg;
                    self.set("updateContact", selectedBorrower);
                },
                EditloanMod: function (event) {
                    var self = this;
                    var loanModId = event.target.dataArg;
                    self.set("loanModId", loanModId);
                },
                GetLookups: function () {
                    var self = this;
                    self.reasonForNonPayment = self.$.lookuploancd.getLookupBasedOnName("reasonForNonPayment");
                    self.situation = self.$.lookuploancd.getLookupBasedOnName("situation");
                    self.evaluation = self.$.lookuploancd.getLookupBasedOnName("evaluation");
                    self.phoneTypes = self.$.lookuploancd.getLookupBasedOnName("phoneTypes");
                    self.emailTypes = self.$.lookuploancd.getLookupBasedOnName("emailTypes");
                    self.relations = self.$.lookuploancd.getLookupBasedOnName("relations");
                    self.addressTypes = self.$.lookuploancd.getLookupBasedOnName("addressTypes");
                },
                findAddressType: function (key) {
                    var self = this;
                    var result = _.find(self.addressTypes, ["key", key]);
                    return result.value;
                },
                findreasonForNonPayment: function (key) {
                    var self = this;
                    var result = _.find(self.reasonForNonPayment, ["key", key[0]]);
                    return result.value;
                },
                findsituation: function (key) {
                    var self = this;
                    var result = _.find(self.situation, ["key", key[0]]);
                    return result.value;
                },
                findevaluation: function (key) {
                    var self = this;
                    var result = _.find(self.evaluation, ["key", key]);
                    return result.value;
                },
                findphoneTypes: function (key) {
                    var self = this;
                    var result = _.find(self.phoneTypes, ["key", key]);
                    return result.value;
                },
                findemailTypes: function (key) {
                    var self = this;
                    var result = _.find(self.emailTypes, ["key", key]);
                    return result.value;
                },
                findrelations: function (key) {
                    var self = this;
                    var result = _.find(self.relations, ["key", key]);
                    return result.value;
                },
                formatMoney: function (value) {
                    return formats.money(value, window.config.country, 0);
                },
                formatDate: function (date) {
                    if (!_.isNull(date) && !_.isUndefined(date) && !_.isEmpty(date)) {
                        return formats.date(date, window.config.country, false);
                    }
                    return "NA";
                },
                _viewMoreInfo: function (event) {
                    $('#AllLoanModVersion').modal('show');
                },
                _openSubFlow: function (event) {
                    var self = this;
                    self.set("openSubFlow", "open");
                },
                processSchedule: function () {
                    var self = this;
                    var modScheduleList = _.reject(self.scheduleList, { "modStatus": "None" });
                    self.set('modScheduleList', _.orderBy(modScheduleList, ['scheduleVersionDate.time'], ['desc']));
                    var updatedList = _.transform(self.modScheduleList, function (result, item) {
                        result.push({ key: item.scheduleVersionNo, value: item.scheduleVersionNo });
                    }, []);
                    self.set('allScheduleVersion', updatedList);
                    $("#moreDetails").hide();
                    if (self.modScheduleList !== undefined && self.modScheduleList.length > 0 && self.modScheduleList[0].scheduleVersionNo !== undefined) {
                        $("#moreDetails").show();
                        self.set("selectedScheduleVersion", self.modScheduleList[0].scheduleVersionNo);
                        self.changeScheduleList(self.selectedScheduleVersion);
                    }
                },
                hasLoanMod: function (scheduleList, currentScheduleLoanMod) {
                    var self = this;
                    var currentSchedule = _.reject(self.scheduleList, { "modStatus": "None" });
                    if (currentSchedule != undefined && currentSchedule != null && currentSchedule != "") {
                        $("#moreDetails").show();
                        return true;
                    }
                    else {
                        return false;
                    }
                },
                hasReviewApproveAccess: function (hasAccess) {
                    var self = this;
                    if (hasAccess && hasAccess === true) {
                        return true;
                    }
                    else {
                        return false;
                    }
                },
                activateSchedule: function (event) {
                    var self = this;
                    var scheduleId = event.target.dataArg;
                    self.changeScheduleStatus(scheduleId, event);
                },
                changeScheduleStatus: function (objId, event) {
                    var self = this;
                    var params = self.$.urlloancd.getParams();
                    var url = "/" + params.loanId + "/loanmods/" + objId + "/activate";
                    var activateLoan = _.find(self.scheduleList, ["id", objId]);
                    if (activateLoan != undefined && activateLoan.fundedDate != null) {
                        self.$.httploancd.put(url, {}, window.config.services.lmsService).then(function (data) {
                            self.$.messageloancd.showMessage("Loan schedule activated successfully.", "SUCCESS", self.$$('#loanModeMessageContainerCollection'));
                            self.raiseloanModeRefreshEvent(event);
                        }).fail(function (event) {
                            self.$.messageloancd.showMessage(event.responseJSON.message, "ERROR", self.$$('#loanModeMessageContainerCollection'));
                        });
                    }
                    else {
                        self.set("loanModId", objId);
                        self.$.messageloancd.showMessage("Please select activation date.", "ERROR", self.$$('#loanModeMessageContainerCollection'));
                    }
                },
                checkStatusLoanMod: function (obj, activateSchedule, approvalLBL) {
                    var self = this;
                    return (obj.modStatus === "Created" && activateSchedule === true && approvalLBL === "") ? true : false;
                },
                raiseloanModeRefreshEvent: function (event) {
                    var self = this;
                    this.$.utilityloancd.raiseEvent(this.fireEvent, {
                        ActionName: 'LoanModification',
                        EventData: event,
                        CompnentName: 'collection-details'
                    });
                },
                setTableData: function () {
                    var self = this, table;
                    if (self.currentScheduleLoanMod !== undefined && self.currentScheduleLoanMod.scheduleDetails != undefined) {
                        var data = self.$.configloancd.getConfigurationBasedOnKey("filters");
                        var CastSchedule = _.cloneDeep(data["CastSchedule"]);
                        if (self.checkPortfolioType(self.loanData) === false) {
                            CastSchedule.columns[4].title = "Finance Charge";
                            CastSchedule.columns[4].tooltip = "Finance Charge";
                        }
                        var columnLength = CastSchedule.columns.length;
                        for (var i = 0; i < columnLength; i++) {
                            if (CastSchedule.columns[i].render != undefined) {
                                var render = CastSchedule.columns[i].render;
                                if (CastSchedule.columns[i].isFunction) {
                                    CastSchedule.columns[i].render = eval("(" + render + ")");
                                }
                                else {
                                    CastSchedule.columns[i].render = eval(render);
                                }
                            }
                        }
                        if (CastSchedule !== undefined && CastSchedule !== "") {
                            table = self.tableObj;
                            if (table !== null && table !== undefined) {
                                table.clear();
                                table.destroy();
                            }
                            table = self.tableObj = $(self.$$('#queueCastScheduleCollection')).DataTable({
                                dom: "<'row'<'col-sm-12'tr>>" +
                                    "<'row'<'col-sm-5'i><'col-sm-7'p>>",
                                data: self.currentScheduleLoanMod.scheduleDetails,
                                columns: CastSchedule.columns,
                                columnDefs: CastSchedule.columnDefs,
                                order: CastSchedule.order,
                                language: {
                                    lengthMenu: "show_MENU_ Schedule",
                                    zeroRecords: "No Data found.",
                                    info: "Showing _START_ to _END_ of _TOTAL_ Schedule",
                                    infoEmpty: "No Schedule available",
                                    infoFiltered: "(filtered from _MAX_ total Schedule)"
                                }
                            });
                        }
                    }
                },
                hasRole: function (compName) {
                    return this.$.authorizeloancd.hasRole(compName);
                },
                formatCurrency: function (data) {
                    return formats.money(data, window.config.country, 0);
                },
                _initJQueryEvents: function () {
                    function toggleIcon(e) {
                        $(e.target).prev('.panel-heading').find(".more-less").toggleClass('fa-plus fa-minus');
                        $(e.target).prev('.panel-heading1').find(".more-less").toggleClass('fa-plus fa-minus');
                    }
                    $('#data').on('hidden.bs.collapse', toggleIcon);
                    $('#data').on('shown.bs.collapse', toggleIcon);
                    $('.Accheader-tab').on('hidden.bs.collapse', toggleIcon);
                    $('.Accheader-tab').on('shown.bs.collapse', toggleIcon);
                },
                _onVersionChange: function (event) {
                    var self = this;
                    var selectedValues = event.target.value;
                    self.changeScheduleList(selectedValues);
                },
                changeScheduleList: function (selectedValues) {
                    var self = this;
                    if (selectedValues !== undefined && selectedValues !== null && selectedValues !== "") {
                        var currentScheduleLoanMod = _.find(self.scheduleList, ["scheduleVersionNo", selectedValues]);
                        self.set("currentScheduleLoanMod", currentScheduleLoanMod);
                    }
                },
                loadInititedSubworkInfo: function () {
                    var self = this;
                    var statusObj = this.statusObj;
                    if (!_.isNull(statusObj.subStatusDetail)) {
                        var subStatusDetails = _.find(statusObj.subStatusDetail, ['completedDate', null]);
                        var subStatusDetailsCompleted = _.find(statusObj.subStatusDetail, ['subWorkFlowId', "Modification"]);
                        if (!_.isUndefined(subStatusDetails)) {
                            self.set("InitFlowName", subStatusDetails.subWorkFlowId);
                            var initiatedSubflow = _.find(statusObj.subWorkFlows, ['name', subStatusDetails.subWorkFlowId]);
                            if (initiatedSubflow != undefined && initiatedSubflow.subWorkFlowStatus === "Completed") {
                                self.set("activateLoanMod", true);
                                self.set("approvalLBL", "");
                            }
                            else if (initiatedSubflow != undefined && initiatedSubflow.subWorkFlowStatus !== "Completed") {
                                var remainingStatusList = _.reject(initiatedSubflow.status, { code: initiatedSubflow.defaultInitiateCode });
                                if (initiatedSubflow.defaultInitiateCode !== subStatusDetails.subStatusCode) {
                                    remainingStatusList = _.reject(remainingStatusList, { code: subStatusDetails.subStatusCode });
                                }
                                if (remainingStatusList[0].name === "Modification Review") {
                                    self.set("approvalLBL", "Review Loan mod");
                                }
                                else {
                                    self.set("approvalLBL", "Approve/Reject Loan mod");
                                }
                                if (initiatedSubflow.name === "Modification" && self.hasRole('ApproveRejectModification')) {
                                    self.set('hasAccess', true);
                                }
                                else if (initiatedSubflow.name === "Modification" && self.hasRole('InitiateReviewModification')) {

                                    self.set('hasAccess', true);
                                }
                                else {
                                    self.set('hasAccess', false);
                                }
                            }
                        }
                        else if (!_.isUndefined(subStatusDetailsCompleted)) {
                            self.set("activateLoanMod", true);
                            self.set("approvalLBL", "");
                        }
                    }
                },
                checkCreatedLoan: function (obj) {
                    return (obj.modStatus === "Created") ? true : false;
                },
                checkStatus: function (obj) {
                    var self = this;
                    return (obj === "Deleted") ? "Rejected" : obj;
                },
                checkPortfolioType: function (objType) {
                    var self = this;
                    if (self.loanData && self.loanData.productPortfolioType != "MCA" && self.loanData.productPortfolioType != "MCALOC") {
                        return true;
                    }
                    return false;
                }
            });
        });
    </script>
</dom-module>