<html-import html-href="fact-verification/fact-details.html"></html-import>
<dom-module id="fact-modal">
    <style>
        .modal-dialog {
            width: 1200px;
            margin: 30px auto;
        }

        .modal-body {
            padding: 10px 5px;
        }

        .hide-other-method {
            display: none;
        }

        .errorMessage,
        .errorMsg {
            color: #ff0000;
        }

        .popup-modal {
            text-align: initial;
        }

        .fixedWidth {
            width: 800px !important;
        }

        .row {
            margin: 0 auto !important;
        }

        .doc-container {
            border: 1px solid #000000;
            padding: 0;
        }

        vaadin-combo-box {
            display: inline-block;
        }

        .nav.nav-tabs {
            border-bottom: 0;
        }

        .nav.nav-tabs li {
            margin: 0;
        }

        .nav.nav-tabs li a {
            margin-right: 0;
            border: 0;
            cursor: pointer;
            width: 140px;
            padding: 10px;
        }

        .nav-tabs>li.active>a,
        .nav-tabs>li.active>a:hover,
        .nav-tabs>li.active>a:focus {
            color: #000000 !important;
            cursor: default;
            background: white;
            border-bottom: #f3f3f4;
            border-color: #dddddd #dddddd rgba(0, 0, 0, 0);
            border-image: none;
            border-width: 1px;
            -moz-border-bottom-colors: none;
            -moz-border-left-colors: none;
            -moz-border-right-colors: none;
            -moz-border-top-colors: none;
        }

        .tab-content>.active {
            display: block;
            background: white;
        }

        .tab-pane {
            display: none;
            background-color: #fff;
            padding: 10px;
            overflow: hidden;
            margin: 0 auto;
            border-top: 1px solid #000000;
        }

        .line-through {
            text-decoration: line-through !important;
        }

        .imagename {
            max-width: 200px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            margin-bottom: 5px;
        }

        .document-container {
            padding: 10px;
            border: 1px solid;
            min-height: 500px;
        }

        .navigation-control {
            color: #80b43c;
            font-size: 18px;
        }

        .navigation-control i {
            cursor: pointer;
        }
    </style>
    <template>
        <custom-modal id="{{generateId(factObj)}}" class="modal-drop" on-modal-hidden="resetModal">
            <div class="popup-modal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title">{{factObj.displayName}}</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-lg-8" style="padding-left: 0;">
                                    <div class="row">
                                        <div class="col-md-12 document-container">
                                            <ul class="nav nav-tabs">
                                                <template is="dom-repeat" items="{{docListNew}}" as="doc">
                                                    <li class$="{{_displayFirstTab(index)}}">
                                                        <a class$="{{_checkDocStatus(doc)}}" title="{{doc.fileName}}" href="#imageContainer{{doc.id}}" on-click="_loadImage" model$="{{doc}}"
                                                            data-toggle="tab">{{doc.fileName}}</a>
                                                    </li>
                                                </template>
                                            </ul>
                                            <div class="tab-content">
                                                <p style="margin: 200px auto;font-size: 13px;text-align: center; display: none;" id="nodoc{{generateId(factObj)}}"> No documents available.
                                                </p>
                                                <template is="dom-repeat" items="{{docListNew}}" as="doc">
                                                    <div class$="{{_displayFirstDiv(index)}}" id="imageContainer{{doc.id}}">
                                                        <template is="dom-if" if="{{_checkfileType(doc)}}">
                                                            <div class="navigation-control">
                                                                <i class="fa fa-search-plus" on-tap="zoomIn" model$="{{doc}}" aria-hidden="true" raised></i>
                                                                <i class="fa fa-search-minus" on-tap="zoomOut" model$="{{doc}}" aria-hidden="true" raised></i>
                                                            </div>
                                                            <img-pan-zoom zoom-per-click="1.0" max-zoom-pixel-ratio="10" hide-spinner="true" src="{{doc.docImage}}" id="img{{doc.id}}"></img-pan-zoom>
                                                        </template>
                                                        <template is="dom-if" if="{{!_checkfileType(doc)}}">
                                                            <iframe id="imgfrma{{doc.id}}" src="{{doc.docImage}}" height="600px" width="750px"></iframe>
                                                        </template>
                                                    </div>
                                                </template>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" id="docStatusChangeDiv{{factObj.fact}}" style="display: none;text-align: center;">
                                        <div class="col-md-offset-2 col-md-10">
                                            <button class="btn btn-primary activity-action-btn" style="margin-left: 5px;" on-click="_setDocumentStatus">Unverifiable</button>
                                            <vaadin-combo-box name="Role" value="{{selectedReason}}" item-value-path="key" item-label-path="value" items="{{documentReasons}}"
                                                label="Select a reason" prevent-invalid-input="true" required on-change="_onReasonChange">
                                            </vaadin-combo-box>
                                            <p class="errorMsg" style="display: none;"></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <template is="dom-if" if="{{_DisplayFactDetails(factObj)}}">
                                        <fact-details fact="{{factObj}}" fact-detail-message="{{_getFactDetailMsg(factObj)}}"></fact-details>
                                    </template>
                                    <template is="dom-if" if="{{_checkFactInfo(factObj)}}">
                                        <template is="dom-repeat" items="{{factObj.tabs}}" as="tab">
                                            <div id$="{{tab.method}}" class="row">
                                                <template is="dom-if" if="{{_ShouldDisplayButton(factObj)}}">
                                                    <h3>{{_getFactDetailMsg(factObj)}}</h3>
                                                    <button class="btn btn-primary activity-action-btn" tab$="{{tab}}" model$="{{factObj}}" on-click="_initiatFactVerification">Initiate Now</button>
                                                </template>
                                                <template is="dom-if" if="[[_checkIfPollingMethod(factObj)]]">
                                                    <template is="dom-if" if="[[_IsVerificationInitiated(factObj)]]">
                                                        <h3>{{_getFactDetailMsg(factObj)}}</h3>
                                                        <template is="dom-if" if="[[_displayExtraInfo(factObj)]]">
                                                            <h4>Address proof - Document Type</h4>
                                                            <ul>
                                                                <template is="dom-repeat" items="[[docTypeList]]" as="doc">
                                                                    <li>[[doc]]</li>
                                                                </template>
                                                            </ul>
                                                        </template>
                                                        <br>
                                                        <p class="errorMessage" style="display: none;"></p>
                                                        <form is="iron-form" class="form-horizontal" name$="[[tab.method]]">
                                                            <dynamic-form form-configuration="[[tab]]" values="{{tab.values}}"></dynamic-form>
                                                            <br/>
                                                            <paper-button class="btn btn-primary activity-action-btn" model$="[[factObj]]" on-click="_verifyForm" raised>Verify</paper-button>
                                                            <paper-button id="{{generateId(factObj)}}_Button" class="btn btn-primary activity-action-btn" style="display: none;" on-click="_formReset"
                                                                raised>Reset</paper-button>
                                                        </form>
                                                    </template>
                                                </template>
                                            </div>
                                        </template>
                                    </template>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </custom-modal>
        <http-request id="http"></http-request>
        <utility-service id="utility"></utility-service>
        <session-manager id="session"></session-manager>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "fact-modal",
                properties: {
                    selectedDocStatus: {
                        type: String,
                        notify: true,
                        value: "Unverifiable"
                    },
                    statusObj: {
                        type: Object,
                        notify: true
                    },
                    selectedReason: {
                        type: String,
                        notify: true,
                        value: ""
                    },
                    docListNew: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    factObj: {
                        type: Object,
                        notify: true,
                        reflectToAttribute: true
                    },
                    docTypeList: {
                        type: Array,
                        notify: true,
                        value: ['Driving License', 'Passport', 'UID (Aadhaar card)', 'Utility Bill', 'Leave and License Agreement', 'Municipal Corporation Bill', 'Property Tax Receipt', 'Water Tax Bill']
                    },
                    selectedMethod: {
                        type: String,
                        notify: true,
                        value: ""
                    },
                    documentStatusList: {
                        type: Array,
                        notify: true,
                        value: [
                            { key: 'Unverifiable', value: 'Unverifiable' },
                            { key: 'Verifiable', value: 'Verifiable' }
                        ]
                    },
                    currentEntityName: {
                        type: String,
                        notify: true,
                        value: 'application'
                    },
                    blobURL: {
                        type: String,
                        notify: true
                    }
                },
                generateId: function (factObj) {
                    return factObj.fact.replace(/ /g, '') + factObj.displayOrder;
                },
                _displayForm: function (event) {
                    if (event.target.selected !== '') {
                        $('.methods').hide();
                        $('#' + event.target.selected).show();
                    }
                },
                _displayExtraInfo: function (factObj) {
                    if (factObj.fact === "KYC-Address")
                        return true;
                    return false;
                },
                show: function () {
                    var factObj = _.cloneDeep(this.factObj);
                    if (factObj && factObj.tabs && factObj.tabs.length > 0) {
                        var tabs = factObj.tabs;
                    }
                    this._getFactBasedDocList();
                    this.set('factObj', factObj);
                    this.$$('#' + this.generateId(this.factObj)).showModal();
                },
                _checkIfNullObject: function (obj) {
                    return Object.keys(obj).length === 0 && obj.constructor === Object;
                },
                _DisplayFactDetails: function (factObj) {
                    var self = this;
                    if (factObj.attempts.length > 0)
                        return true;
                },
                _IsVerificationInitiated: function (item) {
                    if (item.initiated) {
                        return true;
                    }
                    return false;
                },
                _ShouldDisplayButton: function (item) {
                    if (item.verifyButton) {
                        return true;
                    }
                    return false;
                },
                _getAttemptStatus: function (attempts, methodSource) {
                    var attemptObj = attempts.filter(function (e) {
                        return e.sourceName === methodSource;
                    })[0];
                    return attemptObj ? attemptObj.result : "None";
                },
                _checkVerificationStatusForSource: function (sourceName, sources, status) {
                    var attemptObj = sources.filter(function (e) {
                        return e.sourceName === sourceName && e.result === status;
                    });
                    return attemptObj.length > 0 ? true : false;
                },
                _checkVerificationStatus: function (factObj) {
                    var self = this;
                    var requiredObj = { verificationSources: [], attempts: [], initiated: false, verifyButton: true };
                    if (!self._checkIfNullObject(factObj)) {
                        requiredObj.attempts = factObj.attempts;
                        requiredObj.verificationSources = factObj.verificationSources;
                        if (factObj.hasOwnProperty("verificationStatus")) {
                            if (factObj.verificationStatus === "None") {
                                requiredObj.initiated = true;
                                requiredObj.verifyButton = false;
                            }
                            if (factObj.verificationStatus === "Failed") {
                                requiredObj.initiated = false;
                                requiredObj.verifyButton = true;
                            }
                            if (factObj.verificationStatus === "Passed") {
                                requiredObj.initiated = false;
                                requiredObj.verifyButton = false;
                            }
                        }
                    }
                    return requiredObj;
                },
                _initiatFactVerification: function (event) {
                    var self = this;
                    var eventModel = event.model;
                    var $element = $(event.target);
                    var factObj = _.cloneDeep(self.factObj);
                    var statusObj = self.statusObj;
                    var tabObj = eventModel.__data__.tab;
                    var url = "/" + self.currentEntityName + "/" + self.applicationNumber + "/" + statusObj.statusWorkFlowId + "/" + factObj.fact + "/" + tabObj.method + "/initiate-manualverification";
                    self.$.http.post(url, {}, window.config.services.verificationEngine).then(function (data) {
                        factObj.initiated = true;
                        factObj.verifyButton = false;
                        eventModel.set('factObj', factObj);
                        self.raiseFactIniTiatedEvent();
                    }).fail(function (e) {
                        console.error("initiat fact verification error is ", e);
                    });
                },
                _verifyForm: function (event) {
                    event.preventDefault();
                    var self = this;
                    var eventModel = event.model;
                    var tab = eventModel.get('tab');
                    var factObj = _.cloneDeep(self.factObj);
                    var statusObj = self.statusObj;
                    var form = Polymer.dom(event).localTarget.parentElement;
                    var baseUrl = "/" + self.currentEntityName + "/" + self.applicationNumber + "/" + statusObj.statusWorkFlowId + "/" + factObj.fact;
                    $('.errorMessage').hide();
                    if (form.validate()) {
                        var factInfo = "/" + tab.method + "/" + tab.source;
                        var url = baseUrl + factInfo;
                        var payload = tab.values;
                        self.$.http.post(url, payload, window.config.services.verificationEngine).then(function (data) {
                            data.verificationStatus = self._getAttemptStatus(data.attempts, tab.source);
                            var requiredObj = self._checkVerificationStatus(data);
                            self.set('factObj', $.extend({}, factObj, requiredObj));
                            $('.close').trigger('click');
                            self.raiseFactVerifiedEvent(event);
                        }).fail(function (e) {
                            var result = JSON.parse(e.responseText);
                            if (e.status === 400 && result.message === "Document is Pending") {
                                $('.errorMessage').html("Document upload is still pending");
                                $('.errorMessage').show();
                                function hideErroeMsg() {
                                    $('.errorMessage').html("");
                                    $('.errorMessage').hide();
                                }
                                setTimeout(function () {
                                    hideErroeMsg();
                                }, 3000);
                            } else {
                                var detailsUrl = "/detail";
                                self.$.http.get(baseUrl + detailsUrl, window.config.services.verificationEngine).then(function (result) {
                                    var data = result[0];
                                    data.verificationStatus = self._getAttemptStatus(data.attempts, tab.source);
                                    var requiredObj = self._checkVerificationStatus(data);
                                    self.set('factObj', $.extend({}, factObj, requiredObj));
                                }).fail(function (es) {
                                    console.error("application error is ", es);
                                });
                            }
                        });
                    }
                },
                resetModal: function () {
                    var self = this;
                    $('.methods').hide();
                    this.set("selectedMethod", "blank");
                    this.raiseVerificationDashboardRefreshEvent();
                    var id = self.generateId(self.factObj) + "_Button";
                    $("#" + id).trigger('click');
                    self.set("docListNew", []);
                },
                _getFactBasedDocList: function () {
                    var self = this;
                    var factObj = _.cloneDeep(self.factObj);
                    var factobjId = self.generateId(factObj);
                    var statusObj = self.statusObj;
                    var url = "/" + self.currentEntityName + "/" + self.applicationNumber + "/" + statusObj.statusWorkFlowId + "/" + factObj.fact + "/documentsDetails";
                    if (factObj.manualForm) {
                        self.$.http.get(url, window.config.services.verificationEngine).then(function (data) {
                            if (data && data.length > 0) {
                                self._setDocumentImages(data);
                                setTimeout(function () {
                                    $('#nodoc' + factobjId).hide();
                                }, 5000);
                            } else {
                                $('#nodoc' + factobjId).show();
                            }
                        }).fail(function (e) {
                            var errOj = JSON.parse(e.responseText);
                            $('#nodoc' + factobjId).show();
                        });
                    } else {
                        $('#nodoc' + factobjId).show();
                    }
                },
                _loadImage: function (event) {
                    var self = this;
                    var docObj = event.model.__data__.doc;
                    var factObj = _.cloneDeep(self.factObj);
                    self.set('selectedDoc', docObj);
                    if (docObj.documentStatus !== "Unverifiable") {
                        $('#docStatusChangeDiv' + factObj.fact).show();
                    } else {
                        $('#docStatusChangeDiv' + factObj.fact).hide();
                    }
                },
                _formReset: function (event) {
                    var form = Polymer.dom(event).localTarget.parentElement;
                    form.reset();
                },
                _setDocumentImages: function (documents) {
                    var self = this;
                    var documentService = window.config.services.downloadDocService;
                    var token = self.$.session.get("token");
                    documents.forEach(function (doc) {
                        var url = "/" + self.currentEntityName + "/" + self.applicationNumber + "/" + doc.id + "/download";
                        var xhr = new XMLHttpRequest();
                        xhr.open('GET', documentService + url, true);
                        xhr.setRequestHeader('Authorization', "Bearer " + token);
                        xhr.responseType = 'arraybuffer';
                        xhr.onload = function (e) {
                            if (this.status == 200) {
                                var buffer = xhr.response;
                                var blob = new Blob([buffer], {
                                    type: 'application/pdf'
                                });
                                var objectURL = URL.createObjectURL(blob);
                                _.extend(doc, {
                                    docImage: objectURL
                                });
                                var docListNew = _.cloneDeep(self.docListNew);
                                docListNew.push(doc);
                                self.set("docListNew", docListNew);
                            }
                        };
                        xhr.onerror = function (e) {
                            self.set("documentDownload", false);
                            console.error("Error " + e.target.status + " occurred while receiving the document.");
                        };
                        xhr.send();
                    });
                },
                _setDocumentStatus: function () {
                    var self = this;
                    var statusObj = self.statusObj;
                    var url = "/" + self.currentEntityName + "/" + self.applicationNumber + "/" + statusObj.statusWorkFlowId + "/" + self.factObj.fact + "/";
                    if (self.selectedReason) {
                        url = url + self.selectedDoc.id + "/" + self.selectedDocStatus + "/" + self.selectedReason;
                        self.$.http.put(url, {}, window.config.services.verificationEngine).then(function (data) {
                            self.resetModal();
                        }).fail(function (e) {
                            var errOj = JSON.parse(e.responseText);
                            console.error("Error occured while changing the document status.", errOj.message);
                        });
                        self._displayFirstDiv(0);
                        self._getFactBasedDocList();
                    } else {
                        $('.errorMsg').html("Reason is required");
                        $('.errorMsg').show();

                        function hideErroeMsg() {
                            $('.errorMsg').html("");
                            $('.errorMsg').hide();
                        }
                        setTimeout(function () {
                            hideErroeMsg();
                        }, 3000);
                    }
                },
                _checkfileType: function (doc) {
                    var fileName = doc.fileName;
                    if (/\.(jpeg|png|gif|bmp|jpg)$/i.test(fileName)) {
                        return true;
                    }
                    return false;
                },
                _checkDocStatus: function (doc) {
                    return doc.documentStatus !== "Verifiable" ? " line-through imagename" : "imagename";
                },
                _displayFirstTab: function (index) {
                    return index === 0 ? 'active' : '';
                },
                _displayFirstDiv: function (index) {
                    var self = this;
                    var docListNew = self.docListNew;
                    if (index === 0) {
                        self.set('selectedDoc', docListNew[0]);
                        if (docListNew[0].documentStatus !== "Unverifiable") {
                            $('#docStatusChangeDiv' + self.factObj.fact).show();
                        } else {
                            $('#docStatusChangeDiv' + self.factObj.fact).hide();
                        }
                        return 'tab-pane active';
                    } else {
                        return 'tab-pane';
                    }
                },
                raiseVerificationDashboardRefreshEvent: function () {
                    this.$.utility.raiseEvent(this.fireEvent, {});
                },
                _getFactDetailMsg: function (factobj) {
                    var self = this;
                    if (self._IsVerificationInitiated(factobj))
                        return _.capitalize(factobj.displayName) + ' has started. Please verify.';
                    if (self._ShouldDisplayButton(factobj))
                        return _.capitalize(factobj.displayName) + ' not initiated.';
                    if (self._DisplayFactDetails(factobj))
                        return _.capitalize(factobj.displayName) + ' is verified. Below are the verification details:';
                },
                zoomIn: function (event) {
                    var doc = event.model.__data__.doc;
                    this.$$('#img' + doc.id).zoomIn();
                },
                zoomOut: function (event) {
                    var doc = event.model.__data__.doc;
                    this.$$('#img' + doc.id).zoomOut();
                },
                _checkFactInfo: function (item) {
                    if (item.isPollingMethod) {
                        return true;
                    }
                    if (item.manualForm) {
                        return true;
                    }
                    return false;
                },
                _checkIfPollingMethod: function (item) {
                    if (item.isPollingMethod) {
                        return false;
                    } else if (item.status == "Completed") {
                        return false;
                    } else {
                        return true;
                    }
                },
                raiseFactIniTiatedEvent: function () {
                    this.fire('iron-signal', { name: 'factinitiated', data: null });
                },
                raiseFactVerifiedEvent: function (event) {
                    this.fire('iron-signal', { name: 'factverified', data: event });
                }
            });
        });
    </script>
</dom-module>