<dom-module id="update-borrower-details">
    <template>
        <style>
            .custom-input {
                --paper-input-container-input: {
                    font-size: 11px;
                }
                --paper-input-container-label: {
                    font-size: 12px;
                }
            }

            .set-vertical-height {
                height: 500px;
                overflow-y: scroll;
            }
        </style>
        <div class="row">
            <div class="col-md-12 set-vertical-height">
                <form is="iron-form" class="form-horizontal" name="borrowerDetails" autocomplete="off" aria-autocomplete="none">
                    <div class="row">
                        <div class="col-md-12">
                            <vaadin-combo-box class="custom-input" name="borrowerId" value="{{borrowerId}}" item-value-path="value" item-label-path="key"
                                items="{{borrowerList}}" label="Select Borrower" prevent-invalid-input="true" on-change="getBorrowerData">
                            </vaadin-combo-box>
                        </div>
                    </div>
                    <dynamic-form form-configuration="{{borrowerDetails}}" values="{{borrowerDetails.values}}"></dynamic-form>
                    <br />
                    <paper-button class="btn btn-primary activity-action-btn" on-click="_verifyForm" raised>Submit</paper-button>
                    <div id="MessageContainer"></div>
                </form>
            </div>
        </div>
        <url-parser id="urlbrd"></url-parser>
        <http-request id="httpbrd"></http-request>
        <utility-service id="utilitybrd"></utility-service>
        <message-component id="messagebrd"></message-component>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "update-borrower-details",
                properties: {
                    borrowerId: {
                        type: String,
                        notify: true
                    },
                    borrowerList: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    applicantId: {
                        type: String,
                        notify: true
                    },
                    borrowerDetails: {
                        type: Object,
                        notify: true,
                        value: {
                            controls: {
                                EmailType: {
                                    label: "Email Type",
                                    type: "combobox",
                                    selectList: [
                                        { key: "Personal", value: "Personal" },
                                        { key: "Official", value: "Official" }
                                    ],
                                    labelKey: "value",
                                    labelValue: "key",
                                    validations: {
                                        required: true
                                    }
                                },
                                Email: {
                                    label: "Email",
                                    type: "email",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false,
                                        pattern: 'EMAIL',
                                        minLen: 1,
                                        maxLen: 64
                                    }
                                },
                                Phone: {
                                    label: "Phone",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false,
                                        minLen: 1,
                                        maxLen: 64
                                    }
                                },
                                AddressType: {
                                    label: "Address Type",
                                    type: "combobox",
                                    selectList: [
                                        { key: "Home", value: "Home" },
                                        { key: "Office", value: "Office" }
                                    ],
                                    labelKey: "value",
                                    labelValue: "key",
                                    validations: {
                                        required: true
                                    }
                                },
                                AddressLine1: {
                                    label: "Address Line 1",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false,
                                        minLen: 1,
                                        maxLen: 40
                                    }
                                },
                                AddressLine2: {
                                    label: "Address Line 2",
                                    type: "textbox",
                                    validations: {
                                        required: false,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false,
                                        minLen: 0,
                                        maxLen: 40
                                    }
                                },
                                City: {
                                    label: "City",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false,
                                        minLen: 1,
                                        maxLen: 64
                                    }
                                },
                                State: {
                                    label: "State",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false,
                                        minLen: 1,
                                        maxLen: 64
                                    }
                                },
                                Zip: {
                                    label: "Zip",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false,
                                        minLen: 0,
                                        maxLen: 6
                                    }
                                }
                            },
                            values: {
                                EmailType: "",
                                Email: "",
                                Phone: "",
                                AddressType: "",
                                AddressLine1: "",
                                AddressLine2: "",
                                City: "",
                                State: "",
                                Zip: ""
                            }
                        }
                    },
                    loanData: {
                        type: Object,
                        notify: true
                    },
                    SelectedBorrowerObj: {
                        type: Object,
                        notify: true
                    }
                },
                init: function () {
                    var self = this;
                    var PrimaryList = [];
                    var AdditionalList = [];
                    if (self.loanData) {
                        if (self.loanData.primaryApplicantDetails != null && self.loanData.primaryApplicantDetails != undefined) {
                            PrimaryList.push({ key: self.loanData.primaryApplicantDetails.name.first + " " + self.loanData.primaryApplicantDetails.name.last, value: self.loanData.primaryApplicantDetails.id });
                        }
                        if (self.loanData.applicantDetails != undefined && self.loanData.applicantDetails != null) {
                            AdditionalList = _.transform(self.loanData.applicantDetails, function (result, item) {
                                result.push({ key: item.name.first + " " + item.name.last, value: item.id });
                            }, []);
                        }
                        var mergeData = _.concat(PrimaryList, AdditionalList);
                        self.borrowerList = mergeData;
                    }
                },
                _verifyForm: function (event) {
                    var self = this;
                    var form = Polymer.dom(event).localTarget.parentElement;
                    if (form.validate()) {
                        var payload = {
                            PositionOfLoan: self.SelectedBorrowerObj.positionOfLoan,
                            Role: self.SelectedBorrowerObj.role,
                            Name: {
                                First: self.SelectedBorrowerObj.name.first,
                                Last: self.SelectedBorrowerObj.name.last,
                                Middle: self.SelectedBorrowerObj.name.middle,
                                Salutation: self.SelectedBorrowerObj.name.salutation,
                                Generation: self.SelectedBorrowerObj.name.generation
                            },
                            PII: {
                                DOB: self.SelectedBorrowerObj.pii.dob,
                                SSN: self.SelectedBorrowerObj.pii.ssn
                            },
                            Address: {
                                AddressType: self.borrowerDetails.values.AddressType,
                                AddressLine1: self.borrowerDetails.values.AddressLine1,
                                AddressLine2: self.borrowerDetails.values.AddressLine2,
                                City: self.borrowerDetails.values.City,
                                State: self.borrowerDetails.values.State,
                                Zip: self.borrowerDetails.values.Zip
                            },
                            Phone: {
                                PhoneNo: self.borrowerDetails.values.Phone,
                                PhoneType: self.borrowerDetails.values.phoneType
                            },
                            Email: {
                                EmailAddress: self.borrowerDetails.values.Email,
                                EmailType: self.borrowerDetails.values.EmailType
                            }
                        };
                        var lmsService = window.config.services.lmsService;
                        var url = "/applicant/" + self.applicationNumber + "/" + self.borrowerId;
                        self.$.httpbrd.put(url, payload, lmsService, true).then(function (data) {
                            self.raiseAppRefreshEvent(event);
                        }).fail(function (e) {
                            var response = e.responseJSON;
                            if (response) {
                                self.$.messagebrd.showMessage(response.message, "ERROR", self.$$('#MessageContainer'));
                            }
                            else {
                                self.$.messagebrd.showMessage("Add bank account error ", "ERROR", self.$$('#MessageContainer'));
                            }
                        });
                    }
                },
                raiseAppRefreshEvent: function (event) {
                    this.$.utilitybrd.raiseEvent(this.fireEvent, {
                        ActionName: 'UpdateBorrowerDetail',
                        EventData: event,
                        CompnentName: 'update-borrower-details'
                    });
                },
                getBorrowerData: function (event) {
                    var self = this;
                    var selectedBorrower = event.target.value;
                    self.borrowersDetails(selectedBorrower);
                },
                _getborroweById: function (array, propName, borrowerID) {
                    var Obj = array.filter(function (e) {
                        return e[propName] === borrowerID;
                    })[0];
                    return Obj || {};
                },
                borrowersDetails: function (borrowerId) {
                    var self = this;
                    var Data = {};
                    if (self.loanData && self.loanData.primaryApplicantDetails !== undefined && self.loanData.primaryApplicantDetails !== "") {
                        Data = self._getborroweById([self.loanData.primaryApplicantDetails], "id", borrowerId);
                    }
                    if (_.isNull(Data) || _.isUndefined(Data) || _.isEmpty(Data)) {
                        if (self.loanData && self.loanData.applicantDetails !== undefined && self.loanData.applicantDetails !== "") {
                            Data = self._getborroweById(self.loanData.applicantDetails, "id", borrowerId);
                        }
                    }
                    self.SelectedBorrowerObj = Data;
                    if (!_.isNull(Data) && !_.isUndefined(Data) && !_.isEmpty(Data) && self.borrowerDetails !== undefined) {
                        if (Data.email !== undefined && Data.email !== null) {
                            self.borrowerDetails.values.EmailType = Data.email.emailType;
                            self.borrowerDetails.values.Email = Data.email.emailAddress;
                        }
                        if (Data.phone !== undefined && Data.phone !== null) {
                            self.borrowerDetails.values.Phone = Data.phone.phoneNo;
                        }
                        if (Data.address !== undefined && Data.address !== null) {
                            self.borrowerDetails.values.AddressType = Data.address.addressType;
                            self.borrowerDetails.values.AddressLine1 = Data.address.addressLine1;
                            self.borrowerDetails.values.AddressLine2 = Data.address.addressLine2;
                            self.borrowerDetails.values.City = Data.address.city;
                            self.borrowerDetails.values.State = Data.address.state;
                            self.borrowerDetails.values.Zip = Data.address.zip;
                        }
                        self.set('borrowerDetails', $.extend({}, self.borrowerDetails));
                    }
                    else if (self.borrowerDetails !== undefined) {
                        self.borrowerDetails.values.EmailType = "";
                        self.borrowerDetails.values.Email = "";
                        self.borrowerDetails.values.Phone = "";
                        self.borrowerDetails.values.AddressType = "";
                        self.borrowerDetails.values.AddressLine1 = "";
                        self.borrowerDetails.values.AddressLine2 = "";
                        self.borrowerDetails.values.City = "";
                        self.borrowerDetails.values.State = "";
                        self.borrowerDetails.values.Zip = "";
                        self.set('borrowerDetails', $.extend({}, self.borrowerDetails));
                    }
                }
            });
        });
    </script>
</dom-module>