<dom-module id="additional-info">
    <template>
        <style>
            .panel-default>.panel-heading {
                color: #ffffff;
                background-color: #03466B;
                border-color: #03466B;
            }

            .cap-case {
                text-transform: capitalize;
            }
        </style>
        <div class="panel-group" id="sourceInt">
            <template is="dom-repeat" items="{{additionalInfoData}}" as="info">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#{{info.tabName}}">{{info.displayName}}</a>
                        </h4>
                    </div>
                    <div id="{{info.tabName}}" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <template is="dom-repeat" items="{{info.fields}}" as="field">
                                <div class="panel-left col-lg-6">
                                    <ul>
                                        <template is="dom-if" if="{{!_hasAmountField(field)}}">
                                            <template is="dom-if" if="{{CapsRequired(field)}}">
                                                <li>
                                                    <b>{{field.label}}:&nbsp;</b>{{_HasData(field.value)}}</li>
                                            </template>
                                            <template is="dom-if" if="{{!CapsRequired(field)}}">
                                                <li class="cap-case">
                                                    <b>{{field.label}}:&nbsp;</b>{{_HasData(field.value)}}</li>
                                            </template>
                                        </template>
                                        <template is="dom-if" if="{{_hasAmountField(field)}}">
                                            <li>
                                                <b>{{field.label}}:&nbsp;</b>{{_HasData(field.value)}}</li>
                                        </template>
                                    </ul>
                                </div>
                            </template>
                        </div>
                    </div>
                </div>
            </template>
        </div>
        <url-parser id="url"></url-parser>
        <http-request id="http"></http-request>
        <alloy-config id="config"></alloy-config>
    </template>
    <script>
        Polymer({
            is: "additional-info",
            properties: {
                ancillaryData: {
                    type: Object,
                    notify: true,
                    reflectToAttribute: true
                },
                fundingdata: {
                    type: Object,
                    notify: true,
                    reflectToAttribute: true
                },
                bankInformation: {
                    type: Object,
                    notify: true,
                    value: {}
                },
                additionalInfoData: {
                    type: Array,
                    notify: true,
                    value: [],
                    reflectToAttribute: true
                },
                schemeCodeData: {
                    type: Object,
                    notify: true,
                    value: {}
                },
                dataAttributes: {
                    type: Object,
                    notify: true,
                    observer: '_loadDataAttributes'
                }
            },
            _HasData: function (objvalue) {
                if (objvalue != undefined) {
                    return objvalue;
                }
                else {
                    return "NA";
                }
            },
            _hasAmountField: function (field) {
                return field.format && field.format === "amount";
            },
            CapsRequired: function (field) {
                return field.format && field.format === "password";
            },
            amount: function (value) {
                return formats.round(value, 2);
            },
            currencyFormat: function (value) {
                return formats.moneyWithoutFraction(value, window.config.country, 0);
            },
            date: function (date) {
                return formats.date(date, window.config.country, false);
            },
            password: function (objvalue) {
                if (objvalue != undefined) {
                    return objvalue;
                }
                else {
                    return "NA";
                }
            },
            _checkIfEmptyObject: function (obj) {
                if (obj)
                    return Object.keys(obj).length === 0 && obj.constructor === Object;
            },
            init: function () {

            },
            _loadDataAttributes: function () {
                var self = this;
                var data = self.dataAttributes;
                if (!self._checkIfEmptyObject(data)) {
                    if (data.hasOwnProperty('ancillaryData')) {
                        self.set('ancillaryData', data['ancillaryData']);
                    }
                    if (data.hasOwnProperty('loan-fundeddata')) {
                        self.set('fundingdata', data['loan-fundeddata']);
                    }
                    if (!_.isUndefined(data.application.schemeCode) && !_.isNull(data.application.schemeCode) && !_.isEmpty(data.application.schemeCode)) {
                        self.set('schemeCodeData', data['application']);
                    }
                    if (data.application.hasOwnProperty('bankInformation') && data.application.bankInformation.length > 0) {
                        var bankInformation = data.application.bankInformation[0];
                        var address = "";
                        if (bankInformation.BankAddresses != null) {
                            if (bankInformation.BankAddresses.AddressLine1)
                                address = bankInformation.BankAddresses.AddressLine1 + ", ";

                            if (bankInformation.BankAddresses.City != null)
                                address += bankInformation.BankAddresses.City + ", ";

                            if (bankInformation.BankAddresses.State != null)
                                address += bankInformation.BankAddresses.State;
                        }
                        bankInformation.BankAddress = address;
                        //for solving error, if perfiosData is NA.
                        var _perfiosData = data.perfiosData;
                        if (!_.isUndefined(_perfiosData) && !_.isNull(_perfiosData) && !_.isEmpty(_perfiosData)) {
                            if (_perfiosData.hasOwnProperty('data')) {
                                if (data.perfiosData.data.hasOwnProperty('data') && !_.isUndefined(data.perfiosData.data.data.statementPassword) && !_.isNull(data.perfiosData.data.data.statementPassword) && !_.isEmpty(data.perfiosData.data.data.statementPassword)) {
                                    var statementPass = data.perfiosData.data.data;
                                    bankInformation['statementPassword'] = statementPass.statementPassword;
                                }
                                else {
                                    bankInformation['statementPassword'] = "NA";
                                }
                            }
                            else {
                                bankInformation['statementPassword'] = "NA";
                            }
                        } else {
                            bankInformation['statementPassword'] = "NA";
                        }
                        self.set('bankInformation', bankInformation);
                    }
                }
                self._loadAdditionalInfo();
            },
            _loadAdditionalInfo: function () {
                var self = this;
                var data = _.cloneDeep(self.$.config.getConfigurationBasedOnKey("additional-info"));
                for (var i = 0; i < data.length; i++) {
                    var dataObj = self[data[i].tabName];
                    if (!self._checkIfEmptyObject(dataObj)) {
                        data[i].fields.forEach(function (field) {
                            if (dataObj) {
                                var dataVal = dataObj[field.data];
                                if (field.format) {
                                    field.value = self[field.format](dataVal);
                                } else {
                                    field.value = dataVal;
                                }
                            }
                        });
                    }
                }
                self.set('additionalInfoData', data);
            }
        });
    </script>
</dom-module>