<dom-module id="add-funding-request">
    <template>
        <div class="slide-action">
            <button id="addfundingrequest" on-click="addfunding" class="btn btn-primary activity-action-btn">Add Funding Request</button>
        </div>
        <url-parser id="url"></url-parser>
        <http-request id="http"></http-request>
        <utility-service id="utility"></utility-service>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "add-funding-request",
                properties: {
                },
                init: function () {
                },
                addfunding: function () {
                    var self = this;
                    var url = '/application/' + self.applicationNumber + '/add/funding'
                    var appProcessorEndpoint = window.config.services.appProcessor;
                    self.$.http.post(url, {}, appProcessorEndpoint
                    ).then(function (data) {
                        self.raiseAppRefreshEvent();
                    }).fail(function (e) {
                        console.error("addfunding error is ", e);
                    });
                },
                raiseAppRefreshEvent: function () {
                    this.$.utility.raiseEvent(this.fireEvent, {});
                }
            });
        });
    </script>
</dom-module>