<dom-module id="business-credit-report">
    <template>
        <div class="slide-action">
            <form id="experianSearchBusinessForm" is="iron-form" class="form-horizontal" name="experianSearchForm">
                <dynamic-form form-configuration={{experianBusinessSearchConfiguration}} values="{{experianBusinessSearchConfiguration.values}}">
                </dynamic-form>
                <br/>
                <button id="listofSimilersbtn" on-click="getListOfSimilars" class="btn btn-primary activity-action-btn">Get Similars</button>
            </form>
            <div id="listOfSimilarsGridId" style="display: none;">
                <grid-component grid-Id="listOfSimilarsGrid" column-Headers="{{columnHeaders}}" column-Definations="{{columnDefinations}}"
                    grid-Data="{{listOfSimilars}}" selected-Rowdata="{{selectedCompany}}"></grid-component>
                <br/>
                <button id="perform_credit_review" on-click="getExperianBusinessreport" class="btn btn-primary activity-action-btn">Call Experian Business</button>
            </div>
            <div id="MessageContainer"></div>
        </div>
        <url-parser id="url"></url-parser>
        <http-request id="http"></http-request>
        <utility-service id="utility"></utility-service>
        <message-component id="message"></message-component>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "business-credit-report",
                properties: {
                    columnHeaders: {
                        type: Array,
                        notify: true,
                        value: ['Business Name', 'Experian File Number']
                    },
                    columnDefinations: {
                        type: Array,
                        notify: true,
                        value: [{ name: "businessName" }, { name: "experianFileNumber" }]
                    },
                    listOfSimilars: {
                        type: Array,
                        notify: true,
                        observer: '_showCompanyList'
                    },
                    businessReportRequest: {
                        type: Object,
                        notify: true,
                    },
                    inquiryTransactionNumber: {
                        type: String,
                        notify: true,
                        value: ''
                    },
                    selectedCompany: {
                        type: Object,
                        notify: true,
                        observer: '_preparebusinessReportRequest'
                    },
                    experianBusinessSearchConfiguration: {
                        type: Object,
                        notify: true,
                        value: {
                            controls: {
                                LegalBusinessName: {
                                    label: "Legal Business Name",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false
                                    }
                                },
                                DBA: {
                                    label: "Doing Business As",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false
                                    }
                                },
                                AddressLine1: {
                                    label: "Address",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false
                                    }
                                },
                                City: {
                                    label: "City",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false
                                    }
                                },
                                State: {
                                    label: "State",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false
                                    }
                                },
                                ZipCode: {
                                    label: "Zip Code",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: true,
                                        pattern: 'ZIP'
                                    }
                                }
                            },
                            values:
                                {
                                    LegalBusinessName: "",
                                    DBA: "",
                                    AddressLine1: "",
                                    City: "",
                                    State: "",
                                    ZipCode: ""
                                }
                        }
                    },
                    dataAttributes: {
                        type: Object,
                        notify: true
                    }
                },
                init: function () {
                    this._onDataAttributesLoad();
                },
                _initialView: function () {
                    this.set("listOfSimilars", []);
                    $('#listOfSimilarsGridId').hide();
                    $('#experianSearchBusinessForm').show();
                },
                _reportView: function () {
                    $('#listOfSimilarsGridId').show();
                    $('#experianSearchBusinessForm').hide();
                },
                _checkNullUndefined: function (obj) {
                    if (obj && obj != null) {
                        return obj;
                    }
                    return '';
                },
                _getFullBusinessAddess: function (businessAddress) {
                    var address = '';
                    if (businessAddress && businessAddress != null) {
                        address = this._checkNullUndefined(businessAddress.AddressLine1) + ' ' + this._checkNullUndefined(businessAddress.AddressLine2);
                    }
                    return address;
                },
                _onDataAttributesLoad: function () {
                    var self = this;
                    if (self.dataAttributes) {
                        var appDetails = self.dataAttributes.application;
                        var businessAddress = appDetails.businessAddress
                        self.experianBusinessSearchConfiguration.values['LegalBusinessName'] = appDetails.legalBusinessName;
                        self.experianBusinessSearchConfiguration.values['DBA'] = appDetails.dBA;
                        self.experianBusinessSearchConfiguration.values['ZipCode'] = businessAddress.ZipCode;
                        self.experianBusinessSearchConfiguration.values['AddressLine1'] = self._getFullBusinessAddess(businessAddress);
                        self.experianBusinessSearchConfiguration.values['City'] = businessAddress.City;
                        self.experianBusinessSearchConfiguration.values['State'] = businessAddress.State;
                        self.set('experianBusinessSearchConfiguration', $.extend({}, self.experianBusinessSearchConfiguration));
                    }
                },
                _preparebusinessReportRequest: function () {
                    var self = this;
                    if (self.selectedCompany && self.selectedCompany != null) {
                        var businessRptRequest = {};
                        businessRptRequest.TransactionNumber = self.inquiryTransactionNumber;
                        businessRptRequest.BisListNumber = self.selectedCompany.experianFileNumber + self.selectedCompany.recordSequenceNumber;
                        businessRptRequest.DBA = self.selectedCompany.BusinessName;
                        businessRptRequest.LegalBusinessName = self.selectedCompany.BusinessName;
                        businessRptRequest.AddressLine1 = self.selectedCompany.StreetAddress;
                        businessRptRequest.City = self.selectedCompany.City;
                        businessRptRequest.State = self.selectedCompany.State;
                        businessRptRequest.ZipCode = self.selectedCompany.Zip;
                        self.set('businessReportRequest', $.extend({}, businessRptRequest));
                    }
                },
                _showCompanyList: function () {
                    var self = this;
                    if (self.listOfSimilars && self.listOfSimilars != null && self.listOfSimilars.length > 0)
                        $('#listOfSimilarsGridId').show();
                    else
                        $('#listOfSimilarsGridId').hide();
                },
                getListOfSimilars: function (event) {
                    event.preventDefault();
                    var self = this;
                    var url = '/application/' + self.applicationNumber + '/experian/business/search'
                    var appProcessorEndpoint = window.config.services.appProcessor;
                    var form = Polymer.dom(event).localTarget.parentElement;
                    if (form.validate()) {
                        var payload = self.experianBusinessSearchConfiguration.values;
                        self.$.http.post(url, payload, appProcessorEndpoint).then(function (data) {
                            if (!_.isNull(data) && !_.isNull(data.products) && !_.isNull(data.products.premierProfile)) {
                                var resultModel = data.products.premierProfile[0];
                                if (resultModel.listOfSimilars && resultModel.listOfSimilars.length == 1) {
                                    self.raiseAppRefreshEvent();
                                }
                                if (resultModel.inputSummary) {
                                    self.inquiryTransactionNumber = resultModel.inputSummary[0].inquiryTransactionNumber;
                                }
                                if (resultModel.listOfSimilars && resultModel.listOfSimilars.length > 0) {
                                    self._reportView();
                                    self.set("listOfSimilars", resultModel.listOfSimilars);
                                } else {
                                    self._initialView();
                                }
                            }
                        }).fail(function (e) {
                            self._initialView();
                            console.error("Experian listof similars error is " + e);
                        });
                    }
                },
                getExperianBusinessreport: function (event) {
                    var self = this;
                    var url = '/application/' + self.applicationNumber + '/experian/business/report'
                    var appProcessorEndpoint = window.config.services.appProcessor;
                    if (!_.isUndefined(self.businessReportRequest) && !_.isNull(self.businessReportRequest)) {
                        self.$.http.post(url, self.businessReportRequest, appProcessorEndpoint).then(function (data) {
                            self.raiseAppRefreshEvent();
                        }).fail(function (e) {
                            self._reportView();
                            console.error("Experian Get Business report error is " + e);
                        });

                    } else {
                        self.$.message.showMessage("Please Select Business", "ERROR", self.$.MessageContainer);
                    }
                },
                raiseAppRefreshEvent: function () {
                    this.$.utility.raiseEvent(this.fireEvent, {});
                }
            });
        });
    </script>
</dom-module>