<dom-module id="clear-person-report">
    <template>
        <div class="slide-action">
            <form id="clearPersonReportForm" is="iron-form" class="form-horizontal" name="clearPersonSearchForm">
                <dynamic-form form-configuration={{clearPersonSearchConfiguration}} values="{{clearPersonSearchConfiguration.values}}">
                </dynamic-form>
                <br/>
                <button id="listofSimilersbtn" on-click="getListOfSimilars" class="btn btn-primary activity-action-btn">Get Similars</button>
            </form>
            <div id="listOfSimilarsGridId" style="display: none;">
                <grid-component grid-Id="listOfSimilarsGrid" column-Headers="{{columnHeaders}}" column-Definations="{{columnDefinations}}"
                    grid-Data="{{listOfSimilars}}" selected-Rowdata="{{selectedPerson}}"></grid-component>
                <br/>
                <button id="perform_credit_review" on-click="getClearPersonreport" class="btn btn-primary activity-action-btn">Call Clear Person</button>
            </div>
            <div id="MessageContainer"></div>
        </div>
        <url-parser id="url"></url-parser>
        <http-request id="http"></http-request>
        <utility-service id="utility"></utility-service>
        <message-component id="message"></message-component>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "clear-person-report",
                properties: {
                    columnHeaders: {
                        type: Array,
                        notify: true,
                        value: ['First Name', 'Last Name', 'SSN']
                    },
                    columnDefinations: {
                        type: Array,
                        notify: true,
                        value: [{ name: "firstName" }, { name: "lastName" }, { name: "ssn" }]
                    },
                    listOfSimilars: {
                        type: Array,
                        notify: true,
                        observer: '_showCompanyList'
                    },
                    GroupId: {
                        type: String,
                        notify: true,
                        value: ''
                    },
                    selectedPerson: {
                        type: Object,
                        notify: true,
                        observer: '_preparepersonReportRequest'
                    },
                    clearPersonSearchConfiguration: {
                        type: Object,
                        notify: true,
                        value: {
                            controls: {
                                FirstName: {
                                    label: "First Name",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false
                                    }
                                },
                                LastName: {
                                    label: "Last Name",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false
                                    }
                                },
                                SSN: {
                                    label: "Ssn",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: true
                                    }
                                },
                                AddressLine1: {
                                    label: "Address",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false
                                    }
                                },
                                City: {
                                    label: "City",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false
                                    }
                                },
                                State: {
                                    label: "State",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false
                                    }
                                },
                                ZipCode: {
                                    label: "Zip Code",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: true
                                    }
                                }
                            },
                            values:
                                {
                                    FirstName: "",
                                    LastName: "",
                                    SSN: "",
                                    AddressLine1: "",
                                    City: "",
                                    State: "",
                                    ZipCode: ""
                                }
                        }
                    },
                    dataAttributes: {
                        type: Object,
                        notify: true
                    }
                },
                init: function () {
                    this._onDataAttributesLoad();
                },
                _initialView: function () {
                    this.set("listOfSimilars", []);
                    $('#listOfSimilarsGridId').hide();
                    $('#clearPersonReportForm').show();
                },
                _reportView: function () {
                    $('#listOfSimilarsGridId').show();
                    $('#clearPersonReportForm').hide();
                },
                _checkNullUndefined: function (obj) {
                    if (obj && obj != null) {
                        return obj;
                    }
                    return '';
                },
                _getFullOwnerAddess: function (owner) {
                    var address = '';
                    if (owner && owner != null) {
                        address = this._checkNullUndefined(owner.Addresses[0].AddressLine1) + ' ' + this._checkNullUndefined(owner.Addresses[0].AddressLine2);
                    }
                    return address;
                },
                _onDataAttributesLoad: function () {
                    var self = this;
                    if (self.dataAttributes) {
                        var appDetails = self.dataAttributes.application;
                        self.clearPersonSearchConfiguration.values['Ssn'] = appDetails.owners[0].SSN;
                        self.clearPersonSearchConfiguration.values['FirstName'] = appDetails.owners[0].FirstName;
                        self.clearPersonSearchConfiguration.values['LastName'] = appDetails.owners[0].LastName;
                        self.clearPersonSearchConfiguration.values['AddressLine1'] = self._getFullOwnerAddess(appDetails.owners[0]);
                        self.clearPersonSearchConfiguration.values['City'] = appDetails.owners[0].Addresses[0].City;
                        self.clearPersonSearchConfiguration.values['State'] = appDetails.owners[0].Addresses[0].State;
                        self.clearPersonSearchConfiguration.values['ZipCode'] = appDetails.owners[0].Addresses[0].ZipCode;
                        self.set('clearPersonSearchConfiguration', $.extend({}, self.clearPersonSearchConfiguration));
                    }
                },
                _showPersonList: function () {
                    var self = this;
                    if (self.listOfSimilars && self.listOfSimilars != null && self.listOfSimilars.length > 0)
                        $('#listOfSimilarsGridId').show();
                    else
                        $('#listOfSimilarsGridId').hide();
                },
                getListOfSimilars: function (event) {
                    event.preventDefault();
                    var self = this;
                    var url = '/application/' + self.applicationNumber + '/clear/person/search'
                    var appProcessorEndpoint = window.config.services.appProcessor;
                    var form = Polymer.dom(event).localTarget.parentElement;
                    if (form.validate()) {
                        var payload = self.clearPersonSearchConfiguration.values;
                        self.$.http.post(url, payload, appProcessorEndpoint).then(function (data) {
                            if (!_.isNull(data) && !_.isNull(data.resultGroup) && !_.isNull(data.resultGroup.dominantValues)) {

                                var resultModel = data.resultGroup;
                                if (resultModel.groupId) {
                                    self.GroupId = resultModel.groupId;
                                    self.getClearPersonreport();
                                }

                            }
                        }).fail(function (e) {
                            self._initialView();
                            console.error("Clear person search error is " + e);
                        });
                    }
                },
                getClearPersonreport: function (event) {
                    var self = this;
                    var url = '/application/' + self.applicationNumber + '/clear/person/report/' + self.GroupId
                    var appProcessorEndpoint = window.config.services.appProcessor;
                    if (!_.isUndefined(self.GroupId) && !_.isNull(self.GroupId)) {
                        self.$.http.get(url, appProcessorEndpoint).then(function (data) {
                            self.raiseAppRefreshEvent();
                        }).fail(function (e) {
                            self._reportView();
                            console.error("Clear Get Person report error is " + e);
                        });

                    } else {
                        self.$.message.showMessage("Please Select Pearson", "ERROR", self.$.MessageContainer);
                    }
                },
                raiseAppRefreshEvent: function () {
                    this.$.utility.raiseEvent(this.fireEvent, {});
                }
            });
        });
    </script>
</dom-module>