<dom-module id="clear-business-report">
    <template>
        <div class="slide-action">
            <form id="clearBusinessReportForm" is="iron-form" class="form-horizontal" name="clearBusinessSearchForm">
                <dynamic-form form-configuration={{clearBusinessSearchConfiguration}} values="{{clearBusinessSearchConfiguration.values}}">
                </dynamic-form>
                <br/>
                <button id="listofSimilersbtn" on-click="getclearBusinessList" class="btn btn-primary activity-action-btn">Get Similars</button>
            </form>
            <div id="clearBusinessSearchResult" style="display: none;">
                <grid-component grid-Id="listOfClearGrid" column-Headers="{{columnHeaders}}" column-Definations="{{columnDefinations}}" grid-Data="{{clearBusinessList}}"
                    selected-Rowdata="{{selectClear}}"></grid-component>
                <br/>
                <button id="perform_clear_review" on-click="getclearBusinessReport" class="btn btn-primary activity-action-btn">Call Clear Business</button>
            </div>
            <div id="MessageContainer"></div>
        </div>
        <url-parser id="url"></url-parser>
        <http-request id="http"></http-request>
        <utility-service id="utility"></utility-service>
        <message-component id="message"></message-component>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "clear-business-report",
                properties: {
                    columnHeaders: {
                        type: Array,
                        notify: true,
                        value: ['Business Name', 'Company EntityId']
                    },
                    columnDefinations: {
                        type: Array,
                        notify: true,
                        value: [{ name: "recordDetails.businessResponseDetail.businessName" }, { name: "recordDetails.businessResponseDetail.companyEntityId" }]
                    },
                    clearBusinessList: {
                        type: Array,
                        notify: true,
                        observer: '_showBusinessList'
                    },
                    businessReportRequest: {
                        type: Object,
                        notify: true,
                    },
                    GroupId: {
                        type: String,
                        notify: true,
                        value: ''
                    },
                    selectClear: {
                        type: Object,
                        notify: true,
                        observer: '_prepareClearReportRequest'
                    },
                    clearBusinessSearchConfiguration: {
                        type: Object,
                        notify: true,
                        value: {
                            controls: {
                                BusinessName: {
                                    label: "Business Name",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false
                                    }
                                },
                                Fein: {
                                    label: "Fein",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false
                                    }
                                },
                                DUNSNumber: {
                                    label: "DUNSNumber",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: true
                                    }
                                },
                                AddressLine1: {
                                    label: "Address",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false
                                    }
                                },
                                City: {
                                    label: "City",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false
                                    }
                                },
                                State: {
                                    label: "State",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false
                                    }
                                },
                                ZipCode: {
                                    label: "Zip Code",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: true
                                    }
                                }
                            },
                            values:
                                {
                                    BusinessName: "",
                                    Fein: "",
                                    DUNSNumber: "",
                                    AddressLine1: "",
                                    City: "",
                                    State: "",
                                    ZipCode: ""
                                }
                        }
                    },
                    dataAttributes: {
                        type: Object,
                        notify: true
                    }
                },
                init: function () {
                    this._onDataAttributesLoad();
                },
                _initialView: function () {
                    this.set("clearBusinessList", []);
                    $('#clearBusinessSearchResult').hide();
                    $('#clearBusinessReportForm').show();
                },
                _reportView: function () {
                    $('#clearBusinessSearchResult').show();
                    $('#clearBusinessReportForm').hide();
                },
                _checkNullUndefined: function (obj) {
                    if (obj && obj != null) {
                        return obj;
                    }
                    return '';
                },
                _getFullBusinessAddess: function (businessAddress) {
                    var address = '';
                    if (businessAddress && businessAddress != null) {
                        address = this._checkNullUndefined(businessAddress.AddressLine1) + ' ' + this._checkNullUndefined(businessAddress.AddressLine2);
                    }
                    return address;
                },
                _onDataAttributesLoad: function () {
                    var self = this;
                    if (self.dataAttributes) {
                        var appDetails = self.dataAttributes.application;
                        var businessAddress = appDetails.businessAddress
                        self.clearBusinessSearchConfiguration.values['BusinessName'] = appDetails.legalBusinessName;
                        self.clearBusinessSearchConfiguration.values['Fein'] = appDetails.businessTaxId;
                        self.clearBusinessSearchConfiguration.values['DUNSNumber'] = appDetails.dBA;
                        self.clearBusinessSearchConfiguration.values['AddressLine1'] = self._getFullBusinessAddess(businessAddress);
                        self.clearBusinessSearchConfiguration.values['City'] = businessAddress.City;
                        self.clearBusinessSearchConfiguration.values['State'] = businessAddress.State;
                        self.clearBusinessSearchConfiguration.values['ZipCode'] = businessAddress.ZipCode;
                        self.set('clearBusinessSearchConfiguration', $.extend({}, self.clearBusinessSearchConfiguration));
                    }
                },
                _prepareClearReportRequest: function () {
                    var self = this;
                    if (self.selectClear && self.selectClear != null) {
                        self.GroupId = self.selectClear.groupId;
                    }
                },
                _showBusinessList: function () {
                    var self = this;
                    if (self.clearBusinessList && self.clearBusinessList != null && self.clearBusinessList.length > 0)
                        $('#clearBusinessSearchResult').show();
                    else
                        $('#clearBusinessSearchResult').hide();
                },
                getclearBusinessList: function (event) {
                    event.preventDefault();
                    var self = this;
                    var url = '/application/' + self.applicationNumber + '/clear/business/search'
                    var appProcessorEndpoint = window.config.services.appProcessor;
                    var form = Polymer.dom(event).localTarget.parentElement;
                    if (form.validate()) {
                        var payload = self.clearBusinessSearchConfiguration.values;
                        self.$.http.post(url, payload, appProcessorEndpoint).then(function (data) {
                            if (!_.isNull(data) && !_.isNull(data.resultGroup) && !_.isNull(data.resultGroup)) {

                                var resultModel = data.resultGroup;
                                if (resultModel && resultModel.length == 1) {
                                    self.GroupId = resultModel[0].groupId;
                                    self.getclearBusinessReport();
                                }
                                if (resultModel && resultModel.length > 0) {
                                    self._reportView();
                                    self.set("clearBusinessList", resultModel);
                                } else {
                                    self._initialView();
                                }
                            }
                        }).fail(function (e) {
                            self._initialView();
                            console.error("Clear business search error is " + e);
                        });
                    }
                },
                getclearBusinessReport: function (event) {
                    var self = this;
                    var url = '/application/' + self.applicationNumber + '/clear/business/report/' + self.GroupId
                    var appProcessorEndpoint = window.config.services.appProcessor;
                    if (!_.isUndefined(self.GroupId) && !_.isNull(self.GroupId)) {
                        self.$.http.get(url, appProcessorEndpoint).then(function (data) {
                            self.raiseAppRefreshEvent();
                        }).fail(function (e) {
                            self._reportView();
                            console.error("Clear Get Business report error is " + e);
                        });

                    } else {
                        self.$.message.showMessage("Please Select Business", "ERROR", self.$.MessageContainer);
                    }
                },
                raiseAppRefreshEvent: function () {
                    this.$.utility.raiseEvent(this.fireEvent, {});
                }
            });
        });
    </script>
</dom-module>