<dom-module id="dynamic-form">
    <template>
        <style>
            .prefixSign {
                font: normal normal normal 14px/1 FontAwesome !important;
                font-size: inherit !important;
            }

            .textareascroll {
                overflow-y: auto;
            }

            .row {
                margin: auto auto 10px auto;
            }

            .radioGroup {
                padding: 10px;
            }

            .col-md-12 {
                padding: 0 2px;
            }

            .twoColumn {
                display: inline-block;
                margin: 10px 10px;
                width: 22%;
            }



            .twoInRow {
                display: inline-block;
                margin: 10px 0px;
                width: 49%;
            }

            .custom-date-picker {
                padding: 8px 0;

                --paper-input-container-input: {
                    font-size: 11px;
                }

                --paper-input-container-label: {
                    font-size: 12px;
                }

                --vaadin-date-picker-overlay: {
                    max-height: 400px !important;
                    max-width: 500px !important;
                }
            }

            .custom-input {
                --paper-input-container-input: {
                    font-size: 11px;
                }

                --paper-input-container-label: {
                    font-size: 12px;
                }
            }

            .twoRow {
                display: inline-block !important;
                margin: 0px 0px !important;
                width: 49% !important;
            }

            .FiveRow {
                display: inline-block !important;
                margin: 0px 0px !important;
                width: 19% !important;
            }

            .fourRow {
                display: inline-block !important;
                margin: 0px 0px !important;
                width: 24% !important;
            }

            .fourColumnReport {
                display: inline-block !important;
                margin: 0px 0px !important;
                width: 23% !important;
            }

            .threeColumn {
                display: inline-block !important;
                margin: 0px 0px !important;
                width: 32% !important;
            }

            .CustomDate {
                display: inline-block !important;
                margin: 8px 0px !important;
                width: 49% !important;
            }

            .customtimepicker {
                height: 30px ! important;
            }
        </style>
        <template is="dom-repeat" items="[[_toArray(formConfiguration.controls)]]">
            <div class$="[[getClassName(item)]]">
                <div class="col-md-12">
                    <template is="dom-if" if="[[_isMaskedTextbox(item.value.type)]]">
                        <paper-input class="custom-input" name="[[item.name]]" id="[[_autoNameGenerator(item)]]"
                            type="[[item.value.type]]" label="[[item.value.label]]" title="[[item.value.title]]"
                            placeholder="[[item.value.placeholder]]" value="[[_getValue(item.name)]]"
                            required$="[[item.value.validations.required]]"
                            readonly$="[[item.value.validations.readonly]]"
                            char-counter$="[[item.value.validations.charcounter]]" auto-complete="none"
                            auto-validate$="[[item.value.validations.autovalidate]]"
                            minlength$="[[item.value.validations.minLen]]"
                            maxlength$="[[item.value.validations.maxLen]]" pattern$="[[_getPattern(item)]]"
                            allowed-pattern$="[[item.value.validations.allowpattern]]"
                            error-message$="[[item.value.validations.error]]" on-change="_stuffChangedMasked"
                            disabled$="[[item.value.validations.disabled]]"></paper-input>
                    </template>
                    <template is="dom-if" if="[[_isTextbox(item.value.type)]]">
                        <paper-input class="custom-input" name="[[item.name]]" id="[[_autoNameGenerator(item)]]"
                            type="[[item.value.type]]" label="[[item.value.label]]" title="[[item.value.title]]"
                            placeholder="[[item.value.placeholder]]" value="[[_getValue(item.name)]]"
                            required$="[[item.value.validations.required]]"
                            readonly$="[[item.value.validations.readonly]]"
                            char-counter$="[[item.value.validations.charcounter]]" auto-complete="none"
                            auto-validate$="[[item.value.validations.autovalidate]]"
                            minlength$="[[item.value.validations.minLen]]"
                            maxlength$="[[item.value.validations.maxLen]]" pattern$="[[_getPattern(item)]]"
                            allowed-pattern$="[[item.value.validations.allowpattern]]"
                            error-message$="[[item.value.validations.error]]" on-change="_stuffChanged"
                            disabled$="[[item.value.validations.disabled]]"></paper-input>
                    </template>
                    <template is="dom-if" if="[[_isTextboxWithCurency(item.value.type)]]">
                        <paper-input class="custom-input" name="[[item.name]]" id="[[_autoNameGenerator(item)]]"
                            type="[[item.value.type]]" label="[[item.value.label]]" title="[[item.value.title]]"
                            placeholder="[[item.value.placeholder]]" value="[[_getValue(item.name)]]"
                            required$="[[item.value.validations.required]]"
                            readonly$="[[item.value.validations.readonly]]"
                            char-counter$="[[item.value.validations.charcounter]]" auto-complete="none"
                            auto-validate$="[[item.value.validations.autovalidate]]"
                            minlength$="[[item.value.validations.minLen]]"
                            maxlength$="[[item.value.validations.maxLen]]" pattern$="[[_getPattern(item)]]"
                            allowed-pattern$="[[item.value.validations.allowpattern]]"
                            error-message$="[[item.value.validations.error]]" on-change="_stuffChanged"
                            disabled$="[[item.value.validations.disabled]]">
                            <div prefix class$="{{getCurrencySymbol()}}"></div>
                        </paper-input>
                    </template>
                    <template is="dom-if" if="[[_isDatePicker(item.value.type)]]">
                        <vaadin-date-picker class="custom-date-picker" i18n="{{_getDateFormat(item.value.i18n)}}"
                            label="[[item.value.label]]" title="[[item.value.title]]" value="{{_getValue(item.name)}}"
                            min="[[_getDateRange('min',item)]]" max="[[_getDateRange('max',item)]]"
                            initial-position="[[_getValue(item.name)]]" name="[[item.name]]" id="[[item.name]]"
                            placeholder="[[item.value.placeholder]]" format="[[_getFormat(item.value)]]"
                            required$="[[item.value.validations.required]]"
                            disabled$="[[item.value.validations.disabled]]"></vaadin-date-picker>
                    </template>
                    <template is="dom-if" if="[[_isCheckbox(item.value.type)]]">
                        <paper-checkbox checked="[[_getValue(item.name)]]" name="[[item.name]]" id="[[item.name]]"
                            on-change="_stuffChanged" required$="[[item.value.validations.required]]"
                            disabled$="[[item.value.validations.disabled]]">
                            [[item.value.label]]
                        </paper-checkbox>
                    </template>
                    <template is="dom-if" if="[[_isCheckboxGroup(item.value.type)]]">
                        <iron-label class="no-role-selected" for="papercheckboxGroup">
                            {{item.value.title}}
                            <br>
                            <br>
                        </iron-label>
                        <iron-selector id="[[_autoNameGenerator(item)]]" name="[[item.name]]" attr-for-selected="name"
                            selected-attribute="checked">
                            <template is="dom-repeat" items="[[item.value.selectList]]">
                                <paper-checkbox on-change="_stuffChanged" name="[[item.key]]">[[item.value]]
                                </paper-checkbox>
                            </template>
                        </iron-selector>
                    </template>
                    <template is="dom-if" if="[[_isDropdown(item.value.type)]]">
                        <paper-dropdown-menu label="[[item.value.title]]" allowOutsideScroll
                            required$="[[item.value.validations.required]]">
                            <paper-listbox name="[[item.name]]" class="dropdown-content" attr-for-selected="myid"
                                selected="[[item.value.selectedValue]]" on-iron-select="_stuffChanged"
                                multi$="[[_isMultiDropDown(item)]]">
                                <template is="dom-repeat" items="[[item.value.selectList]]" as="dropItem">
                                    <paper-item myid="[[dropItem.key]]">[[dropItem.value]]</paper-item>
                                </template>
                            </paper-listbox>
                        </paper-dropdown-menu>
                    </template>
                    <template is="dom-if" if="[[_isComboBox(item.value.type)]]">
                        <vaadin-combo-box id="[[_autoNameGenerator(item)]]" class="custom-input" name="[[item.name]]"
                            value="[[_getValue(item.name)]]" item-value-path="[[item.value.labelValue]]"
                            item-label-path="[[item.value.labelKey]]" items="[[item.value.selectList]]"
                            label="[[item.value.label]]" prevent-invalid-input="true"
                            readonly$="[[item.value.validations.readonly]]"
                            required$="[[item.value.validations.required]]" on-change="_stuffChanged"
                            on-vaadin-dropdown-opened="_comboBoxOpened" disabled$="[[item.value.validations.disabled]]"
                            udffunction$="[[item.value.udffunction]]">
                        </vaadin-combo-box>
                    </template>
                    <template is="dom-if" if="[[_isRadioGroup(item.value.type)]]">
                        <label id="[[item.name]]">[[item.value.label]]</label>
                        <paper-radio-group on-change="_stuffChanged" attr-for-selected="value"
                            aria-labelledby="[[item.name]]" selected="[[_getValue(item.name)]]" required>
                            <template is="dom-repeat" items="[[item.value.radioList]]" as="radioItem">
                                <paper-radio-button class="radioGroup" value="[[radioItem.key]]" name="[[item.name]]">
                                    [[radioItem.value]]</paper-radio-button>
                            </template>
                        </paper-radio-group>
                    </template>
                    <template is="dom-if" if="[[_isTextArea(item.value.type)]]">
                        <paper-textarea class="custom-input textareascroll" name="[[item.name]]"
                            id="[[_autoNameGenerator(item.name)]]" label="[[item.value.label]]"
                            placeholder="[[item.value.placeholder]]" value="[[_getValue(item.name)]]"
                            required$="[[item.value.validations.required]]"
                            readonly$="[[item.value.validations.readonly]]" auto-complete="none"
                            auto-validate$="[[item.value.validations.autovalidate]]"
                            error-message$="[[item.value.validations.error]]" on-change="_stuffChanged"
                            rows$="[[item.value.validations.rows]]"></paper-textarea>
                    </template>
                    <template is="dom-if" if="[[_isTimePicker(item.value.type)]]">
                        <label> Time : </label>
                        <datetime-picker id="[[item.name]]" name="[[item.name]]" on-change="_stuffChanged"
                            class="customtimepicker"></datetime-picker>
                    </template>
                </div>
            </div>
        </template>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: 'dynamic-form',
                properties: {
                    'formConfiguration': {
                        type: Object
                    },
                    'values': {
                        type: Object,
                        notify: true,
                        reflectToAttribute: true,
                        observer: '_valueChanged'
                    },
                    i18n: {
                        type: Object,
                        notify: true,
                        value: {
                            monthNames: moment.months(),
                            weekdays: moment.weekdays(),
                            weekdaysShort: moment.weekdaysShort(),
                            firstDayOfWeek: moment.localeData().firstDayOfWeek(),
                            week: 'Week',
                            calendar: 'Calendar',
                            clear: 'Clear',
                            today: 'Today',
                            cancel: 'Cancel',
                            formatDate: function (d) {
                                return moment(d).format(COUNTRY[window.config.country].DATE_FORMAT.DATE);
                            },
                            parseDate: function (s) {
                                return moment(s, COUNTRY[window.config.country].DATE_FORMAT.DATE).toDate();
                            },
                            formatTitle: function (monthName, fullYear) {
                                return monthName + ' ' + fullYear;
                            }
                        }
                    },
                    patterns: {
                        type: Object,
                        notify: true,
                        value: {
                            EMAIL: "^[_A-Za-z0-9-\\+]+(\\.[_A-Za-z0-9-]+)*@" +
                                "[A-Za-z0-9-]+(\\.[A-Za-z0-9]+)*(\\.[A-Za-z]{2,})$",
                            PASSWORD: "^(?=.*\\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\\s).{8,15}$",
                            IFSC: "^[a-zA-z]{4}\\d{1}[a-zA-Z0-9]{6}$",
                            PAN: "^[A-Za-z]{5}[0-9]{4}[A-Za-z]{1}$",
                            AADHAAR: "^[0-9]{12}$",
                            ONEDECIMAL: "\\d+(\\.\\d{1})?",
                            ONENUMERICANDDECIMAL: "^([7](\\.[0])?)|([3-6](\\.[0,5])?)$",
                            DECIMAL: "\\d+(\\.\\d{2})?",
                            UPTOTWODECIMAL: "\\d+(\\.\\d{0,2})?",
                            PIN: "^[0-9]{6}$",
                            NUMBER: "^[0-9]+$",
                            SSN: "^[0-9]{9}$",
                            MOBILE: "/^\\D?(\\d{3})\\D?\\D?(\\d{3})\\D?(\\d{4})$/",
                            ZIP: "^[0-9]{5}$",
                            CANADAZIP: "^(?!.*[DFIOQU])[A-VXY][0-9][A-Z] ?[0-9][A-Z][0-9]$",
                            EIN: "^[0-9]{9}$",
                            AMOUNT: "^[1-9][0-9]*$",
                            ALPHABET: "^[a-zA-Z][a-zA-Z ]*$",
                            RATE: "\\d+(\\.\\d{2,18})?",
                            NONZIRODECIMAL: "^[1-9][1-9]*(\.)?[0-9]+$"
                        }
                    },
                    maskPattern: {
                        type: String,
                        value: "(XXX)-XXX-XXXX"
                    }
                },
                init: function () {
                    var self = this;
                    setTimeout(function () {
                        window.document.querySelectorAll('vaadin-date-picker').forEach(function (element) {
                            element.addEventListener('value-changed', function (event) {
                                if (!_.isUndefined(self.values) && self.values.hasOwnProperty(event.target.name)) {
                                    var values = _.cloneDeep(self.values);
                                    values[event.target.name] = event.target.value;
                                    self.set('values', values);
                                }
                            });
                        });
                    }, 1000);
                    $('datetime-picker #date').hide();
                },
                attached: function () {
                    var self = this;
                    if (window.jQuery) {
                        self.init();
                    } else {
                        window.addEventListener("WebComponentsReady", self.init());
                    }
                },
                _getPattern: function (item) {
                    var self = this;
                    if (item.value.validations.hasOwnProperty('pattern')) {
                        var pattern = item.value.validations.pattern
                        if (pattern !== "" && pattern !== null && pattern !== undefined) {
                            return self.patterns[pattern];
                        }
                    }
                },
                _comboBoxOpened: function (e) {
                    // customized the combo box styles.
                    //Polymer.dom(e).localTarget.$.overlay;
                    //overlay.style.backgroundColor = "#03466B";
                },
                getClassName: function (item) {
                    if (item.value.hasOwnProperty('class') && item.value.class !== '')
                        return "row " + item.value.class;

                    return "row"
                },
                _autoNameGenerator: function (item) {
                    name = item.name;
                    if (item.hasOwnProperty('value') && item.value.hasOwnProperty('id')) {
                        return item.value.id;
                    }
                    var timestamp = moment().unix();
                    return name + timestamp;
                },
                _valueChanged: function () {
                    //  console.log('value changed.', this.values);
                },
                extractValue: function (event) {
                    let self = this;
                    switch (event.target.tagName) {
                        case "INPUT":
                            return event.target.value;
                        case "PAPER-CHECKBOX":
                            return event.target.checked;
                        case "PAPER-RADIO-BUTTON":
                            return event.target.value;
                        case "PAPER-LISTBOX":
                            var value = (event.target.multi) ? event.target.selectedValues : event.target.selected;
                            return value;
                        case "VAADIN-COMBO-BOX":
                            return event.target.value;
                        case "TEXTAREA":
                            return event.target.value;
                        default:
                            return;
                    }
                },
                _stuffChanged: function (event) {
                    var self = this;
                    var tagName = event.target.tagName;
                    var fieldName = event.target.name;
                    if (event && event.target && event.target.parentElement && event.target.parentElement.name && event.target.parentElement.name === "LastCallDesposition") {
                        fieldName = "LastCallDesposition";
                    }
                    if (fieldName === "") {
                        fieldName = self._getNameForTimePicker(event.target.id);
                    }
                    var value = this.extractValue(event);
                    var originalValue = (this.get("values." + fieldName));
                    if (fieldName === "LastCallDesposition" && value === true) {
                        originalValue = ((originalValue === "") ? "" : originalValue + ",") + event.target.name;
                        this.set("values." + fieldName, originalValue);
                    }
                    else if (fieldName === "LastCallDesposition" && value === false) {
                        var arrayData = originalValue.split(',');
                        arrayData = jQuery.grep(arrayData, function (value) {
                            return value != event.target.name;
                        });
                        this.set("values." + fieldName, arrayData.toString());
                    }
                    else {
                        this.set("values." + fieldName, value);
                    }

                    if (event.target.hasAttribute("udffunction")) {
                        self.fire(event.target.getAttribute("udffunction"), { values: value, formdata: self.values });
                    }
                },
                _getNameForTimePicker: function (id) {
                    if (id === "time") {
                        return "customTimePicker";
                    }
                },
                _isRadioGroup: function (type) {
                    return type === 'radiogroup';
                },
                _isDropdown: function (type) {
                    return type === 'dropdown';
                },
                _isComboBox: function (type) {
                    return type === 'combobox';
                },
                _isDatePicker: function (type) {
                    return type === 'date';
                },
                _isTextbox: function (type) {
                    return (type === "email" || type === "number" || type === "textbox" || type === "password");
                },
                _isTextboxWithCurency: function (type) {
                    return (type === "textboxwithCurrency");
                },
                _isTextArea: function (type) {
                    return (type === "textarea");
                },
                _isMaskedTextbox: function (type) {
                    return type === 'maskedtextbox';
                },
                _isCheckbox: function (type) {
                    return type === 'checkbox';
                },
                _isCheckboxGroup: function (type) {
                    return type === 'checkboxGroup';
                },
                _isMultiDropDown: function (item) {
                    return item.value.hasOwnProperty('multi') && item.value.multi ? item.value.multi : false;
                },
                _isTimePicker: function (type) {
                    return type === 'customtimepicker';
                },
                _getValue: function (name) {
                    return this.values[name] === 0 ? 0 : this.values[name] || '';
                },
                _getFormat: function (obj) {
                    return obj.format || 'MM/DD/YYYY';
                },
                _toArray: function (obj) {
                    if (_.isUndefined(obj)) {
                        return;
                    }
                    var ary = Object.keys(obj).map(function (key) {
                        return { name: key, value: obj[key] };
                    });
                    return ary;
                },
                _getDateFormat: function (obji18n) {
                    return _.isUndefined(obji18n) ? this.i18n : obji18n;
                },
                _getDateRange: function (targetObj, itemObj) {
                    var status = itemObj.value.validations.min;
                    var factorNo = itemObj.value.minFactor;
                    var factor = itemObj.value.minFactorType;
                    if (targetObj === 'max') {
                        var status = itemObj.value.validations.max;
                        var factorNo = itemObj.value.maxFactor;
                        var factor = itemObj.value.maxFactorType;
                    }

                    if (!status) {
                        return;
                    }
                    var today = moment();
                    if (factorNo === 0) {
                        return today.format('YYYY-MM-DD');
                    } else if (factor === undefined || factor === 'years') {
                        return today.clone().subtract(factorNo, 'years').format('YYYY-MM-DD');
                    } else {
                        return today.clone().subtract(factorNo, factor).format('YYYY-MM-DD');
                    }

                },
                _stuffChangedMasked: function (event) {
                    var value = event.target.value;
                    if (value) {
                        value = this.unmask(value);
                        var formattedValue = this.mask(value);
                        event.target.value = formattedValue.trim();
                        event.target.dataHost.updateValueAndPreserveCaret(formattedValue.trim());
                        event.target.dataHost._handleAutoValidate();
                    }
                },
                mask: function (input) {
                    var mask = this.maskPattern;
                    var s = '' + input,
                        result = '';
                    for (var im = 0, is = 0; is < s.length; im++) {
                        if (mask.charAt(im) == 'X') {
                            result += s.charAt(is);
                            is++;
                        } else if (mask.charAt(im) == '*') {
                            result += mask.charAt(im);
                            is++;
                        } else {
                            result += mask.charAt(im);
                        }
                    }
                    return result;
                },
                unmask: function (maskedInput) {
                    var mask = this.maskPattern;
                    var s = '' + maskedInput,
                        result = '';
                    var i = 0;
                    while (i < s.length) {
                        if (mask.charAt(i) != s.charAt(i)) {
                            result += s.charAt(i);
                        }
                        i++;
                    }
                    return result;
                },
                getCurrencySymbol: function () {
                    var self = this;
                    return formats.currencySymbol(window.config.country) + " prefixSign";
                }
            });
        });
    </script>
</dom-module>