html:not(:-moz-handler-blocked) {
    overflow-y: hidden;
    overflow-x: hidden;
}

.nav-header {
  padding: 10px 15px;
  background:@nav-bg;
}

.nav li a {
  display:block;
  color: @nav-text-color;
  font-weight: 600;
  padding: 14px 20px 14px 25px;
}

.navbar-top-links li a {
  padding: 20px 10px;
}


.nav li.active > a {
  color: @nav-active;
}

.navbar-default .nav li a:hover, .navbar-default .nav  li a:focus {
  background-color: darken(@nav-bg, 3%);
  color: @nav-active;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background: #fff;
}

.nav  li a i {
  margin-right: 6px;
}

.nav > * > li.active {
  border-left: 4px solid darken(@navy, 2%);
  background: darken(@nav-bg, 3%);
}


.nav.nav-2-level li.active {
  border: none;
}

.nav.nav-2-level.collapse[style] {
  height: auto !important;
}

.nav-2-level li,
.nav-3-level li {
  border-bottom: none !important;
}

.nav-2-level li a {
  padding: 7px 10px 7px 30px;
}

.nav-3-level li a {
  padding-left: 50px;
}

.nav-2-level li:last-child {
  margin-bottom: 0px;
}

body:not(.fixed-sidebar):not(.canvas-menu).mini-navbar .nav li:hover .nav-2-level,
.mini-navbar .nav li:focus .nav-2-level {
  display: block;
  border-radius: 0 2px 2px 0;
  min-width: 140px;
  height: auto;
}

body.mini-navbar .navbar-default .nav li .nav-2-level li a {
  font-size: 12px;
  border-radius: 3px;
}


.mini-navbar .nav-2-level li a {
  padding: 7px 10px 7px 30px;
}

.mini-navbar .nav-2-level {
  position: absolute;
  left: 70px;
  top: 0px;
  background-color: @nav-bg;
  padding: 10px 10px 10px 10px;
  font-size: 12px;
}

.canvas-menu.mini-navbar .nav-2-level {
  background: darken(@nav-bg, 3%);
}

.mini-navbar li.active .nav-2-level {
  left: 65px
}


body:not(.fixed-sidebar):not(.canvas-menu).mini-navbar .nav-2-level {
  display: none;
}


.fixed-sidebar.mini-navbar .nav li:focus .nav-2-level,
.canvas-menu.mini-navbar .nav li:focus .nav-2-level {
  display: block;
  height: auto;
}

body.fixed-sidebar.mini-navbar .navbar-default .nav li .nav-2-level li a {
  font-size: 12px;
  border-radius: 3px;
}

body.canvas-menu.mini-navbar .navbar-default .nav li .nav-2-level li a {
  font-size: 13px;
  border-radius: 3px;
}

.fixed-sidebar.mini-navbar .nav-2-level li a,
.canvas-menu.mini-navbar .nav-2-level li a {
  padding: 10px 10px 10px 15px;
}

.fixed-sidebar.mini-navbar .nav-2-level,
.canvas-menu.mini-navbar .nav-2-level {
  position: relative;
  padding: 0;
  font-size: 13px;
}

.fixed-sidebar.mini-navbar li.active .nav-2-level,
.canvas-menu.mini-navbar li.active .nav-2-level {
  left: 0px
}


.canvas-menu.mini-navbar .nav-2-level li a,
.fixed-sidebar.mini-navbar .nav-2-level li a {
  padding: 7px 10px 7px 30px
}

.fixed-sidebar.mini-navbar .nav-2-level,
.canvas-menu.mini-navbar .nav-2-level {
  left: 0px
}

.nav li.nav-header.nav-section-header {
  padding: 0 15px;
  font-variant: small-caps;
  font-size:16px;
  font-weight: bold;
  padding-top:10px;
  color:darken(@nav-active, 20%);
}

.nav .nav-divider {
  background-color: #A0A0A0;
  margin:0;
}

body.mini-navbar .nav li.nav-header.nav-section-header {
  display:none;
}

.nav li a i {
  font-size:120%;
}


.tabs-container .nav-tabs > li.active >  a {
  color:#676a6c;
}

.text-align-left{
  text-align: left;
}

@media print {
  .nav-sidebar {
    display: none;
  }
}

.dataTables_wrapper .dataTables_paginate .ellipsis {
  display: none;
}

.dataTables_wrapper div.dataTables_paginate {
    float: right;
    margin: 0;
}

.dataTables_wrapper div.dataTables_filter label {
    float: right;
    font-weight: normal;
}

.dataTables_wrapper div.dataTables_length label {
    float: left;
    text-align: left;
    font-weight: normal;
}

.dataTables_length label select, .dataTables_filter label input {
    background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #e5e6e7;
    border-radius: 1px;
    color: inherit;
    display: inline-block;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    font-size: 14px;
}

.dataTables_wrapper .dataTables_paginate > .previous {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.dataTables_wrapper .dataTables_paginate > .next {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.dataTables_wrapper .dataTables_paginate a.current {
    background-color: #f4f4f4;
    border-color: #DDDDDD;
    color: inherit;
    cursor: default;
    z-index: 2;
}

.dataTables_wrapper .dataTables_paginate a {
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    color: inherit;
    float: left;
    line-height: 1.42857;
    margin-left: -1px;
    padding: 4px 10px;
    position: relative;
    text-decoration: none;
}


.dataTables_paginate a:focus, .dataTables_paginate a:hover, .dataTables_paginate a:focus, .dataTables_paginate a:hover {
    color: #23527c;
    background-color: #eee;
    border-color: #ddd;
}

.dataTables_paginate .disabled, .dataTables_paginate .disabled:hover {
  color: #777;
  cursor: not-allowed;
  background-color: #fff;
  border-color: #ddd;
}

table.dataTable thead th.sorting_asc:after {
    content: "\f0de";
}
table.dataTable thead th.sorting_desc:after {
    content: "\f0dd";
}

table .radio {
  margin: 0;
  padding: 0 0 0 25%;
}

table .radio input[type="radio"] {
  margin: 0;
  cursor: pointer;
}

table .radio label::before {
  margin: 0;
}

table .radio label::after {
  margin: 0;
}

.form-control {
    padding: 0px 12px;
}

td .form-control {
  height: 25px;
}

.form-control.error, input.error, input.error + label::before {
    border: 1px solid #cc5965;
}

input.error + label::after {
   background-color: #cc5965;
 }

.two-column-form {
    display: inline-block;
    width: 47%;
    vertical-align: middle;
}

div .two-column-form:first-of-type {
  margin-right: 5%;
}

.input-group-btn {
  width: auto;
}

.toast-success {
    background-color: #51a351;
}

.two-column-single-tag,
.two-column-double-tag {
  margin-top: 30px;
}

.two-column-double-tag > div:last-child {
  margin-top: 0;
}

[hidden] {
  display: none !important;
}

.checkbox-primary input[type="checkbox"]:checked + label::before,
.checkbox-primary input[type="radio"]:checked + label::before {
  background-color: #88BF40 !important;
  border-color: #88BF40 !important;
}

.radio-primary input[type="radio"] + label::after {
  background-color: #88BF40 !important;
}
.radio-primary input[type="radio"]:checked + label::before {
  border-color: #88BF40 !important;
}
.radio-primary input[type="radio"]:checked + label::after {
  background-color: #88BF40 !important;
}

.open > .dropdown-toggle.btn-primary:hover,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active:hover,
.btn-primary:active:focus {
  background-color: #578C11;
  border-color: #4D7B0F;
}

.input-group-btn:last-child > .btn {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

textarea.add-onetime-payment,
textarea.modify-payment,
textarea.start-stop-ach {
  resize: none;
  width: 520px;
  border: 1px solid #e5e6e7;
}

table.dataTable thead .sorting_asc {
  background-image: none;
}

.dz-preview {
  border: 2px solid grey;
  border-radius: 5px;
  padding: 5px;
}
.dz-preview .label{
  margin: 5px;
  line-height: 3;
}
.dz-preview .dz-image{
  margin: 0 auto;
}
.dropdown-menu > li > a {
  margin: 4px;
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}
.btn-group > .buttons-html5,
.btn-group > .buttons-print {
  margin: 0 5px;
  font-size: 20px;
  padding: 1px 5px;
  line-height: 1.5;
  border-radius: 5px !important;
  border-color: lightgrey;
  background-color: white;
  color: black;
}
.btn-group > .buttons-html5:hover,
.btn-group > .buttons-print:hover {
  border-color: darkgrey;
}
.btn-group {
  margin: 0;
}
.btn-group > .btn > span {
  font-size: 12px;
  vertical-align: middle;
}
table.issue-tracker tbody tr td {
  height: 20px;
}

#queue span {
  display: none;
}
.dataTables_wrapper div.dataTables_filter label {
  position: relative;
  right: 5px;
  float: none;
}
#payment-table tbody tr:hover,
#payment-table tbody tr.odd {
  background-color: #f5f5f5;
}
#payment-table tbody tr.odd:hover {
  background-color: #F1F0F0;
}

.dataTables_wrapper .dataTables_paginate li.active a {
  background-color: #f4f4f4;
} 
#payment-table_info {
  display: inline-block;
}
#datatables_buttons_info {
  position: fixed;
  padding: 10px;
  bottom: 0;
  left: 225px;
  background-color: white;
  box-shadow: 2px 2px 2px gray;
  border-top: 1px lightgray solid;
  border-left: 1px lightgray solid;
}

#wrapper {
  overflow-x: visible;
  overflow-y: visible;
}

.divider {
  border-bottom: 1px solid #ccc;
}
.wrapper.scheduled-tab,
.wrapper.transactions-tab {
  padding: 20px;
  padding-right: 20px !important;
}

.transactions-tab {
    &.payments-tab.wrapper {
        padding: 20px;
        padding-right: 20px !important;
    }
    &.header {
        margin-bottom: 10px;
    }
    &.header-right {
        position: absolute;
        right: 20px;
    }
    &.btn.selected {
        background-color: #88bf40;
        border: 1px #88bf40 solid;
    }
    &.btn.selected:hover:active {
        color: white;
        background-color: #578C11;
        border-color: #4D7B0F;
    }
    #payment-search {
        width: 250px;
    }
    &.header .input-group {
        width: 1px;
    }
    &.inline-block {
        display: inline-block;
    }
    &#length-selector {
        width: auto;
        display: inline-block;
    }
    &label {
        font-weight: normal;
    }
    &.tags {
        margin-right: 10px;
    }
}

.no-bottom-margin{
    margin-bottom: 0;
}

.dataTables_filter {
    text-align: right;
}

.dataTables_filter input[type=search]{
    margin-left:5px;
}

.dataTables_length select{
    margin: auto 5px;
}
.hr-line-dashed {
    margin: 0;
}
.checkbox-inline input,
.checkbox-inline label {
  cursor: default;
}
.datepicker table tr td.active.active {
    color: #ffffff;
    background-color: #88BF40;
    border-color: #1A9546;
}

#wrapper, #page-wrapper {
  height: auto;
  min-height: initial;
}

.datepicker table tr td.active.active:hover{
  background-color: #1A9546;
}

// Laptop
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) {
    .radio-primary input[type="radio"]:checked + label::after,
    .radio-primary input[type="radio"] + label::after {
        top: 3.5px;
        left: 3px;
        width: 11px;
        height: 10px;
    }
}

// Phone Portrait
/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 360px) {
  .queue-view {
    .header-right {
      position: relative;
      right: 0;
    }
  }
  .inbox-header {
    .search {
        padding-top: 20px;
        width: initial;
    }
    
    .search-wrapper {
      position: initial;
      margin-top: 40px;
    }
    
    .button-group {
      margin-top: 45px;
      margin-bottom: 20px;
    }
    
    .well {
      margin-top: 50px;
    }
  }
  
  inbox-header {
    .mail-box-header {
      height: 271px;
    }
  }
  
  inbox-body {
    .mail-box {
      overflow-y: scroll;
      width: 100%;
    }
  }
  #catalog-table.engine-catalog tbody {
    max-height: 487px;
  }
}

// Wizard Styling
.wizard > .steps .current a, .wizard > .steps .current a:hover,
.wizard > .actions a, .wizard > .actions a:hover {
  background: @primary-lf-green;
}
.wizard > .steps .done a, .wizard > .steps .done a:hover {
  background: #eee;
  color: #aaa;
}
.wizard-view .error-message {
  color: #ED5565;
}

.wizard > .content {
  overflow-y: auto;
}

.wizard > .content > .body input.error {
  border-color: #ED5565;
  background-color: white;
  color: inherit;
}

.error-message {
  margin-left: 5px;
}

.fill-height {
    height: 100%;
}
table.hover tbody tr:hover {
    background-color: #ECECEC;
}

#catalog-table.engine-catalog tr td:last-of-type {
    text-align: center;
    width: 160px;
}

#catalog-table.engine-catalog tr td:last-of-type .btn {
    margin-right: 5px;
}

#catalog-table.engine-catalog tr:hover td:last-of-type .btn {
    display: inline;
}

#catalog-table.engine-catalog tr td:last-of-type .btn {
    display: none;
    position: relative;
    left: -7px;
}

.engine-catalog .float-e-margins .btn {
    margin-bottom: 0;
}

.engine-catalog table.issue-tracker tbody tr td {
    height: 35px;
}

#catalog-table.engine-catalog tbody,
#catalog-table.engine-catalog thead {
    display: block;
}
#catalog-table.engine-catalog tbody {
    max-height: 487px;
}
#catalog-table.engine-catalog tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

#catalog-table.table > thead > tr > th {
    border-bottom: none;
}
#catalog-table.table > thead > tr {
    border-bottom: 1px solid #DDDDDD;
}
// 40 45 40
#catalog-table.table tbody tr td:not(:last-of-type) {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#catalog-table.table tbody tr td:first-of-type {
    width: 75px;
}
#catalog-table.table tbody tr td:nth-of-type(2) {
    width: 77px;
}
#catalog-table.table tbody tr td:nth-of-type(3) {
    width: 92px;
}
#catalog-table.table tbody tr td:nth-of-type(4) {
    width: 135px;
}

#catalog-table.table thead tr th:first-of-type {
    width: 40px;
}
#catalog-table.table thead tr th:nth-of-type(2) {
    width: 50px;
}
#catalog-table.table thead tr th:nth-of-type(3) {
    width: 45px;
}
#catalog-table.table thead tr th:nth-of-type(4) {
    width: 80px;
}

.CodeMirror-code .line-error {
    background-color: #FFBCBC;
}

.rules-view .modal-header {
    background-color: #EBEBED;
}

.tip {
    position: relative;
    display: inline-block;
}
.tiptext {
    visibility: hidden;
    width: 70px;
    background-color: #283C4E;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 90%;
    margin-left: -60px;
}
.tip:hover .tiptext {
    visibility: visible;
}
.tiptext .fa-play {
    position: absolute;
    transform: rotate(90deg);
    bottom: -8px;
    color: #283C4E;
    left: 47%;
}

th.dt-body-right {
  text-align: center !important;
}

th.dt-body-center {
  text-align: center !important;
}

td.dt-body-right {
  text-align: right !important;
}

th.h-center-c-left {
  text-align: center !important;
}

td.h-center-c-left {
  text-align: left !important;
}

th.h-right-c-right {
  text-align: right !important;
}

td.h-right-c-right {
  text-align: right !important;
}

th.h-center-c-center {
  text-align: center !important;
}

td.h-center-c-center {
  text-align: center !important;
}

th.h-center-c-right {
  text-align: center !important;
}

td.h-center-c-right {
  text-align: right !important;
}

.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 0px auto !important;
  border-radius: 4px;
}

.btn-group>.btn.btn-default.buttons-excel.buttons-html5 {
  background-color: #2f7434;
  color: white;
  border-color: #2f7434;
  width: 35px;
  height: 35px;
  padding: 5px !important;
  margin: 0 !important;
  margin-right: 5px !important;
  line-height: normal;
  font-size: initial;
}

.btn-group>.btn.btn-default.buttons-csv.buttons-html5 {
  background-color: #519700;
  color: white;
  border-color: #519700;
  width: 35px;
  height: 35px;
  padding: 5px !important;
  margin: 0 !important;
  margin-right: 5px !important;
  line-height: normal;
  font-size: initial;
}

.btn-group>.btn.btn-default.buttons-pdf.buttons-html5 {
  background-color: #aa1d1d;
  color: white;
  border-color: #bd1a1a;
  width: 35px;
  height: 35px;
  padding: 5px !important;
  margin: 0 !important;
  margin-right: 5px !important;
  line-height: normal;
  font-size: initial;
}

.btn-group>.btn.btn-default.buttons-excel.buttons-html5 > span, 
.btn-group>.btn.btn-default.buttons-csv.buttons-html5 > span,
.btn-group>.btn.btn-default.buttons-pdf.buttons-html5 > span {
  font-size: 14px;
}

.scroll-arrow-left {
  border: 0px solid #dddddd !important;
}
.scrtabs-tab-scroll-arrow
{
  border: 0px solid #dddddd !important;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
	color: #fff;
	text-decoration: none;
	background-color: #a4a6aa;
	outline: 0;
}
.ui-widget-header {
  color: white !important;
  background-color: #03466B !important;
}

table.dataTableReport thead .sorting:after {
  content: "\f0dc" !important;
  float: none !important;
  font-family: fontawesome !important;
  color: rgba(50, 50, 50, .5) !important;
  padding-left: 10px !important;
}

table.dataTableReport thead .sorting_desc:after
{
  float: none !important;
  font-family: fontawesome !important;
  content: "\f0dd" !important;
  padding-left: 10px !important;
}

table.dataTableReport thead .sorting_asc:after {
  float: none !important;
  font-family: fontawesome;
  padding-left: 10px !important;
}

#reportListTable {
  overflow-x: scroll !important;
  max-width: 100% !important;
  display: block !important;
  white-space: nowrap !important;
}

.topSpacingTableSearch {
  margin-top: 15px !important;
}