<dom-module id="update-user">
    <template>
        <style>
            vaadin-upload {
                --vaadin-upload-button-add: {
                    background: #80b43c;
                }
                --vaadin-upload-file-list: {
                    margin-left: 20px;
                }
                --vaadin-upload-drop-label: {
                    margin: 0 !important;
                    padding: 0 !important;
                }
                #ErrorMessge p {
                    color: #ff0000;
                    font-size: 12px !important;
                }
            }

            .profile-image {
                width: 100px;
                height: 100px;
                border-radius: 50%;
                margin: 5% 35%;
            }

            .profile-image-container {
                border: 1px dashed #dbdbdb;
            }

            .btn-primary[disabled] {
                color: #FFFFFF;
            }

            .setHeight {
                padding: 5px 5px 5px 5px;
            }
        </style>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div id="MessageContainer"></div>
                    <div class="col-md-offset-3 col-md-4">
                        <form is="iron-form" class="form-horizontal" name="UserDetail">
                            <dynamic-form form-configuration={{userDetailObj}} values="{{userDetailObj.values}}"></dynamic-form>
                            <div class="row">
                                <div class="col-md-12">
                                    <iron-label class="no-role-selected" for="papercheckboxGroup" hidden$="{{!noRoleSelected}}">
                                        Please select at least one Role.
                                    </iron-label>
                                    <checkbox-group id="papercheckboxGroup" checkboxes="{{ChildLevelRoles}}" selected-items="{{SelectedChildRoles}}" disabled="{{disableControl}}"></checkbox-group>
                                    <br />
                                </div>
                            </div>
                            <br />
                            <paper-button id="updateDetails" class="btn btn-primary activity-action-btn" on-click="_verifyForm" raised disabled="{{disableControl}}">Update Detail</paper-button>
                            <br />
                            <div class="setHeight"></div>
                        </form>
                    </div>
                    <div class="col-md-offset-2 col-md-3">
                        <div class="row profile-image-container">
                            <div>
                                <img src="{{UserProfilePic}}" class="profile-image" title="{{userDetail.username}}" alt="{{userDetail.username}}">
                            </div>
                            <div>
                                <vaadin-upload id="UserPic" accept=".jpg,.png" max-files="1" on-upload-request="_uploadRequest" on-upload-success="_uploadSuccess"
                                    on-upload-before="_changeServerUrl" method="{{fileUploadMethod}}">
                                </vaadin-upload>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <url-parser id="urluu"></url-parser>
        <http-request id="httpuu"></http-request>
        <alloy-config id="configuu"></alloy-config>
        <session-manager id="sessionuu"></session-manager>
        <message-component id="messageuu"></message-component>
    </template>
    <script>
        Polymer({
            is: "update-user",
            properties: {
                microAppName: {
                    type: String,
                    notify: true
                },
                fileUploadMethod: {
                    type: String,
                    notify: true,
                    value: "POST"
                },
                UserProfilePic: {
                    type: String,
                    notify: true
                },
                noRoleSelected: {
                    type: Boolean,
                    notify: true,
                    value: false
                },
                ChildLevelRoles: {
                    type: Array,
                    notify: true,
                    value: []
                },
                SelectedChildRoles: {
                    type: Array,
                    notify: true,
                    value: []
                },
                userDetail: {
                    type: Object,
                    notify: true,
                    value: {}
                },
                userDetailObj: {
                    type: Object,
                    notify: true,
                    value: {
                        controls: {
                            name: {
                                label: "Full Name",
                                type: "textbox",
                                validations: {
                                    required: true,
                                    readonly: false,
                                    pattern: 'ALPHABET',
                                    charcounter: false,
                                    autovalidate: true,
                                    minLen: 5,
                                    maxLen: 15
                                }
                            },
                            username: {
                                label: "Username",
                                type: "textbox",
                                validations: {
                                    required: true,
                                    readonly: true,
                                    disabled: true,
                                    charcounter: false,
                                    autovalidate: true,
                                    minLen: 5,
                                    maxLen: 15
                                }
                            },
                            email: {
                                label: "Email",
                                type: "email",
                                validations: {
                                    required: true,
                                    readonly: false,
                                    charcounter: true,
                                    autovalidate: true,
                                    pattern: 'EMAIL',
                                    minLen: 1,
                                    maxLen: 70
                                }
                            }
                        },
                        values: {
                            username: "",
                            name: "",
                            email: ""
                        }
                    }
                },
                defaultImage: {
                    type: String,
                    nofity: true,
                    value: "/images/defaultUser.png"
                },
                params: {
                    type: Object,
                    notify: true,
                    value: {}
                },
                disableControl: {
                    type: Boolean,
                    notify: true,
                    value: false
                }
            },
            attached: function () {
                window.addEventListener("hashchange", this.createHashChangedHandler());
                this._getAllPortalRoles();
            },
            detached: function () {
                window.removeEventListener("hashchange", this.onHashChanged);
            },
            createHashChangedHandler: function () {
                this.onHashChanged = function () {
                    var self = this;
                    var currentMicroApp = window.location.hash.slice(2).split("/")[0];
                    if (self.microAppName === currentMicroApp) {
                        this._getAllPortalRoles();
                    }
                }.bind(this);
                return this.onHashChanged;
            },
            _autoNameGenerator: function (url) {
                var timestamp = moment().unix();
                return url + timestamp;
            },
            _getServerUrl: function () {
                var baseUrl = window.config.services.assetService + "/user/";
                var userName = this.userDetail.username;
                var replaceUrl = (this.UserProfilePic !== this.defaultImage) ? "/profile.png" : '';
                return baseUrl + userName + replaceUrl;
            },
            _changeServerUrl: function (event) {
                event.detail.file.uploadTarget = this._getServerUrl();
                event.detail.file.name = "profile.png";
                $('#uploadSuccessMessage').hide();
            },
            _uploadSuccess: function (event) {
                var self = this;
                if (event.detail.xhr.status === 200) {
                    var result = $.parseJSON(event.detail.xhr.response);
                    var url = self._autoNameGenerator(result.url + "?");
                    self.set('UserProfilePic', url);
                }
            },
            _uploadRequest: function (event) {
                var fileName = "profile.png";
                event.detail.xhr.setRequestHeader('Authorization', "Bearer " + this.$.sessionuu.get('token'));
                event.detail.formData.append("filename", fileName);
            },
            _getAllPortalRoles: function () {
                var self = this;
                self.set('microAppName', window.location.hash.slice(2).split("/")[0]);
                var roleName = self.$.configuu.getConfigurationBasedOnKey("portalRole");
                var configUrl = "/roles/" + roleName + "/children";
                self.$.httpuu.get(configUrl, "").then(function (data) {
                    self.set("portalRoles", data);
                    self._setControls();
                }).fail(function (e) {
                    console.error("_getChildRoles error is ", e);
                });
            },
            _verifyForm: function (event) {
                var self = this;
                var userDetailObj = self.userDetailObj;
                var form = Polymer.dom(event).localTarget.parentElement;
                self.noRoleSelected = false;
                if (form.validate()) {
                    if (!_.isEmpty(self.SelectedChildRoles)) {
                        var payload = userDetailObj.values;
                        payload.roles = self.SelectedChildRoles;
                        self.$.httpuu.put("/update/", payload, "").then(function (result) {
                            self.$.messageuu.showMessage("User is successfully updated.", "SUCCESS", self.$.MessageContainer);
                            setTimeout(function () {
                                window.location.hash = "/app-admin/filter:dashboard";
                            }, 2000);
                        }).fail(function (e) {
                            var failMessage = "";
                            if (e.responseJSON !== undefined && e.responseJSON.code === 400)
                                failMessage = e.responseJSON.message;
                            else
                                failMessage = "Some error occured, Please try it after some time.";
                            self.$.messageuu.showMessage(failMessage, "ERROR", self.$.MessageContainer);
                        });
                    }
                    else {
                        self.noRoleSelected = true;
                    }
                }
            },
            _fetchUserDetails: function () {
                var self = this;
                var params = this.$.urluu.getParams();
                var userDetailObj = _.cloneDeep(self.userDetailObj);
                self.$.httpuu.get("/user/" + params.id, "").then(function (data) {
                    self.set('userDetail', data);
                    self._fetchUserImage(data.username);
                    self.SelectedChildRoles = self.userDetail.roles;
                    userDetailObj.values = data;
                    self.set('userDetailObj', userDetailObj);
                    if (!(_.isEmpty(_.intersection(self.portalRoles, self.userDetail.roles)))) {
                        self.ChildLevelRoles = self.portalRoles;
                    };
                }).fail(function (e) {
                    console.error("Filter error is ", e);
                });
            },
            _fetchUserImage: function (username) {
                var self = this;
                var url = "/user/" + username + "/profile.png";
                var assetService = window.config.services.assetService;
                self.$.httpuu.get(url, assetService).then(function (result) {
                    if (result.hasOwnProperty('url') && !_.isUndefined(result.url) && !_.isNull(result.url)) {
                        self.set('fileUploadMethod', "PUT");
                        self.set('UserProfilePic', result.url);
                    }
                    else {
                        self.set('UserProfilePic', self.defaultImage);
                    }
                }).fail(function (e) {
                    self.set('UserProfilePic', self.defaultImage);
                    return '';
                });
            },
            _setControls: function () {
                var self = this;
                var params = this.$.urluu.getParams();
                if (params.editMode === "true") {
                    var userDetailform = _.cloneDeep(self.userDetailObj);
                    _.mapValues(userDetailform.controls, function (control, key) {
                        control.validations.disabled = true;
                    });
                    self.set('userDetailObj', userDetailform);
                    self.set('disableControl', true);
                }
                self._fetchUserDetails();
            }
        })
    </script>
</dom-module>