<dom-module id="advance-search">
    <template>
        <style>
            .adcance-ibox-content {
                padding: 15px 5px 0;
                width: 450px !important;
            }

            .fa-refresh,
            .fa-search {
                cursor: pointer;
            }

            .dropdown.dropdown-lg .dropdown-menu {
                margin-top: 0;
                padding: 6px 20px;
                width: 365px;
                z-index: 199;
            }

            .input-group-btn .btn-group {
                display: flex !important;
            }

            .btn-group .btn {
                border-radius: 0;
                margin-left: -1px;
            }

            .btn-group .btn:last-child {
                border-top-right-radius: 4px;
                border-bottom-right-radius: 4px;
            }

            .btn-group .form-horizontal .btn[type="submit"] {
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;
            }

            .form-horizontal .form-group {
                margin-left: 0;
                margin-right: 0;
            }

            .form-group .form-control:last-child {
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;
            }

            #adv-search {
                width: 100%;
            }

            .input-group-btn {
                width: 10%;
            }

            .col-md-12 {
                padding-bottom: 15px;
            }

            --paper-autocomplete-suggestions-wrapper {
                font-size: 11px;
            }

            .advance-search-input {
                --paper-input-container-underline: {
                    border: none;
                }
                --paper-input-container: {
                    padding: 5px 0px !important;
                }
                --paper-input-container-input: {
                    font-size: 11px;

                }
                --paper-input-container-label: {
                    font-size: 12px;
                }
            }
        </style>
        <template is="dom-if" if="{{isSearchVisible(advanceSearch)}}">
            <div class="row">
                <div class="adcance-ibox-content">
                    <div class="row" style="margin: 0;">
                        <div class="col-md-12">
                            <div class="input-group" id="adv-search">
                                <paper-autocomplete label="Search" no-label-float="true" class="advance-search-input form-control" on-autocomplete-selected="suggestionSelect"
                                    id="input-remote" remote-source="true" on-autocomplete-focus="clearText" min-length="{{minLength}}"
                                    on-text-changed="textChanged"></paper-autocomplete>
                                <div class="input-group-btn">
                                    <div class="btn-group" role="group">
                                        <button type="button" class="btn btn-primary" on-click="_onGeneralSearchBtn">
                                            <i class="fa fa-search" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </template>
        <url-parser id="url"></url-parser>
        <http-request id="http"></http-request>
        <alloy-config id="config"></alloy-config>
        <session-manager id="session"></session-manager>
        <lookup-service id="lookup"></lookup-service>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "advance-search",
                properties: {
                    selectedItem: {
                        type: String,
                        notify: true,
                        reflectToAttribute: true
                    },
                    minLength: {
                        type: String,
                        notify: true,
                        reflectToAttribute: true
                    },
                    advanceSearch: {
                        type: Object,
                        notify: true,
                        reflectToAttribute: true
                    },
                    source: {
                        type: Array,
                        notify: true,
                        reflectToAttribute: true
                    }
                },
                ready: function () {
                    var self = this;
                    var advanceSearch = self.$.config.getConfigurationBasedOnKey("AdvanceSearch");
                    if (advanceSearch !== undefined && advanceSearch !== null) {
                        self.set('advanceSearch', advanceSearch);
                        self.set("minLength", advanceSearch.minLength);
                    }
                },
                clearText: function (objText) {
                    var self = this;
                    objText.target.text = "";
                },
                suggestionSelect: function (objText) {
                    var self = this;
                    var params = self.$.url.getParams();
                    var selectedItem = objText.detail.value;
                    self.set("selectedItem", selectedItem);
                    var searchText = "";
                    var randomVal = Math.floor(Math.random() * (10000 - 1 + 1)) + 1;
                    if (selectedItem !== undefined && selectedItem !== null && selectedItem !== "") {
                        var splitData = selectedItem.split("|");
                        searchText = splitData[0];
                    }
                    self.$.session.set("advanceSelectedItem", selectedItem);
                    window.location.hash = "/search-result/filter:search/searchtext:" + searchText + "-" + randomVal;
                    objText.target.text = "";
                },
                _onGeneralSearchBtn: function () {
                    var self = this;
                    var randomVal = Math.floor(Math.random() * (10000 - 1 + 1)) + 1;
                    var params = self.$.url.getParams();
                    var textValue = document.querySelector("#input-remote");
                    var selectedItem = textValue.text + "|application|GeneralSearch";
                    self.set("selectedItem", selectedItem);
                    self.$.session.set("advanceSelectedItem", selectedItem);
                    window.location.hash = "/search-result/filter:search/searchtext:" + textValue.text + "-" + randomVal;
                    textValue.text = "";
                },
                textChanged: function (objText) {
                    var self = this;
                    var finalSuggestion = [];
                    var searchTextDisplay = objText.detail.value;
                    var searchText = objText.detail.value;
                    searchText = searchText.toLowerCase();
                    if (self.advanceSearch !== undefined && searchText.length >= self.advanceSearch.minLength) {
                        if (finalSuggestion.length === 0 && self.advanceSearch.ExactMatch !== undefined) {
                            _.forEach(self.advanceSearch.ExactMatch, function (item) {
                                if (item.text.toLowerCase() === searchText) {
                                    finalSuggestion.push({ text: item.displayText + '"' + searchTextDisplay + '"', value: searchTextDisplay + "|" + item.entityType + "|" + item.searchField });
                                }
                            });
                        }
                        if (finalSuggestion.length === 0 && self.advanceSearch.Contains !== undefined) {
                            _.forEach(self.advanceSearch.Contains, function (item) {
                                if (searchText.indexOf(item.text.toLowerCase()) !== -1) {
                                    finalSuggestion.push({ text: item.displayText + '"' + searchTextDisplay + '"', value: searchTextDisplay + "|" + item.entityType + "|" + item.searchField });
                                }
                            });
                        }
                        if (finalSuggestion.length === 0 && self.advanceSearch.startWith !== undefined) {
                            _.forEach(self.advanceSearch.startWith, function (item) {
                                var reg = new RegExp(item.regex);
                                var match = reg.test(searchText);
                                if (match !== undefined && match === true) {
                                    finalSuggestion.push({ text: item.displayText + '"' + searchTextDisplay + '"', value: searchTextDisplay + "|" + item.entityType + "|" + item.searchField });
                                }
                            });
                        }
                        if (finalSuggestion.length === 0 && self.advanceSearch.other !== undefined) {
                            _.forEach(self.advanceSearch.other, function (item) {
                                finalSuggestion.push({ text: item.displayText + '"' + searchTextDisplay + '"', value: searchTextDisplay + "|" + item.entityType + "|" + item.searchField });
                            });
                        }
                        self.set('source', $.extend([], finalSuggestion));
                        var input = document.querySelector('#input-remote');
                        input.suggestions(self.source);
                    }
                },
                isSearchVisible: function (objAdvanceSearch) {
                    var self = this;
                    if (objAdvanceSearch !== undefined && objAdvanceSearch.portal === window.configName) {
                        return true;
                    }
                    return false;
                }
            });
        });
    </script>
</dom-module>