<dom-module id="application-search">
    <template>
        <style>
            .tablecontainer {
                margin: 40px auto 0;
            }

            .row {
                margin: 0 auto !important;
            }

            .twoColumn .col-md-12 {
                padding: 0 2px;
            }

            .row.twoColumn {
                display: inline-block;
                margin: 10px 10px !important;
                width: 22%;
            }

            .custom-input {
                --paper-input-container-input: {
                    font-size: 11px;
                }

                --paper-input-container-label: {
                    font-size: 12px;
                }
            }

            .header-right {
                position: absolute;
                right: 20px;
            }

            .footer-right {
                float: right;
            }

            div#queue_wrapper {
                text-align: center;
            }
        </style>
        <div class="row">
            <breadcrumb-links id="breadkcrumbLinks"></breadcrumb-links>
        </div>
        <div class="row">
            <form is="iron-form" class="form-horizontal" name="searchForm">
                <div class="row twoColumn">
                    <div class="col-md-12">
                        <vaadin-combo-box class="custom-input" name="product" value="{{SelectedProduct}}"
                            item-value-path="key" item-label-path="value" items="{{ProductListArray}}"
                            label="Select Product" prevent-invalid-input="true" on-change="_onProductChange">
                        </vaadin-combo-box>
                    </div>
                </div>
                <dynamic-form form-configuration={{searchObj}} values="{{searchObj.values}}"></dynamic-form>
                <div class="row twoColumn">
                    <div class="col-md-12">
                        <vaadin-combo-box class="custom-input" name="workflow" value="{{SelectedWorkflow}}"
                            item-value-path="key" item-label-path="value" items="{{workflowList}}"
                            label="Select Workflow" prevent-invalid-input="true" on-change="_onWorkflowChange">
                        </vaadin-combo-box>
                    </div>
                </div>
                <div class="row twoColumn">
                    <div class="col-md-12">
                        <vaadin-combo-box class="custom-input" name="statusCode" value="{{SelectedStatusCode}}"
                            item-value-path="key" item-label-path="value" items="{{statusList}}" label="Select Status"
                            prevent-invalid-input="true">
                        </vaadin-combo-box>
                    </div>
                </div>
                <br />
                <button class="btn btn-primary activity-action-btn" on-click="_verifyForm" raised>Search</button>
                <paper-button id="formResetButton" class="btn btn-primary activity-action-btn" style="display: none;"
                    on-click="_formReset" raised>Reset</paper-button>
            </form>
        </div>
        <div class="tablecontainer" id="tableContainer">
            <table id="searchData" class="table table-striped" width="100%" cellspacing="0"></table>
        </div>
        <session-manager id="session"></session-manager>
        <url-parser id="url"></url-parser>
        <http-request id="http"></http-request>
        <alloy-config id="config"></alloy-config>
        <lookup-service id="lookup"></lookup-service>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "application-search",
                properties: {
                    tableObj: {
                        type: Object,
                        notify: false
                    },
                    currentEntityName: {
                        type: String,
                        notify: true,
                        value: 'application'
                    },
                    configAppliedOn: {
                        type: Object,
                        value: []
                    },
                    configExpiryOn: {
                        type: Object,
                        value: []
                    },
                    searchDataObj: {
                        type: Object,
                        notify: true,
                        value: {}
                    },
                    searchReqObj: {
                        type: Object,
                        notify: true,
                        value: {
                            searchFilterView: [],
                            inTagsSearch: [],
                            notInTagsSearch: [],
                            operator: "and",
                            projections: "",
                            sorts: ""
                        }
                    },
                    workFlowListArray: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    ProductListArray: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    microAppName: {
                        type: String,
                        notify: true
                    },
                    sourceType: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    searchObj: {
                        type: Object,
                        notify: true,
                        value: {
                            controls: {
                                ApplicationNumber: {
                                    label: "Application Number",
                                    type: "textbox",
                                    class: "twoColumn",
                                    validations: {
                                        required: false,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false,
                                    }
                                },
                                BusinessPhone: {
                                    label: "Business Phone Number",
                                    type: "textbox",
                                    class: "twoColumn",
                                    validations: {
                                        required: false,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false,
                                        minLen: 0,
                                        maxLen: 14
                                    }
                                },
                                ContactFirstName: {
                                    label: "First Name",
                                    type: "textbox",
                                    class: "twoColumn",
                                    validations: {
                                        required: false,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false,
                                        minLen: 0,
                                        maxLen: 40
                                    }
                                },
                                ContactLastName: {
                                    label: "Last Name",
                                    type: "textbox",
                                    class: "twoColumn",
                                    validations: {
                                        required: false,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false,
                                        minLen: 0,
                                        maxLen: 80
                                    }
                                },
                                BusinessEmail: {
                                    label: "Business Email",
                                    type: "textbox",
                                    class: "twoColumn",
                                    validations: {
                                        required: false,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false,
                                        pattern: 'EMAIL',
                                        minLen: 0,
                                        maxLen: 80
                                    }
                                },
                                LegalBusinessName: {
                                    label: "Legal Business Name",
                                    type: "textbox",
                                    class: "twoColumn",
                                    validations: {
                                        required: false,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false,
                                        minLen: 0,
                                        maxLen: 255
                                    }
                                },
                                AppliedOnDuration: {
                                    label: "Application Date",
                                    type: "combobox",
                                    class: "twoColumn",
                                    selectList: [],
                                    labelKey: "value",
                                    labelValue: "key",
                                    validations: {
                                        required: false
                                    }
                                },
                                ExpiryOnDuration: {
                                    label: "Expiry Date",
                                    type: "combobox",
                                    class: "twoColumn",
                                    selectList: [],
                                    labelKey: "value",
                                    labelValue: "key",
                                    validations: {
                                        required: false
                                    }
                                },
                                SourceType: {
                                    label: "Source Type",
                                    type: "combobox",
                                    class: "twoColumn",
                                    selectList: [],
                                    labelKey: "value",
                                    labelValue: "key",
                                    validations: {
                                        required: false
                                    }
                                }
                            },
                            values: {
                                ProductId: "",
                                ApplicationNumber: "",
                                BusinessPhone: "",
                                ContactFirstName: "",
                                ContactLastName: "",
                                BusinessEmail: "",
                                LegalBusinessName: "",
                                StatusCode: "",
                                AppliedOnDuration: "",
                                ExpiryOnDuration: "",
                                SourceType: ""
                            }
                        }
                    }
                },
                _clearDropDown: function () {
                    var self = this;
                    self.set('SelectedWorkflow', "");
                    self.set('SelectedStatusCode', "");
                    self.set('workflowList', []);
                    self.set('statusList', []);
                },
                _onProductChange: function (event) {
                    var self = this;
                    self._clearDropDown();
                    var productObj = _.find(self.ProductListArray, ['key', event.target.value]);
                    if (productObj !== undefined) {
                        var workFlowObj = productObj.workflows;
                        var workFlowList = _.transform(workFlowObj, function (result, item) {
                            if (item.entityType === self.currentEntityName) {
                                result.push({ key: item.workFlowName, value: _.startCase(item.workFlowName), statuses: _.find(self.workFlowListArray, ['key', item.workFlowName]) });
                            }
                        }, []);
                        self.set('workflowList', workFlowList);
                        self.set('SelectedStatusCode', "");
                        self.set('statusList', []);
                    }
                },
                _showResult: function (searchFilterView) {
                    var self = this;
                    var table = self.tableObj;
                    var searchReqObj = self.searchReqObj;
                    var savedFilters = window.config.services.savedFilters;
                    if (table !== null && table !== undefined) {
                        table.clear();
                        table.destroy(true);
                        $('#tableContainer').append($('<table/>').attr('id', 'searchData').css('width', '100%').addClass('table table-striped'));
                    }
                    self.tableObj = $(this.$$('#searchData')).DataTable({
                        serverSide: true,
                        ajax: function (data, success) {
                            var page = data.start / data.length;
                            page = page + 1;
                            var draw = data.draw;
                            var sortObj = _.transform(data.order, function (result, item) {
                                var columnObj = data.columns[item.column];
                                result[columnObj.data] = item.dir === "desc" ? -1 : 1;
                            }, {});
                            searchReqObj.searchFilterView = searchFilterView;
                            searchReqObj.sorts = sortObj;
                            $.ajax({
                                url: savedFilters + '/' + self.currentEntityName + '/search-applications/?pageSize=' + data.length + '&page=' + page,
                                type: 'POST',
                                contentType: 'application/json',
                                data: JSON.stringify(searchReqObj),
                                headers: {
                                    'Authorization': "Bearer " + self.$.session.get('token')
                                },
                                complete: function (data) {
                                    var gridData = {
                                        "draw": draw,
                                        "recordsTotal": parseInt(data.getResponseHeader('X-TOTAL-COUNT')),
                                        "recordsFiltered": parseInt(data.getResponseHeader('X-TOTAL-COUNT')),
                                        "data": data.responseJSON
                                    }
                                    $('html, body').animate({
                                        scrollTop: ($('#tableContainer').first().offset().top)
                                    }, 500);
                                    success(gridData);
                                }
                            });
                        },
                        dom: "<'row'<'col-sm-12'tr>><'row'<'col-sm-12'lt>>" +
                            "<'row'<'col-sm-5'i><'col-sm-7'p>>",
                        order: self.searchDataObj.order,
                        columnDefs: self.searchDataObj.columnDefs,
                        columns: self.searchDataObj.columns,
                        language: {
                            lengthMenu: "_MENU_",
                            zeroRecords: "No records found.",
                            info: "Showing _START_ to _END_ of _TOTAL_ " + self.currentEntityName + "",
                            infoEmpty: "No " + self.currentEntityName + " available",
                            infoFiltered: "(filtered from _MAX_ total " + self.currentEntityName + ")"
                        }
                    });

                    $('#searchData tbody').on('click', 'button', function () {
                        var data = self.tableObj.row($(this).parents('tr')).data();
                        self.openLoanView(data);
                    });

                    $('#searchData tbody').on('click', 'a', function () {
                        var data = self.tableObj.row($(this).parents('tr')).data();
                        self.openLoanView(data);
                    });

                    //Grid header tooltip
                    var filterConfig = self.searchDataObj;
                    if ($('#searchData thead tr')[0] != undefined) {
                        $('#searchData thead tr')[0].childNodes.forEach(function (obj) {
                            var tooltipObj = _.filter(filterConfig.columns, { title: obj.innerText });
                            if (!_.isUndefined(tooltipObj) && !_.isNull(tooltipObj) && !_.isEmpty(tooltipObj)) {
                                var tooltip = tooltipObj[0].tooltip;
                                if (tooltip !== "" && tooltip !== undefined) {
                                    $(obj).attr('title', tooltip);
                                }
                            }
                        });
                    }
                },
                _formReset: function (event) {
                    var form = Polymer.dom(event).localTarget.parentElement;
                    form.reset();
                },
                _resetObject: function () {
                    return {
                        ProductId: "",
                        ApplicationNumber: "",
                        BusinessPhone: "",
                        ContactFirstName: "",
                        ContactLastName: "",
                        BusinessEmail: "",
                        LegalBusinessName: "",
                        StatusCode: "",
                        AppliedOnDuration: "",
                        ExpiryOnDuration: "",
                        SourceType: ""
                    };
                },
                _loadConfig: function () {
                    var self = this;
                    $('#formResetButton').click();
                    var _searchObj = _.cloneDeep(self.searchObj);
                    _searchObj.values = self._resetObject();
                    self.set("searchObj", _searchObj);
                    var getFilterName = "SearchApplicationData";
                    var data = self.$.config.getConfigurationBasedOnKey("filters");
                    if (self.currentEntityName === 'drawdown') {
                        getFilterName = "SearchDrawdownsData";
                    }
                    var filterConfig = _.cloneDeep(data[getFilterName]);
                    var columnLength = filterConfig.columns.length;
                    for (var i = 0; i < columnLength; i++) {
                        if (filterConfig.columns[i].render != undefined) {
                            var render = filterConfig.columns[i].render;
                            if (filterConfig.columns[i].isFunction) {
                                filterConfig.columns[i].render = eval("(" + render + ")");
                            }
                            else {
                                filterConfig.columns[i].render = eval(render);
                            }
                        }
                    }
                    self.set("searchDataObj", filterConfig);
                },
                openLoanView: function (item) {
                    var self = this;
                    var params = self.$.url.getParams();
                    self.set("statusName", item.StatusName);
                    self.set("applicantId", item.ApplicantId);
                    self.set("productId", item.ProductId);
                    self.set("statusWorkFlowId", item.StatusWorkFlowId);
                    var url = "/app-details/entity:" + self.currentEntityName + "/filter:" + params.filter;
                    if (item.hasOwnProperty('ApplicationNumber')) {
                        self.set("applicationNumber", item.ApplicationNumber);
                    }
                    else {
                        self.set("applicationNumber", item.LocNumber);
                        self.set("drawdownId", item.DrawDownId);
                    }
                    if (self.applicantId != null) {
                        url = url + "/app:" + self.applicationNumber + "/applicantId:" + self.applicantId + "/product:" + self.productId + "/workflow:" + self.statusWorkFlowId;
                    }
                    else {
                        url = url + "/app:" + self.applicationNumber + "/product:" + self.productId + "/workflow:" + self.statusWorkFlowId;
                    }
                    if (self.drawdownId != undefined && self.drawdownId != "") {
                        url = url + "/drawdownId:" + self.drawdownId;
                    }
                    window.location.hash = url;
                },
                currencyFormat: function (value) {
                    return formats.moneyWithoutFraction(value, window.config.country, 0);
                },
                _verifyForm: function (event) {
                    event.preventDefault();
                    var self = this;
                    var inputObj = _.cloneDeep(self.searchObj.values);
                    var currentDate = moment.tz(window.config.timezone);
                    var exludeAppConfig = self.$.config.getConfigurationBasedOnKey("excludeApp");
                    var form = Polymer.dom(event).localTarget.parentElement;
                    inputObj.ProductId = self.SelectedProduct;
                    inputObj.StatusCode = self.SelectedStatusCode;
                    if (form.validate()) {
                        if (inputObj.ContactFirstName !== "") {
                            inputObj['Owners.FirstName'] = inputObj.ContactFirstName;
                            inputObj.ContactFirstName = "";
                        }
                        if (inputObj.ContactLastName !== "") {
                            inputObj['Owners.LastName'] = inputObj.ContactLastName;
                            inputObj.ContactLastName = "";
                        }
                        if (inputObj.AppliedOnDuration > 0) {
                            var lastDate = currentDate.clone().subtract(inputObj.AppliedOnDuration, 'days');
                            if (self.currentEntityName === 'drawdown') {
                                inputObj['Submitted.Time.DateTime'] = { '$gte': lastDate.toJSON(), '$lt': currentDate.toJSON() };
                            }
                            else {
                                inputObj['ApplicationDate.Time.DateTime'] = { '$gte': lastDate.toJSON(), '$lt': currentDate.toJSON() };
                            }
                            delete inputObj.AppliedOnDuration;
                        }
                        if (inputObj.ExpiryOnDuration > 0) {
                            var nextDate = currentDate.clone().add(inputObj.ExpiryOnDuration, 'days');
                            inputObj['ExpiryDate.Time.DateTime'] = { '$gte': currentDate.toJSON(), '$lt': nextDate.toJSON() };
                            delete inputObj.ExpiryOnDuration;
                        }
                        if (inputObj['StatusCode']) {
                            inputObj['StatusCode'] = { "$regex": inputObj['StatusCode'], "$options": "i" };
                        }
                        else if (exludeAppConfig && exludeAppConfig.hasOwnProperty('Status') && exludeAppConfig.Status) {
                            var statusListToExclude = _.transform(exludeAppConfig.Status, function (result, value) {
                                result.push(value.code);
                            }, []);
                            inputObj['StatusCode'] = { "$nin": statusListToExclude };
                        }
                        var excludeKeyList = ['ApplicationDate.Time.DateTime', 'Submitted.Time.DateTime', 'ExpiryDate.Time.DateTime', 'StatusCode', 'ProductId'];
                        var searchFilterView = _.transform(inputObj, function (result, value, key) {
                            if (value) {
                                if (self.currentEntityName === 'drawdown' && key === 'ApplicationNumber') {
                                    key = 'LocNumber';
                                }
                                var tempObj = {};
                                if (excludeKeyList.indexOf(key) === -1) {
                                    tempObj[key] = { "$regex": value, "$options": "i" };
                                } else {
                                    tempObj[key] = value;
                                }
                                result.push(tempObj);
                            }
                        }, []);
                        self._showResult(searchFilterView);
                    }
                },
                _loadApplicationDateList: function () {
                    var self = this;
                    var StatusObj = self.$.config.getConfigurationBasedOnKey("appliedOnOptions");
                    if (StatusObj) {
                        var optionList = _.transform(StatusObj, function (result, item) {
                            result.push({ key: item.duration, value: item.text });
                        }, []);
                        var searchObj = _.cloneDeep(self.get('searchObj'));
                        searchObj.controls.AppliedOnDuration.selectList = optionList;
                        self.set('searchObj', searchObj);
                    }
                },
                _loadLookupList: function () {
                    var self = this;
                    var self = this;
                    var data = self.$.lookup.getLookupBasedOnName("sourceType");
                    if (data) {
                        var searchObj = _.cloneDeep(self.get('searchObj'));
                        searchObj.controls.SourceType.selectList = data;
                        self.set('searchObj', searchObj);
                    }
                },
                _loadExpiryDateList: function () {
                    var self = this;
                    var StatusObj = self.$.config.getConfigurationBasedOnKey("expiryOnOptions");
                    if (StatusObj) {
                        var optionList = _.transform(StatusObj, function (result, item) {
                            result.push({ key: item.duration, value: item.text });
                        }, []);
                        var searchObj = _.cloneDeep(self.get('searchObj'));
                        searchObj.controls.ExpiryOnDuration.selectList = optionList;
                        self.set('searchObj', searchObj);
                    }
                },
                _getProductList: function () {
                    var self = this;
                    var url = "/all/product";
                    var multiProducts = window.config.services.multiProducts;
                    self.$.http.get(url, multiProducts).then(function (data) {
                        var ProductList = _.transform(data, function (result, item) {
                            result.push({ key: item.productId, value: self.getProductName(item.productId), workflows: item.workFlow });
                        }, []);
                        self.set('ProductListArray', ProductList);
                    }).fail(function (e) {
                        console.error("Product List error is ", e);
                    });
                },
                ready: function () {
                    var self = this;
                    var data = self.$.lookup.getLookupBasedOnName("sourceType");
                    if (data !== undefined && data !== null && data.length > 0) {
                        self.set('sourceType', data);
                    }
                    else {
                        self.$.lookup.getLookupData();
                        setTimeout(() => {
                            data = self.$.lookup.getLookupBasedOnName("sourceType");
                            self.set('sourceType', data);
                        }, 1000);
                    }
                },
                init: function () {
                    var self = this;
                    var data = self.$.lookup.getLookupBasedOnName("sourceType");
                    self.set('sourceType', data);
                    var urlParams = self.$.url.getParams();
                    if (urlParams.hasOwnProperty('entity')) {
                        self.set('currentEntityName', urlParams.entity);
                    }
                    self.set('microAppName', window.location.hash.slice(2).split("/")[0]);
                    self._loadStatusList();
                    self._loadApplicationDateList();
                    self._loadExpiryDateList();
                    self._getProductList();
                    self._loadConfig();
                    self._loadLookupList();
                },
                attached: function () {
                    window.addEventListener("hashchange", this.createHashChangedHandler());
                    this.init();
                },
                detached: function () {
                    window.removeEventListener("hashchange", this.onHashChanged);
                },
                createHashChangedHandler: function () {
                    this.onHashChanged = function () {
                        var self = this;
                        var currentMicroApp = window.location.hash.slice(2).split("/")[0];
                        if (self.microAppName === currentMicroApp) {
                            var urlParams = self.$.url.getParams();
                            if (urlParams.hasOwnProperty('entity')) {
                                self.set('currentEntityName', urlParams.entity);
                            } else {
                                self.set('currentEntityName', 'application');
                            }
                            self.set('microAppName', window.location.hash.slice(2).split("/")[0]);
                            if (self.tableObj) {
                                self.tableObj.destroy(true);
                            }
                            self.$.breadkcrumbLinks.init();
                            self._loadConfig();
                            self._clearDropDown();
                        }
                    }.bind(this);
                    return this.onHashChanged;
                },
                _loadStatusList: function () {
                    var self = this;
                    var statusManagementConfig = self.$.session.getObject("status-workflows");
                    var workflowList = _.transform(statusManagementConfig, function (result, item) {
                        result.push({ key: item.Name, value: _.startCase(item.Name), statuses: item.statuses });
                    }, []);
                    self.set('workFlowListArray', workflowList);
                },
                _onWorkflowChange: function (event) {
                    var self = this;
                    var exludeAppConfig = self.$.config.getConfigurationBasedOnKey("excludeApp");
                    var workflowObj = _.find(self.workflowList, ['key', event.target.value]);
                    if (workflowObj !== undefined) {
                        var StatusObj = workflowObj.statuses.statuses;
                        if (exludeAppConfig && exludeAppConfig.hasOwnProperty('Status') && exludeAppConfig.Status) {
                            StatusObj = _.differenceBy(StatusObj, exludeAppConfig.Status, 'code');
                        }
                        var statusList = _.transform(StatusObj, function (result, item) {
                            result.push({ key: item.code, value: item.name });
                        }, []);
                        self.set('statusList', statusList);
                    }
                    else {
                        self.set('statusList', []);
                    }
                },
                getProductName: function (data) {
                    var self = this;
                    var productNameList = self.$.config.getConfigurationBasedOnKey("productNameList");
                    var obj = _.find(productNameList, ['productId', data]);
                    return (obj != undefined && obj != null && obj != "") ? obj.productName : data;
                },
                getSourceType: function (data) {
                    var self = this;
                    var obj = _.find(self.sourceType, ['key', data]);
                    if (!_.isUndefined(obj)) {
                        return obj.value || "NA";
                    }
                    return "NA";
                },
                formatCurrency: function (data) {
                    return formats.money(data, window.config.country, 0);
                },
            });
        });
    </script>
</dom-module>