<html-import html-href="loaders/sk-wave.html"></html-import>
<dom-module id="search-result">
    <template>
        <style>
            .tablecontainer {
                margin: 10px auto 0;
            }

            .row {
                margin: 0 auto !important;
            }

            .twoColumn .col-md-12 {
                padding: 0 2px;
            }

            .row.twoColumn {
                display: inline-block;
                margin: 10px 10px !important;
                width: 22%;
            }

            .custom-input {
                --paper-input-container-input: {
                    font-size: 11px;
                }
                --paper-input-container-label: {
                    font-size: 12px;
                }
            }

            .header-right {
                position: absolute;
                right: 20px;
            }

            .footer-right {
                float: right;
            }

            div#queue_wrapper {
                text-align: center;
            }
        </style>
        <spinkit-wave hidden$="{{loadding}}"></spinkit-wave>
        <div class="row">
            <div class="col-md-6">

            </div>
            <div class="col-md-6">
                <template is="dom-if" if="{{loadding}}">
                    <table style="width:100%;">
                        <tr>
                            <td>
                                <select id="productList" multiple="multiple">
                                    <template is="dom-repeat" items="{{productList}}" as="product">
                                        <option value="{{product.key}}">{{product.value}}</option>
                                    </template>
                                </select>
                            </td>
                            <td>
                                <select id="applicationDateList" multiple="multiple">
                                    <template is="dom-repeat" items="{{applicationDateList}}" as="applicationDate">
                                        <option value="{{applicationDate.key}}">{{applicationDate.value}}</option>
                                    </template>
                                </select>
                            </td>
                            <td>
                                <select id="statusList" multiple="multiple">
                                    <template is="dom-repeat" items="{{statusList}}" as="status">
                                        <option value="{{status.key}}">{{status.value}}</option>
                                    </template>
                                </select>
                            </td>
                            <td>
                                <select id="reqLoanAmountList" multiple="multiple">
                                    <template is="dom-repeat" items="{{reqLoanAmountList}}" as="reqLoanAmount">
                                        <option value="{{reqLoanAmount.key}}">{{reqLoanAmount.value}}</option>
                                    </template>
                                </select>
                            </td>
                        </tr>
                    </table>
                </template>
            </div>
        </div>
        <div class="tablecontainer" id="tableContainer">
            <table id="searchData" class="table table-striped" width="100%" cellspacing="0"></table>
        </div>
        <url-parser id="url"></url-parser>
        <http-request id="http"></http-request>
        <alloy-config id="config"></alloy-config>
        <session-manager id="session"></session-manager>
        <lookup-service id="lookup"></lookup-service>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "search-result",
                properties: {
                    productList: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    applicationDateList: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    statusList: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    reqLoanAmountList: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    masterData: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    loadding: {
                        type: Boolean,
                        notify: true,
                        value: false,
                        reflectToAttribute: true
                    },
                    selectedItem: {
                        type: String,
                        notify: true,
                        reflectToAttribute: true
                    },
                    tableObj: {
                        type: Object,
                        notify: false
                    },
                    currentEntityName: {
                        type: String,
                        notify: true,
                        value: 'application'
                    },
                    searchDataObj: {
                        type: Object,
                        notify: true,
                        value: {}
                    },
                    searchReqObj: {
                        type: Object,
                        notify: true,
                        value: {
                            searchFilterView: [],
                            inTagsSearch: [],
                            notInTagsSearch: [],
                            operator: "and",
                            projections: "",
                            sorts: ""
                        }
                    },
                    sourceType: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    advanceSelectedItem: {
                        type: Object,
                        notigy: true,
                        observer: "changedSelected"
                    },
                    microAppName: {
                        type: String,
                        notify: true
                    }
                },
                attached: function () {
                    window.addEventListener("hashchange", this.createHashChangedHandler());
                    this.init();
                },
                detached: function () {
                    window.removeEventListener("hashchange", this.onHashChanged);
                },
                createHashChangedHandler: function () {
                    this.onHashChanged = function () {
                        var self = this;
                        var currentMicroApp = window.location.hash.slice(2).split("/")[0];
                        if (self.microAppName === currentMicroApp) {
                            self.init();
                        }
                    }.bind(this);
                    return this.onHashChanged;
                },
                changedSelected: function () {
                    var self = this;
                },
                ready: function () {
                    var self = this;
                },
                init: function () {
                    var self = this;
                    self.set('microAppName', window.location.hash.slice(2).split("/")[0]);
                    var data = self.$.lookup.getLookupBasedOnName("sourceType");
                    self.set('sourceType', data);
                    var selectedItem = self.$.session.get("advanceSelectedItem");
                    self.set("selectedItem", selectedItem);
                    if (selectedItem !== undefined && selectedItem !== null && selectedItem !== "") {
                        var splitData = selectedItem.split("|");
                        self.set('currentEntityName', splitData[1]);
                    }
                    else {
                        self.set('currentEntityName', "application");
                    }
                    self._loadConfig();
                    self.set('loadding', false);
                },
                _loadConfig: function () {
                    var self = this;
                    var getFilterName = "AdvanceSearchApplicationData";
                    var data = self.$.config.getConfigurationBasedOnKey("filters");
                    if (self.currentEntityName === 'drawdown') {
                        getFilterName = "AdvanceSearchDrawdownsData";
                    }
                    var filterConfig = _.cloneDeep(data[getFilterName]);
                    var columnLength = filterConfig.columns.length;
                    for (var i = 0; i < columnLength; i++) {
                        if (filterConfig.columns[i].render != undefined) {
                            var render = filterConfig.columns[i].render;
                            if (filterConfig.columns[i].isFunction) {
                                filterConfig.columns[i].render = eval("(" + render + ")");
                            }
                            else {
                                filterConfig.columns[i].render = eval(render);
                            }
                        }
                    }
                    self.set("searchDataObj", filterConfig);
                    self.setPayload();
                },
                setPayload: function () {
                    var self = this;
                    var advanceSearch = self.$.config.getConfigurationBasedOnKey("AdvanceSearch");
                    if (advanceSearch !== undefined && advanceSearch !== null) {
                        var inputObj = {};
                        if (self.selectedItem !== undefined && self.selectedItem !== null && self.selectedItem !== "") {
                            var splitData = self.selectedItem.split("|");
                            if (splitData !== undefined && splitData[2] === "GeneralSearch") {
                                _.forEach(advanceSearch.GeneralSearchFields, function (item) {
                                    inputObj[item] = splitData[0];
                                });
                            }
                            else {
                                inputObj[splitData[2]] = splitData[0];
                            }
                        }
                        var searchFilterViewPayload = _.transform(inputObj, function (result, value, key) {
                            if (value) {
                                var excludeKeyList = ['ProductId'];
                                var tempObj = {};
                                if (excludeKeyList.indexOf(key) === -1) {
                                    tempObj[key] = { "$regex": value, "$options": "i" };
                                }
                                else {
                                    tempObj[key] = value.toLowerCase();
                                }
                                result.push(tempObj);
                            }
                        }, []);
                        var self = this;
                        var url = "/" + self.currentEntityName + advanceSearch.url;
                        var payload = {
                            "inTagsSearch": [],
                            "notInTagsSearch": [],
                            "operator": "or",
                            "projections": "",
                            "sorts": {
                                "ApplicationNumber": -1
                            }
                        }
                        payload.searchFilterView = searchFilterViewPayload;
                        self.$.http.post(url, payload, window.config.services.savedFilters).then(function (data) {
                            if (!_.isNull(data) && !_.isUndefined(data) && !_.isEmpty(data)) {
                                self.set("masterData", data);
                                if (advanceSearch !== undefined && advanceSearch.singleResultRedirect !== undefined && advanceSearch.singleResultRedirect == true && data !== undefined && data !== null && data.length === 1) {
                                    self.openLoanView(data[0]);
                                }
                                else {
                                    self._showResult(data);
                                    self.set('loadding', true);
                                    self.processResult(data);
                                }
                                self.$.session.set("advanceSelectedItem", "");
                            }
                        }).fail(function (e) {
                            self.set("masterData", []);
                            self._showResult([]);
                            self.set('loadding', true);
                            self.processResult([]);
                        });
                    }
                },
                processResult: function (objData) {
                    var self = this;
                    var productList = _.uniq(_.map(objData, 'ProductId'));
                    var applicationDateList = _.uniq(_.map(objData, 'Submitted.Time.DateTime'));
                    var statusList = _.uniq(_.map(objData, 'StatusName'));
                    var reqLoanAmountList = [];
                    if (self.currentEntityName === "application") {
                        reqLoanAmountList = _.uniq(_.map(objData, 'RequestedAmount'));
                    }
                    else {
                        reqLoanAmountList = _.uniq(_.map(objData, 'AmountFunded'));
                    }
                    var productListArray = [];
                    var applicationDateListArray = [];
                    var statusListArray = [];
                    var reqLoanAmountListArray = [];

                    _.forEach(productList, function (item) {
                        if (item !== null && item !== "")
                            productListArray.push({ key: item, value: item });
                    });
                    _.forEach(applicationDateList, function (item) {
                        if (item !== null && item !== "")
                            applicationDateListArray.push({ key: item, value: self.formatDate(item) });
                    });
                    _.forEach(statusList, function (item) {
                        if (item !== null && item !== "")
                            statusListArray.push({ key: item, value: item });
                    });
                    _.forEach(reqLoanAmountList, function (item) {
                        if (item !== null && item !== "")
                            reqLoanAmountListArray.push({ key: item, value: self.formatCurrency(item) });
                    });
                    self.set("productList", productListArray);
                    var appOrder = _.orderBy(applicationDateListArray, ['key'], ['desc']);
                    self.set("applicationDateList", appOrder);
                    self.set("statusList", statusListArray);
                    var reqAmount = _.orderBy(reqLoanAmountListArray, ['key'], ['asc']);
                    self.set("reqLoanAmountList", reqAmount);

                    setTimeout(() => {
                        var amountText = "Req Loan Amount";
                        if (self.currentEntityName === "drawdown") {
                            amountText = "Funded Amount";
                        }
                        $('#productList').multiselect({
                            buttonText: function (options, select) {
                                return 'Product';
                            },
                            buttonClass: 'btn btn-link',
                            buttonWidth: '120px',
                            maxHeight: 300,
                            includeSelectAllOption: true,
                            templates: {
                                button: '<button type="button" class="multiselect dropdown-toggle btn btn-link" data-toggle="dropdown" style="color: #676A6C !important;"><span class="multiselect-selected-text"></span><b class="caret"></b></button>',
                                li: '<li><a href="javascript:void(0);" style="padding: 3px 0px;"><label></label></a></li>',
                            },
                            onChange: function (option, checked) {
                                self.subFilter();
                            },
                            onSelectAll: function () {
                                self.subFilter();
                            },
                            onDeselectAll: function () {
                                self.subFilter();
                            }
                        });
                        $('#applicationDateList').multiselect({
                            buttonText: function (options, select) {
                                return 'Application Date';
                            },
                            buttonClass: 'btn btn-link',
                            buttonWidth: '160px',
                            maxHeight: 300,
                            includeSelectAllOption: true,
                            templates: {
                                button: '<button type="button" class="multiselect dropdown-toggle btn btn-link" data-toggle="dropdown" style="color: #676A6C !important;"><span class="multiselect-selected-text"></span><b class="caret"></b></button>',
                                li: '<li><a href="javascript:void(0);" style="padding: 3px 0px;"><label></label></a></li>',
                            },
                            onChange: function (option, checked) {
                                self.subFilter();
                            },
                            onSelectAll: function () {
                                self.subFilter();
                            },
                            onDeselectAll: function () {
                                self.subFilter();
                            }
                        });
                        $('#statusList').multiselect({
                            buttonText: function (options, select) {
                                return 'Status';
                            },
                            buttonClass: 'btn btn-link',
                            buttonWidth: '120px',
                            maxHeight: 300,
                            includeSelectAllOption: true,
                            templates: {
                                button: '<button type="button" class="multiselect dropdown-toggle btn btn-link" data-toggle="dropdown" style="color: #676A6C !important;"><span class="multiselect-selected-text"></span><b class="caret"></b></button>',
                                li: '<li><a href="javascript:void(0);" style="padding: 3px 0px;"><label></label></a></li>',
                            },
                            onChange: function (option, checked) {
                                self.subFilter();
                            },
                            onSelectAll: function () {
                                self.subFilter();
                            },
                            onDeselectAll: function () {
                                self.subFilter();
                            }
                        });
                        $('#reqLoanAmountList').multiselect({
                            buttonText: function (options, select) {
                                return amountText;
                            },
                            buttonClass: 'btn btn-link',
                            buttonWidth: '160px',
                            maxHeight: 300,
                            includeSelectAllOption: true,
                            templates: {
                                button: '<button type="button" class="multiselect dropdown-toggle btn btn-link" data-toggle="dropdown" style="color: #676A6C !important;"><span class="multiselect-selected-text"></span><b class="caret"></b></button>',
                                li: '<li><a href="javascript:void(0);" style="padding: 3px 0px;"><label></label></a></li>',
                            },
                            onChange: function (option, checked) {
                                self.subFilter();
                            },
                            onSelectAll: function () {
                                self.subFilter();
                            },
                            onDeselectAll: function () {
                                self.subFilter();
                            }
                        });
                    }, 500);
                },
                subFilter: function () {
                    var self = this;
                    var filterData = self.masterData;
                    var valP = new Array();
                    var valD = new Array();
                    var valS = new Array();
                    var valA = new Array();
                    $('#productList option:selected').each(function () {
                        valP.push(this.value);
                    });
                    $('#applicationDateList option:selected').each(function () {
                        valD.push(this.value);
                    });
                    $('#statusList option:selected').each(function () {
                        valS.push(this.value);
                    });
                    $('#reqLoanAmountList option:selected').each(function () {
                        valA.push(this.value);
                    });
                    if (valP.length > 0) {
                        filterData = _.filter(filterData, function (item) {
                            return valP.indexOf(item.ProductId) !== -1
                        });
                    }
                    if (valD.length > 0) {
                        filterData = _.filter(filterData, function (item) {
                            return valD.indexOf(item.Submitted.Time.DateTime) !== -1
                        });
                    }
                    if (valS.length > 0) {
                        filterData = _.filter(filterData, function (item) {
                            return valS.indexOf(item.StatusName) !== -1
                        });
                    }
                    if (valA.length > 0) {
                        var amountText = "Req Loan Amount";
                        if (self.currentEntityName === "drawdown") {
                            filterData = _.filter(filterData, function (item) {
                                return valA.indexOf(item.AmountFunded.toString()) !== -1
                            });
                        }
                        else {
                            filterData = _.filter(filterData, function (item) {
                                return valA.indexOf(item.RequestedAmount.toString()) !== -1
                            });
                        }

                    }
                    self._showResult(filterData);
                },
                _showResult: function (searchFilterView) {
                    var self = this;
                    var table = self.tableObj;
                    var searchReqObj = self.searchReqObj;
                    if (table !== null && table !== undefined) {
                        table.clear();
                        table.destroy(true);
                        $('#tableContainer').append($('<table/>').attr('id', 'searchData').css('width', '100%').addClass('table table-striped'));
                    }
                    self.tableObj = $(this.$$('#searchData')).DataTable({
                        dom: "<'row'<'col-sm-12'tr>><'row'<'col-sm-12'lt>>" +
                            "<'row'<'col-sm-5'i><'col-sm-7'p>>",
                        data: searchFilterView,
                        order: self.searchDataObj.order,
                        columnDefs: self.searchDataObj.columnDefs,
                        columns: self.searchDataObj.columns,
                        language: {
                            lengthMenu: "_MENU_",
                            zeroRecords: "No " + self.currentEntityName + " found.",
                            info: "Showing _START_ to _END_ of _TOTAL_ " + self.currentEntityName + "",
                            infoEmpty: "No " + self.currentEntityName + " available",
                            infoFiltered: "(filtered from _MAX_ total " + self.currentEntityName + ")"
                        }
                    });

                    $('#searchData tbody').on('click', 'button', function () {
                        var data = self.tableObj.row($(this).parents('tr')).data();
                        self.openLoanView(data);
                    });

                    $('#searchData tbody').on('click', 'a', function () {
                        var data = self.tableObj.row($(this).parents('tr')).data();
                        self.openLoanView(data);
                    });

                    //Grid header tooltip
                    var filterConfig = self.searchDataObj;
                    if ($('#searchData thead tr')[0] != undefined) {
                        $('#searchData thead tr')[0].childNodes.forEach(function (obj) {
                            var tooltipObj = _.filter(filterConfig.columns, { title: obj.innerText });
                            if (!_.isUndefined(tooltipObj) && !_.isNull(tooltipObj) && !_.isEmpty(tooltipObj)) {
                                var tooltip = tooltipObj[0].tooltip;
                                if (tooltip !== "" && tooltip !== undefined) {
                                    $(obj).attr('title', tooltip);
                                }
                            }
                        });
                    }

                },
                openLoanView: function (item) {
                    var self = this;
                    var params = self.$.url.getParams();
                    self.set("statusName", item.StatusName);
                    self.set("applicantId", item.ApplicantId);
                    self.set("productId", item.ProductId);
                    self.set("statusWorkFlowId", item.StatusWorkFlowId);
                    var url = "/app-details/entity:" + self.currentEntityName + "/filter:" + params.filter;
                    if (item.hasOwnProperty('ApplicationNumber')) {
                        self.set("applicationNumber", item.ApplicationNumber);
                    }
                    else {
                        self.set("applicationNumber", item.LocNumber);
                        self.set("drawdownId", item.DrawDownId);
                    }
                    if (self.applicantId != null) {
                        url = url + "/app:" + self.applicationNumber + "/applicantId:" + self.applicantId + "/product:" + self.productId + "/workflow:" + self.statusWorkFlowId;
                    }
                    else {
                        url = url + "/app:" + self.applicationNumber + "/product:" + self.productId + "/workflow:" + self.statusWorkFlowId;
                    }
                    if (self.drawdownId != undefined && self.drawdownId != "") {
                        url = url + "/drawdownId:" + self.drawdownId;
                    }
                    window.location.hash = url;
                },
                currencyFormat: function (value) {
                    return formats.moneyWithoutFraction(value, window.config.country, 0);
                },
                getSourceType: function (data) {
                    var self = this;
                    var obj = _.find(self.sourceType, ['key', data]);
                    if (!_.isUndefined(obj)) {
                        return obj.value || "NA";
                    }
                    return "NA";
                },
                formatCurrency: function (data) {
                    return formats.money(data, window.config.country, 0);
                },
                getProductName: function (data) {
                    var self = this;
                    var productNameList = self.$.config.getConfigurationBasedOnKey("productNameList");
                    var obj = _.find(productNameList, ['productId', data]);
                    return (obj != undefined && obj != null && obj != "") ? obj.productName : data;
                },
                formatDate: function (date) {
                    if (date !== undefined) {
                        return moment(date).format(COUNTRY[window.config.country].DATE_FORMAT.DATE_TIMEZONE);
                    }
                    return "";
                }
            });
        });
    </script>
</dom-module>