<html-import html-href="loaders/sk-wave.html"></html-import>
<html-import html-href="action-center/index.html"></html-import>
<dom-module id="dash-board">
    <template>
        <style>
            .tablecontainer {
                margin: 40px auto 0;
            }

            .row {
                margin: 0 auto !important;
            }

            .header-right {
                position: absolute;
                right: 20px;
            }

            .footer-right {
                float: right;
            }

            .datatabletd {
                text-align: left !important;
                width: 15%;
                color: red;
            }

            div#queue_wrapper {
                text-align: center;
            }

            .ibox {
                margin: 20px auto;
            }

            .overall-icon {
                position: absolute;
                font-size: 40px;
                margin: 25px;
            }

            .overall .ibox-content,
            .metricrow .ibox-content {
                padding-left: 80px;
            }

            .overall h5,
            .metricrow h5 {
                margin: 10px auto;
            }

            .custom-input {
                --paper-input-container-input: {
                    font-size: 11px;
                }
                --paper-input-container-label: {
                    font-size: 12px;
                }
            }

            #container .highcharts-container,
            #topContainer .highcharts-container {
                width: 100% !important;
                height: 100% !important;
            }

            .refreshBtn {
                font-size: 15px;
                cursor: pointer;
            }
        </style>
        <spinkit-wave hidden$="{{loading}}"></spinkit-wave>
        <div class="">
            <div class="row">
                <div class="col-lg-12">
                    <div class="pull-right">
                        <i aria-hidden="true" class="fa fa-refresh refreshBtn" title="Refresh Dashboard" on-click="refreshDashboard"></i>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <action-center refresh-action-center={{refreshActionCenter}}></action-center>
                </div>
            </div>
            <div class="row overall">
                <template is="dom-repeat" items="{{overallStatus}}" as="item">
                    <div class="col-lg-3">
                        <div class="ibox">
                            <i class$="{{item.className}}" aria-hidden="true"></i>
                            <div class="ibox-content">
                                <h5>{{item.displayName}}</h5>
                                <h1 class="no-margins">{{item.count}}</h1>
                                <small></small>
                            </div>
                        </div>
                    </div>
                </template>
            </div>
            <hr style="border-width:2px">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-3">
                            <vaadin-combo-box class="custom-input" name="daysMetric" item-value-path="key" item-label-path="value" items="{{activeApplication}}"
                                label="Days Metric" prevent-invalid-input="true" required value="{{selectedMetric}}"></vaadin-combo-box>
                        </div>
                    </div>
                    <div class="row metricrow">
                        <template is="dom-repeat" items="{{metricBasedStatus}}" as="item">
                            <div class="col-lg-3">
                                <div class="ibox">
                                    <i class$="{{item.className}}" aria-hidden="true"></i>
                                    <div class="ibox-content">
                                        <h5>{{item.displayName}}</h5>
                                        <h1 class="no-margins">{{item.count}}</h1>
                                        <small></small>
                                    </div>
                                </div>
                            </div>
                        </template>
                    </div>
                    <div class="row">
                        <template is="dom-repeat" items="{{metricBasedPercentage}}" as="item">
                            <div class="col-lg-3">
                                <div class="ibox">
                                    <div class="ibox-content">
                                        <h5>{{item.displayName}}</h5>
                                        <h2>{{item.percent}}%</h2>
                                        <div class="progress progress-mini">
                                            <div style="width: {{item.percent}}%" class$="{{item.className}}"></div>
                                        </div>
                                        <div class="m-t-sm small"></div>
                                    </div>
                                </div>
                            </div>
                        </template>
                    </div>
                </div>
            </div>
            <hr style="border-width:2px">
            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-teal">
                        <div class="panel-body">
                            <div id="container" style="width:100%; height:450px;"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-teal">
                        <div class="panel-body">
                            <div id="topContainer" style="width: 100%; height: 450px;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <http-request id="http"></http-request>
        <alloy-config id="config"></alloy-config>
        <session-manager id="session"></session-manager>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "dash-board",
                properties: {
                    refreshActionCenter: {
                        type: String,
                        notify: true,
                        reflectToAttribute: true
                    },
                    loading: {
                        type: Boolean,
                        notify: true,
                        value: false,
                        reflectToAttribute: true
                    },
                    overallStatus: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    metricBasedStatus: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    metricBasedPercentage: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    statusManagementConfig: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    applicationPercentConfig: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    applicationConfig: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    activeApplication: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    activeApplicationCodes: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    selectedMetric: {
                        type: String,
                        notify: true,
                        value: '30',
                        observer: '_getMetricDetailsServer'
                    },
                    chart1: {
                        type: Object,
                        notify: true
                    },
                    chart2: {
                        type: Object,
                        notify: true
                    },
                    ApprovalFlow: {
                        type: String,
                        notify: true,
                        value: 'ApplicationApprovalFlow'
                    }
                },
                _getAllActiveApplicationsCount: function (metricData, activeApplicationCodes) {
                    return _.reduce(activeApplicationCodes, function (result, code) {
                        var obj = _.find(metricData, ['name', code]) || { count: 0 };
                        return result + obj.count;
                    }, 0);
                },
                _calculatePercentage: function (totalCount, specificCount) {
                    return _.floor(_.divide(specificCount / totalCount) * 100, 2);
                },
                _calculateApplicationCount: function (applicationConfig, totalCount, metricData) {
                    var self = this;
                    return _.reduce(applicationConfig, function (result, item) {
                        var obj = _.find(metricData, ['name', item.code]);
                        item.count = !_.isUndefined(obj) ? obj.count : 0;
                        item.percent = self._calculatePercentage(totalCount, item.count);
                        result.push(item);
                        return result;
                    }, []);
                },
                _getMetricDetailsServer: function () {
                    var self = this;
                    var url = "/application/" + self.selectedMetric;
                    var metricService = window.config.services.metricService;
                    self.$.http.get(url, metricService).then(function (result) {
                        var metricData = result.metricData;
                        metricData.push({ "name": "All", "count": self._getAllActiveApplicationsCount(metricData, self.activeApplicationCodes) });
                        self.set('metricBasedStatus', self._calculateApplicationCount(_.cloneDeep(self.applicationConfig), result.totalCount, metricData));
                        self.set('metricBasedPercentage', self._calculateApplicationCount(_.cloneDeep(self.applicationPercentConfig), result.totalCount, metricData));
                    }).fail(function (e) {
                        console.error("application error is ", e);
                    });
                },
                _getDashBoardDetails: function () {
                    var self = this;
                    var url = "/application/";
                    var metricService = window.config.services.metricService;
                    self.$.http.get(url, metricService).then(function (result) {
                        var metricData = result.metricData;
                        metricData.push({ "name": "All", "count": self._getAllActiveApplicationsCount(metricData, self.activeApplicationCodes) });
                        self.set('overallStatus', self._calculateApplicationCount(_.cloneDeep(self.applicationConfig), result.totalCount, metricData));
                        self.set('highchartData', self._generateHighChartData(metricData, _.cloneDeep(self.statusManagementConfig)));
                        self.initHighChart();
                        self.set('loading', true);
                    }).fail(function (e) {
                        self.set('loading', true);
                        console.error("application error is ", e);
                    });
                },
                _getDeclineChartDetails: function () {
                    var self = this;
                    var url = "/application/rejectReason";
                    var metricService = window.config.services.metricService;
                    self.$.http.get(url, metricService).then(function (result) {
                        var merged = [];
                        var groupedResult = _.groupBy(result, 'name');
                        _.forEach(groupedResult, function (item) {
                            var reasonObj = _.find(self.reasonObjConfig, ['key', item[0].name]);
                            if (reasonObj) {
                                merged.push({ name: reasonObj.name, y: _.sumBy(item, 'count') });
                            }
                        });
                        self.set('declineChartData', merged);
                        self.initDeclineChart();
                    }).fail(function (e) {
                        console.error("application error is ", e);
                    });
                },
                initHighChart: function () {
                    var data = this.highchartData;
                    if (!_.isUndefined(this.chart1) && !_.isNull(this.chart1)) {
                        this.chart1.destroy();
                    }
                    var chart1 = this.chart1 = Highcharts.chart({
                        chart: {
                            renderTo: 'container',
                            type: 'pie',
                            options3d: {
                                enabled: true,
                                alpha: 45
                            }
                        },
                        credits: {
                            enabled: false
                        },
                        title: {
                            text: 'All Applications by Application Status'
                        },
                        subtitle: {
                            text: ''
                        },
                        plotOptions: {
                            pie: {
                                innerSize: 100,
                                depth: 45
                            }
                        },
                        series: [{
                            name: 'Application Count',
                            data: data
                        }]
                    });
                    setTimeout(function () {
                        chart1.reflow();
                    }, 1000);
                },
                initDeclineChart: function () {
                    var self = this;
                    var data = _.orderBy(self.declineChartData, 'y', 'desc');
                    if (!_.isUndefined(self.chart2) && !_.isNull(self.chart2)) {
                        self.chart2.destroy();
                    }
                    var chart2 = self.chart2 = Highcharts.chart({
                        chart: {
                            renderTo: 'topContainer',
                            type: 'column',
                            inverted: true
                        },
                        credits: {
                            enabled: false
                        },
                        title: {
                            text: 'Top 10 Decline Reasons'
                        },
                        xAxis: {
                            type: 'category'
                        },
                        yAxis: {
                            title: {
                                text: 'Total Number of Applications'
                            }
                        },
                        legend: {
                            enabled: false
                        },
                        plotOptions: {
                            series: {
                                borderWidth: 0,
                                dataLabels: {
                                    enabled: true
                                }
                            }
                        },
                        series: [
                            {
                                name: 'No. of Applications',
                                colorByPoint: true,
                                data: data
                            },
                            {
                                type: 'pie',
                                name: 'Total consumption',
                                data: data,
                                center: ['90%', '85%'],
                                innerSize: '50%',
                                size: 80,
                                showInLegend: false,
                                dataLabels: {
                                    enabled: false
                                }
                            }
                        ]
                    });
                    setTimeout(function () {
                        chart2.reflow();
                    }, 1000);
                },
                _loadStatusConfigurations: function () {
                    var self = this;
                    var statusWorkFlows = JSON.parse(self.$.session.get("status-workflows"));
                    var _tempApprovalFlow = self.$.config.getConfigurationBasedOnKey("dashboardApprovalFlow");
                    if (!_.isUndefined(_tempApprovalFlow) && !_.isEmpty(_tempApprovalFlow) && !_.isNull(_tempApprovalFlow)) {
                        self.set('ApprovalFlow', _tempApprovalFlow);
                    }
                    var aplicationStatusObj = _.find(statusWorkFlows, ['Name', self.ApprovalFlow]);
                    if (!_.isUndefined(aplicationStatusObj) && !_.isNull(aplicationStatusObj) && !_.isEmpty(aplicationStatusObj)) {
                        var reasonObj = {};
                        var output = _.transform(aplicationStatusObj.statuses, function (result, item) {
                            result.push({ name: item.name, code: item.code, reasons: item.reasons });
                            _.merge(reasonObj, item.reasons);
                        }, []);
                        var output1 = _.transform(reasonObj, function (result, value, key) {
                            result.push({ key: key, name: value });
                        }, []);
                        self.set('statusManagementConfig', output);
                        self.set('reasonObjConfig', output1);
                        self._getDashBoardDetails();
                        self._getDeclineChartDetails();
                    }
                },
                _generateHighChartData: function (metricData, statusManagementConfig) {
                    return _.reduce(statusManagementConfig, function (result, item) {
                        var obj = _.find(metricData, ['name', item.code]);
                        item.count = !_.isUndefined(obj) ? obj.count : 0;
                        result.push([item.name, item.count]);
                        return result;
                    }, []);
                },
                _getVariousConfigObjects: function () {
                    var self = this;
                    self.set('loading', false);
                    var configObj = this.$.config.getConfigurationBasedOnKey("dashboard-config");
                    this.set('applicationConfig', configObj.applicationConfig);
                    this.set('activeApplication', configObj.activeApplication);
                    this.set('activeApplicationCodes', configObj.activeApplicationCodes);
                    this.set('applicationPercentConfig', configObj.applicationPercentConfig);
                    this._loadStatusConfigurations();
                },
                ready: function () {
                    this._getVariousConfigObjects();
                },
                refreshDashboard: function () {
                    var self = this;
                    var random = Math.random();
                    self.set("refreshActionCenter", random);
                    self._getVariousConfigObjects();
                    self._getMetricDetailsServer();
                }
            });
        });
    </script>
</dom-module>