<dom-module id="document-list">
    <template>
        <div id="MessageContainer"></div>
        <div id="DocContainer">
            <template is="dom-if" if="{{isActiveProduct(productStatus)}}">
                <template is="dom-if" if="{{hasRole('AddEditDocumentBtn')}}">
                    <div class="pull-right">
                        <paper-button class="btn btn-primary activity-action-btn" on-click="_addEditDocument" raised>Add Document</paper-button>
                    </div>
                </template>
            </template>
            <table id="documentTable" class="table table-striped" width="100%" cellspacing="0"></table>
            <custom-modal id="addEditDocument" class="modal-drop" on-modal-hidden="resetModal">
                <div>
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="modal-title EditTitle"></h4>
                            </div>
                            <div class="modal-body">
                                <div id="ErrorMessge" style="display: none;">
                                    <p></p>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <form is="iron-form" class="form-horizontal" name="documentForm">
                                            <dynamic-form form-configuration={{documentForm}} values="{{documentForm.values}}"></dynamic-form>
                                            <br/>
                                            <template is="dom-if" if="{{hasRole('AddEditDocumentBtn')}}">
                                                <paper-button class="btn btn-primary activity-action-btn" on-click="_verifyForm" raised>Submit</paper-button>
                                                <paper-button id="documentFormResetButton" class="btn btn-primary activity-action-btn" style="display: none;" on-click="_formReset"
                                                    raised>Reset</paper-button>
                                            </template>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </custom-modal>
        </div>
        <url-parser id="url"></url-parser>
        <http-request id="http"></http-request>
        <auth-service id="authorize"></auth-service>
        <lookup-service id="lookup"></lookup-service>
        <message-component id="message"></message-component>
    </template>
    <script>
        Polymer({
            is: "document-list",
            properties: {
                productStatus: {
                    type: String,
                    notify: true,
                    value: "Active"
                },
                documentId: {
                    type: String,
                    notify: true
                },
                templateId: {
                    type: String,
                    notify: true
                },
                body: {
                    type: String,
                    notify: true
                },
                Version: {
                    type: String,
                    notify: true
                },
                Format: {
                    type: String,
                    notify: true
                },
                productId: {
                    type: String,
                    notify: true
                },
                expiryDate: {
                    type: Date,
                    notify: true
                },
                documentList: {
                    type: Array,
                    notify: true,
                    value: []
                },
                editorData: {
                    type: Array,
                    notify: true,
                    value: []
                },
                documentForm: {
                    type: Object,
                    notify: true,
                    value: {
                        controls: {
                            ConsentName: {
                                label: "Consent Name",
                                type: "textbox",
                                class: "twoRow",
                                validations: {
                                    required: true,
                                    readonly: false,
                                    charcounter: false,
                                    autovalidate: false,
                                    minLen: 1,
                                    maxLen: 64
                                }
                            },
                            DocumentDisplayName: {
                                label: "Document Display Name",
                                type: "textbox",
                                class: "twoRow",
                                validations: {
                                    required: true,
                                    readonly: false,
                                    charcounter: false,
                                    autovalidate: false,
                                    minLen: 1,
                                    maxLen: 64
                                }
                            },
                            ConsentCategory: {
                                label: "Consent Category",
                                type: "combobox",
                                class: "twoRow",
                                selectList: [],
                                labelKey: "value",
                                labelValue: "key",
                                validations: {
                                    required: true
                                }
                            },
                            ConsentPurpose: {
                                label: "Consent Purpose",
                                type: "textbox",
                                class: "twoRow",
                                validations: {
                                    required: true,
                                    readonly: false,
                                    charcounter: false,
                                    autovalidate: false,
                                    minLen: 1,
                                    maxLen: 64
                                }
                            },
                            ValidFrom: {
                                label: "Valid From",
                                type: "date",
                                class: "twoRow",
                                format: COUNTRY[window.config.country].DATE_FORMAT.DATE,
                                validations: {
                                    required: true
                                }
                            },
                            ExpiresOn: {
                                label: "Expires On",
                                type: "date",
                                class: "twoRow",
                                format: COUNTRY[window.config.country].DATE_FORMAT.DATE,
                                validations: {
                                    required: true
                                }
                            },
                            Title: {
                                label: "Title",
                                type: "textbox",
                                class: "twoRow",
                                validations: {
                                    required: true,
                                    readonly: false,
                                    charcounter: false,
                                    autovalidate: false,
                                    minLen: 1,
                                    maxLen: 64
                                }
                            },
                            Format: {
                                label: "Format",
                                type: "combobox",
                                class: "twoRow",
                                selectList: [
                                    { key: "Html", value: "Html" },
                                    { key: "Text", value: "Text" }
                                ],
                                labelKey: "value",
                                labelValue: "key",
                                validations: {
                                    required: true
                                }
                            },
                            Version: {
                                label: "Version",
                                type: "textbox",
                                class: "twoRow",
                                validations: {
                                    required: true,
                                    readonly: false,
                                    charcounter: false,
                                    autovalidate: false,
                                    minLen: 1,
                                    maxLen: 64
                                }
                            },
                            Tags: {
                                label: "Tags",
                                type: "textbox",
                                class: "twoRow",
                                validations: {
                                    required: false,
                                    readonly: false,
                                    charcounter: false,
                                    autovalidate: false,
                                    minLen: 1,
                                    maxLen: 64
                                }
                            }
                        },
                        values: {
                            ConsentName: "",
                            DocumentDisplayName: "",
                            ConsentCategory: "",
                            ConsentPurpose: "",
                            ValidFrom: "",
                            ExpiresOn: "",
                            Title: "",
                            Format: "",
                            Version: "",
                            Tags: ""
                        }
                    }
                }
            },
            ready: function () {
                this._getLookupData();
            },
            loadDocuments: function () {
                var self = this;
                var url = "/" + self.productId + "/all/consent-document";
                var multiProducts = window.config.services.multiProducts;
                self.$.http.get(url, multiProducts).then(function (data) {
                    self.set("documentList", data);
                    self._showResult(data);
                }).fail(function (e) {
                    console.error("alert error is ", e);
                });
            },
            _getLookupData: function () {
                var catList = this.$.lookup.getLookupBasedOnName("applicationDocument-category");
                var documentForm = _.cloneDeep(this.get('documentForm'));
                documentForm.controls.ConsentCategory.selectList = catList;
                this.set('documentForm', documentForm);
                this.loadDocuments();
            },
            _showResult: function (resultData) {
                var self = this;
                var table = self.tableObj;
                if (table !== null && table !== undefined) {
                    table.clear();
                    table.destroy();
                }
                $.fn.dataTable.ext.errMode = 'none';
                self.tableObj = $(this.$$('#documentTable')).DataTable({
                    retrieve: true,
                    dom: "<'row'<'col-sm-12'tr>>" +
                        "<'row'<'col-sm-5'i><'col-sm-7'p>>",
                    language: {
                        "zeroRecords": "No data found."
                    },
                    data: resultData,
                    order: [[0, "desc"]],
                    columnDefs: [
                        {
                            targets: 0,
                            width: "10%",
                            orderable: true
                        },
                        {
                            targets: 1,
                            width: "10%",
                            orderable: true
                        },
                        {
                            targets: 2,
                            width: "10%"
                        },
                        {
                            targets: 3,
                            width: "10%"
                        },
                        {
                            targets: 4,
                            width: "10%"
                        },
                        {
                            targets: 5,
                            width: "10%"
                        },
                        {
                            targets: 6,
                            width: "10%"
                        },
                        {
                            targets: 7,
                            width: "5%"
                        },
                        {
                            targets: 8,
                            width: "5%"
                        },
                        {
                            targets: 9,
                            width: "5%",
                            orderable: false
                        }
                    ],
                    columns: [
                        {
                            "data": "consentName",
                            "title": "Consent Name",
                            "tooltip": "Consent Name"
                        },
                        {
                            "data": "consentCategory",
                            "title": "Consent Category",
                            "tooltip": "Consent Category"
                        },
                        {
                            "data": "consentPurpose",
                            "title": "Consent Purpose",
                            "tooltip": "Consent Purpose"
                        },
                        {
                            "data": "documentDisplayName",
                            "title": "Document Display Name",
                            "tooltip": "Document Display Name"
                        },
                        {
                            "data": "tags",
                            "title": "Tags",
                            "tooltip": "Tags"
                        },
                        {
                            "data": "format",
                            "title": "Format",
                            "tooltip": "Format"
                        },
                        {
                            "data": "version",
                            "title": "Version",
                            "tooltip": "Version"
                        },
                        {
                            "data": "validFrom.time",
                            "title": "Valid From",
                            "isFunction": true,
                            "render": eval("(function(data,type,full,meta) { if (!data) {  return ''; } return moment(data).format(COUNTRY[window.config.country].DATE_FORMAT.DATE);})"),
                            "tooltip": "Valid From"
                        },
                        {
                            "data": "expiresOn.time",
                            "title": "Expires On",
                            "isFunction": true,
                            "render": eval("(function(data,type,full,meta) { if (!data) {  return ''; } return moment(data).format(COUNTRY[window.config.country].DATE_FORMAT.DATE);})"),
                            "tooltip": "Expires On"
                        },
                        {
                            "data": null,
                            "isFunction": true,
                            "render": eval("(function(data,type,full,meta){var EditDocument=''; var editHtmlTemplate = ''; if(((self.hasRole('ViewDocumentBtn') == true) || (self.hasRole('AddEditDocumentBtn') == true))){ EditDocument=\"<li><a on-click='editDocument' href='javascript:'>Edit</a></li>\" }; if(self.hasRole('ViewHtmlBtn') == true || self.hasRole('AddEditHtmlBtn') == true) { editHtmlTemplate= \"<li><a on-click='editHtmlTemplate' href='javascript:'>Add/Edit Html</a></li>\"; } if(self.productStatus === 'Active'){ return \"<ul class='nav navbar-right' style='font-size:15px; margin: 0 0 0 0;'><li class='dropdown'><a href='javascript:' class='dropdown-toggle' data-toggle='dropdown' role='button' aria-expanded='false' style='padding: 3px 0px 0 5px;'><i class='fa fa-ellipsis-h' aria-hidden='true'></i></a><ul class='dropdown-menu'>\" + EditDocument + editHtmlTemplate + \"</ul></li></ul>\" }else{return '';}})")
                        }
                    ]
                });
                $('#documentTable tbody').on('click', 'a', function (obj) {
                    var data = self.tableObj.row($(this).parents('tr')).data();
                    if (this.getAttribute("on-click") !== null && this.getAttribute("on-click") !== undefined) {
                        if (obj.target.textContent === "Edit") {
                            self.editDocument(data.consentId);
                        }
                        else if (obj.target.textContent === "Add/Edit Html") {
                            self.openEditorForDocument(data.consentName, data.version, data.format);
                        }
                    }
                });
            },
            hasRole: function (RoleName) {
                return this.$.authorize.hasRole(RoleName);
            },
            resetModal: function () {
                var self = this;
                self.documentId = "";
                self.Version = "";
                self.Format = "";
                self.templateId = "";
                self.body = "";
                var documentObj = _.cloneDeep(self.documentForm);
                documentObj.values.ConsentName = "";
                documentObj.values.DocumentDisplayName = "";
                documentObj.values.ConsentCategory = "";
                documentObj.values.ConsentPurpose = "";
                documentObj.values.ValidFrom = "";
                documentObj.values.ExpiresOn = "";
                documentObj.values.Title = "";
                documentObj.values.Format = "";
                documentObj.values.Version = "";
                documentObj.values.Tags = "";
                self.set('documentForm', documentObj);
                $('#documentFormResetButton').click();
            },
            _addEditDocument: function (event) {
                event.preventDefault();
                var self = this;
                self.documentId = "";
                self.Version = "";
                self.Format = "";
                self.templateId = "";
                self.body = "";
                var documentObj = _.cloneDeep(self.documentForm);
                documentObj.values.ConsentName = "";
                documentObj.values.DocumentDisplayName = "";
                documentObj.values.ConsentCategory = "";
                documentObj.values.ConsentPurpose = "";
                documentObj.values.ValidFrom = moment().format("YYYY-MM-DD");
                documentObj.values.ExpiresOn = self.expiryDate;
                documentObj.values.Title = "";
                documentObj.values.Format = "";
                documentObj.values.Version = "";
                documentObj.values.Tags = "";
                self.set('documentForm', documentObj);
                var text = "Add Document";
                $('.EditTitle').text(text);
                self.$$('#addEditDocument').showModal();
            },
            _verifyForm: function (event) {
                event.preventDefault();
                var self = this;
                var form = Polymer.dom(event).localTarget.parentElement;
                var multiProducts = window.config.services.multiProducts;
                if (form.validate()) {
                    var payload = self.documentForm.values;
                    payload.Tags = (payload.Tags.toString() !== "") ? _.split(payload.Tags, ',') : [];
                    payload.Body = self.body;
                    payload.Properties = {
                        pdfSettings: {
                            pageSize: "A4",
                            pageWidth: "21cm",
                            pageHeight: "29.7cm",
                            orientation: "portrait",
                            dpi: 300,
                            imageQuality: 90,
                            marginTop: "10",
                            marginBottom: "10",
                            marginLeft: "10",
                            marginRight: "10"
                        }
                    }
                    if (!_.isUndefined(self.documentId) && !_.isNull(self.documentId) && !_.isEmpty(self.documentId)) {
                        payload.TemplateId = self.templateId;
                        var url = "/" + self.productId + "/" + self.Version + "/" + self.Format + "/template";
                        self.$.http.put(url, payload, multiProducts).then(function (result) {
                            $('.close').click();
                            self.loadDocuments();
                        }).fail(function (e) {
                            var strMessage = "Failed to complete the operation. " + e.responseJSON.message;
                            self.$.message.showMessage(strMessage, "ERROR", self.$.MessageContainer);
                        });
                    }
                    else {
                        payload.TemplateId = null;
                        payload.Body = payload.ConsentName;
                        var url = "/product/" + self.productId + "/template";
                        self.$.http.post(url, [payload], multiProducts).then(function (result) {
                            $('.close').click();
                            self.loadDocuments();
                        }).fail(function (e) {
                            var strMessage = "Failed to complete the operation. " + e.responseJSON.message;
                            self.$.message.showMessage(strMessage, "ERROR", self.$.MessageContainer);
                        });
                    }
                }
            },
            loadTemplate: function (consentName, Version, Format) {
                var self = this;
                var url = "/" + self.productId + "/" + consentName + "/" + Version + "/" + Format + "/template";
                var multiProducts = window.config.services.multiProducts;
                var documentObj = _.cloneDeep(self.documentForm);
                self.$.http.get(url, multiProducts).then(function (data) {
                    self.set('body', data.body);
                    documentObj.values.Title = data.title;
                    self.set('documentForm', documentObj);
                }).fail(function (e) {
                    console.error("loadTemplate error is ", e);
                });
            },
            openEditorForDocument: function (consentName, Version, Format) {
                var self = this;
                var url = "/" + self.productId + "/" + consentName + "/" + Version + "/" + Format + "/template";
                var multiProducts = window.config.services.multiProducts;
                self.$.http.get(url, multiProducts).then(function (data) {
                    var EditorObj = [];
                    EditorObj.push(data);
                    self.set('editorData', EditorObj);
                }).fail(function (e) {
                    console.error("openEditorForDocument error is ", e);
                });
            },
            editDocument: function (objId) {
                var self = this;
                var productObj = _.find(self.documentList, ["consentId", objId]);
                self.documentId = productObj.consentId;
                self.Version = productObj.version;
                self.Format = productObj.format;
                self.templateId = productObj.templateId;
                var documentObj = _.cloneDeep(self.documentForm);
                documentObj.values.ConsentName = productObj.consentName
                documentObj.values.DocumentDisplayName = productObj.documentDisplayName;
                documentObj.values.ConsentCategory = productObj.consentCategory;
                documentObj.values.ConsentPurpose = productObj.consentPurpose;
                documentObj.values.Title = productObj.title;
                documentObj.values.Format = productObj.format;
                documentObj.values.Version = productObj.version;
                if (productObj.tags != undefined && productObj.tags != "") {
                    documentObj.values.Tags = productObj.tags.toString();
                }
                documentObj.values.ValidFrom = moment(productObj.validFrom.time).format("YYYY-MM-DD");
                documentObj.values.ExpiresOn = moment(productObj.expiresOn.time).format("YYYY-MM-DD");
                self.set('documentForm', documentObj);
                var text = "Edit " + self._changeTextDisplay(productObj.consentName) + " Document";
                $('.EditTitle').text(text);
                self.$$('#addEditDocument').showModal();
                self.loadTemplate(productObj.consentName, self.Version, self.Format);
            },
            _changeTextDisplay: function (value) {
                if (!_.isNull(value) && !_.isUndefined(value) && !_.isEmpty(value))
                    return _.startCase(_.lowerCase(value));
                return "";
            },
            isActiveProduct: function (obj) {
                if (obj === "Active") {
                    return true;
                }
                return false;
            },
            _formReset: function (event) {
                var form = Polymer.dom(event).localTarget.parentElement;
                form.reset();
            }
        })
    </script>
</dom-module>