<dom-module id="product-hierarchy">
    <template>
        <style>
            .tree {
                min-height: 20px;
                padding: 19px;
                margin-bottom: 20px;
                background-color: #fbfbfb;
                border: 1px solid #999;
                -webkit-border-radius: 4px;
                -moz-border-radius: 4px;
                border-radius: 4px;
                -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
                -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
                box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05)
            }

            .tree li {
                list-style-type: none;
                margin: 0;
                padding: 10px 5px 0 5px;
                position: relative
            }

            .tree li::before,
            .tree li::after {
                content: '';
                left: -20px;
                position: absolute;
                right: auto
            }

            .tree li::before {
                border-left: 1px solid #999;
                bottom: 50px;
                height: 100%;
                top: 0;
                width: 1px
            }

            .tree li::after {
                border-top: 1px solid #999;
                height: 20px;
                top: 25px;
                width: 25px
            }

            .tree li span {
                -moz-border-radius: 5px;
                -webkit-border-radius: 5px;
                border: 1px solid #999;
                border-radius: 5px;
                display: inline-block;
                padding: 3px 8px;
                text-decoration: none
            }

            .tree li.parent_li>span {
                cursor: pointer
            }

            .tree>ul>li::before,
            .tree>ul>li::after {
                border: 0
            }

            .tree li:last-child::before {
                height: 30px
            }

            .tree li.parent_li>span:hover,
            .tree li.parent_li>span:hover+ul li span {
                background: #eee;
                border: 1px solid #94a0b4;
                color: #000
            }

            .row {
                margin: 10px auto;
            }

            .custom-input {
                --paper-slider-input: {
                    width: 70px;
                }
                --paper-input-container-input: {
                    font-size: 11px;
                }
                --paper-input-container-label: {
                    font-size: 12px;
                }
            }
        </style>
        <div id="MessageContainer"></div>
        <div class="row">
            <div class="col-md-3 tree">
                <ul>
                    <template is="dom-repeat" items="{{hierarchyList}}" as="hierarchyObj">
                        <li>
                            <span>
                                <i class="fa fa-minus-circle"></i> {{hierarchyObj.name}}</span>
                            <ul>
                                <template is="dom-repeat" items="{{hierarchyObj.hierarchy}}" as="hierarchy">
                                    <li>
                                        <span class="badge badge-default">
                                            {{hierarchy.element}}
                                        </span>
                                    </li>
                                </template>
                            </ul>
                        </li>
                    </template>
                </ul>
            </div>
            <div class="col-md-9">
                <div class="row" id="AddEditHierarchyBtn">
                    <div class="col-md-12">
                        <template is="dom-if" if="{{checkIfActiveProduct(productStatus)}}">
                            <template is="dom-if" if="{{hasRole('AddEditHierarchyBtn')}}">
                                <paper-button class="btn btn-primary activity-action-btn pull-right" on-click="_showAddHierarchyView" raised>Add Hierarchy</paper-button>
                            </template>
                        </template>
                    </div>
                </div>
                <div class="row" id="addHierarchyDiv" style="display: none;">
                    <div class="col-md-12">
                        <h3>Add Hierarchy</h3>
                        <form id="addHierarchyForm" is="iron-form" class="form-horizontal" name="addHierarchyForm">
                            <div class="row">
                                <div class="col-md-5">
                                    <paper-input class="custom-input" type="text" value="{{hierarchyName}}" label="Hierarchy Name" error-message="Please provide hierarchy name"
                                        required auto-validate></paper-input>
                                </div>
                            </div>
                            <div class="row">
                                <select id="element" name="element" multiple="multiple">
                                    <template is="dom-repeat" items="{{paymentElements}}" as="elementObj">
                                        <option value="{{elementObj.value}}">{{elementObj.value}}</option>
                                    </template>
                                </select>
                            </div>
                            <div class="col-md-5">
                                <template is="dom-if" if="{{hasRole('AddEditHierarchyBtn')}}">
                                    <paper-button id="hierarchyAdd" on-click="_addHierarchy" class="btn btn-primary activity-action-btn" raised>Submit</paper-button>
                                </template>
                                <paper-button id="cancelHierarchy" on-click="_hideAddHierarchyView" class="btn btn-primary activity-action-btn">Cancel</paper-button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <url-parser id="url"></url-parser>
        <http-request id="http"></http-request>
        <auth-service id="authorize"></auth-service>
        <lookup-service id="lookup"></lookup-service>
        <message-component id="message"></message-component>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "product-hierarchy",
                properties: {
                    productId: {
                        type: String,
                        notify: true
                    },
                    productStatus: {
                        type: String,
                        notify: true,
                        value: "Active"
                    },
                    elementList: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    hierarchyName: {
                        type: String,
                        notify: true
                    },
                    hierarchyList: {
                        type: Array,
                        notify: true,
                        value: []
                    }
                },
                checkIfActiveProduct: function (obj) {
                    return obj === "Active" ? true : false;
                },
                hasRole: function (RoleName) {
                    return this.$.authorize.hasRole(RoleName);
                },
                ready: function () {
                    var params = this.$.url.getParams();
                    this.set('productId', params.productId);
                    this._getLookupData();
                },
                _getLookupData: function () {
                    var self = this;
                    var url = "/" + self.productId + "/all/feeparameter";
                    var paymentElements = this.$.lookup.getLookupBasedOnName("payment-element");
                    var multiProducts = window.config.services.multiProducts;
                    self.$.http.get(url, multiProducts).then(function (data) {
                        var updatedData = _.reject(data, ['feeId', null]);
                        var feesList = _.transform(updatedData, function (result, fee) {
                            result.push({ key: fee.feeId, value: fee.name });
                        }, []);
                        self.set('paymentElements', _.concat(paymentElements, feesList));
                        self.loadHierarchyList();
                    }).fail(function (e) {
                        self.set('paymentElements', paymentElements);
                        self.loadHierarchyList();
                        console.error("alert error is ", e);
                    });
                },
                initHierarchyTree: function () {
                    var self = this;
                    $(function () {
                        $('.tree li:has(ul)').addClass('parent_li').find(' > span').attr('title', 'Collapse this branch');
                        $('.tree li.parent_li > span').on('click', function (e) {
                            var children = $(this).parent('li.parent_li').find(' > ul > li');
                            if (children.is(":visible")) {
                                children.hide('fast');
                                $(this).attr('title', 'Expand this branch').find(' > i').addClass('fa-plus-circle').removeClass('fa-minus-circle');
                            } else {
                                children.show('fast');
                                $(this).attr('title', 'Collapse this branch').find(' > i').addClass('fa-minus-circle').removeClass('fa-plus-circle');
                            }
                            e.stopPropagation();
                        });

                        $("#element").pickList({
                            sourceListLabel: "List of Payment Types",
                            targetListLabel: "Selected Payment Types",
                            addAllLabel: ">>",
                            addLabel: ">",
                            removeAllLabel: "<<",
                            removeLabel: "<",
                            sortAttribute: "label",
                            sortItems: false,
                            afterAddAll: addItemHandler,
                            afterAdd: addItemHandler,
                            afterRemove: removeItemHandler,
                            afterRemoveAll: removeItemHandler
                        });

                        function addItemHandler(event, obj) {
                            obj.items.each(function () {
                                self.elementList.push($(this).attr("data-value"));
                            });
                        }
                        function removeItemHandler(event, obj) {
                            obj.items.each(function () {
                                self.elementList.pop($(this).attr("data-value"));
                            });
                        }
                    });
                },
                loadHierarchyList: function () {
                    var self = this;
                    var params = self.$.url.getParams();
                    self.productId = params.productId;
                    var url = "/" + params.productId + "/paymenthierarchy";
                    var multiProducts = window.config.services.multiProducts;
                    self.$.http.get(url, multiProducts).then(function (data) {
                        if (data) {
                            var updatedData = _.forEach(data, function (item) {
                                item.hierarchy = _.sortBy(item.hierarchy, 'priority');
                            });
                            self.set('hierarchyList', updatedData);
                        }
                        self.initHierarchyTree();
                    }).fail(function (e) {
                        console.error("alert error is ", e);
                        self.initHierarchyTree();
                    });
                },
                _showAddHierarchyView: function () {
                    $('#AddEditHierarchyBtn').hide();
                    $('#addHierarchyDiv').show();
                },
                _hideAddHierarchyView: function (event) {
                    var form = Polymer.dom(event).localTarget.parentElement.parentElement;
                    form.reset();
                    $('#AddEditHierarchyBtn').show();
                    $('#addHierarchyDiv').hide();
                    $('.pickList_removeAll').trigger('click');
                },
                _addHierarchy: function (event) {
                    var self = this;
                    var form = Polymer.dom(event).localTarget.parentElement.parentElement;
                    var hierarchyList = _.cloneDeep(self.hierarchyList);
                    if (form.validate() && !_.isEmpty(self.elementList)) {
                        var i = 1;
                        var elementList = _.transform(self.elementList, function (result, element) {
                            result.push({ priority: i, element: element });
                            i++;
                        }, []);
                        hierarchyList.push({ name: self.hierarchyName, hierarchy: elementList });
                        var url = "/" + self.productId + "/paymenthierarchy";
                        var multiProducts = window.config.services.multiProducts;
                        self.$.http.put(url, hierarchyList, multiProducts).then(function (result) {
                            self.set('hierarchyList', hierarchyList);
                            $('.pickList_removeAll').trigger('click');
                            $('#cancelHierarchy').trigger('click');
                        }).fail(function (e) {
                            var strMessage = "Failed to complete the operation. " + e.responseJSON.message;
                            self.$.message.showMessage(strMessage, "ERROR", self.$.MessageContainer);
                        });
                    }
                    else {
                        console.log("validation fire");
                    }
                }
            });
        });
    </script>
</dom-module>