<html-import html-href="loaders/sk-wave.html"></html-import>
<dom-module id="account-detail">
    <template>
        <style>
            .subheader {
                height: 1px;
                color: #03466B;
                background-color: #ddd;
            }

            .header {
                font-size: 12px;
                font-weight: 700;
                color: white;
                background-color: #03466B !important;
            }

            .modal-dialog {
                margin: 10% auto;
                width: 950px !important;
            }

            .panel-group {
                margin: 5px auto 20px;
            }

            .panel-group .panel {
                border-radius: 0;
                box-shadow: none;
                border-color: #EEEEEE;
            }

            .panel-default>.panel-heading {
                padding: 0;
                border-radius: 0;
                color: #03466B;
                background-color: #ddd;
                border-color: #ddd;
            }

            .panel-title {
                font-size: 14px;
                margin-top: 0;
            }

            .panel-title>a {
                display: block;
                padding: 15px;
                text-decoration: none;
            }

            .more-less {
                float: right;
                color: #03466B;
            }

            .panel-default>.panel-heading+.panel-collapse>.panel-body {
                border-top-color: #EEEEEE;
            }

            ul {
                list-style-type: none !important;
                padding-left: 10px;
                margin-top: 5px !important;
                margin-bottom: 5px !important;
            }

            .setSpace {
                padding-top: 5px;
                padding-right: 5px;
            }

            .bureauBtn {
                margin: 0 !important;
                font-size: 12px;
                padding: 2px 5px;
            }

            th.h-center-c-center {
                text-align: center !important;
            }

            td.h-center-c-center {
                text-align: center !important;
            }

            th.h-right-c-right {
                text-align: right !important;
            }

            td.h-right-c-right {
                text-align: right !important;
            }

            th.h-center-c-left {
                text-align: center !important;
            }

            td.h-center-c-left {
                text-align: left !important;
            }

            .set-vertical-height {
                height: 450px;
                overflow-y: auto;
                overflow-x: hidden;
            }
        </style>
        <spinkit-wave hidden$="{{loadding}}"></spinkit-wave>
        <div class="row set-vertical-height">
                <template is="dom-repeat" items="{{accountList}}" as="account">
                    <table class="table table-striped" id="accountDetailsTable" style="width:100%;">
                        <tr>
                            <th colspan="5" class="header">Account Number: {{_formateAccountNumber(account.accountNumber)}}</th>
                            <th colspan="1" class="header">
                            </th>
                        </tr>
                        <tr>
                            <th>Routing Number</th>
                            <td>{{formatNullHandle(account.routingNumber)}}</td>
                            <th>Wire Routing Number</th>
                            <td>{{formatNullHandle(account.wireRoutingNumber)}}</td>
                            <th>Account Type</th>
                            <td>{{account.accountType}}</td>
                        </tr>
                        <tr>
                            <th>Current Balance</th>
                            <td>{{formatMoney(account.currentBalance)}}</td>
                            <th>Available Balance</th>
                            <td>{{formatMoney(account.availableBalance)}}</td>
                            <td> <div class="col-lg-3 viewMiddle">
                                <a on-click="_viewTransactionInfo" href="javascript:">
                                    View Transaction
                                </a>
                            </div>
                        </td>
                        <td>
                            <div class="col-lg-3 viewMiddle">
                                <a on-click="_viewCashflowInfo" href="javascript:">
                                    View Cashflow
                                </a>
                            </div>
                        </td>
                    </tr>
                </table>
            </template>
        </div>
        <url-parser id="urlaccount"></url-parser>
        <http-request id="httpaccount"></http-request>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "account-detail",
                properties: {
                    loadding: {
                        type: Boolean,
                        notify: true,
                        value: false,
                        reflectToAttribute: true
                    },
                    fileId: {
                        type: String,
                        notify: true
                    },
                    storeTempDataObj: {
                        type: Object,
                        notify: true,
                        reflectToAttribute: true
                    },
                    baseSegmentsObj: {
                        type: Object,
                        notify: true,
                        reflectToAttribute: true
                    },
                    accountList: {
                        type: Array,
                        notify: true
                    },
                    accountResponse: {
                        type: Object,
                        notify: true
                    },
                    applicationNumber: {
                        type: String,
                        notify: true,
                        reflectToAttribute: true
                    }
                },
                init: function () {
                    var self = this;
                    self.getAccountData();
                },
                getAccountData: function () {
                    var self = this;
                    var params = self.$.urlaccount.getParams();
                    var Url = "/getaccountdata/" + params.bankLinkId;
                    self.$.httpaccount.get(Url, window.config.services.ibvService).then(function (data) {
                        if (data) {
                            self.set("accountList", data);
                            self.set('loadding', true);
                        }
                    }).fail(function (e) {
                        self.set('loadding', true);
                        console.error("Get AccountList error is ", e);
                    });
                },
                formFormatDate: function (date) {
                    if (date && !_.isNull(date.time) && !_.isUndefined(date.time) && !_.isEmpty(date.time)) {
                        return formats.date(date.time, 'USA', false);
                    }
                    return null;
                },
                formatDate: function (date) {
                    if (date && !_.isNull(date.time) && !_.isUndefined(date.time) && !_.isEmpty(date.time)) {
                        return formats.date(date.time, 'USA', false);
                    }
                    return "NA";
                },
                formatDateOfBirth: function (date) {
                    if (date && !_.isNull(date) && !_.isUndefined(date) && !_.isEmpty(date)) {
                        return formats.date(date, 'USA', false);
                    }
                    return "NA";
                },
                formatNullHandle: function (date) {
                    if (date && !_.isNull(date) && !_.isUndefined(date) && !_.isEmpty(date)) {
                        return date;
                    }
                    return "NA";
                },
                formatMoney: function (value) {
                    return formats.money(value, 'USA', 0);
                },
                _formateAccountNumber: function (data) {
                    return formats.accountNumber(data,window.config.country);
                },
                _viewTransactionInfo : function (event) {
                    $('.appTabs a[data-target="#transactionDetail"]').tab('show');
                    this.fire('iron-signal', { name: 'showtranscation', data: null });
                },
                _viewCashflowInfo : function (event) {
                    $('.appTabs a[data-target="#cashflowinfo"]').tab('show');
                    this.fire('iron-signal', { name: 'showcashflow', data: null });
                },
            });
        });
    </script>
</dom-module>