<html-import html-href="loaders/sk-wave.html"></html-import>
<dom-module id="doc-view">
    <template>
        <style>
            .row {
                margin: 0;
            }

            .col-lg-12 {
                margin: 10px auto;
                padding: 0;
            }

            .file-box {
                float: left;
                width: 215px;
            }

            .file {
                border: 1px solid #e7eaec;
                padding: 0;
                background-color: #ffffff;
                position: relative;
                margin-bottom: 15px;
                margin-right: 15px;
            }

            .corner {
                border: none;
                right: 20px;
                bottom: 15px;
            }

            .file a {
                cursor: default;
            }

            .file .icon {
                padding: 15px 10px;
                text-align: center;
                height: 100px;
                overflow: hidden;
            }

            .file .icon i {
                margin: 20px auto;
                font-size: 30px;
                color: #dadada;
            }

            .file .file-name {
                padding: 10px 20px 10px 10px;
                background-color: #f8f8f8;
                border-top: 1px solid #e7eaec;
            }

            .file-name p {
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                margin-bottom: 5px;
            }

            .doc-category {
                font-size: 85%;
                color: #676a6c;
            }

            .file .icon i.fa-file-pdf-o {
                color: #ff0000;
            }

            .file .icon i.fa-file-word-o {
                color: #00bfff;
            }

            .file .icon i.fa-file-image-o {
                color: #DEB887;
            }

            .file .icon i.fa-file-text-o {
                color: #696969;
            }

            .file .icon i.fa-file-excel-o {
                color: #006400;
            }

            .file .icon i.fa-file {
                color: #000000;
            }

            .file .corner i.fa-download {
                color: #696969;
                cursor: pointer;
            }

            .col-lg-12.download-all h3 {
                margin: 0 auto;
                padding: 10px 0;
                line-height: 20px;
            }

            .download-all {
                border-bottom: 1px solid #698b69;
                padding: 0;
                margin: 0 auto 15px;
            }

            .col-lg-12.download-all h3 i {
                left: 100px;
                position: absolute;
                font-size: 20px;
                cursor: pointer;
            }

            .no-document {
                min-height: 20px;
                padding: 19px;
                background-color: #f5f5f5;
                border-radius: 4px;
                -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
                box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
                border: 1px solid #e3e3e3;
            }

            .file .icon::before {
                content: ' ';
                display: block;
                position: absolute;
                left: 0;
                top: 0;
                width: 199px;
                height: 100px;
                z-index: 0;
                opacity: 0.6;
                background-repeat: no-repeat;
                background-position: 50% 0;
                -ms-background-size: contain;
                -o-background-size: contain;
                -moz-background-size: contain;
                -webkit-background-size: contain;
                background-size: contain;
            }

            .file .icon.borrower-doc::before {
                background-image: url("/images/identity-card.png");
            }

            .file .icon.third-party::before {
                background-image: url("/images/contract.png");
            }

            .file .icon.signed-doc::before {
                background-image: url("/images/icon.png");
            }

            .file .icon.consent-doc::before {
                background-image: url("/images/signing-the-contract.png");
            }

            .pass {
                color: #80b43c;
                position: absolute;
                right: 5px;
            }

            .fail {
                color: #ff0000;
                position: absolute;
                right: 5px;
            }

            .edit {
                position: absolute;
                right: 5px;
                cursor: pointer;
            }

            .modal-dialogViewDocument {
                width: 800px;
                margin: 30px auto;
            }
        </style>
        <div class="panel-body">
            <template is="dom-if" if="{{!_hasDocuments(documentsReceived)}}">
                <div class="row no-document">
                    <div class="col-lg-12">
                        <span hidden$="{{!documentsReceived}}"> No Documents available.</span>
                        <spinkit-wave hidden$="{{documentsReceived}}"></spinkit-wave>
                    </div>
                </div>
            </template>
            <template is="dom-if" if="{{_hasDocuments(documentsReceived)}}">
                <div class="row download-all-row">
                    <div class="col-lg-12 download-all">
                        <h3>Documents
                            <i class="fa fa-download fa-3x" on-click="downloadAllDocs" title="Download All" aria-hidden="true"></i>
                        </h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <template id="viewDocumentsTemplate" is="dom-repeat" items="{{documents}}" as="doc">
                            <div class="file-box">
                                <div class="file">
                                    <a href="javascript:">
                                        <span class="corner">
                                            <i class="fa fa-download fa-lg" title="download" aria-hidden="true" on-click="downloadDoc"></i>
                                        </span>
                                        <div class$="{{_computeBackground(doc)}}">
                                            <i class$="{{_computeFileType(doc)}}"></i>
                                        </div>
                                        <div class="file-name">
                                            <p title="{{doc.fileName}}">{{doc.fileName}}
                                                <i class$="{{_computeDocumentStatus(doc.documentStatus)}}" title="{{doc.documentStatus}}" aria-hidden="true"></i>
                                            </p>
                                            <p class="doc-category">Category: {{category(doc.category)}}
                                                <template is="dom-if" if="{{hasRole('EditDocumentCategoryMenu')}}">
                                                    <i class="fa fa-pencil fa-lg edit" model$="{{doc}}" title="Edit Document Category" aria-hidden="true" on-click="editDoc"></i>
                                                    <br>
                                                </template>
                                                <i class="fa fa-eye fa-lg edit" model$="{{doc}}" title="View Document" aria-hidden="true" on-click="ViewDoc"></i>
                                            </p>
                                            <br>
                                            <small>Uploaded On: {{_formatDate(doc.timestamp)}}</small>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </template>
                    </div>
                </div>
            </template>
            <div id="docContent" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title docSubject">Edit Document Category</h4>
                        </div>
                        <div class="modal-body">
                            <vaadin-combo-box name="Role" value="{{selectedCategory}}" item-value-path="key" item-label-path="value" items="{{categoryLookup}}"
                                label="Select Document Category" prevent-invalid-input="true">
                            </vaadin-combo-box>
                        </div>
                        <div class="modal-footer">
                            <paper-button class="btn btn-primary activity-action-btn" on-click="_updateCategory" raised>Submit</paper-button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="ViewdocContent" class="modal fade" role="dialog">
                <div class="modal-dialogViewDocument">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title docSubject">View Document</h4>
                        </div>
                        <div class="modal-body">
                            <template is="dom-if" if="[[_checkfileType(viewDocument)]]">
                                <div class="navigation-control">
                                    <i class="fa fa-search-plus" on-tap="zoomIn" model$="{{viewDocument}}" aria-hidden="true" raised></i>
                                    <i class="fa fa-search-minus" on-tap="zoomOut" model$="{{viewDocument}}" aria-hidden="true" raised></i>
                                </div>
                                <img-pan-zoom zoom-per-click="1.0" max-zoom-pixel-ratio="10" hide-spinner="true" src="data:image/png;base64,{{viewDocument.docImage}}"
                                    id="img{{viewDocument.id}}"></img-pan-zoom>
                            </template>
                            <template is="dom-if" if="[[!_checkfileType(viewDocument)]]">
                                <object width="750px" height="600px" data="data:application/pdf;base64,{{viewDocument.docImage}}" type="application/pdf"
                                    id="img{{viewDocument.id}}">
                                    <embed src="data:application/pdf;base64,{{viewDocument.docImage}}">
                                </object>
                            </template>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <url-parser id="url"></url-parser>
        <http-request id="http"></http-request>
        <alloy-config id="config"></alloy-config>
        <auth-service id="authorize"></auth-service>
        <lookup-service id="lookup"></lookup-service>
        <session-manager id="session"></session-manager>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "doc-view",
                properties: {
                    documents: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    documentsReceived: {
                        type: Boolean,
                        notify: true,
                        value: false,
                        reflectToAttribute: true
                    },
                    categoryLookup: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    selectedCategory: {
                        type: String,
                        notify: true,
                        value: ""
                    },
                    updatedocId: {
                        type: String,
                        notify: true,
                        value: ""
                    },
                    viewDocument: {
                        type: String,
                        notify: true,
                        value: ""
                    },
                    statusIcons: {
                        type: Object,
                        notify: true,
                        value: {
                            "Verifiable": "fa fa-check fa-lg pass",
                            "Unverifiable": "fa fa-times fa-lg fail"
                        }
                    },
                    categoryIcons: {
                        type: Object,
                        notify: true
                    },
                    currentEntityName: {
                        type: String,
                        notify: true,
                        value: 'application'
                    }
                },
                _checkIfEmptyObject: function (obj) {
                    return Object.keys(obj).length === 0 && obj.constructor === Object;
                },
                category: function (value) {
                    var self = this;
                    if (self.categoryLookup != undefined && self.categoryLookup != null && self.categoryLookup != "") {
                        var catObj = _.find(self.categoryLookup, ['key', value]);
                        if (catObj)
                            return catObj.value || "NA";
                    }
                    return "NA";
                },
                _formatDate: function (date) {
                    if (date !== undefined) {
                        return moment.tz(date, window.config.timezone).format("MMM D YYYY");
                    }
                    return "";
                },
                _extractFileExtension: function (fileName) {
                    return fileName.slice((fileName.lastIndexOf(".") - 1 >>> 0) + 2);
                },
                _computeDocumentStatus: function (status) {
                    var iconConfig = this.statusIcons;
                    return iconConfig.hasOwnProperty(status) ? iconConfig[status] : "fa fa-circle";
                },
                _computeFileType: function (doc) {
                    var iconConfig = this.iconConfig;
                    var ext = this._extractFileExtension(doc.fileName);
                    return iconConfig.hasOwnProperty(ext) ? iconConfig[ext] : "fa fa-file";
                },
                _computeBackground: function (doc) {
                    var iconConfig = this.categoryIcons;
                    return iconConfig.hasOwnProperty(doc.category) ? iconConfig[doc.category] : "icon";
                },
                _hasDocuments: function () {
                    if (this.documentsReceived && this.documents.length > 0) {
                        return true;
                    }
                    return false;
                },
                init: function () {
                    var self = this;
                    var params = self.$.url.getParams();
                    if (params.hasOwnProperty('entity')) {
                        self.set('currentEntityName', params.entity);
                    }
                    this._loadDocs();
                },
                ready: function(){
                    this._getLookupData();
                },
                _getLookupData: function () {
                    var docIcons = this.$.config.getConfigurationBasedOnKey("document-icons");
                    var catList = this.$.lookup.getLookupBasedOnName("applicationDocument-category");
                    var catIcon = this.$.config.getConfigurationBasedOnKey("document-category-icons");
                    this.set('iconConfig', docIcons);
                    this.set('categoryIcons', catIcon);
                    this.set('categoryLookup', catList);
                },
                _loadDocs: function () {
                    var self = this;
                    var params = self.$.url.getParams();
                    // var url = "/" + self.applicationNumber;
                    var url = "/application/" + params.entityId;
                    var documentService = window.config.services.documentService;
                    self.$.http.get(url, documentService).then(function (data) {
                        var result = _.orderBy(data, ['timestamp'], ['desc']);
                        self.set("documents", result);
                        self.set("documentsReceived", true);
                    }).fail(function (e) {
                        console.error("application-document error is ", e);
                    });
                },
                downloadAllDocs: function () {
                    var self = this;
                    var params = self.$.url.getParams();
                    var url = "/application/" + params.entityId + "/download";
                    // var url = "/" + self.applicationNumber + "/download";
                    var token = self.$.session.get("token");
                    var documentService = window.config.services.documentService;
                    var xhr = new XMLHttpRequest();
                    xhr.open('GET', documentService + url, true);
                    xhr.setRequestHeader('Authorization', "Bearer " + token);
                    xhr.responseType = 'blob';
                    xhr.onload = function (e) {
                        if (this.status == 200) {
                            var blob = new Blob([this.response], { type: this.response.type });
                            var link = document.createElement('a');
                            link.href = window.URL.createObjectURL(blob);
                            link.download = "AllDocuments";
                            link.click();
                        }
                    };
                    xhr.onerror = function (e) {
                        console.error("Error " + e.target.status + " occurred while receiving the document.");
                    };
                    xhr.send();
                },
                downloadDoc: function (e) {
                    var self = this;
                    var params = self.$.url.getParams();
                    var id = e.model.__data__.doc.id;
                    self.set("fileName", e.model.__data__.doc.fileName);
                    var token = self.$.session.get("token");
                    var url = "/application/" + params.entityId + "/" + id + "/download";
                    // var url = "/application/" + self.applicationNumber + "/" + id + "/download";
                    var documentService = window.config.services.downloadDocService;
                    var xhr = new XMLHttpRequest();
                    xhr.open('GET', documentService + url, true);
                    xhr.setRequestHeader('Authorization', "Bearer " + token);
                    xhr.responseType = 'blob';
                    xhr.onload = function (e) {
                        if (this.status == 200) {
                            var blob = new Blob([this.response], { type: this.response.type });
                            var link = document.createElement('a');
                            link.href = window.URL.createObjectURL(blob);
                            link.download = self.fileName;
                            link.click();
                        }
                    };
                    xhr.onerror = function (e) {
                        console.error("Error " + e.target.status + " occurred while receiving the document.");
                    };
                    xhr.send();
                },
                editDoc: function (e) {
                    this.set("updatedocId", e.model.__data__.doc.id);
                    $('#docContent').modal('show');
                },
                ViewDoc: function (e) {
                    var self = this;
                    var params = self.$.url.getParams();
                    var docId = e.model.__data__.doc.id;
                    var documentService = window.config.services.documentService;
                    var url = "/application/" + params.entityId + "/" + docId + "/download";
                    // var url = "/application/" + self.applicationNumber + "/" + docId + "/downloaddocument";
                    this.set("viewDocument", e.model.__data__.doc);
                    self.$.http.get(url, documentService).then(function (imgObj) {
                        if (imgObj != null && imgObj != undefined && imgObj.downloadString != null && imgObj.downloadString != undefined) {
                            _.extend(self.viewDocument, {
                                docImage: imgObj.downloadString
                            });
                        } else {
                            _.extend(self.viewDocument, {
                                docImage: self.defaultImage
                            });
                        }
                        self.set('viewDocument', $.extend({}, self.viewDocument));
                        setTimeout(function () {
                            $('#ViewdocContent').modal('show');
                            }, 500);
                        
                    }).fail(function (e) {
                        return '';
                    });
                },
                _updateCategory: function (e) {
                    var self = this;
                    var params = self.$.url.getParams();
                    // var url = self.applicationNumber + "/change/" + self.updatedocId + "/" + self.selectedCategory;
                    var url = params.entityId + "/change/" + self.updatedocId + "/" + self.selectedCategory;
                    var documentService = window.config.services.documentService;
                    self.$.http.put(url, {}, documentService).then(function (data) {
                        self._loadDocs();
                        $('#docContent').modal('hide');
                    }).fail(function (e) {
                        console.error("application-document category change error is ", e);
                    });
                },
                _checkfileType: function (doc) {
                    var fileName = doc.fileName;
                    if (/\.(jpeg|png|gif|bmp|jpg)$/i.test(fileName)) {
                        return true;
                    }
                    return false;
                },
                zoomIn: function (event) {
                    var doc = event.model.__data__.viewDocument;
                    this.$$('#img' + doc.id).zoomIn();
                },
                zoomOut: function (event) {
                    var doc = event.model.__data__.viewDocument;
                    this.$$('#img' + doc.id).zoomOut();
                },
                hasRole: function (compName) {
                    return this.$.authorize.hasRole(compName);
                }
            });
        });
    </script>
</dom-module>