<html-import html-href="loaders/sk-wave.html"></html-import>
<dom-module id="transaction-detail">
    <template>
        <style>
            .subheader {
                height: 1px;
                color: #03466B;
                background-color: #ddd;
            }

            .header {
                font-size: 12px;
                font-weight: 700;
                color: white;
                background-color: #03466B;
            }

            .modal-dialog {
                margin: 10% auto;
                width: 950px !important;
            }

            .panel-group {
                margin: 5px auto 20px;
            }

            .panel-group .panel {
                border-radius: 0;
                box-shadow: none;
                border-color: #EEEEEE;
            }

            .panel-default>.panel-heading {
                padding: 0;
                border-radius: 0;
                color: #03466B;
                background-color: #ddd;
                border-color: #ddd;
            }

            .panel-title {
                font-size: 14px;
                margin-top: 0;
            }

            .panel-title>a {
                display: block;
                padding: 15px;
                text-decoration: none;
            }

            .more-less {
                float: right;
                color: #03466B;
            }

            .panel-default>.panel-heading+.panel-collapse>.panel-body {
                border-top-color: #EEEEEE;
            }

            ul {
                list-style-type: none !important;
                padding-left: 10px;
                margin-top: 5px !important;
                margin-bottom: 5px !important;
            }

            .setSpace {
                padding-top: 5px;
                padding-right: 5px;
            }

            .bureauBtn {
                margin: 0 !important;
                font-size: 12px;
                padding: 2px 5px;
            }

            th.h-center-c-center {
                text-align: center !important;
            }

            td.h-center-c-center {
                text-align: center !important;
            }

            th.h-right-c-right {
                text-align: right !important;
            }

            td.h-right-c-right {
                text-align: right !important;
            }

            th.h-center-c-left {
                text-align: center !important;
            }

            td.h-center-c-left {
                text-align: left !important;
            }

            .set-vertical-height {
                height: 450px;
                overflow-y: auto;
                overflow-x: hidden;
            }
        </style>
        <spinkit-wave hidden$="{{loading}}"></spinkit-wave>
        <template is="dom-if" if="{{checkAccountNumbers(accountNumbers)}}">
            <div class="row">
                <div class="col-lg-3">
                    <vaadin-combo-box name="accountNumberdropdowns" value="{{selectedAccountId}}" item-value-path="key" item-label-path="value"
                        items="{{accountNumbers}}" label="Select Account" prevent-invalid-input="true" on-change="_onAccountChange">
                    </vaadin-combo-box>
                </div>

            </div>
        </template>
        <div class="panel-body" id="transcationsTableContainer">
            <table id="queuetransactionTable" class="table table-striped" width="100%" cellspacing="0">
            </table>
        </div>
        <iron-signals on-iron-signal-showtranscation="init"></iron-signals>
        <url-parser id="urltransaction"></url-parser>
        <http-request id="httptransaction"></http-request>
        <alloy-config id="configtransaction"></alloy-config>
        <session-manager id="session"></session-manager>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "transaction-detail",
                properties: {
                    storeTempDataObj: {
                        type: Object,
                        notify: true,
                        reflectToAttribute: true
                    },
                    baseSegmentsObj: {
                        type: Object,
                        notify: true,
                        reflectToAttribute: true
                    },
                    transactionResponse: {
                        type: Object,
                        notify: true
                    },
                    accountNumbers: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    selectedAccountId: {
                        type: String,
                        notify: true
                    },
                    currentAccount: {
                        type: Object,
                        notify: true,
                        reflectToAttribute: true
                    },
                    tableObj: {
                        type: Object,
                        notify: false
                    },
                    loading: {
                        type: Boolean,
                        notify: true,
                        value: false,
                        reflectToAttribute: true
                    },
                    transactionConfig: {
                        type: Object,
                        notify: true,
                        reflectToAttribute: true
                    },
                    loanData: {
                        type: Object,
                        notify: true,
                        reflectToAttribute: true
                    },
                    applicationNumber: {
                        type: String,
                        notify: true,
                        reflectToAttribute: true
                    },
                    transactionList: {
                        type: Object,
                        notify: true
                    },
                    transaction: {
                        type: Object,
                        notify: true,
                        value: {},
                        reflectToAttribute: true
                    },
                    jsonObj: {
                        type: Object,
                        notify: true
                    },
                    tabAction: {
                        type: Object,
                        notify: true,
                        reflectToAttribute: true,
                        observer: "performTabAction"
                    },
                    searchReqObj: {
                        type: Object,
                        notify: true,
                        value: {
                            searchFilterView: [],
                            inTagsSearch: [],
                            notInTagsSearch: [],
                            operator: "and",
                            projections: "",
                            sorts: ""
                        }
                    },
                },
                init: function () {
                    var self = this;
                    self.processAccountData();
                },
                processAccountData: function () {
                    var self = this;
                    var params = self.$.urltransaction.getParams();
                    var Url = "/getaccountdata/" + params.bankLinkId;
                    self.$.httptransaction.get(Url, window.config.services.ibvService).then(function (data) {
                        if (data != null && data != undefined) {
                            var accountList = _.transform(data, function (result, item) {
                                result.push({ key: item.providerAccountId, value: item.accountNumberMask });
                            }, []);
                            self.set('accountNumbers', accountList);
                            self.set('selectedAccountId', accountList[0].key);
                            self.set('loading', true);
                            self._getTransactions(accountList[0].key);
                        }
                    }).fail(function (e) {
                        self.set('loading', true);
                        console.error("Get processAccountData error is ", e);
                    });
                },
                _getTransactions: function (objAccountId) {
                    var self = this;
                    var dataConfig = self.$.configtransaction.getConfigurationBasedOnKey("filters");
                    var transactionConfig;
                    transactionConfig = _.cloneDeep(dataConfig["MCATransactionTab"]);
                    var columnLength = transactionConfig.columns.length;
                    for (var i = 0; i < columnLength; i++) {
                        if (transactionConfig.columns[i].render != undefined) {
                            var render = transactionConfig.columns[i].render;
                            if (transactionConfig.columns[i].isFunction) {
                                transactionConfig.columns[i].render = eval("(" + render + ")");
                            }
                            else {
                                transactionConfig.columns[i].render = eval(render);
                            }
                        }
                    }
                    self.set("currentAccountId", objAccountId);
                    self.set("jsonObj", transactionConfig);
                    self._getFilteredTransactionList();
                },
                _getFilteredTransactionList: function () {
                    var self = this;
                    var table = self.tableObj;
                    var searchReqObj = self.searchReqObj;
                    var loanFilters = window.config.services.savedFilters + '/ibvtest';
                    $.fn.dataTable.ext.errMode = 'none';
                    if (!_.isUndefined(table) && !_.isNull(table) && !self._checkIfEmptyObject(table)) {
                        table.clear();
                        table.destroy(true);
                        $('#transcationsTableContainer').append($('<table/>').attr('id', 'queuetransactionTable').css('width', '100%').addClass('table table-striped'));
                    }
                    table = self.tableObj = $(self.$$('#queuetransactionTable')).DataTable({
                        serverSide: true,
                        ajax: function (data, success) {
                            var page = data.start / 10;
                            page = page + 1;
                            var sortObj = _.transform(data.order, function (result, item) {
                                var columnObj = data.columns[item.column];
                                result[columnObj.data] = item.dir === "desc" ? -1 : 1;
                            }, {});
                            searchReqObj.searchFilterView = [{ "ProviderAccountId": self.currentAccountId }];
                            searchReqObj.sorts = sortObj;
                            $.ajax({
                                url: loanFilters + '/search-applications/?pageSize=10&page=' + page,
                                type: 'POST',
                                contentType: 'application/json',
                                data: JSON.stringify(searchReqObj),
                                headers: {
                                    'Authorization': "Bearer " + self.$.session.get('token')
                                },
                                complete: function (data) {
                                    var totalCount = parseInt(data.getResponseHeader('X-TOTAL-COUNT'));
                                    self.set('filteredItems', data.responseJSON);
                                    self.fire('iron-signal', { name: 'displaytotalcount', data: { totalRecords: data.getResponseHeader('X-TOTAL-COUNT') } });
                                    var gridData = {
                                        "recordsTotal": parseInt(data.getResponseHeader('X-TOTAL-COUNT')),
                                        "recordsFiltered": parseInt(data.getResponseHeader('X-TOTAL-COUNT')),
                                        "data": data.responseJSON
                                    }
                                    if (totalCount === 0) {
                                        $('#Export').hide();
                                    } else {
                                        $('#Export').show();
                                    }
                                    success(gridData);
                                }
                            });
                        },
                        dom: "<'row'<'pull-left col-sm-3'B>>" +
                            "<'row'<'col-sm-12'tr>>" +
                            "<'row'<'col-sm-5'i><'col-sm-7'p>>",
                        columns: self.jsonObj.columns,
                        columnDefs: self.jsonObj.columnDefs,
                        order: self.jsonObj.order,
                        language: {
                            lengthMenu: "show_MENU_ Transaction",
                            zeroRecords: "No Data found.",
                            info: "Showing _START_ to _END_ of _TOTAL_ Transaction",
                            infoEmpty: "No Transaction available",
                            infoFiltered: "(filtered from _MAX_ total Transaction)"
                        },
                        buttons: [
                            {
                                extend: 'csv',
                                text: '<i class="fa fa-file-text-o"></i>',
                                titleAttr: 'Click here to download the transactions in csv format',
                                filename: function () {
                                    var d = new Date();
                                    var timestamp = d.getTime();
                                    return "transaction_" + timestamp;
                                },
                                exportOptions: {
                                    columns: self.jsonObj.exportColumn
                                }
                            },
                            {
                                extend: 'excel',
                                text: '<i class="fa fa-file-excel-o"></i>',
                                titleAttr: 'Click here to download the transactions in excel format',
                                filename: function () {
                                    var d = new Date();
                                    var timestamp = d.getTime();
                                    return "transaction_" + timestamp;
                                },
                                exportOptions: {
                                    columns: self.jsonObj.exportColumn
                                }
                            }
                        ],
                    });
                },
                formFormatDate: function (date) {
                    if (date && !_.isNull(date.time) && !_.isUndefined(date.time) && !_.isEmpty(date.time)) {
                        return formats.date(date.time, 'USA', false);
                    }
                    return null;
                },
                formatDate: function (date) {
                    if (date && !_.isNull(date.time) && !_.isUndefined(date.time) && !_.isEmpty(date.time)) {
                        return formats.date(date.time, 'USA', false);
                    }
                    return "NA";
                },
                formatDateOfBirth: function (date) {
                    if (date && !_.isNull(date) && !_.isUndefined(date) && !_.isEmpty(date)) {
                        return formats.date(date, 'USA', false);
                    }
                    return "NA";
                },
                formatMoney: function (value) {
                    return formats.money(value, 'USA', 0);
                },
                checkAccountNumbers: function (accountNumbers) {
                    var self = this;
                    return (accountNumbers.length > 1) ? true : false;
                },
                _formateAccountNumber: function (data) {
                    return formats.accountNumber(data);
                },
                _onAccountChange: function (event) {
                    var self = this;
                    var selectedValues = event.target.value;
                    var params = self.$.urltransaction.getParams();
                    self.set("currentAccountId", selectedValues);
                    self._getFilteredTransactionList();
                },
                getTransactionData: function (objAccountId, bankLinkId) {
                    var self = this;
                    var params = self.$.urltransaction.getParams();
                    var Url = "/transactions/" + objAccountId;

                    var transactionListtemp = [];
                    self.$.httptransaction.get(Url, window.config.services.ibvService).then(function (data) {
                        if (data != null && data != undefined) {
                            data.forEach(function (tagObj) {
                                transactionListtemp.push(tagObj);
                            });
                            self.set('transactionList', transactionListtemp);
                            self.set('loading', true);
                        }
                    }).fail(function (e) {
                        self.set('loading', true);
                        console.error("Get TransactionList error is ", e);
                    });
                },
                formatCurrency: function (data) {
                    return formats.money(data, 'USA', 0);
                },
                formatedWithCreditandDebit: function (data) {
                    var resultString = "";
                    if (data > 0) {
                        resultString = formats.money(data, 'USA', 0);
                        resultString += "  Dr";
                    } else {
                        data = data * (-1);
                        resultString = formats.money(data, 'USA', 0);
                        resultString += "  Cr";
                    }
                    return resultString;
                },
                _checkIfEmptyObject: function (obj) {
                    return Object.keys(obj).length === 0 && obj.constructor === Object;
                },
            });
        });
    </script>
</dom-module>