<dom-module id="app-owners-info">
    <template>
        <style>
            .header {
                font-size: 12px;
                font-weight: 700;
                color: white;
                background-color: #03466B;
            }

            address {
                margin-bottom: 20px;
                font-style: normal;
                line-height: 1.42857143;
            }

            strong {
                display: block;
            }
        </style>
        <div class="row">
            <div class="col-sm-12">
                <table class="table">
                    <tbody>
                        <template is="dom-repeat" items="{{owners}}" as="owner">
                            <tr>
                                <th colspan="6" class="header">
                                    {{_getOwnerFullName(owner)}}
                                    <template is="dom-if" if="{{owner.IsPrimary}}">
                                        <span>(Primary)</span>
                                    </template>
                                </th>
                            </tr>
                            <tr>
                                <th>Email</th>
                                <td colspan="5">{{_getOwnerEmail(owner)}}</td>
                            </tr>
                            <tr>
                                <th>Address</th>
                                <td>{{_getOwnerAddress(owner)}}</td>
                                <th>SSN</th>
                                <td>{{owner.SSN}}</td>
                                <th>DOB</th>
                                <td>{{_formatDate(owner.DOB)}}</td>
                            </tr>
                            <tr>
                                <th>Phone</th>
                                <td>{{_getOwnerPhone(owner)}}</td>
                                <th>% Of Ownership</th>
                                <td>{{owner.OwnershipPercentage}}</td>
                                <th></th>
                                <td></td>
                            </tr>
                        </template>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row divideborder">
        </div>
        <alloy-config id="config"></alloy-config>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "app-owners-info",
                properties: {
                    owners: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    CountryNameExist:{
                        type: Boolean,
                        notify: true,
                        value: false                    
                    }
                },
                _formateSSN: function (data) {
                    return formats.ssn(data, window.config.country);
                },
                _getOwnerPhone: function (owner) {
                    var self = this;
                    if (owner) {
                        var phone = owner.PhoneNumbers[0].Phone;
                        return formats.phone(phone, window.config.country);
                    }
                    return "NA";
                },
                _getOwnerEmail: function (owner) {
                    var self = this;
                    if (owner) {
                        var email = owner.EmailAddresses[0].Email;
                        return email
                    }
                    return "NA";
                },
                _getOwnerAddress: function (owner) {
                    var self = this;
                    var address = '';
                    if (owner && owner != null && owner.Addresses && owner.Addresses != null && owner.Addresses.length > 0) {
                        var ownerAddress = owner.Addresses[0];
                        address = this._checkNullUndefined(ownerAddress.AddressLine1) + ' ' + this._checkNullUndefined(ownerAddress.AddressLine2) + ' ' + this._checkNullUndefined(ownerAddress.City) + ' ' + this._checkNullUndefined(ownerAddress.State) + ' '+
                         this._checkNullUndefined(self._getCountryName(ownerAddress.Country,ownerAddress.State)) 
                         + _.toUpper((this._checkNullUndefined(ownerAddress.ZipCode)));
                    } else {
                        address = "NA";
                    }
                    return address;
                },
                _getOwnerFullName: function (owner) {
                    if (owner) {
                        return owner.FirstName + " " + owner.LastName;
                    }
                },
                _checkIfEmptyObject: function (obj) {
                    return Object.keys(obj).length === 0 && obj.constructor === Object;
                },
                _checkNullUndefined: function (obj) {
                    if (obj && obj != null) {
                        return obj;
                    }
                    return '';
                },
                _formatDate: function (date) {
                    if (!_.isNull(date) && !_.isUndefined(date) && !_.isEmpty(date))
                        return formats.date(date, window.config.country, false);
                    return "NA";
                },
                _getCountryName: function (propType, stateName) {
                    var self = this;
                    if (self.CountryNameExist) {
                        var _USAStateIndex = -1;
                        var _CanadaStateIndex = -1;
                        if (propType && self.countryLookup && self.countryLookup.length > 0) {
                            var obj = _.find(self.countryLookup, ['key', _.lowerCase(propType)]);
                            return (obj.value + ' ') || "N/A ";
                        } else if (!_.isUndefined(stateName) && !_.isNull(stateName)) {
                            if (self.stateLookup && self.stateLookup.length > 0) {
                                _USAStateIndex = _.findIndex(self.stateLookup, function (o) {
                                    return o.value === stateName;
                                });
                            }

                            if (_USAStateIndex >= 0) {
                                return "USA ";
                            } else if (self.canadastatesLookup && self.canadastatesLookup.length > 0) {
                                _CanadaStateIndex = _.findIndex(self.canadastatesLookup,
                                    function (o) {
                                        return o.value === stateName;
                                    });
                                if (_CanadaStateIndex >= 0) {
                                    return "Canada ";
                                }
                                return "N/A ";
                            }
                        } else {
                            return " ";
                        }
                    }
                },
                ready: function () {
                    var self = this;
                    var _CountryNameExist = self.$.config.getConfigurationBasedOnKey(
                        'CountryNameExist');
                    if (!_.isUndefined(_CountryNameExist) && !_.isNull(_CountryNameExist)) {
                        self.set('CountryNameExist', _CountryNameExist);
                    }
                },
                init: function () {
                    this._loadDataAttributes();
                },
                _loadDataAttributes: function () {
                    var self = this;
                    var data = self.dataAttributes;
                    if (!self._checkIfEmptyObject(data) && !self._checkIfEmptyObject(data.application)) {
                        self.set('owners', data.application.owners);
                    }
                }
            });
        });
    </script>
</dom-module>