<html-import html-href="app-details-tab/duplicacy-details.html"></html-import>
<dom-module id="app-business-info">
    <template>
        <style>
            .header {
                font-size: 12px;
                font-weight: 700;
                color: white;
                background-color: #03466B;
            }

            address {
                margin-bottom: 20px;
                font-style: normal;
                line-height: 1.42857143;
            }

            strong {
                display: block;
            }

            .a-map-marker {
                font-size: 14px;
            }
        </style>
        <div class="row">
            <div class="col-sm-12">
                <table class="table">
                    <tr>
                        <th colspan="6" class="header">{{_displayDefaultIfNull(application.legalBusinessName, application)}}</th>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td colspan="3">{{_displayDefaultIfNull(application.applicantWorkEmail, application)}}</td>
                        <th>Business Phone</th>
                        <td>{{phone(application.businessPhone, application)}}</td>

                    </tr>
                    <tr>
                        <th>Address</th>
                        <td colspan="5">
                            {{_getFullBusinessAddess(application.businessAddress, application)}}
                            <template is="dom-if" if="{{enableMapIcon}}">
                                <a class="a-map-marker" href="{{_generateGoogleMapLink(application.businessAddress, application)}}" target="_blank">
                                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                                </a>
                            </template>
                        </td>

                    </tr>
                    <tr>
                        <th>Requested Amt.</th>
                        <td>{{ formatMoney(application.requestedAmount, application)}}</td>
                        <th>Loan Priority</th>
                        <td>
                            {{_formateLoanPriority(application.loanPriority, application)}}
                        </td>
                        <th></th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Annual Revenue</th>
                        <td>{{ formatMoney(application.annualRevenue, application)}}</td>
                        <th>Established Date</th>
                        <td>{{ date(application.businessStartDate.Time, application)}}</td>
                        <th></th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Business Location</th>
                        <td>{{_formateBusinessLocation(application.businessLocation, application)}}</td>
                        <th>Industry</th>
                        <td>{{_formateIndustryType(application.industry, application)}}</td>
                        <th></th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Purpose Of Fund</th>
                        <td>{{_formatePurposeOfLoanType(application.purposeOfLoan, application)}}</td>
                        <th>Entity Type</th>
                        <td>{{_formateBusinessType(application.businessType, application)}}</td>
                        <th></th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Time In Business</th>

                        <td>{{years(application.businessStartDate.Time, application)}}
                            <template is="dom-if" if="{{enableYearField}}"> Years </template>
                        </td>

                        <th>Federal Sales Tax ID</th>
                        <template is="dom-if" if="{{hasRole('BusinessTaxIDField')}}">
                            <td>{{_federalSalesTaxID(application.businessTaxID, application)}}</td>
                        </template>
                        <template is="dom-if" if="{{!hasRole('BusinessTaxIDField')}}">
                            <td>
                                <i class="fa fa-lock" aria-hidden="true"></i>
                            </td>
                        </template>
                        <th>Phone</th>
                        <td>{{phone(application.primaryPhone, application)}}</td>
                    </tr>
                    <tr>
                        <th>Lead Source</th>
                        <td>{{getSourceType(sourceType,application.sourceType)}}
                        </td>
                        <th></th>
                        <td>
                        </td>
                        <th></th>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row divideborder">
        </div>
        <duplicacy-details data-attributes="{{dataAttributes}}" owners="{{owners}}"></duplicacy-details>
        <div class="row divideborder">
        </div>
        <auth-service id="authorize"></auth-service>
        <lookup-service id="lookup"></lookup-service>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "app-business-info",
                properties: {
                    application: {
                        type: Object,
                        notify: true,
                        value: {},
                        reflectToAttribute: true
                    },
                    duplicacyData: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    dataAttributes: {
                        type: Object,
                        notify: true,
                        reflectToAttribute: true,
                        observer: '_loadDataAttributes'
                    },
                    owners: {
                        type: Array,
                        notify: true,
                        value: [],
                        reflectToAttribute: true
                    },
                    enableMapIcon: {
                        type: Boolean,
                        notify: true,
                        value: true,
                        reflectToAttribute: true
                    },
                    enableYearField: {
                        type: Boolean,
                        notify: true,
                        value: true,
                        reflectToAttribute: true
                    },
                    sourceType: {
                        type: Array,
                        notify: true,
                        value: []
                    }
                },
                date: function (date) {
                    var formatedDate = formats.onlyDate(date, window.config.country);
                    if (formatedDate === "NA") {
                        return "Not available";
                    }
                    return formatedDate;
                },
                years: function (date) {
                    var formatedDate = formats.onlyDate(date, window.config.country);
                    if (formatedDate === "NA") {
                        this.set('enableYearField', false);
                        return "Not available";
                    }
                    return formats.round(moment().diff(formatedDate, 'years', true), 1);
                },
                _checkIfValue: function (value) {
                    if (!_.isNull(value) && !_.isUndefined(value) && !_.isEmpty(value)) {
                        return value;
                    }
                    return "Not available";
                },
                _federalSalesTaxID: function (value) {
                    if (!_.isNull(value) && !_.isUndefined(value) && !_.isEmpty(value)) {
                        return formats.federalSalesTaxID(value, window.config.country);
                    }
                    return "Not available";
                },
                phone: function (phone) {
                    if (phone) {
                        return formats.phone(phone, window.config.country);
                    } else {
                        return "Not available";
                    }
                },
                formatMoney: function (value) {
                    return formats.money(value, window.config.country, 0);
                },
                _getYesNo: function (value) {
                    return value ? "Yes" : "No";
                },
                _formateIndustryType: function (propType) {
                    var self = this;
                    if (propType && self.industryLookup && self.industryLookup.length > 0) {
                        var obj = _.find(self.industryLookup, ['key', propType]);
                        return obj.value || "Not available";
                    }
                    return "Not available";
                },
                _formatePropertyType: function (propType) {
                    var self = this;
                    if (propType && self.propertyLookup && self.propertyLookup.length > 0) {
                        var obj = _.find(self.propertyLookup, ['key', propType]);
                        return obj.value || "Not available";
                    }
                    return "Not available";
                },
                _formatePurposeOfLoanType: function (propType) {
                    var self = this;
                    if (propType && self.purposeofloanLookup && self.purposeofloanLookup.length > 0) {
                        var obj = _.find(self.purposeofloanLookup, ['key', propType]);
                        return obj.value || "Not available";
                    }
                    return "Not available";
                },
                _formateBusinessType: function (propType) {
                    var self = this;
                    if (propType && self.businesstypeLookup && self.businesstypeLookup.length > 0) {
                        var obj = _.find(self.businesstypeLookup, ['key', propType]);
                        return obj.value || "Not available";
                    }
                    return "Not available";
                },
                _formateLoanPriority: function (propType) {
                    var self = this;
                    if (propType && self.loanpriorityLookup && self.loanpriorityLookup.length > 0) {
                        var obj = _.find(self.loanpriorityLookup, ['key', propType]);
                        return obj.value || "Not available";
                    }
                    return "Not available";
                },
                _formateBusinessLocation: function (locationType) {
                    var self = this;
                    if (locationType && self.businesslocationLookup && self.businesslocationLookup.length > 0) {
                        var obj = _.find(self.businesslocationLookup, ['key', locationType]);
                        return obj.value || "Not available";
                    }
                    return "Not available";
                },
                _getFullBusinessAddess: function (businessAddress) {
                    var address = '';
                    if (businessAddress && businessAddress != null && (businessAddress.AddressLine1 || businessAddress.AddressLine2 || businessAddress.City || businessAddress.State || businessAddress.ZipCode)) {
                        address = this._checkNullUndefined(businessAddress.AddressLine1) + ' ' + this._checkNullUndefined(businessAddress.AddressLine2) + ' ' +
                            this._checkNullUndefined(businessAddress.City) + ' '
                            + this._checkNullUndefined(businessAddress.State) + ' '
                            + this._checkNullUndefined(businessAddress.ZipCode);
                    }
                    else {
                        this.set('enableMapIcon', false);
                        address = "Not available";
                    }
                    return address;
                },
                _checkIfEmptyObject: function (obj) {
                    return Object.keys(obj).length === 0 && obj.constructor === Object;
                },
                _checkNullUndefined: function (obj) {
                    if (obj && obj != null) {
                        return obj;
                    }
                    return '';
                },
                _displayDefaultIfNull: function (obj) {
                    return obj !== null ? obj : "Not available";
                },
                ready: function () {
                    var self = this;
                    var data = self.$.lookup.getLookupBasedOnName("sourceType");
                    self.set('sourceType', data);
                },
                init: function () {
                    var self = this;
                    this._loadDataAttributes();
                    this._getDuplicacyData();
                },
                _loadDataAttributes: function () {
                    var self = this;
                    var data = self.dataAttributes;
                    if (data && !self._checkIfEmptyObject(data)) {
                        self.set('application', data.application);
                        self.set('owners', data.application.owners);
                    }
                },
                _generateGoogleMapLink: function (address) {
                    var fullAddr = this._getFullBusinessAddess(address);
                    const baseUrl = "https://maps.google.com/maps?q=";
                    var encodedAddr = encodeURIComponent(fullAddr);
                    return baseUrl + encodedAddr;
                },
                _getDuplicacyData: function () {
                    var self = this;
                    var mappedData = [];
                    if (self.dataAttributes && self.dataAttributes.duplicacyResult) {
                        duplicacyData = self.dataAttributes.duplicacyResult;
                        mappedData = _.transform(duplicacyData, function (result, value, key) {
                            result.push({ key: key, value: _.join(value, ', ') });
                        }, []);
                    }
                    self.set("duplicacyData", mappedData);
                },
                hasRole: function (compName) {
                    return this.$.authorize.hasRole(compName);
                },
                getSourceType: function (sourceType, data) {
                    var self = this;
                    var obj = _.find(self.sourceType, ['key', data]);
                    if (!_.isUndefined(obj)) {
                        return obj.value || "NA";
                    }
                    return "NA";
                }
            });
        });
    </script>
</dom-module>