<dom-module id="app-offers-grid">
    <template>
        <style>
            .table>tbody>tr>th,
            .table>tbody>tr>td {
                vertical-align: middle;
                border-bottom: 1px solid #e7eaec;
            }

            .table>tbody>tr>td>p {
                margin: 0;
            }

            .offer-selection-radio {
                margin-top: 10px;
            }

            .no-document {
                min-height: 20px;
                padding: 19px;
                background-color: #f5f5f5;
                border-radius: 4px;
                -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
                box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
                border: 1px solid #e3e3e3;
            }

            .div-button {
                text-align: center;
                display: block
            }

            .custom-input {
                --paper-slider-input: {
                    width: 70px;
                }
                --paper-input: {
                    min-width: 50px;
                }
                --paper-input-container-input: {
                    font-size: 11px;
                }
                --paper-input-container-label: {
                    font-size: 12px;
                }
            }

            .custom-input-amount {
                --paper-slider-input: {
                    width: 73px;
                }
                --paper-input-container-input: {
                    font-size: 11px;
                    min-width: 50px;
                }
                --paper-input-container-label: {
                    font-size: 12px;
                }
            }

            .btnAlignment {
                float: right;
                clear: left;
            }

            .btnMarginBottom {
                margin-bottom: 20px;
            }

            #MessageContainer {
                margin-top: 10px;
            }

            .fa:hover {
                background: #a8aba8;
            }

            .table-row {
                height: 48px;
            }
        </style>
        <div class="panel-body">
            <div>{{_buttonAvailibility(statusObj)}}</div>
            <div id="offerSelectionDiv">
                <template is="dom-if" if="{{addButtonVisibility}}">
                    <div>
                        <paper-button id="btnAddOffer" class="btn btn-primary activity-action-btn btnAlignment btnMarginBottom" on-click="displayAddOfferDetail"
                            raised>Add Offer</paper-button>
                    </div>
                    <br />
                    <br />
                </template>

                <table hidden$="{{!isOfferAvailable}}" class="table table-striped">
                    <tr class="table-row">
                        <th></th>
                        <th class="disbursement-info">
                            <label>Product</label>
                        </th>
                        <th></th>
                        <th></th>
                        <th class="disbursement-info">
                            <label>Approved Amount</label>
                        </th>
                        <th class="disbursement-info">
                            <label>Comments</label>
                        </th>
                        <th></th>
                        <th></th>
                    </tr>
                    <template id="test" is="dom-repeat" items="{{computedOffers}}" as="offer">
                        <tr>
                            <td style="margin-top: -2px;">
                                <label>
                                    <input class="offer-selection-radio" on-click="selectOffer" type="radio" name="blankRadio" id="{{offer.offerId}}" aria-label="..."></input>
                                </label>
                            </td>
                            <td>
                                <p>
                                    <span class="amount">{{globalProductName}}</span>
                                </p>
                            </td>
                            <td></td>
                            <td></td>
                            <td>
                                <p>
                                    <span class="amount">{{_formatMoney(offer.loanAmount)}}</span>
                                </p>
                            </td>
                            <td>
                                <p>
                                    <span class="amount">{{offer.comments}}</span>
                                </p>
                            </td>
                            <td class="RangeAction">
                                <template is="dom-if" if="{{deleteButtonVisibility}}">
                                    <span>
                                        <i class="fa fa-trash-o handCursor" aria-hidden="true" data-arg="{{offer}}" on-click="deleteOfferDetail" title="Delete Offer"></i>
                                    </span>
                                </template>
                            </td>
                            <td>
                                <template is="dom-if" if="{{editButtonVisibility}}">
                                    <i id="btnEditoffer" class="fa fa-edit handCursor" aria-hidden="true" data-arg="{{offer}}" title="Edit Offer" on-click="_getOffers"></i>
                                </template>
                            </td>
                        </tr>
                    </template>
                </table>
                <div hidden$="{{!isOfferAvailable}}">
                    <paper-button id="btnSelectOffer" class="btn btn-primary activity-action-btn btnAlignment" on-click="selectOfferDetail" raised>Accept Offer</paper-button>
                    <template is="dom-if" if="{{isSelectedOfferAvailable}}">
                        <paper-button id="btnSelectOffer" class="btn btn-primary activity-action-btn btnAlignment" on-click="displaySelectedOfferDetail"
                            raised>Back</paper-button>
                    </template>
                </div>
            </div>
            <div id="selectedOfferDetail">
                <div>
                    <div class="row">
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table">
                                <tr>
                                    <th>Funder</th>
                                    <td>{{Funder}}</td>
                                    <th>Payment Frequency</th>
                                    <td>{{PaymentFrequency}}</td>
                                </tr>
                                <tr>
                                    <th>Product</th>
                                    <td>{{productName}}</td>
                                    <th>Program</th>
                                    <td>{{Program}}</td>
                                </tr>
                                <tr>
                                    <th>Payment</th>
                                    <td>{{_formatMoney(Payment)}}</td>
                                    <th>Approved Amount</th>
                                    <td>{{_formatMoney(ApprovedAmount)}}</td>
                                </tr>
                                <tr>
                                    <th>Factor</th>
                                    <td>{{Factor}}</td>
                                    <th>Term</th>
                                    <td>{{offerTerm}}</td>
                                </tr>
                                <tr>
                                    <th>Processing Fees</th>
                                    <td>{{_formatMoney(ProcessingFees)}}</td>
                                    <th>Submitted Date</th>
                                    <td>{{date(submiteddate)}}</td>
                                </tr>
                                <tr>

                                    <th>Approved Date/Time</th>
                                    <td>{{formatDate(Approveddatetime)}}</td>
                                    <th>Comments</th>
                                    <td>{{Comments}}</td>
                                </tr>
                                <tr style="display:none">
                                    <th>Comp Percentage</th>
                                    <td>{{Comp}}%</td>
                                    <th>Max Gross Percentage</th>
                                    <td>{{MaxGross}}%</td>
                                </tr>
                                <tr style="display:none">
                                    <th>Comments</th>
                                    <td>{{Comments}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <br>
                <template is="dom-if" if="{{editButtonVisibility}}">
                    <paper-button id="btnEditoffer" class="btn btn-primary activity-action-btn btnAlignment" on-click="_editOffer" raised>Change Offer</paper-button>
                </template>
            </div>
            <template is="dom-if" if="{{addButtonVisibility}}">
                <div class="row" id="addOfferDiv">
                    <div class="col-md-12">

                        <form is="iron-form" class="form-horizontal" name="AddManualOffer">
                            <div class="row">
                                <div class="col-md-4">
                                    <paper-input type="textbox" class="custom-input" auto-validate value="{{addOfferObj.funder}}" name="Funder" id="Funder" label="Funder"
                                        maxlength="10"></paper-input>
                                </div>
                                <div class="col-md-4">
                                    <vaadin-combo-box name="PaymentFrequency" auto-validate class="custom-input" value="{{addOfferObj.durationType}}" item-value-path="key"
                                        item-label-path="value" items="{{addOfferObj.DurationType}}" label="Payment Frequency"
                                        prevent-invalid-input="true" required>
                                    </vaadin-combo-box>
                                </div>
                                <div class="col-md-4">
                                    <paper-input type="textbox" maxlength="15" class="custom-input" auto-validate value="{{addOfferObj.productName}}" label="Product"
                                        required readonly></paper-input>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <vaadin-combo-box name="program" class="custom-input" value="{{addOfferObj.program}}" item-value-path="key" item-label-path="value"
                                        items="{{addOfferObj.Program}}" label="Program" auto-validate prevent-invalid-input="true"
                                        required>
                                    </vaadin-combo-box>
                                </div>
                                <div class="col-md-4">
                                    <paper-input type="textbox" maxlength="5" class="custom-input" auto-validate pattern="\d+(\.\d{0,2})?" value="{{addOfferObj.sellRate}}"
                                        label="Factor" required></paper-input>
                                </div>
                                <template is="dom-if" if="{{_hideBasedOnProduct(isProductLOC, addOfferObj)}}">
                                    <div class="col-md-4">

                                        <vaadin-combo-box name="locTerm" class="custom-input" value="{{addOfferObj.locTerm}}" item-value-path="key" item-label-path="value"
                                            items="{{addOfferObj.LocTerm}}" auto-validate label="Terms" prevent-invalid-input="true"
                                            required="{{isProductLOC}}">
                                        </vaadin-combo-box>
                                    </div>
                                </template>
                                <template is="dom-if" if="{{!_hideBasedOnProduct(isProductLOC, addOfferObj)}}">
                                    <div class="col-md-4">

                                        <paper-input name="mcaTerm" type="textbox" auto-validate pattern="^([7](\.[0])?)|([3-6](\.[0,5])?)$" class="custom-input"
                                            value="{{addOfferObj.mcaTerm}}" title="{{mcaTermTitleMess}}" label="Terms" required="{{!isProductLOC}}"></paper-input>
                                    </div>
                                </template>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <paper-input type="textbox" class="custom-input" auto-validate value="{{addOfferObj.paymentAmount}}" pattern="\d+(\.\d{0,2})?"
                                        label="Payment" required></paper-input>
                                </div>
                                <div class="col-md-4">
                                    <paper-input type="textbox" class="custom-input" auto-validate value="{{addOfferObj.loanAmount}}" pattern="\d+(\.\d{0,2})?"
                                        label="Aproved Amount" required></paper-input>
                                </div>
                                <div class="col-md-4">
                                    <paper-input type="textbox" class="custom-input" auto-validate value="{{addOfferObj.submiteddate}}" readonly label="Submitted Date"
                                        required></paper-input>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <paper-input type="textbox" class="custom-input" auto-validate value="{{addOfferObj.approveddatetime}}" readonly label="Approved Date Time"
                                        required></paper-input>
                                </div>
                                <div class="col-md-4">
                                    <paper-input type="textbox" auto-validate class="custom-input" pattern="\d+(\.\d{0,2})?" value="{{addOfferObj.processingFees}}"
                                        label="Processing Fees"></paper-input>
                                </div>
                                <div class="col-md-4">
                                    <paper-input type="textbox" auto-validate class="custom-input" value="{{addOfferObj.comments}}" label="Comments" required></paper-input>
                                </div>
                            </div>

                            <br>
                            <br>
                            <paper-button data={{addOfferObj}} class="btn btn-primary activity-action-btn" on-click="_verifyForm" raised>Submit</paper-button>
                            <paper-button class="btn btn-primary activity-action-btn" on-click="cancelbutton" raised>Cancel</paper-button>
                            <paper-button id="formResetButton" class="btn btn-primary activity-action-btn" style="display: none;" on-click="_formReset"
                                raised>Reset</paper-button>
                        </form>
                    </div>
                </div>
        </div>
        </template>
        </div>
        <url-parser id="url"></url-parser>
        <http-request id="http"></http-request>
        <alloy-config id="config"></alloy-config>
        <utility-service id="utility"></utility-service>
        <message-component id="message"></message-component>
        <div id="MessageContainer"></div>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "app-offers-grid",
                properties: {

                    addOfferObj: {
                        type: Object,
                        notify: true,
                        value: {
                            getofferId: '',
                            DurationType: [{
                                    "key": "Daily",
                                    "value": "Daily"
                                },
                                {
                                    "key": "Weekly",
                                    "value": "Weekly"
                                }
                            ],
                            selectedDurationType: '',
                            loanAmount: '',
                            sellRate: '',
                            mcaTerm: '',
                            LocTerm: [{
                                    "key": "6",
                                    "value": "6 Months"
                                },
                                {
                                    "key": "8",
                                    "value": "8 Months"
                                }
                            ],
                            paymentAmount: '',
                            originatingFeeAmount: '0',
                            productName: "",
                            Program: [{
                                    "key": "Platinum",
                                    "value": "Platinum"
                                },
                                {
                                    "key": "Premium",
                                    "value": "Premium"
                                },
                                {
                                    "key": "Low",
                                    "value": "Low"
                                },
                                {
                                    "key": "Standard",
                                    "value": "Standard"
                                },
                                {
                                    "key": "High",
                                    "value": "High"
                                }
                            ],
                            funder: "Prestala",
                            comments: "",
                            processingFees: "",
                            comp: "0",
                            maxGross: "0",
                            submiteddate: "",
                            approveddatetime: "",


                            durationType: '',
                            locTerm: '',
                            program: ''
                        },
                        reflectToAttribute: true
                    },
                    computedOffers: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    offersData: {
                        type: Object,
                        notify: true
                    },
                    dataAttributes: {
                        type: Object,
                        notify: true
                    },
                    fireEvent: {
                        type: Object,
                        notify: true,
                        value: {
                            "AppDetailsPageRefresh": true
                        }
                    },
                    Comments: {
                        type: String,
                        notify: true,
                        value: ''
                    },
                    Funder: {
                        type: String,
                        notify: true,
                        value: "",
                    },
                    productName: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    Program: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    PaymentFrequency: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    Payment: {
                        type: String,
                        notify: true,
                        value: "",
                    },
                    offerTerm: {
                        type: String,
                        notify: true,
                        value: "",
                    },
                    Factor: {
                        type: String,
                        notify: true,
                        value: "",
                    },
                    ApprovedAmount: {
                        type: String,
                        notify: true,
                        value: "",
                    },
                    ProcessingFees: {
                        type: String,
                        notify: true,
                        value: "",
                    },
                    submiteddate: {
                        type: String,
                        notify: true
                    },
                    Approveddatetime: {
                        type: String,
                        notify: true
                    },
                    MaxGross: {
                        type: String,
                        notify: true
                    },
                    Comp: {
                        type: String,
                        notify: true
                    },
                    statusObj: {
                        type: Object,
                        notify: true,
                        reflectToAttribute: true
                    },
                    selectedOfferId: {
                        type: String,
                        notify: true,
                        value: ""
                    },
                    addButtonVisibility: {
                        type: Boolean,
                        notify: true,
                        value: false
                    },
                    deleteButtonVisibility: {
                        type: Boolean,
                        notify: true,
                        value: false
                    },
                    editButtonVisibility: {
                        type: Boolean,
                        notify: true,
                        value: false,
                    },
                    isOfferAvailable: {
                        type: Boolean,
                        notify: true,
                        value: false
                    },
                    isSelectedOfferAvailable: {
                        type: Boolean,
                        notify: true,
                        value: false
                    },
                    funderValue: {
                        type: String,
                        notify: true,
                        value: ""
                    },
                    productIdValue: {
                        type: String,
                        notify: true,
                        value: ""
                    },
                    checkIsEdit: {
                        type: Boolean,
                        notify: true,
                        value: true
                    },
                    isProductLOC: {
                        type: Boolean,
                        notify: true,
                        value: true
                    },
                    globalProduct: {
                        type: String,
                        notify: true,
                        value: ""
                    },
                    globalProductName: {
                        type: String,
                        notify: true,
                        value: ""
                    },
                    globalCurrentDate: {
                        type: String,
                        notify: true,
                        value: ""
                    },
                    mcaTermTitleMess: {
                        type: String,
                        notify: true,
                        value: ""
                    }
                },
                radioCheck: function (value) {
                    if (value)
                        $('#' + value).prop("checked", true);
                },
                _editOffer: function () {
                    this.displayOfferDetail();
                },
                _hideBasedOnProduct: function (isProductLOC, addOfferObj) {
                    var result = isProductLOC === true ? isProductLOC : false;
                    return result;
                },
                _getOffers: function (obj) {
                    var self = this;
                    var objData = $(obj)[0].currentTarget.dataArg;
                    var objOfferId = objData.offerId;
                    var editOfferobj = _.find(self.computedOffers, function (o) {
                        if (o.offerId === objOfferId) {
                            return o;
                        }
                    });
                    var mcaProductList = self.$.config.getConfigurationBasedOnKey(
                        "mcaProducts");
                    var locProductList = self.$.config.getConfigurationBasedOnKey(
                        "locProducts");

                    if (!_.isNull(editOfferobj) && !_.isUndefined(editOfferobj)) {
                        if (_.filter(mcaProductList, (x) => x === editOfferobj.productName).length >
                            0) {
                            self.set('isProductLOC', false);
                        } else if (_.filter(locProductList, (x) => x === editOfferobj.productName).length >
                            0) {
                            self.set('isProductLOC', true);
                        }
                        var _tempaddOfferObj = _.cloneDeep(self.addOfferObj);
                        _tempaddOfferObj = editOfferobj;
                        if (self.isProductLOC) {
                            _tempaddOfferObj.locTerm = editOfferobj.term.toString();
                        } else {
                            _tempaddOfferObj.mcaTerm = editOfferobj.term.toString();
                        }
                        _tempaddOfferObj.funder = self.funderValue;
                        _tempaddOfferObj.getofferId = objData.offerId;
                        _tempaddOfferObj.productName = self.getProductName(self.productIdValue);
                        _tempaddOfferObj.submiteddate = moment.tz(editOfferobj.createdOn
                            .time,
                            window.config.timezone).format("MM/DD/YYYY");
                        _tempaddOfferObj.approveddatetime = moment.tz(
                            editOfferobj.createdOn
                            .time, window.config.timezone).format("MM/DD/YYYY");
                        self.set("addOfferObj", _tempaddOfferObj);
                        self.displayEditOfferDetail();
                    }
                },
                selectOffer: function (e) {
                    this.set("selectedOfferId", e.model.__data__.offer.offerId);
                },
                _loadDataAttributes: function () {
                    var self = this;
                    var data = self.dataAttributes;
                    var addofferObjClone = _.cloneDeep(self.addOfferObj);
                    if (data) {
                        var currentDate = moment.tz(window.config.timezone).format("MM/DD/YYYY");
                        addofferObjClone.approveddatetime = currentDate;
                        addofferObjClone.submiteddate = currentDate;
                        self.set('globalCurrentDate', currentDate);
                        addofferObjClone.productName = self.getProductName(data.product.ProductId);
                        self.set('globalProductName', self.getProductName(data.product.ProductId));
                        self.set('globalProduct', data.product.ProductId);

                        if (data.product.ProductId === 'mca') {
                            self.set('isProductLOC', false);
                        } else {
                            self.set('isProductLOC', true);
                        }
                        self.set("addOfferObj", addofferObjClone);
                    }
                },
                _getSelectedOfferDetail: function (offerId, funder, productId) {
                    var self = this;
                    var objIndex = _.findIndex(self.computedOffers, function (o) {
                        return o.offerId === offerId;
                    });
                    if (!_.isNull(objIndex) && !_.isUndefined(objIndex)) {
                        var objSelectedOffer = self.computedOffers[objIndex];
                        self.selectedOfferId = objSelectedOffer.offerId;
                        self.Payment = objSelectedOffer.paymentAmount;
                        self.PaymentFrequency = objSelectedOffer.durationType;
                        self.Funder = funder;
                        self.ApprovedAmount = objSelectedOffer.loanAmount;
                        self.Factor = objSelectedOffer.sellRate;
                        self.ProcessingFees = objSelectedOffer.processingFees;
                        self.Comments = objSelectedOffer.comments;
                        self.productName = self.getProductName(productId);
                        self.Program = objSelectedOffer.program;
                        self.submiteddate = objSelectedOffer.createdOn.time;
                        self.offerTerm = objSelectedOffer.term + ' Months';
                        self.Approveddatetime = objSelectedOffer.createdOn.time;
                        self.radioCheck(self.selectedOfferId);
                    }
                },
                _loadOffers: function (allowEditOffer) {
                    var self = this;
                    var params = this.$.url.getParams();
                    self.applicationNumber = params.app;
                    var offerEndPoint = window.config.services.offerengine;
                    var url = "/application/" + self.applicationNumber +
                        "/offerengine/getapplicationoffers";
                    self.$.http.get(url, offerEndPoint).then(function (data) {
                        if (!_.isUndefined(data) && !_.isEmpty(data.lenderDeals) && !_.isNull(
                                data.lenderDeals) && !_.isUndefined(data.lenderDeals)) {
                            self.set('computedOffers', data.lenderDeals);
                            self.set('funderValue', data.funder);
                            self.set('productIdValue', data.productId);
                            if (data.lenderDeals.length > 0) {
                                self.displayOfferDetail();
                                self.set("isOfferAvailable", true);
                            } else {
                                self.set("isOfferAvailable", false);
                            }
                            if (!_.isUndefined(data.dealOffer) && !_.isNull(data.dealOffer) &&
                                !_.isEmpty(data.dealOffer)) {
                                if (!allowEditOffer) {
                                    self.set("isSelectedOfferAvailable", true);
                                    self.displaySelectedOfferDetail();
                                    self._getSelectedOfferDetail(data.dealOffer.offerId,
                                        self.funderValue, self.productIdValue);
                                }
                            } else {
                                self.set("isSelectedOfferAvailable", false);
                            }
                        } else {
                            self.displayAddOfferDetail();

                        }
                    }).fail(function (e) {
                        console.error("load offers error is ", e);
                    });
                },
                raiseAppRefreshEvent: function () {
                    this.$.utility.raiseEvent(this.fireEvent, {});
                },
                _formatMoney: function (amount) {
                    return formats.money(amount, window.config.country, 0);
                },
                _buttonAvailibility: function (statusObj) {
                    var self = this;
                    var statusObj = _.cloneDeep(self.statusObj);
                    var offersConfig = self.$.config.getConfigurationBasedOnKey("offers-config");
                    var addDealbuttonConfig = offersConfig["addDealButton"];
                    var editDealbuttonConfig = offersConfig["editDealButton"];
                    var deleteDealbuttonConfig = offersConfig["deleteDealButton"];
                    if (!_.isNull(addDealbuttonConfig) && !_.isNull(addDealbuttonConfig.statusCode)) {
                        if (statusObj && _.indexOf(addDealbuttonConfig.statusCode, statusObj.code) >
                            -1) {
                            self.set("addButtonVisibility", true);
                        } else {
                            self.set("addButtonVisibility", false);
                        }
                    }
                    if (!_.isNull(editDealbuttonConfig) && !_.isNull(editDealbuttonConfig.statusCode)) {
                        if (statusObj && _.indexOf(editDealbuttonConfig.statusCode, statusObj.code) >
                            -1) {
                            self.set("editButtonVisibility", true);
                        } else {
                            self.set("editButtonVisibility", false);
                        }
                    }
                    if (!_.isNull(deleteDealbuttonConfig) && !_.isNull(deleteDealbuttonConfig.statusCode)) {
                        if (statusObj && _.indexOf(deleteDealbuttonConfig.statusCode, statusObj
                                .code) >
                            -1) {
                            self.set("deleteButtonVisibility", true);
                        } else {
                            self.set("deleteButtonVisibility", false);
                        }
                    }
                },
                init: function (value) {
                    var self = this;
                    var mcaTermTitleMess = self.$.config.getConfigurationBasedOnKey(
                        "mcaTermTitleMess");
                    self.set("mcaTermTitleMess", mcaTermTitleMess);
                    this.loadOfferData(value);
                },
                loadOfferData: function (value) {
                    this._loadOffers(value);
                    this._loadDataAttributes();
                },
                _formReset: function (event) {
                    var form = Polymer.dom(event).localTarget.parentElement;
                    form.reset();
                },
                cancelbutton: function () {
                    var self = this;
                    $('#formResetButton').click();
                    var _tempaddOfferObj = _.cloneDeep(self.addOfferObj);
                    _tempaddOfferObj.sellRate = '';
                    _tempaddOfferObj.paymentAmount = '';
                    _tempaddOfferObj.loanAmount = '';
                    _tempaddOfferObj.processingFees = "";
                    _tempaddOfferObj.comments = "";
                    _tempaddOfferObj.getofferId = "";
                    self.set("addOfferObj", _tempaddOfferObj);
                    this.displayOfferDetail();
                },
                cleanObject: function () {
                    var self = this;
                    var _tempaddOfferObj = _.cloneDeep(self.addOfferObj);
                    _tempaddOfferObj.sellRate = '';
                    _tempaddOfferObj.paymentAmount = '';
                    _tempaddOfferObj.getofferId = '';
                    _tempaddOfferObj.loanAmount = '';
                    _tempaddOfferObj.processingFees = '';
                    _tempaddOfferObj.comments = '';
                    _tempaddOfferObj.mcaTerm = '';
                    _tempaddOfferObj.locTerm = '';
                    _tempaddOfferObj.sellRate = '';
                    _tempaddOfferObj.durationType = '';
                    _tempaddOfferObj.program = '';
                    _tempaddOfferObj.productName = self.globalProductName;
                    _tempaddOfferObj.approveddatetime = self.globalCurrentDate;
                    _tempaddOfferObj.submiteddate = self.globalCurrentDate;
                    self.set("addOfferObj", _tempaddOfferObj);
                },
                _verifyForm: function (event) {
                    var self = this;
                    var offerAddedMess = self.$.config.getConfigurationBasedOnKey(
                        "offerAddedMess");
                    var offerEditedMess = self.$.config.getConfigurationBasedOnKey(
                        "offerEditedMess");
                    $('div#ErrorMessge').hide();
                    event.preventDefault();
                    var self = this;
                    var addOfferObj = _.cloneDeep(self.addOfferObj);
                    var form = Polymer.dom(event).localTarget.parentElement;
                    var payload = {
                        entityType: "application",
                        entityId: self.applicationNumber,
                        dealOffers: []
                    };
                    if (form.validate()) {
                        if (self.addOfferObj.getofferId === '') {
                            if (self.isProductLOC) {
                                addOfferObj.term = addOfferObj.locTerm;
                            } else {
                                addOfferObj.term = addOfferObj.mcaTerm;
                            }
                            addOfferObj = _.omit(addOfferObj, ['locTerm', 'mcaTerm',
                                'funder', 'DurationType', 'LocTerm', 'Program',
                                'submiteddate', 'approveddatetime'
                            ]);
                            if (!addOfferObj.processingFees) {
                                delete addOfferObj.processingFees;
                            }
                            payload.dealOffers.push(addOfferObj);
                            var offerEngine = window.config.services.offerengine;
                            var url = "/application/" + self.applicationNumber + "/offerengine" +
                                "/deal";
                            self.$.http.post(url, payload, offerEngine).then(function (data) {
                                self.$.message.showMessage(
                                    offerAddedMess, "INFO",
                                    self.$
                                    .MessageContainer);
                                self._refreshOfferData(true);
                                self.cleanObject();
                                $('#formResetButton').click();
                                self.displayOfferDetail();
                            }).fail(function (e) {
                                self.$.message.showMessage("Failed to add offer",
                                    "ERROR",
                                    self.$.MessageContainer);
                            });
                        } else {
                            var _tempaddOfferObj = _.cloneDeep(self.addOfferObj);
                            var objOfferId = _tempaddOfferObj.getofferId;
                            var editOfferobj = _.find(self.computedOffers, function (o) {
                                if (o.offerId === objOfferId) {
                                    return o;
                                }
                            });
                            editOfferobj.paymentAmount = self.addOfferObj.paymentAmount;
                            editOfferobj.approvedAmount = self.addOfferObj.approvedAmount;
                            editOfferobj.submiteddate = self.addOfferObj.submiteddate;
                            editOfferobj.approveddatetime = self.addOfferObj.approveddatetime;
                            editOfferobj.getofferId = self.addOfferObj.getofferId;
                            editOfferobj.durationType = self.addOfferObj.durationType;
                            editOfferobj.loanAmount = self.addOfferObj.loanAmount;
                            editOfferobj.sellRate = self.addOfferObj.sellRate;
                            if (self.isProductLOC) {
                                editOfferobj.term = self.addOfferObj.locTerm;
                            } else {
                                editOfferobj.term = self.addOfferObj.mcaTerm;
                            }
                            editOfferobj.productName = self.addOfferObj.productName;
                            editOfferobj.program = self.addOfferObj.program;
                            editOfferobj.comments = self.addOfferObj.comments;
                            if (self.addOfferObj.processingFees) {
                                editOfferobj.processingFees = self.addOfferObj.processingFees;
                            } else {
                                delete editOfferobj.processingFees;
                            }
                            var payload = {
                                entityType: "application",
                                entityId: self.applicationNumber,
                                dealOffers: []
                            };
                            payload.dealOffers.push(editOfferobj);
                            var offerEngine = window.config.services.offerengine;
                            var url = "/application/" + self.applicationNumber + "/edit" +
                                "/offer";
                            self.$.http.post(url, payload, offerEngine).then(function (data) {
                                self.$.message.showMessage(
                                    offerEditedMess, "INFO",
                                    self.$
                                    .MessageContainer);
                                self._refreshOfferData(true);
                                self.cleanObject();
                                $('#formResetButton').click();
                                self.displayOfferDetail();
                            }).fail(function (e) {
                                self.$.message.showMessage("Failed to Edit offer",
                                    "ERROR",
                                    self.$.MessageContainer);
                            });

                        }
                    }

                },
                _refreshOfferData: function (value) {
                    var self = this;
                    setTimeout(function () {
                        self.init(value);
                    }, 500);
                },
                raiseAppRefreshEvent: function (event) {
                    this.$.utility.raiseEvent(this.fireEvent, {
                        ActionName: 'AppOffersGrid',
                        EventData: event,
                        CompnentName: 'app-offers-grid'
                    });
                },
                _loadStatusHistory: function () {
                    var self = this;
                    var url = "/application/" + self.applicationNumber +
                        "/history";
                    self.$.http.get(url, window.config.services.statusManagement).then(function (historyList) {
                        if (statusObj && statusObj.code) {
                            var historydata = _.filter(historyList, {
                                status: statusObj.code
                            });
                            self.Approveddatetime = historydata[0].activedOn.time;
                        }
                    }).fail(function (e) {
                        console.error("not able to load status history.", e);
                    });
                },
                _hasDeal: function (computedOffers) {
                    if (!_.isUndefined(computedOffers)) {
                        $('#withOffer').show();
                        $('#noOffer').hide();
                        $('#addOffer').hide();
                    } else {
                        $('#withOffer').hide();
                    }
                },
                displayAddOfferDetail: function () {
                    this.cleanObject();
                    $('#addOfferDiv').show();
                    $('#offerSelectionDiv').hide();
                    $('#selectedOfferDetail').hide();
                },
                displayEditOfferDetail: function () {
                    $('#addOfferDiv').show();
                    $('#offerSelectionDiv').hide();
                    $('#selectedOfferDetail').hide();
                },
                displayOfferDetail: function () {
                    var self = this;
                    self.radioCheck(self.selectedOfferId);
                    $('#offerSelectionDiv').show();
                    $('#addOfferDiv').hide();
                    $('#selectedOfferDetail').hide();
                },
                displaySelectedOfferDetail: function () {
                    $('#selectedOfferDetail').show();
                    $('#offerSelectionDiv').hide();
                    $('#addOfferDiv').hide();
                },
                deleteOfferDetail: function (obj) {
                    var self = this;
                    var objData = $(obj)[0].currentTarget.dataArg;
                    var objOfferId = objData.offerId;
                    var url = "/application/" + self.applicationNumber + "/delete/offer/" +
                        objOfferId;
                    var offerEndPoint = window.config.services.offerengine;
                    self.$.http.delete(url, null, offerEndPoint).then(function (result) {
                        if (self.computedOffers.length === 1) {
                            self.$.message.showMessage("Offer deleted  successfully.",
                                "INFO",
                                self.$.MessageContainer);
                            self.raiseAppRefreshEvent(event);
                        } else {
                            self.$.message.showMessage("Offer deleted  successfully.",
                                "INFO",
                                self.$.MessageContainer);
                            self._refreshOfferData(true);
                        }
                    }).fail(function (e) {
                        console.error("Fail to unassign app error is ", e);
                    });
                },
                selectOfferDetail: function (e) {
                    var self = this;
                    var offerSelectedMess = self.$.config.getConfigurationBasedOnKey(
                        "offerSelectedMess");
                    var offerEndPoint = window.config.services.offerengine;
                    var url = "/application/" + self.applicationNumber +
                        "/offerengine/AddSelectedOffer";
                    if (self.selectedOfferId != "") {
                        var payload = {
                            "entityType": "application",
                            "entityId": self.applicationNumber,
                            "dealOffers": [{
                                "offerId": self.selectedOfferId
                            }]
                        };
                        self.$.http.post(url, payload, offerEndPoint).then(function (data) {
                            self.$.message.showMessage(
                                offerSelectedMess,
                                "INFO", self.$.MessageContainer);
                            self._refreshOfferData(false);
                        }).fail(function (e) {
                            console.error("application error is ", e);
                        });
                    } else {
                        self.$.message.showMessage("Please select at least one offer",
                            "ERROR",
                            self
                            .$.MessageContainer);
                    }

                },
                formatDate: function (date) {
                    if (date !== undefined) {
                        return moment.tz(date, window.config.timezone).format(
                            "MM/DD/YYYY LT z");
                    }
                    return "";
                },
                date: function (date) {
                    if (!_.isNull(date) && !_.isUndefined(date) && !_.isEmpty(date)) {
                        return formats.date(date, window.config.country, false);
                    }
                    return "Not available";
                },
                showData: function (obj) {
                    return (obj !== undefined && obj !== null && obj !== "") ? true : false;
                },
                getProductName: function (productId) {
                    var self = this;
                    var productNameList = self.$.config.getConfigurationBasedOnKey(
                        "productNameList");
                    var obj = _.find(productNameList, ['productId', productId]);
                    return (obj != undefined && obj != null && obj != "") ? obj.productName :
                        productId;
                }
            });
        });
    </script>
</dom-module>