<dom-module id="app-owners-info">
    <template>
        <style>
            .header {
                font-size: 12px;
                font-weight: 700;
                color: white;
                background-color: #03466B;
            }

            address {
                margin-bottom: 20px;
                font-style: normal;
                line-height: 1.42857143;
            }

            strong {
                display: block;
            }
        </style>
        <div class="row">
            <div class="col-sm-12">
                <table class="table">
                    <tbody>
                        <template is="dom-repeat" items="{{owners}}" as="owner">
                            <tr>
                                <th colspan="6" class="header">
                                    {{_getOwnerFullName(owner)}}
                                    <template is="dom-if" if="{{owner.IsPrimary}}">
                                        <span>(Primary)</span>
                                    </template>
                                </th>
                            </tr>

                            <tr>
                                <th>Address</th>
                                <td>{{_getOwnerAddress(owner)}}</td>
                                <th>SSN</th>
                                <td>{{_formateSSN(owner.SSN)}}</td>
                                <th>DOB</th>
                                <td>{{_formatDate(owner.DOB)}}</td>
                            </tr>
                            <tr>
                                <th>Phone</th>
                                <td>{{_getOwnerPhone(owner)}}</td>
                                <th>Mobile</th>
                                <td>{{_getOwnerMobilePhone(owner)}}</td>
                                <th>% Of Ownership</th>
                                <td>{{owner.OwnershipPercentage}}</td>
                                <th></th>
                                <td></td>
                            </tr>
                            <tr>
                                <th>Email</th>
                                <td colspan="5">{{_getOwnerEmail(owner)}}</td>
                            </tr>
                        </template>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row divideborder">
        </div>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "app-owners-info",
                properties: {
                    owners: {
                        type: Array,
                        notify: true,
                        value: []
                    }
                },
                _formateSSN: function (data) {
                    return formats.ssn(data, window.config.country);
                },
                _getOwnerPhone: function (owner) {
                    var self = this;
                    if (owner) {
                        var phone = owner.PhoneNumbers[0].Phone;
                        return formats.phone(phone, window.config.country);
                    }
                    return "Not available";
                },
                _getOwnerMobilePhone: function (owner) {
                    var self = this;
                    if (owner.hasOwnProperty('PhoneNumbers') && _.size(owner.PhoneNumbers) > 1) {
                        let phoneObject = owner.PhoneNumbers[1];
                        if (!_.isUndefined(phoneObject) && !_.isEmpty(phoneObject) && !_.isNull(phoneObject))
                            return formats.phone(phoneObject.Phone, window.config.country)
                    }
                    return "Not available";
                },
                _getOwnerEmail: function (owner) {
                    var self = this;
                    if (owner) {
                        var email = owner.EmailAddresses[0].Email;
                        return email
                    }
                    return "Not available";
                },
                _getOwnerAddress: function (owner) {
                    var address = '';
                    if (owner && owner != null && owner.Addresses && owner.Addresses != null && owner.Addresses.length > 0) {
                        var ownerAddress = owner.Addresses[0];
                        address = this._checkNullUndefined(ownerAddress.AddressLine1) + ' ' + this._checkNullUndefined(ownerAddress.AddressLine2) + ' ' + this._checkNullUndefined(ownerAddress.City) + ' ' + this._checkNullUndefined(ownerAddress.State) + ' ' + this._checkNullUndefined(ownerAddress.ZipCode);
                    } else {
                        "Not available";
                    }
                    return address;
                },
                _getOwnerFullName: function (owner) {
                    if (owner) {
                        return _.startCase(owner.FirstName + " " + owner.LastName);
                    }
                },
                _checkIfEmptyObject: function (obj) {
                    return Object.keys(obj).length === 0 && obj.constructor === Object;
                },
                _checkNullUndefined: function (obj) {
                    if (obj && obj != null) {
                        return obj;
                    }
                    return '';
                },
                _formatDate: function (date) {
                    if (!_.isNull(date) && !_.isUndefined(date) && !_.isEmpty(date))
                        return formats.date(date, window.config.country, false);
                    return "Not available";
                },
                init: function () {
                    this._loadDataAttributes();
                },
                _loadDataAttributes: function () {
                    var self = this;
                    var data = self.dataAttributes;
                    if (!self._checkIfEmptyObject(data) && !self._checkIfEmptyObject(data.application)) {
                        self.set('owners', data.application.owners);
                    }
                }
            });
        });
    </script>
</dom-module>