<html-import html-href="app-details-tab/duplicacy-details.html"></html-import>
<dom-module id="app-business-info">
    <template>
        <style>
            .header {
                font-size: 12px;
                font-weight: 700;
                color: white;
                background-color: #03466B;
            }

            address {
                margin-bottom: 20px;
                font-style: normal;
                line-height: 1.42857143;
            }

            strong {
                display: block;
            }

            .a-map-marker {
                font-size: 14px;
            }

            .subheader {
                color: #03466B;
                background-color: #ddd;
                border-color: #ddd;
            }
        </style>
        <div class="row">
            <div class="col-sm-12">
                <table class="table">
                    <tr>
                        <th colspan="4" class="header">{{_displayDefaultIfNull(application.legalBusinessName,
                            application)}}</th>
                    </tr>
                    <tr>
                        <td class="subheader" colspan="4">Business Details</td>
                    </tr>
                    <tr>
                        <th>Trading Name:</th>
                        <td>{{application.RegisteredBusinessName}}</td>
                        <th>GSTIN:</th>
                        <td>{{checkGSTNO(application.Gstin)}}</td>
                    </tr>
                    <tr>
                        <th>Company PAN:</th>
                        <td>{{application.TinPanServiceTaxAssesseeCode}}</td>
                        <th>CIN/LLPIN</th>
                        <td>{{application.CinLlpin}}</td>
                    </tr>
                    <tr>
                        <th>In Business since:</th>
                        <td>{{date(application.businessStartDate.Time, application)}}</td>
                        <th>Primary Business Activity</th>
                        <td>{{_formatewheretosell(application.WhereToSell, application)}}</td>
                    </tr>
                    <tr>
                        <th>Nature of Business</th>
                        <td>{{application.NatureOfBusiness}}</td>
                        <th>Legal Status</th>
                        <td>{{_formateStatusOfBusiness(application.LegalStatusOfBusiness, application)}}</td>
                    </tr>
                    <tr>
                        <th>GST Reg. Date</th>
                        <td>{{ date(application.GSTRegistrationDate.Time, application)}}</td>
                        <th>Reg. Status</th>
                        <td>{{application.StatusOfRegistration}}</td>
                    </tr>
                    <tr>
                        <th>Type of Products</th>
                        <td>{{_formateTypeOfProductOrService(application.TypeOfProductOrService, application)}}</td>
                        <th>Industry</th>
                        <td>{{_formateIndustryType(application.industry, application)}}</td>
                    </tr>
                    <tr>
                        <th>Annual Revenue</th>
                        <td>{{formatMoney(application.SelfReportedAnnualRevenue, application)}}</td>
                        <th>Req. Loan Amount </th>
                        <td>{{formatMoney(application.requestedAmount, application)}}</td>
                    </tr>
                    <tr>
                        <th>Use of funds</th>
                        <td>{{_formatePurposeOfLoanType(application.purposeOfLoan, application)}}</td>
                        <th>Availability</th>
                        <td>{{_formateloanTimeFrame(application.loanTimeFrame, application)}}</td>
                    </tr>
                    <tr>
                        <th>Authorsied Signatories</th>
                        <td colspan="3">{{application.AuthorizedSignatories}}</td>
                    </tr>
                    <tr>
                        <th></th>
                        <td></td>
                        <th></th>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="subheader" colspan="4">Business Contact Details</td>
                    </tr>
                    <tr>
                        <th>Business Address:</th>
                        <td colspan="3">{{_getFullBusinessAddess(application.businessAddress,
                            application,stateLookup,application.IsPrimaryContactDetail,application.Address)}}
                            <a class="a-map-marker" href="{{_generateGoogleMapLink(application.businessAddress, application,stateLookup,application.IsPrimaryContactDetail,application.Address)}}"
                                target="_blank">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                            </a></td>
                    </tr>
                    <tr>
                        <th>Contact Person:</th>
                        <td>{{application.contactFirstName}} {{application.contactLastName}}</td>
                        <th>Email: </th>
                        <td>{{_displayDefaultIfNull(application.applicantWorkEmail, application)}}</td>
                    </tr>
                    <tr>
                        <th>Business Email: </th>
                        <td>{{_displayDefaultIfNull(application.BusinessContactEmail, application)}}</td>
                        <th>Mobile:</th>
                        <td>{{phone(application.businessPhone, application)}}</td>
                    </tr>
                    <tr>
                        <th>Telephone:</th>
                        <td>{{phone(application.Phone, application)}}</td>
                        <th>Primary Contact Detail</th>
                        <td>
                            <template is="dom-if" if="{{_checkisPrimary(application.IsPrimaryContactDetail)}}">
                                <i class="fa fa-check" aria-hidden="true"></i>
                            </template>
                            <template is="dom-if" if="{{!_checkisPrimary(application.IsPrimaryContactDetail)}}">
                                <i class="fa fa-times" aria-hidden="true"></i>
                            </template>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row divideborder">
        </div>
        <duplicacy-details data-attributes="{{dataAttributes}}" owners="{{owners}}"></duplicacy-details>
        <div class="row divideborder">
        </div>
        <auth-service id="authorize"></auth-service>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "app-business-info",
                properties: {
                    application: {
                        type: Object,
                        notify: true,
                        value: {},
                        reflectToAttribute: true
                    },
                    duplicacyData: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    dataAttributes: {
                        type: Object,
                        notify: true,
                        reflectToAttribute: true,
                        observer: '_loadDataAttributes'
                    },
                    owners: {
                        type: Array,
                        notify: true,
                        value: [],
                        reflectToAttribute: true
                    },
                    stateLookup: {
                        type: Object,
                        notify: true,
                        value: []
                    },
                    serviceLookup: {
                        type: Object,
                        notify: true,
                        value: []
                    },
                    businessLookup: {
                        type: Object,
                        notify: true,
                        value: []
                    },
                    whereToShellLookup: {
                        type: Object,
                        notify: true,
                        value: []
                    }
                },
                _checkisPrimary: function (objIsActive) {
                    return objIsActive === true;
                },
                date: function (date) {
                    if (!_.isNull(date) && !_.isUndefined(date) && !_.isEmpty(date)) {
                        return formats.onlyDate(date, window.config.country);
                    }
                    return "Not available";
                },
                years: function (date) {
                    if (!_.isNull(date) && !_.isUndefined(date) && !_.isEmpty(date)) {
                        return formats.round(moment().diff(date, 'years', true), 1);
                    }
                    return "Not available";
                },
                _checkIfValue: function (value) {
                    if (!_.isNull(value) && !_.isUndefined(value) && !_.isEmpty(value)) {
                        return value;
                    }
                    return "Not available";
                },
                _federalSalesTaxID: function (value) {
                    if (!_.isNull(value) && !_.isUndefined(value) && !_.isEmpty(value)) {
                        return formats.federalSalesTaxID(value, window.config.country);
                    }
                    return "Not available";
                },
                phone: function (phone) {
                    return formats.phone(phone, window.config.country);
                },
                formatMoney: function (value) {
                    return formats.money(value, window.config.country, 0);
                },
                _getYesNo: function (value) {
                    return value ? "Yes" : "No";
                },
                _formateIndustryType: function (propType) {
                    var self = this;
                    if (propType && self.industryLookup && self.industryLookup.length > 0) {
                        var obj = _.find(self.industryLookup, ['key', propType]);
                        return obj.value || "Not available";
                    }
                    return "Not available";
                },
                _formatePropertyType: function (propType) {
                    var self = this;
                    if (propType && self.propertyLookup && self.propertyLookup.length > 0) {
                        var obj = _.find(self.propertyLookup, ['key', propType]);
                        return obj.value || "Not available";
                    }
                    return "Not available";
                },
                _formatePurposeOfLoanType: function (propType) {
                    var self = this;
                    if (propType && self.purposeofloanLookup && self.purposeofloanLookup.length > 0) {
                        var obj = _.find(self.purposeofloanLookup, ['key', propType]);
                        return obj.value || "Not available";
                    }
                    return "Not available";
                },
                _formateStatusOfBusiness: function (propType) {
                    var self = this;
                    if (propType && self.businessLookup && self.businessLookup.length > 0) {
                        var obj = _.find(self.businessLookup, ['key', propType]);
                        return obj.value || "Not available";
                    }
                    return "Not available";
                },
                _formatewheretosell: function (propType) {
                    var self = this;
                    if (propType && self.whereToShellLookup && self.whereToShellLookup.length > 0) {
                        var obj = _.find(self.whereToShellLookup, ['key', propType]);
                        return obj.value || "Not available";
                    }
                    return "Not available";
                },
                _formateTypeOfProductOrService: function (propType) {
                    var self = this;
                    if (propType && self.serviceLookup && self.serviceLookup.length > 0) {
                        var obj = _.find(self.serviceLookup, ['key', propType]);
                        return obj.value || "Not available";
                    }
                    return "Not available";
                },
                _formateloanTimeFrame: function (propType) {
                    var self = this;
                    if (propType && self.loanTimeFrameLookup && self.loanTimeFrameLookup.length > 0) {
                        var obj = _.find(self.loanTimeFrameLookup, ['key', propType]);
                        return obj.value || "Not available";
                    }
                    return "Not available";
                },
                _formateBusinessType: function (propType) {
                    var self = this;
                    if (propType && self.businesstypeLookup && self.businesstypeLookup.length > 0) {
                        var obj = _.find(self.businesstypeLookup, ['key', propType]);
                        return obj.value || "Not available";
                    }
                    return "Not available";
                },
                _formateLoanPriority: function (propType) {
                    var self = this;
                    if (propType && self.loanpriorityLookup && self.loanpriorityLookup.length > 0) {
                        var obj = _.find(self.loanpriorityLookup, ['key', propType]);
                        return obj.value || "Not available";
                    }
                    return "Not available";
                },
                _formateBusinessLocation: function (locationType) {
                    var self = this;
                    if (locationType && self.businesslocationLookup && self.businesslocationLookup.length > 0) {
                        var obj = _.find(self.businesslocationLookup, ['key', locationType]);
                        return obj.value || "Not available";
                    }
                    return "Not available";
                },
                _getFullBusinessAddess: function (businessAddress, obj, obj1, isPrimaryContactDetail, address) {
                    var self = this;
                    var objData;
                    if (isPrimaryContactDetail === true) {
                        objData = address;
                    }
                    else {
                        objData = businessAddress;
                    }
                    if (objData && objData != undefined && objData != null) {
                        var state = objData.State;
                        if (self.stateLookup && self.stateLookup.length > 0 && objData.State !== null) {
                            var obj = _.find(self.stateLookup, ['key', objData.State]);
                            if (obj !== undefined)
                                state = obj.value || "";
                        }

                        address = this._checkNullUndefined(objData.AddressLine1) + ' ' + this._checkNullUndefined(objData.AddressLine2) + ' ' +
                            this._checkNullUndefined(objData.City) + ' '
                            + this._checkNullUndefined(state) + ' '
                            + this._checkNullUndefined(objData.ZipCode);
                    }
                    else {
                        address = "NA";
                    }
                    return address;
                },
                _checkIfEmptyObject: function (obj) {
                    return Object.keys(obj).length === 0 && obj.constructor === Object;
                },
                _checkNullUndefined: function (obj) {
                    if (obj && obj != null) {
                        return obj;
                    }
                    return '';
                },
                _displayDefaultIfNull: function (obj) {
                    return obj !== null ? obj : "Not available";
                },
                init: function () {
                    this._loadDataAttributes();
                    this._getDuplicacyData();
                },
                _loadDataAttributes: function () {
                    var self = this;
                    var data = self.dataAttributes;
                    if (data && !self._checkIfEmptyObject(data)) {
                        self.set('application', data.application);
                        self.set('owners', data.application.owners);
                    }
                },
                _generateGoogleMapLink: function (address, obj, obj1, isPrimaryContactDetail, appaddress) {
                    var fullAddr = this._getFullBusinessAddess(address, obj, obj1, isPrimaryContactDetail, appaddress);
                    const baseUrl = "https://maps.google.com/maps?q=";
                    var encodedAddr = encodeURIComponent(fullAddr);
                    return baseUrl + encodedAddr;
                },
                _getDuplicacyData: function () {
                    var self = this;
                    var mappedData = [];
                    if (self.dataAttributes && self.dataAttributes.duplicacyResult) {
                        duplicacyData = self.dataAttributes.duplicacyResult;
                        mappedData = _.transform(duplicacyData, function (result, value, key) {
                            result.push({ key: key, value: _.join(value, ', ') });
                        }, []);
                    }
                    self.set("duplicacyData", mappedData);
                },
                hasRole: function (compName) {
                    return this.$.authorize.hasRole(compName);
                },
                checkGSTNO: function (gstin) {
                    var self = this;
                    return (gstin !== undefined && gstin !== null && gstin !== "") ? gstin : "Not available";
                }
            });
        });
    </script>
</dom-module>