<dom-module id="app-offers-grid">
    <template>
        <style>
            .header {
                font-size: 12px;
                font-weight: 700;
                color: white;
                background-color: #03466B;
            }

            .table>tbody>tr>th,
            .table>tbody>tr>td {
                vertical-align: middle;
                border-bottom: 1px solid #e7eaec;
            }

            .no-document {
                min-height: 20px;
                padding: 19px;
                background-color: #f5f5f5;
                border-radius: 4px;
                -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
                box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
                border: 1px solid #e3e3e3;
            }

            .div-button {
                text-align: center;
                display: block
            }

            .custom-input {
                --paper-slider-input: {
                    width: 70px;
                }
                --paper-input: {
                    min-width: 50px;
                }
                --paper-input-container-input: {
                    font-size: 11px;
                }
                --paper-input-container-label: {
                    font-size: 12px;
                }
            }

            .custom-input-amount {
                --paper-slider-input: {
                    width: 73px;
                }
                --paper-input-container-input: {
                    font-size: 11px;
                    min-width: 50px;
                }
                --paper-input-container-label: {
                    font-size: 12px;
                }
            }
        </style>
        <div class="panel-body">
            <template is="dom-if" if="{{!_showAddDealButton(statusObj)}}">
                <div class="row no-document" id="noOffer">
                    <div class="col-lg-12">
                        No Offer available.
                    </div>
                </div>
            </template>
            <div id="withOffer" style="display: none">
                <div id="SelectedDealSection">
                    <div class="row">
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <template is="dom-if" if="{{showData(offersData)}}">
                                <table class="table">
                                    <tr>
                                        <th colspan="4" class="header">Selected Offer</th>
                                    </tr>
                                    <tr>
                                        <th>Program</th>
                                        <td>{{Program}}</td>
                                        <th>Product</th>
                                        <td>{{Product}}</td>
                                    </tr>
                                    <tr>
                                        <th>Payment Frequency</th>
                                        <td>{{PaymentFrequency}}</td>
                                        <th>Term</th>
                                        <td>{{offerTerm}}</td>
                                    </tr>
                                    <tr>
                                        <th>Payment</th>
                                        <td>{{_formatMoney(Payment)}}</td>
                                        <th>Approved Amount</th>
                                        <td>{{_formatMoney(ApprovedAmount)}}</td>
                                    </tr>
                                    <tr>
                                        <th>Factor</th>
                                        <td>{{Factor}}</td>
                                        <th>Processing Fees</th>
                                        <td>{{_formatMoney(ProcessingFees)}}</td>
                                    </tr>
                                    <tr>
                                        <th>Comp Percentage</th>
                                        <td>{{Comp}}%</td>
                                        <th>PSF Percentage</th>
                                        <td>{{PSF}}%</td>
                                    </tr>
                                    <tr>
                                        <th>Max Gross Percentage</th>
                                        <td>{{MaxGross}}%</td>
                                        <template is="dom-if" if="{{showPaymentDay(PaymentFrequency)}}">
                                            <th>Payment Day</th>
                                            <td>{{getPaymentDays(paymentDay)}}</td>
                                        </template>
                                        <template is="dom-if" if="{{!showPaymentDay(PaymentFrequency)}}">
                                            <th></th>
                                            <td></td>
                                        </template>
                                    </tr>
                                </table>
                            </template>
                        </div>
                    </div>
                </div>
                <br>
                <paper-button id="btnEditoffer" class="btn btn-primary activity-action-btn" on-click="_editOffer" raised>Edit Offer</paper-button>
            </div>
            <template is="dom-if" if="{{_showAddDealButton(statusObj)}}">
                <div class="row" id="addOffer">
                    <div class="col-md-12">
                        <div id="MessageContainer"></div>
                        <form is="iron-form" class="form-horizontal" name="AddManualOffer">
                            <dynamic-form form-configuration={{addOfferObj}} values="{{addOfferObj.values}}"></dynamic-form>
                            <br>
                            <br>
                            <paper-button class="btn btn-primary activity-action-btn" on-click="_verifyForm" raised>Submit</paper-button>
                            <paper-button id="btnCancel" class="btn btn-primary activity-action-btn" style="display: none" on-click="_displayoffer" raised>Cancel</paper-button>
                        </form>
                    </div>
                </div>
            </template>
        </div>
        <url-parser id="url"></url-parser>
        <http-request id="http"></http-request>
        <alloy-config id="config"></alloy-config>
        <utility-service id="utility"></utility-service>
        <message-component id="message"></message-component>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "app-offers-grid",
                properties: {
                    programData: {
                        type: Array,
                        notify: true
                    },
                    funderName: {
                        type: String,
                        notify: true,
                        value: ""
                    },
                    addOfferObj: {
                        type: Object,
                        notify: true,
                        reflectToAttribute: true,
                        value: {
                            controls: {
                                program: {
                                    label: "Program",
                                    type: "combobox",
                                    class: "threeColumn",
                                    selectList: [],
                                    labelKey: "value",
                                    labelValue: "key",
                                    validations: {
                                        required: true
                                    }
                                },
                                product: {
                                    label: "Product",
                                    type: "textbox",
                                    class: "threeColumn",
                                    validations: {
                                        required: true
                                    }
                                },
                                durationType: {
                                    label: "Payment Frequency",
                                    type: "combobox",
                                    class: "threeColumn",
                                    selectList: [
                                        { "key": "Daily", "value": "Daily" },
                                        { "key": "Weekly", "value": "Weekly" }
                                    ],
                                    labelKey: "value",
                                    labelValue: "key",
                                    validations: {
                                        required: true
                                    }
                                },
                                term: {
                                    label: "Terms",
                                    type: "combobox",
                                    class: "threeColumn",
                                    selectList: [
                                        { "key": "6", "value": "6 Months" },
                                        { "key": "12", "value": "12 Months" },
                                        { "key": "18", "value": "18 Months" },
                                        { "key": "24", "value": "24 Months" }
                                    ],
                                    labelKey: "value",
                                    labelValue: "key",
                                    validations: {
                                        required: true
                                    }
                                },
                                paymentAmount: {
                                    label: "Payment",
                                    type: "textbox",
                                    class: "threeColumn",
                                    validations: {
                                        required: true,
                                        pattern: 'DECIMAL'
                                    }
                                },
                                loanAmount: {
                                    label: "Approved Amount",
                                    type: "textbox",
                                    class: "threeColumn",
                                    validations: {
                                        required: true,
                                        pattern: 'DECIMAL'
                                    }
                                },
                                sellRate: {
                                    label: "Factor",
                                    type: "textbox",
                                    class: "threeColumn",
                                    validations: {
                                        required: true,
                                        pattern: 'UPTOTWODECIMAL'
                                    }
                                },
                                processingFees: {
                                    label: "Processing Fees",
                                    type: "textbox",
                                    class: "threeColumn",
                                    validations: {
                                        required: true,
                                        pattern: 'DECIMAL'
                                    }
                                },
                                comp: {
                                    label: "Comp Percentage",
                                    type: "textbox",
                                    class: "threeColumn",
                                    validations: {
                                        required: true,
                                        pattern: 'UPTOTWODECIMAL'
                                    }
                                },
                                originatingFeeAmount: {
                                    label: "PSF Percentage",
                                    type: "textbox",
                                    class: "threeColumn",
                                    validations: {
                                        required: true,
                                        pattern: 'UPTOTWODECIMAL'
                                    }
                                },
                                maxGross: {
                                    label: "MaxGross Percentage",
                                    type: "textbox",
                                    class: "threeColumn",
                                    validations: {
                                        required: true,
                                        pattern: 'UPTOTWODECIMAL'
                                    }
                                },
                                paymentDay: {
                                    label: "Select Payment Day",
                                    type: "combobox",
                                    class: "threeColumn",
                                    selectList: [],
                                    labelKey: "value",
                                    labelValue: "key",
                                    validations: {
                                        required: false
                                    }
                                }
                            },
                            values: {
                                program: "",
                                product: "",
                                durationType: '',
                                term: '',
                                paymentAmount: '',
                                loanAmount: '',
                                sellRate: '',
                                processingFees: "",
                                comp: "",
                                originatingFeeAmount: '',
                                maxGross: "",
                                paymentDay: ""
                            }
                        }
                    },
                    computedOffers: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    offersData: {
                        type: Object,
                        notify: true
                    },
                    dataAttributes: {
                        type: Object,
                        notify: true,
                    },
                    fireEvent: {
                        type: Object,
                        notify: true,
                        value: {
                            "AppDetailsPageRefresh": true
                        }
                    },
                    comments: {
                        type: String,
                        notify: true,
                        value: ''
                    },
                    Funder: {
                        type: String,
                        notify: true,
                        value: "",
                    },
                    Product: {
                        type: String,
                        notify: true,
                        reflectToAttribute: true
                    },
                    Program: {
                        type: String,
                        notify: true,
                        reflectToAttribute: true
                    },
                    PaymentFrequency: {
                        type: String,
                        notify: true,
                        reflectToAttribute: true
                    },
                    Payment: {
                        type: String,
                        notify: true,
                        value: "",
                    },
                    offerTerm: {
                        type: String,
                        notify: true,
                        value: "",
                    },
                    Factor: {
                        type: String,
                        notify: true,
                        value: "",
                    },
                    ApprovedAmount: {
                        type: String,
                        notify: true,
                        value: "",
                    },
                    ProcessingFees: {
                        type: String,
                        notify: true,
                        value: "",
                    },
                    submiteddate: {
                        type: String,
                        notify: true
                    },
                    Approveddatetime: {
                        type: String,
                        notify: true
                    },
                    MaxGross: {
                        type: String,
                        notify: true
                    },
                    Comp: {
                        type: String,
                        notify: true
                    },
                    statusObj: {
                        type: Object,
                        notify: true
                    },
                    trackProgram: {
                        type: String,
                        notify: true,
                        observer: "changeProgram"
                    },
                    pType: {
                        type: String,
                        notify: true,
                        observer: "changeType"
                    },
                    paymentDay: {
                        type: String,
                        notify: true
                    }
                },
                observers: [
                    'selecteProgram(addOfferObj.values.program)',
                    'selectePType(addOfferObj.values.durationType)'
                ],
                selectePType: function (objType) {
                    var self = this;
                    if ((self.pType !== objType) && objType !== undefined && objType !== null && objType != "") {
                        self.set("pType", objType);
                    }
                    else if (objType === "") {
                        self.set("pType", objType);
                    }
                },
                changeType: function (obj) {
                    var self = this;
                    var offerObjClone = _.cloneDeep(self.addOfferObj);
                    if (obj === "Weekly") {
                        offerObjClone.controls.paymentDay.validations.required = true;
                        self.set("addOfferObj", offerObjClone);
                        $("input[name*='paymentDay']").parent().parent().parent().show();
                    }
                    else if (obj !== "") {
                        offerObjClone.controls.paymentDay.validations.required = false;
                        self.set("addOfferObj", offerObjClone);
                        $("input[name*='paymentDay']").parent().parent().parent().hide();
                    }
                },
                changeProgram: function (objProgram) {
                    var self = this;
                    if (objProgram !== undefined && objProgram !== null && objProgram != "") {
                        var rptObj = _.find(self.programData, ['program', objProgram]);
                        var offerObjClone = _.cloneDeep(self.addOfferObj);
                        offerObjClone.values.product = rptObj.product;
                        offerObjClone.values.durationType = rptObj.durationType;
                        offerObjClone.values.term = rptObj.term;
                        offerObjClone.values.paymentAmount = rptObj.paymentAmount;
                        offerObjClone.values.loanAmount = rptObj.loanAmount;
                        offerObjClone.values.sellRate = rptObj.sellRate;
                        offerObjClone.values.processingFees = rptObj.processingFees;
                        offerObjClone.values.comp = rptObj.comp;
                        offerObjClone.values.originatingFeeAmount = rptObj.originatingFeeAmount;
                        offerObjClone.values.maxGross = rptObj.maxGross;
                        offerObjClone.values.paymentDay = rptObj.paymentDay;
                        self.set("addOfferObj", offerObjClone);
                    }
                    else {
                        var offerObjClone = _.cloneDeep(self.addOfferObj);
                        offerObjClone.values.product = "";
                        offerObjClone.values.durationType = "";
                        offerObjClone.values.term = "";
                        offerObjClone.values.paymentAmount = "";
                        offerObjClone.values.loanAmount = "";
                        offerObjClone.values.sellRate = "";
                        offerObjClone.values.processingFees = "";
                        offerObjClone.values.comp = "";
                        offerObjClone.values.originatingFeeAmount = "";
                        offerObjClone.values.maxGross = "";
                        offerObjClone.values.paymentDay = "";
                        self.set("addOfferObj", offerObjClone);
                    }
                },
                selecteProgram: function (objProgram) {
                    var self = this;
                    if ((self.trackProgram !== objProgram) && objProgram !== undefined && objProgram !== null && objProgram != "") {
                        self.set("trackProgram", objProgram);
                    }
                    else if (objProgram === "") {
                        self.set("trackProgram", objProgram);
                    }
                },
                _editOffer: function (event) {
                    event.preventDefault();
                    setTimeout(() => {
                        this._loadOffers(true);
                    }, 1000);
                },
                _loadOffers: function (allowEditOffer) {
                    var self = this;
                    var offerEndPoint = window.config.services.offerengine;
                    var params = self.$.url.getParams();
                    var appId = params.app;
                    var url = "/application/" + appId + "/offerengine/getapplicationoffers";
                    self.$.http.get(url, offerEndPoint).then(function (data) {
                        if (data !== undefined && data !== null && !_.isEmpty(data.dealOffer) && !_.isNull(data.dealOffer) && !_.isUndefined(data.dealOffer)) {
                            self.set('computedOffers', data.dealOffer);
                            self.Payment = data.dealOffer.paymentAmount;
                            self.PaymentFrequency = data.dealOffer.durationType;
                            self.Funder = data.funder;
                            self.ApprovedAmount = data.dealOffer.loanAmount;
                            self.Factor = data.dealOffer.sellRate;
                            self.PSF = data.dealOffer.originatingFeeAmount;
                            self.ProcessingFees = data.dealOffer.processingFees;
                            self.comments = data.dealOffer.comments;
                            self.Product = data.productId;
                            self.Program = data.dealOffer.program;
                            self.submiteddate = data.dealOffer.createdOn.time;
                            self.offerTerm = data.dealOffer.term + ' Months';
                            self.Comp = data.dealOffer.comp;
                            self.MaxGross = data.dealOffer.maxGross;
                            self.Approveddatetime = data.dealOffer.createdOn.time;
                            self.paymentDay = data.dealOffer.paymentDay;
                            if (!allowEditOffer) {
                                self._hasDeal(data.dealOffer);
                                self._showControl(data.dealOffer);
                            } else {
                                $('#addOffer').show();
                                $('#btnCancel').show();
                                var offerObjClone = _.cloneDeep(self.addOfferObj);
                                offerObjClone.values = _.assign({}, offerObjClone.values, data.dealOffer);
                                offerObjClone.values.term = offerObjClone.values.term.toString();
                                offerObjClone.values.durationType = offerObjClone.values.durationType.toString();
                                offerObjClone.values.program = offerObjClone.values.program.toString();
                                if (offerObjClone.values.paymentDay != undefined && offerObjClone.values.durationType.toString() === "Weekly") {
                                    offerObjClone.values.paymentDay = offerObjClone.values.paymentDay.toString();
                                }
                                else {
                                    offerObjClone.values.paymentDay = "";
                                }
                                self.set("addOfferObj", offerObjClone);
                                self.set("addOfferObj", offerObjClone);
                                $('#withOffer').hide();
                            }
                            self.set("offersData", data);
                        }
                    }).fail(function (e) {
                        self._hasDeal(self.computedOffers);
                        console.error("load offers error is ", e);
                    });
                },
                raiseAppRefreshEvent: function () {
                    this.$.utility.raiseEvent(this.fireEvent, {});
                },
                _formatMoney: function (amount) {
                    return formats.money(amount, window.config.country, 0);
                },
                init: function () {
                    var self = this;
                    self.set("trackProgram", "");
                    self.set("pType", "");
                    var funder = self.$.config.getConfigurationBasedOnKey("funderName");
                    self.set("funderName", funder);
                    var program = self.$.config.getConfigurationBasedOnKey("program");
                    var PaymentDay = self.$.config.getConfigurationBasedOnKey("PaymentDay");
                    var programData = self.$.config.getConfigurationBasedOnKey("programData");
                    self.set("programData", programData);
                    var addOfferObj = _.cloneDeep(self.addOfferObj);
                    addOfferObj.controls.program.selectList = program;
                    addOfferObj.controls.paymentDay.selectList = PaymentDay;
                    self.set("addOfferObj", addOfferObj);
                    this._loadOffers(false);
                },
                _showAddDealButton: function (statusObj) {
                    var self = this;
                    var statusObj = _.cloneDeep(self.statusObj);
                    var offersConfig = self.$.config.getConfigurationBasedOnKey("offers-config");
                    var addDealbuttonConfig = offersConfig["addDealButton"];
                    if (!_.isNull(addDealbuttonConfig) && !_.isNull(addDealbuttonConfig.statusCode)) {
                        if (statusObj && _.indexOf(addDealbuttonConfig.statusCode, statusObj.code) > -1) {
                            return true;
                        }
                        else {
                            return false;
                        }
                    }
                },
                _verifyForm: function (event) {
                    var self = this;
                    $('div#ErrorMessge').hide();
                    var params = self.$.url.getParams();
                    var appId = params.app;
                    event.preventDefault();
                    var self = this;
                    var addOfferObj = _.cloneDeep(self.addOfferObj.values);
                    var form = Polymer.dom(event).localTarget.parentElement;
                    var payload = {
                        entityType: "application",
                        entityId: appId,
                        dealOffers: []
                    };
                    if (form.validate()) {
                        addOfferObj = _.omit(addOfferObj, ['product', 'submiteddate', 'approveddatetime']);
                        addOfferObj.funder = self.funderName;
                        if (addOfferObj.durationType === "Weekly") {
                            payload.dealOffers.push(addOfferObj);
                        }
                        else {
                            delete addOfferObj.paymentDay;
                            payload.dealOffers.push(addOfferObj);
                        }
                        var offerEngine = window.config.services.offerengine;
                        var url = "/application/" + appId + "/offerengine" + "/deal";
                        self.$.http.post(url, payload, offerEngine).then(function (data) {
                            self.$.message.showMessage("Operation completed successfully.", "INFO", self.$.MessageContainer);
                            self._hasDeal(addOfferObj);
                            self._refreshOfferData();
                        }).fail(function (e) {
                            self.$.message.showMessage("Failed to add offer", "ERROR", self.$.MessageContainer);
                        });
                    }
                },
                _refreshOfferData: function () {
                    var self = this;
                    setTimeout(function () {
                        self._loadOffers(false);
                    }, 500);

                },
                _displayoffer: function (event) {
                    $('#withOffer').show();
                    $('#noOffer').hide();
                    $('#addOffer').hide();
                },
                raiseAppRefreshEvent: function (event) {
                    this.$.utility.raiseEvent(this.fireEvent, {
                        ActionName: 'AppOffersGrid',
                        EventData: event,
                        CompnentName: 'app-offers-grid'
                    });
                },
                _hasDeal: function (computedOffers) {
                    if (!_.isUndefined(computedOffers)) {
                        $('#withOffer').show();
                        $('#noOffer').hide();
                        $('#addOffer').hide();
                    }
                    else {
                        $('#withOffer').hide();
                    }
                },
                _showControl: function (dealOffer) {
                    if (_.isNull(dealOffer)) {
                        $('#addOffer').show();
                    }
                    else if (!_.isNull(dealOffer)) {
                        $('#addOffer').hide();
                        $('#withOffer').show();
                        this._editButtonVisibility();
                    }
                },
                _editButtonVisibility: function () {
                    var self = this;
                    var statusObj = _.cloneDeep(self.statusObj);
                    var offersConfig = self.$.config.getConfigurationBasedOnKey("offers-config");
                    var editDealbuttonConfig = offersConfig["editDealButton"];
                    if (!_.isNull(editDealbuttonConfig) && !_.isNull(editDealbuttonConfig.statusCode)) {
                        if (statusObj && _.indexOf(editDealbuttonConfig.statusCode, statusObj.code) > -1) {
                            $('#btnEditoffer').show();
                        }
                        else {
                            $('#btnEditoffer').hide();
                        }
                    }
                },
                formatDate: function (date) {
                    if (date !== undefined) {
                        return moment.tz(date, window.config.timezone).format(COUNTRY[window.config.country].DATE_FORMAT.DATE_TIMEZONE);
                    }
                    return "";
                },
                date: function (date) {
                    if (!_.isNull(date) && !_.isUndefined(date) && !_.isEmpty(date)) {
                        return formats.date(date, window.config.country, false);
                    }
                    return "Not available";
                },
                showData: function (obj) {
                    return (obj !== undefined && obj !== null && obj !== "") ? true : false;
                },
                getPaymentDays: function (objValue) {
                    var self = this;
                    var PaymentDay = self.$.config.getConfigurationBasedOnKey("PaymentDay");
                    var rptObj = _.find(PaymentDay, ['key', objValue]);
                    if (rptObj !== undefined && rptObj !== null && rptObj !== "") {
                        return rptObj.value;
                    }
                    else {
                        return "";
                    }
                },
                showPaymentDay: function (objFrequency) {
                    var self = this;
                    return (objFrequency === "Weekly") ? true : false;
                }
            });
        });
    </script>
</dom-module>