<html-import html-href="custom-component/swim-lane.html"></html-import>
<dom-module id="card-view">
    <template>
        <swim-lane id="papercheckboxGroup" swim-lane-data="{{swimLaneData}}" filter-code-mapping="{{filterCodeMapping}}"></swim-lane>
        <http-request id="http"></http-request>
        <url-parser id="url"></url-parser>
    </template>
    <script>
        Polymer({
            is: "card-view",
            properties: {
                filterCodeMapping: {
                    type: Object,
                    notify: true,
                    value: {
                        "200.10": "leads",
                        "200.20": "penverification",
                        "200.30": "pencashflowverification",
                        "200.40": "penfraudverification",
                        "200.50": "penbusinesscreditverification",
                        "200.60": "penoffergeneration",
                        "200.70": "pendealgeneration",
                        "300.20": "penpostagreementverification",
                        "400.10": "fundingreview",
                        "400.20": "approved",
                        "400.30": "funded",
                        "600.10": "cancelled",
                        "600.20": "notInterested",
                        "600.30": "expired",
                        "600.40": "rejected"
                    }
                }
            },
            attached: function () {
                this._getAllApplications();
            },
            _convertToStatusBasedArray: function (apps) {
                var dict = _.reduce(apps, function (a, c) {
                    if (!a[c.statusName]) {
                        a[c.statusName] = [c];
                    } else {
                        a[c.statusName].push(c);
                    }
                    return a;
                }, {});
                return dict;
            },
            _getAllApplications: function () {
                var self = this;
                var url = "/all";
                var loanFilters = window.config.services.applicationFilters;
                self.$.http.get(url, loanFilters).then(function (data) {
                    var filtersData = _.reject(data, ['statusName', null]);
                    self.set('swimLaneData', self._convertToStatusBasedArray(filtersData));
                }).fail(function (e) {
                    console.error(e);
                });
            }
        })
    </script>
</dom-module>