<dom-module id="interface-tool">
    <style>
        #page-wrapper {
            margin: 0;
            height: auto !important;
            padding-top: 30px;
        }

        table,
        th,
        td {
            border: 1px solid black;
            border-collapse: collapse;
            border-spacing: 0px;
            /*width: 100%;*/
        }

        table {
            width: 100%;
        }

        .width-50 {
            width: 40%;
        }

        .width-5 {
            width: 50%;
        }

        #loader {
            position: absolute;
            left: 50%;
            top: 50%;
            z-index: 1;
            width: 150px;
            height: 150px;
            margin: -75px 0 0 -75px;
            border: 16px solid #f3f3f3;
            border-radius: 50%;
            border-top: 16px solid #3498db;
            width: 120px;
            height: 120px;
            -webkit-animation: spin 2s linear infinite;
            animation: spin 2s linear infinite;
        }

        @-webkit-keyframes spin {
            0% {
                -webkit-transform: rotate(0deg);
            }

            100% {
                -webkit-transform: rotate(360deg);
            }
        }

        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }
        /* Add animation to "page content" */

        .animate-bottom {
            position: relative;
            -webkit-animation-name: animatebottom;
            -webkit-animation-duration: 1s;
            animation-name: animatebottom;
            animation-duration: 1s;
        }

        @-webkit-keyframes animatebottom {
            from {
                bottom: -100px;
                opacity: 0;
            }

            to {
                bottom: 0px;
                opacity: 1;
            }
        }

        @keyframes animatebottom {
            from {
                bottom: -100px;
                opacity: 0;
            }

            to {
                bottom: 0;
                opacity: 1;
            }
        }

        #myDiv {
            display: none;
            text-align: center;
        }
    </style>
    <template>
        <div id="wrapper" style="position: absolute; top: 0; left: 0">
            <div id="page-wrapper" class="gray-bg">
                <br>
                <br>
                <div id="loader"></div>
                <div class="row">
                    <div class="col-md-offset-4 col-md-2">
                        <form method="POST" enctype="multipart/form-data" id="fileUploadForm">
                            <input type="file" name="files" />
                            <br />
                            <br />
                            <input type="submit" value="Submit" id="btnSubmit" style="margin-bottom:10px" /> &nbsp; &nbsp;
                            <input type="button" value="Clear" id="btnclear" onclick="Clearformdata();" style="margin-bottom:10px" />
                        </form>
                    </div>
                </div>

                <span id="result"></span>

                <div class="table-responsive">
                    <table class="table table-striped table-bordered" cellspacing="0" cellpadding="0" id="tblResult" style="display:none;">
                        <thead>
                            <tr>
                                <th style="width:25%">
                                    Title
                                </th>
                                <th>
                                    Is Pass?
                                </th>
                                <th>
                                    Data
                                </th>
                            </tr>
                        </thead>
                        <tbody id="tbody"></tbody>
                    </table>
                </div>
            </div>
        </div>
        <identity-service id="identityintt"></identity-service>
    </template>
    <script>
        function Clearformdata() {
            location.reload();
        }

        Polymer({
            is: "interface-tool",
            attached: function () {
                var self = this;
                if (window.jQuery) {
                    self.init()();
                } else {
                    window.addEventListener("WebComponentsReady", self.init());
                }
            },
            init: function () {
                return function () {
                    $(document).ready(function () {
                        document.getElementById("loader").style.display = "none";
                        $("#btnSubmit").click(function (event) {

                            //stop submit the form, we will post it manually.
                            event.preventDefault();

                            // Get form
                            var form = $('#fileUploadForm')[0];

                            // Create an FormData object
                            var data = new FormData(form);

                            // If you want to add an extra field for the FormData
                            data.append("CustomField", "This is some extra data, testing");

                            // disabled the submit button
                            $("#btnSubmit").prop("disabled", true);
                            document.getElementById("loader").style.display = "block";
                            var lmsTestTool = window.config.services.lmsTestTool;
                            $.ajax({
                                type: "POST",
                                enctype: 'multipart/form-data',
                                url: lmsTestTool + "/UploadFiles",
                                data: data,
                                headers: {
                                    Authorization: 'Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJsZW5kZm91bmRyeSIsImlhdCI6IjIwMTctMDEtMTFUMDU6MjI6MTEuNzg5MDQ3WiIsImV4cCI6IjIwMTctMDEtMTFUMDU6MzI6MTEuNzg3NTAxWiIsInN1YiI6ImNhdnAiLCJ0ZW5hbnQiOiJjYXBpdGFsLWFsbGlhbmNlIiwic2NvcGUiOlsiYXBpL3Zwb2ZzYWxlcyIsImFwaS9sb2FuY29vcmRpbmF0b3JtYW5hZ2VyIiwiYXBpL2xvYW5jb3JkaW5hdG9yIiwiYXBpL3NycmVsYXRpb25zaGlwbWFuYWdlciIsImFwaS9yZWxhdGlvbnNoaXBtYW5hZ2VyIl0sIklzVmFsaWQiOnRydWV9.ER1BnvTkFxlC0a1h4WiTStUCPEhNqb1p-DO2mqbYV5s'
                                },
                                processData: false,
                                contentType: false,
                                cache: false,
                                timeout: 600000,
                                success: function (data) {


                                    var thtml = '';
                                    for (var i = 0; i < data.length; i++) {

                                        if (data[i]["action"] == 'PRINTACRUAL') {
                                            thtml += '<tr><td>' + data[i]["title"] + '</td>';
                                            thtml += '<td>' + data[i]["isSuccess"] + '</td>';

                                            var obj = JSON.parse(data[i]["content"]);
                                            thtml += '<td>';
                                            thtml += '<table class="table table-striped table-bordered" cellspacing="0" cellpadding="0">';
                                            $.each(obj, function (k, v) {
                                                thtml += '<tr>';

                                                //display the key and value pair

                                                if (k == 'due') {
                                                    thtml += '<td class="width-50">' + k + '</td>';
                                                    thtml += '<td>';
                                                    thtml += '<table class="table table-striped table-bordered" cellspacing="0" cellpadding="0">';
                                                    $.each(v, function (ak, av) {
                                                        thtml += '<tr>';
                                                        if (ak == 'dpdStartDate') {
                                                            thtml += '<td class="width-5"> Dpd start Date</td>';
                                                            if (av != null && av != 'undefined')
                                                                thtml += '<td>' + av.split('T')[0] + '</td>';
                                                        }
                                                        else {
                                                            thtml += '<td class="width-5"> ' + ak + '</td>';
                                                            thtml += '<td>' + av + '</td>';
                                                        }
                                                        thtml += '</tr>';
                                                    });
                                                    thtml += '</table>';
                                                    thtml += '</td>';
                                                }
                                                else if (k == 'pboc') {
                                                    thtml += '<td>Current Outstanding</td>';
                                                    thtml += '<td>';

                                                    thtml += '<table class="table table-striped table-bordered" cellspacing="0" cellpadding="0">';
                                                    $.each(v, function (ak, av) {
                                                        thtml += '<tr>';
                                                        if (ak == 'asOfDatePBOC') {
                                                            //debugger;
                                                            thtml += '<td class="width-5">As Of Date</td>';
                                                            if (av != null && av != 'undefined')
                                                                thtml += '<td>' + av.split('T')[0] + '</td>';
                                                        } else if (ak == 'cummulativeInterestAccured') {
                                                            thtml += '<td class="width-5">Interest Outstanding</td>';
                                                            thtml += '<td>' + av + '</td>';
                                                        }
                                                        else if (ak == 'currentPrincipalOutStanding') {
                                                            thtml += '<td class="width-5">Principal Outstanding</td>';
                                                            thtml += '<td>' + av + '</td>';
                                                        }
                                                        else {
                                                            thtml += '<td class="width-5">' + ak + '</td>';
                                                            thtml += '<td>' + av + '</td>';
                                                        }
                                                        thtml += '</tr>';

                                                    });
                                                    thtml += '</table>';
                                                    thtml += '</td>';

                                                }
                                                else if (k == 'pbot') {
                                                    thtml += '<td>Total Outstanding</td>';
                                                    thtml += '<td>';

                                                    thtml += '<table class="table table-striped table-bordered" cellspacing="0" cellpadding="0">';
                                                    $.each(v, function (ak, av) {
                                                        thtml += '<tr>';
                                                        if (ak == 'asOfDatePBOT') {
                                                            thtml += '<td class="width-5">As Of Date</td>';
                                                            if (av != null && av != 'undefined')
                                                                thtml += '<td>' + av.split('T')[0] + '</td>';
                                                        } else if (ak == 'totalInterestOutstanding') {
                                                            thtml += '<td class="width-5">Interest Outstanding</td>';
                                                            thtml += '<td>' + av + '</td>';
                                                        }
                                                        else if (ak == 'totalPrincipalOutStanding') {
                                                            thtml += '<td class="width-5">Principal Outstanding</td>';
                                                            thtml += '<td>' + av + '</td>';
                                                        }
                                                        else {
                                                            thtml += '<td class="width-5">' + ak + '</td>';
                                                            thtml += '<td>' + av + '</td>';
                                                        }
                                                        thtml += '</tr>';

                                                    });
                                                    thtml += '</table>';
                                                    thtml += '</td>';
                                                }
                                                else if (k == 'paymentInfo') {
                                                    thtml += '<td>Payments</td>';
                                                    thtml += '<td>';

                                                    thtml += '<table class="table table-striped table-bordered" cellspacing="0" cellpadding="0">';
                                                    $.each(v, function (ak, av) {
                                                        thtml += '<tr>';
                                                        if (ak == 'lastPaymentReceivedDate') {
                                                            thtml += '<td class="width-5">Last Payment Date</td>';
                                                            if (av != null && av != 'undefined')
                                                                thtml += '<td>' + av.split('T')[0] + '</td>';
                                                        } else if (ak == 'paidPrincipalAmount') {
                                                            thtml += '<td class="width-5">Principal Paid</td>';
                                                            thtml += '<td>' + av + '</td>';
                                                        }
                                                        else if (ak == 'paidInterestAmount') {
                                                            thtml += '<td class="width-5">Interest Paid</td>';
                                                            thtml += '<td>' + av + '</td>';
                                                        }
                                                        else if (ak == 'cumulativeTotalPaid') {
                                                            thtml += '<td class="width-5">Total Paid</td>';
                                                            thtml += '<td>' + av + '</td>';
                                                        }
                                                        else if (ak == 'paidFeeAmount') {
                                                            thtml += '<td class="width-5">Paid Fee</td>';
                                                            thtml += '<td>' + av + '</td>';
                                                        }
                                                        else if (ak == 'lastPaymentAmount') {
                                                            thtml += '<td class="width-5">Last Payment Amount</td>';
                                                            thtml += '<td>' + av + '</td>';
                                                        }
                                                        else {
                                                            thtml += '<td class="width-5">' + ak + '</td>';
                                                            thtml += '<td>' + av + '</td>';
                                                        }
                                                        thtml += '</tr>';

                                                    });
                                                    thtml += '</table>';
                                                    thtml += '</td>';
                                                }
                                                else if (k == 'schedule') {
                                                    thtml += '<td>schedule</td>';
                                                    thtml += '<td>';

                                                    thtml += '<table class="table table-striped table-bordered" cellspacing="0" cellpadding="0">';
                                                    $.each(v, function (ak, av) {
                                                        thtml += '<tr>';
                                                        if (ak == 'asOfDatePBOT') {
                                                            thtml += '<td class="width-5">As Of Date</td>';
                                                            if (av != null && av != 'undefined')
                                                                thtml += '<td>' + av.split('T')[0] + '</td>';
                                                        } else if (ak == 'totalInterestOutstanding') {
                                                            thtml += '<td class="width-5">Interest Outstanding</td>';
                                                            thtml += '<td>' + av + '</td>';
                                                        }
                                                        else if (ak == 'totalPrincipalOutStanding') {
                                                            thtml += '<td class="width-5">Principal Outstanding</td>';
                                                            thtml += '<td>' + av + '</td>';
                                                        }
                                                        else {
                                                            thtml += '<td class="width-5">' + ak + '</td>';
                                                            thtml += '<td>' + av + '</td>';
                                                        }
                                                        thtml += '</tr>';

                                                    });
                                                    thtml += '</table>';
                                                    thtml += '</td>';
                                                }
                                                else {
                                                    thtml += '<td>' + k + '</td>';
                                                    if (v != null || v != 'undefined') {
                                                        if (k == 'accrualStopDate' || k == 'startDate' || k == 'processingDate') {
                                                            thtml += '<td>' + v.split('T')[0] + '</td>';
                                                        } else {
                                                            thtml += '<td>' + v + '</td>';
                                                        }
                                                    }
                                                    else
                                                        thtml += '<td>N/A</td>';
                                                }

                                                thtml += '</tr>';
                                            });
                                            thtml += '</table>';
                                            thtml += '</td>';
                                        }
                                        else if (data[i]["action"] == 'PRINTLOANDETAILS') {
                                            thtml += '<tr><td>' + data[i]["title"] + '</td>';
                                            thtml += '<td>' + data[i]["isSuccess"] + '</td>';

                                            var obj = JSON.parse(data[i]["content"]);
                                            thtml += '<td>';
                                            thtml += '<table class="table table-striped table-bordered" cellspacing="0" cellpadding="0">';
                                            $.each(obj, function (k, v) {
                                                thtml += '<tr>';
                                                thtml += '<td class="width-50">' + k + '</td>';      //display the key and value pair
                                                if (k == 'LoanFundedDate') {
                                                    thtml += '<td>';
                                                    if (v != null && v != 'undefined')
                                                        thtml += v.Time.split('T')[0];
                                                    //thtml += '<table cellspacing="0" cellpadding="0">';
                                                    //$.each(v, function (ak, av) {
                                                    //    thtml += '<tr>';
                                                    //    thtml += '<td>' + ak + '</td>';
                                                    //    thtml += '<td>' + av + '</td>';
                                                    //    thtml += '</tr>';

                                                    //});
                                                    //thtml += '</table>';
                                                    thtml += '</td>';
                                                }
                                                else {
                                                    if (v != null || v != 'undefined')
                                                        thtml += '<td>' + v + '</td>';
                                                    else
                                                        thtml += '<td>N/A</td>';
                                                }
                                                thtml += '</tr>';
                                            });
                                            thtml += '</table>';
                                            thtml += '</td>';
                                        }
                                        else if (data[i]["action"] == 'LOANONBOARD') {
                                            thtml += '<tr><td>' + data[i]["title"] + '</td>';
                                            thtml += '<td>' + data[i]["isSuccess"] + '</td>';

                                            var obj = JSON.parse(data[i]["content"]);
                                            thtml += '<td>';
                                            thtml += '<table class="table table-striped table-bordered" cellspacing="0" cellpadding="0">';
                                            $.each(obj, function (k, v) {
                                                thtml += '<tr>';
                                                //display the key and value pair
                                                if (k == 'paymentInstruments' || k == 'primaryApplicantDetails' || k == 'primaryBusinessDetails' || k == 'applicantDetails' || k == 'businessDetails' || k == 'drawDownDetails') {
                                                    //thtml += '<td>' + k + '</td>';
                                                    //thtml += '<td>';

                                                    //thtml += '<table cellspacing="0" cellpadding="0">';
                                                    //$.each(v, function (ak, av) {
                                                    //    thtml += '<tr>';
                                                    //    thtml += '<td>' + ak + '</td>';
                                                    //    thtml += '<td>' + av + '</td>';
                                                    //    thtml += '</tr>';

                                                    //});
                                                    //thtml += '</table>';
                                                    //thtml += '</td>';
                                                }
                                                else if (k == 'loanOnboardedDate' || k == 'loanFundedDate' || k == 'loanStartDate' || k == 'loanEndDate' || k == 'autoPayStartDate') {
                                                    thtml += '<td class="width-50">' + k + '</td>';
                                                    thtml += '<td>';

                                                    if (v != null && v != 'undefined')
                                                        thtml += v.time.split('T')[0];
                                                    thtml += '</td>';
                                                } else if (k == 'currency') {
                                                    thtml += '<td class="width-50">' + k + '</td>';
                                                    if (v == 'Dollar')
                                                        thtml += '<td>$</td>';
                                                }
                                                else {
                                                    thtml += '<td class="width-50">' + k + '</td>';
                                                    if (v != null || v != 'undefined')
                                                        thtml += '<td>' + v + '</td>';
                                                    else
                                                        thtml += '<td>N/A</td>';
                                                }
                                                thtml += '</tr>';
                                            });
                                            thtml += '</table>';
                                            thtml += '</td>';
                                        }
                                        else if (data[i]["action"] == 'Payment') {
                                            thtml += '<tr><td>' + data[i]["title"] + '</td>';
                                            thtml += '<td>' + data[i]["isSuccess"] + '</td>';

                                            var obj = JSON.parse(data[i]["content"]);
                                            thtml += '<td>';
                                            thtml += '<table class="table table-striped table-bordered" cellspacing="0" cellpadding="0">';
                                            $.each(obj, function (k, v) {
                                                thtml += '<tr>';
                                                thtml += '<td class="width-50">' + k + '</td>';      //display the key and value pair
                                                if (v != null && v != 'undefined') {
                                                    if (k == 'processingDate' || k == 'effectiveDate') {
                                                        thtml += '<td>' + v.split('T')[0] + '</td>';
                                                    } else {
                                                        thtml += '<td>' + v + '</td>';
                                                    }

                                                } else {
                                                    thtml += '<td>N/A</td>';
                                                }
                                                thtml += '</tr>';
                                            });
                                            thtml += '</table>';
                                            thtml += '</td>';
                                        }
                                        else if (data[i]["action"] == 'Assert') {

                                            thtml += '<tr><td>' + data[i]["title"] + '</td>';
                                            thtml += '<td>' + data[i]["isSuccess"] + '</td>';

                                            var obj = JSON.parse(data[i]["content"]);
                                            thtml += '<td>';
                                            thtml += '<table class="table table-striped table-bordered" cellspacing="0" cellpadding="0">';
                                            thtml += '<tr>';
                                            thtml += '<td class="width-50">Parameter</td>';
                                            thtml += '<td class="width-50">ActualAmount</td>';
                                            thtml += '<td class="width-50">ExpectedAmount</td>';
                                            thtml += '<td class="width-50">Result</td>';
                                            thtml += '</tr>';
                                            $.each(obj, function (k, v) {

                                                thtml += '<tr>';
                                                thtml += '<td class="width-50">' + v["ParameterName"] + '</td>';      //display the key and value pair
                                                thtml += '<td class="width-50">' + v["ActualAmount"] + '</td>';
                                                thtml += '<td class="width-50">' + v["ExpectedAmount"] + '</td>';

                                                thtml += '<td class="width-50">';
                                                if (v["Ispass"]) {
                                                    thtml += 'Pass';
                                                } else {
                                                    thtml += 'Fail';
                                                }
                                                thtml += '</td>';
                                                thtml += '</tr>';
                                            });
                                            thtml += '</table>';
                                            thtml += '</td>';
                                        }
                                        else {
                                            thtml += '<tr><td>' + data[i]["title"] + '</td>';
                                            thtml += '<td>' + data[i]["isSuccess"] + '</td>';
                                            thtml += '<td>';
                                            if (data[i]["content"] !== null && data[i]["content"] != '') {
                                                var obj = JSON.parse(data[i]["content"]);
                                                thtml += '<table class="table table-striped table-bordered" cellspacing="0" cellpadding="0">';
                                                $.each(obj, function (k, v) {
                                                    thtml += '<tr>';
                                                    thtml += '<td class="width-50">' + k + '</td>';      //display the key and value pair
                                                    if (v != null && v != 'undefined') {
                                                        thtml += '<td>' + v + '</td>';
                                                    } else {
                                                        thtml += '<td>N/A</td>';
                                                    }
                                                    thtml += '</tr>';
                                                });
                                                thtml += '</table>';
                                            }

                                            thtml += '</td>';
                                        }
                                        if (data[i]["message"] != null)
                                            thtml += '<td >' + data[i]["message"] + '</td>';
                                        thtml += '</tr>';
                                    }
                                    $("#tbody").html(thtml);
                                    $("#tblResult").show();

                                    console.log("SUCCESS : ", data);
                                    $("#btnSubmit").prop("disabled", false);
                                    document.getElementById("loader").style.display = "none";
                                },
                                error: function (e) {
                                    console.log("ERROR : ", e);
                                    $("#btnSubmit").prop("disabled", false);
                                    $("#tblResult").show();
                                    document.getElementById("loader").style.display = "none";
                                }
                            });
                        });
                    });
                }
            }
        })
    </script>
</dom-module>