<html-import html-href="loaders/sk-wave.html"></html-import>
<dom-module id="request-password">
    <template>
        <style>
            :host {
                position: relative;
            }

            #login-icon {
                margin-top: 0;
            }
        </style>

        <div class="ce-loan-apply-container">
            <div class="col-sm-12">
                <div class="ce-loan-apply-slides">
                    <div class="ce-loan-apply-slide">
                        <h2>Having trouble signing in?</h2>
                        <p class="short-decription">Reset password link will be sent to your email. Please enter your username.</p>
                        <form id="request-form">
                            <div class="row">
                                <div class="col-sm-12"></div>
                                <div class="col-sm-12">
                                    <div id="error-message" class="alert alert-danger" hidden$="{{!hasError}}"></div>
                                    <div id="success-message" class="alert alert-success" hidden$="{{!hasSuccess}}"></div>
                                </div>
                                <div class="col-sm-12"></div>
                            </div>
                            <div class="slide-box slide-loan-amount">
                                <div class="slide-box-icon">
                                    <span></span>
                                </div>
                                <div class="form-group input-label-anim">
                                    <label for="v" class="control-label">User Name</label>
                                    <input id="username" type="text" name="username" placeholder="User Name" maxlength="45" value="{{username::input}}" class="form-control"
                                        autocomplete="off">
                                </div>
                            </div>
                            <spinkit-wave hidden$="{{!spin}}"></spinkit-wave>
                            <div class="slide-action">
                                <button type="submit" id="sendlink" hidden$="{{spin}}" on-click="sendNewPassEmail" class="btn btn-primary activity-action-btn">Send Reset Link</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <identity-service id="identityreq"></identity-service>
    </template>
    <script>
        Polymer({
            is: "request-password",
            properties: {
                spin: {
                    type: Boolean,
                    notify: true,
                    value: false,
                    reflectToAttribute: true
                }
            },
            ready: function () {
                var self = this;
                if (window.jQuery) {
                    self.init()();
                } else {
                    window.addEventlistener("WebComponentsReady", self.init());
                }
            },
            init: function () {
                var self = this;
                this.spin = false;
                this.hasError = false;
                this.hasSuccess = false;
                return function () {
                    $(self.$.username).on("keydown", function (e) {
                        if (e.which === 13) {
                            self.sendNewPassEmail();
                        }
                    });
                    function validate_form() {
                        $("#request-form").validate({
                            rules: {
                                username: {
                                    required: true
                                }
                            },
                            messages: {}
                        });
                    }
                    setTimeout(validate_form, 100);
                }
            },
            sendNewPassEmail: function (e) {
                if (e) {
                    e.preventDefault();
                }
                if (!$('#request-form').valid()) {
                    return;
                }
                // Send username and password to some retrieve password API
                var self = this;
                self.username = $('#username').val()
                if (!self.username) {
                    return self.setErrorMessage("Enter username")
                }
                self.set('spin', true);
                self.clearMessages();
                self.$.identityreq.requestToken(self.username).done(function () {
                    self.set('spin', false);
                    self.username = "";
                    self.setSuccessMessage("E-mail to reset your password has been sent");
                }).fail(function (err) {
                    self.set('spin', false);
                    self.setErrorMessage(err.statusText);
                });
            },
            resetLogin: function () {
                window.location.hash = "/securityLogin";
            },
            setErrorMessage: function (message) {
                this.hasError = true;
                this.$["error-message"].innerHTML = message;
            },
            setSuccessMessage: function (message) {
                this.hasSuccess = true;
                this.$["success-message"].innerHTML = message;
            },
            clearMessages: function () {
                this.hasError = false;
                this.hasSuccess = false;
                this.$["error-message"].innerHTML = "";
                this.$["success-message"].innerHTML = "";
            }
        })
    </script>
</dom-module>