<html-import html-href="loaders/sk-wave.html"></html-import>
<dom-module id="reset-password">
    <template>
        <style>
             :host {
                position: relative;
            }

            #login-icon {
                margin-top: 0;
            }
        </style>
        <div class="ce-loan-apply-container" hidden$="{{resetSuccess}}">
            <div class="col-sm-12">
                <div class="ce-loan-apply-slide">
                    <div class="slide-controler">
                    </div>
                    <h2>Reset account</h2>
                    <p class="short-decription">Please select a password to save and retrieve your application.</p>
                    <form id="reset-form">
                        <div class="row">
                            <div class="col-sm-12">
                                <div id="error-message" class="alert alert-danger" hidden$="{{!hasError}}"></div>
                            </div>
                        </div>
                        <div class="slide-box slide-loan-amount">
                            <div class="form-group input-label-anim">
                                <label for="v" class="control-label">Password</label>
                                <input id="newPassword" name="newPassword" type="password" class="form-control" maxlength="15" placeholder="Password" value="{{newPassword::input}}"
                                    autocomplete="off">
                            </div>
                            <div class="form-group input-label-anim">
                                <label for="v" class="control-label">Confirm Password</label>
                                <input id="verifyPassword" name="verifyPassword" type="password" class="form-control" maxlength="15" placeholder="Confirm Password"
                                    value="{{verifyPassword::input}}" autocomplete="off">
                            </div>
                        </div>
                        <spinkit-wave hidden$="{{!spin}}"></spinkit-wave>
                        <div class="slide-action">
                            <button type="submit" id="reset" hidden$="{{spin}}" on-click="resetPassword" class="btn btn-primary activity-action-btn">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div hidden$="{{!resetSuccess}}">
            <div class="alert alert-success">Password Reset</div>
            <button class="btn btn-primary block full-width m-b" on-click="goToLogin">Continue to Login</button>
        </div>
        <identity-service id="identityres"></identity-service>
    </template>
    <script>
        Polymer({
            is: "reset-password",
            properties: {
                passToken: {
                    type: String,
                    notify: true
                },
                spin: {
                    type: Boolean,
                    notify: true,
                    value: false,
                    reflectToAttribute: true
                }
            },
            attached: function () {
                var self = this;
                if (window.jQuery) {
                    self.init()();
                } else {
                    window.addEventListener("WebComponentsReady", self.init());
                }
            },
            init: function () {
                var self = this;
                var urlParams = window.location.hash.split("/");
                self.hasError = false;
                self.resetSuccess = false;
                self.spin = false;
                self.username = urlParams[3];
                self.newPassword = "";
                self.verifyPassword = "";
                self.token = urlParams[2];
                return function () {
                    $(self.$.username).on("keydown", function (e) {
                        if (e.which === 13) {
                            $(self.$.newPassword).focus();
                        }
                    });
                    $(self.$.newPassword).on("keydown", function (e) {
                        if (e.which === 13) {
                            $(self.$.verifyPassword).focus();
                        }
                    });
                    $(self.$.verifyPassword).on("keydown", function (e) {
                        if (e.which === 13) {
                            self.resetPassword();
                        }
                    });
                    function validate_form() {
                        $("#reset-form").validate({
                            rules: {
                                newPassword: {
                                    required: true
                                },
                                verifyPassword: {
                                    required: true,
                                    equalTo: '#newPassword'
                                }
                            },
                            messages: {}
                        });
                    }
                    setTimeout(validate_form, 100);
                }
            },
            resetPassword: function (e) {
                if (e) {
                    e.preventDefault();
                }
                if (!$('#reset-form').valid()) {
                    return;
                }
                var self = this;
                self.set('spin', true);
                self.$.identityres.resetPassword(self.username, self.newPassword, self.token).done(function () {
                    self.set('spin', false);
                    self.resetSuccess = true;
                }).fail(function (err) {
                    self.set('spin', false);
                    self.hasError = true;
                    var response = err.responseJSON;
                    if (response) {
                        self.$["error-message"].innerHTML = response.message;
                    }
                });
            },
            goToLogin: function () {
                window.location.hash = "/securityLogin";
            }
        })
    </script>
</dom-module>