<dom-module id="borrower-loans">
    <template>
        <style>
            .table>thead>tr>th,
            .table>tbody>tr>td {
                vertical-align: middle;
                text-align: center;
                padding: 4px;
            }

            td .btn {
                margin: 0 !important;
                font-size: 12px;
                padding: 2px 5px;
            }

            .right-align {
                text-align: right !important;
            }

            .custom-input {
                --paper-input-container-input: {
                    font-size: 11px;
                }

                --paper-input-container-label: {
                    font-size: 12px;
                }
            }
            .header {
                font-size: 12px;
                font-weight: 700;
                color: white;
                background-color: #03466B;
            }
        </style>
        <div class="row">
            <div class="col-sm-12">
                <table class="table">
                    <tr>
                        <th colspan="6" class="header">Borrower Details</th>
                    </tr>
                    <tr>
                        <th>Borrower Limit</th>
                        <td>{{formatCurrency(maxLimit)}}</td>
                        <th>Total Funded Amount</th>
                        <td>
                            {{formatCurrency(totalLoanAmount)}}
                        </td>
                        <th>Utilised Limit</th>
                        <td>{{formatCurrency(utilisedLimit)}}</td>
                    </tr>
                    <tr>
                        <th>Unutilised Credit</th>
                        <td>{{formatCurrency(unutilisedCredit)}}</td>
                        <th></th>
                        <td></td>
                        <th></th>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
            </div>
            <div class="col-md-4">
                <vaadin-combo-box class="custom-input" name="loanType" value="{{selectedLoanType}}"
                    item-value-path="value" item-label-path="key" items="{{LoanTypeList}}" required
                    label="Select Loan Type" on-change="_onLoanTypeChange" prevent-invalid-input="true">
                </vaadin-combo-box>
            </div>
        </div>
        <spinkit-wave hidden$="{{loading}}"></spinkit-wave>
        <table hidden$="{{!loading}}" class="table table-bordered">
            <thead>
                <tr>
                    <th>Loan ID</th>
                    <th>Loan Amount</th>
                    <th>Tenure</th>
                    <th>Rate</th>
                    <th>Prin. Out. Amt</th>
                    <th>Total Out.</th>
                    <th>DPD</th>
                    <th>Funded Date</th>
                    <th>Loan End Date</th>
                    <th>Loan Status</th>
                </tr>
            </thead>
            <tbody>
                <template is="dom-repeat" items="{{filteredLoans}}">
                    <tr>
                        <td>
                            <a href='javascript:' on-click='openLoanView' modal="{{item}}">{{item.LoanNumber}}</a>
                        </td>
                        <td class="right-align">{{formatCurrency(item.LoanAmount)}}</td>
                        <td>{{_tenure(item.Tenure,item.PaymentFrequency)}}</td>
                        <td>
                            <template is="dom-if" if="{{!checkPortfolioType(item)}}">
                                {{_twoDecimal(item.FactorRate)}}
                            </template>
                            <template is="dom-if" if="{{checkPortfolioType(item)}}">
                                {{_twoDecimal(item.AnnualRate)}} %
                            </template>
                        </td>
                        <td class="right-align">{{formatCurrency(item.PBOT.TotalPrincipalOutStanding)}}</td>
                        <td class="right-align">{{totalOutstanding(item.PBOT,item.PriorInterest,item.PaymentInfo)}}</td>
                        <td>{{item.Due.DPDDays}}</td>
                        <td>{{onlyDate(item.LoanFundedDate.Time.DateTime)}}</td>
                        <td>{{onlyDate(item.LoanEndDate.Time.DateTime)}}</td>
                        <td>{{item.StatusName}}</td>
                    </tr>
                </template>
                <template is="dom-if" if="{{hasData(filteredLoans)}}">
                    <td colspan="7"><span>Data not found</span></td>
                </template>
            </tbody>
            <template is="dom-if" if="{{!hasData(filteredLoans)}}">
                <tfoot>
                    <tr>
                        <td></td>
                        <td class="right-align"><b>{{formatCurrency(loanTotal)}}</b></td>
                        <td></td>
                        <td></td>
                        <td class="right-align"><b>{{formatCurrency(principalTotal)}}</b></td>
                        <td class="right-align"><b>{{formatCurrency(totalOutstandingTotal)}}</b></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tfoot>
            </template>
        </table>
        <url-parser id="url"></url-parser>
        <http-request id="http"></http-request>
        <alloy-format id="format"></alloy-format>
        <alloy-config id="config"></alloy-config>
        <utility-service id="utility"></utility-service>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "borrower-loans",
                properties: {
                    maxLimit:{
                        type: String,
                        notify: true,
                        value:0
                    },
                    totalLoanAmount:{
                        type: String,
                        notify: true,
                        value:0
                    },
                    utilisedLimit:{
                        type: String,
                        notify: true,
                        value:0
                    },
                    unutilisedCredit:{
                        type: String,
                        notify: true,
                        value:0
                    },
                    loanTotal: {
                        type: String,
                        notify: true
                    },
                    principalTotal: {
                        type: String,
                        notify: true
                    },
                    totalOutstandingTotal: {
                        type: String,
                        notify: true
                    },
                    selectedLoanType: {
                        type: String,
                        notify: true
                    },
                    LoanTypeList: {
                        type: Array,
                        notify: true,
                        value: [
                            { key: "All", value: "All" },
                            { key: "Active", value: "Active" },
                            { key: "Closed", value: "Closed" }
                        ]
                    },
                    borrowerSince: {
                        type: Date,
                        notify: true,
                        reflectToAttribute: true
                    },
                    allLoans: {
                        type: Array,
                        notify: true,
                        reflectToAttribute: true
                    },
                    filteredLoans: {
                        type: Array,
                        notify: true,
                        reflectToAttribute: true
                    },
                    loading: {
                        type: Boolean,
                        notify: true,
                        value: false,
                        reflectToAttribute: true
                    },
                    loanData: {
                        type: Object,
                        notify: true
                    }
                },
                init: function () {
                    var self = this;
                    if (self.loanData !== undefined && self.loanData !== null && self.loanData.borrowerId !== undefined && self.loanData.borrowerId !== null && self.loanData.borrowerId !== "") {
                        self._getData(self.loanData.borrowerId);
                    }
                    else {
                        self.set("loading", true);
                    }
                },
                _getData: function (objBorrowerId) {
                    var self = this;
                    var payload = {};
                    payload = self.$.config.getConfigurationBasedOnKey("BorrowerLoansFilter");
                    var loanFilters = window.config.services.savedFilters;
                    var url = "/loan/search-loans/?pageSize=100&page=1";
                    payload.searchFilterView[0].BorrowerId = objBorrowerId;
                    self.$.http.post(url, payload, loanFilters).then(function (data) {
                        if (!_.isNull(data) && !_.isUndefined(data) && !_.isEmpty(data)) {
                            self.set('allLoans', data);
                            self.set('filteredLoans', data);
                            self.set("loading", true);
                            self.set("selectedLoanType", "All");
                            self.setTotal();
                            self.getSinceDate(self.allLoans);
                        }
                    }).fail(function (e) {
                        self.set("loading", true);
                        self.set("selectedLoanType", "All");
                        console.error("Borrower Loan error is ", e);
                    });
                },
                formatCurrency: function (data) {
                    return formats.money(data, window.config.country, 0);
                },
                totalOutstanding: function (pbot, PriorInt, PaymentInfo) {
                    var self = this;
                    var PIAmount = (PriorInt !== undefined && PriorInt !== null) ? PriorInt.PriorInterestAmount : 0;
                    var PPI = (PaymentInfo !== undefined && PaymentInfo !== null) ? PaymentInfo.PaidPriorInterest : 0;
                    var sum = pbot.TotalPrincipalOutStanding + pbot.TotalInterestOutstanding + pbot.TotalFeeOutstanding + pbot.AdditionalOutStandingInterest + PIAmount - PPI;
                    return self.formatCurrency(sum);
                },
                _tenure: function (Tenure, PaymentFrequency) {
                    return Tenure + " " + PaymentFrequency;
                },
                openLoanView: function (item) {
                    var self = this;
                    var data = item.currentTarget.modal;
                    window.location.hash = "/loan-details/entity:loan/filter:Loan/loanId:" + data.LoanNumber + "/product:" + data.LoanProductId + "/workflow:" + data.StatusWorkFlowId;
                    window.location.reload();
                },
                _onLoanTypeChange: function (event) {
                    var self = this;
                    var selectedValues = event.target.value;
                    if (selectedValues === "All" || selectedValues === "") {
                        self.set('filteredLoans', self.allLoans);
                    }
                    else if (selectedValues === "Active") {
                        var activeList = _.reject(self.allLoans, {
                            "StatusName": "Closed"
                        });
                        self.set('filteredLoans', activeList);
                    }
                    else if (selectedValues === "Closed") {
                        var closedList = _.filter(self.allLoans, { StatusName: "Closed" });
                        self.set('filteredLoans', closedList);
                    }
                    self.setTotal();
                },
                setTotal: function () {
                    var self = this;
                    var total = _.sumBy(self.filteredLoans, 'LoanAmount');
                    var total1 = _.sumBy(self.filteredLoans, 'PBOT.TotalPrincipalOutStanding');
                    var total2 = _.sumBy(self.filteredLoans, function (o) {
                        var PIAmount = (o.PriorInterest !== undefined && o.PriorInterest !== null) ? o.PriorInterest.PriorInterestAmount : 0;
                        var PPI = (o.PaymentInfo !== undefined && o.PaymentInfo !== null) ? o.PaymentInfo.PaidPriorInterest : 0;
                        return o.PBOT.TotalPrincipalOutStanding + o.PBOT.TotalInterestOutstanding + o.PBOT.TotalFeeOutstanding + o.PBOT.AdditionalOutStandingInterest + PIAmount - PPI;
                    });
                    self.set("loanTotal", total);
                    self.set("principalTotal", total1);
                    self.set("totalOutstandingTotal", total2);
                    self.set("maxLimit",(self.allLoans[0].BusinessMaxLimitAmount !== undefined)?self.allLoans[0].BusinessMaxLimitAmount:0);
                    self.set("totalLoanAmount",total);
                    self.set("utilisedLimit",total1);
                    self.set("unutilisedCredit",(self.maxLimit- total1));
                },
                hasData: function (objData) {
                    var self = this;
                    return (objData !== undefined && objData.length > 0) ? false : true;
                },
                _twoDecimal: function (objNumber) {
                    var self = this;
                    if (objNumber != undefined && objNumber != null && objNumber != "") {
                        return parseFloat(objNumber).toFixed(2);
                    }
                    return parseFloat(0).toFixed(2);
                },
                checkPortfolioType: function (objType) {
                    var self = this;
                    if (objType.ProductPortfolioType != "MCA" && objType.ProductPortfolioType != "MCALOC") {
                        return true;
                    }
                    return false;
                },
                onlyDate: function (date) {
                    if (!_.isNull(date) && !_.isUndefined(date) && !_.isEmpty(date)) {
                        return formats.onlyDate(date, window.config.country);
                    }
                    return "NA";
                },
                getSinceDate: function (allLoans) {
                    var self = this;
                    var firstloan = _.orderBy(allLoans, ['LoanFundedDate.Time.DateTime'], ['asc']);
                    if (firstloan !== undefined) {
                        self.set('borrowerSince', firstloan[0].LoanFundedDate.Time.DateTime);
                    }
                }
            });
        });
    </script>
</dom-module>