<dom-module id="business-info">
    <template>
        <style>
            .subheader {
                height: 1px;
                color: #03466B;
                background-color: #ddd;
            }

            .header {
                font-size: 12px;
                font-weight: 700;
                color: white;
                background-color: #03466B;
            }

            address {
                margin-bottom: 20px;
                font-style: normal;
                line-height: 1.42857143;
            }

            strong {
                display: block;
            }

            .a-map-marker {
                font-size: 14px;
            }

            .modal-dialog {
                margin: 10% auto;
                width: 700px !important;
            }

            .set-vertical-height {
                height: 450px;
                overflow-y: auto;
                overflow-x: hidden;
            }
        </style>
        <div class="row">
            <div class="col-sm-12">
                <table class="table">
                    <tr>
                        <th colspan="6" class="header">{{_displayDefaultIfNull(application.businessName)}}</th>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td colspan="5">{{_displayDefaultIfNull(application.email.emailAddress)}}</td>
                    </tr>
                    <tr>
                        <th>Address</th>
                        <td colspan="5">{{GetAddress(application.address)}}
                        </td>
                    </tr>
                    <tr>
                        <th>Phone</th>
                        <td>{{_phoneFormat(application.phone.phoneNo)}}</td>
                        <th>Business Tax Id</th>
                        <template is="dom-if" if="{{hasRole('BusinessTaxIDField')}}">
                            <td>{{_checkIfValue(application.fedTaxId)}}</td>
                        </template>
                        <template is="dom-if" if="{{!hasRole('BusinessTaxIDField')}}">
                            <td>
                                <i class="fa fa-lock" aria-hidden="true"></i>
                            </td>
                        </template>
                        <th>Established Date</th>
                        <td>{{ onlyDate(application.establishedDate.time)}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <table id="personal" class="table">
                    <tbody>
                        <template is="dom-if" if="{{!checkPortfolioType(loanData)}}">
                            <tr>
                                <th class="header" colspan="5">Personal Information</th>
                                <th class="header">
                                    <div class="pull-right">
                                        <i aria-hidden="true" title="Edit Personal Information" class="fa fa-pencil-square-o" data-arg="{{applicant.id}}" on-click="editPersonalInfo"></i>
                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <th>Name</th>
                                <td>{{ getName(applicant) }}</td>
                                <th>DOB</th>
                                <td>{{ date(applicant.pii.dob) }}</td>
                                <th>SSN</th>
                                <td>{{ _formateSSN(applicant.pii.ssn) }}</td>
                            </tr>
                            <tr>
                                <th colspan="6" class="subheader">Emails</th>
                            </tr>
                            <template is="dom-repeat" items="{{applicant.emails}}" as="email">
                                <tr>
                                    <th>Email</th>
                                    <td>{{ email.emailAddress }}</td>
                                    <th>Email Type</th>
                                    <td>{{ email.emailType}}</td>
                                    <th>Active</th>
                                    <td>
                                        <template is="dom-if" if="{{_checkisActive(email.isActive)}}">
                                            <i class="fa fa-check" aria-hidden="true"></i>
                                        </template>
                                        <template is="dom-if" if="{{!_checkisActive(email.isActive)}}">
                                            <i class="fa fa-times" aria-hidden="true"></i>
                                        </template>
                                    </td>
                                </tr>
                            </template>
                            <tr>
                                <th colspan="6" class="subheader">Phones</th>
                            </tr>
                            <template is="dom-repeat" items="{{applicant.phones}}" as="phone">
                                <tr>
                                    <th>Phone No</th>
                                    <td>{{ _phoneFormat(phone.phoneNo) }}</td>
                                    <th>Phone Type</th>
                                    <td>{{ phone.phoneType}}</td>
                                    <th>Active</th>
                                    <td>
                                        <template is="dom-if" if="{{_checkisActive(phone.isActive)}}">
                                            <i class="fa fa-check" aria-hidden="true"></i>
                                        </template>
                                        <template is="dom-if" if="{{!_checkisActive(phone.isActive)}}">
                                            <i class="fa fa-times" aria-hidden="true"></i>
                                        </template>
                                    </td>
                                </tr>
                            </template>
                            <tr>
                                <th colspan="6" class="subheader">Addresses</th>
                            </tr>
                            <template is="dom-repeat" items="{{applicant.addresses}}" as="address">
                                <tr>
                                    <td colspan="2">{{GetAddress(address)}}</td>
                                    <th>Address Type</th>
                                    <td>{{ address.addressType}}</td>
                                    <th>Active</th>
                                    <td>
                                        <template is="dom-if" if="{{_checkisActive(address.isActive)}}">
                                            <i class="fa fa-check" aria-hidden="true"></i>
                                        </template>
                                        <template is="dom-if" if="{{!_checkisActive(address.isActive)}}">
                                            <i class="fa fa-times" aria-hidden="true"></i>
                                        </template>
                                    </td>
                                </tr>
                            </template>
                        </template>
                    </tbody>
                </table>
            </div>
        </div>
        <custom-modal id="editBorrowerModalFromBusiness" class="modal-drop" on-modal-hidden="resetPersonal">
            <div>
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title">Edit Personal Details</h4>
                        </div>
                        <div class="modal-body set-vertical-height">
                            <div id="PersonalMessageContainer"></div>
                            <edit-borrower id="personalInfo" is-primary="true" application-number="{{applicationNumber}}" applicant-detail="{{applicantDetail}}"
                                action-done="{{actionDone}}"></edit-borrower>
                        </div>
                    </div>
                </div>
            </div>
        </custom-modal>
        <auth-service id="authorizeloanbi"></auth-service>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "business-info",
                properties: {
                    actionDone: {
                        type: String,
                        notify: true,
                        reflectToAttribute: true,
                        observer: "hideModal"
                    },
                    applicationNumber: {
                        type: String,
                        notify: true,
                        reflectToAttribute: true
                    },
                    applicantDetail: {
                        type: Object,
                        notify: true,
                        reflectToAttribute: true
                    },
                    application: {
                        type: Object,
                        notify: true,
                        value: {}
                    },
                    applicant: {
                        type: Object,
                        notify: true,
                        value: {}
                    },
                    loanData: {
                        type: Object,
                        notify: true,
                        observer: "init"
                    }
                },
                date: function (date) {
                    if (!_.isNull(date) && !_.isUndefined(date) && !_.isEmpty(date)) {
                        return formats.onlyDate(date, window.config.country);
                    }
                    return "NA";
                },
                years: function (date) {
                    if (!_.isNull(date) && !_.isUndefined(date) && !_.isEmpty(date)) {
                        return formats.round(moment().diff(date, 'years', true), 1);
                    }
                    return "NA";
                },
                _checkIfValue: function (value) {
                    if (!_.isNull(value) && !_.isUndefined(value) && !_.isEmpty(value)) {
                        return value;
                    }
                    return "NA";
                },
                _getFullBusinessAddess: function (businessAddress) {
                    var address = '';
                    if (businessAddress && businessAddress != null) {
                        address = this._checkNullUndefined(businessAddress.addressLine1) + ' ' +
                            this._checkNullUndefined(businessAddress.addressLine2) + ' ' +
                            this._checkNullUndefined(businessAddress.city) + ' ' +
                            this._checkNullUndefined(businessAddress.state) + ' ' +
                            this._checkNullUndefined(businessAddress.zip);
                    }
                    else {
                        address = "NA";
                    }
                    return address;
                },
                _checkIfEmptyObject: function (obj) {
                    return Object.keys(obj).length === 0 && obj.constructor === Object;
                },
                _checkNullUndefined: function (obj) {
                    if (obj && obj != null) {
                        return obj;
                    }
                    return '';
                },
                _displayDefaultIfNull: function (obj) {
                    return obj !== null ? obj : "NA";
                },
                init: function () {
                    this._loadApplicantDetails();
                },
                _loadApplicantDetails: function () {
                    var self = this;
                    if (self.loanData != undefined) {
                        self.set('applicant', self.loanData.primaryApplicantDetails);
                        self.set('application', self.loanData.primaryBusinessDetails);
                    }
                },
                _generateGoogleMapLink: function (address) {
                    var fullAddr = this._getFullBusinessAddess(address);
                    const baseUrl = "https://maps.google.com/maps?q=";
                    var encodedAddr = encodeURIComponent(fullAddr);
                    return baseUrl + encodedAddr;
                },
                hasRole: function (compName) {
                    return this.$.authorizeloanbi.hasRole(compName);
                },
                GetAddress: function (Address) {
                    var self = this;
                    if (Address && Address != null && Address != undefined) {
                        var FinalAddress = "";
                        if (!_.isUndefined(Address.addressLine2) && !_.isNull(Address.addressLine2) && !_.isEmpty(Address.addressLine2)) {
                            FinalAddress = Address.addressLine1 + ", " + Address.addressLine2 + ", " + Address.city + ", " + Address.state + ", " + Address.zip;
                            return FinalAddress;
                        }
                        else {
                            FinalAddress = Address.addressLine1 + ", " + Address.city + ", " + Address.state + ", " + Address.zip;
                            return FinalAddress;
                        }
                    } else {
                        return "NA";
                    }
                },
                checkPortfolioType: function (objType) {
                    var self = this;
                    if (self.loanData && self.loanData.productPortfolioType != "MCA" && self.loanData.productPortfolioType != "MCALOC") {
                        return true;
                    }
                    return false;
                },
                getName: function () {
                    var self = this;
                    if (!_.isUndefined(self.applicant) && !_.isNull(self.applicant) && !_.isEmpty(self.applicant)) {
                        return self.applicant.name.salutation + " " + self.applicant.name.first + " " + self.applicant.name.middle + " " + self.applicant.name.last;
                    }
                    else
                        return "";
                },
                _Email: function (emailObj) {
                    return emailObj !== null ? emailObj : "NA";
                },
                _formateSSN: function (data) {
                    return formats.ssn(data, window.config.country);
                },
                editPersonalInfo: function (event) {
                    var self = this;
                    var applicantId = event.target.dataArg;
                    self.set("applicantDetail", self.applicant);
                    self.$$('#editBorrowerModalFromBusiness').showModal();
                },
                resetPersonal: function () {
                    var self = this;
                    self.actionDone = "";
                    self.applicantDetail = {};
                },
                hideModal: function (obj) {
                    var self = this;
                    if (obj === "Done") {
                        self.$$('#editBorrowerModalFromBusiness').hideModal();
                    }
                },
                _checkisActive: function (objIsActive) {
                    return objIsActive === true;
                },
                _phoneFormat: function (phone) {
                    return formats.phone(phone, window.config.country);
                },
                onlyDate: function (date) {
                    if (!_.isNull(date) && !_.isUndefined(date) && !_.isEmpty(date)) {
                        return formats.onlyDate(date, window.config.country);
                    }
                    return "NA";
                }
            });
        });
    </script>
</dom-module>