<dom-module id="closure-details">
    <template>
        <style>
            .header {
                font-size: 12px;
                font-weight: 700;
                color: white;
                background-color: #03466B;
            }

            address {
                margin-bottom: 20px;
                font-style: normal;
                line-height: 1.42857143;
            }

            strong {
                display: block;
            }

            .a-map-marker {
                font-size: 14px;
            }
        </style>
        <div class="row">
            <div class="col-sm-12">
                <table class="table">
                    <tr>
                        <th colspan="6" class="header">Charged Off</th>
                    </tr>
                    <tr>
                        <th>Date</th>
                        <td>{{formatMoney(chargeOffData.date)}}</td>
                        <th>Total Amount</th>
                        <td>{{ date(chargeOffData.totalAmt)}}</td>
                        <th></th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Principal</th>
                        <td>{{formatMoney(chargeOffData.principal)}}</td>
                        <th>Interest</th>
                        <td>{{formatMoney(chargeOffData.interest)}}</td>
                        <th></th>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row divideborder">
        </div>
        <div class="row">
            <div class="col-sm-12">
                <table class="table">
                    <tr>
                        <th colspan="6" class="header">Sell Off</th>
                    </tr>
                    <tr>
                        <th>Date</th>
                        <td>{{formatMoney(sellOffData.date)}}</td>
                        <th>Total Amount</th>
                        <td>{{ date(sellOffData.totalAmt)}}</td>
                        <th></th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Principal</th>
                        <td>{{formatMoney(sellOffData.principal)}}</td>
                        <th>Interest</th>
                        <td>{{formatMoney(sellOffData.interest)}}</td>
                        <th></th>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>
        <auth-service id="authorizecd"></auth-service>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "closure-details",
                properties: {
                    chargeOffData: {
                        type: Object,
                        notify: true,
                        value: {
                            date: "1/1/2017",
                            totalAmt: 7000,
                            principal: 6000,
                            interest: 100,
                            fee: 0
                        }
                    },
                    sellOffData: {
                        type: Object,
                        notify: true,
                        value: {
                            date: "1/1/2017",
                            totalAmt: 7000,
                            principal: 6000,
                            interest: 100,
                            fee: 0
                        }
                    }
                },
                date: function (date) {
                    if (!_.isNull(date) && !_.isUndefined(date) && !_.isEmpty(date)) {
                        return formats.date(date, window.config.country, false);
                    }
                    return "NA";
                },
                formatMoney: function (value) {
                    return formats.money(value, window.config.country, 0);
                }
            });
        });
    </script>
</dom-module>