<dom-module id="funding-details">
    <template>
        <style>
            .header {
                font-size: 12px;
                font-weight: 700;
                color: white;
                background-color: #03466B !important;
            }
            .headerFund {
                font-size: 12px;
                font-weight: 700;
                color: white;
                background-color: #03466B !important;
                padding: 10px 10px 10px 10px;
            }

            address {
                margin-bottom: 20px;
                font-style: normal;
                line-height: 1.42857143;
            }

            strong {
                display: block;
            }

            .a-map-marker {
                font-size: 14px;
            }

            .bank-name {
                height: 1px;
                color: #03466B;
                background-color: #ddd;
            }

            .viewMiddle {
                padding-top: 10px;
            }
            .leftpadding {
                padding-left: 10px;
                border-bottom: 1px solid #ddd;
                margin-top: 10px;
                padding-bottom: 10px;
            }

            .equal {
                display: flex;
                display: -webkit-flex;
                flex-wrap: wrap;
            }
        </style>
        <template is="dom-if" if="{{checkMultipleVersion(allScheduleVersion)}}">
            <div class="row">
                <div class="col-lg-7">
                    <vaadin-combo-box name="scheduledropdowns" value="{{selectedScheduleVersion}}" item-value-path="key"
                        item-label-path="value" items="{{allScheduleVersion}}" label="Details pertaining to Payment Schedule version"
                        prevent-invalid-input="true" on-change="_onVersionChange">
                    </vaadin-combo-box>
                </div>
                <div class="col-lg-3 viewMiddle">
                    <a on-click="_viewMoreInfo" href="javascript:">
                        View Version Details
                    </a>
                </div>
            </div>
        </template>
        <div class="row">
            <div class="col-lg-12">
                <table class="table">
                    <tr>
                        <th colspan="6" class="header">Loan Details</th>
                    </tr>
                    <template is="dom-if" if="{{CheckProduct(loanDetails.ProductPortfolioType, loanDetails)}}">
                        <tr>
                            <th>Loan Application Number</th>
                            <td>{{loanDetails.LoanApplicationNumber}}</td>
                            <th>Onboarded Date</th>
                            <td>{{date(loanDetails.OnboardedDate)}}</td>
                            <th>Borrower ID</th>
                            <td><a on-click="redirectToBorrowerView" href="javascript:" data-arg="{{loanDetails.BorrowerId}}">{{loanDetails.BorrowerId}}</a></td>
                        </tr>
                        <tr>
                            <th>Limit</th>
                            <td>{{formatMoney(loanDetails.CreditLimit)}}</td>
                            <th>Total Drawdown Amount </th>
                            <td>{{formatMoney(loanDetails.Drawdown)}}</td>
                            <th>Available for draws</th>
                            <td>{{formatMoney(loanDetails.AmountRemaining)}}</td>
                        </tr>
                        <tr>
                            <template is="dom-if" if="{{!checkPortfolioType(loanDetails)}}">
                                <th>Factor</th>
                                <td>{{_twoDecimal(loanDetails.FactorRate)}}</td>
                            </template>
                            <template is="dom-if" if="{{checkPortfolioType(loanDetails)}}">
                                <th>Interest Rate</th>
                                <td>{{_twoDecimal(loanDetails.AnnualRate)}} %</td>
                            </template>
                            <th>{{paymentTermLabel}}</th>
                            <td>{{_tenure(loanDetails)}}</td>
                            <template is="dom-if" if="{{displayAdditionalData(additionalRef,loanDetails)}}">
                                <th>Additional Ref ID</th>
                                <td>{{additionalRefference(loanDetails.AdditionalRefId)}}</td>
                            </template>
                            <template is="dom-if" if="{{!displayAdditionalData(additionalRef,loanDetails)}}">
                                <th>Borrower Limit</th>
                                <td>{{formatMoney(loanDetails.BusinessMaxLimitAmount)}}</td>
                            </template>
                        </tr>
                        <tr>
                            <th>First Scheduled Payment Date</th>
                            <td>{{onlyDate(loanDetails.FirstScheduledPaymentDate)}}</td>
                            <template is="dom-if" if="{{!isReamortized(selectedScheduleVersion)}}">
                                <th></th>
                                <td></td>
                            </template>
                            <template is="dom-if" if="{{isReamortized(selectedScheduleVersion)}}">
                                <th>Loan Funded Date</th>
                                <td>{{onlyDate(loanDetails.FundedDate)}}</td>
                            </template>
                            <th></th>
                            <td></td>
                        </tr>
                    </template>
                    <template is="dom-if" if="{{!CheckProduct(loanDetails.ProductPortfolioType, loanDetails)}}">
                        <tr>
                            <th>Loan Application Number</th>
                            <td>{{loanDetails.LoanApplicationNumber}}</td>
                            <th>Onboarded Date</th>
                            <td>{{onlyDate(loanDetails.OnboardedDate)}}</td>
                            <th>Payment Amount</th>
                            <td>{{formatMoney(currentEconomicsData.installmentAmount)}}</td>
                        </tr>
                        <tr>
                            <th>Funded Amount</th>
                            <template is="dom-if" if="{{CheckProduct(loanDetails.ProductPortfolioType, loanDetails)}}">
                                <td>{{formatMoney(loanDetails.Drawdown)}}</td>
                            </template>
                            <template is="dom-if" if="{{!CheckProduct(loanDetails.ProductPortfolioType, loanDetails)}}">
                                <td>{{formatMoney(loanDetails.FundedAmount)}}</td>
                            </template>
                            <th>Origination Fee</th>
                            <td>{{formatMoney(FeesDetails.paidAmount)}}</td>
                            <template is="dom-if" if="{{!checkPortfolioType(loanDetails)}}">
                                <th>Total Finance Charge</th>
                            </template>
                            <template is="dom-if" if="{{checkPortfolioType(loanDetails)}}">
                                <th>Total Interest Amount</th>
                            </template>
                            <td>{{formatMoney(loanDetails.InterestAmount)}}</td>
                        </tr>
                        <tr>
                            <template is="dom-if" if="{{!checkPortfolioType(loanDetails)}}">
                                <th>Factor</th>
                                <td>{{_twoDecimal(loanDetails.FactorRate)}}</td>
                            </template>
                            <template is="dom-if" if="{{checkPortfolioType(loanDetails)}}">
                                <th>Interest Rate</th>
                                <td>{{_twoDecimal(loanDetails.AnnualRate)}} %</td>
                            </template>
                            <th>{{paymentTermLabel}}</th>
                            <td>{{_tenure(loanDetails)}}</td>
                            <template is="dom-if" if="{{displayAdditionalData(additionalRef,loanDetails)}}">
                                <th>Additional Ref ID</th>
                                <td>{{additionalRefference(loanDetails.AdditionalRefId)}}</td>
                            </template>
                            <template is="dom-if" if="{{!displayAdditionalData(additionalRef,loanDetails)}}">
                                <th></th>
                                <td></td>
                            </template>
                        </tr>
                        <tr>
                            <th>Borrower ID</th>
                            <td><a on-click="redirectToBorrowerView" href="javascript:" data-arg="{{loanDetails.BorrowerId}}">{{loanDetails.BorrowerId}}</a></td>
                            <th>Borrower Limit</th>
                            <td>{{formatMoney(loanDetails.BusinessMaxLimitAmount)}}</td>
                            <th>First Scheduled Payment Date</th>
                            <td>{{onlyDate(loanDetails.FirstScheduledPaymentDate)}}</td>
                        </tr>
                        <template is="dom-if" if="{{checkSCFPortfolioType(loanDetails)}}">
                            <tr>
                                <template is="dom-if" if="{{!isReamortized(selectedScheduleVersion)}}">
                                    <th>Maturity Days</th>
                                    <td>{{loanDetails.MaturityDays}}</td>
                                    <th>Loan End Date</th>
                                    <td>{{onlyDate(loanDetails.LoanEndDate)}}</td>
                                    <th></th>
                                    <td></td>
                                </template>
                                <template is="dom-if" if="{{isReamortized(selectedScheduleVersion)}}">
                                    <th>Maturity Days</th>
                                    <td>{{loanDetails.MaturityDays}}</td>
                                    <th>Loan Funded Date</th>
                                    <td>{{onlyDate(loanDetails.FundedDate)}}</td>
                                    <th>Loan End Date</th>
                                    <td>{{onlyDate(loanDetails.LoanEndDate)}}</td>
                                </template>
                            </tr>
                        </template>
                        <template is="dom-if" if="{{isReamortized(selectedScheduleVersion)}}">
                            <tr>
                            <th>Loan Funded Date</th>
                            <td>{{onlyDate(loanDetails.FundedDate)}}</td>
                            <th></th>
                            <td></td>
                            <th></th>
                            <td></td>
                        </tr>
                        </template>
                    </template>
                    <template is="dom-if" if="{{CheckPaidOff(currentEconomicsData.payOff, currentEconomicsData)}}">
                        <tr>
                            <th>Paid Off Date</th>
                            <td>{{date(currentEconomicsData.payOff.payOffDate)}}</td>
                            <th>&nbsp;</th>
                            <td>&nbsp;</td>
                            <th>&nbsp;</th>
                            <td>&nbsp;</td>
                        </tr>
                    </template>
                    <template is="dom-if" if="{{CheckClosed(currentEconomicsData.Closed, currentEconomicsData)}}">
                        <tr>
                            <th>Closed Date</th>
                            <td>{{date(currentEconomicsData.closed.closedDate)}}</td>
                            <th>&nbsp;</th>
                            <td>&nbsp;</td>
                            <th>&nbsp;</th>
                            <td>&nbsp;</td>
                        </tr>
                    </template>
                    <tr>
                        <template is="dom-if" if="{{PauseAccrual(currentEconomicsData.accrualStop, currentEconomicsData)}}">
                            <th>Pause Accrual Date</th>
                            <td>{{onlyDate(currentEconomicsData.accrualStopDate)}}</td>
                            <th></th>
                            <td></td>
                            <th></th>
                            <td></td>
                        </template>
                        <template is="dom-if" if="{{StartAccrual(currentEconomicsData.accrualStartDate, currentEconomicsData)}}">
                            <th>Start Accrual Date</th>
                            <td>{{onlyDate(currentEconomicsData.accrualStartDate)}}</td>
                            <th></th>
                            <td></td>
                            <th></th>
                            <td></td>
                        </template>
                    </tr>
                    <tr>
                        <template is="dom-if" if="{{PausePayment(loanData.autoPayStopDate, loanData, loanData.autoPayHistory)}}">
                            <th>Auto-pay Pause Date</th>
                            <td>{{onlyDate(loanData.autoPayStopDate.time)}}</td>
                        </template>
                        <template is="dom-if" if="{{PausePayment(loanData.autoPayStartDate, loanData,loanData.autoPayHistory)}}">
                            <th>Auto-pay Resume Date</th>
                            <td>{{onlyDate(loanData.autoPayStartDate.time)}}</td>
                        </template>
                        <th></th>
                        <td></td>
                        <template is="dom-if" if="{{!PausePayment(loanData.autoPayStartDate, loanData,loanData.autoPayHistory)}}">
                            <th></th>
                            <td></td>
                        </template>
                        <template is="dom-if" if="{{!PausePayment(loanData.autoPayStopDate, loanData,loanData.autoPayHistory)}}">
                            <th></th>
                            <td></td>
                        </template>
                    </tr>
                    <tr>
                        <th colspan="6" class="header">Bank Details</th>
                    </tr>
                    <template is="dom-repeat" items="{{bankList}}" as="bank">
                        <tr>
                            <th colspan="6" class="bank-name">{{_getBankDisplayName(bank)}}</th>
                        </tr>
                        <tr>
                            <th>Holder Name</th>
                            <td>{{bank.bankHolderName}}</td>
                            <th>Account Number</th>
                            <td>{{_formateAccountNumber(bank.accountNumber)}}</td>
                            <template is="dom-if" if="{{isIFSC(bank,displayIFSCCode)}}">
                                <th>IFSC Code</th>
                            </template>
                            <template is="dom-if" if="{{!isIFSC(bank,displayIFSCCode)}}">
                                <th>Routing Number</th>
                            </template>
                            <td>{{bank.routingNumber}}</td>
                        </tr>
                        <tr>
                            <th>Account Type</th>
                            <td>{{bank.accountType}}</td>
                            <th>Payment Instrument Type</th>
                            <td>{{GetInstrumentType(bank, loanData)}}</td>
                            <th>Primary</th>
                            <td>
                                <template is="dom-if" if="{{_checkIfPrimaryBank(bank.isActive)}}">
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                </template>
                                <template is="dom-if" if="{{!_checkIfPrimaryBank(bank.isActive)}}">
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                </template>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="6"></td>
                        </tr>
                    </template>

                </table>

            </div>
        </div>
        <template is="dom-if" if="{{isVisible(isFunderInformationVisible)}}">
            <div class="col-lg-12 headerFund">
                Funder Information
            </div>
            <div class="row">
                <div class="col-lg-12 equal">
                    <template is="dom-repeat" items="{{funderInfoList}}" as="funderInfo">
                        <template is="dom-if" if="{{checkValue(funderInfo.Value)}}">
                            <div class="col-sm-2 leftpadding">
                                <b>{{funderInfo.DisplayName}}</b>
                            </div>
                            <div class="col-sm-2 leftpadding">
                                {{funderInfo.Value}}
                            </div>
                        </template>
                    </template>
                </div>
            </div>
        </template>
        <div id="scheduleVersiobDetails" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Schedule Version Details</h4>
                    </div>
                    <div class="modal-body">

                        <template is="dom-repeat" items="{{modScheduleList}}" as="schedule">
                            <table class="table table-striped" id="scheduleDetailsTable" style="width:100%;">
                                <tr>
                                    <th colspan="6" class="header">{{schedule.scheduleVersionNo}}</th>
                                </tr>
                                <tr>
                                    <th>Version Date</th>
                                    <td>{{date(schedule.scheduleVersionDate.time)}}</td>
                                    <th>Funded Amount</th>
                                    <td>{{formatMoney(schedule.fundedAmount)}}</td>
                                    <th>Funded Date</th>
                                    <td>{{date(schedule.fundedDate.time)}}</td>
                                </tr>
                                <tr>
                                    <template is="dom-if" if="{{!checkPortfolioType(loanDetails)}}">
                                        <th>Factor</th>
                                        <td>{{_twoDecimal(schedule.factorRate)}}</td>
                                    </template>
                                    <template is="dom-if" if="{{checkPortfolioType(loanDetails)}}">
                                        <th>Interest Rate</th>
                                        <td>{{_twoDecimal(schedule.annualRate)}} %</td>
                                    </template>
                                    <th>Notes</th>
                                    <td colspan="3">{{schedule.scheduleNotes}}</td>
                                </tr>
                                <tr>
                                    <th>Reason for creation</th>
                                    <td colspan="5">{{schedule.scheduledCreatedReason}}</td>
                                </tr>
                            </table>
                        </template>

                    </div>
                </div>
            </div>
        </div>
        <url-parser id="urlloanfd"></url-parser>
        <http-request id="httploanfd"></http-request>
        <auth-service id="authorizeloanfd"></auth-service>
        <session-manager id="sessionloanfd"></session-manager>
        <alloy-config id="config"></alloy-config>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "funding-details",
                properties: {
                    additionalRef: {
                        type: Boolean,
                        notify: true,
                        value: false
                    },
                    funderInfoList: {
                        type: Array,
                        notify: true
                    },
                    achData: {
                        type: Object,
                        notify: true
                    },
                    isFunderInformationVisible: {
                        type: Boolean,
                        notify: true,
                        value: false
                    },
                    selectedScheduleVersion: {
                        type: String,
                        notify: true
                    },
                    allScheduleVersion: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    currentSchedule: {
                        type: Object,
                        notify: true,
                        reflectToAttribute: true
                    },
                    currentEconomicsData: {
                        type: Object,
                        notify: true,
                        observer: 'init'
                    },
                    loanData: {
                        type: Object,
                        notify: true
                    },
                    loanDetails: {
                        type: Object,
                        notify: true,
                        reflectToAttribute: true
                    },
                    FeesDetails: {
                        type: Object,
                        notify: true
                    },
                    bankList: {
                        type: Array,
                        notify: true
                    },
                    totalInterest: {
                        type: String,
                        notify: true
                    },
                    scheduleList: {
                        type: Array,
                        notify: true,
                        observer: 'loadScheduleList'
                    },
                    modScheduleList: {
                        type: Array,
                        notify: true,
                        reflectToAttribute: true
                    },
                    paymentTermLabel: {
                        type: String,
                        notify: true,
                        reflectToAttribute: true,
                        value: 'Tenure'
                    },
                    displayIFSCCode: {
                        type: Boolean,
                        notify: true,
                        value: false
                    }
                },
                init: function () {
                    this.processScheduleData();
                },
                ready: function () {
                    this.getConfig();
                    this.getPaymentTerm();
                    this.loadACH();
                },
                getConfig: function () {
                    var additionalRef = this.$.config.getConfigurationBasedOnKey("isAdditionalRefVisible");
                    var isFunderInfoVisible = this.$.config.getConfigurationBasedOnKey("isFunderInfoVisible");
                    var displayIFSCCode = this.$.config.getConfigurationBasedOnKey("displayIFSCCode");
                    if (displayIFSCCode !== undefined && displayIFSCCode !== null && displayIFSCCode !== "") {
                        this.set('displayIFSCCode', displayIFSCCode);
                    }
                    if (isFunderInfoVisible !== undefined && isFunderInfoVisible !== null && isFunderInfoVisible !== "") {
                        this.set('isFunderInformationVisible', isFunderInfoVisible);
                    }
                    if (additionalRef !== undefined && additionalRef !== null && additionalRef !== "") {
                        this.set('additionalRef', additionalRef);
                    }

                },
                getPaymentTerm: function () {
                    var paymentTerm = this.$.config.getConfigurationBasedOnKey("payment-term");
                    if (paymentTerm !== undefined && paymentTerm !== null && paymentTerm !== "") {
                        this.set('paymentTermLabel', paymentTerm);
                    }
                },
                _onVersionChange: function (event) {
                    var self = this;
                    var selectedValues = event.target.value;
                    var params = self.$.urlloanfd.getParams();
                    var loanNumber = params.loanId;
                    if (params.loanId === undefined || params.loanId === null || params.loanId === "") {
                        loanNumber = self.applicationNumber;
                    }
                    self.GetScheduleData(selectedValues, loanNumber);
                },
                GetScheduleData: function (objversion, applicationNumber) {
                    var self = this;
                    var Url = "/" + applicationNumber + "/schedule/" + objversion;
                    self.$.httploanfd.get(Url, window.config.services.lmsService, true).then(function (data) {
                        if (data) {
                            self.set('currentSchedule', data);
                            self.processScheduleData();
                        }
                    }).fail(function (e) {
                        console.error("loan Current Schedule is ", e);
                    });
                },
                GetInstrumentType: function (obj) {
                    var self = this;
                    if (self.loanData) {
                        var Instrument = _.find(self.loanData.paymentInstruments, ["id", obj.paymentInstrumentId]);
                        if (Instrument != undefined && Instrument != null && Instrument != "") {
                            var AchForIndia = self.$.config.getConfigurationBasedOnKey("AchForIndia");
                            if (AchForIndia !== undefined && AchForIndia !== null && AchForIndia !== "" && Instrument.paymentInstrumentType === "Ach") {
                                return AchForIndia;
                            }
                            else {
                                return Instrument.paymentInstrumentType.toUpperCase();
                            }
                        }
                    }
                    return "";
                },
                processScheduleData: function () {
                    var self = this;
                    if (self.loanData && self.currentSchedule && self.currentEconomicsData) {
                        self.totalInterest = _.sumBy(self.currentSchedule.scheduleDetails, function (sch) {
                            if (sch.isMissed === false) {
                                return sch.interestAmount;
                            }
                        });
                        self.CalculateInterest(self.currentSchedule, self.totalInterest);
                        //TODO fix this its calling even before loan detail data
                        self.GetFees();
                        self.getFundingDetails(self.loanData.funderId);
                    }
                },
                loadScheduleList: function () {
                    var self = this;
                    var params = this.$.urlloanfd.getParams();
                    var updatedList = _.transform(self.scheduleList, function (result, item) {
                        if (item.modStatus === "None" || item.modStatus === "Active") {
                            result.push({ key: item.scheduleVersionNo, value: item.scheduleVersionNo });
                        }
                    }, []);
                    self.set('allScheduleVersion', updatedList);
                    var currentSchedule = _.find(self.scheduleList, ["isCurrent", true]);
                    if (currentSchedule) {
                        self.set('selectedScheduleVersion', currentSchedule.scheduleVersionNo);
                    }
                    self.set('modScheduleList', _.orderBy(self.scheduleList, ['scheduleVersionDate.time'], ['desc']));
                },
                GetFees: function () {
                    var self = this;
                    var Url = "/" + self.applicationNumber + "/fees";
                    var loanDetailOriginationFeeKey = self.$.config.getConfigurationBasedOnKey("loanDetailOriginationFeeKey");
                    self.$.httploanfd.get(Url, window.config.services.accountingService).then(function (data) {
                        if (data) {

                            var filteredList = _.filter(data, function (item) {
                                return loanDetailOriginationFeeKey.indexOf(item.feeName) !== -1;
                            });
                            var feeAmount = _.sumBy(filteredList, 'feeAmount');
                            var OrigiFee = {};
                            if (feeAmount !== undefined) {
                                OrigiFee.paidAmount = feeAmount;
                                self.set('FeesDetails', OrigiFee);
                            }
                            else {

                                OrigiFee.paidAmount = 0;
                                self.set('FeesDetails', OrigiFee);
                            }
                        }
                    }).fail(function (e) {
                        console.error("load config error is ", e);
                    });
                },
                CalculateInterest: function (data, TotalInterest) {
                    var self = this;
                    var currentSchedule = data;
                    var TotalDrawdown = self.GetTotalDrawdown();
                    var firstScheduledPaymentDate = _.orderBy(currentSchedule.scheduleDetails, ['originalScheduleDate'], ['asc'])
                    var _loanDetails = {
                        ProductPortfolioType: self.loanData.productPortfolioType,
                        LoanNumber: currentSchedule.loanNumber + "-" + currentSchedule.scheduleVersionNo,
                        OnboardedDate: self.loanData.loanOnboardedDate.time,
                        LoanAmount: currentSchedule.loanAmount,
                        AnnualRate: currentSchedule.annualRate,
                        FactorRate: currentSchedule.factorRate,
                        PaymentTerm: currentSchedule.tenure,
                        PaymentFrequency: currentSchedule.paymentFrequency,
                        InterestAmount: TotalInterest,
                        LoanApplicationNumber: self.loanData.loanApplicationNumber,
                        Drawdown: TotalDrawdown,
                        AmountRemaining: currentSchedule.creditLimit - self.currentEconomicsData.pbot.totalPrincipalOutStanding,
                        LoanCurrency: self.loanData.currency,
                        FundedDate: currentSchedule.fundedDate.time,
                        FundedAmount: currentSchedule.fundedAmount,
                        CreditLimit: currentSchedule.creditLimit,
                        AdditionalRefId: self.loanData.additionalRefId,
                        BusinessMaxLimitAmount: (self.loanData.primaryBusinessDetails !== undefined && self.loanData.primaryBusinessDetails.businessMaxLimitAmount !== undefined && self.loanData.primaryBusinessDetails.businessMaxLimitAmount !== null && self.loanData.primaryBusinessDetails.businessMaxLimitAmount !== "") ? self.loanData.primaryBusinessDetails.businessMaxLimitAmount : "0.00",
                        BorrowerId: (self.loanData.borrowerId !== undefined && self.loanData.borrowerId !== null && self.loanData.borrowerId !== "") ? self.loanData.borrowerId : "NA",
                        LoanEndDate: self.loanData.loanEndDate.time,
                        MaturityDays: currentSchedule.maturityDays,
                        FirstScheduledPaymentDate: firstScheduledPaymentDate[0].originalScheduleDate
                    };
                    self.set("loanDetails", _loanDetails);
                },
                GetTotalDrawdown: function () {
                    var self = this;
                    var TotalDrawdown = 0;
                    if (self.loanData.drawDownDetails != undefined) {
                        TotalDrawdown = _.sumBy(self.loanData.drawDownDetails, 'loanAmount');
                    }
                    return TotalDrawdown;
                },
                formatMoney: function (value) {
                    return formats.money(value, window.config.country, 0);
                },
                date: function (date) {
                    if (!_.isNull(date) && !_.isUndefined(date) && !_.isEmpty(date)) {
                        return formats.date(date, window.config.country, false);
                    }
                    return "NA";
                },
                onlyDate: function (date) {
                    if (!_.isNull(date) && !_.isUndefined(date) && !_.isEmpty(date)) {
                        return formats.onlyDate(date, window.config.country);
                    }
                    return "NA";
                },
                checkPortfolioType: function (objType) {
                    var self = this;
                    if (self.loanDetails.ProductPortfolioType != "MCA" && self.loanData.productPortfolioType != "MCALOC") {
                        return true;
                    }
                    return false;
                },
                checkSCFPortfolioType: function (objType) {
                    var self = this;
                    if (self.loanDetails.ProductPortfolioType === "SCF") {
                        return true;
                    }
                    return false;
                },
                CheckProduct: function (objType, objloandata) {
                    if (objType != undefined && (objType === "LineOfCredit" || objType === "MCALOC")) {
                        return true;
                    }
                    return false;
                },
                CheckCurrency: function (objCurrency) {
                    if (objCurrency === "Dollar") {
                        return true;
                    }
                    else {
                        return false;
                    }
                },
                CheckPaidOff: function (obj) {
                    if (!_.isNull(obj) && !_.isUndefined(obj) && !_.isEmpty(obj)) {
                        return true;
                    }
                    else {
                        return false;
                    }
                },
                CheckClosed: function (obj) {
                    if (!_.isNull(obj) && !_.isUndefined(obj) && !_.isEmpty(obj)) {
                        return true;
                    }
                    else {
                        return false;
                    }
                },
                PauseAccrual: function (obj) {
                    if (obj != undefined && obj === true) {
                        return true;
                    }
                    else {
                        return false;
                    }
                },
                StartAccrual: function (obj) {
                    if (obj != undefined && obj === true) {
                        return true;
                    }
                    else {
                        return false;
                    }
                },
                PausePayment: function (obj, loanData, history) {
                    if (loanData != undefined && obj !== undefined && obj !== null && obj !== "" && history !== null && history.length > 0) {
                        return true;
                    }
                    else {
                        return false;
                    }
                },
                _checkIfPrimaryBank: function (objIsPaid) {
                    return objIsPaid === true;
                },
                _getBankDisplayName: function (bank) {
                    var self = this;
                    return bank.name + "-" + self._formateAccountNumber(bank.accountNumber);
                },
                _formateAccountNumber: function (data) {
                    return formats.accountNumber(data, window.config.country);
                },
                _tenure: function (objLoanData) {
                    return objLoanData.PaymentTerm + " " + objLoanData.PaymentFrequency;
                },
                _twoDecimal: function (objNumber) {
                    var self = this;
                    if (objNumber != undefined && objNumber != null && objNumber != "") {
                        return parseFloat(objNumber).toFixed(2);
                    }
                    return parseFloat(0).toFixed(2);
                },
                _viewMoreInfo: function (event) {
                    $('#scheduleVersiobDetails').modal('show');
                },
                checkMultipleVersion: function (allScheduleVersion) {
                    var self = this;
                    return (allScheduleVersion.length > 1) ? true : false;
                },
                isIFSC: function (objBank, displayIFSCCode) {
                    var self = this;
                    return (displayIFSCCode === true) ? true : false;
                },
                isVisible: function (isFunderInformationVisible) {
                    return (isFunderInformationVisible === true) ? true : false;
                },
                loadACH: function () {
                    var self = this;
                    if (self.isFunderInformationVisible === true) {
                        self.$.httploanfd.get("configuration/ach", "").then(function (result) {
                            self.set("achData", result);
                        }).fail(function (e) {
                            console.error("not able to load ach configurations.", e);
                        });
                    }
                },
                getDataFromPathWithSourceData: function (data, dataPath) {
                    var keyArray = dataPath.split(".");
                    var dataVal = data;
                    keyArray.forEach(function (key) {
                        if (dataVal != undefined && key != "") {
                            dataVal = dataVal[key];
                            if (Array.isArray(dataVal)) {
                                dataVal = dataVal[0];
                            }
                        }
                    });
                    return dataVal;
                },
                getDataFromArrayPathWithSourceData: function (data, dataPath) {
                    var result = "";
                    var keyArray = dataPath.split(".");
                    var dataVal = data[keyArray[0]];
                    var objData = _.find(dataVal, ['Type', keyArray[1]]);
                    if (dataVal !== undefined && dataVal.length > 0 && objData !== undefined) {
                        result = objData.Value;
                    }
                    return result;
                },
                getFundingDetails: function (funderId) {
                    var self = this;
                    if (self.achData !== undefined && self.achData !== null && funderId !== undefined && funderId !== null) {
                        var objFunderSource = _.cloneDeep(self.achData.fundingSources);
                        var objData = _.find(objFunderSource, ['id', funderId]);
                        if (objData !== undefined && objData !== null && objData !== "") {
                            var FunderInfo = this.$.config.getConfigurationBasedOnKey("FunderInfoOnLoanDetail");
                            FunderInfo.forEach(function (data) {
                                if (data.Type === "Array") {
                                    _.extend(data, {
                                        Value: (data.format !== undefined) ? self[data.format](self.getDataFromArrayPathWithSourceData(objData, data.Key)) : self.getDataFromArrayPathWithSourceData(objData, data.Key)
                                    });
                                }
                                else {
                                    _.extend(data, {
                                        Value: (data.format !== undefined) ? self[data.format](self.getDataFromPathWithSourceData(objData, data.Key)) : self.getDataFromPathWithSourceData(objData, data.Key)
                                    });
                                }
                            });
                            self.set("funderInfoList", FunderInfo);
                        }
                    }
                },
                checkValue: function (objData) {
                    var self = this;
                    return (objData !== undefined && objData !== null && objData !== "") ? true : false;
                },
                additionalRefference: function (objId) {
                    var self = this;
                    return (objId !== undefined && objId !== null && objId !== "") ? objId : "NA";
                },
                displayAdditionalData: function (objAdditionalRef, loanDetails) {
                    var self = this;
                    return (objAdditionalRef !== undefined && objAdditionalRef !== null && objAdditionalRef !== "" && objAdditionalRef === true) ? true : false;
                },
                checkTermPortfolioType: function (obj) {
                    var self = this;
                    if (self.loanDetails.ProductPortfolioType === "Installment") {
                        return true;
                    }
                    return false;
                },
                redirectToBorrowerView: function (event) {
                    var self = this;
                    var BorrowerId = event.target.dataArg;
                    window.location.hash = "/borrower-details/entity:loan/filter:Borrower/loanId:" + self.applicationNumber + "/BorrowerId:" + BorrowerId + "/LoanType:" + self.loanData.productCategory;
                },
                isReamortized:function(selectedScheduleVersion)
                {
                    var self =this;
                    var currentSchedule ="";
                    if(selectedScheduleVersion !== undefined && selectedScheduleVersion !== "")
                    {
                        currentSchedule = _.find(self.scheduleList, ["scheduleVersionNo", selectedScheduleVersion]);
                    }
                    else
                    {
                        currentSchedule = _.find(self.scheduleList, ["isCurrent", true]);
                    }
                    if(currentSchedule.scheduledCreatedReason==="Reamortized")
                    {
                        return false;
                    }
                    return true;
                }
            });
        });
    </script>
</dom-module>