<html-import html-href="loaders/sk-wave.html"></html-import>
<dom-module id="invoice-details">
    <template>
        <spinkit-wave hidden$="{{loading}}"></spinkit-wave>
        <div id="InvoiceMessageContainer"></div>
        <div class="row">
            <div class="col-lg-12" id="invoiceDetailsContainer">
                <table id="invoiceDetailsTable" class="table table-striped" width="100%" cellspacing="0">
                </table>
            </div>
        </div>
        <url-parser id="urlInvoice"></url-parser>
        <alloy-config id="configInvoice"></alloy-config>
        <message-component id="messageInvoice"></message-component>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "invoice-details",
                properties: {
                    loanData: {
                        type: Object,
                        notify: true,
                        reflectToAttribute: true
                    },
                    tableObj: {
                        type: Object,
                        notify: false
                    },
                    columnObj: {
                        type: Object,
                        notify: true
                    },
                    invoiceDetailsData: {
                        type: Array,
                        notify: true,
                        value: [],
                        reflectToAttribute: true
                    },
                    currentEntityName: {
                        type: String,
                        notify: true,
                        value: 'loan'
                    },
                    loading: {
                        type: Boolean,
                        notify: true,
                        value: false,
                        reflectToAttribute: true
                    },
                    applicationNumber: {
                        type: String,
                        notify: true,
                        reflectToAttribute: true
                    }
                },
                init: function () {
                    var self = this;
                    var params = self.$.urlInvoice.getParams();
                    if (params.hasOwnProperty('entity')) {
                        self.set('currentEntityName', params.entity);
                    }
                    self.loadInvoiceDetail();
                },
                loadInvoiceDetail: function () {
                    var self = this;
                    var params = self.$.urlInvoice.getParams();
                    var dataConfig = self.$.configInvoice.getConfigurationBasedOnKey("filters");
                    var invoiceDetails = _.cloneDeep(dataConfig["InvoiceDetails"]);
                    var columnLength = invoiceDetails.columns.length;
                    for (var i = 0; i < columnLength; i++) {
                        if (invoiceDetails.columns[i].render != undefined) {
                            var render = invoiceDetails.columns[i].render;
                            if (invoiceDetails.columns[i].isFunction) {
                                invoiceDetails.columns[i].render = eval("(" + render + ")");
                            }
                            else {
                                invoiceDetails.columns[i].render = eval(render);
                            }
                        }
                    }
                    self.set("columnObj", invoiceDetails);
                    self.set('loading', true);
                    if (self.loanData !== undefined && self.loanData !== null && self.loanData.invoiceDetails !== undefined && self.loanData.invoiceDetails !== null) {
                        var orderedData = self.loanData.invoiceDetails;
                        self.set("invoiceDetailsData", orderedData);
                        self._generateTable(self.invoiceDetailsData);
                    }
                    else {
                        self._generateTable([]);
                    }


                },
                _generateTable: function (invoiceDetailsData) {
                    var self = this, table;
                    table = self.tableObj;
                    if (table !== null && table !== undefined) {
                        table.clear();
                        table.destroy(true);
                        $('#invoiceDetailsContainer').append($('<table/>').attr('id', 'invoiceDetailsTable').css('width', '100%').addClass('table table-striped'));
                    }
                    $.fn.dataTable.ext.errMode = 'none';
                    table = self.tableObj = $(self.$$('#invoiceDetailsTable')).DataTable({
                        dom: "<'row'<'col-sm-12'tr>>" +
                            "<'row'<'col-sm-5'i><'col-sm-7'p>>",
                        data: invoiceDetailsData,
                        columns: self.columnObj.columns,
                        columnDefs: self.columnObj.columnDefs,
                        order: self.columnObj.order,
                        language: {
                            lengthMenu: "show_MENU_",
                            zeroRecords: "No Data found.",
                            info: "Showing _START_ to _END_ of _TOTAL_ Invoice",
                            infoEmpty: "No Invoice available",
                            infoFiltered: "(filtered from _MAX_ total Invoice)"
                        }
                    });
                },
                formatCurrency: function (data) {
                    return formats.money(data, window.config.country, 0);
                }
            });
        });
    </script>
</dom-module>