<dom-module id="loan-mod-view">
    <template>
        <style>
            .header {
                font-size: 12px;
                font-weight: 700;
                color: white;
                background-color: #03466B;
            }
        </style>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-12">
                    <table class="table">
                        <tr>
                            <th colspan="6" class="header">Loan Mod Details</th>
                        </tr>
                        <tr>
                            <th>Mod Reason</th>
                            <td>{{currentSchedule.modReason}}</td>
                            <th>Mod Status</th>
                            <td>{{currentSchedule.modStatus}}</td>
                            <th>Payment Failure</th>
                            <td>{{currentSchedule.paymentFailure}}</td>
                        </tr>
                        <tr>
                            <th>Collection Stage</th>
                            <td>{{currentSchedule.collectionStage}}</td>
                            <th>Schedule Create Reason</th>
                            <td colspan="3">{{currentSchedule.scheduledCreatedReason}}</td>
                        </tr>
                        <tr>
                            <th>Remainder Principal</th>
                            <td>{{formatMoney(currentSchedule.remainderDetails.remainderPrincipal)}}</td>
                            <th>Remainder Interest</th>
                            <td>{{formatMoney(currentSchedule.remainderDetails.remainderInterest)}}</td>
                            <th>Remainder Fees</th>
                            <td>{{formatMoney(currentSchedule.remainderDetails.remainderFee)}}</td>
                        </tr>
                        <tr>
                            <th>Remainder Total</th>
                            <td>{{currentSchedule.remainderDetails.remainderAmount}}</td>
                            <th>As of Date</th>
                            <td>{{formatDate(currentSchedule.remainderDetails.asOfDate)}}</td>
                            <th></th>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "loan-mod-view",
                properties: {
                    currentSchedule: {
                        type: Object,
                        notify: true
                    }
                },
                init: function () {
                    var self = this;
                    var vv = self.currentSchedule;
                },
                formatMoney: function (value) {
                    return formats.money(value, window.config.country, 0);
                },
                formatDate: function (date) {
                    if (!_.isNull(date) && !_.isUndefined(date) && !_.isEmpty(date)) {
                        return formats.date(date, window.config.country, false);
                    }
                    return "NA";
                }
            });
        });
    </script>
</dom-module>