<dom-module id="owners-info">
    <template>
        <style>
            .header {
                font-size: 12px;
                font-weight: 700;
                color: white;
                background-color: #03466B;
            }

            address {
                margin-bottom: 20px;
                font-style: normal;
                line-height: 1.42857143;
            }

            strong {
                display: block;
            }
        </style>
        <div class="row">
            <div class="col-sm-12">
                <table class="table">
                    <tbody>
                        <template is="dom-repeat" items="{{owners}}" as="owner">
                            <tr>
                                <th colspan="6" class="header">{{_getOwnerFullName(owner)}}</th>
                            </tr>
                            <tr>
                                <th>Address</th>
                                <td>{{_getOwnerAddress(owner)}}</td>
                                <th>Phone</th>
                                <td>{{_getOwnerPhone(owner)}}</td>
                                <th>Email</th>
                                <td>{{owner.email}}</td>
                            </tr>
                        </template>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row divideborder">
        </div>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "owners-info",
                properties: {
                    owners: {
                        type: Array,
                        notify: true,
                        value: []
                    }
                },
                _formateSSN: function (data) {
                    return formats.ssn(data, window.config.country);
                },
                _getOwnerPhone: function (owner) {
                    var self = this;
                    if (owner) {
                        var phone = owner.PhoneNumbers[0].Phone;
                        return formats.phone(phone, window.config.country);
                    }
                    return "NA";
                },
                _getOwnerAddress: function (owner) {
                    var address = '';
                    if (owner && owner != null && owner.Addresses && owner.Addresses != null &&
                        owner.Addresses.length > 0) {
                        var ownerAddress = owner.Addresses[0];
                        address = this._checkNullUndefined(ownerAddress.AddressLine1) + ' ' + this._checkNullUndefined(
                            ownerAddress.AddressLine2) + ' ' +
                            this._checkNullUndefined(ownerAddress.City) + ' ' +
                            this._checkNullUndefined(ownerAddress.State) + ' ' +
                            this._checkNullUndefined(ownerAddress.PinCode);
                    } else {
                        "NA"
                    }
                    return address;
                },
                _getOwnerFullName: function (owner) {
                    if (owner) {
                        return owner.FirstName + " " + owner.LastName;
                    }
                },
                _checkIfEmptyObject: function (obj) {
                    return Object.keys(obj).length === 0 && obj.constructor === Object;
                },
                _checkNullUndefined: function (obj) {
                    if (obj && obj != null) {
                        return obj;
                    }
                    return '';
                },
                _formatDate: function (date) {
                    if (!_.isNull(date) && !_.isUndefined(date) && !_.isEmpty(date))
                        return formats.date(date, window.config.country, false);
                    return "NA";
                },
                init: function () {
                    var self = this;
                    return function () {
                        self._loadDataAttributes();
                    }
                },
                ready: function () {
                    var self = this;
                    if (window.jQuery) {
                        self.init()();
                    } else {
                        window.addEventListener("WebComponentsReady", self.init());
                    }
                },
                _loadDataAttributes: function () {
                    var self = this;
                    var data = {
                        "businessApplicantName": "Peter Busby",
                        "sICCode": "4321",
                        "dBA": "JackRabbit",
                        "dUNSNumber": null,
                        "nAICCode": null,
                        "applicationDate": null,
                        "contactFirstName": "Peter",
                        "contactLastName": "Busby",
                        "contactMiddleName": null,
                        "applicantBankIsDefault": null,
                        "applicantBankIsVerified": null,
                        "applicantBankVerifiedDate": null,
                        "applicantBankAccountHolderName": null,
                        "applicantBankAccountNumber": null,
                        "applicantBankAccountType": null,
                        "applicantBankId": null,
                        "applicantBankName": null,
                        "applicantBankRoutingNumber": null,
                        "applicantBankVerifiedBy": null,
                        "applicantPhone": "8888888888",
                        "loanTimeFrame": {
                            "Time": "0001-01-01",
                            "Hour": "0001-01-01-00-h",
                            "Day": "0001-01-01-d",
                            "Week": "0001-01-w",
                            "Month": "0001-01-m",
                            "Quarter": "0001-1-q",
                            "Year": "0001-y"
                        },
                        "submitted": null,
                        "productId": null,
                        "requestedTermType": null,
                        "applicationId": "59a7d35fb16ba300065de7e4",
                        "applicationNumber": "CA0003055",
                        "requestedAmount": 500000,
                        "requestedTermValue": 0,
                        "purposeOfLoan": "9",
                        "decisionDate": null,
                        "expiryDate": null,
                        "businessAddress": {
                            "AddressId": "e838b459fb1b47cd83d0a3dd530461c6",
                            "AddressLine1": "JackRabbit",
                            "AddressLine2": null,
                            "AddressLine3": null,
                            "AddressLine4": null,
                            "LandMark": null,
                            "LocationType": 0,
                            "City": "Irvine",
                            "State": "CA",
                            "ZipCode": "32204",
                            "Country": null,
                            "AddressType": "Business",
                            "IsDefault": true
                        },
                        "socialLinks": null,
                        "businessFax": null,
                        "businessWebsite": null,
                        "businessStartDate": {
                            "Time": "1961-11-14",
                            "Hour": "1961-11-14-18-h",
                            "Day": "1961-11-14-d",
                            "Week": "1961-46-w",
                            "Month": "1961-11-m",
                            "Quarter": "1961-4-q",
                            "Year": "1961-y"
                        },
                        "businessTaxID": "2936237",
                        "legalBusinessName": "JackRabbit",
                        "businessType": "2",
                        "applicantWorkEmail": "jkjkj23jkj213jkj@dasd.dsad",
                        "sourceId": "3",
                        "sourceType": "3",
                        "statusHistory": null,
                        "owners": [{
                            "OwnerId": "d7a7836b017844409da96785dd26e0d9",
                            "FirstName": "Peter",
                            "LastName": "Busby",
                            "SSN": "388609775",
                            "DOB": "1966-11-17T18:30:00Z",
                            "OwnershipType": "Limited",
                            "OwnershipPercentage": "80",
                            "Designation": null,
                            "EmailAddresses": [{
                                "Id": "1092e6b785004d24bca9f99fec38572e",
                                "Email": "ioiidjkashd7238@sdk.dasd",
                                "EmailType": 0,
                                "IsDefault": false
                            }],
                            "PhoneNumbers": [{
                                "PhoneId": "b0183ea6adc14e8d8afe16d95af73f23",
                                "Phone": "6466047098",
                                "CountryCode": null,
                                "PhoneType": 0,
                                "IsDefault": false
                            }],
                            "Addresses": [{
                                "AddressId": "1510972d8c574af29bc85257b6d7bda2",
                                "AddressLine1": "1255 Lexington Ave",
                                "AddressLine2": null,
                                "AddressLine3": null,
                                "AddressLine4": null,
                                "LandMark": null,
                                "LocationType": 0,
                                "City": "New York",
                                "State": "CA",
                                "ZipCode": "10028",
                                "Country": null,
                                "AddressType": 0,
                                "IsDefault": false
                            }],
                            "IsPrimary": true
                        }],
                        "businessPhone": "8888888888",
                        "annualRevenue": 1000000,
                        "averageBankBalance": 300000,
                        "haveExistingLoan": true,
                        "propertyType": "2",
                        "industry": "3"
                    };
                    if (!self._checkIfEmptyObject(data)) {
                        self.set('owners', data.owners);
                    }
                }
            });
        });
    </script>
</dom-module>