<html-import html-href="loaders/sk-wave.html"></html-import>
<dom-module id="payment-schedule">
    <template>
        <style>
            .custom-input {
                --paper-input-container-input: {
                    font-size: 11px;
                }

                --paper-input-container-label: {
                    font-size: 12px;
                }
            }

            .dt-body-right {
                text-align: right !important;
            }

            dt.dt-body-center {
                text-align: center !important;
            }

            .header {
                font-size: 12px;
                font-weight: 700;
                color: white;
                background-color: #03466B !important;
            }

            th.h-center-c-left {
                text-align: center !important;
            }

            td.h-center-c-left {
                text-align: left !important;
            }

            th.h-right-c-right {
                text-align: right !important;
            }

            td.h-right-c-right {
                text-align: right !important;
            }

            th.h-center-c-center {
                text-align: center !important;
            }

            td.h-center-c-center {
                text-align: center !important;
            }

            th.h-center-c-right {
                text-align: center !important;
            }

            td.h-center-c-right {
                text-align: right !important;
            }
        </style>
        <div>
            <spinkit-wave hidden$="{{loadding}}"></spinkit-wave>
            <template is="dom-if" if="{{checkMultipleVersion(allScheduleVersion)}}">
                <div class="row">
                    <div class="col-lg-3">
                        <vaadin-combo-box name="scheduledropdowns" value="{{selectedScheduleVersion}}"
                            item-value-path="key" item-label-path="value" items="{{allScheduleVersion}}"
                            label="Select Schedule" prevent-invalid-input="true" on-change="_onVersionChange">
                        </vaadin-combo-box>
                    </div>
                    <div class="col-lg-3">
                        <a on-click="_listOfHolidays" href="javascript:">
                            List of Holidays
                        </a>
                    </div>
                </div>
            </template>
            <template is="dom-if" if="{{!checkMultipleVersion(allScheduleVersion)}}">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="pull-right" style="padding-bottom:5px !important;">
                            <a on-click="_listOfHolidays" href="javascript:">
                                List of Holidays
                            </a>
                        </div>
                    </div>
                </div>
            </template>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table">
                        <tr>
                            <th colspan="6" class="header">Schedule</th>
                        </tr>
                        <tr>
                            <td colspan="6">
                                <table id="queueSchedule" class="table table-striped" width="100%" cellspacing="0">
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <!-- <div class="row" id="divMissedPayment">
                <div class="col-sm-12">
                    <table class="table">
                        <tr>
                            <th colspan="6" class="header">Missed Schedule</th>
                        </tr>
                        <tr>
                            <td colspan="6">
                                <table id="queueMissedSchedule" class="table table-striped" width="100%"
                                    cellspacing="0"></table>
                            </td>
                        </tr>
                    </table>
                </div>
            </div> -->
            <div id="paymentDetailsDialog" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title docSubject">Payment Details</h4>
                        </div>
                        <div class="modal-body">
                            <table class="table table-striped" id="schedulesVisePaymentTable">
                                <thead>
                                    <tr>
                                        <th class="h-center-c-center">Paid Date</th>
                                        <th class="h-center-c-center">Effective Date</th>
                                        <th class="h-right-c-right">Principal Paid</th>
                                        <template is="dom-if" if="{{!checkPortfolioType(loanData)}}">
                                            <th class="h-right-c-right">Finance Charge</th>
                                        </template>
                                        <template is="dom-if" if="{{checkPortfolioType(loanData)}}">
                                            <th class="h-right-c-right">Interest Paid</th>
                                        </template>
                                        <template is="dom-if" if="{{checkIsFeeScheduleLast(isFeeScheduleLast)}}">
                                            <th class="h-right-c-right">Fees</th>
                                        </template>
                                        <th class="h-right-c-right">Paid Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <template is="dom-repeat" items="{{PaymentDetails}}" as="payment">
                                        <tr>
                                            <td class="h-center-c-center">{{date(payment.paymentDate)}}</td>
                                            <td class="h-center-c-center">{{date(payment.effectiveDate)}}</td>
                                            <td class="h-right-c-right">{{formatMoney(payment.principalAmount)}}</td>
                                            <td class="h-right-c-right">{{_paidInt(payment)}}</td>
                                            <template is="dom-if" if="{{checkIsFeeScheduleLast(isFeeScheduleLast)}}">
                                                <td class="h-right-c-right">{{checkFeeAmount(payment)}}</td>
                                            </template>
                                            <td class="h-right-c-right">{{_paidSum(payment)}}</td>
                                        </tr>
                                    </template>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="listOfHolidayModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">List of Holidays</h4>
                    </div>
                    <div class="modal-body">
                        <table id="holidaySchedule" class="table table-striped" width="100%" cellspacing="0"></table>
                    </div>
                </div>
            </div>
        </div>
        <url-parser id="urlloanps"></url-parser>
        <http-request id="httploanps"></http-request>
        <alloy-config id="configloanps"></alloy-config>
        <auth-service id="authorizeloanps"></auth-service>
        <session-manager id="sessionloanps"></session-manager>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "payment-schedule",
                properties: {
                    paymentDone: {
                        type: Array,
                        notify: true,
                        reflectToAttribute: true
                    },
                    loanData: {
                        type: Object,
                        notify: true,
                        reflectToAttribute: true
                    },
                    loadding: {
                        type: Boolean,
                        notify: true,
                        value: false,
                        reflectToAttribute: true
                    },
                    PaymentDetails: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    scheduleList: {
                        type: Array,
                        notify: true,
                        reflectToAttribute: true,
                        observer: "init"
                    },
                    currentSchedule: {
                        type: Object,
                        notify: true
                    },
                    modifiedSchedule: {
                        type: Array,
                        notify: true,
                        reflectToAttribute: true
                    },
                    selectedScheduleVersion: {
                        type: String,
                        notify: true
                    },
                    allScheduleVersion: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    tableObj: {
                        type: Object,
                        notify: false
                    },
                    holidayTableObj: {
                        type: Object,
                        notify: false
                    },
                    tableMissedObj: {
                        type: Object,
                        notify: false
                    },
                    jsonObj: {
                        type: Object,
                        notify: true
                    },
                    holidayObj: {
                        type: Object,
                        notify: true
                    },
                    showTable: {
                        type: Boolean,
                        notify: true,
                        value: false
                    },
                    // missedPayment: {
                    //     type: Object,
                    //     notify: true
                    // },
                    paidInstallmentNo: {
                        type: String,
                        notify: true
                    },
                    rawData: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    isFeeScheduleLast: {
                        type: Boolean,
                        notify: true,
                        value: false
                    },
                    fundedDate: {
                        type: String,
                        notify: true
                    },
                    startDate: {
                        type: Date,
                        notify: true,
                        reflectToAttribute: true
                    },
                    endDate: {
                        type: Date,
                        notify: true,
                        reflectToAttribute: true
                    }
                },
                init: function () {
                    this.loadScheduleList();
                },
                _onVersionChange: function (event) {
                    var self = this;
                    var selectedValues = event.target.value;
                    self.GetCurrentVersion(selectedValues);
                },
                loadScheduleList: function () {
                    var self = this;
                    var updatedList = _.transform(self.scheduleList, function (result, item) {
                        if (item.modStatus === "None" || item.modStatus === "Active") {
                            result.push({ key: item.scheduleVersionNo, value: item.scheduleVersionNo });
                        }
                    }, []);
                    self.set('allScheduleVersion', updatedList);
                    var currentSchedule = _.find(self.scheduleList, ["isCurrent", true]);
                    if (currentSchedule) {
                        self.set("fundedDate", currentSchedule.fundedDate.time);
                        self.set('selectedScheduleVersion', currentSchedule.scheduleVersionNo);
                        self._loadJson(currentSchedule.scheduleVersionNo);
                        self._loadHoliday();
                    }
                },
                _loadHoliday: function () {
                    var self = this;
                    var data = self.$.configloanps.getConfigurationBasedOnKey("filters");
                    var holidayObj = _.cloneDeep(data["HolidayList"]);
                    var columnLength = holidayObj.columns.length;
                    for (var i = 0; i < columnLength; i++) {
                        if (holidayObj.columns[i].render != undefined) {
                            var render = holidayObj.columns[i].render;
                            if (holidayObj.columns[i].isFunction) {
                                holidayObj.columns[i].render = eval("(" + render + ")");
                            }
                            else {
                                holidayObj.columns[i].render = eval(render);
                            }
                        }
                    }
                    self.set("holidayObj", holidayObj);
                },
                _loadJson: function (selectedScheduleVersion) {
                    var self = this;
                    var IsFeeScheduleLast = self.$.sessionloanps.get("isFeeScheduleLast");
                    var PaymentSchedule = "PaymentSchedule";
                    self.set("isFeeScheduleLast", false);
                    if (IsFeeScheduleLast !== undefined && IsFeeScheduleLast !== null && IsFeeScheduleLast !== "" && IsFeeScheduleLast === "true") {
                        PaymentSchedule = "PaymentScheduleWithFees";
                        self.set("isFeeScheduleLast", true);
                    }
                    var data = self.$.configloanps.getConfigurationBasedOnKey("filters");
                    var paymentScheduleObj = _.cloneDeep(data[PaymentSchedule]);
                    if (self.checkPortfolioType(self.loanData) === false) {
                        paymentScheduleObj.columns[4].title = "Finance Charge";
                        paymentScheduleObj.columns[4].tooltip = "Finance Charge";
                    }

                    var columnLength = paymentScheduleObj.columns.length;
                    for (var i = 0; i < columnLength; i++) {
                        if (paymentScheduleObj.columns[i].render != undefined) {
                            var render = paymentScheduleObj.columns[i].render;
                            if (paymentScheduleObj.columns[i].isFunction) {
                                paymentScheduleObj.columns[i].render = eval("(" + render + ")");
                            }
                            else {
                                paymentScheduleObj.columns[i].render = eval(render);
                            }
                        }
                    }
                    self.set("jsonObj", paymentScheduleObj);
                    self.set("showTable", true);
                    self.GetCurrentVersion(selectedScheduleVersion);
                },
                getColorCode: function (regularPayment, MergedData, regular, resumed, stopped) {
                    var self = this;
                    if (self.loanData && self.loanData.autoPayHistory) {
                        self.loanData.autoPayHistory.forEach(function (item) {
                            if (item.isAutoPay === false) {
                                var processingDate = item.stopDate.time.split("T");
                                var dateObj = moment.tz(processingDate[0], window.config.timezone);
                                var currentDate = dateObj.clone().format("YYYY-MM-DD");
                                var pdate = new Date(currentDate);
                                var rdate = "";
                                if (item.resumeDate !== undefined && item.resumeDate !== null && item.resumeDate !== "") {
                                    var stDate = item.resumeDate.time.split("T");
                                    var dateObj1 = moment.tz(stDate[0], window.config.timezone);
                                    var currentDate1 = dateObj1.clone().format("YYYY-MM-DD");
                                    rdate = new Date(currentDate1);
                                }
                                regularPayment.forEach(function (innerItem) {
                                    if (innerItem.statusText === "Unpaid") {
                                        var sDate = innerItem.scheduleDate.split("T");
                                        var sdateObj = moment.tz(sDate[0], window.config.timezone);
                                        var newDate = sdateObj.clone().format("YYYY-MM-DD");
                                        var schdate = new Date(newDate);
                                        if (schdate !== undefined && pdate !== undefined && rdate !== undefined && (schdate >= pdate && schdate <= rdate)) {
                                            innerItem.color = stopped;
                                            innerItem.title = "Auto-pay paused on " + formats.onlyDate(item.stopDate.time, window.config.country);
                                        }
                                        else if (item.resumeDate === null && schdate !== undefined && pdate !== undefined && (schdate >= pdate)) {
                                            innerItem.color = stopped;
                                            innerItem.title = "Auto-pay paused on " + formats.onlyDate(item.stopDate.time, window.config.country);
                                        }
                                    }
                                });
                            }
                            else {
                                var processingDate = item.resumeDate.time.split("T");
                                var dateObj = moment.tz(processingDate[0], window.config.timezone);
                                var currentDate = dateObj.clone().format("YYYY-MM-DD");
                                var pdate = new Date(currentDate);
                                var onceDone = true;
                                regularPayment.forEach(function (innerItem) {
                                    var sDate = innerItem.scheduleDate.split("T");
                                    var sdateObj = moment.tz(sDate[0], window.config.timezone);
                                    var sDate = sdateObj.clone().format("YYYY-MM-DD");
                                    var sdate = new Date(sDate);
                                    if (sdate != undefined && pdate != undefined && (sdate >= pdate)) {
                                        if (onceDone) {
                                            innerItem.color = resumed;
                                            innerItem.title = "Auto-pay resumed on " + formats.onlyDate(item.resumeDate.time, window.config.country);
                                            onceDone = false;
                                        }
                                        else {
                                            innerItem.color = regular;
                                            innerItem.title = "";
                                        }
                                    }
                                });
                            }
                        });
                    }
                    self.set("currentSchedule", regularPayment);
                    self.set("startDate", moment(regularPayment[0].scheduleDate).format('YYYY-MM-DD'));
                    self.set("endDate", moment(regularPayment[regularPayment.length - 1].scheduleDate).format('YYYY-MM-DD'));
                    if (self.loanData && self.loanData.autoPayHistory) {
                        self.loanData.autoPayHistory.forEach(function (item) {
                            if (item.isAutoPay === false) {
                                var processingDate = item.stopDate.time.split("T");
                                var dateObj = moment.tz(processingDate[0], window.config.timezone);
                                var currentDate = dateObj.clone().format("YYYY-MM-DD");
                                var pdate = new Date(currentDate);

                                var rdate = "";
                                if (item.resumeDate !== undefined && item.resumeDate !== null && item.resumeDate !== "") {
                                    var stDate = item.resumeDate.time.split("T");
                                    var dateObj1 = moment.tz(stDate[0], window.config.timezone);
                                    var currentDate1 = dateObj1.clone().format("YYYY-MM-DD");
                                    rdate = new Date(currentDate1);
                                }
                                // missedPayment.forEach(function (innerItem) {
                                //     if (innerItem.statusText === "Unpaid" || innerItem.statusText === "Missed") {
                                //         var sDate = innerItem.scheduleDate.split("T");
                                //         var sdateObj = moment.tz(sDate[0], window.config.timezone);
                                //         var sDate = sdateObj.clone().format("YYYY-MM-DD");
                                //         var sdate = new Date(sDate);
                                //         if (sdate != undefined && pdate != undefined && rdate !== undefined && ((sdate >= pdate) && (sdate <= rdate))) {
                                //             innerItem.color = stopped
                                //             innerItem.title = "Auto-pay paused on " + formats.onlyDate(item.stopDate.time, window.config.country);
                                //         }
                                //         else if (item.resumeDate === null && sdate != undefined && pdate != undefined && (sdate >= pdate)) {
                                //             innerItem.color = stopped
                                //             innerItem.title = "Auto-pay paused on " + formats.onlyDate(item.stopDate.time, window.config.country);
                                //         }
                                //     }
                                // });
                            }
                        });
                    }
                    //self.set("missedPayment", missedPayment);
                    self.LoadTable(self.currentSchedule);
                    // if (missedPayment && !_.isEmpty(missedPayment)) {
                    //     $('#divMissedPayment').show();
                    //     self.missedScheduleLoadTable(self.missedPayment);
                    // }
                    // else {
                    //     $('#divMissedPayment').hide();
                    // }
                    self.set("modifiedSchedule", MergedData);
                },
                GetCurrentVersion: function (objVersion) {
                    var self = this;
                    var regular = self.$.configloanps.getConfigurationBasedOnKey("autoPayRegularColor");
                    regular = (regular === undefined) ? "#808080" : regular;
                    var resumed = self.$.configloanps.getConfigurationBasedOnKey("autoPayResumedColor");
                    resumed = (resumed === undefined) ? "#008000" : resumed;
                    var stopped = self.$.configloanps.getConfigurationBasedOnKey("autoPayStoppedColor");
                    stopped = (stopped === undefined) ? "#FFA500" : stopped;

                    if (objVersion !== "") {
                        var Url = "/" + self.applicationNumber + "/" + objVersion + "/payment";
                        self.$.httploanps.get(Url, window.config.services.accountingService, false).then(function (data) {
                            if (data) {
                                var MergedData = [];
                                var color = regular
                                data.forEach(function (item) {
                                    var FinalItem = item.loanDetails;
                                    var statusText = "Unpaid";
                                    statusText = (FinalItem.isMissed !== undefined && FinalItem.isMissed === true) ? "Missed" : statusText;
                                    var isPaid = false;
                                    if (item.schduleTreckingDetails && item.schduleTreckingDetails.length > 0) {
                                        self.set("paidInstallmentNo", item.schduleTreckingDetails[0].installmentnumber);
                                        var Datafound = _.find(item.schduleTreckingDetails, ["isPaid", true]);
                                        if (Datafound && FinalItem.isMissed === false) {
                                            statusText = "Paid";
                                            isPaid = true;
                                        }
                                        else {
                                            statusText = "Partially Paid";
                                        }
                                    }
                                    FinalItem.tenure = item.tenure;
                                    FinalItem.IsPaid = isPaid;
                                    FinalItem.statusText = statusText;
                                    FinalItem.PaymentInfo = item.schduleTreckingDetails;
                                    FinalItem.color = color;
                                    FinalItem.title = "";
                                    FinalItem.feeAmount = (FinalItem.feeAmount === undefined || FinalItem.feeAmount === null || FinalItem.feeAmount === "") ? 0.00 : FinalItem.feeAmount;
                                    MergedData.push(FinalItem);
                                });
                                self.set("rawData", MergedData);
                                var regularPayment = _.reject(MergedData, { "isMissed": true });
                                //var missedPayment = _.reject(MergedData, { "isMissed": false });
                                self.getColorCode(regularPayment, MergedData, regular, resumed, stopped);
                                self.setHolidayData();
                            }
                        }).fail(function (e) {
                            self.setHolidayData();
                            console.error("load config error is ", e);
                        });
                    }
                    else {
                        var MergedData = [];
                        //var missedPayment = [];
                        self.set("currentSchedule", MergedData);
                        //self.set("missedPayment", missedPayment);
                        self.LoadTable(self.currentSchedule);
                        //$('#divMissedPayment').hide();
                        self.set("modifiedSchedule", MergedData);
                    }
                },
                checkPaymentsDone: function () {
                    var self = this, table;
                    var url = "/" + self.applicationNumber + "/payments";
                    self.$.httploanps.get(url, window.config.services.accountingService, false).then(function (data) {
                        var remainingPayments = _.reject(data, { isOnboardedAmount: true });
                        if (remainingPayments && remainingPayments.length > 0) {
                            self.set("paymentDone", remainingPayments);
                        }
                        else {
                            self.set("paymentDone", []);
                        }
                    }).fail(function (e) {
                        self.set("paymentDone", []);
                    });
                },
                LoadTable: function (currentSchedule) {
                    var self = this, table;
                    self.checkPaymentsDone();
                    if (self.jsonObj !== undefined && self.jsonObj !== "") {
                        table = self.tableObj;
                        self.set('loadding', true);
                        if (table !== null && table !== undefined) {
                            table.clear();
                            table.destroy();
                        }
                        table = self.tableObj = $(self.$$('#queueSchedule')).DataTable({
                            dom: "<'row'<'col-sm-12'tr>>" +
                                "<'row'<'col-sm-5'i><'col-sm-7'p>>",
                            data: currentSchedule,
                            columns: self.jsonObj.columns,
                            columnDefs: self.jsonObj.columnDefs,
                            order: self.jsonObj.order,
                            language: {
                                lengthMenu: "show_MENU_ Schedule",
                                zeroRecords: "No Data found.",
                                info: "Showing _START_ to _END_ of _TOTAL_ Schedule",
                                infoEmpty: "No Schedule available",
                                infoFiltered: "(filtered from _MAX_ total Schedule)"
                            }
                        });

                        setTimeout(function () {
                            $('#queueSchedule tbody').on('click', 'a', function () {
                                var data = self.tableObj.row($(this).parents('tr')).data();
                                if (this.getAttribute("on-click") !== null && this.getAttribute("on-click") !== undefined) {
                                    self[this.getAttribute("on-click")](data);
                                }
                            });

                        }, 700);
                    }
                },
                // missedScheduleLoadTable: function (missedPayment) {
                //     var self = this, table;
                //     table = self.tableMissedObj;
                //     if (table !== null && table !== undefined) {
                //         table.clear();
                //         table.destroy();
                //     }
                //     table = self.tableMissedObj = $(self.$$('#queueMissedSchedule')).DataTable({
                //         dom: "<'row'<'col-sm-12'tr>>" +
                //             "<'row'<'col-sm-5'i><'col-sm-7'p>>",
                //         data: missedPayment,
                //         columns: self.jsonObj.columns,
                //         columnDefs: self.jsonObj.columnDefs,
                //         order: self.jsonObj.order,
                //         language: {
                //             lengthMenu: "show_MENU_ Schedule",
                //             zeroRecords: "No Data found.",
                //             info: "Showing _START_ to _END_ of _TOTAL_ Schedule",
                //             infoEmpty: "No Schedule available",
                //             infoFiltered: "(filtered from _MAX_ total Schedule)"
                //         }
                //     });

                //     setTimeout(function () {
                //         $('#queueMissedSchedule tbody').on('click', 'a', function () {
                //             var data = self.tableMissedObj.row($(this).parents('tr')).data();
                //             if (this.getAttribute("on-click") !== null && this.getAttribute("on-click") !== undefined) {
                //                 self[this.getAttribute("on-click")](data);
                //             }
                //         });

                //     }, 700);
                // },
                _viewPaymentDetail: function (e) {
                    var self = this;
                    self.PaymentDetails = e.PaymentInfo;
                    $("#paymentDetailsDialog").modal('show');
                },
                date: function (date) {
                    if (!_.isNull(date) && !_.isUndefined(date) && !_.isEmpty(date)) {
                        return formats.onlyDate(date, window.config.country);
                    }
                    return "NA";
                },
                formatMoney: function (value) {
                    return formats.money(value, window.config.country, 0);
                },
                CheckPaid: function (objIsPaid) {
                    if (objIsPaid === true)
                        return true;
                    else
                        return false;
                },
                formatCurrency: function (data) {
                    return formats.money(data, window.config.country, 0);
                },
                checkPortfolioType: function (objType) {
                    var self = this;
                    if (self.loanData && self.loanData.productPortfolioType != "MCA" && self.loanData.productPortfolioType != "MCALOC") {
                        return true;
                    }
                    return false;
                },
                checkIsFeeScheduleLast: function (isFeeScheduleLast) {
                    var self = this;
                    if (isFeeScheduleLast === true) {
                        return true;
                    }
                    return false;
                },
                // anyMissedPayment: function (objType, missedPayment) {
                //     var self = this;
                //     if (self.loanData && self.missedPayment && !_.isEmpty(self.missedPayment) && (self.loanData.productPortfolioType === "MCA" || self.loanData.productPortfolioType === "MCALOC")) {
                //         return true;
                //     }
                //     return false;
                // },
                CheckProduct: function (objType) {
                    var self = this;
                    if (self.loanData && (self.loanData.productPortfolioType === "LineOfCredit" || self.loanData.productPortfolioType === "MCALOC")) {
                        return true;
                    }
                    return false;
                },
                _paidInt: function (payment) {
                    var self = this;
                    var priorInterestAmount = (payment.priorInterestAmount !== undefined && payment.priorInterestAmount !== null) ? payment.priorInterestAmount : 0;
                    var sum = parseFloat(payment.interestAmount) + parseFloat(priorInterestAmount);
                    return self.formatMoney(parseFloat(sum).toFixed(2));
                },
                _paidSum: function (payment) {
                    var self = this;
                    var feesAmount = (payment.feeAmount !== undefined && payment.feeAmount != null && payment.feeAmount != "") ? payment.feeAmount : 0.00;
                    var priorInterestAmount = (payment.priorInterestAmount !== undefined && payment.priorInterestAmount !== null) ? payment.priorInterestAmount : 0;
                    var sum = parseFloat(payment.principalAmount) + parseFloat(payment.interestAmount) + parseFloat(feesAmount) + parseFloat(priorInterestAmount);
                    return self.formatMoney(parseFloat(sum).toFixed(2));
                },
                checkMultipleVersion: function (allScheduleVersion) {
                    var self = this;
                    return (allScheduleVersion.length > 1) ? true : false;
                },
                setHolidayData: function () {
                    var self = this;
                    var holidayList = [];
                    if (self.rawData !== undefined && self.rawData.length > 0) {
                        var rawData = _.sortBy(self.rawData, 'installmentnumber');
                        var weekday = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
                        var holidayCalendar = JSON.parse(self.$.sessionloanps.get("holidayCalendar"));
                        var fromDate = new Date(self.fundedDate);
                        var lastDate = new Date(rawData[rawData.length - 1].scheduleDate);
                        while (fromDate < lastDate) {
                            if (fromDate.getDay() === 0 || fromDate.getDay() == 6) {
                                var holiday = moment(fromDate).format("YYYY-MM-DD");
                                if (holidayCalendar[weekday[fromDate.getDay()]] !== undefined) {
                                    holidayList.push({ HolidayDate: holiday, title: weekday[fromDate.getDay()] });
                                }
                                else {
                                    var found = holidayCalendar[holiday];
                                    if (found !== undefined) {
                                        holidayList.push({ HolidayDate: holiday, title: "Holiday" });
                                    }
                                }
                            }
                            else {
                                var holiday = moment(fromDate).format("YYYY-MM-DD");
                                var found = holidayCalendar[holiday];
                                if (found !== undefined) {
                                    holidayList.push({ HolidayDate: holiday, title: "Holiday" });
                                }
                            }
                            fromDate.setDate(fromDate.getDate() + 1);
                        }
                        self.LoadHolidayTable(holidayList);
                    }
                    else {
                        self.LoadHolidayTable(null);
                    }
                },
                _listOfHolidays: function (event) {
                    var self = this;
                    $('#listOfHolidayModal').modal('show');
                },
                LoadHolidayTable: function (currentSchedule) {
                    var self = this, table;
                    if (self.holidayObj !== undefined && self.holidayObj !== "") {
                        table = self.holidayTableObj;
                        self.set('loadding', true);
                        if (table !== null && table !== undefined) {
                            table.clear();
                            table.destroy();
                        }
                        table = self.holidayTableObj = $(self.$$('#holidaySchedule')).DataTable({
                            dom: "<'row'<'col-sm-12'tr>>" +
                                "<'row'<'col-sm-5'i><'col-sm-7'p>>",
                            data: currentSchedule,
                            columns: self.holidayObj.columns,
                            columnDefs: self.holidayObj.columnDefs,
                            order: self.holidayObj.order,
                            language: {
                                lengthMenu: "show_MENU_ Schedule",
                                zeroRecords: "No Data found.",
                                info: "Showing _START_ to _END_ of _TOTAL_ Holiday",
                                infoEmpty: "No Holiday available",
                                infoFiltered: "(filtered from _MAX_ total Holiday)"
                            }
                        });
                    }
                },
                checkFeeAmount: function (payment) {
                    var self = this;
                    if (payment.feeAmount === undefined || payment.feeAmount === null || payment.feeAmount === "") {
                        return "0.00";
                    }
                    else {
                        return formats.money(payment.feeAmount, window.config.country, 0);
                    }
                }
            });
        });
    </script>
</dom-module>