<html-import html-href="loaders/sk-wave.html"></html-import>
<dom-module id="related-loan">
    <template>
        <spinkit-wave hidden$="{{loading}}"></spinkit-wave>
        <div id="RelatedLoanMessageContainer"></div>
        <div class="row">
            <div class="col-lg-12" id="relatedLoansContainer">
                <table id="relatedLoansTable" class="table table-striped" width="100%" cellspacing="0">
                </table>
            </div>
        </div>
        <url-parser id="urlRelatedLoans"></url-parser>
        <http-request id="httpRelatedLoans"></http-request>
        <alloy-config id="configRelatedLoans"></alloy-config>
        <message-component id="messageRelatedLoans"></message-component>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "related-loan",
                properties: {
                    tableObj: {
                        type: Object,
                        notify: false
                    },
                    columnObj: {
                        type: Object,
                        notify: true
                    },
                    relatedLoansDetails: {
                        type: Array,
                        notify: true,
                        value: [],
                        reflectToAttribute: true
                    },
                    currentEntityName: {
                        type: String,
                        notify: true,
                        value: 'loan'
                    },
                    loading: {
                        type: Boolean,
                        notify: true,
                        value: false,
                        reflectToAttribute: true
                    },
                    applicationNumber: {
                        type: String,
                        notify: true,
                        reflectToAttribute: true
                    }
                },
                init: function () {
                    var self = this;
                    var params = self.$.urlRelatedLoans.getParams();
                    if (params.hasOwnProperty('entity')) {
                        self.set('currentEntityName', params.entity);
                    }
                    self.loadRelatedLoans();
                },
                loadRelatedLoans: function () {
                    var self = this;
                    var params = self.$.urlRelatedLoans.getParams();
                    var dataConfig = self.$.configRelatedLoans.getConfigurationBasedOnKey("filters");
                    var relatedLoans = _.cloneDeep(dataConfig["RelatedLoans"]);
                    var columnLength = relatedLoans.columns.length;
                    for (var i = 0; i < columnLength; i++) {
                        if (relatedLoans.columns[i].render != undefined) {
                            var render = relatedLoans.columns[i].render;
                            if (relatedLoans.columns[i].isFunction) {
                                relatedLoans.columns[i].render = eval("(" + render + ")");
                            }
                            else {
                                relatedLoans.columns[i].render = eval(render);
                            }
                        }
                    }
                    self.set("columnObj", relatedLoans);
                    var url = "/" + self.applicationNumber + "/relatedloans";
                    self.$.httpRelatedLoans.get(url, window.config.services.lmsService).then(function (data) {
                        self.set('loading', true);
                        var orderedData = _.orderBy(data, ['sequenceNumber'], ['asc']);
                        self.set("relatedLoansDetails", orderedData);
                        self._generateTable(self.relatedLoansDetails);
                    }).fail(function (e) {
                        self.set('loading', true);
                        var response = e.responseJSON;
                        if (response) {
                            self.$.messageRelatedLoans.showMessage(response.message, "ERROR", self.$$('#RelatedLoanMessageContainer'));
                        }
                        else {
                            self.$.messageRelatedLoans.showMessage("Get Related Loan error ", "ERROR", self.$$('#RelatedLoanMessageContainer'));
                        }
                    });
                },
                _generateTable: function (relatedLoansDetails) {
                    var self = this, table;
                    table = self.tableObj;
                    if (table !== null && table !== undefined) {
                        table.clear();
                        table.destroy(true);
                        $('#relatedLoansContainer').append($('<table/>').attr('id', 'relatedLoansTable').css('width', '100%').addClass('table table-striped'));
                    }
                    $.fn.dataTable.ext.errMode = 'none';
                    table = self.tableObj = $(self.$$('#relatedLoansTable')).DataTable({
                        dom: "<'row'<'col-sm-12'tr>>" +
                            "<'row'<'col-sm-5'i><'col-sm-7'p>>",
                        data: relatedLoansDetails,
                        columns: self.columnObj.columns,
                        columnDefs: self.columnObj.columnDefs,
                        order: self.columnObj.order,
                        language: {
                            lengthMenu: "show_MENU_",
                            zeroRecords: "No Data found.",
                            info: "Showing _START_ to _END_ of _TOTAL_ Related Loans",
                            infoEmpty: "No Related Loans available",
                            infoFiltered: "(filtered from _MAX_ total Related Loans)"
                        }
                    });
                    setTimeout(function () {
                        $('#relatedLoansTable tbody').off('click', 'a').on('click', 'a', function () {
                            var data = self.tableObj.row($(this).parents('tr')).data();
                            if (this.getAttribute("on-click") !== null && this.getAttribute("on-click") !== undefined) {
                                self[this.getAttribute("on-click")](data);
                            }
                        });
                    }, 700);
                },
                formatCurrency: function (data) {
                    return formats.money(data, window.config.country, 0);
                },
                openLoanView: function (item) {
                    var self = this;
                    window.location.hash = "/loan-details/entity:loan/filter:RelatedLoan/loanId:" + item.loanNumber + "/product:" + item.productId + "/workflow:" + item.loanStatusWorkFlowId;
                    window.location.reload();
                },
                openAppView: function (item) {
                    var self = this;
                    var url = "/app-details/entity:application/filter:Application";
                    url = url + "/app:" + item.loanApplicationNumber + "/product:" + item.productId + "/workflow:" + item.statusWorkFlowId;
                    window.location.hash = url;
                    window.location.reload();
                }
            });
        });
    </script>
</dom-module>