<html-import html-href="loaders/sk-wave.html"></html-import>
<dom-module id="transactions-detail">
    <template>
        <style>
            .right-align {
                text-align: right !important;
            }

            .modal-body .row {
                margin: 10px auto;
            }

            .modal-body .col-md-12 {
                padding: 0;
            }

            .modal-body h3 {
                margin: 0 auto;
                border-bottom: 1px solid;
                padding: 10px 0;
            }

            .header {
                font-size: 12px;
                font-weight: 700;
                color: white;
                background-color: #03466B !important;
            }

            .dt-body-right {
                text-align: right !important;
            }

            .dt-body-center {
                text-align: center !important;
            }

            th.h-center-c-left {
                text-align: center !important;
            }

            td.h-center-c-left {
                text-align: left !important;
            }

            th.h-right-c-right {
                text-align: right !important;
            }

            td.h-right-c-right {
                text-align: right !important;
            }

            th.h-center-c-center {
                text-align: center !important;
            }

            td.h-center-c-center {
                text-align: center !important;
            }

            th.h-center-c-right {
                text-align: center !important;
            }

            td.h-center-c-right {
                text-align: right !important;
            }

            .modal-dialog1 {
                margin: 10% auto;
                width: 750px !important;
            }
        </style>
        <div id="MessageContainer"></div>
        <div id="SendAccountStatement">
            <div class="right-align">
                <paper-button class="btn btn-primary activity-action-btn" on-click="_sendAccountStatement" raised>Send
                    Account Statement</paper-button>
            </div>
        </div>
        <div id="transcationsTableContainer">
            <spinkit-wave hidden$="{{loadding}}"></spinkit-wave>
            <table id="queuetransactionTable" class="table table-striped" width="100%" cellspacing="0">
            </table>
            <div id="moreInfoPopup" class="modal fade" role="dialog">
                <div class="modal-dialog1">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Outstanding Details Post Transaction</h4>
                        </div>
                        <div class="modal-body">
                            <table class="table table-striped" id="moreInfoTable" style="width:100%;">
                                <tr>
                                    <th colspan="6" class="header">Payment Information</th>
                                </tr>
                                <tr>
                                    <th>Transaction Date</th>
                                    <td>{{date(transaction.transactionDate)}}</td>
                                    <th>Transaction Amount</th>
                                    <td>{{formatMoney(transaction.amount)}}</td>
                                    <th>Principal</th>
                                    <td>{{formatMoney(transaction.principal)}}</td>
                                </tr>
                                <tr>
                                    <template is="dom-if" if="{{!checkPortfolioType(loanData)}}">
                                        <th>Finance Charge</th>
                                    </template>
                                    <template is="dom-if" if="{{checkPortfolioType(loanData)}}">
                                        <th>Interest</th>
                                    </template>
                                    <td>{{sumPriorInt(transaction)}}</td>
                                    <template is="dom-if" if="{{checkPortfolioType(loanData)}}">
                                        <th>Additional Interest</th>
                                        <td>{{formatMoney(transaction.additionalInterest)}}</td>
                                    </template>
                                    <th>
                                        <template is="dom-if" if="{{showLink(isLink)}}">
                                            <a href='javascript:void(0)' on-click='_feesListOpen'>Fee</a>
                                        </template>
                                        <template is="dom-if" if="{{!showLink(isLink)}}">
                                            Fee
                                        </template>
                                        <span id="spantaxFees" style="display:none;">(Excl tax)</th>
                                    <td>{{calculateFee(transaction)}}</td>
                                    <template is="dom-if" if="{{!checkPortfolioType(loanData)}}">
                                        <template is="dom-if" if="{{isTaxVisible(taxVisible)}}">
                                            <template is="dom-if" if="{{taxbifergation(transaction,'otherstate')}}">
                                                <th>
                                                    <template is="dom-if" if="{{showLink(isLink)}}">
                                                        <a href='javascript:void(0)'
                                                            on-click='_igstOpen'>{{igstLabel}}</a>
                                                    </template>
                                                    <template is="dom-if" if="{{!showLink(isLink)}}">
                                                        {{igstLabel}}
                                                    </template>
                                                    {{formatGSt(transaction.gst,multipleFeesGst,'igst')}}</th>
                                                <td>{{formatMoney(transaction.igst)}}</td>
                                            </template>
                                            <template is="dom-if" if="{{!taxbifergation(transaction,'otherstate')}}">
                                                <th></th>
                                                <td></td>
                                            </template>
                                        </template>
                                    </template>
                                </tr>
                                <template is="dom-if" if="{{isTaxVisible(taxVisible)}}">
                                    <tr>
                                        <template is="dom-if" if="{{checkPortfolioType(loanData)}}">
                                            <template is="dom-if" if="{{taxbifergation(transaction,'otherstate')}}">
                                                <th>
                                                    <template is="dom-if" if="{{showLink(isLink)}}">
                                                        <a href='javascript:void(0)'
                                                            on-click='_igstOpen'>{{igstLabel}}</a>
                                                    </template>
                                                    <template is="dom-if" if="{{!showLink(isLink)}}">
                                                        {{igstLabel}}
                                                    </template>
                                                    {{formatGSt(transaction.gst,multipleFeesGst,'igst')}}</th>
                                                <td>{{formatMoney(transaction.igst)}}</td>
                                                <th></th>
                                                <td></td>
                                                <th></th>
                                                <td></td>
                                            </template>
                                        </template>
                                        <template is="dom-if" if="{{taxbifergation(transaction,'samestate')}}">
                                            <th>
                                                <template is="dom-if" if="{{showLink(isLink)}}">
                                                    <a href='javascript:void(0)'
                                                        on-click='_cgstsgsctOpen'>{{cgstLabel}}</a>
                                                </template>
                                                <template is="dom-if" if="{{!showLink(isLink)}}">
                                                    {{cgstLabel}}
                                                </template>
                                                {{formatGSt(transaction.gst,multipleFeesGst,'cgst')}}</th>
                                            <td>{{ formatMoney(transaction.cgst) }}
                                            </td>
                                            <th>
                                                <template is="dom-if" if="{{showLink(isLink)}}">
                                                    <a href='javascript:void(0)'
                                                        on-click='_cgstsgsctOpen'>{{sgstLabel}}</a>
                                                </template>
                                                <template is="dom-if" if="{{!showLink(isLink)}}">
                                                    {{sgstLabel}}
                                                </template>
                                                {{formatGSt(transaction.gst,multipleFeesGst,'sgst')}}</th>
                                            <td>{{ formatMoney(transaction.sgst) }}</td>
                                            <th></th>
                                            <td></td>
                                        </template>
                                    </tr>
                                </template>
                                <tr>
                                    <th>Excess Amount</th>
                                    <td>{{formatMoney(transaction.excessAmount)}}</td>
                                    <th>Transaction Description</th>
                                    <td colspan="3">{{transaction.description}}</td>
                                </tr>
                                <tr>
                                    <th>Effective Date</th>
                                    <td>{{date(transaction.effectiveDate)}}</td>
                                    <th></th>
                                    <td></td>
                                    <th></th>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th colspan="6" class="header">Outstanding Information</th>
                                </tr>
                                <tr>
                                    <th>Principal</th>
                                    <td>{{formatMoney(transaction.pbotPrincipal)}}</td>
                                    <template is="dom-if" if="{{!checkPortfolioType(loanData)}}">
                                        <th>Finance Charge</th>
                                    </template>
                                    <template is="dom-if" if="{{checkPortfolioType(loanData)}}">
                                        <th>Interest</th>
                                    </template>
                                    <td>{{InterstCalculation(transaction.pbotInterest,transaction.pbotAdditionalInterest,transaction.pbotPriorInterest)}}
                                    </td>
                                    <th>Fee</th>
                                    <td>{{formatMoney(transaction.pbotFees)}}</td>
                                </tr>
                                <tr>
                                    <template is="dom-if" if="{{checkPortfolioType(loanData)}}">
                                        <th>Additional Interest</th>
                                        <td>{{formatMoney(transaction.pbotAdditionalInterest)}}</td>
                                    </template>
                                    <th>Excess Amount</th>
                                    <td>{{formatMoney(transaction.pbotExcessAmount)}}</td>
                                    <template is="dom-if" if="{{checkPriorIneterest(loanData,scheduleList)}}">
                                        <th>Prior Interest</th>
                                        <td>{{ formatMoney(transaction.pbotPriorInterest) }}
                                        </td>
                                    </template>
                                    <template is="dom-if" if="{{!checkPriorIneterest(loanData,scheduleList)}}">
                                        <th></th>
                                        <td></td>
                                    </template>
                                    <template is="dom-if" if="{{!checkPortfolioType(loanData)}}">
                                        <th></th>
                                        <td></td>
                                    </template>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div id="reversePaymentPopup" class="modal" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div id="MessageContainerFailed"></div>
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Reverse Payment/Fee</h4>
                        </div>
                        <div class="modal-body">
                            <h5 style="border: none;">
                                You are about to reverse a {{_reserveDisplayText(reverseTransaction)}} of
                                {{_reserveDisplayAmount(reverseTransaction)}}.
                                Do you want to continue with this operation?</h5>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" on-click="reversePayment">Yes</button>
                            <button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="feesListPopup" class="modal" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Fees details</h4>
                        </div>
                        <div class="modal-body">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Fees</th>
                                        <th class="right-align">Amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <template is="dom-repeat" items="{{multipleFeesGst}}">
                                        <tr>
                                            <td>
                                                {{item.FeeName}}
                                            </td>
                                            <td class="right-align">
                                                {{totalFees(item.FeeAmount,item.GSTAmount)}}
                                            </td>
                                        </tr>
                                    </template>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td>
                                            <b>Total Fees</b>
                                        </td>
                                        <td class="right-align">
                                            <b>{{formatMoney(feesTotal)}}</b>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <div class="modal-footer">
                        </div>
                    </div>
                </div>
            </div>
            <div id="igstListPopup" class="modal" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">IGST Details</h4>
                        </div>
                        <div class="modal-body">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Fees</th>
                                        <th class="right-align">IGST</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <template is="dom-repeat" items="{{multipleFeesGst}}">
                                        <tr>
                                            <td>
                                                {{item.FeeName}} @ {{item.GST}} %
                                            </td>
                                            <td class="right-align">
                                                {{formatMoney(item.IGST)}}
                                            </td>
                                        </tr>
                                    </template>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td>
                                            <b>Total IGST</b>
                                        </td>
                                        <td class="right-align">
                                            <b>{{formatMoney(igstTotal)}}</b>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <div class="modal-footer">
                        </div>
                    </div>
                </div>
            </div>
            <div id="cgstsgstListPopup" class="modal" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">CGST and SGST Details</h4>
                        </div>
                        <div class="modal-body">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Fees</th>
                                        <th>CGST</th>
                                        <th>SGST</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <template is="dom-repeat" items="{{multipleFeesGst}}">
                                        <tr>
                                            <td>
                                                {{item.FeeName}} (CGST@ {{gstDivide(item.GST)}} %)
                                                (SGST@ {{gstDivide(item.GST)}} %)
                                            </td>
                                            <td class="right-align">
                                                {{formatMoney(item.CGST)}}
                                            </td>
                                            <td class="right-align">
                                                {{formatMoney(item.SGST)}}
                                            </td>
                                        </tr>
                                    </template>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td>
                                            <b>Total (CGST+SGST)</b>
                                        </td>
                                        <td class="right-align">
                                            <b>{{formatMoney(cgstTotal)}}</b>
                                        </td>
                                        <td class="right-align">
                                            <b>{{formatMoney(sgstTotal)}}</b>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <div class="modal-footer">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <url-parser id="urlloant"></url-parser>
        <http-request id="httploant"></http-request>
        <alloy-config id="configloant"></alloy-config>
        <auth-service id="authorizeloant"></auth-service>
        <session-manager id="sessionloant"></session-manager>
        <utility-service id="utilityloant"></utility-service>
        <message-component id="messageloant"></message-component>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "transactions-detail",
                properties: {
                    feesTotal: {
                        type: String,
                        notify: true,
                        value: 0
                    },
                    igstTotal: {
                        type: String,
                        notify: true,
                        value: 0
                    },
                    cgstTotal: {
                        type: String,
                        notify: true,
                        value: 0
                    },
                    sgstTotal: {
                        type: String,
                        notify: true,
                        value: 0
                    },
                    multipleFeesGst: {
                        type: Array,
                        notify: false
                    },
                    tableObj: {
                        type: Object,
                        notify: false
                    },
                    loadding: {
                        type: Boolean,
                        notify: true,
                        value: false,
                        reflectToAttribute: true
                    },
                    transactionConfig: {
                        type: Object,
                        notify: true,
                        reflectToAttribute: true
                    },
                    loanData: {
                        type: Object,
                        notify: true,
                        reflectToAttribute: true
                    },
                    applicationNumber: {
                        type: String,
                        notify: true,
                        reflectToAttribute: true
                    },
                    transactionList: {
                        type: Object,
                        notify: true
                    },
                    transaction: {
                        type: Object,
                        notify: true,
                        value: {},
                        reflectToAttribute: true
                    },
                    jsonObj: {
                        type: Object,
                        notify: true
                    },
                    tabAction: {
                        type: Object,
                        notify: true,
                        reflectToAttribute: true
                    },
                    scheduleList: {
                        type: Array,
                        notify: true,
                        reflectToAttribute: true
                    },
                    achConfig: {
                        type: Object,
                        notify: true
                    },
                    taxVisible: {
                        type: Boolean,
                        notify: true,
                        value: false
                    },
                    cgstLabel: {
                        type: String,
                        notify: true,
                        value: "CGST"
                    },
                    sgstLabel: {
                        type: String,
                        notify: true,
                        value: "SGST"
                    },
                    igstLabel: {
                        type: String,
                        notify: true,
                        value: "IGST"
                    },
                    isLink: {
                        type: Boolean,
                        notify: true,
                        value: false
                    }
                },
                init: function () {
                    var self = this;
                    this._getTransactions();
                    setTimeout(function () {
                        $('#reversePaymentPopup').on('hidden.bs.modal', function initDynamicForm(e) {
                            self.resetData();
                        });
                    }, 1000);
                },
                GetLatestPayment: function (array, propName, payment) {
                    var Obj = array.filter(function (e) {
                        return (payment.indexOf(e[propName]) != -1) ? true : false;
                    })[0];
                    return Obj || {};
                },
                _sendAccountStatement: function (e) {
                    var self = this;
                    self.set('loadding', false);
                    var params = self.$.urlloant.getParams();
                    var payload = {
                        statementEndDate: self.formatDate(new Date())
                    };
                    var url = "/" + params.loanId + "/send/statement";
                    self.$.httploant.post(url, payload, window.config.services.accountingService, false).then(function (result) {
                        self.set('loadding', true);
                        self.$.messageloant.showMessage("Account Statement sent successfully.", "INFO", self.$$('#MessageContainer'));
                        self.raiseAppRefreshEvent(e);
                    }).fail(function (e) {
                        self.set('loadding', true);
                        var strMessage = "Failed to complete the operation. ";
                        if (e.responseJSON !== undefined && e.responseJSON.message !== undefined && e.responseJSON.message !== "") {
                            strMessage = e.responseJSON.message;
                        }
                        self.$.messageloant.showMessage(strMessage, "ERROR", self.$$(
                            '#MessageContainer'));
                    });

                },
                _getTransactions: function () {
                    var self = this;
                    var params = self.$.urlloant.getParams();
                    var Url = "/" + params.loanId + "/transactions";
                    var dataConfig = self.$.configloant.getConfigurationBasedOnKey("filters");
                    var transactionConfig;
                    if (self.checkPortfolioType(self.loanData) === true) {
                        transactionConfig = _.cloneDeep(dataConfig["NonMCATransactionTab"]);
                    }
                    else {
                        transactionConfig = _.cloneDeep(dataConfig["MCATransactionTab"]);
                    }
                    var columnLength = transactionConfig.columns.length;
                    for (var i = 0; i < columnLength; i++) {
                        if (transactionConfig.columns[i].render != undefined) {
                            var render = transactionConfig.columns[i].render;
                            if (transactionConfig.columns[i].isFunction) {
                                transactionConfig.columns[i].render = eval("(" + render + ")");
                            }
                            else {
                                transactionConfig.columns[i].render = eval(render);
                            }
                        }
                    }
                    self.set("jsonObj", transactionConfig);
                    self.$.httploant.get(Url, window.config.services.accountingService, false).then(function (data) {
                        if (data) {
                            var sortData = _.orderBy(data, "transactionDateTime", "desc");
                            var LatestPayment = self.GetLatestPayment(sortData, "transactionType", ["payment", "feepaid"]);
                            var sortObj = _.transform(sortData, function (result, item) {
                                item.isPayment = (LatestPayment.id == item.id) ? true : false;
                                result.push(item);
                            }, []);
                            self.set('transactionList', data);
                            setTimeout(function () {
                                self._generateTable(self.transactionList);
                                self.set('loadding', true);
                                if (self.tabAction !== undefined && self.tabAction !== null && self.tabAction !== "" && self.tabAction.actionToPerform === "reversePayment") {
                                    self.performTabAction();
                                }
                            }, 1000);
                            self._taxVisible();
                        }
                    }).fail(function (e) {
                        console.error("load transactions error is ", e);
                    });
                },
                _taxVisible: function () {
                    var self = this;
                    self.$.httploant.get("configuration/ach", "").then(function (result) {
                        self.set("achConfig", result);
                        var funderId = self.loanData.funderId;
                        if (self.achConfig !== undefined && self.achConfig !== null && funderId !== undefined && funderId !== null) {
                            var objFunderSource = _.cloneDeep(self.achConfig.fundingSources);
                            var objData = _.find(objFunderSource, ['id', funderId]);
                            if (objData !== undefined && objData !== null && objData !== "" && objData.GSTApplicable !== undefined && objData.GSTApplicable === "true") {
                                self.set("taxVisible", true);
                            }
                            else {
                                self.set("taxVisible", false);
                            }
                        }
                    }).fail(function (e) {
                        console.error("not able to load ach configurations.", e);
                    });


                },
                _generateTable: function (transactionList) {
                    var self = this, table;
                    table = self.tableObj;
                    if (table !== null && table !== undefined) {
                        table.clear();
                        table.destroy(true);
                        $('#transcationsTableContainer').append($('<table/>').attr('id', 'queuetransactionTable').css('width', '100%').addClass('table table-striped'));
                    }
                    table = self.tableObj = $(self.$$('#queuetransactionTable')).DataTable({
                        dom: "<'row'<'pull-left col-sm-3'B>>" +
                            "<'row'<'col-sm-12'tr>>" +
                            "<'row'<'col-sm-5'i><'col-sm-7'p>>",
                        data: transactionList,
                        columns: self.jsonObj.columns,
                        columnDefs: self.jsonObj.columnDefs,
                        order: self.jsonObj.order,
                        language: {
                            lengthMenu: "show_MENU_ Transaction",
                            zeroRecords: "No Data found.",
                            info: "Showing _START_ to _END_ of _TOTAL_ Transaction",
                            infoEmpty: "No Transaction available",
                            infoFiltered: "(filtered from _MAX_ total Transaction)"
                        },
                        buttons: [
                            {
                                extend: 'csv',
                                text: '<i class="fa fa-file-text-o"></i>',
                                titleAttr: 'Click here to download the transactions in csv format',
                                filename: function () {
                                    var d = new Date();
                                    var timestamp = d.getTime();
                                    return "transaction_" + self.applicationNumber + "_" + timestamp;
                                },
                                exportOptions: {
                                    columns: self.jsonObj.exportColumn,
                                    autoFilter: false,
                                    format: {
                                        body: function (data, row, column, node) {
                                            return ((node.innerText.indexOf('₹ ') !== -1) || (node.innerText.indexOf('$') !== -1)) ?
                                                node.innerText.replace(/₹ /g, '').replace("$", '').replace(/,/g, '') :
                                                node.innerText;
                                        }
                                    }
                                }
                            },
                            {
                                extend: 'excel',
                                text: '<i class="fa fa-file-excel-o"></i>',
                                titleAttr: 'Click here to download the transactions in excel format',
                                filename: function () {
                                    var d = new Date();
                                    var timestamp = d.getTime();
                                    return "transaction_" + self.applicationNumber + "_" + timestamp;
                                },
                                exportOptions: {
                                    columns: self.jsonObj.exportColumn,
                                    autoFilter: true,
                                    format: {
                                        body: function (data, row, column, node) {
                                            return ((node.innerText.indexOf('₹ ') !== -1) || (node.innerText.indexOf('$') !== -1)) ?
                                                node.innerText.replace(/₹ /g, '').replace("$", '') :
                                                node.innerText;
                                        }
                                    }
                                }
                            }
                        ],
                    });
                    setTimeout(function () {
                        $('#queuetransactionTable tbody').off('click').on('click', 'a', function (event) {
                            event.preventDefault();
                            var data = self.tableObj.row($(this).parents('tr')).data();
                            var clickFunName = this.getAttribute("click");
                            if (clickFunName === "_viewMoreInfo") {
                                self._viewMoreInfo(data);
                            }
                            else if (clickFunName === "_reversePaymentFees") {
                                self._reversePaymentFees(event, data);
                            }
                        });
                    }, 700);
                },
                date: function (date) {
                    if (!_.isNull(date) && !_.isUndefined(date) && !_.isEmpty(date)) {
                        return formats.onlyDate(date, window.config.country);
                    }
                    return "NA";
                },
                formatMoney: function (value) {
                    return formats.money(value, window.config.country, 0);
                },
                getMultipleFeesGST: function (OldPaymentIdReference, processData) {
                    var self = this;
                    var payload = {};
                    payload.searchFilterView = [{ "OldPaymentIdReference": "" }];
                    payload.searchFilterView[0].OldPaymentIdReference = OldPaymentIdReference;
                    self.$.httploant.post("/feesData/Search/FeesAllData?pageSize=100&page=1", payload, window.config.services.savedFilters).then(function (data) {
                        self.set("multipleFeesGst", data);
                        if (processData) {
                            var processedData = _.transform(data, function (result, item) {
                                var tempObj = {};
                                tempObj["GST"] = item.GST;
                                tempObj["FeeName"] = item.FeeName;
                                tempObj["IGST"] = item.IGST * -1;
                                tempObj["CGST"] = item.CGST * -1;
                                tempObj["SGST"] = item.SGST * -1;
                                tempObj["FeeAmount"] = item.FeeAmount * -1;
                                tempObj["GSTAmount"] = item.GSTAmount * -1;
                                result.push(tempObj);
                            }, []);
                            self.set("multipleFeesGst", processedData);
                        }
                        var igstTotal = 0;
                        igstTotal = _.sumBy(self.multipleFeesGst, 'IGST');
                        self.set("igstTotal", igstTotal);
                        var feesTotal = 0;
                        feesTotal = _.sumBy(self.multipleFeesGst, 'FeeAmount');
                        var GSTAmount = 0;
                        GSTAmount = _.sumBy(self.multipleFeesGst, 'GSTAmount');
                        self.set("feesTotal", (feesTotal - GSTAmount));

                        var CGST = 0;
                        CGST = _.sumBy(self.multipleFeesGst, 'CGST');
                        self.set("cgstTotal", CGST);
                        var SGST = 0;
                        SGST = _.sumBy(self.multipleFeesGst, 'SGST');
                        self.set("sgstTotal", SGST);
                    }).fail(function (e) {
                        self.set("multipleFeesGst", []);
                        console.log(e);
                    });
                },
                getTransactionOldRef: function (transactionObj) {
                    var self = this;
                    var payload = {};
                    var transtype = ["payment", "feepaid"]
                    payload.searchFilterView = [{ "Amount": "" }, { "LoanNumber": "" }, { "TransactionType": { "$in": transtype } }];
                    payload.searchFilterView[0].Amount = (transactionObj.amount * -1);
                    payload.searchFilterView[1].LoanNumber = self.applicationNumber;
                    self.$.httploant.post("/feesTransactionData/Search/TransactionFeesData?pageSize=100&page=1", payload, window.config.services.savedFilters).then(function (data) {
                        self.getMultipleFeesGST(data[0].PaymentReferenceId, true);
                    }).fail(function (e) {
                        console.log(e);
                    });
                },
                _viewMoreInfo: function (event) {
                    var self = this;
                    var transactionObj = event;
                    this.set('transaction', transactionObj);
                    var transType = ["payment", "reversepayment", "feepaid"];
                    if ((transType.indexOf(transactionObj.transactionType) != -1) && (transactionObj.gst === 0) && (transactionObj.igst !== 0 || transactionObj.cgst !== 0 || transactionObj.sgst !== 0)) {
                        self.set("isLink", true);
                        if (transactionObj.paymentReferenceId != "") {
                            self.getMultipleFeesGST(transactionObj.paymentReferenceId, false);
                        }
                        else {
                            self.getTransactionOldRef(transactionObj);
                        }
                    }
                    else {
                        self.set("isLink", false);
                        self.set("multipleFeesGst", []);
                    }

                    $('#moreInfoPopup').modal('show');
                    setTimeout(() => {
                        if (transactionObj.gst !== 0) {
                            $("#spantaxFees").show();
                        }
                        else {
                            $("#spantaxFees").hide();
                        }
                    }, 200);

                },
                InterstCalculation: function (pbotInterest, pbotAdditionalInterest, pbotPriorInterest) {
                    var self = this;
                    var value = parseFloat(pbotInterest) - parseFloat(pbotAdditionalInterest);
                    var data = parseFloat(value + pbotPriorInterest).toFixed(2);
                    return self.formatMoney(data);
                },
                CheckPaymentType: function (data, TransactionType) {
                    var self = this;
                    var _transactionType = data.transactionType;
                    var _isReverse = data.isReverse;
                    var _isPayment = data.isPayment;
                    if (_isReverse != undefined && TransactionType === "Payment" && (_transactionType === "payment" || _transactionType === "feepaid") && _isPayment === true && _isReverse === false) {
                        return true;
                    }
                    else if (_isReverse != undefined && TransactionType === "Fees" && _transactionType === "feeapplied" && _isReverse === false) {
                        return true;
                    }
                    return false;
                },
                _reversePaymentFees: function (event, objtransaction) {
                    this.set('reverseTransaction', objtransaction);
                    $('#reversePaymentPopup').modal('show');
                },
                reversePayment: function () {
                    var self = this;
                    var objtransaction = self.reverseTransaction;
                    var payload = {
                        ProcessingDate: self.formatDate(new Date()),
                        TransactionReferenceId: objtransaction.id
                    };
                    var url = "";
                    if (objtransaction != undefined && objtransaction != "" && objtransaction != null && objtransaction.transactionType == "feeapplied") {
                        url = "/" + self.applicationNumber + "/reversefee";
                    }
                    else if (objtransaction != undefined && objtransaction != "" && objtransaction != null && (objtransaction.transactionType == "payment" || objtransaction.transactionType == "feepaid")) {
                        url = "/" + self.applicationNumber + "/reversepayment";
                    }
                    self.$.httploant.put(url, payload, window.config.services.accountingService).then(function (result) {
                        $('#reversePaymentPopup').modal('hide');
                        self.$.messageloant.showMessage("Reversal request initiated successfully.", "INFO", self.$$('#MessageContainer'));
                        self.raiseAppRefreshEvent(event);
                    }).fail(function (e) {
                        var msg = "Some error occured, Please try it after some time.";
                        if (e.responseJSON !== undefined && e.responseJSON.message !== undefined && e.responseJSON.message !== "") {
                            msg = e.responseJSON.message;
                        }
                        self.$.messageloant.showMessage(msg, "ERROR", self.$$('#MessageContainerFailed'));
                    });
                },
                formatDate: function (date) {
                    return moment(date).format("YYYY-MM-DD");
                },
                raiseAppRefreshEvent: function (event) {
                    this.$.utilityloant.raiseEvent(this.fireEvent, {
                        ActionName: 'UpdateTransaction',
                        EventData: event,
                        CompnentName: 'transactions-detail'
                    });
                },
                checkPortfolioType: function (objType) {
                    var self = this;
                    if (self.loanData && self.loanData.productPortfolioType != "MCA" && self.loanData.productPortfolioType != "MCALOC") {
                        return true;
                    }
                    return false;
                },
                formatCurrency: function (data) {
                    return formats.money(data, window.config.country, 0);
                },
                _reserveDisplayText: function (reverseTransaction) {
                    var self = this;
                    if (reverseTransaction.transactionType !== "payment") {
                        var descList = _.split(reverseTransaction.description, "-");
                        return descList[1];
                    }
                    return reverseTransaction.transactionType;
                },
                _reserveDisplayAmount: function (reverseTransaction) {
                    var self = this;
                    if (reverseTransaction.transactionType !== "payment") {
                        return self.formatCurrency((reverseTransaction.amount * -1));
                    }
                    return self.formatCurrency(reverseTransaction.amount);
                },
                performTabAction: function () {
                    var self = this;
                    if (self.tabAction !== undefined && self.tabAction !== null && self.tabAction !== "" && self.tabAction.actionToPerform === "reversePayment") {
                        var objtransaction = _.find(self.transactionList, { 'isPayment': true, "isReverse": false });
                        if (objtransaction != undefined && objtransaction != "") {
                            this.set('reverseTransaction', objtransaction);
                            $('#reversePaymentPopup').modal('show');
                        }
                    }
                },
                resetData: function () {
                    var self = this;
                    self.set("tabAction", {});
                },
                checkPriorIneterest: function (objType, scheduleList) {
                    var self = this;
                    if (self.scheduleList !== undefined) {
                        var activeLoanMod = _.find(self.scheduleList, ["modStatus", "Active"]);
                        if (self.loanData && self.loanData.productPortfolioType !== "MCA" && self.loanData.productPortfolioType !== "MCALOC" && activeLoanMod !== undefined) {
                            return true;
                        }
                        else {
                            return false;
                        }
                    }
                    return false;

                },
                isTaxVisible: function (objVisible) {
                    var self = this;
                    return (objVisible !== undefined && objVisible === true) ? true : false;
                },
                taxbifergation: function (trans, checkstate) {
                    var self = this;
                    var transType = ["feeapplied", "payment", "reversepayment", "feepaid", "reversefee"];
                    if ((transType.indexOf(trans.transactionType) != -1) && checkstate === 'otherstate') {
                        return (trans.igst !== undefined && trans.igst !== null && trans.igst !== 0) ? true : false;
                    }
                    else if ((transType.indexOf(trans.transactionType) != -1) && checkstate === 'samestate') {
                        return (trans.cgst !== undefined && trans.sgst !== undefined && trans.cgst !== null && trans.sgst !== null && trans.cgst !== 0 && trans.sgst !== 0) ? true : false;
                    }

                },
                calculateFee: function (objTran) {
                    var self = this;
                    var sum = objTran.igst + objTran.cgst + objTran.sgst;
                    var finaltax = (objTran.fee) - (sum);
                    return self.formatMoney(finaltax);
                },
                formatGSt: function (gst, multipleFeesGst, type) {
                    var self = this;
                    var localGst = gst;//(gst === 0) ? multipleFeesGst : gst;
                    if (localGst === 0) {
                        return '';
                    }
                    else if (type === "igst") {
                        return '@ ' + parseFloat(localGst).toFixed(2) + '%';
                    }
                    else {
                        return '@ ' + parseFloat(localGst / 2).toFixed(2) + '%';
                    }
                },
                _feesListOpen: function (event) {
                    $('#feesListPopup').modal('show');
                },
                _igstOpen: function (event) {
                    $('#igstListPopup').modal('show');
                },
                _cgstsgsctOpen: function (event) {
                    $('#cgstsgstListPopup').modal('show');
                },
                showLink: function (isLink) {
                    var self = this;
                    return (isLink === true) ? true : false;
                },
                totalFees: function (obj1, obj2) {
                    var self = this;
                    var obj = obj1 - obj2;
                    return self.formatMoney(obj);
                },
                gstDivide: function (obj) {
                    return obj / 2;
                },
                sumPriorInt: function (transaction) {
                    var self = this;
                    var finalSum = parseFloat(transaction.interest) + parseFloat(transaction.priorInterest);
                    return self.formatMoney(finalSum);
                }
            });
        });
    </script>
</dom-module>