<dom-module id="add-bank-account">
    <template>
        <style>
            .custom-input {
                --paper-input-container-input: {
                    font-size: 11px;
                }
                --paper-input-container-label: {
                    font-size: 12px;
                }
            }
        </style>
        <div id="MessageContainer"></div>
        <div class="row">
            <div class="col-md-12">
                <form is="iron-form" class="form-horizontal" name="bankAccountForm" autocomplete="off" aria-autocomplete="none">
                    <div class="row">
                        <div class="col-md-12">
                            <paper-input pattern="^[0-9]+$" error-message="Routing number is nine digit numeric filed." allowed-pattern="^[0-9]+$" type="text"
                                class="custom-input" auto-validate maxlength="9" minlength="9" value="{{RoutingNumber}}" name="routingNumber"
                                id="routingNumber" label="Routing Number" required on-change="_getBankName"></paper-input>
                        </div>
                    </div>
                    <dynamic-form form-configuration={{addBankObj}} values="{{addBankObj.values}}"></dynamic-form>
                    <br />
                    <div style="margin: 10px auto; text-align: center;">
                        <paper-button class="btn btn-primary activity-action-btn" on-click="_verifyForm" raised>Submit</paper-button>
                    </div>
                </form>
            </div>
        </div>
        <http-request id="http"></http-request>
        <utility-service id="utility"></utility-service>
        <alloy-config id="config"></alloy-config>
        <message-component id="message"></message-component>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "add-bank-account",
                properties: {
                    applicationNumber: {
                        type: String,
                        notify: true
                    },
                    addBankObj: {
                        type: Object,
                        notify: true,
                        value: {
                            controls: {
                                BankName: {
                                    label: "Bank Name",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: true,
                                        minLen: 1,
                                        maxLen: 100
                                    }
                                },
                                AccountNumber: {
                                    label: "Account Number",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: true,
                                        pattern: "NUMBER",
                                        allowpattern: "^[0-9]+$"
                                    }
                                },
                                CurrentBalance: {
                                    label: "Current Balance",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: true,
                                        minLen: 0,
                                        maxLen: 20,
                                        pattern: "NUMBER",
                                        allowpattern: "^[0-9]+$"
                                    }
                                },
                                AvailableBalance: {
                                    label: "Available Balance",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: true,
                                        minLen: 0,
                                        maxLen: 20,
                                        pattern: "NUMBER",
                                        allowpattern: "^[0-9]+$"
                                    }
                                },
                                AccountType: {
                                    label: "Account Type",
                                    type: "combobox",
                                    selectList: [
                                        { key: 'Checking', value: 'Checking' },
                                        { key: 'Savings', value: 'Savings' }
                                    ],
                                    labelKey: "value",
                                    labelValue: "key",
                                    validations: {
                                        required: true
                                    }
                                },
                                BalanceAsOfDate: {
                                    label: "Balance As Of Date",
                                    type: "date",
                                    format: "MM-DD-YYYY",
                                    minFactor: 10,
                                    maxFactor: 0,
                                    validations: {
                                        required: false,
                                        min: true,
                                        max: true
                                    }
                                },
                            },
                            values: {
                                BankName: "",
                                AccountNumber: "",
                                CurrentBalance: 0,
                                AvailableBalance: 0,
                                AccountType: "",
                                BalanceAsOfDate: ""
                            }
                        }
                    },
                    RoutingNumber:
                    {
                        type: String,
                        notify: true,
                        value: ""
                    }
                },
                init: function () {
                    var self = this;
                },
                _getBankName: function () {
                    var self = this;
                    var addBankObj = _.cloneDeep(self.addBankObj);
                    var url = "bank-name/" + self.RoutingNumber;
                    self.$.http.get(url, "").then(function (result) {
                        if (result.code === 200) {
                            addBankObj.values.BankName = result.name;
                            self.set('addBankObj', addBankObj);
                        }
                        else {
                            addBankObj.values.BankName = '';
                            self.set('addBankObj', addBankObj);
                            self.$.messageubd.showMessage(result.message, self.$$('#MessageContainer'));
                        }
                    }).fail(function (e) {
                        addBankObj.values.BankName = '';
                        self.set('addBankObj', addBankObj);
                        self.$.messageubd.showMessage("Bank name not found", "ERROR", self.$$('#MessageContainer'));
                    });
                },
                _verifyForm: function (event) {
                    var self = this;
                    var form = Polymer.dom(event).localTarget.parentElement.parentElement;
                    if (form.validate()) {
                        var payload = self.addBankObj.values;
                        payload.RoutingNumber = self.RoutingNumber;
                        var cashflowServiceEndpoint = window.config.services.cashflowService;
                        var url = "/application/" + self.applicationNumber + "/add/account";
                        self.$.http.post(url, payload, cashflowServiceEndpoint, true).then(function (data) {
                            self.raiseAppRefreshEvent(event);
                        }).fail(function (e) {
                            var response = e.responseJSON;
                            if (response) {
                                self.$.message.showMessage(response.message, "ERROR", self.$$('#MessageContainer'));
                            }
                            else {
                                self.$.message.showMessage("Add bank account error ", "ERROR", self.$$('#MessageContainer'));
                            }
                        });
                    }
                },
                raiseAppRefreshEvent: function (event) {
                    this.$.utility.raiseEvent(this.fireEvent, {
                        ActionName: 'AddBankAccount',
                        EventData: event,
                        CompnentName: 'add-bank-account'
                    });
                }
            });
        });
    </script>
</dom-module>