<html-import html-href="custom-component/grid-component.html"></html-import>
<dom-module id="bankurptcy-review">
    <template>
        <style>
            .custom-input {
                --paper-slider-input: {
                    width: 70px;
                }
                --paper-input-container-input: {
                    font-size: 11px;
                }
                --paper-input-container-label: {
                    font-size: 12px;
                }
            }

            .set-vertical-height {
                height: 500px;
                overflow-y: scroll;
            }
        </style>
        <div id="MessageContainer"></div>
        <div class="slide-action">
            <form id="bankurptcySearchForm" is="iron-form" class="form-horizontal" name="bankurptcySearchForm">
                <vaadin-combo-box class="custom-input" name="cmbOwners" value="{{selectedOwner}}" item-value-path="key" item-label-path="value"
                    items="{{allOwners}}" label="Select Owner" prevent-invalid-input="true" on-change="_ownerChanged">
                </vaadin-combo-box>
                <paper-input class="custom-input" type="text" value="{{primaryOwner}}" label="Primary Owner" readonly></paper-input>
                <dynamic-form form-configuration={{bankurptcySearchConfiguration}} values="{{bankurptcySearchConfiguration.values}}">
                </dynamic-form>
                </br>
                <button id="searchCompanies" on-click="searchBnkruptcy" class="btn btn-primary activity-action-btn">Bankruptcy Search</button>
            </form>
        </div>
        <div id="bankurptcySearchGridId" style="display: none;">
            <grid-component grid-Id="bankurptcySearchGrid" column-Headers="{{AdlColumnHeaders}}" column-Definations="{{AdlColumnDefinations}}"
                grid-Data="{{records}}" selected-Rowdata="{{selectedBnkruptcydata}}"></grid-component>
            <br/>
            <button id="call_Bankruptcy" on-click="callBankruptcy" class="btn btn-primary activity-action-btn">Call Bankruptcy Report</button>
        </div>
        <url-parser id="url"></url-parser>
        <http-request id="http"></http-request>
        <alloy-config id="configfli"></alloy-config>
        <utility-service id="utility"></utility-service>
        <message-component id="message"></message-component>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "bankurptcy-review",
                properties: {
                    bankruptcyColumnHeaders: {
                        type: Array,
                        notify: true,
                        value: ['First Name', 'Last Name', 'SSN', 'Case Number']
                    },
                    bankruptcyColumnDefinations: {
                        type: Array,
                        notify: true,
                        value: [{ name: 'debtors.0.names.0.first' }, { name: 'debtors.0.names.0.last' }, { name: 'debtors.0.ssn' }, { name: "caseNumber" }]
                    },
                    AdlColumnHeaders: {
                        type: Array,
                        notify: true,
                        value: ['First Name', 'Last Name', 'Score', 'SSN']
                    },
                    AdlColumnDefinations: {
                        type: Array,
                        notify: true,
                        value: [{ name: 'result.firstname' }, { name: 'result.lastname' }, { name: 'result.score' },{ name: 'result.ssn' }]
                    },
                    records: {
                        type: Array,
                        notify: true,
                        observer: '_showBankruptcySearchList'
                    },
                    FullName: {
                        type: Array,
                        notify: true
                    },
                    selectedBnkruptcydata: {
                        type: Object,
                        notify: true
                    },
                    allOwners: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    selectedOwner: {
                        type: String,
                        notify: true,
                        value: ''
                    },
                    primaryOwner: {
                        type: String,
                        notify: true,
                        value: ''
                    },
                    isADLSearch: {
                        type: Boolean,
                        notify: true,
                        value: false,
                        reflectToAttribute: true
                    },
                    isBankruptcySearch: {
                        type: Boolean,
                        notify: true,
                        value: false,
                        reflectToAttribute: true
                    },
                    bankurptcySearchConfiguration: {
                        type: Object,
                        notify: true,
                        value: {
                            controls: {
                                Ssn: {
                                    label: "SSN",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: true,
                                        autovalidate: false,
                                        minLen: 9,
                                        maxLen: 9
                                    }
                                },
                                FirstName: {
                                    label: "First Name",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false
                                    }
                                },
                                LastName: {
                                    label: "Last Name",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false
                                    }
                                },
                                StreetAddress1: {
                                    label: "Address Line1",
                                    type: "textbox",
                                    validations: {
                                        required: false,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false
                                    }
                                },
                                City: {
                                    label: "City",
                                    type: "textbox",
                                    validations: {
                                        required: false,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false
                                    }
                                },
                                State: {
                                    label: "State",
                                    type: "textbox",
                                    validations: {
                                        required: false,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false
                                    }
                                },
                                Zip5: {
                                    label: "Zip",
                                    type: "textbox",
                                    validations: {
                                        required: false,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false
                                    }
                                }
                            },
                            values: {
                                Ssn: "",
                                FirstName: "",
                                LastName: "",
                                StreetAddress1: "",
                                City: "",
                                State: "",
                                Zip5: "",
                                RequestedProduct: ""
                            }
                        }
                    },
                    dataAttributes: {
                        type: Object,
                        notify: true,
                        observer: "_onbankurptcyDataAttributesLoad"
                    }
                },
                _initialView: function () {
                    this.set("records", []);
                    $('#bankurptcySearchGridId').hide();
                    $('#bankurptcySearchForm').show();
                },
                _reportView: function () {
                    $('#bankurptcySearchGridId').show();
                    $('#bankurptcySearchForm').hide();
                },
                _checkNullUndefined: function (obj) {
                    if (obj && obj != null) {
                        return obj;
                    }
                    return '';
                },
                init: function () {
                    this._onbankurptcyDataAttributesLoad();
                },
                _onbankurptcyDataAttributesLoad: function () {
                    var self = this;
                    var BankruptcyADLSearchValue = self.$.configfli.getConfigurationBasedOnKey("BankruptcyADLSearch");
                    self.set('BankruptcyADLSearch', BankruptcyADLSearchValue);
                    var bankurptcyData = _.cloneDeep(self.bankurptcySearchConfiguration);
                    if (self.dataAttributes) {
                        var appDetails = self.dataAttributes.application;
                        var currentOwner = null;
                        if (!_.isNull(self.selectedOwner) && !_.isEmpty(self.selectedOwner) && !_.isUndefined(self.selectedOwner)) {
                            currentOwner = _.find(appDetails.owners, function (o) { return o.OwnerId == self.selectedOwner; });
                        }
                        else {
                            currentOwner = _.find(appDetails.owners, function (o) { return o.IsPrimary == true; });

                            var tempList = _.transform(appDetails.owners, function (result, item) {
                                var val = item.FirstName + ' ' + item.LastName;
                                result.push({ key: item.OwnerId, value: val });
                            }, []);
                            self.set("allOwners", tempList);
                            self.set("primaryOwner", currentOwner.FirstName + ' ' + currentOwner.LastName);
                        }
                        self.set("selectedOwner", currentOwner.OwnerId);
                        if (currentOwner != null && currentOwner != undefined) {
                            bankurptcyData.values['Ssn'] = currentOwner.SSN;
                            bankurptcyData.values['FirstName'] = currentOwner.FirstName;
                            bankurptcyData.values['LastName'] = currentOwner.LastName;
                            bankurptcyData.values['OwnerId'] = self.selectedOwner;
                            bankurptcyData.values['StreetAddress1'] = currentOwner.Addresses[0].AddressLine1;
                            bankurptcyData.values['City'] = currentOwner.Addresses[0].City;
                            bankurptcyData.values['State'] = currentOwner.Addresses[0].State;
                            bankurptcyData.values['Zip5'] = currentOwner.Addresses[0].ZipCode;
                        }
                        self.set('bankurptcySearchConfiguration', bankurptcyData);
                    }
                },
                _showBankruptcySearchList: function () {
                    var self = this;
                    if (self.records && self.records != null && self.records.length > 0)
                        $('#bankurptcySearchGridId').show();
                    else $('#bankurptcySearchGridId').hide();
                },
                searchBnkruptcy: function (event) {
                    event.preventDefault();
                    var self = this;
                    var form = Polymer.dom(event).localTarget.parentElement;
                    var url = '/application/' + self.applicationNumber + '/bankruptcy/search'
                    if (self.BankruptcyADLSearch == true) {
                        url = '/application/' + self.applicationNumber + '/adl/search'
                    }
                    var appProcessorEndpoint = window.config.services.appProcessor;
                    if (form.validate()) {
                        var request = {};
                        request.Ssn = self.bankurptcySearchConfiguration.values['Ssn'];
                        request.FirstName = self.bankurptcySearchConfiguration.values['FirstName'];
                        request.LastName = self.bankurptcySearchConfiguration.values['LastName'];
                        request.OwnerId = self.bankurptcySearchConfiguration.values['OwnerId'];
                        request.StreetAddress1 = self.bankurptcySearchConfiguration.values['StreetAddress1'];
                        request.City = self.bankurptcySearchConfiguration.values['City'];
                        request.State = self.bankurptcySearchConfiguration.values['State'];
                        request.Zip5 = self.bankurptcySearchConfiguration.values['Zip5'];
                        if (self.BankruptcyADLSearch == true) {
                            request.RequestedProduct = 'Bankruptcy';
                        }
                        self.$.http.post(url, request, appProcessorEndpoint, true).then(function (data) {
                            if (data && data != null) {
                                self._reportView();
                                if (self.BankruptcyADLSearch == true) {
                                    if (data.possibleADLs && data.possibleADLs.length == 0) {
                                        self.$.message.showMessage("Zero Records Found", "INFO", self.$.MessageContainer);
                                        self.raiseAppRefreshEventPartial(event);
                                    }
                                    else if (data.possibleADLs && data.possibleADLs.length == 1) {
                                        self.raiseAppRefreshEvent(event);
                                    }
                                    else if (data.possibleADLs && data.possibleADLs.length > 1) {
                                        self.set("records", data.possibleADLs);
                                    } else {
                                        self._initialView();
                                    }
                                } else {
                                    if (data.recordCount == 0) {
                                        self.$.message.showMessage("Zero Records Found", "INFO", self.$.MessageContainer);
                                        self.raiseAppRefreshEventPartial(event);
                                    }
                                    else if (data.records && data.records.length == 1) {
                                        self.raiseAppRefreshEvent(event);
                                    }
                                    else if (data.records && data.records.length > 1) {
                                        self.set("records", data.records);
                                    } else {
                                        self._initialView();
                                    }
                                }
                            }
                        }).fail(function (e) {
                            self._initialView();
                            self.$.message.showMessage("bankruptcy Search error is " + e.responseJSON.message, "ERROR", self.$.MessageContainer);
                            console.error("bankruptcy Search error is ", e);
                        });
                    }
                },
                callBankruptcy: function (event) {
                    var self = this;
                    if (!_.isUndefined(self.selectedBnkruptcydata, true) && !_.isNull(self.selectedBnkruptcydata)) {
                        var request = {};
                        if (self.BankruptcyADLSearch == true) {
                            request.UniqueId = self.selectedBnkruptcydata.result.adl;
                        }
                        if (self.BankruptcyADLSearch == false) {
                            request.UniqueId = self.selectedBnkruptcydata.result.adl;
                            request.TMSId = self.selectedBnkruptcydata.tmsId;
                        }
                        request.OwnerId = self.selectedOwner;
                        var url = '/application/' + self.applicationNumber + '/bankruptcy/report'
                        var appProcessorEndpoint = window.config.services.appProcessor;
                        self.$.http.post(url, request, appProcessorEndpoint
                        ).then(function (data) {
                            self.raiseAppRefreshEvent();
                        }).fail(function (e) {
                            self._reportView();
                            console.error("bankruptcy Report error is ", e);
                        });
                    } else {
                        self.$.message.showMessage("Please Select Search Result", "ERROR", self.$.MessageContainer);
                    }
                },
                raiseAppRefreshEvent: function (event) {
                    this._initialView();
                    this.$.utility.raiseEvent(this.fireEvent,
                        {
                            ActionName: "Bankurptcy",
                            EventData: event,
                            CompnentName: 'bankurptcy-review'
                        });
                },
                _ownerChanged: function (event) {
                    var self = this;
                    if (!_.isEmpty(event.target.value)) {
                        self.selectedOwner = event.target.value;
                        self._onbankurptcyDataAttributesLoad();
                    }
                },
                raiseAppRefreshEventPartial: function (event) {
                    this._initialView();
                    var eventList = {
                        "RefreshDataAttributes": true,
                        "RefreshActivity": true,
                        "RefreshVerificationDashboard": true,
                        "RefreshStatus": true
                    };
                    this.$.utility.raiseEvent(eventList, {
                        ActionName: "Bankurptcy",
                        EventData: event,
                        CompnentName: 'bankurptcy-review'
                    });
                },
                isitAdlSearch: function () {
                    var self = this;
                    if (self.BankruptcyADLSearch == true) {

                        self.set('isADLSearch', true);
                    }
                    self.set('isADLSearch', false);
                },
                isitBankruptcySearch: function () {
                    var self = this;
                    if (self.BankruptcyADLSearch == false) {
                        self.set('isBankruptcySearch', true);
                    }
                    self.set('isBankruptcySearch', false);
                }
            });
        });
    </script>
</dom-module>