<dom-module id="compute-offer">
    <template>
        <div class="slide-action">
            <button id="computeoffers" on-click="computeOffer" class="btn btn-primary activity-action-btn">Compute Offers</button>
        </div>
        <url-parser id="url"></url-parser>
        <http-request id="http"></http-request>
        <utility-service id="utility"></utility-service>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "compute-offer",
                properties: {
                    currentStatus: {
                        type: Object,
                        notify: true
                    },
                    workflowId: {
                        type: String,
                        notify: true
                    }
                },
                init: function () {
                    var self = this;
                    if (self.currentStatus != undefined && self.currentStatus != null) {
                        self.set("workflowId", self.currentStatus.statusWorkFlowId);
                    }
                },
                computeOffer: function (event) {
                    var self = this;
                    var url = '/application/' + self.applicationNumber + '/compute/offer'
                    var appProcessorEndpoint = window.config.services.appProcessor;
                    self.$.http.get(url, appProcessorEndpoint, true).then(function (data) {
                        if (!_.isUndefined(data) && !_.isEmpty(data) && !_.isNull(data)) {
                            if (data.result === 'Failed') {
                                var msg =
                                    "There are no auto-computed offers. Please go to the Offers tab(down) and generate the offer manually.";
                                self.confirmDialog(msg, "Compute Offer");
                            } else {
                                self.raiseAppRefreshEvent(event);
                            }
                        }
                    }).fail(function (e) {
                        console.error("computeOffer error is ", e);
                    });
                },
                confirmDialog: function (message, titleText) {
                    var self = this;
                    $('<div></div>').appendTo('body')
                        .html('<div><h5>' + message + '</h5></div>')
                        .dialog({
                            modal: true,
                            title: titleText,
                            zIndex: 10000,
                            autoOpen: true,
                            width: '400px',
                            resizable: false,
                            buttons: {
                                Submit: function (e) {
                                    self.performAction(e);
                                    $(this).dialog("close");
                                },
                                Cancel: function () {
                                    $(this).dialog("close");
                                }
                            },
                            open: function () {
                                $('.ui-dialog-buttonpane').find(
                                        'button:contains("Cancel")')
                                    .addClass('btn btn-primary activity-action-btn');
                                $('.ui-dialog-buttonpane').find(
                                        'button:contains("Submit")')
                                    .addClass('btn btn-primary activity-action-btn');
                            },
                            close: function (event, ui) {
                                $(this).remove();
                            }
                        });
                },
                performAction: function (event) {
                    var self = this;
                    var params = self.$.url.getParams();
                    var url = '/application/' + self.applicationNumber + '/' + self.workflowId +
                        '/' + '200.70';
                    self.$.http.put(url, {}, window.config.services.statusManagement).then(
                        function (
                            data) {
                            self.raiseAppFullRefreshEvent(event);
                        }).fail(function (e) {
                        console.error("computeOffer error is ", e);
                    });
                },
                raiseAppFullRefreshEvent: function (event) {
                    var fireEvent = {
                        "AppDetailsPageRefresh": true
                    };
                    this.$.utility.raiseEvent(fireEvent, {});
                },
                raiseAppRefreshEvent: function (event) {
                    this.$.utility.raiseEvent(this.fireEvent, {
                        ActionName: "ComputeOffers",
                        EventData: event,
                        CompnentName: 'compute-offer'
                    });
                }
            });
        });
    </script>
</dom-module>