<html-import html-href="custom-component/grid-component.html"></html-import>
<dom-module id="criminalrecord-review">
    <style>
        .custom-input {
            --paper-slider-input: {
                width: 70px;
            }
            --paper-input-container-input: {
                font-size: 11px;
            }
            --paper-input-container-label: {
                font-size: 12px;
            }
        }
    </style>
    <template>
        <div id="MessageContainer"></div>
        <div class="slide-action">
            <form id="CriminalRecordForm" is="iron-form" class="form-horizontal" name="CriminalRecordForm">
                <vaadin-combo-box class="custom-input" name="cmbOwners" value="{{selectedOwner}}" item-value-path="key" item-label-path="value"
                    items="{{allOwners}}" label="Select Owner" prevent-invalid-input="true" on-change="_ownerChanged">
                </vaadin-combo-box>
                <paper-input class="custom-input" type="text" value="{{primaryOwner}}" label="Primary Owner" readonly></paper-input>
                <dynamic-form form-configuration={{criminalrecordSearchConfiguration}} values="{{criminalrecordSearchConfiguration.values}}">
                </dynamic-form>
                </br>
                <button id="searchCompanies" on-click="searchCriminalRecord" class="btn btn-primary activity-action-btn">Criminal Record Search</button>
            </form>
            <div id="criminalrecordSearchGridId" style="display: none;">
                <grid-component grid-Id="CriminalRecordSearchGrid" column-Headers="{{AdlColumnHeaders}}" column-Definations="{{AdlColumnDefinations}}"
                    grid-Data="{{records}}" selected-Rowdata="{{SelectCriminalRecorddata}}"></grid-component>
                <br/>
                <button id="call_Paynet" on-click="callCriminalRecord" class="btn btn-primary activity-action-btn">Call Criminal Report</button>
            </div>
        </div>
        <url-parser id="url"></url-parser>
        <http-request id="http"></http-request>
        <alloy-config id="configfli"></alloy-config>
        <utility-service id="utility"></utility-service>
        <message-component id="message"></message-component>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "criminalrecord-review",
                properties: {
                    criminalColumnHeaders: {
                        type: Array,
                        notify: true,
                        value: ['First Name', 'Last Name', 'SSN', 'Case Number']
                    },
                    criminalColumnDefinations: {
                        type: Array,
                        notify: true,
                        value: [{ name: "name.first" }, { name: "name.last" }, { name: "ssn" }, { name: "caseNumber" }]
                    },
                    AdlColumnHeaders: {
                        type: Array,
                        notify: true,
                        value: ['First Name', 'Last Name','Score','SSN']
                    },
                    AdlColumnDefinations: {
                        type: Array,
                        notify: true,
                        value: [{ name: 'result.firstname' }, { name: 'result.lastname' },{ name: 'result.score' },{ name: 'result.ssn' }]
                    },
                    records: {
                        type: Array,
                        notify: true,
                        observer: '_showBCriminalRecordSearchList'
                    },
                    QueryId: {
                        type: String,
                        notify: true,
                        value: ''
                    },
                    SelectCriminalRecorddata: {
                        type: Object,
                        notify: true
                    },
                    allOwners: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    selectedOwner: {
                        type: String,
                        notify: true,
                        value: ''
                    },
                    primaryOwner: {
                        type: String,
                        notify: true,
                        value: ''
                    },
                    CriminalADLSearch: {
                        type: Boolean,
                        notify: true,
                        value: false
                    },
                    criminalrecordSearchConfiguration: {
                        type: Object,
                        notify: true,
                        value: {
                            controls: {
                                Ssn: {
                                    label: "SSN",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: true,
                                        autovalidate: false,
                                        minLen: 9,
                                        maxLen: 9
                                    }
                                },
                                FirstName: {
                                    label: "First Name",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false
                                    }
                                },
                                LastName: {
                                    label: "Last Name",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false
                                    }
                                },
                                StreetAddress1: {
                                    label: "Address Line1",
                                    type: "textbox",
                                    validations: {
                                        required: false,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false
                                    }
                                },
                                City: {
                                    label: "City",
                                    type: "textbox",
                                    validations: {
                                        required: false,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false
                                    }
                                },
                                State: {
                                    label: "State",
                                    type: "textbox",
                                    validations: {
                                        required: false,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false
                                    }
                                },
                                Zip5: {
                                    label: "Zip",
                                    type: "textbox",
                                    validations: {
                                        required: false,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false
                                    }
                                }
                            },
                            values: {
                                Ssn: "",
                                FirstName: "",
                                LastName: "",
                                StreetAddress1: "",
                                City: "",
                                State: "",
                                Zip5: "",
                                RequestedProduct: ""
                            }
                        }
                    },
                    dataAttributes: {
                        type: Object,
                        notify: true
                    }
                },
                _initialView: function () {
                    this.set("records", []);
                    $('#criminalrecordSearchGridId').hide();
                    $('#CriminalRecordForm').show();
                },
                _reportView: function () {
                    $('#criminalrecordSearchGridId').show();
                    $('#CriminalRecordForm').hide();
                },
                _checkNullUndefined: function (obj) {
                    if (obj && obj != null) {
                        return obj;
                    }
                    return '';
                },
                init: function () {
                    this._onCriminalDataAttributesLoad();
                },
                _onCriminalDataAttributesLoad: function () {
                    var self = this;
                    var criminalData = _.cloneDeep(self.criminalrecordSearchConfiguration);
                    if (self.dataAttributes) {
                        var appDetails = self.dataAttributes.application;
                        var currentOwner = null;
                        if (!_.isNull(self.selectedOwner) && !_.isEmpty(self.selectedOwner) && !_.isUndefined(self.selectedOwner)) {
                            currentOwner = _.find(appDetails.owners, function (o) { return o.OwnerId == self.selectedOwner; });
                        }
                        else {
                            currentOwner = _.find(appDetails.owners, function (o) { return o.IsPrimary == true; });
                            var tempList = _.transform(appDetails.owners, function (result, item) {
                                var val = item.FirstName + ' ' + item.LastName;
                                result.push({ key: item.OwnerId, value: val });
                            }, []);
                            self.set("allOwners", tempList);
                            self.set("primaryOwner", currentOwner.FirstName + ' ' + currentOwner.LastName);
                        }
                        self.set("selectedOwner", currentOwner.OwnerId);
                        if (currentOwner != null && currentOwner != undefined) {
                            criminalData.values['Ssn'] = currentOwner.SSN;
                            criminalData.values['FirstName'] = currentOwner.FirstName;
                            criminalData.values['LastName'] = currentOwner.LastName;
                            criminalData.values['OwnerId'] = self.selectedOwner;
                            criminalData.values['StreetAddress1'] = currentOwner.Addresses[0].AddressLine1;
                            criminalData.values['City'] = currentOwner.Addresses[0].City;
                            criminalData.values['State'] = currentOwner.Addresses[0].State;
                            criminalData.values['Zip5'] = currentOwner.Addresses[0].ZipCode;
                        }
                        self.set('criminalrecordSearchConfiguration', criminalData);
                        var CriminalADLSearchValue = self.$.configfli.getConfigurationBasedOnKey("CriminalADLSearch");
                        self.set('CriminalADLSearch', CriminalADLSearchValue);
                    }
                },
                _showBCriminalRecordSearchList: function () {
                    var self = this;
                    if (self.records && self.records != null && self.records.length > 0)
                        $('#criminalrecordSearchGridId').show();
                    else
                        $('#criminalrecordSearchGridId').hide();
                },
                searchCriminalRecord: function (event) {
                    event.preventDefault();
                    var self = this;
                    var form = Polymer.dom(event).localTarget.parentElement;
                    var url = '/application/' + self.applicationNumber + '/criminalrecord/search';
                    if (self.CriminalADLSearch == true) {
                        url = '/application/' + self.applicationNumber + '/adl/search'
                    }
                    var appProcessorEndpoint = window.config.services.appProcessor;
                    if (form.validate()) {
                        var request = {};
                        request.Ssn = self.criminalrecordSearchConfiguration.values['Ssn'];
                        request.FirstName = self.criminalrecordSearchConfiguration.values['FirstName'];
                        request.LastName = self.criminalrecordSearchConfiguration.values['LastName'];
                        request.OwnerId = self.criminalrecordSearchConfiguration.values['OwnerId'];
                        request.StreetAddress1 = self.criminalrecordSearchConfiguration.values['StreetAddress1'];
                        request.City = self.criminalrecordSearchConfiguration.values['City'];
                        request.State = self.criminalrecordSearchConfiguration.values['State'];
                        request.Zip5 = self.criminalrecordSearchConfiguration.values['Zip5'];
                        if (self.CriminalADLSearch == true) {
                            request.RequestedProduct = 'Criminal';
                        }
                        self.$.http.post(url, request, appProcessorEndpoint, true).then(function (data) {
                            if (data && data != null) {
                                if (self.CriminalADLSearch == true) {
                                    if (data.possibleADLs && data.possibleADLs.length == 0) {
                                        self.$.message.showMessage("Zero Records Found", "INFO", self.$.MessageContainer);
                                        self.raiseAppRefreshEventPartial(event);
                                    }
                                    else if (data.possibleADLs && data.possibleADLs.length == 1) {
                                        self.raiseAppRefreshEvent(event);
                                    }
                                    else if (data.possibleADLs && data.possibleADLs.length > 0) {
                                        // self.QueryId = data.header.transactionId;
                                        self._reportView();
                                        self.set("records", data.possibleADLs);
                                    } else {
                                        self._initialView();
                                    }
                                } else {
                                    if (data.recordCount == 0) {
                                        self.$.message.showMessage("Zero Records Found", "INFO", self.$.MessageContainer);
                                        self.raiseAppRefreshEventPartial(event);
                                    }
                                    else if (data.records && data.records.length == 1) {
                                        self.raiseAppRefreshEvent(event);
                                    }
                                    else if (data.records && data.records.length > 0) {
                                        self.QueryId = data.header.transactionId;
                                        self._reportView();
                                        self.set("records", data.records);
                                    } else {
                                        self._initialView();
                                    }
                                }

                            }
                        }).fail(function (e) {
                            self._initialView();
                            self.$.message.showMessage("Criminal Search error "+e.responseJSON.message, "ERROR", self.$.MessageContainer);                                        
                            console.error("CriminalRecord Search error is ", e);
                        });
                    }
                },
                callCriminalRecord: function (event) {
                    var self = this;
                    if (!_.isUndefined(self.SelectCriminalRecorddata) && !_.isNull(self.SelectCriminalRecorddata)) {
                        var request = {};
                        if (self.CriminalADLSearch == true) {
                        request.UniqueId = self.SelectCriminalRecorddata.result.adl;
                        }
                        else {
                            request.UniqueId = self.SelectCriminalRecorddata.uniqueId;
                            request.QueryId = self.QueryId;
                        }
                        request.OwnerId = self.selectedOwner;
                        var url = '/application/' + self.applicationNumber + '/criminalrecord/report'
                        var appProcessorEndpoint = window.config.services.appProcessor;
                        self.$.http.post(url, request, appProcessorEndpoint, true).then(function (data) {
                            self.raiseAppRefreshEvent(event);
                        }).fail(function (e) {
                            self._reportView();
                            console.error("CriminalRecord Report error is ", e);
                        });
                    } else {
                        self.$.message.showMessage("Please Select Search Result", "ERROR", self.$.MessageContainer);
                    }
                },
                raiseAppRefreshEvent: function (event) {
                    this._initialView();
                    this.$.utility.raiseEvent(this.fireEvent, {
                        ActionName: "CriminalRecord",
                        EventData: event,
                        CompnentName: 'criminalrecord-review'
                    });
                },
                _ownerChanged: function (event) {
                    var self = this;
                    if (!_.isEmpty(event.target.value)) {
                        self.selectedOwner = event.target.value;
                        self._onCriminalDataAttributesLoad();
                    }
                },
                raiseAppRefreshEventPartial: function (event) {
                    this._initialView();
                    this.$.utility.raiseEvent({ "RefreshDataAttributes": true, "RefreshActivity": true }, {
                        ActionName: "CriminalRecord",
                        EventData: event,
                        CompnentName: 'criminalrecord-review'
                    });
                },
                selectColumnHeaders: function () {
                    var self = this;
                    if (self.CriminalADLSearch == true) {
                        return self.AdlColumnHeaders;
                    }
                    return self.criminalColumnHeaders;
                },
                selectColumnDefinations: function () {
                    var self = this;
                    if (self.CriminalADLSearch == true) {
                        return self.AdlColumnDefinations;
                    }
                    return self.criminalColumnDefinations;
                }
            });
        });
    </script>
</dom-module>