<dom-module id="disconnectplaid-account">
    <template>
        <div class="row">
            <div class="col-md-12">
                <div id="DisableTokenSuccessMessage"></div>
                <div>
                    <button id="btndisabletoke" on-click="disableToken" class="btn btn-primary activity-action-btn">Disconnect Plaid Account</button>
                </div>
                <div>
                </div>

                <http-request id="http"></http-request>
                <utility-serivce id="utility"></utility-serivce>
                <message-component id="message"></message-component>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "disconnectplaid-account",
                properties: {
                    applicationNumber: {
                        type: String,
                        notify: true
                    },
                    currentEntityName: {
                        type: String,
                        notify: true,
                        value: 'application'
                    }
                },
                init: function () {},
                disableToken: function (event) {
                    var self = this;
                    var ibvEndPoint = window.config.services.ibvService;
                    var url = self.currentEntityName + "/" + self.applicationNumber +
                        "/plaid/token/";
                    self.$.http.delete(url, null, ibvEndPoint).then(function (data) {
                        self.$.message.showMessage(
                            "Plaid Account Disconnected Successfully.", "INFO", self.$.DisableTokenSuccessMessage
                        );
                        self.raiseAppRefreshEvent(event);
                    });
                },
                raiseAppRefreshEvent: function (event) {
                    this.$.utility.raiseEvent(this.fireEvent, {
                        ActionName: "DisconnectPlaidAccount",
                        EventData: event,
                        CompnentName: 'disconnectplaid-account'
                    });
                }
            })
        });
    </script>
</dom-module>