<html-import html-href="custom-component/grid-component.html"></html-import>
<dom-module id="pull-personal-report">
    <template>
        <div id="MessageContainer"></div>
        <div class="slide-action">
            <form id="pullPersonalReportForm" is="iron-form" class="form-horizontal" name="pullPersonalReport">
                <vaadin-combo-box class="custom-input" name="cmbOwners" value="{{selectedOwner}}" item-value-path="key" item-label-path="value"
                    items="{{allOwners}}" label="Select Owner" prevent-invalid-input="true" on-change="_ownerChanged">
                </vaadin-combo-box>
                <paper-input class="custom-input" type="text" value="{{primaryOwner}}" label="Primary Owner" readonly></paper-input>
                <dynamic-form form-configuration={{ownerDetailConfiguration}} values="{{ownerDetailConfiguration.values}}">
                </dynamic-form>
                <br/>
                <button id="_pullPersonalReportBtn" on-click="_pullPersonalReport" class="btn btn-primary activity-action-btn">FETCH REPORT</button>
            </form>
        </div>
        <url-parser id="url"></url-parser>
        <http-request id="http"></http-request>
        <utility-service id="utility"></utility-service>
        <message-component id="message"></message-component>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "pull-personal-report",
                properties: {
                    ownerDetailConfiguration: {
                        type: Object,
                        notify: true,
                        value: {
                            controls: {
                                FirstName: {
                                    label: "First Name",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        readonly: true,
                                        charcounter: false,
                                        autovalidate: false
                                    }
                                },
                                LastName: {
                                    label: "Last Name",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        readonly: true,
                                        charcounter: false,
                                        autovalidate: false
                                    }
                                },
                                Ssn: {
                                    label: "SSN",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        readonly: true,
                                        charcounter: true,
                                        autovalidate: false,
                                        minLen: 9,
                                        maxLen: 9
                                    }
                                },
                                StreetAddress1: {
                                    label: "Address Line1",
                                    type: "textbox",
                                    validations: {
                                        required: false,
                                        readonly: true,
                                        charcounter: false,
                                        autovalidate: false
                                    }
                                },
                                City: {
                                    label: "City",
                                    type: "textbox",
                                    validations: {
                                        required: false,
                                        readonly: true,
                                        charcounter: false,
                                        autovalidate: false
                                    }
                                },
                                State: {
                                    label: "State",
                                    type: "textbox",
                                    validations: {
                                        required: false,
                                        readonly: true,
                                        charcounter: false,
                                        autovalidate: false
                                    }
                                },
                                Zip: {
                                    label: "Zip",
                                    type: "textbox",
                                    validations: {
                                        required: false,
                                        readonly: true,
                                        charcounter: false,
                                        autovalidate: false
                                    }
                                },
                                Phone: {
                                    label: "Phone",
                                    type: "textbox",
                                    validations: {
                                        required: false,
                                        readonly: true,
                                        charcounter: false,
                                        autovalidate: false
                                    }
                                }
                            },
                            values: {
                                FirstName: "",
                                LastName: "",
                                Ssn: "",
                                StreetAddress1: "",
                                City: "",
                                State: "",
                                Zip: "",
                                Phone: "",
                                IsPrimary: ""
                            }
                        }
                    },
                    dataAttributes: {
                        type: Object,
                        notify: true
                    },
                    selectedOwner: {
                        type: String,
                        notify: true,
                        value: ''
                    },
                    allOwners: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    primaryOwner: {
                        type: String,
                        notify: true,
                        value: ''
                    }
                },
                init: function () {
                    this._onDataAttributesLoad();
                },
                _ownerChanged: function (event) {
                    var self = this;
                    if (!_.isEmpty(event.target.value)) {
                        self.set("selectedOwner", event.target.value);
                        self._onDataAttributesLoad();
                    }
                },
                _checkNullUndefined: function (obj) {
                    if (obj && obj != null) {
                        return obj;
                    }
                    return '';
                },
                _getFullBusinessAddess: function (businessAddress) {
                    var address = '';
                    if (businessAddress && businessAddress != null) {
                        address = this._checkNullUndefined(businessAddress.AddressLine1) + ' ' +
                            this._checkNullUndefined(businessAddress.AddressLine2);
                    }
                    return address;
                },
                _pullPersonalReport: function (event) {
                    var self = this;
                    var form = Polymer.dom(event).localTarget.parentElement;
                    var processorEndpoint = window.config.services.appProcessor;
                    var payload = {
                        OwnerId: self.ownerDetailConfiguration.values.OwnerId,
                        FirstName: self.ownerDetailConfiguration.values.FirstName,
                        LastName: self.ownerDetailConfiguration.values.LastName,
                        Ssn: self.ownerDetailConfiguration.values.Ssn,
                        Addressline1: self.ownerDetailConfiguration.values.StreetAddress1,
                        City: self.ownerDetailConfiguration.values.City,
                        State: self.ownerDetailConfiguration.values.State,
                        ZipCode: self.ownerDetailConfiguration.values.Zip,
                        IsPrimary: self.ownerDetailConfiguration.values.IsPrimary,
                        Clientipaddress: null
                    };
                    var url = "application/" + self.applicationNumber +
                        "/initiate/experian/personal";
                    if (form.validate()) {
                        self.$.http.post(url, payload, processorEndpoint).then(function (data) {
                            self.raiseAppRefreshEvent(event);
                        }).fail(function (e) {
                            console.error(e.message);
                        });
                    }
                },
                _onDataAttributesLoad: function () {
                    var self = this;
                    if (self.dataAttributes) {
                        var appDetails = self.dataAttributes.application;
                        if (self.dataAttributes) {
                            var appDetails = self.dataAttributes.application;
                            var currentOwner = null;
                            if (!_.isNull(self.selectedOwner) && !_.isEmpty(self.selectedOwner) &&
                                !_.isUndefined(self.selectedOwner)) {
                                currentOwner = _.find(appDetails.owners, function (o) {
                                    return o.OwnerId == self.selectedOwner;
                                });
                            } else {
                                currentOwner = _.find(appDetails.owners, function (o) {
                                    return o.IsPrimary == true;
                                });

                                var tempList = _.transform(appDetails.owners, function (result,
                                    item) {
                                    var val = item.FirstName + ' ' + item.LastName;
                                    result.push({
                                        key: item.OwnerId,
                                        value: val
                                    });
                                }, []);
                                self.set("allOwners", tempList);
                                self.set("primaryOwner", currentOwner.FirstName + ' ' +
                                    currentOwner.LastName);
                            }
                            self.set("selectedOwner", currentOwner.OwnerId);
                            if (currentOwner != null && currentOwner != undefined) {
                                self.ownerDetailConfiguration.values['Ssn'] = currentOwner.SSN;
                                self.ownerDetailConfiguration.values['FirstName'] = currentOwner.FirstName;
                                self.ownerDetailConfiguration.values['LastName'] = currentOwner.LastName;
                                self.ownerDetailConfiguration.values['OwnerId'] = self.selectedOwner;

                                if (currentOwner.Addresses &&
                                    currentOwner.Addresses.length > 0) {
                                    self.ownerDetailConfiguration.values['StreetAddress1'] =
                                        currentOwner.Addresses[
                                            0].AddressLine1;
                                    self.ownerDetailConfiguration.values['City'] = currentOwner.Addresses[
                                            0]
                                        .City;
                                    self.ownerDetailConfiguration.values['State'] = currentOwner.Addresses[
                                            0]
                                        .State;
                                    self.ownerDetailConfiguration.values['Zip'] = currentOwner.Addresses[
                                            0]
                                        .ZipCode;
                                }
                                if (currentOwner.PhoneNumbers &&
                                    currentOwner.PhoneNumbers.length > 0 &&
                                    currentOwner.PhoneNumbers[0].Phone) {
                                    self.ownerDetailConfiguration.values['Phone'] = currentOwner.PhoneNumbers[
                                        0].Phone;
                                }
                                if (currentOwner.IsPrimary) {
                                    self.ownerDetailConfiguration.values['IsPrimary'] =
                                        currentOwner.IsPrimary;
                                } else {
                                    self.ownerDetailConfiguration.values['IsPrimary'] = false;
                                }
                                self.set('ownerDetailConfiguration', $.extend({}, self.ownerDetailConfiguration));
                            }
                        }
                    }
                },
                raiseAppRefreshEvent: function (event) {
                    var eventList = {
                        "RefreshDataAttributes": true,
                        "RefreshActivity": true,
                        "RefreshVerificationDashboard": true,
                        "RefreshStatus": true,
                        "ShowMessage": true
                    };
                    this.$.utility.raiseEvent(eventList, {
                        ActionName: "PullPersonalReport",
                        EventData: event,
                        CompnentName: 'pull-personal-report'
                    });
                }
            });
        });
    </script>
</dom-module>