<dom-module id="loan-status-icon">
    <template>
        <style>
            .fa {
                font-size: 18px;
            }

            .fail {
                color: #ff0000;
            }

            .initiated {
                color: #E9DF61;
                font-size: 15px;
            }

            .not-initiated {
                color: #0E6ACE;
                font-size: 15px;
            }

            .pass {
                color: #80b43c;
            }
        </style>
        <i class$="[[iconClass]]"></i>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "loan-status-icon",
                properties: {
                    verificationStatus: {
                        type: String,
                        notify: true,
                        observer: "computeClass"
                    },
                    currentStatus: {
                        type: String,
                        notify: true
                    },
                    methodList: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    iconClass: {
                        type: String,
                        notify: true,
                        value: '',
                        reflectToAttribute: true
                    }
                },
                computeClass: function () {
                    var className = '';
                    var self = this;
                    if (self.currentStatus === "Completed" && self.verificationStatus === "Passed") {
                        className = 'fa fa-check pass';
                    }
                    else if (self.currentStatus === "InProgress" && self.verificationStatus === "Failed") {
                        className = 'fa fa-times fail';
                    }
                    else if ((self.currentStatus === "InProgress" || self.currentStatus === "Initiated") && self.verificationStatus === "None") {
                        className = 'fa fa-battery-half initiated';
                    }
                    else if ((self.currentStatus === "-" || self.currentStatus === "NotInitiated") && (self.verificationStatus === "None" || self.verificationStatus === "-")) {
                        className = 'fa fa-battery-empty not-initiated';
                    }
                    var methodList = self.methodList;
                    var currentInitiatedMethod = self.currentInitiatedMethod;
                    if (methodList && methodList.length > 0) {
                        var methodArr = _.filter(methodList, { method: currentInitiatedMethod, isReviewMethod: true });
                        if (methodArr.length > 0) {
                            className = 'fa fa-star ';
                            className += (self.verificationStatus === "Passed" ? 'pass' : (self.verificationStatus === "Failed" ? 'fail' : ''));
                        }
                    }
                    self.set('iconClass', className);
                },
                ready: function () {
                    this.computeClass();
                }
            });
        });
    </script>
</dom-module>