<html-import html-href="loaders/sk-wave.html"></html-import>
<dom-module id="payment-detail">
    <template>
        <style>
            dl {
                margin-top: 0;
                margin-bottom: 10px !important;
            }

            .table {
                margin-bottom: 5px !important;
            }

            .dl-horizontal dd {
                margin-left: 96px !important;
            }

            .dl-horizontal dt {
                width: 110px !important;
            }

            .dl-horizontal dd {
                margin-left: 120px !important;
            }

            .resubmit {
                width: 83px;
                height: 30px;
                font-size: 12px;
            }

            .div-ul {
                padding: 0 !important;
            }

            .div-ul li {
                display: inline-flex;
                width: 47%;
                margin: 5px auto;
            }

            .div-ul li>b {
                margin-right: 2px;
            }

            .div-ul li>b:nth-of-type(2) {
                font-weight: normal;
            }

            .div-ul li.array-list {
                display: block;
                width: auto;
            }

            .popuprow {
                margin: 10px auto;
            }

            .popuprow .col-md-12 {
                padding: 0;
            }

            .popuph3 {
                margin: 0 auto;
                border-bottom: 1px solid;
                padding: 10px 0;
            }

            #bankInfoPopup .modal-body {
                padding: 15px 20px !important;
            }

            .header {
                font-size: 12px;
                font-weight: 700;
                color: white;
                background-color: #03466B !important;
            }

            .dt-body-right {
                text-align: right !important;
            }

            .dt-body-center {
                text-align: center !important;
            }

            th.h-center-c-left {
                text-align: center !important;
            }

            td.h-center-c-left {
                text-align: left !important;
            }

            th.h-right-c-right {
                text-align: right !important;
            }

            td.h-right-c-right {
                text-align: right !important;
            }

            th.h-center-c-center {
                text-align: center !important;
            }

            td.h-center-c-center {
                text-align: center !important;
            }

            th.h-center-c-right {
                text-align: center !important;
            }

            td.h-center-c-right {
                text-align: right !important;
            }
        </style>
        <div class="panel-body">
            <spinkit-wave hidden$="{{loadding}}"></spinkit-wave>
            <div class="row">
                <div class="col-lg-12" id="paymentDetailTabContainer">
                    <table id="paymentDetailTable" class="table table-striped" width="100%" cellspacing="0">
                    </table>
                </div>
            </div>
            <div id="bankInfoPopup" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Payment Details</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row popuprow">
                                <div class="col-md-12">
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <th colspan="4" class="header">Instrument Information</th>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <template is="dom-repeat" items="{{fields}}" as="field">
                                        <div class="panel-left col-lg-6">
                                            <dl class="dl-horizontal">
                                                <dt>{{field.label}}:&nbsp;</dt>
                                                <dd>
                                                    <b inner-h-t-m-l="{{field.value}}"></b>
                                                </dd>
                                            </dl>
                                        </div>
                                    </template>
                                </div>
                            </div>
                            <table class="table table-striped" style="width:100%;">
                                <tr>
                                    <th colspan="5" class="header">Payment Attempt Information</th>
                                </tr>
                                <tr>
                                    <td>
                                        <table id="paymentAttemptTable" class="table table-striped" width="100%" cellspacing="0">
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <url-parser id="urlloanpd"></url-parser>
        <http-request id="httploanpd"></http-request>
        <alloy-config id="configloanpd"></alloy-config>
        <auth-service id="authorizeloanpd"></auth-service>
        <lookup-service id="lookuploanpd"></lookup-service>
        <utility-service id="utilityloanpd"></utility-service>
        <session-manager id="sessionloanpd"></session-manager>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "payment-detail",
                properties: {
                    tableObj: {
                        type: Object,
                        notify: false
                    },
                    loadding: {
                        type: Boolean,
                        notify: true,
                        value: false,
                        reflectToAttribute: true
                    },
                    loanData: {
                        type: Object,
                        notify: true,
                        reflectToAttribute: true
                    },
                    paymentInstrumentObj: {
                        type: Object,
                        notify: true,
                        value: {}
                    },
                    statusLookup: {
                        type: Object,
                        notify: true
                    },
                    fields: {
                        type: Array,
                        notify: true,
                        value: [],
                        reflectToAttribute: true
                    },
                    attemptDetails: {
                        type: Array,
                        notify: true,
                        value: [],
                        reflectToAttribute: true
                    },
                    paymentDetailConfig: {
                        type: Object,
                        notify: true,
                        value: {}
                    },
                    failedPaymentDetails: {
                        type: Array,
                        notify: true,
                        value: [],
                        reflectToAttribute: true
                    },
                    paymentDetails: {
                        type: Array,
                        notify: true,
                        value: [],
                        reflectToAttribute: true
                    },
                    reSubmitPayment: {
                        type: String,
                        notify: true
                    },
                    jsonObj: {
                        type: Object,
                        notify: true
                    },
                    jsonObjAttempts: {
                        type: Object,
                        notify: true
                    }
                },
                init: function () {
                    this._loadLookup();
                },
                date: function (date) {
                    var EXCLUDE_Date = ["01-01-0001", "01/01/0001", "0001-01-01T00:00:00Z", "0001-01-01T00:00:00+00:00"];
                    if (!_.isNull(date) && !_.isUndefined(date) && !_.isEmpty(date)) {
                        if (EXCLUDE_Date.indexOf(date.toString()) != -1) {
                            return "NA";
                        }
                        else {
                            return formats.date(date, window.config.country, false);
                        }
                    }
                    return "NA";
                },
                formatMoney: function (value) {
                    return formats.money(value, window.config.country, 0);
                },
                formatCurrency: function (value) {
                    return formats.money(value, window.config.country, 0);
                },
                _formateAccountNumber: function (data) {
                    return formats.accountNumber(data, window.config.country);
                },
                _checkRequestStatus: function (obj) {
                    var status = obj.requestStatus;
                    var instrumentType = obj.paymentInstrumentType;
                    if (status === "failed" && instrumentType === "Ach") {
                        return true;
                    }
                    return false;
                },
                _changeTextDisplay: function (value) {
                    if (!_.isNull(value) && !_.isUndefined(value) && !_.isEmpty(value))
                        return _.startCase(_.lowerCase(value));
                    return "";
                },
                _viewInstrumentInfo: function (event) {
                    var self = this;
                    var config = self.paymentDetailConfig;
                    var detailObj = event;
                    var fieldsList = config[detailObj.paymentInstrumentType];
                    var maskedFields = config.maskingFields;
                    var updatedList = _.forEach(fieldsList, function (field) {
                        var val = detailObj[field.name];
                        if (maskedFields.indexOf(field.name) !== -1) {
                            val = self._formateAccountNumber(val);
                        }
                        if (_.isObject(val)) {
                            val = self.date(val.time);
                        }
                        field.value = val;
                    });
                    self.set('fields', updatedList);
                    self._getPaymentAttemptDetails(detailObj.referenceId);
                },
                _getPaymentAttemptDetails: function (referenceId) {
                    var self = this;
                    var Url = "/fundingattempt/" + referenceId;
                    if (_.isNull(referenceId) || _.isUndefined(referenceId) || _.isEmpty(referenceId)) {
                        $("#bankInfoPopup").modal('show');
                        return;
                    }
                    self.$.httploanpd.get(Url, window.config.services.paymentProcessor, true).then(function (result) {
                        if (result) {
                            self.set('attemptDetails', result);
                            $("#bankInfoPopup").modal('show');
                            setTimeout(function () {
                                self._generateAttemptTable(result);
                            }, 500);
                        }
                    }).fail(function (e) {
                        $("#bankInfoPopup").modal('show');
                        console.error("load payment attempt details error is ", e);
                    });
                },
                _getPaymentDetailsInfo: function () {
                    var self = this;
                    var params = self.$.urlloanpd.getParams();
                    var Url = "/loan/" + params.loanId;
                    self.$.httploanpd.get(Url, window.config.services.paymentProcessor, false).then(function (result) {
                        if (result) {
                            var failedResult = _.filter(result, function (element) {
                                return element.retryCount <= parseInt(self.reSubmitPayment.retryCount, 10) && element.requestStatus === "failed";
                            });
                            var dataConfig = self.$.configloanpd.getConfigurationBasedOnKey("filters");
                            var paymentHistory = _.cloneDeep(dataConfig["PaymentHistory"]);
                            var columnLength = paymentHistory.columns.length;
                            for (var i = 0; i < columnLength; i++) {
                                if (paymentHistory.columns[i].render != undefined) {
                                    var render = paymentHistory.columns[i].render;
                                    if (paymentHistory.columns[i].isFunction) {
                                        paymentHistory.columns[i].render = eval("(" + render + ")");
                                    }
                                    else {
                                        paymentHistory.columns[i].render = eval(render);
                                    }
                                }
                            }
                            self.set("jsonObj", paymentHistory);
                            self.set('paymentDetails', result);
                            var updatedList = [];
                            if (!_.isEmpty(failedResult)) {
                                updatedList = self._fetchFailedPaymentAttempts(failedResult);
                            }
                            setTimeout(function () {
                                self.set('failedPaymentDetails', updatedList);
                                self._generateTable(self.paymentDetails);
                                self.set('loadding', true);
                            }, 1500);
                        }
                    }).fail(function (e) {
                        console.error("load payment details error is ", e);
                    });
                },
                _fetchFailedPaymentAttempts: function (failedPaymentList) {
                    var self = this;
                    var paymentProcessor = window.config.services.paymentProcessor;
                    _.forEach(failedPaymentList, function (element) {
                        self.$.httploanpd.get("/fundingattempt/" + element.referenceId, paymentProcessor, false).then(function (result) {
                            _.extend(element, {
                                attemptDetails: _.orderBy(result, ['providerResponseDate.time'], ['desc'])
                            });
                        }).fail(function (e) {
                            _.extend(element, {
                                attemptDetails: []
                            });
                        });
                    });
                    return failedPaymentList;
                },
                _resubmitPaymentInfo: function (event) {
                    var self = this;
                    var params = self.$.urlloanpd.getParams();
                    var endpoint = "/loan/" + params.loanId + "/resubmit";
                    var payload = { "PaymentInstrumentId": self.paymentInstrumentObj.id };
                    var paymentDetailObj = event;
                    payload.PaymentRequestId = paymentDetailObj.id;
                    self.$.httploanpd.post(endpoint, payload, window.config.services.paymentProcessor, true).then(function (result) {
                        self.raisePaymentRefreshEvent(event);
                    }).fail(function (e) {
                        console.error("load payment details error is ", e);
                    });
                },
                _generateAttemptTable: function (objData) {
                    var self = this, table;
                    var dataConfig = self.$.configloanpd.getConfigurationBasedOnKey("filters");
                    var PaymentAttempts = _.cloneDeep(dataConfig["PaymentAttempts"]);
                    var columnLength = PaymentAttempts.columns.length;
                    for (var i = 0; i < columnLength; i++) {
                        if (PaymentAttempts.columns[i].render != undefined) {
                            var render = PaymentAttempts.columns[i].render;
                            if (PaymentAttempts.columns[i].isFunction) {
                                PaymentAttempts.columns[i].render = eval("(" + render + ")");
                            }
                            else {
                                PaymentAttempts.columns[i].render = eval(render);
                            }
                        }
                    }
                    self.set("jsonObjAttempts", PaymentAttempts);
                    table = self.attemptTableObj;
                    if (table !== null && table !== undefined) {
                        table.clear();
                        table.destroy();
                    }
                    $.fn.dataTable.ext.errMode = 'none';
                    table = self.attemptTableObj = $(self.$$('#paymentAttemptTable')).DataTable({
                        dom: "<'row'<'col-sm-12'tr>>",
                        language: {
                            "zeroRecords": "No data found."
                        },
                        data: objData,
                        columns: self.jsonObjAttempts.columns,
                        columnDefs: self.jsonObjAttempts.columnDefs,
                        order: self.jsonObjAttempts.order
                    });
                },
                _generateTable: function (paymentDetails) {
                    var self = this, table;
                    table = self.tableObj;
                    if (table !== null && table !== undefined) {
                        table.clear();
                        table.destroy(true);
                        $('#paymentDetailTabContainer').append($('<table/>').attr('id', 'paymentDetailTable').css('width', '100%').addClass('table table-striped'));
                    }
                    $.fn.dataTable.ext.errMode = 'none';
                    table = self.tableObj = $(self.$$('#paymentDetailTable')).DataTable({
                        dom: "<'row'<'col-sm-12'tr>>" +
                            "<'row'<'col-sm-5'i><'col-sm-7'p>>",
                        data: paymentDetails,
                        columns: self.jsonObj.columns,
                        columnDefs: self.jsonObj.columnDefs,
                        order: self.jsonObj.order,
                        language: {
                            lengthMenu: "show_MENU_ Payment",
                            zeroRecords: "No Data found.",
                            info: "Showing _START_ to _END_ of _TOTAL_ Payment",
                            infoEmpty: "No Payment available",
                            infoFiltered: "(filtered from _MAX_ total Payment)"
                        }
                    });
                    setTimeout(function () {
                        $('#paymentDetailTable tbody').off('click', 'a').on('click', 'a', function () {
                            var data = self.tableObj.row($(this).parents('tr')).data();
                            if (this.getAttribute("on-click") !== null && this.getAttribute("on-click") !== undefined) {
                                self[this.getAttribute("on-click")](data);
                            }
                        });
                        $('#paymentDetailTable tbody').off('click', 'button').on('click', 'button', function () {
                            var data = self.tableObj.row($(this).parents('tr')).data();
                            if (this.getAttribute("on-click") !== null && this.getAttribute("on-click") !== undefined) {
                                self[this.getAttribute("on-click")](data);
                            }
                        });
                    }, 700);
                },
                CheckInstrumentType: function (typeObj) {
                    if (typeObj === "Ach")
                        return "ACH";
                    return typeObj;
                },
                _loadLookup: function () {
                    var self = this;
                    self.reSubmitPayment = this.$.configloanpd.getConfigurationBasedOnKey("reSubmitPayment");
                    var requestStatus = this.$.lookuploanpd.getLookupBasedOnName("requestStatus");
                    var config = self.$.configloanpd.getConfigurationBasedOnKey("paymentDetail-config");
                    var Instruments = self.loanData.paymentInstruments;
                    var paymentInstrumentObj = _.find(Instruments, ["isActive", true]);
                    if (!_.isUndefined(paymentInstrumentObj) && !_.isEmpty(paymentInstrumentObj)) {
                        self.set('paymentInstrumentObj', paymentInstrumentObj);
                    }
                    self.set("paymentDetailConfig", config);
                    self.set('statusLookup', requestStatus);
                    self._getPaymentDetailsInfo();
                },
                GetStatusName: function (key) {
                    var self = this;
                    var obj = _.find(self.statusLookup, ["key", key]);
                    return !_.isUndefined(obj) ? obj.value : "";
                },
                hasRole: function (compName) {
                    return this.$.authorizeloanpd.hasRole(compName);
                },
                raisePaymentRefreshEvent: function (event) {
                    this.$.utilityloanpd.raiseEvent(this.fireEvent, {
                        ActionName: 'PaymentDetailsTab',
                        EventData: event,
                        CompnentName: 'payment-detail'
                    });
                },
                checkResubmitCount: function (obj) {
                    var self = this;
                    var attempts = obj.attemptDetails || [];
                    if (!_.isEmpty(attempts)) {
                        var lastAttempt = attempts[0];
                        var daysDiff = moment().diff(lastAttempt.providerSubmissionDate.time, "days");
                        if (daysDiff > parseInt(this.reSubmitPayment.days)) {
                            return false;
                        }
                        if (this.reSubmitPayment.codes.indexOf(lastAttempt.returnCode) !== -1) {
                            return false;
                        }
                    }
                    if (parseInt(obj.retryCount) >= parseInt(this.reSubmitPayment.retryCount)) {
                        return false;
                    }
                    return true;
                }
            });
        });
    </script>
</dom-module>