<dom-module id="chargeoff-process">
    <template>
        <style>
            .nofloatLabel {
                --paper-font-caption: {
                    display: none !important;
                    position: relative !important;
                }

                --paper-input-container: {
                    padding-top: 0px !important;
                    font-size: 12px !important;
                }

                --paper-input-container-input: {
                    font-size: 11px;
                }
            }

            .paddingtopActivationDate {
                padding-top: 7px !important;
            }

            .table {
                margin-bottom: 0px !important;
            }

            .prefixSign {
                font: normal normal normal 14px/1 FontAwesome !important;
                font-size: inherit !important;
            }

            .custom-input {
                --paper-input-container-input: {
                    font-size: 11px;
                }

                --paper-input-container-label: {
                    font-size: 12px;
                }

                --paper-input-container: {
                    padding: 0px 0 !important;
                }
            }

            .modal-dialogLoanChargedOff {
                margin: 10% auto;
                width: 750px !important;
            }

            .headerLoanChargedOff {
                font-size: 12px;
                font-weight: 700;
                color: white;
                background-color: #03466B;
            }

            .set-vertical-height {
                height: 430px;
                overflow-y: auto;
                overflow-x: hidden;
            }

            .set-vertical-height1 {
                height: 200px;
                overflow-y: auto;
                overflow-x: hidden;
            }

            th.h-center-c-center {
                text-align: center !important;
            }

            td.h-center-c-center {
                text-align: center !important;
            }

            th.h-right-c-right {
                text-align: right !important;
            }

            td.h-right-c-right {
                text-align: right !important;
            }

            .blackBorder {
                border-top: 2px solid #000 !important;
            }

            .margintop {
                margin-top: -10px;
            }

            .header {
                font-size: 12px !important;
                font-weight: 700 !important;
                color: white !important;
                background-color: #03466B !important;
            }

            .textcenter {
                vertical-align: middle;
            }

            .paddinttop {
                padding: 8px 0px !important;
            }

            .modal-dialogChargeOff {
                margin: 10% auto;
                width: 300px !important;
            }
        </style>
        <custom-modal id="chargedOffProcessModal" class="modal-drop" on-modal-hidden="resetModalchargedOffProcess">
            <div>
                <div class="modal-dialogLoanChargedOff">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close closechargedOffProcess"
                                data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Charge Off loan</h4>
                            <div id="MessageContainer"></div>
                        </div>
                        <div class="modal-body set-vertical-height">
                            <div class="row">
                                <div class="panel-left col-md-4">
                                    <vaadin-combo-box class="custom-input" name="chargeOffReason"
                                        value="{{chargeOffReasonId}}" item-value-path="value" item-label-path="key"
                                        items="{{chargeOffReason}}" label="Reason for Charge-off"
                                        prevent-invalid-input="true" on-change="_onTypeChange"></vaadin-combo-box>
                                </div>
                            </div>
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Total Outstanding Balance
                                            <br>(Before Charge-off)
                                        </th>
                                        <th>Charge-off Amount</th>
                                        <th>Total Outstanding Balance
                                            <br>(After Charge-off)
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <b>Principal</b>
                                        </td>
                                        <td>{{formatCurrency(bfPrincipal)}}</td>
                                        <td>
                                            <paper-input no-label-float class="custom-input" type="text"
                                                value="{{coPrincipal}}" name="chargeoffprincipal"
                                                id="chargeoffprincipal" label="" pattern="^[0-9]+(.[0-9]{0,2})?$"
                                                on-blur="updateTotal">
                                                <div prefix class$="{{getCurrencySymbol()}}"></div>
                                            </paper-input>
                                        </td>
                                        <td>{{formatCurrency(finalPrincipal)}}</td>
                                    </tr>
                                    <tr>
                                        <template is="dom-if" if="{{checkPortfolioType(loanData)}}">
                                            <td>
                                                <b>Interest</b>
                                            </td>
                                        </template>
                                        <template is="dom-if" if="{{!checkPortfolioType(loanData)}}">
                                            <td>
                                                <b>Finance Charge</b>
                                            </td>
                                        </template>
                                        <td>{{formatCurrency(bfInterest)}}</td>
                                        <td>
                                            <paper-input no-label-float class="custom-input" type="text"
                                                value="{{coInterest}}" name="chargeoffInterest" id="chargeoffInterest"
                                                label="" pattern="^[0-9]+(.[0-9]{0,2})?$" on-blur="updateTotal">
                                                <div prefix class$="{{getCurrencySymbol()}}"></div>
                                            </paper-input>
                                        </td>
                                        <td>{{formatCurrency(finalInterest)}}</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b>Fees:</b>
                                        </td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <template is="dom-repeat" items="{{feesArray}}" as="fees">
                                        <tr>
                                            <td>{{fees.feeName}}</td>
                                            <td>{{formatCurrency(fees.feeAmount)}}</td>
                                            <td>
                                                <paper-input no-label-float class="custom-input" type="text"
                                                    value="{{fees.unpaidFeesAmount}}" name="{{fees.id}}"
                                                    id="{{fees.id}}" label="" pattern="^[0-9]+(.[0-9]{0,2})?$"
                                                    on-blur="updateTotal">
                                                    <div prefix class$="{{getCurrencySymbol()}}"></div>
                                                </paper-input>
                                            </td>
                                            <td>{{processFeesValue(fees.feeAmount, fees.unpaidFeesAmount)}}</td>
                                        </tr>
                                    </template>
                                    <tr>
                                        <td>
                                            <b>Total</b>
                                        </td>
                                        <td>{{formatCurrency(totalOne)}}</td>
                                        <td>{{formatCurrency(totalTwo)}}</td>
                                        <td>{{formatCurrency(totalThree)}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="row  pull-right">
                                <div class="panel-left col-md-12">
                                    <br>
                                    <template is="dom-if" if="{{checkRejectOption(currentEconomicsData)}}">
                                        <paper-button id="chargeOffReject" class="btn btn-primary activity-action-btn"
                                            on-click="_RejectChargeOff" raised>Reject Charge-Off</paper-button>
                                    </template>
                                    <paper-button id="chargeOffReviewApprove"
                                        class="btn btn-primary activity-action-btn" on-click="_verifyForm" raised>
                                        {{btnText}}</paper-button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </custom-modal>
        <url-parser id="urlloand"></url-parser>
        <http-request id="httploand"></http-request>
        <lookup-service id="lookuploand"></lookup-service>
        <utility-service id="utilityloand"></utility-service>
        <message-component id="messageloand"></message-component>
        <alloy-config id="configloanmod"></alloy-config>
        <auth-service id="authorizeloancd"></auth-service>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "chargeoff-process",
                properties: {
                    btnText: {
                        type: String,
                        notify: true
                    },
                    feesArray: {
                        type: Array,
                        notify: true
                    },
                    totalOne: {
                        type: String,
                        notify: true
                    },
                    totalTwo: {
                        type: String,
                        notify: true
                    },
                    totalThree: {
                        type: String,
                        notify: true
                    },
                    bfPrincipal: {
                        type: String,
                        notify: true
                    },
                    coPrincipal: {
                        type: String,
                        notify: true
                    },
                    finalPrincipal: {
                        type: String,
                        notify: true
                    },
                    bfInterest: {
                        type: String,
                        notify: true
                    },
                    coInterest: {
                        type: String,
                        notify: true
                    },
                    finalInterest: {
                        type: String,
                        notify: true
                    },
                    chargeOffReasonId: {
                        type: String,
                        notify: true
                    },
                    chargeOffReason: {
                        type: Array,
                        notify: true
                    },
                    currentEconomicsData: {
                        type: Object,
                        notify: true,
                        reflectToAttribute: true,
                        observer: "setLoanModPBOTValue"
                    },
                    loanData: {
                        type: Object,
                        notify: true
                    },
                    applicationNumber: {
                        type: String,
                        notify: true,
                        reflectToAttribute: true
                    },
                    chargedOffProcess: {
                        type: String,
                        notify: true,
                        reflectToAttribute: true,
                        observer: "_openchargedOffProcessModal"
                    },
                    currentEntityName: {
                        type: String,
                        notify: true,
                        value: 'loan'
                    },
                    eventTarget: {
                        type: Object,
                        notify: true,
                        reflectToAttribute: true
                    },
                    i18n: {
                        type: Object,
                        notify: true,
                        value: {
                            monthNames: moment.months(),
                            weekdays: moment.weekdays(),
                            weekdaysShort: moment.weekdaysShort(),
                            firstDayOfWeek: moment.localeData().firstDayOfWeek(),
                            week: 'Week',
                            calendar: 'Calendar',
                            clear: 'Clear',
                            today: 'Today',
                            cancel: 'Cancel',
                            formatDate: function (d) {
                                return moment(d).format(COUNTRY[window.config.country].DATE_FORMAT.DATE);
                            },
                            parseDate: function (s) {
                                return moment(s, COUNTRY[window.config.country].DATE_FORMAT.DATE).toDate();
                            },
                            formatTitle: function (monthName, fullYear) {
                                return monthName + ' ' + fullYear;
                            }
                        }
                    }
                },
                init: function () {
                    var self = this;
                },
                ready: function () {
                    var self = this;
                    var params = self.$.urlloand.getParams();
                    if (params.hasOwnProperty('entity')) {
                        self.set('currentEntityName', params.entity);
                    }
                    self.set('applicationNumber', params.loanId);
                    var chargeOffReason = self.$.configloanmod.getConfigurationBasedOnKey("chargeOffReason");
                    self.set("chargeOffReason", chargeOffReason);
                    self.setPermission();
                },
                setPermission: function () {
                    var self = this;
                    if (self.hasRole('ChargeOff') === true) {
                        self.set("btnText", "Charge-off");
                    }
                    else if (self.hasRole('SendForReview') === true) {
                        self.set("btnText", "Send for Review");
                    }
                },
                checkPortfolioType: function (objType) {
                    var self = this;
                    if (self.loanData && self.loanData.productPortfolioType != "MCA" && self.loanData.productPortfolioType != "MCALOC") {
                        return true;
                    }
                    return false;
                },
                formatCurrency: function (data) {
                    return formats.money(data, window.config.country, 0);
                },
                _twoDecimal: function (objNumber) {
                    var self = this;
                    if (objNumber != undefined && objNumber != null && objNumber != "") {
                        return parseFloat(objNumber).toFixed(2);
                    }
                    return parseFloat(0).toFixed(2);
                },
                _openchargedOffProcessModal: function (obj) {
                    var self = this;
                    if (obj === "Change") {
                        self.$$('#chargedOffProcessModal').showModal();
                    }
                },
                raiseloanModeRefreshEvent: function (event, createFlag) {
                    var self = this;
                    var msg = "Loan Charged off successfully";
                    if (createFlag === true) {
                        msg = "Charge off request sent successfully";
                    }
                    else if (createFlag === "") {
                        msg = "Charge off request Rejected";
                    }
                    this.$.utilityloand.raiseEvent(this.fireEvent, {
                        Message: msg,
                        EventTarget: self.eventTarget,
                        ActionName: 'ChargedOffProcess',
                        EventData: event,
                        CompnentName: 'charge-off-process'
                    });
                },
                getFees: function () {
                    var self = this;
                    var Url = "/" + self.applicationNumber + "/fees";
                    self.$.httploand.get(Url, window.config.services.accountingService).then(function (data) {
                        if (data) {
                            var unpaid = _.reject(data, ["isPaid", true]);
                            var tempFees = [];
                            if (self.currentEconomicsData.chargeOff !== undefined && self.currentEconomicsData.chargeOff !== null) {
                                tempFees = self.currentEconomicsData.chargeOff.fees;
                            }
                            unpaid.forEach(function (item) {
                                var feeAmount = item.feeAmount;
                                if (tempFees !== undefined) {
                                    var objFee = _.find(tempFees, { 'feeName': item.feeName, "feeType": item.feeType, "feeAmount": item.feeAmount });
                                    if (objFee !== undefined) {
                                        feeAmount = objFee.feeAmount;
                                    }
                                }
                                _.extend(item, {
                                    unpaidFeesAmount: parseFloat(feeAmount).toFixed(2)
                                });
                            });
                            self.set('feesArray', unpaid);
                            self.setTotal();
                        }
                        else {
                            self.setTotal();
                        }
                    }).fail(function (e) {
                        self.setTotal();
                        console.error("Fees error is ", e);
                    });
                },
                setTotal: function () {
                    var self = this;
                    var totalone = parseFloat(self.bfPrincipal) + parseFloat(self.bfInterest);
                    var totalTwo = parseFloat(self.coPrincipal) + parseFloat(self.coInterest);
                    var totalThree = parseFloat(self.finalPrincipal) + parseFloat(self.finalInterest);
                    var refreshArray = self.feesArray;
                    refreshArray.forEach(function (item) {
                        totalone = totalone + parseFloat(item.feeAmount);
                        totalTwo = totalTwo + parseFloat(item.unpaidFeesAmount);
                    });
                    self.set("totalOne", parseFloat(totalone).toFixed(2));
                    self.set("totalTwo", parseFloat(totalTwo).toFixed(2));
                    self.set("totalThree", parseFloat(totalone - totalTwo).toFixed(2));
                },
                setLoanModPBOTValue: function () {
                    var self = this;
                    if (self.currentEconomicsData && self.currentEconomicsData.pbot) {
                        if (self.currentEconomicsData.chargeOff !== undefined && self.currentEconomicsData.chargeOff !== null) {
                            self.set("chargeOffReasonId", self.currentEconomicsData.chargeOff.reasonOfChargeOff);
                        }
                        self.set("bfPrincipal", self.currentEconomicsData.pbot.totalPrincipalOutStanding);
                        var changePrincipal = (self.currentEconomicsData.chargeOff !== undefined && self.currentEconomicsData.chargeOff !== null) ? self.currentEconomicsData.chargeOff.chargeOffAmount : self.currentEconomicsData.pbot.totalPrincipalOutStanding;
                        self.set("coPrincipal", changePrincipal);
                        self.set("finalPrincipal", parseFloat(parseFloat(self.bfPrincipal) - parseFloat(self.coPrincipal)).toFixed(2));
                        self.set("bfInterest", parseFloat(parseFloat(self.currentEconomicsData.pbot.totalInterestOutstanding) + parseFloat(self.currentEconomicsData.priorInterestOutStanding.priorInterestAmount) - parseFloat(self.currentEconomicsData.paymentInfo.paidPriorInterest)).toFixed(2));
                        var changeInterest = (self.currentEconomicsData.chargeOff !== undefined && self.currentEconomicsData.chargeOff !== null) ? self.currentEconomicsData.chargeOff.interestOutStanding : self.bfInterest;
                        self.set("coInterest", changeInterest);
                        self.set("finalInterest", parseFloat(self.bfInterest) - parseFloat(self.coInterest));
                        self.getFees();
                    }
                },
                resetModalchargedOffProcess: function () {
                    var self = this;
                    self.set("chargedOffProcess", "");
                },
                formatDate: function (date) {
                    return moment(date).format("YYYY-MM-DD");
                },
                displayFormatDate: function (date) {
                    if (!_.isNull(date) && !_.isUndefined(date) && !_.isEmpty(date)) {
                        return formats.date(date, window.config.country, false);
                    }
                    return "NA";
                },
                _closeModal: function (e) {
                    e.preventDefault();
                    var self = this;
                    $(".closechargedOffProcess").click();
                },
                formatMoney: function (value) {
                    if (value != undefined) {
                        return formats.money(value, window.config.country, 0);
                    }
                    else {
                        return "NA";
                    }
                },
                getCurrencySymbol: function () {
                    var self = this;
                    return formats.currencySymbol(window.config.country) + " prefixSign";
                },
                _RejectChargeOff: function (e) {
                    var self = this;
                    e.preventDefault();
                    self.confirmDialog("Do you want to reject charge-off?", "Review Loan Charge Off");
                },
                _verifyForm: function (event) {
                    var self = this;
                    var createFlag = false;
                    var refreshArray = self.feesArray;
                    var feeTotal = 0;
                    var feeArrayPayload = [];
                    refreshArray.forEach(function (item) {
                        feeTotal = feeTotal + parseFloat(item.unpaidFeesAmount);
                        var _amount = (item.unpaidFeesAmount === undefined || item.unpaidFeesAmount === null || item.unpaidFeesAmount === "") ? 0 : item.unpaidFeesAmount;
                        feeArrayPayload.push({ "feeAmount": _amount, "feeName": item.feeName, "feeType": item.feeType });
                    });

                    if (self.chargeOffReasonId === undefined || self.chargeOffReasonId === "") {
                        var strMessage = "Please select charge off reason.";
                        self.$.messageloand.showMessage(strMessage, "ERROR", self.$$('#MessageContainer'));
                    }
                    else {
                        if (self.btnText === "Send for Review") {
                            createFlag = true;
                        }
                        var url = "/" + self.applicationNumber + "/chargeoff/" + createFlag;
                        var accountingService = window.config.services.accountingService;
                        var payload = {
                            "ChargeOffDate": self.formatDate(moment().startOf('day')),
                            "ChargeOffAmount": parseFloat(self.coPrincipal),
                            "InterestOutStanding": parseFloat(self.coInterest),
                            "FeeOutStanding": parseFloat(feeTotal),
                            "Fees": feeArrayPayload,
                            "ReasonOfChargeOff": self.chargeOffReasonId
                        }
                        self.$.httploand.post(url, payload, accountingService, true).then(function (data) {
                            self.raiseloanModeRefreshEvent(event, createFlag);
                            $(".closechargedOffProcess").click();
                        }).fail(function (e) {
                            var strMessage = (e.responseJSON.Message === undefined) ? e.responseJSON.message : e.responseJSON.Message;
                            strMessage = (strMessage === undefined || strMessage === "") ? "Error occurred while performing the operation. Failed to complete the operation" : strMessage;
                            self.$.messageloand.showMessage(strMessage, "ERROR", self.$$('#MessageContainer'));
                        });
                    }
                },
                hasRole: function (compName) {
                    return this.$.authorizeloancd.hasRole(compName);
                },
                processFeesValue: function (feeAmount, unpaidFeesAmount) {
                    var self = this;
                    if (unpaidFeesAmount === undefined || unpaidFeesAmount === "" || isNaN(unpaidFeesAmount)) {
                        unpaidFeesAmount = 0;
                    }
                    return self.formatCurrency(parseFloat(feeAmount) - parseFloat(unpaidFeesAmount));
                },
                updateTotal: function () {
                    var self = this;
                    if (self.coPrincipal === undefined || self.coPrincipal === "" || isNaN(self.coPrincipal)) {
                        self.set("coPrincipal", 0);
                    }
                    if (self.coInterest === undefined || self.coInterest === "" || isNaN(self.coInterest)) {
                        self.set("coInterest", 0);
                    }
                    self.set("finalPrincipal", parseFloat(parseFloat(self.bfPrincipal) - parseFloat(self.coPrincipal)).toFixed(2));
                    self.set("finalInterest", parseFloat(parseFloat(self.bfInterest) - parseFloat(self.coInterest)).toFixed(2));
                    var refreshArray = self.feesArray;
                    refreshArray.forEach(function (item) {
                        _.extend(item, {
                            unpaidFeesAmount: (item.unpaidFeesAmount === undefined || item.unpaidFeesAmount === "" || isNaN(item.unpaidFeesAmount)) ? "0" : parseFloat(item.unpaidFeesAmount).toFixed(2)
                        });
                    });
                    self.set('feesArray', $.extend([], refreshArray));
                    self.setTotal();
                },
                checkRejectOption: function (objEcomomics) {
                    var self = this;
                    if (self.btnText === "Charge-off" && objEcomomics.chargeOff !== undefined && objEcomomics.chargeOff !== null) {
                        return true;
                    }
                    return false;
                },
                _verifyConfirm: function (e) {
                    var self = this;
                    e.preventDefault();
                    var url = "/" + self.applicationNumber + "/chargeoff/false";
                    var accountingService = window.config.services.accountingService;
                    var payload = {
                        "ChargeOffAmount": 0,
                        "InterestOutStanding": 0,
                        "FeeOutStanding": 0,
                        "Fees": [],
                        "ReasonOfChargeOff": ""
                    }
                    self.$.httploand.post(url, payload, accountingService, true).then(function (data) {
                        self.raiseloanModeRefreshEvent(e, "");
                        $(".closechargedOffProcess").click();
                    }).fail(function (e) {
                        var strMessage = e.responseJSON.Message;
                        self.$.messageloand.showMessage(strMessage, "ERROR", self.$$('#MessageContainer'));
                    });
                },
                confirmDialog: function (message, titleText) {
                    var self = this;
                    $('<div></div>').appendTo('body')
                        .html('<div><h5>' + message + '</h5></div>')
                        .dialog({
                            modal: true, title: titleText, zIndex: 10000, autoOpen: true,
                            width: '400px', resizable: false,
                            buttons: {
                                Submit: function (e) {
                                    self._verifyConfirm(e);
                                    $(this).dialog("close");
                                },
                                Cancel: function () {
                                    $(this).dialog("close");
                                }
                            },
                            open: function () {
                                $(".ui-dialog-titlebar-close").hide();
                                $('.ui-dialog-buttonpane').find('button:contains("Cancel")').addClass('btn btn-primary activity-action-btn');
                                $('.ui-dialog-buttonpane').find('button:contains("Submit")').addClass('btn btn-primary activity-action-btn');
                            },
                            close: function (event, ui) {
                                $(this).remove();
                            }
                        });
                },
            });
        });
    </script>
</dom-module>