<dom-module id="additional-borrower">
    <template>
        <style>
            .header {
                font-size: 12px;
                font-weight: 700;
                color: white;
                background-color: #03466B;
            }

            address {
                margin-bottom: 20px;
                font-style: normal;
                line-height: 1.42857143;
            }

            strong {
                display: block;
            }

            .bank-name {
                height: 1px;
                color: #03466B;
                background-color: #ddd;
            }

            .modal-dialog {
                margin: 10% auto;
                width: 700px !important;
            }

            .subheader {
                height: 1px;
                color: #03466B;
                background-color: #ddd;
            }

            .set-vertical-height {
                height: 450px;
                overflow-y: auto;
                overflow-x: hidden;
            }

            .leftpadding {
                padding-left: 0px;
                border-bottom: 1px solid #ddd;
                height: 35px;
                margin-top: 10px;
            }

            .tdpadding {
                padding-top: 0px;
                padding-bottom: 0px;
                border: solid 0px;
            }
        </style>
        <div class="row">
            <div class="col-sm-12">
                <table class="table">
                    <tbody>
                        <template is="dom-repeat" items="{{AdditionalBorrower}}" as="borrower">
                            <tr>
                                <th colspan="5" class="header">{{getName(borrower)}}</th>
                                <th colspan="1" class="header">
                                    <div class="pull-right">
                                        <i aria-hidden="true" title="Edit Personal Information"
                                            class="fa fa-pencil-square-o" data-arg="{{borrower.id}}"
                                            on-click="editPersonalInfo"></i>
                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <td colspan="6" class="tdpadding">
                                    <div class="col-sm-2 leftpadding">
                                        <b>Name</b>
                                    </div>
                                    <div class="col-sm-2 leftpadding">
                                        {{ getName(borrower) }}
                                    </div>
                                    <div class="col-sm-2 leftpadding">
                                        <b>DOB</b>
                                    </div>
                                    <div class="col-sm-2 leftpadding">
                                        {{ date(borrower.pii.dob) }}
                                    </div>
                                    <div class="col-sm-2 leftpadding">

                                    </div>
                                    <div class="col-sm-2 leftpadding">

                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="6" class="tdpadding">
                                    <template is="dom-repeat" items="{{borrower.pii.personalIdentifiers}}" as="doc"
                                        index-as="indx">
                                        <div class="col-sm-2 leftpadding">
                                            <b>{{getDisplayValue(doc.type)}}</b>
                                        </div>
                                        <div class="col-sm-2 leftpadding">
                                            {{doc.id}}
                                        </div>
                                    </template>
                                </td>
                            </tr>
                            <tr>
                                <th colspan="6" class="subheader">Emails</th>
                            </tr>
                            <template is="dom-repeat" items="{{borrower.emails}}" as="email">
                                <tr>
                                    <th>Email</th>
                                    <td>{{ email.emailAddress }}</td>
                                    <th>Email Type</th>
                                    <td>{{ email.emailType}}</td>
                                    <th>Active</th>
                                    <td>
                                        <template is="dom-if" if="{{_checkisActive(email.isActive)}}">
                                            <i class="fa fa-check" aria-hidden="true"></i>
                                        </template>
                                        <template is="dom-if" if="{{!_checkisActive(email.isActive)}}">
                                            <i class="fa fa-times" aria-hidden="true"></i>
                                        </template>
                                    </td>
                                </tr>
                            </template>
                            <tr>
                                <th colspan="6" class="subheader">Phones</th>
                            </tr>
                            <template is="dom-repeat" items="{{borrower.phones}}" as="phone">
                                <tr>
                                    <th>Phone No</th>
                                    <td>{{ _phoneFormat(phone.phoneNo) }}</td>
                                    <th>Phone Type</th>
                                    <td>{{ phone.phoneType}}</td>
                                    <th>Active</th>
                                    <td>
                                        <template is="dom-if" if="{{_checkisActive(phone.isActive)}}">
                                            <i class="fa fa-check" aria-hidden="true"></i>
                                        </template>
                                        <template is="dom-if" if="{{!_checkisActive(phone.isActive)}}">
                                            <i class="fa fa-times" aria-hidden="true"></i>
                                        </template>
                                    </td>
                                </tr>
                            </template>
                            <tr>
                                <th colspan="6" class="subheader">Addresses</th>
                            </tr>
                            <template is="dom-repeat" items="{{borrower.addresses}}" as="address">
                                <tr>
                                    <td colspan="2">{{_getOwnerAddress(address)}}</td>
                                    <th>Address Type</th>
                                    <td>{{ address.addressType}}</td>
                                    <th>Active</th>
                                    <td>
                                        <template is="dom-if" if="{{_checkisActive(address.isActive)}}">
                                            <i class="fa fa-check" aria-hidden="true"></i>
                                        </template>
                                        <template is="dom-if" if="{{!_checkisActive(address.isActive)}}">
                                            <i class="fa fa-times" aria-hidden="true"></i>
                                        </template>
                                    </td>
                                </tr>
                            </template>
                        </template>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row divideborder">
        </div>
        <custom-modal id="editBorrowerModalFromadditional" class="modal-drop" on-modal-hidden="resetPersonal">
            <div>
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title">Edit Personal Details</h4>
                        </div>
                        <div class="modal-body set-vertical-height">
                            <div id="PersonalMessageContainer"></div>
                            <edit-borrower id="personalInfo" is-primary="false"
                                application-number="{{applicationNumber}}" applicant-detail="{{applicantDetail}}"
                                action-done="{{actionDone}}"></edit-borrower>
                        </div>
                    </div>
                </div>
            </div>
        </custom-modal>
        <alloy-config id="config"></alloy-config>
        <lookup-service id="lookup"></lookup-service>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "additional-borrower",
                properties: {
                    personalIdentifiers: {
                        type: Array,
                        notify: true
                    },
                    actionDone: {
                        type: String,
                        notify: true,
                        reflectToAttribute: true,
                        observer: "hideModal"
                    },
                    applicationNumber: {
                        type: String,
                        notify: true,
                        reflectToAttribute: true
                    },
                    applicantDetail: {
                        type: Object,
                        notify: true,
                        reflectToAttribute: true
                    },
                    AdditionalBorrower: {
                        type: Array,
                        notify: true
                    },
                    loanData: {
                        type: Object,
                        notify: true,
                        observer: "init"
                    },
                    configKeyValue: {
                        type: Array,
                        notify: true
                    },
                    stateLookup: {
                        type: Object,
                        notify: true,
                        value: []
                    }
                },
                _checkIfEmptyObject: function (obj) {
                    return Object.keys(obj).length === 0 && obj.constructor === Object;
                },
                init: function () {
                    var self = this;
                    var state = self.$.lookup.getLookupBasedOnName("state");
                    self.set('stateLookup', state);
                    var config = self.$.config.getConfigurationBasedOnKey("businessPersonalKeyValue");
                    self.set("configKeyValue", config);
                    self._loadAdditionalBorrower();
                },
                _phoneFormat: function (phone) {
                    return formats.phone(phone, window.config.country);
                },
                _getOwnerAddress: function (Address) {
                    var self = this;
                    var state = Address.state;
                    if (self.stateLookup && self.stateLookup.length > 0 && Address.state !== null) {
                        var obj = _.find(self.stateLookup, ['key', Address.state]);
                        if (obj !== undefined)
                            state = obj.value || "";
                    }
                    if (Address && Address != null && Address != undefined) {
                        var FinalAddress = "";
                        if (!_.isUndefined(Address.addressLine2) && !_.isNull(Address.addressLine2) && !_.isEmpty(Address.addressLine2)) {
                            FinalAddress = Address.addressLine1 + ", " + Address.addressLine2 + ", " + Address.city + ", " + state + ", " + Address.zip;
                            return FinalAddress;
                        }
                        else {
                            FinalAddress = Address.addressLine1 + ", " + Address.city + ", " + state + ", " + Address.zip;
                            return FinalAddress;
                        }
                    } else {
                        return "NA";
                    }
                },
                _checkNullUndefined: function (obj) {
                    if (obj && !_.isNull(obj) && !_.isUndefined(obj) && !_.isEmpty(obj)) {
                        return obj;
                    }
                    return '';
                },
                aadhar: function (aadhar) {
                    var self = this;
                    return formats.aadhar(aadhar, window.config.country);
                },
                _loadAdditionalBorrower: function () {
                    var self = this;
                    if (!self._checkIfEmptyObject(self.loanData)) {
                        var tmpapplicant = _.cloneDeep(self.loanData.applicantDetails);
                        var blankStructure = {
                            "type": "",
                            "id": ""
                        };
                        tmpapplicant.forEach(function (applicant) {
                            var defaultArrayPersonal = [];
                            if (applicant.pii.personalIdentifiers !== undefined && applicant.pii.personalIdentifiers !== null) {
                                var _tmpData = _.cloneDeep(applicant.pii.personalIdentifiers)
                                while (_tmpData.length) {
                                    var subArray = _tmpData.splice(0, 3);
                                    _.forEach(subArray, function (item) {
                                        if (item.type === "Aadhaar") {
                                            defaultArrayPersonal.push({
                                                "type": item.type, "id": self.aadhar(item.id)
                                            });
                                        }
                                        else {
                                            defaultArrayPersonal.push(item);
                                        }

                                    });
                                    for (let i = 0; i < (3 - subArray.length); i++) {
                                        defaultArrayPersonal.push(blankStructure);
                                    }
                                }
                                applicant.pii["personalIdentifiers"] = defaultArrayPersonal;
                            }
                            else {
                                applicant.pii["personalIdentifiers"] = [];
                            }
                        });
                        self.set('AdditionalBorrower', tmpapplicant);
                    }
                },
                getName: function (objData) {
                    var self = this;
                    if (!_.isUndefined(objData) && !_.isNull(objData) && !_.isEmpty(objData)) {
                        return objData.name.salutation + " " + objData.name.first + " " + objData.name.middle + " " + objData.name.last;
                    }
                    else
                        return "";
                },
                editPersonalInfo: function (event) {
                    var self = this;
                    var applicantId = event.target.dataArg;
                    var localFind = self._getborroweById(self.AdditionalBorrower, "id", applicantId);
                    self.set("applicantDetail", localFind);
                    self.$$('#editBorrowerModalFromadditional').showModal();
                },
                resetPersonal: function () {
                    var self = this;
                    self.actionDone = "";
                    self.applicantDetail = {};
                },
                hideModal: function (obj) {
                    var self = this;
                    if (obj === "Done") {
                        self.$$('#editBorrowerModalFromadditional').hideModal();
                    }
                },
                _getborroweById: function (array, propName, borrowerID) {
                    var Obj = array.filter(function (e) {
                        return e[propName] === borrowerID;
                    })[0];
                    return Obj || {};
                },
                _checkisActive: function (objIsActive) {
                    return objIsActive === true;
                },
                _formateSSN: function (data) {
                    return formats.ssn(data, window.config.country);
                },
                date: function (date) {
                    if (!_.isNull(date) && !_.isUndefined(date) && !_.isEmpty(date)) {
                        return formats.date(date, window.config.country, false);
                    }
                    return "NA";
                },
                getDisplayValue: function (objType) {
                    var self = this;
                    var output = _.find(self.configKeyValue, ['key', objType]);
                    if (output)
                        return output.value;
                    else
                        return objType;

                }
            });
        });
    </script>
</dom-module>