<dom-module id="auth-service">
    <template>
        <http-request id="httpauth"></http-request>
        <alloy-config id="configauth"></alloy-config>
        <session-manager id="sessionauth"></session-manager>
    </template>
    <script>
        Polymer({
            is: "auth-service",
            loadRoleAndPermissionConfig: function () {
                var result = this.$.configauth.getConfigurationBasedOnKey("roles-and-permissions");
                this.$.sessionauth.setObject("rolePermConfig", result);
            },
            loadTooltipConfig: function () {
                var result = this.$.configauth.getConfigurationBasedOnKey("HelpText");
                this.$.sessionauth.setObject("HelpText", result);
            },
            loadSessionTimeOutConfig: function (config) {
                var val = parseInt(config.sessionTimeout, 10);
                var threshold = parseInt(config.tokenExpirationThreshold, 10);
                this.$.sessionauth.setObject("SessionTimeOut", val * 60 * 1000);
                this.$.sessionauth.setObject("ExpirationThreshold", threshold * 60 * 1000);
            },
            loadUserRoleAndPermission: function () {
                var self = this;
                self.$.httpauth.getSync('/user-info/', "").then(function (user) {
                    if (user.roles && user.roles.length > 0) {
                        self.$.sessionauth.setObject("role", user.roles);
                    } else {
                        return;
                    }
                    self.$.httpauth.get("configuration/security-identity", "").then(function (userPermission) {
                        self.loadSessionTimeOutConfig(userPermission);
                        if (userPermission.roles && userPermission.roles[user.roles[0]]) {
                            self.$.sessionauth.set("permission", userPermission.roles[user.roles[0]].permissions);
                        } else {
                            return;
                        }
                    }).fail(function (error) {
                        console.log("loadUserPermission error is ", error);
                    });
                }).fail(function (error) {
                    console.log("loadUserRole error is ", error);
                });
            },
            loadStatusManagementConfig: function (url) {
                var self = this;
                self.$.httpauth.get(url, "").then(function (result) {
                    self.$.sessionauth.setObject("status-management", result);
                    var statusWorkFlows = _.chain(result).map('StatusWorkFlows').flatten().value();
                    if (!_.isUndefined(statusWorkFlows) && !_.isNull(statusWorkFlows) && !_.isEmpty(statusWorkFlows)) {
                        self.$.sessionauth.setObject("status-workflows", statusWorkFlows);
                    }
                }).fail(function (e) {
                    console.error("not able to load status configurations.", e);
                });
            },
            loadHolidayCalendar: function () {
                var self = this;
                self.$.httpauth.get("configuration/calendar", "").then(function (result) {
                    self.$.sessionauth.setObject("holidayCalendar", result.dates);
                }).fail(function (e) {
                    console.error("not able to load Holiday configurations.", e);
                });
            },
            loadAccrualBalance: function () {
                var self = this;
                self.$.httpauth.get("configuration/accrual-balance", "").then(function (result) {
                    if (result !== undefined && result !== null && result.IsFeeScheduleLast !== undefined && result.IsFeeScheduleLast !== null) {
                        self.$.sessionauth.set("isFeeScheduleLast", result.IsFeeScheduleLast);
                    }
                    else {
                        self.$.sessionauth.set("isFeeScheduleLast", false);
                    }

                }).fail(function (e) {
                    self.$.sessionauth.set("isFeeScheduleLast", false);
                    console.error("not able to load accrual-balance configurations.", e);
                });
            },
            hasRole: function (component) {
                var self = this;
                var hasAccess = false;
                component = component.replace(/\s/g, '');
                var rolePermConfig = self.$.sessionauth.getObject("rolePermConfig");
                if (rolePermConfig && rolePermConfig.hasOwnProperty(component)) {
                    var componentObj = rolePermConfig[component];
                    var defaultRoles = componentObj.notIn;
                    var currentUserRoles = self.$.sessionauth.getObject("role");
                    var commonRoles = _.difference(currentUserRoles, defaultRoles);
                    if (!_.isEmpty(commonRoles)) {
                        hasAccess = true;
                    }
                }
                return hasAccess;
            },
            hasRoleAndAssigne: function (component) {
                var self = this;
                var RoleBasedResult = false;
                component = component.replace(/\s/g, '');
                var rolePermConfig = self.$.sessionauth.getObject("rolePermConfig");
                var rolesToValidate = rolePermConfig[component];
                if (rolesToValidate) {
                    var defaultRoles = rolesToValidate.notIn;
                    var conditionalRolesWithAssignments = rolesToValidate.assigned;
                    var currentUserRoles = self.$.sessionauth.getObject("role");
                    if (conditionalRolesWithAssignments) {
                        var currentAssignments = this.$.sessionauth.getObject("assignments");
                        var token = self.$.sessionauth.get("token");
                        var parsedToken = self.parseToken(token);
                        var currentUserName = parsedToken.sub;
                        var filterAssignments = _.find(currentAssignments, { 'assignee': currentUserName });
                        if (filterAssignments) {
                            if (conditionalRolesWithAssignments.length > 0) {
                                var assignedRolesToCheck = _.intersection(currentUserRoles, conditionalRolesWithAssignments);
                                if (!_.isEmpty(assignedRolesToCheck) && assignedRolesToCheck.length > 0) {
                                    RoleBasedResult = true;
                                }
                            } else {
                                RoleBasedResult = true;
                            }
                        }
                    }
                } else {
                    return true;
                }
                return RoleBasedResult;
            },
            IsVisible: function (rolesToValidate) {
                var self = this;
                var RoleBasedResult = false;
                if (rolesToValidate) {
                    var defaultRoles = rolesToValidate.notIn;
                    var conditionalRolesWithAssignments = rolesToValidate.assigned;
                    var currentUserRoles = self.$.sessionauth.getObject("role");
                    var commonRoles = _.intersection(currentUserRoles, defaultRoles);
                    if (_.isNull(commonRoles) || _.isUndefined(commonRoles) || _.isEmpty(commonRoles)) {
                        RoleBasedResult = true;
                    }
                    if (conditionalRolesWithAssignments) {
                        var currentAssignments = this.$.sessionauth.getObject("assignments");
                        var token = self.$.sessionauth.get("token");
                        var parsedToken = self.parseToken(token);
                        var currentUserName = parsedToken.sub;
                        var filterAssignments = _.find(currentAssignments, { 'assignee': currentUserName });
                        if (filterAssignments) {
                            if (conditionalRolesWithAssignments.length > 0) {
                                var assignedRolesToCheck = _.intersection(currentUserRoles, conditionalRolesWithAssignments);
                                if (!_.isEmpty(assignedRolesToCheck) && assignedRolesToCheck.length > 0) {
                                    RoleBasedResult = true;
                                }
                            } else {
                                RoleBasedResult = true;
                            }
                        }
                    }
                } else {
                    return true;
                }
                return RoleBasedResult;
            },
            parseToken: function (token) {
                var base64Url = token.split('.')[1];
                var base64 = base64Url.replace('-', '+').replace('_', '/');
                return JSON.parse(window.atob(base64));
            },
            getToolTip: function (component, Type) {
                component = component.replace(/\s/g, '')
                component = component + Type;
                var compTooltips = this.$.sessionauth.getObject("HelpText");
                if (compTooltips && compTooltips[component]) {
                    var tooltip = compTooltips[component];
                    return tooltip;
                }
                return "";
            }
        })
    </script>
</dom-module>