<dom-module id="alloy-format">
    <template>
        <http-request id="httpformat"></http-request>
    </template>
    <script>
        Polymer({
            is: "alloy-format",
            formatPhone: function (phone) {
                phone = phone.replace(/\s|-|\(|\)/g, "");
                return "(" + phone.slice(0, 3) + ") " + phone.slice(3, 6) + "-" + phone.slice(-4);
            },
            formatDate: function (date, isLong) {
                if (!date) {
                    return "";
                }
                if (isLong) {
                    return moment.tz(date, window.config.timezone).format(COUNTRY[window.config.country].DATE_FORMAT.DATE);
                }
                return moment.tz(date, window.config.timezone).format(COUNTRY[window.config.country].DATE_FORMAT.DATE);
            },
            capitalize: function (string) {
                return string.slice(0, 1).toUpperCase() + string.slice(1);
            },
            formatCurrency: function (currency) {
                if (currency) {
                    currency = parseFloat(currency);
                    return currencyFormat(currency);
                }
                return currency;

                function currencyFormat(num) {
                    return num.toFixed(2).replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,");
                }
            },
            formatRate: function (interestRate) {
                if (interestRate) {
                    interestRate = parseFloat(interestRate);
                    return rateFormat(interestRate);
                }
                return interestRate;

                function rateFormat(num) {
                    return num.toFixed(2) + "%";
                }
            }
        });
    </script>
</dom-module>