<dom-module id="lookup-service">
    <template>
        <http-request id="httplookups"></http-request>
        <alloy-config id="configlookups"></alloy-config>
        <session-manager id="sessionlookups"></session-manager>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: 'lookup-service',
                properties: {
                    lookupData: {
                        type: Array,
                        notify: true,
                        value: []
                    }
                },
                getLookupData: function () {
                    var self = this;
                    var configSet = self.$.sessionlookups.get('dataReady');
                    if (configSet) {
                        self.set('lookupData', this.$.sessionlookups.getObject('lookupData'));
                        return;
                    }
                    var lookupNameList = self.$.configlookups.getConfigurationBasedOnKey("LookupNames");
                    var url = _.join(lookupNameList, '/');
                    self.$.httplookups.get("/entities/" + url, window.config.services.lookupservice, false).then(function (data) {
                        var processedData = _.transform(data, function (result, value, key) {
                            result.push({ name: key, value: self.convertObjectToArray(value) });
                        }, []);
                        self.$.sessionlookups.setObject('lookupData', processedData);
                        self.$.sessionlookups.set('dataReady', true);
                    });
                },
                convertObjectToArray: function (lookupData) {
                    if (!_.isUndefined(lookupData) && !_.isNull(lookupData) && !_.isEmpty(lookupData)) {
                        return _.transform(lookupData, function (result, element) {
                            result.push({ key: element.code, value: element.value, entity: element.entity });
                        }, []);
                    }
                    return [];
                },
                getLookupBasedOnName: function (name) {
                    var lookupData = this.$.sessionlookups.getObject('lookupData');
                    var lookupDataList = _.find(lookupData, ['name', name]);
                    if (lookupDataList) {
                        return lookupDataList.value;
                    }
                    console.error("Lookup data not found for the %s provided lookup. ", name);
                    return [];
                }
            });
        });
    </script>
</dom-module>