<dom-module id="session-manager">
    <template>
    </template>
    <script>
        Polymer({
            is: "session-manager",
            properties: {
                securityServiceUrl: String
            },
            set: function (key, value) {
                localStorage.setItem(key, value);
            },
            remove: function (key) {
                var result = this.get(key);
                localStorage.removeItem(key);
                return result;
            },
            get: function (key) {
                return localStorage.getItem(key);
            },
            setObject: function (key, value) {
                localStorage.setItem(key, JSON.stringify(value));
            },
            getObject: function (key) {
                return JSON.parse(localStorage.getItem(key));
            },
            setSession: function (key, value) {
                sessionStorage.setItem(key, value);
            },
            removeSession: function (key) {
                var result = this.getSession(key);
                sessionStorage.removeItem(key);
                return result;
            },
            getSession: function (key) {
                return sessionStorage.getItem(key);
            },
            setSessionObject: function (key, value) {
                sessionStorage.setItem(key, JSON.stringify(value));
            },
            getSessionObject: function (key) {
                return JSON.parse(sessionStorage.getItem(key));
            },
            clearLocalStorage: function () {
                window.localStorage.clear();
            },
            /**
             * Test authorization for a particular URI or the current URI fragment
             * @param url
             * @returns {*}
             */
            isAuthorized: function (url) {
                var self = this;
                var token = self.get("token");

                return window.jQuery.ajax({
                    type: "GET",
                    url: ["/is-authorized/", url].join(""),
                    mimeType: "text/html",
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader('Authorization', "Bearer " + token);
                    }
                });
            }
        })
    </script>
</dom-module>