<html-import html-href="loaders/sk-wave.html"></html-import>
<dom-module id="alert-view">
    <template>
        <style>
            .tags {
                margin-right: 10px !important;
                padding-bottom: 10px !important;
            }

            .TopPadding {
                padding-top: 10px;
            }
        </style>
        <spinkit-wave hidden$="{{loading}}"></spinkit-wave>
        <div class="panel-body" hidden$="{{!loading}}">
            <table id="alertData" class="table table-striped" width="100%" cellspacing="0"></table>
        </div>
        <url-parser id="url"></url-parser>
        <http-request id="http"></http-request>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "alert-view",
                properties: {
                    loading: {
                        type: Boolean,
                        notify: true,
                        value: false,
                        reflectToAttribute: true
                    },
                    tableObj: {
                        type: Object,
                        notify: false
                    },
                    alerts: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    currentEntityName: {
                        type: String,
                        notify: true,
                        value: 'application'
                    }
                },
                init: function () {
                    var self = this;
                    var params = self.$.url.getParams();
                    if (params.hasOwnProperty('entity')) {
                        self.set('currentEntityName', params.entity);
                    }
                    self.loadAlerts();
                },
                loadAlerts: function () {
                    var self = this;
                    var params = self.$.url.getParams();
                    var appId = "";
                    if (self.currentEntityName === "application") {
                        appId = params.app;
                    }
                    else if (self.currentEntityName === "drawdown") {
                        appId = params.drawdownId;
                    }
                    var alertEndPoint = window.config.services.alertEngine;
                    var url = "/" + self.currentEntityName + "/" + appId;
                    self.$.http.get(url, alertEndPoint).then(function (data) {
                        self.alerts = data;
                        self._showResult(data);
                        self.set('loading', true);
                    }).fail(function (e) {
                        self.set('loading', true);
                        console.error("alert error is ", e);
                    });
                },
                clearTable: function (table) {
                    if (table !== null && table !== undefined) {
                        table.clear();
                        table.destroy();
                    }
                },
                _showResult: function (resultData) {
                    var self = this;
                    var table = self.tableObj;
                    if (table !== null && table !== undefined) {
                        self.clearTable(table);
                    }
                    self.tableObj = $(this.$$('#alertData')).DataTable({
                        retrieve: true,
                        dom: "<'row'<'col-sm-12'tr>>" +
                            "<'row'<'col-sm-5'i><'col-sm-7'p>>",
                        language: {
                            "zeroRecords": "No data found."
                        },
                        data: resultData,
                        order: [[0, "desc"]],
                        columnDefs: [
                            {
                                "width": "20%",
                                targets: 0,
                                orderable: true,
                                orderData: 6
                            },
                            {
                                targets: 1,
                                width: "15%"
                            },
                            {
                                targets: 2,
                                width: "20%"
                            },
                            {
                                targets: 3,
                                width: "10%"
                            },
                            {
                                targets: 4,
                                width: "20%"
                            },
                            {
                                targets: 5,
                                width: "10%"
                            },
                            {
                                width: "10%",
                                targets: 6,
                                visible: false
                            }
                        ],
                        columns: [
                            {
                                "data": "timestamp.time",
                                "title": "Date",
                                "render": function (data) {
                                    return "<span>" + self.formatDate(data) + "</span>"
                                },
                                "tooltip": "Alert Date"
                            },
                            {
                                "data": "name",
                                "title": "Alert Name",
                                "tooltip": "Alert Name"
                            },
                            {
                                "data": "description",
                                "title": "Description",
                                "tooltip": "Description"
                            },
                            {
                                "data": "status",
                                "title": "Status",
                                "tooltip": "Alert Status Name"
                            },
                            {
                                "data": "tags",
                                "title": "Tags",
                                "render": function (data, type) {
                                    if (type === "display") {
                                        var tagSpans = "";
                                        data.forEach(function (tag) {
                                            tagSpans +=
                                                '<span class="btn btn-default btn-xs tags">' +
                                                tag + '</span>';
                                        });
                                        return tagSpans;
                                    }
                                    return data;
                                },
                                "tooltip": "Alert Tags"
                            },
                            {
                                "data": "status",
                                "isFunction": true,
                                "orderable": false,
                                "render": eval("(function(data,type,full,meta) { var DispName=''; if(data === 'Active' ){ DispName = 'Dismiss'; } else { DispName = 'Undo'; } return \"<button class='btn btn-primary btn-xs' on-click='openLoanView'>\"+DispName+\"</button>\"})"),
                                "tooltip": "Alert Status"
                            },
                            {
                                "data": "timestamp.time",
                                "title": "date",
                                "tooltip": "Date"
                            }
                        ]
                    });

                    $('#alertData tbody').on('click', 'button', function () {
                        var data = self.tableObj.row($(this).parents('tr')).data();
                        self.openLoanAlertView(data);
                    });

                    //Grid header tooltip
                    var configData = self.tableObj.settings().aoColumns;
                    if ($('#alertData thead tr')[0]) {
                        $('#alertData thead tr')[0].childNodes.forEach(function (obj) {
                            var tooltipObj = _.filter(configData, { title: obj.innerText })
                            if (!_.isUndefined(tooltipObj) && !_.isNull(tooltipObj) && !_.isEmpty(tooltipObj)) {
                                var tooltip = tooltipObj[0].tooltip;
                                if (tooltip !== "" && tooltip !== undefined) {
                                    $(obj).attr('title', tooltip);
                                }
                            }
                        });
                    }
                },
                formatDate: function (date) {
                    return formats.date(date, window.config.country, true);
                },
                openLoanAlertView: function (e) {
                    var event = e;
                    var self = this;
                    if (e.status.toLowerCase() === "active") {
                        self.dismissAlert(e.id);
                    }
                    else if (e.status.toLowerCase() === "dismissed") {
                        self.undoAlert(e.id);
                    }
                },
                dismissAlert: function (alertId) {
                    var self = this;
                    var alertEndPoint = window.config.services.alertEngine;
                    var url = "/" + self.currentEntityName + "/" + self.applicationNumber + "/" + alertId + "/dismiss";
                    self.$.http.post(url, null, alertEndPoint).then(function () {
                        self.loadAlerts();
                    });
                },
                undoAlert: function (alertId) {
                    var self = this;
                    var alertEndPoint = window.config.services.alertEngine;
                    var url = "/" + self.currentEntityName + "/" + self.applicationNumber + "/" + alertId + "/dismiss/undo";
                    return self.$.http.post(url, null, alertEndPoint).then(function () {
                        self.loadAlerts();
                    });
                }
            });
        });
    </script>
</dom-module>