<html-import html-href="app-details-tab/assignment-modal.html"></html-import>
<dom-module id="assigment-view">
    <template>
        <style>
            .nav-tabs {
                margin-bottom: -1px;
            }

            .table>tbody>tr>th,
            .table>tbody>tr>td {
                vertical-align: middle;
                padding: 2px;
            }

            .my-image {
                --image-circle-width: 25px;
                --image-circle-height: 25px;
                --image-circle-margin-x: 2px;
                --image-circle-margin-y: 6px;
            }

            .moreHeight {
                max-height: 25px !important;
                min-height: 25px !important;
                padding: 5px !important;
            }

            .image-list-label {
                margin: 7px auto;
                font-weight: normal;
            }
        </style>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-striped">
                        <thead>
                            <tr role="row">
                                <th title="{{getTooltip('Assignee','AssignmentGrid')}}">Assignee</th>
                                <th title="{{getTooltip('Role','AssignmentGrid')}}">Role</th>
                                <th title="{{getTooltip('AssignmentDate','AssignmentGrid')}}">Date</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <template is="dom-repeat" items="{{assignments}}">
                                <tr>
                                    <td>
                                        <image-circle class="my-image" img-obj="{{item}}" username-prop="assignee" full-username-prop="fullName"></image-circle>
                                        <label class="image-list-label">{{_changeTextDisplay(item.assignee)}}</label>
                                    </td>
                                    <td>{{_changeTextDisplay(item.role)}}</td>
                                    <td>{{formatDate(item.assignedOn)}}
                                        <assignment-modal id="[[generateId(item)]]" assign-obj="[[item]]" application-number="{{applicationNumber}}" fire-event="{{_getEvents('RemoveAssignments')}}"></assignment-modal>
                                    </td>
                                    <td>
                                        <template is="dom-if" if="{{_buttonVisible(item)}}">
                                            <ul class="nav navbar-top-links navbar-right">
                                                <li class="dropdown">
                                                    <a href="javascript:" class="dropdown-toggle moreHeight" data-toggle="dropdown" role="button" aria-expanded="false">
                                                        <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                                                    </a>
                                                    <ul class="dropdown-menu">
                                                        <template is="dom-if" if="{{_menuRelease(item)}}">
                                                            <li>
                                                                <a assignmentid="{{item.id}}" on-click="_menuSelect" href="javascript:">{{_remove(item)}}</a>
                                                            </li>
                                                        </template>
                                                        <template is="dom-if" if="{{!_menuRelease(item)}}">
                                                            <li>
                                                                <a assignmentid="{{item.id}}" on-click="_menuSelect" href="javascript:">{{_remove(item)}}</a>
                                                            </li>
                                                        </template>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </template>
                                    </td>
                                </tr>
                            </template>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <http-request id="http"></http-request>
        <auth-service id="authorize"></auth-service>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "assigment-view",
                properties: {
                    currentUser: {
                        type: Object,
                        notify: true
                    },
                    assignments: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    assignmentList: {
                        type: Array,
                        notify: true
                    }
                },
                init: function () {
                    this._loadCurrentUser();
                },
                _remove: function (item) {
                    if (item.canRelease) {
                        return "Release";
                    }
                    return "Unassign";
                },
                _buttonVisible: function (item) {
                    if (item.canRelease) {
                        return true;
                    }
                    else if (item.canUnassign) {
                        return true;
                    }
                    return false;
                },
                _menuRelease: function (item) {
                    if (item.canRelease) {
                        return true;
                    }
                    return false;
                },
                generateId: function (item) {
                    return item.entityType + item.entityId;
                },
                _menuSelect: function (objAssignId) {
                    var self = this;
                    var AssignmentID = $(objAssignId)[0].currentTarget.assignmentid;
                    var assignObj = self._getAssignmentById(self.assignments, "id", AssignmentID);
                    this.$$('#' + this.generateId(assignObj)).show(assignObj);
                },
                _getAssignmentById: function (array, propName, AssignmentID) {
                    var Obj = array.filter(function (e) {
                        return e[propName] === AssignmentID;
                    })[0];
                    return Obj || {};
                },
                showAssignmentModal: function (e) {
                    this.$$('#' + this.generateId(e.model.__data__.item)).show(e.model.__data__.item);
                },
                _getEvents: function (tab) {
                    if (window.config.events) {
                        var event = window.config.events[tab];
                        return event;
                    }
                },
                _loadCurrentUser: function () {
                    var self = this;
                    var assignment = _.cloneDeep(self.assignmentList);
                    self.$.http.get("/user-info/", "").then(function (user) {
                        self.set('currentUser', user);
                        self._loadSubordinatesRole(assignment);
                    }).fail(function (e) {
                        console.error("application error is ", e);
                    });
                },
                _loadSubordinatesRole: function (assignments) {
                    var self = this;
                    var url = "/roles/user/children";
                    self.$.http.get(url, "").then(function (roles) {
                        if (!_.isNull(roles) && !_.isUndefined(roles && !_.isEmpty(roles))) {
                            self.set('roles', roles);
                            var objAssignments = self._setRolesData(assignments);
                            setTimeout(function () {
                                self.set("assignments", objAssignments);
                            }, 1500);
                        } else {
                            setTimeout(function () {
                                self.set("assignments", assignments);
                            }, 100);
                        }
                    }).fail(function (e) {
                        console.error("application error is ", e);
                    });
                },
                _setRolesData: function (assignments) {
                    var self = this;
                    function canUnassign(assignment) {
                        return self.roles.indexOf(assignment.role) > -1 && assignment.assignee !== self.currentUser.username;
                    }
                    function canRelease(assignment) {
                        return assignment.assignee === self.currentUser.username;
                    }
                    return assignments.map(function (assignment) {
                        return _.extend(assignment, {
                            canUnassign: canUnassign(assignment),
                            canRelease: canRelease(assignment)
                        });
                    });
                },
                formatDate: function (date) {
                    if (date !== undefined) {
                        return moment.tz(date, window.config.timezone).format(COUNTRY[window.config.country].DATE_FORMAT.DATE_TIMEZONE);
                    }
                    return "";
                },
                _changeTextDisplay: function (value) {
                    if (!_.isNull(value) && !_.isUndefined(value) && !_.isEmpty(value))
                        return _.startCase(_.lowerCase(value));
                    return "";
                },
                getTooltip: function (compName, Type) {
                    var tooltip = this.$.authorize.getToolTip(compName, Type);
                    if (!_.isNull(tooltip) && !_.isUndefined(tooltip) && !_.isEmpty(tooltip))
                        return tooltip.data;
                    return "";
                }
            });
        });
    </script>
</dom-module>