<html-import html-href="loaders/sk-wave.html"></html-import>
<html-import html-href="custom-component/cashflow-report.html"></html-import>
<dom-module id="app-cashflow-info">
    <template>
        <style>
            .panel-body {
                min-height: 0px;
            }

            .cell {
                margin: 5px;
                padding: 5px;
            }

            .show {
                display: block;
            }

            .hide {
                display: none;
            }

            .panel-group .panel {
                border-radius: 0;
                box-shadow: none;
                border-color: #EEEEEE;
            }

            .panel.panel-default {
                margin-bottom: 10px !important;
            }

            .panel-title>a {
                display: block;
                padding: 15px;
                text-decoration: none;
            }

            .more-less {
                float: right;
            }

            .panel-default>.panel-heading+.panel-collapse>.panel-body {
                border-top-color: #EEEEEE;
            }

            .dollerClass::before {
                content: "$ ";
            }

            .panel-title {
                font-size: 14px;
                margin-top: 0 !important;
            }

            ul {
                list-style-type: none !important;
                padding-left: 0px;
            }

            .panel-group {
                margin: 20px auto;
            }

            .div-ul {
                padding: 0;
            }

            .div-ul li {
                display: inline-flex;
                width: 47%;
                margin: 5px auto;
            }

            .div-ul li>b {
                margin-right: 2px;
            }

            .div-ul li>b:nth-of-type(2) {
                font-weight: normal;
            }

            .div-ul.menu li {
                width: 33%;
            }

            .custom-input {
                --paper-input-container-input: {
                    font-size: 11px;
                }
                --paper-input-container-label: {
                    font-size: 12px;
                }
            }

            .error-message {
                color: red;
                font: bold;
            }
        </style>
        <spinkit-wave hidden$="{{loading}}"></spinkit-wave>
        <div id="CashFlowGeneralMessageContainer"></div>
        <div class="row">
            <div class="col-lg-12" hidden$="{{!loading}}">
                <template is="dom-repeat" items="{{cashflowList}}" as="cashflow">
                    <div class="panel-group" id="cfPanel{{cashflow.id}}" role="tablist" aria-multiselectable="true">
                        <cashflow-report application-number="{{applicationNumber}}" status-code="{{statusCode}}" report-list="{{cashflow.report}}"
                            fire-event="{{fireEvent}}" show-menu="{{showMenu}}" edit-cashflow-summary="{{editCashflowSummary}}"
                            all-cashflow-summary="{{allCashflowSummary}}" spin="{{spin}}" edit-bank-obj="{{editBankObj}}" current-key="{{currentKey}}"
                            current-account-id="{{cashflow.accountId}}" funding-account-id="{{fundingAccountId}}" cashflow-account-id="{{cashflowAccountId}}"
                            total-count="{{totalCount}}" provider-account-id="{{providerAccountId}}" account-number="{{accountNumber}}"></cashflow-report>
                    </div>
                </template>
            </div>
        </div>
        <div id="addEditCashflowSummaryPopup" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title docSubject">Add/Edit {{currentKey}}</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <form is="iron-form" class="form-horizontal" name="editcashflowsummary" id="editcashflowsummaryForm">
                                    <dynamic-form id="dynamicEditCashflow" form-configuration={{editCashflowSummary}} values="{{editCashflowSummary.values}}"></dynamic-form>
                                    <br/>
                                    <paper-button class="btn btn-primary activity-action-btn" on-click="_submitCashflowSummary" raised>Submit</paper-button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="editBankAccountPopup" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title docSubject">Edit Bank Account</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div id="CasfhlowMessageContainer"></div>
                                <form is="iron-form" class="form-horizontal" name="editbankaccount">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <paper-input type="text" class="custom-input" auto-validate maxlength="9" minlength="9" value="{{editBankObj.values.RoutingNumber}}"
                                                name="routingNumber" id="routingNumber" label="Routing Number" required on-change="_getBankName"></paper-input>
                                        </div>
                                    </div>
                                    <dynamic-form id="dynamicEditBankAccount" form-configuration={{editBankObj}} values="{{editBankObj.values}}"></dynamic-form>
                                    <br/>
                                    <paper-button class="btn btn-primary activity-action-btn" on-click="_submitEditAccount" raised>Submit</paper-button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="viewTransactionListPopup" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title docSubject">View Transaction List</h4>
                    </div>
                    <div class="modal-body">
                        <template is="dom-if" if="{{hasRole('ExportTransaction')}}">
                            <template is="dom-if" if="{{checkRecords(totalCount)}}">
                                <div class="row">
                                    <div class="pull-right dt-buttons btn-group">
                                        <button id="Export" class="btn btn-default buttons-excel buttons-html5" on-click="_setDataAndExport" title="Click here to download the Cashflow transactions">
                                            <span>
                                                <i class="fa fa-file-excel-o"></i>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </template>
                        </template>
                        <div class="row">
                            <div id="transactionListContainer"></div>
                            <spinkit-wave hidden$="{{spin}}"></spinkit-wave>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <url-parser id="url"></url-parser>
        <http-request id="http"></http-request>
        <alloy-config id="config"></alloy-config>
        <auth-service id="authorize"></auth-service>
        <utility-service id="utility"></utility-service>
        <session-manager id="session"></session-manager>
        <message-component id="message"></message-component>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "app-cashflow-info",
                properties: {
                    loading: {
                        type: Boolean,
                        notify: true,
                        value: false,
                        reflectToAttribute: true
                    },
                    cashflowList: {
                        type: Array,
                        notify: true,
                        value: [],
                        reflectToAttribute: true
                    },
                    statusCode: {
                        type: String,
                        notify: true,
                        reflectToAttribute: true
                    },
                    applicationNumber: {
                        type: String,
                        notify: true,
                        reflectToAttribute: true
                    },
                    editCashflowSummary: {
                        type: Object,
                        notify: true,
                        value: {
                            controls: {},
                            values: {}
                        },
                        reflectToAttribute: true
                    },
                    allCashflowSummary: {
                        type: Object,
                        notify: true,
                        value: {},
                        reflectToAttribute: true
                    },
                    currentKey: {
                        type: String,
                        notify: true,
                        value: '',
                        reflectToAttribute: true
                    },
                    showMenu: {
                        type: Boolean,
                        notify: true,
                        value: true
                    },
                    editBankObj: {
                        type: Object,
                        notify: true,
                        reflectToAttribute: true,
                        value: {
                            controls: {
                                BankName: {
                                    label: "Bank Name",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        readonly: true,
                                        charcounter: false,
                                        autovalidate: true,
                                        minLen: 10,
                                        maxLen: 100
                                    }
                                },
                                AccountNumber: {
                                    label: "Account Number",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: true,
                                        minLen: 0,
                                        maxLen: 20
                                    }
                                },
                                CurrentBalance: {
                                    label: "Current Balance",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: true,
                                        minLen: 0,
                                        maxLen: 20
                                    }
                                },
                                AvailableBalance: {
                                    label: "Available Balance",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: true,
                                        minLen: 0,
                                        maxLen: 20
                                    }
                                },
                                AccountType: {
                                    label: "Account Type",
                                    type: "combobox",
                                    selectList: [
                                        { key: 'Checking', value: 'Checking' },
                                        { key: 'Savings', value: 'Savings' }
                                    ],
                                    labelKey: "value",
                                    labelValue: "key",
                                    validations: {
                                        required: true
                                    }
                                },
                                BalanceAsOfDate: {
                                    label: "Balance As Of Date",
                                    type: "date",
                                    format: "MM-DD-YYYY",
                                    minFactor: 10,
                                    maxFactor: 0,
                                    validations: {
                                        required: false,
                                        min: true,
                                        max: true
                                    }
                                }
                            },
                            values: {
                                RoutingNumber: "",
                                BankName: "",
                                AccountNumber: "",
                                CurrentBalance: 0,
                                AvailableBalance: 0,
                                AccountType: "",
                                BalanceAsOfDate: "",
                                Source: "",
                                AccountId: ""
                            }
                        }
                    },
                    fundingAccountId: {
                        type: String,
                        notify: true,
                        value: '',
                        reflectToAttribute: true
                    },
                    cashflowAccountId: {
                        type: String,
                        notify: true,
                        value: '',
                        reflectToAttribute: true
                    },
                    currentEntityName: {
                        type: String,
                        notify: true,
                        value: 'application'
                    },
                    spin: {
                        type: Boolean,
                        notify: true,
                        value: false,
                        reflectToAttribute: true
                    },
                    totalCount: {
                        type: String,
                        notify: true,
                        reflectToAttribute: true
                    },
                    providerAccountId: {
                        type: String,
                        notify: true,
                        reflectToAttribute: true
                    },
                    accountNumber: {
                        type: String,
                        notify: true,
                        reflectToAttribute: true
                    },
                    currentFilterName: {
                        type: String,
                        notify: true,
                        value: 'ExportAccountTransaction'
                    },

                },
                init: function () {
                    this._getCashflowPreferenceDetails();
                },
                ready: function () {
                    var self = this;
                    var params = self.$.url.getParams();
                    if (params.hasOwnProperty('entity')) {
                        self.set('currentEntityName', params.entity);
                    }
                    setTimeout(function () {
                        self._initJQueryEvents();
                        $('#addEditCashflowSummaryPopup').on('shown.bs.modal', function initDynamicForm(e) {
                            var dynamicForm = document.querySelector('#dynamicEditCashflow');
                            dynamicForm.init();
                            var form = document.querySelector('#editcashflowsummaryForm');
                            form.validate();
                        });
                        $('#addEditCashflowSummaryPopup').on('hidden.bs.modal', function initDynamicForm(event) {
                            var form = document.querySelector('#editcashflowsummaryForm');
                            form.reset();
                            self.set('editCashflowSummary', { controls: {}, values: {} });
                        });
                    }, 5000);
                },
                _getBankName: function () {
                    var self = this;
                    var editBankObj = _.cloneDeep(self.editBankObj);
                    var url = "/bank-details/" + editBankObj.values.RoutingNumber;
                    self.$.http.get(url, "").then(function (response) {
                        editBankObj.values.BankName = response.name;
                        self.set('editBankObj', editBankObj);
                    }).fail(function (e) {
                        editBankObj.values.BankName = "";
                        self.set('editBankObj', editBankObj);
                        self.$.message.showMessage(response.message, "ERROR", self.$$('#CasfhlowMessageContainer'));
                    });
                },
                _getCashflowPreferenceDetails: function () {
                    var self = this;
                    var params = self.$.url.getParams();
                    var cashflowServiceEndpoint = window.config.services.cashflowService;
                    var url = "/" + self.currentEntityName + "/" + params.app;
                    var payload = {
                        IsFundingAccount: true,
                        IsCashflowAccount: true
                    };
                    self.$.http.post(url, payload, cashflowServiceEndpoint).then(function (data) {
                        if (data != null && data.accounts != null && data.accounts.length > 0) {
                            var fundingAccount = _.find(data.accounts, function (o) { return o.isFundingAccount == true; });
                            if (fundingAccount != undefined) {
                                self.set('fundingAccountId', fundingAccount.id);
                            }
                            var cashflowAccount = _.find(data.accounts, function (o) { return o.isCashflowAccount == true; });
                            if (cashflowAccount != undefined) {
                                self.set('cashflowAccountId', cashflowAccount.id);
                            }
                        }
                        self.set('loading', true);
                    }).fail(function (e) {
                        self.set('loading', true);
                        var response = e.responseJSON;
                        if (response) {
                            self.$.message.showMessage(response.message, "ERROR", self.$$('#CashFlowGeneralMessageContainer'));
                        }
                        else {
                            self.$.message.showMessage("Get Cashflow Preference error ", "ERROR", self.$$('#CashFlowGeneralMessageContainer'));
                        }
                    });
                },
                _submitEditAccount: function (event) {
                    event.preventDefault();
                    var self = this;
                    var form = Polymer.dom(event).localTarget.parentElement;
                    if (form.validate()) {
                        var payload = self.editBankObj.values;
                        var cashflowServiceEndpoint = window.config.services.cashflowService;
                        var url = "/" + self.currentEntityName + "/" + self.applicationNumber + "/add/account";
                        self.$.http.post(url, payload, cashflowServiceEndpoint).then(function (data) {
                            $('#editBankAccountPopup').modal('hide');
                            self.raiseAppRefreshEvent();
                        }).fail(function (e) {
                            var response = e.responseJSON;
                            if (response) {
                                self.$.message.showMessage(response.message, "ERROR", self.$$('#CasfhlowMessageContainer'));
                            }
                            else {
                                self.$.message.showMessage("Add bank account error ", "ERROR", self.$$('#CasfhlowMessageContainer'));
                            }
                        });
                    }
                },
                _submitCashflowSummary: function (event) {
                    event.preventDefault();
                    var self = this;
                    var form = Polymer.dom(event).localTarget.parentElement;
                    if (form.validate()) {
                        var objData = _.split(self.allCashflowSummary.name, "-", 3);
                        var payload = {
                            AccountID: self.allCashflowSummary.accountId,
                            InstitutionName: objData[0],
                            AccountNumber: objData[1],
                            AccountType: objData[2],
                            AccountHeader: self.allCashflowSummary.name,
                            Source: self.allCashflowSummary.source,
                            HasSubReports: self.allCashflowSummary.hasSubReports,
                            CashFlow: {
                                TransactionSummary: {},
                                MonthlySummary: {},
                                MonthlyCashFlows: []
                            }
                        };
                        if (self.currentKey === "Cash flow Summary") {
                            payload.CashFlow.TransactionSummary = self.editCashflowSummary.values;
                            payload.CashFlow.MonthlySummary = self.allCashflowSummary['Monthly Summary'].values;
                        } else if (self.currentKey === "Monthly Summary") {
                            payload.CashFlow.MonthlySummary = self.editCashflowSummary.values;
                            payload.CashFlow.TransactionSummary = self.allCashflowSummary['Cash flow Summary'].values;
                        }
                        else {
                            payload.CashFlow.MonthlySummary = self.allCashflowSummary['Monthly Summary'].values;
                            payload.CashFlow.TransactionSummary = self.allCashflowSummary['Cash flow Summary'].values;
                            var currentIndexOfMonthlyCashflow = _.findIndex(self.allCashflowSummary.MonthlyCashFlows, function (i) { return i["Name"] + "-" + i["Year"] === self.currentKey; });
                            if (currentIndexOfMonthlyCashflow !== -1) {
                                self.allCashflowSummary.MonthlyCashFlows[currentIndexOfMonthlyCashflow] = self.editCashflowSummary.values;
                            }
                        }
                        payload.CashFlow.MonthlyCashFlows = self.allCashflowSummary.MonthlyCashFlows;
                        var cashflowServiceEndpoint = window.config.services.cashflowService;
                        var url = "/" + self.currentEntityName + "/" + self.applicationNumber + "/add/cashflow";
                        self.$.http.post(url, payload, cashflowServiceEndpoint).then(function (data) {
                            $('#addEditCashflowSummaryPopup').modal('hide');
                            self.raiseAppRefreshEvent();
                        }).fail(function (e) {
                            var response = e.responseJSON;
                            if (response) {
                                self.$.message.showMessage(response.message, "ERROR", self.$$('#CasfhlowMessageContainer'));
                            }
                            else {
                                self.$.message.showMessage("Add bank account error", "ERROR", self.$$('#CasfhlowMessageContainer'));
                            }
                        });
                    }
                },
                _initJQueryEvents: function () {
                    function showIcon(e) {
                        $(e.target).prev('.panel-heading').find(".more-less").removeClass("fa-plus").addClass("fa-minus");
                    }
                    function hideIcon(e) {
                        $(e.target).prev('.panel-heading').find(".more-less").removeClass("fa-minus").addClass("fa-plus");
                    }
                    $('.panel-default').on('hidden.bs.collapse', hideIcon);
                    $('.panel-default').on('shown.bs.collapse', showIcon);
                },
                _hasAmountField: function (field) {
                    if (field.format && (field.format === "amount" || field.format === "currencyFormat")) {
                        return true;
                    }
                    return false;
                },
                date: function (date) {
                    return formats.date(date, window.config.country, false);
                },
                _hasCondFormat: function (field) {
                    return scoring.hasCondFormat(field);
                },
                _getCondClass: function (field) {
                    return scoring.evalCondFormat(field);
                },
                _hasDateFormat: function (field) {
                    return scoring.hasDateFormat(field);
                },
                raiseAppRefreshEvent: function () {
                    this.fire('iron-signal', { name: 'refreshattributes', data: { keyName: 'plaidCashflow' } });
                },
                _setDataAndExport: function () {
                    var self = this;
                    var params = self.$.url.getParams();
                    var app = params.app;
                    var token = self.$.session.get("token");
                    var payload = { sorts: { "TransactionOn.Time.DateTime": -1 } };
                    payload.searchFilterView = [{ "AccountId": self.providerAccountId }];
                    var savefilterservice = window.config.services.savedFilters;
                    self.$.http.post("/cashflow/ExportData/ExportAccountTransaction", payload, window.config.services.savedFilters).then(function (csv) {
                        var result = [];
                        var lines = _.cloneDeep(csv.split("\n"));
                        var headers = lines[0].replace(/"/g, '').split(",");
                        for (var i = 1; i < lines.length; i++) {
                            var obj = {};
                            var currentline = lines[i].replace(/"/g, '').split(",");
                            for (var j = 0; j < headers.length; j++) {
                                if ("Date".indexOf(headers[j]) !== -1) {
                                    obj[headers[j]] = self.formatDate(currentline[j]);
                                }
                                else if ("Amount".indexOf(headers[j]) !== -1) {
                                    obj[headers[j]] = (self.formatMoneySignChange(currentline[j], true)).toString().replace(/,/g, '');
                                }
                                else if ("Running Balance".indexOf(headers[j]) !== -1) {
                                    obj[headers[j]] = (self.formatMoneySignChange(currentline[j], false)).toString().replace(/,/g, '');
                                }
                                else {
                                    obj[headers[j]] = currentline[j];
                                }
                            }
                            result.push(obj);
                        }
                        var arrData = typeof result != 'object' ? JSON.parse(result) : result;
                        var CSV = '';
                        var row = "";
                        for (var index in arrData[0]) {
                            row += index + ',';
                        }
                        row = row.slice(0, -1);
                        CSV += row + '\r\n';
                        for (var i = 0; i < arrData.length; i++) {
                            var row = "";
                            for (var index in arrData[i]) {
                                row += arrData[i][index] + ',';
                            }
                            row.slice(0, row.length - 1);
                            CSV += row + '\r\n';
                        }
                        if (CSV == '') {
                            return;
                        }
                        var uri = 'data:text/csv;charset=utf-8,' + escape(CSV);
                        var link = document.createElement("a");
                        link.href = uri;
                        link.download = "Transaction_" + app + "_" + self.accountNumber + ".csv";
                        link.click();

                    }).fail(function (e) {
                        console.log(e);
                    });
                },
                checkRecords: function (totalCount) {
                    var self = this;
                    return (self.totalCount > 0) ? true : false;
                },
                hasRole: function (compName) {
                    return this.$.authorize.hasRole(compName);
                },
                formatMoneySignChange: function (value, condition) {
                    var self = this;
                    if (condition !== undefined && condition == true) {
                        var swapSign = self.$.config.getConfigurationBasedOnKey("swapSign");
                        if (swapSign !== undefined && swapSign == true) {
                            return formats.money(value * -1, window.config.country, 0);
                        }
                    }
                    return formats.money(value, window.config.country, 0);
                },
                formatDate: function (date) {
                    if (!_.isNull(date) && !_.isUndefined(date) && !_.isEmpty(date)) {
                        return formats.onlyDate(date, window.config.country);
                    }
                    return "NA";
                },
            });
        });
    </script>
</dom-module>