<dom-module id="cran-info">
    <template>
        <style>
            .header {
                font-size: 12px;
                font-weight: 700;
                color: white;
                background-color: #03466B;
            }

            address {
                margin-bottom: 20px;
                font-style: normal;
                line-height: 1.42857143;
            }

            .table>thead>tr>th,
            .table>tbody>tr>td {
                vertical-align: middle;
                text-align: center;
                padding: 4px;
            }

            strong {
                display: block;
            }

            .alignLeft {
                text-align: left !important;
            }

            .alignRight {
                text-align: right !important;
            }
        </style>
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-bordered">
                    <tr>
                        <th colspan="4" class="header">Client Information
                        </th>
                    </tr>
                    <tr>
                        <td class="alignLeft">
                            <b>Borrower Name (as per PAN Card)</b>
                        </td>
                        <td class="alignLeft">
                            RAKESHKUMAR MOOLCHAND JAIN
                        </td>
                        <td class="alignLeft">
                            <b>Corporate</b>
                        </td>
                        <td class="alignLeft">
                            DHAMPUR SUGAR MILLS
                        </td>
                    </tr>
                    <tr>
                        <td class="alignLeft">
                            <b>Zone</b>
                        </td>
                        <td class="alignLeft">
                            North
                        </td>
                        <td class="alignLeft">
                            <b>Dealer Finance</b>
                        </td>
                        <td class="alignLeft">
                            NA
                        </td>
                    </tr>
                    <tr>
                        <td class="alignLeft">
                            <b>Client Registered Address</b>
                        </td>
                        <td class="alignLeft" colspan="3">
                            DISTT. BIJNOR DHAMPUR UP 246761 IN
                        </td>
                    </tr>
                    <tr>
                        <td class="alignLeft">
                            <b>Key Business Person / Desig</b>
                        </td>
                        <td class="alignLeft" colspan="3">
                            RAKESHKUMAR MOOLCHAND JAIN Director
                        </td>
                    </tr>
                    <tr>
                        <td class="alignLeft">
                            <b>Email</b>
                        </td>
                        <td class="alignLeft">
                            nvestordesk@dhampur.com
                        </td>
                        <td class="alignLeft">
                            <b>Mobile</b>
                        </td>
                        <td class="alignLeft">
                            (+91) 7898643210
                        </td>
                    </tr>
                    <tr>
                        <td class="alignLeft">
                            <b>Contact Email</b>
                        </td>
                        <td class="alignLeft">
                            rakeshjain2002@yahoo.com
                        </td>
                        <td class="alignLeft">
                            <b>Contact Mobile</b>
                        </td>
                        <td class="alignLeft">
                            (+91) 7898643210
                        </td>
                    </tr>
                    <tr>
                        <td class="alignLeft">
                            <b>City & State</b>
                        </td>
                        <td class="alignLeft">
                            Lucknow UP
                        </td>
                        <td class="alignLeft">
                            <b>RM / BM</b>
                        </td>
                        <td class="alignLeft">
                            NA
                        </td>
                    </tr>
                    <tr>
                        <td class="alignLeft">
                            <b>PAN No</b>
                        </td>
                        <td class="alignLeft">
                            AABCT2827N
                        </td>
                        <td class="alignLeft">
                            <b>Date of Incorp.
                            </b>
                        </td>
                        <td class="alignLeft">
                            04/04/2007
                        </td>
                    </tr>
                    <tr>
                        <td class="alignLeft">
                            <b>Constitution</b>
                        </td>
                        <td class="alignLeft">
                            Company limited by Shares
                        </td>
                        <td class="alignLeft">
                            <b>Activity</b>
                        </td>
                        <td class="alignLeft">
                            NA
                        </td>
                    </tr>
                </table>
                <table class="table table-bordered">
                    <tr>
                        <th colspan="5" class="header">Directors Details
                        </th>
                    </tr>
                    <tr>
                        <th colspan="2" class="alignLeft">Name of Director </th>
                        <th class="alignLeft">%age holding</th>
                        <th class="alignLeft">Director PAN No.</th>
                        <th class="alignLeft">Date of Birth</th>
                    </tr>
                    <tr>
                        <td colspan="2" class="alignLeft">GAURAV GOEL</td>
                        <td class="alignLeft">6.99%</td>
                        <td class="alignLeft">BTGPS7251D</td>
                        <td class="alignLeft">24/09/1973</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="alignLeft">GAUTAM GOEL</td>
                        <td class="alignLeft">7.05%</td>
                        <td class="alignLeft">CNCPS0019Q</td>
                        <td class="alignLeft">15/02/1974</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="alignLeft">VIJAY KUMAR GOEL
                        </td>
                        <td class="alignLeft">0.71% </td>
                        <td class="alignLeft">ANCPS0019Q</td>
                        <td class="alignLeft">09/11/1940</td>
                    </tr>
                </table>
                <table class="table table-bordered">
                    <tr>
                        <th colspan="6" class="header">Proprietor Details
                        </th>
                    </tr>
                    <tr>
                        <th colspan="2" class="alignLeft">Company / Director / Partner / Proprietor</th>
                        <th class="alignLeft">CIBIL Score</th>
                        <th class="alignLeft">CRILIC</th>
                        <th class="alignLeft">NCIF</th>
                        <th class="alignLeft">PAN Verification</th>
                    </tr>
                    <tr>
                        <td colspan="2" class="alignLeft">GAURAV GOEL</td>
                        <td class="alignLeft">720</td>
                        <td class="alignLeft">NA</td>
                        <td class="alignLeft">NA</td>
                        <td class="alignLeft">Yes</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="alignLeft">GAUTAM GOEL</td>
                        <td class="alignLeft">735</td>
                        <td class="alignLeft">NA</td>
                        <td class="alignLeft">NA</td>
                        <td class="alignLeft">Yes</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="alignLeft">VIJAY KUMAR GOEL
                        </td>
                        <td class="alignLeft">730
                        </td>
                        <td class="alignLeft">NA</td>
                        <td class="alignLeft">NA</td>
                        <td class="alignLeft">Yes</td>
                    </tr>
                </table>
            </div>
        </div>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "cran-info",
                properties: {

                },
                init: function () {

                }
            });
        });
    </script>
</dom-module>