<dom-module id="app-drawdown-request">
    <template>
        <style>
            .header {
                font-size: 12px;
                font-weight: 700;
                color: white;
                background-color: #03466B;
            }
        </style>
        <div class="panel-body" id="drawdownFContainer">
            <table id="queue" class="table table-striped" width="100%" cellspacing="0"></table>
        </div>
        <url-parser id="urlappdr"></url-parser>
        <http-request id="httpappdr"></http-request>
        <alloy-config id="configappdr"></alloy-config>
        <auth-service id="authorizeappdr"></auth-service>
        <session-manager id="sessionappdr"></session-manager>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "app-drawdown-request",
                properties: {
                    drawdown: {
                        type: Object,
                        notify: true,
                        value: {}
                    },
                    fireEvent: {
                        type: Object,
                        notify: true,
                        value: { 'AppDetailsPageRefresh': true }
                    },
                    filterConfig: {
                        type: Object,
                        notify: true,
                        value: {}
                    },
                    tableObj: {
                        type: Object,
                        notify: true,
                        value: {}
                    },
                    applicationNumber: {
                        type: String,
                        notify: true
                    }
                },
                _checkIfEmptyObject: function (obj) {
                    return Object.keys(obj).length === 0 && obj.constructor === Object;
                },
                date: function (date) {
                    if (!_.isNull(date) && !_.isUndefined(date) && !_.isEmpty(date)) {
                        return formats.date(date, window.config.country, false);
                    }
                    return "NA";
                },
                formatMoney: function (value) {
                    return formats.money(value, window.config.country, 0);
                },
                GetNumber: function (obj) {
                    return obj.entityId;
                },
                _loadFilterConfigurations: function () {
                    var self = this;
                    var data = self.$.configappdr.getConfigurationBasedOnKey("filters");
                    var config = _.cloneDeep(data["LocAllDrawdown"]);
                    if (config !== null && config !== undefined) {
                        var columnLength = config.columns.length;
                        for (var i = 0; i < columnLength; i++) {
                            if (config.columns[i].render != undefined) {
                                var render = config.columns[i].render;
                                if (config.columns[i].isFunction) {
                                    config.columns[i].render = eval("(" + render + ")");
                                }
                                else {
                                    config.columns[i].render = eval(render);
                                }
                            }
                        }
                        self.set("filterConfig", config);
                        self._getFilteredApplicationList();
                    }
                },
                ready: function () {
                    this.init();
                },
                init: function () {
                    var self = this;
                    var params = this.$.urlappdr.getParams();
                    this.applicationNumber = params.app;
                    this._loadFilterConfigurations();
                },
                _getFilteredApplicationList: function () {
                    var self = this;
                    var table = self.tableObj;
                    var urlParams = self.$.urlappdr.getParams();
                    var AppId = urlParams.app;
                    var loanFilters = window.config.services.savedFilters;
                    $.fn.dataTable.ext.errMode = 'none';
                    if (!_.isUndefined(table) && !_.isNull(table) && !self._checkIfEmptyObject(table)) {
                        table.clear();
                        table.destroy(true);
                        $('#drawdownFContainer').append($('<table/>').attr('id', 'queue').css('width', '100%').addClass('table table-striped'));
                    }
                    self.tableObj = $(self.$.queue).DataTable({
                        serverSide: true,
                        ajax: function (data, success) {
                            var page = data.start / 10;
                            page = page + 1;
                            var draw = data.draw;
                            var sortObj = _.transform(data.order, function (result, item) {
                                var columnObj = data.columns[item.column];
                                result[columnObj.data] = item.dir === "desc" ? -1 : 1;
                            }, {});
                            var payload = { sorts: sortObj };
                            payload.searchFilterView = [{ "LocNumber": AppId }];
                            $.ajax({
                                url: loanFilters + '/drawdown/Search/LocAllDrawdown?pageSize=10&page=' + page,
                                type: 'POST',
                                contentType: 'application/json',
                                data: JSON.stringify(payload),
                                headers: {
                                    'Authorization': "Bearer " + self.$.sessionappdr.get('token')
                                },
                                complete: function (data) {
                                    self.fire('iron-signal', { name: 'displaytotalcount', data: { totalRecords: data.getResponseHeader('X-TOTAL-COUNT') } });
                                    var gridData = {
                                        "draw": draw,
                                        "recordsTotal": parseInt(data.getResponseHeader('X-TOTAL-COUNT')),
                                        "recordsFiltered": parseInt(data.getResponseHeader('X-TOTAL-COUNT')),
                                        "data": data.responseJSON
                                    }
                                    success(gridData);
                                }
                            });
                        },
                        dom: "<'row'<'col-sm-12'tr>>" +
                            "<'row'<'col-sm-5'i><'col-sm-7'p>>",
                        columns: self.filterConfig.columns,
                        columnDefs: self.filterConfig.columnDefs,
                        order: self.filterConfig.order,
                        language: {
                            lengthMenu: "show_MENU_ applications",
                            zeroRecords: "No applications found.",
                            info: "Showing _START_ to _END_ of _TOTAL_ Applications",
                            infoEmpty: "No applications available",
                            infoFiltered: "(filtered from _MAX_ total Applications)"
                        }
                    });
                },
                hasRole: function (compName) {
                    return this.$.authorizeappdr.hasRole(compName);
                }
            });
        });
    </script>
</dom-module>