<dom-module id="duplicacy-details">
    <template>
        <style>
            .header {
                font-size: 12px;
                font-weight: 700;
                color: white;
                background-color: #03466B;
            }

            .row {
                margin: 0;
            }

            .col-lg-12 {
                margin: 10px auto;
                padding: 0;
            }
        </style>
        <table class="table">
            <thead>
                <tr>
                    <th colspan="6" class="header">Duplicacy Data</th>
                </tr>
            </thead>
            <tbody>
                <template is="dom-repeat" items="{{duplicacyData}}" as="DuplicateData">
                    <tr>
                        <th>{{DuplicateData.key}}</th>
                        <td>
                            <a on-click="showApplications" model$="{{DuplicateData}}">{{DuplicateData.count}}</a>
                        </td>
                        <th></th>
                        <td></td>
                        <th></th>
                        <td></td>
                    </tr>
                </template>
                <template is="dom-if" if="{{checkRecords(duplicacyData)}}">
                    <div class="row">
                        <div class="col-sm-12" style="padding-top:10px;">
                            No Data Found.
                        </div>
                    </div>
                </template>
            </tbody>
        </table>
        <div id="appContent" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Duplicate Applications For {{modaltitle}}</h4>
                    </div>
                    <div class="modal-body">
                        <div>{{duplicateApplications}}</div>
                    </div>
                </div>
            </div>
        </div>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "duplicacy-details",
                properties: {
                    duplicacyData: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    owners: {
                        type: Array,
                        notify: true,
                        value: [],
                        reflectToAttribute: true
                    },
                    duplicateApplications: {
                        type: String,
                        notify: true,
                        reflectToAttribute: true
                    },
                    modaltitle: {
                        type: String,
                        notify: true,
                        reflectToAttribute: true
                    },
                    dataAttributes: {
                        type: Object,
                        notify: true,
                        reflectToAttribute: true,
                        observer: '_loadDataAttributes'
                    }
                },
                _setDuplicacyData: function () {
                    var self = this;
                    var mappedData = [];
                    if (self.dataAttributes && self.dataAttributes.duplicacy) {
                        var data = self.dataAttributes.duplicacy;
                        var ssnCount = 0;
                        _.each(data, function (valuedata, index) {
                            _.transform(valuedata, function (result, value, key) {
                                if (key == "Ssn") {
                                    if (self.owners.length > ssnCount && self.owners[ssnCount]) {
                                        var ssn = formats.ssn(self.owners[ssnCount].SSN, window.config.country);
                                        ssnCount++;
                                        mappedData.push({ key: key.toUpperCase() + ': ' + ssn, value: _.join(value, ', '), count: value.length, order: ssnCount + 1 });
                                    }
                                } else
                                    mappedData.push({ key: key, value: _.join(value, ', '), count: value.length, order: 0 });
                            }, []);
                        });
                    }
                    if (self.dataAttributes && self.dataAttributes.duplicacyResult) {
                        var data = self.dataAttributes.duplicacyResult;
                        var ssnCount = 0;
                        _.transform(data, function (result, value, key) {
                            if (key == "Ssn") {
                                var ssn = formats.ssn(self.owners[ssnCount].SSN, window.config.country);
                                ssnCount++;
                                mappedData.push({ key: key.toUpperCase() + ': ' + ssn, value: _.join(value, ', '), count: value.length, order: ssnCount + 1 });
                            } else
                                mappedData.push({ key: key, value: _.join(value, ', '), count: value.length, order: 0 });
                        }, []);
                    }
                    var orderedMappedData = _.orderBy(mappedData, ['order'], ['desc']);
                    self.set("duplicacyData", orderedMappedData);
                },
                _loadDataAttributes: function () {
                    var self = this;
                    var data = self.dataAttributes;
                    if (!self._checkIfEmptyObject(data)) {
                        self.set('owners', data.application.owners);
                        self._setDuplicacyData();
                    }
                },
                showApplications: function (e) {
                    this.set("duplicateApplications", e.model.__data__.DuplicateData.value);
                    this.set("modaltitle", e.model.__data__.DuplicateData.key);
                    $('#appContent').modal('show');
                },
                init: function () {
                    this._loadDataAttributes();
                },
                _checkIfEmptyObject: function (obj) {
                    return Object.keys(obj).length === 0 && obj.constructor === Object;
                },
                checkRecords: function (objData) {
                    var self = this;
                    return (objData === undefined || objData === null || objData === "" || objData.length === 0) ? true : false;
                }
            });
        });
    </script>
</dom-module>