<html-import html-href="loaders/sk-wave.html"></html-import>
<dom-module id="escalation-tab">
    <template>
        <style>
            .padding {
                padding-left: 15px;
                padding-right: 15px;
            }
        </style>
        <spinkit-wave hidden$="{{loading}}"></spinkit-wave>
        <div id="escalationtabMessageContainer"></div>
        <div id="escalationAppContainer" class="padding">
            <table id="escalationAppTable" class="table table-striped" width="100%" cellspacing="0">
            </table>
        </div>
        <url-parser id="urlEscalationApp"></url-parser>
        <http-request id="httpEscalationApp"></http-request>
        <alloy-config id="configEscalationApp"></alloy-config>
        <message-component id="messageEscalationApp"></message-component>
        <utility-service id="utility"></utility-service>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "escalation-tab",
                properties: {
                    tableObj: {
                        type: Object,
                        notify: false
                    },
                    columnObj: {
                        type: Object,
                        notify: true
                    },
                    escalationAppDetails: {
                        type: Array,
                        notify: true,
                        value: [],
                        reflectToAttribute: true
                    },
                    currentEntityName: {
                        type: String,
                        notify: true,
                        value: 'application'
                    },
                    loading: {
                        type: Boolean,
                        notify: true,
                        value: false,
                        reflectToAttribute: true
                    },
                    applicationNumber: {
                        type: String,
                        notify: true,
                        reflectToAttribute: true
                    }
                },
                init: function () {
                    var self = this;
                    var params = self.$.urlEscalationApp.getParams();
                    if (params.hasOwnProperty('entity')) {
                        self.set('currentEntityName', params.entity);
                    }
                    self.loadEscalationApp();
                },
                loadEscalationApp: function () {
                    var self = this;
                    var params = self.$.urlEscalationApp.getParams();
                    var dataConfig = self.$.configEscalationApp.getConfigurationBasedOnKey("filters");
                    var relatedApps = _.cloneDeep(dataConfig["EscalationApps"]);
                    var columnLength = relatedApps.columns.length;
                    for (var i = 0; i < columnLength; i++) {
                        if (relatedApps.columns[i].render != undefined) {
                            var render = relatedApps.columns[i].render;
                            if (relatedApps.columns[i].isFunction) {
                                relatedApps.columns[i].render = eval("(" + render + ")");
                            }
                            else {
                                relatedApps.columns[i].render = eval(render);
                            }
                        }
                    }
                    self.set("columnObj", relatedApps);
                    var url = "/" + self.currentEntityName + "/" + self.applicationNumber + "/escalations";
                    self.$.httpEscalationApp.get(url, window.config.services.assignment).then(function (data) {
                        self.set('loading', true);
                        var orderedData = data;
                        self.set("escalationAppDetails", orderedData);
                        self._generateTable(self.escalationAppDetails);
                    }).fail(function (e) {
                        self.set('loading', true);
                        var response = e.responseJSON;
                        if (response) {
                            self.$.messageEscalationApp.showMessage(response.message, "ERROR", self.$$('#escalationtabMessageContainer'));
                        }
                        else {
                            self.$.messageEscalationApp.showMessage("Get Escalation of App error ", "ERROR", self.$$('#escalationtabMessageContainer'));
                        }
                    });
                },
                _generateTable: function (escalationAppDetails) {
                    var self = this, table;
                    table = self.tableObj;
                    if (table !== null && table !== undefined) {
                        table.clear();
                        table.destroy(true);
                        $('#escalationAppContainer').append($('<table/>').attr('id', 'escalationAppTable').css('width', '100%').addClass('table table-striped'));
                    }
                    $.fn.dataTable.ext.errMode = 'none';
                    table = self.tableObj = $(self.$$('#escalationAppTable')).DataTable({
                        dom: "<'row'<'col-sm-12'tr>><'row'<'col-sm-12 topSpacingTableSearch'ft>>" +
                            "<'row'<'col-sm-12'tr>>" +
                            "<'row'<'col-sm-5'i><'col-sm-7'p>>",
                        data: escalationAppDetails,
                        columns: self.columnObj.columns,
                        columnDefs: self.columnObj.columnDefs,
                        order: self.columnObj.order,
                        language: {
                            lengthMenu: "show_MENU_",
                            zeroRecords: "No Data found.",
                            info: "Showing _START_ to _END_ of _TOTAL_ records",
                            infoEmpty: "No Escalation available",
                            infoFiltered: "(filtered from _MAX_ total Escalation)"
                        }
                    });
                    setTimeout(function () {
                        $('#escalationAppTable tbody').off('click', 'a').on('click', 'a', function () {
                            var data = self.tableObj.row($(this).parents('tr')).data();
                            if (this.getAttribute("on-click") !== null && this.getAttribute("on-click") !== undefined) {
                                self[this.getAttribute("on-click")](data);
                            }
                        });
                    }, 700);
                },
                formatCurrency: function (data) {
                    return formats.money(data, window.config.country, 0);
                },
                escalateAccept: function (event) {
                    var self = this;
                    var url = "/" + self.currentEntityName + "/" + self.applicationNumber + "/escalations/" + event.id + "/accept";
                    self.$.httpEscalationApp.post(url, null, window.config.services.assignment).then(function (data) {
                        self.raiseFactVerifiedEvent(event);
                    }).fail(function (e) {
                        self.set('loading', true);
                        var response = e.responseJSON;
                        if (response) {
                            self.$.messageEscalationApp.showMessage(response.message, "ERROR", self.$$('#escalationtabMessageContainer'));
                        }
                        else {
                            self.$.messageEscalationApp.showMessage("Get Escalation of App error ", "ERROR", self.$$('#escalationtabMessageContainer'));
                        }
                    });
                },
                escalateComplete: function (event) {
                    var self = this;
                    var url = "/" + self.currentEntityName + "/" + self.applicationNumber + "/escalations/" + event.id + "/complete";
                    var payload = {
                        notes: "Completed"
                    }
                    self.$.httpEscalationApp.post(url, payload, window.config.services.assignment).then(function (data) {
                        self.raiseFactVerifiedEvent(event);
                    }).fail(function (e) {
                        self.set('loading', true);
                        var response = e.responseJSON;
                        if (response) {
                            self.$.messageEscalationApp.showMessage(response.message, "ERROR", self.$$('#escalationtabMessageContainer'));
                        }
                        else {
                            self.$.messageEscalationApp.showMessage("Get Escalation of App error ", "ERROR", self.$$('#escalationtabMessageContainer'));
                        }
                    });
                },
                escalateCancel: function (event) {
                    var self = this;
                    var url = "/" + self.currentEntityName + "/" + self.applicationNumber + "/escalations/" + event.id + "/cancel";
                    var payload = {
                        notes: "Cancelled"
                    }
                    self.$.httpEscalationApp.delete(url, payload, window.config.services.assignment).then(function (data) {
                        self.raiseFactVerifiedEvent(event);
                    }).fail(function (e) {
                        self.set('loading', true);
                        var response = e.responseJSON;
                        if (response) {
                            self.$.messageEscalationApp.showMessage(response.message, "ERROR", self.$$('#escalationtabMessageContainer'));
                        }
                        else {
                            self.$.messageEscalationApp.showMessage("Get Escalation of App error ", "ERROR", self.$$('#escalationtabMessageContainer'));
                        }
                    });
                },
                raiseFactVerifiedEvent: function (event) {
                    this.$.utility.raiseEvent(this.fireEvent, {
                        ActionName: "Escalation",
                        EventData: event,
                        CompnentName: 'escalation-tab'
                    });
                }
            });
        });
    </script>
</dom-module>