<dom-module id="financial-info">
    <template>
        <style>
            .header {
                font-size: 12px;
                font-weight: 700;
                color: white;
                background-color: #03466B;
            }

            address {
                margin-bottom: 20px;
                font-style: normal;
                line-height: 1.42857143;
            }

            strong {
                display: block;
            }

            .table>thead>tr>th,
            .table>tbody>tr>td {
                vertical-align: middle;
                text-align: center;
                padding: 4px;
            }

            .alignLeft {
                text-align: left !important;
            }

            .alignRight {
                text-align: right !important;
            }
        </style>

        <div class="row">
            <div class="col-lg-4">
                <vaadin-combo-box name="finaData" value="{{financialValue}}" item-value-path="key" item-label-path="value" items="{{allfinancial}}"
                    label="Select Sheet" prevent-invalid-input="true" on-change="_onVersionChange">
                </vaadin-combo-box>
            </div>
        </div>
        <div class="row" id="BalanceSheet">
            <div class="col-sm-12">
                <table class="table table-bordered">
                    <tr>
                        <th colspan="5" class="header">Balance Sheet
                        </th>
                    </tr>
                    <tr>
                        <th colspan="2" class="alignLeft">Particulars Assets</th>
                        <th class="alignRight">2015-2016 </th>
                        <th class="alignRight">2016-2017</th>
                        <th class="alignRight">2017-2018</th>
                    </tr>
                    <tr>
                        <td class="alignLeft" colspan="5">FIXED ASSET</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="alignLeft">Tangible Assets</td>
                        <td class="alignRight">{{formatCurrency(12517400000)}}</td>
                        <td class="alignRight">{{formatCurrency(14937900000)}}</td>
                        <td class="alignRight">{{formatCurrency(14894100000)}}</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="alignLeft">Intangible Assets</td>
                        <td class="alignRight">{{formatCurrency(0)}}</td>
                        <td class="alignRight">{{formatCurrency(0)}}</td>
                        <td class="alignRight">{{formatCurrency(25800000)}}</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="alignLeft">Capital Work In Progress</td>
                        <td class="alignRight">{{formatCurrency(177400000)}}</td>
                        <td class="alignRight">{{formatCurrency(281700000)}}</td>
                        <td class="alignRight">{{formatCurrency(271200000)}}</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="alignLeft">Intangible Asset under Development</td>
                        <td class="alignRight">{{formatCurrency(0)}}</td>
                        <td class="alignRight">{{formatCurrency(0)}}</td>
                        <td class="alignRight">{{formatCurrency(0)}}</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="alignLeft">
                            <b>Total Fixed Asset (A)</b>
                        </td>
                        <td class="alignRight">
                            <b>{{formatCurrency(12694800000)}}</b>
                        </td>
                        <td class="alignRight">
                            <b>{{formatCurrency(15219600000)}}</b>
                        </td>
                        <td class="alignRight">
                            <b>{{formatCurrency(15191100000)}}</b>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5" class="alignLeft">NON CURRENT ASSETS</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="alignLeft">Non Current Investment</td>
                        <td class="alignRight">{{formatCurrency(115800000)}}</td>
                        <td class="alignRight">{{formatCurrency(116000000)}}</td>
                        <td class="alignRight">{{formatCurrency(127500000)}}</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="alignLeft">Deferred Tax Assets (Net)</td>
                        <td class="alignRight">{{formatCurrency(451000000)}}</td>
                        <td class="alignRight">{{formatCurrency(352100000)}}</td>
                        <td class="alignRight">{{formatCurrency(0)}}</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="alignLeft">Long-term Loans & Advances</td>
                        <td class="alignRight">{{formatCurrency(127700000)}}</td>
                        <td class="alignRight">{{formatCurrency(199300000)}}</td>
                        <td class="alignRight">{{formatCurrency(160600000)}}</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="alignLeft">Other Non Current Assets</td>
                        <td class="alignRight">{{formatCurrency(2100000)}}</td>
                        <td class="alignRight">{{formatCurrency(1900000)}}</td>
                        <td class="alignRight">{{formatCurrency(1500000)}}</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="alignLeft">Total Non Current Assets (B)</td>
                        <td class="alignRight">
                            <b>{{formatCurrency(696600000)}}</b>
                        </td>
                        <td class="alignRight">
                            <b>{{formatCurrency(669300000)}}</b>
                        </td>
                        <td class="alignRight">
                            <b>{{formatCurrency(289600000)}}</b>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5" class="alignLeft">CURRENT ASSETS</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="alignLeft">Current Investment</td>
                        <td class="alignRight">{{formatCurrency(0)}}</td>
                        <td class="alignRight">{{formatCurrency(0)}}</td>
                        <td class="alignRight">{{formatCurrency(0)}}</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="alignLeft">Inventories</td>
                        <td class="alignRight">{{formatCurrency(12522600000)}}</td>
                        <td class="alignRight">{{formatCurrency(12617800000)}}</td>
                        <td class="alignRight">{{formatCurrency(14817100000)}}</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="alignLeft">Trade Receivables</td>
                        <td class="alignRight">{{formatCurrency(2216900000)}}</td>
                        <td class="alignRight">{{formatCurrency(2562600000)}}</td>
                        <td class="alignRight">{{formatCurrency(2249800000)}}</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="alignLeft">Cash & Cash Equivalents</td>
                        <td class="alignRight">{{formatCurrency(139600000)}}</td>
                        <td class="alignRight">{{formatCurrency(181300000)}}</td>
                        <td class="alignRight">{{formatCurrency(183200000)}}</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="alignLeft">Short-term Loans & Advances</td>
                        <td class="alignRight">{{formatCurrency(393500000)}}</td>
                        <td class="alignRight">{{formatCurrency(265800000)}}</td>
                        <td class="alignRight">{{formatCurrency(1162200000)}}</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="alignLeft">Other Current Assets</td>
                        <td class="alignRight">{{formatCurrency(1656600000)}}</td>
                        <td class="alignRight">{{formatCurrency(402500000)}}</td>
                        <td class="alignRight">{{formatCurrency(205000000)}}</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="alignLeft">
                            <b>Total Current Assets (C)</b>
                        </td>
                        <td class="alignRight">
                            <b>{{formatCurrency(16929200000)}}</b>
                        </td>
                        <td class="alignRight">
                            <b>{{formatCurrency(16030000000)}}</b>
                        </td>
                        <td class="alignRight">
                            <b>{{formatCurrency(18617300000)}}</b>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="alignLeft">
                            <b>Total Assets (A+B+C)</b>
                        </td>
                        <td class="alignRight">{{formatCurrency(30320600000)}}</td>
                        <td class="alignRight">{{formatCurrency(31918900000)}}</td>
                        <td class="alignRight">{{formatCurrency(34098000000)}}</td>
                    </tr>
                    <tr>
                        <td colspan="5" class="alignLeft">Liabilities</td>
                    </tr>
                    <tr>
                        <td colspan="5" class="alignLeft"> SHAREHOLDERS FUND</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="alignLeft">Share Capital</td>
                        <td class="alignRight">{{formatCurrency(759600000)}}</td>
                        <td class="alignRight">{{formatCurrency(753000000)}}</td>
                        <td class="alignRight">{{formatCurrency(664600000)}}</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="alignLeft"> Reserves & Surplus</td>
                        <td class="alignRight">{{formatCurrency(3521000000)}}</td>
                        <td class="alignRight">{{formatCurrency(6470500000)}}</td>
                        <td class="alignRight">{{formatCurrency(8907200000)}}</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="alignLeft">Money Received against warrants</td>
                        <td class="alignRight">{{formatCurrency(12400000)}}</td>
                        <td class="alignRight">{{formatCurrency(0)}}</td>
                        <td class="alignRight">{{formatCurrency(0)}}</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="alignLeft">
                            <b>Total Shareholders fund (A)</b>
                        </td>
                        <td class="alignRight">{{formatCurrency(4293000000)}}</td>
                        <td class="alignRight">{{formatCurrency(7223500000)}}</td>
                        <td class="alignRight">{{formatCurrency(9571800000)}}</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="alignLeft">Share Application Money Pending Allotment</td>
                        <td class="alignRight">{{formatCurrency(0)}}</td>
                        <td class="alignRight">{{formatCurrency(0)}}</td>
                        <td class="alignRight">{{formatCurrency(0)}}</td>
                    </tr>
                    <tr>
                        <td colspan="5" class="alignLeft">
                            <b>NON CURRENT LIABILITIES</b>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="alignLeft"> Long-term Borrowings</td>
                        <td class="alignRight">{{formatCurrency(5712400000)}}</td>
                        <td class="alignRight">{{formatCurrency(5457900000)}}</td>
                        <td class="alignRight">{{formatCurrency(5283800000)}}</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="alignLeft">Deferred Tax Liabilities</td>
                        <td class="alignRight">{{formatCurrency(0)}}</td>
                        <td class="alignRight">{{formatCurrency(0)}}</td>
                        <td class="alignRight">{{formatCurrency(429400000)}}</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="alignLeft">Other Long-term Liabilities</td>
                        <td class="alignRight">{{formatCurrency(34900000)}}</td>
                        <td class="alignRight">{{formatCurrency(9900000)}}</td>
                        <td class="alignRight">{{formatCurrency(0)}}</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="alignLeft"> Long-term Provisions</td>
                        <td class="alignRight">{{formatCurrency(206500000)}}</td>
                        <td class="alignRight">{{formatCurrency(208200000)}}</td>
                        <td class="alignRight">{{formatCurrency(249900000)}}</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="alignLeft">Total Non Current Liabilities (B)</td>
                        <td class="alignRight">{{formatCurrency(5953800000)}}</td>
                        <td class="alignRight">{{formatCurrency(5676000000)}}</td>
                        <td class="alignRight">{{formatCurrency(5963100000)}}</td>
                    </tr>
                    <tr>
                        <td colspan="5" class="alignLeft">
                            <b>CURRENT LIABILITIES</b>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="alignLeft">Short-term Borrowings</td>
                        <td class="alignRight">{{formatCurrency(8938800000)}}</td>
                        <td class="alignRight">{{formatCurrency(9284700000)}}</td>
                        <td class="alignRight">{{formatCurrency(12741600000)}}</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="alignLeft">Trade Payables</td>
                        <td class="alignRight">{{formatCurrency(6751900000)}}</td>
                        <td class="alignRight">{{formatCurrency(4568800000)}}</td>
                        <td class="alignRight">{{formatCurrency(2981700000)}}</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="alignLeft">Other Current Liabilities</td>
                        <td class="alignRight">{{formatCurrency(4283000000)}}</td>
                        <td class="alignRight">{{formatCurrency(5039500000)}}</td>
                        <td class="alignRight">{{formatCurrency(2481500000)}}</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="alignLeft">Short-term Provisions</td>
                        <td class="alignRight">{{formatCurrency(100100000)}}</td>
                        <td class="alignRight">{{formatCurrency(126400000)}}</td>
                        <td class="alignRight">{{formatCurrency(358300000)}}</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="alignLeft">
                            <b> Total Current Liabilities (C )</b>
                        </td>
                        <td class="alignRight">{{formatCurrency(20073800000)}}</td>
                        <td class="alignRight">{{formatCurrency(19019400000)}}</td>
                        <td class="alignRight">{{formatCurrency(18563100000)}}</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="alignLeft">
                            <b>Total Equity & Liabilities (A+B+C)</b>
                        </td>
                        <td class="alignRight">{{formatCurrency(30320600000)}}</td>
                        <td class="alignRight">{{formatCurrency(31918900000)}}</td>
                        <td class="alignRight">{{formatCurrency(34098000000)}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row" id="PLSheet" style="display: none;">
            <div class="col-sm-12">
                <table class="table table-bordered">
                    <tr>
                        <th colspan="5" class="header">PL Sheet
                        </th>
                    </tr>
                    <tr>
                        <th colspan="2" class="alignLeft">Particulars</th>
                        <th class="alignRight">2015-2016 </th>
                        <th class="alignRight">2016-2017</th>
                        <th class="alignRight">2017-2018</th>
                    </tr>
                    <tr>
                        <td class="alignLeft" colspan="5">
                            <b>REVENUE</b>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="alignLeft">Revenue from Sale of Products</td>
                        <td class="alignRight">{{formatCurrency(18077300000)}}</td>
                        <td class="alignRight">{{formatCurrency(22655700000)}}</td>
                        <td class="alignRight">{{formatCurrency(26464200000)}}</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="alignLeft">Revenue from Sale of Services</td>
                        <td class="alignRight">{{formatCurrency(0)}}</td>
                        <td class="alignRight">{{formatCurrency(0)}}</td>
                        <td class="alignRight">{{formatCurrency(0)}}</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="alignLeft">Other Operating Revenue</td>
                        <td class="alignRight">{{formatCurrency(341900000)}}</td>
                        <td class="alignRight">{{formatCurrency(98400000)}}</td>
                        <td class="alignRight">{{formatCurrency(196600000)}}</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="alignLeft">Less: Duties</td>
                        <td class="alignRight">{{formatCurrency(658200000)}}</td>
                        <td class="alignRight">{{formatCurrency(920200000)}}</td>
                        <td class="alignRight">{{formatCurrency(1320600000)}}</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="alignLeft">Total Revenue from Operations</td>
                        <td class="alignRight">{{formatCurrency(17761000000)}}</td>
                        <td class="alignRight">{{formatCurrency(21833900000)}}</td>
                        <td class="alignRight">{{formatCurrency(25340200000)}}</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="alignLeft">Other Income</td>
                        <td class="alignRight">{{formatCurrency( 164900000)}}</td>
                        <td class="alignRight">{{formatCurrency(240500000)}}</td>
                        <td class="alignRight">{{formatCurrency(245900000)}}</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="alignLeft">
                            <b>Total Revenue</b>
                        </td>
                        <td class="alignRight">{{formatCurrency(17925900000)}}</td>
                        <td class="alignRight">{{formatCurrency(22074400000)}}</td>
                        <td class="alignRight">{{formatCurrency(25586100000)}}</td>
                    </tr>
                    <tr>
                        <td class="alignLeft" colspan="5">
                            <b>EXPENSES</b>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="alignLeft">Cost of Materials Consumed</td>
                        <td class="alignRight">{{formatCurrency(12740600000)}}</td>
                        <td class="alignRight">{{formatCurrency(15158200000)}}</td>
                        <td class="alignRight">{{formatCurrency(18449800000)}}</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="alignLeft">Purchases of Stock in Trade</td>
                        <td class="alignRight">{{formatCurrency(1037800000)}}</td>
                        <td class="alignRight">{{formatCurrency(1720300000)}}</td>
                        <td class="alignRight">{{formatCurrency(450800000)}}</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="alignLeft">WIP Inventories</td>
                        <td class="alignRight">{{formatCurrency(199300000)}}</td>
                        <td class="alignRight">{{formatCurrency(10700000)}}</td>
                        <td class="alignRight">{{formatCurrency(-2166500000)}}</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="alignLeft">Employee Benefit Expense</td>
                        <td class="alignRight">{{formatCurrency(743300000)}}</td>
                        <td class="alignRight">{{formatCurrency(805700000)}}</td>
                        <td class="alignRight">{{formatCurrency(1246300000)}}</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="alignLeft">Other Expenses</td>
                        <td class="alignRight">{{formatCurrency(1673700000)}}</td>
                        <td class="alignRight">{{formatCurrency(1972200000)}}</td>
                        <td class="alignRight">{{formatCurrency(2184100000)}}</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="alignLeft">EBITDA</td>
                        <td class="alignRight">{{formatCurrency(1366300000)}}</td>
                        <td class="alignRight">{{formatCurrency(2166800000)}}</td>
                        <td class="alignRight">{{formatCurrency(5175700000)}}</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="alignLeft">EBITDA %</td>
                        <td class="alignLeft">7.62%</td>
                        <td class="alignLeft">9.82%</td>
                        <td class="alignLeft">20.23%</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="alignLeft">Finance Costs</td>
                        <td class="alignRight">{{formatCurrency(1496600000)}}</td>
                        <td class="alignRight">{{formatCurrency(1586300000)}}</td>
                        <td class="alignRight">{{formatCurrency(1670200000)}}</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="alignLeft">Total Depreciation, Depletion and Amortization</td>
                        <td class="alignRight">{{formatCurrency(551500000)}}</td>
                        <td class="alignRight">{{formatCurrency(548600000)}}</td>
                        <td class="alignRight">{{formatCurrency(539500000)}}</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="alignLeft">
                            <b>Total Expenses</b>
                        </td>
                        <td class="alignRight">{{formatCurrency(18442800000)}}</td>
                        <td class="alignRight">{{formatCurrency(21802000000)}}</td>
                        <td class="alignRight">{{formatCurrency(22374200000)}}</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="alignLeft">Profit before Exceptional Items</td>
                        <td class="alignRight">{{formatCurrency(-516900000)}}</td>
                        <td class="alignRight">{{formatCurrency(272400000)}}</td>
                        <td class="alignRight">{{formatCurrency(3211900000)}}</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="alignLeft">Prior Period Items before Tax</td>
                        <td class="alignRight">{{formatCurrency(0)}}</td>
                        <td class="alignRight">{{formatCurrency(0)}}</td>
                        <td class="alignRight">{{formatCurrency(0)}}</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="alignLeft">Exceptional Items</td>
                        <td class="alignRight">{{formatCurrency(0)}}</td>
                        <td class="alignRight">{{formatCurrency(0)}}</td>
                        <td class="alignRight">{{formatCurrency(0)}}</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="alignLeft">Profit before Extraordinary Items and Tax</td>
                        <td class="alignRight">{{formatCurrency(-516900000)}}</td>
                        <td class="alignRight">{{formatCurrency(272400000)}}</td>
                        <td class="alignRight">{{formatCurrency(3211900000)}}</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="alignLeft">Extraordinary Items</td>
                        <td class="alignRight">{{formatCurrency(0)}}</td>
                        <td class="alignRight">{{formatCurrency(102200000)}}</td>
                        <td class="alignRight">{{formatCurrency(0)}}</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="alignLeft">
                            <b>Profit before Tax</b>
                        </td>
                        <td class="alignRight">{{formatCurrency(-516900000)}}</td>
                        <td class="alignRight">{{formatCurrency(170200000)}}</td>
                        <td class="alignRight">{{formatCurrency(3211900000)}}</td>
                    </tr>
                    <tr>
                        <td class="alignLeft" colspan="5">
                            <b>Tax Expense</b>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="alignLeft">Current Tax</td>
                        <td class="alignRight">{{formatCurrency(16000000)}}</td>
                        <td class="alignRight">{{formatCurrency(0)}}</td>
                        <td class="alignRight">{{formatCurrency(0)}}</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="alignLeft">Deferred Tax</td>
                        <td class="alignRight">{{formatCurrency(-429300000)}}</td>
                        <td class="alignRight">{{formatCurrency(55100000)}}</td>
                        <td class="alignRight">{{formatCurrency(781500000)}}</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="alignLeft">Profit / (Loss) for the Period from Continuing Operations</td>
                        <td class="alignRight">{{formatCurrency(-103600000)}}</td>
                        <td class="alignRight">{{formatCurrency(115100000)}}</td>
                        <td class="alignRight">{{formatCurrency(2430400000)}}</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="alignLeft">
                            <b> Profit / (Loss)</b>
                        </td>
                        <td class="alignRight">
                            <b>{{formatCurrency(-103600000)}}</b>
                        </td>
                        <td class="alignRight">
                            <b>{{formatCurrency(115100000)}}</b>
                        </td>
                        <td class="alignRight">
                            <b>{{formatCurrency(2430400000)}}</b>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "financial-info",
                properties: {
                    financialValue: {
                        type: String,
                        notify: true
                    },
                    allfinancial: {
                        type: Array,
                        notify: true,
                        value: [
                            { key: 'Balance Sheet', value: 'Balance Sheet' },
                            { key: 'PL Sheet', value: 'PL Sheet' }
                        ]
                    }
                },
                init: function () {
                    var self = this;
                    self.set("financialValue", "Balance Sheet");
                    $('#BalanceSheet').show();
                },
                formatCurrency: function (data) {
                    return formats.money(data, window.config.country, 0);
                },
                _onVersionChange: function (event) {
                    var self = this;
                    var selectedValues = event.target.value;
                    if (selectedValues === "Balance Sheet") {
                        $('#BalanceSheet').show();
                        $('#PLSheet').hide();
                    }
                    else if (selectedValues === "PL Sheet") {
                        $('#PLSheet').show();
                        $('#BalanceSheet').hide();
                    }
                    else {
                        $('#BalanceSheet').hide();
                        $('#PLSheet').hide();
                    }
                }
            });
        });
    </script>
</dom-module>