<dom-module id="app-funding-info">
    <template>
        <style>
            .btn {
                margin: 0 !important;
                font-size: 12px;
                padding: 2px 5px;
            }
        </style>
        <div class="row">
            <div class="col-sm-12">
                <table class="table">
                    <tr>
                        <th>Account Type</th>
                        <td>{{fundingInfo.bankAccountType}}</td>
                        <th>Account Number</th>
                        <td>{{fundingInfo.bankAccountNumber}}</td>
                    </tr>
                    <tr>
                        <th>Amount Funded</th>
                        <td>{{formatMoney(fundingInfo.amountFunded)}}</td>
                        <th>Routing Number</th>
                        <td>{{fundingInfo.bankRTN}}</td>
                    </tr>
                    <tr>
                        <th>Borrower Name</th>
                        <td>{{fundingInfo.borrowersName}}</td>
                        <td colspan="2">
                            <button on-click="showAttemptsModal" class="btn btn-primary">Attempt Details</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row divideborder">
        </div>
        <div id="fundingAttemptsModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Funding Attempts Details : {{fundingInfo.borrowersName}}</h4>
                    </div>
                    <div class="modal-body">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Attempt Date</th>
                                    <th>Response Status</th>
                                    <th>Return Date</th>
                                    <th>Account Number</th>
                                    <th>Account Type</th>
                                    <th>Routing Number</th>
                                </tr>
                            </thead>
                            <tbody>
                                <template is="dom-repeat" items="{{fundingAttemptsInfo}}">
                                    <tr>
                                        <td>{{date(item.attemptDate.time)}}</td>
                                        <td>{{item.vendorResponseStatus}}</td>
                                        <td>{{date(item.returnDate.time)}}</td>
                                        <td>{{item.bankAccountNumber}}</td>
                                        <td>{{item.bankAccountType}}</td>
                                        <td>{{item.bankRTN}}</td>
                                    </tr>
                                </template>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>
        <http-request id="http"></http-request>
        <utility-service id="utility"></utility-service>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "app-funding-info",
                properties: {
                    fundingInfo: {
                        type: Object,
                        notify: true,
                        value: {}
                    },
                    fundingAttemptsInfo: {
                        type: Array,
                        notify: true,
                        value: []
                    }
                },
                formatMoney: function (value) {
                    return formats.money(value, window.config.country, 0);
                },
                date: function (date) {
                    if (!_.isNull(date) && !_.isUndefined(date) && !_.isEmpty(date)) {
                        return formats.date(date, window.config.country, false);
                    }
                    return "Not available";
                },
                showAttemptsModal: function (e) {
                    this._getFundingAttempts();
                    $('#fundingAttemptsModal').modal('show');
                },
                init: function () {
                    this._getFundingInfo();
                },
                _checkIfEmptyObject: function (obj) {
                    return Object.keys(obj).length === 0 && obj.constructor === Object;
                },
                _getFundingInfo: function () {
                    var self = this;
                    var fundingEndpoint = window.config.services.fundingService;
                    var url = "/application/" + self.applicationNumber;
                    self.$.http.get(url, fundingEndpoint).then(function (data) {
                        if (!_.isNull(data) && !_.isUndefined(data)) {
                            self.set('fundingInfo', data);
                        }
                    }).fail(function (e) {
                        console.error("_getFundingInfo error is ", e);
                    });
                },
                _getFundingAttempts: function () {
                    var self = this;
                    var url = 'fundingattempt/' + self.fundingInfo.referenceId;
                    var fundingEndpoint = window.config.services.fundingService;
                    self.$.http.get(url, fundingEndpoint).then(function (data) {
                        if (!_.isNull(data) && !_.isUndefined(data)) {
                            self.set('fundingAttemptsInfo', data);
                        }
                    }).fail(function (e) {
                        console.error("_getFundingAttempts error is ", e);
                    });
                }
            });
        });
    </script>
</dom-module>