<dom-module id="gst-info">
    <template>
        <style>
            .header {
                font-size: 12px;
                font-weight: 700;
                color: white;
                background-color: #03466B;
            }

            address {
                margin-bottom: 20px;
                font-style: normal;
                line-height: 1.42857143;
            }

            .table>thead>tr>th,
            .table>tbody>tr>td {
                vertical-align: middle;
                text-align: center;
                padding: 4px;
            }

            strong {
                display: block;
            }

            .alignLeft {
                text-align: left !important;
            }

            .alignRight {
                text-align: right !important;
            }
        </style>
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-bordered">
                    <tr>
                        <th colspan="4" class="header">GST Contact Details
                        </th>
                    </tr>
                    <tr>
                        <td colspan="2" class="alignLeft">
                            <b>Name</b>
                        </td>
                        <td colspan="2" class="alignLeft">RAKESHKUMAR MOOLCHAND JAIN</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="alignLeft">
                            <b>Contact Number</b>
                        </td>
                        <td colspan="2" class="alignLeft">(+91) 7898643210</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="alignLeft">
                            <b>Email</b>
                        </td>
                        <td colspan="2" class="alignLeft">rakeshjain2002@yahoo.com</td>
                    </tr>
                    <tr>
                        <th colspan="4" class="header">GST Registration Details
                        </th>
                    </tr>
                    <tr>
                        <td colspan="2" class="alignLeft">
                            <b>GSTIN Registration Date</b>
                        </td>
                        <td colspan="2" class="alignLeft">28/07/2017</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="alignLeft">
                            <b>Registered Trade Name of the business</b>
                        </td>
                        <td colspan="2" class="alignLeft">DHAMPUR SUGAR MILLS</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="alignLeft">
                            <b>Status of the registration</b>
                        </td>
                        <td colspan="2" class="alignLeft">Active</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="alignLeft">
                            <b>Nature of Business</b>
                        </td>
                        <td colspan="2" class="alignLeft">Office / Sale Office,Wholesale Business</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="alignLeft">
                            <b>Registered Business Category</b>
                        </td>
                        <td colspan="2" class="alignLeft">Company limited by Shares</td>
                    </tr>
                    <tr>
                        <th colspan="4" class="header">Business Transaction summary as per GST Returns
                        </th>
                    </tr>
                    <tr>
                        <td colspan="2" class="alignLeft">
                            <b>Previous Year's (2016-17) Gross Turnover</b>
                        </td>
                        <td colspan="2" class="alignLeft">{{formatCurrency(22074400000)}}</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="alignLeft">
                            <b>Gross Turnover Apr-Jun 2017 </b>
                        </td>
                        <td colspan="2" class="alignLeft">{{formatCurrency(5117220000)}}</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="alignLeft">
                            <b>Gross Turnover July -2017 to current </b>
                        </td>
                        <td colspan="2" class="alignLeft">{{formatCurrency(25586100000)}}</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="alignLeft">
                            <b>Total GST liability payments (Paid)</b>
                        </td>
                        <td colspan="2" class="alignLeft">{{formatCurrency(156300000)}}</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="alignLeft">
                            <b>Total Tax liability payable</b>
                        </td>
                        <td colspan="2" class="alignLeft">{{formatCurrency(625200000)}}</td>
                    </tr>

                    <tr>
                        <td colspan="2" class="alignLeft">
                            <b>Average monthly taxable sales</b>
                        </td>
                        <td colspan="2" class="alignLeft">{{formatCurrency(2205350000)}}</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="alignLeft">
                            <b>Average sale per customer</b>
                        </td>
                        <td colspan="2" class="alignLeft">{{formatCurrency(352856000)}}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="alignLeft">
                            <b>Average unit rate of the products sold</b>
                        </td>
                        <td colspan="2" class="alignLeft">{{formatCurrency(66160.5)}}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="alignLeft">
                            <b>Average count of invoices raised per customer</b>
                        </td>
                        <td colspan="2" class="alignLeft">45</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="alignLeft">
                            <b>Average quantity sold per customer</b>
                        </td>
                        <td colspan="2" class="alignLeft">224</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="alignLeft">
                            <b>Average value of invoice</b>
                        </td>
                        <td colspan="2" class="alignLeft">{{formatCurrency(7841245)}}</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="alignLeft">
                            <b>Average quantity sold per invoice</b>
                        </td>
                        <td colspan="2" class="alignLeft">156</td>
                    </tr>
                </table>
                <table class="table table-bordered">
                    <tr>
                        <th colspan="5" class="header">GSTR Transactions
                        </th>
                    </tr>
                    <tr>
                        <td class="alignLeft" colspan="5">
                            <b>Statewise sum of Sales of the business</b>
                        </td>
                    </tr>
                    <tr>
                        <th colspan="2" class="alignLeft">State Code</th>
                        <th class="alignLeft">Total invoices raised</th>
                        <th class="alignRight">Total taxable value</th>
                        <th class="alignRight">Total value of sales</th>
                    </tr>
                    <tr>
                        <td colspan="2" class="alignLeft">KA</td>
                        <td class="alignLeft">145</td>
                        <td class="alignRight">{{formatCurrency(215693)}}</td>
                        <td class="alignRight">{{formatCurrency(2264789)}}</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="alignLeft">TN</td>
                        <td class="alignLeft">367</td>
                        <td class="alignRight">{{formatCurrency(346788)}}</td>
                        <td class="alignRight">{{formatCurrency(23784767)}}</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="alignLeft">KL</td>
                        <td class="alignLeft">34</td>
                        <td class="alignRight">{{formatCurrency(78657)}}</td>
                        <td class="alignRight">{{formatCurrency(872398)}}</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="alignLeft">AP</td>
                        <td class="alignLeft">56</td>
                        <td class="alignRight">{{formatCurrency(98979)}}</td>
                        <td class="alignRight">{{formatCurrency(1236789)}}</td>
                    </tr>
                    <tr>
                        <td class="alignLeft" colspan="5">
                            <b>Customer wise Sales of the Business</b>
                        </td>
                    </tr>
                    <tr>
                        <th colspan="2" class="alignLeft">Customer PAN</th>
                        <th class="alignLeft">Total invoices raised</th>
                        <th class="alignRight">Total taxable value</th>
                        <th class="alignRight">Total value of sales</th>
                    </tr>
                    <tr>
                        <td colspan="2" class="alignLeft"> BTGPS7251D</td>
                        <td class="alignLeft">87</td>
                        <td class="alignRight">{{formatCurrency(170588)}}</td>
                        <td class="alignRight">{{formatCurrency(179117)}}</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="alignLeft">CNCPS0019Q</td>
                        <td class="alignLeft">70</td>
                        <td class="alignRight">{{formatCurrency(78657)}}</td>
                        <td class="alignRight">{{formatCurrency(872398)}}</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="alignLeft">ANCPS0019Q</td>
                        <td class="alignLeft">65</td>
                        <td class="alignRight">{{formatCurrency(98979)}}</td>
                        <td class="alignRight">{{formatCurrency(1236789)}}</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="alignLeft"> BTTPS7251F</td>
                        <td class="alignLeft">45</td>
                        <td class="alignRight">{{formatCurrency(195088)}}</td>
                        <td class="alignRight">{{formatCurrency(178217)}}</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="alignLeft">CMCPS0319Q</td>
                        <td class="alignLeft">24</td>
                        <td class="alignRight">{{formatCurrency(77757)}}</td>
                        <td class="alignRight">{{formatCurrency(879898)}}</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="alignLeft">ABCPS3419Q</td>
                        <td class="alignLeft">12</td>
                        <td class="alignRight">{{formatCurrency(98379)}}</td>
                        <td class="alignRight">{{formatCurrency(1242789)}}</td>
                    </tr>
                    <tr>
                        <td class="alignLeft" colspan="5">
                            <b>Sector wise summary of Business</b>
                        </td>
                    </tr>
                    <tr>
                        <th colspan="2" class="alignLeft">Category Description</th>
                        <th class="alignLeft">Total invoices raised</th>
                        <th class="alignRight">Total taxable value</th>
                        <th class="alignRight">Total value of sales</th>
                    </tr>
                    <tr>
                        <td colspan="2" class="alignLeft">RAW MATERIAL</td>
                        <td class="alignLeft">87</td>
                        <td class="alignRight">{{formatCurrency(170588)}}</td>
                        <td class="alignRight">{{formatCurrency(179117)}}</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="alignLeft">EXTRACT</td>
                        <td class="alignLeft">24</td>
                        <td class="alignRight">{{formatCurrency(78657)}}</td>
                        <td class="alignRight">{{formatCurrency(872398)}}</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="alignLeft"> MACHINE</td>
                        <td class="alignLeft">12</td>
                        <td class="alignRight">{{formatCurrency(98979)}}</td>
                        <td class="alignRight">{{formatCurrency(1236789)}}</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="alignLeft"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="alignLeft" colspan="5">
                            <b>Top three customers of the business</b>
                        </td>
                    </tr>
                    <tr>
                        <th colspan="2" class="alignLeft">Customer PAN</th>
                        <th class="alignLeft">Percentage share</th>
                        <th class="alignLeft">Total invoices raised</th>
                        <th class="alignRight">Total taxable value</th>
                    </tr>
                    <tr>
                        <td colspan="2" class="alignLeft">AAACJ6733E</td>
                        <td class="alignLeft">0.162%</td>
                        <td class="alignLeft">23</td>
                        <td class="alignRight">{{formatCurrency(2082982)}}</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="alignLeft">AAGCS4202F</td>
                        <td class="alignLeft">0.152%</td>
                        <td class="alignLeft">18</td>
                        <td class="alignRight">{{formatCurrency(1959996)}}</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="alignLeft">AACCR2067H</td>
                        <td class="alignLeft">0.144%</td>
                        <td class="alignLeft">15</td>
                        <td class="alignRight">{{formatCurrency(1855458)}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "gst-info",
                properties: {

                },
                init: function () {

                },
                formatCurrency: function (data) {
                    return formats.money(data, window.config.country, 0);
                }
            });
        });
    </script>
</dom-module>