<html-import html-href="loaders/sk-wave.html"></html-import>
<dom-module id="related-app">
    <template>
        <spinkit-wave hidden$="{{loading}}"></spinkit-wave>
        <div id="RelatedAppMessageContainer"></div>
        <div class="row">
            <div class="col-lg-12" id="relatedAppContainer">
                <table id="relatedAppTable" class="table table-striped" width="100%" cellspacing="0">
                </table>
            </div>
        </div>
        <url-parser id="urlRelatedApp"></url-parser>
        <http-request id="httpRelatedApp"></http-request>
        <alloy-config id="configRelatedApp"></alloy-config>
        <message-component id="messageRelatedApp"></message-component>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "related-app",
                properties: {
                    tableObj: {
                        type: Object,
                        notify: false
                    },
                    columnObj: {
                        type: Object,
                        notify: true
                    },
                    relatedAppDetails: {
                        type: Array,
                        notify: true,
                        value: [],
                        reflectToAttribute: true
                    },
                    currentEntityName: {
                        type: String,
                        notify: true,
                        value: 'application'
                    },
                    loading: {
                        type: Boolean,
                        notify: true,
                        value: false,
                        reflectToAttribute: true
                    },
                    applicationNumber: {
                        type: String,
                        notify: true,
                        reflectToAttribute: true
                    }
                },
                init: function () {
                    var self = this;
                    var params = self.$.urlRelatedApp.getParams();
                    if (params.hasOwnProperty('entity')) {
                        self.set('currentEntityName', params.entity);
                    }
                    self.loadRelatedApp();
                },
                loadRelatedApp: function () {
                    var self = this;
                    var params = self.$.urlRelatedApp.getParams();
                    var dataConfig = self.$.configRelatedApp.getConfigurationBasedOnKey("filters");
                    var relatedApps = _.cloneDeep(dataConfig["RelatedApps"]);
                    var columnLength = relatedApps.columns.length;
                    for (var i = 0; i < columnLength; i++) {
                        if (relatedApps.columns[i].render != undefined) {
                            var render = relatedApps.columns[i].render;
                            if (relatedApps.columns[i].isFunction) {
                                relatedApps.columns[i].render = eval("(" + render + ")");
                            }
                            else {
                                relatedApps.columns[i].render = eval(render);
                            }
                        }
                    }
                    self.set("columnObj", relatedApps);
                    var url = "/" + self.currentEntityName + "/" + self.applicationNumber + "/all/related";
                    self.$.httpRelatedApp.get(url, window.config.services.appProcessor).then(function (data) {
                        self.set('loading', true);
                        var orderedData = data;
                        self.set("relatedAppDetails", orderedData);
                        self._generateTable(self.relatedAppDetails);
                    }).fail(function (e) {
                        self.set('loading', true);
                        var response = e.responseJSON;
                        if (response) {
                            self.$.messageRelatedApp.showMessage(response.message, "ERROR", self.$$('#RelatedAppMessageContainer'));
                        }
                        else {
                            self.$.messageRelatedApp.showMessage("Get Related App error ", "ERROR", self.$$('#RelatedAppMessageContainer'));
                        }
                    });
                },
                _generateTable: function (relatedAppDetails) {
                    var self = this, table;
                    table = self.tableObj;
                    if (table !== null && table !== undefined) {
                        table.clear();
                        table.destroy(true);
                        $('#relatedAppContainer').append($('<table/>').attr('id', 'relatedAppTable').css('width', '100%').addClass('table table-striped'));
                    }
                    $.fn.dataTable.ext.errMode = 'none';
                    table = self.tableObj = $(self.$$('#relatedAppTable')).DataTable({
                        dom: "<'row'<'col-sm-12'tr>>" +
                            "<'row'<'col-sm-5'i><'col-sm-7'p>>",
                        data: relatedAppDetails,
                        columns: self.columnObj.columns,
                        columnDefs: self.columnObj.columnDefs,
                        order: self.columnObj.order,
                        language: {
                            lengthMenu: "show_MENU_",
                            zeroRecords: "No Data found.",
                            info: "Showing _START_ to _END_ of _TOTAL_ records",
                            infoEmpty: "No Related Application available",
                            infoFiltered: "(filtered from _MAX_ total Related Application)"
                        }
                    });
                    setTimeout(function () {
                        $('#relatedAppTable tbody').off('click', 'a').on('click', 'a', function () {
                            var data = self.tableObj.row($(this).parents('tr')).data();
                            if (this.getAttribute("on-click") !== null && this.getAttribute("on-click") !== undefined) {
                                self[this.getAttribute("on-click")](data);
                            }
                        });
                    }, 700);
                },
                formatCurrency: function (data) {
                    return formats.money(data, window.config.country, 0);
                },
                openAppView: function (item) {
                    var self = this;
                    var url = "/app-details/entity:application/filter:Application";
                    url = url + "/app:" + item.applicationNumber + "/product:" + item.productId + "/workflow:" + item.statusWorkFlowId;
                    window.location.hash = url;
                    window.location.reload();
                }
            });
        });
    </script>
</dom-module>