<html-import html-href="loaders/sk-wave.html"></html-import>
<dom-module id="status-history">
    <template>
        <style>
            .table>tbody>tr>th,
            .table>tbody>tr>td {
                vertical-align: middle;
                padding: 2px;
            }

            .my-image {
                --image-circle-width: 25px;
                --image-circle-height: 25px;
                --image-circle-margin-x: 2px;
                --image-circle-margin-y: 6px;
            }

            .image-list-label {
                margin: 7px auto;
                font-weight: normal;
            }
        </style>
        <div class="panel-body">
            <spinkit-wave hidden$="{{loading}}"></spinkit-wave>
            <div class="TopPadding"></div>
            <table hidden$="{{!loading}}" id="tblStatusHistory" class="table table-striped" style="width: 100% !important;">
                <thead>
                    <tr>
                        <th title="{{getTooltip('ChangedBy','StatusGrid')}}">Changed By</th>
                        <th title="{{getTooltip('ChangeToStatus','StatusGrid')}}">Change To Status</th>
                        <th title="{{getTooltip('ChangedOn','StatusGrid')}}">Changed On</th>
                        <th style="display: none;"></th>
                    </tr>
                </thead>
                <tbody>
                    <template is="dom-repeat" items="{{statusHistory}}" index-as="indx">
                        <tr>
                            <td>
                                <image-circle class="my-image" img-obj="{{item}}" username-prop="activatedBy" full-username-prop="activatedBy"></image-circle>
                                <label class="image-list-label">{{_changeTextDisplay(item.activatedBy)}}</label>
                            </td>
                            <td>{{item.statusName}}</td>
                            <td>{{formatDate(item.activeOn)}}</td>
                            <td style="display: none;">{{item.activeOn}}</td>
                        </tr>
                    </template>
                </tbody>
            </table>
            <template is="dom-if" if="[[_checkIfStatusHistory(historyStatus)]]">
                <h4 style="margin: 15px auto;">Historical Status Data</h4>
                <table id="tblOldHistory" class="table table-striped" style="width: 100% !important;">
                    <thead>
                        <tr>
                            <th title="{{getTooltip('ChangedBy','StatusGrid')}}">Changed By</th>
                            <th title="{{getTooltip('ChangeToStatus','StatusGrid')}}">Change To Status</th>
                            <th>Product</th>
                            <th>Status WorkFlow</th>
                            <th title="{{getTooltip('ChangedOn','StatusGrid')}}">Changed On</th>
                            <th style="display: none;"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <template is="dom-repeat" items="{{historyStatus}}" index-as="indx">
                            <tr>
                                <td>
                                    <image-circle class="my-image" img-obj="{{item}}" username-prop="activatedBy" full-username-prop="activatedBy"></image-circle>
                                    <label class="image-list-label">{{_changeTextDisplay(item.activatedBy)}}</label>
                                </td>
                                <td>{{item.statusName}}</td>
                                <td>{{item.productId}}</td>
                                <td>{{item.statusWorkFlowId}}</td>
                                <td>{{formatDate(item.activeOn)}}</td>
                                <td style="display: none;">{{item.activeOn}}</td>
                            </tr>
                        </template>
                    </tbody>
                </table>
            </template>
        </div>
        <url-parser id="url"></url-parser>
        <http-request id="http"></http-request>
        <auth-service id="authorize"></auth-service>
        <session-manager id="session"></session-manager>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "status-history",
                properties: {
                    loading: {
                        type: Boolean,
                        notify: true,
                        value: false,
                        reflectToAttribute: true
                    },
                    statusHistory: {
                        type: Array,
                        notify: true,
                        value: [],
                        reflectToAttribute: true
                    },
                    allStatus: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    currentEntityName: {
                        type: String,
                        notify: true
                    },
                    productId: {
                        type: String,
                        notify: true
                    }
                },
                init: function () {
                    this._loadStatusHistory();
                },
                ready: function () {
                    var self = this;
                    var params = self.$.url.getParams();
                    self.set('workflowId', params.workflow);
                    self.set('productId', params.product);
                    if (params.hasOwnProperty('entity')) {
                        self.set('currentEntityName', params.entity);
                    }
                    self._loadStatusList();
                },
                _loadStatusList: function () {
                    var self = this;
                    var statusWorkFlows = self.$.session.getObject("status-workflows");
                    if (!_.isUndefined(statusWorkFlows) && !_.isNull(statusWorkFlows) && !_.isEmpty(statusWorkFlows)) {
                        self.set('allStatus', statusWorkFlows);
                    }
                },
                formatDate: function (date) {
                    if (date !== undefined) {
                        return moment.tz(date, window.config.timezone).format(COUNTRY[window.config.country].DATE_FORMAT.DATE_TIMEZONE);
                    }
                    return "";
                },
                _getImage: function (imageData) {
                    if (!_.isUndefined(imageData) && !_.isNull(imageData) && !_.isEmpty(imageData)) {
                        return imageData;
                    } else {
                        return this.defaultImage;
                    }
                },
                _loadStatusHistory: function () {
                    var self = this;
                    var params = self.$.url.getParams();
                    var appId = "";
                    if (self.currentEntityName === "application") {
                        appId = params.app;
                    }
                    else if (self.currentEntityName === "drawdown") {
                        appId = params.drawdownId;
                    }
                    var url = "/" + self.currentEntityName + "/" + appId + "/history";
                    self.$.http.get(url, window.config.services.statusManagement).then(function (historyList) {
                        var historydata = _.filter(historyList, { productId: self.productId, statusWorkFlowId: self.workflowId });
                        var ProcessArray = _.reject(historydata, ["status", null]);
                        var data = self._setUserProfile(ProcessArray);
                        setTimeout(function () {
                            self.set('loading', true);
                            self.set("statusHistory", data);
                            self._processHistoricalStatusData(historyList);
                        }, 3500);
                    }).fail(function (e) {
                        self.set('loading', true);
                        console.error("not able to load status history.", e);
                    });
                },
                _processHistoricalStatusData: function (data) {
                    var self = this;
                    var data = _.reject(data, { productId: self.productId, statusWorkFlowId: self.workflowId });
                    var ProcessArray = _.reject(data, ["status", null]);
                    var result = self._setUserProfile(_.orderBy(ProcessArray, ['productId', 'statusWorkFlowId'], ['asc', 'desc']));
                    setTimeout(function () {
                        self.set("historyStatus", result);
                    }, 1500);
                },
                _checkIfStatusHistory: function (historyStatus) {
                    if (!_.isNull(historyStatus) && !_.isUndefined(historyStatus) && !_.isEmpty(historyStatus)) {
                        return true;
                    }
                    return false;
                },
                _setUserProfile: function (historyList) {
                    var self = this;
                    var allStatusList = self.allStatus;
                    var assetService = window.config.services.assetService;
                    historyList.forEach(function (history) {
                        var workFlowObj = _.find(allStatusList, { Name: history.statusWorkFlowId });
                        var statusObj = _.find(workFlowObj.statuses, { code: history.status });
                        var url = "/user/" + history.activatedBy + "/profile.png";
                        if (!_.isNull(statusObj) && !_.isUndefined(statusObj) && !_.isEmpty(statusObj)) {
                            self.$.http.get(url, assetService).then(function (result) {
                                if (result.hasOwnProperty('url') && !_.isUndefined(result.url) && !_.isNull(result.url)) {
                                    _.extend(history, {
                                        url: result.url,
                                        fullName: history.activatedBy,
                                        statusName: statusObj.name,
                                        activeOn: history.activedOn.time
                                    });
                                }
                                else {
                                    _.extend(history, {
                                        url: null,
                                        fullName: history.activatedBy,
                                        statusName: statusObj.name,
                                        activeOn: history.activedOn.time
                                    });
                                }
                            }).fail(function (e) {
                                _.extend(history, {
                                    url: null,
                                    fullName: history.activatedBy,
                                    statusName: statusObj.name,
                                    activeOn: history.activedOn.time
                                });
                                return '';
                            });
                        }
                    });
                    return historyList;
                },
                _changeTextDisplay: function (value) {
                    if (!_.isNull(value) && !_.isUndefined(value) && !_.isEmpty(value))
                        return _.startCase(_.lowerCase(value));
                    return "";
                },
                getTooltip: function (compName, Type) {
                    var tooltip = this.$.authorize.getToolTip(compName, Type);
                    if (!_.isNull(tooltip) && !_.isUndefined(tooltip) && !_.isEmpty(tooltip))
                        return tooltip.data;
                    return "";
                }
            });
        });
    </script>
</dom-module>