<dom-module id="calendar-icon">
    <template>
        <style>
            div.icon {
                backface-visibility: hidden;
                background-color: #fff;
                border-radius: 0.6em;
                box-shadow: 0 1px 0 #bdbdbd, 0 2px 0 #fff, 0 3px 0 #bdbdbd, 0 4px 0 #fff, 0 5px 0 #bdbdbd, 0 0 0 1px #bdbdbd;
                display: block;
                font-size: 1.2em;
                height: 2.9em;
                margin: 0px !important;
                overflow: hidden;
                position: relative;
                transform: rotate(0deg) skewY(0deg);
                transform-origin: 50% 10% 0;
                width: 2.5em;
            }

            div.icon em {
                bottom: 0.3em;
                color: #337ab7;
                position: absolute;
            }

            div.icon * {
                display: block;
                font-size: 0.5em;
                font-style: normal;
                font-weight: bold;
                text-align: center;
                width: 100%;
            }

            div.icon strong {
                position: absolute;
                top: 0;
                padding: 0.4em 0;
                color: #fff;
                background-color: #337ab7;
                border-bottom: 1px dashed #337ab7;
                box-shadow: 0 2px 0 #337ab7;
            }

            div.icon span {
                color: #2f2f2f;
                font-size: 0.7em;
                letter-spacing: -0.05em;
                padding-top: 1.8em;
                width: 100%;
            }

            div.icon:hover,
            div.icon:focus {
                -webkit-animation: swing 0.6s ease-out;
                animation: swing 0.6s ease-out;
            }

            @-webkit-keyframes swing {
                0% {
                    -webkit-transform: rotate(0deg) skewY(0deg);
                }
                20% {
                    -webkit-transform: rotate(12deg) skewY(4deg);
                }
                60% {
                    -webkit-transform: rotate(-9deg) skewY(-3deg);
                }
                80% {
                    -webkit-transform: rotate(6deg) skewY(-2deg);
                }
                100% {
                    -webkit-transform: rotate(0deg) skewY(0deg);
                }
            }

            @keyframes swing {
                0% {
                    transform: rotate(0deg) skewY(0deg);
                }
                20% {
                    transform: rotate(12deg) skewY(4deg);
                }
                60% {
                    transform: rotate(-9deg) skewY(-3deg);
                }
                80% {
                    transform: rotate(6deg) skewY(-2deg);
                }
                100% {
                    transform: rotate(0deg) skewY(0deg);
                }
            }
        </style>
        <div class="icon">
            <em>{{yearValue}}</em>
            <strong>{{monthValue}}</strong>
            <span>{{dayValue}}</span>
        </div>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "calendar-icon",
                properties: {
                    pureDate: {
                        type: String,
                        notify: true,
                        reflectToAttribute: true,
                        observer: "setValue"
                    },
                    yearValue: {
                        type: String,
                        notify: true,
                        value: "",
                        reflectToAttribute: true
                    },
                    monthValue: {
                        type: String,
                        notify: true,
                        value: "",
                        reflectToAttribute: true
                    },
                    dayValue: {
                        type: String,
                        notify: true,
                        value: "",
                        reflectToAttribute: true
                    },
                    objDate: {
                        type: Object,
                        notify: true,
                        reflectToAttribute: true
                    }
                },
                setValue: function (objString) {
                    var self = this;
                    if (typeof objString === 'string' || objString instanceof String) {
                        self.set('objDate', _.cloneDeep(JSON.parse(objString)));
                    }
                    else {
                        self.set('objDate', _.cloneDeep(objString));
                    }

                    if (self.objDate.year === undefined && self.objDate.month === undefined && self.objDate.day === undefined) {
                        var dateStr = moment(self.objDate.value, 'MM/DD/YYYY');
                        self.objDate.day = dateStr.format('DD');
                        self.objDate.month = dateStr.format('MMM');
                        self.objDate.year = dateStr.format('YYYY');
                    }
                    this.set('yearValue', this.objDate["year"]);
                    this.set("monthValue", this.objDate.month);
                    this.set("dayValue", this.objDate.day);
                }
            });
        });
    </script>
</dom-module>