<dom-module id="fab-menu">
    <template>
        <style>
            .modal-dialog {
                margin: 10% auto;
                width: 400px !important;
            }

            paper-fab {
                --paper-fab-background: #03466B;
                --paper-fab-keyboard-focus-background: #03466B;
            }

            .form-control {
                padding: 0px !important;
            }

            .activityToast {
                max-width: 536px !important;
                position: static !important;
            }

            .sendEmailToast {
                max-width: 536px !important;
                position: static !important;
            }

            .sendSMSToast {
                max-width: 536px !important;
                position: static !important;
            }

            .floating-action-button {
                position: fixed;
                bottom: 30px;
                right: 50px;
                z-index: 10;
            }

            ul.dropdown-menu {
                box-shadow: none;
                border: 0;
                min-width: 0;
                background: transparent
            }

            ul.dropdown-menu li {
                margin: 10px;
            }

            .fab-header {
                background: #03466B;
                color: #FFF;
                display: block;
                height: 40px;
                border-top-left-radius: 7px;
                border-top-right-radius: 7px;
            }

            .fab-header h3 {
                margin: 0;
                padding: 10px;
            }

            .fab-header h3 i {
                float: right;
                cursor: pointer;
            }

            .fab-container {
                padding: 10px;
            }

            .fab-footer {
                text-align: center;
                margin: 0 auto;
            }

            .sendemail,
            .addactivity,
            .sendsms {
                border: 1px solid #999999;
                position: fixed;
                width: 450px;
                z-index: 20;
                text-align: left;
                max-height: 400px;
                font-size: 15px;
                background: #FFF;
                border-top-left-radius: 7px;
                border-top-right-radius: 7px;
                right: 30px;
                bottom: -420px;
            }

            .slide-up {
                bottom: 0px !important;
            }

            .slide-down {
                bottom: -420px !important;
            }

            .slide-down-activity {
                bottom: -420px !important;
            }

            .alert {
                padding: 0;
                margin: 0 auto;
                background-color: #FFF;
                border-color: #FFF;
            }

            .pink-button,
            .btn-primary:hover,
            .btn-primary:active,
            .btn-primary:active:hover {
                background: #03466B !important;
                border-color: #03466B !important;
                outline: none;
            }

            .textareascroll {
                overflow-y: auto;
                height: 150px;
            }
        </style>
        <template is="dom-if" if="{{_isMenuVisible()}}">
            <div class="btn-group btn-group-xs dropup floating-action-button">
                <paper-fab icon="add" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></paper-fab>
                <ul class="dropdown-menu dropdown-menu-left">
                    <template is="dom-if" if="{{hasRole('EmailMenu')}}">
                        <li>
                            <paper-fab icon="mail" title="Email" mini on-tap="_toggleEmail"></paper-fab>
                        </li>
                    </template>
                    <template is="dom-if" if="{{hasRole('ActivityMenu')}}">
                        <li>
                            <paper-fab icon="add-box" title="{{activityToolTipLbl}}" mini on-tap="_toggleActivity"></paper-fab>
                        </li>
                    </template>
                    <template is="dom-if" if="{{hasRole('CallMenu')}}">
                        <li>
                            <paper-fab icon="perm-phone-msg" title="Call" mini on-tap="_toggleCallNotes"></paper-fab>
                        </li>
                    </template>
                    <template is="dom-if" if="{{hasRole('SmsMenu')}}">
                        <li>
                            <paper-fab icon="perm-phone-msg" mini on-tap="_toggleSMS"></paper-fab>
                        </li>
                    </template>
                </ul>
            </div>
        </template>
        <div class="sendemail">
            <div class="fab-header">
                <h3>Send Email
                    <i class="fa fa-chevron-down" on-click="_toggleEmail" aria-hidden="true"></i>
                </h3>
            </div>
            <div class="fab-container">
                <div id="error-message" class="alert alert-danger" hidden$="{{!invalid}}">
                    All fields are required.
                </div>
                <paper-input id="to" label="To" value="{{email}}"></paper-input>
                <paper-input id="subject" label="Subject" auto-validate></paper-input>
                <paper-textarea id="emailBody" class="textareascroll" label="Body" rows="5"></paper-textarea>
                <div class="padding"></div>
                <div id="toastContainer">
                    <paper-toast id="toast" class="fit-bottom sendEmailToast" duration="2000" text="Email has been sent successfully!"></paper-toast>
                </div>
            </div>
            <div class="fab-footer">
                <button type="button" class="btn btn-primary activity-action-btn pink-button" on-click="sendEmail">Send</button>
                <button type="button" class="btn btn-primary activity-action-btn pink-button" on-click="cleanup">Cancel</button>
            </div>
        </div>
        <div class="addactivity">
            <div class="fab-header">
                <h3>{{activityHeaderLbl}}
                    <i class="fa fa-chevron-down" on-click="_toggleActivity" aria-hidden="true"></i>
                </h3>
            </div>
            <div class="fab-container">
                <div id="error-message" class="alert alert-danger" hidden$="{{!activityInvalid}}">
                    All fields are required.
                </div>
                <div class="form-group">
                    <vaadin-combo-box name="logActivity" value="{{SelectedActivity}}" item-value-path="key" item-label-path="value" items="{{LogActivity}}"
                        label="{{activityDDLDefaultMsgLbl}}" allow-custom-value>
                    </vaadin-combo-box>
                </div>
                <h4>
                    <b>Notes</b>
                </h4>
                <div class="form-group">
                    <textarea id="notes" rows="6" form="ach-form" class="form-control textareascroll" value="{{Notes}}" on-input="setNotes"></textarea>
                </div>
                <div class="padding"></div>
                <div id="toastContainerActivity">
                    <paper-toast id="toastAc" class="fit-bottom activityToast" duration="2000" text="{{activitySuccessMsgLbl}}"></paper-toast>
                </div>
            </div>
            <div class="fab-footer">
                <button type="button" class="btn btn-primary activity-action-btn  pink-button" on-click="submitForm">Send</button>
                <button type="button" class="btn btn-primary activity-action-btn  pink-button" on-click="_resetForm">Cancel</button>
            </div>
        </div>
        <div class="sendsms">
            <div class="fab-header">
                <h3>Send SMS
                    <i class="fa fa-chevron-down" on-click="_toggleSMS" aria-hidden="true"></i>
                </h3>
            </div>
            <div class="fab-container">
                <div id="error-message" class="alert alert-danger" hidden$="{{!invalid}}">
                    All fields are required.
                </div>
                <paper-textarea id="smsText" label="Text" class="setHeight" rows="5"></paper-textarea>
                <div class="padding"></div>
                <div id="toastContainerSMS">
                    <paper-toast id="toastSMS" class="fit-bottom sendSMSToast" duration="2000" text="SMS has been sent successfully!"></paper-toast>
                </div>
                <div id="toastContainerSMSFail">
                    <paper-toast id="toastSMSFail" class="fit-bottom sendSMSToast" duration="2000" text="Failed to complete the operation."></paper-toast>
                </div>
            </div>
            <div class="fab-footer">
                <button type="button" class="btn btn-primary activity-action-btn pink-button" on-click="sendSMS">Send</button>
                <button type="button" class="btn btn-primary activity-action-btn pink-button" on-click="cleanupSMS">Cancel</button>
            </div>
        </div>
        <url-parser id="urlfab"></url-parser>
        <http-request id="httpfab"></http-request>
        <alloy-config id="configfab"></alloy-config>
        <auth-service id="authorizefab"></auth-service>
        <session-manager id="sessionfab"></session-manager>
        <utility-service id="utilityfab"></utility-service>
    </template>
    <script>
        Polymer({
            is: "fab-menu",
            properties: {
                loanData: {
                    type: Object,
                    notify: true
                },
                validTo: {
                    type: Boolean,
                    notify: true,
                    value: true
                },
                validSubject: {
                    type: Boolean,
                    notify: true,
                    value: true
                },
                validBody: {
                    type: Boolean,
                    notify: true,
                    value: true
                },
                applicationNumber: {
                    type: String,
                    notify: true
                },
                invalid: {
                    type: Boolean,
                    notify: true,
                    value: false
                },
                activityInvalid: {
                    type: Boolean,
                    notify: true,
                    value: false
                },
                Notes: {
                    type: String,
                    notify: true
                },
                applicationNumber: {
                    type: String,
                    notify: true,
                },
                statusObj: {
                    type: Object,
                    notify: true,
                    observer: 'getActivities'
                },
                SelectedActivity: {
                    type: String,
                    notify: true,
                    value: "",
                },
                LogActivity: {
                    type: Array,
                    notify: true,
                    value: []
                },
                showPopup: {
                    type: Boolean,
                    notify: true,
                    value: false
                },
                email: {
                    type: String,
                    notify: true,
                    reflectToAttribute: true
                },
                activityToolTipLbl: {
                    type: String,
                    notify: true,
                    value: "Activity"
                },
                activityHeaderLbl: {
                    type: String,
                    notify: true,
                    value: "Activity"
                },
                activitySuccessMsgLbl: {
                    type: String,
                    notify: true,
                    value: "Activity submitted successfully!"
                },
                activityDDLDefaultMsgLbl: {
                    type: String,
                    notify: true,
                    value: "Select Activity"
                }
            },
            getActivities: function () {
                var self = this;
                if (self.statusObj) {
                    var statusObj = self.statusObj;
                    var params = self.$.urlfab.getParams();
                    var activitiesConfig = self.$.configfab.getConfigurationBasedOnKey("logActivities");
                    var activity = self.$.configfab.getConfigurationBasedOnKey("activities");
                    var activityToolTipLbl = self.$.configfab.getConfigurationBasedOnKey("activityToolTipLbl");
                    activityToolTipLbl = (activityToolTipLbl !== undefined) ? activityToolTipLbl : self.activityToolTipLbl;
                    self.set("activityToolTipLbl", activityToolTipLbl);

                    var activityHeaderLbl = self.$.configfab.getConfigurationBasedOnKey("activityHeaderLbl");
                    activityHeaderLbl = (activityHeaderLbl !== undefined) ? activityHeaderLbl : self.activityHeaderLbl;
                    self.set("activityHeaderLbl", activityHeaderLbl);

                    var activitySuccessMsgLbl = self.$.configfab.getConfigurationBasedOnKey("activitySuccessMsgLbl");
                    activitySuccessMsgLbl = (activitySuccessMsgLbl !== undefined) ? activitySuccessMsgLbl : self.activitySuccessMsgLbl;
                    self.set("activitySuccessMsgLbl", activitySuccessMsgLbl);

                    var activityDDLDefaultMsgLbl = self.$.configfab.getConfigurationBasedOnKey("activityDDLDefaultMsgLbl");
                    activityDDLDefaultMsgLbl = (activityDDLDefaultMsgLbl !== undefined) ? activityDDLDefaultMsgLbl : self.activityDDLDefaultMsgLbl;
                    self.set("activityDDLDefaultMsgLbl", activityDDLDefaultMsgLbl);
                    if (activity !== undefined) {
                        if (!_.isUndefined(activity) && !_.isNull(activity) && !_.isEmpty(activity)) {
                            var activityList = _.transform(activity, function (result, value, key) {
                                result.push({ key: key, value: value });
                            }, []);
                            self.set('LogActivity', activityList);
                        }
                    }
                    else {
                        activitiesConfig = activitiesConfig[params.workflow];
                        if (activitiesConfig) {
                            var actions = activitiesConfig[params.filter];
                            if (actions != undefined) {
                                var activities = actions.activities;
                                if (!_.isUndefined(activities) && !_.isNull(activities) && !_.isEmpty(activities)) {
                                    var activityList = _.transform(activities, function (result, value, key) {
                                        result.push({ key: key, value: value });
                                    }, []);
                                    self.set('LogActivity', activityList);
                                }
                            }
                        }
                    }
                }
            },
            cleanup: function () {
                this.$.subject.value = "";
                this.$.to.value = "";
                this.$.emailBody.value = "";
                this.invalid = false;
                $("#toastContainer").hide();
                this._toggleEmail();
            },
            cleanupSMS: function () {
                this.$.smsText.value = "";
                this.invalid = false;
                $("#toastContainerSMS").hide();
                this._toggleSMS();
            },
            _toggleEmail: function () {
                if ($('.sendemail').hasClass('slide-up')) {
                    $('.sendemail').addClass('slide-down', 1000, 'easeOutBounce').removeClass('slide-up');
                } else {
                    $('.sendemail').addClass('slide-up', 1000, 'easeOutBounce').removeClass('slide-down');
                }
            },
            _toggleCallNotes: function () {
                var self = this;
                self.set('showPopup', true);
            },
            _resetForm: function () {
                this.Notes = "";
                this.SelectedActivity = "";
                this.activityInvalid = false;
                $("#toastContainerActivity").hide();
                this._toggleActivity();
            },
            _toggleActivity: function () {
                if ($('.addactivity').hasClass('slide-up')) {
                    $('.addactivity').addClass('slide-down-activity', 1000, 'easeOutBounce');
                    $('.addactivity').removeClass('slide-up');
                } else {
                    $('.addactivity').removeClass('slide-down-activity');
                    $('.addactivity').addClass('slide-up', 1000, 'easeOutBounce');
                }
            },
            _toggleSMS: function () {
                if ($('.sendsms').hasClass('slide-up')) {
                    $('.sendsms').addClass('slide-down', 1000, 'easeOutBounce').removeClass('slide-up');
                } else {
                    $('.sendsms').addClass('slide-up', 1000, 'easeOutBounce').removeClass('slide-down');
                }
            },
            setNotes: function (event) {
                var self = this;
                self.Notes = event.target.value;
            },
            validate: function () {
                var self = this;
                if (!self.$.to.value || self.$.to.value.length <= 0) {
                    self.validTo = false;
                } else {
                    self.validTo = true;
                }
                if (!self.$.subject.value || self.$.subject.value.length <= 0) {
                    self.validSubject = false;
                } else {
                    self.validSubject = true;
                }
                if (!self.$.emailBody.value || self.$.emailBody.value.length <= 0) {
                    self.validBody = false;
                } else {
                    self.validBody = true;
                }
                if (self.validTo && self.validSubject && self.validBody) {
                    self.set("invalid", false);
                    return true;
                } else {
                    self.set("invalid", true);
                    return false;
                }
            },
            validateActivityForm: function () {
                var self = this;
                if (_.isUndefined(self.SelectedActivity) || _.isNull(self.SelectedActivity) || _.isEmpty(self.SelectedActivity)) {
                    self.set("activityInvalid", true);
                    return false;
                }
                if (_.isUndefined(self.Notes) || _.isNull(self.Notes) || _.isEmpty(self.Notes)) {
                    self.set("activityInvalid", true);
                    return false;
                }
                self.set("activityInvalid", false);
                return true;
            },
            sendEmail: function () {
                var self = this;
                var emailService = window.config.services.emailService;
                if (!self.validate()) {
                    return;
                }
                var params = self.$.urlfab.getParams();
                var applicationNumber = params.app;
                var payload = {
                    ToName: self.$.to.value,
                    ToEmailAddress: [{
                        Email: self.$.to.value,
                        Name: self.$.to.value,
                    }],
                    Subject: self.$.subject.value,
                    Body: self.$.emailBody.value,
                };
                var url = '/' + params.entity + '/' + self.applicationNumber + "/mail";
                self.$.httpfab.post(url, payload, emailService, true).then(function (data) {
                    self.$.toast.fitInto = self.$.toastContainer;
                    $("#toastContainer").show();
                    self.$.toast.open();
                    setTimeout(function () {
                        self.cleanup();
                        self.raiseActivityRefreshEvent();
                    }, 500);
                }).fail(function (e) {
                    self.cleanup();
                    console.error("email error is ", e);
                });
            },
            sendSMS: function () {
                var self = this;
                var smsService = window.config.services.smsService;
                if (!self.validateSMS()) {
                    return;
                }
                var receip = "+91" + self.mobileNo;
                var params = self.$.url.getParams();
                var applicationNumber = params.app;
                var payload = {
                    RecipientPhone: receip,
                    Message: self.$.smsText.value
                };
                var url = '/application/' + applicationNumber;
                self.$.http.post(url, payload, smsService).then(function (data) {
                    self.$.toastSMS.fitInto = self.$.toastContainerSMS;
                    $("#toastContainerSMS").show();
                    self.$.toastSMS.open();
                    setTimeout(function () {
                        self.cleanupSMS();
                        self.raiseActivityRefreshEvent();
                    }, 2000);
                }).fail(function (e) {
                    self.$.toastSMSFail.fitInto = self.$.toastContainerSMSFail;
                    $("#toastContainerSMSFail").show();
                    self.$.toastSMSFail.open();
                    setTimeout(function () {
                        self.cleanupSMS();
                    }, 2000);
                });
            },
            submitForm: function () {
                var self = this;
                if (self.validateActivityForm()) {
                    var params = self.$.urlfab.getParams();
                    var payload = {
                        Description: self.Notes,
                        Title: self.SelectedActivity
                    };
                    var activityEndPoint = "/ApplicationActivityLogged";
                    if (params.entity === "loan") {
                        payload.LoanNumber = self.applicationNumber;
                        activityEndPoint = "/LoanActivityLogged";
                    }
                    else if (params.entity === "drawdown") {
                        payload.ApplicationNumber = self.applicationNumber;
                        activityEndPoint = "/DrawdownActivityLogged";
                    }
                    else if (params.entity === "application") {
                        payload.ApplicationNumber = self.applicationNumber;
                        activityEndPoint = "/ApplicationActivityLogged";
                    }
                    var eventHub = window.config.services.eventHub;
                    self.$.httpfab.post(activityEndPoint, payload, eventHub, true).then(function (data) {
                        self.$.toastAc.fitInto = self.$.toastContainerActivity;
                        $("#toastContainerActivity").show();
                        self.$.toastAc.open();
                        setTimeout(function () {
                            self._resetForm();
                            self.raiseActivityRefreshEvent();
                        }, 1000);
                    }).fail(function (error) {
                        console.error("email error is ", e);
                    });
                }
            },
            getEvents: function (action) {
                this.actionEvents = this.$.sessionfab.getObject("actionEvents");
                var event = this.actionEvents[action];
                return event;
            },
            _isMenuVisible: function () {
                if (this.hasRole("EmailMenu") || this.hasRole("ActivityMenu") || this.hasRole('CallMenu' || this.hasRole('SmsMenu'))) {
                    return true;
                }
                return false;
            },
            hasRole: function (compName) {
                return this.$.authorizefab.hasRole(compName);
            },
            raiseActivityRefreshEvent: function (event) {
                var self = this;
                this.$.utilityfab.raiseEvent(this.getEvents('AddActivity'), {
                    ActionName: 'ActionButton',
                    EventData: event,
                    CompnentName: 'loan-detail'
                });
            },
        });
    </script>
</dom-module>