<dom-module id="grid-component">
    <template>
        <style>
            .simple {
                height: auto;
                width: auto;
            }
        </style>
        <vaadin-grid id="{{gridId}}" columns="{{columnDefinations}}" items="{{gridData}}" class="simple"></vaadin-grid>
    </template>
    <script>
        Polymer({
            is: "grid-component",
            properties: {
                gridId: {
                    type: String,
                    notify: true
                },
                gridWidth: {
                    type: String,
                    notify: true,
                },
                gridHeight: {
                    type: String,
                    notify: true
                },
                columnHeaders: {
                    type: Array,
                    notify: true,
                    observer: '_headerschanged'
                },
                columnDefinations: {
                    type: Array,
                    notify: true
                },
                gridData: {
                    type: Array,
                    notify: true
                },
                selectedRowdata: {
                    type: Object,
                    notify: true
                }
            },
            _headerschanged: function () {
                var self = this;
                var gridIdFormated = '#' + self.gridId
                var grid = document.querySelector(gridIdFormated);
                if (grid && grid != null && self.columnHeaders && self.columnHeaders != null) {
                    grid.header = self.columnHeaders;
                    grid.header.addRow(0, self.columnHeaders);
                    grid.header.removeRow(1);
                }
            },
            attached: function () {
                var self = this;
                var gridIdFormated = '#' + self.gridId
                var grid = document.querySelector(gridIdFormated);
                if (grid && grid != null && self.columnHeaders && self.columnHeaders != null) {
                    grid.header = self.columnHeaders;
                    grid.header.addRow(0, self.columnHeaders);
                    grid.header.removeRow(1);
                }
            },
            init: function () {
                var self = this;
                var gridIdFormated = '#' + self.gridId
                var grid = document.querySelector(gridIdFormated);
                if (grid && grid != null) {
                    grid.addEventListener('selected-items-changed', function () {
                        if (grid.selection.mode == 'multi' && grid.selection.selected()
                            && grid.selection.selected() != null && grid.selection.selected().length > 0) {
                            var selecteddata = [];
                            grid.selection.selected().foreach(function (index) {
                                selecteddata.push(self.gridData[index]);
                            });
                            self.selectedRowdata = selecteddata;
                        }
                        else {
                            if (grid.selection.selected()
                                && grid.selection.selected() != null) {
                                var rowIndex = grid.selection.selected()[0];
                                if (self.gridData && self.gridData != null)
                                    self.selectedRowdata = self.gridData[rowIndex];
                            }
                        }
                    });
                }
                else {
                    setTimeout(function () {
                        self.init();
                    }, 2000);
                }
            },
            ready: function () {
                var self = this;
                if (window.jQuery) {
                    self.init();
                } else {
                    window.addEventListener("WebComponentsReady", self.init());
                }
            }
        });
    </script>
</dom-module>