<dom-module id="image-circle">
    <template>
        <style>
            .name {
                text-align: center;
                color: var(--image-circle-text-color, #FFFFFF);
                font-size: var(--image-circle-text-font-size, 12px);
                line-height: var(--image-circle-height, 32px);
                width: var(--image-circle-width, 32px);
                height: var(--image-circle-height, 32px);
                border-radius: 50%;
                margin: var(--image-circle-margin-x, 6px) var(--image-circle-margin-y, 3px);
                background-size: cover;
                cursor: var(--image-circle-cursor, pointer);
                float: left;
                padding: 0;
                min-height: initial;
                background-repeat: no-repeat;
            }
        </style>

        <template is="dom-if" if="{{_isDataAvailable()}}">
            <a href="javascript:" title="{{_getUsername(imgObj)}}" class="name" style$="{{_getImageOrColor(imgObj)}}">{{_generateInitialName(imgObj)}}</a>
        </template>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "image-circle",
                properties: {
                    imgObj: {
                        type: Object,
                        nofity: true,
                        observer: '_isDataAvailable'
                    },
                    usernameProp: {
                        type: String,
                        notify: true
                    },
                    fullUsernameProp: {
                        type: String,
                        notify: true
                    },
                    defaultImage: {
                        type: String,
                        nofity: true,
                        value: "/images/lendfoundry-blocks-1000.png"
                    }
                },
                _isDataAvailable: function () {
                    return _.isUndefined(this.imgObj);
                },
                _getUsername: function (imgObj) {
                    return this.imgObj[this.usernameProp] || "";
                },
                _getFullName: function () {
                    return this.imgObj[this.fullUsernameProp] || "";
                },
                _getImageOrColor: function (imgObj) {
                    var self = this;
                    var imageUrl = self._getImage(self.imgObj);
                    var color = self._generateRandomColor(self.imgObj);

                    if (!_.isNull(imageUrl)) {
                        return "background-image: url(" + imageUrl + ");font-size: 0;";
                    } else {
                        return "background-color: " + color;
                    }
                },
                _getImage: function (imgObj) {
                    var self = this;
                    if (self._checkIfNotNullAndEmpty(self.imgObj.url)) {
                        return self.imgObj.url;
                    }
                    else if (self._getUsername(self.imgObj) === 'system' || self.imgObj[self.usernameProp] === null) {
                        return self.defaultImage;
                    } else {
                        return null;
                    }
                },
                _generateInitialName: function (imgObj) {
                    var self = this;
                    var fullName = self._getFullName(self.imgObj);
                    if (self._checkIfNotNullAndEmpty(fullName)) {
                        var initials = fullName.match(/\b\w/g) || [];
                        return ((initials.shift() || '') + (initials.pop() || '')).toUpperCase();
                    } else if (_.isEmpty(fullName)) {
                        return "";
                    }
                    return "S";
                },
                _checkIfNotNullAndEmpty: function (str) {
                    return !_.isUndefined(str) && !_.isNull(str) && !_.isEmpty(str);
                },
                _generateRandomColor: function (imgObj) {
                    var self = this;
                    var userFullName = self._getFullName(self.imgObj);
                    var username = self._getUsername(self.imgObj);
                    var fullName = _.isEmpty(userFullName) ? username : userFullName;
                    var hash = 0;
                    for (var i = 0; i < fullName.length; i++) {
                        hash = fullName.charCodeAt(i) + ((hash << 5) - hash);
                    }
                    var c = (hash & 0x00FFFFFF).toString(16).toUpperCase();
                    return '#' + "00000".substring(0, 6 - c.length) + c;
                }
            });
        });
    </script>
</dom-module>