<dom-module id="json-editor">
    <template>
        <style>
            .no-role-selected {
                font-size: 16px;
                font-weight: 400;
            }

            .success {
                font-size: 16px;
                margin: 15px;
                font-weight: bold;
                display: none;
            }

            .btnmargin {
                margin-bottom: 15px;
            }
        </style>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div id="saveMsg" class="success"> {{title}} Saved successfully</div>
                    <div id='editor_holder'></div>
                    <button id='save' class="btnmargin btn" on-click="saveSchema">Save Schema</button>
                </div>
            </div>
        </div>
        <url-parser id="url"></url-parser>
        <http-request id="http"></http-request>
        <auth-service id="authorize"></auth-service>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "json-editor",
                properties: {},
                ready: function () {
                    var self = this;
                    var self = this;
                    var params = self.$.url.getParams();
                    self.set("title", params.config + " Configuration");
                    self.set("configUrl", params.config);
                    setTimeout(function () {
                        self.loadConfig();
                    }, 1000);
                },
                hasRole: function (RoleName) {
                    return this.$.authorize.hasRole(RoleName);
                },
                loadEditor: function () {
                    var self = this;
                    if (window.jsoneditor) window.jsoneditor.destroy();
                    JSONEditor.defaults.options.object_layout = self.editorLayout;
                    window.jsoneditor = new JSONEditor(self.$$('#editor_holder'), {
                        schema: {
                            type: "object",
                            title: self.title
                        },
                        theme: 'bootstrap3',
                        iconlib: 'fontawesome4',
                        startval: self.jsonSchema,
                        show_errors: 'interaction',
                        disable_properties: true
                    });
                    setTimeout(function () {
                        window.jsoneditor.setValue(self.jsonSchema);
                        var errors = jsoneditor.validate();
                        if (errors.length) {
                            self.set("validationErrors", JSON.stringify(validation_errors, null, 2));
                        } else {
                            self.set("validationErrors", "Valid Schema");
                        }
                    }, 1000);
                    setTimeout(function () {
                        if (!self.hasRole("AddEditConfigBtn")) {
                            $('#save').hide();
                        }
                    }, 1000);
                },
                saveSchema: function () {
                    var self = this;
                    self.$.http.post("/configuration/" + self.configUrl, window.jsoneditor.getValue(), "").then(function (result) {
                        $('div#saveMsg').show();
                        setTimeout(function () {
                            $('div#saveMsg').hide();
                        }, 2000);
                    }).fail(function (e) {
                        console.error("Failed to save configuration ", e);
                    });
                },
                loadConfig: function () {
                    var self = this;
                    self.$.http.get("/configuration/" + self.configUrl, "", true).then(function (data) {
                        self.set('jsonSchema', data);
                        self.loadEditor();
                    }).fail(function (e) {
                        console.error("loadConfig error is ", e);
                    });
                }
            });
        });
    </script>
</dom-module>