<dom-module id="loan-activity">
    <template>
        <style>
            .ibox {
                margin-bottom: 5px;
            }

            .ibox-title {
                cursor: pointer;
                border: none;
                padding: 15px;
            }

            .ibox.loan-activity {
                margin-bottom: 0;
                padding: 10px 10px 0;
            }

            .ibox-content {
                overflow-y: auto;
            }

            .helpIcon {
                font-size: 14px;
                color: lightseagreen;
            }
        </style>
        <div class="ibox float-e-margins">
            <div class="ibox-title collapse-link" on-click="toggleActivity">
                <h5>{{activityTitle}}&nbsp;
                    <i aria-hidden="true" class="fa fa fa-info-circle helpIcon" data-args="{{activityTitle}}" on-click="Helptext"></i>
                </h5>
                <div class="ibox-tools">
                    <a>
                        <i class="fa fa-chevron-right"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content collapse" style$="{{height}}">
                <content></content>
            </div>
        </div>
        <auth-service id="authorizeloana"></auth-service>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "loan-activity",
                properties: {
                    activityTitle: {
                        type: String,
                        notify: true
                    },
                    helpObj: {
                        type: Object,
                        notify: true
                    },
                    performAction: {
                        type: String,
                        notify: true
                    }
                },
                closeActivity: function () {
                    if (this.isOpen) {
                        this.toggleActivity();
                    }
                },
                Helptext: function (e) {
                    e.stopPropagation();
                    var self = this;
                    var args = e.target.dataArgs;
                    var tooltipObj = self.$.authorizeloana.getToolTip(args, "Action");
                    $("h4.modal-title").text(tooltipObj.title);
                    $('#modalDesc').html(tooltipObj.data);
                    $('#helpTextModal')[0].showModal();
                },
                toggleActivity: function () {
                    var self = this;
                    $(".collapse-link", self).each(function () {
                        var parentBox = $(this).parent();
                        var icon = $(this).find("i");
                        var content = $(this).next();

                        $(self).siblings().find("div.ibox").slideToggle(200);
                        $(self.domHost).siblings().find("div.ibox").slideToggle(200);

                        content.slideToggle(200);
                        icon.toggleClass("fa-times fa-chevron-right");
                        parentBox.toggleClass('').toggleClass('border-bottom');

                        var componentId = (_.split(self.id, '-', 1))[0];
                        self.domHost.$$('#' + componentId).init();
                        setTimeout(function () {
                            parentBox.resize();
                            parentBox.find('[id^=map-]').resize();
                        }, 50);
                    });

                    if (self.domHost.tabs) {
                        self.domHost.tabs[self.id] = !self.isOpen;
                    }

                    self.isOpen = !self.isOpen;
                    if (self.isOpen && self.performAction != undefined) {
                        $('#' + self.performAction).click();
                    }
                }
            });
        });
    </script>
</dom-module>