<dom-module id="message-component">
    <template>
        <style>
            #Toast.error {
                color: #a94442 !important;
                background-color: #f2dede !important;
                min-height: fit-content !important;
            }

            #Toast.warning {
                color: #8a6d3b !important;
                background-color: #fcf8e3 !important;
                min-height: fit-content !important;
            }

            #Toast.info {
                color: #31708f !important;
                background-color: #d9edf7 !important;
                min-height: fit-content !important;
            }

            #Toast.success {
                color: #3c763d !important;
                background-color: #dff0d8 !important;
                min-height: fit-content !important;
            }
        </style>
        <paper-toast id="Toast" class$="{{className}}" duration="{{msgDuration}}" text="{{errorMessage}}">
            <template is="dom-if" if="{{_showCloseButton(showCloseButton)}}">
                <paper-button id="toastButton" on-click="closeMsgComponent">Close</paper-button>
            </template>
        </paper-toast>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "message-component",
                properties: {
                    showCloseButton: {
                        type: Boolean,
                        notify: true,
                        value: false
                    },
                    msgDuration: {
                        type: Boolean,
                        notify: true
                    },
                    errorMessage: {
                        type: String,
                        notify: true
                    },
                    className: {
                        type: String,
                        notify: true
                    }
                },
                _getMessageClass: function (messageType) {
                    switch (messageType) {
                        case "INFO":
                            return "fit-bottom info";
                        case "SUCCESS":
                            return "fit-bottom success";
                        case "WARNING":
                            return "fit-bottom warning";
                        case "ERROR":
                            return "fit-bottom error";
                        default:
                            return "fit-bottom";
                    }
                },
                showMessage: function (message, messageType, fitInto, displayButton) {
                    var self = this;
                    if (displayButton === undefined || displayButton === null || displayButton === "") {
                        self.set("showCloseButton", false);
                        self.set("msgDuration", "5000");
                    }
                    else {
                        self.set("showCloseButton", true);
                        self.set("msgDuration", "0");
                    }
                    this.set('className', this._getMessageClass(messageType));
                    this.set("errorMessage", message);
                    if (fitInto !== undefined && fitInto !== "") {
                        this.$.Toast.fitInto = fitInto;
                    }
                    else {
                        this.$.Toast.fitInto = window;
                    }
                    this.$.Toast.open();
                },
                closeMsgComponent: function () {
                    this.$.Toast.toggle();
                },
                _showCloseButton: function (objValue) {
                    var self = this;
                    return (objValue === true) ? true : false;
                }
            });
        });
    </script>
</dom-module>