<html-import html-href="custom-component/calendar-icon.html"></html-import>
<html-import html-href="custom-component/custom-table-component.html"></html-import>
<dom-module id="multi-level-report">
    <template>
        <style>
            .dl-horizontal dt {
                float: left;
                width: 160px;
                overflow: hidden;
                clear: left;
                text-align: right;
                text-overflow: ellipsis;
                white-space: normal !important;
            }

            .dl-horizontal dd {
                margin-left: 96px !important;
            }

            .dl-horizontal.multi-level-report dt.multi-level-report {
                text-align: left;
                margin-bottom: 10px;
            }

            .FixWidth {
                width: 70% !important;
            }

            .FixWidthDD {
                margin-left: 30% !important;
            }

            .panel-body {
                min-height: 0px;
            }

            .panel-title.multi-level-report {
                font-size: 14px;
                margin-top: 0 !important;
            }

            .panel-group .panel {
                border-radius: 0;
                box-shadow: none;
                border-color: #EEEEEE;
            }

            .panel-default>.panel-heading {
                padding: 0;
                border-radius: 0;
                color: #03466B;
                background-color: #ddd;
                border-color: #ddd;
            }

            .panel-title {
                font-size: 14px;
            }

            .panel-title>a {
                display: block;
                padding: 15px;
                text-decoration: none;
            }

            .more-less {
                float: right;
            }

            .panel-default>.panel-heading+.panel-collapse>.panel-body {
                border-top-color: #EEEEEE;
            }

            .panel.panel-default.multi-level-report {
                margin-bottom: 10px !important;
                border-radius: 0;
                box-shadow: none;
                border-color: #EEEEEE;
            }

            .div-ul {
                padding: 0;
            }

            .div-ul li {
                display: inline-flex;
                width: 47%;
                margin: 5px auto;
            }

            .div-ul li>b {
                margin-right: 2px;
            }

            .div-ul li>b:nth-of-type(2) {
                font-weight: normal;
            }

            .bluedash {
                color: blue
            }

            .green {
                color: green
            }

            .red {
                color: red
            }
        </style>
        <template is="dom-repeat" items="{{reportList}}" as="report">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="{{report.headerId}}" style="margin: 0px !important;border-radius: 0px !important;">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#report" href="#{{report.id}}" aria-expanded="true" aria-controls="{{report.id}}">
                            <i class="more-less fa fa-plus"></i> {{report.name}}
                        </a>
                    </h4>
                </div>
                <div id="{{report.id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="{{report.headerId}}">
                    <div class="panel-body">
                        <template is="dom-if" if="{{_IsDefaultFormat(report)}}">
                            <template is="dom-if" if="{{_showReport(report)}}">
                                <div class="col-lg-12" style="background-color: #fff;margin-bottom: 15px;">
                                    <ul class="div-ul">
                                        <template is="dom-repeat" items="{{report.fields}}" as="field">
                                            <li>
                                                <b>{{field.label}}:&nbsp;</b>
                                                <template is="dom-if" if="{{_hasCondFormat(field)}}">
                                                    <b class$="{{_getCondClass(field)}}">{{_checkIfRolesAndAssigneeOnField(field)}}
                                                    </b>
                                                </template>
                                                <template is="dom-if" if="{{!_hasCondFormat(field)}}">
                                                    <template is="dom-if" if="{{_hasDateFormat(field)}}">
                                                        <calendar-icon pure-date$="{{field}}" day-value="" month-value="" year-value=""></calendar-icon>
                                                    </template>
                                                    <template is="dom-if" if="{{!_hasDateFormat(field)}}">
                                                        <b>{{_checkIfRolesAndAssigneeOnField(field)}}</b>
                                                    </template>
                                                </template>
                                            </li>
                                        </template>
                                    </ul>
                                </div>
                            </template>
                            <template is="dom-if" if="{{_hasSubReports(report)}}">
                                <multi-level-report report-List="{{report.subReports}}"></multi-level-report>
                            </template>
                        </template>
                        <template is="dom-if" if="{{!_IsDefaultFormat(report)}}">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <template is="dom-repeat" items="{{_getTableHeader(report.subReports)}}" as="field">
                                            <th>{{field}}</th>
                                        </template>
                                    </tr>
                                </thead>
                                <tbody>
                                    <template is="dom-repeat" items="{{report.subReports}}" as="reportTable" index-as="indxTop">
                                        <tr>
                                            <template is="dom-repeat" items="{{reportTable.fields}}" as="field1" index-as="indx">
                                                <td index$="{{indx}}">
                                                    <template is="dom-if" if="{{!_IsLinkFormat(field1)}}">
                                                        {{field1.value}}
                                                    </template>
                                                    <template is="dom-if" if="{{_IsLinkFormat(field1)}}">
                                                        <a href="javascript:" indx$="{{indx}}" indxTop$="{{indxTop}}" on-click="showCustomTableComponent">View</a>
                                                        <custom-table-component id="{{generateId(indxTop,indx)}}" indx="{{indx}}" indx-top="{{indxTop}}" parent-data="{{reportTable.fields}}"
                                                            transactions="{{field1}}"></custom-table-component>
                                                    </template>
                                                </td>
                                            </template>
                                        </tr>
                                    </template>
                                </tbody>
                            </table>
                        </template>
                    </div>
                </div>
            </div>
        </template>
        <alloy-config id="config"></alloy-config>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "multi-level-report",
                properties: {
                    reportList: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    calendarIconConfiguration: {
                        type: Boolean,
                        notify: true,
                        value: true
                    }
                },
                _getCalenderConfiguration: function () {
                    var self = this;
                    self.set('calendarIconConfiguration', self.$.config.getConfigurationBasedOnKey("calendarIcon"));
                },
                generateId: function (indxTop, indx) {
                    return 'modal' + indxTop + indx;
                },
                showCustomTableComponent: function (e) {
                    var index = 'modal' + e.model.__data__.indxTop + e.model.__data__.indx;
                    this.$$('#' + index).show();
                },
                _getTableHeader: function (report) {
                    var headers = [];
                    if (!_.isNull(report) && !_.isEmpty(report) && !_.isNull(report[0].fields)) {
                        report[0].fields.forEach(function (element) {
                            headers.push(element.label);
                        }, this);
                    }
                    return headers;
                },
                _IsDefaultFormat: function (report) {
                    if (report && report.name) {
                        if (report.hasOwnProperty('displayFormat') && report.displayFormat === 'default') {
                            return true;
                        }
                    }
                    return false;
                },
                _IsLinkFormat: function (field) {
                    if (field.format != undefined && field.format == 'link') {
                        return true;
                    }
                    return false;
                },
                _hasSubReports: function (report) {
                    if (report && report.name && report.hasSubReports) {
                        return true;
                    }
                    return false;
                },
                _showReport: function (report) {
                    if (report && report.name && report.fields && report.fields.length > 0) {
                        return true;
                    }
                    return false;
                },
                ready: function () {
                    var self = this;
                    self._getCalenderConfiguration();
                },
                _hasCondFormat: function (field) {
                    return scoring.hasCondFormat(field);
                },
                _getCondClass: function (field) {
                    return scoring.evalCondFormat(field);
                },
                _hasDateFormat: function (field) {
                    var self = this;
                    if (self.calendarIconConfiguration !== undefined && self.calendarIconConfiguration == false) {
                        return;
                    }
                    return scoring.hasDateFormat(field);
                },
                _checkIfRolesAndAssigneeOnField: function (field) {
                    if (field.hasOwnProperty('isVisible')) {
                        return field.isVisible ? field.value : "";
                    }
                    return field.value;
                }
            });
        });
    </script>
</dom-module>