<html-import html-href="custom-component/loan-activity.html"></html-import>
<html-import html-href="app-actions/funding.html"></html-import>
<html-import html-href="app-actions/on-hold.html"></html-import>
<html-import html-href="app-actions/ancillary.html"></html-import>
<html-import html-href="app-actions/claim-app.html"></html-import>
<html-import html-href="app-actions/send-to-ce.html"></html-import>
<html-import html-href="app-actions/doc-upload.html"></html-import>
<html-import html-href="app-actions/assign-app.html"></html-import>
<html-import html-href="app-actions/switch-bank.html"></html-import>
<html-import html-href="app-actions/final-offer.html"></html-import>
<html-import html-href="app-actions/bank-linking.html"></html-import>
<html-import html-href="app-actions/update-email.html"></html-import>
<html-import html-href="app-actions/send-to-bank.html"></html-import>
<html-import html-href="app-actions/loan-purpose.html"></html-import>
<html-import html-href="app-actions/initial-offer.html"></html-import>
<html-import html-href="app-actions/add-deviation.html"></html-import>
<html-import html-href="app-actions/enable-reapply.html"></html-import>
<html-import html-href="app-actions/social-linking.html"></html-import>
<html-import html-href="app-actions/update-address.html"></html-import>
<html-import html-href="app-actions/update-cashflow.html"></html-import>
<html-import html-href="app-actions/funding-display.html"></html-import>
<html-import html-href="app-actions/add-manual-offer.html"></html-import>
<html-import html-href="app-actions/add-new-manual-offer.html"></html-import>
<html-import html-href="app-actions/personal-details.html"></html-import>
<html-import html-href="app-actions/status-management.html"></html-import>
<html-import html-href="app-actions/education-details.html"></html-import>
<html-import html-href="app-actions/update-employment.html"></html-import>
<html-import html-href="app-actions/update-loan-amount.html"></html-import>
<html-import html-href="app-actions/update-bank-detail.html"></html-import>
<html-import html-href="app-actions/update-grade-score.html"></html-import>
<html-import html-href="app-actions/update-scheme-code.html"></html-import>
<html-import html-href="app-actions/select-final-offer.html"></html-import>
<html-import html-href="app-actions/reject-application.html"></html-import>
<html-import html-href="app-actions/submit-application.html"></html-import>
<html-import html-href="app-actions/approve-application.html"></html-import>
<html-import html-href="app-actions/present-final-offer.html"></html-import>
<html-import html-href="app-actions/update-resend-email.html"></html-import>
<html-import html-href="app-actions/update-cam-fcu-info.html"></html-import>
<html-import html-href="app-actions/update-hunter-status.html"></html-import>
<html-import html-href="app-actions/select-initial-offer.html"></html-import>
<html-import html-href="app-actions/upload-bank-statement.html"></html-import>
<html-import html-href="app-actions/update-aadhaar-number.html"></html-import>
<html-import html-href="app-actions/update-income-expense.html"></html-import>
<html-import html-href="app-actions/update-perfios-salary.html"></html-import>
<html-import html-href="app-actions/final-offer-regenerate.html"></html-import>
<html-import html-href="app-actions/update-employment-email.html"></html-import>
<html-import html-href="app-actions/add-FOIR-DTI-calculation.html"></html-import>
<html-import html-href="app-actions/notInterested-application.html"></html-import>
<html-import html-href="app-actions/update-documentcollected-source.html"></html-import>
<html-import html-href="app-actions/schedule-fulfillment.html"></html-import>
<html-import html-href="app-actions/update-employer.html"></html-import>
<html-import html-href="app-actions/revive-application.html"></html-import>
<html-import html-href="app-actions/approve-bankqa-application.html"></html-import>
<html-import html-href="app-actions/approve-indusind-application.html"></html-import>
<html-import html-href="app-actions/change-lender.html"></html-import>
<html-import html-href="app-actions/initiate-softpull.html"></html-import>
<html-import html-href="app-actions/send-to-funding.html"></html-import>
<html-import html-href="app-actions/approve-fullerton-application.html"></html-import>
<html-import html-href="app-actions/re-pull-cibil.html"></html-import>
<dom-module id="action-container">
    <template>
        <style>
            .activity-action-btn {
                padding: 10px;
                width: 100%;
                font-size: inherit;
            }
        </style>
        <template is="dom-if" if="{{hasRole(componentMap,'ClaimAction')}}">
            <template is="dom-if" if="{{_showComponentTemplate(applicationNumber,componentMap,componentMap.Claim)}}">
                <loan-activity id="claimApp-loan-activity" activity-title="Claim {{currentEntityName}}">
                    <claim-app id="claimApp" class="loan-activity" application-number="{{applicationNumber}}"
                        fire-event="{{getEvents(actionEvents,'Claim')}}"></claim-app>
                </loan-activity>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole(componentMap,'AssignAction')}}">
            <template is="dom-if" if="{{_showComponentTemplate(applicationNumber,componentMap,componentMap.Assign)}}">
                <loan-activity id="assignApp-loan-activity" activity-title="Assign {{currentEntityName}}">
                    <assign-app id="assignApp" class="loan-activity" application-number="{{applicationNumber}}"
                        fire-event="{{getEvents(actionEvents,'Assign')}}"></assign-app>
                </loan-activity>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole(componentMap,'AddManualOfferAction')}}">
            <template is="dom-if"
                if="{{_showComponentTemplate(applicationNumber,componentMap,componentMap.AddManualOffer)}}">
                <loan-activity id="AddManualOffer-loan-activity" activity-title="Add Manual Offer">
                    <add-manual-offer id="AddManualOffer" class="loan-activity"
                        application-number="{{applicationNumber}}"
                        fire-event="{{getEvents(actionEvents,'AddManualOffer')}}"></add-manual-offer>
                </loan-activity>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole(componentMap,'AddNewManualOfferAction')}}">
            <template is="dom-if"
                if="{{_showComponentTemplate(applicationNumber,componentMap,componentMap.AddNewManualOffer)}}">
                <loan-activity id="AddNewManualOffer-loan-activity" activity-title="Add/Present New Manual Offer">
                    <add-new-manual-offer id="AddNewManualOffer" class="loan-activity"
                        application-number="{{applicationNumber}}"
                        fire-event="{{getEvents(actionEvents,'AddNewManualOffer')}}"></add-new-manual-offer>
                </loan-activity>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole(componentMap,'SubmitApplicationAction')}}">
            <template is="dom-if"
                if="{{_showComponentTemplate(applicationNumber,componentMap,componentMap.SubmitApplication)}}">
                <loan-activity id="submitApplication-loan-activity" activity-title="Submit Application">
                    <submit-application id="submitApplication" class="loan-activity"
                        application-number="{{applicationNumber}}"
                        fire-event="{{getEvents(actionEvents,'SubmitApplication')}}"></submit-application>
                </loan-activity>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole(componentMap,'UpdateLoanAmountAction')}}">
            <template is="dom-if"
                if="{{_showComponentTemplate(applicationNumber,componentMap,componentMap.UpdateLoanAmount)}}">
                <loan-activity id="updateloanamount-loan-activity" activity-title="Update Requested Loan Amount">
                    <update-loan-amount id="updateloanamount" class="loan-activity"
                        application-number="{{applicationNumber}}"
                        fire-event="{{getEvents(actionEvents,'UpdateLoanAmount')}}"
                        data-attributes="{{dataAttributes}}"></update-loan-amount>
                </loan-activity>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole(componentMap,'InitSocialLinkingAction')}}">
            <template is="dom-if"
                if="{{_showComponentTemplate(applicationNumber,componentMap,componentMap.InitSocialLinking)}}">
                <loan-activity id="socialLinking-loan-activity" activity-title="Initiate Social Linking">
                    <social-linking id="socialLinking" class="loan-activity" application-number="{{applicationNumber}}"
                        fire-event="{{getEvents(actionEvents,'InitSocialLinking')}}"></social-linking>
                </loan-activity>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole(componentMap,'ReInitBankLinkingAction')}}">
            <template is="dom-if"
                if="{{_showComponentTemplate(applicationNumber,componentMap,componentMap.ReInitBankLinking)}}">
                <loan-activity id="bankLinking-loan-activity" activity-title="Re-Initiate Bank Linking">
                    <bank-linking id="bankLinking" class="loan-activity" application-number="{{applicationNumber}}"
                        fire-event="{{getEvents(actionEvents,'ReInitBankLinking')}}"></bank-linking>
                </loan-activity>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole(componentMap,'GetInitOfferAction')}}">
            <template is="dom-if"
                if="{{_showComponentTemplate(applicationNumber,componentMap,componentMap.GetInitOffer)}}">
                <loan-activity id="initialOffer-loan-activity" activity-title="Get Initial Offer">
                    <initial-offer id="initialOffer" class="loan-activity" application-number="{{applicationNumber}}"
                        fire-event="{{getEvents(actionEvents,'GetInitOffer')}}"></initial-offer>
                </loan-activity>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole(componentMap,'SelectOfferAction')}}">
            <template is="dom-if"
                if="{{_showComponentTemplate(applicationNumber,componentMap,componentMap.SelectOffer)}}">
                <loan-activity id="selectInitialOffer-loan-activity" activity-title="Select Initial Offer">
                    <select-initial-offer id="selectInitialOffer" class="loan-activity"
                        application-number="{{applicationNumber}}"
                        fire-event="{{getEvents(actionEvents,'SelectOffer')}}"></select-initial-offer>
                </loan-activity>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole(componentMap,'ApproveApplicationAction')}}">
            <template is="dom-if"
                if="{{_showComponentTemplate(applicationNumber,componentMap,componentMap.ApproveApplication)}}">
                <loan-activity id="approveApplication-loan-activity" activity-title="Approve Application">
                    <approve-application id="approveApplication" class="loan-activity"
                        application-number="{{applicationNumber}}" button-name="Approve Application"
                        fire-event="{{getEvents(actionEvents,'ApproveApplication')}}"></approve-application>
                </loan-activity>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole(componentMap,'ApproveBankCreditApplicationAction')}}">
            <template is="dom-if"
                if="{{_showComponentTemplate(applicationNumber,componentMap,componentMap.ApproveBankCreditApplication)}}">
                <loan-activity id="approveBankCreditApplication-loan-activity"
                    activity-title="Approve Credit Application">
                    <approve-application id="approveBankCreditApplication" class="loan-activity"
                        application-number="{{applicationNumber}}" button-name="Approve Application"
                        fire-event="{{getEvents(actionEvents,'ApproveBankCreditApplication')}}"></approve-application>
                </loan-activity>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole(componentMap,'CompleteFulfillmentAction')}}">
            <template is="dom-if"
                if="{{_showComponentTemplate(applicationNumber,componentMap,componentMap.CompleteFulfillment)}}">
                <loan-activity id="completeFulfillment-loan-activity" activity-title="Complete Fulfillment">
                    <approve-application id="completeFulfillment" class="loan-activity"
                        application-number="{{applicationNumber}}" button-name="Complete Fulfillment"
                        fire-event="{{getEvents(actionEvents,'CompleteFulfillment')}}"></approve-application>
                </loan-activity>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole(componentMap,'UpdateAncillaryDataAction')}}">
            <template is="dom-if"
                if="{{_showComponentTemplate(applicationNumber,componentMap,componentMap.UpdateAncillaryData)}}">
                <loan-activity id="updateAncillaryData-loan-activity" activity-title="Update Ancillary Data">
                    <save-ancillary id="updateAncillaryData" class="loan-activity"
                        application-number="{{applicationNumber}}"
                        fire-event="{{getEvents(actionEvents,'UpdateAncillaryData')}}"
                        data-attributes="{{dataAttributes}}" i18n="{{i18n}}"></save-ancillary>
                </loan-activity>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole(componentMap,'EnableReapplyAction')}}">
            <template is="dom-if"
                if="{{_showComponentTemplate(applicationNumber,componentMap,componentMap.EnableReApply)}}">
                <loan-activity id="enableReapply-loan-activity" activity-title="Enable Re-apply">
                    <enable-reapply id="enableReapply" class="loan-activity" application-number="{{applicationNumber}}"
                        fire-event="{{getEvents(actionEvents,'EnableReApply')}}"></enable-reapply>
                </loan-activity>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole(componentMap,'UploadBankStatementAction')}}">
            <template is="dom-if"
                if="{{_showComponentTemplate(applicationNumber,componentMap,componentMap.UploadBankStatement)}}">
                <loan-activity id="updateBankStatement-loan-activity" activity-title="Upload Bank Statement">
                    <update-bank-statement id="updateBankStatement" class="loan-activity"
                        application-number="{{applicationNumber}}"
                        fire-event="{{getEvents(actionEvents,'UploadBankStatement')}}"
                        data-attributes="{{dataAttributes}}"></update-bank-statement>
                </loan-activity>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole(componentMap,'EducationDetailAction')}}">
            <template is="dom-if"
                if="{{_showComponentTemplate(applicationNumber,componentMap,componentMap.EducationDetail)}}">
                <loan-activity id="edudetail-loan-activity" activity-title="Update Education Details">
                    <edu-detail id="edudetail" class="loan-activity" application-number="{{applicationNumber}}"
                        fire-event="{{getEvents(actionEvents,'EducationDetail')}}" data-attributes="{{dataAttributes}}">
                    </edu-detail>
                </loan-activity>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole(componentMap,'UpdateEmploymentAction')}}">
            <template is="dom-if"
                if="{{_showComponentTemplate(applicationNumber,componentMap,componentMap.UpdateEmployment)}}">
                <loan-activity id="updateemployment-loan-activity" activity-title="Update Employment">
                    <update-employment id="updateemployment" class="loan-activity"
                        application-number="{{applicationNumber}}"
                        fire-event="{{getEvents(actionEvents,'UpdateEmployment')}}"
                        application-detail="{{applicationDetail}}"></update-employment>
                </loan-activity>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole(componentMap,'UpdateEditCashFlowAction')}}">
            <template is="dom-if"
                if="{{_showComponentTemplate(applicationNumber,componentMap,componentMap.UpdateEditCashFlow)}}">
                <loan-activity id="updateCashflow-loan-activity" activity-title="Edit/Update Cashflow">
                    <update-cashflow id="updateCashflow" class="loan-activity"
                        application-number="{{applicationNumber}}"
                        fire-event="{{getEvents(actionEvents,'UpdateEditCashFlow')}}" i18n="{{i18n}}" i18n="{{i18n}}">
                    </update-cashflow>
                </loan-activity>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole(componentMap,'UpdateHunterDetailsAction')}}">
            <template is="dom-if"
                if="{{_showComponentTemplate(applicationNumber,componentMap,componentMap.UpdateHunterDetails)}}">
                <loan-activity id="updateHunterDetail-loan-activity" activity-title="Update Hunter/Fraud Details">
                    <update-hunter-detail id="updateHunterDetail" class="loan-activity"
                        application-number="{{applicationNumber}}" data-attributes="{{dataAttributes}}"
                        fire-event="{{getEvents(actionEvents,'UpdateHunterDetails')}}"></update-hunter-detail>
                </loan-activity>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole(componentMap,'UpdateFundingDetailsAction')}}">
            <template is="dom-if"
                if="{{_showComponentTemplate(applicationNumber,componentMap,componentMap.UpdateFundingDetails)}}">
                <loan-activity id="updateFundingDetails-loan-activity" activity-title="Update Disbursement Details">
                    <save-funding id="updateFundingDetails" class="loan-activity"
                        application-number="{{applicationNumber}}"
                        fire-event="{{getEvents(actionEvents,'UpdateFundingDetails')}}"
                        data-attributes="{{dataAttributes}}" i18n="{{i18n}}"></save-funding>
                </loan-activity>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole(componentMap,'UpdateDisplayFundingDetailsAction')}}">
            <template is="dom-if"
                if="{{_showComponentTemplate(applicationNumber,componentMap,componentMap.UpdateDisplayFundingDetails)}}">
                <loan-activity id="updateDisplayFundingDetails-loan-activity"
                    activity-title="Update Disbursement Details">
                    <save-display-funding id="updateDisplayFundingDetails" class="loan-activity"
                        application-number="{{applicationNumber}}"
                        fire-event="{{getEvents(actionEvents,'UpdateDisplayFundingDetails')}}"
                        data-attributes="{{dataAttributes}}" i18n="{{i18n}}"></save-display-funding>
                </loan-activity>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole(componentMap,'GetFinalOfferAction')}}">
            <template is="dom-if"
                if="{{_showComponentTemplate(applicationNumber,componentMap,componentMap.GetFinalOffer)}}">
                <loan-activity id="finalOffer-loan-activity" activity-title="Get Final Offer">
                    <final-offer id="finalOffer" class="loan-activity" application-number="{{applicationNumber}}"
                        fire-event="{{getEvents(actionEvents,'GetFinalOffer')}}"></final-offer>
                </loan-activity>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole(componentMap,'GetFinalOfferReAction')}}">
            <template is="dom-if"
                if="{{_showComponentTemplate(applicationNumber,componentMap,componentMap.GetFinalOfferRe)}}">
                <loan-activity id="finalOfferRe-loan-activity" activity-title="Regenerate Final Offer">
                    <final-offer-re id="finalOfferRe" class="loan-activity" application-number="{{applicationNumber}}"
                        fire-event="{{getEvents(actionEvents,'GetFinalOfferRe')}}"></final-offer-re>
                </loan-activity>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole(componentMap,'SelectFinalOfferAction')}}">
            <template is="dom-if"
                if="{{_showComponentTemplate(applicationNumber,componentMap,componentMap.SelectFinalOffer)}}">
                <loan-activity id="selectFinalOffer-loan-activity" activity-title="Select Final Offer">
                    <select-final-offer id="selectFinalOffer" class="loan-activity"
                        application-number="{{applicationNumber}}"
                        fire-event="{{getEvents(actionEvents,'SelectFinalOffer')}}"></select-final-offer>
                </loan-activity>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole(componentMap,'PresentFinalOfferAction')}}">
            <template is="dom-if"
                if="{{_showComponentTemplate(applicationNumber,componentMap,componentMap.PresentFinalOffer)}}">
                <loan-activity id="presentFinalOffer-loan-activity" activity-title="Present Final Offer">
                    <present-final-offer id="presentFinalOffer" class="loan-activity"
                        application-number="{{applicationNumber}}"
                        fire-event="{{getEvents(actionEvents,'PresentFinalOffer')}}"></present-final-offer>
                </loan-activity>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole(componentMap,'UpdatePersonalDetailsAction')}}">
            <template is="dom-if"
                if="{{_showComponentTemplate(applicationNumber,componentMap,componentMap.UpdatePersonalDetails)}}">
                <loan-activity id="personaldetails-loan-activity" activity-title="Update Personal Details">
                    <personal-details id="personaldetails" class="loan-activity"
                        application-number="{{applicationNumber}}"
                        fire-event="{{getEvents(actionEvents,'UpdatePersonalDetails')}}"
                        application-detail="{{applicationDetail}}" i18n="{{i18n}}"></personal-details>
                </loan-activity>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole(componentMap,'UpdateAddressAction')}}">
            <template is="dom-if"
                if="{{_showComponentTemplate(applicationNumber,componentMap,componentMap.UpdateAddress)}}">
                <loan-activity id="updateaddress-loan-activity" activity-title="Update Address">
                    <update-address id="updateaddress" class="loan-activity" application-number="{{applicationNumber}}"
                        fire-event="{{getEvents(actionEvents,'UpdateAddress')}}"
                        application-detail="{{applicationDetail}}"></update-address>
                </loan-activity>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole(componentMap,'UpdateEmailAction')}}">
            <template is="dom-if"
                if="{{_showComponentTemplate(applicationNumber,componentMap,componentMap.UpdateEmail)}}">
                <loan-activity id="updateemail-loan-activity" activity-title="Update Email">
                    <update-email id="updateemail" class="loan-activity" application-number="{{applicationNumber}}"
                        fire-event="{{getEvents(actionEvents,'UpdateEmail')}}"
                        application-detail="{{applicationDetail}}"></update-email>
                </loan-activity>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole(componentMap,'UpdateEmploymentEmailAction')}}">
            <template is="dom-if"
                if="{{_showComponentTemplate(applicationNumber,componentMap,componentMap.UpdateEmploymentEmail)}}">
                <loan-activity id="updateemploymentemail-loan-activity" activity-title="Update Official Email">
                    <update-employment-email id="updateemploymentemail" class="loan-activity"
                        application-number="{{applicationNumber}}"
                        fire-event="{{getEvents(actionEvents,'UpdateEmploymentEmail')}}"
                        application-detail="{{applicationDetail}}"></update-employment-email>
                </loan-activity>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole(componentMap,'UpdateEmployerAction')}}">
            <template is="dom-if"
                if="{{_showComponentTemplate(applicationNumber,componentMap,componentMap.UpdateEmployer)}}">
                <loan-activity id="updateemployer-loan-activity" activity-title="Digital  Employment Verification">
                    <update-employer id="updateemployer" class="loan-activity"
                        application-number="{{applicationNumber}}"
                        fire-event="{{getEvents(actionEvents,'UpdateEmployer')}}"
                        application-detail="{{applicationDetail}}"></update-employer>
                </loan-activity>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole(componentMap,'UpdateIncomeExpenseAction')}}">
            <template is="dom-if"
                if="{{_showComponentTemplate(applicationNumber,componentMap,componentMap.UpdateIncomeExpense)}}">
                <loan-activity id="updateincomeexpense-loan-activity" activity-title="Update Income/Expense">
                    <update-income-expense id="updateincomeexpense" class="loan-activity"
                        application-number="{{applicationNumber}}"
                        fire-event="{{getEvents(actionEvents,'UpdateIncomeExpense')}}"
                        data-attributes="{{dataAttributes}}"></update-income-expense>
                </loan-activity>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole(componentMap,'ChangeStatusAction')}}">
            <template is="dom-if"
                if="{{_showComponentTemplate(applicationNumber,componentMap,componentMap.ChangeStatus)}}">
                <loan-activity id="statusManagement-loan-activity" activity-title="Send To Bank">
                    <status-management id="statusManagement" class="loan-activity"
                        application-number="{{applicationNumber}}"
                        fire-event="{{getEvents(actionEvents,'ChangeStatus')}}" status-obj="{{statusObj}}">
                    </status-management>
                </loan-activity>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole(componentMap,'UploadDocsAction')}}">
            <template is="dom-if"
                if="{{_showComponentTemplate(applicationNumber,componentMap,componentMap.UploadDocs)}}">
                <loan-activity id="docUpload-loan-activity" activity-title="Upload Pending Document">
                    <doc-upload id="docUpload" class="loan-activity" status-obj="{{statusObj}}"
                        application-number="{{applicationNumber}}"
                        fire-event="{{getEvents(actionEvents,'UploadDocs')}}"></doc-upload>
                </loan-activity>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole(componentMap,'SwitchBankAction')}}">
            <template is="dom-if"
                if="{{_showComponentTemplate(applicationNumber,componentMap,componentMap.SwitchBank)}}">
                <loan-activity id="switchBank-loan-activity" activity-title="Switch Bank">
                    <switch-bank id="switchBank" class="loan-activity" application-number="{{applicationNumber}}"
                        fire-event="{{getEvents(actionEvents,'SwitchBank')}}"></switch-bank>
                </loan-activity>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole(componentMap,'SendBackToBankAction')}}">
            <template is="dom-if"
                if="{{_showComponentTemplate(applicationNumber,componentMap,componentMap.SendBackToBank)}}">
                <loan-activity id="SendBackToBank-loan-activity" activity-title="Send Back To Bank">
                    <send-to-bank id="SendBackToBank" class="loan-activity" application-number="{{applicationNumber}}"
                        fire-event="{{getEvents(actionEvents,'SendBackToBank')}}"></send-to-bank>
                </loan-activity>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole(componentMap,'ReferToCEAction')}}">
            <template is="dom-if"
                if="{{_showComponentTemplate(applicationNumber,componentMap,componentMap.ReferToCE)}}">
                <loan-activity id="ReferToCE-loan-activity" activity-title="Refer To CE">
                    <send-to-ce id="ReferToCE" class="loan-activity" application-number="{{applicationNumber}}"
                        fire-event="{{getEvents(actionEvents,'ReferToCE')}}"></send-to-ce>
                </loan-activity>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole(componentMap,'UpdateResendEmailAction')}}">
            <template is="dom-if"
                if="{{_showComponentTemplate(applicationNumber,componentMap,componentMap.UpdateResendEmail)}}">
                <loan-activity id="updateresendemail-loan-activity" activity-title="Update and Resend Email">
                    <update-resend-email id="updateresendemail" class="loan-activity"
                        application-number="{{applicationNumber}}"
                        fire-event="{{getEvents(actionEvents,'UpdateResendEmail')}}"
                        application-detail="{{applicationDetail}}"></update-resend-email>
                </loan-activity>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole(componentMap,'LoanPurposeAction')}}">
            <template is="dom-if"
                if="{{_showComponentTemplate(applicationNumber,componentMap,componentMap.LoanPurpose)}}">
                <loan-activity id="loanPurpose-loan-activity" activity-title="Loan Purpose">
                    <loan-purpose id="loanPurpose" class="loan-activity" application-number="{{applicationNumber}}"
                        fire-event="{{getEvents(actionEvents,'LoanPurpose')}}" data-attributes="{{dataAttributes}}">
                    </loan-purpose>
                </loan-activity>
            </template>
        </template>

        <template is="dom-if" if="{{hasRole(componentMap,'RejectAppAction')}}">
            <template is="dom-if"
                if="{{_showComponentTemplate(applicationNumber,componentMap,componentMap.RejectApp)}}">
                <loan-activity id="rejectApplication-loan-activity" activity-title="Reject Application">
                    <reject-application id="rejectApplication" class="loan-activity"
                        application-number="{{applicationNumber}}" fire-event="{{getEvents(actionEvents,'RejectApp')}}">
                    </reject-application>
                </loan-activity>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole(componentMap,'UpdateHunterStatusAction')}}">
            <template is="dom-if"
                if="{{_showComponentTemplate(applicationNumber,componentMap,componentMap.UpdateHunterStatus)}}">
                <loan-activity id="updatehunterstatus-loan-activity" activity-title="Hunter Status">
                    <update-hunter-status id="updatehunterstatus" class="loan-activity"
                        application-number="{{applicationNumber}}"
                        fire-event="{{getEvents(actionEvents,'UpdateHunterStatus')}}"
                        data-attributes="{{dataAttributes}}"></update-hunter-status>
                </loan-activity>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole(componentMap,'OnHoldAction')}}">
            <template is="dom-if" if="{{_showComponentTemplate(applicationNumber,componentMap,componentMap.OnHold)}}">
                <loan-activity id="onHold-loan-activity" activity-title="On-Hold">
                    <on-hold id="onHold" class="loan-activity" application-number="{{applicationNumber}}"
                        fire-event="{{getEvents(actionEvents,'OnHold')}}"></on-hold>
                </loan-activity>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole(componentMap,'UpdateBankDetailAction')}}">
            <template is="dom-if"
                if="{{_showComponentTemplate(applicationNumber,componentMap,componentMap.UpdateBankDetail)}}">
                <loan-activity id="updateBankDetail-loan-activity" activity-title="Update-Bank-Detail">
                    <update-bank-detail id="updateBankDetail" class="loan-activity"
                        application-number="{{applicationNumber}}"
                        fire-event="{{getEvents(actionEvents,'UpdateBankDetail')}}"
                        data-attributes="{{dataAttributes}}"></update-bank-detail>
                </loan-activity>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole(componentMap,'UpdateCamFcuAction')}}">
            <template is="dom-if"
                if="{{_showComponentTemplate(applicationNumber,componentMap,componentMap.UpdateCamFcu)}}">
                <loan-activity id="updateCamFcuDetail-loan-activity" activity-title="Update CAM/FCU Detail">
                    <update-cam-fcu id="updateCamFcuDetail" class="loan-activity"
                        application-number="{{applicationNumber}}"
                        fire-event="{{getEvents(actionEvents,'UpdateCamFcu')}}" data-attributes="{{dataAttributes}}">
                    </update-cam-fcu>
                </loan-activity>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole(componentMap,'UpdatePerfiosSalaryAction')}}">
            <template is="dom-if"
                if="{{_showComponentTemplate(applicationNumber,componentMap,componentMap.UpdatePerfiosSalary)}}">
                <loan-activity id="UpdatePerfiosSalaryDetail-loan-activity"
                    activity-title="Update Perfios Salary Detail">
                    <update-perfios-salary id="UpdatePerfiosSalaryDetail" class="loan-activity"
                        application-number="{{applicationNumber}}"
                        fire-event="{{getEvents(actionEvents,'UpdatePerfiosSalary')}}"
                        data-attributes="{{dataAttributes}}" i18n="{{i18n}}"></update-perfios-salary>
                </loan-activity>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole(componentMap,'AddFOIRDTICalculationAction')}}">
            <template is="dom-if"
                if="{{_showComponentTemplate(applicationNumber,componentMap,componentMap.AddFOIRDTICalculation)}}">
                <loan-activity id="AddFOIRDTICalculation-loan-activity" activity-title="Add FOIR/DTI Calculation">
                    <add-FOIR-DTI-calculation id="AddFOIRDTICalculation" class="loan-activity"
                        application-number="{{applicationNumber}}"
                        fire-event="{{getEvents(actionEvents,'AddFOIRDTICalculation')}}"
                        data-attributes="{{dataAttributes}}"></add-FOIR-DTI-calculation>
                </loan-activity>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole(componentMap,'AddDeviationAction')}}">
            <template is="dom-if"
                if="{{_showComponentTemplate(applicationNumber,componentMap,componentMap.AddDeviation)}}">
                <loan-activity id="AddDeviationDetail-loan-activity" activity-title="Add Deviation">
                    <add-deviation id="AddDeviationDetail" class="loan-activity"
                        application-number="{{applicationNumber}}"
                        fire-event="{{getEvents(actionEvents,'AddDeviation')}}" data-attributes="{{dataAttributes}}">
                    </add-deviation>
                </loan-activity>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole(componentMap,'UpdateGradeScoreAction')}}">
            <template is="dom-if"
                if="{{_showComponentTemplate(applicationNumber,componentMap,componentMap.UpdateGradeScore)}}">
                <loan-activity id="UpdateGradeScoreDetail-loan-activity" activity-title="Update Grade Score">
                    <update-grade-score id="UpdateGradeScoreDetail" class="loan-activity"
                        application-number="{{applicationNumber}}" score-card="{{scoreCard}}"
                        fire-event="{{getEvents(actionEvents,'UpdateGradeScore')}}"></update-grade-score>
                </loan-activity>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole(componentMap,'UpdateDocumentSourceAction')}}">
            <template is="dom-if"
                if="{{_showComponentTemplate(applicationNumber,componentMap,componentMap.UpdateDocumentSource)}}">
                <loan-activity id="UpdateDocumentSourceDetail-loan-activity" activity-title="Document Collected Source">
                    <update-document-source id="UpdateDocumentSourceDetail" class="loan-activity"
                        application-number="{{applicationNumber}}"
                        fire-event="{{getEvents(actionEvents,'UpdateDocumentSource')}}"
                        data-attributes="{{dataAttributes}}"></update-document-source>
                </loan-activity>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole(componentMap,'UpdateSchemeCodeAction')}}">
            <template is="dom-if"
                if="{{_showComponentTemplate(applicationNumber,componentMap,componentMap.UpdateSchemeCode)}}">
                <loan-activity id="UpdateSchemeCodeDetail-loan-activity" activity-title="Update Scheme Code">
                    <update-scheme-code id="UpdateSchemeCodeDetail" class="loan-activity"
                        application-number="{{applicationNumber}}"
                        fire-event="{{getEvents(actionEvents,'UpdateSchemeCode')}}"
                        data-attributes="{{dataAttributes}}"></update-scheme-code>
                </loan-activity>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole(componentMap,'UpdateAadhaarNumberAction')}}">
            <template is="dom-if"
                if="{{_showComponentTemplate(applicationNumber,componentMap,componentMap.UpdateAadhaarNumber)}}">
                <loan-activity id="UpdateAadhaarNumber-loan-activity" activity-title="Update Aadhaar Number">
                    <update-aadhaar id="UpdateAadhaarNumber" class="loan-activity"
                        application-number="{{applicationNumber}}"
                        fire-event="{{getEvents(actionEvents,'UpdateSchemeCode')}}"
                        data-attributes="{{dataAttributes}}"></update-aadhaar>
                </loan-activity>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole(componentMap,'ScheduleFulfillmentAction')}}">
            <template is="dom-if"
                if="{{_showComponentTemplate(applicationNumber,componentMap,componentMap.ScheduleFulfillment)}}">
                <loan-activity id="scheduleFulfillment-loan-activity" activity-title="Schedule Fulfillment">
                    <schedule-fulfillment id="scheduleFulfillment" class="loan-activity"
                        application-number="{{applicationNumber}}"
                        fire-event="{{getEvents(actionEvents,'ScheduleFulfillment')}}"
                        application-detail="{{applicationDetail}}" i18n="{{i18n}}">
                    </schedule-fulfillment>
                </loan-activity>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole(componentMap,'ReviveApplicationAction')}}">
            <template is="dom-if"
                if="{{_showComponentTemplate(applicationNumber,componentMap,componentMap.ReviveApplication)}}">
                <loan-activity id="ReviveApplication-loan-activity" activity-title="Revive Application">
                    <revive-application id="ReviveApplication" class="loan-activity"
                        application-number="{{applicationNumber}}"
                        fire-event="{{getEvents(actionEvents,'ReviveApplication')}}"></revive-application>
                </loan-activity>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole(componentMap,'ApproveBankQAApplicationAction')}}">
            <template is="dom-if"
                if="{{_showComponentTemplate(applicationNumber,componentMap,componentMap.ApproveBankQAApplication)}}">
                <loan-activity id="ApproveBankQAApplication-loan-activity" activity-title="Approve Application">
                    <approve-bankqa-application id="ApproveBankQAApplication" class="loan-activity"
                        application-number="{{applicationNumber}}" data-attributes="{{dataAttributes}}"
                        fire-event="{{getEvents(actionEvents,'ApproveBankQAApplication')}}">
                    </approve-bankqa-application>
                </loan-activity>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole(componentMap,'ChangeLednerAction')}}">
            <template is="dom-if"
                if="{{_showComponentTemplate(applicationNumber,componentMap,componentMap.ChangeLedner)}}">
                <loan-activity id="ChangeLedner-loan-activity" activity-title="Change Lender">
                    <change-lender id="ChangeLedner" class="loan-activity" application-number="{{applicationNumber}}"
                        data-attributes="{{dataAttributes}}" fire-event="{{getEvents(actionEvents,'ChangeLedner')}}">
                    </change-lender>
                </loan-activity>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole(componentMap,'ApproveIndusIndApplicationAction')}}">
            <template is="dom-if"
                if="{{_showComponentTemplate(applicationNumber,componentMap,componentMap.ApproveIndusIndApplication)}}">
                <loan-activity id="ApproveIndusIndApplication-loan-activity"
                    activity-title="Approve IndusInd Application">
                    <approve-indusind-application id="ApproveIndusIndApplication" class="loan-activity"
                        application-number="{{applicationNumber}}" status-obj="{{statusObj}}"
                        fire-event="{{getEvents(actionEvents,'ApproveIndusIndApplication')}}">
                    </approve-indusind-application>
                </loan-activity>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole(componentMap,'SendToFundingAction')}}">
            <template is="dom-if"
                if="{{_showComponentTemplate(applicationNumber,componentMap,componentMap.SendToFunding)}}">
                <loan-activity id="sendtofunding-loan-activity" activity-title="Send To Funding">
                    <send-to-funding id="sendtofunding" class="loan-activity" application-number="{{applicationNumber}}"
                        status-obj="{{statusObj}}" fire-event="{{getEvents(actionEvents,'SendToFunding')}}">
                    </send-to-funding>
                </loan-activity>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole(componentMap,'InitiateSoftpullAction')}}">
            <template is="dom-if"
                if="{{_showComponentTemplate(applicationNumber,componentMap,componentMap.InitiateSoftpull)}}">
                <loan-activity id="initiatesoftpull-loan-activity" activity-title="Initiate Soft pull">
                    <initiate-softpull id="initiatesoftpull" class="loan-activity"
                        application-number="{{applicationNumber}}"
                        fire-event="{{getEvents(actionEvents,'InitiateSoftpull')}}"></initiate-softpull>
                </loan-activity>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole(componentMap,'ApproveFullertonApplicationAction')}}">
            <template is="dom-if"
                if="{{_showComponentTemplate(applicationNumber,componentMap,componentMap.ApproveFullertonApplication)}}">
                <loan-activity id="-loan-activity" activity-title="Approve Fullerton Application">
                    <approve-fullerton-application id="approvefulltertonapplication" class="loan-activity"
                        application-number="{{applicationNumber}}" status-obj="{{statusObj}}"
                        fire-event="{{getEvents(actionEvents,'InitiateSoftpull')}}"></approve-fullerton-application>
                </loan-activity>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole(componentMap,'NotInterestAppAction')}}">
            <template is="dom-if"
                if="{{_showComponentTemplate(applicationNumber,componentMap,componentMap.NotInterestApp)}}">
                <loan-activity id="notInterestedApplicationApplication-loan-activity"
                    activity-title="Not Interested/Cancel">
                    <not-interested-application id="notInterestedApplicationApplication" class="loan-activity"
                        application-number="{{applicationNumber}}"
                        fire-event="{{getEvents(actionEvents,'NotInterestApp')}}"></not-interested-application>
                </loan-activity>
            </template>
            <template is="dom-if" if="{{hasRole(componentMap,'RePullCibilAction')}}">
                <template is="dom-if"
                    if="{{_showComponentTemplate(applicationNumber,componentMap,componentMap.RePullCibil)}}">
                    <loan-activity id="RePullCibil-loan-activity" activity-title="Re-Pull CIBIL">
                        <re-pull-cibil id="RePullCibil" class="loan-activity" application-number="{{applicationNumber}}"
                            fire-event="{{getEvents(actionEvents,'RePullCibil')}}"></re-pull-cibil>
                    </loan-activity>
                </template>
            </template>
        </template>
        <url-parser id="url"></url-parser>
        <auth-service id="authorize"></auth-service>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "action-container",
                properties: {
                    componentMap: {
                        type: Object,
                        notify: true,
                        reflectToAttribute: true
                    },
                    noActionMessage: {
                        type: String,
                        notify: true,
                        reflectToAttribute: true
                    },
                    applicationNumber: {
                        type: String,
                        notify: true,
                        reflectToAttribute: true
                    },
                    statusObj: {
                        type: Object,
                        notify: true,
                        reflectToAttribute: true
                    },
                    currentEntityName: {
                        type: String,
                        notify: true,
                        value: 'application'
                    },
                    dataAttributes: {
                        type: Object,
                        notify: true,
                        reflectToAttribute: true
                    },
                    scoreCard: {
                        type: Object,
                        notify: true,
                        reflectToAttribute: true
                    },
                    actionEvents: {
                        type: Object,
                        notify: true,
                        reflectToAttribute: true
                    },
                    i18n: {
                        type: Object,
                        notify: true,
                        value: {
                            monthNames: moment.months(),
                            weekdays: moment.weekdays(),
                            weekdaysShort: moment.weekdaysShort(),
                            firstDayOfWeek: moment.localeData().firstDayOfWeek(),
                            week: 'Week',
                            calendar: 'Calendar',
                            clear: 'Clear',
                            today: 'Today',
                            cancel: 'Cancel',
                            formatDate: function (d) {
                                return moment(d).format("DD/MM/YYYY");
                            },
                            parseDate: function (s) {
                                return moment(s, "DD/MM/YYYY").toDate();
                            },
                            formatTitle: function (monthName, fullYear) {
                                return monthName + ' ' + fullYear;
                            }
                        }
                    }
                },
                ready: function () {
                    var self = this;
                    var params = self.$.url.getParams();
                    if (params.hasOwnProperty('entity')) {
                        self.set('currentEntityName', _.startCase(params.entity));
                    }
                    console.log(this.componentMap);
                },
                _showComponentTemplate: function (applicationNumber, componentMap, val) {
                    if (this.applicationNumber && this.componentMap && val) {
                        return true;
                    }
                    return false;
                },
                getEvents: function (actionEvents, action) {
                    var event = this.actionEvents[action];
                    return event;
                },
                hasRole: function (componentMap, compName) {
                    return this.$.authorize.hasRole(compName);
                }
            });
        });
    </script>
</dom-module>