<html-import html-href="app-details/applicationDetail.html"></html-import>
<html-import html-href="app-details/action-container.html"></html-import>
<html-import html-href="custom-component/floating-action-button.html"></html-import>
<dom-module id="application-details-home">
    <template>
        <style>
            .nav-tabs>li.active>a,
            .nav-tabs>li.active>a:hover,
            .nav-tabs>li.active>a:focus {
                color: #555555 !important;
                cursor: default;
                background: white;
                border-bottom: #f3f3f4;
                border-color: #dddddd #dddddd rgba(0, 0, 0, 0);
                border-image: none;
                border-style: solid;
                border-width: 1px;
                -moz-border-bottom-colors: none;
                -moz-border-left-colors: none;
                -moz-border-right-colors: none;
                -moz-border-top-colors: none;
            }

            .tab-content>.active {
                display: block;
                background: white;
            }

            .loan-summary .ibox-content {
                padding-bottom: 0;
            }

            .theme-config {
                height: 100%;
                top: 0;
            }

            .theme-config-box {
                margin-right: -400px;
                position: relative;
                height: 100%;
                z-index: 99;
            }

            .theme-config-box.show {
                margin-right: 0;
            }

            .skin-settings {
                width: 395px;
                margin-left: 40px;
                background: #f3f3f2;
                height: auto;
                min-height: 100px;
                padding-bottom: 20px;
            }

            .spin-icon {
                background-color: #03466B;
            }

            #MessageContainer {
                width: 65%;
                text-align: center;
            }
        </style>

        <help-text></help-text>

        <div class="theme-config">
            <div class="theme-config-box">
                <div class="spin-icon" on-click="_spinIconClick">
                    <i class="fa fa-chevron-circle-left" id="gearIcon"></i>
                </div>
                <div class="skin-settings">
                    <template is="dom-if" if="{{_isReady(applicationNumber,componentMapUpdated,componentMap)}}">
                        <action-container id="actionContainer" application-number="{{applicationNumber}}" component-map="{{componentMap}}"
                            action-events="{{actionEvents}}" status="{{status}}" status-obj="{{statusObj}}" score-card="{{scoreCard}}"
                            data-attributes="{{dataAttributes}}" application-detail="{{applicationDetail}}"></action-container>
                    </template>
                </div>
            </div>
        </div>

        <div id="MessageContainer"></div>
        <breadcrumb-links></breadcrumb-links>

        <application-detail id="appDetails" application-number="{{applicationNumber}}" status="{{status}}"
            component-map="{{componentMap}}" status-code="{{statusCode}}" status-obj="{{statusObj}}" action-events="{{actionEvents}}"
            data-attributes="{{dataAttributes}}" decline-reasons="{{declineReasons}}" score-card="{{scoreCard}}"
            application-detail="{{applicationDetail}}" tags="{{tags}}"></application-detail>

        <fab-menu action-events="{{actionEvents}}" application-number="{{applicationNumber}}" status-obj="{{statusObj}}"
            mobile-no="{{mobileNo}}" name="{{name}}" default-email="{{email}}"></fab-menu>

        <iron-signals on-iron-signal-factverified="_onFactVerified"></iron-signals>
        <iron-signals on-iron-signal-refreshattributes="_refreshDataAttributes"></iron-signals>

        <url-parser id="urlappi"></url-parser>
        <http-request id="httpappi"></http-request>
        <alloy-config id="configappi"></alloy-config>
        <session-manager id="sessionappi"></session-manager>
        <message-component id="messageappi"></message-component>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "application-details-home",
                properties: {
                    mobileNo: {
                        type: String,
                        notify: true,
                        reflectToAttribute: true
                    },
                    email: {
                        type: String,
                        notify: true,
                        reflectToAttribute: true
                    },
                    name: {
                        type: String,
                        notify: true,
                        reflectToAttribute: true
                    },
                    applicationNumber: {
                        type: String,
                        notify: true,
                        reflectToAttribute: true
                    },
                    statusObj: {
                        type: Object,
                        notify: true,
                        reflectToAttribute: true
                    },
                    scoreCard: {
                        type: Object,
                        notify: true,
                        reflectToAttribute: true
                    },
                    dataAttributes: {
                        type: Object,
                        notify: true,
                        reflectToAttribute: true
                    },
                    applicationDetail: {
                        type: Object,
                        notify: true,
                        reflectToAttribute: true
                    },
                    componentMap: {
                        type: Object,
                        notify: true,
                        value: {
                            GetInitOffer: false,
                            AddActivity: false,
                            SendEmail: false,
                            RejectApp: false,
                            SelectOffer: false,
                            UploadBankStatement: false,
                            InitSocialLinking: false,
                            ReInitBankLinking: false,
                            UploadDocs: false,
                            UpdateEditCashFlow: false,
                            GetFinalOffer: false,
                            PresentFinalOffer: false,
                            SelectFinalOffer: false,
                            UpdateAncillaryData: false,
                            ApproveApplication: false,
                            ApproveBankCreditApplication: false,
                            CompleteFulfillment: false,
                            UpdateHunterDetails: false,
                            UpdateFundingDetails: false,
                            EnableReApply: false,
                            UpdatePersonalDetails: false,
                            UpdateAddress: false,
                            UpdateEmployment: false,
                            UpdateEmploymentEmail: false,
                            UpdateIncomeExpense: false,
                            UpdateBankDetails: false,
                            SubmitApplication: false,
                            ChangeStatus: false,
                            UpdateEmail: false,
                            GetFinalOfferRe: false,
                            NotInterestApp: false,
                            SwitchBank: false,
                            UpdateLoanAmount: false,
                            SendBackToBank: false,
                            ReferToCE: false,
                            AddManualOffer: false,
                            AddNewManualOffer: false,
                            UpdateResendEmail: false,
                            Claim: false,
                            Assign: false,
                            SendSms: false,
                            LoanPurpose: false,
                            EducationDetail: false,
                            UpdateHunterStatus: false,
                            OnHold: false,
                            UpdateBankDetail: false,
                            UpdateDisplayFundingDetails: false,
                            UpdateCamFcu: false,
                            UpdatePerfiosSalary: false,
                            AddFOIRDTICalculation: false,
                            AddDeviation: false,
                            UpdateGradeScore: false,
                            UpdateDocumentSource: false,
                            UpdateSchemeCode: false,
                            UpdateAadhaarNumber: false,
                            ScheduleFulfillment: false,
                            ReviveApplication: false,
                            UpdateEmployer: false,
                            ReviveApplication: false,
                            ApproveBankQAApplication: false,
                            ApproveIndusIndApplication: false,
                            ChangeLedner: false,
                            InitiateSoftpull: false,
                            SendToFunding: false,
                            ApproveFullertonApplication: false,
                            RePullCibil: false,
                        },
                        reflectToAttribute: true
                    },
                    filterTagMapping: {
                        type: Object,
                        notify: true,
                        value: {
                            "Pending Documents": "pendocs",
                            "Application Created": "ApplicationCreated",
                            "Bank Pending": "cashflow",
                            "Social Pending": "sociallink",
                            "RBL Followup": "rblfollowup",
                            "FCUSampled": "fcusampled",
                            "Pending Scheduling": "scheduling",
                            "Company Unclassified": "unclassified",
                            "Ready for BankQA": "bankqa"
                        },
                        reflectToAttribute: true
                    },
                    componentMapUpdated: {
                        type: Boolean,
                        notify: true,
                        value: false,
                        reflectToAttribute: true
                    },
                    tags: {
                        type: Array,
                        notify: true,
                        value: [],
                        reflectToAttribute: true
                    },
                    actionEvents: {
                        type: Object,
                        notify: true,
                        value: {},
                        reflectToAttribute: true
                    },
                    currentEntityName: {
                        type: String,
                        notify: true,
                        value: 'application'
                    },
                    refreshTimeSpan: {
                        type: String,
                        notify: true,
                        reflectToAttribute: true
                    }
                },
                listeners: {
                    'AppDetailsPageRefresh': '_refreshAppDetails',
                    'RefreshOnUploadDoc': '_refreshOnUploadDoc',
                    'RefreshOnAssignment': '_refreshOnAssignmentChange',
                    'RefreshApplicationData': '_refreshApplicationData',
                    'RefreshDataAttributes': '_refreshDataAttributes',
                    'RefreshStatus': '_refreshStatus',
                    'RefreshVerificationDashboard': '_refreshVerificationDashboard',
                    'RefreshStatusHistory': '_refreshStatusHistory',
                    'RefreshActivity': '_refreshActivity',
                    'RefreshDocuments': '_refreshDocuments',
                    'RefreshOffers': '_refreshOffers',
                    'RefreshCAMTab': '_refreshcamtab',
                    'RefreshFCUTab': '_refreshfcutab',
                    'RefreshScoreCard': '_refreshScoreCard',
                    'RefreshUserActivity': '_refreshUserActivity',
                    'ShowMessage': '_showMessage'
                },
                _resetComponentMap: function () {
                    var input = _.cloneDeep(this.componentMap);
                    var result = _.reduce(input, function (output, value, key) {
                        output[key] = false;
                        return output;
                    }, {});
                    this.set('componentMap', result);
                },
                _isReady: function () {
                    var hasNoActions = window.location.href.toLowerCase().includes("/noaction");
                    if (this.applicationNumber && this.componentMap && this.componentMapUpdated && !hasNoActions) {
                        return true;
                    }
                    return false;
                },
                copyJsonObjKeyValue: function (actions, jsonObj) {
                    var keys = Object.keys(jsonObj);
                    keys.forEach(function (key) {
                        actions[key] = jsonObj[key];
                    });
                    return actions;
                },
                _OpenActionMenu: function () {
                    var self = this;
                    var OpenActionMenu = self.$.configappi.getConfigurationBasedOnKey("openAction");
                    if (OpenActionMenu) {
                        $('.spin-icon').click();
                    }
                },
                _spinIconClick: function (e) {
                    $('.spin-icon i').toggleClass("fa-chevron-circle-left fa-chevron-circle-right");
                    $('.theme-config-box').toggleClass('show');
                },
                ready: function () {
                    var self = this;
                    if (window.jQuery) {
                        self.init()();
                    } else {
                        window.addEventListener("WebComponentsReady", self.init());
                    }
                },
                init: function () {
                    var self = this;
                    var config = self.$.configappi.getConfigurationBasedOnKey("refreshTimeSpan");
                    self.set("refreshTimeSpan", config);
                    return function () {
                        var params = self.$.urlappi.getParams();
                        if (params.hasOwnProperty('entity')) {
                            self.set('currentEntityName', params.entity);
                        }
                        self.set('applicationNumber', params.app);
                        self.set('productId', params.product);
                        self.set("workflow", params.workflow);
                        self._loadAppStatus(true);
                        self.loadDataAttributes(true);
                        self._loadApplicationDetail(true);
                        self._loadScoreCardDetails(true);
                    }
                },
                loadDataAttributes: function (showLoader) {
                    var self = this;
                    var params = self.$.urlappi.getParams();
                    var url = "/application/" + params.app + "/all";
                    var dataAttributes = window.config.services.dataAttributes;
                    var keyList = ["cibilReport"];
                    self.$.httpappi.get(url, dataAttributes, showLoader).then(function (data) {
                        var mappedData = _.transform(data, function (result, value, key) {
                            if (keyList.indexOf(key) !== -1) {
                                result[key] = value;
                            } else {
                                result[key] = value[0];
                            }
                        }, {});
                        self.set('dataAttributes', mappedData);
                        self.set('mobileNo', mappedData.application.mobileNo);
                        self.set('email', mappedData.application.personalEmail);
                        self.set('name', mappedData.application.firstName);
                        self._OpenActionMenu();
                    }).fail(function (e) {
                        console.error("loadDataAttributes error is ", e);
                    });
                },
                _loadApplicationDetail: function (showLoader) {
                    var self = this;
                    var url = "/" + self.applicationNumber;
                    var applicationEndpoint = window.config.services.applicationDetail;
                    self.$.httpappi.get(url, applicationEndpoint, showLoader).then(function (data) {
                        self.set('applicationDetail', data);
                    }).fail(function (e) {
                        console.error("_loadApplicationDetail error is ", e);
                    });
                },
                _loadScoreCardDetails: function (showLoader) {
                    var self = this;
                    var url = "/" + self.currentEntityName + "/" + self.applicationNumber;
                    var productRuleService = window.config.services.productRule;
                    self.$.httpappi.get(url, productRuleService).then(function (data) {
                        var i = 0;
                        data.forEach(function (e) {
                            data[e.name] = e;
                            i++;
                        });
                        for (var i = 0; i < data.length; i++) {
                            delete data[i];
                        }
                        self.set('scoreCard', data);
                    }).fail(function (e) {
                        console.error("loadProductRuleDetails error is ", e);
                    });
                },
                _loadAppStatus: function (showLoader) {
                    var self = this;
                    var declineReasons = [];
                    var url = "/" + self.currentEntityName + "/" + self.applicationNumber + "/" + self.workflow;
                    self.$.httpappi.get(url, window.config.services.statusManagement, showLoader).then(function (data) {
                        self.set("status", data.name);
                        self.set("statusCode", data.code);
                        self.set("statusObj", data);
                        if (data && data.reasonsSelected && data.reasonsSelected.length > 0) {
                            data.reasonsSelected.forEach(function (element) {
                                declineReasons.push(data.reasons[_.camelCase(element)]);
                            }, this);
                        }
                        self.set("declineReasons", declineReasons);
                        self._fetchCurrentTagsInfo(showLoader);
                    }).fail(function (e) {
                        console.error("loadAppStatusFromConfig error is ", e);
                    });
                },
                _fetchCurrentTagsInfo: function (showLoader) {
                    var self = this;
                    var url = "/getapplicationtaginfo/" + self.applicationNumber;
                    var loanFilters = window.config.services.applicationFilters;
                    self.$.httpappi.get(url, loanFilters, showLoader).then(function (data) {
                        if (data.tags) {
                            var tags = _.transform(data.tags, function (result, item) {
                                result.push({ name: item.tagName, taggedOn: item.taggedOn.time, filter: self.filterTagMapping[item.tagName] });
                            }, []);
                            self.set("tags", tags);
                        }
                        self._initializeComponentStatus();
                    }).fail(function (e) {
                        self._initializeComponentStatus();
                    });
                },
                _initializeComponentStatus: function () {
                    var self = this;
                    var params = self.$.urlappi.getParams();
                    var componentMap = _.cloneDeep(self.componentMap);
                    var filterActions = self.$.configappi.getConfigurationBasedOnKey("filter-actions");
                    self.set("actionEvents", filterActions.events);
                    self.set("actionMessages", filterActions.messages);
                    self.$.sessionappi.setObject("actionEvents", filterActions.events);
                    if (!_.isUndefined(self.statusCode) && !_.isNull(self.statusCode)) {
                        var actions = self._getActionsByTagAndStatus(filterActions);
                        if (!_.isUndefined(actions)) {
                            var result = _.reduce(componentMap, function (output, value, key) {
                                output[key] = actions.hasOwnProperty(key) ? actions[key] : false;
                                return output;
                            }, {});
                            self.set('componentMap', result);
                        }
                    } else {
                        self._resetComponentMap();
                    }
                    self.set('componentMapUpdated', true);
                },
                _checkTagAndStatus: function (statusCode, tagname) {
                    if ((statusCode === "200.07" && tagname === 'Pending Scheduling') ||
                        (statusCode === "200.05" && tagname === 'Company Unclassified') ||
                        (statusCode === "200.11" && tagname === 'Ready for BankQA') ||
                        (statusCode === "200.04" && tagname === 'Bank Pending') ||
                        (statusCode === "200.04" && tagname === 'Social Pending')) {
                        return true;
                    }
                },
                _getActionsByTagAndStatus: function (FilterData) {
                    var self = this;
                    var statusCode = this.statusCode;
                    var tags = this.tags;
                    var params = this.$.urlappi.getParams();
                    var actions = {};
                    var filterName = params.filter;
                    var EmailUpdatestatusCode = ["200.04", "200.05", "200.06", "200.07"];
                    var tagObj = [];
                    if (tags) {
                        _.forEach(tags, function (o) {
                            if (o.name === 'RBL Followup' || self._checkTagAndStatus(statusCode, o.name)) {
                                tagObj.push(o);
                            }
                        });
                        if (tagObj.length > 0) {
                            _.forEach(tagObj, function (fname) {
                                actions = self.copyJsonObjKeyValue(actions, FilterData[fname.filter]);
                            });
                            return actions;
                        }
                        actions = FilterData[statusCode];
                        //Add Update Official Email Action while in empveri
                        if (filterName === "empveri" && EmailUpdatestatusCode.indexOf(statusCode) !== -1) {
                            actions = self.copyJsonObjKeyValue(actions, FilterData['empveri']);
                        }
                        //Add FCU Sampling Actions 
                        var OpenActionMenu = self.$.configappi.getConfigurationBasedOnKey("product-actions");
                        var obj = _.find(OpenActionMenu, { 'status': statusCode , "Product": params.product ,"filter": params.filter});
                        if (!_.isUndefined(obj) && !_.isNull(obj)) {
                            actions = FilterData[obj.pickAction];
                        }
                        
                        if (filterName === "fcusampled" || filterName === "pendingindusind" || filterName === "pendingfullerton") {
                            actions = FilterData[filterName];
                        }
                        return actions;
                        //}
                    }
                },
                _refreshAppDetails: function (e) {
                    this._updateHash();
                },
                _refreshOnUploadDoc: function (e) {
                    var appDetails = this.$$("#appDetails");
                    appDetails.$$('#docView').init();
                    appDetails.$$('#veriDetails')._loadDocumentReasons();
                },
                _refreshOnAssignmentChange: function (e) {
                    var appDetails = this.$$("#appDetails");
                    appDetails.loadAssignments(true);
                },
                _updateHash: function () {
                    var randomVal = Math.floor(Math.random() * (10000 - 1 + 1)) + 1;
                    var hashStr = window.location.hash;
                    if (hashStr.includes("refresh:")) {
                        var newHash = hashStr.replace(/refresh:\d+/i, "refresh:" + randomVal);
                        window.location.hash = newHash;
                    } else {
                        window.location.hash = hashStr + "/refresh:" + randomVal;
                    }
                    window.location.reload();
                },
                _refreshDataAttributes: function (e) {
                    var self = this;
                    setTimeout(function () {
                        self.loadDataAttributes(false);
                    }, parseInt(self.refreshTimeSpan));
                },
                _refreshScoreCard: function (e) {
                    var self = this;
                    setTimeout(function () {
                        self._loadScoreCardDetails(false);
                    }, parseInt(self.refreshTimeSpan));
                },
                _onFactVerified: function () {
                    var self = this;
                    setTimeout(function () {
                        var appDetails = self.$$("#appDetails");
                        appDetails.$$('#veriDetails')._loadDocumentReasons();
                        self._refreshStatus();
                        self._refreshActivity();
                        self._refreshStatusHistory();
                        self._refreshDocuments();
                    }, parseInt(self.refreshTimeSpan));
                },
                _refreshApplicationData: function (e) {
                    var self = this;
                    setTimeout(function () {
                        self._loadApplicationDetail(false);
                    }, parseInt(self.refreshTimeSpan));
                },
                _refreshStatus: function () {
                    var self = this;
                    setTimeout(function () {
                        self._loadAppStatus(false);
                    }, parseInt(self.refreshTimeSpan));
                },
                _refreshVerificationDashboard: function () {
                    var self = this;
                    setTimeout(function () {
                        self.callChildMethod("veriDetails", "_loadDocumentReasons");
                        self.fire('iron-signal', { name: 'factinitiated', data: null });
                    }, parseInt(self.refreshTimeSpan));
                },
                _refreshStatusHistory: function () {
                    var self = this;
                    setTimeout(function () {
                        self.callChildMethod("statusHistoryComp", "_loadStatusList");
                    }, parseInt(self.refreshTimeSpan));
                },
                _refreshActivity: function () {
                    var self = this;
                    setTimeout(function () {
                        self.callChildMethod("activityListTab", "_reloadActivityList");

                    }, parseInt(self.refreshTimeSpan));
                },
                _refreshUserActivity: function () {
                    var self = this;
                    setTimeout(function () {
                        self.callChildMethod("userActivity", "init");
                    }, parseInt(self.refreshTimeSpan));
                },
                _refreshDocuments: function () {
                    var self = this;
                    setTimeout(function () {
                        self.callChildMethod("docView", "init");
                    }, parseInt(self.refreshTimeSpan));
                },
                _refreshOffers: function () {
                    var self = this;
                    setTimeout(function () {
                        self.callChildMethod("offerView", "init");
                    }, parseInt(self.refreshTimeSpan));
                },
                _refreshcamtab: function () {
                    var self = this;
                    setTimeout(function () {
                        self.callChildMethod("camView", "init");
                    }, parseInt(self.refreshTimeSpan));
                },
                _refreshfcutab: function () {
                    var self = this;
                    setTimeout(function () {
                        self.callChildMethod("fcuView", "init");
                    }, parseInt(self.refreshTimeSpan));
                },
                _showMessage: function (e) {
                    var self = this;
                    if (e.detail.data && e.detail.data.ActionName) {
                        var action = e.detail.data.ActionName;
                        var message = (e.detail.data.Message !== undefined && e.detail.data.Message !== "") ? e.detail.data.Message : self.actionMessages[action];
                        self.$.messageappi.showMessage(message, "INFO", self.$.MessageContainer);
                    } else if (e.detail.data && e.detail.data.Message) {
                        self.$.messageappi.showMessage(e.detail.data.Message, "INFO", self.$.MessageContainer);
                    }
                    self._resetActionItems(e.detail.data.EventData, e.detail.data.CompnentName);
                },
                callChildMethod: function (childId, method) {
                    var appDetails = this.$$("#appDetails");
                    appDetails.$$('#' + childId)[method]();
                },
                _resetActionItems: function (event, componentName) {
                    if (event && componentName) {
                        var componentObj = $(event.target).parents().find(componentName)[0];
                        var siblingObj = $(componentObj).parent().siblings()[0];
                        $(siblingObj).trigger('click');
                    }
                }
            });
        });
    </script>
</dom-module>