<dom-module id="action-center">
    <template>
        <style>
            .tablecontainer {
                margin: 40px auto 0;
            }

            .row {
                margin: 0 auto !important;
            }

            .header-right {
                position: absolute;
                right: 20px;
            }

            .footer-right {
                float: right;
            }

            div#queue_wrapper {
                text-align: center;
            }

            .panel-group .panel {
                border-radius: 0;
                box-shadow: none;
                border-color: #EEEEEE;
            }

            .panel.panel-default {
                margin-bottom: 10px !important;
            }

            .panel-default>.panel-heading {
                padding: 0;
                border-radius: 0;
                color: #ffffff;
                background-color: #03466B;
                border-color: #03466B;
            }

            .panel-default>.panel-heading1 {
                padding: 0;
                border-radius: 0;
                color: #03466B;
                background-color: #ddd;
                border-color: #ddd;
            }

            .panel-title {
                font-size: 14px;
            }

            .panel-title>a {
                display: block;
                padding: 10px;
                text-decoration: none;
            }

            .bold {
                font-weight: 800;
                color: #fff;
            }

            .list-group p {
                color: #fff
            }

            .no-top-margin {
                margin-top: 20px;
            }

            .list-group {
                padding-left: 0;
                margin-bottom: 20px;
                margin-bottom: 0;
            }

            .list-group {
                padding-left: 0;
                margin-bottom: 20px;
                margin-bottom: 0;
            }

            .list-group-item:first-child {
                border-top: none;
                border-right: none;
                border-bottom: none;
                border-left: none;
            }

            .btn-take-action,
            .btn-take-action:hover,
            .btn-take-action:focus,
            .btn-take-action:active {
                color: white;
                background-color: #d9010c;
                border-color: #d9010c;
            }

            .btn-view-now,
            .btn-view-now:hover,
            .btn-view-now:focus,
            .btn-view-now:active {
                background-color: #03426b;
                color: #fff !important;
                border-color: #03426b;
            }

            .b-b {
                border-bottom: 1px solid #e7eaec;
            }

            .b-r {
                border-right: 1px solid #e7eaec;
            }

            .b-l {
                border-left: 1px solid #e7eaec;
            }

            .b-t {
                border-top: 1px solid #e7eaec;
                background: #011a2f;
            }

            .list-group .fa {
                color: #fff;
                font-size: 20px;
                position: absolute;
                top: 10px;
                left: 0;
            }
        </style>

        <template is="dom-if" if="{{_isVisible(actionCentersName)}}">
            <div class="panel-group Accheader-tab" id="daPanel" role="tablist" aria-multiselectable="true" if="{{}}">
                <div id="da" class="panel panel-default">
                    <div class="panel-heading" role="tab" id="daHeading">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#daPanel" href="#daOne" aria-expanded="true" aria-controls="daOne">
                                <i class="fa fa-flash"></i> Action Center
                            </a>
                        </h4>
                    </div>
                    <div id="daOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="daHeading">
                        <div class="panel-body">
                            <div class="panel-group" id="report" role="tablist" aria-multiselectable="true">
                                <template is="dom-repeat" items="{{actionCentersName}}" as="productname">
                                    <template is="dom-if" if="{{_getproductname(productname)}}">
                                        <h4 class="panel-title">
                                            <a role="button">
                                                <i class="fa fa-flash"></i> {{productname}}
                                            </a>
                                        </h4>
                                    </template>
                                    <div class="row">
                                        <template is="dom-repeat" items="{{_getActionList(actionCentersList,productname)}}" as="action">
                                            <template is="dom-if" if="{{hasRole(action.displayText)}}">
                                                <div class$="{{action.displayColumnClass}}">
                                                    <ul class="list-group text-center">
                                                        <a href="{{action.redirectUrl}}">
                                                            <li class="list-group-item">
                                                                <i class$="{{action.btnClass}}"></i> {{_getRecords(action)}}
                                                                <h1 class="bold no-top-margin ">
                                                                    <span id$="{{action.recordsId}}">0</span>
                                                                </h1>
                                                                <p>{{action.displayText}}</p>
                                                            </li>
                                                        </a>
                                                    </ul>
                                                </div>
                                            </template>
                                        </template>
                                        <br/>
                                    </div>
                                </template>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </template>

        <url-parser id="urlaction"></url-parser>
        <http-request id="httpsaction"></http-request>
        <alloy-config id="configaction"></alloy-config>
        <auth-service id="authorizenavn"></auth-service>
        <session-manager id="sessionAction"></session-manager>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "action-center",
                properties: {
                    refreshActionCenter: {
                        type: String,
                        notify: true,
                        reflectToAttribute: true,
                        observer: "_refreshData"
                    },
                    actionCentersName: {
                        type: Array,
                        notify: true,
                        reflectToAttribute: true
                    },
                    actionCentersList: {
                        type: Object,
                        notify: true,
                        value: {},
                        reflectToAttribute: true
                    },
                    actioncenerhide: {
                        type: Boolean,
                        notify: true,
                        value: false
                    }
                },
                _isVisible: function (actionCenter) {
                    var self = this;
                    if (actionCenter !== undefined && actionCenter !== null && actionCenter !== "" &&
                        actionCenter.length > 0) {
                        return true;
                    } else {
                        return false;
                    }
                },
                _refreshData: function (objArgs) {
                    var self = this;
                    if (objArgs !== "") {
                        self._loadData();
                    }
                },
                formatDate: function (date) {
                    if (date !== undefined) {
                        return moment(date).format(COUNTRY[window.config.country].DATE_FORMAT.DATE);
                    }
                    return "";
                },
                _getproductname: function (pname) {
                    if (pname != "SYSTEM")
                        return true;
                    else
                        return false;
                },
                _getActionList: function (_actionCentersList, _productname) {
                    return _actionCentersList[_productname];
                },
                ready: function () {
                    var self = this;
                    self._loadData();
                },
                _loadData: function () {
                    var self = this;
                    self.set('actionCentersList', "");
                    self.set('actionCentersName', "");
                    var actionCenterName = _.cloneDeep(self.$.configaction.getConfigurationBasedOnKey(
                        "actionCenterName"));
                    var actionCenter = _.cloneDeep(self.$.configaction.getConfigurationBasedOnKey(
                        "actionCenter"));
                    self.set('actionCentersList', $.extend({}, actionCenter));
                    self.set('actionCentersName', $.extend([], actionCenterName));
                },
                hasRole: function (compName) {
                    compName = compName + "Filters";
                    return this.$.authorizenavn.hasRole(compName);
                },
                _getRecords: function (onjAction) {
                    var self = this;
                    var payload = {};
                    $.ajax({
                        url: window.config.services.savedFilters + '/' + onjAction.entityType +
                            '/' + onjAction.searchName + '/' + onjAction.filterName +
                            '?pageSize=1&page=1',
                        type: 'POST',
                        contentType: 'application/json',
                        data: JSON.stringify(payload),
                        headers: {
                            'Authorization': "Bearer " + self.$.sessionAction.get('token')
                        },
                        complete: function (data) {
                            var recordsTotal = parseInt(data.getResponseHeader(
                                'X-TOTAL-COUNT'));
                            if (isNaN(recordsTotal)) {
                                recordsTotal = 0;
                            }
                            $('#' + onjAction.recordsId).text(recordsTotal);
                        }
                    });
                }
            });
        });
    </script>
</dom-module>