<dom-module id="borrower-business-info">
    <template>
        <style>
            .subheader {
                height: 1px;
                color: #03466B;
                background-color: #ddd;
            }

            .header {
                font-size: 12px;
                font-weight: 700;
                color: white;
                background-color: #03466B;
                height: 30px;
            }

            address {
                margin-bottom: 20px;
                font-style: normal;
                line-height: 1.42857143;
            }

            strong {
                display: block;
            }

            .a-map-marker {
                font-size: 14px;
            }

            .modal-dialog {
                margin: 10% auto;
                width: 700px !important;
            }

            .set-vertical-height {
                height: 450px;
                overflow-y: auto;
                overflow-x: hidden;
            }

            .fixRow {
                display: inline-block !important;
                margin: 0px 0px !important;
                width: 15% !important;
            }

            .borderHeight {
                padding: 8px;
                vertical-align: top;
                border-bottom: 1px solid #ddd;
                height: 50px;
            }

            .leftpadding {
                padding-left: 0px;
                border-bottom: 1px solid #ddd;
                height: 35px;
                margin-top: 10px;
            }

            .leftpaddingPersonal {
                padding-left: 0px;
                height: auto;
                margin-top: 10px;
            }

            .tdpadding {
                padding-top: 0px;
                padding-bottom: 0px;
            }
        </style>
        <div class="row">
            <div class="col-sm-12">
                <table class="table">
                    <tr>
                        <th colspan="6" class="header">
                            {{_displayDefaultIfNull(application.businessName)}}</th>
                    </tr>
                    <tr>
                        <td colspan="6" class="tdpadding">
                            <div class="col-sm-2 leftpadding">
                                <b>Borrower Id</b>
                            </div>
                            <div class="col-sm-6 leftpadding">
                                {{loanData.borrowerId}}
                            </div>
                            <div class="col-sm-2 leftpadding">
                                <b>Borrower Since</b>
                            </div>
                            <div class="col-sm-2 leftpadding">
                                {{onlyDate(borrowerSince)}}
                            </div>
                            <div class="col-sm-2 leftpadding">
                                <b>Address</b>
                            </div>
                            <div class="col-sm-6 leftpadding">
                                {{GetAddress(application.address)}}
                            </div>
                            <div class="col-sm-2 leftpadding">
                                <b>Phone</b>
                            </div>
                            <div class="col-sm-2 leftpadding">
                                {{_phoneFormat(application.phone.phoneNo)}}
                            </div>
                            <div class="col-sm-2 leftpadding">
                                <b>Email</b>
                            </div>
                            <div class="col-sm-6 leftpadding">
                                {{_displayDefaultIfNull(application.email.emailAddress)}}
                            </div>
                            <div class="col-sm-2 leftpadding">
                                <b>Established Date</b>
                            </div>
                            <div class="col-sm-2 leftpadding">
                                {{ onlyDate(application.establishedDate.time)}}
                            </div>
                            <template is="dom-repeat" items="{{businessIdentifiers}}" as="doc" index-as="indx">
                                <div class="col-sm-2 leftpadding">
                                    <b>{{getDisplayValue(doc.type)}}</b>
                                </div>
                                <div class="col-sm-2 leftpadding">
                                    {{doc.id}}
                                </div>
                            </template>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <custom-modal id="editBorrowerModalFromBusiness" class="modal-drop" on-modal-hidden="resetPersonal">
            <div>
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title">Edit Personal Details</h4>
                        </div>
                        <div class="modal-body set-vertical-height">
                            <div id="PersonalMessageContainer"></div>
                            <edit-borrower id="personalInfo" is-primary="true"
                                application-number="{{applicationNumber}}" applicant-detail="{{applicantDetail}}"
                                action-done="{{actionDone}}"></edit-borrower>
                        </div>
                    </div>
                </div>
            </div>
        </custom-modal>
        <auth-service id="authorizeloanbi"></auth-service>
        <alloy-config id="config"></alloy-config>
        <lookup-service id="lookup"></lookup-service>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "borrower-business-info",
                properties: {
                    borrowerSince: {
                        type: Date,
                        notify: true,
                        reflectToAttribute: true
                    },
                    actionDone: {
                        type: String,
                        notify: true,
                        reflectToAttribute: true,
                        observer: "hideModal"
                    },
                    applicationNumber: {
                        type: String,
                        notify: true,
                        reflectToAttribute: true
                    },
                    applicantDetail: {
                        type: Object,
                        notify: true,
                        reflectToAttribute: true
                    },
                    application: {
                        type: Object,
                        notify: true,
                        value: {}
                    },
                    applicant: {
                        type: Object,
                        notify: true,
                        value: {}
                    },
                    loanData: {
                        type: Object,
                        notify: true,
                        observer: "init"
                    },
                    businessIdentifiers: {
                        type: Array,
                        notify: true
                    },
                    personalIdentifiers: {
                        type: Array,
                        notify: true
                    },
                    configKeyValue: {
                        type: Array,
                        notify: true
                    },
                    stateLookup: {
                        type: Object,
                        notify: true,
                        value: []
                    }
                },
                date: function (date) {
                    if (!_.isNull(date) && !_.isUndefined(date) && !_.isEmpty(date)) {
                        return formats.onlyDate(date, window.config.country);
                    }
                    return "NA";
                },
                years: function (date) {
                    if (!_.isNull(date) && !_.isUndefined(date) && !_.isEmpty(date)) {
                        return formats.round(moment().diff(date, 'years', true), 1);
                    }
                    return "NA";
                },
                _checkIfValue: function (value) {
                    if (!_.isNull(value) && !_.isUndefined(value) && !_.isEmpty(value)) {
                        return value;
                    }
                    return "NA";
                },
                _getFullBusinessAddess: function (businessAddress) {
                    var address = '';
                    if (businessAddress && businessAddress != null) {
                        address = this._checkNullUndefined(businessAddress.addressLine1) + ' ' +
                            this._checkNullUndefined(businessAddress.addressLine2) + ' ' +
                            this._checkNullUndefined(businessAddress.city) + ' ' +
                            this._checkNullUndefined(businessAddress.state) + ' ' +
                            this._checkNullUndefined(businessAddress.zip);
                    } else {
                        address = "NA";
                    }
                    return address;
                },
                _checkIfEmptyObject: function (obj) {
                    return Object.keys(obj).length === 0 && obj.constructor === Object;
                },
                _checkNullUndefined: function (obj) {
                    if (obj && obj != null) {
                        return obj;
                    }
                    return '';
                },
                _displayDefaultIfNull: function (obj) {
                    return obj !== null ? obj : "NA";
                },
                init: function () {
                    var self = this;
                    var state = self.$.lookup.getLookupBasedOnName("state");
                    self.set('stateLookup', state);
                    var config = self.$.config.getConfigurationBasedOnKey("businessPersonalKeyValue");
                    self.set("configKeyValue", config);
                    self._loadApplicantDetails();
                },
                _loadApplicantDetails: function () {
                    var self = this;
                    if (self.loanData != undefined) {
                        self.set('applicant', self.loanData.primaryApplicantDetails);
                        self.set('application', self.loanData.primaryBusinessDetails);
                        var defaultArray = [];
                        var defaultArrayPersonal = [];
                        var blankStructure = {
                            "type": "",
                            "id": ""
                        };

                        if (self.loanData !== undefined && self.loanData.primaryBusinessDetails !==
                            undefined && self.loanData.primaryBusinessDetails !== null && self.loanData.primaryBusinessDetails.businessIdentifiers !== undefined && self.loanData.primaryBusinessDetails.businessIdentifiers !== null) {
                            var businessDetails = _.cloneDeep(self.loanData.primaryBusinessDetails.businessIdentifiers);
                            while (businessDetails.length) {
                                var subArray = businessDetails.splice(0, 3);
                                _.forEach(subArray, function (item) {
                                    if (item.type === "Aadhaar") {
                                        defaultArray.push({
                                            "type": item.type,
                                            "id": self.aadhar(item.id)
                                        });
                                    } else {
                                        defaultArray.push(item);
                                    }
                                });
                                for (let i = 0; i < (3 - subArray.length); i++) {
                                    defaultArray.push(blankStructure);
                                }
                            }
                        }
                        if (self.loanData !== undefined && self.loanData.primaryApplicantDetails !==
                            undefined && self.loanData.primaryApplicantDetails !== null &&
                            self.loanData.primaryApplicantDetails.pii.personalIdentifiers !== undefined && self.loanData.primaryApplicantDetails.pii.personalIdentifiers !== null) {
                            var personaldetails = _.cloneDeep(self.loanData.primaryApplicantDetails.pii.personalIdentifiers);
                            while (personaldetails.length) {
                                var subArray = personaldetails.splice(0, 3);
                                _.forEach(subArray, function (item) {
                                    if (item.type === "Aadhaar") {
                                        defaultArrayPersonal.push({
                                            "type": item.type,
                                            "id": self.aadhar(item.id)
                                        });
                                    } else {
                                        defaultArrayPersonal.push(item);
                                    }
                                });
                                for (let i = 0; i < (3 - subArray.length); i++) {
                                    defaultArrayPersonal.push(blankStructure);
                                }
                            }
                        }
                        self.set("businessIdentifiers", defaultArray);
                        self.set("personalIdentifiers", defaultArrayPersonal);
                    }
                },
                aadhar: function (aadhar) {
                    var self = this;
                    return formats.aadhar(aadhar, window.config.country);
                },
                _generateGoogleMapLink: function (address) {
                    var fullAddr = this._getFullBusinessAddess(address);
                    const baseUrl = "https://maps.google.com/maps?q=";
                    var encodedAddr = encodeURIComponent(fullAddr);
                    return baseUrl + encodedAddr;
                },
                hasRole: function (compName) {
                    return this.$.authorizeloanbi.hasRole(compName);
                },
                GetAddress: function (Address) {
                    var self = this;
                    if (Address && Address != null && Address != undefined) {
                        var FinalAddress = "";
                        var state = Address.state;
                        if (self.stateLookup && self.stateLookup.length > 0 && Address.state !== null) {
                            var obj = _.find(self.stateLookup, ['key', Address.state]);
                            if (obj !== undefined)
                                state = obj.value || "";
                        }
                        if (!_.isUndefined(Address.addressLine2) && !_.isNull(Address.addressLine2) &&
                            !_.isEmpty(Address.addressLine2)) {
                            FinalAddress = Address.addressLine1 + ", " + Address.addressLine2 +
                                ", " + Address.city + ", " + state + ", " + Address.zip;
                            return FinalAddress;
                        } else {
                            FinalAddress = Address.addressLine1 + ", " + Address.city + ", " +
                                state + ", " + Address.zip;
                            return FinalAddress;
                        }
                    } else {
                        return "NA";
                    }
                },
                checkPortfolioType: function (objType) {
                    var self = this;
                    if (self.loanData && self.loanData.productPortfolioType != "MCA" && self.loanData
                        .productPortfolioType != "MCALOC") {
                        return true;
                    }
                    return false;
                },
                getName: function () {
                    var self = this;
                    if (!_.isUndefined(self.applicant) && !_.isNull(self.applicant) && !_.isEmpty(
                        self.applicant)) {
                        return self.applicant.name.salutation + " " + self.applicant.name.first +
                            " " + self.applicant.name.middle + " " + self.applicant.name.last;
                    } else
                        return "";
                },
                _Email: function (emailObj) {
                    return emailObj !== null ? emailObj : "NA";
                },
                _formateSSN: function (data) {
                    return formats.ssn(data, window.config.country);
                },
                editPersonalInfo: function (event) {
                    var self = this;
                    var applicantId = event.target.dataArg;
                    self.set("applicantDetail", self.applicant);
                    self.$$('#editBorrowerModalFromBusiness').showModal();
                },
                resetPersonal: function () {
                    var self = this;
                    self.actionDone = "";
                    self.applicantDetail = {};
                },
                hideModal: function (obj) {
                    var self = this;
                    if (obj === "Done") {
                        self.$$('#editBorrowerModalFromBusiness').hideModal();
                    }
                },
                _checkisActive: function (objIsActive) {
                    return objIsActive === true;
                },
                _phoneFormat: function (phone) {
                    return formats.phone(phone, window.config.country);
                },
                onlyDate: function (date) {
                    if (!_.isNull(date) && !_.isUndefined(date) && !_.isEmpty(date)) {
                        return formats.onlyDate(date, window.config.country);
                    }
                    return "NA";
                },
                getDisplayValue: function (objType) {
                    var self = this;
                    var output = _.find(self.configKeyValue, ['key', objType]);
                    if (output)
                        return output.value;
                    else
                        return objType;

                }
            });
        });
    </script>
</dom-module>