<html-import html-href="borrower/borrower-business-info.html"></html-import>
<html-import html-href="borrower/borrower-personal-info.html"></html-import>
<html-import html-href="borrower/borrower-additional-borrower.html"></html-import>
<html-import html-href="loan-details-tab/borrower-loans.html"></html-import>
<dom-module id="borrower-detail">
    <template>
        <style>
            .tab-pane {
                padding-top: 5px !important;
            }

            .header {
                font-size: 20px !important;
            }

            .title-case {
                text-transform: capitalize;
                margin: 10px auto;
            }

            .top-tabs {
                padding: 15px 0 !important;
            }

            .appTabs li a {
                padding: 14px !important;
            }

            .header .col-md-7,
            .header .col-md-5 {
                padding: 0 !important;
            }

            .nav-tabs>li.active>a,
            .nav-tabs>li.active>a:hover,
            .nav-tabs>li.active>a:focus {
                color: #555555 !important;
                cursor: default;
                background: white;
                border-bottom: #f3f3f4;
                border-color: #dddddd #dddddd rgba(0, 0, 0, 0);
                border-image: none;
                border-style: solid;
                border-width: 1px;
                -moz-border-bottom-colors: none;
                -moz-border-left-colors: none;
                -moz-border-right-colors: none;
                -moz-border-top-colors: none;
            }

            .tabBorder {
                border-top: solid gray 1px;
            }

            .nav-tabs,
            .tab-content {
                display: none;
            }
        </style>
        <div class="row">
            <div class="wrapper wrapper-content col-md-9">
                <div class="ibox float-e-margins loan-summary">
                    <div class="ibox-title">
                        <div class="row header title-case">
                            <div class="col-md-12">
                                {{GetName(loanData)}}<strong>-</strong> Borrower : {{borrowerId}}
                            </div>
                        </div>
                    </div>
                    <div class="ibox-content" style="padding: 15px;">
                        <ul class="nav nav-tabs appTabs" role="tablist" id="topTabsList">
                            <template is="dom-repeat" items="{{borrowerDetailsTopTabList}}" as="LoanTab"
                                id="topRepeater">
                                <li role="presentation">
                                    <a href="{{LoanTab.target}}" role="tab" data-toggle="tab" data-model$="{{LoanTab}}"
                                        title="{{getTooltip(LoanTab.toolTip)}}">{{GetBorrowerTitle(LoanTab.tabDisplayName,LoanTab.role)}}</a>
                                </li>
                            </template>
                        </ul>
                        <div class="tab-content tabBorder">
                            <div role="tabpanel" class="tab-pane" id="businessinfo">
                                <borrower-business-info id="businessInfoTemplate"
                                    application-number="{{applicationNumber}}" loan-data="{{loanData}}"
                                    borrower-since="{{borrowerSince}}"></borrower-business-info>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="PersonalInfo">
                                <borrower-personal-info id="personal-info" application-number="{{applicationNumber}}"
                                    loan-data="{{loanData}}"
                                    fire-event="{{getEvents('UpdatePersonalInfo',actionEvents)}}"
                                    borrower-since="{{borrowerSince}}"></borrower-personal-info>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="AdditionalBorrower">
                                <borrower-additional-borrower id="AdditionalBorrower-detail"
                                    application-number="{{applicationNumber}}" loan-data="{{loanData}}">
                                </borrower-additional-borrower>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ibox-content" style="padding: 15px;">
                    <ul class="nav nav-tabs appTabs" id="bottomTabsList">
                        <template is="dom-repeat" items="{{borrowerDetailsBottomTabList}}" as="LoanbottomTab">
                            <li role="presentation">
                                <a href="{{LoanbottomTab.target}}" role="tab" data-toggle="tab"
                                    data-model$="{{LoanbottomTab}}" title="{{getTooltip(LoanbottomTab.toolTip)}}">
                                    <i aria-hidden="true"
                                        class$="{{LoanbottomTab.class}}"></i>{{LoanbottomTab.tabDisplayName}}</a>
                            </li>
                        </template>
                    </ul>
                    <div class="tab-content tabBorder">
                        <div role="tabpanel" class="tab-pane" id="borrowerLoanInfo">
                            <borrower-loans id="borrowerLoanInfoTemplate" application-number="{{applicationNumber}}"
                                loan-data="{{loanData}}" borrower-since="{{borrowerSince}}"></borrower-loans>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wrapper wrapper-content col-md-3">
            </div>
        </div>
        <url-parser id="urlloand"></url-parser>
        <alloy-config id="configloand"></alloy-config>
        <auth-service id="authorizeloand"></auth-service>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "borrower-detail",
                properties: {
                    borrowerSince: {
                        type: Date,
                        notify: true,
                        reflectToAttribute: true
                    },
                    borrowerId: {
                        type: String,
                        notify: true
                    },
                    applicationNumber: {
                        type: String,
                        notify: true,
                        reflectToAttribute: true
                    },
                    loanData: {
                        type: Object,
                        notify: true,
                        reflectToAttribute: true
                    },
                    copyLoanData: {
                        type: Object,
                        notify: true,
                        reflectToAttribute: true,
                        observer: "generateMenu"
                    },
                    currentEntityName: {
                        type: String,
                        notify: true,
                        value: 'loan'
                    },
                    loanApplication: {
                        type: String,
                        notify: true,
                        reflectToAttribute: true
                    },
                    borrowerDetailsTopTabList: {
                        type: Array,
                        notify: true,
                        reflectToAttribute: true
                    },
                    borrowerDetailsBottomTabList: {
                        type: Array,
                        notify: true,
                        reflectToAttribute: true
                    }
                },
                hasRole: function (compName) {
                    return this.$.authorizeloand.hasRole(compName);
                },
                ready: function () {
                    var self = this;
                    self.init();
                },
                init: function () {
                    var self = this;
                    var params = self.$.urlloand.getParams();
                    if (params.hasOwnProperty('entity')) {
                        self.set('currentEntityName', params.entity);
                    }
                    self.set("borrowerId", params.BorrowerId);
                    self.set('applicationNumber', params.loanId);
                },
                processTabListData: function (loanData) {
                    var self = this;
                    var params = self.$.urlloand.getParams();
                    var processedTopTab = [];
                    var BorrowerDetailsTopTabList = self.$.configloand.getConfigurationBasedOnKey("BorrowerDetailsTopTabList");
                    _.forEach(BorrowerDetailsTopTabList, function (item) {
                        var hasPermission = self.hasRole(item.role);
                        var displayTab = self.isIndividualOrBusiness(item.displayIn, loanData);
                        if (item && item.isVisible === true && hasPermission === true && displayTab === true) {
                            if (params.LoanType === item.displayIn) {
                                item.isDefault = true;
                            }
                            else if (params.LoanType === "Individual" && item.role === "PersonalInfoTab") {
                                item.isDefault = true;
                            }
                            processedTopTab.push(item);
                        }
                    });
                    self.set('borrowerDetailsTopTabList', processedTopTab);
                    var BorrowerDetailsBottomTabList = self.$.configloand.getConfigurationBasedOnKey("BorrowerDetailsBottomTabList");
                    var processedBottomTab = [];
                    _.forEach(BorrowerDetailsBottomTabList, function (item) {
                        if (item && item.isVisible === true && self.hasRole(item.role)) {
                            processedBottomTab.push(item);
                        }
                    });
                    self.set('borrowerDetailsBottomTabList', processedBottomTab);
                    setTimeout(() => {
                        self.initJqueryTabEvents();
                    }, 2500);
                },
                getTooltip: function (compName) {
                    var tooltip = this.$.authorizeloand.getToolTip(compName, "");
                    return tooltip.data;
                },
                GetName: function () {
                    var self = this;
                    if (!_.isUndefined(self.loanData) && !_.isUndefined(self.loanData.primaryBusinessDetails) && !_.isNull(self.loanData.primaryBusinessDetails) && !_.isEmpty(self.loanData.primaryBusinessDetails)) {
                        return self.loanData.primaryBusinessDetails.businessName + " " + ((self.loanData.primaryBusinessDetails.dba !== null) ? self.loanData.primaryBusinessDetails.dba : "");
                    }
                    else if (!_.isUndefined(self.loanData) && !_.isUndefined(self.loanData.primaryApplicantDetails) && !_.isNull(self.loanData.primaryApplicantDetails) && !_.isEmpty(self.loanData.primaryApplicantDetails)) {
                        return self.loanData.primaryApplicantDetails.name.salutation + " " + self.loanData.primaryApplicantDetails.name.first + " " + self.loanData.primaryApplicantDetails.name.middle + " " + self.loanData.primaryApplicantDetails.name.last;
                    }
                    return "";
                },
                initJqueryTabEvents: function () {
                    var self = this;
                    $(document).ready(function () {
                        self.setDefaultTabs();
                        $('.appTabs a').off('click').on('click', function tabClickHandler(e) {
                            e.stopPropagation();
                            e.preventDefault();
                            $(this).tab('show');
                            var modelData = $(this).data('model');
                            self.$$(modelData.elementId).init();
                        });
                    });
                },
                isIndividualOrBusiness: function (objData, loanData) {
                    var self = this;
                    if (objData === "Business" && loanData && loanData.productCategory == "Business") {
                        return true;
                    }
                    else if (objData === "Individual" && loanData && loanData.productCategory == "Individual") {
                        return true;
                    }
                    else if (objData === "All") {
                        return true;
                    }
                    else if (objData === "ExceptMCA" && loanData && (loanData.productPortfolioType != "MCA" && loanData.productPortfolioType != "MCALOC")) {
                        return true;
                    }
                    else if (objData === "SCF" && loanData && (loanData.productPortfolioType === "SCF")) {
                        return true;
                    }
                    else {
                        return false;
                    }
                },
                formatDate: function (date) {
                    return moment(date).format("YYYY-MM-DD");
                },
                GetBorrowerTitle: function (tabDisplayName, tabeName) {
                    var self = this;
                    if (tabeName === "AdditionalBorrowerTab") {
                        if (self.loanData && self.loanData.productCategory == "Business") {
                            return 'Additional Owners';
                        }
                        else {
                            return 'Additional Borrowers';
                        }
                    }
                    else { return tabDisplayName; }
                },
                setDefaultTabs: function () {
                    var self = this;
                    var topTabs = _.cloneDeep(self.borrowerDetailsTopTabList);
                    var bottomTabs = _.cloneDeep(self.borrowerDetailsBottomTabList);
                    var defaultTopTab = _.find(topTabs, ["isDefault", true]);
                    var defaultbottomTab = _.find(bottomTabs, ["isDefault", true]);
                    var params = self.$.urlloand.getParams();
                    if ($("#topTabsList li.active").length === 0) {
                        $('#topTabsList').scrollingTabs("destroy");
                        $('#topTabsList').scrollingTabs().off('ready.scrtabs').on('ready.scrtabs', function () {
                            $('.tab-content').show();
                        });
                        if (params.bureauFile !== undefined && params.bureauFile !== null) {
                            $('.appTabs a[href="#BureauTab"]').click();
                        }
                        else if (defaultTopTab !== undefined) {
                            setTimeout(() => {
                                $('.appTabs a[href="' + defaultTopTab.target + '"]').click();
                            }, 1200);
                        }
                    }
                    if ($("#bottomTabsList li.active").length === 0) {
                        $('#bottomTabsList').scrollingTabs("destroy");
                        $('#bottomTabsList').scrollingTabs().off('ready.scrtabs').on('ready.scrtabs', function () {
                            $('.tab-content').show();
                        });
                        if (defaultbottomTab !== undefined) {
                            setTimeout(() => {
                                $('.appTabs a[href="' + defaultbottomTab.target + '"]').click();
                            }, 1200);
                        }
                    }
                    $('#topTabsList').scrollingTabs("refresh");
                    $('#bottomTabsList').scrollingTabs("refresh");
                },
                getEvents: function (action, actionEvents) {
                    var self = this;
                    if (self.actionEvents && !_.isEmpty(self.actionEvents)) {
                        var event = self.actionEvents[action];
                        return event;
                    }
                },
                generateMenu: function (loanData) {
                    var self = this;
                    if (self.copyLoanData) {
                        self.set('loanApplication', self.copyLoanData.loanApplicationNumber);
                        self.processTabListData(self.copyLoanData);
                    }
                }
            });
        });
    </script>
</dom-module>