<html-import html-href="borrower/borrower-details.html">
</html-import>
<dom-module id="borrower-details-home">
    <template>
        <help-text></help-text>
        <breadcrumb-links></breadcrumb-links>
        <borrower-detail id="borrowerDetails" application-number="{{applicationNumber}}"
            action-events="{{actionEvents}}" loan-data="{{loanData}}" copy-loan-data="{{copyLoanData}}">
        </borrower-detail>
        <url-parser id="urlloani"></url-parser>
        <http-request id="httploani"></http-request>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "borrower-details-home",
                properties: {
                    applicationNumber: {
                        type: String,
                        notify: true,
                        reflectToAttribute: true
                    },
                    loanData: {
                        type: Object,
                        notify: true,
                        reflectToAttribute: true
                    },
                    copyLoanData: {
                        type: Object,
                        notify: true,
                        reflectToAttribute: true
                    },
                    currentEntityName: {
                        type: String,
                        notify: true,
                        value: 'loan'
                    },
                    actionEvents: {
                        type: Object,
                        notify: true,
                        value: {}
                    },
                },
                ready: function () {
                    var self = this;
                    if (window.jQuery) {
                        self.init()();
                    } else {
                        window.addEventListener("WebComponentsReady", self.init());
                    }
                },
                init: function () {
                    var self = this;
                    var showSpinner = true;
                    return function () {
                        var params = self.$.urlloani.getParams();
                        self.set("applicationNumber", params.loanId);
                        if (params.hasOwnProperty('entity')) {
                            self.set('currentEntityName', params.entity);
                        }
                        self.loadData(showSpinner);
                    }
                },
                loadData: function (showSpinner) {
                    var self = this;
                    var lmsService = window.config.services.lmsService;
                    var url = "/" + self.applicationNumber;
                    self.$.httploani.get(url, lmsService, showSpinner).then(function (data) {
                        if (data) {
                            self.set("loanData", data);
                            var copyLoanData = _.cloneDeep(self.loanData);
                            self.set("copyLoanData", copyLoanData);
                        }
                    }).fail(function (e) {
                        console.error("Load Loan Data error is ", e);
                    });
                }
            });
        });
    </script>
</dom-module>