<dom-module id="borrower-search">
    <template>
        <style>
            .tablecontainer {
                margin: 40px auto 0;
            }

            .row {
                margin: 0 auto !important;
            }

            .header-right {
                position: absolute;
                right: 20px;
            }

            .footer-right {
                float: right;
            }

            div#queue_wrapper {
                text-align: center;
            }
        </style>
        <div class="row">
            <breadcrumb-links show-content="true"></breadcrumb-links>
        </div>
        <div class="row">
            <div id="LoanMessageContainer"></div>
            <form is="iron-form" class="form-horizontal" name="borrowerSearchForm">
                <dynamic-form form-configuration={{borrowerSearchObj}} values="{{borrowerSearchObj.values}}">
                </dynamic-form>
                <br />
                <button class="btn btn-primary activity-action-btn" on-click="_borrowerVerifyForm"
                    raised>Search</button>
            </form>
        </div>
        <div class="row tablecontainer" id="tablecontainer">
            <div id="borrowerTableContainer">
                <table id="borrowerSearchData" class="table table-striped" width="100%" cellspacing="0"></table>
            </div>
        </div>
        <url-parser id="urlsBorrower"></url-parser>
        <http-request id="httpsBorrower"></http-request>
        <alloy-config id="configsBorrower"></alloy-config>
        <session-manager id="sessionsBorrower"></session-manager>
        <message-component id="messageloani"></message-component>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "borrower-search",
                properties: {
                    filterConfig: {
                        type: Array,
                        notify: true
                    },
                    tableObj: {
                        type: Object,
                        notify: false
                    },
                    currentEntityName: {
                        type: String,
                        notify: true,
                        value: 'loan'
                    },
                    statusListForSearch: {
                        type: Array,
                        value: []
                    },
                    searchReqObj: {
                        type: Object,
                        notify: true,
                        value: {
                            searchFilterView: [],
                            inTagsSearch: [],
                            notInTagsSearch: [],
                            operator: "and",
                            projections: "",
                            sorts: ""
                        }
                    },
                    borrowerSearchObj: {
                        type: Object,
                        notify: true
                    },
                    borrowerSearchObjDefault: {
                        type: Object,
                        notify: true,
                        value: {
                            controls: {
                                BorrowerId: {
                                    label: "Borrower Id",
                                    type: "textbox",
                                    class: "twoColumn",
                                    validations: {
                                        required: false,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false,
                                    }
                                },
                                PrimaryApplicantPhoneNo: {
                                    label: "Phone Number",
                                    type: "textbox",
                                    class: "twoColumn",
                                    validations: {
                                        required: false,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false,
                                        minLen: 0,
                                        maxLen: 10
                                    }
                                },

                                PrimaryApplicantFirstName: {
                                    label: "First Name",
                                    type: "textbox",
                                    class: "twoColumn",
                                    validations: {
                                        required: false,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false,
                                        minLen: 0,
                                        maxLen: 40
                                    }
                                },
                                PrimaryApplicantLastName: {
                                    label: "Last Name",
                                    type: "textbox",
                                    class: "twoColumn",
                                    validations: {
                                        required: false,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false,
                                        minLen: 0,
                                        maxLen: 80
                                    }
                                },
                                BorrowerPan: {
                                    label: "Borrower Pan",
                                    type: "textbox",
                                    class: "twoColumn",
                                    validations: {
                                        required: false,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false,
                                    }
                                },
                                BorrowerAadhaar: {
                                    label: "Borrower Aadhaar",
                                    type: "textbox",
                                    class: "twoColumn",
                                    validations: {
                                        required: false,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false,
                                    }
                                },
                                PrimaryBusinessName: {
                                    label: "Business Name",
                                    type: "textbox",
                                    class: "twoColumn",
                                    validations: {
                                        required: false,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false,
                                        minLen: 0,
                                        maxLen: 80
                                    }
                                },
                                PrimaryBusinessPhoneNo: {
                                    label: "Business PhoneNo",
                                    type: "textbox",
                                    class: "twoColumn",
                                    validations: {
                                        required: false,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false,
                                        minLen: 0,
                                        maxLen: 10
                                    }
                                }
                            },
                            values: {
                                BorrowerId: "",
                                PrimaryApplicantPhoneNo: "",
                                PrimaryApplicantFirstName: "",
                                PrimaryApplicantLastName: "",
                                BorrowerPan: "",
                                BorrowerAadhaar: "",
                                PrimaryBusinessName: "",
                                PrimaryBusinessPhoneNo: ""
                            }
                        }
                    }
                },
                ready: function () {
                    var self = this;
                    var SearchBorrowerForm = self.$.configsBorrower.getConfigurationBasedOnKey("SearchBorrowerForm");
                    if (SearchBorrowerForm !== undefined) {
                        self.set('borrowerSearchObj', SearchBorrowerForm);
                    }
                    else {
                        self.set('borrowerSearchObj', self.borrowerSearchObjDefault);
                    }
                    var urlParams = self.$.urlsBorrower.getParams();
                    if (urlParams.hasOwnProperty('entity')) {
                        self.set('currentEntityName', urlParams.entity);
                    }
                },
                getData: function (searchFilterView) {
                    var self = this;
                    var searchReqObj = self.searchReqObj;
                    searchReqObj.searchFilterView = searchFilterView;
                    searchReqObj.sorts = { "BorrowerId": -1 };
                    self.$.httpsBorrower.post('/' + self.currentEntityName + '/search-loans/?pageSize=1000&page=1', searchReqObj, window.config.services.savedFilters).then(function (data) {
                        var activeLoans = _.reject(data, {
                            StatusName: "Closed"
                        });
                        self.processData(activeLoans);
                    }).fail(function (e) {
                        self._showResult([]);
                        console.log(e);
                    });
                },
                processData: function (data) {
                    var self = this;
                    var finalData = [];
                    const groupData = _.groupBy(data, function (n) {
                        return n.BorrowerId;
                    });
                    _.forEach(groupData, function (borrowers) {
                        var TotalPrincipalOutStanding = _.sumBy(borrowers, 'PBOT.TotalPrincipalOutStanding');
                        var TotalInterestOutstanding = _.sumBy(borrowers, 'PBOT.TotalInterestOutstanding');
                        var TotalFeeOutstanding = _.sumBy(borrowers, 'PBOT.TotalFeeOutstanding');
                        TotalPrincipalOutStanding = (TotalPrincipalOutStanding === undefined) ? 0 : TotalPrincipalOutStanding;
                        TotalInterestOutstanding = (TotalInterestOutstanding === undefined) ? 0 : TotalInterestOutstanding;
                        TotalFeeOutstanding = (TotalFeeOutstanding === undefined) ? 0 : TotalFeeOutstanding;
                        var FinalAmout = parseFloat(TotalPrincipalOutStanding) + parseFloat(TotalInterestOutstanding) + parseFloat(TotalFeeOutstanding);
                        finalData.push(
                            {
                                BorrowerId: borrowers[0].BorrowerId,
                                PrimaryBusinessName: borrowers[0].PrimaryBusinessName,
                                PrimaryBusinessPhoneNo: borrowers[0].PrimaryBusinessPhoneNo,
                                PrimaryBusinessEmailAddress: borrowers[0].PrimaryBusinessEmailAddress,
                                PrimaryApplicantSalutation: borrowers[0].PrimaryApplicantSalutation,
                                PrimaryApplicantFirstName: borrowers[0].PrimaryApplicantFirstName,
                                PrimaryApplicantLastName: borrowers[0].PrimaryApplicantLastName,
                                PrimaryApplicantPhoneNo: borrowers[0].PrimaryApplicantPhoneNo,
                                ActiveLoans: borrowers.length,
                                TotalOutstanding: FinalAmout,
                                LoanNumber: borrowers[0].LoanNumber,
                                LoanType: borrowers[0].ProductCategory
                            });
                    });
                    self._showResult(finalData);
                },
                _showResult: function (datalist) {
                    var self = this, table;
                    table = self.tableObj;
                    var data = self.$.configsBorrower.getConfigurationBasedOnKey("filters");
                    var config = _.cloneDeep(data["Borrowers"]);
                    var columnLength = config.columns.length;
                    for (var i = 0; i < columnLength; i++) {
                        if (config.columns[i].render != undefined) {
                            var render = config.columns[i].render;
                            if (config.columns[i].isFunction) {
                                config.columns[i].render = eval("(" + render + ")");
                            }
                            else {
                                config.columns[i].render = eval(render);
                            }
                        }
                    }
                    self.set("filterConfig", config);
                    if (table !== null && table !== undefined) {
                        table.clear();
                        table.destroy(true);
                        $('#borrowerTableContainer').append($('<table/>').attr('id', 'borrowerSearchData').css('width', '100%').addClass('table table-striped'));
                    }
                    table = self.tableObj = $(self.$$('#borrowerSearchData')).DataTable({
                        dom: "<'row'<'pull-right'B>>" +
                            "<'row'<'col-sm-12'tr>>" +
                            "<'row'<'col-sm-5'i><'col-sm-7'p>>",
                        data: datalist,
                        columns: self.filterConfig.columns,
                        columnDefs: self.filterConfig.columnDefs,
                        order: self.filterConfig.order,
                        language: {
                            lengthMenu: "show_MENU_ Borrower",
                            zeroRecords: "No Data found.",
                            info: "Showing _START_ to _END_ of _TOTAL_ Borrower",
                            infoEmpty: "No Borrower available",
                            infoFiltered: "(filtered from _MAX_ total Borrower)"
                        },
                        buttons: [
                            {
                                extend: 'csv',
                                text: '<i class="fa fa-file-text-o"></i>',
                                titleAttr: 'Click here to download the Borrower in csv format',
                                filename: function () {
                                    var d = new Date();
                                    var timestamp = d.getTime();
                                    return "borrower_" + timestamp;
                                },
                                exportOptions: {
                                    columns: self.filterConfig.exportColumn,
                                    autoFilter: true,
                                    format: {
                                        body: function (data, row, column, node) {
                                            return ((node.innerText.indexOf('₹ ') !== -1) || (node.innerText.indexOf('$') !== -1)) ?
                                                node.innerText.replace(/₹ /g, '').replace("$", '').replace(/,/g, '') :
                                                node.innerText;
                                        }
                                    }
                                }
                            },
                            {
                                extend: 'excel',
                                text: '<i class="fa fa-file-excel-o"></i>',
                                titleAttr: 'Click here to download the transactions in excel format',
                                filename: function () {
                                    var d = new Date();
                                    var timestamp = d.getTime();
                                    return "transaction_" + timestamp;
                                },
                                exportOptions: {
                                    columns: self.filterConfig.exportColumn,
                                    autoFilter: true,
                                    format: {
                                        body: function (data, row, column, node) {
                                            return ((node.innerText.indexOf('₹ ') !== -1) || (node.innerText.indexOf('$') !== -1)) ?
                                                node.innerText.replace(/₹ /g, '').replace("$", '') :
                                                node.innerText;
                                        }
                                    }
                                }
                            }
                        ],
                    });
                    setTimeout(function () {
                        $('#borrowerSearchData tbody').on('click', 'a', function () {
                            var data = self.tableObj.row($(this).parents('tr')).data();
                            self.openBorrowerView(data);
                        });
                    }, 700);
                },
                openBorrowerView: function (item) {
                    var self = this;
                    window.location.hash = "/borrower-details/entity:loan/filter:Borrower/loanId:" + item.LoanNumber + "/BorrowerId:" + item.BorrowerId + "/LoanType:" + item.LoanType;
                },
                currencyFormat: function (value) {
                    if (value) {
                        value = new Number(value);
                        var amount = value.toFixed(0);
                        amount = amount.toString();
                        var lastThree = amount.substring(amount.length - 3);
                        var otherNumbers = amount.substring(0, amount.length - 3);
                        if (otherNumbers != '')
                            lastThree = ',' + lastThree;
                        var res = otherNumbers.replace(/\B(?=(\d{2})+(?!\d))/g, ",") + lastThree;
                        return res;
                    }
                    else {
                        return 0.00;
                    }
                },
                _borrowerVerifyForm: function (event) {
                    event.preventDefault();
                    var self = this;
                    var inputObj = _.cloneDeep(self.borrowerSearchObj.values);
                    var form = Polymer.dom(event).localTarget.parentElement;
                    if (form.validate()) {
                        if (inputObj.BorrowerPan !== "") {
                            inputObj['Personalidentifiers.Pan'] = inputObj.BorrowerPan;
                            inputObj.BorrowerPan = "";
                        }
                        if (inputObj.BorrowerAadhaar !== "") {
                            inputObj['Personalidentifiers.Aadhaar'] = inputObj.BorrowerAadhaar;
                            inputObj.BorrowerAadhaar = "";
                        }
                        var str = JSON.stringify(inputObj);
                        str = str.replace(/_/g, ".");
                        inputObj = JSON.parse(str);
                        var searchFilterView = _.transform(inputObj, function (result, value, key) {
                            if (value) {
                                var tempObj = {};
                                tempObj[key] = {
                                    "$regex": value, "$options": "i"
                                };
                                result.push(tempObj);
                            }
                        }, []);
                        if (searchFilterView.length > 0) {
                            self.getData(searchFilterView);
                        }
                        else {
                            self.$.messageloani.showMessage("Please select atleast one search criteria", "INFO", self.$.LoanMessageContainer);
                        }
                    }
                },
                formatCurrency: function (data) {
                    return formats.money(data, window.config.country, 0);
                }
            });
        });
    </script>
</dom-module>