<dom-module id="actual-projected-sales">
    <template>
        <style>
            .prefixSign {
                font: normal normal normal 14px/1 FontAwesome !important;
                font-size: inherit !important;
            }

            .custom-input {
                --paper-input-container-input: {
                    font-size: 11px;
                }
                --paper-input-container-label: {
                    font-size: 12px;
                }
            }

            ul.dropdown-menu li {
                padding: 10px;
                color: #03466B;
                cursor: pointer;
            }

            ul.dropdown-menu li:hover {
                background-color: lightgray;
            }

            .DownArrow {
                font-size: 20px;
                padding-top: 23px;
            }

            .set-vertical-height {
                height: 500px;
                overflow-y: scroll;
            }
        </style>
        <div class="row">
            <div class="col-md-12 set-vertical-height">
                <form is="iron-form" class="form-horizontal" name="ActualProjectedSales">
                    <div class="row">
                        <div class="panel-left col-md-12">
                            <vaadin-combo-box class="custom-input" name="Month" item-value-path="key" item-label-path="value" items="{{monthList}}" required
                                label="Month" prevent-invalid-input="true"></vaadin-combo-box>
                        </div>
                    </div>
                    <div class="row">
                        <div class="panel-left col-md-12">
                            <vaadin-combo-box class="custom-input" name="Year" item-value-path="key" item-label-path="value" items="{{yearList}}" required
                                label="Year" prevent-invalid-input="true"></vaadin-combo-box>
                        </div>
                    </div>
                    <div class="row">
                        <div class="panel-left col-md-12">
                            <paper-input class="custom-input" required type="text" name="SalesinINR" id="SalesinINR" label="Sales in INR" pattern="^[0-9]+(.[0-9]{0,2})?$">
                                <div prefix class$="{{getCurrencySymbol()}}"></div>
                            </paper-input>
                        </div>
                    </div>
                    <paper-button class="btn btn-primary activity-action-btn" on-click="_verifyForm" raised>Submit</paper-button>
                </form>
            </div>
        </div>
        <url-parser id="urlmp"></url-parser>
        <http-request id="httpmp"></http-request>
        <alloy-config id="configmp"></alloy-config>
        <auth-service id="authorizemp"></auth-service>
        <lookup-service id="lookupmp"></lookup-service>
        <utility-service id="utilitymp"></utility-service>
        <session-manager id="sessionmp"></session-manager>
        <message-component id="messagemp"></message-component>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "actual-projected-sales",
                properties: {
                    monthList: {
                        type: Array,
                        notify: true,
                        value: [
                            { key: 'Jan', value: 'Jan' },
                            { key: 'Feb', value: 'Feb' },
                            { key: 'Mar', value: 'Mar' },
                            { key: 'Apr', value: 'Apr' },
                            { key: 'May', value: 'May' },
                            { key: 'Jun', value: 'Jun' },
                            { key: 'Jul', value: 'Jul' },
                            { key: 'Aug', value: 'Aug' },
                            { key: 'Sep', value: 'Sep' },
                            { key: 'Oct', value: 'Oct' },
                            { key: 'Nov', value: 'Nov' },
                            { key: 'Dec', value: 'Dec' }
                        ]
                    },
                    yearList: {
                        type: Array,
                        notify: true,
                        value: [
                            { key: '2016', value: '2016' },
                            { key: '2017', value: '2017' },
                            { key: '2018', value: '2018' },
                            { key: '2019', value: '2019' }
                        ]
                    }
                },
                _verifyForm: function (e) {
                    e.preventDefault();
                    var self = this;
                    var form = Polymer.dom(e).localTarget.parentElement;
                    if (form.validate()) {
                        self.raiseAppRefreshEvent(e);
                    }
                },
                raiseAppRefreshEvent: function (event) {
                    this.$.utilitymp.raiseEvent(this.fireEvent, {
                        ActionName: 'ActualProjectedSales',
                        EventData: event,
                        CompnentName: 'actual-projected-sales'
                    });
                },
                init: function () {
                    var self = this;
                },
                getCurrencySymbol: function () {
                    var self = this;
                    return formats.currencySymbol(window.config.country) + " prefixSign";
                }
            });
        });
    </script>
</dom-module>