<dom-module id="add-banking-limit">
    <template>
        <style>
            .prefixSign {
                font: normal normal normal 14px/1 FontAwesome !important;
                font-size: inherit !important;
            }

            .custom-input {
                --paper-input-container-input: {
                    font-size: 11px;
                }
                --paper-input-container-label: {
                    font-size: 12px;
                }
            }

            ul.dropdown-menu li {
                padding: 10px;
                color: #03466B;
                cursor: pointer;
            }

            ul.dropdown-menu li:hover {
                background-color: lightgray;
            }

            .DownArrow {
                font-size: 20px;
                padding-top: 23px;
            }

            .set-vertical-height {
                height: 500px;
                overflow-y: scroll;
            }
        </style>
        <div class="row">
            <div class="col-md-12 set-vertical-height">
                <form is="iron-form" class="form-horizontal" name="AddBankingLimit">
                    <div class="row">
                        <div class="panel-left col-md-12">
                            <paper-input class="custom-input" type="text" required name="Lead Banker" id="LeadBanker" label="Lead Banker">
                            </paper-input>
                        </div>
                    </div>
                    <div class="row">
                        <div class="panel-left col-md-12">
                            <vaadin-combo-box class="custom-input" name="TypeofFacility" item-value-path="key" item-label-path="value" items="{{facilityList}}"
                                required label="Type of Facility" prevent-invalid-input="true"></vaadin-combo-box>
                        </div>
                    </div>
                    <div class="row">
                        <div class="panel-left col-md-12">
                            <paper-input class="custom-input" required type="text" name="LimitinINR" id="LimitinINR" label="Limit in INR" pattern="^[0-9]+(.[0-9]{0,2})?$">
                                <div prefix class$="{{getCurrencySymbol()}}"></div>
                            </paper-input>
                        </div>
                    </div>
                    <div class="row">
                        <div class="panel-left col-md-12">
                            <paper-input class="custom-input" required type="text" name="CurrentOutstandinginINR" id="LimitinINR" label="Current Outstanding in INR"
                                pattern="^[0-9]+(.[0-9]{0,2})?$">
                                <div prefix class$="{{getCurrencySymbol()}}"></div>
                            </paper-input>
                        </div>
                    </div>
                    <div class="row">
                        <div class="panel-left col-md-12">
                            <paper-input class="custom-input" type="text" required name="ROI" id="ROI" label="ROI">
                            </paper-input>
                        </div>
                    </div>
                    <paper-button class="btn btn-primary activity-action-btn" on-click="_verifyForm" raised>Submit</paper-button>
                </form>
            </div>
        </div>
        <url-parser id="urlmp"></url-parser>
        <http-request id="httpmp"></http-request>
        <alloy-config id="configmp"></alloy-config>
        <auth-service id="authorizemp"></auth-service>
        <lookup-service id="lookupmp"></lookup-service>
        <utility-service id="utilitymp"></utility-service>
        <session-manager id="sessionmp"></session-manager>
        <message-component id="messagemp"></message-component>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "add-banking-limit",
                properties: {
                    facilityList: {
                        type: Array,
                        notify: true,
                        value: [
                            { key: 'CC', value: 'CC' },
                            { key: 'Export Limits', value: 'Export Limits' },
                            { key: 'FBN', value: 'FBN' },
                            { key: 'Var', value: 'Var' },
                            { key: 'LCBD', value: 'LCBD' },
                            { key: 'WCTL', value: 'WCTL' }
                        ]
                    }
                },
                _verifyForm: function (e) {
                    e.preventDefault();
                    var self = this;
                    var form = Polymer.dom(e).localTarget.parentElement;
                    if (form.validate()) {
                        self.raiseAppRefreshEvent(e);
                    }
                },
                raiseAppRefreshEvent: function (event) {
                    this.$.utilitymp.raiseEvent(this.fireEvent, {
                        ActionName: 'AddBankingLimit',
                        EventData: event,
                        CompnentName: 'add-banking-limit'
                    });
                },
                init: function () {
                    var self = this;
                },
                getCurrencySymbol: function () {
                    var self = this;
                    return formats.currencySymbol(window.config.country) + " prefixSign";
                }
            });
        });
    </script>
</dom-module>