<dom-module id="add-bank-account">
    <style>
        .custom-input {
            --paper-input-container-input: {
                font-size: 11px;
            }
            --paper-input-container-label: {
                font-size: 12px;
            }
        }
    </style>
    <template>
        <div class="row">
            <div id="MessageContainer"></div>
            <div class="col-md-12">
                <form is="iron-form" class="form-horizontal" name="bankAccountForm" autocomplete="off" aria-autocomplete="none">
                    <div class="row">
                        <div class="col-md-12">
                            <paper-input pattern="^[0-9]+$" error-message="Routing number is nine digit numeric filed." allowed-pattern="^[0-9]+$" type="text"
                                class="custom-input" auto-validate maxlength="9" minlength="9" value="{{RoutingNumber}}" name="routingNumber"
                                id="routingNumber" label="Routing Number" required on-change="_getBankName"></paper-input>
                        </div>
                    </div>
                    <dynamic-form form-configuration={{addBankObj}} values="{{addBankObj.values}}"></dynamic-form>
                    <br />
                    <div style="margin: 10px auto; text-align: center;">
                        <paper-button class="btn btn-primary activity-action-btn" on-click="_verifyForm" raised>Submit</paper-button>
                    </div>
                </form>
            </div>
        </div>
        <url-parser id="url"></url-parser>
        <http-request id="http"></http-request>
        <utility-service id="utility"></utility-service>
        <alloy-config id="config"></alloy-config>
        <message-component id="messageaf"></message-component>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "add-bank-account",
                properties: {
                    applicationNumber: {
                        type: String,
                        notify: true
                    },
                    addBankObj: {
                        type: Object,
                        notify: true,
                        value: {
                            controls: {
                                BankName: {
                                    label: "Bank Name",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        readonly: true,
                                        charcounter: false,
                                        autovalidate: true,
                                        minLen: 1,
                                        maxLen: 100
                                    }
                                },
                                AccountNumber: {
                                    label: "Account Number",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: true,
                                        pattern: "NUMBER",
                                        allowpattern: "^[0-9]+$"
                                    }
                                },
                                AccountType: {
                                    label: "Account Type",
                                    type: "combobox",
                                    selectList: [
                                        { key: 'Checking', value: 'Checking' },
                                        { key: 'Savings', value: 'Savings' }
                                    ],
                                    labelKey: "value",
                                    labelValue: "key",
                                    validations: {
                                        required: true
                                    }
                                },
                                StartDate: {
                                    label: "Start Date",
                                    type: "date",
                                    title: "Start Date",
                                    format: COUNTRY[window.config.country].DATE_FORMAT.DATE,
                                    minFactor: 10,
                                    maxFactor: 0,
                                    validations: {
                                        required: true,
                                        min: false,
                                        max: false
                                    }
                                },
                                EndDate: {
                                    label: "End Date",
                                    type: "date",
                                    title: "End Date",
                                    format: COUNTRY[window.config.country].DATE_FORMAT.DATE,
                                    minFactor: 10,
                                    maxFactor: 0,
                                    validations: {
                                        required: true,
                                        min: false,
                                        max: false
                                    }
                                }
                            },
                            values: {
                                BankName: "",
                                AccountNumber: "",
                                AccountType: "",
                                StartDate: "",
                                EndDate: ""
                            }
                        }
                    },
                    RoutingNumber:
                    {
                        type: String,
                        notify: true,
                        value: ""
                    },
                    currentEntityName: {
                        type: String,
                        notify: true,
                        value: 'application'
                    }
                },
                init: function () {
                    var self = this;
                    var urlParams = self.$.url.getParams();
                    if (urlParams.hasOwnProperty('entity')) {
                        self.set('currentEntityName', urlParams.entity);
                    }
                },
                _getBankName: function () {
                    var self = this;
                    var addBankObj = _.cloneDeep(self.addBankObj);
                    var url = "bank-name/" + self.RoutingNumber;
                    self.$.http.get(url, "").then(function (result) {
                        if (result.code === 200) {
                            addBankObj.values.BankName = result.name;
                            self.set('addBankObj', addBankObj);
                        }
                        else {
                            addBankObj.values.BankName = '';
                            self.set('addBankObj', addBankObj);
                            self.$.messageaf.showMessage(result.message, "ERROR", self.$$('#MessageContainer'));
                        }
                    }).fail(function (e) {
                        addBankObj.values.BankName = '';
                        self.set('addBankObj', addBankObj);
                        self.$.messageaf.showMessage("Bank name not found", "ERROR", self.$$('#MessageContainer'));
                    });
                },
                _verifyForm: function (event) {
                    var self = this;
                    var form = Polymer.dom(event).localTarget.parentElement.parentElement;
                    if (form.validate()) {
                        var payload = {
                            ManualType: "BankLink",
                            RoutingNumber: self.RoutingNumber
                        };
                        var reqdata = self.addBankObj.values;
                        payload = $.extend({}, payload, reqdata);
                        delete payload["StartDate"];
                        delete payload["EndDate"];
                        var url = "/" + self.currentEntityName + "/" + self.applicationNumber + "/manual/details";
                        self.$.http.post(url, payload, window.config.services.ibvService, true).then(function (data) {
                            self.createCashFlow(event, data);
                        }).fail(function (e) {
                            var response = e.responseJSON;
                            if (response) {
                                self.$.messageaf.showMessage(response.Message, "ERROR", self.$$('#MessageContainer'));
                            }
                            else {
                                self.$.messageaf.showMessage("Add bank account error ", "ERROR", self.$$('#MessageContainer'));
                            }
                        });
                    }
                },
                createCashFlow: function (event, data) {
                    var self = this;
                    var payload = {
                        fromDate: self.addBankObj.values["StartDate"],
                        toDate: self.addBankObj.values["EndDate"],
                        providerAccountId: data.providerAccountId,
                        generatePdf: true,
                        type: "BankLink"
                    };
                    var url = "/" + self.currentEntityName + "/" + self.applicationNumber + "/create/cashflow";
                    self.$.http.post(url, payload, window.config.services.ibvCashFlowService, true).then(function (data) {
                        self.raiseAppRefreshEvent(event);
                    }).fail(function (e) {
                        var response = e.responseJSON;
                        if (response) {
                            self.$.messageaf.showMessage(response.Message, "ERROR", self.$$('#MessageContainer'));
                        }
                        else {
                            self.$.messageaf.showMessage("Add bank account error ", "ERROR", self.$$('#MessageContainer'));
                        }
                    });
                },
                raiseAppRefreshEvent: function (event) {
                    this.$.utility.raiseEvent(this.fireEvent, {
                        ActionName: 'AddBankAccount',
                        EventData: event,
                        CompnentName: 'add-bank-account'
                    });
                }
            });
        });
    </script>
</dom-module>