<dom-module id="approved-funding">
    <template>
        <style>
            .custom-input {
                --paper-input-container-input: {
                    font-size: 11px;
                }
                --paper-input-container-label: {
                    font-size: 12px;
                }
            }
        </style>
        <div id="MessageContainer"></div>
        <div class="row">
            <div class="col-md-12">
                <paper-button class="btn btn-primary activity-action-btn" on-click="updateStatus" raised>Approved</paper-button>
            </div>
        </div>
        <url-parser id="url"></url-parser>
        <http-request id="http"></http-request>
        <utility-service id="utility"></utility-service>
        <message-component id="message"></message-component>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "approved-funding",
                properties: {
                    currentEntityName: {
                        type: String,
                        notify: true,
                        value: 'application'
                    }
                },
                init: function () {

                },
                ready: function () {
                    var self = this;
                    var urlParams = this.$.url.getParams();
                    if (urlParams.hasOwnProperty('entity')) {
                        this.set('currentEntityName', urlParams.entity);
                    }
                },
                raiseAppRefreshEvent: function (event) {
                    this.$.utility.raiseEvent(this.fireEvent, {
                        ActionName: 'Approved',
                        EventData: event,
                        CompnentName: 'approved-funding'
                    });
                },
                updateStatus: function (e) {
                    var self = this;
                    var form = Polymer.dom(e).localTarget.parentElement;
                    var params = self.$.url.getParams();
                    var url = "";
                    var url = "/" + self.currentEntityName + "/" + params.app + "/" + params.workflow;
                    if (self.currentEntityName === "application" && params.workflow === "LocApprovalFlow") {
                        url = url + "/700.60";
                    }
                    else if (self.currentEntityName === "application" && params.workflow === "RenewalLocApprovalFlow") {
                        url = url + "/900.80";
                    }
                    else {
                        url = url + "/700.50";
                    }
                    self.$.http.put(url, {}, window.config.services.statusManagement).then(function (data) {
                        self.raiseAppRefreshEvent(e);
                    }).fail(function (e) {
                        var strMessage = "Failed to complete the operation. " + e.responseJSON.message;
                        self.$.message.showMessage(strMessage, "ERROR", self.$.MessageContainer);
                    });
                }
            });
        });
    </script>
</dom-module>