<dom-module id="approve-application">
    <template>
        <div id="ErrorMessge" style="display: none;">
            <p></p>
        </div>
        <div class="slide-action">
            <button id="approveApplication" on-click="approveApplication" class="btn btn-primary activity-action-btn">Approve Application</button>
        </div>
        <http-request id="http"></http-request>
        <utility-service id="utility"></utility-service>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "approve-application",
                properties: {

                },
                init: function () {
                    var self = this;
                },
                approveApplication: function (event) {
                    var self = this;
                    var offerEndPoint = window.config.services.appProcessor;
                    var url = "/status-management/" + self.applicationNumber + "/applicationapproved";
                    $('div#ErrorMessge').hide();
                    self.$.http.post(url, {}, offerEndPoint, true).then(function (data) {
                        $('button#approveApplication').hide();
                        $('div#ErrorMessge p').html("Operation completed successfully.");
                        $('div#ErrorMessge').show();
                        self.raiseAppRefreshEvent(event);
                    }).fail(function (e) {
                        $('div#ErrorMessge p').html(e.responseJSON.message);
                        $('div#ErrorMessge').show();
                        setTimeout(function () {
                            $('div#ErrorMessge').hide();
                        }, 5000);
                    });
                },
                raiseAppRefreshEvent: function (event) {
                    this.$.utility.raiseEvent(this.fireEvent, {
                        ActionName: 'ApproveApplication',
                        EventData: event,
                        CompnentName: 'approve-application'
                    });
                }
            });
        });
    </script>
</dom-module>