<dom-module id="assign-app">
    <template>
        <style>
            .custom-input {
                --paper-input-container-input: {
                    font-size: 11px;
                }
                --paper-input-container-label: {
                    font-size: 12px;
                }
            }

            #assignErrorMessge p {
                color: red;
            }
        </style>
        <div id="assignErrorMessge" style="display: none;">
            <p></p>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form is="iron-form" class="form-horizontal" name="assignForm">
                    <div class="row">
                        <div class="col-md-12">
                            <vaadin-combo-box name="Role" value="{{SelectedRole}}" class="custom-input" item-value-path="value" item-label-path="value"
                                items="{{Roles}}" label="Select Role" prevent-invalid-input="true" required on-change="_onRoleChange">
                            </vaadin-combo-box>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <vaadin-combo-box name="User" value="{{SelectedUser}}" class="custom-input" item-value-path="value" item-label-path="value"
                                items="{{Users}}" label="Select User" prevent-invalid-input="true" aria-required="">
                            </vaadin-combo-box>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <paper-textarea name="Notes" type="text" rows="1" maxlength="200" value="{{Notes}}" class="custom-input" label="Notes" auto-complete="none"
                                required></paper-textarea>
                        </div>
                    </div>
                    <button class="btn btn-primary activity-action-btn" on-click="assignApp" raised>Assign</button>
                </form>
            </div>
        </div>
        <url-parser id="url"></url-parser>
        <http-request id="http"></http-request>
        <utility-service id="utility"></utility-service>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "assign-app",
                properties: {
                    Roles: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    Users: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    Notes: {
                        type: String,
                        notify: true
                    },
                    SelectedRole: {
                        type: String,
                        notify: true,
                        value: "",
                        observer: '_getUserByRoles'
                    },
                    SelectedUser: {
                        type: String,
                        notify: true,
                        value: "",
                    },
                    currentEntityName: {
                        type: String,
                        notify: true,
                        value: 'application'
                    }
                },
                _onRoleChange: function (event) {
                    var self = this;
                    var selectedValues = event.target.value;
                    if (selectedValues === "") {
                        self.Users = [];
                        self.SelectedUser = "";
                    }
                },
                _getRoles: function () {
                    var self = this;
                    var url = "/roles/user/children";
                    self.$.http.get(url, "").then(function (roles) {
                        if (roles) {
                            var tempList = _.transform(roles, function (result, item) {
                                result.push({ key: item, value: item });
                            }, []);
                            var output = _.uniqBy(tempList, 'value')
                            self.set('Roles', output);
                        }
                    }).fail(function (e) {
                        console.error("role error is ", e);
                    });
                },
                _getUserByRoles: function () {
                    var self = this;
                    var roleName = self.SelectedRole;
                    if (roleName != "") {
                        var url = "/roles/" + roleName + "/members";
                        self.$.http.get(url, "").then(function (data) {
                            if (data) {
                                var tempList = _.transform(data, function (result, item, key) {
                                    result.push({ key: key, value: item.username });
                                }, []);
                                self.set('Users', tempList);
                                self.SelectedUser = "";
                            }
                        }).fail(function (e) {
                            console.error("_getUserByRoles error is ", e);
                        });
                    }
                },
                ready: function () {
                    var self = this;
                    var params = self.$.url.getParams();
                    if (params.hasOwnProperty('entity')) {
                        self.set('currentEntityName', params.entity);
                    }
                },
                init: function () {
                    this._getRoles();
                },
                assignApp: function (event) {
                    var self = this;
                    var form = Polymer.dom(event).localTarget.parentElement;
                    if (form.validate()) {
                        var url = '/' + self.currentEntityName + '/' + self.applicationNumber + '/assign';
                        var assignmentService = window.config.services.assignment;
                        var payload = {
                            role: self.SelectedRole,
                            user: self.SelectedUser,
                            notes: self.Notes
                        };
                        self.$.http.post(url, payload, assignmentService, true).then(function (data) {
                            var message = "Application " + self.applicationNumber + " assigned  successfully";
                            self.raiseAppRefreshEvent(event, message);
                            self.clearSelection();
                        }).fail(function (e) {
                            var $errorDiv = $('div#assignErrorMessge');
                            var strMessage = e.responseJSON.message + " Unable to assign.";
                            $('div#assignErrorMessge p').html(strMessage);
                            $errorDiv.show();
                            setTimeout(function () {
                                $errorDiv.hide();
                            }, 3000);
                        });
                    }
                },
                clearSelection: function () {
                   var self = this;
                   self.set('SelectedRole', '');
                   self.set('SelectedUser', '');
                   self.set('Notes', '');
               },
                raiseAppRefreshEvent: function (event, message) {
                    this.$.utility.raiseEvent(this.fireEvent, {
                        Message: message,
                        ActionName: 'Assign',
                        EventData: event,
                        CompnentName: 'assign-app'
                    });
                }
            });
        });
    </script>
</dom-module>