<html-import html-href="custom-component/grid-component.html"></html-import>
<dom-module id="call-paynet">
    <template>
        <div class="slide-action">
            <form id="paynetSearchCompanyForm" is="iron-form" class="form-horizontal" name="paynetSearchForm">
                <dynamic-form form-configuration={{paynetSearchConfiguration}} values="{{paynetSearchConfiguration.values}}">
                </dynamic-form>
                </br>
                <button id="searchCompanies" on-click="searchCompany" class="btn btn-primary activity-action-btn">Search Companies</button>
            </form>
            <div id="paynetCompaniesGridId" style="display: none;">
                <grid-component grid-Id="paynetCompaniesGrid" column-Headers="{{columnHeaders}}" column-Definations="{{columnDefinations}}"
                    grid-Data="{{companiesList}}" selected-Rowdata="{{selectedCompany}}"></grid-component>
                <br/>
                <button id="call_Paynet" on-click="callPaynet" class="btn btn-primary activity-action-btn">Paynet</button>
            </div>
        </div>
        <div id="MessageContainer"></div>
        <url-parser id="url"></url-parser>
        <http-request id="http"></http-request>
        <utility-service id="utility"></utility-service>
        <message-component id="message"></message-component>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "call-paynet",
                properties: {
                    columnHeaders: {
                        type: Array,
                        notify: true,
                        value: ['Paynet Id', 'Company Name']
                    },
                    columnDefinations: {
                        type: Array,
                        notify: true,
                        value: [{ name: "payNetId" }, { name: "name" }]
                    },
                    companiesList: {
                        type: Array,
                        notify: true,
                        observer: '_showCompanyList'
                    },
                    selectedCompany: {
                        type: Object,
                        notify: true
                    },
                    paynetSearchConfiguration: {
                        type: Object,
                        notify: true,
                        value: {
                            controls: {
                                CompanyName: {
                                    label: "Legal Business Name",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false
                                    }
                                },
                                TaxId: {
                                    label: "Business Tax ID",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false,
                                        minLen: 9,
                                        maxLen: 9
                                    }
                                },
                                Alias: {
                                    label: "Doing Business As",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false
                                    }
                                },
                                Address: {
                                    label: "Address",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false
                                    }
                                },
                                City: {
                                    label: "City",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false
                                    }
                                },
                                State: {
                                    label: "State",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false
                                    }
                                },
                                Phone: {
                                    label: "Phone",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: true,
                                        autovalidate: false,
                                        minLen: 10,
                                        maxLen: 10
                                    }
                                }
                            },
                            values:
                            {
                                CompanyName: "",
                                TaxId: "",
                                Alias: "",
                                Address: "",
                                City: "",
                                State: "",
                                Phone: ""
                            }
                        }
                    },
                    dataAttributes: {
                        type: Object,
                        notify: true
                    }
                },
                init: function () {
                    this._onDataAttributesLoad();
                },
                _initialView: function () {
                    this.set("companiesList", []);
                    $('#paynetCompaniesGridId').hide();
                    $('#paynetSearchCompanyForm').show();
                },
                _reportView: function () {
                    $('#paynetCompaniesGridId').show();
                    $('#paynetSearchCompanyForm').hide();
                },
                _checkNullUndefined: function (obj) {
                    if (obj && obj != null) {
                        return obj;
                    }
                    return '';
                },
                _getFullBusinessAddess: function (businessAddress) {
                    var address = '';
                    if (businessAddress && businessAddress != null) {
                        address = this._checkNullUndefined(businessAddress.AddressLine1) + ' ' + this._checkNullUndefined(businessAddress.AddressLine2);
                    }
                    return address;
                },
                _onDataAttributesLoad: function () {
                    var self = this;
                    if (self.dataAttributes) {
                        var appDetails = self.dataAttributes.application;
                        var businessAddress = appDetails.businessAddress
                        self.paynetSearchConfiguration.values['CompanyName'] = appDetails.legalBusinessName;
                        self.paynetSearchConfiguration.values['TaxId'] = appDetails.businessTaxID;
                        self.paynetSearchConfiguration.values['Alias'] = appDetails.dBA;
                        self.paynetSearchConfiguration.values['Phone'] = appDetails.businessPhone;
                        self.paynetSearchConfiguration.values['Address'] = self._getFullBusinessAddess(businessAddress);
                        self.paynetSearchConfiguration.values['City'] = businessAddress.City;
                        self.paynetSearchConfiguration.values['State'] = businessAddress.State;
                        self.set('paynetSearchConfiguration', $.extend({}, self.paynetSearchConfiguration));
                    }
                },
                _showCompanyList: function () {
                    var self = this;
                    if (self.companiesList && self.companiesList != null && self.companiesList.length > 0)
                        $('#paynetCompaniesGridId').show();
                    else
                        $('#paynetCompaniesGridId').hide();
                },
                searchCompany: function (event) {
                    event.preventDefault();
                    var self = this;
                    var form = Polymer.dom(event).localTarget.parentElement;
                    var url = '/application/' + self.applicationNumber + '/paynet/search'
                    var appProcessorEndpoint = window.config.services.appProcessor;
                    if (form.validate()) {
                        var request = {};
                        request.CompanyName = self.paynetSearchConfiguration.values['CompanyName'];
                        request.TaxId = self.paynetSearchConfiguration.values['TaxId'];
                        request.Alias = self.paynetSearchConfiguration.values['Alias'];
                        request.Address = self.paynetSearchConfiguration.values['Address'];
                        request.City = self.paynetSearchConfiguration.values['City'];
                        request.State = self.paynetSearchConfiguration.values['State']
                        request.Phone = self.paynetSearchConfiguration.values['Phone']
                        self.$.http.post(url, request, appProcessorEndpoint, true).then(function (data) {
                            if (data && data != null) {
                                self._reportView();
                                self.set("companiesList", data.companyList);

                            }
                        }).fail(function (e) {
                            self._initialView();
                            console.error("paynet searchCompany error is ", e);
                        });
                    }
                },
                callPaynet: function (event) {
                    var self = this;
                    if (!_.isUndefined(self.selectedCompany) && !_.isNull(self.selectedCompany)) {
                        var paynetId = self.selectedCompany.payNetId;
                        var url = '/application/' + self.applicationNumber + '/' + paynetId + '/paynet/report';
                        var appProcessorEndpoint = window.config.services.appProcessor;
                        self.$.http.get(url, appProcessorEndpoint, true).then(function (data) {
                            self.raiseAppRefreshEvent(event);
                        }).fail(function (e) {
                            self._reportView();
                            console.error("paynet searchCompany error is ", e);
                        });
                    } else {
                        self.$.message.showMessage("Please Select Search Result", "ERROR", self.$.MessageContainer);
                    }
                },
                raiseAppRefreshEvent: function (event) {
                    this._initialView();
                    this.$.utility.raiseEvent(this.fireEvent, {
                        ActionName: "CallPaynet",
                        EventData: event,
                        CompnentName: 'call-paynet'
                    });
                }
            });
        });
    </script>
</dom-module>