<dom-module id="call-tlo-business">
    <template>
        <div class="slide-action">
            <form id="tloBusinessReportForm" is="iron-form" class="form-horizontal" name="paynetSearchForm">
                <dynamic-form form-configuration={{tlobusinessConfiguration}} values="{{tlobusinessConfiguration.values}}">
                </dynamic-form>
                </br>
                <button id="btnbusinessreport" on-click="callTloBusiness" class="btn btn-primary activity-action-btn">Business Report</button>
            </form>
        </div>
        <div id="MessageContainer"></div>
        <url-parser id="url"></url-parser>
        <http-request id="http"></http-request>
        <utility-service id="utility"></utility-service>
        <message-component id="message"></message-component>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "call-tlo-business",
                properties: {
                    tlobusinessConfiguration: {
                        type: Object,
                        notify: true,
                        value: {
                            controls: {
                                TaxId: {
                                    label: "Federal Sales TaxID",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false,
                                        minLen: 9,
                                        maxLen: 9
                                    }
                                }
                            },
                            values:
                                {
                                    TaxId: ""
                                }
                        }
                    },
                    dataAttributes: {
                        type: Object,
                        notify: true
                    }
                },
                init: function () {
                    this._onDataAttributesLoad();
                },
                _initialView: function () {
                    $('#tloBusinessReportForm').show();
                },
                _onDataAttributesLoad: function () {
                    var self = this;
                    if (self.dataAttributes) {
                        var appDetails = self.dataAttributes.application;
                        var businessAddress = appDetails.businessAddress
                        self.tlobusinessConfiguration.values['TaxId'] = appDetails.businessTaxID;
                        self.set('tlobusinessConfiguration', $.extend({}, self.tlobusinessConfiguration));
                    }
                },
                callTloBusiness: function (event) {
                    event.preventDefault();
                    var self = this;
                    var form = Polymer.dom(event).localTarget.parentElement;
                    var url = '/application/' + self.applicationNumber + '/tloxp/business/report';
                    var appProcessorEndpoint = window.config.services.appProcessor;
                    if (form.validate()) {
                        var request = {};
                        request.FEINumber = self.tlobusinessConfiguration.values['TaxId'];
                        self.$.http.post(url, request, appProcessorEndpoint, true).then(function (data) {
                            if (data && data != null) {
                                self.raiseAppRefreshEvent(event);
                            }
                        }).fail(function (e) {
                            self._initialView();
                            console.error("Business report error is ", e);
                        });
                    }
                },
                raiseAppRefreshEvent: function (event) {
                    this._initialView();
                    this.$.utility.raiseEvent(this.fireEvent, {
                        ActionName: "callTloBusiness",
                        EventData: event,
                        CompnentName: 'call-tlo-business'
                    });
                }
            });
        });
    </script>
</dom-module>