<dom-module id="call-tlo-person">
    <template>
        <div class="slide-action">
            <form id="tloPersonReportForm" is="iron-form" class="form-horizontal" name="PersonReportForm">
                <vaadin-combo-box class="custom-input" name="cmbOwners" value="{{selectedOwner}}" item-value-path="key" item-label-path="value"
                    items="{{allOwners}}" label="Select Owner" prevent-invalid-input="true" on-change="_ownerChanged">
                </vaadin-combo-box>
                <paper-input class="custom-input" type="text" value="{{primaryOwner}}" label="Primary Owner" readonly></paper-input>
                <dynamic-form form-configuration={{tloPersonConfiguration}} values="{{tloPersonConfiguration.values}}">
                </dynamic-form>
                </br>
                <button id="btnpersonreport" on-click="_callTloPersonReport" class="btn btn-primary activity-action-btn">Person Report</button>
            </form>
        </div>
        <div id="MessageContainer"></div>
        <url-parser id="url"></url-parser>
        <http-request id="http"></http-request>
        <utility-service id="utility"></utility-service>
        <message-component id="message"></message-component>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "call-tlo-person",
                properties: {
                    tloPersonConfiguration: {
                        type: Object,
                        notify: true,
                        value: {
                            controls: {
                                FirstName: {
                                    label: "First Name",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false
                                    }
                                },
                                LastName: {
                                    label: "Last Name",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false
                                    }
                                },
                                SSN: {
                                    label: "SSN",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false,
                                        maxLen: 11
                                    }
                                }
                            },
                            values: {
                                FirstName: "",
                                LastName: "",
                                SSN: ""
                            }
                        }
                    },
                    dataAttributes: {
                        type: Object,
                        notify: true
                    }
                },
                init: function () {
                    this._onDataAttributesLoad();
                },
                _initialView: function () {
                    $('#tloPersonReportForm').show();
                },
                _onDataAttributesLoad: function () {
                    var self = this;
                    var ownerData = _.cloneDeep(self.tloPersonConfiguration);
                    if (self.dataAttributes) {
                        var appDetails = self.dataAttributes.application;
                        var currentOwner = null;
                        if (!_.isNull(self.selectedOwner) && !_.isEmpty(self.selectedOwner) && !_.isUndefined(self.selectedOwner)) {
                            currentOwner = _.find(appDetails.owners, function (o) { return o.OwnerId == self.selectedOwner; });
                        }
                        else {
                            currentOwner = _.find(appDetails.owners, function (o) { return o.IsPrimary == true; });
                            var tempList = _.transform(appDetails.owners, function (result, item) {
                                var val = item.FirstName + ' ' + item.LastName;
                                result.push({ key: item.OwnerId, value: val });
                            }, []);
                            self.set("allOwners", tempList);
                            self.set("primaryOwner", currentOwner.FirstName + ' ' + currentOwner.LastName);
                        }
                        self.set("selectedOwner", currentOwner.OwnerId);
                        if (currentOwner != null && currentOwner != undefined) {
                            ownerData.values['SSN'] = currentOwner.SSN;
                            ownerData.values['FirstName'] = currentOwner.FirstName;
                            ownerData.values['LastName'] = currentOwner.LastName;
                        }
                        self.set('tloPersonConfiguration', ownerData);
                    }
                },
                _callTloPersonReport: function (event) {
                    event.preventDefault();
                    var self = this;
                    var form = Polymer.dom(event).localTarget.parentElement;
                    var url = '/application/' + self.applicationNumber + '/tloxp/person/report';
                    var appProcessorEndpoint = window.config.services.appProcessor;
                    if (form.validate()) {
                        var request = {};
                        request.FirstName = self.tloPersonConfiguration.values['FirstName'];
                        request.LastName = self.tloPersonConfiguration.values['LastName'];
                        request.SSN = self.tloPersonConfiguration.values['SSN'];
                        request.OwnerId = self.selectedOwner;
                        self.$.http.post(url, request, appProcessorEndpoint, true).then(function (data) {
                            self.raiseAppRefreshEvent(event);
                        }).fail(function (e) {
                            self._initialView();
                            console.error("Person report error is ", e);
                        });
                    }
                },
                _ownerChanged: function (event) {
                    var self = this;
                    if (!_.isEmpty(event.target.value)) {
                        self.selectedOwner = event.target.value;
                        self._onDataAttributesLoad();
                    }
                },
                raiseAppRefreshEvent: function (event) {
                    this._initialView();
                    this.$.utility.raiseEvent(this.fireEvent, {
                        ActionName: "CallTloPersonReport",
                        EventData: event,
                        CompnentName: 'call-tlo-person'
                    });
                }
            });
        });
    </script>
</dom-module>