<dom-module id="cancel-onboarding">
    <template>
        <div>
            TBD
        </div>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "cancel-onboarding",
                properties: {

                },
                init: function () {
                    var self = this;
                }
            });
        });
    </script>
</dom-module>