<dom-module id="corpository-company-search">
    <template>
        <style>
            .header {
                font-size: 12px;
                font-weight: 700;
                color: white;
                background-color: #03466B;
            }

            .custom-input {
                --paper-input-container-input: {
                    font-size: 11px;
                }
                --paper-input-container-label: {
                    font-size: 12px;
                }
                .btnmargin {
                    margin-top: 20px;
                }
            }
        </style>
        <div id="MessageContainer"></div>
        <div class="row">
            <div class="col-md-12">
                <form is="iron-form" class="form-horizontal" name="corpositoryForm">
                    <div class="row">
                        <div class="col-md-12">
                            <paper-input type="textbox" class="custom-input" required value="{{cinNumber}}" name="cinNumber" id="cinNumber" label="CIN Number"></paper-input>
                        </div>
                    </div>
                    <paper-button id="getCorpoCompanyDetails" class="btn btn-primary activity-action-btn" on-click="_verifyForm" raised>Search</paper-button>
                </form>
                <div id="tblCompDetailsCorp" style="display:none;">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th colspan="2" class="header">{{searchResult.companyName}}</th>
                            </tr>
                            <tr>
                                <th>Name</th>
                                <td>{{searchResult.companyName}}</td>
                            </tr>
                            <tr>
                                <th>City</th>
                                <td>{{searchResult.city}}</td>
                            </tr>
                            <tr>
                                <th>State</th>
                                <td>{{searchResult.state}}</td>
                            </tr>
                            <tr>
                                <th>Status</th>
                                <td>{{searchResult.companyStatus}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <url-parser id="url"></url-parser>
        <http-request id="http"></http-request>
        <utility-service id="utility"></utility-service>
        <message-component id="message"></message-component>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "corpository-company-search",
                properties: {
                    currentEntityName: {
                        type: String,
                        notify: true,
                        value: 'application'
                    },
                    searchResult: {
                        type: Object,
                        notify: true
                    },
                    cinNumber: {
                        type: String,
                        notify: true
                    },
                    applicationNumber: {
                        type: String,
                        notify: true
                    }
                },
                init: function () {
                    var self = this;
                    var urlParams = self.$.url.getParams();
                    if (urlParams.hasOwnProperty('entity')) {
                        self.set('currentEntityName', urlParams.entity);
                    }
                    self.applicationNumber = urlParams.app;
                },
                _verifyForm: function (event) {
                    event.preventDefault();
                    var self = this;
                    var form = Polymer.dom(event).localTarget.parentElement;
                    if (form.validate()) {
                        var url = "/" + self.currentEntityName + "/" + self.applicationNumber + "/corpository/company/search/" + self.cinNumber;
                        self.$.http.get(url, window.config.services.appProcessor).then(function (data) {
                            if (data && data.companies.length > 0) {
                                self.set("searchResult", data.companies[0]);
                                self.$.message.showMessage("Operation completed successfully.", "SUCCESS", self.$$('#MessageContainer'));
                                if (data !== undefined && data !== null && data != "") {
                                    $("#tblCompDetailsCorp").show();
                                }
                                else {
                                    $("#tblCompDetailsCorp").hide();
                                }
                            }
                            else {
                                $("#tblCompDetailsCorp").hide();
                                self.$.message.showMessage("Company not found", "ERROR", self.$$('#MessageContainer'));
                            }

                        }).fail(function (e) {
                            $("#tblCompDetailsCorp").hide();
                            self.$.message.showMessage("Company not found", "ERROR", self.$$('#MessageContainer'));
                        });
                    }
                }
            });
        });
    </script>
</dom-module>