<dom-module id="corpository-company-history">
    <template>
        <style>
            .custom-input {
                --paper-input-container-input: {
                    font-size: 11px;
                }
                --paper-input-container-label: {
                    font-size: 12px;
                }
                .btnmargin {
                    margin-top: 20px;
                }
            }
        </style>
        <div id="MessageContainer"></div>
        <div class="row">
            <div class="col-md-12">
                <form is="iron-form" class="form-horizontal" name="corpositoryHistoryForm">
                    <div class="row">
                        <div class="col-md-12">
                            <paper-input type="textbox" class="custom-input" required value="{{cinNumber}}" name="cinNumber" id="cinNumber" label="CIN Number"></paper-input>
                        </div>
                    </div>
                    <paper-button id="getCorpoCompanyHistory" class="btn btn-primary activity-action-btn" on-click="_verifyForm" raised>Get History</paper-button>
                </form>
            </div>
        </div>
        <url-parser id="url"></url-parser>
        <http-request id="http"></http-request>
        <utility-service id="utility"></utility-service>
        <message-component id="message"></message-component>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "corpository-company-history",
                properties: {
                    currentEntityName: {
                        type: String,
                        notify: true,
                        value: 'application'
                    },
                    cinNumber: {
                        type: String,
                        notify: true
                    },
                    applicationNumber: {
                        type: String,
                        notify: true
                    }
                },
                init: function () {
                    var self = this;
                    var urlParams = self.$.url.getParams();
                    if (urlParams.hasOwnProperty('entity')) {
                        self.set('currentEntityName', urlParams.entity);
                    }
                    self.applicationNumber = urlParams.app;
                },
                _verifyForm: function (event) {
                    event.preventDefault();
                    var self = this;
                    var form = Polymer.dom(event).localTarget.parentElement;
                    if (form.validate()) {
                        var url = "/" + self.currentEntityName + "/" + self.applicationNumber + "/corpository/company/history/search/" + self.cinNumber;
                        self.$.http.get(url, window.config.services.appProcessor, true).then(function (data) {
                            if (data && data.companies.length > 0) {
                                self.$.message.showMessage("Operation completed successfully.", "SUCCESS", self.$$('#MessageContainer'));
                                self.raiseAppRefreshEvent();
                            }
                            else {
                                self.$.message.showMessage("Company not found", "ERROR", self.$$('#MessageContainer'));
                            }
                        }).fail(function (e) {
                            self.$.message.showMessage("Company not found", "ERROR", self.$$('#MessageContainer'));
                        });
                    }
                },
                raiseAppRefreshEvent: function (event) {
                    this.$.utility.raiseEvent(this.fireEvent, {
                        ActionName: 'CorpositoryCompanyHistory',
                        EventData: event,
                        CompnentName: 'corpository-get-company-history'
                    });
                }
            });
        });
    </script>
</dom-module>