<dom-module id="doc-upload">
    <template>
        <style is="custom-style">
            :root {
                --vaadin-upload-buttons-primary: display: inline-block;
            }
        </style>
        <style>
            .panel-body {
                min-height: 200px;
            }

            .nav-tabs {
                margin-bottom: -1px;
            }

            .cell {
                margin: 5px;
                padding: 5px;
            }

            .show {
                display: block;
            }

            .hide {
                display: none;
            }

            .uploadDocWrapper {
                padding: 10px;
                border-style: dotted;
                border-width: 1px;
            }

            vaadin-upload {
                --vaadin-upload-button-add: {
                    background: #80b43c;
                }
                --vaadin-upload-file-list: {
                    margin-left: 20px;
                }
                --vaadin-upload-drop-label: {
                    margin: 0 !important;
                    padding: 0 !important;
                    display: inline-block;
                }
            }

            .required {
                color: red;
                margin-right: 5px;
            }
        </style>
        <h4 id="uploadSuccessMessage" style="display: none;">Document Uploaded successfully.</h4>
        <div id="uploadDocument">
            <template is="dom-if" if="{{_hasDocuments(documentsReceived)}}">
                <template id="viewDocumentsTemplate" is="dom-repeat" items="{{pendingDocs}}" as="pdoc">
                    <div class="row uploadDocWrapper">
                        <h3>
                            <template is="dom-if" if="{{pdoc.isRequested}}">
                                <i class="fa fa-asterisk required" aria-hidden="true"></i>
                            </template>
                            {{_documentName(pdoc)}}
                        </h3>
                        <br>
                        <vaadin-upload id="{{_generateID(pdoc)}}" on-upload-request="_uploadRequest" on-upload-success="_uploadSuccess" on-upload-before="_changeServerUrl"
                            custom-many-label="{{_documentName(pdoc)}}" method="POST"></vaadin-upload>
                    </div>
                </template>
            </template>
            <div class="row uploadDocWrapper">
                <h3>Additional Documents</h3>
                <br>
                <vaadin-upload id="other" on-upload-request="_uploadRequest" on-upload-success="_uploadSuccessForOther" on-upload-before="_changeServerUrlForOther"
                    method="POST"></vaadin-upload>
            </div>
        </div>
        <http-request id="http"></http-request>
        <alloy-config id="config"></alloy-config>
        <utility-service id="utility"></utility-service>
        <session-manager id="session"></session-manager>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "doc-upload",
                properties: {
                    pendingDocs: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    documentsReceived: {
                        type: Boolean,
                        notify: true,
                        value: false
                    }
                },
                _needReRender: function () {
                    return this.reRenderUploadDocument;
                },
                _showNoDocsToView: function () {
                    if (this.documentsReceived && this.pendingDocs.length <= 0) {
                        $('#uploadDocument').show();
                        return true;
                    }
                    return false;
                },
                _hasDocuments: function () {
                    var self = this;
                    if (self.documentsReceived && self.pendingDocs.length > 0) {
                        self.pendingDocs = self.pendingDocs;
                        function reRender() {
                            self.$$('#viewDocumentsTemplate').render();
                            $('#uploadDocument').show();
                        }
                        setTimeout(reRender, 1000);
                        return true;
                    }
                    return false;
                },
                _documentName: function (doc) {
                    if (doc && doc != null && doc.documentName && doc.documentName != null)
                        return doc.documentName[0];
                    else {
                        return '';
                    }
                },
                _generateID: function (doc) {
                    return this._documentName(doc).toLowerCase();
                },
                _isDocumentReceived: function () {
                    return this.documentsReceived;
                },
                _uploadSuccess: function (event) {
                    if (event.detail.xhr.status === 200) {
                        var res = $.parseJSON(event.detail.xhr.response);
                        $(event.target).prev().hide();
                        $(event.target).hide();
                        $('#uploadSuccessMessage').show();
                        this.raiseAppRefreshEvent();
                    }
                },
                _uploadSuccessForOther: function (event) {
                    if (event.detail.xhr.status === 200) {
                        var res = $.parseJSON(event.detail.xhr.response);
                        $('#uploadSuccessMessage').show();
                        this.raiseAppRefreshEvent();
                    }
                },
                raiseAppRefreshEvent: function () {
                    this.$.utility.raiseEvent(this.fireEvent, {});
                },
                _uploadRequest: function (event) {
                    event.detail.xhr.setRequestHeader('Authorization', "Bearer " + this.$.session.get('token'));
                },
                _changeServerUrl: function (event) {
                    event.detail.file.uploadTarget = this._getServerUrl(event.model.__data__.pdoc);
                    $('#uploadSuccessMessage').hide();
                },
                _changeServerUrlForOther: function (event) {
                    var baseUrl = window.config.services.documentService;
                    var docEndPoint = "/" + this.applicationNumber + "/other";
                    event.detail.file.uploadTarget = baseUrl + docEndPoint;
                    $('#uploadSuccessMessage').hide();
                },
                _getServerUrl: function (doc) {
                    var baseUrl = window.config.services.verificationEngine + "/application/";
                    var factEndpoint = this.applicationNumber + "/" + doc.factName + "/";
                    var docEndpoint = doc.methodName + "/upload-document";
                    return baseUrl + factEndpoint + docEndpoint;
                },
                _getDocumentConfigurations: function () {
                    var data = this.$.config.getConfigurationBasedOnKey("documents");
                    this.set('docConfig', data);
                    this._getPendingDocumentList();
                },
                _getPendingDocumentList: function (docConfig) {
                    var self = this;
                    var url = "/application/" + self.applicationNumber + "/documents";
                    self.$.http.get(url, window.config.services.verificationEngine).then(function (data) {
                        var merged = _(self.docConfig).keyBy('factName').merge(_.keyBy(data, 'factName')).values().value();
                        var result = _.orderBy(merged, ['isRequested', 'displayOrder'], ['desc', 'asc']);
                        self.set('pendingDocs', result);
                        function test() {
                            self.set("documentsReceived", true);
                        }
                        setTimeout(test, 2000);
                    }).fail(function (e) {
                        console.error("error getting pending document list: ", e);
                    });
                },
                init: function () {
                    this._getDocumentConfigurations();
                }
            });
        });
    </script>
</dom-module>