<dom-module id="edit-application">
    <template>
        <div class="slide-action">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editApplicationModal">
                Edit Details
            </button>
        </div>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "edit-application",
                properties: {

                },
                init: function () {

                }
            });
        });
    </script>
</dom-module>