<dom-module id="edit-cashflow">
    <template>
        <style>
            .custom-input {
                --paper-input-container-input: {
                    font-size: 11px;
                }
                --paper-input-container-label: {
                    font-size: 12px;
                }
            }

            #ErrorMessge p,
            #FactStatusMessage p {
                color: #ff0000;
                font-size: 12px !important;
            }
        </style>

        <div class="row">
            <div class="col-md-12">
                <form is="iron-form" class="form-horizontal" name="CashflowDetails">
                    <div id="ErrorMessge" style="display: none;">
                        <p></p>
                    </div>
                    <div id="FactStatusMessage" style="display: none;">
                        <p></p>
                    </div>
                    <dynamic-form form-configuration={{cashflowObj}} values="{{cashflowObj.values}}"></dynamic-form>
                    <br/>
                    <paper-button class="btn btn-primary activity-action-btn" on-click="_verifyForm" raised>Submit</paper-button>
                </form>
            </div>
        </div>
        <http-request id="http"></http-request>
        <utility-service id="utility"></utility-service>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "edit-cashflow",
                properties: {
                    cashflowObj: {
                        type: Object,
                        notify: true,
                        value: {
                            controls: {
                                NumberOfNegativeBalance: {
                                    label: "Number Of Negative Balance",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        "pattern": "NUMBER",
                                        "minLen": 1,
                                        "maxLen": 5,
                                        "autovalidate": true
                                    }
                                },
                                NumberOfNSF: {
                                    label: "Number Of NSF",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        "pattern": "NUMBER",
                                        "minLen": 1,
                                        "maxLen": 5,
                                        "autovalidate": true
                                    }
                                },
                                AverageDailyBalance: {
                                    label: "Average Daily Balance",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        "pattern": "DECIMAL",
                                        "minLen": 1,
                                        "maxLen": 10,
                                        "autovalidate": true
                                    }
                                },
                                AverageDeposit: {
                                    label: "Average Deposit",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        "pattern": "DECIMAL",
                                        "minLen": 1,
                                        "maxLen": 10,
                                        "autovalidate": true
                                    }
                                }
                            },
                            values: {
                                NumberOfNegativeBalance: 0,
                                NumberOfNSF: 0,
                                AverageDailyBalance: 0.00,
                                AverageDeposit: 0.00
                            }
                        }
                    }
                },
                _preFillCashflowData: function () {
                    var self = this;
                    var url = "/application/" + self.applicationNumber + "/cashflow/selected";
                    var appProcessorEndpoint = window.config.services.appProcessor;

                    self.$.http.get(url, appProcessorEndpoint).then(function (result) {
                        if (result != undefined) {
                            self.cashflowObj.values.NumberOfNegativeBalance = result.numberOfNegativeBalance;
                            self.cashflowObj.values.NumberOfNSF = result.numberOfNSF;
                            self.cashflowObj.values.AverageDailyBalance = result.averageDailyBalance;
                            self.cashflowObj.values.AverageDeposit = result.averageDeposit;
                            self.set('cashflowObj', $.extend({}, self.cashflowObj));
                        }
                    }).fail(function (e) {
                        console.error("_preFillCashflowData error is ", e);
                    });
                },
                _getCashflowVerificationStatus: function () {
                    var self = this;
                    var url = "/application/" + self.applicationNumber + "/CashflowVerification/Status";
                    self.$.http.get(url, window.config.services.verificationEngine).then(function (data) {
                        if (data != null && data != undefined) {
                            if (data.verificationStatus == 'Passed') {
                                $('div#FactStatusMessage p').html("Cashflow fact verification is already passed");
                                $('div#FactStatusMessage').show();
                            }
                        }
                    });
                },
                _verifyForm: function (event) {
                    event.preventDefault();
                    var self = this;
                    var form = Polymer.dom(event).localTarget.parentElement;
                    var appProcessor = window.config.services.appProcessor;
                    var url = "/application/" + self.applicationNumber + "/cashflow/edit";
                    if (form.validate()) {
                        self.$.http.post(url, self.cashflowObj.values, appProcessor, true).then(function (data) {
                            if (data != null && data != '') {
                                $('div#ErrorMessge p').html(data);
                                $('div#ErrorMessge').show();
                                setTimeout(function () {
                                    $('div#ErrorMessge').hide();
                                }, 3000);
                            }
                            else {
                                self.raiseAppRefreshEvent(event);
                            }
                        }).fail(function (e) {
                            console.error("Choose account error is ", e);
                        });
                    }
                },
                init: function () {
                    this._preFillCashflowData();
                    this._getCashflowVerificationStatus();
                },
                raiseAppRefreshEvent: function () {
                    this.$.utility.raiseEvent(this.fireEvent, {});
                }
            });
        });
    </script>
</dom-module>