<dom-module id="edit-offer">
    <template>
        <div>
            TBD
        </div>
    </template>
    <script>
        Polymer({
            is: "edit-offer",
            properties: {

            },
            init: function () {

            }
        });
    </script>
</dom-module>