<dom-module id="edit-ach-return">
    <template>
        <style>
            .custom-input {
                --paper-input-container-input: {
                    font-size: 11px;
                }
                --paper-input-container-label: {
                    font-size: 12px;
                }
            }
        </style>

        <div class="row">
            <div class="col-md-12">
                <form is="iron-form" class="form-horizontal" name="CashflowDetails">
                    <dynamic-form form-configuration={{fundingObj}} values="{{fundingObj.values}}"></dynamic-form>
                    <br/>
                    <paper-button class="btn btn-primary activity-action-btn" on-click="_verifyForm" raised>Submit</paper-button>
                </form>
            </div>
        </div>
        <http-request id="http"></http-request>
        <utility-service id="utility"></utility-service>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "edit-ach-return",
                properties: {
                    fundingRequestObj: {
                        type: Object,
                        notify: true,
                        value: {}
                    },
                    fundingObj: {
                        type: Object,
                        notify: true,
                        value: {
                            controls: {
                                BankAccountNumber: {
                                    label: "Account Number",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        "pattern": "NUMBER",
                                        "minLen": 1,
                                        "maxLen": 20,
                                        "autovalidate": true
                                    }
                                },
                                BankRTN: {
                                    label: "RoutingNumber",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        "pattern": "NUMBER",
                                        "minLen": 9,
                                        "maxLen": 20,
                                        "autovalidate": true
                                    }
                                },
                                BorrowersName: {
                                    label: "Borrower Name",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        "minLen": 1,
                                        "maxLen": 50,
                                        "autovalidate": true
                                    }
                                },
                                BankAccountType: {
                                    label: "Account Type",
                                    type: "combobox",
                                    selectList: [
                                        { key: 'Checking', value: 'Checking' },
                                        { key: 'Savings', value: 'Savings' }
                                    ],
                                    labelKey: "value",
                                    labelValue: "key",
                                    validations: {
                                        required: true
                                    }
                                }
                            },
                            values: {
                                BankAccountNumber: "",
                                BankRTN: "",
                                BorrowersName: "",
                                RequestedDate: "",
                                ApplicationFundingId: "",
                                Status: "",
                                BankAccountType: ""
                            }
                        }
                    }
                },
                _preFillFundingData: function () {
                    var self = this;
                    var url = "/application/" + self.applicationNumber;
                    var fundingServiceEndpoint = window.config.services.fundingService;

                    self.$.http.get(url, fundingServiceEndpoint).then(function (result) {
                        if (result != undefined) {
                            self.fundingObj.values.BankAccountNumber = result.bankAccountNumber;
                            self.fundingObj.values.BankRTN = result.bankRTN;
                            self.fundingObj.values.BorrowersName = result.borrowersName;
                            self.fundingObj.values.RequestedDate = result.requestedDate.time;
                            self.fundingObj.values.ApplicationFundingId = result.id;
                            self.fundingObj.values.Status = result.requestStatus;
                            self.fundingObj.values.BankAccountType = result.bankAccountType;
                            self.set('fundingObj', $.extend({}, self.fundingObj));
                            self.fundingRequestObj = result;
                            self.set('fundingRequestObj', $.extend({}, self.fundingRequestObj));
                        }
                    }).fail(function (e) {
                        console.error("_preFillFundingData error is ", e);
                    });
                },
                _verifyForm: function (event) {
                    event.preventDefault();
                    var self = this;
                    var form = Polymer.dom(event).localTarget.parentElement;
                    var fundingServiceEndpoint = window.config.services.fundingService;
                    var url = "/application/" + self.applicationNumber + "/update";
                    if (form.validate()) {

                        self.fundingRequestObj.bankAccountNumber = self.fundingObj.values.BankAccountNumber;
                        self.fundingRequestObj.bankRTN = self.fundingObj.values.BankRTN;
                        self.fundingRequestObj.borrowersName = self.fundingObj.values.BorrowersName;
                        self.fundingRequestObj.requestedDate = self.fundingObj.values.RequestedDate;
                        self.fundingRequestObj.ApplicationFundingId = self.fundingObj.values.ApplicationFundingId;
                        self.fundingRequestObj.status = "reattempt";
                        self.fundingRequestObj.bankAccountType = self.fundingObj.values.BankAccountType;
                        self.$.http.post(url, self.fundingRequestObj, fundingServiceEndpoint).then(function (data) {
                            self.raiseAppRefreshEvent();
                        }).fail(function (e) {
                            console.error("edit ACH Return Error is ", e);
                        });
                    }
                },
                init: function () {
                    this._preFillFundingData();
                },
                raiseAppRefreshEvent: function () {
                    this.$.utility.raiseEvent(this.fireEvent, {});
                }
            });
        });
    </script>
</dom-module>