<dom-module id="enable-reapply">
    <template>
        <style>
            #ErrorMessge {
                color: #ff0000;
            }
        </style>

        <div id="reapplyErrorMessge" style="display: none;">
            <p></p>
        </div>
        <div class="slide-action">
            <button id="reapplyApplication" on-click="reapplyApplication" disabled$="[[reApplydisabled]]" class="btn btn-primary activity-action-btn">Re-apply Application</button>
        </div>
        <url-parser id="url"></url-parser>
        <http-request id="http"></http-request>
        <session-manager id="session"></session-manager>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "enable-reapply",
                properties: {
                    applicantId: {
                        type: String,
                        notify: true
                    },
                    reApplydisabled: {
                        type: Boolean,
                        value: true,
                        notify: true
                    },
                    AppAppliedDate: {
                        type: Date,
                        notify: true
                    },
                    ExtData: {
                        type: Date,
                        notify: true
                    }
                },
                reapplyApplication: function () {
                    var self = this;
                    var offerEndPoint = window.config.services.appProcessor;
                    $('div#reapplyErrorMessge').hide();
                    if (self.applicantId != undefined) {
                        var url = "/application/" + self.applicationNumber + "/" + self.applicantId + "/EnableReApplyInCoolOff";
                        self.$.http.post(url, {}, offerEndPoint).then(function (data) {
                            $('button#reapplyApplication').hide();
                            $('div#reapplyErrorMessge p').html("Operation completed successfully");
                            $('div#reapplyErrorMessge').show();
                        }).fail(function (e) {
                            $('div#reapplyErrorMessge p').html("Error occurred while performing the operation. Failed to complete the operation.");
                            $('div#reapplyErrorMessge').show();
                            setTimeout(function () {
                                $('div#reapplyErrorMessge').hide();
                            }, 5000);
                        });
                    }
                    else {
                        $('div#reapplyErrorMessge p').html("ApplicantId is required.");
                        $('div#reapplyErrorMessge').show();
                        setTimeout(function () {
                            $('div#reapplyErrorMessge').hide();
                        }, 5000);
                    }
                },
                raiseAppRefreshEvent: function () {
                    this.$.utility.raiseEvent(this.fireEvent, {});
                },
                init: function () {
                    var self = this;
                    var params = this.$.url.getParams();
                    self.applicantId = params.applicantId;
                    var reApplyTimeFrameObj = self.$.session.get("reApplyTimeFrame");
                    self.AppAppliedDate = self.$.session.get("AppAppliedDate");
                    var todaysDate = new Date();
                    var currentDate = new Date(self.AppAppliedDate);
                    var newDate = new Date(currentDate.setTime(currentDate.getTime() + reApplyTimeFrameObj * 86400000));
                    self.ExtData = newDate;
                    if (todaysDate < self.ExtData) {
                        self.reApplydisabled = false;
                    }
                }
            });
        });
    </script>
</dom-module>