<dom-module id="escalate-app">
    <style>
        .custom-input {
            --paper-input-container-input: {
                font-size: 11px;
            }
            --paper-input-container-label: {
                font-size: 12px;
            }
        }

        #escalateErrorMessge p {
            color: red;
        }
    </style>
    <template>
        <div id="escalateErrorMessge" style="display: none;">
            <p></p>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form is="iron-form" class="form-horizontal" name="EscalationForm">
                    <div class="row">
                        <div class="col-md-12">
                            <vaadin-combo-box name="Role" value="{{selectedFromRole}}" class="custom-input" item-value-path="value" item-label-path="value"
                                items="{{fromRoles}}" label="Select From Role" prevent-invalid-input="true" required>
                            </vaadin-combo-box>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <vaadin-combo-box name="User" value="{{selectedToRole}}" class="custom-input" item-value-path="value" item-label-path="value"
                                items="{{toRoles}}" label="Select To Role" prevent-invalid-input="true" required aria-required="">
                            </vaadin-combo-box>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <paper-textarea name="Notes" type="text" rows="1" maxlength="200" value="{{notes}}" class="custom-input" label="Notes" auto-complete="none"
                                required></paper-textarea>
                        </div>
                    </div>
                    <paper-button class="btn btn-primary activity-action-btn" on-click="escalateApp" raised>Escalate</paper-button>
                </form>
            </div>
        </div>
        <url-parser id="url"></url-parser>
        <http-request id="http"></http-request>
        <utility-service id="utility"></utility-service>
        <session-manager id="session"></session-manager>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "escalate-app",
                properties: {
                    selectedFromRole: {
                        type: String,
                        notify: true,
                        observer: "_getToRoles"
                    },
                    selectedToRole: {
                        type: String,
                        notify: true
                    },
                    notes: {
                        type: String,
                        notify: true
                    },
                    fromRoles: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    toRoles: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    currentEntityName: {
                        type: String,
                        notify: true,
                        value: 'application'
                    }
                },
                _getFromRoles: function () {
                    var self = this;
                    var userRole = self.$.session.get("userRoles").split(',');
                    var tempList = _.transform(userRole, function (result, item) {
                        result.push({ key: item, value: item });
                    }, []);
                    self.set('fromRoles', tempList);
                    if (tempList !== undefined && tempList !== null && tempList.length === 1) {
                        self.set("selectedFromRole", tempList[0].key);
                    }
                },
                _getToRoles: function () {
                    var self = this;
                    if (self.selectedFromRole !== undefined && self.selectedFromRole !== null && self.selectedFromRole !== "") {
                        var url = "/roles/" + self.selectedFromRole + "/parents";
                        self.$.http.get(url, "").then(function (data) {
                            if (data) {
                                var tempList = _.transform(data, function (result, item) {
                                    if (item !== "Backoffice" && item !== "LMS") {
                                        result.push({ key: item, value: item });
                                    }
                                }, []);
                                self.set('toRoles', tempList);
                            }
                        }).fail(function (e) {
                            console.error("Get roles error is ", e);
                        });
                    }
                    else {
                        self.set('toRoles', []);
                        self.set('selectedToRole', "");
                    }
                },
                ready: function () {
                    var self = this;
                    var params = self.$.url.getParams();
                    if (params.hasOwnProperty('entity')) {
                        self.set('currentEntityName', params.entity);
                    }
                },
                init: function () {
                    this._getFromRoles();
                },
                escalateApp: function (event) {
                    var self = this;
                    var userRole = self.$.session.get("userRoles").split(',');
                    var form = Polymer.dom(event).localTarget.parentElement;
                    var $errorDiv = $('div#escalateErrorMessge');
                    if (form.validate()) {
                        var url = '/' + self.currentEntityName + '/' + self.applicationNumber + '/escalate';
                        $errorDiv.hide();
                        var payload = {
                            "fromRole": self.selectedFromRole,
                            "toRole": self.selectedToRole,
                            "notes": self.notes
                        }
                        var assignmentService = window.config.services.assignment
                        self.$.http.post(url, payload, assignmentService, true).then(function (data) {
                            var message = "Application " + self.applicationNumber + " escalated successfully";
                            self.raiseAppRefreshEvent(event, message);
                        }).fail(function (e) {
                            var strMessage = e.responseJSON.message + " Unable to escalate.";
                            $('div#escalateErrorMessge p').html(strMessage);
                            $errorDiv.show();
                            setTimeout(function () {
                                $errorDiv.hide();
                            }, 3000);
                        });
                    }
                },
                raiseAppRefreshEvent: function (event, message) {
                    this.$.utility.raiseEvent(this.fireEvent, {
                        Message: message,
                        ActionName: 'Escalate',
                        EventData: event,
                        CompnentName: 'escalate-app'
                    });
                }
            });
        });
    </script>
</dom-module>