<dom-module id="generate-loanagreement">
    <style>
        .errorMessage,
        .errorMsg {
            color: #ff0000;
        }

        .custom-input {
            --paper-input-container-input: {
                font-size: 11px;
            }
            --paper-input-container-label: {
                font-size: 12px;
            }
            .btnmargin {
                margin-top: 20px;
            }
        }

        .checkbox-div {
            margin: 10px auto;
        }

        .checkbox-div .col-md-12 {
            padding: 0;
        }
    </style>
    <template>
        <div class="slide-action">
            <form is="iron-form" class="form-horizontal" name="UserDetail" id="sendLoanagreement">
                <div id="checkboxDiv">
                    <div class="row checkbox-div">
                        <div class="col-md-12">
                            <paper-checkbox id="isPrePayAddendums" checked="{{isPrePayAddendumsValues}}" on-click=""> Include Pre Pay Addendum</paper-checkbox>
                        </div>
                    </div>
                    <template is="dom-if" if="{{isPrePayAddendumsValues}}">
                        <div class="row">
                            <div class="col-md-12">
                                <paper-input type="number" class="custom-input" auto-validate allowed-pattern="[\w]" pattern="^[0-9]$" min="0" max="9999999"
                                    value="{{repurchasePriceObj.First_RepurchasePrice}}" name="First_RepurchasePrice" id="First_RepurchasePrice"
                                    label="First Optional Repurchase Price" required$="{{isPrePayAddendumsValues}}"></paper-input>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <paper-input type="number" class="custom-input" auto-validate allowed-pattern="[\w]" pattern="^[0-9]$" min="0" max="9999999"
                                    value="{{repurchasePriceObj.Second_RepurchasePrice}}" name="Second_RepurchasePrice" id="Second_RepurchasePrice"
                                    label="Second Optional Repurchase Price" required$="{{isPrePayAddendumsValues}}"></paper-input>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <paper-input type="number" class="custom-input" auto-validate allowed-pattern="[\w]" pattern="^[0-9]$" min="0" max="9999999"
                                    value="{{repurchasePriceObj.Third_RepurchasePrice}}" name="Third_RepurchasePrice" id="Third_RepurchasePrice"
                                    label="Third Optional Repurchase Price" required$="{{isPrePayAddendumsValues}}"></paper-input>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <paper-input type="number" class="custom-input" auto-validate allowed-pattern="[\w]" pattern="^[0-9]$" min="0" max="9999999"
                                    value="{{repurchasePriceObj.Fourth_RepurchasePrice}}" name="Fourth_RepurchasePrice" id="Fourth_RepurchasePrice"
                                    label="Fourth Optional Repurchase Price" required$="{{isPrePayAddendumsValues}}"></paper-input>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <paper-input type="number" class="custom-input" auto-validate allowed-pattern="[\w]" pattern="^[0-9]$" min="0" max="9999999"
                                    value="{{repurchasePriceObj.Fifth_RepurchasePrice}}" name="Fifth_RepurchasePrice" id="Fifth_RepurchasePrice"
                                    label="Fifth Optional Repurchase Price" required$="{{isPrePayAddendumsValues}}"></paper-input>
                            </div>
                        </div>
                    </template>
                    <div class="row checkbox-div">
                        <div class="col-md-12">
                            <paper-checkbox id="isNoStackingAddendums" checked="{{isNoStackingAddendumsValues}}"> Include No Stacking Addendum</paper-checkbox>
                        </div>
                    </div>
                </div>
                <br/>
                <button on-click="generateloanagreement" class="btn btn-primary activity-action-btn">Generate Contract </button>
                <paper-button id="sendLoanagreementformResetButton" class="btn btn-primary activity-action-btn" style="display: none;" on-click="_formReset"
                    raised>Reset</paper-button>
            </form>
        </div>
        <div id="sendLoanagreementMessge" class="errorMsg"></div>
        <url-parser id="url"></url-parser>
        <http-request id="http"></http-request>
        <utility-service id="utility"></utility-service>
        <message-component id="message"></message-component>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "generate-loanagreement",
                properties: {
                    isPrePayAddendumsValues: {
                        type: Boolean,
                        notify: true,
                        value: false
                    },
                    isNoStackingAddendumsValues: {
                        type: Boolean,
                        notify: true,
                        value: false
                    },
                    message: {
                        type: String,
                        notify: true,
                        value: ''
                    },
                    messageList: {
                        type: Object,
                        notify: false,
                        value: {
                            Failed: "Unable to send loanagreement",
                            Completed: "Loanagreement send successfuly"
                        }
                    },
                    applicationNumber: {
                        type: String,
                        notify: true
                    },
                    currentEntityName: {
                        type: String,
                        notify: true,
                        value: ''
                    },
                    repurchasePriceObj: {
                        type: Object,
                        notify: true,
                        value: {
                            values: {
                                First_RepurchasePrice: "",
                                Second_RepurchasePrice: "",
                                Third_RepurchasePrice: "",
                                Fourth_RepurchasePrice: "",
                                Fifth_RepurchasePrice: ""
                            }
                        }
                    },
                },
                _formReset: function (event) {
                    var form = Polymer.dom(event).localTarget.parentElement;
                    form.reset();
                },
                init: function () {
                    var self = this;
                    var urlParams = self.$.url.getParams();
                    if (urlParams.hasOwnProperty('entity')) {
                        self.set('currentEntityName', urlParams.entity);
                    }
                    if (self.currentEntityName == 'drawdown') {
                        $('#checkboxDiv').hide();
                    }
                },
                generateloanagreement: function (event) {
                    var self = this;
                    event.preventDefault();
                    var form = Polymer.dom(event).localTarget.parentElement;
                    var repurchasePriceObj = _.cloneDeep(self.repurchasePriceObj);
                    if (form.validate()) {
                        var payload = {};
                        var ProcessorEndpoint = '';
                        var url = '';
                        if (self.currentEntityName == 'drawdown') {
                            ProcessorEndpoint = window.config.services.drawdownProcessor;
                            url = self.applicationNumber + '/generate/agreement';
                        } else {
                            payload.isPrePayAddendums = self.isPrePayAddendumsValues;
                            payload.isNoStackingAddendums = self.isNoStackingAddendumsValues;
                            if (self.isPrePayAddendumsValues) {
                                payload = _.assign({}, payload, repurchasePriceObj);
                            }
                            ProcessorEndpoint = window.config.services.appProcessor;
                            url = self.currentEntityName + '/' + self.applicationNumber +
                                '/generate/agreement'
                        }
                        self.$.http.post(url, payload, ProcessorEndpoint, true).then(function (data) {
                            $('#sendLoanagreementformResetButton').click();
                            self.raiseAppRefreshEvent(event);
                        }).fail(function (e) {
                            if (self.currentEntityName == 'drawdown') {
                                self.$.message.showMessage(e.responseText, "ERROR", self.$.sendLoanagreementMessge);

                            } else {
                                self.$.message.showMessage(e.responseJSON.message, "ERROR",
                                    self.$.sendLoanagreementMessge);
                            }
                            console.error("generatesendloanagreement error is ", e);
                        });

                    }
                },
                raiseAppRefreshEvent: function (event) {
                    this.$.utility.raiseEvent(this.fireEvent, {
                        ActionName: "GenerateSendLoanAggrement",
                        EventData: event,
                        CompnentName: 'generate-loanagreement'
                    });
                }
            });
        });
    </script>
</dom-module>