<dom-module id="generate-ocrolus">
    <template>
        <style>
            vaadin-upload {
                --vaadin-upload-button-add: {
                    background: #80b43c;
                }
                --vaadin-upload-file-list: {
                    margin-left: 20px;
                }
                --vaadin-upload-drop-label: {
                    margin: 0 !important;
                    padding: 0 !important;
                }
            }
        </style>
        <div id="ErrorMessgeOcrolus"></div>
        <div class="row">
            <div class="col-md-12">
                <form is="iron-form" class="form-horizontal" name="cashflowForm" autocomplete="off" aria-autocomplete="none">
                    <dynamic-form form-configuration={{ocrolusObj}} values="{{ocrolusObj.values}}"></dynamic-form>
                    <br />
                    <div class="row">
                        <div class="col-md-12">
                            <vaadin-upload id="pdfStatement" method="POST" accept=".pdf" on-upload-request="_uploadRequest" on-upload-before="_changeServerUrl"
                                on-upload-success="_uploadSuccess" required>
                            </vaadin-upload>
                        </div>
                    </div>
                    <div style="margin: 10px auto; text-align: center;">
                        <paper-button class="btn btn-primary activity-action-btn" on-click="_verifyForm" raised>Submit</paper-button>
                    </div>
                </form>
            </div>
        </div>
        <url-parser id="url"></url-parser>
        <http-request id="http"></http-request>
        <utility-service id="utility"></utility-service>
        <session-manager id="session"></session-manager>
        <alloy-config id="config"></alloy-config>
        <message-component id="message"></message-component>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "generate-ocrolus",
                properties: {
                    manualBookId: {
                        type: String,
                        notify: true
                    },
                    fileCount: {
                        type: String,
                        notify: true
                    },
                    currentEntityName: {
                        type: String,
                        notify: true,
                        value: 'application'
                    },
                    applicationNumber: {
                        type: String,
                        notify: true
                    },
                    file: {
                        type: Object,
                        notify: true,
                        value: {}
                    },
                    ocrolusObj: {
                        type: Object,
                        notify: true,
                        value: {
                            controls: {
                                bankName: {
                                    label: "Bank Name",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: true,
                                        minLen: 1,
                                        maxLen: 100
                                    }
                                },
                                firstName: {
                                    label: "First Name",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: true,
                                        minLen: 1,
                                        maxLen: 100
                                    }
                                },
                                lastName: {
                                    label: "Last Name",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: true,
                                        minLen: 1,
                                        maxLen: 100
                                    }
                                },
                                userMailId: {
                                    label: "Email",
                                    type: "email",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: true,
                                        pattern: 'EMAIL',
                                        minLen: 1,
                                        maxLen: 30
                                    }
                                }
                            },
                            values: {
                                bankName: "",
                                firstName: "",
                                lastName: "",
                                userMailId: ""
                            }
                        }
                    }
                },
                init: function () {
                    var self = this;
                    var urlParams = self.$.url.getParams();
                    if (urlParams.hasOwnProperty('entity')) {
                        self.set('currentEntityName', urlParams.entity);
                    }
                },
                _verifyForm: function (event) {
                    var self = this;
                    var form = Polymer.dom(event).localTarget.parentElement.parentElement;
                    var payload = {
                        bankName: self.ocrolusObj.values.bankName,
                        firstName: self.ocrolusObj.values.firstName,
                        lastName: self.ocrolusObj.values.lastName,
                        userMailId: self.ocrolusObj.values.userMailId,
                    };
                    var token = this.$.session.get("token");
                    if (form.validate()) {
                        var uploadContainer = document.querySelector("vaadin-upload#pdfStatement");
                        var files = uploadContainer.files;
                        var url = "/" + self.currentEntityName + "/" + self.applicationNumber + "/createbook";
                        self.$.http.post(url, payload, window.config.services.ibvService).then(function (data) {
                            if (data != undefined) {
                                self.set('manualBookId', data.providerLinkId);
                            }
                            if (files.length > 0) {
                                self.set("fileCount", files.length);
                                self._uploadManualDocuments(event);
                            }
                            else {
                                self.raiseAppRefreshEvent(event);
                            }
                        }).fail(function (e) {
                            self.$.message.showMessage(e.responseJSON.message, "ERROR", self.$.ErrorMessgeOcrolus);
                        });
                    }
                    else {
                        self.$.message.showMessage("All fields are required.", "ERROR", self.$.ErrorMessgeOcrolus);
                    }
                },
                raiseAppRefreshEvent: function (event) {
                    this.$.utility.raiseEvent(this.fireEvent, {
                        ActionName: "OcrolusLinking",
                        EventData: event,
                        CompnentName: 'generate-ocrolus'
                    });
                },
                _changeServerUrl: function (event) {
                    if (!this.allowUpload) {
                        event.preventDefault();
                    }
                    event.detail.file.uploadTarget = this._getServerUrl();
                },
                _uploadManualDocuments: function (e) {
                    var self = this;
                    self.set('allowUpload', true);
                    self.set('isExtVerified', true);
                    var uploadContainer = document.querySelector("vaadin-upload#pdfStatement");
                    var files = uploadContainer.files;
                    if (self.isExtVerified) {
                        _.forEach(files, function (item) {
                            item.uploadTarget = self._getServerUrl();
                            uploadContainer._uploadFile(item);
                        });
                    }
                    self.set('allowUpload', false);
                },
                _getServerUrl: function () {
                    var self = this;
                    var serviceUrl = window.config.services.ibvService;
                    var ibvServiceURL = serviceUrl + "/" + self.currentEntityName + "/" + self.applicationNumber + "/uploadstatement/" + self.manualBookId + "/single";
                    return ibvServiceURL;
                },
                _uploadRequest: function (event) {
                    var token = this.$.session.get("token");
                    event.detail.xhr.setRequestHeader('Authorization', "Bearer " + token);
                },
                _uploadSuccess: function (event) {
                    var self = this;
                    var count = parseInt(self.fileCount) - 1;
                    if (event.detail.xhr.status === 200) {
                        var res = $.parseJSON(event.detail.xhr.response);
                        self.set("fileCount", count);
                        if (count === 0) {
                            $(this.querySelectorAll("#row")).hide();
                            $(this.querySelectorAll("#progress")).hide();
                            self.raiseAppRefreshEvent(event);
                        }
                    }
                },
            });
        });
    </script>
</dom-module>