<dom-module id="gstin-request">
    <template>
        <div class="slide-action">
            <button id="addgstinrequest" on-click="gstinRequest" class="btn btn-primary activity-action-btn">Fetch</button>
        </div>
        <url-parser id="url"></url-parser>
        <http-request id="http"></http-request>
        <utility-service id="utility"></utility-service>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "gstin-request",
                properties: {
                    currentEntityName: {
                        type: String,
                        notify: true,
                        value: 'application'
                    }
                },
                init: function () {
                    var self = this;
                    var urlParams = self.$.url.getParams();
                    if (urlParams.hasOwnProperty('entity')) {
                        self.set('currentEntityName', urlParams.entity);
                    }
                },
                gstinRequest: function (event) {
                    var self = this;
                    var appNumber, appProcessorEndpoint, url;
                    var urlParams = self.$.url.getParams();
                    var url = "/" + self.currentEntityName + "/" + urlParams.app + "/gst/report";
                    self.$.http.get(url, window.config.services.appProcessor, true).then(function (data) {
                        self.raiseAppRefreshEvent(event);
                    }).fail(function (e) {
                        self.raiseAppRefreshEvent(event);
                        console.error("GSTIN error is ", e);
                    });
                },
                raiseAppRefreshEvent: function (event) {
                    this.$.utility.raiseEvent(this.fireEvent, {
                        ActionName: 'GstinRequest',
                        EventData: event,
                        CompnentName: 'gstin-request'
                    });
                }
            });
        });
    </script>
</dom-module>