<dom-module id="move-to-next-step">
    <template>
        <div>
            <button id="MoveToNextStepBtn" on-click="MoveToNextStep" class="btn btn-primary activity-action-btn">
                Move To Next Step
            </button>
        </div>
        <div id="MessageContainer"></div>
        <http-request id="http"></http-request>
        <utility-service id="utility"></utility-service>
        <message-component id="message"></message-component>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "move-to-next-step",
                properties: {
                    currentStatus: {
                        type: Object,
                        notify: true
                    },
                    nextStatus: {
                        type: String,
                        notify: true
                    },
                    workflowId: {
                        type: String,
                        notify: true
                    }
                },
                _setNextStatus: function () {
                    var self = this;
                    if (self.currentStatus != undefined && self.currentStatus != null &&
                        self.currentStatus.transitions != undefined &&
                        self.currentStatus.transitions != null &&
                        self.currentStatus.transitions.length > 0) {
                        var nextTrans = self.currentStatus.transitions[1];
                        self.set("nextStatus", nextTrans);
                        self.set("workflowId", self.currentStatus.statusWorkFlowId);
                    }
                },
                MoveToNextStep: function () {
                    var self = this;
                    var url = '/application/' + this.applicationNumber + '/' + self.workflowId + '/' + self.nextStatus;
                    if (!_.isUndefined(self.nextStatus) && !_.isNull(self.nextStatus) && self.nextStatus != '') {
                        self.$.http.post(url, undefined, window.config.services.statusManagement).then(function (data) {
                            self.raiseAppRefreshEvent();
                        }).fail(function (e) {
                            console.error("Failed to update the status", e.responseJSON.message);
                            self.$.message.showMessage("Checklist is pending, Please check.", "ERROR", self.$$('#MessageContainer'));
                        });
                    }
                },
                raiseAppRefreshEvent: function () {
                    this.$.utility.raiseEvent(this.fireEvent, {});
                },
                init: function () {
                    this._setNextStatus();;
                }
            });
        });
    </script>
</dom-module>