<dom-module id="paynet-request">
    <template>
        <div class="slide-action">
            <button id="addpaynetrequest" on-click="paynetRequest" class="btn btn-primary activity-action-btn">Submit</button>
        </div>
        <url-parser id="url"></url-parser>
        <http-request id="http"></http-request>
        <utility-service id="utility"></utility-service>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "paynet-request",
                properties: {
                    currentEntityName: {
                        type: String,
                        notify: true,
                        value: 'application'
                    }
                },
                init: function () {
                    var self = this;
                    var urlParams = self.$.url.getParams();
                    if (urlParams.hasOwnProperty('entity')) {
                        self.set('currentEntityName', urlParams.entity);
                    }
                },
                paynetRequest: function (event) {
                    var self = this;
                    var appNumber, appProcessorEndpoint, url;
                    var urlParams = self.$.url.getParams();
                    var payload = {};
                    payload.entityType = self.currentEntityName;
                    payload.entityId = urlParams.app;
                    self.$.http.post("/paynetCreditHistoryReport", payload, window.config.services.decisionEngine, true).then(function (data) {
                        self.raiseAppRefreshEvent(event);
                    }).fail(function (e) {
                        console.error("Paynet error is ", e);
                    });
                },
                raiseAppRefreshEvent: function (event) {
                    this.$.utility.raiseEvent(this.fireEvent, {
                        ActionName: 'PaynetRequest',
                        EventData: event,
                        CompnentName: 'paynet-request'
                    });
                }
            });
        });
    </script>
</dom-module>