<dom-module id="present-offer">
    <template>
        <div class="slide-action">
            <button id="presentOfferbtn" on-click="presentOffer" class="btn btn-primary activity-action-btn">
                Present Offers
            </button>
        </div>
        <http-request id="http"></http-request>
        <utility-service id="utility"></utility-service>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "present-offer",
                properties: {
                },
                init: function () {

                },
                presentOffer: function (event) {
                    var self = this;
                    var url = '/application/' + self.applicationNumber + '/present/offer'
                    var appProcessorEndpoint = window.config.services.appProcessor;
                    self.$.http.get(url, appProcessorEndpoint, true).then(function (data) {
                        self.raiseAppRefreshEvent(event);
                    }).fail(function (e) {
                        console.error("presentOffer error is ", e);
                    });
                },
                raiseAppRefreshEvent: function (event) {
                    this.$.utility.raiseEvent(this.fireEvent, {
                        ActionName: "PresentOffers",
                        EventData: event,
                        CompnentName: 'present-offer'
                    });
                }
            });
        });
    </script>
</dom-module>