<dom-module id="re-pull-cibil">
    <style>
        #rePullCibilErrorMessge p {
            color: red;
        }
    </style>
    <template>
        <div id="rePullCibilErrorMessge" style="display: none;">
            <p></p>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form is="iron-form" class="form-horizontal" name="rePullCibilForm">
                    <dynamic-form form-configuration={{lenderListObj}} values="{{lenderListObj.values}}"></dynamic-form>
                    <br />
                    <paper-button class="btn btn-primary activity-action-btn" on-click="rePullCibil" raised>RePull
                        CIBIL</paper-button>
                </form>
            </div>
        </div>
        <url-parser id="url"></url-parser>
        <http-request id="http"></http-request>
        <alloy-config id="config"></alloy-config>
        <utility-service id="utility"></utility-service>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "re-pull-cibil",
                properties: {
                    lenderListObj: {
                        type: Object,
                        notify: true,
                        value: {
                            controls: {
                                lenderData: {
                                    label: "Select Lender",
                                    type: "combobox",
                                    selectList: [],
                                    labelKey: "value",
                                    labelValue: "key",
                                    validations: {
                                        required: true
                                    }
                                }
                            },
                            values: {
                                lenderData: ""
                            }
                        }
                    },
                    currentEntityId: {
                        type: String,
                        notify: true,
                        value: ''
                    }
                },
                _getLenderList: function () {
                    var self = this;
                    var products = self.$.config.getConfigurationBasedOnKey("products");
                    //var url = "/roles/user";
                    //self.$.http.get(url, "").then(function (data) {
                    if (products != undefined) {
                        var tempList = _.transform(products, function (result, value, key) {
                            result.push({
                                key: key,
                                value: value
                            });
                        }, []);
                        var lenderListObj = _.cloneDeep(self.get('lenderListObj'));
                        lenderListObj.controls.lenderData.selectList = tempList;
                        self.set('lenderListObj', lenderListObj);
                    }
                    // }).fail(function (e) {
                    //     console.error("Get roles error is ", e);
                    // });
                },
                ready: function () {
                    var self = this;
                    var params = self.$.url.getParams();
                    if (params.hasOwnProperty('app')) {
                        self.set('currentEntityId', params.app);
                    }
                },
                init: function () {
                    this._getLenderList();
                },
                rePullCibil: function (event) {
                    var self = this;
                    var form = Polymer.dom(event).localTarget.parentElement;
                    var $errorDiv = $('div#rePullCibilErrorMessge');
                    if (form.validate()) {
                        var lenderData = self.lenderListObj.values.lenderData;
                        var url = '/offer/' + self.currentEntityId + '/' + lenderData + '/repullCibil';
                        $errorDiv.hide();
                        self.$.http.get(url, window.config.services.appProcessor, true).then(function (data) {
                            var message = "Application " + self.currentEntityId + " rePull CIBIL done successfully";
                            self.clearSelection();
                            self.raiseAppRefreshEvent(event, message);
                        }).fail(function (e) { });
                    }
                },
                raiseAppRefreshEvent: function (event, message) {
                    this.$.utility.raiseEvent(this.fireEvent, {
                        Message: message,
                        ActionName: 'RePullCibil',
                        EventData: event,
                        CompnentName: 're-pull-cibil'
                    });
                },
                clearSelection: function () {
                    var self = this;
                    var lenderListObj = _.cloneDeep(self.get('lenderListObj'));
                    lenderListObj.values.lenderData = "";
                    self.set('lenderListObj', lenderListObj);
                }
            });
        });
    </script>
</dom-module>