<dom-module id="reject-application">
    <template>
        <div class="row">
            <div class="col-md-12">
                <form is="iron-form" class="form-horizontal" name="rejectApplication">
                    <dynamic-form form-configuration={{rejectObj}} values="{{rejectObj.values}}"></dynamic-form>
                    <br>
                    <paper-button class="btn btn-primary activity-action-btn" on-click="_rejectApp" raised>Reject Application</paper-button>
                </form>
            </div>
        </div>
        <http-request id="http"></http-request>
        <alloy-config id="config"></alloy-config>
        <utility-service id="utility"></utility-service>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "reject-application",
                properties: {
                    rejectObj: {
                        type: Object,
                        notify: true,
                        value: {
                            controls: {
                                rejectReason: {
                                    label: "Reject Reason",
                                    type: "combobox",
                                    selectList: [],
                                    labelKey: "value",
                                    labelValue: "key",
                                    validations: {
                                        required: true
                                    }
                                }
                            },
                            values: {
                                rejectReason: ""
                            }
                        }
                    }
                },
                init: function () {
                    this._loadReasonList();
                },
                _loadReasonList: function () {
                    var self = this;
                    var rejectStatusObj = self.$.config.getConfigurationBasedOnKey("reject-reasons");
                    if (rejectStatusObj) {
                        var tempList = [];
                        var keys = Object.keys(rejectStatusObj);
                        for (var i = 0; i < keys.length; i++) {
                            tempList.push({ key: keys[i], value: rejectStatusObj[keys[i]] });
                        }
                        var rejectObj = self.get('rejectObj');
                        rejectObj.controls.rejectReason.selectList = tempList;
                        self.set('rejectObj', $.extend({}, self.get('rejectObj'), rejectObj));
                    }
                },
                _rejectApp: function (e) {
                    e.preventDefault();
                    var self = this;
                    var form = Polymer.dom(e).localTarget.parentElement;
                    var offerEndPoint = window.config.services.appProcessor;
                    if (form.validate()) {
                        var selectedReason = self.rejectObj.values.rejectReason;
                        var url = "/status-management/" + self.applicationNumber + "/reject/" + selectedReason;
                        self.$.http.post(url, {}, offerEndPoint, true).then(function (data) {
                            $(e.target).parents().find('reject-application').parent().hide();
                            var listOfParentelements = $("loan-activity");
                            for (i = 0; i < listOfParentelements.length; i++) {
                                $(listOfParentelements[i]).children().first().show();
                            }
                            self.raiseAppRefreshEvent();
                        }).fail(function (e) {
                            console.error("application error is ", e);
                        });
                    }
                },
                raiseAppRefreshEvent: function () {
                    this.$.utility.raiseEvent(this.fireEvent, {});
                }
            });
        });
    </script>
</dom-module>