<dom-module id="resend-bank-linking">
    <template>
        <form id="ReSendBankLinkForm" is="iron-form" class="form-horizontal" name="ReSendBankLinkForm">
            <div class="slide-action">
                <template is="dom-if" if="{{_hasRoleAndShow('ResendBankLinkEmailInput')}}">
                    <div class="row">
                        <div class="col-md-12">
                            <paper-input pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$" class="custom-input"
                                value="{{InputEmail}}" maxlength="80" name="InpuEmail" id="InpuEmail" label="Email Id"></paper-input>
                        </div>
                    </div>
                </template>
                <button id="resendbanklink" on-click="resendBankLinkMail" class="btn btn-primary activity-action-btn">Send Bank Link Email</button>
            </div>
        </form>
        <div id="MessageContainer"></div>
        <http-request id="http"></http-request>
        <utility-service id="utility"></utility-service>
        <alloy-config id="config"></alloy-config>
        <auth-service id="authorize"></auth-service>
        <message-component id="message"></message-component>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "resend-bank-linking",
                init: function () {
                },
                resendBankLinkMail: function (event) {
                    event.preventDefault();
                    var form = Polymer.dom(event).localTarget.parentElement.parentElement;
                    if (form.validate()) {
                        var self = this;
                        var url = '/application/' + self.applicationNumber + '/resend/banklink';
                        if (self.InputEmail && self.InputEmail !== null && self.InputEmail !== '') {
                            var url = '/application/' + self.applicationNumber + '/resend/banklink/' + self.InputEmail;
                        }
                        var appProcessorEndpoint = window.config.services.appProcessor;
                        self.$.http.post(url, {}, appProcessorEndpoint, true).then(function (data) {
                            form.reset();
                            self.raiseAppRefreshEvent(event);

                        }).fail(function (e) {
                            self.$.message.showMessage(e.responseJSON.message, "ERROR", self.$.MessageContainer);
                        });
                    }
                },
                raiseAppRefreshEvent: function (event) {
                    this.$.utility.raiseEvent(this.fireEvent, {
                        ActionName: 'ResendBankLinking',
                        EventData: event,
                        CompnentName: 'resend-bank-linking'
                    });
                },
                _hasRoleAndShow: function (compName) {
                    var self = this;
                    var ResendBankLinkEmailInputShow = self.$.config.getConfigurationBasedOnKey("ResendBankLinkEmailInputShow");
                    if (this.$.authorize.hasRole(compName) && (ResendBankLinkEmailInputShow !== undefined && ResendBankLinkEmailInputShow == true)) {
                        return true;
                    }
                    return false;
                }
            });
        });
    </script>
</dom-module>