<dom-module id="resend-for-signature">
    <template>
        <div>
            <button id="reSendAgreement" on-click="reSendAgreement" class="btn btn-primary activity-action-btn">Resend Agreement</button>
        </div>
        <div id="MessageContainer"></div>
        <message-component id="message"></message-component>
        <http-request id="http"></http-request>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "resend-for-signature",
                init: function () {

                },
                reSendAgreement: function (event) {
                    var self = this;
                    var endPoint = window.config.services.appProcessor;
                    var url = '/application/' + this.applicationNumber + '/agreement/resend';
                    self.$.http.post(url, {}, endPoint, true).then(function (data) {
                        self.$.message.showMessage("Loan Agreement Sent Successfully", "SUCCESS", self.$.MessageContainer);
                    }).fail(function (e) {
                        self.$.message.showMessage(e.responseJSON.message, "ERROR", self.$.MessageContainer);
                    });
                }
            });
        });
    </script>
</dom-module>