<dom-module id="select-bank">
    <template>
        <div class="row">
            <div class="col-md-12">
                <form is="iron-form" class="form-horizontal" name="BankDetails">
                    <dynamic-form form-configuration={{bankDetailsObj}} values="{{bankDetailsObj.values}}"></dynamic-form>
                    <br/>
                    <paper-button class="btn btn-primary activity-action-btn" on-click="_verifyForm" raised>Submit</paper-button>
                </form>
            </div>
        </div>
        <http-request id="http"></http-request>
        <utility-service id="utility"></utility-service>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "select-bank",
                properties: {
                    accountList: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    bankDetailsObj: {
                        type: Object,
                        notify: true,
                        value: {
                            controls: {
                                cashflowAccount: {
                                    label: "Cashflow Account",
                                    type: "combobox",
                                    selectList: [],
                                    labelKey: "value",
                                    labelValue: "key",
                                    validations: {
                                        required: true
                                    }
                                },
                                fundingAccount: {
                                    label: "Funding Account",
                                    type: "combobox",
                                    selectList: [],
                                    labelKey: "value",
                                    labelValue: "key",
                                    validations: {
                                        required: true
                                    }
                                }
                            },
                            values: {
                                cashflowAccount: "",
                                fundingAccount: ""
                            }
                        }
                    }
                },
                _getAccountDetail: function () {
                    var self = this;
                    var url = "/application/" + self.applicationNumber + "/account/detail";
                    var appProcessorEndpoint = window.config.services.appProcessor;

                    self.$.http.get(url, appProcessorEndpoint).then(function (result) {
                        if (result != undefined) {
                            result = JSON.parse(result);
                            self.set('accountList', result);
                            var tempList = _.transform(result, function (result, item) {
                                var val = item.InstitutionName + '-' + item.AccountID + '-' + item.AccountType;
                                result.push({ key: item.AccountID, value: val });
                            }, []);
                            self.bankDetailsObj.controls.cashflowAccount.selectList = tempList;
                            self.bankDetailsObj.controls.fundingAccount.selectList = tempList;
                            self.set('bankDetailsObj', $.extend({}, self.bankDetailsObj));
                        }
                    }).fail(function (e) {
                        console.error("_getAccountDetail error is ", e);
                    });
                },
                _verifyForm: function (event) {
                    event.preventDefault();
                    var self = this;
                    var form = Polymer.dom(event).localTarget.parentElement;
                    var appProcessor = window.config.services.appProcessor;
                    var url = "/application/" + self.applicationNumber + "/choose/account";
                    if (form.validate()) {
                        var reqdata = self.bankDetailsObj.values;
                        var selectedCashflowAccount = _.find(self.accountList, ["AccountID", reqdata.cashflowAccount]);
                        var selectedFundingAccount = _.find(self.accountList, ["AccountID", reqdata.fundingAccount]);
                        var input = {
                            cashflowAccountDetails: selectedCashflowAccount,
                            fundingAccountDetails: selectedFundingAccount
                        };
                        self.$.http.post(url, input, appProcessor, true).then(function (data) {
                            self.raiseAppRefreshEvent();
                        }).fail(function (e) {
                            console.error("Choose account error is ", e);
                        });
                    }
                },
                init: function () {
                    var self = this;
                    self._getAccountDetail();
                },
                raiseAppRefreshEvent: function () {
                    this.$.utility.raiseEvent(this.fireEvent, {});
                }
            });
        });
    </script>
</dom-module>