<dom-module id="send-for-signature">
    <template>
        <div class="slide-action">
            <button id="sendAgreementBtn" on-click="sendAgreement" class="btn btn-primary activity-action-btn">
                Send MCA Agreement
            </button>
        </div>
        <div id="MessageContainer"></div>
        <http-request id="http"></http-request>
        <url-parser id="url"></url-parser>
        <utility-service id="utility"></utility-service>
        <message-component id="message"></message-component>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "send-for-signature",
                properties: {

                },
                init: function () {

                },
                sendAgreement: function (event) {
                    var self = this;
                    var params = self.$.url.getParams();
                    var url = '/application/' + this.applicationNumber + '/' + params.workflow + '/300.10';
                    self.$.http.put(url, {},  window.config.services.statusManagement, true).then(function (data) {
                        self.raiseAppRefreshEvent(event);
                    }).fail(function (e) {
                        self.$.message.showMessage("Check list is pending, Please verify.", "ERROR", self.$$('#MessageContainer'));
                    });
                },
                raiseAppRefreshEvent: function (event) {
                    this.$.utility.raiseEvent(this.fireEvent, {
                        ActionName: 'GenerateSendLoanAggrement',
                        EventData: event,
                        CompnentName: 'send-for-signature'
                    });
                }
            });
        });
    </script>
</dom-module>