<dom-module id="send-loanagreement">
    <template>
        <div class="slide-action">
            <button id="Loanagreement" on-click="sendloanagreement" class="btn btn-primary activity-action-btn">Send</button>
        </div>
        <div id="LoanagreementMessge"></div>
        <http-request id="http"></http-request>
        <url-parser id="url"></url-parser>
        <utility-service id="utility"></utility-service>
        <message-component id="message"></message-component>
        <alloy-config id="config"></alloy-config>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "send-loanagreement",
                properties: {
                    currentEntityName: {
                        type: String,
                        notify: true,
                        value: ''
                    },
                },
                init: function () {
                    var self = this;
                    var urlParams = self.$.url.getParams();
                    if (urlParams.hasOwnProperty('entity')) {
                        self.set('currentEntityName', urlParams.entity);
                    }
                },
                sendloanagreement: function (event) {
                    var self = this;
                    var url = '';
                    var ProcessorEndpoint = '';
                    var loanAgreementReturnUrl = self.$.config.getConfigurationBasedOnKey("loanAgreementReturnUrl");
                    if (self.currentEntityName == 'drawdown') {
                        ProcessorEndpoint = window.config.services.drawdownProcessor;
                        url = self.applicationNumber + '/send/agreement';
                        var payload = {};
                        payload.returnUrl = loanAgreementReturnUrl;
                        self.$.http.post(url, payload, ProcessorEndpoint, true).then(function (data) {
                            self.raiseAppRefreshEvent(event);
                        }).fail(function (e) {
                            console.error("sendloanagreement error is ", e);
                            self.$.message.showMessage(e.responseJSON.message, "ERROR", self.$.LoanagreementMessge);
                        });

                    } else {
                        ProcessorEndpoint = window.config.services.appProcessor;
                        url = self.currentEntityName + '/' + self.applicationNumber + '/send/agreement';
                        self.$.http.get(url, ProcessorEndpoint, true).then(function (data) {
                            self.raiseAppRefreshEvent(event);
                        }).fail(function (e) {
                            console.error("sendloanagreement error is ", e);
                            self.$.message.showMessage(e.responseJSON.message, "ERROR", self.$.LoanagreementMessge);
                        });
                    }

                },
                raiseAppRefreshEvent: function (event) {
                    this.$.utility.raiseEvent(this.fireEvent, {
                        ActionName: 'LoanAggrement',
                        EventData: event,
                        CompnentName: 'send-loanagreement'
                    });
                }
            });
        });
    </script>
</dom-module>