<dom-module id="sponsor-credit-pull">
    <template>
        <div>
            TBD
        </div>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "sponsor-credit-pull",
                init: function () {

                }
            });
        });
    </script>
</dom-module>