<dom-module id="status-management">
    <template>
        <style>
            .activity-action-btn {
                padding: 10px;
                width: 100%;
                font-size: inherit;
            }
        </style>

        <div class="panel panel-default">
            <div class="row">
                <div class="col-md-12">
                    <form is="iron-form" class="form-horizontal" name="rejectApplication">
                        <paper-dropdown-menu label="select status" allowOutsideScroll required>
                            <paper-listbox class="dropdown-content" attr-for-selected="myid" selected="{{selectedStatus}}">
                                <template is="dom-repeat" items="{{statusList}}" as="status">
                                    <paper-item myid="[[status.code]]">[[status.name]]</paper-item>
                                </template>
                            </paper-listbox>
                        </paper-dropdown-menu>
                        <br>
                        <paper-dropdown-menu label="select reason" allowOutsideScroll>
                            <paper-listbox class="dropdown-content" attr-for-selected="myid" selected="{{selectedReason}}">
                                <template is="dom-repeat" items="[[reasonList]]" as="reason">
                                    <paper-item myid="[[reason.key]]">[[reason.value]]</paper-item>
                                </template>
                            </paper-listbox>
                        </paper-dropdown-menu>
                        <br>
                        <paper-button class="btn btn-primary activity-action-btn" on-click="updateStatus" raised>Update Status</paper-button>
                    </form>
                </div>
            </div>
        </div>
        <url-parser id="url"></url-parser>
        <http-request id="http"></http-request>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "status-management",
                properties: {
                    reasonList: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    selectedStatus: {
                        type: Object,
                        notify: true,
                        value: {},
                        observer: '_loadReasonList'
                    },
                    selectedReason: {
                        type: Object,
                        notify: true,
                        value: {}
                    }
                },
                init: function () {

                },
                _getSelectedStatus: function (statusList) {
                    var self = this;
                    var objList = statusList.filter(function (e) {
                        return e.code === self.selectedStatus;
                    });
                    return objList[0] || {};
                },
                _loadReasonList: function () {
                    var self = this;
                    //TODO Change this code.
                    var url = "/configuration/status-management/entityTypes";
                    self.$.http.get(url, "").then(function (result) {
                        var rejectStatusObj = self._getSelectedStatus(result.application.statuses);
                        if (rejectStatusObj) {
                            var tempList = [];
                            var reasonObj = rejectStatusObj.reasons;
                            if (!_.isNull(reasonObj)) {
                                var keys = Object.keys(reasonObj);
                                for (var i = 0; i < keys.length; i++) {
                                    tempList.push({ key: keys[i], value: reasonObj[keys[i]] });
                                }
                                self.set('reasonList', tempList);
                            }
                        }
                    }).fail(function (e) {
                        console.error("not able to load status configurations.", e);
                    });
                },
                _showReason: function () {
                    return this.reasonList && this.reasonList.length > 0 ? true : false;
                },
                updateStatus: function (e) {
                    var self = this;
                    var params = this.$.url.getParams();
                    var statusCode = self.selectedStatus;
                    history.pushState({}, "", "/#/app-view/filter:" + params.filter + "/app:" + params.app + "/code:" + statusCode);
                    var event = e;
                    var form = Polymer.dom(e).localTarget.parentElement;
                    var resonValidation = (self.reasonList && self.reasonList.length > 0) ? (typeof self.selectedReason === 'string') : true
                    var url = '/application/' + this.appNumber + '/' + self.selectedStatus + '/' + self.selectedReason;
                    if (form.validate() && resonValidation) {
                        self.$.http.post(url, undefined,  window.config.services.statusManagement).then(function (data) {
                            window.location.reload();
                            self._reloadStatusList(event);
                        }).fail(function (e) {
                            console.error("Filter error is " + e);
                        });
                    }
                },
                _reloadStatusList: function (e) {
                    this.fire("loadStatusList", {
                        statusCode: e.model.__data__.item.code
                    });
                },
                _reloadFilterItems: function () {
                    this.fire("reinitializeFilterItems", {});
                }
            });
        });
    </script>
</dom-module>