<dom-module id="switch-owner">
    <template>
        <div class="row">
            <div class="col-md-12">
                <template is="dom-if" if="{{multiOwner}}">
                    <form is="iron-form" class="form-horizontal" name="ownerDetails">
                        <dynamic-form form-configuration={{ownerDetailsObj}} values="{{ownerDetailsObj.values}}"></dynamic-form>
                        <br/>
                        <paper-button class="btn btn-primary activity-action-btn" on-click="_verifyForm" raised>Switch Owner</paper-button>
                    </form>
                </template>
                <template is="dom-if" if="{{!multiOwner}}">
                    <div>You won't be able to switch owner as this application has only 1 owner</div>
                </template>
            </div>
        </div>
        <http-request id="http"></http-request>
        <utility-service id="utility"></utility-service>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "switch-owner",
                properties: {
                    ownerList: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    multiOwner: {
                        type: Boolean,
                        notify: true,
                        value: false
                    },
                    dataAttributes: {
                        type: Object,
                        notify: true
                    },
                    ownerDetailsObj: {
                        type: Object,
                        notify: true,
                        value: {
                            controls: {
                                allOwners: {
                                    label: "Owners",
                                    type: "combobox",
                                    selectList: [],
                                    labelKey: "value",
                                    labelValue: "key",
                                    validations: {
                                        required: true
                                    }
                                },
                                primaryOwner: {
                                    label: "Primary Owner",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        readonly: true,
                                    }
                                }
                            },
                            values: {
                                allOwners: "",
                                primaryOwner: ""
                            }
                        }
                    }
                },
                init: function () {
                    this._onOwnerDataAttributesLoad();
                },
                _onOwnerDataAttributesLoad: function () {
                    var self = this;
                    var objAllOwners = _.cloneDeep(self.ownerDetailsObj);
                    if (self.dataAttributes) {
                        var appDetails = self.dataAttributes.application;
                        var currentOwner = _.find(appDetails.owners, function (o) { return o.IsPrimary == true; });
                        var tempList = _.transform(appDetails.owners, function (result, item) {
                            if (currentOwner.OwnerId != item.OwnerId) {
                                var val = item.FirstName + ' ' + item.LastName;
                                result.push({ key: item.OwnerId, value: val });
                            }
                        }, []);
                        self.set('ownerList', tempList);
                        objAllOwners.controls.allOwners.selectList = tempList;
                        objAllOwners.values.primaryOwner = currentOwner.FirstName + ' ' + currentOwner.LastName;
                        self.set('ownerDetailsObj', objAllOwners);
                        if (tempList.length >= 1) {
                            self.set('multiOwner', true);
                        }
                        else {
                            self.set('multiOwner', false);
                        }
                    }
                },
                _verifyForm: function (event) {
                    event.preventDefault();
                    var self = this;
                    var form = Polymer.dom(event).localTarget.parentElement;
                    var appProcessor = window.config.services.appProcessor;

                    if (form.validate()) {
                        var reqdata = self.ownerDetailsObj.values;
                        var objSwitchedOwner = _.find(self.ownerList, ["key", reqdata.allOwners]);
                        if (!_.isNull(objSwitchedOwner) && !_.isUndefined(objSwitchedOwner)) {
                            var url = "/application/" + self.applicationNumber + "/switch/" + objSwitchedOwner.key;

                            self.$.http.post(url, null, appProcessor, true).then(function (data) {
                                self.raiseAppRefreshEvent();
                            }).fail(function (e) {
                                console.error("Switch Owner error is ", e);
                            });
                        }
                    }
                },
                raiseAppRefreshEvent: function () {
                    this.$.utility.raiseEvent(this.fireEvent, {});
                }
            });
        });
    </script>
</dom-module>