<dom-module id="progress-bar">
    <template></template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: 'progress-bar',
                updateBar: function (i, k) {
                    $('.step-progress-bar>span')[0].style.height = k + '%';
                    $('.loan-steps>li').each(function (index) {
                        if (!$(this).hasClass('completed') && index < i) {
                            $(this).addClass('completed')
                        } else if ($(this).hasClass('completed') && index >= i) {
                            $(this).removeClass('completed')
                        }
                    });
                }
            });
        });
    </script>
</dom-module>