<dom-module id="spinkit-wave">
    <template>
        <style>
            .sk-spinner .sk-rect {
                background-color: #88BF40;
            }

            .sk-spinner {
                margin: 10px 0;
                left: 50%;
                transform: translateX(-50%);
                position: relative;
            }
        </style>
        <div class="sk-spinner sk-wave">
            <div class="sk-rect sk-rect1"></div>
            <div class="sk-rect sk-rect2"></div>
            <div class="sk-rect sk-rect3"></div>
            <div class="sk-rect sk-rect4"></div>
            <div class="sk-rect sk-rect5"></div>
        </div>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "spinkit-wave"
            });
        });
    </script>
</dom-module>