<dom-module id="spinny-view">
    <template>
        <style>
            .loader {
                border: 16px solid #f3f3f3;
                border-radius: 50%;
                border-top: 16px solid #80b43c;
                border-bottom: 16px solid #80b43c;
                width: 50px;
                height: 50px;
                -webkit-animation: spin 2s linear infinite;
                animation: spin 2s linear infinite;
                left: 44%;
                margin-top: 45px;
                position: absolute;
            }

            @-webkit-keyframes spin {
                0% {
                    -webkit-transform: rotate(0deg);
                }
                100% {
                    -webkit-transform: rotate(360deg);
                }
            }

            @keyframes spin {
                0% {
                    transform: rotate(0deg);
                }
                100% {
                    transform: rotate(360deg);
                }
            }
        </style>
        <div class="loader"></div>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "spinny-view"
            });
        });
    </script>
</dom-module>