<dom-module id="apply-tds">
    <template>
        <style>
            vaadin-upload {
                --vaadin-upload-button-add: {
                    background: #80b43c;
                }

                --vaadin-upload-file-list: {
                    margin-left: 20px;
                }

                --vaadin-upload-drop-label: {
                    margin: 0 !important;
                    padding: 0 !important;
                }

                #ErrorMessge p {
                    color: #ff0000;
                    font-size: 12px !important;
                }
            }

            .prefixSign {
                font: normal normal normal 14px/1 FontAwesome !important;
                font-size: inherit !important;
            }

            .custom-input {
                --paper-input-container-input: {
                    font-size: 11px;
                }

                --paper-input-container-label: {
                    font-size: 12px;
                }
            }

            ul.dropdown-menu li {
                padding: 10px;
                color: #03466B;
                cursor: pointer;
            }

            ul.dropdown-menu li:hover {
                background-color: lightgray;
            }

            .DownArrow {
                font-size: 20px;
                padding-top: 23px;
            }

            .set-vertical-height {
                height: 500px;
                overflow-y: scroll;
            }
        </style>
        <div id="MessageContainer"></div>
        <div class="row">
            <div class="col-md-12 set-vertical-height">
                <form is="iron-form" class="form-horizontal" name="ApplyTDS">
                    <div class="row">
                        <div class="panel-left col-md-12">
                            <vaadin-upload id="tdsDocument" accept=".jpg,.png,.pdf" max-files="1"
                                on-upload-request="_uploadRequest" on-upload-success="_uploadSuccess"
                                on-upload-before="_changeServerUrl" custom-many-label="{{_documentName(pdoc)}}"
                                method="POST">
                            </vaadin-upload>
                        </div>
                    </div>
                    <div class="row">
                        <div class="panel-left col-md-12">
                            <paper-input class="custom-input" required type="text" value="{{tdsCertificate}}"
                                name="tdsCertificate" id="tdscertificate" label="TDS Certificate #"
                                pattern="^[0-9a-zA-Z]+$" allowed-pattern="[\w]" maxlength="7" minlength="1">
                            </paper-input>
                        </div>
                    </div>
                    <div class="row">
                        <div class="panel-left col-md-12">
                            <vaadin-date-picker class="custom-input" required id="tdsDate" i18n="[[i18n]]"
                                label="TDS Date" format="{{_getFormat(item.value)}}" value="{{tdsDate}}">
                            </vaadin-date-picker>
                        </div>
                    </div>
                    <div class="row">
                        <div class="panel-left col-md-12">
                            <paper-input class="custom-input" required pattern="^[0-9]+(.[0-9]{0,2})?$" type="text"
                                value="{{tdsAmount}}" name="tdsAmount" id="tdsAmount" label="TDS Amount" maxlength="10">
                                <div prefix class$="{{getCurrencySymbol()}}"></div>
                            </paper-input>
                        </div>
                    </div>
                    <br>
                    <paper-button class="btn btn-primary activity-action-btn" on-click="_verifyForm" raised>Submit
                    </paper-button>
                </form>
            </div>
        </div>
        <url-parser id="urlmp"></url-parser>
        <http-request id="httpmp"></http-request>
        <alloy-config id="configmp"></alloy-config>
        <auth-service id="authorizemp"></auth-service>
        <lookup-service id="lookupmp"></lookup-service>
        <utility-service id="utilitymp"></utility-service>
        <session-manager id="sessionmp"></session-manager>
        <message-component id="messagemp"></message-component>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "apply-tds",
                properties: {
                    allowUpload: {
                        type: Boolean,
                        notify: true,
                        value: false
                    },
                    tdsCertificate: {
                        type: String,
                        notify: true
                    },
                    tdsDocumentId: {
                        type: String,
                        notify: true
                    },
                    loanNumber: {
                        type: String,
                        notify: true
                    },
                    purposeId: {
                        type: String,
                        notify: true,
                        value: "default"
                    },
                    tdsAmount: {
                        type: String,
                        notify: true
                    },
                    tdsDate: {
                        type: Date,
                        notify: true
                    },
                    i18n: {
                        type: Object,
                        notify: true,
                        value: {
                            monthNames: moment.months(),
                            weekdays: moment.weekdays(),
                            weekdaysShort: moment.weekdaysShort(),
                            firstDayOfWeek: moment.localeData().firstDayOfWeek(),
                            week: 'Week',
                            calendar: 'Calendar',
                            clear: 'Clear',
                            today: 'Today',
                            cancel: 'Cancel',
                            formatDate: function (d) {
                                return moment(d).format(COUNTRY[window.config.country].DATE_FORMAT.DATE);
                            },
                            parseDate: function (s) {
                                return moment(s, COUNTRY[window.config.country].DATE_FORMAT.DATE).toDate();
                            },
                            formatTitle: function (monthName, fullYear) {
                                return monthName + ' ' + fullYear;
                            }
                        }
                    }
                },
                init: function () {
                    var self = this;
                    var applyTDSPurpose = self.$.configmp.getConfigurationBasedOnKey("applyTDSPurpose");
                    if (applyTDSPurpose !== undefined && applyTDSPurpose !== null && applyTDSPurpose !== "") {
                        self.set("purposeId", applyTDSPurpose);
                    }
                },
                clearField: function () {
                    var self = this;
                    self.set("tdsCertificate", "");
                    self.set("tdsAmount", "");
                    self.set("tdsDate", "");
                    var uploadContainer = document.querySelector("vaadin-upload#tdsDocument");
                    uploadContainer.files = [];
                },
                _verifyForm: function (e) {
                    e.preventDefault();
                    var self = this;
                    var form = Polymer.dom(e).localTarget.parentElement;

                    if (form.validate()) {
                        var uploadContainer = document.querySelector("vaadin-upload#tdsDocument");
                        var files = uploadContainer.files;
                        if (files.length > 0) {
                            self._uploadManualDocuments(e);
                        } else {
                            self.uploadContent(e, null);
                        }

                    }
                },
                uploadContent: function (e, tdsDocumentId) {
                    var self = this;
                    var paymentProcessor = window.config.services.paymentProcessor;
                    var url = "/loan/" + self.applicationNumber + "/manual/payment";
                    var payload = {};
                    payload = {
                        PaymentType: "Manual",
                        PaymentInstrumentType: "TDS",
                        RequestedDate: self.formatDate(new Date()),
                        PaymentPurpose: self.purposeId,
                        PaymentAmount: parseFloat(self.tdsAmount),
                        PrincipalAmount: 0,
                        InterestAmount: parseFloat(self.tdsAmount),
                        AdditionalInterestAmount: 0,
                        PriorInterest: 0,
                        Fees: [],
                        PaymentScheduleDate: self.formatDate(self.tdsDate),
                        TransactionType: "Credit",
                        DiscountAmount: 0,
                        TDSCertificateNumber: self.tdsCertificate,
                        DocumentId: tdsDocumentId
                    };
                    self.$.httpmp.post(url, payload, paymentProcessor, true).then(function (data) {
                        self.raiseAppRefreshEvent(e);
                        self.clearField();
                    }).fail(function (e) {
                        var strMessage = "Failed to complete the operation. " + e.responseJSON.message;
                        self.$.messagemp.showMessage(strMessage, "ERROR", "", true);
                    });
                },
                raiseAppRefreshEvent: function (event) {
                    this.$.utilitymp.raiseEvent(this.fireEvent, {
                        ActionName: 'ApplyTDS',
                        EventData: event,
                        CompnentName: 'apply-tds'
                    });
                },
                formatDate: function (date) {
                    return moment.tz(date, window.config.timezone).format("YYYY-MM-DD");
                },
                hasRole: function (compName) {
                    return this.$.authorizemp.hasRole(compName);
                },
                getCurrencySymbol: function () {
                    var self = this;
                    return formats.currencySymbol(window.config.country) + " prefixSign";
                },
                _uploadRequest: function (event) {
                    event.detail.xhr.setRequestHeader('Authorization', "Bearer " + this.$.sessionmp.get('token'));
                },
                _uploadSuccess: function (event) {
                    var self = this;
                    if (event.detail.xhr.status === 200) {
                        var res = $.parseJSON(event.detail.xhr.response);
                        self.uploadContent(event, [res.documentId]);

                    }
                },
                _changeServerUrl: function (event) {
                    var self = this;
                    if (!self.allowUpload) {
                        event.preventDefault();
                        return;
                    }
                    event.detail.file.uploadTarget = self._getServerUrl();
                },
                _documentName: function (doc) {
                    return doc.documentName[0];
                },
                _getServerUrl: function () {
                    var self = this;
                    var documentServiceURL = window.config.services.documentService + "/loan/" + self.applicationNumber + "/tdscertificate";
                    return documentServiceURL;
                },
                _uploadManualDocuments: function (e) {
                    var self = this;
                    self.set('allowUpload', true);
                    var uploadContainer = document.querySelector("vaadin-upload#tdsDocument");
                    var files = uploadContainer.files;
                    _.forEach(files, function (item) {
                        item.uploadTarget = self._getServerUrl();
                        uploadContainer._uploadFile(item);
                    });
                    self.set('allowUpload', false);
                },
            });
        });
    </script>
</dom-module>