<dom-module id="apply-fees">
    <template>
        <style>
            .prefixSign {
                font: normal normal normal 14px/1 FontAwesome !important;
                font-size: inherit !important;
            }

            .custom-input {
                --paper-input-container-input: {
                    font-size: 11px;
                }

                --paper-input-container-label: {
                    font-size: 12px;
                }
            }
        </style>
        <div class="row">
            <div class="col-md-12">
                <form is="iron-form" class="form-horizontal" name="FeeForm">
                    <div class="row">
                        <div class="panel-left col-md-12">
                            <vaadin-combo-box class="custom-input" name="PaymentType" value="{{feeTypeId}}"
                                item-value-path="value" item-label-path="key" items="{{feeType}}" required
                                label="Fee Type" prevent-invalid-input="true"></vaadin-combo-box>
                        </div>
                    </div>
                    <div class="row">
                        <div class="panel-left col-md-12">
                            <vaadin-combo-box class="custom-input" name="feesList" value="{{feesId}}"
                                item-value-path="key" item-label-path="value" items="{{feesList}}" required
                                label="Fee Name" prevent-invalid-input="true" on-change="feeChanged"></vaadin-combo-box>
                        </div>
                    </div>
                    <div class="row">
                        <div class="panel-left col-md-12">
                            <paper-input class="custom-input" required type="text" value="{{feeAmount}}"
                                name="feeAmount" id="feesFeeAmount" label="Fee Amount" readonly$={{feesAmountEditable}}
                                pattern="^[0-9]+(.[0-9]{0,2})?$">
                                <div prefix class$="{{getCurrencySymbol()}}"></div>
                            </paper-input>
                        </div>
                    </div>
                    <div class="row" id="gstTaxApplicable" style="display:none;">
                        <div class="panel-left col-md-12">
                            <label id="label" aria-hidden="true" class="style-scope custom-input"
                                style="padding-top: 10px; font-weight:normal !important;">GST
                            </label>
                            <label id="label" aria-hidden="true" class="style-scope custom-input"
                                style="padding-top: 10px; font-weight:normal !important;">{{gstValue}}
                                % will be applied as applicable on the above amount.
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="panel-left col-md-12">
                            <vaadin-date-picker class="custom-input" required id="ApplyDate" i18n="[[i18n]]"
                                label="Apply Date" format="{{_getFormat(item.value)}}" value="{{applyDate}}">
                            </vaadin-date-picker>
                        </div>
                    </div>
                    <div class="row">
                        <div class="panel-left col-md-12">
                            <paper-input class="custom-input" type="text" required value="{{description}}"
                                name="Description" id="Description" label="Description"></paper-input>
                        </div>
                    </div>
                    <br />
                    <paper-button class="btn btn-primary activity-action-btn" on-click="_verifyForm" raised>Submit
                    </paper-button>
                </form>
            </div>
            <div id="MessageContainer"></div>
        </div>
        <url-parser id="urlaf"></url-parser>
        <http-request id="httpaf"></http-request>
        <lookup-service id="lookupaf"></lookup-service>
        <utility-service id="utilityaf"></utility-service>
        <message-component id="messageaf"></message-component>
        <alloy-config id="Config"></alloy-config>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "apply-fees",
                properties: {
                    feesAmountEditable: {
                        type: Boolean,
                        notify: true
                    },
                    loanData: {
                        type: Object,
                        notify: true,
                        reflectToAttribute: true
                    },
                    gstValue: {
                        type: String,
                        notify: true,
                        value: "0"
                    },
                    feeAmount: {
                        type: String,
                        notify: true
                    },
                    description: {
                        type: String,
                        notify: true
                    },
                    applyDate: {
                        type: Date,
                        notify: true
                    },
                    feesId: {
                        type: String,
                        notify: true
                    },
                    feesList: {
                        type: Array,
                        notify: true
                    },
                    feeTypeId: {
                        type: String,
                        notify: true
                    },
                    feeType: {
                        type: Array,
                        notify: true
                    },
                    achConfig: {
                        type: Object,
                        notify: true
                    },
                    sacCodesConfig: {
                        type: Object,
                        notify: true
                    },
                    feesConfiguration: {
                        type: Object,
                        notify: true
                    },
                    i18n: {
                        type: Object,
                        notify: true,
                        value: {
                            monthNames: moment.months(),
                            weekdays: moment.weekdays(),
                            weekdaysShort: moment.weekdaysShort(),
                            firstDayOfWeek: moment.localeData().firstDayOfWeek(),
                            week: 'Week',
                            calendar: 'Calendar',
                            clear: 'Clear',
                            today: 'Today',
                            cancel: 'Cancel',
                            formatDate: function (d) {
                                return moment(d).format(COUNTRY[window.config.country].DATE_FORMAT.DATE);
                            },
                            parseDate: function (s) {
                                return moment(s, COUNTRY[window.config.country].DATE_FORMAT.DATE).toDate();
                            },
                            formatTitle: function (monthName, fullYear) {
                                return monthName + ' ' + fullYear;
                            }
                        }
                    }
                },
                feeChanged: function (event) {
                    var self = this;
                    var params = self.$.urlaf.getParams();
                    feename = event.target.value;
                    if (feename !== undefined && feename !== "") {
                        var isEditable = undefined;
                        if (self.feesConfiguration !== undefined) {
                            var isEditable = self.feesConfiguration[feename];
                        }
                        var output = _.find(self.feesList, ['key', feename]);
                        if (output) {
                            self.set('feeAmount', parseFloat(output.amount).toFixed(2));
                        }
                        if (isEditable === undefined || isEditable === true) {
                            self.set("feesAmountEditable", false);
                        }
                        else if (parseFloat(self.feeAmount) === 0) {
                            self.set("feesAmountEditable", false);
                        }
                        else {
                            self.set("feesAmountEditable", true);
                        }
                        if (self.sacCodesConfig !== undefined && self.sacCodesConfig !== "") {
                            var sacCode = self.sacCodesConfig.products[params.product][feename];
                            if (sacCode !== undefined && sacCode !== "") {
                                var gstPer = self.sacCodesConfig.GST[sacCode]
                                self.set("gstValue", gstPer);
                            }
                            else {
                                self.set("gstValue", "0");
                            }
                        }
                        else {
                            self.set("gstValue", "0");
                        }

                    }
                    else {
                        self.set("feesAmountEditable", false);
                        self.set('feeAmount', "0.00");
                        self.set("gstValue", "0");
                    }
                },
                _verifyForm: function (e) {
                    e.preventDefault();
                    var self = this;
                    var form = Polymer.dom(e).localTarget.parentElement;
                    var accountingService = window.config.services.accountingService;
                    if (form.validate()) {
                        var feeObj = {
                            FeeType: self.feeTypeId,
                            FeeName: self.feesId,
                            FeeAmount: self.feeAmount,
                            ApplyDate: self.formatDate(self.applyDate),
                            Description: self.description
                        };
                        var url = "/" + self.applicationNumber + "/applyfee";
                        self.$.httpaf.post(url, feeObj, accountingService, true).then(function (data) {
                            form.reset();
                            self.raiseAppRefreshEvent(e);
                        }).fail(function (e) {
                            var strMessage = "Failed to complete the operation. " + e.responseJSON.message;
                            self.$.messageaf.showMessage(strMessage, "ERROR", "", true);
                        });
                    }
                },
                raiseAppRefreshEvent: function (event) {
                    this.$.utilityaf.raiseEvent(this.fireEvent, {
                        ActionName: 'ApplyFees',
                        EventData: event,
                        CompnentName: 'apply-fees'
                    });
                },
                formatDate: function (date) {
                    return moment.tz(date, window.config.timezone).format("YYYY-MM-DD");
                },
                init: function () {
                    this._getFeesLookupData();
                    this.loadACH();
                    this.loadFeesEditable();
                },
                ready: function () {
                    var self = this;
                },
                loadFeesEditable: function () {
                    var self = this;
                    var params = self.$.urlaf.getParams();
                    var feesEditable = self.$.Config.getConfigurationBasedOnKey("feesEditable");
                    if (feesEditable !== undefined && feesEditable !== null && feesEditable !== "") {
                        var allfees = feesEditable.products[params.product];
                        self.set("feesConfiguration", allfees);
                    }
                    else {
                        self.set("feesConfiguration", undefined);
                    }

                },
                loadACH: function () {
                    var self = this;
                    self.$.httpaf.get("configuration/ach", "").then(function (result) {
                        self.set("achConfig", result);
                        var funderId = self.loanData.funderId;
                        if (self.achConfig !== undefined && self.achConfig !== null && funderId !== undefined && funderId !== null) {
                            var objFunderSource = _.cloneDeep(self.achConfig.fundingSources);
                            var objData = _.find(objFunderSource, ['id', funderId]);
                            if (objData !== undefined && objData !== null && objData !== "" && objData.GSTApplicable !== undefined && objData.GSTApplicable === "true") {
                                $("#gstTaxApplicable").show();
                                self.loadSACCode();
                            }
                            else {
                                $("#gstTaxApplicable").hide();
                            }
                        }
                    }).fail(function (e) {
                        console.error("not able to load ach configurations.", e);
                    });
                },
                loadSACCode: function () {
                    var self = this;
                    self.$.httpaf.get("configuration/sac-codes", "").then(function (result) {
                        self.set("sacCodesConfig", result);
                    }).fail(function (e) {
                        console.error("not able to load sac-codes configurations.", e);
                    });
                },
                _getFeesLookupData: function () {
                    var self = this;
                    var params = self.$.urlaf.getParams();
                    var url = "/" + params.product + "/all/feeparameter";
                    var multiProducts = window.config.services.multiProducts;
                    var removeFeesFromApplyFees = self.$.Config.getConfigurationBasedOnKey("removeFeesFromApplyFees");
                    var feeTypes = self.$.lookupaf.getLookupBasedOnName("feeTypes");
                    self.set("feeType", feeTypes);
                    self.$.httpaf.get(url, multiProducts).then(function (data) {
                        var updatedData = _.reject(data, ['feeId', null]);
                        var feesList = _.transform(updatedData, function (result, fee) {
                            if (removeFeesFromApplyFees === undefined || removeFeesFromApplyFees.indexOf(fee.feeId) === -1)
                                result.push({ key: fee.feeId, value: fee.name, amount: fee.feeAmount });
                        }, []);
                        self.set('feesList', feesList);
                    }).fail(function (e) {
                        console.error("alert error is ", e);
                    });
                },
                getCurrencySymbol: function () {
                    var self = this;
                    return formats.currencySymbol(window.config.country) + " prefixSign";
                }
            });
        });
    </script>
</dom-module>