<dom-module id="borrower-payment">
    <template>
        <style>
            .prefixSign {
                font: normal normal normal 14px/1 FontAwesome !important;
                font-size: inherit !important;
            }

            .custom-input {
                --paper-input-container-input: {
                    font-size: 11px;
                }

                --paper-input-container-label: {
                    font-size: 12px;
                }
            }

            ul.dropdown-menu li {
                padding: 10px;
                color: #03466B;
                cursor: pointer;
            }

            ul.dropdown-menu li:hover {
                background-color: lightgray;
            }

            .DownArrow {
                font-size: 20px;
                padding-top: 23px;
            }

            .set-vertical-height {
                height: 500px;
                overflow-y: scroll;
            }
        </style>
        <div id="BorrowerMessageContainer"></div>
        <div class="row">
            <div class="col-md-12 set-vertical-height">
                <form is="iron-form" class="form-horizontal" name="BorrowerPayment">
                    <div class="row">
                        <div class="panel-left col-md-12">
                            <vaadin-combo-box class="custom-input" name="PaymentType" value="{{PaymentTypeId}}"
                                item-value-path="value" item-label-path="key" items="{{PaymentType}}" required
                                label="Select Payment Instrument" prevent-invalid-input="true"
                                on-change="_onTypeChange"></vaadin-combo-box>
                        </div>
                    </div>
                    <div class="row">
                        <div class="panel-left col-md-12">
                            <vaadin-combo-box class="custom-input" name="Purpose" value="{{purposeId}}"
                                item-value-path="key" item-label-path="value" items="{{purposeList}}" required
                                label="Select Payment Type" prevent-invalid-input="true" on-change="_onPurposeChange">
                            </vaadin-combo-box>
                        </div>
                    </div>
                    <div class="row">
                        <div class="panel-left col-md-12">
                            <label id="label" aria-hidden="true" class="style-scope custom-input"
                                style="padding-top: 10px; font-weight:normal !important;">Select
                                Portfolio</label>
                            <checkbox-group id="papercheckboxGroupPPT" checkboxes="{{pptList}}"
                                selected-items="{{selectedppt}}"></checkbox-group>
                        </div>
                    </div>
                    <div class="row">
                        <div class="panel-left col-md-12">
                            <paper-input class="custom-input" required type="text" value="{{PaymentAmount}}"
                                name="PaymentAmount" id="MakePaymentPaymentAmount" label="Payment Amount"
                                pattern="^[0-9]+(.[0-9]{0,2})?$" on-blur="getEstimate">
                                <div prefix class$="{{getCurrencySymbol()}}"></div>
                            </paper-input>
                        </div>
                    </div>
                    <div class="row">
                        <div class="panel-left col-md-12">
                            <vaadin-date-picker class="custom-input" required id="PaymentScheduleDate" i18n="[[i18n]]"
                                label="Payment Date" format="{{_getFormat(item.value)}}" min="{{paymentDateMin}}"
                                max="{{paymentDateMax}}" value="{{PaymentScheduleDate}}"></vaadin-date-picker>
                        </div>
                    </div>
                    <div id="BorrowerdivUTN" style="display:none;">
                        <div class="row">
                            <div class="panel-left col-md-12">
                                <paper-input class="custom-input" type="text" value="{{utn}}" name="utn" id="utn"
                                    label="Unique Transaction Number"></paper-input>
                            </div>
                        </div>
                    </div>
                    <div id="BorrowerBankDetails" style="display:none;">
                        <div class="row">
                            <div class="panel-left col-md-12">
                                <paper-input class="custom-input" type="text" value="{{BankAccountNumber}}"
                                    name="BankAccountNumber" id="BankAccountNumber" label="Bank Account Number">
                                </paper-input>
                            </div>
                        </div>
                        <div class="row">
                            <div class="panel-left col-md-12">
                                <vaadin-combo-box class="custom-input" name="BankAccountType"
                                    value="{{bankAccountTypeId}}" item-value-path="value" item-label-path="key"
                                    items="{{BankAccountType}}" label="Bank Account Type" prevent-invalid-input="true">
                                </vaadin-combo-box>
                            </div>
                        </div>
                        <div class="row">
                            <div class="panel-left col-md-12">
                                <paper-input class="custom-input" type="text" value="{{BankRTN}}" name="BankRTN"
                                    id="BankRTN" label="{{nameIFSCCodeRouting}}" maxlength="{{rtnMinlength}}"
                                    minlength="{{rtnMaxlength}}" pattern="{{rtnPattern}}"></paper-input>
                            </div>
                        </div>
                        <div class="row">
                            <div class="panel-left col-md-12">
                                <paper-input class="custom-input" type="text" value="{{BorrowersName}}"
                                    name="BorrowersName" id="BorrowersName" label="Borrower's Name"></paper-input>
                            </div>
                        </div>
                        <div id="BorrowerCheckDetails" style="display:none;">
                            <div class="row">
                                <div class="panel-left col-md-12">
                                    <paper-input class="custom-input" type="text" value="{{CheckNo}}" name="CheckNo"
                                        id="CheckNo" label="{{checkNumber}}"></paper-input>
                                </div>
                            </div>
                            <div class="row">
                                <div class="panel-left col-md-12">
                                    <paper-input class="custom-input" type="text" value="{{MICR}}" name="MICR" id="MICR"
                                        label="MICR"></paper-input>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="panel-left col-md-12">
                            <paper-textarea class="custom-input" type="text" value="{{userRemarks}}" name="userRemarks"
                                id="userRemarks" label="User Remarks" rows="3" maxlength="100"></paper-textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="panel-left col-md-12">
                            <paper-textarea class="custom-input" type="text" value="{{userReferenceNumber}}"
                                name="userReferenceNumber" id="userReferenceNumber" label="User Reference Number"
                                rows="2" maxlength="50"></paper-textarea>
                        </div>
                    </div>
                    <br>
                    <paper-button class="btn btn-primary activity-action-btn" on-click="_verifyForm" raised>Submit
                    </paper-button>
                </form>
            </div>
        </div>
        <http-request id="httpbp"></http-request>
        <alloy-config id="configbp"></alloy-config>
        <auth-service id="authorizebp"></auth-service>
        <lookup-service id="lookupbp"></lookup-service>
        <utility-service id="utilitybp"></utility-service>
        <session-manager id="sessionbp"></session-manager>
        <message-component id="messagebp"></message-component>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "borrower-payment",
                properties: {
                    borrowerId: {
                        type: String,
                        notify: true,
                        reflectToAttribute: true
                    },
                    checkNumber: {
                        type: String,
                        notify: true,
                        value: "Check Number"
                    },
                    loanData: {
                        type: Object,
                        notify: true,
                        reflectToAttribute: true
                    },
                    paymentDateMin: {
                        type: Date,
                        notify: true
                    },
                    paymentDateMax: {
                        type: Date,
                        notify: true
                    },
                    pptList: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    selectedppt: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    PaymentTypeId: {
                        type: String,
                        notify: true
                    },
                    PaymentType: {
                        type: Array,
                        notify: true
                    },
                    purposeList: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    purposeId: {
                        type: String,
                        notify: true,
                        value: "default"
                    },
                    PaymentAmount: {
                        type: String,
                        notify: true
                    },
                    PaymentScheduleDate: {
                        type: Date,
                        notify: true,
                        observer: "checkHoliday"
                    },
                    BankAccountNumber: {
                        type: String,
                        notify: true
                    },
                    utn: {
                        type: String,
                        notify: true
                    },
                    userRemarks: {
                        type: String,
                        notify: true
                    },
                    userReferenceNumber: {
                        type: String,
                        notify: true
                    },
                    BankAccountType: {
                        type: Array,
                        notify: true,
                        value: [
                            { key: 'Checking', value: 'Checking' },
                            { key: 'Savings', value: 'Savings' }]
                    },
                    BankRTN: {
                        type: String,
                        notify: true
                    },
                    BorrowersName: {
                        type: String,
                        notify: true
                    },
                    CheckNo: {
                        type: String,
                        notify: true
                    },
                    MICR: {
                        type: String,
                        notify: true
                    },
                    bankAccountTypeId: {
                        type: String,
                        notify: true
                    },
                    bankList: {
                        type: Array,
                        notify: true
                    },
                    displayIFSCCode: {
                        type: Boolean,
                        notify: true,
                        value: false
                    },
                    nameIFSCCodeRouting: {
                        type: String,
                        notify: true,
                        value: "Bank RTN"
                    },
                    rtnMinlength: {
                        type: String,
                        notify: true,
                        value: "9"
                    },
                    rtnMaxlength: {
                        type: String,
                        notify: true,
                        value: "9"
                    },
                    rtnPattern: {
                        type: String,
                        notify: true,
                        value: "^[0-9]*$"
                    },
                    i18n: {
                        type: Object,
                        notify: true,
                        value: {
                            monthNames: moment.months(),
                            weekdays: moment.weekdays(),
                            weekdaysShort: moment.weekdaysShort(),
                            firstDayOfWeek: moment.localeData().firstDayOfWeek(),
                            week: 'Week',
                            calendar: 'Calendar',
                            clear: 'Clear',
                            today: 'Today',
                            cancel: 'Cancel',
                            formatDate: function (d) {
                                return moment(d).format(COUNTRY[window.config.country].DATE_FORMAT.DATE);
                            },
                            parseDate: function (s) {
                                return moment(s, COUNTRY[window.config.country].DATE_FORMAT.DATE).toDate();
                            },
                            formatTitle: function (monthName, fullYear) {
                                return monthName + ' ' + fullYear;
                            }
                        }
                    }
                },
                _onPurposeChange: function (event) {
                    var self = this;
                    self.clearField();
                },
                _onTypeChange: function (event) {
                    var self = this;
                    var selectedValues = event.target.value;
                    self.clearField();
                    if (selectedValues === "Cash") {
                        self.PaymentScheduleDate = "";
                        $('#BorrowerBankDetails').hide();
                        $('#BorrowerCheckDetails').hide();
                        $('#BorrowerdivUTN').hide();
                        self.BankAccountNumber = "";
                        self.bankAccountTypeId = "";
                        self.BankRTN = "";
                        self.BorrowersName = "";
                    }
                    else if (selectedValues === "Check") {
                        self.PaymentScheduleDate = "";
                        $('#BorrowerBankDetails').show();
                        $('#BorrowerCheckDetails').show();
                        $('#BorrowerdivUTN').hide();
                        self.BankAccountNumber = "";
                        self.bankAccountTypeId = "";
                        self.BankRTN = "";
                        self.BorrowersName = "";
                    }
                    else if (selectedValues === "Ach") {
                        self.setBank();
                    }
                    else if (selectedValues !== "") {
                        var objData = _.find(self.PaymentType, ["key", selectedValues]);
                        if (selectedValues === "EkoPay1MultiLink") {
                            objData = _.find(self.PaymentType, ["value", selectedValues]);
                        }

                        if (objData !== undefined && objData.showUTN !== undefined && objData.showUTN === true) {
                            $('#BorrowerdivUTN').show();
                        }
                        else {
                            $('#BorrowerdivUTN').hide();
                        }
                        if (objData !== undefined && objData.showBank !== undefined && objData.showBank === true) {
                            self.setBank();
                        }
                        else {
                            self.PaymentScheduleDate = "";
                            $('#BorrowerBankDetails').hide();
                            $('#BorrowerCheckDetails').hide();
                            self.BankAccountNumber = "";
                            self.bankAccountTypeId = "";
                            self.BankRTN = "";
                            self.BorrowersName = "";
                        }
                    }
                },
                clearField: function () {
                    var self = this;
                    self.PaymentAmount = "";
                    self.set("selectedppt", "");
                    self.set("PaymentScheduleDate", "");
                    self.set("userRemarks", "");
                    self.set("userReferenceNumber", "");
                    self.set("PaymentScheduleDate", "");
                },
                setBank: function () {
                    var self = this;
                    self.PaymentScheduleDate = self.formatDate(new Date());
                    $('#BorrowerBankDetails').show();
                    $('#BorrowerCheckDetails').hide();
                    var ActiveBank = _.find(self.bankList, ["isActive", true]);
                    self.BankAccountNumber = ActiveBank.accountNumber;
                    self.bankAccountTypeId = ActiveBank.accountType;
                    self.BankRTN = ActiveBank.routingNumber;
                    self.BorrowersName = ActiveBank.bankHolderName;
                },
                _verifyForm: function (e) {
                    e.preventDefault();
                    var self = this;
                    var form = Polymer.dom(e).localTarget.parentElement;
                    var paymentProcessor = window.config.services.paymentProcessor;
                    if (form.validate()) {
                        var objData = _.find(self.PaymentType, ["key", self.PaymentTypeId]);
                        var url = "/borrower/" + self.borrowerId + "/manual/payments?portfolio-types=" + self.selectedppt;
                        if (self.PaymentTypeId == "Cash") {
                            var payload = {};
                            if (self.purposeId == "custom") {
                                payload = {
                                    PaymentType: "Manual",
                                    PaymentInstrumentType: self.PaymentTypeId,
                                    RequestedDate: self.formatDate(new Date()),
                                    PaymentPurpose: self.purposeId,
                                    PaymentAmount: parseFloat(self.PaymentAmount),
                                    PaymentScheduleDate: self.formatDate(self.PaymentScheduleDate),
                                    TransactionType: "Credit",
                                    UTN: "",
                                    UserRemarks: "",
                                    UserReferenceNumber: ""
                                };
                            }
                            else {
                                payload = {
                                    PaymentType: "Manual",
                                    PaymentInstrumentType: self.PaymentTypeId,
                                    RequestedDate: self.formatDate(new Date()),
                                    PaymentPurpose: self.purposeId,
                                    PaymentAmount: parseFloat(self.PaymentAmount),
                                    PaymentScheduleDate: self.formatDate(self.PaymentScheduleDate),
                                    TransactionType: "Credit",
                                    UTN: "",
                                    UserRemarks: "",
                                    UserReferenceNumber: ""
                                };
                            }

                            self.$.httpbp.post(url, payload, paymentProcessor, true).then(function (data) {
                                self.raiseAppRefreshEvent(e);
                                self.clearformData();
                            }).fail(function (e) {
                                var strMessage = "Failed to complete the operation. " + e.responseJSON.message;
                                self.$.messagebp.showMessage(strMessage, "ERROR", "", true);
                            });
                        }
                        else if (self.PaymentTypeId == "Check") {
                            if (self.PaymentScheduleDate != "" && self.BankAccountNumber != "" && self.bankAccountTypeId != "" && self.BankRTN != "" && self.BorrowersName != "" && self.CheckNo != "" && self.MICR != "") {
                                var payload = {};
                                if (self.purposeId == "custom") {
                                    payload = {
                                        PaymentType: "Manual",
                                        PaymentInstrumentType: self.PaymentTypeId,
                                        RequestedDate: self.formatDate(new Date()),
                                        PaymentPurpose: self.purposeId,
                                        PaymentAmount: parseFloat(self.PaymentAmount),
                                        PaymentScheduleDate: self.formatDate(self.PaymentScheduleDate),
                                        BankAccountNumber: self.BankAccountNumber,
                                        BankAccountType: self.bankAccountTypeId,
                                        BankRTN: self.BankRTN,
                                        BorrowersName: self.BorrowersName,
                                        CheckNo: self.CheckNo,
                                        MICR: self.MICR,
                                        CheckDate: self.formatDate(new Date()),
                                        TransactionType: "Credit",
                                        UTN: "",
                                        UserRemarks: "",
                                        UserReferenceNumber: ""
                                    };
                                }
                                else {
                                    payload = {
                                        PaymentType: "Manual",
                                        PaymentInstrumentType: self.PaymentTypeId,
                                        RequestedDate: self.formatDate(new Date()),
                                        PaymentPurpose: self.purposeId,
                                        PaymentAmount: parseFloat(self.PaymentAmount),
                                        PaymentScheduleDate: self.formatDate(self.PaymentScheduleDate),
                                        BankAccountNumber: self.BankAccountNumber,
                                        BankAccountType: self.bankAccountTypeId,
                                        BankRTN: self.BankRTN,
                                        BorrowersName: self.BorrowersName,
                                        CheckNo: self.CheckNo,
                                        MICR: self.MICR,
                                        CheckDate: self.formatDate(new Date()),
                                        TransactionType: "Credit",
                                        UTN: "",
                                        UserRemarks: "",
                                        UserReferenceNumber: ""
                                    };
                                }
                                self.$.httpbp.post(url, payload, paymentProcessor, true).then(function (data) {
                                    self.raiseAppRefreshEvent(e);
                                    self.clearformData();
                                }).fail(function (e) {
                                    var strMessage = "Failed to complete the operation. " + e.responseJSON.message;
                                    self.$.messagebp.showMessage(strMessage, "ERROR", "", true);
                                });
                            }
                            else {
                                var strMessage = "All Fields are required";
                                self.$.messagebp.showMessage(strMessage, "ERROR", "", true);
                            }
                        }
                        else if (self.PaymentTypeId == "Ach") {
                            if (self.PaymentScheduleDate != "" && self.BankAccountNumber != "" && self.bankAccountTypeId != "" && self.BankRTN != "" && self.BorrowersName != "") {
                                var url = "/borrower/" + self.applicationNumber + "/add";
                                var payload = {};
                                if (self.purposeId == "custom") {
                                    payload = {
                                        PaymentType: "Additional",
                                        PaymentInstrumentType: "Ach",
                                        RequestedDate: self.formatDate(new Date()),
                                        PaymentPurpose: self.purposeId,
                                        PaymentAmount: parseFloat(self.PaymentAmount),
                                        PaymentScheduleDate: self.formatDate(self.PaymentScheduleDate),
                                        BankAccountNumber: self.BankAccountNumber,
                                        BankAccountType: self.bankAccountTypeId,
                                        BankRTN: self.BankRTN,
                                        BorrowersName: self.BorrowersName,
                                        PaymentRail: "ACH",
                                        TransactionType: "Credit",
                                        UTN: "",
                                        UserRemarks: "",
                                        UserReferenceNumber: ""
                                    };
                                }
                                else {
                                    payload = {
                                        PaymentType: "Additional",
                                        PaymentInstrumentType: "Ach",
                                        RequestedDate: self.formatDate(new Date()),
                                        PaymentPurpose: self.purposeId,
                                        PaymentAmount: parseFloat(self.PaymentAmount),
                                        PaymentScheduleDate: self.formatDate(self.PaymentScheduleDate),
                                        BankAccountNumber: self.BankAccountNumber,
                                        BankAccountType: self.bankAccountTypeId,
                                        BankRTN: self.BankRTN,
                                        BorrowersName: self.BorrowersName,
                                        PaymentRail: "ACH",
                                        TransactionType: "Credit",
                                        UTN: "",
                                        UserRemarks: "",
                                        UserReferenceNumber: ""
                                    };
                                }
                                self.$.httpbp.post(url, payload, paymentProcessor, true).then(function (data) {
                                    self.raiseAppRefreshEvent(e);
                                    self.clearformData();
                                }).fail(function (e) {
                                    var strMessage = "Failed to complete the operation. " + e.responseJSON.message;
                                    self.$.messagebp.showMessage(strMessage, "ERROR", "", true);
                                });
                            }
                            else {
                                var strMessage = "All Fields are required";
                                self.$.messagebp.showMessage(strMessage, "ERROR", "", true);
                            }
                        }
                        else {
                            if (objData !== undefined && objData.UTNRequired !== undefined && objData.UTNRequired === true && self.utn === "") {
                                var strMessage = "Unique Transaction Number is required";
                                self.$.messagebp.showMessage(strMessage, "ERROR", "", true);
                                return;
                            }
                            if (objData !== undefined && objData.bankFieldRequired !== undefined && objData.bankFieldRequired === true && (self.PaymentScheduleDate === "" || self.BankAccountNumber === "" || self.bankAccountTypeId === "" || self.BankRTN === "" || self.BorrowersName === "")) {
                                var strMessage = "All Fields are required";
                                self.$.messagebp.showMessage(strMessage, "ERROR", "", true);
                                return;
                            }

                            var payload = {};
                            if (self.purposeId == "custom") {
                                payload = {
                                    PaymentType: "Additional",
                                    PaymentInstrumentType: self.PaymentTypeId,
                                    RequestedDate: self.formatDate(new Date()),
                                    PaymentPurpose: self.purposeId,
                                    PaymentAmount: parseFloat(self.PaymentAmount),
                                    PaymentScheduleDate: self.formatDate(self.PaymentScheduleDate),
                                    BankAccountNumber: self.BankAccountNumber,
                                    BankAccountType: self.bankAccountTypeId,
                                    BankRTN: self.BankRTN,
                                    BorrowersName: self.BorrowersName,
                                    PaymentRail: "",
                                    TransactionType: "Credit",
                                    UTN: self.utn,
                                    UserRemarks: self.userRemarks,
                                    UserReferenceNumber: self.userReferenceNumber
                                };
                            }
                            else {
                                payload = {
                                    PaymentType: "Additional",
                                    PaymentInstrumentType: self.PaymentTypeId,
                                    RequestedDate: self.formatDate(new Date()),
                                    PaymentPurpose: self.purposeId,
                                    PaymentAmount: parseFloat(self.PaymentAmount),
                                    PaymentScheduleDate: self.formatDate(self.PaymentScheduleDate),
                                    BankAccountNumber: self.BankAccountNumber,
                                    BankAccountType: self.bankAccountTypeId,
                                    BankRTN: self.BankRTN,
                                    BorrowersName: self.BorrowersName,
                                    PaymentRail: "",
                                    TransactionType: "Credit",
                                    UTN: self.utn,
                                    UserRemarks: self.userRemarks,
                                    UserReferenceNumber: self.userReferenceNumber
                                };
                            }
                            self.$.httpbp.post(url, payload, paymentProcessor, true).then(function (data) {
                                self.raiseAppRefreshEvent(e);
                                self.clearformData();
                            }).fail(function (e) {
                                var strMessage = "Failed to complete the operation. " + e.responseJSON.message;
                                self.$.messagebp.showMessage(strMessage, "ERROR", "", true);
                            });
                        }
                    }
                },
                raiseAppRefreshEvent: function (event) {
                    this.$.utilitybp.raiseEvent(this.fireEvent, {
                        ActionName: 'MakeBorrowerPayment',
                        EventData: event,
                        CompnentName: 'borrower-payment'
                    });
                },
                formatDate: function (date) {
                    return moment.tz(date, window.config.timezone).format("YYYY-MM-DD");
                },
                init: function () {
                    var self = this;
                    var productPortFolioTypeList = self.$.configbp.getConfigurationBasedOnKey("productPortFolioTypeList");
                    self.set("pptList", productPortFolioTypeList);
                    if (productPortFolioTypeList !== undefined && productPortFolioTypeList.length === 1) {
                        self.set("selectedppt", productPortFolioTypeList);
                    }
                    var checkNumber = self.$.configbp.getConfigurationBasedOnKey("MakePaymentCheckChequeLable");
                    if (checkNumber !== undefined && checkNumber !== null && checkNumber !== "") {
                        self.set("checkNumber", checkNumber);
                    }
                    var displayIFSCCode = self.$.configbp.getConfigurationBasedOnKey("displayIFSCCode");
                    var PaymentType = self.$.configbp.getConfigurationBasedOnKey("BorrowerPaymentType");
                    if (displayIFSCCode !== undefined && displayIFSCCode !== null && displayIFSCCode !== "") {
                        self.set('displayIFSCCode', displayIFSCCode);
                    }
                    if (self.displayIFSCCode === true) {
                        self.set("nameIFSCCodeRouting", "IFSC Code");
                        self.set("rtnMaxlength", "11");
                        self.set("rtnMinlength", "11");
                        self.set("rtnPattern", "^[a-zA-z]{4}0[a-zA-Z0-9]{6}$");
                    }
                    var IsFeeScheduleLast = self.$.sessionbp.get("isFeeScheduleLast");
                    if (PaymentType !== undefined && PaymentType !== null && PaymentType !== "") {
                        self.set('PaymentType', PaymentType);
                    }
                    else {
                        self.PaymentType = [
                            { key: 'Cash', value: 'Cash' },
                            { key: 'Check', value: 'Check' },
                            { key: 'ACH', value: 'Ach' }
                        ];
                    }
                    self.PaymentTypeId = "Cash";
                    var paymentPurpose = self.$.lookupbp.getLookupBasedOnName("payment-purpose");
                    self.set('purposeList', paymentPurpose);
                    if (self.hasRole('RestrictPastDate')) {
                        self.paymentDateMin = self.setCurrentDate();
                        self.paymentDateMax = self.setMaxDate();
                    }
                    else {
                        self.paymentDateMin = moment().format('YYYY-MM-DD');
                        self.paymentDateMax = self.setMaxDate();
                    }
                    if (!self.checkPortfolioType(self.loanData)) {
                        var paymentPurpose = self.$.lookupbp.getLookupBasedOnName("payment-purpose-mca");
                        var latestPurpose = [];
                        if (IsFeeScheduleLast !== undefined && IsFeeScheduleLast !== null && IsFeeScheduleLast !== "" && IsFeeScheduleLast === "true") {
                            paymentPurpose.forEach(function (element) {
                                if (element.key !== "custom") {
                                    latestPurpose.push({ key: element.key, value: element.value });
                                }
                            });
                        }
                        else {
                            latestPurpose = paymentPurpose;
                        }
                        self.set('purposeList', latestPurpose);
                        self.set("purposeId", "schedule");
                    }
                },
                setMaxDate: function () {
                    var self = this;
                    var someDate = new Date();
                    var calanderDays = self.$.configbp.getConfigurationBasedOnKey("calanderDays");
                    var numberOfDaysToAdd = calanderDays;
                    someDate.setDate(someDate.getDate() + numberOfDaysToAdd);
                    return moment(someDate).format('YYYY-MM-DD');
                },
                setCurrentDate: function () {
                    var self = this;
                    var someDate = new Date();
                    var calanderDays = self.$.configbp.getConfigurationBasedOnKey("calanderDays");
                    var numberOfDaysToAdd = calanderDays;
                    someDate.setDate(someDate.getDate() - numberOfDaysToAdd);
                    return moment(someDate).format('YYYY-MM-DD');
                },
                hasRole: function (compName) {
                    return this.$.authorizebp.hasRole(compName);
                },
                checkHoliday: function () {
                    var self = this;
                    var allowHolidayAsPaymentDate = self.$.configbp.getConfigurationBasedOnKey("allowHolidayAsPaymentDate");
                    if (allowHolidayAsPaymentDate) {
                        var weekday = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
                        if (self.PaymentScheduleDate != undefined && self.PaymentScheduleDate != null && self.PaymentScheduleDate != "") {
                            var selectedDate = new Date(self.PaymentScheduleDate);
                            var holidayCalendar = JSON.parse(self.$.sessionbp.get("holidayCalendar"));
                            var CheckDayList = holidayCalendar[weekday[selectedDate.getDay()]];
                            var CheckDateList = holidayCalendar[self.PaymentScheduleDate];
                            if (CheckDayList != undefined && CheckDayList != null && CheckDayList != "") {
                                self.set('PaymentScheduleDate', "");
                                self.$.messagebp.showMessage("Please select bank working day", "ERROR", "", true);
                            }
                            else if (CheckDateList != undefined && CheckDateList != null && CheckDateList != "") {
                                self.set('PaymentScheduleDate', "");
                                self.$.messagebp.showMessage("Please select bank working day", "ERROR", "", true);
                            }
                        }
                    }
                },
                checkPortfolioType: function (objType) {
                    var self = this;
                    if (self.loanData && self.loanData.productPortfolioType != "MCA" && self.loanData.productPortfolioType != "MCALOC") {
                        return true;
                    }
                    return false;
                },
                getCurrencySymbol: function () {
                    var self = this;
                    return formats.currencySymbol(window.config.country) + " prefixSign";
                },
                clearformData: function () {
                    var self = this;
                    self.set("PaymentTypeId", "Cash");
                    if (self.checkPortfolioType(self.loanData)) {
                        self.set("purposeId", "default");
                    }
                    else {
                        self.set("purposeId", "schedule");
                    }
                    self.set("PaymentAmount", "");
                    self.set("selectedppt", "");
                    self.set("PaymentScheduleDate", "");
                    $('#BorrowerBankDetails').hide();
                    $('#BorrowerCheckDetails').hide();
                    $('#BorrowerdivUTN').hide();
                    self.set("BankAccountNumber", "");
                    self.set("bankAccountTypeId", "");
                    self.set("BankRTN", "");
                    self.set("BorrowersName", "");
                    self.set("userRemarks", "");
                    self.set("userReferenceNumber", "");
                    self.set("MICR", "");
                    self.set("CheckNo", "");
                    self.set("utn", "");
                }
            });
        });
    </script>
</dom-module>