<dom-module id="charge-off-process">
    <template>
        <style>
            .set-vertical-height {
                height: 500px;
                overflow-y: scroll;
            }
        </style>
        <div class="row">
            <div class="col-md-12">
                <paper-button id="loanChargeOffModalBtn" class="btn btn-primary activity-action-btn" on-click="_verifyForm" raised>Charge Off</paper-button>
            </div>
        </div>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "charge-off-process",
                properties: {
                    chargedOffProcess: {
                        type: String,
                        notify: true,
                        reflectToAttribute: true
                    },
                    eventTarget: {
                        type: Object,
                        notify: true,
                        reflectToAttribute: true
                    }
                },
                _verifyForm: function (event) {
                    var self = this;
                    self.chargedOffProcess = "Change";
                    self.set("eventTarget", event);
                },
                init: function () {

                }
            });
        });
    </script>
</dom-module>