<dom-module id="loan-mod">
    <template>
        <style>
            .set-vertical-height {
                height: 500px;
                overflow-y: scroll;
            }
        </style>
        <div class="row">
            <div class="col-md-12">
                <paper-button id="loanModModalBtn" class="btn btn-primary activity-action-btn" on-click="_verifyForm" raised>Modification</paper-button>
            </div>
        </div>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "loan-mod",
                properties: {
                    loanModification: {
                        type: String,
                        notify: true,
                        reflectToAttribute: true
                    }
                },
                _verifyForm: function (event) {
                    var self = this;
                    self.loanModification = "Change";
                },
                init: function () {

                }
            });
        });
    </script>
</dom-module>