<dom-module id="new-drawdown-request">
    <template>
        <style>
            .custom-input {
                --paper-input-container-input: {
                    font-size: 11px;
                }

                --paper-input-container-label: {
                    font-size: 12px;
                }
            }
        </style>
        <div id="MessageContainer"></div>
        <div class="row">
            <div class="col-md-12">
                <form is="iron-form" class="form-horizontal" name="{{formId}}">
                    <dynamic-form form-configuration={{requestedAmountObj}} values="{{requestedAmountObj.values}}">
                    </dynamic-form>
                    <br />
                    <paper-button class="btn btn-primary activity-action-btn" on-click="_verifyForm" raised>Submit
                    </paper-button>
                </form>
            </div>
        </div>
        <url-parser id="urldr"></url-parser>
        <http-request id="httpdr"></http-request>
        <utility-service id="utilitydr"></utility-service>
        <message-component id="message"></message-component>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "new-drawdown-request",
                properties: {
                    formId: {
                        type: String,
                        notify: true
                    },
                    loanNumber: {
                        type: String,
                        notify: true,
                        reflectToAttribute: true
                    },
                    requestedAmountObj: {
                        type: Object,
                        notify: true,
                        value: {
                            controls: {
                                DrawDownDate: {
                                    label: "Requested Date",
                                    title: "Requested Date",
                                    type: "date",
                                    format: COUNTRY[window.config.country].DATE_FORMAT.DATE,
                                    validations: {
                                        required: false
                                    }
                                },
                                RequestedAmountRD: {
                                    label: "Requested Amount",
                                    type: "textboxwithCurrency",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false,
                                        pattern: 'DECIMAL',
                                        minLen: 1,
                                        maxLen: 10,
                                        currencySign: "$"
                                    }
                                },
                                NeedByDate: {
                                    label: "Need By Date",
                                    title: "Need by Date",
                                    type: "date",
                                    format: COUNTRY[window.config.country].DATE_FORMAT.DATE,
                                    validations: {
                                        required: false
                                    }
                                }
                            },
                            values: {
                                DrawDownDate: "",
                                RequestedAmountRD: "0.00",
                                NeedByDate: ""
                            }
                        }
                    }
                },
                _verifyForm: function (e) {
                    e.preventDefault();
                    var self = this;
                    var form = Polymer.dom(e).localTarget.parentElement;
                    var drawdownProcessor = window.config.services.drawdownProcessor;
                    if (form.validate()) {
                        var payload = {
                            DrawDownDate: self.formatDate(self.requestedAmountObj.values.DrawDownDate),
                            RequestedAmount: self.requestedAmountObj.values.RequestedAmountRD,
                            NeedByDate: self.formatDate(self.requestedAmountObj.values.NeedByDate),
                            LocNumber: self.loanNumber
                        };
                        self.$.httpdr.post("", payload, drawdownProcessor, true).then(function (data) {
                            form.reset();
                            self.raiseAppRefreshEvent(e);
                        }).fail(function (e) {
                            var strMessage = "Failed to complete the operation. " + e.responseJSON.message;
                            self.$.message.showMessage(strMessage, "ERROR", "", true);
                        });
                    }
                },
                raiseAppRefreshEvent: function (event) {
                    this.$.utilitydr.raiseEvent(this.fireEvent, {
                        ActionName: 'NewDrawDownRequest',
                        EventData: event,
                        CompnentName: 'new-drawdown-request'
                    });
                },
                formatDate: function (date) {
                    return moment.tz(date, window.config.timezone).format("YYYY-MM-DD");
                },
                init: function () {

                }
            });
        });
    </script>
</dom-module>