<dom-module id="pause-accrual">
    <template>
        <style>
            .custom-input {
                --paper-input-container-input: {
                    font-size: 11px;
                }

                --paper-input-container-label: {
                    font-size: 12px;
                }
            }

            .header {
                font-size: 12px;
                font-weight: 700;
                color: white;
                background-color: #03466B;
                height: 35px;
                padding-top: 8px;
            }

            .modal-dialog {
                margin: 10% auto;
                width: 200px !important;
            }
        </style>
        <div class="row">
            <div class="col-md-12">
                <form is="iron-form" class="form-horizontal" name="pauseAccrual">
                    <template is="dom-if" if="{{checkPortfolioType(loanData)}}">
                        <div class="row">
                            <div class="panel-left col-md-12 header">
                                <span>Pause/Resume Accrual</span>
                            </div>
                        </div>
                        <template is="dom-if" if="{{!pauseAccrual(currentEconomicsData.accrualStop)}}">
                            <div class="row">
                                <div class="panel-left col-md-12">
                                    <vaadin-date-picker class="custom-input" id="PausedFrom" i18n="[[i18n]]"
                                        label="Paused From" min="{{asOfDateAccrual}}" max="{{endDate}}"
                                        format="{{_getFormat(item.value)}}" value={{PausedFrom}}>
                                    </vaadin-date-picker>
                                    <br>
                                    <paper-button class="btn btn-primary activity-action-btn" on-click="_verifyForm"
                                        raised>
                                        Submit</paper-button>
                                </div>
                            </div>
                        </template>
                        <template is="dom-if" if="{{pauseAccrual(currentEconomicsData.accrualStop)}}">
                            <br />
                            <paper-button class="btn btn-primary activity-action-btn" on-click="_verifyForm" raised>
                                Resume</paper-button>
                        </template>
                        <div class="row">
                            <div class="panel-left col-md-12">

                            </div>
                        </div>
                        <div class="row">
                            <div class="panel-left col-md-12">
                                <hr>
                            </div>
                        </div>
                    </template>
                    <div class="row">
                        <div class="panel-left col-md-12 header">
                            <span>Pause/Resume Payments</span>
                        </div>
                    </div>
                    <template is="dom-if" if="{{checkData(stoppedFrom)}}">
                        <div class="row">
                            <div class="panel-left col-md-12">
                                <span>Auto-pay Pause Date : </span>
                                <b>{{stoppedFrom}}</b>
                            </div>
                        </div>
                    </template>
                    <template is="dom-if" if="{{checkDataResume(startedFrom,loanData.autoPayHistory)}}">
                        <div class="row">
                            <div class="panel-left col-md-12">
                                <span>Auto-pay Resume Date : </span>
                                <b>{{startedFrom}}</b>
                            </div>
                        </div>
                    </template>
                    <div class="row">
                        <div class="panel-left col-md-12">
                            <vaadin-date-picker class="custom-input" id="StropSince" i18n="[[i18n]]" label="Pause Date"
                                format="{{_getFormat(item.value)}}" value="{{paymentPausedSince}}" min="{{asOfDate}}"
                                max="{{endDate}}"></vaadin-date-picker>
                        </div>
                    </div>
                    <div class="row">
                        <div class="panel-left col-md-12">
                            <vaadin-date-picker class="custom-input" id="StartFromAutoPayment" i18n="[[i18n]]"
                                label="Resume Date" format="{{_getFormat(item.value)}}" value="{{paymentStartFrom}}"
                                min="{{asOfDateAndPausedDate}}" max="{{endDate}}"></vaadin-date-picker>
                        </div>
                    </div>

                    <div class="row">
                        <div class="panel-left col-md-12">
                            <br>
                            <paper-button class="btn btn-primary activity-action-btn" on-click="_verifyFormPayment"
                                raised>Submit</paper-button>
                        </div>
                    </div>
                </form>
            </div>
            <div id="pauseDialogue" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            {{dialogueMessage}}
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary activity-action-btn"
                                on-click="_moveFurtherSteps">Submit</button>
                            <button class="btn btn-primary activity-action-btn" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="MessageContainer"></div>
        </div>
        <url-parser id="urlpa"></url-parser>
        <http-request id="httppa"></http-request>
        <utility-service id="utilitypa"></utility-service>
        <alloy-config id="configpa"></alloy-config>
        <message-component id="messagepa"></message-component>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "pause-accrual",
                properties: {
                    asOfDateAccrual: {
                        type: Date,
                        notify: true,
                        reflectToAttribute: true
                    },
                    startDate: {
                        type: Date,
                        notify: true,
                        reflectToAttribute: true
                    },
                    endDate: {
                        type: Date,
                        notify: true,
                        reflectToAttribute: true
                    },
                    dialogueMessage: {
                        type: String,
                        notify: true
                    },
                    asOfDate: {
                        type: Date,
                        notify: true,
                        reflectToAttribute: true
                    },
                    asOfDateAndPausedDate: {
                        type: Date,
                        notify: true,
                        reflectToAttribute: true
                    },
                    startedFrom: {
                        type: Date,
                        notify: true,
                        reflectToAttribute: true
                    },
                    stoppedFrom: {
                        type: Date,
                        notify: true,
                        reflectToAttribute: true
                    },
                    currentEconomicsData: {
                        type: Object,
                        notify: true
                    },
                    PausedFrom: {
                        type: Date,
                        notify: true
                    },
                    PaymentPausedFrom: {
                        type: Date,
                        notify: true
                    },
                    paymentPausedSince: {
                        type: Date,
                        notify: true,
                        observer: "changeDate"
                    },
                    paymentStartFrom: {
                        type: Date,
                        notify: true
                    },
                    VerisonNumber: {
                        type: String,
                        notify: true
                    },
                    loanNumber: {
                        type: String,
                        notify: true
                    },
                    i18n: {
                        type: Object,
                        notify: true,
                        value: {
                            monthNames: moment.months(),
                            weekdays: moment.weekdays(),
                            weekdaysShort: moment.weekdaysShort(),
                            firstDayOfWeek: moment.localeData().firstDayOfWeek(),
                            week: 'Week',
                            calendar: 'Calendar',
                            clear: 'Clear',
                            today: 'Today',
                            cancel: 'Cancel',
                            formatDate: function (d) {
                                return moment(d).format(COUNTRY[window.config.country].DATE_FORMAT.DATE);
                            },
                            parseDate: function (s) {
                                return moment(s, COUNTRY[window.config.country].DATE_FORMAT.DATE).toDate();
                            },
                            formatTitle: function (monthName, fullYear) {
                                return monthName + ' ' + fullYear;
                            }
                        }
                    },
                    loanData: {
                        type: Object,
                        notify: true,
                        observer: "getCurrentVersion"
                    }
                },
                changeDate: function (obj) {
                    var self = this;
                    if (obj !== undefined && obj !== "") {
                        self.set("asOfDateAndPausedDate", obj);
                    }
                    else {
                        if (self.currentEconomicsData) {
                            var data = self.currentEconomicsData;
                            var start = moment(data.pboc.asOfDatePBOC).startOf('day');
                            var stop = moment(self.startDate).startOf('day');
                            if (start > stop) {
                                self.set("asOfDateAndPausedDate", moment(data.pboc.asOfDatePBOC).format('YYYY-MM-DD'));
                            }
                            else {
                                self.set("asOfDateAndPausedDate", moment(self.startDate).format('YYYY-MM-DD'));
                            }
                        }
                    }
                },
                init: function () {
                    this.processEconomicsData();
                },
                processEconomicsData: function () {
                    var self = this;
                    if (self.currentEconomicsData) {
                        var data = self.currentEconomicsData;
                        self.VerisonNumber = data.scheduleVersion;
                        var start = moment(data.pboc.asOfDatePBOC).startOf('day');
                        self.set("asOfDateAccrual", moment(data.pboc.asOfDatePBOC).format('YYYY-MM-DD'));
                        var stop = moment(self.startDate).startOf('day');
                        if (start > stop) {
                            self.set("asOfDate", moment(data.pboc.asOfDatePBOC).format('YYYY-MM-DD'));
                            self.set("asOfDateAndPausedDate", moment(data.pboc.asOfDatePBOC).format('YYYY-MM-DD'));
                        }
                        else {
                            self.set("asOfDate", moment(self.startDate).format('YYYY-MM-DD'));
                            self.set("asOfDateAndPausedDate", moment(self.startDate).format('YYYY-MM-DD'));
                        }
                    }
                },
                pauseAccrual: function (obj) {
                    if (obj != undefined && obj === true) {
                        return true;
                    }
                    else {
                        return false;
                    }
                },
                pauseAutoPayment: function (obj) {
                    if (obj != undefined && obj === true) {
                        return true;
                    }
                    else {
                        return false;
                    }
                },
                getCurrentVersion: function () {
                    var self = this;
                    if (self.loanData && self.loanData.autoPayStopDate !== undefined && self.loanData.autoPayStopDate !== null) {
                        self.stoppedFrom = moment(self.loanData.autoPayStopDate.time).format(COUNTRY[window.config.country].DATE_FORMAT.DATE);
                    }
                    else {
                        self.set("stoppedFrom", "");
                    }
                    if (self.loanData && self.loanData.autoPayStartDate !== undefined && self.loanData.autoPayStartDate !== null) {
                        self.startedFrom = moment(self.loanData.autoPayStartDate.time).format(COUNTRY[window.config.country].DATE_FORMAT.DATE);
                    }
                    else {
                        self.set("startedFrom", "");
                    }
                },
                _verifyForm: function (e) {
                    e.preventDefault();
                    var self = this;
                    var form = Polymer.dom(e).localTarget.parentElement;
                    var accountingService = window.config.services.accountingService;
                    var accrualPause = self.$.configpa.getConfigurationBasedOnKey("accrualPauseMSG");
                    var accrualResume = self.$.configpa.getConfigurationBasedOnKey("accrualResumeMSG");
                    accrualPause = (accrualPause !== undefined && accrualPause !== "") ? accrualPause : "Pause Accrual successfully";
                    accrualResume = (accrualResume !== undefined && accrualResume !== "") ? accrualResume : "Resume Accrual successfully";

                    if (self.currentEconomicsData.accrualStop == true) {
                        var url = "/" + self.applicationNumber + "/" + self.VerisonNumber + "/start/accrual";
                        var someDate = new Date(self.currentEconomicsData.pboc.asOfDatePBOC);
                        someDate.setDate(someDate.getDate() + 1);
                        var payload = {
                            ProcessingDate: moment(someDate).format('YYYY-MM-DD'),
                            IsAccrual: true,
                            AccrualMode: "Manual"
                        };
                        self.$.httppa.post(url, payload, accountingService, true).then(function (data) {
                            self.raiseAppRefreshEvent(e, accrualResume);
                        }).fail(function (e) {
                            var strMessage = "Failed to complete the operation. " + e.responseJSON.message;
                            self.$.messagepa.showMessage(strMessage, "ERROR", "", true);
                        });
                    }
                    else {
                        if (self.PausedFrom != null && self.PausedFrom != "" && self.PausedFrom != undefined) {
                            var url = "/" + self.applicationNumber + "/" + self.VerisonNumber + "/stop/accrual";
                            var payload = {
                                ProcessingDate: self.formatDate(self.PausedFrom),
                                AccrualMode: "Manual"
                            };
                            self.$.httppa.post(url, payload, accountingService, true).then(function (data) {
                                self.set("PausedFrom", "");
                                self.raiseAppRefreshEvent(e, accrualPause);
                            }).fail(function (e) {
                                var strMessage = "Failed to complete the operation. " + e.responseJSON.message;
                                self.$.messagepa.showMessage(strMessage, "ERROR", "", true);
                            });
                        }
                        else {
                            var strMessage = "All Fields are required ";
                            self.$.messagepa.showMessage(strMessage, "ERROR", "", true);
                        }
                    }
                },
                raiseAppRefreshEvent: function (event, message) {
                    this.$.utilitypa.raiseEvent(this.fireEvent, {
                        Message: message,
                        ActionName: 'PauseAccrual',
                        EventData: event,
                        CompnentName: 'pause-accrual'
                    });
                },
                formatDate: function (date) {
                    return moment.tz(date, window.config.timezone).format("YYYY-MM-DD");
                },
                confirmDialog: function (message, titleText) {
                    var self = this;
                    $('<div></div>').appendTo('body')
                        .html('<div><h5>' + message + '</h5></div>')
                        .dialog({
                            modal: true, title: titleText, zIndex: 10000, autoOpen: true,
                            width: '400px', resizable: false,
                            buttons: {
                                Submit: function (e) {
                                    self.performAction(e);
                                    $(this).dialog("close");
                                },
                                Cancel: function () {
                                    $(this).dialog("close");
                                }
                            },
                            open: function () {
                                $(".ui-dialog-titlebar-close").hide();
                                $('.ui-dialog-buttonpane').find('button:contains("Cancel")').addClass('btn btn-primary activity-action-btn');
                                $('.ui-dialog-buttonpane').find('button:contains("Submit")').addClass('btn btn-primary activity-action-btn');
                            },
                            close: function (event, ui) {
                                $(this).remove();
                            }
                        });
                },
                confirmDialogNoAction: function (message, titleText) {
                    var self = this;
                    $('<div></div>').appendTo('body')
                        .html('<div><h5>' + message + '</h5></div>')
                        .dialog({
                            modal: true, title: titleText, zIndex: 10000, autoOpen: true,
                            width: '400px', resizable: false,
                            buttons: {
                                Cancel: function () {
                                    $(this).dialog("close");
                                }
                            },
                            open: function () {
                                $(".ui-dialog-titlebar-close").hide();
                                $('.ui-dialog-buttonpane').find('button:contains("Cancel")').addClass('btn btn-primary activity-action-btn');
                            },
                            close: function (event, ui) {
                                $(this).remove();
                            }
                        });
                },
                _verifyFormPayment: function (e) {
                    e.preventDefault();
                    var self = this;
                    var date;
                    var start = moment(self.startedFrom).startOf('day');
                    var stop = moment(self.stoppedFrom).startOf('day');
                    date = moment(self.paymentPausedSince).startOf('day');
                    if (self.paymentPausedSince !== undefined && self.paymentPausedSince !== "" && self.startedFrom !== undefined && self.startedFrom !== "" && self.stoppedFrom !== undefined && self.stoppedFrom !== "" && (self.paymentStartFrom === undefined || self.paymentStartFrom === "")) {
                        var msg = "The earlier auto-pay pause date of " + moment(self.stoppedFrom).format(COUNTRY[window.config.country].DATE_FORMAT.DATE) + " has now been changed to " + moment(self.paymentPausedSince).format(COUNTRY[window.config.country].DATE_FORMAT.DATE) + ". Auto-pay will be paused from this date till the end of the schedule. If you wish to enter Auto-pay resume date, please click on Cancel and enter both the dates.";
                        self.set("dialogueMessage", msg);
                        self.confirmDialog(msg, "Pause Payments");
                    }
                    else if (self.paymentStartFrom !== undefined && self.paymentStartFrom !== "" && self.startedFrom !== undefined && self.startedFrom !== "" && self.stoppedFrom !== undefined && self.stoppedFrom !== "" && (self.paymentPausedSince === undefined || self.paymentPausedSince === "")) {
                        var currentDate = moment.tz(self.paymentStartFrom, window.config.timezone);
                        var lastDate = currentDate.clone().subtract(1, 'days');
                        var msg = "The earlier auto-pay resume date of " + moment(self.startedFrom).format(COUNTRY[window.config.country].DATE_FORMAT.DATE) + " has now been changed to " + moment(self.paymentStartFrom).format(COUNTRY[window.config.country].DATE_FORMAT.DATE) + ". Now, auto-pay will be paused from " + moment(self.stoppedFrom).format(COUNTRY[window.config.country].DATE_FORMAT.DATE) + " to " + moment(lastDate).format(COUNTRY[window.config.country].DATE_FORMAT.DATE);
                        self.set("dialogueMessage", msg);
                        var date1 = moment(self.paymentStartFrom).format("MM/DD/YYYY");
                        var date2 = moment(self.startedFrom).format("MM/DD/YYYY");
                        var date3 = moment(self.asOfDateAndPausedDate).format("MM/DD/YYYY");
                        if (date2 <= date3) {
                            msg = "Please note that Auto-pay is not paused, hence this action will not result in anything.";
                            self.confirmDialogNoAction(msg, "Resume Payments");

                        }
                        else if (date1 === date2) {
                            msg = "The earlier auto-pay resume date of " + moment(self.startedFrom).format(COUNTRY[window.config.country].DATE_FORMAT.DATE) + " has now been changed to " + moment(self.paymentStartFrom).format(COUNTRY[window.config.country].DATE_FORMAT.DATE) + ". Now, auto-pay will be resumed from " + moment(self.paymentStartFrom).format(COUNTRY[window.config.country].DATE_FORMAT.DATE) + ".";
                            self.confirmDialog(msg, "Resume Payments");
                        }
                        else {
                            self.confirmDialog(msg, "Resume Payments");
                        }
                    }
                    else if (self.startedFrom !== undefined && self.startedFrom !== "" && self.stoppedFrom !== undefined && self.stoppedFrom !== "" && (self.paymentStartFrom === "" || self.paymentStartFrom === undefined || self.paymentStartFrom === null) && (date >= stop && date <= start)) {
                        var strMessage = "This action is not allowed since auto-pay is already stopped.";
                        self.$.messagepa.showMessage(strMessage, "ERROR", "", true);
                    }
                    else if (self.paymentPausedSince != "" || self.paymentStartFrom != "") {
                        self.performAction(e);
                    }
                    else {
                        var strMessage = "Select date";
                        self.$.messagepa.showMessage(strMessage, "ERROR", "", true);
                    }
                },
                performAction: function (e) {
                    var self = this;
                    var lmsService = window.config.services.lmsService;
                    var url = "/" + self.applicationNumber + "/autopay";
                    var payload = {
                        IsAutopay: (self.paymentStartFrom !== "") ? true : false,
                        AutoPayStartDate: (self.paymentStartFrom !== "") ? self.formatDate(self.paymentStartFrom) : null,
                        AutoPayStopDate: (self.paymentPausedSince !== "") ? self.formatDate(self.paymentPausedSince) : null,
                        AutoPayType: "Manual"
                    };
                    var paymentPauseResume = self.$.configpa.getConfigurationBasedOnKey("paymentPauseResumeMSG");
                    paymentPauseResume = (paymentPauseResume !== undefined && paymentPauseResume !== "") ? paymentPauseResume : "Pause/Resume Payments successfully";
                    var finalMsg = "";
                    self.$.httppa.put(url, payload, lmsService, true).then(function (data) {
                        if (data && data.autoPayStopDate !== undefined && data.autoPayStopDate !== null) {
                            self.stoppedFrom = moment(data.autoPayStopDate.time).format(COUNTRY[window.config.country].DATE_FORMAT.DATE);
                        }
                        else {
                            self.set("stoppedFrom", "");
                        }
                        if (data && data.autoPayStartDate !== undefined && data.autoPayStartDate !== null) {
                            self.startedFrom = moment(data.autoPayStartDate.time).format(COUNTRY[window.config.country].DATE_FORMAT.DATE);
                        }
                        else {
                            self.set("startedFrom", "");
                        }
                        self.raiseAppRefreshEvent(e, paymentPauseResume);
                        self.set("paymentPausedSince", "");
                        self.set("paymentStartFrom", "");
                    }).fail(function (e) {
                        var strMessage = e.responseJSON.message;
                        self.$.messagepa.showMessage(strMessage, "ERROR", "", true);
                    });
                },
                checkPortfolioType: function (objType) {
                    var self = this;
                    if (self.loanData && self.loanData.productPortfolioType != "MCA" && self.loanData.productPortfolioType != "MCALOC") {
                        return true;
                    }
                    return false;
                },
                checkData: function (objData) {
                    return (objData !== undefined && objData !== "") ? true : false;

                },
                checkDataResume: function (objData, history) {
                    return (objData !== undefined && objData !== "" && history.length > 0) ? true : false;

                }
            });
        });
    </script>
</dom-module>