<dom-module id="send-mail">
    <template>
        <div class="row">
            <div class="col-md-12">
                <form is="iron-form" class="form-horizontal" name="sendMailToBorrower">
                    <paper-button class="btn btn-primary activity-action-btn" on-click="_sendMail" raised>Send</paper-button>
                </form>
            </div>
        </div>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "send-mail",
                properties: {

                },
                init: function () {
                    this.processEconomicsData();
                },
                _sendMail: function (event) {
                    event.preventDefault();
                    var self = this;
                }
            });
        });
    </script>
</dom-module>