<dom-module id="start-auto-payment">
    <template>
        <div>
            TBD
        </div>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "start-auto-payment"
            });
        });
    </script>
</dom-module>