<dom-module id="start-accrual">
    <template>
        <div class="row">
            <div class="col-md-12">
                <form is="iron-form" class="form-horizontal" name="startaccrual">
                    <dynamic-form form-configuration={{startObj}} values="{{startObj.values}}"></dynamic-form>
                    <br />
                    <paper-button class="btn btn-primary activity-action-btn" on-click="_verifyForm" raised>Submit
                    </paper-button>
                </form>
            </div>
            <div id="MessageContainer"></div>
        </div>
        <url-parser id="urlsta"></url-parser>
        <http-request id="httpsta"></http-request>
        <utility-service id="utilitysta"></utility-service>
        <message-component id="messagesta"></message-component>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "start-accrual",
                properties: {
                    currentSchedule: {
                        type: Object,
                        notify: true
                    },
                    VerisonNumber: {
                        type: String,
                        notify: true
                    },
                    loanNumber: {
                        type: String,
                        notify: true
                    },
                    startObj: {
                        type: Object,
                        notify: true,
                        value: {
                            controls: {
                                ProcessingDate: {
                                    label: "Start Date",
                                    title: "Requested Date",
                                    type: "date",
                                    format: COUNTRY[window.config.country].DATE_FORMAT.DATE,
                                    validations: {
                                        required: true
                                    }
                                },
                                IsAccrual: {
                                    label: "Are you wants continue accrual from stop date.",
                                    type: "checkbox",
                                    class: "twoRow",
                                    validations: {
                                        required: false,
                                        readonly: false,
                                        autovalidate: false
                                    }
                                }
                            },
                            values: {
                                ProcessingDate: "",
                                IsAccrual: ""
                            }
                        }
                    }
                },
                init: function () {
                    var self = this;
                    if (self.currentSchedule) {
                        self.set('VerisonNumber', self.currentSchedule.scheduleVersionNo);
                    }
                },
                _verifyForm: function (e) {
                    e.preventDefault();
                    var self = this;
                    var form = Polymer.dom(e).localTarget.parentElement;
                    var accountingService = window.config.services.accountingService;
                    if (form.validate()) {
                        var url = "/" + self.applicationNumber + "/" + self.VerisonNumber + "/start/accrual";
                        var payload = {
                            ProcessingDate: self.formatDate(self.startObj.values.ProcessingDate),
                            IsAccrual: self.startObj.values.IsAccrual
                        };
                        self.$.httpsta.post(url, payload, accountingService, true).then(function (data) {
                            self.raiseAppRefreshEvent(e);
                        }).fail(function (e) {
                            var strMessage = "Failed to complete the operation. " + e.responseJSON.message;
                            self.$.messagesta.showMessage(strMessage, "ERROR", "", true);
                        });
                    }
                },
                raiseAppRefreshEvent: function (event) {
                    this.$.utilitysta.raiseEvent(this.fireEvent, {
                        ActionName: 'StartAccrual',
                        EventData: event,
                        CompnentName: 'start-accrual'
                    });
                },
                formatDate: function (date) {
                    return moment.tz(date, window.config.timezone).format("YYYY-MM-DD");
                }
            });
        });
    </script>
</dom-module>