<dom-module id="unwind-loan">
    <template>
        <style>
            .custom-input {
                --paper-input-container-input: {
                    font-size: 11px;
                }

                --paper-input-container-label: {
                    font-size: 12px;
                }
            }

            .set-vertical-height {
                height: 500px;
                overflow-y: scroll;
            }
        </style>
        <div id="MessageContainer"></div>
        <div class="row">
            <div class="col-md-12">
                <form is="iron-form" class="form-horizontal" name="ApplyTDS">
                    <div class="row">
                        <div class="panel-left col-md-12">
                            <paper-checkbox checked="{{unwindFeesAtOrigination}}" name="unwindFeesAtOrigination"
                                id="unwindFeesAtOrigination">
                                Unwind Fees at Origination
                            </paper-checkbox>
                        </div>
                    </div>
                    <br>
                    <paper-button class="btn btn-primary activity-action-btn" on-click="_verifyForm" raised>Submit
                    </paper-button>
                </form>
            </div>
        </div>
        <div id="unwindDialogue" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        {{dialogueMessage}}
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary activity-action-btn"
                            on-click="_moveFurtherSteps">Confirm</button>
                        <button class="btn btn-primary activity-action-btn" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
        <http-request id="httppa"></http-request>
        <utility-service id="utilitymp"></utility-service>
        <message-component id="messagemp"></message-component>
        <alloy-config id="configpa"></alloy-config>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "unwind-loan",
                properties: {
                    unwindFeesAtOrigination: {
                        type: Boolean,
                        notify: true
                    },
                    loanNumber: {
                        type: String,
                        notify: true
                    }
                },
                init: function () {
                    var self = this;
                },
                clearField: function () {
                    var self = this;
                    self.set("unwindFeesAtOrigination", false);
                },
                _verifyForm: function (e) {
                    e.preventDefault();
                    var self = this;
                    var form = Polymer.dom(e).localTarget.parentElement;
                    if (form.validate()) {
                        var unwindConfirmHeader = self.$.configpa.getConfigurationBasedOnKey("unwindConfirmHeader");
                        unwindConfirmHeader = (unwindConfirmHeader !== undefined && unwindConfirmHeader !== "") ? unwindConfirmHeader : "Are you sure, You want to Unwind/Cancel loan";
                        self.unwindConfirmDialog(unwindConfirmHeader, "Unwind/Cancel Loan");
                    }
                },
                raiseAppRefreshEvent: function (event) {
                    this.$.utilitymp.raiseEvent(this.fireEvent, {
                        ActionName: 'Unwind',
                        EventData: event,
                        CompnentName: 'unwind-loan'
                    });
                },
                unwindConfirmDialog: function (message, titleText) {
                    var self = this;
                    $('<div></div>').appendTo('body')
                        .html('<div><h5>' + message + '</h5></div>')
                        .dialog({
                            modal: true, title: titleText, zIndex: 10000, autoOpen: true,
                            width: '400px', resizable: false,
                            buttons: {
                                Confirm: function (e) {
                                    self.performAction(e);
                                    $(this).dialog("close");
                                },
                                Cancel: function () {
                                    $(this).dialog("close");
                                }
                            },
                            open: function () {
                                $(".ui-dialog-titlebar-close").hide();
                                $('.ui-dialog-buttonpane').find('button:contains("Cancel")').addClass('btn btn-primary activity-action-btn');
                                $('.ui-dialog-buttonpane').find('button:contains("Confirm")').addClass('btn btn-primary activity-action-btn');
                            },
                            close: function (event, ui) {
                                $(this).remove();
                            }
                        });
                },
                performAction: function (e) {
                    var self = this;
                    var lmsService = window.config.services.lmsService;
                    var url = "/" + self.applicationNumber + "/unwind";
                    var payload = {
                        UnwindFeesAtOrigination: self.unwindFeesAtOrigination
                    };
                    var unwindLoanMSG = self.$.configpa.getConfigurationBasedOnKey("unwindLoanMSG");
                    unwindLoanMSG = (unwindLoanMSG !== undefined && unwindLoanMSG !== "") ? unwindLoanMSG : "Loan unwind/cancel successfully";
                    self.$.httppa.post(url, payload, lmsService, true).then(function (data) {
                        self.raiseAppRefreshEvent(e, unwindLoanMSG);
                        self.clearField();
                    }).fail(function (e) {
                        var strMessage = e.responseJSON.message;
                        self.$.messagemp.showMessage(strMessage, "ERROR", "", true);
                    });
                }
            });
        });
    </script>
</dom-module>