<dom-module id="update-borrower-details">
    <template>
        <style>
            .custom-input {
                --paper-input-container-input: {
                    font-size: 11px;
                }

                --paper-input-container-label: {
                    font-size: 12px;
                }
            }

            .set-vertical-height {
                height: 500px;
                overflow-y: scroll;
            }
        </style>
        <div class="row">
            <div class="col-md-12 set-vertical-height">
                <form is="iron-form" class="form-horizontal" name="borrowerDetails" autocomplete="off"
                    aria-autocomplete="none">
                    <div class="row">
                        <div class="col-md-12">
                            <vaadin-combo-box class="custom-input" name="borrowerId" value="{{borrowerId}}"
                                item-value-path="value" item-label-path="key" items="{{borrowerList}}"
                                label="Select Borrower" prevent-invalid-input="true" on-change="getBorrowerData">
                            </vaadin-combo-box>
                        </div>
                    </div>
                    <dynamic-form form-configuration="{{borrowerDetails}}" values="{{borrowerDetails.values}}">
                    </dynamic-form>
                    <br />
                    <paper-button class="btn btn-primary activity-action-btn" on-click="_verifyForm" raised>Submit
                    </paper-button>
                    <div id="MessageContainer"></div>
                </form>
            </div>
        </div>
        <url-parser id="urlbrd"></url-parser>
        <http-request id="httpbrd"></http-request>
        <lookup-service id="lookupbrd"></lookup-service>
        <utility-service id="utilitybrd"></utility-service>
        <message-component id="messagebrd"></message-component>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "update-borrower-details",
                properties: {
                    borrowerId: {
                        type: String,
                        notify: true
                    },
                    borrowerList: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    applicantId: {
                        type: String,
                        notify: true
                    },
                    borrowerDetails: {
                        type: Object,
                        notify: true,
                        value: {
                            controls: {
                                EmailType: {
                                    label: "Email Type",
                                    type: "combobox",
                                    selectList: [],
                                    labelKey: "value",
                                    labelValue: "key",
                                    validations: {
                                        required: true
                                    }
                                },
                                Email: {
                                    label: "Email",
                                    type: "email",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false,
                                        pattern: 'EMAIL',
                                        minLen: 1,
                                        maxLen: 64
                                    }
                                },
                                Phone: {
                                    label: "Phone",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false,
                                        minLen: 1,
                                        maxLen: 64
                                    }
                                },
                                AddressType: {
                                    label: "Address Type",
                                    type: "combobox",
                                    selectList: [],
                                    labelKey: "value",
                                    labelValue: "key",
                                    validations: {
                                        required: true
                                    }
                                },
                                AddressLine1: {
                                    label: "Address Line 1",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false,
                                        minLen: 1,
                                        maxLen: 40
                                    }
                                },
                                AddressLine2: {
                                    label: "Address Line 2",
                                    type: "textbox",
                                    validations: {
                                        required: false,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false,
                                        minLen: 0,
                                        maxLen: 40
                                    }
                                },
                                City: {
                                    label: "City",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false,
                                        minLen: 1,
                                        maxLen: 64
                                    }
                                },
                                State: {
                                    label: "State",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false,
                                        minLen: 1,
                                        maxLen: 64
                                    }
                                },
                                Zip: {
                                    label: "Zip",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false,
                                        minLen: 0,
                                        maxLen: 6
                                    }
                                }
                            },
                            values: {
                                EmailType: "",
                                Email: "",
                                Phone: "",
                                AddressType: "",
                                AddressLine1: "",
                                AddressLine2: "",
                                City: "",
                                State: "",
                                Zip: ""
                            }
                        }
                    },
                    loanData: {
                        type: Object,
                        notify: true
                    },
                    SelectedBorrowerObj: {
                        type: Object,
                        notify: true
                    }
                },
                init: function () {
                    var self = this;
                    var PrimaryList = [];
                    var AdditionalList = [];
                    if (self.loanData) {
                        if (self.loanData.primaryApplicantDetails != null && self.loanData.primaryApplicantDetails != undefined) {
                            PrimaryList.push({ key: self.loanData.primaryApplicantDetails.name.first + " " + self.loanData.primaryApplicantDetails.name.last, value: self.loanData.primaryApplicantDetails.id });
                        }
                        if (self.loanData.applicantDetails != undefined && self.loanData.applicantDetails != null) {
                            AdditionalList = _.transform(self.loanData.applicantDetails, function (result, item) {
                                result.push({ key: item.name.first + " " + item.name.last, value: item.id });
                            }, []);
                        }
                        var mergeData = _.concat(PrimaryList, AdditionalList);
                        self.borrowerList = mergeData;
                    }
                    var borrowerDetail = _.cloneDeep(self.borrowerDetails);
                    var emailTypes = self.$.lookupbrd.getLookupBasedOnName("emailTypes");
                    var addressTypes = self.$.lookupbrd.getLookupBasedOnName("addressTypes");
                    borrowerDetail.controls.EmailType.selectList = emailTypes;
                    borrowerDetail.controls.AddressType.selectList = addressTypes;
                    self.set('borrowerDetails', borrowerDetail);
                },
                setPayloadData: function () {
                    var self = this;
                    var emails = [], addresses = [], phones = [];
                    var selectedBrrObj = _.cloneDeep(self.SelectedBorrowerObj);
                    var borrowerDetail = _.cloneDeep(self.borrowerDetails);
                    var payload = {
                        PositionOfLoan: selectedBrrObj.positionOfLoan,
                        Role: selectedBrrObj.role,
                        Name: {
                            First: selectedBrrObj.name.first,
                            Last: selectedBrrObj.name.last,
                            Middle: selectedBrrObj.name.middle,
                            Salutation: selectedBrrObj.name.salutation,
                            Generation: selectedBrrObj.name.generation
                        },
                        PII: {
                            DOB: selectedBrrObj.pii.dob,
                            SSN: selectedBrrObj.pii.ssn
                        }
                    };
                    if (!_.isNull(selectedBrrObj.emails)) {
                        _.forEach(selectedBrrObj.emails, function (element) {
                            if (element.isActive) {
                                element.emailAddress = borrowerDetail.values.Email;
                                element.emailType = borrowerDetail.values.EmailType;
                            }
                            emails.push(element);
                        });
                    }
                    if (!_.isNull(selectedBrrObj.phones)) {
                        _.forEach(selectedBrrObj.phones, function (element) {
                            if (element.isActive) {
                                element.phoneNo = borrowerDetail.values.Phone;
                            }
                            phones.push(element);
                        });
                    }
                    if (!_.isNull(selectedBrrObj.addresses)) {
                        _.forEach(selectedBrrObj.addresses, function (element) {
                            if (element.isActive) {
                                element.addressLine1 = borrowerDetail.values.AddressLine1;
                                element.addressLine2 = borrowerDetail.values.AddressLine2;
                                element.city = borrowerDetail.values.City;
                                element.state = borrowerDetail.values.State;
                                element.zip = borrowerDetail.values.Zip;
                                element.addressType = borrowerDetail.values.AddressType;
                            }
                            addresses.push(element);
                        });
                    }
                    payload.Phones = phones;
                    payload.Emails = emails;
                    payload.Addresses = addresses;
                    return payload;
                },
                _verifyForm: function (event) {
                    var self = this;
                    var form = Polymer.dom(event).localTarget.parentElement;
                    if (form.validate()) {
                        var payload = self.setPayloadData();
                        var lmsService = window.config.services.lmsService;
                        var url = "/applicant/" + self.applicationNumber + "/" + self.borrowerId;
                        self.$.httpbrd.put(url, payload, lmsService, true).then(function (data) {
                            self.raiseAppRefreshEvent(event);
                        }).fail(function (e) {
                            var response = e.responseJSON;
                            if (response) {
                                self.$.messagebrd.showMessage(response.message, "ERROR", "", true);
                            }
                            else {
                                self.$.messagebrd.showMessage("Add bank account error ", "ERROR", "", true);
                            }
                        });
                    }
                },
                raiseAppRefreshEvent: function (event) {
                    this.$.utilitybrd.raiseEvent(this.fireEvent, {
                        ActionName: 'UpdateBorrowerDetail',
                        EventData: event,
                        CompnentName: 'update-borrower-details'
                    });
                },
                getBorrowerData: function (event) {
                    var self = this;
                    var borrowerId = event.target.value;
                    var borrowerDetail = _.cloneDeep(self.borrowerDetails);
                    if (self.borrowerDetails !== undefined && self.borrowerDetails !== "") {
                        var borrowerObj = {};
                        if (self.loanData.applicantDetails !== undefined && self.loanData.applicantDetails !== "" && self.loanData.applicantDetails !== null) {
                            borrowerObj = _.find(self.loanData.applicantDetails, ["id", borrowerId]);
                        }
                        if (_.isNull(borrowerObj) || _.isUndefined(borrowerObj) || _.isEmpty(borrowerObj)) {
                            if (borrowerId !== "") {
                                borrowerObj = self.loanData.primaryApplicantDetails;
                            }
                        }
                        if (!_.isNull(borrowerObj) && !_.isUndefined(borrowerObj) && !_.isEmpty(borrowerObj)) {
                            self.SelectedBorrowerObj = borrowerObj;
                            if (!_.isNull(borrowerObj.emails)) {
                                var activeEmail = _.find(borrowerObj.emails, "isActive");
                                if (activeEmail !== undefined) {
                                    borrowerDetail.values.EmailType = activeEmail.emailType.toLowerCase();;
                                    borrowerDetail.values.Email = activeEmail.emailAddress;
                                }
                            }
                            if (!_.isNull(borrowerObj.addresses)) {
                                var activeaddress = _.find(borrowerObj.addresses, "isActive");
                                if (activeaddress !== undefined) {
                                    borrowerDetail.values.AddressType = activeaddress.addressType.toLowerCase();
                                    borrowerDetail.values.AddressLine1 = activeaddress.addressLine1;
                                    borrowerDetail.values.AddressLine2 = activeaddress.addressLine2;
                                    borrowerDetail.values.City = activeaddress.city;
                                    borrowerDetail.values.State = activeaddress.state;
                                    borrowerDetail.values.Zip = activeaddress.zip;
                                }
                            }
                            if (!_.isNull(borrowerObj.phones)) {
                                var activePhone = _.find(borrowerObj.phones, "isActive");
                                if (activePhone !== undefined) {
                                    borrowerDetail.values.Phone = activePhone.phoneNo;
                                }
                            }
                            self.set('borrowerDetails', borrowerDetail);
                        }
                        else {
                            borrowerDetail.values.EmailType = "";
                            borrowerDetail.values.Email = "";
                            borrowerDetail.values.Phone = "";
                            borrowerDetail.values.AddressType = "";
                            borrowerDetail.values.AddressLine1 = "";
                            borrowerDetail.values.AddressLine2 = "";
                            borrowerDetail.values.City = "";
                            borrowerDetail.values.State = "";
                            borrowerDetail.values.Zip = "";
                            self.set('borrowerDetails', borrowerDetail);
                        }
                    }
                }
            });
        });
    </script>
</dom-module>