<dom-module id="loan-search">
    <template>
        <style>
            .tablecontainer {
                margin: 40px auto 0;
            }

            .row {
                margin: 0 auto !important;
            }

            .header-right {
                position: absolute;
                right: 20px;
            }

            .footer-right {
                float: right;
            }

            div#queue_wrapper {
                text-align: center;
            }
        </style>
        <div class="row">
            <breadcrumb-links show-content="true"></breadcrumb-links>
        </div>
        <div class="row">
            <form is="iron-form" class="form-horizontal" name="searchForm">
                <dynamic-form form-configuration={{searchObj}} values="{{searchObj.values}}"></dynamic-form>
                <br/>
                <button class="btn btn-primary activity-action-btn" on-click="_verifyForm" raised>Search</button>
            </form>
        </div>
        <div class="row tablecontainer" id="tablecontainer">
            <table id="searchData" class="table table-striped" width="100%" cellspacing="0"></table>
        </div>
        <url-parser id="urlsloan"></url-parser>
        <http-request id="httpsloan"></http-request>
        <alloy-config id="configsloan"></alloy-config>
        <session-manager id="sessionsloan"></session-manager>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "loan-search",
                properties: {
                    filterConfig: {
                        type: Array,
                        notify: true
                    },
                    tableObj: {
                        type: Object,
                        notify: false
                    },
                    currentEntityName: {
                        type: String,
                        notify: true,
                        value: 'loan'
                    },
                    configAppliedOn: {
                        type: Object,
                        value: []
                    },
                    statusListForSearch: {
                        type: Array,
                        value: []
                    },
                    configExpiryOn: {
                        type: Object,
                        value: []
                    },
                    searchReqObj: {
                        type: Object,
                        notify: true,
                        value: {
                            searchFilterView: [],
                            inTagsSearch: [],
                            notInTagsSearch: [],
                            operator: "and",
                            projections: "",
                            sorts: ""
                        }
                    },
                    searchObj: {
                        type: Object,
                        notify: true,
                        value: {
                            controls: {
                                LoanProductId: {
                                    label: "Product Id",
                                    type: "combobox",
                                    class: "twoColumn",
                                    selectList: [],
                                    labelKey: "value",
                                    labelValue: "key",
                                    validations: {
                                        required: false
                                    }
                                },
                                LoanNumber: {
                                    label: "Loan Number",
                                    type: "textbox",
                                    class: "twoColumn",
                                    validations: {
                                        required: false,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false,
                                    }
                                },
                                PrimaryApplicantPhoneNo: {
                                    label: "Phone Number",
                                    type: "textbox",
                                    class: "twoColumn",
                                    validations: {
                                        required: false,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false,
                                        minLen: 0,
                                        maxLen: 14
                                    }
                                },
                                PrimaryApplicantFirstName: {
                                    label: "First Name",
                                    type: "textbox",
                                    class: "twoColumn",
                                    validations: {
                                        required: false,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false,
                                        minLen: 0,
                                        maxLen: 40
                                    }
                                },
                                PrimaryApplicantLastName: {
                                    label: "Last Name",
                                    type: "textbox",
                                    class: "twoColumn",
                                    validations: {
                                        required: false,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false,
                                        minLen: 0,
                                        maxLen: 80
                                    }
                                },
                                PrimaryBusinessName: {
                                    label: "Business Name",
                                    type: "textbox",
                                    class: "twoColumn",
                                    validations: {
                                        required: false,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false,
                                        minLen: 0,
                                        maxLen: 80
                                    }
                                },
                                PrimaryBusinessDBA: {
                                    label: "Business DBA",
                                    type: "textbox",
                                    class: "twoColumn",
                                    validations: {
                                        required: false,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false,
                                        minLen: 0,
                                        maxLen: 80
                                    }
                                },
                                PrimaryBusinessFedTaxId: {
                                    label: "Business Fed TaxId",
                                    type: "textbox",
                                    class: "twoColumn",
                                    validations: {
                                        required: false,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false,
                                        minLen: 0,
                                        maxLen: 80
                                    }
                                },
                                PrimaryBusinessPhoneNo: {
                                    label: "Business PhoneNo",
                                    type: "textbox",
                                    class: "twoColumn",
                                    validations: {
                                        required: false,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false,
                                        minLen: 0,
                                        maxLen: 80
                                    }
                                },
                                LoanApplicationNumber: {
                                    label: "Application Number",
                                    type: "textbox",
                                    class: "twoColumn",
                                    validations: {
                                        required: false,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false,
                                        minLen: 0,
                                        maxLen: 14
                                    }
                                },
                                StatusCode: {
                                    label: "Status",
                                    type: "combobox",
                                    class: "twoColumn",
                                    selectList: [],
                                    labelKey: "value",
                                    labelValue: "key",
                                    validations: {
                                        required: false
                                    }
                                },
                                LoanOnboardedDate: {
                                    label: "Onboarded Date",
                                    type: "combobox",
                                    class: "twoColumn",
                                    selectList: [],
                                    labelKey: "value",
                                    labelValue: "key",
                                    validations: {
                                        required: false
                                    }
                                }
                            },
                            values: {
                                LoanProductId: "",
                                LoanNumber: "",
                                PrimaryApplicantPhoneNo: "",
                                PrimaryApplicantFirstName: "",
                                PrimaryApplicantLastName: "",
                                PrimaryBusinessName: "",
                                PrimaryBusinessDBA: "",
                                PrimaryBusinessFedTaxId: "",
                                PrimaryBusinessPhoneNo: "",
                                StatusCode: "",
                                LoanOnboardedDate: "",
                                LoanApplicationNumber: ""
                            }
                        }
                    }
                },
                formatDate: function (date) {
                    if (date !== undefined) {
                        return moment(date).format('MM/DD/YYYY');
                    }
                    return "";
                },
                _showResult: function (searchFilterView) {
                    var self = this;
                    var data = self.$.configsloan.getConfigurationBasedOnKey("filters");
                    var config = _.cloneDeep(data["Loan"]);
                    var columnLength = config.columns.length;
                    for (var i = 0; i < columnLength; i++) {
                        if (config.columns[i].render != undefined) {
                            var render = config.columns[i].render;
                            if (config.columns[i].isFunction) {
                                config.columns[i].render = eval("(" + render + ")");
                            }
                            else {
                                config.columns[i].render = eval(render);
                            }
                        }
                    }
                    self.set("filterConfig", config);
                    var table = self.tableObj;
                    var searchReqObj = self.searchReqObj;
                    var savedFilters = window.config.services.savedFilters;
                    if (table !== null && table !== undefined) {
                        table.clear();
                        table.destroy();
                    }
                    $.fn.dataTable.ext.errMode = 'none';
                    self.tableObj = $(this.$$('#searchData')).DataTable({
                        serverSide: true,
                        ajax: function (data, success) {
                            var page = data.start / 10;
                            page = page + 1;
                            var draw = data.draw;
                            var sortObj = _.transform(data.order, function (result, item) {
                                var columnObj = data.columns[item.column];
                                result[columnObj.data] = item.dir === "desc" ? -1 : 1;
                            }, {});
                            searchReqObj.searchFilterView = searchFilterView;
                            searchReqObj.sorts = sortObj;
                            $.ajax({
                                url: savedFilters + '/' + self.currentEntityName + '/search-loans/?pageSize=10&page=' + page,
                                type: 'POST',
                                contentType: 'application/json',
                                data: JSON.stringify(searchReqObj),
                                headers: {
                                    'Authorization': "Bearer " + self.$.sessionsloan.get('token')
                                },
                                complete: function (data) {
                                    var gridData = {
                                        "draw": draw,
                                        "recordsTotal": parseInt(data.getResponseHeader('X-TOTAL-COUNT')),
                                        "recordsFiltered": parseInt(data.getResponseHeader('X-TOTAL-COUNT')),
                                        "data": data.responseJSON
                                    }
                                    $('html, body').animate({
                                        scrollTop: ($('#searchData').first().offset().top)
                                    }, 500);
                                    success(gridData);
                                }
                            });
                        },
                        dom: "<'row'<'col-sm-12'tr>>" +
                            "<'row'<'col-sm-5'i><'col-sm-7'p>>",
                        order: config.order,
                        columnDefs: config.columnDefs,
                        columns: config.columns,
                        language: {
                            lengthMenu: "show_MENU_ loans",
                            zeroRecords: "No loans found.",
                            info: "Showing _START_ to _END_ of _TOTAL_ loans",
                            infoEmpty: "No loans available",
                            infoFiltered: "(filtered from _MAX_ total loans)"
                        }
                    });

                    $('#searchData tbody').on('click', 'button', function () {
                        var data = self.tableObj.row($(this).parents('tr')).data();
                        self.openLoanView(data);
                    });
                    $('#searchData tbody').on('click', 'a', function () {
                        var data = self.tableObj.row($(this).parents('tr')).data();
                        self.openLoanView(data);
                    });

                    //Grid header tooltip
                    var filterConfig = self.filterConfig;
                    $('#searchData thead tr')[0].childNodes.forEach(function (obj) {
                        var tooltipObj = _.filter(filterConfig.columns, { title: obj.innerText })
                        if (!_.isUndefined(tooltipObj) && !_.isNull(tooltipObj) && !_.isEmpty(tooltipObj)) {
                            var tooltip = tooltipObj[0].tooltip;
                            if (tooltip !== "" && tooltip !== undefined) {
                                $(obj).attr('title', tooltip);
                            }
                        }
                    });
                },
                openLoanView: function (item) {
                    var self = this;
                    self.set("productId", item.LoanProductId);
                    self.set("statusWorkFlowId", item.StatusWorkFlowId);
                    window.location.hash = "/loan-details/entity:" + self.currentEntityName + "/filter:Loan/loanId:" + item.LoanNumber + "/product:" + self.productId + "/workflow:" + self.statusWorkFlowId;
                },
                currencyFormat: function (value) {
                    if (value) {
                        value = new Number(value);
                        var amount = value.toFixed(0);
                        amount = amount.toString();
                        var lastThree = amount.substring(amount.length - 3);
                        var otherNumbers = amount.substring(0, amount.length - 3);
                        if (otherNumbers != '')
                            lastThree = ',' + lastThree;
                        var res = otherNumbers.replace(/\B(?=(\d{2})+(?!\d))/g, ",") + lastThree;
                        return res;
                    }
                    else {
                        return 0.00;
                    }
                },
                _verifyForm: function (event) {
                    event.preventDefault();
                    var self = this;
                    var inputObj = _.cloneDeep(self.searchObj.values);
                    var currentDate = moment.tz(window.config.timezone);
                    var form = Polymer.dom(event).localTarget.parentElement;
                    if (form.validate()) {
                        if (inputObj.LoanOnboardedDate > 0) {
                            var lastDate = currentDate.clone().subtract(inputObj.LoanOnboardedDate, 'days');
                            inputObj['LoanOnboardedDate.Time.DateTime'] = { '$gte': lastDate.toJSON(), '$lt': currentDate.toJSON() };
                            delete inputObj.LoanOnboardedDate;
                        }
                        var excludeKeyList = ['LoanOnboardedDate.Time.DateTime', 'ExpiryDate.Time.DateTime','LoanProductId'];
                        var searchFilterView = _.transform(inputObj, function (result, value, key) {
                            if (value) {
                                var tempObj = {};
                                if (excludeKeyList.indexOf(key) === -1) {
                                    var statusKey = _.find(self.statusListForSearch, ['key', value]);
                                    if (statusKey != undefined && statusKey != null && statusKey != "") {
                                        tempObj[statusKey.searchKey] = {
                                            "$regex": value, "$options": "i"
                                        };
                                    }
                                    else {
                                        tempObj[key] = {
                                            "$regex": value, "$options": "i"
                                        };
                                    }

                                } else {
                                    tempObj[key] = value;
                                }
                                result.push(tempObj);
                            }
                        }, []);
                        self._showResult(searchFilterView);
                    }
                },
                _loadApplicationDateList: function () {
                    var self = this;
                    var StatusObj = self.$.configsloan.getConfigurationBasedOnKey("appliedOnOptions");
                    if (StatusObj) {
                        var optionList = _.transform(StatusObj, function (result, item) {
                            result.push({ key: item.duration, value: item.text });
                        }, []);
                        var searchObj = _.cloneDeep(self.get('searchObj'));
                        searchObj.controls.LoanOnboardedDate.selectList = optionList;
                        self.set('searchObj', searchObj);
                    }
                },
                _loadStatusList: function () {
                    var self = this;
                    var result = self.$.sessionsloan.getObject('status-workflows');
                    var exludeAppConfig = self.$.configsloan.getConfigurationBasedOnKey("excludeApp");
                    var StatusObj = _.find(result, ['Name', 'LoanWorkFlow']);
                    if (StatusObj) {
                        var statusList = StatusObj.statuses;
                        var optionList = _.transform(statusList, function (result, item) {
                            result.push({ key: item.code, value: item.name, searchKey: "StatusCode" });
                            if (item.hasOwnProperty("SubWorkFlows") && !_.isEmpty(item.SubWorkFlows)) {
                                _.forEach(item.SubWorkFlows, function (innStatusObj) {
                                    var innList = _.transform(innStatusObj.Status, function (innResult, innitem) {
                                        result.push({ key: innitem.code, value: innitem.name, searchKey: "SubStatusDetail.SubStatusCode" });
                                    }, []);
                                });
                            }
                        }, []);
                        self.set("statusListForSearch", optionList);
                        var searchObj = _.cloneDeep(self.get('searchObj'));;
                        searchObj.controls.StatusCode.selectList = optionList;
                        self.set('searchObj', searchObj);
                    }
                },
                _getProductList: function () {
                    var self = this;
                    var url = "/all/product";
                    var multiProducts = window.config.services.multiProducts;
                    self.$.httpsloan.get(url, multiProducts).then(function (data) {
                        var ProductList = _.transform(data, function (result, item) {
                            result.push({ key: item.productId, value: self.getProductName(item.productId) });
                        }, []);
                        var searchObj = self.get('searchObj');
                        searchObj.controls.LoanProductId.selectList = ProductList;
                        if (ProductList != undefined && ProductList != null && ProductList.length == 1) {
                            searchObj.values.LoanProductId = ProductList[0].key;
                        }
                        self.set('searchObj', $.extend({}, self.get('searchObj'), searchObj));
                    }).fail(function (e) {
                        console.error("Product List error is ", e);
                    });
                },
                ready: function () {
                    var self = this;
                    var urlParams = self.$.urlsloan.getParams();
                    if (urlParams.hasOwnProperty('entity')) {
                        self.set('currentEntityName', urlParams.entity);
                    }
                    self._loadStatusList();
                    self._loadApplicationDateList();
                    self._getProductList();
                },
                formatCurrency: function (data) {
                    return formats.money(data, window.config.country, 0);
                },
                getProductName: function (data) {
                    var self = this;
                    var productNameList = self.$.configsloan.getConfigurationBasedOnKey("productNameList");
                    var obj = _.find(productNameList, ['productId', data]);
                    return (obj != undefined && obj != null && obj != "") ? obj.productName : data;
                },
                getTerm: function (data) {
                    var self = this;
                    var term = data.Tenure + ' ';
                    switch (data.PaymentFrequency) {
                        case "Daily":
                            term = term + "Days";
                            break;
                        case "Weekly":
                            term = term + "Weeks";
                            break;
                        case "BiWeekly":
                            term = term + "BiWeeks";
                            break;
                        case "Monthly":
                            term = term + "Months";
                            break;
                        case "Quarterly":
                            term = term + "Quarters";
                            break;
                        case "Yearly":
                            term = term + "Years";
                            break;
                        default:
                            break;
                    }
                    return term;
                }

            });
        });
    </script>
</dom-module>