<dom-module id="application-search">
    <template>
        <style>
            .tablecontainer {
                margin: 40px auto 0;
            }

            .row {
                margin: 0 auto !important;
            }

            .twoColumn .col-md-12 {
                padding: 0 2px;
            }

            .row.twoColumn {
                display: inline-block;
                margin: 10px 10px !important;
                width: 22%;
            }

            .custom-input {
                --paper-input-container-input: {
                    font-size: 11px;
                }
                --paper-input-container-label: {
                    font-size: 12px;
                }
            }

            .header-right {
                position: absolute;
                right: 20px;
            }

            .footer-right {
                float: right;
            }

            div#queue_wrapper {
                text-align: center;
            }
        </style>
        <div class="row">
            <breadcrumb-links show-content="true"></breadcrumb-links>
        </div>
        <div class="row">
            <form is="iron-form" class="form-horizontal" name="searchForm">
                <dynamic-form form-configuration={{searchObj}} values="{{searchObj.values}}"></dynamic-form>
                <br/>
                <button class="btn btn-primary activity-action-btn" on-click="_verifyForm" raised>Search</button>
                <paper-button id="formResetButton" class="btn btn-primary activity-action-btn" style="display: none;" on-click="_formReset"
                    raised>Reset</paper-button>
            </form>
        </div>
        <div class="tablecontainer" id="tableContainer">
            <table id="searchData" class="table table-striped" width="100%" cellspacing="0"></table>
        </div>
        <url-parser id="url"></url-parser>
        <http-request id="http"></http-request>
        <alloy-config id="config"></alloy-config>
        <session-manager id="session"></session-manager>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "application-search",
                properties: {
                    tableObj: {
                        type: Object,
                        notify: false
                    },
                    currentEntityName: {
                        type: String,
                        notify: true,
                        value: 'application'
                    },
                    configAppliedOn: {
                        type: Object,
                        value: []
                    },
                    configExpiryOn: {
                        type: Object,
                        value: []
                    },
                    searchDataObj: {
                        type: Object,
                        notify: true,
                        value: {}
                    },
                    searchReqObj: {
                        type: Object,
                        notify: true,
                        value: {
                            searchFilterView: [],
                            inTagsSearch: [],
                            notInTagsSearch: [],
                            operator: "and",
                            projections: "",
                            sorts: ""
                        }
                    },
                    microAppName: {
                        type: String,
                        notify: true
                    },
                    searchObj: {
                        type: Object,
                        notify: true,
                        value: {
                            controls: {
                                ApplicationNumber: {
                                    label: "Application Number",
                                    type: "textbox",
                                    class: "twoColumn",
                                    validations: {
                                        required: false,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false,
                                        minLen: 7,
                                        maxLen: 7
                                    }
                                },
                                ApplicantPhone: {
                                    label: "Mobile number",
                                    type: "textbox",
                                    class: "twoColumn",
                                    validations: {
                                        required: false,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false,
                                        minLen: 0,
                                        maxLen: 11
                                    }
                                },
                                Applicant: {
                                    label: "Name",
                                    type: "textbox",
                                    class: "twoColumn",
                                    validations: {
                                        required: false,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false,
                                        minLen: 0,
                                        maxLen: 50
                                    }
                                },
                                ApplicantPanNumber: {
                                    label: "Pan Number",
                                    type: "textbox",
                                    class: "twoColumn",
                                    validations: {
                                        required: false,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false,
                                        minLen: 0,
                                        maxLen: 10
                                    }
                                },
                                ApplicantPersonalEmail: {
                                    label: "Personal Email",
                                    type: "textbox",
                                    class: "twoColumn",
                                    validations: {
                                        required: false,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false,
                                        minLen: 0,
                                        maxLen: 50
                                    }
                                },
                                ApplicantEmployer: {
                                    label: "Employer Name",
                                    type: "textbox",
                                    class: "twoColumn",
                                    validations: {
                                        required: false,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false,
                                        minLen: 0,
                                        maxLen: 50
                                    }
                                },
                                StatusCode: {
                                    label: "Status",
                                    type: "combobox",
                                    class: "twoColumn",
                                    selectList: [],
                                    labelKey: "name",
                                    labelValue: "code",
                                    validations: {
                                        required: false
                                    }
                                }
                            },
                            values: {
                                ApplicantPhone: "",
                                Applicant: "",
                                ApplicantPanNumber: "",
                                ApplicantPersonalEmail: "",
                                ApplicantEmployer: "",
                                StatusCode: "",
                                ApplicationNumber: ""
                            }
                        }
                    }
                },
                formatDate: function (date) {
                    var dateValue = date;
                    if (!_.isEmpty(dateValue) && _.toNumber(dateValue[0])) {
                        dateValue = formats.netTicksToDate(dateValue[0]);
                    }
                    return formats.date(dateValue, window.config.country, false);
                },
                _showResult: function (searchFilterView) {
                    var self = this;
                    var table = self.tableObj;
                    var searchReqObj = self.searchReqObj;
                    var savedFilters = window.config.services.savedFilters;
                    if (table !== null && table !== undefined) {
                        table.clear();
                        table.destroy(true);
                        $('#tableContainer').append($('<table/>').attr('id', 'searchData').css('width', '100%').addClass('table table-striped'));
                    }
                    self.tableObj = $(this.$$('#searchData')).DataTable({
                        serverSide: true,
                        ajax: function (data, success) {
                            var page = data.start / 10;
                            page = page + 1;
                            var draw = data.draw;
                            var sortObj = _.transform(data.order, function (result, item) {
                                var columnObj = data.columns[item.column];
                                result[columnObj.data] = item.dir === "desc" ? -1 : 1;
                            }, {});
                            searchReqObj.searchFilterView = searchFilterView;
                            searchReqObj.sorts = sortObj;
                            $.ajax({
                                url: savedFilters + '/' + self.currentEntityName + '/search-applications/?pageSize=10&page=' + page,
                                type: 'POST',
                                contentType: 'application/json',
                                data: JSON.stringify(searchReqObj),
                                headers: {
                                    'Authorization': "Bearer " + self.$.session.get('token')
                                },
                                complete: function (data) {
                                    var gridData = {
                                        "draw": draw,
                                        "recordsTotal": parseInt(data.getResponseHeader('X-TOTAL-COUNT')),
                                        "recordsFiltered": parseInt(data.getResponseHeader('X-TOTAL-COUNT')),
                                        "data": data.responseJSON
                                    }
                                    success(gridData);
                                }
                            });
                        },
                        dom: "<'row'<'col-sm-12'tr>>" +
                            "<'row'<'col-sm-5'i><'col-sm-7'p>>",
                        order: [[2, "desc"]],
                        columnDefs: [
                            {
                                targets: 2,
                                orderable: true
                            },
                            {
                                targets: 4,
                                orderData: 9
                            },
                            {
                                targets: 9,
                                visible: false
                            }
                        ],
                        columns: [
                            {
                                "data": "ApplicationNumber",
                                "title": "Application No"
                            },
                            {
                                "data": "Submitted",
                                "title": "Application Date",
                                "render": function (data) {
                                    return "<span>" + self.formatDate(data) + "</span>"
                                }
                            },
                            {
                                "data": "Applicant",
                                "title": "Applicant Name",
                            },
                            {
                                "data": "ApplicantPhone",
                                "title": "Phone Number"
                            },
                            {
                                "data": "AmountRequested",
                                "title": "Req Loan Amount",
                                "render": function (data, type, full, meta) {
                                    return self.currencyFormat(data);
                                }
                            },
                            {
                                "data": "ApplicantEmployer",
                                "title": "Employer Name"
                            },
                            {
                                "data": "ExpirationDate",
                                "title": "Expiry Date",
                                "render": function (data) {
                                    return "<span>" + self.formatDate(data) + "</span>"
                                }
                            },
                            {
                                "data": "SourceType",
                                "title": "Source"
                            },
                            {
                                "data": null,
                                "isFunction": true,
                                "orderable": false,
                                "render": eval("(function(data,type,full,meta) { return \"<button class='btn btn-primary btn-xs' data-ref$='{{item.loanReferenceNumber}}' on-click='openLoanView'>Details</button>\"})")
                            },
                            {
                                "data": "AmountRequested",
                                "title": "Req Loan Amount"
                            }
                        ],
                        language: {
                            lengthMenu: "show_MENU_ applications",
                            zeroRecords: "No applications found.",
                            info: "Showing _START_ to _END_ of _TOTAL_ Applications",
                            infoEmpty: "No applications available",
                            infoFiltered: "(filtered from _MAX_ total Applications)"
                        }
                    });
                    $('#searchData tbody').on('click', 'button', function () {
                        var data = self.tableObj.row($(this).parents('tr')).data();
                        self.openLoanView(data);
                    });
                    //Grid header tooltip
                    var configData = self.tableObj.settings().aoColumns;
                    if ($('#searchData thead tr')[0] != undefined) {
                        $('#searchData thead tr')[0].childNodes.forEach(function (obj) {
                            var tooltipObj = _.filter(configData, { title: obj.innerText });
                            if (!_.isUndefined(tooltipObj) && !_.isNull(tooltipObj) && !_.isEmpty(tooltipObj)) {
                                var tooltip = tooltipObj[0].tooltip;
                                if (tooltip !== "" && tooltip !== undefined) {
                                    $(obj).attr('title', tooltip);
                                }
                            }
                        });
                    }
                },
                _formReset: function (event) {
                    var form = Polymer.dom(event).localTarget.parentElement;
                    form.reset();
                },
                openLoanView: function (item) {
                    var self = this;
                    var params = self.$.url.getParams();
                    self.set("statusName", item.StatusName);
                    self.set("applicantId", item.ApplicantId);
                    self.set("applicationNumber", item.ApplicationNumber);
                    var url = "/app-details/entity:" + self.currentEntityName + "/filter:search";
                    if (self.applicantId != null) {
                        url = url + "/app:" + self.applicationNumber + "/applicantId:" + self.applicantId;
                    }
                    else {
                        url = url + "/app:" + self.applicationNumber;
                    }
                    window.location.hash = url;
                },
                currencyFormat: function (value) {
                    return formats.moneyWithoutFraction(value, window.config.country, 0);
                },
                _verifyForm: function (event) {
                    event.preventDefault();
                    var self = this;
                    var inputObj = _.cloneDeep(self.searchObj.values);
                    var exludeAppConfig = self.$.config.getConfigurationBasedOnKey("excludeApp");
                    var form = Polymer.dom(event).localTarget.parentElement;
                    if (form.validate()) {
                        if (inputObj.StatusCode) {
                            inputObj.StatusCode = { "$regex": inputObj['StatusCode'], "$options": "i" };
                        }
                        else if (exludeAppConfig && exludeAppConfig.hasOwnProperty('Status') && !_.isEmpty(exludeAppConfig)) {
                            var statusListToExclude = _.transform(exludeAppConfig, function (result, element) {
                                result.push(element.code);
                            }, []);
                            inputObj.StatusCode = { "$nin": statusListToExclude };
                        }
                        var excludeKeyList = ['StatusCode'];
                        var searchFilterView = _.transform(inputObj, function (result, value, key) {
                            if (value) {
                                var tempObj = {};
                                if (excludeKeyList.indexOf(key) === -1) {
                                    tempObj[key] = { "$regex": value, "$options": "i" };
                                } else {
                                    tempObj[key] = value;
                                }
                                result.push(tempObj);
                            }
                        }, []);
                        self._showResult(searchFilterView);
                    }
                },
                init: function () {
                    var self = this;
                    var urlParams = self.$.url.getParams();
                    if (urlParams.hasOwnProperty('entity')) {
                        self.set('currentEntityName', urlParams.entity);
                    }
                    self.set('microAppName', window.location.hash.slice(2).split("/")[0]);
                    self._loadStatusList();
                },
                attached: function () {
                    window.addEventListener("hashchange", this.createHashChangedHandler());
                    this.init();
                },
                detached: function () {
                    window.removeEventListener("hashchange", this.onHashChanged);
                },
                createHashChangedHandler: function () {
                    this.onHashChanged = function () {
                        var self = this;
                        var currentMicroApp = window.location.hash.slice(2).split("/")[0];
                        if (self.microAppName === currentMicroApp) {
                            var urlParams = self.$.url.getParams();
                            if (urlParams.hasOwnProperty('entity')) {
                                self.set('currentEntityName', urlParams.entity);
                            } else {
                                self.set('currentEntityName', 'application');
                            }
                            self.set('microAppName', window.location.hash.slice(2).split("/")[0]);
                            if (self.tableObj) {
                                self.tableObj.destroy(true);
                            }
                        }
                    }.bind(this);
                    return this.onHashChanged;
                },
                _loadStatusList: function () {
                    var self = this;
                    var exludeAppConfig = self.$.config.getConfigurationBasedOnKey("excludeApp");
                    var statusManagementConfig = self.$.session.getObject("status-management");
                    var statusList = statusManagementConfig.application.statuses;
                    if (statusList) {
                        if (!_.isNull(exludeAppConfig) && !_.isUndefined(exludeAppConfig) && !_.isEmpty(exludeAppConfig) && exludeAppConfig.hasOwnProperty('Status')) {
                            statusList = _.differenceBy(statusList, exludeAppConfig, 'code');
                        }
                        var optionList = _.transform(statusList, function (result, item) {
                            result.push({ code: item.code, name: item.name });
                        }, []);
                        var searchObj = _.cloneDeep(self.get('searchObj'));
                        searchObj.controls.StatusCode.selectList = optionList;
                        self.set('searchObj', searchObj);
                    }
                }
            });
        });
    </script>
</dom-module>