<html-import html-href="app-details-tab/business-info.html"></html-import>
<html-import html-href="app-details-tab/personal-info.html"></html-import>
<html-import html-href="app-details-tab/status-history.html"></html-import>
<html-import html-href="app-details-tab/drawdown-request.html"></html-import>
<html-import html-href="app-details-tab/additional-borrower.html"></html-import>
<html-import html-href="custom-component/activity-wrapper.html"></html-import>
<dom-module id="application-detail">
    <template>
        <style>
            .nav-tabs {
                margin-bottom: -1px;
            }

            .header {
                font-size: 20px !important;
            }

            .modal-dialog {
                margin: 10% auto;
                width: 400px !important;
            }

            a.headerStatus {
                background-color: #80b43c !important;
                padding: 5px;
                font-size: 17px !important;
                color: #fff !important;
                float: right;
                font-weight: bold;
                font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
            }

            .title-case {
                text-transform: capitalize;
                margin: 10px auto;
            }

            .nav-tabs>li.active>a,
            .nav-tabs>li.active>a:hover,
            .nav-tabs>li.active>a:focus {
                color: #555555 !important;
                cursor: default;
                background: white;
                border-bottom: #f3f3f4;
                border-color: #dddddd #dddddd rgba(0, 0, 0, 0);
                border-image: none;
                border-style: solid;
                border-width: 1px;
                -moz-border-bottom-colors: none;
                -moz-border-left-colors: none;
                -moz-border-right-colors: none;
                -moz-border-top-colors: none;
            }

            .panel-default>.panel-heading+.panel-collapse>.panel-body {
                border-top-color: #EEEEEE;
            }

            .panel-body {
                min-height: 0px;
            }

            .tab-content>.active {
                display: block;
                background: white;
            }

            .top-tabs {
                padding: 15px 0 !important;
            }

            .helpIcon {
                cursor: pointer;
                font-size: 20px;
                color: lightseagreen;
                float: right;
                margin: 5px;
            }

            .image-list-box {
                padding: 0 5px;
                margin: 0 auto 15px;
                clear: both;
                color: inherit;
                background-color: #ffffff;
                border-color: #e7eaec;
                border-image: none;
                border-style: solid solid none;
                border-width: 4px 0 0;
                height: 50px;
            }

            .image-list-label {
                position: absolute;
                margin: 15px auto;
            }

            .image-list-container {
                padding-left: 90px;
                display: inline-block;
                margin: 0 auto;
            }

            .textareascroll {
                overflow-y: auto;
                height: 150px;
            }
        </style>
        <div class="row">
            <div class="wrapper wrapper-content col-md-8">
                <div class="ibox float-e-margins loan-summary">
                    <div class="ibox-title">
                        <h1 class="header title-case">{{_businessName(dataAttributes)}}
                            <strong>-</strong> App : {{applicationNumber}}
                            <i aria-hidden="true" class="fa fa-info-circle helpIcon" data-args="{{statusObj.name}}" on-click="Helptext"></i>
                            <template is="dom-if" if="{{_hasSubWorkFlowInitited(statusObj)}}">
                                <i class="fa fa-random" aria-hidden="true" style="float: right;margin: 5px;cursor: pointer" onclick="$('#subworkFlowPopup').modal('show');"></i>
                            </template>
                            <ul class="nav navbar-top-links navbar-right" style="display: inline-block; margin-right: 0 !important">
                                <li class="dropdown" style="margin-right: 0px;height: 20px;">
                                    <a href="javascript:" style="min-height: inherit" class="dropdown-toggle headerStatus" data-toggle="dropdown" role="button"
                                        aria-expanded="false">
                                        {{statusObj.name}}&nbsp;
                                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                                    </a>
                                    <template is="dom-if" if="{{_hasSubWorkFlow(statusObj)}}">
                                        <ul class="dropdown-menu" style="top: 30px;">
                                            <li style="padding: 10px; cursor: pointer" onclick="$('#initiateSubworkFlowPopup').modal('show')">Available Sub Workflow</li>
                                        </ul>
                                    </template>
                                </li>
                            </ul>
                        </h1>
                    </div>
                    <div class="ibox-content">
                        <ul class="nav nav-tabs" id="myTab">
                            <template is="dom-if" if="{{hasRole('PersonalInfoTab')}}">
                                <li>
                                    <a data-target="#PersonalInfo" title="{{getTooltip('PersonalInfoTab')}}" data-toggle="tab">Personal Info</a>
                                </li>
                            </template>
                            <template is="dom-if" if="{{hasRole('BusinessInfoTab')}}">
                                <li class="active">
                                    <a data-target="#businessinfo" title="{{getTooltip('BusinessInfoTab')}}" data-toggle="tab">Business Info</a>
                                </li>
                            </template>
                            <template is="dom-if" if="{{hasRole('AdditionalBorrowerTab')}}">
                                <li>
                                    <a data-target="#AdditionalBorrower" title="{{getTooltip('AdditionalBorrowerTab')}}" data-toggle="tab">Owner Info</a>
                                </li>
                            </template>
                        </ul>
                        <div class="tab-content panel-body">
                            <div class$="{{addActiveClassIfHasRole('PersonalDetailsTab')}}" id="businessinfo">
                                <template is="dom-if" if="{{dataLoaded}}">
                                    <app-business-info id="businessInfoTemplateApplication" application-number="{{applicationNumber}}" data-attributes="{{dataAttributes}}"
                                        industry-lookup="{{industryTypeLookup}}" property-lookup="{{propertyTypeLookup}}" purposeofloan-lookup="{{purposeOfLoanTypeLookup}}"
                                        businesstype-lookup="{{businessTypeLookup}}">
                                    </app-business-info>
                                </template>
                            </div>
                            <div class="tab-pane" id="PersonalInfo">
                                <app-personal-info id="personal-info" application-number="{{applicationNumber}}" data-attributes="{{dataAttributes}}">
                                </app-personal-info>
                            </div>
                            <div class="tab-pane" id="AdditionalBorrower">
                                <app-additional-borrower id="AdditionalBorrower-detail" application-number="{{applicationNumber}}" data-attributes="{{dataAttributes}}"></app-additional-borrower>
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="nav nav-tabs" id="my2Tab">
                    <template is="dom-if" if="{{hasRole('DrawdownRequestTab')}}">
                        <li class="active">
                            <a data-target="#drawdownRequest" title="{{getTooltip('DrawdownRequestTab')}}" data-toggle="tab">
                                <i aria-hidden="true" class="fa fa-usd"></i>Draw Request
                            </a>
                        </li>
                    </template>
                </ul>
                <div class="tab-content top-tabs">
                    <div class="tab-pane" id="fundingRequest">
                        <app-funding-request id="fundingr" application-number="{{applicationNumber}}">
                        </app-funding-request>
                    </div>
                    <div class="tab-pane active" id="drawdownRequest">
                        <app-drawdown-request id="drawdownr" application-number="{{applicationNumber}}">
                        </app-drawdown-request>
                    </div>

                </div>
            </div>
            <div class="wrapper wrapper-content col-md-4">
                <template is="dom-if" if="{{hasRole('ActivityListTab')}}">
                    <activity-wrapper application-number="{{applicationNumber}}" data-attributes="{{dataAttributes}}" status-obj="{{statusObj}}"></activity-wrapper>
                </template>
            </div>
            <div id="initiateSubworkFlowPopup" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title docSubject">Initiate Process</h4>
                        </div>
                        <div class="modal-body">
                            <template is="dom-if" if="{{_hasSubWorkFlow(statusObj)}}">
                                <template is="dom-repeat" items="{{statusObj.subWorkFlows}}" as="subflow">
                                    <paper-button style="margin: 10px auto" model$="{{subflow}}" class="btn btn-primary activity-action-btn" on-click="_initiatSubWorkflow"
                                        disabled="{{_disableSubworkflowIfInitiated(subflow)}}">{{_getDisplayName(subflow.name)}}</paper-button>
                                    <br/>
                                </template>
                            </template>
                        </div>
                    </div>
                    <div id="subFlowMessageContainer"></div>
                </div>
            </div>
            <div id="subworkFlowPopup" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title docSubject">Sub Workflow</h4>
                        </div>
                        <div class="modal-body">
                            <vaadin-combo-box class="custom-input" name="Role" value="{{selectedSubFlow}}" item-value-path="code" item-label-path="name"
                                items="{{subStatusList}}" label="Select Sub Workflow" prevent-invalid-input="true" required>
                            </vaadin-combo-box>
                            <br>
                            <paper-textarea id="notes" label="Notes" rows="5"></paper-textarea>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary activity-action-btn" on-click="_moveFurtherSteps">Submit</button>
                            <button class="btn btn-primary activity-action-btn" data-dismiss="modal">cancel</button>
                        </div>
                    </div>
                    <div id="subFlowProcessContainer"></div>
                </div>
            </div>
        </div>
        <url-parser id="urlappd"></url-parser>
        <http-request id="httpappd"></http-request>
        <alloy-config id="configappd"></alloy-config>
        <alloy-format id="formatappd"></alloy-format>
        <lookup-service id="lookupappd"></lookup-service>
        <auth-service id="authorizeappd"></auth-service>
        <utility-service id="utilityappd"></utility-service>
        <session-manager id="sessionappd"></session-manager>
        <message-component id="messageappd"></message-component>

    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "application-detail",
                properties: {
                    dataAttributes: {
                        type: Object,
                        notify: true,
                        reflectToAttribute: true,
                        observer: "init"
                    },
                    statusObj: {
                        type: Object,
                        notify: true,
                        reflectToAttribute: true,
                        observer: 'loadInititedSubworkInfo'
                    },
                    statusCode: {
                        type: String,
                        notify: true,
                        reflectToAttribute: true
                    },
                    propertyTypeLookup: {
                        type: Object,
                        notify: true,
                        value: []
                    },
                    industryTypeLookup: {
                        type: Object,
                        notify: true,
                        value: []
                    },
                    purposeOfLoanTypeLookup: {
                        type: Object,
                        notify: true,
                        value: []
                    },
                    businessTypeLookup: {
                        type: Object,
                        notify: true,
                        value: []
                    },
                    dataLoaded: {
                        type: Boolean,
                        notify: true,
                        value: false,
                        reflectToAttribute: true
                    },
                    lookupRequires: {
                        type: Array,
                        notify: true,
                        value: [
                            {
                                name: 'propertyType',
                                pageVariable: 'propertyTypeLookup'
                            },
                            {
                                name: 'industry',
                                pageVariable: 'industryTypeLookup'
                            },
                            {
                                name: 'purposeOfLoan',
                                pageVariable: 'purposeOfLoanTypeLookup'
                            },
                            {
                                name: 'businessTypes',
                                pageVariable: 'businessTypeLookup'
                            },
                            {
                                name: 'loanTimeFrame',
                                pageVariable: 'loanTimeFrameLookup'
                            },
                        ]
                    },
                    currentEntityName: {
                        type: String,
                        notify: true,
                        value: 'application'
                    }
                },
                hasRole: function (compName) {
                    return this.$.authorizeappd.hasRole(compName);
                },
                _onDataAttributesLoad: function () {
                    var self = this;
                    if (self.dataAttributes) {
                        self.set('dataLoaded', true);
                    }
                },
                _businessName: function (obj) {
                    var app = obj.application;
                    if (app) {
                        return app.legalBusinessName;
                    }
                },
                init: function () {
                    var self = this;
                    var params = self.$.urlappd.getParams();
                    if (params.hasOwnProperty('entity')) {
                        self.set('currentEntityName', params.entity);
                    }
                    self.loadLookups();
                    self._onDataAttributesLoad();
                },
                loadLookups: function () {
                    var self = this;
                    self.lookupRequires.forEach(function (lookupObject) {
                        var data = self.$.lookupappd.getLookupBasedOnName(lookupObject.name);
                        self.set(lookupObject.pageVariable, data);
                    });
                },
                addActiveClassIfHasRole: function (compName) {
                    if (this.$.authorizeappd.hasRole(compName)) {
                        return 'tab-pane active';
                    } else {
                        return 'tab-pane';
                    }
                },
                Helptext: function (e) {
                    var self = this;
                    var args = e.target.dataArgs;
                    var tooltipObj = self.$.authorizeappd.getToolTip(args, "Status");
                    $("h4.modal-title").text(tooltipObj.title);
                    $('#modalDesc').html(tooltipObj.data);
                    $('#helpTextModal')[0].showModal();
                },
                getTooltip: function (compName) {
                    var tooltip = this.$.authorizeappd.getToolTip(compName, "");
                    return tooltip.data;
                },
                getEvents: function (action) {
                    var event = this.actionEvents[action];
                    return event;
                },
                _getDisplayName: function (val) {
                    return _.startCase(_.lowerCase(val));
                },
                _hasSubWorkFlow: function () {
                    if (!_.isNull(this.statusObj) && !_.isNull(this.statusObj.subWorkFlows)) {
                        return true;
                    }
                    return false;
                },
                _hasSubWorkFlowInitited: function (objstatus) {
                    var self = this;
                    if (self.statusObj != undefined && !_.isNull(self.statusObj) && !_.isNull(self.statusObj.subStatusDetail)) {
                        var initiatedSubflow = _.find(self.statusObj.subStatusDetail, ['completedDate', null]);
                        if (!_.isUndefined(initiatedSubflow))
                            return true;
                    }
                    return false;
                },
                _disableSubworkflowIfInitiated: function (subflowObj) {
                    var self = this;
                    var statusObj = self.statusObj;
                    if (!_.isNull(statusObj.subStatusDetail)) {
                        var currentSubStatus = _.find(statusObj.subStatusDetail, ['completedDate', null]);
                        if (!_.isUndefined(currentSubStatus) && subflowObj.defaultInitiateCode === currentSubStatus.subStatusCode) {
                            return true;
                        }
                    }
                    return false;
                },
                _initiatSubWorkflow: function (e) {
                    e.preventDefault();
                    var self = this;
                    var subflowObj = e.model.__data__.subflow;
                    var statusObj = self.statusObj;
                    var payload = {
                        Note: "Move Application to respected stage"
                    };
                    var url = "/" + self.currentEntityName + "/" + self.applicationNumber + "/subworkflow/" + subflowObj.name;
                    self.set('initiatedSubflow', subflowObj.name);
                    self.$.httpappd.post(url, payload, window.config.services.statusManagement).then(function (result) {
                        self.$.messageappd.showMessage(subflowObj.name + "sub workflow is initiated successfully.", "INFO", self.$$('#subFlowMessageContainer'));
                        self.$.utilityappd.raiseEvent(self.getEvents('Edit'), {});
                    }).fail(function (e) {
                        var resObj = e.responseJSON;
                        self.$.messageappd.showMessage("Subwork is already initiated.", "ERROR", self.$$('#subFlowMessageContainer'));
                    });
                },
                _moveFurtherSteps: function (e) {
                    e.preventDefault();
                    var self = this;
                    var subflow = self.initiatedSubflow;
                    var statusObj = self.statusObj;
                    var payload = {
                        Note: "Move Application to respected stage"
                    };
                    var url = "/" + self.currentEntityName + "/" + self.applicationNumber + "/" + statusObj.statusWorkFlowId + "/";
                    url = url + subflow.name + "/" + self.selectedSubFlow;
                    self.$.httpappd.put(url, payload, window.config.services.statusManagement).then(function (result) {
                        $('#subworkFlowPopup').modal('hide');
                        self.$.utilityappd.raiseEvent(self.getEvents('Edit'), {});
                    }).fail(function (e) {
                        console.error(e.responseJSON);
                        self.$.messageappd.showMessage("You don't have permission to change status.", "ERROR", self.$$('#subFlowProcessContainer'));
                    });
                },
                loadInititedSubworkInfo: function () {
                    var self = this;
                    var statusObj = this.statusObj;
                    if (!_.isNull(statusObj.subStatusDetail)) {
                        var subStatusDetails = _.find(statusObj.subStatusDetail, ['completedDate', null]);
                        if (!_.isUndefined(subStatusDetails)) {
                            var initiatedSubflow = _.find(statusObj.subWorkFlows, ['name', subStatusDetails.subWorkFlowId]);
                            if (initiatedSubflow != undefined && initiatedSubflow.subWorkFlowStatus !== "Completed") {
                                var remainingStatusList = _.reject(initiatedSubflow.status, { code: initiatedSubflow.defaultInitiateCode });
                                if (initiatedSubflow.defaultInitiateCode !== subStatusDetails.subStatusCode) {
                                    remainingStatusList = _.reject(remainingStatusList, { code: subStatusDetails.subStatusCode });
                                }
                                self.set('subStatusList', remainingStatusList);
                                self.set('initiatedSubflow', initiatedSubflow);
                            }
                        }
                    }
                }
            });
        });
    </script>
</dom-module>