<dom-module id="applicant-details">
    <template>
        <style>
            .sendEmailToast {
                max-width: 536px !important;
                position: static !important;
            }

            #closebtn {
                margin-bottom: 5px !important;
            }

            .padding {
                padding-top: 8px;
            }

            paper-input {
                --paper-input-container-disabled: {
                    opacity: 0.66;
                }
            }

            .modal-dialog {
                width: 2000px;
                margin: 30px auto;
            }

            .modal-body {
                padding: 20px 60px 30px 60px;
            }

            .dropdown-width {
                width: 100%;
            }

            .alignment {
                float: right;
            }

            .hide {
                display: none;
            }

            .show {
                display: block;
            }

            --paper-input-container-input {
                font-size: 11px;
            }

            --paper-input-container-label {
                font-size: 12px;
            }

            .owner-list {
                overflow-y: scroll;
                height: 520px;
            }

            .align-right {
                float: right;
            }
        </style>
        <form is="iron-form" class="form-horizontal" name="applicant" id="ApplicationForm">
            <div class="owner-list">
                <template is="dom-repeat" items="{{applicantDetailArray}}" index-as="indx" as="fieldArray">
                    <div>
                        <span style="font-weight: bold;font-size: small;">Detail of Owner:{{_ownerCounter(indx)}}</span>
                        </br>
                        <dynamic-form form-configuration={{fieldArray}} values="{{fieldArray.values}}"></dynamic-form>
                    </div>
                </template>
                <div class="align-right">
                    <template is="dom-if" if="{{disableAddOwner}}">
                        <paper-icon-button on-click="_addOwner" icon="add"></paper-icon-button>
                    </template>
                    <template is="dom-if" if="{{enableRemoveOwner}}">
                        <paper-icon-button on-click="_removeOwner" icon="remove"></paper-icon-button>
                    </template>
                </div>
            </div>
        </form>
        <div id="MessageContainer"></div>
        <message-component id="message"></message-component>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "applicant-details",
                properties: {
                    applicantDetailArray: {
                        type: Array,
                        notify: true,
                        value: [],
                        reflectToAttribute: true
                    },
                    applicantDetailObj: {
                        type: Object,
                        notify: true,
                        value: {
                            controls: {},
                            values: {}
                        }
                    },
                    applicationDetails: {
                        type: Object,
                        notify: true
                    },
                    ownerLength: {
                        type: Number,
                        notify: true,
                        value: 0,
                        observer: "checkOwnerLength"
                    },
                    ownershipfields: {
                        type: Object,
                        notify: true,
                        value: {}
                    },
                    currentOwner: {
                        type: Number,
                        notify: true,
                        value: 0
                    },
                    maxOwner: {
                        type: Number,
                        notify: true,
                        value: 0
                    },
                    disableAddOwner: {
                        type: Boolean,
                        notify: true,
                        value: true,
                        reflectToAttribute: true
                    },
                    enableRemoveOwner: {
                        type: Boolean,
                        notify: true,
                        value: true,
                        reflectToAttribute: true
                    }
                },
                _ownerCounter: function (index) {
                    var self = this;
                    self.currentOwner = (index + 1);
                    return self.currentOwner;
                },
                checkOwnerLength: function () {
                    var self = this;
                    if (self.ownerLength === 1 || self.ownerLength === 0) {
                        self.set('enableRemoveOwner', false);
                    } else {
                        self.set('enableRemoveOwner', true);
                    }
                },
                _removeOwner: function (event) {
                    var self = this;
                    if (self.currentOwner > 1) {
                        var applicantCloneArray = _.cloneDeep(self.applicantDetailArray);
                        applicantCloneArray.pop();
                        self.set('applicantDetailArray', applicantCloneArray);
                        var counter = _.cloneDeep(self.currentOwner);
                        counter = (counter - 1);
                        self.set('currentOwner', counter);
                        self.set('disableAddOwner', true);
                        if (self.currentOwner === 1) {
                            self.set('enableRemoveOwner', false);
                        } else {
                            self.set('enableRemoveOwner', true);
                        }
                    }
                },
                _addOwner: function (event) {
                    var self = this;
                    if (self.maxOwner > self.applicantDetailArray.length) {
                        self.set('enableRemoveOwner', true);
                        var applicantCloneArray = _.cloneDeep(self.applicantDetailArray);
                        var ownerJSON = JSON.stringify(_.cloneDeep(self.ownershipfields));
                        ownerJSON = ownerJSON.replace(/dob/ig, 'dob' + self.currentOwner);
                        ownerJSON = JSON.parse(ownerJSON);
                        applicantCloneArray.push(ownerJSON);
                        self.set('applicantDetailArray', applicantCloneArray);
                        if (self.maxOwner === self.applicantDetailArray.length) {
                            self.set('disableAddOwner', false);
                        }
                    }
                }
            });
        });
    </script>
</dom-module>