<dom-module id="partner-users-view">
    <template>
        <style>
            .datatabletd {
                text-align: left !important;
                width: 15%;
                color: red;
            }

            li.context-menu-list {
                font-size: 10pt;
            }

            li.user-name.style-scope {
                padding: 5px 8px;
            }

            .dropdown-menu>li>a {
                padding: 0px 8px 3px;
            }

            li.user-name.style-scope a {
                padding: 5px 8px;
            }

            .dropdown-menu li small {
                display: block;
            }

            .profile-image {
                width: 50px;
                height: 50px;
                border-radius: 50%;
            }

            .navbar-right {
                margin: 0 !important;
            }

            .user-image {
                padding: 0;
            }

            .navbar-top-links li:last-child {
                margin-right: auto !important;
            }

            .fa-angle-down {
                margin-left: 5px;
            }

            .moreHeight {
                max-height: 25px !important;
                min-height: 25px !important;
                padding: 5px 5px !important;
            }
        </style>
        <div class="row">
            <div class="col-md-12">
                <div id="PartnerUserMessge" style="display:none;">
                    <p></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table id="partnerUsers" class="table table-striped" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Username</th>
                            <th>Email Address</th>
                            <th>Name</th>
                            <th>Current Roles</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <template is="dom-repeat" items="{{UserList}}" index-as="indx">
                            <tr>
                                <td>{{item.username}}</td>
                                <td>{{item.email}}</td>
                                <td>{{item.name}}</td>
                                <td>{{item.roles}}</td>
                                <td>
                                    {{_templateRenderComplete(indx)}}
                                    <ul class="nav navbar-top-links navbar-right">
                                        <li class="dropdown">
                                            <a href="javascript:" class="dropdown-toggle moreHeight" data-toggle="dropdown" role="button" aria-expanded="false">
                                                <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a userid="{{item.id}}" on-click="_menuSelect" href="javascript:">Edit User</a>
                                                </li>
                                                <li class="divider"></li>
                                                <li>
                                                    <a userid="{{item.id}}" on-click="_menuSelect" href="javascript:">{{_checkUserStatus(item)}}</a>
                                                </li>
                                                <li class="divider"></li>
                                                <li>
                                                    <a userid="{{item.id}}" on-click="_menuSelect" href="javascript:">Reset Password</a>
                                                </li>
                                                <li class="divider"></li>
                                                <li>
                                                    <a userid="{{item.id}}" on-click="_menuSelect" href="javascript:">New User</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        </template>
                    </tbody>
                </table>
            </div>
        </div>
        <http-request id="httppu"></http-request>
        <identity-service id="identitypu"></identity-service>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "partner-users-view",
                properties: {
                    jsonObj: {
                        type: Object,
                        notify: true
                    },
                    partnerId: {
                        type: String,
                        notify: true,
                        observer: '_initializeFilterItems'
                    },
                    modalUser: {
                        type: Object,
                        notify: true
                    },
                    UserList: {
                        type: Array,
                        notify: true
                    },
                    items: {
                        type: Array,
                        value: []
                    },
                    itemsLoaded: {
                        type: Boolean,
                        notify: true,
                        value: false
                    },
                    filterName: {
                        type: String,
                        notify: true,
                        value: ""
                    }
                },
                _checkUserStatus: function (user) {
                    return user.isActive ? "Deactivate User" : "Activate User";
                },
                _templateRenderComplete: function (indx) {
                    var self = this;
                    if (self.UserList !== undefined && indx === self.UserList.length - 1) {
                        setTimeout(function () {
                            $.fn.dataTable.ext.errMode = 'none';
                            $("table#partnerUsers").dataTable({
                                sDom: '<"top">rt<"bottom"ip><"clear">',
                                language: {
                                    "zeroRecords": "No data found."
                                },
                                "columnDefs": [{
                                    "targets": 4,
                                    "orderable": false
                                }]
                            });
                        }, 1000);
                    }
                },
                _menuSelect: function (objUserId) {
                    var self = this;
                    var UserID = $(objUserId)[0].currentTarget.userid;
                    var selectedUserAction = $(objUserId)[0].currentTarget.outerText
                    var userObj = self._getUserById(self.UserList, "id", UserID);
                    if (selectedUserAction === "Edit User") {
                        $("#AddUpdateUSer").show();
                        $("h4.modal-title").text("Update User");
                        self.set("modalUser", userObj);
                    }
                    else if (selectedUserAction === "Activate User" || selectedUserAction === "Deactivate User") {
                        self._changeUserStatus(userObj);
                    }
                    else if (selectedUserAction === "Reset Password") {
                        self._resetPassword(userObj);
                    }
                    else if (selectedUserAction === "New User") {
                        $("h4.modal-title").text("Add User");
                        var blankUSer = {
                            id: "",
                            name: "",
                            email: "",
                            username: "",
                            roles: [],
                            isActive: false
                        };
                        $("#AddUpdateUSer").show();
                        self.set("modalUser", blankUSer);
                    }
                },
                _getUserById: function (array, propName, userID) {
                    var Obj = array.filter(function (e) {
                        return e[propName] === userID;
                    })[0];
                    return Obj || {};
                },
                _resetPassword: function (objUser) {
                    var self = this;
                    self.$.identitypu.requestToken(objUser.username).done(function () {
                        $('div#PartnerUserMessge p').html("E-mail to reset your password has been sent");
                        $('div#PartnerUserMessge').show();
                        setTimeout(function () {
                            $('div#PartnerUserMessge').hide();
                        }, 2000);
                        self._initializeFilterItems();
                    }).fail(function (err) {
                        $('div#PartnerUserMessge p').html(err.statusText);
                        $('div#PartnerUserMessge').show();
                        setTimeout(function () {
                            $('div#PartnerUserMessge').hide();
                        }, 2000);
                    });
                },
                _changeUserStatus: function (userObj) {
                    var self = this;
                    var url = "/user";
                    url = url + userObj.isActive ? "/deactivate/" + userObj.username : "/activate/" + userObj.username;
                    self.$.httppu.put(url, {}, "").then(function (result) {
                        $('div#PartnerUserMessge p').html("Operation completed successfully.");
                        $('div#PartnerUserMessge').show();
                        setTimeout(function () {
                            $('div#PartnerUserMessge').hide();
                        }, 2000);
                        self._initializeFilterItems();
                    }).fail(function (e) {
                        $('div#PartnerUserMessge p').html("Error occurred while performing the operation. Failed to complete the operation.");
                        $('div#PartnerUserMessge').show();
                        setTimeout(function () {
                            $('div#PartnerUserMessge').hide();
                        }, 2000);
                    });
                },
                _initializeFilterItems: function () {
                    var self = this;
                    var partnersHost = window.config.services.partner;
                    var url = self.partnerId + "/partnerusers";
                    self.$.httppu.get(url, partnersHost).then(function (data) {
                        self.set("UserList", data);
                        if (data.length === 0) {
                            setTimeout(self.renderAsDatatable(), 1000);
                        }
                    }).fail(function (e) {
                        console.error("Filter error is ", e);
                    });
                },
                renderAsDatatable: function () {
                    $.fn.dataTable.ext.errMode = 'none';
                    $("table#partnerUsers").dataTable({
                        sDom: '<"top">rt<"bottom"ip><"clear">',
                        language: {
                            "zeroRecords": "No data found."
                        },
                        "columnDefs": [{
                            "targets": 4,
                            "orderable": false
                        }]
                    });
                },
                _updateHash: function () {
                    var randomVal = Math.floor(Math.random() * (10000 - 1 + 1)) + 1;
                    var hashStr = window.location.hash;
                    if (hashStr.includes("refresh:")) {
                        var newHash = hashStr.replace(/refresh:\d+/i, "refresh:" + randomVal);
                        window.location.hash = newHash;
                    } else {
                        window.location.hash = hashStr + "/refresh:" + randomVal;
                    }
                },
                _openLoanView: function (data) {
                    window.location.hash = "/update-user/id:" + data.id;
                }
            });
        });
    </script>
</dom-module>