<html-import html-href="loan-details/loanDetail.html">
</html-import>
<html-import html-href="loan-details/action-container.html"></html-import>
<html-import html-href="custom-component/floating-action-button.html"></html-import>
<dom-module id="loan-details-home">
    <template>
        <style>
            .set-vertical-height {
                height: 500px;
                overflow-y: auto;
                overflow-x: hidden;
            }

            .header {
                font-size: 12px;
                font-weight: 700;
                color: white;
                background-color: #03466B;
            }

            .custom-input {
                --paper-input-container-input: {
                    font-size: 11px;
                }

                --paper-input-container-label: {
                    font-size: 12px;
                }
            }

            vaadin-upload {
                --vaadin-upload-button-add: {
                    background: #80b43c;
                }

                --vaadin-upload-file-list: {
                    margin-left: 20px;
                }

                --vaadin-upload-drop-label: {
                    margin: 0 !important;
                    padding: 0 !important;
                }

                #ErrorMessge p {
                    color: #ff0000;
                    font-size: 12px !important;
                }
            }

            .nav-tabs>li.active>a,
            .nav-tabs>li.active>a:hover,
            .nav-tabs>li.active>a:focus {
                color: #555555 !important;
                cursor: default;
                background: white;
                border-bottom: #f3f3f4;
                border-color: #dddddd #dddddd rgba(0, 0, 0, 0);
                border-image: none;
                border-style: solid;
                border-width: 1px;
                -moz-border-bottom-colors: none;
                -moz-border-left-colors: none;
                -moz-border-right-colors: none;
                -moz-border-top-colors: none;
            }

            .tab-content>.active {
                display: block;
                background: white;
            }

            .loan-summary .ibox-content {
                padding-bottom: 0;
            }

            .theme-config {
                height: 100%;
                top: 0;
            }

            .theme-config-box {
                margin-right: -382px;
                position: relative;
                height: 100%;
                z-index: 98;
            }

            .theme-config-box.show {
                margin-right: 0;
            }

            .skin-settings {
                width: 377px;
                margin-left: 40px;
                background: #f3f3f2;
                height: auto;
                min-height: 100px;
                padding-bottom: 20px;
            }

            .spin-icon {
                background-color: #03466B;
            }

            .col-md-12 {
                padding: 0;
            }

            .modal-dialogEsti {
                margin: 10% auto;
                width: 700px !important;
            }
        </style>
        <help-text></help-text>
        <div class="theme-config">
            <div class="theme-config-box">
                <div class="spin-icon" on-click="_spinIconClick">
                    <i class="fa fa-chevron-circle-left" id="gearIcon"></i>
                </div>
                <div class="skin-settings">
                    <template is="dom-if" if="{{_isReady(componentMap,componentMapUpdated)}}" restamp="true">
                        <actions-container id="actionContainer" application-number="{{applicationNumber}}"
                            component-map="{{componentMap}}" action-events="{{actionEvents}}" status="{{status}}"
                            status-obj="{{statusObj}}" pay-calculator="{{payCalculator}}" loan-data="{{loanData}}"
                            current-schedule="{{currentSchedule}}" current-economics-data="{{currentEconomicsData}}"
                            add-new-contact="{{addNewContact}}" no-action-message="{{noActionMessage}}"
                            bank-list="{{bankList}}" loan-modification="{{loanModification}}"
                            adhoc-payment="{{adhocPayment}}" schedule-list="{{scheduleList}}"
                            charged-off-process="{{chargedOffProcess}}" event-target="{{eventTarget}}"
                            start-date="{{startDate}}" end-date="{{endDate}}" tds-applicable="{{tdsApplicable}}"
                            is-tds-tag-applied="{{isTdsTagApplied}}" payment-done="{{paymentDone}}"
                            borrower-id="{{borrowerId}}"></actions-container>
                    </template>
                </div>
            </div>
        </div>
        <breadcrumb-links></breadcrumb-links>
        <div id="LoanMessageContainer"></div>
        <loan-detail id="loanDetails" application-number="{{applicationNumber}}" status="{{status}}"
            action-events="{{actionEvents}}" component-map="{{componentMap}}" status-obj="{{statusObj}}"
            status-code="{{statusCode}}" loan-data="{{loanData}}" current-schedule="{{currentSchedule}}"
            current-economics-data="{{currentEconomicsData}}" add-new-contact="{{addNewContact}}"
            bank-list="{{bankList}}" open-activity="{{openActivity}}" email="{{email}}"
            loan-modification="{{loanModification}}" adhoc-payment="{{adhocPayment}}" schedule-list="{{scheduleList}}"
            copy-loan-data="{{copyLoanData}}" charged-off-process="{{chargedOffProcess}}" event-target="{{eventTarget}}"
            start-date="{{startDate}}" end-date="{{endDate}}" is-tds-tag-applied="{{isTdsTagApplied}}"
            payment-done="{{paymentDone}}"></loan-detail>

        <fab-menu action-events="{{actionEvents}}" show-popup="{{showPopup}}" loan-data="{{loanData}}"
            application-number="{{applicationNumber}}" status-obj="{{statusObj}}" current-schedule="{{currentSchedule}}"
            current-economics-data="{{currentEconomicsData}}" email="{{email}}"></fab-menu>

        <custom-modal id="PayoffCalculaterModal" class="modal-drop" on-modal-hidden="resetModal">
            <div class="modal-dialogEsti">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">Estimate Pay-off</h4>
                    </div>
                    <div class="modal-body set-vertical-height">
                        <div id="MessageContainerEstimatePayoff"></div>
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table">
                                    <tr>
                                        <td colspan="6" class="header">Total Outstanding</td>
                                    </tr>
                                    <tr>
                                        <th class="col-sm-2">Principal Outstanding</th>
                                        <td class="col-sm-2">{{
                                            formatCurrency(currentEconomicsData.pbot.totalPrincipalOutStanding) }}</td>
                                        <template is="dom-if" if="{{!checkPortfolioType(loanData)}}">
                                            <th class="col-sm-2">Finance Charge Outstanding</th>
                                        </template>
                                        <template is="dom-if" if="{{checkPortfolioType(loanData)}}">
                                            <th class="col-sm-2">Interest Outstanding</th>
                                        </template>
                                        <td class="col-sm-2">{{ sumPriorInterest(currentEconomicsData,'field') }}</td>
                                        <th class="col-sm-2">As of Date</th>
                                        <td class="col-sm-2">{{ date(currentEconomicsData.pbot.asOfDatePBOT) }}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table">
                                    <tr>
                                        <td colspan="6" class="header">Estimates</td>
                                    </tr>
                                </table>
                                <table id="PayOffEstimates" class="table table-striped" width="100%" cellspacing="0">
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table" id="feesHeader" style="width:100%; display:none;">
                                    <tr>
                                        <td colspan="3" class="header">Fees Details</td>
                                        <td colspan="1" class="header">
                                            <div class="pull-right">
                                                <a on-click="_hideFees">Hide</a>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                                <table class="table table-striped" id="PayOffFeesDetails" style="display:none;">
                                    <thead>
                                        <tr>
                                            <th>Fees Name</th>
                                            <th>Fees Type</th>
                                            <th>Fees Amount</th>
                                            <th>Applied On Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <template is="dom-repeat" items="{{feeDetailList}}" as="fees">
                                            <tr>
                                                <td>{{fees.feeName}}</td>
                                                <td>{{fees.feeType}}</td>
                                                <td>{{calculateValue(fees)}}</td>
                                                <td>{{date(fees.appliedOnDate)}}</td>
                                            </tr>
                                        </template>
                                    </tbody>
                                </table>
                                <br />
                            </div>
                        </div>
                        <div class="row">
                            <template is="dom-if" if="{{hasRole('payOffLetter')}}">
                                <div class="col-md-5">
                                    <div class="pull-right">
                                        <paper-checkbox class="custom-input" checked="{{estimatePayoffDiscount}}"
                                            name="estiPayoffDiscount" id="estiPayoffDiscount">
                                            {{includePayoffFees}}
                                        </paper-checkbox>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <paper-button class="btn btn-primary activity-action-btn" on-click="downloadDocs"
                                        raised>Download Pay-Off Letter</paper-button>
                                </div>
                            </template>
                            <div class="col-md-3">
                                <div class="pull-right">
                                    <template is="dom-if" if="{{hasRole('payOffSendMail')}}">
                                        <paper-button class="btn btn-primary activity-action-btn"
                                            on-click="sendMailToBorrower" raised>Send Mail</paper-button>
                                    </template>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </custom-modal>
        <custom-modal id="CallNotesModal" class="modal-drop" on-modal-hidden="resetCallNotesModal">
            <div>
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close CloseCallNotes" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title">Call Notes</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div id="MessageContainer"></div>
                                <div class="col-md-12">
                                    <form is="iron-form" class="form-horizontal" name="CallForm">
                                        <dynamic-form form-configuration={{callNotesObj}}
                                            values="{{callNotesObj.values}}"></dynamic-form>
                                        <br />
                                        <div class="row">
                                            <div class="col-md-6">
                                                <vaadin-upload id="CallRecording" accept=".*" max-files="1"
                                                    on-upload-request="_uploadRequest"
                                                    on-upload-success="_uploadSuccess"
                                                    on-upload-before="_changeServerUrl"
                                                    custom-many-label="{{_documentName(pdoc)}}" method="POST">
                                                </vaadin-upload>
                                            </div>
                                            <div class="col-md-6">
                                                <paper-input class="custom-input" type="text" value="{{recordingLink}}"
                                                    name="recordingLink" id="recordingLink" label="Recording Link">
                                                </paper-input>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="pull-right">
                                            <paper-button class="btn btn-primary activity-action-btn"
                                                on-click="sendCallNotes" raised>Submit</paper-button>
                                            <paper-button class="btn btn-primary activity-action-btn"
                                                on-click="cancelCall" raised>Cancel</paper-button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </custom-modal>
        <iron-signals on-iron-signal-factverified="_onFactVerified"></iron-signals>
        <iron-signals on-iron-signal-refreshcashflow="_refreshCashFlowInfo"></iron-signals>
        <url-parser id="urlloani"></url-parser>
        <http-request id="httploani"></http-request>
        <alloy-config id="configloani"></alloy-config>
        <lookup-service id="lookuploani"></lookup-service>
        <session-manager id="sessionloani"></session-manager>
        <message-component id="messageloani"></message-component>
        <auth-service id="authorizloani"></auth-service>
        <utility-service id="utilityloani"></utility-service>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "loan-details-home",
                properties: {
                    borrowerId: {
                        type: String,
                        notify: true,
                        reflectToAttribute: true
                    },
                    paymentDone: {
                        type: Array,
                        notify: true,
                        reflectToAttribute: true
                    },
                    isTdsTagApplied: {
                        type: Boolean,
                        notify: true,
                        reflectToAttribute: true
                    },
                    tdsApplicable: {
                        type: Boolean,
                        notify: true,
                        reflectToAttribute: true
                    },
                    startDate: {
                        type: Date,
                        notify: true,
                        reflectToAttribute: true
                    },
                    endDate: {
                        type: Date,
                        notify: true,
                        reflectToAttribute: true
                    },
                    estimatePayoffDiscount: {
                        type: Boolean,
                        notify: true,
                        value: true,
                        reflectToAttribute: true
                    },
                    scheduleList: {
                        type: Array,
                        notify: true,
                        reflectToAttribute: true
                    },
                    email: {
                        type: String,
                        notify: true,
                        reflectToAttribute: true
                    },
                    openActivity: {
                        type: String,
                        notify: true,
                        reflectToAttribute: true,
                        observer: "openAction"
                    },
                    noActionMessage: {
                        type: String,
                        notify: true,
                        reflectToAttribute: true
                    },
                    addNewContact: {
                        type: String,
                        notify: true,
                        reflectToAttribute: true
                    },
                    loanModification: {
                        type: String,
                        notify: true,
                        reflectToAttribute: true
                    },
                    chargedOffProcess: {
                        type: String,
                        notify: true,
                        reflectToAttribute: true
                    },
                    eventTarget: {
                        type: Object,
                        notify: true,
                        reflectToAttribute: true
                    },
                    adhocPayment: {
                        type: String,
                        notify: true,
                        reflectToAttribute: true
                    },
                    recordingLink: {
                        type: String,
                        notify: true
                    },
                    showPopup: {
                        type: Boolean,
                        notify: true,
                        value: false,
                        observer: "_showCallNotes"
                    },
                    feeDetailList: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    payCalculator: {
                        type: Array,
                        notify: true,
                        reflectToAttribute: true,
                        observer: "_loadJson"
                    },
                    calculatorObj: {
                        type: Array,
                        notify: true
                    },
                    tags: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    applicationNumber: {
                        type: String,
                        notify: true,
                        reflectToAttribute: true
                    },
                    currentSchedule: {
                        type: Object,
                        notify: true,
                        reflectToAttribute: true
                    },
                    currentEconomicsData: {
                        type: Object,
                        notify: true,
                        reflectToAttribute: true
                    },
                    bankList: {
                        type: Array,
                        notify: true,
                        reflectToAttribute: true
                    },
                    statusObj: {
                        type: Object,
                        notify: true,
                        reflectToAttribute: true
                    },
                    loanData: {
                        type: Object,
                        notify: true,
                        reflectToAttribute: true,
                        observer: "setName"
                    },
                    copyLoanData: {
                        type: Object,
                        notify: true,
                        reflectToAttribute: true
                    },
                    currentEntityName: {
                        type: String,
                        notify: true,
                        value: 'application'
                    },
                    callNotesId: {
                        type: String,
                        notify: true
                    },
                    tableObj: {
                        type: Object,
                        notify: false
                    },
                    componentMap: {
                        type: Object,
                        notify: true,
                        value: {
                            ApplySuspense: false,
                            ChargedOff: false,
                            MakeNewPayment: false,
                            NewDrawDownRequest: false,
                            PauseAccrual: false,
                            PauseAutoPayment: false,
                            SellOff: false,
                            StartAccrual: false,
                            StartAutoPayment: false,
                            UpdateBankDetail: false,
                            UpdateBorrowerDetail: false,
                            ApplyFees: false,
                            CloseLoan: false,
                            UpdatePaymentInstrument: false,
                            PayoffCalculator: false,
                            MakePayment: false,
                            SchedulePayment: false,
                            OtherContact: false,
                            UploadBankStatement: false,
                            RefundPayment: false,
                            UploadDocs: false,
                            SendMail: false,
                            LoanModification: false,
                            AdhocPayment: false,
                            NoAction: false,
                            ChargedOffProcess: false,
                            MakeBorrowerPayment: false,
                            ApplyTDS: false,
                            Unwind: false
                        },
                        reflectToAttribute: true
                    },
                    componentMapUpdated: {
                        type: Boolean,
                        notify: true,
                        value: false,
                        reflectToAttribute: true
                    },
                    tags: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    actionEvents: {
                        type: Object,
                        notify: true,
                        value: {}
                    },
                    allowUpload: {
                        type: Boolean,
                        notify: true,
                        value: false
                    },
                    estPayOffFilterObj: {
                        type: Object,
                        notify: true
                    },
                    includePayoffFees: {
                        type: String,
                        notify: true,
                    },
                    callNotesObj: {
                        type: Object,
                        notify: true,
                        value: {
                            controls: {
                                CallDate: {
                                    label: "Call Date",
                                    title: "Call Date",
                                    type: "date",
                                    class: "twoRow",
                                    format: COUNTRY[window.config.country].DATE_FORMAT.DATE,
                                    minFactor: 100,
                                    maxFactor: 0,
                                    validations: {
                                        required: true,
                                        min: false,
                                        max: true
                                    }
                                },
                                ContactedBy: {
                                    label: "Contacted By",
                                    type: "textbox",
                                    class: "twoRow",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false,
                                        minLen: 1,
                                        maxLen: 64
                                    }
                                },
                                ContactPerson: {
                                    label: "Contact Person",
                                    type: "textbox",
                                    class: "twoRow",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false,
                                        minLen: 1,
                                        maxLen: 64
                                    }
                                },
                                RelationshiptoBorrower: {
                                    label: "Relationship to Borrower",
                                    type: "combobox",
                                    selectList: [],
                                    class: "twoRow",
                                    labelKey: "value",
                                    labelValue: "key",
                                    validations: {
                                        required: true
                                    }
                                },
                                CallDisposition: {
                                    label: "Call Disposition",
                                    type: "combobox",
                                    selectList: [],
                                    class: "twoRow",
                                    labelKey: "value",
                                    labelValue: "key",
                                    validations: {
                                        required: true
                                    }
                                },
                                FollowUpDate: {
                                    label: "Follow-up date",
                                    title: "Follow-up date",
                                    type: "date",
                                    class: "twoRow",
                                    format: COUNTRY[window.config.country].DATE_FORMAT.DATE,
                                    validations: {
                                        required: true
                                    }
                                },
                                CallNotes: {
                                    label: "Call Notes",
                                    type: "textarea",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false,
                                        rows: 3,
                                        minLen: 1,
                                        maxLen: 2000
                                    }
                                }
                            },
                            values: {
                                CallDate: "",
                                ContactedBy: "",
                                ContactPerson: "",
                                RelationshiptoBorrower: "",
                                CallNotes: "",
                                CallDisposition: "",
                                FollowUpDate: ""
                            }
                        }
                    }
                },
                listeners: {
                    'AppDetailsPageRefresh': '_refreshAppDetails',
                    'RefreshActivity': '_refreshActivity',
                    'RefreshTransaction': '_refreshTranscations',
                    'RefreshPaymentSchedule': '_refreshPaymentSchedule',
                    'RefreshPaymentDetail': '_refreshPaymentDetail',
                    'RefreshPaymentInprocess': '_refreshPaymentInprocess',
                    'RefreshDrawRequest': '_refreshDrawRequest',
                    'RefreshEconomics': '_refreshEconomicsData',
                    'RefreshLoanData': '_refreshLoanData',
                    'RefreshLoanStatusData': '_refreshLoanStatusData',
                    'RefreshBankData': '_refreshBankData',
                    'RefreshFlagData': '_refreshFlagData',
                    'RefreshDocumentData': '_refreshDocumentData',
                    'RefreshVerificationData': '_refreshVerificationData',
                    'RefreshUploadDocAction': '_refreshUploadDocAction',
                    'RefreshScheduleData': '_refreshScheduleData',
                    "RefreshCashFlowInfo": "_refreshCashFlowInfo",
                    'ShowMessage': '_showMessage'
                },
                ready: function () {
                    var self = this;
                    if (window.jQuery) {
                        self.init()();
                    } else {
                        window.addEventListener("WebComponentsReady", self.init());
                    }
                },
                init: function () {
                    var self = this;
                    var showSpinner = true;
                    return function () {
                        var params = self.$.urlloani.getParams();
                        self.set("applicationNumber", params.loanId);
                        self.set('productId', params.product);
                        self.set('workflowId', params.workflow);
                        if (params.hasOwnProperty('entity')) {
                            self.set('currentEntityName', params.entity);
                        }
                        self.setTDSApplicable(params.product);
                        self.loadData(showSpinner);
                        self.getScheduleData(showSpinner);
                        self.getBankDetails(showSpinner);
                        self._loadAppStatus(showSpinner);
                    }
                },
                setTDSApplicable: function (product) {
                    var self = this;
                    var url = "/" + product + "/all/parameter";
                    self.$.httploani.get(url, window.config.services.multiProducts, false).then(function (data) {
                        if (data) {
                            var output = _.find(data, ['name', "TDSApplicable"]);
                            if (output) {
                                self.set("tdsApplicable", (output.value === "true" ? true : false));
                            }
                            else {
                                self.set("tdsApplicable", false);
                            }
                        }
                    }).fail(function (e) {
                        self.set("tdsApplicable", false);
                    });

                },
                _refreshScheduleData: function () {
                    var self = this;
                    setTimeout(function () {
                        self.getScheduleData(false);
                    }, parseInt(self.refreshTimeSpan));
                },
                _refreshCashFlowInfo: function () {
                    var self = this;
                    var loanDetails = self.$$('#loanDetails');
                    setTimeout(function () {
                        loanDetails.$$('#cashflow-info').init();
                    }, parseInt(self.refreshTimeSpan));
                },
                _loadAppStatus: function (showSpinner) {
                    var self = this;
                    var url = "/" + self.currentEntityName + "/" + self.applicationNumber + "/" +
                        self.workflowId;
                    self.$.httploani.get(url, window.config.services.statusManagement, showSpinner)
                        .then(function (data) {
                            self.set("status", data.name);
                            self.set("statusCode", data.code);
                            self.set("statusObj", data);
                            self._fetchCurrentTagsInfo(showSpinner);
                        }).fail(function (e) {
                            console.error("loadAppStatusFromConfig error is ", e);
                        });
                },
                _fetchCurrentTagsInfo: function (showSpinner) {
                    var self = this;
                    var url = "/tags/" + self.applicationNumber;
                    var loanFilters = window.config.services.lmsLoanFilters;
                    self.$.httploani.get(url, loanFilters, showSpinner).then(function (data) {
                        if (data.tags) {
                            var tags = _.transform(data.tags, function (result, item) {
                                result.push({
                                    name: item.tagName,
                                    taggedOn: item.taggedOn.time
                                });
                            }, []);
                            self.set("tags", tags);
                        }
                        self._initializeComponentStatus();
                    }).fail(function (e) {
                        console.error("Loan Tag error is ", e);
                        self._initializeComponentStatus();
                    });
                },
                _getActionsByTagAndStatus: function (filterActions) {
                    var self = this;
                    var statusCode = self.statusCode;
                    var tags = self.tags;
                    var params = self.$.urlloani.getParams();
                    var actions;
                    self.noActionMessage = self.$.configloani.getConfigurationBasedOnKey(
                        "noActionMessage");
                    var StatusBasedFilter = self.$.configloani.getConfigurationBasedOnKey(
                        "StatusBasedFilter");
                    var SubStatusBasedFilter = self.$.configloani.getConfigurationBasedOnKey(
                        "SubStatusBasedFilter");
                    var SellOffActionAvailable = self.$.configloani.getConfigurationBasedOnKey(
                        "SellOffActionAvailable");
                    if (StatusBasedFilter.indexOf(self.status) != -1) {
                        actions = filterActions[statusCode];
                    } else if (self.statusObj.subStatusDetail != null && self.statusObj.subStatusDetail !=
                        undefined && self.statusObj.subStatusDetail != "") {
                        self.statusObj.subStatusDetail.forEach(function (Obj) {
                            if (SubStatusBasedFilter.indexOf(Obj.subStatusCode) != -1) {
                                actions = _.merge(filterActions[Obj.subStatusCode], actions);
                            }
                        });
                        if (actions == "" || actions == undefined) {
                            actions = filterActions[params.filter];
                        }
                    } else {
                        actions = filterActions[params.filter];
                    }
                    if (!_.isUndefined(SellOffActionAvailable) &&
                        !_.isNull(SellOffActionAvailable) && SellOffActionAvailable) {
                        if (params.filter === 'GoodStandingCurrent' || params.filter ===
                            'DPDUnder30') {
                            var _tempactions = _.cloneDeep(actions);
                            _tempactions.SellOff = false;
                            actions = _tempactions;
                        }
                    }
                    return actions;
                },
                _initializeComponentStatus: function () {
                    var self = this;
                    var componentMap = _.cloneDeep(self.componentMap);
                    var filterActions = self.$.configloani.getConfigurationBasedOnKey(
                        "filter-actions");
                    self.set("actionEvents", filterActions.events);
                    self.set("actionMessages", filterActions.messages);
                    self.$.sessionloani.setObject("actionEvents", filterActions.events);
                    if (!_.isUndefined(self.statusCode) && !_.isNull(self.statusCode)) {
                        var actions = self._getActionsByTagAndStatus(filterActions);
                        if (!_.isUndefined(actions) && !_.isEmpty(actions)) {
                            var result = _.reduce(componentMap, function (output, value, key) {
                                output[key] = actions.hasOwnProperty(key) ? actions[key] :
                                    false;
                                return output;
                            }, {});
                            var noAction = true;
                            var mapObj = Object.keys(result);
                            mapObj.forEach(function (key) {
                                if (result[key]) {
                                    noAction = false;
                                }
                            });
                            result.NoAction = noAction;
                            self.set('componentMap', result);
                        } else {
                            self.componentMap.NoAction = true;
                        }
                    } else {
                        self._resetComponentMap();
                    }
                    self.set('componentMapUpdated', true);
                    self._openActionMenu();
                    self.setCallNoteValue();
                },
                _openActionMenu: function () {
                    var self = this;
                    var OpenActionMenu = self.$.configloani.getConfigurationBasedOnKey("openAction");
                    if (OpenActionMenu) {
                        $('.spin-icon').click();
                    }
                },
                _spinIconClick: function (e) {
                    $('.spin-icon i').toggleClass("fa-chevron-circle-left fa-chevron-circle-right");
                    $('.theme-config-box').toggleClass('show');
                },
                loadData: function (showSpinner) {
                    var self = this;
                    var lmsService = window.config.services.lmsService;
                    var url = "/" + self.applicationNumber;
                    self.$.httploani.get(url, lmsService, showSpinner).then(function (data) {
                        if (data) {
                            var brwid = (data.borrowerId !== undefined && data.borrowerId !== null) ? data.borrowerId : "";
                            self.set("borrowerId", brwid);
                            self.set("loanData", data);
                            var copyLoanData = _.cloneDeep(self.loanData);
                            self.set("copyLoanData", copyLoanData);
                        }
                    }).fail(function (e) {
                        console.error("Load Loan Data error is ", e);
                    });
                },
                getScheduleData: function (showSpinner) {
                    var self = this;
                    var lmsService = window.config.services.lmsService;
                    var url = "/" + self.applicationNumber + "/schedule";
                    self.$.httploani.get(url, lmsService, showSpinner).then(function (data) {
                        if (data) {
                            self.set('currentSchedule', data);
                            self.getEconomicsData(showSpinner);
                        }
                    }).fail(function (e) {
                        console.error("load Schedule error is ", e);
                    });
                },
                getEconomicsData: function (showSpinner) {
                    var self = this;
                    var accountingService = window.config.services.accountingService;
                    var url = "/" + self.applicationNumber + "/" + self.currentSchedule.scheduleVersionNo;
                    self.$.httploani.get(url, accountingService, showSpinner).then(function (data) {
                        if (data) {
                            self.set('currentEconomicsData', data);
                        }
                    }).fail(function (e) {
                        console.error("load economics error is ", e);
                    });
                },
                getBankDetails: function (showSpinner) {
                    var self = this;
                    var lmsService = window.config.services.lmsService;
                    var url = "/all/bank/" + self.applicationNumber;
                    self.$.httploani.get(url, lmsService, showSpinner).then(function (data) {
                        if (data) {
                            self.set('bankList', data);
                        }
                    }).fail(function (e) {
                        console.error("load bank details error is ", e);
                    });
                },
                setCallNoteValue: function () {
                    var self = this;
                    var calldisposition = self.$.lookuploani.getLookupBasedOnName("calldisposition");
                    var relations = self.$.lookuploani.getLookupBasedOnName("relations");
                    var callNotesObj = _.cloneDeep(self.callNotesObj);
                    callNotesObj.values.CallDate = moment().format('YYYY-MM-DD');
                    callNotesObj.values.ContactedBy = self.$.sessionloani.get("userName");
                    callNotesObj.controls.RelationshiptoBorrower.selectList = relations;
                    callNotesObj.values.RelationshiptoBorrower = "self";
                    callNotesObj.controls.CallDisposition.selectList = calldisposition;
                    self.set('callNotesObj', callNotesObj);
                },
                _resetComponentMap: function () {
                    var self = this;
                    var input = _.cloneDeep(self.componentMap);
                    var result = _.reduce(input, function (output, value, key) {
                        output[key] = false;
                        return output;
                    }, {});
                    self.set('componentMap', result);
                },
                _isReady: function (componentMap, componentMapUpdated) {
                    var hasNoActions = window.location.href.toLowerCase().includes("/noaction");
                    if (this.componentMap && this.componentMapUpdated && !hasNoActions) {
                        return true;
                    }
                    return false;
                },
                _refreshAppDetails: function (e) {
                    this._updateHash();
                },
                _updateHash: function () {
                    var randomVal = Math.floor(Math.random() * (10000 - 1 + 1)) + 1;
                    var hashStr = window.location.hash;
                    if (hashStr.includes("refresh:")) {
                        var newHash = hashStr.replace(/refresh:\d+/i, "refresh:" + randomVal);
                        window.location.hash = newHash;
                    } else {
                        window.location.hash = hashStr + "/refresh:" + randomVal;
                    }
                    window.location.reload();
                },
                date: function (date) {
                    if (!_.isNull(date) && !_.isUndefined(date) && !_.isEmpty(date)) {
                        return formats.date(date, window.config.country, false);
                    }
                    return "NA";
                },
                formatMoney: function (value) {
                    return formats.money(value, window.config.country, 0);
                },
                resetModal: function () {
                    var self = this;
                },
                calculateValue: function (fees) {
                    return this.formatCurrency(fees.feeAmount - fees.paidAmount);
                },
                setName: function () {
                    var self = this;
                    var name = "";
                    var loanDetailObj = self.loanData;
                    if (!_.isUndefined(loanDetailObj) && loanDetailObj.hasOwnProperty(
                        'productCategory')) {
                        var primaryApplicantObj = loanDetailObj.primaryApplicantDetails;
                        if (!_.isUndefined(primaryApplicantObj) && !_.isNull(primaryApplicantObj)) {
                            name = primaryApplicantObj.name.first + " " + primaryApplicantObj.name.last;
                        }
                    }
                    var callNotesObj = _.cloneDeep(self.callNotesObj);
                    callNotesObj.values.ContactPerson = name;
                    self.set('callNotesObj', callNotesObj);
                },
                sendCallNotes: function (e) {
                    var self = this;
                    var form = Polymer.dom(event).localTarget.parentElement.parentElement;
                    if (form.validate()) {
                        var params = this.$.urlloani.getParams();
                        var url = '/' + params.entity + '/' + self.applicationNumber;
                        var payload = {
                            CallDateTime: self.callNotesObj.values.CallDate,
                            ContactedBy: self.callNotesObj.values.ContactedBy,
                            ContactPerson: self.callNotesObj.values.ContactPerson,
                            RelationToBorrower: self.callNotesObj.values.RelationshiptoBorrower,
                            Notes: self.callNotesObj.values.CallNotes,
                            CallDisposition: self.callNotesObj.values.CallDisposition,
                            FollowUpDate: self.callNotesObj.values.FollowUpDate,
                            RecordedDate: new Date(),
                            RecordedBy: self.$.sessionloani.get("userName"),
                            RecordingLink: self.recordingLink
                        };
                        self.$.httploani.post(url, payload, window.config.services.callService).then(
                            function (data) {
                                self.callNotesId = data.id;
                                var uploadContainer = document.querySelector("vaadin-upload#CallRecording");
                                var files = uploadContainer.files;
                                if (files.length > 0) {
                                    self._uploadManualDocuments(e);
                                } else {
                                    self.raiseloanModeRefreshEvent(e);
                                }
                                self.resetCallNotesData();
                            }).fail(function (e) {
                                var strMessage = "Failed to complete the operation. " + e.responseJSON
                                    .message;
                                self.$.messageloani.showMessage(strMessage, "ERROR", self.$$(
                                    '#MessageContainer'));
                            });
                    }
                },
                resetCallNotesData: function () {
                    var self = this;
                    var callNotesObj = _.cloneDeep(self.callNotesObj);
                    callNotesObj.values.CallDisposition = "";
                    callNotesObj.values.CallNotes = "";
                    callNotesObj.values.FollowUpDate = "";
                    self.set('callNotesObj', callNotesObj);
                    self.set("recordingLink", "");
                    var uploadContainer = document.querySelector("vaadin-upload#CallRecording");
                    uploadContainer.files = [];
                },
                _showCallNotes: function () {
                    var self = this;
                    if (self.showPopup) {
                        self.$$('#CallNotesModal').showModal();
                    }
                },
                resetCallNotesModal: function () {
                    var self = this;
                    self.set('showPopup', false);
                },
                _updateHashSubWorkFlow: function () {
                    var randomVal = Math.floor(Math.random() * (10000 - 1 + 1)) + 1;
                    var hashStr = window.location.hash;
                    if (hashStr.includes("refresh:")) {
                        var newHash = hashStr.replace(/refresh:\d+/i, "refresh:" + randomVal);
                        window.location.hash = newHash;
                    } else {
                        window.location.hash = hashStr + "/refresh:" + randomVal;
                    }
                    window.location.reload();
                },
                _uploadRequest: function (event) {
                    event.detail.xhr.setRequestHeader('Authorization', "Bearer " + this.$.sessionloani
                        .get('token'));
                },
                _uploadSuccess: function (event) {
                    var self = this;
                    if (event.detail.xhr.status === 200) {
                        var res = $.parseJSON(event.detail.xhr.response);
                        self.raiseloanModeRefreshEvent(event);
                    }
                },
                _changeServerUrl: function (event) {
                    var self = this;
                    if (!self.allowUpload) {
                        event.preventDefault();
                        return;
                    }
                    event.detail.file.uploadTarget = self._getServerUrl();
                },
                _documentName: function (doc) {
                    return doc.documentName[0];
                },
                _getServerUrl: function () {
                    var self = this;
                    var callServiceURL = window.config.services.callService + "/loan/" + self.applicationNumber +
                        "/recording/" + self.callNotesId;
                    return callServiceURL;
                },
                _uploadManualDocuments: function (e) {
                    var self = this;
                    self.set('allowUpload', true);
                    self.set('isExtVerified', true);
                    var uploadContainer = document.querySelector("vaadin-upload#CallRecording");
                    var files = uploadContainer.files;
                    if (self.isExtVerified) {
                        _.forEach(files, function (item) {
                            item.uploadTarget = self._getServerUrl();
                            uploadContainer._uploadFile(item);
                        });
                    }
                    self.set('allowUpload', false);
                },
                formatCurrency: function (data) {
                    return formats.money(data, window.config.country, 0);
                },
                cancelCall: function (event) {
                    event.preventDefault();
                    $(".CloseCallNotes").click();
                },
                _refreshActivity: function (e) {
                    var self = this;
                    setTimeout(function () {
                        self.callChildMethod("activityListTab", "_reloadActivityList");
                    }, parseInt(self.refreshTimeSpan));
                },
                _refreshBankData: function (e) {
                    var self = this;
                    setTimeout(function () {
                        self.getBankDetails(false);
                    }, parseInt(self.refreshTimeSpan));
                },
                _refreshLoanData: function (e) {
                    var self = this;
                    setTimeout(function () {
                        self.loadData(false);
                    }, parseInt(self.refreshTimeSpan));
                },
                _refreshLoanStatusData: function (e) {
                    var self = this;
                    setTimeout(function () {
                        self._loadAppStatus(false);
                    }, parseInt(self.refreshTimeSpan));
                },
                _refreshEconomicsData: function (e) {
                    var self = this;
                    setTimeout(function () {
                        self.getEconomicsData(false);
                    }, parseInt(self.refreshTimeSpan));
                },
                _refreshTranscations: function (e) {
                    var self = this;
                    var loanDetails = self.$$('#loanDetails');
                    setTimeout(function () {
                        loanDetails.$$('#TransactionTab')._getTransactions();
                    }, parseInt(self.refreshTimeSpan));
                },
                _refreshUploadDocAction: function (e) {
                    var self = this;
                    var actionContainer = this.$$("#actionContainer");
                    setTimeout(function () {
                        actionContainer.$$('#UploadDocs-loan-activity').toggleActivity();
                    }, parseInt(self.refreshTimeSpan));
                },
                _refreshDocumentData: function (e) {
                    var self = this;
                    var loanDetails = self.$$('#loanDetails');
                    setTimeout(function () {
                        loanDetails.$$('#DocumentTab').init();
                    }, parseInt(self.refreshTimeSpan));
                },
                _refreshVerificationData: function (e) {
                    var self = this;
                    var loanDetails = self.$$('#loanDetails');
                    setTimeout(function () {
                        loanDetails.$$('#verificationdashboardInfo').init();
                    }, parseInt(self.refreshTimeSpan));
                },
                _refreshFlagData: function (e) {
                    var self = this;
                    setTimeout(function () {
                        self.callChildMethod("FlagsTab", "_getAllFlags");
                    }, parseInt(self.refreshTimeSpan));
                },
                _refreshPaymentDetail: function (e) {
                    var self = this;
                    var loanDetails = self.$$('#loanDetails');
                    setTimeout(function () {
                        loanDetails.$$('#paymentDetailTab')._loadLookup();
                    }, parseInt(self.refreshTimeSpan));
                },
                _refreshPaymentInprocess: function (e) {
                    var self = this;
                    var loanDetails = self.$$('#loanDetails');
                    setTimeout(function () {
                        loanDetails.$$('#paymentInprocessTab')._loadLookup();
                    }, parseInt(self.refreshTimeSpan));
                },
                _refreshPaymentSchedule: function (e) {
                    var self = this;
                    var loanDetails = self.$$('#loanDetails');
                    setTimeout(function () {
                        loanDetails.fetchAllSchedules();
                    }, parseInt(self.refreshTimeSpan));
                },
                _refreshDrawRequest: function (e) {
                    var self = this;
                    setTimeout(function () {
                        loanDetails.$$('#drawdownRequestTab')._loadFilterConfigurations();
                    }, parseInt(self.refreshTimeSpan));
                },
                _onFactVerified: function () {
                    var self = this;
                    setTimeout(function () {
                        self._refreshVerificationData();
                        self._refreshLoanStatusData();
                    }, parseInt(self.refreshTimeSpan));
                },
                _showMessage: function (e) {
                    var self = this;
                    if (e.detail.data && e.detail.data.ActionName) {
                        var action = e.detail.data.ActionName;
                        var message = (e.detail.data.Message !== undefined && e.detail.data.Message !==
                            "") ? e.detail.data.Message : self.actionMessages[action];
                        self.$.messageloani.showMessage(message, "INFO", self.$.LoanMessageContainer);
                    } else if (e.detail.data && e.detail.data.Message) {
                        self.$.messageloani.showMessage(e.detail.data.Message, "INFO", self.$.LoanMessageContainer);
                    }
                    var eventData = (e.detail.data.EventTarget !== undefined && e.detail.data.EventTarget !== null) ? e.detail.data.EventTarget : e.detail.data.EventData;
                    self._resetActionItems(eventData, e.detail.data.CompnentName);
                },
                callChildMethod: function (childId, method) {
                    var appDetails = this.$$("#loanDetails");
                    appDetails.$$('#' + childId)[method]();
                },
                _resetActionItems: function (event, componentName) {
                    if (event && componentName) {
                        var componentObj = $(event.target).parents().find(componentName)[0];
                        var siblingObj = $(componentObj).parent().siblings()[0];
                        $(siblingObj).trigger('click');
                    }
                },
                _loadJson: function (obj) {
                    var self = this;
                    var finalCalculate = obj;
                    _.forEach(finalCalculate, function (element) {
                        _.extend(element, {
                            outstandingFees: _.sumBy(element.feeDetails, function (
                                sch) {
                                if (sch.isPaid === false) {
                                    return sch.feeAmount;
                                }
                            })
                        });
                    });
                    if (finalCalculate[0].feeDetails !== undefined && finalCalculate[0].feeDetails.length >
                        0) {
                        self.set("feeDetailList", finalCalculate[0].feeDetails);
                    } else {
                        self.set("feeDetailList", []);
                    }
                    self.set("calculatorObj", finalCalculate);
                    var data = self.$.configloani.getConfigurationBasedOnKey("filters");
                    var includePayoffFees = self.$.configloani.getConfigurationBasedOnKey(
                        "includePayoffFees");
                    self.set("includePayoffFees", includePayoffFees);
                    var estPayOffFilterObj = {};
                    var keyEstimate = "EstimatePayOff" + self.loanData.loanProductId;
                    if (data[keyEstimate] !== undefined && data[keyEstimate] !== null && data[
                        keyEstimate] !== "") {
                        estPayOffFilterObj = _.cloneDeep(data[keyEstimate]);
                    } else {
                        estPayOffFilterObj = _.cloneDeep(data["EstimatePayOff"]);
                    }

                    var columnLength = estPayOffFilterObj.columns.length;
                    for (var i = 0; i < columnLength; i++) {
                        if (estPayOffFilterObj.columns[i].render != undefined) {
                            var render = estPayOffFilterObj.columns[i].render;
                            if (estPayOffFilterObj.columns[i].isFunction) {
                                estPayOffFilterObj.columns[i].render = eval("(" + render + ")");
                            } else {
                                estPayOffFilterObj.columns[i].render = eval(render);
                            }
                        }
                    }
                    self.set("estPayOffFilterObj", estPayOffFilterObj);
                    self.renderPayOffTable();
                },
                renderPayOffTable: function () {
                    var self = this,
                        table;
                    table = self.tableObj;
                    if (table !== null && table !== undefined) {
                        table.clear();
                        table.destroy();
                    }
                    table = self.tableObj = $('#PayOffEstimates').DataTable({
                        dom: "<'row'<'col-sm-12'tr>>" +
                            "<'row'<'col-sm-5'i><'col-sm-7'p>>",
                        data: self.calculatorObj,
                        columns: self.estPayOffFilterObj.columns,
                        columnDefs: self.estPayOffFilterObj.columnDefs,
                        order: self.estPayOffFilterObj.order,
                        language: {
                            lengthMenu: "show_MENU_ Payoff",
                            zeroRecords: "No Data found.",
                            info: "Showing _START_ to _END_ of _TOTAL_ Payoff",
                            infoEmpty: "Payoff schedule not available",
                            infoFiltered: "(filtered from _MAX_ total Payoff)"
                        }
                    });
                    setTimeout(function () {
                        $('#PayOffEstimates tbody').on('click', 'a', function () {
                            var data = self.tableObj.row($(this).parents('tr')).data();
                            if (this.getAttribute("on-click") !== null && this.getAttribute(
                                "on-click") !== undefined) {
                                self[this.getAttribute("on-click")](data);
                            }
                        });
                        var configData = self.estPayOffFilterObj.columns;
                        self.$$('#PayoffCalculaterModal').showModal();
                        $('#feesHeader').hide();
                    }, 700);
                },
                openAction: function (obj) {
                    var self = this;
                    if (obj != undefined && obj != null && obj != "clear") {
                        var actionContainer = this.$$("#actionContainer");
                        var actionMapped = self.$.configloani.getConfigurationBasedOnKey(
                            "flagActionMapped");
                        var performAction = _.find(actionMapped, ['value', obj]);
                        if (performAction != undefined && performAction != null && performAction !=
                            "") {
                            var isOpen = $('.theme-config-box').attr('class');
                            if (isOpen.indexOf("Show") === -1) {
                                $('.spin-icon').click();
                            }
                            actionContainer.$$('#' + performAction.value).toggleActivity();
                        }
                    }
                    self.set("openActivity", "clear");
                },
                checkPortfolioType: function (objType) {
                    var self = this;
                    if (self.loanData && self.loanData.productPortfolioType != "MCA" && self.loanData
                        .productPortfolioType != "MCALOC") {
                        return true;
                    }
                    return false;
                },
                sendMailToBorrower: function (event) {
                    var self = this;
                    event.preventDefault();
                    var params = self.$.urlloani.getParams();
                    var url = '/' + self.applicationNumber + "/" + self.currentSchedule.scheduleVersionNo + "/payoffSchedule";
                    self.$.httploani.post(url, self.calculatorObj, window.config.services.lmsService).then(function (data) {
                        self.$.messageloani.showMessage("Payoff schedule mail sent successfully.", "SUCCESS", self.$$('#MessageContainerEstimatePayoff'));
                    }).fail(function (e) {
                        var strMessage = "Failed to complete the operation. " + e.responseJSON.message;
                        self.$.messageloani.showMessage(strMessage, "ERROR", self.$$('#MessageContainerEstimatePayoff'));
                    });
                },
                downloadDocs: function () {
                    var self = this;
                    var vv = self.loanData;
                    var url = "";
                    var fileName = "";
                    if (self.estimatePayoffDiscount === true) {
                        url = "/PayoffScheduleLetterWith/1.0/Html/generate";
                        fileName = "Pay-Off Letter With Discount_" + self.applicationNumber +
                            ".pdf";
                    } else {
                        _.forEach(self.calculatorObj, function (element) {
                            _.extend(element, {
                                totalAmountWithout: element.principal + element.interest +
                                    element.outstandingFees
                            });
                        });
                        url = "/PayoffScheduleLetterWithout/1.0/Html/generate";
                        fileName = "Pay-Off Letter Without Discount_" + self.applicationNumber +
                            ".pdf";
                    }

                    var token = self.$.sessionloani.get("token");
                    var documentGenerator = window.config.services.documentGenerator;
                    var generatePayload = {};
                    var final = {};
                    generatePayload.name = fileName;
                    generatePayload.format = "Pdf";
                    generatePayload.version = "1.0";
                    final.businessName = self.loanData.primaryBusinessDetails.businessName;
                    final.loanNumber = self.applicationNumber;
                    final.name = self.loanData.primaryApplicantDetails.name.first + " " + self.loanData.primaryApplicantDetails.name.last;
                    final.paidoffDate = moment().format("MM/DD/YYYY");
                    final.payoffSchedule = self.calculatorObj;
                    final.feeDetails = self.feeDetailList;
                    generatePayload.data = final;
                    var payLoad = JSON.stringify(generatePayload);
                    var xhr = new XMLHttpRequest();
                    xhr.open("POST", documentGenerator + url, true);
                    xhr.setRequestHeader('Authorization', "Bearer " + token);
                    xhr.setRequestHeader("content-type", "application/json");
                    xhr.responseType = 'blob';
                    xhr.onload = function (e) {
                        if (this.status == 200) {
                            var blob = new Blob([this.response], {
                                type: this.response.type
                            });
                            var link = document.createElement('a');
                            link.href = window.URL.createObjectURL(blob);
                            link.download = fileName;
                            link.click();
                        }
                    };
                    xhr.onerror = function (e) {
                        console.error("Error " + e.target.status +
                            " occurred while receiving the document.");
                    };
                    xhr.send(payLoad);
                },
                hasRole: function (compName) {
                    return this.$.authorizloani.hasRole(compName);
                },
                getEvents: function (action) {
                    this.actionEvents = this.$.sessionloani.getObject("actionEvents");
                    var event = this.actionEvents[action];
                    return event;
                },
                raiseloanModeRefreshEvent: function (event) {
                    var self = this;
                    $('.CloseCallNotes').click();
                    this.$.utilityloani.raiseEvent(this.getEvents('AddActivity'), {
                        ActionName: 'ActionButton',
                        EventData: event,
                        CompnentName: 'loan-detail'
                    });
                },
                _viewFees: function (e) {
                    $('#feesHeader').show();
                    $('#PayOffFeesDetails').show();
                },
                _hideFees: function () {
                    $('#feesHeader').hide();
                    $('#PayOffFeesDetails').hide();
                },
                sumPriorInterest: function (economicsData, fromWhere) {
                    var self = this;
                    if (economicsData && fromWhere === "field") {
                        var finalSum = parseFloat(economicsData.pbot.totalInterestOutstanding) + parseFloat(economicsData.priorInterestOutStanding.priorInterestAmount) - parseFloat(economicsData.paymentInfo.paidPriorInterest);
                        return self.formatMoney(finalSum);
                    }
                    else if (economicsData && fromWhere === "totalSum") {
                        var finalSum = parseFloat(economicsData.pbot.totalPrincipalOutStanding) + parseFloat(economicsData.pbot.totalInterestOutstanding) + parseFloat(economicsData.pbot.totalFeeOutstanding) + parseFloat(economicsData.priorInterestOutStanding.priorInterestAmount) - parseFloat(economicsData.paymentInfo.paidPriorInterest);
                        return self.formatMoney(finalSum);
                    }
                    else if (economicsData) {
                        var finalSum = parseFloat(economicsData.pbot.totalInterestOutstanding);
                        return self.formatMoney(finalSum);
                    }
                }
            });
        });
    </script>
</dom-module>