<dom-module id="manage-template">
    <template>
        <style>
            .custom-input {
                --paper-input-container-input: {
                    font-size: 11px;
                }
                --paper-input-container-label: {
                    font-size: 12px;
                }
            }

            .modal-dialog1 {
                width: 1000px;
                margin: 30px auto;
            }

            .modal-dialog2 {
                width: 1200px;
                margin: 30px auto;
            }

            #ErrorMessge p {
                color: #FF0000;
            }

            #ErrorMessgeRuleEditor p {
                color: #FF0000;
            }

            #SuccessMessge p {
                color: #008000;
            }
        </style>
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox-content">
                    <div class="row" id="filterContainer">
                        <template is="dom-if" if="{{hasRole('AddEditHtmlBtn')}}">
                            <div class="pull-right">
                                <paper-button class="btn btn-primary activity-action-btn" on-click="_addEditTemplate" raised>Add Template</paper-button>
                            </div>
                        </template>
                        <table id="emailTemplateTable" class="table table-striped" width="100%" cellspacing="0">
                        </table>
                    </div>
                    <div id="htmlView" style="display:none;">
                        <div class="modal-header">
                            <button type="button" class="close CloseRuleEditor" on-click="backToList" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title">Add/Edit {{dispInfo}} HTML</h4>
                        </div>
                        <div id="ErrorMessgeRuleEditor" style="display: none;">
                            <p></p>
                        </div>
                        <div id="SuccessMessge" style="display: none;">
                            <p></p>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <html-editor email-template="{{isEmailTemplate}}" template-list="{{emailTemplateList}}" html-defination="{{htmlDefination}}"
                                    disp-info="{{dispInfo}}"></html-editor>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <http-request id="httpmatp"></http-request>
        <auth-service id="authorizematp"></auth-service>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "manage-template",
                properties: {
                    ProductId: {
                        type: String,
                        notify: true
                    },
                    emailTemplateList: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    templateId: {
                        type: String,
                        notify: true
                    },
                    htmlDefination: {
                        type: String,
                        notify: true
                    },
                    isEmailTemplate: {
                        type: Boolean,
                        notify: true,
                        value: false
                    }
                },
                ready: function () {
                    this.loadEmailTemplate();
                },
                hasRole: function (RoleName) {
                    return this.$.authorizematp.hasRole(RoleName);
                },
                loadEmailTemplate: function () {
                    var self = this;
                    var emailTemplates = window.config.services.emailTemplates;
                    self.$.httpmatp.get("", emailTemplates).then(function (data) {
                        self.emailTemplateList = data;
                        self._showResult(self.emailTemplateList);
                    }).fail(function (e) {
                        console.error("Templates error is ", e);
                    });
                },
                clearTable: function (table) {
                    if (table !== null && table !== undefined) {
                        table.clear();
                        table.destroy();
                    }
                },
                _addEditTemplate: function (event) {
                    var self = this;
                    event.preventDefault();
                    self.templateId = "";
                    var text = "Add Template";
                    $('#htmlView').show();
                    $('#filterContainer').hide();
                    self.htmlDefination = "AddNew";
                },
                _showResult: function (resultData) {
                    var self = this;
                    var table = self.tableObj;
                    if (table !== null && table !== undefined) {
                        self.clearTable(table);
                    }
                    $.fn.dataTable.ext.errMode = 'none';
                    self.tableObj = $(this.$$('#emailTemplateTable')).DataTable({
                        retrieve: true,
                        sDom: '<"top">rt<"bottom"ip><"clear">',
                        "language": {
                            "zeroRecords": "No data found."
                        },
                        "data": resultData,
                        "order": [[0, "asc"]],
                        columnDefs: [
                            {
                                targets: 0,
                                width: "20%",
                                orderable: true
                            },
                            {
                                targets: 1,
                                width: "50%",
                                orderable: true
                            },
                            {
                                targets: 2,
                                width: "10%"
                            },
                            {
                                targets: 3,
                                width: "10%"
                            },
                            {
                                targets: 4,
                                width: "10%",
                                orderable: false
                            }
                        ],
                        "columns": [
                            {
                                "data": "name",
                                "title": "Name",
                                "className": "datatabletd",
                                "tooltip": "Template Name"
                            },
                            {
                                "data": "title",
                                "title": "Email Title",
                                "tooltip": "Email Title"
                            },
                            {
                                "data": "format",
                                "title": "Format",
                                "className": "datatabletd",
                                "tooltip": "Email Template Format"
                            },
                            {
                                "data": "version",
                                "title": "Version",
                                "className": "datatabletd",
                                "tooltip": "Email Template Version"
                            },
                            {
                                "data": null,
                                "isFunction": true,
                                "render": eval("(function(data,type,full,meta){var editHtmlTemplate = ''; var editMobileTemplate = ''; if((self.hasRole('ViewHtmlBtn') == true || self.hasRole('AddEditHtmlBtn') == true) && (data.format == 'Html')) { editHtmlTemplate= \"<li><a on-click='editHtmlTemplate' href='javascript:'>Edit Email Html</a></li>\"; } if((self.hasRole('ViewMobileTxtBtn') == true || self.hasRole('AddEditMobileTxtBtn') == true) && data.format == 'Text') { editMobileTemplate= \"<li><a on-click='editMobileTemplate' href='javascript:'>Edit Mobile Text</a></li>\"; }  return \"<ul class='nav navbar-right' style='font-size:15px; margin: 0 0 0 0;'><li class='dropdown'><a href='javascript:' class='dropdown-toggle' data-toggle='dropdown' role='button' aria-expanded='false' style='padding: 3px 0px 0 5px;'><i class='fa fa-ellipsis-h' aria-hidden='true'></i></a><ul class='dropdown-menu'>\" + editHtmlTemplate + editMobileTemplate + \"</ul></li></ul>\" })")
                            }
                        ]
                    });
                    $('#emailTemplateTable tbody').on('click', 'a', function (obj) {
                        var data = self.tableObj.row($(this).parents('tr')).data();
                        if (this.getAttribute("on-click") !== null && this.getAttribute("on-click") !== undefined) {
                            if (obj.target.textContent === "Edit Email Html") {
                                self.editHtmlTemplate(data.id);
                            }
                            else if (obj.target.textContent === "Edit Mobile Text") {
                                self.editMobileTemplate(data.id);
                            }

                        }

                    });

                    //Grid header tooltip
                    var configData = $('#emailTemplateTable').dataTable().dataTableSettings[0].aoColumns;
                    $('#emailTemplateTable thead tr')[0].childNodes.forEach(function (obj) {
                        var tooltipObj = _.filter(configData, { title: obj.innerText })
                        if (!_.isUndefined(tooltipObj) && !_.isNull(tooltipObj) && !_.isEmpty(tooltipObj)) {
                            var tooltip = tooltipObj[0].tooltip;
                            if (tooltip !== "" && tooltip !== undefined) {
                                $(obj).attr('title', tooltip);
                            }
                        }
                    });
                },
                editHtmlTemplate: function (objId) {
                    var self = this;
                    self.isEmailTemplate = true;
                    self.htmlDefination = objId;
                    $('#htmlView').show();
                    $('#filterContainer').hide();
                },
                editMobileTemplate: function (objId) {
                    var self = this;
                    self.isEmailTemplate = false;
                    self.htmlDefination = objId;
                    $('#htmlView').show();
                    $('#filterContainer').hide();
                },
                resetModal: function () {
                    var self = this;
                    self.templateId = "";
                    self.htmlDefination = "";
                },
                backToList: function () {
                    var self = this;
                    self.resetModal();
                    $('#htmlView').hide();
                    $('#filterContainer').show();
                }
            });
        });
    </script>
</dom-module>
<html-import html-href="email/html-editor.html"></html-import>