<dom-module id="manage-campaign">
    <template>
        <style>
            .custom-input {
                --paper-input-container-input: {
                    font-size: 11px;
                }
                --paper-input-container-label: {
                    font-size: 12px;
                }
            }

            .modal-dialog1 {
                width: 1000px;
                margin: 30px auto;
            }

            .modal-dialog2 {
                width: 1200px;
                margin: 30px auto;
            }

            #ErrorMessge p {
                color: #FF0000;
            }

            #ErrorMessgeRuleEditor p {
                color: #FF0000;
            }

            #SuccessMessge p {
                color: #008000;
            }

            .RangeAction {
                text-align: center;
                vertical-align: middle;
                width: 50px;
            }

            .handCursor {
                cursor: pointer;
            }

            .fa {
                font-size: 15px !important;
            }

            .divAttempts {
                height: 200px;
                overflow: auto;
            }
        </style>
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox-content">
                    <div class="row" id="filterContainer">
                        <template is="dom-if" if="{{hasRole('AddEditCampaignBtn')}}">
                            <div class="pull-right">
                                <paper-button class="btn btn-primary activity-action-btn" on-click="_addEditCampaign" raised>Add Campaign</paper-button>
                            </div>
                        </template>
                        <table id="campaignTemplateTable" class="table table-striped" width="100%" cellspacing="0">
                        </table>
                        <custom-modal id="addEditCampaign" class="modal-drop" on-modal-hidden="resetModal">
                            <div>
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                            <h4 class="modal-title campaignTitle"></h4>
                                        </div>
                                        <div class="modal-body">
                                            <div id="ErrorMessge" style="display: none;">
                                                <p></p>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <form is="iron-form" class="form-horizontal" name="campaignForm">
                                                        <div class="row">
                                                            <div class="panel-left col-md-6">
                                                                <vaadin-combo-box class="custom-input" name="productId" value="{{ProductId}}" item-value-path="value" item-label-path="key"
                                                                    items="{{ProductList}}" label="Select Product" prevent-invalid-input="true">
                                                                </vaadin-combo-box>
                                                            </div>
                                                            <div class="panel-left col-md-6">
                                                                <paper-input class="custom-input" type="text" auto-validate value="{{CampaignName}}" name="CampaignName" id="CampaignName"
                                                                    label="Campaign Name"></paper-input>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="panel-left col-md-6">
                                                                <paper-input class="custom-input" type="text" auto-validate value="{{SavedSearchName}}" name="SavedSearchName" id="SavedSearchName"
                                                                    label="Saved Search Name"></paper-input>
                                                            </div>
                                                            <div class="panel-left col-md-6">
                                                                <paper-input class="custom-input" type="number" auto-validate value="{{MaxAttempt}}" name="MaxAttempt" id="MaxAttempt" label="Max Attempt"></paper-input>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="panel-left col-md-6">
                                                                <vaadin-combo-box class="custom-input" name="PropertyTypeCombo" value="{{PropertyType}}" item-value-path="key" item-label-path="value"
                                                                    items="{{PropertyTypeCombo}}" label="Select Property Type"
                                                                    prevent-invalid-input="true" on-change="_onTypeChange">
                                                                </vaadin-combo-box>
                                                            </div>
                                                            <div class="panel-left col-md-6">
                                                                <vaadin-combo-box class="custom-input" id="PropertyValueCombo" name="PropertyValueCombo" value="{{PropertyValueSelected}}"
                                                                    item-value-path="key" item-label-path="value" items="{{PropertyValueCombo}}"
                                                                    label="Select Tag Type" prevent-invalid-input="true">
                                                                </vaadin-combo-box>

                                                                <paper-input class="custom-input" type="text" auto-validate value="{{PropertyValue}}" name="PropertyValue" id="PropertyValue"
                                                                    label="Property Value"></paper-input>
                                                            </div>
                                                        </div>
                                                        <table class="table">
                                                            <tr>
                                                                <td>
                                                                    <h4 class="modal-title">Add/Edit Attempts</h4>
                                                                </td>
                                                                <td align="right">
                                                                    <paper-button id="btnSave" class="btn btn-primary activity-action-btn" on-click="AddList" raised>Add Attempt</paper-button>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                        <div class="divAttempts">
                                                            <table class="table table-striped" id="ListTable">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Age</th>
                                                                        <th>Event Name</th>
                                                                        <th class="RangeAction"></th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <template is="dom-repeat" items="{{Attempts}}">
                                                                        <tr>
                                                                            <td>
                                                                                <paper-input class="custom-input" type="text" no-label-float="false" value="{{item.age}}" id="ProductId"></paper-input>
                                                                            </td>
                                                                            <td>
                                                                                <paper-input class="custom-input" type="text" no-label-float="false" value="{{item.eventName}}" id="ProductId"></paper-input>
                                                                            </td>
                                                                            <td class="RangeAction">
                                                                                <span>
                                                                                    <i class="fa fa-trash-o handCursor" aria-hidden="true" data-arg="{{item}}" on-click="DeleteListChange"></i>
                                                                                </span>
                                                                            </td>
                                                                        </tr>
                                                                    </template>

                                                                </tbody>
                                                            </table>
                                                        </div>

                                                        <template is="dom-if" if="{{hasRole('AddEditCampaignBtn')}}">
                                                            <paper-button class="btn btn-primary activity-action-btn" on-click="_verifyForm" raised>Submit</paper-button>
                                                        </template>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </custom-modal>
                    </div>
                </div>
            </div>
        </div>
        <http-request id="httpmacg"></http-request>
        <auth-service id="authorizemacg"></auth-service>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "manage-campaign",
                properties: {
                    ProductId: {
                        type: String,
                        notify: true
                    },
                    ProductList: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    CampaignName: {
                        type: String,
                        notify: true
                    },
                    SavedSearchName: {
                        type: String,
                        notify: true
                    },
                    MaxAttempt: {
                        type: String,
                        notify: true
                    },
                    PropertyType: {
                        type: String,
                        notify: true
                    },
                    PropertyValueSelected: {
                        type: String,
                        notify: true
                    },
                    PropertyValue: {
                        type: String,
                        notify: true
                    },
                    campaignList: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    Attempts: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    campaignId: {
                        type: String,
                        notify: true
                    },
                    PropertyTypeCombo: {
                        type: Array,
                        notify: true,
                        value: [
                            { key: "TaggedOn", value: "Tag" },
                            { key: "ApplicationDate", value: "Application Date" },
                            { key: "ExpiryDate", value: "Expiry Date" },
                            { key: "StatusDate", value: "Status Date" },
                            { key: "Submitted", value: "Submitted Date" }]
                    },
                    PropertyValueCombo: {
                        type: Array,
                        notify: true,
                        value: []
                    }
                },
                _onTypeChange: function (event) {
                    var self = this;
                    var selectedValues = event.target.value;
                    if (selectedValues != undefined && selectedValues !== "" && selectedValues == "TaggedOn") {
                        $('#PropertyValueCombo').show();
                        $('#PropertyValue').hide();
                    }
                    else {
                        $('#PropertyValueCombo').hide();
                        $('#PropertyValue').show();
                    }
                },
                attached: function () {
                    var self = this;
                    this.LoadTag();
                    self.loadCampaign();
                    self._getProductList();
                },
                loadCampaign: function () {
                    var self = this;
                    var url = "/all/campaign";
                    var campaignService = window.config.services.campaignService;
                    self.$.httpmacg.get(url, campaignService).then(function (data) {
                        self.campaignList = data;
                        self._showResult(self.campaignList);
                    }).fail(function (e) {
                        console.error("Campaign error is ", e);
                    });
                },
                clearTable: function (table) {
                    if (table !== null && table !== undefined) {
                        table.clear();
                        table.destroy();
                    }
                },
                _showResult: function (resultData) {
                    var self = this;
                    var table = self.tableObj;
                    if (table !== null && table !== undefined) {
                        self.clearTable(table);
                    }
                    $.fn.dataTable.ext.errMode = 'none';
                    self.tableObj = $(this.$$('#campaignTemplateTable')).DataTable({
                        retrieve: true,
                        sDom: '<"top">rt<"bottom"ip><"clear">',
                        "language": {
                            "zeroRecords": "No data found."
                        },
                        "data": resultData,
                        "order": [[0, "desc"]],
                        columnDefs: [
                            {
                                targets: 0,
                                width: "10%",
                                orderable: true
                            },
                            {
                                targets: 1,
                                width: "20%",
                                orderable: true
                            },
                            {
                                targets: 2,
                                width: "20%"
                            },
                            {
                                targets: 3,
                                width: "10%"
                            },
                            {
                                targets: 4,
                                width: "10%"
                            },
                            {
                                targets: 5,
                                width: "10%"
                            },
                            {
                                targets: 6,
                                width: "10%"
                            },
                            {
                                targets: 7,
                                width: "5%",
                                orderable: false
                            }
                        ],
                        "columns": [
                            {
                                "data": "productId",
                                "title": "Product",
                                "className": "datatabletd",
                                "tooltip": "Product"
                            },
                            {
                                "data": "campaignName",
                                "title": "Campaign Name",
                                "tooltip": "Campaign Name"
                            },
                            {
                                "data": "savedSearchName",
                                "title": "Saved Search Name",
                                "className": "datatabletd",
                                "tooltip": "Saved Search Name"
                            },
                            {
                                "data": "propertyDetail.propertyToBeEvaluate",
                                "title": "Property To Be Evaluate",
                                "className": "datatabletd",
                                "tooltip": "Property To Be Evaluate"
                            },
                            {
                                "data": "propertyDetail.propertyType",
                                "title": "Property Type",
                                "tooltip": "Property Type"
                            },
                            {
                                "data": "propertyDetail.propertyValue",
                                "title": "Property Value",
                                "className": "datatabletd",
                                "tooltip": "Property Value"
                            },
                            {
                                "data": "maxAttempt",
                                "title": "Max Attempt",
                                "className": "datatabletd",
                                "tooltip": "Max Attempt"
                            },
                            {
                                "data": null,
                                "isFunction": true,
                                "render": eval("(function(data,type,full,meta){var editCampaign=''; if(self.hasRole('ViewCampaignBtn') == true || self.hasRole('AddEditCampaignBtn') == true) { 		editCampaign=\"<li><a on-click='editCampaign' href='javascript:'>Edit Campaign</a></li>\" }; return \"<ul class='nav navbar-right' style='font-size:15px; margin: 0 0 0 0;'><li class='dropdown'><a href='javascript:' class='dropdown-toggle' data-toggle='dropdown' role='button' aria-expanded='false' style='padding: 3px 0px 0 5px;'><i class='fa fa-ellipsis-h' aria-hidden='true'></i></a><ul class='dropdown-menu'>\" + editCampaign + \"</ul></li></ul>\" })")
                            }
                        ]
                    });
                    $('#campaignTemplateTable tbody').on('click', 'a', function (obj) {
                        var data = self.tableObj.row($(this).parents('tr')).data();
                        if (this.getAttribute("on-click") !== null && this.getAttribute("on-click") !== undefined) {
                            if (obj.target.textContent === "Edit Campaign") {
                                self.editCampaign(data.id);
                            }
                        }
                    });

                    //Grid header tooltip
                    var configData = $('#campaignTemplateTable').dataTable().dataTableSettings[0].aoColumns;
                    $('#campaignTemplateTable thead tr')[0].childNodes.forEach(function (obj) {
                        var tooltipObj = _.filter(configData, { title: obj.innerText })
                        if (!_.isUndefined(tooltipObj) && !_.isNull(tooltipObj) && !_.isEmpty(tooltipObj)) {
                            var tooltip = tooltipObj[0].tooltip;
                            if (tooltip !== "" && tooltip !== undefined) {
                                $(obj).attr('title', tooltip);
                            }
                        }
                    });
                },
                hasRole: function (RoleName) {
                    return this.$.authorizemacg.hasRole(RoleName);
                },
                _addEditCampaign: function (event) {
                    event.preventDefault();
                    var self = this;
                    self.campaignId = "";
                    self.ProductId = "";
                    self.CampaignName = "";
                    self.SavedSearchName = "";
                    self.MaxAttempt = "";
                    self.PropertyType = "";
                    self.PropertyValue = "";
                    self.PropertyValueSelected = "";
                    self.Attempts = [];
                    var text = "Add Email Campaign";
                    $('.campaignTitle').text(text);
                    $('#PropertyValueCombo').hide();
                    $('#PropertyValue').show();
                    $('div#ErrorMessge p').html("");
                    $('div#ErrorMessge').hide();
                    self.$$('#addEditCampaign').showModal();
                },
                _changeTextDisplay: function (value) {
                    if (!_.isNull(value) && !_.isUndefined(value) && !_.isEmpty(value))
                        return _.startCase(_.lowerCase(value));
                    return "";
                },
                editCampaign: function (objId) {
                    var self = this;
                    if (!_.isUndefined(objId) && !_.isNull(objId) && !_.isEmpty(objId)) {
                        self.Attempts = [];
                        var campaignObj = self._getCampaignById(self.campaignList, "id", objId);
                        self.campaignId = campaignObj.id;
                        self.ProductId = campaignObj.productId
                        self.CampaignName = campaignObj.campaignName;
                        self.SavedSearchName = campaignObj.savedSearchName;
                        self.MaxAttempt = campaignObj.maxAttempt;
                        self.PropertyType = campaignObj.propertyDetail.propertyToBeEvaluate;
                        self.Attempts = campaignObj.attempts;
                        var text = "Edit " + self._changeTextDisplay(campaignObj.campaignName);
                        $('.campaignTitle').text(text);
                        if (self.PropertyType === "TaggedOn") {
                            self.PropertyValueSelected = campaignObj.propertyDetail.propertyValue;
                            $('#PropertyValueCombo').show();
                            $('#PropertyValue').hide();
                        }
                        else {
                            self.PropertyValue = campaignObj.propertyDetail.propertyValue;
                            $('#PropertyValueCombo').hide();
                            $('#PropertyValue').show();
                        }
                        self.$$('#addEditCampaign').showModal();
                    }
                },
                _getCampaignById: function (array, propName, scoreID) {
                    var Obj = array.filter(function (e) {
                        return e[propName] === scoreID;
                    })[0];
                    return Obj || {};
                },
                resetModal: function () {
                    var self = this;
                    self.campaignId = "";
                    self.ProductId = "";
                    self.CampaignName = "";
                    self.SavedSearchName = "";
                    self.MaxAttempt = "";
                    self.PropertyType = "";
                    self.PropertyValue = "";
                    self.PropertyValueSelected = "";
                    $('div#ErrorMessge p').html("");
                    $('div#ErrorMessge').hide();
                    self.Attempts = [];
                },
                validateForm: function () {
                    var self = this;
                    if ((self.PropertyType == "TaggedOn") && (_.isEmpty(self.ProductId) || _.isEmpty(self.CampaignName) || _.isEmpty(self.SavedSearchName) || _.isEmpty(self.MaxAttempt.toString()) || _.isEmpty(self.PropertyValueSelected))) {
                        $('div#ErrorMessge p').html("All Fields are required");
                        $('div#ErrorMessge').show();
                        return false;
                    }
                    else if (_.isEmpty(self.PropertyType) || _.isEmpty(self.ProductId) || _.isEmpty(self.CampaignName) || _.isEmpty(self.SavedSearchName) || _.isEmpty(self.MaxAttempt.toString())) {
                        $('div#ErrorMessge p').html("All Fields are required");
                        $('div#ErrorMessge').show();
                        return false;
                    }
                    return true;
                },
                _verifyForm: function (event) {
                    event.preventDefault();
                    var self = this;
                    var form = Polymer.dom(event).localTarget.parentElement;
                    var RuleClassobj = "emailTemplate";
                    if (self.validateForm()) {
                        if (!_.isUndefined(self.campaignId) && !_.isNull(self.campaignId) && !_.isEmpty(self.campaignId)) {
                            var PropertyType = "Other";
                            var PropertyValue = self.PropertyValue;
                            if (self.PropertyType === "TaggedOn") {
                                PropertyType = "Tag";
                                PropertyValue = self.PropertyValueSelected;
                            }

                            var PropertyDetailObj = {
                                PropertyToBeEvaluate: self.PropertyType,
                                PropertyType: PropertyType,
                                PropertyValue: PropertyValue
                            };

                            var Payload = {
                                CampaignName: self.CampaignName,
                                SavedSearchName: self.SavedSearchName,
                                MaxAttempt: self.MaxAttempt,
                                Attempts: self.Attempts,
                                PropertyDetail: PropertyDetailObj
                            }

                            var campaignService = window.config.services.campaignService;
                            var url = "/" + self.campaignId + "/campaign";
                            self.$.httpmacg.put(url, Payload, campaignService).then(function (result) {
                                $('.close').click();
                                self.loadCampaign();
                            }).fail(function (e) {
                                var strMessage = "Failed to complete the operation. " + e.responseJSON.message;
                                $('div#ErrorMessge p').html(strMessage);
                                $('div#ErrorMessge').show();
                                setTimeout(function () {
                                    $('div#ErrorMessge').hide();
                                }, 2000);
                                console.error("Campaign save error is ", e);
                            });
                        }
                        else {
                            if (!_.isUndefined(self.ProductId) && !_.isNull(self.ProductId) && !_.isEmpty(self.ProductId)) {
                                var PropertyType = "Other";
                                var PropertyValue = self.PropertyValue;
                                if (self.PropertyType === "TaggedOn") {
                                    PropertyType = "Tag";
                                    PropertyValue = self.PropertyValueSelected;
                                }
                                var PropertyDetailObj = {
                                    PropertyToBeEvaluate: self.PropertyType,
                                    PropertyType: PropertyType,
                                    PropertyValue: PropertyValue
                                };

                                var Payload = {
                                    CampaignName: self.CampaignName,
                                    SavedSearchName: self.SavedSearchName,
                                    MaxAttempt: self.MaxAttempt,
                                    Attempts: self.Attempts,
                                    PropertyDetail: PropertyDetailObj
                                }
                                var campaignService = window.config.services.campaignService;
                                var url = "/" + self.ProductId + "/campaign";
                                self.$.httpmacg.post(url, Payload, campaignService).then(function (result) {
                                    $('.close').click();
                                    self.loadCampaign();
                                }).fail(function (e) {
                                    var strMessage = "Failed to complete the operation. " + e.responseJSON.message;
                                    $('div#ErrorMessge p').html(strMessage);
                                    $('div#ErrorMessge').show();
                                    setTimeout(function () {
                                        $('div#ErrorMessge').hide();
                                    }, 2000);
                                });
                            }
                        }
                    }
                },
                DeleteListChange: function (obj) {
                    var self = this;
                    var objData = $(obj)[0].currentTarget.dataArg;
                    temp = self.GetListUpdatedResult(objData);
                    self.set('Attempts', $.extend([], temp));
                },
                GetListUpdatedResult: function (objData) {
                    var self = this;
                    var result = _.filter(self.Attempts, function (item) {
                        return ((item.age != objData.age) && (item.eventName != objData.eventName));
                    });
                    return result || [];
                },
                AddList: function (event) {
                    event.preventDefault();
                    var self = this;
                    var temp = [];
                    temp = self.Attempts;
                    temp.push({ age: "", eventName: "" });
                    self.set('Attempts', $.extend([], temp));
                },
                _GetTag: function (arr) {
                    var self = this;
                    var result = [];
                    result = _.filter(arr, function (item) {
                        if (item.ApplyTags != undefined) {
                            return item.ApplyTags;
                        }
                    });
                    var historyList = [];
                    $.each(result, function (item, data) {
                        $.each(data.ApplyTags, function (x, y) {
                            historyList.push(y);
                        });
                    });
                    return historyList || [];
                },
                LoadTag: function () {
                    var self = this;
                    self.$.httpmacg.get("/configuration/tagging-events", "").then(function (result) {
                        var StatusObj = self._GetTag(result.events);
                        var StatusObj = _.uniqBy(StatusObj);
                        if (StatusObj) {
                            for (var i = 0; i < StatusObj.length; i++) {
                                self.PropertyValueCombo.push({ key: StatusObj[i], value: StatusObj[i] });
                            }
                            self.set('PropertyValueCombo', $.extend([], self.PropertyValueCombo));
                        }
                    }).fail(function (e) {
                        console.error("not able to load status configurations.", e);
                    });
                },
                _getProductList: function () {
                    var self = this;
                    var url = "/all/product";
                    var multiProducts = window.config.services.multiProducts;
                    self.$.httpmacg.get(url, multiProducts).then(function (data) {
                        var ProductList = _.transform(data, function (result, item) {
                            result.push({ key: item.productId, value: item.productId });
                        }, []);
                        self.ProductList = ProductList;
                    }).fail(function (e) {
                        console.error("Product List error is ", e);
                    });
                }
            });
        });
    </script>
</dom-module>