<dom-module id="add-deviation">
    <template>
        <div class="row">
            <div class="col-md-12">
                <form is="iron-form" class="form-horizontal" name="addDeviationApp">
                    <dynamic-form form-configuration={{addDeviationobj}} values="{{addDeviationobj.values}}"></dynamic-form>
                    <br>
                    <paper-button class="btn btn-primary activity-action-btn" on-click="_verifyForm" raised>Submit</paper-button>
                    <paper-button id="formResetButton_addDev" class="btn btn-primary activity-action-btn" style="display: none;" on-click="_formReset"
                        raised>Reset</paper-button>
                </form>
            </div>
        </div>
        <http-request id="http"></http-request>
        <utility-service id="utility"></utility-service>
        <message-component id="message"></message-component>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "add-deviation",
                properties: {
                    addDeviationobj: {
                        type: Object,
                        notify: true,
                        value: {
                            controls: {
                                deviation: {
                                    label: "Deviation",
                                    type: "textbox",
                                    validations: {
                                        required: true
                                    }
                                }
                            },
                            values: {
                                deviation: ""
                            }
                        }
                    },
                    addDeviationobjList: {
                        type: Array,
                        notify: true
                    },
                    dataAttributes: {
                        type: Object,
                        notify: true,
                        observer: '_loadDataAttributes'
                    }
                },
                init: function () {

                },
                _formReset: function (event) {
                    var form = Polymer.dom(event).localTarget.parentElement;
                    form.reset();
                },
                _loadDataAttributes: function () {
                    var self = this;
                    var _dataAttributes = self.dataAttributes;
                    if (_dataAttributes) {
                        if (_dataAttributes.hasOwnProperty('deviation')) {
                            self.set("addDeviationobjList", _dataAttributes.deviation);
                        }
                    }
                },
                _verifyForm: function (e) {
                    e.preventDefault();
                    var self = this;
                    var form = Polymer.dom(e).localTarget.parentElement;
                    var dataattributeEndPoint = window.config.services.dataAttributes;
                    var dataList = self.get("addDeviationobjList") || [];
                    var payload = self.addDeviationobj.values;
                    if (form.validate()) {
                        dataList.push(payload);
                        var url = window.config.services.dataAttributesdeviation;
                        var url1 = url.replace("applicationNumber", self.applicationNumber)
                        self.$.http.post(url1, dataList, dataattributeEndPoint, true).then(function (data) {
                            $('#formResetButton_addDev').click();
                            self.raiseAppRefreshEvent(e);
                        }).fail(function (e) {
                            console.error("save cam/fcudata error is ", e);
                        });
                    }
                },
                raiseAppRefreshEvent: function (event) {
                    this.$.utility.raiseEvent(this.fireEvent, {
                        ActionName: "AddDeviation",
                        EventData: event,
                        CompnentName: 'add-deviation'
                    });
                }
            });
        });
    </script>
</dom-module>