<dom-module id="add-FOIR-DTI-calculation">
    <template>
        <div class="row">
            <div class="col-md-12">
                <form is="iron-form" class="form-horizontal" name="addFoirDtiCal">
                    <dynamic-form form-configuration={{addFoirDtiobj}} values="{{addFoirDtiobj.values}}"></dynamic-form>
                    <br>
                    <paper-button class="btn btn-primary activity-action-btn" on-click="_verifyForm" raised>Submit</paper-button>
                    <paper-button id="formResetButton" class="btn btn-primary activity-action-btn" style="display: none;" on-click="_formReset"
                        raised>Reset</paper-button>
                </form>
            </div>
        </div>
        <http-request id="http"></http-request>
        <utility-service id="utility"></utility-service>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "add-FOIR-DTI-calculation",
                properties: {
                    addFoirDtiobj: {
                        type: Object,
                        notify: true,
                        value: {
                            controls: {
                                typeOfLoan: {
                                    label: "Type of Loan",
                                    type: "textbox",
                                    validations: {
                                        required: true
                                    }
                                },
                                obligatedAmount: {
                                    label: "Obligated Amount",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false,
                                        pattern: 'DECIMAL',
                                        minLen: 0,
                                        maxLen: 10
                                    }
                                },
                                comments: {
                                    label: "Comments",
                                    type: "textbox",
                                    validations: {
                                        required: false
                                    }
                                }
                            },
                            values: {
                                typeOfLoan: "",
                                obligatedAmount: "",
                                comments: ""
                            }
                        }
                    },
                    addFoirDtiobjList: {
                        type: Array,
                        notify: true
                    },
                    dataAttributes: {
                        type: Object,
                        notify: true,
                        observer: '_loadDataAttributes'
                    }
                },
                init: function () {

                },
                _formReset: function (event) {
                    var form = Polymer.dom(event).localTarget.parentElement;
                    form.reset();
                },
                _loadDataAttributes: function () {
                    var self = this;
                    var _dataAttributes = self.dataAttributes;
                    if (_dataAttributes) {
                        if (_dataAttributes.hasOwnProperty('foirDtiCalculation')) {
                            self.set("addFoirDtiobjList", _dataAttributes.foirDtiCalculation);
                        }
                    }
                },
                _verifyForm: function (e) {
                    e.preventDefault();
                    var self = this;
                    var form = Polymer.dom(e).localTarget.parentElement;
                    var dataattributeEndPoint = window.config.services.dataAttributes;
                    var dataList = self.get("addFoirDtiobjList") || [];
                    var payload = self.addFoirDtiobj.values;
                    if (form.validate()) {
                        dataList.push(payload);
                        var url = window.config.services.dataAttributesaddnew;
                        var url1 = url.replace("applicationNumber", self.applicationNumber)
                        self.$.http.post(url1, dataList, dataattributeEndPoint, true).then(function (data) {
                            $('#formResetButton').click();
                            self.raiseAppRefreshEvent(e);
                        }).fail(function (e) {
                            console.error("save cam/fcudata error is ", e);
                        });
                    }
                },
                raiseAppRefreshEvent: function (event) {
                    this.$.utility.raiseEvent(this.fireEvent, {
                        ActionName: "AddFOIRDTICalculation",
                        EventData: event,
                        CompnentName: 'add-FOIR-DTI-calculation'
                    });
                }
            });
        });
    </script>
</dom-module>