<dom-module id="add-manual-offer">
    <template>
        <style>
            .custom-input {
                --paper-input-container-input: {
                    font-size: 11px;
                }
                --paper-input-container-label: {
                    font-size: 12px;
                }
            }
        </style>
        <div id="ErrorMessge"></div>
        <div class="row">
            <div class="col-md-12">
                <form is="iron-form" class="form-horizontal" name="addManualOfferForm">
                    <div class="row">
                        <div class="col-md-12">
                            <vaadin-combo-box name="Term" value="{{SelectedTerm}}" class="custom-input" item-value-path="key" item-label-path="value"
                                items="{{Terms}}" label="Term" prevent-invalid-input="true" required>
                            </vaadin-combo-box>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <paper-input type="number" class="custom-input" auto-validate allowed-pattern="[\w]" pattern="^[0-9]$" min="{{LoanAmountvalidations.min}}"
                                max="{{LoanAmountvalidations.max}}" maxlength="6" value="{{LoanAmount}}" name="loanamount" id="loanamount"
                                label="Loan amount" required></paper-input>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <paper-input class="custom-input" type="number" auto-validate allowed-pattern="[\w]" pattern="^[0-9]$" min="1" maxlength="7"
                                value="{{ProcessingFee}}" name="ProcessingFee" id="ProcessingFee" label="Processing fee" required></paper-input>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <paper-input type="number" class="custom-input" auto-validate allowed-pattern="[\w]" pattern="^[0-9]$" min="1" max="500000"
                                maxlength="6" value="{{Emi}}" name="emi" id="emi" label="Emi" required></paper-input>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <paper-input auto-validate pattern="^\s*(?=.*[1-9])\d*(?:\.\d{1,2})?\s*$" class="custom-input" value="{{InterestRate}}" maxlength="5"
                                name="InterestRate" id="InterestRate" label="Interest rate" required></paper-input>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <paper-input auto-validate pattern="^\s*(?=.*[1-9])\d*(?:\.\d{1,2})?\s*$" value="{{ProcessingFeePercentage}}" maxlength="5"
                                name="ProcessingFeePercentage" class="custom-input" id="ProcessingFeePercentage" label="Processing Fee Percentage"
                                required></paper-input>
                        </div>
                    </div>
                    <paper-button id="addManualOfferBtn" class="btn btn-primary activity-action-btn" on-click="_verifyForm" raised>Submit</paper-button>
                    <paper-button id="formResetButton_addManual" class="btn btn-primary activity-action-btn" style="display: none;" on-click="_formReset"
                        raised>Reset</paper-button>
                </form>
            </div>
        </div>
        <http-request id="http"></http-request>
        <utility-service id="utility"></utility-service>
        <message-component id="message"></message-component>
        <alloy-config id="config"></alloy-config>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "add-manual-offer",
                properties: {
                    Terms: {
                        type: Array,
                        notify: true,
                        value: [
                            { "key": "06", "value": "6 Month" },
                            { "key": "12", "value": "1 Year" },
                            { "key": "24", "value": "2 Year" },
                            { "key": "36", "value": "3 Year" },
                            { "key": "48", "value": "4 Year" },
                            { "key": "60", "value": "5 Year" }
                        ]
                    },
                    SelectedTerm: {
                        type: String,
                        notify: true,
                        value: "",
                    },
                    LoanAmount: {
                        type: String,
                        notify: true,
                        value: "",
                    },
                    InterestRate: {
                        type: String,
                        notify: true,
                        value: "",
                    },
                    ProcessingFee: {
                        type: String,
                        notify: true,
                        value: "",
                    },
                    Emi: {
                        type: String,
                        notify: true,
                        value: "",
                    },
                    ProcessingFeePercentage: {
                        type: String,
                        notify: true,
                        value: "",
                    },
                    LoanAmountvalidations: {
                        type: Object,
                        notify: true,
                        value: {},
                    }
                },
                init: function () {
                },
                ready: function () {
                    var self = this;
                    var loanAmountConfig = self.$.config.getConfigurationBasedOnKey("loanAmount");
                    self.set("LoanAmountvalidations", loanAmountConfig);
                },
                _formReset: function (event) {
                    var form = Polymer.dom(event).localTarget.parentElement;
                    form.reset();
                },
                _verifyForm: function (event) {
                    event.preventDefault();
                    var self = this;
                    var form = Polymer.dom(event).localTarget.parentElement;
                    if (form.validate()) {
                        var payload = {
                            loantenure: self.SelectedTerm,
                            offerAmount: 0,
                            emi: self.Emi,
                            finalOfferAmount: self.LoanAmount,
                            netMonthlyIncome: 0,
                            currentEMINMI: 0,
                            maxPermittedEMI: 0,
                            processingFee: self.ProcessingFee,
                            processingFeePercentage: self.ProcessingFeePercentage,
                            calculatedProcessingFee: 0,
                            interestRate: self.InterestRate,
                            manualReview: false,
                            isSelected: false,
                            rejectCode: null
                        };
                        var offerEngine = window.config.services.appProcessor;
                        var url = "/offer/" + self.applicationNumber + "/addmanualfinaloffer";
                        self.$.http.put(url, payload, offerEngine, true).then(function (data) {
                            $('button#addManualOfferBtn').hide();
                            $('#formResetButton_addManual').click();
                            self.raiseAppRefreshEvent(event);
                        }).fail(function (e) {
                            self.$.message.showMessage("Error occurred while performing the operation. Failed to complete the operation", "ERROR", self.$.ErrorMessge);
                        });
                    }
                },
                raiseAppRefreshEvent: function (event) {
                    this.$.utility.raiseEvent(this.fireEvent, {
                        ActionName: "AddManualOffer",
                        EventData: event,
                        CompnentName: 'add-manual-offer'
                    });
                }
            });
        });
    </script>
</dom-module>