<dom-module id="save-ancillary">
    <style>
        .custom-input {
            --paper-input-container-input: {
                font-size: 11px;
            }
            --paper-input-container-label: {
                font-size: 12px;
            }
        }

        .set-vertical-height {
            height: 500px;
            overflow-y: scroll;
        }
    </style>
    <template>
        <div class="row">
            <div class="col-md-12 set-vertical-height">
                <div id="ErrorMessge"></div>
                <form is="iron-form" class="form-horizontal" name="AncillaryApplication">
                    <div class="row">
                        <div class="col-md-12">
                            <vaadin-combo-box name="Community" class="custom-input" id="Community" value="{{selectedCommunity}}" item-value-path="key"
                                item-label-path="value" items="[[communitySelectList]]" label="Select Community" prevent-invalid-input="true"
                                required>
                            </vaadin-combo-box>
                        </div>
                    </div>
                    <dynamic-form form-configuration={{ancillaryObj}} values="{{ancillaryObj.values}}"></dynamic-form>
                    <br>
                    <paper-button class="btn btn-primary activity-action-btn" on-click="_verifyForm" raised>Submit</paper-button>
                </form>
            </div>
        </div>
        <http-request id="http"></http-request>
        <utility-service id="utility"></utility-service>
        <message-component id="message"></message-component>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "save-ancillary",
                properties: {
                    ancillaryObj: {
                        type: Object,
                        notify: true,
                        value: {
                            controls: {
                                Category: {
                                    label: "Caste",
                                    type: "radiogroup",
                                    radioList: [
                                        { key: "General", value: "General" },
                                        { key: "SC", value: "SC" },
                                        { key: "ST", value: "ST" },
                                        { key: "OBC", value: "OBC" },
                                        { key: "Other", value: "Other" }
                                    ]
                                },
                                DocumentDate: {
                                    label: "KYC Document Expiry Date",
                                    title: "KYC Document Expiry Date",
                                    type: "date",
                                    format: "DD-MM-YYYY",
                                    validations: {
                                        required: false
                                    }
                                },
                                KYCDocumentNumber: {
                                    label: "KYC Document Number",
                                    type: "textbox",
                                    validations: {
                                        required: false,
                                        minLen: 1,
                                        MaxLen: 15
                                    }
                                },
                                MothersMaidenName: {
                                    label: "Mothers Maiden Name",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: true,
                                        autovalidate: true,
                                        minLen: 1,
                                        maxLen: 60
                                    }
                                },
                                CurrentResidenceYears: {
                                    label: "Current Residence Years",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: true,
                                        autovalidate: true,
                                        pattern: 'ONEDECIMAL',
                                        minLen: 1,
                                        maxLen: 10
                                    }
                                },
                                CurrentCityYears: {
                                    label: "Current City Years",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: true,
                                        autovalidate: true,
                                        pattern: 'ONEDECIMAL',
                                        minLen: 1,
                                        maxLen: 10
                                    }
                                },
                                CurrentWorkExperience: {
                                    label: "Current Work Experience",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: true,
                                        autovalidate: true,
                                        pattern: 'ONEDECIMAL',
                                        minLen: 1,
                                        maxLen: 10
                                    }
                                },
                                KYCDocumentType: {
                                    label: "KYC Document Type",
                                    type: "textbox",
                                    validations: {
                                        required: false,
                                        readonly: false,
                                        charcounter: true,
                                        autovalidate: true,
                                        minLen: 1,
                                        maxLen: 60
                                    }
                                },
                                DependentsCount: {
                                    label: "No. Of Dependents",
                                    type: "number",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: true,
                                        minLen: 1,
                                        maxLen: 64
                                    }
                                },
                                FatherOrSpouseName: {
                                    label: "Father/Spouse Name",
                                    type: "textbox",
                                    validations: {
                                        required: false,
                                        readonly: false,
                                        charcounter: true,
                                        autovalidate: true,
                                        minLen: 1,
                                        maxLen: 60
                                    }
                                }
                            },
                            values: {
                                Religion: "",
                                Category: "General",
                                DocumentDate: "",
                                KYCDocumentNumber: "",
                                MothersMaidenName: "",
                                CurrentResidenceYears: 0.0,
                                CurrentCityYears: 0.0,
                                CurrentWorkExperience: 0.0,
                                KYCDocumentType: "",
                                DependentsCount: "",
                                FatherOrSpouseName: ""
                            }
                        }
                    },
                    communitySelectList: {
                        type: Array,
                        notify: true,
                        value: [
                            { key: 'Hindu', value: 'Hindu' },
                            { key: 'Muslim', value: 'Muslim' },
                            { key: 'Christian', value: 'Christian' },
                            { key: 'Sikh', value: 'Sikh' },
                            { key: 'Zoroastrian', value: 'Zoroastrian' },
                            { key: 'Jain', value: 'Jain' },
                            { key: 'Other', value: 'Other' }
                        ]
                    },
                    selectedCommunity: {
                        type: String,
                        notify: true,
                        value: ""
                    },
                    dataAttributes: {
                        type: Object,
                        notify: true,
                        reflectToAttribute: true,
                        observer: '_loadDataAttributes'
                    }
                },
                init: function () {
                },
                ready: function () {
                    this.ancillaryObj.controls.DocumentDate.i18n = this.i18n;
                },
                _formatDate: function (date) {
                    if (date !== "")
                        return moment.tz(date, window.config.timezone).format("YYYY-MM-DD");
                    else
                        return moment.tz(window.config.timezone).format("YYYY-MM-DD");
                },
                _loadDataAttributes: function () {
                    var self = this;
                    var _ancillaryObj = _.cloneDeep(self.ancillaryObj);
                    var _dataAttributes = self.dataAttributes;
                    if (_dataAttributes) {
                        if (_dataAttributes.hasOwnProperty('ancillaryData')) {
                            _ancillaryObj.values = _dataAttributes.ancillaryData;
                            if (!_.isNull(_dataAttributes.ancillaryData.DocumentDate) && !_.isUndefined(_dataAttributes.ancillaryData.DocumentDate) && !_.isEmpty(_dataAttributes.ancillaryData.DocumentDate)) {
                                _ancillaryObj.values.DocumentDate = self._formatDate(_dataAttributes.ancillaryData.DocumentDate);
                            }
                            else {
                                _ancillaryObj.values.DocumentDate = "";
                            }
                            self.selectedCommunity = _dataAttributes.ancillaryData.Religion;
                            self.set('ancillaryObj', _ancillaryObj);
                        }
                        else {
                            var Obj = {
                                Religion: "",
                                Category: "General",
                                DocumentDate: "",
                                KYCDocumentNumber: "",
                                MothersMaidenName: "",
                                CurrentResidenceYears: 0.0,
                                CurrentCityYears: 0.0,
                                CurrentWorkExperience: 0.0,
                                KYCDocumentType: "",
                                DependentsCount: "",
                                FatherOrSpouseName: ""
                            };
                            _ancillaryObj.values = Obj;
                            self.set('ancillaryObj', _ancillaryObj);
                        }
                    }
                },
                _verifyForm: function (e) {
                    e.preventDefault();
                    var self = this;
                    var form = Polymer.dom(e).localTarget.parentElement;
                    var offerEndPoint = window.config.services.appProcessor;
                    if (form.validate()) {
                        self.ancillaryObj.values.Religion = self.selectedCommunity;
                        var payload = self.ancillaryObj.values;
                        payload.DocumentDate = payload.DocumentDate == "" ? self._formatDate("") : moment.tz(payload.DocumentDate, window.config.timezone).format("YYYY-MM-DD");
                        var url = "/application/" + self.applicationNumber + "/ancillarydata";
                        self.$.http.post(url, payload, offerEndPoint, true).then(function (data) {
                            self.$.message.showMessage("Operation completed successfully.", "INFO", self.$.ErrorMessge);
                            self.raiseAppRefreshEvent(e);
                        }).fail(function (e) {
                            console.error("save ancillarydata error is ", e);
                        });
                    }
                },
                raiseAppRefreshEvent: function (event) {
                    this.$.utility.raiseEvent(this.fireEvent, {
                        ActionName: "UpdateAncillaryData",
                        EventData: event,
                        CompnentName: 'save-ancillary'
                    });
                }
            });
        });
    </script>
</dom-module>