<dom-module id="approve-application">
    <template>
        <div id="ApproveAppErrorMessge"></div>
        <div class="slide-action">
            <button id="approveApplication" on-click="approveApplication" class="btn btn-primary activity-action-btn"
                raised>Approve Application</button>
        </div>
        <http-request id="http"></http-request>
        <utility-service id="utility"></utility-service>
        <message-component id="message"></message-component>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "approve-application",
                approveApplication: function (event) {
                    var self = this;
                    var offerEndPoint = window.config.services.appProcessor;
                    var url = "/status-management/" + self.applicationNumber + "/applicationapproved";
                    self.$.http.post(url, {}, offerEndPoint, true).then(function (data) {
                        $('button#approveApplication').hide();
                        self.raiseAppRefreshEvent(event);
                    }).fail(function (e) {
                        self.$.message.showMessage(e.responseJSON.message, "ERROR", self.$.ApproveAppErrorMessge);
                    });
                },
                init: function () {

                },
                raiseAppRefreshEvent: function (event) {
                    this.$.utility.raiseEvent(this.fireEvent, {
                        ActionName: "ApproveApplication",
                        EventData: event,
                        CompnentName: 'approve-application'
                    });
                }
            });
        });
    </script>
</dom-module>