<dom-module id="approve-bankqa-application">
    <template>
        <div id="ApproveAppErrorMessge"></div>
        <div class="slide-action">
            <button id="approveApplication" on-click="approveApplication" class="btn btn-primary activity-action-btn" raised>Approve Application</button>
        </div>
        <http-request id="http"></http-request>
        <utility-service id="utility"></utility-service>
        <message-component id="message"></message-component>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "approve-bankqa-application",
                approveApplication: function (event) {
                    var self = this;

                    var payload = {
                        EntityId: self.applicationNumber
                    };
                    var eventHub = window.config.services.eventHub;
                    var url = "/ApplicationRemoveReadyforBankQA";
                    self.$.http.post(url, payload, eventHub, true).then(function (data) {
                        $('button#approveApplication').hide();
                        self.raisExternalEvent();
                    }).fail(function (e) {
                        self.$.message.showMessage(e.responseJSON.message, "ERROR", self.$.ApproveAppErrorMessge);
                    });
                },
                init: function () {

                },
                raisExternalEvent: function () {
                    var self = this;
                    var payload = {
                        ApplicationNumber: self.applicationNumber,
                        TagName: "Ready for BankQA",
                        EventSource: "Backoffice"
                    };
                    var eventHub = window.config.services.eventHub;
                    var url = "/TagRemovedforBankQA";
                    self.$.http.post(url, payload, eventHub, true).then(function (data) {
                        self.raiseAppRefreshEvent(event);
                    }).fail(function (error) {
                        console.error("eventhub TagRemovedforBankQA error is ", error);
                    });
                },
                raiseAppRefreshEvent: function (event) {
                    this.$.utility.raiseEvent(this.fireEvent, {
                        ActionName: "ApproveBankQAApplication",
                        EventData: event,
                        CompnentName: 'approve-bankqa-application'
                    });
                }
            });
        });
    </script>
</dom-module>