<dom-module id="approve-fullerton-application">
    <template>
        
        <div class="slide-action">
            <button id="approveApplication" on-click="approveApplication" class="btn btn-primary activity-action-btn" raised>Approve Application</button>
        </div>
        <div id="ErrorMessge"></div>
        <http-request id="http"></http-request>
        <url-parser id="url"></url-parser>
        <utility-service id="utility"></utility-service>
        <message-component id="message"></message-component>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "approve-fullerton-application",
                properties: {
                    statusObj: {
                        type: String,
                        notify: true,
                        observer: '_loadStatusObj'
                    }
                },
                _loadStatusObj: function () {
                    var self = this;
                    var _statusObj = _.cloneDeep(self.statusObj);
                    if (_statusObj) {
                        self.set("statusWorkFlowId", _statusObj.statusWorkFlowId);
                    }
                },
                approveApplication: function (event) {
                    var self = this;
                    var params = self.$.url.getParams();
                    var payload = {
                        Note: "",
                        reasons : []
                    };
                    var url = '/application/' + self.applicationNumber + '/' + self.statusWorkFlowId + '/' + '200.11';
                    self.$.http.put(url, payload,  window.config.services.statusManagement).then(function (data) {
                        self.raiseAppRefreshEvent(event);
                    }).fail(function (e) {
                        self.$.message.showMessage("Failed to complete the operation. " + e.responseJSON.message, "ERROR", self.$.ErrorMessge);
                    });
                },
                init: function () {
                    this._loadStatusObj();
                },
                raiseAppRefreshEvent: function (event) {
                    this.$.utility.raiseEvent(this.fireEvent, {
                        ActionName: "ApproveFullertonApplication",
                        EventData: event,
                        CompnentName: 'approve-fullerton-application'
                    });
                }
            });
        });
    </script>
</dom-module>