<dom-module id="change-lender">
    <template>
        <style>
            .custom-input {
                --paper-input-container-input: {
                    font-size: 11px;
                }
                --paper-input-container-label: {
                    font-size: 12px;
                }
            }

            .set-vertical-height {
                height: 500px;
                overflow-y: scroll;
            }
        </style>
        <div class="row">
            <div id="ErrorMessge"></div>
            <div class="col-md-12">
                <form is="iron-form" class="form-horizontal" name="ChangeLender">

                    <dynamic-form form-configuration={{productObj}} values="{{productObj.values}}"></dynamic-form>
                    <br>
                    <paper-button class="btn btn-primary activity-action-btn" on-click="switchProduct" raised>Change Lender</paper-button>

                </form>
            </div>
        </div>
        <url-parser id="urlappi"></url-parser>
        <http-request id="http"></http-request>
        <alloy-config id="config"></alloy-config>
        <utility-service id="utility"></utility-service>
        <message-component id="message"></message-component>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "change-lender",
                properties: {
                    productObj: {
                        type: Object,
                        notify: true,
                        value: {
                            controls: {
                                product: {
                                    label: "Lender",
                                    type: "combobox",
                                    selectList: [],
                                    labelKey: "value",
                                    labelValue: "key",
                                    validations: {
                                        required: true
                                    }
                                }
                            },
                            values: {
                                product: ""
                            }
                        }
                    },
                    dataAttributes: {
                        type: Object,
                        notify: true,
                        observer: '_loadDataAttributes'
                    }
                },
                _loadDataAttributes: function () {
                    var self = this;
                    var _dataAttributes = self.dataAttributes;
                    if (_dataAttributes) {
                        if (_dataAttributes.hasOwnProperty('application')) {
                            self.set(self.productObj.values.product, _dataAttributes.application.productId);
                        }
                    }
                },
                switchProduct: function (event) {
                    event.preventDefault();
                    var self = this;
                    var appProcessor = window.config.services.appProcessor;
                    var selectedProduct = self.productObj.values.product;
                    var params = self.$.urlappi.getParams();
                    var form = Polymer.dom(event).localTarget.parentElement;
                    if (form.validate()) {
                        var url = "application/switchproduct" + "/" + self.applicationNumber + "/" + selectedProduct;
                        self.$.http.put(url, {}, appProcessor, true).then(function (result) {
                            self._getStatusworkflow(self.applicationNumber, selectedProduct);
                        }).fail(function (event) {
                            self.raiseAppRefreshEvent(event);
                        });
                    } else {
                        self.$.message.showMessage("Please select One option.", "ERROR", self.$.ErrorMessge);
                    }
                },
                _loadProduct: function () {
                    var self = this;
                    var data = self.$.config.getConfigurationBasedOnKey("products");
                    var params = self.$.urlappi.getParams();
                    var tempList = _.transform(data, function (result, value, key) {
                        if (key !== params.product)
                            result.push({ key: key, value: value });
                    }, []);
                    var productObj = _.cloneDeep(self.productObj);
                    productObj.controls.product.selectList = tempList;
                    self.set('productObj', productObj);
                },
                _getStatusworkflow: function (applicationNumber, selectedProduct) {
                    var self = this;
                    var params = self.$.urlappi.getParams();
                    var url = '/application/' + applicationNumber + '/' + selectedProduct + '/' + 'statusbyproduct';
                    self.$.http.get(url,  window.config.services.statusManagement).then(function (data) {
                        self.redirectToNewProduct(selectedProduct, data[0].statusWorkFlowId);
                    });
                },
                raiseAppRefreshEvent: function (event) {
                    this.$.utility.raiseEvent(this.fireEvent, {
                        ActionName: "ChangeLedner",
                        EventData: event,
                        CompnentName: 'change-lender'
                    });
                },
                init: function () {
                    this._loadProduct();
                },
                redirectToNewProduct: function (productId, statusWFId) {
                    var self = this;
                    var params = self.$.urlappi.getParams();
                    var redirect = "/app-details/entity:application/filter:" + params.filter;
                    redirect = redirect + "/app:" + params.app + "/applicantId:" + params.applicantId + "/product:" + productId + "/workflow:" + statusWFId;
                    window.location.hash = redirect;
                    window.location.reload();
                }
            });
        });
    </script>
</dom-module>