<dom-module id="doc-upload">
    <template>
        <style is="custom-style">
            :root {
                --vaadin-upload-buttons-primary: display: inline-block;
            }
        </style>
        <style>
            .msg {
                color: #ff0000;
            }

            .panel-body {
                min-height: 200px;
            }

            .nav-tabs {
                margin-bottom: -1px;
            }

            .cell {
                margin: 5px;
                padding: 5px;
            }

            .show {
                display: block;
            }

            .hide {
                display: none;
            }

            .uploadDocWrapper {
                padding: 10px;
                border-style: dotted;
                border-width: 1px;
            }

            .uploadBtn {
                margin: 10px auto;
                text-align: right;
            }

            vaadin-upload {
                --vaadin-upload-button-add: {
                    background: #80b43c;
                }

                --vaadin-upload-file-list: {
                    margin-left: 20px;
                }

                --vaadin-upload-drop-label: {
                    margin: 0 !important;
                    padding: 0 !important;
                    display: inline-block;
                }
            }

            .set-vertical-height {
                height: 500px;
                overflow-y: scroll;
            }

            .required {
                color: red;
                margin-right: 5px;
            }
        </style>
        <div class="row">
            <div class="col-md-12 set-vertical-height">
                <div id="uploadDocumentErrorMessge"></div>
                <div id="uploadDocument">
                    <template is="dom-if" if="{{_hasDocuments(documentsReceived)}}">
                        <template id="viewDocumentsTemplate" is="dom-repeat" items="{{pendingDocs}}" as="pdoc">
                            <template is="dom-if" if="{{pdoc.isVisible}}">
                                <div class="row uploadDocWrapper">
                                    <h3>
                                        <template is="dom-if" if="{{pdoc.isRequested}}">
                                            <i class="fa fa-asterisk required" aria-hidden="true"></i>
                                        </template>
                                        {{_getDocumentName(pdoc)}}
                                    </h3>
                                    <br>
                                    <div id="{{_generateErrMsgID(pdoc)}}" class="success msg">
                                        <p></p>
                                    </div>
                                    <vaadin-upload i18n={{i18n}} id="{{_generateID(pdoc)}}" on-upload-request="_uploadRequest"
                                        on-upload-success="_uploadSuccess" on-upload-before="_changeServerUrl"
                                        custom-many-label="{{_documentName(pdoc)}}" method="POST"></vaadin-upload>
                                    <div class="uploadBtn">
                                        <paper-button class="btn btn-primary activity-action-btn" id="{{_generateButtonID(pdoc)}}"
                                            model$="{{pdoc}}" on-click="_uploadManualDocuments">UPLOAD</paper-button>
                                    </div>
                                </div>
                            </template>
                        </template>
                    </template>
                </div>
            </div>
        </div>
        <http-request id="http"></http-request>
        <alloy-config id="config"></alloy-config>
        <utility-service id="utility"></utility-service>
        <session-manager id="session"></session-manager>
        <message-component id="message"></message-component>
        <url-parser id="url"></url-parser>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "doc-upload",
                properties: {
                    pendingDocs: {
                        type: Array,
                        notify: true,
                        value: [],
                        reflectToAttribute: true
                    },
                    documentsReceived: {
                        type: Boolean,
                        notify: true,
                        value: false
                    },
                    allowUpload: {
                        type: Boolean,
                        notify: true,
                        value: false
                    },
                    isExtVerified: {
                        type: Boolean,
                        notify: true,
                        value: false
                    },
                    otherDocs: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    i18n: {
                        type: Object,
                        notify: true,
                        value: {
                            dropFiles: {
                                one: 'Drop file here...',
                                many: 'Drop files here...'
                            },
                            addFiles: {
                                one: 'Select File',
                                many: 'Select File'
                            },
                            cancel: 'Cancel',
                            error: {
                                tooManyFiles: 'Too Many Files.',
                                fileIsTooBig: 'File is Too Big.',
                                incorrectFileType: 'Incorrect File Type.'
                            },
                            uploading: {
                                status: {
                                    connecting: 'Connecting...',
                                    stalled: 'Stalled.',
                                    processing: 'Processing File...'
                                },
                                remainingTime: {
                                    prefix: 'remaining time: ',
                                    unknown: 'unknown remaining time'
                                },
                                error: {
                                    serverUnavailable: 'Server Unavailable',
                                    unexpectedServerError: 'Unexpected Server Error',
                                    forbidden: 'Forbidden'
                                }
                            },
                            units: {
                                size: ['B', 'kB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB']
                            }
                        }
                    }
                },
                _needReRender: function () {
                    return this.reRenderUploadDocument;
                },
                _showNoDocsToView: function () {
                    if (this.documentsReceived && this.pendingDocs.length <= 0) {
                        $('#uploadDocument').show();
                        return true;
                    }
                    return false;
                },
                _hasDocuments: function () {
                    var self = this;
                    if (self.documentsReceived && self.pendingDocs.length > 0) {
                        self.pendingDocs = self.pendingDocs;
                        function reRender() {
                            self.$$('#viewDocumentsTemplate').render();
                            $('#uploadDocument').show();
                        }
                        setTimeout(reRender, 700);
                        return true;
                    }
                    return false;
                },
                _documentName: function (doc) {
                    if (doc && doc != null && doc.documentName && doc.documentName != null)
                        return doc.documentName[0];
                    else {
                        return '';
                    }
                },
                _getDocumentName: function (doc) {
                    var ignoreNameList = ["bankFCUDocuments"];
                    var docName = doc.documentName;
                    if (!_.isNull(docName) && !_.isUndefined(docName) && !_.isEmpty(docName)) {
                        if (ignoreNameList.indexOf(docName.toString()) != -1) {
                            return _.replace(_.startCase(_.lowerCase(docName)), "Fcu", "FCU");
                        }
                        return _.startCase(_.lowerCase(docName));
                    }
                },
                _generateID: function (doc) {
                    return this._documentName(doc).toLowerCase();
                },
                _generateButtonID: function (doc) {
                    return "button" + this._generateID(doc);
                },
                _generateErrMsgID: function (doc) {
                    return "msg" + this._documentName(doc).toLowerCase();
                },
                _isDocumentReceived: function () {
                    return this.documentsReceived;
                },
                _uploadSuccess: function (event) {
                    var self = this;
                    if (event.detail.xhr.status === 200) {
                        var res = $.parseJSON(event.detail.xhr.response);
                        $(this.querySelectorAll("#row")).hide();
                        $(this.querySelectorAll("#progress")).hide();
                        self.$.message.showMessage("Document Uploaded successfully.", "INFO", self.$.uploadDocumentErrorMessge);
                        self.raiseAppRefreshEvent(event);
                    }
                },
                raiseAppRefreshEvent: function () {
                    this._getDocumentConfigurations();
                    this._getPendingDocumentList();
                    this.hideSpinner();
                    this.$.utility.raiseEvent(this.fireEvent, { ActionName: 'UploadDocs' });
                },
                _uploadRequest: function (event) {
                    event.detail.xhr.setRequestHeader('Authorization', "Bearer " + this.$.session.get("token"));
                },
                _changeServerUrl: function (event) {
                    if (!this.allowUpload) {
                        event.preventDefault();
                    }
                    if (event.model.__data__.pdoc.url == undefined) {
                        event.detail.file.uploadTarget = this._getServerUrl(event.model.__data__.pdoc);
                    } else {
                        event.detail.file.uploadTarget = this._getOtherServerUrl(event.model.__data__.pdoc);
                    }
                },
                _getServerUrl: function (doc) {
                    var self = this;
                    var params = self.$.url.getParams();
                    var statusWorkflowId = params.workflow;
                    var baseUrl = window.config.services.verificationEngine + "/application/";
                    var factEndpoint = this.applicationNumber + "/" + statusWorkflowId + "/" + doc.factName + "/";
                    var docEndpoint = doc.methodName + "/upload-document";
                    return baseUrl + factEndpoint + docEndpoint;
                },
                _getOtherServerUrl: function (doc) {
                    var baseUrl = window.config.services.documentService;
                    var docEndPoint = "/" + this.applicationNumber + "/" + doc.url;
                    return baseUrl + docEndPoint;
                },
                _uploadManualDocuments: function (e) {
                    var self = this;
                    var eventData = event.model.__data__;
                    var uploadcontId = self._generateID(eventData.pdoc);
                    self.set('allowUpload', true);
                    self.set('isExtVerified', true);
                    var uploadContainer = document.querySelector("vaadin-upload#" + uploadcontId);
                    var files = uploadContainer.files;
                    if (files.length <= 0) {
                        self._errorMessageDisplay(eventData.pdoc, "Please select file.");
                        return;
                    }
                    _.forEach(files, function (item) {
                        if (!self._checkfileType(item.name)) {
                            self._errorMessageDisplay(eventData.pdoc, "Invalid file extension. Please make sure that the document has one of the following extensions in lowercase.");
                            uploadContainer.files = [];
                            self.set('isExtVerified', false);
                        }
                    });
                    if (self.isExtVerified) {
                        self.showSpinner();
                        _.forEach(files, function (item) {
                            let _file = item;
                            _file = new File([_file], _.toLower(item.name), { type: _file.type, size: _file.size, uploadTarget: _file.uploadTarget });
                            uploadContainer._uploadFile(_file);
                        });
                        uploadContainer.files = [];
                    }
                    self.set('allowUpload', false);
                },
                _errorMessageDisplay: function (pdoc, msg) {
                    var self = this;
                    self.set('allowUpload', false);
                    var errorMsgId = self._generateErrMsgID(pdoc);
                    var errorMsgDiv = 'div#' + errorMsgId + ' p';
                    $(errorMsgDiv).html(msg);
                    $('div#' + errorMsgId).show();
                    setTimeout(function () {
                        $('div#' + errorMsgId).hide();
                    }, 2500);
                },
                _getDocumentConfigurations: function () {
                    var docConfig = this.$.config.getConfigurationBasedOnKey("documents");
                    var otherDocs = this.$.config.getConfigurationBasedOnKey("other-documents");
                    this.set('docConfig', _.cloneDeep(docConfig));
                    this.set('otherDocs', _.cloneDeep(otherDocs));
                },
                _getPendingDocumentList: function () {
                    var self = this;
                    var params = self.$.url.getParams();
                    var statusWorkflowId = params.workflow;
                    var url = "/application/" + self.applicationNumber + "/" + statusWorkflowId + "/documents";
                    self.$.http.get(url, window.config.services.verificationEngine).then(function (data) {
                        var merged = _(self.docConfig).keyBy('factName').merge(_.keyBy(data, 'factName')).values().value();
                        var result = _.orderBy(merged, ['isRequested', 'displayOrder'], ['desc', 'asc']);
                        var newResult = _.union(result, self.otherDocs);
                        self.set('pendingDocs', newResult);
                        setTimeout(function () {
                            self.set("documentsReceived", true);
                        }, 500);
                    }).fail(function (e) {
                        console.error("error getting pending document list: ", e);
                    });
                },
                _checkfileType: function (doc) {
                    var fileName = _.toLower(doc);
                    var configExtension = this.$.config.getConfigurationBasedOnKey("file-extension");
                    //addedd configuration and id key not found will work as before/ backwardcompetibility 
                    if (configExtension.length > 0) {
                        var supportExt = new RegExp(configExtension);
                        if (supportExt.test(fileName)) {
                            return true;
                        }
                    }
                    else {
                        if (/\.(mp3|mp4|jpeg|png|gif|bmp|jpg|pdf|txt|xls||xlsx|doc|docx|csv|html)$/.test(fileName)) {
                            return true;
                        }
                    } return false;
                },
                ready: function () {
                    this._getDocumentConfigurations();
                },
                init: function () {
                    this._getPendingDocumentList();
                },
                showSpinner: function () {
                    $("div.overlay").show();
                    $("#paceContainer").show();
                },
                hideSpinner: function () {
                    $("div.overlay").hide();
                    $("#paceContainer").hide();
                }
            });
        });
    </script>
</dom-module>