<dom-module id="final-offer-re">
    <template>
        <div id="FinalOfferReErrorMessge"></div>
        <div class="slide-action">
            <button id="generateOffer" on-click="generateFinalOffer" class="btn btn-primary activity-action-btn">Generate Final Offer</button>
        </div>
        <http-request id="http"></http-request>
        <utility-service id="utility"></utility-service>
        <message-component id="message"></message-component>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "final-offer-re",
                properties: {
                    messageList: {
                        type: Object,
                        notify: false,
                        value: {
                            Failed: "Unable to generate offer",
                            Completed: "Application is in Final Offer Selection",
                            Rejected: "Application rejected",
                            ManualReview: "Offer Generated, Application is in Manual Review."
                        }
                    }
                },
                init: function () {
                },
                generateFinalOffer: function (event) {
                    var self = this;
                    var offerEndPoint = window.config.services.appProcessor;
                    var url = "/offer/" + self.applicationNumber + "/reGenerateFinaloffer/false";
                    self.$.http.post(url, {}, offerEndPoint, true).then(function (data) {
                        var message = self.messageList[data.status];
                        if (data.status == "Failed" || data.status == "Rejected") {
                            message += ". Reason: " + data.reasons[0];
                            self.$.message.showMessage(message, "ERROR", self.$.FinalOfferReErrorMessge);
                        } else {
                            $('#generateOffer').hide();
                            self.raiseAppRefreshEvent(event, message);
                        }
                    }).fail(function (e) {
                        console.error("application error is ", e);
                    });
                },

                raiseAppRefreshEvent: function (event, message) {
                    this.$.utility.raiseEvent(this.fireEvent, {
                        Message: message,
                        EventData: event,
                        CompnentName: 'final-offer-re'
                    });
                }
            });
        });
    </script>
</dom-module>