<dom-module id="save-display-funding">
    <template>
        <style>
            .custom-input {
                --paper-input-container-input: {
                    font-size: 11px;
                }
                --paper-input-container-label: {
                    font-size: 12px;
                }
            }
        </style>
        <div id="ErrorMessge"></div>
        <div class="row">
            <div class="col-md-12">
                <form is="iron-form" class="form-horizontal" name="FudingApplication">
                    <div class="row">
                        <div class="col-md-12">
                            <paper-input type="text" class="custom-input" auto-validate value="{{LoanAccountNumber}}" name="loanaccountnumber" id="loanaccountnumber"
                                label="Loan Account Number"></paper-input>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <vaadin-combo-box name="PaymentStatusDDL" class="custom-input" id="PaymentStatusDDL" value="{{selectedPaymentStatus}}" item-value-path="key"
                                item-label-path="value" items="[[PaymentStatus]]" label="Payment Status" prevent-invalid-input="true"
                                on-change="_UTRHideShow">
                            </vaadin-combo-box>
                        </div>
                    </div>
                    <div class="row" id="utrnumberRow" style="display: none; ">
                        <div class="col-md-12">
                            <paper-input type="text" class="custom-input" auto-validate value="{{UTRNumber}}" name="utrnumber" id="utrnumber" label="UTR number"></paper-input>
                        </div>
                    </div>

                    <dynamic-form form-configuration={{fundedObj}} values="{{fundedObj.values}}"></dynamic-form>
                    <br>
                    <paper-button class="btn btn-primary activity-action-btn" on-click="_verifyForm" raised>Submit</paper-button>
                </form>
            </div>
        </div>
        <http-request id="http"></http-request>
        <utility-service id="utility"></utility-service>
        <message-component id="message"></message-component>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "save-display-funding",
                properties: {
                    LoanAccountNumber: {
                        type: String,
                        notify: true
                    },
                    selectedPaymentStatus: {
                        type: String,
                        notify: true
                    },
                    PaymentStatus: {
                        type: Array,
                        notify: true,
                        value: [
                            { key: "PaymentDone", value: "Payment Done" },
                            { key: "PaymentPending", value: "Payment Pending" }
                        ]
                    },
                    UTRNumber: {
                        type: String,
                        notify: true
                    },
                    dataAttributes: {
                        type: Object,
                        notify: true
                    },
                    fundedObj: {
                        type: Object,
                        notify: true,
                        value: {
                            controls: {
                                FundedAmount: {
                                    label: "Disbursement Amount",
                                    type: "number",
                                    validations: {
                                        required: false,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: true,
                                        minLen: 0,
                                        maxLen: 20
                                    }
                                },
                                FundedDate: {
                                    label: "Disbursed Date",
                                    title: "Disbursed Date",
                                    type: "date",
                                    format: "DD/MM/YYYY",
                                    validations: {
                                        required: false
                                    }
                                },
                                EmiAmount: {
                                    label: "EMI Amount",
                                    type: "number",
                                    validations: {
                                        required: false,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: true,
                                        minLen: 0,
                                        maxLen: 20
                                    }
                                },
                                FirstEmiDate: {
                                    label: "First EMI Date",
                                    title: "First EMI Date",
                                    type: "date",
                                    format: "DD/MM/YYYY",
                                    validations: {
                                        required: true
                                    }
                                }
                            },
                            values: {
                                FundedAmount: "",
                                FundedDate: "",
                                EmiAmount: "",
                                FirstEmiDate: ""
                            }
                        }
                    },
                    dataAttributes: {
                        type: Object,
                        notify: true,
                        observer: '_loadDataAttributes'
                    }
                },
                ready: function () {
                    this.fundedObj.controls.FundedDate.i18n = this.i18n;
                    this.fundedObj.controls.FirstEmiDate.i18n = this.i18n;
                },
                init: function () {
                },
                _UTRHideShow: function (event) {
                    var self = this;
                    var fundedObj = self.fundedObj;
                    if (!_.isNull(self.fundedObj) && !_.isUndefined(self.fundedObj) && !_.isEmpty(self.fundedObj)) {
                        var currentValue = event.target.value;
                        if (currentValue == "PaymentDone") {
                            $('#utrnumberRow').show();
                            $('#utrnumber').attr("required", "");
                            self.fundedObj.controls.FundedAmount.validations.required = true;
                            self.fundedObj.controls.FundedDate.validations.required = true;
                            self.fundedObj.controls.EmiAmount.validations.required = true;
                            self.fundedObj.controls.FirstEmiDate.validations.required = true;
                        }
                        else {
                            $('#utrnumberRow').hide();
                            $('#utrnumber').removeAttr('required');
                            self.fundedObj.controls.FundedAmount.validations.required = false;
                            self.fundedObj.controls.FundedDate.validations.required = false;
                            self.fundedObj.controls.EmiAmount.validations.required = false;
                            self.fundedObj.controls.FirstEmiDate.validations.required = false;
                        }
                        self.set('fundedObj', $.extend({}, self.fundedObj));
                    }
                },
                _formatDate: function (date) {
                    if (date !== "")
                        return moment.tz(date, window.config.timezone).format("YYYY-MM-DD");
                    else
                        return moment.tz(window.config.timezone).format("YYYY-MM-DD");
                },
                _loadDataAttributes: function () {
                    var self = this;
                    var _dataAttributes = self.dataAttributes;
                    if (_dataAttributes) {
                        if (_dataAttributes.hasOwnProperty('loan-fundeddata')) {
                            var _loanfundeddata = _dataAttributes['loan-fundeddata'];
                            self.fundedObj.values = _loanfundeddata;
                            self.LoanAccountNumber = _loanfundeddata.LoanAccountNumber;
                            self.set('selectedPaymentStatus', _loanfundeddata.PaymentStatus);
                            if (_loanfundeddata.PaymentStatus == "PaymentDone") {
                                $('#utrnumberRow').show();
                                self.UTRNumber = _loanfundeddata.UTRNumber;
                            }
                            else {
                                $('#utrnumberRow').hide();
                            }
                            self.fundedObj.values.FundedDate = self._formatDate(_loanfundeddata.FundedDate);
                            self.fundedObj.values.FirstEmiDate = self._formatDate(_loanfundeddata.FirstEmiDate);
                            self.set('fundedObj', $.extend({}, self.get('fundedObj'), fundedObj));
                        }
                    } else {
                        var fundedObj = self.get('fundedObj');
                        var Obj = {
                            FundedAmount: "",
                            FundedDate: "",
                            EmiAmount: "",
                            FirstEmiDate: ""
                        };
                        fundedObj.values = Obj;
                        self.set('fundedObj', $.extend({}, self.get('fundedObj'), fundedObj));
                    }
                },
                _verifyForm: function (e) {
                    e.preventDefault();
                    var self = this;
                    var form = Polymer.dom(e).localTarget.parentElement;
                    var offerEndPoint = window.config.services.appProcessor;
                    var payload = self.fundedObj.values;
                    if (form.validate()) {
                        payload.PaymentStatus = self.selectedPaymentStatus;
                        payload.LoanAccountNumber = self.LoanAccountNumber;
                        payload.UTRNumber = self.UTRNumber;
                        payload.FundedDate = payload.FundedDate == "" ? self._formatDate("") : moment.tz(payload.FundedDate, window.config.timezone).format("YYYY-MM-DD");
                        payload.FirstEmiDate = payload.FirstEmiDate == "" ? self._formatDate("") : moment.tz(payload.FirstEmiDate, window.config.timezone).format("YYYY-MM-DD");
                        payload.EmiAmount = payload.EmiAmount == "" ? 0 : payload.EmiAmount;
                        payload.FundedAmount = payload.FundedAmount == "" ? 0 : payload.FundedAmount;
                        var url = "/application/" + self.applicationNumber + "/loan-fundeddata";
                        self.$.http.post(url, payload, offerEndPoint, true).then(function (data) {
                            self.$.message.showMessage("Operation completed successfully.", "INFO", self.$.ErrorMessge);
                            self.raiseAppRefreshEvent(e);
                        }).fail(function (e) {
                            console.error("save fundingdata error is ", e);
                        });
                    }
                },
                raiseAppRefreshEvent: function (event) {
                    this.$.utility.raiseEvent(this.fireEvent, {
                        ActionName: "UpdateDisplayFundingDetails",
                        EventData: event,
                        CompnentName: 'save-display-funding'
                    });
                }
            });
        });
    </script>
</dom-module>