<dom-module id="initiate-softpull">
    <template>
        <div id="InitialOfferErrorMessge"></div>
        <div class="slide-action">
            <button id="generateOffer" on-click="generateInitialOffer" class="btn btn-primary activity-action-btn">Initiate Soft Pull</button>
        </div>
        <http-request id="http"></http-request>
        <utility-service id="utility"></utility-service>
        <url-parser id="url"></url-parser>
        <message-component id="message"></message-component>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "initiate-softpull",
                properties: {
                    messageList: {
                        type: Object,
                        notify: false,
                        value: {
                            Failed: "Unable to generate offer",
                            Completed: "Offer is ready for selection",
                            Rejected: "Application rejected"
                        }
                    }
                },
                generateInitialOffer: function (event) {
                    var self = this;
                    var offerEndPoint = window.config.services.appProcessor;
                    var url = "/offer/" + self.applicationNumber + "/initialoffer";
                    self.$.http.post(url, {}, offerEndPoint, true).then(function (data) {
                        var message = self.messageList[data.status];
                        if (data.status == "Failed") {
                            message += ". Reason: " + data.reasons[0];
                            self.$.message.showMessage(message, "ERROR", self.$.InitialOfferErrorMessge);
                        } else if (data.status == "Rejected") {
                            message += ". Reason: " + data.reasons[0];
                            self.raiseAppRefreshEvent(event, message);
                        } else {
                            $('#generateOffer').hide();
                            var params = self.$.url.getParams();
                            if (data.productId !== params.product) {
                                self.redirectToNewProduct(data.productId, data.statusWorkFlowId);
                            } else {
                                self.raiseAppRefreshEvent(event, message);
                            }
                        }
                    }).fail(function (e) {
                        console.error("application error is ", e);
                    });
                },
                raiseAppRefreshEvent: function (event, message) {
                    this.$.utility.raiseEvent(this.fireEvent, {
                        Message: message,
                        EventData: event,
                        CompnentName: 'initiate-softpull'
                    });
                },
                init: function () {
                },
                redirectToNewProduct: function (productId, statusWFId) {
                    var self = this;
                    var params = self.$.url.getParams();
                    var redirect = "/app-details/entity:application/filter:" + params.filter;
                    redirect = redirect + "/app:" + params.app + "/applicantId:" + params.applicantId + "/product:" + productId + "/workflow:" + statusWFId;
                    window.location.hash = redirect;
                    window.location.reload();
                }
            });
        });
    </script>
</dom-module>