<dom-module id="loan-purpose">
    <template>
        <style>
            .custom-input {
                --paper-input-container-input: {
                    font-size: 11px;
                }
                --paper-input-container-label: {
                    font-size: 12px;
                }
            }
        </style>
        <div id="ErrorMessge"></div>
        <div class="row">
            <div class="col-md-12">
                <form is="iron-form" class="form-horizontal" name="loanpurposeForm">
                    <vaadin-combo-box class="custom-input" name="loanPurpose" value="{{SelectedPurpose}}" item-value-path="key" item-label-path="value"
                        items="{{loanPurpose}}" label="Select Loan Purpose" allow-custom-value required>
                    </vaadin-combo-box>
                    <paper-button class="btn btn-primary activity-action-btn" on-click="_verifyForm" raised>Submit</paper-button>
                </form>
            </div>
        </div>
        <http-request id="http"></http-request>
        <lookup-service id="lookup"></lookup-service>
        <utility-service id="utility"></utility-service>
        <message-component id="message"></message-component>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "loan-purpose",
                properties: {
                    SelectedPurpose: {
                        type: String,
                        notify: true,
                        value: "",
                    },
                    loanPurpose: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    dataAttributes: {
                        type: Object,
                        notify: true,
                        observer: '_loadDataAttributes'
                    }
                },
                _getObjectName: function (array, propName, factName) {
                    var Obj = array.filter(function (e) {
                        return e[propName] === factName;
                    })[0];
                    return Obj || {};
                },
                _loadDataAttributes: function () {
                    var self = this;
                    var _dataAttributes = self.dataAttributes;
                    if (_dataAttributes) {
                        if (_dataAttributes.hasOwnProperty('application')) {
                            if (_dataAttributes.application.purposeOfLoan === "other") {
                                self.SelectedPurpose = _dataAttributes.application.purposeOfLoan;
                            }
                            else {
                                var searchObj = self._getObjectName(self.loanPurpose, "key", _dataAttributes.application.purposeOfLoan);
                                if (!_.isNull(searchObj) && !_.isUndefined(searchObj) && !_.isEmpty(searchObj)) {
                                    self.SelectedPurpose = searchObj.value;
                                }
                                else {
                                    self.SelectedPurpose = _dataAttributes.application.purposeOfLoan;
                                }
                            }
                        }
                    }
                },
                _getloanPurposeLookupData: function () {
                    var self = this;
                    var data = self.$.lookup.getLookupBasedOnName("application-purposeOfLoan");
                    self.set('loanPurpose', data);
                },
                _verifyForm: function (event) {
                    event.preventDefault();
                    var self = this;
                    var form = Polymer.dom(event).localTarget.parentElement;
                    if (form.validate()) {
                        var url = "/application/requestLoanPurpose/" + self.applicationNumber + "/";
                        var searchObj = self._getObjectName(self.loanPurpose, "key", self.SelectedPurpose);
                        if (!_.isNull(searchObj) && !_.isUndefined(searchObj) && !_.isEmpty(searchObj)) {
                            url = url + searchObj.key;
                        }
                        else {
                            url = url + "other/" + self.SelectedPurpose;
                        }
                        var appProcessor = window.config.services.appProcessor;
                        self.$.http.put(url, null, appProcessor, true).then(function (data) {
                            self.$.message.showMessage("Operation completed successfully.", "INFO", self.$.ErrorMessge);
                            self.raiseAppRefreshEvent(event);
                        }).fail(function (e) {
                            console.error("loadConfig error is ", e);
                        });
                    }
                },

                raiseAppRefreshEvent: function (event) {
                    this.$.utility.raiseEvent(this.fireEvent, {
                        ActionName: "LoanPurpose",
                        EventData: event,
                        CompnentName: 'loan-purpose'
                    });
                },
                ready: function () {
                    this._getloanPurposeLookupData();
                },
                init: function () {
                }
            });
        });
    </script>
</dom-module>