<dom-module id="not-interested-application">
    <template>
        <div class="row">
            <div class="col-md-12">
                <div id="ErrorMessge"></div>
                <form is="iron-form" class="form-horizontal" name="NotInterestedApplication">
                    <dynamic-form form-configuration={{notInterestedObj}} values="{{notInterestedObj.values}}"></dynamic-form>
                    <br>
                    <paper-button class="btn btn-primary activity-action-btn" on-click="_notInterestedApp" raised>Not Interested</paper-button>
                </form>
            </div>
        </div>
        <url-parser id="urlappi"></url-parser>
        <http-request id="http"></http-request>
        <alloy-config id="config"></alloy-config>
        <utility-service id="utility"></utility-service>
        <message-component id="message"></message-component>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "not-interested-application",
                properties: {
                    notInterestedObj: {
                        type: Object,
                        notify: true,
                        value: {
                            controls: {
                                notInterestedReason: {
                                    label: "Not Interested Reason",
                                    type: "combobox",
                                    selectList: [],
                                    labelKey: "value",
                                    labelValue: "key",
                                    validations: {
                                        required: true
                                    }
                                }
                            },
                            values: {
                                notInterestedReason: ""
                            }
                        }
                    }
                },
                init: function () {
                    this._loadReasonList();
                },
                _loadReasonList: function () {
                    var self = this;
                    var data = self.$.config.getConfigurationBasedOnKey("notInterested-reasons");
                    var tempList = _.transform(data, function (result, value, key) {
                        result.push({ key: key, value: value });
                    }, []);
                    var notInterestedObj = _.cloneDeep(self.notInterestedObj);
                    notInterestedObj.controls.notInterestedReason.selectList = tempList;
                    self.set('notInterestedObj', notInterestedObj);
                },
                _notInterestedApp: function (e) {
                    e.preventDefault();
                    var self = this;
                    var params = self.$.urlappi.getParams();
                    var form = Polymer.dom(e).localTarget.parentElement;
                    if (form.validate()) {
                        var selectedReason = self.notInterestedObj.values.notInterestedReason;
                        var url = "/application/" + self.applicationNumber + "/" + params.workflow + "/200.14/";
                        var payload = {
                            reasons: [selectedReason]
                        };
                        self.$.http.put(url, payload,  window.config.services.statusManagement, true).then(function (data) {
                            self.$.message.showMessage("Operation completed successfully.", "INFO", self.$.ErrorMessge);
                            self.raiseAppRefreshEvent(e);
                        }).fail(function (e) {
                            console.error("application error is ", e);
                        });
                    }
                },
                raiseAppRefreshEvent: function (event) {
                    this.$.utility.raiseEvent(this.fireEvent, {
                        ActionName: "NotInterestApp",
                        EventData: event,
                        CompnentName: 'not-interested-application'
                    });
                }
            });
        });
    </script>
</dom-module>