<dom-module id="on-hold">
    <template>
        <div id="ErrorMessge"></div>
        <div class="slide-action">
            <button id="onHold" on-click="onHoldClk" class="btn btn-primary activity-action-btn" raised>On Hold</button>
        </div>
        <http-request id="http"></http-request>
        <utility-service id="utility"></utility-service>
        <message-component id="message"></message-component>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "on-hold",
                onHoldClk: function (event) {
                    var self = this;
                    var payload = {
                        EntityId: self.applicationNumber
                    };
                    var eventHub = window.config.services.eventHub;
                    var url = "/ApplicationFCUSampled";
                    self.$.http.post(url, payload, eventHub, true).then(function (data) {
                        self.$.message.showMessage("Operation completed successfully.", "INFO", self.$.ErrorMessge);
                        $('#onHold').hide();
                        self.raiseAppRefreshEvent(event);
                    }).fail(function (error) {
                        console.error("eventhub ApplicationFCUSampled error is ", error);
                    });
                    // var loanFilters = window.config.services.applicationFilters;
                    // var url = "/applytags/" + self.applicationNumber + "/FCU Sampled";
                    // self.$.http.post(url, {}, loanFilters, true).then(function (result) {
                    //     self.$.message.showMessage("Operation completed successfully.", "INFO", self.$.ErrorMessge);
                    //     $('#onHold').hide();
                    //     self.raiseAppRefreshEvent(event);
                    // }).fail(function (e) {
                    //     console.error("loadConfig error is ", e);
                    // });
                },
                raiseAppRefreshEvent: function (event) {
                    this.$.utility.raiseEvent(this.fireEvent, {
                        ActionName: "OnHold",
                        EventData: event,
                        CompnentName: 'on-hold'
                    });
                },
                init: function () {
                }
            });
        });
    </script>
</dom-module>