<dom-module id="present-final-offer">
    <template>
        <table class="table table-striped">
            <tr>
                <th></th>
                <th>
                    <div class="disbursement-info">
                        <label>Amount</label>
                    </div>
                </th>
                <th>
                    <div class="disbursement-info">
                        <label>Duration</label>
                    </div>
                </th>
                <th>
                    <div class="disbursement-info">
                        <label>EMI</label>
                    </div>
                </th>
                <th>
                    <div class="disbursement-info">
                        <label>Processing fee</label>
                    </div>
                </th>
            </tr>
            <template id="test" is="dom-repeat" items="{{offers}}" as="offer">
                <tr>
                    <td>
                        <div style="margin-top: -2px;">
                            <label>
                                <paper-checkbox id="offer.offerId" on-change="selectOffer"></paper-checkbox>
                            </label>
                        </div>
                    </td>
                    <td>
                        <div>
                            <p>
                                <span class="amount">{{currencyFormat(offer.finalOfferAmount)}}</span>
                            </p>
                        </div>
                    </td>
                    <td>
                        <div>
                            <p>{{offer.loantenure}} Months {{isManualOffer(offer)}}</p>
                        </div>
                    </td>
                    <td>
                        <div>
                            <p>
                                <span class="amount">{{currencyFormat(offer.emi)}}</span>
                            </p>
                        </div>
                    </td>
                    <td>
                        <div>
                            <p>
                                <span class="amount">{{currencyFormat(offer.processingFee)}}</span>
                            </p>
                        </div>
                    </td>
                </tr>
            </template>
        </table>
        <div class="slide-action">
            <button id="presentOffer" on-click="presenFinalOffer" class="btn btn-primary activity-action-btn">Present Final Offer</button>
        </div>
        <div id="ErrorMessge"></div>
        <http-request id="http"></http-request>
        <utility-service id="utility"></utility-service>
        <message-component id="message"></message-component>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "present-final-offer",
                properties: {
                    offers: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    selectedOfferIds: {
                        type: Array,
                        notify: true,
                        value: []
                    }
                },
                _loadOffers: function () {
                    var self = this;
                    var url = "/offer/" + self.applicationNumber + "/finaloffer";
                    self.$.http.get(url, window.config.services.appProcessor).then(function (data) {
                        self.set("offers", data.finalOffers);
                    }).fail(function (e) {
                        console.error("application error is ", e);
                    });
                },
                selectOffer: function (e) {
                    var self = this;
                    var offerid = e.model.__data__.offer.offerId;
                    if (event.target.checked) {
                        if (self.selectedOfferIds.indexOf(offerid) == -1) {
                            self.selectedOfferIds.push(offerid.toString());
                        }
                    }
                    else {
                        var aryindex = self.selectedOfferIds.indexOf(offerid);
                        if (aryindex != -1) {
                            self.selectedOfferIds.splice(aryindex, 1);
                        }
                    }
                },
                presenFinalOffer: function (event) {
                    var self = this;
                    var offerEndPoint = window.config.services.appProcessor;
                    var url = "/status-management/" + self.applicationNumber + "/manualreview-finaloffermade";
                    var payload = {};
                    if (self.selectedOfferIds.length > 0) {
                        payload = self.selectedOfferIds;
                    }
                    self.$.http.post(url, payload, offerEndPoint, true).then(function (data) {
                        $('#presentOffer').hide();
                        self.$.message.showMessage("Application is in Final Offer Selection.", "INFO", self.$.ErrorMessge);
                        self.raiseAppRefreshEvent(event);
                    }).fail(function (e) {
                        console.error("application error is ", e);
                    });
                },
                currencyFormat: function (value) {
                    return formats.moneyWithoutFraction(value, "INDIA", 0);
                },
                isManualOffer: function (itemObj) {
                    return itemObj.isManualOffer ? "(Manual)" : "";
                },
                init: function () {
                    this._loadOffers();
                },
                raiseAppRefreshEvent: function (event) {
                    this.$.utility.raiseEvent(this.fireEvent, {
                        ActionName: "PresentFinalOffer",
                        EventData: event,
                        CompnentName: 'present-final-offer'
                    });
                }
            });
        });
    </script>
</dom-module>