<dom-module id="schedule-fulfillment">
    <template>
        <style>
            .radioGroup {
                padding: 10px;
            }
        </style>
        <div class="row">
            <div class="col-md-12">
                <div id="ScheduleDetailErrorMessge"></div>
                <form is="iron-form" class="form-horizontal" name="scheduleFullfillmentForm">
                    <label>Preferred Address</label>
                    <paper-radio-group selected="{{selectedAddress}}" on-click="addressChange" required>
                        <paper-radio-button class="radioGroup" name="Residence">Residence</paper-radio-button>
                        <paper-radio-button class="radioGroup" name="Office">Office</paper-radio-button>
                    </paper-radio-group>
                    <br/>
                    <template is="dom-if" if="{{residenceAddress}}">
                        <div class="row">
                            <div class="col-md-12">
                                {{ currentAddressDetail.addressLine1 }} {{ currentAddressDetail.addressLine2 }}
                                <br> {{ currentAddressDetail.location }}
                                <br> {{ currentAddressDetail.city }} {{ currentAddressDetail.state }} {{ currentAddressDetail.pinCode
                                }}
                                <br>
                            </div>
                        </div>
                    </template>
                    <template is="dom-if" if="{{officeAddress}}">
                        <div class="row">
                            <div class="col-md-12">
                                {{ employmentDetail.addressLine1 }} {{ employmentDetail.addressLine2 }}
                                <br> {{ employmentDetail.location }}
                                <br> {{ employmentDetail.city }} {{ employmentDetail.state }} {{ employmentDetail.pinCode }}
                                <br>
                            </div>
                        </div>
                    </template>
                    <dynamic-form form-configuration={{scheduleDetailObj}} values="{{scheduleDetailObj.values}}"></dynamic-form>
                    <br/>
                    <paper-button class="btn btn-primary activity-action-btn" on-click="_verifyForm" raised>Submit</paper-button>
                    <paper-button id="scheduleFullfillmentFormResetButton" class="btn btn-primary activity-action-btn" style="display: none;"
                        on-click="_formReset" raised>Reset</paper-button>
                </form>
            </div>
        </div>
        <http-request id="http"></http-request>
        <utility-service id="utility"></utility-service>
        <message-component id="message"></message-component>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "schedule-fulfillment",
                properties: {
                    radioList: [
                        { key: "Residence", value: "Residence" },
                        { key: "Office", value: "Office" }
                    ],
                    selectedAddress: {
                        type: String,
                        notify: true,
                        value: ""
                    },
                    residenceAddress: {
                        type: Boolean,
                        notify: true,
                        value: false,
                    },
                    officeAddress: {
                        type: Boolean,
                        notify: true,
                        value: false,
                    },
                    employmentDetail: {
                        type: Object,
                        notify: true,
                        value: {}
                    },
                    currentAddressDetail: {
                        type: Boolean,
                        notify: true,
                        value: false,
                    },
                    scheduleDetailObj: {
                        type: Object,
                        notify: true,
                        value: {
                            controls: {
                                ScheduleDate: {
                                    label: "Schedule Date",
                                    title: "Schedule Date",
                                    type: "date",
                                    format: "DD-MM-YYYY",
                                    validations: {
                                        required: true
                                    }
                                },
                                customTimePicker: {
                                    label: "Time",
                                    type: "customtimepicker"
                                }
                            },
                            values: {
                                ScheduleDate: "",
                                customTimePicker: ""
                            }
                        }
                    },
                    applicationDetail: {
                        type: Object,
                        notify: true,
                        reflectToAttribute: true,
                        observer: '_loadApplicationDetail'
                    }
                },
                _loadApplicationDetail: function () {
                    var self = this;
                    var _applicationDetail = _.cloneDeep(self.applicationDetail);
                    if (!_.isNull(_applicationDetail) && !_.isUndefined(_applicationDetail) && !_.isEmpty(_applicationDetail)) {
                        if (!_.isNull(_applicationDetail.employmentDetail.addresses) && !_.isUndefined(_applicationDetail.employmentDetail.addresses) && !_.isEmpty(_applicationDetail.employmentDetail.addresses)) {
                            self.set('employmentDetail', _applicationDetail.employmentDetail.addresses[0]);
                        }

                        if (!_.isNull(_applicationDetail.addresses) && !_.isUndefined(_applicationDetail.addresses) && !_.isEmpty(_applicationDetail.addresses)) {
                            self.set('currentAddressDetail', _applicationDetail.addresses[0]);
                        }
                    }
                },
                _formReset: function (event) {
                    var form = Polymer.dom(event).localTarget.parentElement;
                    form.reset();
                },
                _verifyForm: function (event) {
                    event.preventDefault();
                    var self = this;
                    var form = Polymer.dom(event).localTarget.parentElement;
                    var tempPayload = self.scheduleDetailObj.values;
                    var payload = {};
                    var applicationDetail = window.config.services.applicationDetail;
                    if (!(tempPayload.ScheduleDate === '' || tempPayload.customTimePicker === '' || self.selectedAddress === '')) {
                        payload.ScheduleDate = tempPayload.ScheduleDate;
                        payload.PreferredAddress = self.selectedAddress;
                        payload.ScheduleTime = tempPayload.customTimePicker;
                        var url = "/scheduledetail/" + self.applicationNumber;
                        self.$.http.put(url, payload, applicationDetail, true).then(function (result) {
                            $('#scheduleFullfillmentFormResetButton').click();
                            self.raiseAppRefreshEvent(event);
                        }).fail(function (e) {
                            console.error("error is ", e);
                        });
                    } else {
                        self.$.message.showMessage("Please fill all details.", "ERROR", self.$.ScheduleDetailErrorMessge);
                        return;
                    }
                },
                raiseAppRefreshEvent: function (event) {
                    this.$.utility.raiseEvent(this.fireEvent, {
                        ActionName: "ScheduleFulfillment",
                        EventData: event,
                        CompnentName: 'schedule-fulfillment'
                    });
                },
                ready: function () {
                    this.scheduleDetailObj.controls.ScheduleDate.i18n = this.i18n;
                },
                init: function () {
                    $('datetime-picker #date').hide();
                },
                addressChange: function (event) {
                    var self = this;
                    if (self.selectedAddress === "Residence") {
                        self.set('residenceAddress', true);
                        self.set('officeAddress', false);
                    } else if (self.selectedAddress === "Office") {
                        self.set('residenceAddress', false);
                        self.set('officeAddress', true);
                    }
                }
            });
        });
    </script>
</dom-module>