<dom-module id="select-initial-offer">
    <template>
        <div id="ErrorMessge"></div>
        <div id="offerSelectionDiv">
            <table class="table table-striped">
                <tr>
                    <th></th>
                    <th>
                        <div class="disbursement-info">
                            <label>Amount</label>
                        </div>
                    </th>
                    <th>
                        <div class="disbursement-info">
                            <label>Duration</label>
                        </div>
                    </th>
                </tr>
                <template id="test" is="dom-repeat" items="{{offers}}" as="offer">
                    <tr>
                        <td>
                            <div>
                                <label>
                                    <input on-click="selectOffer" type="radio" name="blankRadio" id="blankRadio1" value="option1" aria-label="...">
                                </label>
                            </div>
                        </td>
                        <td>
                            <div>
                                <p>
                                    <span class="amount">{{currencyFormat(offer.finalOfferAmount)}}</span>
                                </p>
                            </div>
                        </td>
                        <td>
                            <div>
                                <p>{{offer.loanTenure}} Months</p>
                            </div>
                        </td>
                    </tr>
                </template>
            </table>
            <div class="slide-action">
                <button on-click="selectInitialOffer" class="btn btn-primary activity-action-btn">Select Offer</button>
            </div>
        </div>
        <http-request id="http"></http-request>
        <utility-service id="utility"></utility-service>
        <message-component id="message"></message-component>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "select-initial-offer",
                properties: {
                    offers: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    selectedOfferId: {
                        type: String,
                        notify: true,
                        value: ""
                    },
                    applicationNumber: {
                        type: Array,
                        notify: true
                    }
                },
                _isAnyOfferSelected: function () {
                    var self = this;
                    var offers = self.offers;
                    if (offers.length > 0) {
                        for (var i = 0; i < offers.length; i++) {
                            if (offers[i].isSelected) {
                                self.$.message.showMessage("offer is already selected.", "INFO", self.$.ErrorMessge);
                                $('#offerSelectionDiv').hide();
                                break;
                            }
                        }
                    }
                },
                _loadOffers: function () {
                    var self = this;
                    var url = "/offer/" + self.applicationNumber + "/initialoffer";
                    self.$.http.get(url, window.config.services.appProcessor).then(function (data) {
                        self.set("offers", data.offers);
                        self._isAnyOfferSelected();
                    }).fail(function (e) {
                        console.error("application error is ", e);
                    });
                },
                selectOffer: function (e) {
                    this.set("selectedOfferId", e.model.__data__.offer.offerId);
                },
                selectInitialOffer: function (event) {
                    var self = this;
                    var url = "/offer/" + self.applicationNumber + "/acceptinitialoffer/" + self.selectedOfferId;
                    var offerEndPoint = window.config.services.appProcessor;
                    if (self.selectedOfferId != "") {
                        self.$.http.put(url, {}, offerEndPoint, true).then(function (data) {
                            self.$.message.showMessage("Initial Offer accepted.", "INFO", self.$.ErrorMessge);
                            $('#offerSelectionDiv').hide();
                            self.raiseAppRefreshEvent(event);
                        }).fail(function (e) {
                            console.error("application error is ", e);
                        });
                    } else {
                        self.$.message.showMessage("Please choose any offer to proceed.", "ERROR", self.$.ErrorMessge);
                    }
                },
                init: function () {
                    this._loadOffers();
                },
                raiseAppRefreshEvent: function (event) {
                    this.$.utility.raiseEvent(this.fireEvent, {
                        ActionName: "SelectOffer",
                        EventData: event,
                        CompnentName: 'select-initial-offer'
                    });
                },
                currencyFormat: function (value) {
                    return formats.moneyWithoutFraction(value, "INDIA", 0);
                }
            });
        });
    </script>
</dom-module>