<dom-module id="switch-bank">
    <template>
        <div class="row">
            <div class="col-md-12">
                <div id="ErrorMessge"></div>
                <form is="iron-form" class="form-horizontal" name="cashflowForm">
                    <dynamic-form form-configuration={{switchBankObj}} values="{{switchBankObj.values}}"></dynamic-form>
                    <br/>
                    <paper-button class="btn btn-primary activity-action-btn" on-click="_verifyForm" raised>Submit</paper-button>
                </form>
            </div>
        </div>
        <http-request id="http"></http-request>
        <utility-service id="utility"></utility-service>
        <message-component id="message"></message-component>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "switch-bank",
                properties: {
                    switchBankObj: {
                        type: Object,
                        notify: true,
                        value: {
                            controls: {
                                bankSource: {
                                    label: "Switch Bank",
                                    type: "combobox",
                                    selectList: [],
                                    labelKey: "value",
                                    labelValue: "key",
                                    validations: {
                                        required: true
                                    }
                                }
                            },
                            values: {
                                bankSource: ""
                            }
                        }
                    }
                },
                _getbankSourceLookupData: function () {
                    var self = this;
                    var switchBankObj = _.cloneDeep(self.switchBankObj);
                    var data = self.$.lookup.getLookupBasedOnName("application-bankSource");
                    switchBankObj.controls.bankSource.selectList = data;
                    self.set('switchBankObj', switchBankObj);
                },
                _verifyForm: function (event) {
                    event.preventDefault();
                    var self = this;
                    var form = Polymer.dom(event).localTarget.parentElement;
                    if (form.validate()) {
                        var appProcessor = window.config.services.appProcessor;
                        var selectedBank = self.switchBankObj.values.bankSource;
                        var url = "application/" + self.applicationNumber + "/" + selectedBank + "/bank-preference";
                        self.$.http.post(url, {}, appProcessor, true).then(function (data) {
                            self.$.message.showMessage("Operation completed successfully.", "INFO", self.$.ErrorMessge);
                            self.raiseAppRefreshEvent(event);
                        }).fail(function (e) {
                            console.error("loadConfig error is ", e);
                        });
                    }
                },
                raiseAppRefreshEvent: function (event) {
                    this.$.utility.raiseEvent(this.fireEvent, {
                        ActionName: "SwitchBank",
                        EventData: event,
                        CompnentName: 'switch-bank'
                    });
                },
                init: function () {
                    this._getbankSourceLookupData();
                }
            });
        });
    </script>
</dom-module>