<dom-module id="update-loan-amount">
    <template>
        <style>
            .custom-input {
                --paper-input-container-input: {
                    font-size: 11px;
                }
                --paper-input-container-label: {
                    font-size: 12px;
                }
            }
        </style>
        <div class="row">
            <div class="col-md-12">
                <div id="ErrorMessge"></div>
                <form is="iron-form" class="form-horizontal" name="updateLoanAmountForm">
                    <div class="row">
                        <div class="col-md-12">
                            <paper-input type="number" class="custom-input" auto-validate allowed-pattern="[\w]" pattern="^[0-9]$" min="{{LoanAmountvalidations.min}}"
                                max="{{LoanAmountvalidations.max}}" maxlength="6" value="{{LoanAmount}}" name="loanamount" id="loanamount"
                                label="Requested Loan amount" required></paper-input>
                        </div>
                    </div>
                    <paper-button class="btn btn-primary activity-action-btn" on-click="_verifyForm" raised>Submit</paper-button>
                </form>
            </div>
        </div>
        <http-request id="http"></http-request>
        <utility-service id="utility"></utility-service>
        <message-component id="message"></message-component>
        <alloy-config id="config"></alloy-config>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "update-loan-amount",
                properties: {
                    LoanAmount: {
                        type: String,
                        notify: true,
                        value: "",
                    },
                    dataAttributes: {
                        type: Object,
                        notify: true,
                        observer: '_loadDataAttributes'
                    },
                    LoanAmountvalidations: {
                        type: Object,
                        notify: true,
                        value: {},
                    }
                },
                _loadDataAttributes: function () {
                    var self = this;
                    var _dataAttributes = self.dataAttributes;
                    if (!_.isNull(_dataAttributes.application) && !_.isUndefined(_dataAttributes.application) && !_.isEmpty(_dataAttributes.application)) {
                        if (_dataAttributes.application.hasOwnProperty('requestedAmount')) {
                            self.set('LoanAmount', _dataAttributes.application.requestedAmount);
                        }
                    }
                },
                _verifyForm: function (event) {
                    event.preventDefault();
                    var self = this;
                    var form = Polymer.dom(event).localTarget.parentElement;
                    if (form.validate()) {
                        var loanAmountObj = {
                            RequestLoanAmount: self.LoanAmount
                        };
                        var appProcessor = window.config.services.appProcessor;
                        var url = "/application/" + self.applicationNumber + "/requestLoanamount";
                        self.$.http.put(url, loanAmountObj, appProcessor, true).then(function (result) {
                            self.$.message.showMessage("Operation completed successfully.", "INFO", self.$.ErrorMessge);
                            self.raiseAppRefreshEvent(event);
                        }).fail(function (e) {
                            console.error("loadConfig error is ", e);
                        });
                    }
                },
                init: function () {

                },
                ready: function () {
                    var self = this;
                    var loanAmountConfig = self.$.config.getConfigurationBasedOnKey("loanAmount");
                    self.set("LoanAmountvalidations", loanAmountConfig);
                },
                raiseAppRefreshEvent: function (event) {
                    this.$.utility.raiseEvent(this.fireEvent, {
                        ActionName: "UpdateLoanAmount",
                        EventData: event,
                        CompnentName: 'update-loan-amount'
                    });
                }

            });
        });
    </script>
</dom-module>