<dom-module id="update-income-expense">
    <template>
        <style>
            .custom-input {
                --paper-input-container-input: {
                    font-size: 11px;
                }
                --paper-input-container-label: {
                    font-size: 12px;
                }
            }
        </style>
        <div class="row">
            <div class="col-md-12">
                <form is="iron-form" class="form-horizontal" name="UpdateIncomExpenceForm">
                    <div class="row">
                        <div class="col-md-12">
                            <vaadin-combo-box name="ResidencyDDL" class="custom-input" id="ResidencyDDL" value="{{selectedResidenceType}}" item-value-path="key"
                                item-label-path="value" items="[[residenceType]]" label="Select Residence Type" prevent-invalid-input="true"
                                on-change="_setSelectResiType" required>
                            </vaadin-combo-box>
                        </div>
                    </div>
                    <dynamic-form form-configuration={{prefiosReportObj}} values="{{prefiosReportObj.values}}"></dynamic-form>
                    <br/>
                    <paper-button class="btn btn-primary activity-action-btn" on-click="_verifyForm" raised>Submit</paper-button>
                </form>
            </div>
        </div>

        <http-request id="http"></http-request>
        <utility-service id="utility"></utility-service>
        <message-component id="message"></message-component>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "update-income-expense",
                properties: {
                    selectedResidenceType: {
                        type: String,
                        notify: true
                    },
                    residenceType: {
                        type: Array,
                        notify: true,
                        value: [
                            { key: "OwnedSelf", value: "Self Owned" },
                            { key: "Owned-Family", value: "Owned With Family" },
                            { key: "Rented-Family", value: "Rented With Family" },
                            { key: "Rented-Alone", value: "Rented Bachelor Staying Alone" },
                            { key: "Rented-Friends", value: "Rented With Friends" },
                            { key: "PG-Hostel", value: "PG or Hostel" },
                            { key: "Company-Acco", value: "Company Provided Accommodation" }
                        ]
                    },
                    dataAttributes: {
                        type: Object,
                        notify: true,
                        observer: '_loadDataAttributes'
                    },
                    prefiosReportObj: {
                        type: Object,
                        notify: true,
                        value: {
                            controls: {
                                monthlyRent: {
                                    label: "Monthly Rent / Housing EMI",
                                    type: "textbox",
                                    validations: {
                                        required: false,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false,
                                        pattern: 'NUMBER',
                                        minLen: 0,
                                        maxLen: 10
                                    }
                                },
                                DebtPayments: {
                                    label: "Other EMI's",
                                    type: "textbox",
                                    validations: {
                                        required: false,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false,
                                        pattern: 'NUMBER',
                                        minLen: 0,
                                        maxLen: 10
                                    }
                                },
                                creditCardBalances: {
                                    label: "Credit Card Balances",
                                    type: "textbox",
                                    validations: {
                                        required: false,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false,
                                        pattern: 'NUMBER',
                                        minLen: 0,
                                        maxLen: 10
                                    }
                                }
                            },
                            values: {
                                monthlyRent: "",
                                DebtPayments: "",
                                creditCardBalances: ""
                            }
                        }
                    }
                },
                _setSelectResiType: function (event) {
                    this._setLabel(event.target.value);
                },
                _setLabel: function (currentValue) {
                    var self = this;
                    if (!_.isNull(self.prefiosReportObj) && !_.isUndefined(self.prefiosReportObj) && !_.isEmpty(self.prefiosReportObj)) {
                        if (currentValue === "OwnedSelf" || currentValue === "Owned-Family" || currentValue === "Company-Acco") {
                            self.prefiosReportObj.controls.monthlyRent.validations.required = false;
                            self.prefiosReportObj.controls.monthlyRent.validations.pattern = "NUMBER";
                            self.set('prefiosReportObj', $.extend({}, self.prefiosReportObj));
                            var label = (currentValue === "Company-Acco") ? "Other EMI's" : 'Total EMI Inclusing Housing';
                            $("input[name = 'DebtPayments']").parent().find('label').text(label);
                            setTimeout(function () {
                                $("paper-input[id*='monthlyRent']").hide();
                            }, 1000);
                        }
                        else {
                            self.prefiosReportObj.controls.monthlyRent.validations.required = true;
                            self.prefiosReportObj.controls.monthlyRent.validations.pattern = "AMOUNT";
                            self.set('prefiosReportObj', $.extend({}, self.prefiosReportObj));
                            $("paper-input[id*='monthlyRent']").show();
                            $("input[name = 'DebtPayments']").parent().find('label').text("Other EMI's");
                            $("input[name = 'monthlyRent']").parent().find('label').text('Monthly rent')
                        }
                    }
                },
                _loadDataAttributes: function () {
                    var self = this;
                    var _dataAttributes = self.dataAttributes;
                    if (_dataAttributes) {
                        if (!_.isNull(_dataAttributes.application) && !_.isUndefined(_dataAttributes.application) && !_.isEmpty(_dataAttributes.application)) {
                            self.prefiosReportObj.values.monthlyRent = (_dataAttributes.application.monthlyRent === 0 ? "" : _dataAttributes.application.monthlyRent);
                            self.prefiosReportObj.values.DebtPayments = (_dataAttributes.application.OtherEmi === 0 ? "" : _dataAttributes.application.OtherEmi);
                            self.prefiosReportObj.values.creditCardBalances = (_dataAttributes.application.creditCardBalance === 0 ? "" : _dataAttributes.application.creditCardBalance);
                            self.set('selectedResidenceType', _dataAttributes.application.residenceType);
                            self.set('prefiosReportObj', $.extend({}, self.prefiosReportObj));
                            setTimeout(function () {
                                self._setLabel(self.selectedResidenceType);
                            }, 1000);
                        }
                    }
                },
                _verifyForm: function (event) {
                    event.preventDefault();
                    var self = this;
                    var prefiosReportObj = self.prefiosReportObj;
                    var form = Polymer.dom(event).localTarget.parentElement;
                    var appProcessor = window.config.services.appProcessor;
                    var url = "/application/" + self.applicationNumber + "/selfDeclaredExpense";
                    var resType = ['OwnedSelf', 'Owned-Family', 'Company-Acco'];
                    if (resType.indexOf(self.selectedResidenceType) !== -1) {
                        prefiosReportObj.values.monthlyRent = 0;
                    }
                    if (form.validate()) {
                        prefiosReportObj.values.residenceType = self.selectedResidenceType;

                        var payload = {
                            residenceType: self.selectedResidenceType,
                            monthlyRent: parseInt(prefiosReportObj.values.monthlyRent),
                            DebtPayments: parseInt(prefiosReportObj.values.DebtPayments),
                            creditCardBalances: parseInt(prefiosReportObj.values.creditCardBalances)
                        };
                        self.$.http.put(url, payload, appProcessor, true).then(function (result) {
                            self.raiseAppRefreshEvent(event);
                        }).fail(function (e) {
                            console.error("loadConfig error is ", e);
                        });
                    }
                },
                init: function () {

                },
                raiseAppRefreshEvent: function (event) {
                    this.$.utility.raiseEvent(this.fireEvent, {
                        ActionName: "UpdateIncomeExpense",
                        EventData: event,
                        CompnentName: 'update-income-expense'
                    });
                }
            });
        });
    </script>
</dom-module>