<dom-module id="update-scheme-code">
    <template>
        <style>
            .custom-input {
                --paper-input-container-input: {
                    font-size: 11px;
                }
                --paper-input-container-label: {
                    font-size: 12px;
                }
            }

            .set-vertical-height {
                height: 500px;
                overflow-y: scroll;
            }
        </style>
        <div class="row">
            <div id="ErrorMessge"></div>
            <div class="col-md-12">
                <form is="iron-form" class="form-horizontal" name="PersonalDetail">
                    <div class="row">
                        <div class="col-md-12">
                            <vaadin-combo-box name="SchemeCode" class="custom-input" id="SchemeCode" value="{{selectedSchemeCode}}" item-value-path="key"
                                item-label-path="value" items="[[schemeCodeSelectList]]" label="Select Scheme Code" prevent-invalid-input="true"
                                required>
                            </vaadin-combo-box>
                        </div>
                    </div>
                    <br/>
                    <paper-button class="btn btn-primary activity-action-btn" on-click="updateSchemeCode" raised>Submit</paper-button>
                </form>
            </div>
        </div>
        <http-request id="http"></http-request>
        <utility-service id="utility"></utility-service>
        <message-component id="message"></message-component>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "update-scheme-code",
                properties: {
                    dataAttributes: {
                        type: Object,
                        notify: true,
                        observer: '_loadDataAttributes'
                    },
                    selectedSchemeCode: {
                        type: String,
                        notify: true,
                        value: ""
                    },
                    schemeCodeSelectList: {
                        type: Array,
                        notify: true,
                        value: [
                            { key: "PLCE1", value: "PLCE1" },
                            { key: "PLCE2", value: "PLCE2" }
                        ]
                    }
                },
                _loadDataAttributes: function () {
                    var self = this;
                    var _dataAttributes = self.dataAttributes;
                    if (_dataAttributes) {
                        if (_dataAttributes.hasOwnProperty('application')) {
                            self.set('selectedSchemeCode', _dataAttributes.application.schemeCode);
                        }
                    }
                },
                updateSchemeCode: function (event) {
                    var self = this;
                    var applicationDetail = window.config.services.applicationDetail;
                    var result = self.selectedSchemeCode;
                    var form = Polymer.dom(event).localTarget.parentElement;
                    if (form.validate()) {
                        var url = "schemecode" + "/" + self.applicationNumber + "/" + result;
                        self.$.http.put(url, {}, applicationDetail, true).then(function (result) {
                            self.$.message.showMessage("Operation completed successfully.", "INFO", self.$.ErrorMessge);
                            self.raiseAppRefreshEvent(event);
                        }).fail(function (e) {
                            console.error("loadConfig error is ", e);
                        });
                    } else {
                        self.$.message.showMessage("Please select One option.", "ERROR", self.$.ErrorMessge);
                    }
                },
                raiseAppRefreshEvent: function (event) {
                    this.$.utility.raiseEvent(this.fireEvent, {
                        ActionName: "UpdateSchemeCode",
                        EventData: event,
                        CompnentName: 'update-scheme-code'
                    });
                },
                init: function () {

                },
            });
        });
    </script>
</dom-module>