<html-import html-href="services/workflow-service.html"></html-import>
<dom-module id="update-address">
    <template>
        <style>
            .nav-tabs {
                margin-bottom: -1px;
            }

            .nav-tabs>li.active>a,
            .nav-tabs>li.active>a:hover,
            .nav-tabs>li.active>a:focus {
                color: #555555 !important;
                cursor: default;
                background: white;
                border-bottom: #f3f3f4;
                border-color: #dddddd #dddddd rgba(0, 0, 0, 0);
                border-image: none;
                border-style: solid;
                border-width: 1px;
                -moz-border-bottom-colors: none;
                -moz-border-left-colors: none;
                -moz-border-right-colors: none;
                -moz-border-top-colors: none;
            }

            .tab-content>.active {
                display: block;
                background: white;
            }

            .nav.nav-tabs li a {
                padding: 15px !important;
            }

            .set-vertical-height {
                height: 480px;
                overflow-y: scroll;
            }
        </style>
        <div class="row">
            <div class="col-md-12 set-vertical-height">
                <ul class="nav nav-tabs" id="myTab">
                    <li class="active">
                        <a data-target="#CurrentAddress" data-toggle="tab">Current Address</a>
                    </li>
                    <li>
                        <a data-target="#PermanantAddress" data-toggle="tab">Permanant Address</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="CurrentAddress">
                        <div class="row">
                            <div class="col-md-12">
                                <form is="iron-form" class="form-horizontal" name="cashflowForm">
                                    <dynamic-form form-configuration={{curAddressObj}} values="{{curAddressObj.values}}"></dynamic-form>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <paper-checkbox checked="{{CopyAddress}}" name="CopyAddress" id="CopyAddress">
                                                Permanent Address Same As Your Current Address
                                            </paper-checkbox>
                                        </div>
                                    </div>
                                    <br/>
                                    <paper-button class="btn btn-primary activity-action-btn" on-click="_verifyFormCurrent" raised>Submit</paper-button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="PermanantAddress">
                        <div class="row">
                            <div class="col-md-12">
                                <form is="iron-form" class="form-horizontal" name="cashflowForm">
                                    <dynamic-form form-configuration={{perAddressObj}} values="{{perAddressObj.values}}"></dynamic-form>
                                    <br/>
                                    <paper-button class="btn btn-primary activity-action-btn" on-click="_verifyFormPemanant" raised>Submit</paper-button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <http-request id="http"></http-request>
        <workflow-service id="workflow"></workflow-service>
        <utility-service id="utility"></utility-service>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "update-address",
                properties: {
                    CopyAddress: {
                        type: Boolean,
                        notify: true,
                        observer: "_CopyAddress"
                    },
                    cAddressDetail: {
                        type: Object,
                        notify: true
                    },
                    pAddressDetail: {
                        type: Object,
                        notify: true
                    },
                    curAddressObj: {
                        type: Object,
                        notify: true,
                        value: {
                            controls: {
                                addressLine1: {
                                    label: "Address Line 1",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: true,
                                        minLen: 1,
                                        maxLen: 40
                                    }
                                },
                                addressLine2: {
                                    label: "Address Line 2",
                                    type: "textbox",
                                    validations: {
                                        required: false,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false,
                                        minLen: 0,
                                        maxLen: 40
                                    }
                                },
                                location: {
                                    label: "Locality",
                                    type: "textbox",
                                    validations: {
                                        required: false,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false,
                                        minLen: 1,
                                        maxLen: 40
                                    }
                                },
                                cpinCode: {
                                    label: "PinCode",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: true,
                                        pattern: 'PIN',
                                        minLen: 6,
                                        maxLen: 6
                                    }
                                },
                                city: {
                                    label: "City",
                                    type: "combobox",
                                    selectList: [],
                                    labelKey: "value",
                                    labelValue: "key",
                                    validations: {
                                        required: true
                                    }
                                },
                                state: {
                                    label: "State",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: true,
                                        minLen: 1,
                                        maxLen: 64
                                    }
                                }
                            },
                            values: {
                                addressLine1: "",
                                addressLine2: "",
                                location: "",
                                city: "",
                                state: "",
                                cpinCode: ""
                            }
                        }
                    },
                    perAddressObj: {
                        type: Object,
                        notify: true,
                        value: {
                            controls: {
                                addressLine1: {
                                    label: "Address Line 1",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: true,
                                        minLen: 1,
                                        maxLen: 40
                                    }
                                },
                                addressLine2: {
                                    label: "Address Line 2",
                                    type: "textbox",
                                    validations: {
                                        required: false,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false,
                                        minLen: 0,
                                        maxLen: 40
                                    }
                                },
                                location: {
                                    label: "Locality",
                                    type: "textbox",
                                    validations: {
                                        required: false,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false,
                                        minLen: 1,
                                        maxLen: 40
                                    }
                                },
                                ppinCode: {
                                    label: "PinCode",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: true,
                                        pattern: 'PIN',
                                        minLen: 6,
                                        maxLen: 6
                                    }
                                },
                                city: {
                                    label: "City",
                                    type: "combobox",
                                    selectList: [],
                                    labelKey: "value",
                                    labelValue: "key",
                                    validations: {
                                        required: true
                                    }
                                },
                                state: {
                                    label: "State",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: true,
                                        minLen: 1,
                                        maxLen: 64
                                    }
                                }
                            },
                            values: {
                                addressLine1: "",
                                addressLine2: "",
                                location: "",
                                city: "",
                                state: "",
                                ppinCode: ""
                            }
                        }
                    },
                    applicationDetail: {
                        type: Object,
                        notify: true,
                        observer: '_loadApplicationDetail'
                    }
                },
                _CopyAddress: function (objVal) {
                    var self = this;
                    if (objVal) {
                        self.perAddressObj.values.addressLine1 = self.curAddressObj.values.addressLine1;
                        self.perAddressObj.values.addressLine2 = self.curAddressObj.values.addressLine2;
                        self.perAddressObj.values.location = self.curAddressObj.values.location;
                        self.perAddressObj.values.city = self.curAddressObj.values.city;
                        self.perAddressObj.values.state = self.curAddressObj.values.state;
                        self.perAddressObj.values.ppinCode = self.curAddressObj.values.cpinCode;
                        setTimeout(function () {
                            self._fetchPinCodeDetails(self.perAddressObj.values.ppinCode, 'ppinCode');
                        }, 2000);
                        self.set('curAddressObj', $.extend({}, self.curAddressObj));
                        self.set('perAddressObj', $.extend({}, self.perAddressObj));
                    }
                },
                _checkIfNullObject: function (obj) {
                    return Object.keys(obj).length === 0 && obj.constructor === Object;
                },
                checkLength: function (data) {
                    if (!_.isNull(data) && !_.isUndefined(data) && !_.isEmpty(data) && data.length > 40)
                        return data.toString().substring(0, 40);
                    return data;
                },
                _loadApplicationDetail: function () {
                    var self = this;
                    var _applicationDetail = _.cloneDeep(self.applicationDetail);
                    if (_applicationDetail) {
                        if (_applicationDetail.hasOwnProperty('addresses')) {
                            self._getAddressData(_applicationDetail);
                        }
                    }
                },
                _getAddressData: function (data) {
                    var self = this;
                    self.cAddressDetail = {};
                    self.pAddressDetail = {};
                    if (!_.isNull(data.addresses) && !_.isUndefined(data.addresses) && !_.isEmpty(data.addresses)) {
                        var currentAddress = data.addresses[0];
                        var permanantAddress = data.addresses[1];
                        if (currentAddress.addressType == "Current") {
                            self.cAddressDetail.addressId = currentAddress.addressId;
                            self.cAddressDetail.addressLine1 = self.checkLength(currentAddress.addressLine1);
                            self.cAddressDetail.addressLine2 = self.checkLength(currentAddress.addressLine2);
                            self.cAddressDetail.addressLine3 = self.checkLength(currentAddress.addressLine3);
                            self.cAddressDetail.addressLine4 = self.checkLength(currentAddress.addressLine4);
                            self.cAddressDetail.landMark = "";
                            self.cAddressDetail.location = self.checkLength(currentAddress.location);
                            self.cAddressDetail.city = _.startCase(currentAddress.city);
                            self.cAddressDetail.state = _.startCase(currentAddress.state);
                            self.cAddressDetail.pinCode = currentAddress.pinCode;
                            self.cAddressDetail.country = (currentAddress.country === null ? "India" : currentAddress.country);
                            self.cAddressDetail.addressType = currentAddress.addressType;
                            self.cAddressDetail.isDefault = currentAddress.isDefault;
                            self.curAddressObj.values.addressLine1 = self.checkLength(currentAddress.addressLine1);
                            self.curAddressObj.values.addressLine2 = self.checkLength(currentAddress.addressLine2);
                            self.curAddressObj.values.location = self.checkLength(currentAddress.location);
                            self.curAddressObj.values.city = (currentAddress.city === null ? "" : _.startCase(currentAddress.city));
                            self.curAddressObj.values.state = _.startCase(currentAddress.state);
                            self.curAddressObj.values.cpinCode = currentAddress.pinCode;
                            self.set('curAddressObj', $.extend({}, self.curAddressObj));
                            setTimeout(function () {
                                self._fetchPinCodeDetails(currentAddress.pinCode, 'cpinCode');
                            }, 2000);
                        }
                        if (permanantAddress.addressType == "Permanant") {
                            self.pAddressDetail.addressId = permanantAddress.addressId;
                            self.pAddressDetail.addressLine1 = self.checkLength(permanantAddress.addressLine1);
                            self.pAddressDetail.addressLine2 = self.checkLength(permanantAddress.addressLine2);
                            self.pAddressDetail.addressLine3 = self.checkLength(permanantAddress.addressLine3);
                            self.pAddressDetail.addressLine4 = self.checkLength(permanantAddress.addressLine4);
                            self.pAddressDetail.landMark = "";
                            self.pAddressDetail.location = permanantAddress.location;
                            self.pAddressDetail.city = _.startCase(permanantAddress.city);
                            self.pAddressDetail.state = _.startCase(permanantAddress.state);
                            self.pAddressDetail.pinCode = permanantAddress.pinCode;
                            self.pAddressDetail.country = (permanantAddress.country === null ? "India" : permanantAddress.country);
                            self.pAddressDetail.addressType = permanantAddress.addressType;
                            self.pAddressDetail.isDefault = permanantAddress.isDefault;
                            self.perAddressObj.values.addressLine1 = self.checkLength(permanantAddress.addressLine1);
                            self.perAddressObj.values.addressLine2 = self.checkLength(permanantAddress.addressLine2);
                            self.perAddressObj.values.location = self.checkLength(permanantAddress.location);
                            self.perAddressObj.values.city = (permanantAddress.city === null ? "" : _.startCase(permanantAddress.city));
                            self.perAddressObj.values.state = _.startCase(permanantAddress.state);
                            self.perAddressObj.values.ppinCode = permanantAddress.pinCode;
                            self.set('perAddressObj', $.extend({}, self.perAddressObj));
                            setTimeout(function () {
                                self._fetchPinCodeDetails(permanantAddress.pinCode, 'ppinCode');
                            }, 2000);
                        }
                    }
                    else {
                        self.cAddressDetail.addressId = "";
                        self.cAddressDetail.addressLine1 = "";
                        self.cAddressDetail.addressLine2 = "";
                        self.cAddressDetail.addressLine3 = "";
                        self.cAddressDetail.addressLine4 = "";
                        self.cAddressDetail.landMark = "";
                        self.cAddressDetail.location = "";
                        self.cAddressDetail.city = "";
                        self.cAddressDetail.state = "";
                        self.cAddressDetail.pinCode = "";
                        self.cAddressDetail.country = "";
                        self.cAddressDetail.addressType = "Current";
                        self.cAddressDetail.isDefault = "true";
                        self.set('curAddressObj', $.extend({}, self.cAddressDetail));
                        self.pAddressDetail.addressId = "";
                        self.pAddressDetail.addressLine1 = "";
                        self.pAddressDetail.addressLine2 = "";
                        self.pAddressDetail.addressLine3 = "";
                        self.pAddressDetail.addressLine4 = "";
                        self.pAddressDetail.landMark = "";
                        self.pAddressDetail.location = "";
                        self.pAddressDetail.city = "";
                        self.pAddressDetail.state = "";
                        self.pAddressDetail.pinCode = "";
                        self.pAddressDetail.country = "";
                        self.pAddressDetail.addressType = "Permanant";
                        self.pAddressDetail.isDefault = "false";
                        self.set('perAddressObj', $.extend({}, self.pAddressDetail));
                    }
                },
                _verifyFormCurrent: function (event) {
                    event.preventDefault();
                    var self = this;
                    var address = self.curAddressObj;
                    var form = Polymer.dom(event).localTarget.parentElement;
                    var appProcessor = window.config.services.appProcessor;
                    var url = "/application/" + self.applicationNumber + "/address";
                    if (form.validate()) {
                        self.cAddressDetail.addressLine1 = self.curAddressObj.values.addressLine1
                        self.cAddressDetail.addressLine2 = self.curAddressObj.values.addressLine2
                        self.cAddressDetail.location = self.curAddressObj.values.location
                        self.cAddressDetail.city = self.curAddressObj.values.city
                        self.cAddressDetail.state = self.curAddressObj.values.state
                        self.cAddressDetail.pinCode = self.curAddressObj.values.cpinCode
                        self.$.http.put(url, self.cAddressDetail, appProcessor, true).then(function (result) {
                            self._savePermanent(event);
                        }).fail(function (e) {
                            console.error("loadConfig error is ", e);
                        });
                    }
                },
                _verifyFormPemanant: function (event) {
                    event.preventDefault();
                    var self = this;
                    var form = Polymer.dom(event).localTarget.parentElement;
                    var appProcessor = window.config.services.appProcessor;
                    var url = "/application/" + self.applicationNumber + "/address";
                    if (form.validate()) {
                        self.pAddressDetail.addressLine1 = self.perAddressObj.values.addressLine1
                        self.pAddressDetail.addressLine2 = self.perAddressObj.values.addressLine2
                        self.pAddressDetail.location = self.perAddressObj.values.location
                        self.pAddressDetail.city = self.perAddressObj.values.city
                        self.pAddressDetail.state = self.perAddressObj.values.state
                        self.pAddressDetail.pinCode = self.perAddressObj.values.ppinCode
                        self.$.http.put(url, self.pAddressDetail, appProcessor, true).then(function (result) {
                            self._saveCurrent(event);
                        }).fail(function (e) {
                            console.error("loadConfig error is ", e);
                        });
                    }
                },
                _savePermanent: function (event) {
                    var self = this;
                    var appProcessor = window.config.services.appProcessor;
                    var url = "/application/" + self.applicationNumber + "/address";
                    self.pAddressDetail.addressLine1 = self.perAddressObj.values.addressLine1
                    self.pAddressDetail.addressLine2 = self.perAddressObj.values.addressLine2
                    self.pAddressDetail.location = self.perAddressObj.values.location
                    self.pAddressDetail.city = self.perAddressObj.values.city
                    self.pAddressDetail.state = self.perAddressObj.values.state
                    self.pAddressDetail.pinCode = self.perAddressObj.values.ppinCode
                    self.$.http.put(url, self.pAddressDetail, appProcessor, true).then(function (result) {
                        self.raiseAppRefreshEvent(event);
                    }).fail(function (e) {
                        self.raiseAppRefreshEvent(event);
                    });
                },
                _saveCurrent: function (event) {
                    var self = this;
                    var appProcessor = window.config.services.appProcessor;
                    var url = "/application/" + self.applicationNumber + "/address";
                    self.cAddressDetail.addressLine1 = self.curAddressObj.values.addressLine1
                    self.cAddressDetail.addressLine2 = self.curAddressObj.values.addressLine2
                    self.cAddressDetail.location = self.curAddressObj.values.location
                    self.cAddressDetail.city = self.curAddressObj.values.city
                    self.cAddressDetail.state = self.curAddressObj.values.state
                    self.cAddressDetail.pinCode = self.curAddressObj.values.cpinCode
                    self.$.http.put(url, self.cAddressDetail, appProcessor, true).then(function (result) {
                        self.raiseAppRefreshEvent(event);
                    }).fail(function (e) {
                        self.raiseAppRefreshEvent(event);
                    });
                },
                _convertListToObjectList: function (array) {
                    var tempList = [];
                    for (var i = 0; i < array.length; i++) {
                        tempList.push({ key: _.startCase(array[i]), value: _.startCase(array[i]) });
                    }
                    return tempList;
                },
                _fetchPinCodeDetails: function (pinCode, inputName) {
                    var self = this;
                    self.$.workflow.execute('on-boarding', 'lookup', 'pincode-details', { "pincode": pinCode }).then(function (result) {
                        if (result != undefined) {
                            if (inputName === 'cpinCode') {
                                self.curAddressObj.values["state"] = _.startCase(result.state);
                                self.curAddressObj.controls.city.selectList = self._convertListToObjectList(result.cities);
                                if (self.curAddressObj.values["city"] == "" && self.curAddressObj.controls.city.selectList.length > 0)
                                    self.curAddressObj.values["city"] = self.curAddressObj.controls.city.selectList[0].value;
                                self.set('curAddressObj', $.extend({}, self.curAddressObj));
                            }
                            else if (inputName === 'ppinCode') {
                                self.perAddressObj.values["state"] = _.startCase(result.state);
                                self.perAddressObj.controls.city.selectList = self._convertListToObjectList(result.cities);
                                if (self.perAddressObj.values["city"] == "" && self.perAddressObj.controls.city.selectList.length > 0)
                                    self.perAddressObj.values["city"] = self.perAddressObj.controls.city.selectList[0].value;
                                self.set('perAddressObj', $.extend({}, self.perAddressObj));
                            }
                        }
                    });
                },
                _pincodeChanged: function () {
                    var self = this;
                    $("input[name='cpinCode'], input[name='ppinCode']").change(function () {
                        var _this = $(this);
                        var name = _this.prop('name');
                        if (name === "cpinCode" && self.cAddressDetail.pinCode !== _this.val()) {
                            self.curAddressObj.values["city"] = "";
                            self._fetchPinCodeDetails(_this.val(), _this.prop('name'));
                        }
                        else if (name === "ppinCode" && self.pAddressDetail.pinCode !== _this.val()) {
                            self.perAddressObj.values["city"] = "";
                            self._fetchPinCodeDetails(_this.val(), _this.prop('name'));
                        }
                    });
                },
                ready: function () {
                    var self = this;
                    setTimeout(function () {
                        self._pincodeChanged();
                    }, 3000);

                },
                init: function () {
                },
                raiseAppRefreshEvent: function (event) {
                    this.$.utility.raiseEvent(this.fireEvent, {
                        ActionName: "UpdateAddress",
                        EventData: event,
                        CompnentName: 'update-address'
                    });
                }
            });
        });
    </script>
</dom-module>