<dom-module id="update-resend-email">
    <template>
        <div class="row">
            <div class="col-md-12">
                <div id="ResendMailErrorMessge"></div>
                <form is="iron-form" class="form-horizontal" name="updateResendEmailForm">
                    <dynamic-form form-configuration={{perEmailObj}} values="{{perEmailObj.values}}"></dynamic-form>
                    <br/>
                    <paper-button id="updateResendEmail" class="btn btn-primary activity-action-btn" on-click="_submitForm" raised>Submit</paper-button>
                </form>
            </div>
        </div>
        <http-request id="http"></http-request>
        <utility-service id="utility"></utility-service>
        <message-component id="message"></message-component>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "update-resend-email",
                properties: {
                    emailDetail: {
                        type: Object,
                        notify: true
                    },
                    perEmailObj: {
                        type: Object,
                        notify: true,
                        value: {
                            controls: {
                                email: {
                                    label: "Personal Email",
                                    type: "email",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: true,
                                        autovalidate: true,
                                        pattern: 'EMAIL',
                                        allowpattern: "[\\S]",
                                        minLen: 1,
                                        maxLen: 64
                                    }
                                }
                            },
                            values: {
                                email: ""
                            }
                        }
                    },
                    applicationDetail: {
                        type: Object,
                        notify: true,
                        observer: '_loadApplicationDetail'
                    }
                },
                _loadApplicationDetail: function () {
                    var self = this;
                    var _applicationDetail = _.cloneDeep(self.applicationDetail);
                    self.emailDetail = {};
                    if (_applicationDetail.hasOwnProperty('emailAddress')) {
                        self.emailDetail.id = _applicationDetail.emailAddress.id;
                        self.emailDetail.emailType = _applicationDetail.emailAddress.emailType;
                        self.emailDetail.email = _applicationDetail.emailAddress.email;
                        self.emailDetail.isDefault = _applicationDetail.emailAddress.isDefault;
                        self.perEmailObj.values["email"] = _applicationDetail.emailAddress.email;
                        self.set('perEmailObj', $.extend({}, self.perEmailObj));
                    } else {
                        self.emailDetail.id = "";
                        self.emailDetail.emailType = "";
                        self.emailDetail.email = "";
                        self.emailDetail.isDefault = "";
                    }
                    self.set('emailDetail', $.extend({}, self.emailDetail));
                },
                UpdateEmail: function (event) {
                    var self = this;
                    var perEmailObj = self.perEmailObj;
                    var form = Polymer.dom(event).localTarget.parentElement;
                    var offerEngine = window.config.services.appProcessor;
                    var url = "/application/" + self.applicationNumber + "/reInitiateEmail";
                    //assign value from UI to emailDetail object
                    self.emailDetail.email = self.perEmailObj.values["email"];
                    self.$.http.put(url, self.emailDetail, offerEngine, true).then(function (result) {
                        self.raiseAppRefreshEvent(event);
                    }).fail(function (e) {
                        self.$.message.showMessage(e.responseJSON.message, "ERROR", self.$.ResendMailErrorMessge);
                    });
                },
                _submitForm: function (event) {
                    event.preventDefault();
                    var self = this;
                    var perEmailObj = self.perEmailObj;
                    var appNumber = self.applicationNumber;
                    var form = Polymer.dom(event).localTarget.parentElement;
                    if (form.validate()) {
                        var applicationFilter = window.config.services.applicationFilters;
                        var url = "/duplicateexistsdata/Email/" + self.perEmailObj.values.email;
                        self.$.http.get(url, applicationFilter).then(function (data) {
                            if (data.length == 0 || data[0].applicationNumber === appNumber) {
                                self.UpdateEmail(event);
                            }
                            else {
                                self.$.message.showMessage("Email id already exists.", "ERROR", self.$.ResendMailErrorMessge);
                            }
                        }).fail(function (e) {
                            console.error("Check Duplicate Email ", e);
                        });
                    }
                },
                init: function () {
                },
                raiseAppRefreshEvent: function (event) {
                    this.$.utility.raiseEvent(this.fireEvent, {
                        ActionName: "UpdateResendEmail",
                        EventData: event,
                        CompnentName: 'update-resend-email'
                    });
                }
            });
        });
    </script>
</dom-module>