<dom-module id="update-aadhaar">
    <template>
        <div class="row">
            <div class="col-md-12">
                <div id="ErrorMessge"></div>
                <form is="iron-form" class="form-horizontal" name="PersonalDetail">
                    <dynamic-form form-configuration={{personalDetailObj}} values="{{personalDetailObj.values}}"></dynamic-form>
                    <br/>
                    <paper-button class="btn btn-primary activity-action-btn" on-click="_verifyForm" raised>Submit</paper-button>
                </form>
            </div>
        </div>
        <http-request id="http"></http-request>
        <utility-service id="utility"></utility-service>
        <message-component id="message"></message-component>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "update-aadhaar",
                properties: {
                    personalDetailObj: {
                        type: Object,
                        notify: true,
                        value: {
                            controls: {
                                aadhaarNumber: {
                                    label: "Aadhaar Number",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: true,
                                        pattern: 'AADHAAR',
                                        allowpattern: "[\\w]",
                                        minLen: 12,
                                        maxLen: 12
                                    }
                                }
                            },
                            values: {
                                aadhaarNumber: ""
                            }
                        }
                    },
                    dataAttributes: {
                        type: Object,
                        notify: true,
                        observer: '_loadDataAttributes'
                    }
                },
                init: function () {

                },
                _formReset: function (event) {
                    var form = Polymer.dom(event).localTarget.parentElement;
                    form.reset();
                },
                _loadDataAttributes: function () {
                    var self = this;
                    var _dataAttributes = self.dataAttributes;
                    if (_dataAttributes) {
                        if (_dataAttributes.hasOwnProperty("application"))
                            self.personalDetailObj.values["aadhaarNumber"] = _dataAttributes.application.aadharNumber;
                    }
                    self.set('personalDetailObj', $.extend({}, self.personalDetailObj));
                },
                _verifyForm: function (e) {
                    e.preventDefault();
                    var self = this;
                    var form = Polymer.dom(e).localTarget.parentElement;
                    var offerEngineEndpoint = window.config.services.appProcessor;
                    var result = self.personalDetailObj.values.aadhaarNumber;
                    if (form.validate()) {
                        var url = "application" + "/" + "updateaadhaar" + "/" + self.applicationNumber + "/" + result;
                        self.$.http.put(url, {}, offerEngineEndpoint, true).then(function (result) {
                            self.$.message.showMessage("Operation completed successfully.", "INFO", self.$.ErrorMessge);
                            self.raiseAppRefreshEvent(e);
                        }).fail(function (e) {
                            console.error("loadConfig error is ", e);
                        });
                    } else {
                        self.$.message.showMessage("Please enter any value.", "ERROR", self.$.ErrorMessge);
                    }
                },
                raiseAppRefreshEvent: function (event) {
                    this.$.utility.raiseEvent(this.fireEvent, {
                        ActionName: "UpdateAadhaarNumber",
                        EventData: event,
                        CompnentName: 'update-aadhaar'
                    });
                }
            });
        });
    </script>
</dom-module>