<dom-module id="update-hunter-status">
    <template>
        <div class="row">
            <div class="col-md-12">
                <div id="ErrorMessge"></div>
                <form is="iron-form" class="form-horizontal" name="HunterForm">
                    <dynamic-form form-configuration={{hunterStatusObj}} values="{{hunterStatusObj.values}}"></dynamic-form>
                    <br/>
                    <paper-button class="btn btn-primary activity-action-btn" on-click="updateStatus" raised>Submit</paper-button>
                </form>
            </div>
        </div>
        <http-request id="http"></http-request>
        <utility-service id="utility"></utility-service>
        <message-component id="message"></message-component>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "update-hunter-status",
                properties: {
                    dataAttributes: {
                        type: Object,
                        notify: true,
                        observer: "_loadDataAttributes"
                    },
                    hunterStatusObj: {
                        type: Object,
                        notify: true,
                        value: {
                            controls: {
                                hunterId: {
                                    label: "Hunter Id",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: true
                                    }
                                },
                                hunterStatus: {
                                    type: "radiogroup",
                                    radioList: [
                                        { key: "Match", value: "Match" },
                                        { key: "No-Match", value: "No-Match" }
                                    ]
                                }
                            },
                            values: {
                                hunterId: "",
                                hunterStatus: ""
                            }
                        }
                    }
                },
                _loadDataAttributes: function () {
                    var self = this;
                    var data = self.dataAttributes;
                    if (data.application) {
                        if (_.isBoolean(data.application.hunterStatus)) {
                            if (data.application.hunterStatus) {
                                self.hunterStatusObj.values["hunterStatus"] = "Match";
                            } else if (!data.application.hunterStatus) {
                                self.hunterStatusObj.values["hunterStatus"] = "No-Match";
                            }
                        } else {
                            self.hunterStatusObj.values["hunterStatus"] = "";
                        }
                        self.hunterStatusObj.values["hunterId"] = data.application.hunterId;
                        self.set('hunterStatusObj', $.extend({}, self.hunterStatusObj));
                    }
                },
                updateStatus: function (event) {
                    var self = this;
                    var form = Polymer.dom(event).localTarget.parentElement;
                    var applicationDetail = window.config.services.applicationDetail;
                    var result = "";
                    var hunter_id = self.hunterStatusObj.values.hunterId;
                    if (self.hunterStatusObj.values.hunterStatus == "Match") {
                        result = "true";
                    }
                    else if (self.hunterStatusObj.values.hunterStatus == "No-Match") {
                        result = "false";
                    }
                    else {
                        self.$.message.showMessage("Please fill all details.", "ERROR", self.$.ErrorMessge);
                        return;
                    }
                    if (form.validate()) {
                        var url = "/" + self.applicationNumber + "/hunterstatus/" + hunter_id + "/" + result;
                        self.$.http.put(url, {}, applicationDetail, true).then(function (result) {
                            self.$.message.showMessage("Operation completed successfully.", "INFO", self.$.ErrorMessge);
                            self.raiseAppRefreshEvent(event);
                        }).fail(function (e) {
                            console.error("loadConfig error is ", e);
                        });
                    } else {
                        self.$.message.showMessage("Please fill all details.", "ERROR", self.$.ErrorMessge);
                    }
                },
                raiseAppRefreshEvent: function (event) {
                    this.$.utility.raiseEvent(this.fireEvent, {
                        ActionName: "UpdateHunterStatus",
                        EventData: event,
                        CompnentName: 'update-hunter-status'
                    });
                },
                init: function () {

                },
            });
        });
    </script>
</dom-module>