<dom-module id="update-document-source">
    <template>
        <div class="slide-action">
            <div id="ErrorMessge"></div>
            <form is="iron-form" class="form-horizontal" name="DocumentSourceForm">
                <dynamic-form form-configuration={{documentSourceObj}} values="{{documentSourceObj.values}}"></dynamic-form>
                <br/>
                <paper-button class="btn btn-primary activity-action-btn" on-click="updateDocumentSource" raised>Submit</paper-button>
                <paper-button id="formResetButton" class="btn btn-primary activity-action-btn" style="display: none;" on-click="_formReset"
                    raised>Reset</paper-button>
            </form>
        </div>
        <http-request id="http"></http-request>
        <utility-service id="utility"></utility-service>
        <message-component id="message"></message-component>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "update-document-source",
                properties: {
                    documentSourceObj: {
                        type: Object,
                        notify: true,
                        value: {
                            controls: {
                                documentSource: {
                                    type: "radiogroup",
                                    radioList: [
                                        { key: "Home", value: "Home" },
                                        { key: "Office", value: "Office" }
                                    ]
                                }
                            },
                            values: {
                                documentSource: ""
                            }
                        }
                    },
                    dataAttributes: {
                        type: Object,
                        notify: true,
                        observer: '_loadDataAttributes'
                    }
                },
                _loadDataAttributes: function (e) {
                    var self = this;
                    var _dataAttributes = self.dataAttributes;
                    if (_dataAttributes) {
                        if (_dataAttributes.hasOwnProperty('application')) {
                            if (_dataAttributes.application.documentCollectedSource == "Home") {
                                self.documentSourceObj.values["documentSource"] = "Home";
                            } else if (_dataAttributes.application.documentCollectedSource == "Office") {
                                self.documentSourceObj.values["documentSource"] = "Office";
                            } else {
                                self.documentSourceObj.values["documentSource"] = "";
                            }
                        }
                        self.set('documentSourceObj', $.extend({}, self.documentSourceObj));
                    }
                },
                updateDocumentSource: function (event) {
                    var self = this;
                    var applicationDetail = window.config.services.applicationDetail;
                    var result = self.documentSourceObj.values.documentSource;
                    if (!_.isUndefined(result) && !_.isNull(result) && !_.isEmpty(result)) {
                        var form = Polymer.dom(event).localTarget.parentElement;
                        if (form.validate()) {
                            var url = "documentcollectedsource" + "/" + self.applicationNumber + "/" + result;
                            self.$.http.put(url, {}, applicationDetail, true).then(function (result) {
                                self.$.message.showMessage("Operation completed successfully.", "INFO", self.$.ErrorMessge);
                                $('#formResetButton').click();
                                self.raiseAppRefreshEvent(event);
                            }).fail(function (e) {
                                console.error("loadConfig error is ", e);
                            });
                        }
                    } else {
                        self.$.message.showMessage("Please select One option.", "ERROR", self.$.ErrorMessge);
                    }
                },
                raiseAppRefreshEvent: function (event) {
                    this.$.utility.raiseEvent(this.fireEvent, {
                        ActionName: "UpdateDocumentSource",
                        EventData: event,
                        CompnentName: 'update-document-source'
                    });
                },
                init: function () {

                },
                _formReset: function (event) {
                    var form = Polymer.dom(event).localTarget.parentElement;
                    form.reset();
                }
            });
        });
    </script>
</dom-module>