<dom-module id="update-employment-email">
    <template>
        <div class="row">
            <div class="col-md-12">
                <div id="employmentEmailErrMsg"></div>
                <form is="iron-form" class="form-horizontal" name="employmentemailForm">
                    <dynamic-form form-configuration={{perEmpDetailObj}} values="{{perEmpDetailObj.values}}"></dynamic-form>
                    <br/>
                    <paper-button class="btn btn-primary activity-action-btn" on-click="_verifyForm" raised>Submit</paper-button>
                </form>
            </div>
        </div>
        <http-request id="http"></http-request>
        <utility-service id="utility"></utility-service>
        <message-component id="message"></message-component>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "update-employment-email",
                properties: {
                    companyName: {
                        type: String,
                        notify: true,
                        value: ""
                    },
                    message: {
                        type: String,
                        notify: true,
                        value: ""
                    },
                    cinNumber: {
                        type: String,
                        notify: true,
                        value: ""
                    },
                    employmentDetail: {
                        type: Object,
                        notify: true,
                        value: {}
                    },
                    applicationDetail: {
                        type: Object,
                        notify: true,
                        observer: '_loadApplicationDetail'
                    },
                    perEmpDetailObj: {
                        type: Object,
                        notify: true,
                        value: {
                            controls: {
                                WorkEmail: {
                                    label: "Official Email",
                                    type: "email",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: true,
                                        pattern: 'EMAIL',
                                        allowpattern: "[\\S]",
                                        minLen: 1,
                                        maxLen: 64
                                    }
                                }
                            },
                            values: {
                                WorkEmail: ""
                            }
                        }
                    }
                },
                _loadApplicationDetail: function () {
                    var self = this;
                    var _applicationDetail = _.cloneDeep(self.applicationDetail);
                    if (!_.isNull(_applicationDetail) && !_.isUndefined(_applicationDetail) && !_.isEmpty(_applicationDetail)) {
                        if (_applicationDetail.hasOwnProperty('employmentDetail')) {
                            self.employmentDetail = _applicationDetail.employmentDetail;
                            self.perEmpDetailObj.values["WorkEmail"] = _applicationDetail.employmentDetail.workEmail;
                            self.set('perEmpDetailObj', $.extend({}, self.perEmpDetailObj));
                            self.set('companyName', _applicationDetail.employmentDetail.name);
                            self.set('cinNumber', _applicationDetail.employmentDetail.cinNumber);
                        }
                        self.set('employmentDetail', $.extend({}, self.employmentDetail));
                    }
                },
                _verifyForm: function (event) {
                    var self = this;
                    var form = Polymer.dom(event).localTarget.parentElement;
                    var appProcessorr = window.config.services.appProcessor;
                    var updatedEmail = self.perEmpDetailObj.values["WorkEmail"];
                    var emailVerifyurl = "/application/verify-email/" + updatedEmail;
                    if (form.validate()) {
                        self.$.http.get(emailVerifyurl, appProcessorr).then(function (data) {
                            if (data) {
                                self._updateEmploymentEmailData(event, updatedEmail);
                            } else {
                                self.$.message.showMessage("Generic company e-mail ID is not allowed.", "ERROR", self.$.employmentEmailErrMsg);
                            }
                        }).fail(function (e) {
                            self.$.message.showMessage("Generic company e-mail ID is not allowed.", "ERROR", self.$.employmentEmailErrMsg);
                            console.error("Email Verification and error is ", e);
                        });
                    }
                },
                _verifyViewDNSEmail: function (event, emailAddress) {
                    var self = this;
                    var httphost = window.config.services.viewDNS;
                    var viewDNSURL = "/application/" + self.applicationNumber + "/" + emailAddress + "/" + self.companyName + "/" + self.cinNumber;
                    self.$.http.get(viewDNSURL, httphost).then(function (data) {
                        if (data.domainMatched) {
                            self.$.message.showMessage("True", "INFO", self.$.employmentEmailErrMsg);
                        } else {
                            self.$.message.showMessage("False", "ERROR", self.$.employmentEmailErrMsg);
                        }
                        setTimeout(function () {
                            self.raiseAppRefreshEvent(event);
                        }, 1000);
                    }).fail(function (e) {
                        self.$.message.showMessage("False", "ERROR", self.$.employmentEmailErrMsg);
                        console.error("viewDNS error is ", e);
                        setTimeout(function () {
                            self.raiseAppRefreshEvent(event);
                        }, 1000);
                    });
                },
                _updateEmploymentEmailData: function (event, updatedEmail) {
                    var self = this;
                    var appProcessor = window.config.services.appProcessor;
                    var url = "/application/" + self.applicationNumber + "/employmentDetail";
                    var ResultObj = self.employmentDetail;
                    ResultObj.workEmail = updatedEmail;
                    self.$.http.put(url, ResultObj, appProcessor, true).then(function (result) {
                        //write a code for viewdns(Email Verification)
                        self._verifyViewDNSEmail(event, updatedEmail)
                    }).fail(function (e) {
                        console.error("loadConfig error is ", e);
                    });
                },
                init: function () {
                },
                raiseAppRefreshEvent: function (event) {
                    this.$.utility.raiseEvent(this.fireEvent, {
                        ActionName: "UpdateEmploymentEmail",
                        EventData: event,
                        CompnentName: 'update-employment-email'
                    });
                }
            });
        });
    </script>
</dom-module>