<html-import html-href="services/workflow-service.html"></html-import>
<dom-module id="update-bank-statement">
    <template>
        <style>
            vaadin-upload {
                --vaadin-upload-button-add: {
                    background: #80b43c;
                }
                --vaadin-upload-file-list: {
                    margin-left: 20px;
                }
                --vaadin-upload-drop-label: {
                    margin: 0 !important;
                    padding: 0 !important;
                }
            }

            .custom-input {
                --paper-input-container: {
                    padding: 0px 0px !important;
                }
                --paper-input-container-input: {
                    font-size: 11px;
                    padding: 0px 0px !important;
                }
                --paper-input-container-label: {
                    font-size: 12px;
                }
            }
        </style>
        <div class="row">
            <div class="col-md-12">
                <div id="ErrorMessge"></div>
                <form is="iron-form" class="form-horizontal" name="uploadBankStatementForm" autocomplete="off"
                    aria-autocomplete="none">
                    <div class="row">
                        <div class="col-md-6">
                            <vaadin-combo-box id="fromMonthList" class="custom-input" name="fromMonthList" value="{{selectedFromMonth}}"
                                item-value-path="value" item-label-path="key" items="[[fromMonthList]]" label="From Month"
                                prevent-invalid-input="true">
                            </vaadin-combo-box>
                        </div>
                        <div class="col-md-6">
                            <vaadin-combo-box id="fromYearList" class="custom-input" name="fromYearList" value="{{selectedFromYear}}"
                                item-value-path="value" item-label-path="key" items="[[fromYearList]]" label="From Year"
                                prevent-invalid-input="true">
                            </vaadin-combo-box>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <vaadin-combo-box id="toMonthList" class="custom-input" name="toMonthList" value="{{selectedToMonth}}"
                                item-value-path="value" item-label-path="key" items="[[toMonthList]]" label="To Month"
                                prevent-invalid-input="true">
                            </vaadin-combo-box>
                        </div>
                        <div class="col-md-6">
                            <vaadin-combo-box id="toYearList" class="custom-input" name="toYearList" value="{{selectedToYear}}"
                                item-value-path="value" item-label-path="key" items="[[toYearList]]" label="To Year"
                                prevent-invalid-input="true">
                            </vaadin-combo-box>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <vaadin-combo-box id="bankList" class="custom-input" name="BankList" value="{{selectedBank}}"
                                item-value-path="id" item-label-path="name" items="[[bankList]]" label="Bank Name"
                                prevent-invalid-input="true" required>
                            </vaadin-combo-box>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <vaadin-upload id="BankStatement" method="POST" accept=".pdf" on-file-remove="_fileRemove"
                                on-upload-before="_fileUploadBefore" required></vaadin-upload>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <paper-input type="password" class="custom-input" auto-validate value="{{filePassword}}"
                                name="filePassword" id="filePassword" label="Password for file"></paper-input>
                        </div>
                    </div>
                    <div style="margin: 10px auto; text-align: center;">
                        <paper-button class="btn btn-primary activity-action-btn" on-click="_verifyForm" raised>Submit</paper-button>
                    </div>
                    <paper-button id="formResetButton_bankstatement" class="btn btn-primary activity-action-btn" style="display: none;"
                        on-click="_formReset" raised>Reset</paper-button>
                </form>
            </div>
        </div>
        <http-request id="http"></http-request>
        <utility-service id="utility"></utility-service>
        <workflow-service id="workflow"></workflow-service>
        <message-component id="message"></message-component>
        <alloy-config id="config"></alloy-config>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "update-bank-statement",
                properties: {
                    selectedFromMonth: {
                        type: String,
                        notify: true
                    },
                    fromMonthList: {
                        type: Array,
                        notify: true,
                        value: [{ key: "01", value: "01" },
                        { key: "02", value: "02" },
                        { key: "03", value: "03" },
                        { key: "04", value: "04" },
                        { key: "05", value: "05" },
                        { key: "06", value: "06" },
                        { key: "07", value: "07" },
                        { key: "08", value: "08" },
                        { key: "09", value: "09" },
                        { key: "10", value: "10" },
                        { key: "11", value: "11" },
                        { key: "12", value: "12" }]
                    },
                    selectedFromYear: {
                        type: String,
                        notify: true
                    },
                    fromYearList: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    selectedToMonth: {
                        type: String,
                        notify: true
                    },
                    toMonthList: {
                        type: Array,
                        notify: true,
                        value: [{ key: "01", value: "01" },
                        { key: "02", value: "02" },
                        { key: "03", value: "03" },
                        { key: "04", value: "04" },
                        { key: "05", value: "05" },
                        { key: "06", value: "06" },
                        { key: "07", value: "07" },
                        { key: "08", value: "08" },
                        { key: "09", value: "09" },
                        { key: "10", value: "10" },
                        { key: "11", value: "11" },
                        { key: "12", value: "12" }]
                    },
                    selectedToYear: {
                        type: String,
                        notify: true
                    },
                    toYearList: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    selectedBank: {
                        type: String,
                        notify: true
                    },
                    bankList: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    filePassword: {
                        type: String,
                        notify: true
                    },
                    applicationNumber: {
                        type: String,
                        notify: true
                    },
                    statements: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    dataAttributes: {
                        type: Object,
                        notify: true,
                        observer: '_loadDataAttributes'
                    }
                },
                _fileRemove: function (event) {
                    var self = this;
                    var file = event.detail.file;
                    self.set('statements', $.extend([], this._removeStatementFromArray(file.name)));
                },
                _fileRemoveAll: function (allStatements) {
                    var self = this;
                    var vaadinBankUpload = document.querySelector('vaadin-upload#BankStatement');
                    vaadinBankUpload.files = [];
                    self.set('statements', []);
                    self.set("selectedBank", "");
                    $('#formResetButton_bankstatement').click();
                },
                _fileUploadBefore: function (event) {
                    var self = this;
                    event.preventDefault();
                    var fileObj = event.detail.file;
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        var statement = {
                            file: fileObj.name,
                            dataUrl: reader.result.replace("data:" + fileObj.type + ";base64,", ""),
                            type: fileObj.type
                        };
                        self.statements.push(statement);
                    };
                    reader.readAsDataURL(event.detail.file);
                },
                _removeStatementFromArray: function (name) {
                    var filteredData = this.statements.filter(function (element) {
                        return element.file !== name;
                    });
                    return filteredData;
                },
                _findBankObjFromArray: function (bankId) {
                    var self = this;
                    var filteredData = self.bankList.filter(function (element) {
                        return element.id === bankId;
                    });
                    return filteredData[0];
                },
                _verifyForm: function (event) {
                    var self = this;
                    var form = Polymer.dom(event).localTarget.parentElement.parentElement;
                    if (self.statements.length > 0) {
                        var payload = {
                            statements: self.statements,
                            applicationNumber: self.applicationNumber,
                            basicInformation: {
                                firstName: self.application.firstName,
                                lastName: self.application.lastName
                            }
                        };
                        if (form.validate()) {
                            payload.bank = self.selectedBank;
                            if (!_.isNull(self.application.middleName) && !_.isUndefined(self.application.middleName) && !_.isEmpty(self.application.middleName)) {
                                payload.basicInformation.middleName = self.application.middleName;
                            }
                            payload.bank = self._findBankObjFromArray(self.selectedBank);
                            if (!_.isNull(self.filePassword) && !_.isUndefined(self.filePassword) && !_.isEmpty(self.filePassword)) {
                                payload.password = self.filePassword;
                            }
                            
                            if (!_.isEmpty(self.selectedFromMonth)
                                && !_.isEmpty(self.selectedFromYear)
                                && !_.isEmpty(self.selectedToMonth)
                                && !_.isEmpty(self.selectedToYear)) {
                                payload.fromMonth = self.selectedFromMonth;
                                payload.fromYear = self.selectedFromYear;
                                payload.toMonth = self.selectedToMonth;
                                payload.toYear = self.selectedToYear;
                            }
                            if ((self.selectedFromMonth === "" && self.selectedFromYear === "" && self.selectedToMonth === "" && self.selectedToYear === "") || (self.selectedFromMonth != "" && self.selectedFromYear != "" && self.selectedToMonth != "" && self.selectedToYear != "")) {
                                var workid = self.$.workflow.getId();
                                var WorkflowService = window.config.services.workflow;
                                var urlWF = '/' + workid + '/on-boarding/verify/set-bank';
                                self.$.http.post(urlWF, payload, WorkflowService, true).then(function (data) {
                                    var process = data;
                                    self._fileRemoveAll(self.statements);
                                    self.raiseAppRefreshEvent(event);
                                }).fail(function (e) {
                                    if (e.statusText === "Unprocessable Entity") {
                                        if (e.responseJSON.status === "statementError" || e.responseJSON.status === "apiError") {
                                            self.$.message.showMessage(e.responseJSON.message.body.message, "ERROR", self.$.ErrorMessge);
                                        }
                                        else if (e.responseJSON.details != "" && e.responseJSON.details.length > 0) {
                                            self.$.message.showMessage(e.responseJSON.details[0].message, "ERROR", self.$.ErrorMessge);
                                        }
                                    }
                                    else if (e.statusText === "error") {
                                        self.$.message.showMessage(e.responseJSON.message.body.message, "ERROR", self.$.ErrorMessge);
                                    }
                                    else {
                                        self._fileRemoveAll(self.statements);
                                        self.raiseAppRefreshEvent(event);
                                    }
                                });
                            }
                            else {
                                self.$.message.showMessage("Please select all fields for time duration. otherwise clear time duration fields.", "ERROR", self.$.ErrorMessge);
                            }

                        }
                        else {
                            if (payload.statements.length > 0) {
                                self.$.message.showMessage("Bank statement all fields are required.", "ERROR", self.$.ErrorMessge);
                            }
                            else {
                                self.$.message.showMessage("Please select file.", "ERROR", self.$.ErrorMessge);
                            }
                        }
                    } else {
                        self.$.message.showMessage("Please select file.", "ERROR", self.$.ErrorMessge);
                    }
                },
                _formReset: function (event) {
                    var form = Polymer.dom(event).localTarget.parentElement;
                    form.reset();
                },
                _loadDataAttributes: function () {
                    var self = this;
                    if (self.dataAttributes) {
                        self.set('application', self.dataAttributes.application);
                    }
                },
                _getSupportedBanks: function () {
                    var self = this;
                    var url = "/application/" + self.applicationNumber;
                    var workid = self.$.workflow.getId();
                    var dataAttributes = window.config.services.dataAttributes;
                    self.$.workflow.execute('on-boarding', 'lookup', 'perfios-supported-instition', {}).then(function (result) {
                        var banks = result.map(function (i) { return { id: i.id, name: i.name, institutionType: i.institutionType }; });
                        self.set("bankList", banks);
                    });
                },
                init: function () {
                    this._getSupportedBanks();
                },
                ready: function () {
                    this.populateYears();
                },
                raiseAppRefreshEvent: function (event) {
                    this.$.utility.raiseEvent(this.fireEvent, {
                        ActionName: "UploadBankStatement",
                        EventData: event,
                        CompnentName: 'update-bank-statement'
                    });
                },
                populateYears: function () {
                    var self = this;
                    var yearc = moment().year();
                    var yearp = moment().year() - 1;
                    var years = [
                        { key: yearp.toString(), value: yearp.toString() },
                        { key: yearc.toString(), value: yearc.toString() }
                    ];
                    self.set("fromYearList", years);
                    self.set("toYearList", years);
                    var monthc = moment().month() + 1;
                    self.set("selectedFromMonth", "");
                    self.set("selectedFromYear", "");
                    self.set("selectedToMonth", "");
                    self.set("selectedToYear", "");
                }
            });
        });
    </script>
</dom-module>