<dom-module id="eligibility-rules">
    <template>
        <style>
            .modal-dialog1 {
                width: 1000px;
                margin: 30px auto;
            }

            .custom-input {
                --paper-input-container-input: {
                    font-size: 11px;
                }
                --paper-input-container-label: {
                    font-size: 12px;
                }
            }

            .twoRow {
                display: inline-block !important;
                margin: 0px 0px !important;
                width: 49% !important;
            }

            .twoRow .col-md-12 {
                padding: 0 2px;
            }
        </style>
        <template is="dom-if" if="{{CheckHasPermissionAndData(dataLoaded)}}">
            <div class="pull-right">
                <paper-button class="btn btn-primary activity-action-btn" on-click="_addEditRule" raised>Add Rule</paper-button>
            </div>
        </template>
        <table id="eligibilityTable" class="table table-striped" width="100%" cellspacing="0">
        </table>
        <custom-modal id="addEditRules" class="modal-drop" on-modal-hidden="resetModal">
            <div>
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title EliRuleTitle"></h4>
                        </div>
                        <div class="modal-body">
                            <div id="ErrorMessageContainer"></div>
                            <div class="row">
                                <div class="col-md-12">
                                    <form is="iron-form" class="form-horizontal" name="scorCardForm">
                                        <div class="row twoRow">
                                            <div class="col-md-12">
                                                <vaadin-combo-box class="custom-input" name="Role" id="selectedProductIds" value="{{selectedProductId}}" item-value-path="value"
                                                    item-label-path="key" items="{{productList}}" label="Product" prevent-invalid-input="true"
                                                    required on-change="_onProductChange">
                                                </vaadin-combo-box>
                                            </div>
                                        </div>
                                        <dynamic-form form-configuration={{scoreForm}} values="{{scoreForm.values}}"></dynamic-form>
                                        <br/>
                                        <template is="dom-if" if="{{hasRole('AddEditRuleDefinitionBtn')}}">
                                            <paper-button class="btn btn-primary activity-action-btn" on-click="_verifyForm" raised>Submit</paper-button>
                                        </template>
                                        <paper-button id="scorecardFormCancelBtnd" class="btn btn-primary activity-action-btn" on-click="_resetForm" style="display: none;"
                                            raised>cancel</paper-button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </custom-modal>
        <url-parser id="url"></url-parser>
        <http-request id="http"></http-request>
        <auth-service id="authorize"></auth-service>
        <lookup-service id="lookup"></lookup-service>
        <message-component id="message"></message-component>
    </template>
    <script>
        Polymer({
            is: "eligibility-rules",
            properties: {
                dataLoaded: {
                    type: Boolean,
                    notify: true,
                    value: false
                },
                ruleId: {
                    type: String,
                    notify: true
                },
                eligibilityRules: {
                    type: Array,
                    notify: true,
                    value: []
                },
                selectedProductId: {
                    type: String,
                    notify: true,
                    reflectToAttribute: true
                },
                productList: {
                    type: Array,
                    notify: true,
                },
                productId: {
                    type: String,
                    notify: true
                },
                ruleDefination: {
                    type: String,
                    notify: true
                },
                ruleDefinitionId: {
                    type: String,
                    notify: true,
                    value: ""
                },
                scoreForm: {
                    type: Object,
                    notify: true,
                    value: {
                        controls: {
                            entityTypes: {
                                label: "Entity Type",
                                type: "combobox",
                                class: "twoRow",
                                selectList: [],
                                labelKey: "value",
                                labelValue: "key",
                                validations: {
                                    required: true,
                                    readonly: true
                                }
                            },
                            RuleName: {
                                label: "Rule Name",
                                type: "textbox",
                                class: "twoRow",
                                validations: {
                                    required: true,
                                    readonly: false,
                                    charcounter: false,
                                    autovalidate: true,
                                    minLen: 1,
                                    maxLen: 64
                                }
                            },
                            DataAttributeStoreName: {
                                label: "Data Attribute Store Name",
                                type: "textbox",
                                class: "twoRow",
                                validations: {
                                    required: false,
                                    readonly: false,
                                    charcounter: false,
                                    autovalidate: true,
                                    minLen: 1,
                                    maxLen: 64
                                }
                            },
                            DateType: {
                                label: "Date Type",
                                type: "combobox",
                                class: "twoRow",
                                selectList: [
                                    { key: "SystemDate", value: "System Date" },
                                    { key: "ApplicationDate", value: "Application Date" },
                                    { key: "CustomDate", value: "Custom Date" }
                                ],
                                labelKey: "value",
                                labelValue: "key",
                                validations: {
                                    required: true
                                }
                            },
                            SegmentCustomDate: {
                                label: "Custom Date",
                                type: "date",
                                class: "CustomDate",
                                format: COUNTRY[window.config.country].DATE_FORMAT.DATE,
                                minFactor: 10,
                                maxFactor: 0,
                                validations: {
                                    required: false,
                                    min: false,
                                    max: false
                                }
                            },
                            EffectiveDate: {
                                label: "Effective Date",
                                type: "date",
                                class: "twoRow",
                                format: COUNTRY[window.config.country].DATE_FORMAT.DATE,
                                minFactor: 10,
                                maxFactor: 0,
                                validations: {
                                    required: true,
                                    min: false,
                                    max: false
                                }
                            },
                            ExpiryDate: {
                                label: "Expiry Date",
                                type: "date",
                                class: "twoRow",
                                format: COUNTRY[window.config.country].DATE_FORMAT.DATE,
                                minFactor: 10,
                                maxFactor: 0,
                                validations: {
                                    required: true,
                                    min: false,
                                    max: false
                                }
                            },
                            DERuleName: {
                                label: "DE Rule Name",
                                type: "textbox",
                                class: "twoRow",
                                validations: {
                                    required: true,
                                    readonly: false,
                                    charcounter: false,
                                    autovalidate: true,
                                    minLen: 1,
                                    maxLen: 64
                                }
                            },
                            RuleVersion: {
                                label: "Rule Version",
                                type: "textbox",
                                class: "twoRow",
                                validations: {
                                    required: true,
                                    readonly: false,
                                    charcounter: false,
                                    autovalidate: true,
                                    minLen: 1,
                                    maxLen: 64
                                }
                            },
                            RequiredSources: {
                                label: "Required Sources allows multiple by (,)",
                                type: "textbox",
                                class: "twoRow",
                                validations: {
                                    required: false,
                                    readonly: false,
                                    charcounter: false,
                                    autovalidate: true,
                                    minLen: 1,
                                    maxLen: 1000
                                }
                            },
                            OptionalSources: {
                                label: "Optional Sources allows multiple by (,)",
                                type: "textbox",
                                class: "twoRow",
                                validations: {
                                    required: false,
                                    readonly: false,
                                    charcounter: false,
                                    autovalidate: true,
                                    minLen: 1,
                                    maxLen: 1000
                                }
                            },
                            RuleDescription: {
                                label: "Rule Description",
                                type: "textbox",
                                validations: {
                                    required: true,
                                    readonly: false,
                                    charcounter: false,
                                    autovalidate: true,
                                    minLen: 1,
                                    maxLen: 1000
                                }
                            }
                        },
                        values: {
                            productId: "",
                            RuleName: "",
                            DataAttributeStoreName: "",
                            DateType: "",
                            SegmentCustomDate: "",
                            EffectiveDate: "",
                            ExpiryDate: "",
                            DERuleName: "",
                            RuleVersion: "",
                            RequiredSources: "",
                            OptionalSources: "",
                            RuleDescription: ""
                        }
                    }
                }
            },
            observers: [
                'DateTypeChanged(scoreForm.values.DateType)'
            ],
            _onProductChange: function (event) {
                var self = this;
                var val = event.target.value;
                if (val !== "") {
                    var ResultObj = _.cloneDeep(self.scoreForm);
                    var productObj = _.find(self.productList, ['key', val]);
                    ResultObj.values.ExpiryDate = moment(productObj.expiresOn.time).format("YYYY-MM-DD");
                    ResultObj.values.EffectiveDate = moment(productObj.validFrom.time).format("YYYY-MM-DD");
                    self.set('scoreForm', ResultObj);
                }
            },
            DateTypeChanged: function (selectedValue) {
                if (selectedValue != undefined && selectedValue !== "" && selectedValue == "CustomDate") {
                    $('#SegmentCustomDate').show();
                }
                else {
                    $('#SegmentCustomDate').hide();
                }
            },
            ready: function () {
                this._loadEntityTypes();
                this.getApplicationData();
                this._getProductList();
            },
            _loadEntityTypes: function () {
                var self = this;
                var scoreFormObj = _.cloneDeep(self.scoreForm);
                var data = self.$.lookup.getLookupBasedOnName("entityTypes");
                scoreFormObj.controls.entityTypes.selectList = data;
                self.set('scoreForm', scoreFormObj);
            },
            hasRole: function (RoleName) {
                return this.$.authorize.hasRole(RoleName);
            },
            CheckHasPermissionAndData: function () {
                if (this.dataLoaded && this.hasRole('AddEditRuleDefinitionBtn')) {
                    return true;
                }
                return false;
            },
            getApplicationData: function () {
                var self = this;
                var url = "/application/ruledetails/eligibility";
                var productRule = window.config.services.productRule;
                self.$.http.get(url, productRule).then(function (data) {
                    self.getDrawdownData(data);
                }).fail(function (e) {
                    self.getDrawdownData([]);
                    console.error("alert error is ", e);
                });
            },
            getDrawdownData: function (objData) {
                var self = this;
                var url = "/drawdown/ruledetails/eligibility";
                var productRule = window.config.services.productRule;
                self.$.http.get(url, productRule).then(function (data) {
                    var mergeData = _.concat(objData, data);
                    self.eligibilityRules = mergeData;
                    self.set("dataLoaded", true);
                    self._showResult(self.eligibilityRules);
                }).fail(function (e) {
                    console.error("Drawdown score card ", e);
                });
            },
            _showResult: function (resultData) {
                var self = this;
                var table = self.tableObj;
                if (table !== null && table !== undefined) {
                    table.clear();
                    table.destroy();
                }
                $.fn.dataTable.ext.errMode = 'none';
                self.tableObj = $(this.$$('#eligibilityTable')).DataTable({
                    retrieve: true,
                    dom: "<'row'<'col-sm-12'tr>>" +
                        "<'row'<'col-sm-5'i><'col-sm-7'p>>",
                    language: {
                        "zeroRecords": "No data found."
                    },
                    data: resultData,
                    order: [[0, "desc"]],
                    columnDefs: [
                        {
                            targets: 0,
                            width: "10%",
                            orderable: true
                        },
                        {
                            targets: 1,
                            width: "15%"
                        },
                        {
                            targets: 2,
                            width: "25%"
                        },
                        {
                            targets: 3,
                            width: "20%"
                        },
                        {
                            targets: 4,
                            width: "10%"
                        },
                        {
                            targets: 5,
                            width: "10%"
                        },
                        {
                            targets: 6,
                            sortable: false,
                            width: "5%"
                        }
                    ],
                    columns: [
                        {
                            "data": "productId",
                            "title": "Product",
                            "className": "datatabletd",
                            "tooltip": "Product"
                        },
                        {
                            "data": "ruleName",
                            "title": "Rule Name",
                            "className": "datatabletd",
                            "tooltip": "Rule Name"
                        },
                        {
                            "data": "description",
                            "title": "Description",
                            "className": "datatabletd",
                            "tooltip": "Score Card Description"
                        },
                        {
                            "data": "dataAttributeStoreName",
                            "title": "Data Attribute Store Name",
                            "className": "datatabletd",
                            "tooltip": "Data Attribute Store Name"
                        },
                        {
                            "data": "effectiveDate.time",
                            "title": "Effective Date",
                            "isFunction": true,
                            "render": eval("(function(data,type,full,meta) { if (!data) {  return ''; } return moment(data).format(COUNTRY[window.config.country].DATE_FORMAT.DATE);})"),
                            "tooltip": "Effective Date"
                        },
                        {
                            "data": "expiryDate.time",
                            "title": "Expiry Date",
                            "isFunction": true,
                            "render": eval("(function(data,type,full,meta) { if (!data) {  return ''; } return moment(data).format(COUNTRY[window.config.country].DATE_FORMAT.DATE);})"),
                            "tooltip": "Expiry Date"
                        },
                        {
                            "data": null,
                            "isFunction": true,
                            "render": eval("(function(data,type,full,meta){var RuleEditor=''; var hasViewScoreCard=''; if(data.id != null && ((self.hasRole('ViewRuleBtn') == true) || (self.hasRole('AddEditRuleBtn') == true))) { RuleEditor=\"<li><a on-click='editRule' href='javascript:'>Edit Rule</a></li>\" }; if(self.hasRole('ViewRuleDefinitionBtn') == true || self.hasRole('AddEditRuleDefinitionBtn') == true) { hasViewScoreCard=\"<li><a on-click='editScoreView' href='javascript:'>Edit</a></li>\" }; return \"<ul class='nav navbar-right' style='font-size:15px; margin: 0 0 0 0;'><li class='dropdown'><a href='javascript:' class='dropdown-toggle' data-toggle='dropdown' role='button' aria-expanded='false' style='padding: 3px 0px 0 5px;'><i class='fa fa-ellipsis-h' aria-hidden='true'></i></a><ul class='dropdown-menu'>\" + hasViewScoreCard  + RuleEditor + \"</ul></li></ul>\"})")
                        }
                    ]
                });
                $('#eligibilityTable tbody').on('click', 'a', function (obj) {
                    var data = self.tableObj.row($(this).parents('tr')).data();
                    if (this.getAttribute("on-click") !== null && this.getAttribute("on-click") !== undefined) {
                        if (obj.target.textContent === "Edit") {
                            self.openModel(data.id);
                        }
                        else if (obj.target.textContent === "Edit Rule") {
                            self.editRule(data);
                        }
                    }
                });
            },
            _addEditRule: function (event) {
                event.preventDefault();
                this.ruleId = "";
                var resultObj = _.cloneDeep(this.scoreForm);
                resultObj.values.entityTypes = "";
                resultObj.values.RuleName = "";
                resultObj.values.DataAttributeStoreName = "";
                resultObj.values.EffectiveDate = "";
                resultObj.values.ExpiryDate = "";
                resultObj.values.DERuleName = "";
                resultObj.values.RuleVersion = "";
                resultObj.values.RequiredSources = "";
                resultObj.values.OptionalSources = "";
                resultObj.values.RuleDescription = "";
                resultObj.values.DateType = "";
                $('#selectedProductIds').removeAttr('readonly');
                resultObj.values.SegmentCustomDate = null;
                this.set('scoreForm', resultObj);
                $('.EliRuleTitle').text("Add Rule");
                this.$$('#addEditRules').showModal();
            },
            _changeTextDisplay: function (value) {
                if (!_.isNull(value) && !_.isUndefined(value) && !_.isEmpty(value))
                    return _.startCase(_.lowerCase(value));
                return "";
            },
            openModel: function (objId) {
                var self = this;
                if (!_.isUndefined(objId) && !_.isNull(objId) && !_.isEmpty(objId)) {
                    var scoreObj = _.find(self.eligibilityRules, ["id", objId]);
                    var resultObj = _.cloneDeep(self.scoreForm);
                    self.ruleDefinitionId = scoreObj.id;
                    self.ruleId = scoreObj.id;
                    var productRule = window.config.services.productRule;
                    var url = "/" + self.ruleDefinitionId + "/ruledefinition";
                    if (self.ruleDefinitionId != undefined && self.ruleDefinitionId != null) {
                        self.$.http.get(url, productRule).then(function (result) {
                            resultObj.values.RuleName = result.ruleName;
                            resultObj.values.entityTypes = result.entityType;
                            resultObj.values.RuleClass = result.ruleClass;
                            resultObj.values.RuleType = result.ruleType;
                            resultObj.values.DERuleName = result.ruleDetail.deRuleName;
                            resultObj.values.EffectiveDate = moment(result.effectiveDate.time).format("YYYY-MM-DD");
                            resultObj.values.ExpiryDate = moment(result.expiryDate.time).format("YYYY-MM-DD");
                            resultObj.values.DateType = result.applicationType;
                            resultObj.values.SegmentCustomDate = result.applicationType === "CustomDate" ? moment(result.customDate.time).format("YYYY-MM-DD") : null;
                            resultObj.values.RuleVersion = result.ruleDetail.ruleVersion;
                            resultObj.values.RequiredSources = result.ruleDetail.requiredSources.toString();
                            resultObj.values.OptionalSources = result.ruleDetail.optionalSources.toString();
                            resultObj.values.RuleDescription = result.description;
                            resultObj.values.DataAttributeStoreName = result.dataAttributeStoreName;
                            resultObj.controls.entityTypes.validations.readonly = true;
                            resultObj.controls.RuleName.validations.readonly = true;
                            self.selectedProductId = scoreObj.productId;
                            $('#selectedProductIds').attr("readonly", "true");
                            self.set('scoreForm', resultObj);
                            var text = "Edit " + self._changeTextDisplay(result.ruleName) + " Rule";
                            $('.EliRuleTitle').text(text);
                            self.$$('#addEditRules').showModal();
                        }).fail(function (e) {
                            console.error("openModel save error is ", e);
                        });
                    }
                }
            },
            _resetForm: function (event) {
                var form = Polymer.dom(event).localTarget.parentElement;
                form.reset();
            },
            resetModal: function () {
                this.ruleId = "";
                this.selectedProductId = "";
                var resultObj = _.cloneDeep(this.scoreForm);
                resultObj.values.RuleName = "";
                resultObj.values.entityTypes = "";
                resultObj.values.DataAttributeStoreName = "";
                resultObj.values.EffectiveDate = "";
                resultObj.values.ExpiryDate = "";
                resultObj.values.DERuleName = "";
                resultObj.values.RuleVersion = "";
                resultObj.values.RequiredSources = "";
                resultObj.values.OptionalSources = "";
                resultObj.values.RuleDescription = "";
                resultObj.values.DateType = "";
                resultObj.values.SegmentCustomDate = null;
                resultObj.controls.entityTypes.validations.readonly = false;
                resultObj.controls.RuleName.validations.readonly = false;
                this.set('scoreForm', resultObj);
                $('#scorecardFormCancelBtnd').trigger('click');
            },
            _verifyForm: function (event) {
                event.preventDefault();
                var self = this;
                var form = Polymer.dom(event).localTarget.parentElement;
                var RuleClassobj = "eligibility";
                var productRule = window.config.services.productRule;
                var scoreFormObj = _.cloneDeep(self.scoreForm.values);
                var rs = _.isEmpty(scoreFormObj.RequiredSources) ? [] : _.split(scoreFormObj.RequiredSources, ',');
                var rs = _.isEmpty(scoreFormObj.OptionalSources) ? [] : _.split(scoreFormObj.OptionalSources, ',');
                var CDate = Date.now();
                if (form.validate()) {
                    if (scoreFormObj.DateType === "CustomDate" && (scoreFormObj.SegmentCustomDate === "" || scoreFormObj.SegmentCustomDate === null)) {
                        return false;
                    }
                    if (!_.isEmpty(scoreFormObj.SegmentCustomDate) && !_.isNull(scoreFormObj.SegmentCustomDate)) {
                        CDate = scoreFormObj.SegmentCustomDate;
                    }
                    var Payload = {
                        DataAttributeStoreName: scoreFormObj.DataAttributeStoreName,
                        EffectiveDate: scoreFormObj.EffectiveDate,
                        ExpiryDate: scoreFormObj.ExpiryDate,
                        RuleClass: RuleClassobj,
                        RuleType: "Rule",
                        DERuleName: scoreFormObj.DERuleName,
                        RuleVersion: scoreFormObj.RuleVersion,
                        RequiredSources: rs,
                        OptionalSources: os,
                        Description: scoreFormObj.RuleDescription,
                        ApplicationType: scoreFormObj.DateType,
                        CustomDate: self.formatDate(CDate)
                    }
                    if (!_.isUndefined(self.ruleId) && !_.isNull(self.ruleId) && !_.isEmpty(self.ruleId)) {
                        var url = "/" + self.ruleDefinitionId + "/ruledefinition";
                        self.$.http.put(url, Payload, productRule).then(function (result) {
                            $('.close').click();
                            self.getApplicationData();
                        }).fail(function (e) {
                            var strMessage = "Failed to complete the operation. " + e.responseJSON.message;
                            self.$.message.showMessage(strMessage, "ERROR", self.$$('#ErrorMessageContainer'));
                            console.error("edit rule save error is ", e);
                        });
                    }
                    else {
                        Payload.RuleName = scoreFormObj.RuleName;
                        var url = "/" + scoreFormObj.entityTypes + "/" + scoreFormObj.productId + "/ruledefinition";
                        self.$.http.post(url, Payload, productRule).then(function (result) {
                            $('.close').click();
                            self.getApplicationData();
                        }).fail(function (e) {
                            var strMessage = "Failed to complete the operation. " + e.responseJSON.message;
                            self.$.message.showMessage(strMessage, "ERROR", self.$$('#ErrorMessageContainer'));
                            console.error("add rule save error is ", e);
                        });
                    }
                }
            },
            formatDate: function (date) {
                if (date !== null && date !== undefined && date !== "") {
                    return moment.tz(date, window.config.timezone).format("YYYY-MM-DD");
                }
                return "";
            },
            editRule: function (e) {
                this.set('ruleDefination', e.id);
            },
            _getProductList: function () {
                var self = this;
                var url = "/all/product";
                var scoreForm = self.get('scoreForm');
                var scoreFormObj = _.cloneDeep(self.scoreForm);
                var multiProducts = window.config.services.multiProducts;
                self.$.http.get(url, multiProducts).then(function (data) {
                    var ProductList = _.transform(data, function (result, item) {
                        result.push({ key: item.productId, value: item.productId, expiresOn: item.expiresOn, validFrom: item.validFrom });
                    }, []);
                    self.set('productList', ProductList);
                }).fail(function (e) {
                    console.error("Product List error is ", e);
                });
            }
        })
    </script>
</dom-module>