<dom-module id="lookup-rules">
    <template>
        <style>
            .setHeight {
                padding: 5px 5px 5px 5px;
            }

            .custom-input {
                --paper-input-container-input: {
                    font-size: 11px;
                }
                --paper-input-container-label: {
                    font-size: 12px;
                }
            }

            .modal-dialog1 {
                width: 1000px;
                margin: 30px auto;
            }

            #ErrorMessge p {
                color: #FF0000;
            }

            #ErrorMessgeRuleEditor p {
                color: #FF0000;
            }

            #SuccessMessge p {
                color: #008000;
            }

            vaadin-upload {
                --vaadin-upload-button-add: {
                    background: #80b43c;
                }
                --vaadin-upload-file-list: {
                    margin-left: 20px;
                }
                --vaadin-upload-drop-label: {
                    margin: 0 !important;
                    padding: 0 !important;
                }
                #ErrorMessge p {
                    color: #ff0000;
                    font-size: 12px !important;
                }
            }

            .AddPadding {
                padding: 20px 0 0 0;
            }

            .row {
                margin: 0 auto !important;
            }
        </style>
        <template is="dom-if" if="{{CheckHasPermissionAndData(DataLoaded)}}">
            <div class="pull-right">
                <paper-button class="btn btn-primary activity-action-btn" on-click="_addEditLookupRule" raised>Add Lookup Rule</paper-button>
            </div>
        </template>
        <table id="lookupTable" class="table table-striped" width="100%" cellspacing="0">
        </table>
        <custom-modal id="addEditLookup" class="modal-drop" on-modal-hidden="resetLookupModal">
            <div>
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title lookupTitle"></h4>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <form id="LookupForm" is="iron-form" class="form-horizontal">
                                    <div class="row">
                                        <div class="panel-left col-md-6">
                                            <vaadin-combo-box class="custom-input" name="productId" value="{{productId}}" item-value-path="value" item-label-path="key"
                                                items="{{ProductList}}" readonly$="{{IsEditMode}}" label="Select Product" prevent-invalid-input="true"
                                                on-change="_onProductChange">
                                            </vaadin-combo-box>
                                        </div>
                                        <div class="panel-left col-md-6">
                                            <vaadin-combo-box class="custom-input" name="entityType" value="{{entityType}}" item-value-path="value" item-label-path="key"
                                                items="{{EntityTypeList}}" readonly$="{{IsEditMode}}" label="Select Entity" prevent-invalid-input="true">
                                            </vaadin-combo-box>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="panel-left col-md-6">
                                            <paper-input class="custom-input" type="text" value="{{lookupName}}" name="lookupName" id="lookupName" label="Lookup Name"></paper-input>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="panel-left col-md-6">
                                            <paper-input class="custom-input" type="text" value="{{lookupBy}}" name="lookupBy" id="lookupBy" label="Lookup By allow multiple using (,)"></paper-input>
                                        </div>
                                        <div class="panel-left col-md-6">
                                            <paper-input class="custom-input" type="text" value="{{lookupValues}}" name="lookupValues" id="lookupValues" label="Lookup Values allow multiple using (,)"></paper-input>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="panel-left col-md-6">
                                            <paper-input class="custom-input" type="text" value="{{dataAttributeStoreName}}" name="dataAttributeStoreName" id="dataAttributeStoreName"
                                                label="Attribute Store Name"></paper-input>
                                        </div>
                                        <div class="panel-left col-md-6">
                                            <paper-input class="custom-input" type="text" value="{{lookupStorageName}}" name="lookupStorageName" id="lookupStorageName"
                                                label="Lookup Storage Name"></paper-input>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="panel-left col-md-6">
                                            <vaadin-combo-box class="custom-input" name="variableType" value="{{SelectedDateTypeL}}" item-value-path="value" item-label-path="key"
                                                items="{{DateType}}" label="Select Date Type" prevent-invalid-input="true" on-change="_onTypeChange">
                                            </vaadin-combo-box>
                                        </div>
                                        <div class="panel-left col-md-6">
                                            <vaadin-date-picker class="custom-input" id="CustomDateLookup" i18n="[[i18n]]" label="Custom Date" format="{{_getFormat(item.value)}}"
                                                value={{CustomDate}}></vaadin-date-picker>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="panel-left col-md-6">
                                            <vaadin-date-picker class="custom-input" id="EffectiveDate" i18n="[[i18n]]" label="Effective Date" format="{{_getFormat(item.value)}}"
                                                value={{EffectiveDate}}></vaadin-date-picker>
                                        </div>
                                        <div class="panel-left col-md-6">
                                            <vaadin-date-picker class="custom-input" id="ExpiryDate" i18n="[[i18n]]" label="ExpiryDate" format="{{_getFormat(item.value)}}"
                                                value={{ExpiryDate}}></vaadin-date-picker>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="panel-left col-md-12">
                                            <paper-input class="custom-input" type="text" value="{{description}}" name="Description" id="Description" label="Variable Description"></paper-input>
                                        </div>
                                    </div>
                                    <template is="dom-if" if="{{hasRole('AddEditLookupBtn')}}">
                                        <paper-button id="btnSave" class="btn btn-primary activity-action-btn" on-click="_verifyForm" raised>Submit</paper-button>
                                    </template>
                                </form>
                            </div>
                        </div>
                        <div class="setHeight">

                        </div>
                    </div>
                </div>
            </div>
        </custom-modal>
        <custom-modal id="setLookupData" class="modal-drop" on-modal-hidden="resetLookupModal">
            <div>
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title">Set {{lookupName}} Lookup Data</h4>
                        </div>
                        <div class="modal-body">
                            <div id="ErrorMessge" style="display: none;">
                                <p></p>
                            </div>
                            <template is="dom-if" if="{{hasRole('AddEditSetDataBtn')}}">
                                <div class="row">
                                    <div class="col-md-12">
                                        <vaadin-upload id="LookupDataFile" accept=".csv" max-files="1" on-upload-request="_uploadRequest" on-upload-success="_uploadSuccess"
                                            on-upload-before="_changeServerUrl" custom-many-label="{{_documentName(pdoc)}}" method="POST">
                                        </vaadin-upload>
                                    </div>
                                </div>
                            </template>
                            <template is="dom-if" if="{{hasRole('ViewSetDataBtn')}}">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h4 class="modal-title AddPadding">{{lookupName}} Lookup Data</h4>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div style="height:400px; overflow: auto;">
                                            <table class="table table-striped" id="DynamicData" width="100%">
                                                <thead>
                                                    <tr>
                                                        <template is="dom-repeat" items="{{LookupColumn}}">
                                                            <th>{{item}}</th>
                                                        </template>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <template is="dom-repeat" as="dataItem" items="{{data}}" item-as="">
                                                        <tr>
                                                            <template is="dom-repeat" items="{{LookupColumn}}">
                                                                <td>{{DisplayData(item,dataItem)}}</td>
                                                            </template>
                                                        </tr>
                                                    </template>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </template>
                        </div>
                    </div>
                </div>
            </div>
        </custom-modal>
        <custom-modal id="addEditRuleDefinition" class="modal-drop">
            <div>
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title lookupRuleDefinition"></h4>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <form id="VariableForm" is="iron-form" class="form-horizontal">
                                    <div class="row">
                                        <div class="panel-left col-md-6">
                                            <paper-input class="custom-input" type="text" auto-validate value="{{SRuleName}}" name="RuleName" id="LookupRuleName" label="Rule Name"></paper-input>
                                        </div>
                                        <div class="panel-left col-md-6">
                                            <paper-input class="custom-input" type="text" auto-validate value="{{SdataAttributeStoreName}}" name="dataAttributeStoreName"
                                                id="dataAttributeStoreName" label="Attribute Store Name"></paper-input>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="panel-left col-md-6">
                                            <vaadin-combo-box class="custom-input" name="variableTypeS" value="{{SelectedDateType}}" item-value-path="value" item-label-path="key"
                                                items="{{DateType}}" label="Select Date Type" prevent-invalid-input="true" on-change="_onTypeChangeL">
                                            </vaadin-combo-box>
                                        </div>
                                        <div class="panel-left col-md-6">
                                            <vaadin-date-picker class="custom-input" id="SCustomDateLookup" i18n="[[i18n]]" label="Custom Date" format="{{_getFormat(item.value)}}"
                                                value={{SCustomDate}}></vaadin-date-picker>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="panel-left col-md-6">
                                            <vaadin-date-picker class="custom-input" id="EffectiveDate" i18n="[[i18n]]" label="Effective Date" format="{{_getFormat(item.value)}}"
                                                value={{SEffectiveDate}}></vaadin-date-picker>
                                        </div>
                                        <div class="panel-left col-md-6">
                                            <vaadin-date-picker class="custom-input" id="ExpiryDate" i18n="[[i18n]]" label="ExpiryDate" format="{{_getFormat(item.value)}}"
                                                value={{SExpiryDate}}></vaadin-date-picker>
                                        </div>
                                    </div>
                                    <div class="row ">
                                        <div class="panel-left col-md-6">
                                            <paper-input class="custom-input" type="text" auto-validate value="{{SDERuleName}}" name="DERuleName" id="DERuleName" label="DE Rule Name"></paper-input>
                                        </div>
                                        <div class="panel-left col-md-6">
                                            <paper-input class="custom-input" type="text" auto-validate value="{{SRuleVersion}}" name="RuleVersion" id="RuleVersion"
                                                label="Rule Version"></paper-input>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <span>Required and Optinal sources allow multiple using "," seperator</span>
                                        <div class="panel-left col-md-6">
                                            <paper-input class="custom-input" type="text" auto-validate value="{{SRequiredSources}}" name="RequiredSources" id="RequiredSources"
                                                label="Required Sources"></paper-input>
                                        </div>
                                        <div class="panel-left col-md-6">
                                            <paper-input class="custom-input" type="text" auto-validate value="{{SOptionalSources}}" name="OptionalSources" id="OptionalSources"
                                                label="Optional Sources"></paper-input>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="panel-left col-md-12">
                                            <paper-input class="custom-input" type="text" auto-validate value="{{SRuleDescription}}" name="RuleDescription" id="RuleDescription"
                                                label="Variable Rule Description"></paper-input>
                                        </div>
                                        <template is="dom-if" if="{{hasRole('AddEditRuleDefinitionBtn')}}">
                                            <paper-button id="btnSave" class="btn btn-primary activity-action-btn" on-click="SaveLookupRules" raised>Submit</paper-button>
                                        </template>
                                </form>
                                </div>
                            </div>
                            <div class="setHeight">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </custom-modal>
        <url-parser id="url"></url-parser>
        <http-request id="http"></http-request>
        <auth-service id="authorize"></auth-service>
        <lookup-service id="lookup"></lookup-service>
        <session-manager id="session"></session-manager>
    </template>
    <script>
        Polymer({
            is: "lookup-rules",
            properties: {
                DataLoaded: {
                    type: Boolean,
                    notify: true,
                    value: false
                },
                SelectedDateTypeL: {
                    type: String,
                    notify: true
                },
                SelectedDateType: {
                    type: String,
                    notify: true
                },
                ruleDefination: {
                    type: String,
                    notify: true
                },
                LookupVariable: {
                    type: Array,
                    notify: true,
                    value: []
                },
                lookupId: {
                    type: String,
                    notify: true
                },
                ruleDefinitionId: {
                    type: String,
                    notify: true,
                    value: ""
                },
                tableObj: {
                    type: Object,
                    notify: false
                },
                EffectiveDate: {
                    type: Date,
                    notify: true
                },
                ExpiryDate: {
                    type: Date,
                    notify: true
                },
                productId: {
                    type: String,
                    notify: true
                },
                ProductList: {
                    type: Array,
                    notify: true,
                    value: []
                },
                lookupName: {
                    type: String,
                    notify: true
                },
                description: {
                    type: String,
                    notify: true
                },
                dataAttributeStoreName: {
                    type: String,
                    notify: true
                },
                lookupValues: {
                    type: String,
                    notify: true
                },
                lookupBy: {
                    type: String,
                    notify: true
                },
                lookupStorageName: {
                    type: String,
                    notify: true
                },
                data: {
                    type: Array,
                    notify: true,
                    value: []
                },
                SRuleName: {
                    type: String,
                    notify: true
                },
                SdataAttributeStoreName: {
                    type: String,
                    notify: true
                },
                SCustomDate: {
                    type: Date,
                    notify: true
                },
                CustomDate: {
                    type: Date,
                    notify: true
                },
                SEffectiveDate: {
                    type: Date,
                    notify: true
                },
                SExpiryDate: {
                    type: Date,
                    notify: true
                },
                SDERuleName: {
                    type: String,
                    notify: true
                },
                SRuleVersion: {
                    type: String,
                    notify: true
                },
                SRequiredSources: {
                    type: String,
                    notify: true
                },
                SOptionalSources: {
                    type: String,
                    notify: true
                },
                SRuleDescription: {
                    type: String,
                    notify: true
                },
                LookupColumn: {
                    type: Array,
                    notify: true,
                    value: []
                },
                DateType: {
                    type: Array,
                    notify: true,
                    value: [
                        { key: "System Date", value: "SystemDate" },
                        { key: "Application Date", value: "ApplicationDate" },
                        { key: "Custom Date", value: "CustomDate" }]
                },
                EntityTypeList: {
                    type: Array,
                    notify: true,
                    value: []
                },
                entityType: {
                    type: String,
                    notify: true
                },
                IsEditMode: {
                    type: Boolean,
                    notify: true,
                    value: false
                }
            },
            _onTypeChange: function (event) {
                var self = this;
                var selectedValues = event.target.value;
                if (selectedValues === "CustomDate") {
                    $('#CustomDateLookup').show();
                }
                else if (selectedValues === "ApplicationDate") {
                    $('#CustomDateLookup').hide();
                }
                else if (selectedValues === "SystemDate") {
                    $('#CustomDateLookup').hide();
                }
                else {
                    $('#CustomDateLookup').hide();
                }
            },
            _onProductChange: function (event) {
                var self = this;
                var val = event.target.value;
                if (val !== "") {
                    var productObj = _.find(self.ProductList, ['key', val]);
                    self.set('ExpiryDate', moment(productObj.expiresOn.time).format("YYYY-MM-DD"));
                    self.set('EffectiveDate', moment(productObj.validFrom.time).format("YYYY-MM-DD"));
                }
            },
            _onTypeChangeL: function (event) {
                var self = this;
                var selectedValues = event.target.value;
                if (selectedValues === "CustomDate") {
                    $('#SCustomDateLookup').show();
                }
                else if (selectedValues === "ApplicationDate") {
                    $('#SCustomDateLookup').hide();
                }
                else if (selectedValues === "SystemDate") {
                    $('#SCustomDateLookup').hide();
                }
                else {
                    $('#SCustomDateLookup').hide();
                }
            },
            hasRole: function (RoleName) {
                return this.$.authorize.hasRole(RoleName);
            },
            DisplayData: function (objCoumn, ObjData) {
                return ObjData[objCoumn];
            },
            _documentName: function (doc) {
                return doc.documentName[0];
            },
            _uploadSuccess: function (event) {
                var self = this;
                if (event.detail.xhr.status === 200) {
                    var res = $.parseJSON(event.detail.xhr.response);
                    self.$$('#setLookupData').hideModal();
                    self.loadLookup();
                }
            },
            _getServerUrl: function () {
                var self = this;
                var productRule = window.config.services.productRule + "/" + self.lookupId + "/upload";
                return productRule;
            },
            _changeServerUrl: function (event) {
                event.detail.file.uploadTarget = this._getServerUrl();
            },
            _uploadRequest: function (event) {
                event.detail.xhr.setRequestHeader('Authorization', "Bearer " + this.$.session.get('token'));
            },
            CheckHasPermissionAndData: function () {
                var self = this;
                if (self.DataLoaded && self.hasRole('AddEditLookupBtn')) {
                    return true;
                }
                return false;
            },
            getApplicationData: function () {
                var self = this;
                var url = "/application/all/lookup";
                var productRule = window.config.services.productRule;
                self.$.http.get(url, productRule).then(function (data) {
                    self.getDrawdownData(data);
                }).fail(function (e) {
                    self.getDrawdownData([]);
                    console.error("alert error is ", e);
                });
            },
            getDrawdownData: function (objData) {
                var self = this;
                var url = "/drawdown/all/lookup";
                var productRule = window.config.services.productRule;
                self.$.http.get(url, productRule).then(function (data) {
                    var mergeData = _.concat(objData, data);
                    self.LookupVariable = mergeData;
                    self.set("DataLoaded", true);
                    self._showResult(self.LookupVariable);
                }).fail(function (e) {
                    console.error("Drawdown score card ", e);
                });
            },
            loadLookup: function () {
                var self = this;
                self.IsEditMode = false;
                self.getApplicationData();
            },
            _showResult: function (resultData) {
                var self = this;
                var table = self.tableObj;
                if (table !== null && table !== undefined) {
                    table.clear();
                    table.destroy();
                }
                $.fn.dataTable.ext.errMode = 'none';
                self.tableObj = $(this.$$('#lookupTable')).DataTable({
                    retrieve: true,
                    dom: "<'row'<'col-sm-12'tr>>" +
                        "<'row'<'col-sm-5'i><'col-sm-7'p>>",
                    language: {
                        "zeroRecords": "No data found."
                    },
                    data: resultData,
                    order: [[0, "desc"]],
                    columnDefs: [
                        {
                            targets: 0,
                            width: "10%",
                            orderable: true
                        },
                        {
                            targets: 1,
                            width: "15%"
                        },
                        {
                            targets: 2,
                            width: "25%"
                        },
                        {
                            targets: 3,
                            width: "20%"
                        },
                        {
                            targets: 4,
                            width: "10%"
                        },
                        {
                            targets: 5,
                            width: "10%"
                        },
                        {
                            targets: 6,
                            sortable: false,
                            width: "5%"
                        }
                    ],
                    columns: [
                        {
                            "data": "productId",
                            "title": "Product",
                            "className": "datatabletd",
                            "tooltip": "Product"
                        },
                        {
                            "data": "lookupName",
                            "title": "Lookup Name",
                            "className": "datatabletd",
                            "tooltip": "Lookup Name"
                        },
                        {
                            "data": "description",
                            "title": "Description",
                            "className": "datatabletd",
                            "tooltip": "Score Card Description"
                        },
                        {
                            "data": "dataAttributeStoreName",
                            "title": "Data Attribute Store Name",
                            "className": "datatabletd",
                            "tooltip": "Data Attribute Store Name"
                        },
                        {
                            "data": "effectiveDate.time",
                            "title": "Effective Date",
                            "isFunction": true,
                            "render": eval("(function(data,type,full,meta) { if (!data) {  return ''; } return moment(data).format(COUNTRY[window.config.country].DATE_FORMAT.DATE);})"),
                            "tooltip": "Effective Date"
                        },
                        {
                            "data": "expiryDate.time",
                            "title": "Expiry Date",
                            "isFunction": true,
                            "render": eval("(function(data,type,full,meta) { if (!data) {  return ''; } return moment(data).format(COUNTRY[window.config.country].DATE_FORMAT.DATE);})"),
                            "tooltip": "Expiry Date"
                        },
                        {
                            "data": null,
                            "isFunction": true,
                            "render": eval("(function(data,type,full,meta) { var SetButton=''; var HasEdit=''; if((self.hasRole('ViewSetDataBtn') == true) || (self.hasRole('AddEditSetDataBtn') == true)) { SetButton= SetButton+\"<li><a on-click='setData' href='javascript:'>Set Data</a></li>\"; } if(self.hasRole('ViewRuleDefinitionBtn') == true || self.hasRole('AddEditRuleDefinitionBtn') == true) { SetButton= SetButton+\"<li><a on-click='setData' href='javascript:'>Add/Edit Rule</a></li>\";} if(data.ruleDefinitionId != null) { SetButton= SetButton+\"<li><a on-click='editRule' href='javascript:'>Configure Rule</a></li>\"} if((self.hasRole('ViewLookupBtn') == true) || (self.hasRole('AddEditLookupBtn') == true)) { HasEdit=\"<li><a on-click='editLookupView' href='javascript:'>Edit</a></li>\" } return \"<ul class='nav navbar-right' style='font-size:15px; margin: 0 0 0 0;'><li class='dropdown'><a href='javascript:' class='dropdown-toggle' data-toggle='dropdown' role='button' aria-expanded='false' style='padding: 3px 0px 0 5px;'><i class='fa fa-ellipsis-h' aria-hidden='true'></i></a><ul class='dropdown-menu'>\" + HasEdit  + SetButton + \"</ul></li></ul>\"})")
                        }
                    ]
                });
                $('#lookupTable tbody').on('click', 'a', function (obj) {
                    var data = self.tableObj.row($(this).parents('tr')).data();
                    if (this.getAttribute("on-click") !== null && this.getAttribute("on-click") !== undefined) {
                        if (obj.target.textContent === "Configure Rule") {
                            self.editRule(data);
                        }
                        else if (obj.target.textContent === "Edit") {
                            self.openModel(data.id);
                        }
                        else if (obj.target.textContent === "Set Data") {
                            self.SetData(data.id);
                        }
                        else if (obj.target.textContent === "Add/Edit Rule") {
                            self.AddRule(data.id);
                        }
                    }
                });
            },
            ready: function () {
                var data = this.$.lookup.getLookupBasedOnName("entityTypes");
                this.set('EntityTypeList', data);
                this.loadLookup();
                this._getProductList();
            },
            _addEditLookupRule: function (event) {
                event.preventDefault();
                var self = this;
                self.lookupId = "";
                self.productId = "";
                self.entityType = "";
                self.lookupName = "";
                self.dataAttributeStoreName = "";
                self.EffectiveDate = "";
                self.ExpiryDate = "";
                self.lookupStorageName = "";
                self.lookupValues = "";
                self.lookupBy = "";
                self.description = "";
                self.data = [];
                self.ruleDefinitionId = null;
                self.SelectedDateTypeL = "";
                self.CustomDate = "";
                $('#CustomDateLookup').hide();
                var text = "Manage Lookup Rule";
                $('.lookupTitle').text(text);
                self.$$('#addEditLookup').showModal();
            },
            _changeTextDisplay: function (value) {
                if (!_.isNull(value) && !_.isUndefined(value) && !_.isEmpty(value))
                    return _.startCase(_.lowerCase(value));
                return "";
            },
            openModel: function (objId) {
                var self = this;
                self.IsEditMode = true;
                if (!_.isUndefined(objId) && !_.isNull(objId) && !_.isEmpty(objId)) {
                    var LookupObj = _.find(self.LookupVariable, ["id", objId]);
                    self.ruleDefinitionId = LookupObj.ruleDefinitionId;
                    self.lookupId = LookupObj.id;
                    self.productId = LookupObj.productId;
                    self.entityType = LookupObj.entityType;
                    self.lookupName = LookupObj.lookupName;
                    self.dataAttributeStoreName = LookupObj.dataAttributeStoreName;
                    self.SelectedDateTypeL = LookupObj.applicationType;
                    if (LookupObj.applicationType === "CustomDate") {
                        self.CustomDate = self.formatDate(LookupObj.customDate.time).format("YYYY-MM-DD");
                        $('#CustomDateLookup').show();
                    }
                    else {
                        self.CustomDate = null;
                        $('#CustomDateLookup').hide();
                    }
                    self.EffectiveDate = moment(LookupObj.effectiveDate.time).format("YYYY-MM-DD");
                    self.ExpiryDate = moment(LookupObj.expiryDate.time).format("YYYY-MM-DD");
                    self.lookupStorageName = LookupObj.lookupStorageName;
                    self.lookupValues = LookupObj.lookupValues.toString();
                    self.lookupBy = LookupObj.lookupBy.toString();
                    self.description = LookupObj.description;
                    self.data = LookupObj.data;
                    $('#ProductIdLookup').attr('readonly', 'true');
                    $('#lookupName').attr('readonly', 'true');
                    var text = "Manage " + self._changeTextDisplay(self.lookupName) + " Rule";
                    $('.lookupTitle').text(text);
                    self.$$('#addEditLookup').showModal();
                }
            },
            SetData: function (objId) {
                var self = this;
                var LookupObj = _.find(self.LookupVariable, ["id", objId]);
                self.ruleDefinitionId = LookupObj.ruleDefinitionId;
                self.lookupId = LookupObj.id;
                self.lookupName = LookupObj.lookupName;
                self.data = LookupObj.data;
                if (self.data.length > 0) {
                    var temp = [];
                    var columnsIn = self.data[0];
                    for (var key in columnsIn) {
                        temp.push(key);
                    }
                    self.LookupColumn = temp;
                } else {
                    self.columns = [];
                }
                self.$$('#setLookupData').showModal();
            },
            AddRule: function (objId) {
                var self = this;
                var LookupObj = _.find(self.LookupVariable, ["id", objId]);
                self.ruleDefinitionId = LookupObj.ruleDefinitionId;
                self.lookupId = LookupObj.id;
                self.productId = LookupObj.productId;
                self.entityType = LookupObj.entityType;
                self.lookupName = LookupObj.lookupName;
                self.dataAttributeStoreName = LookupObj.dataAttributeStoreName;
                self.EffectiveDate = moment(LookupObj.effectiveDate.time).format("YYYY-MM-DD");
                self.ExpiryDate = moment(LookupObj.expiryDate.time).format("YYYY-MM-DD");
                self.lookupStorageName = LookupObj.lookupStorageName;
                self.lookupValues = LookupObj.lookupValues.toString();
                self.lookupBy = LookupObj.lookupBy.toString();
                self.description = LookupObj.description;
                self.data = LookupObj.data;
                if (self.ruleDefinitionId != null && self.ruleDefinitionId != undefined) {
                    var productRule = window.config.services.productRule;
                    var url = "/" + self.ruleDefinitionId + "/ruledefinition";
                    if (self.ruleDefinitionId != undefined && self.ruleDefinitionId != null) {
                        self.$.http.get(url, productRule).then(function (result) {
                            self.SRuleName = result.ruleName;
                            self.SDERuleName = result.ruleDetail.deRuleName;
                            self.SelectedDateType = result.applicationType;
                            if (self.SelectedDateType === "CustomDate") {
                                $('#SCustomDateLookup').show();
                                self.SCustomDate = moment(result.customDate.time).format("YYYY-MM-DD");
                            }
                            else {
                                $('#SCustomDateLookup').hide();
                                self.SCustomDate = null;
                            }
                            self.SEffectiveDate = moment(result.effectiveDate.time).format("YYYY-MM-DD");
                            self.SExpiryDate = moment(result.expiryDate.time).format("YYYY-MM-DD");
                            self.SRuleVersion = result.ruleDetail.ruleVersion;
                            self.SRequiredSources = result.ruleDetail.requiredSources.toString();
                            self.SOptionalSources = result.ruleDetail.optionalSources.toString();
                            self.SRuleDescription = result.description;
                            self.SdataAttributeStoreName = result.dataAttributeStoreName;
                            $('#LookupRuleName').attr('readonly', 'true');
                        }).fail(function (e) {
                            console.error("Add Attribute save error is ", e);
                        });
                    }
                }
                else {
                    self.SRuleName = "";
                    self.SDERuleName = "";
                    self.SEffectiveDate = "";
                    self.SCustomDate = "";
                    self.SelectedDateType = "";
                    self.SExpiryDate = "";
                    self.SRuleVersion = "";
                    self.SRequiredSources = "";
                    self.SOptionalSources = "";
                    self.SRuleDescription = "";
                    self.SdataAttributeStoreName = "";
                    $('#SCustomDateLookup').hide();
                    $('#LookupRuleName').removeAttr('readonly');
                }
                var text = "Manage " + self._changeTextDisplay(self.lookupName) + " Rule Definition";
                $('.lookupRuleDefinition').text(text);
                self.$$('#addEditRuleDefinition').showModal();
            },
            searchDate: function (date) {
                if (date !== undefined) {
                    return moment(date).format("YYYY-MM-DD");
                }
                return "";
            },
            resetLookupModal: function () {
                var self = this;
                self.lookupId = "";
                self.productId = "";
                self.entityType = "";
                self.lookupName = "";
                self.dataAttributeStoreName = "";
                self.EffectiveDate = "";
                self.ExpiryDate = "";
                self.lookupStorageName = "";
                self.lookupValues = [];
                self.lookupBy = [];
                self.description = "";
                self.data = [];
                self.IsEditMode = false;
                $('#LookupRuleName').removeAttr('readonly');
                $('#ProductIdLookup').removeAttr('readonly');
                $('#lookupName').removeAttr('readonly');
            },
            _ValidateLookupForm: function () {
                var self = this;
                if ((self.SelectedDateTypeL == "CustomDate") && (_.isEmpty(self.CustomDate) || _.isEmpty(self.productId) || _.isEmpty(self.lookupName) || _.isEmpty(self.EffectiveDate) || _.isEmpty(self.ExpiryDate) || _.isEmpty(self.description))) {
                    $('div#ErrorMessge p').html("All Fields are required");
                    $('div#ErrorMessge').show();
                    return false;
                }
                else if (_.isEmpty(self.SelectedDateTypeL) || _.isEmpty(self.productId) || _.isEmpty(self.lookupName) || _.isEmpty(self.EffectiveDate) || _.isEmpty(self.ExpiryDate) || _.isEmpty(self.description)) {
                    $('div#ErrorMessge p').html("All Fields are required");
                    $('div#ErrorMessge').show();
                    return false;
                }
                return true;
            },
            _verifyForm: function (event) {
                event.preventDefault();
                $('div#ErrorMessge').hide();
                var self = this;
                if (self._ValidateLookupForm()) {
                    if (!_.isUndefined(self.lookupId) && !_.isNull(self.lookupId) && !_.isEmpty(self.lookupId)) {
                        self.UpdateLookup(self.ruleDefinitionId);
                    }
                    else {
                        var productRule = window.config.services.productRule;
                        var url = "/" + self.entityType + "/" + self.productId + "/Lookup";
                        var lb = new Array();
                        var lv = new Array();
                        if (self.lookupBy.toString() !== "") {
                            lb = self.lookupBy.split(',');
                        }
                        if (self.lookupValues.toString() !== "") {
                            lv = self.lookupValues.split(',');
                        }
                        var CDate;
                        if (self.SelectedDateTypeL !== "CustomDate" && (self.CustomDate === "" || self.CustomDate === null)) {
                            CDate = Date.now();
                        }
                        else {
                            CDate = self.CustomDate
                        }
                        var Payload = {
                            LookupName: self.lookupName,
                            DataAttributeStoreName: self.dataAttributeStoreName,
                            EffectiveDate: self.EffectiveDate,
                            ExpiryDate: self.ExpiryDate,
                            Description: self.description,
                            LookupValues: lv,
                            LookupBy: lb,
                            LookupStorageName: self.lookupStorageName,
                            RuleDefinitionId: self.ruleDefinitionId,
                            LookupData: self.data,
                            ApplicationType: self.SelectedDateTypeL,
                            CustomDate: self.formatDate(CDate)
                        }

                        self.$.http.post(url, Payload, productRule).then(function (result) {
                            $('.close').click();
                            self.loadLookup();
                        }).fail(function (e) {
                            var strMessage = "Failed to complete the operation. " + e.responseJSON.message;
                            $('div#ErrorMessge p').html(strMessage);
                            $('div#ErrorMessge').show();
                            setTimeout(function () {
                                $('div#ErrorMessge').hide();
                            }, 2000);
                            console.error("Add Attribute save error is ", e);
                        });
                    }
                }
            },
            _ValidateLookupRuleForm: function () {
                var self = this;
                if ((self.SelectedDateType == "CustomDate") && (_.isEmpty(self.SCustomDate) || _.isEmpty(self.productId) || _.isEmpty(self.SRuleName) || _.isEmpty(self.SEffectiveDate) || _.isEmpty(self.SExpiryDate) || _.isEmpty(self.SDERuleName) || _.isEmpty(self.SRuleVersion) || _.isEmpty(self.SRuleDescription))) {
                    $('div#ErrorMessge p').html("All Fields are required");
                    $('div#ErrorMessge').show();
                    return false;
                }
                else if (_.isEmpty(self.SelectedDateType) || _.isEmpty(self.productId) || _.isEmpty(self.SRuleName) || _.isEmpty(self.SEffectiveDate) || _.isEmpty(self.SExpiryDate) || _.isEmpty(self.SDERuleName) || _.isEmpty(self.SRuleVersion) || _.isEmpty(self.SRuleDescription)) {
                    $('div#ErrorMessge p').html("All Fields are required");
                    $('div#ErrorMessge').show();
                    return false;
                }
                return true;
            },
            SaveLookupRules: function (event) {
                event.preventDefault();
                $('div#ErrorMessge').hide();
                var self = this;
                if (self._ValidateLookupRuleForm()) {
                    if (self.ruleDefinitionId != null && self.ruleDefinitionId != undefined) {
                        var productRule = window.config.services.productRule;
                        var url = "/" + self.ruleDefinitionId + "/ruledefinition";
                        var rs = new Array();
                        var os = new Array();
                        if (self.SRequiredSources.toString() !== "") {
                            rs = self.SRequiredSources.split(',');
                        }
                        if (self.SOptionalSources.toString() !== "") {
                            os = self.SOptionalSources.split(',');
                        }
                        var CDate;
                        if (self.SelectedDateType !== "CustomDate" && (self.SCustomDate === "" || self.SCustomDate === null)) {
                            CDate = Date.now();
                        }
                        else {
                            CDate = self.SCustomDate
                        }
                        var Payload = {
                            DataAttributeStoreName: self.SdataAttributeStoreName,
                            EffectiveDate: self.SEffectiveDate,
                            ExpiryDate: self.SExpiryDate,
                            RuleClass: "lookup",
                            RuleType: "Rule",
                            DERuleName: self.SDERuleName,
                            RuleVersion: self.SRuleVersion,
                            RequiredSources: rs,
                            OptionalSources: os,
                            Description: self.SRuleDescription,
                            ApplicationType: self.SelectedDateType,
                            CustomDate: self.formatDate(CDate)
                        }
                        self.$.http.put(url, Payload, productRule).then(function (result) {
                            self.UpdateLookup(result.id);
                        }).fail(function (e) {
                            var strMessage = "Failed to complete the operation. " + e.responseJSON.message;
                            $('div#ErrorMessge p').html(strMessage);
                            $('div#ErrorMessge').show();
                            setTimeout(function () {
                                $('div#ErrorMessge').hide();
                            }, 2000);
                            console.error("edit Attribute save error is ", e);
                        });
                    }
                    else {
                        var productRule = window.config.services.productRule;
                        var url = "/" + self.entityType + "/" + self.productId + "/ruledefinition";
                        var rs = new Array();
                        var os = new Array();
                        if (self.SRequiredSources.toString() !== "") {
                            rs = self.SRequiredSources.split(',');
                        }
                        if (self.SOptionalSources.toString() !== "") {
                            os = self.SOptionalSources.split(',');
                        }
                        var CDate;
                        if (self.SelectedDateType !== "CustomDate" && (self.SCustomDate === "" || self.SCustomDate === null)) {
                            CDate = Date.now();
                        }
                        else {
                            CDate = self.SCustomDate
                        }
                        var Payload = {
                            RuleName: self.SRuleName,
                            DataAttributeStoreName: self.SdataAttributeStoreName,
                            EffectiveDate: self.SEffectiveDate,
                            ExpiryDate: self.SExpiryDate,
                            RuleClass: "lookup",
                            RuleType: "Rule",
                            DERuleName: self.SDERuleName,
                            RuleVersion: self.SRuleVersion,
                            RequiredSources: rs,
                            OptionalSources: os,
                            Description: self.SRuleDescription,
                            ApplicationType: self.SelectedDateType,
                            CustomDate: self.formatDate(CDate)
                        }
                        self.$.http.post(url, Payload, productRule).then(function (result) {
                            self.UpdateLookup(result.id);
                        }).fail(function (e) {
                            var strMessage = "Failed to complete the operation. " + e.responseJSON.message;
                            $('div#ErrorMessge p').html(strMessage);
                            $('div#ErrorMessge').show();
                            setTimeout(function () {
                                $('div#ErrorMessge').hide();
                            }, 2000);
                            console.error("Add Attribute save error is ", e);
                        });
                    }
                }
            },
            UpdateLookup: function (ruleDefinitionId) {
                var self = this;
                var productRule = window.config.services.productRule;
                var url = "/" + self.lookupId + "/lookup";

                var lb = new Array();
                var lv = new Array();
                if (self.lookupBy.toString() !== "") {
                    lb = self.lookupBy.split(',');
                }
                if (self.lookupValues.toString() !== "") {
                    lv = self.lookupValues.split(',');
                }
                var CDate;
                if (self.SelectedDateTypeL !== "CustomDate" && (self.CustomDate === "" || self.CustomDate === null)) {
                    CDate = Date.now();
                }
                else {
                    CDate = self.CustomDate
                }
                var Payload = {
                    LookupName: self.lookupName,
                    DataAttributeStoreName: self.dataAttributeStoreName,
                    EffectiveDate: self.EffectiveDate,
                    ExpiryDate: self.ExpiryDate,
                    Description: self.description,
                    LookupValues: lv,
                    LookupBy: lb,
                    LookupStorageName: self.lookupStorageName,
                    RuleDefinitionId: ruleDefinitionId,
                    LookupData: self.data,
                    ApplicationType: self.SelectedDateTypeL,
                    CustomDate: self.formatDate(CDate)
                }
                self.$.http.put(url, Payload, productRule).then(function (result) {
                    $('.close').click();
                    self.loadLookup();
                }).fail(function (e) {
                    var strMessage = "Failed to complete the operation. " + e.responseJSON.message;
                    $('div#ErrorMessge p').html(strMessage);
                    $('div#ErrorMessge').show();
                    setTimeout(function () {
                        $('div#ErrorMessge').hide();
                    }, 2000);
                    console.error("Lookup save error is ", e);
                });
            },
            formatDate: function (date) {
                if (date !== null && date !== undefined && date !== "") {
                    return moment.tz(date, window.config.timezone).format("YYYY-MM-DD");
                }
                return "";
            },
            resetLookupModalEditor: function () {
                var self = this;
                self._updateHash();
            },
            editRule: function (e) {
                var self = this;
                self.ruleDefination = e.ruleDefinitionId;
            },
            _updateHash: function () {
                var randomVal = Math.floor(Math.random() * (10000 - 1 + 1)) + 1;
                var hashStr = window.location.hash;
                if (hashStr.includes("refresh:")) {
                    var newHash = hashStr.replace(/refresh:\d+/i, "refresh:" + randomVal);
                    window.location.hash = newHash;
                } else {
                    window.location.hash = hashStr + "/refresh:" + randomVal;
                }
            },
            _getProductList: function () {
                var self = this;
                var url = "/all/product";
                var multiProducts = window.config.services.multiProducts;
                self.$.http.get(url, multiProducts).then(function (data) {
                    var ProductList = _.transform(data, function (result, item) {
                        result.push({ key: item.productId, value: item.productId, expiresOn: item.expiresOn, validFrom: item.validFrom });
                    }, []);
                    self.ProductList = ProductList;
                }).fail(function (e) {
                    console.error("Product List error is ", e);
                });

            }
        })
    </script>
</dom-module>