<html-import html-href="rules/score-filter.html"></html-import>
<html-import html-href="rules/strategy-step.html"></html-import>
<dom-module id="pricing-strategy">
    <template>
        <style>
            .custom-input {
                --paper-input-container: {
                    padding: 0px 0px !important;
                }
                --paper-input-container-input: {
                    font-size: 11px;
                    padding: 0px 0px !important;
                }
                --paper-input-container-label: {
                    font-size: 12px;
                }
            }

            .modal-dialog1 {
                width: 1000px;
                margin: 30px auto;
            }

            .nav-tabs>li.active>a,
            .nav-tabs>li.active>a:hover,
            .nav-tabs>li.active>a:focus {
                color: #555555 !important;
                cursor: default;
                background: white;
                border-bottom: #f3f3f4;
                border-color: #dddddd #dddddd rgba(0, 0, 0, 0);
                border-image: none;
                border-style: solid;
                border-width: 1px;
                -moz-border-bottom-colors: none;
                -moz-border-left-colors: none;
                -moz-border-right-colors: none;
                -moz-border-top-colors: none;
            }

            #ErrorMessge p {
                color: #FF0000;
            }

            #ErrorMessgeRuleEditor p {
                color: #FF0000;
            }

            #SuccessMessge p {
                color: #008000;
            }

            .custom-input {
                --paper-input-container-input: {
                    font-size: 11px;
                }
                --paper-input-container-label: {
                    font-size: 12px;
                }
            }

            .twoRow {
                display: inline-block !important;
                margin: 0px 0px !important;
                width: 49% !important;
            }

            .twoRow .col-md-12 {
                padding: 0 2px;
            }
        </style>
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox-content">
                    <ul class="nav nav-tabs" id="myTab">
                        <template is="dom-if" if="{{hasRole('pricingStrategyTab')}}">
                            <li class="active">
                                <a data-target="#pricingstrategy" title="{{getTooltip('pricingStrategyTab')}}" data-toggle="tab">Manage Pricing Strategy</a>
                            </li>
                        </template>
                        <template is="dom-if" if="{{hasRole('pricingStrategyStepTab')}}">
                            <li>
                                <a data-target="#setuppricingstrategystep" title="{{getTooltip('pricingStrategyStepTab')}}" data-toggle="tab">Setup {{selectedName}} Steps</a>
                            </li>
                        </template>
                    </ul>
                    <div class="tab-content panel-body">
                        <div class="tab-pane active" id="pricingstrategy">
                            <template is="dom-if" if="{{_isItemsLoaded(itemsLoaded)}}">
                                <template is="dom-if" if="{{hasRole('AddEditPricingStrategyBtn')}}">
                                    <div class="pull-right">
                                        <paper-button class="btn btn-primary activity-action-btn" on-click="_addPricingStrategy" raised>Add Pricing Strategy</paper-button>
                                    </div>
                                </template>
                                <score-filter id="filter" selected-product="{{selectedProduct}}" selected-name="{{selectedName}}" selected-id="{{selectedId}}"
                                    view-model="{{viewModel}}" entity-type="{{entityType}}" filter-items="{{items}}" hide-export="true"></score-filter>
                            </template>
                        </div>
                        <div class="tab-pane" id="setuppricingstrategystep">
                            <strategy-step selected-product="{{selectedProduct}}" entity-type="{{entityType}}" selected-name="{{selectedName}}" selected-id="{{selectedId}}"></strategy-step>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <custom-modal id="addEditPricingStrategyModal" class="modal-drop" on-modal-hidden="resetModal">
            <div>
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title PricingStrategyTitle"></h4>
                        </div>
                        <div class="modal-body">
                            <div id="ErrorMessge" style="display: none;">
                                <p></p>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <form is="iron-form" class="form-horizontal" name="pricingStrategyForm">
                                        <div class="row twoRow">
                                            <div class="col-md-12">
                                                <vaadin-combo-box class="custom-input" name="Role" id="selectedProductId" value="{{selectedProductId}}" item-value-path="value"
                                                    item-label-path="key" items="{{productList}}" label="Product" prevent-invalid-input="true"
                                                    required on-change="_onProductChange">
                                                </vaadin-combo-box>
                                            </div>
                                        </div>
                                        <dynamic-form form-configuration={{pricingStrategyForm}} values="{{pricingStrategyForm.values}}"></dynamic-form>
                                        <br/>
                                        <template is="dom-if" if="{{hasRole('AddEditPricingStrategyBtn')}}">
                                            <paper-button class="btn btn-primary activity-action-btn" on-click="SubmitPricingStrategy" raised>Submit</paper-button>
                                        </template>

                                        <paper-button id="scorecardFormCancelBtn" class="btn btn-primary activity-action-btn" on-click="_resetForm" style="display: none;"
                                            raised>cancel</paper-button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </custom-modal>
        <url-parser id="url"></url-parser>
        <http-request id="http"></http-request>
        <auth-service id="authorize"></auth-service>
        <lookup-service id="lookup"></lookup-service>
    </template>
    <script>
        Polymer({
            is: "pricing-strategy",
            properties: {
                selectedProductId: {
                    type: String,
                    notify: true,
                    reflectToAttribute: true
                },
                productList: {
                    type: Array,
                    notify: true,
                },
                selectedProduct: {
                    type: String,
                    notify: true
                },
                selectedName: {
                    type: String,
                    notify: true
                },
                selectedId: {
                    type: String,
                    notify: true
                },
                items: {
                    type: Array,
                    value: []
                },
                viewModel: {
                    type: String,
                    notify: true,
                    observer: "openModel"
                },
                itemsLoaded: {
                    type: Boolean,
                    notify: true,
                    value: false
                },
                pricingStrategyId: {
                    type: String,
                    notify: true,
                    value: ""
                },
                entityType: {
                    type: String,
                    notify: true
                },
                pricingStrategyForm: {
                    type: Object,
                    notify: true,
                    value: {
                        controls: {
                            entityTypes: {
                                label: "Entity Type",
                                type: "combobox",
                                class: "twoRow",
                                selectList: [],
                                labelKey: "value",
                                labelValue: "key",
                                validations: {
                                    required: true,
                                    readonly: true
                                }
                            },
                            Name: {
                                label: "Name",
                                type: "textbox",
                                class: "twoRow",
                                validations: {
                                    required: true,
                                    readonly: false,
                                    charcounter: false,
                                    autovalidate: true,
                                    minLen: 1,
                                    maxLen: 64
                                }
                            },
                            Description: {
                                label: "Description",
                                type: "textbox",
                                class: "twoRow",
                                validations: {
                                    required: true,
                                    readonly: false,
                                    charcounter: false,
                                    autovalidate: true,
                                    minLen: 1,
                                    maxLen: 1000
                                }
                            },
                            EffectiveDate: {
                                label: "Effective Date",
                                type: "date",
                                class: "twoRow",
                                format: COUNTRY[window.config.country].DATE_FORMAT.DATE,
                                minFactor: 10,
                                maxFactor: 0,
                                validations: {
                                    required: true,
                                    min: false,
                                    max: false
                                }
                            },
                            ExpiryDate: {
                                label: "Expiry Date",
                                type: "date",
                                class: "twoRow",
                                format: COUNTRY[window.config.country].DATE_FORMAT.DATE,
                                minFactor: 10,
                                maxFactor: 0,
                                validations: {
                                    required: true,
                                    min: false,
                                    max: false
                                }
                            },
                            Version: {
                                label: "Version",
                                type: "textbox",
                                class: "twoRow",
                                validations: {
                                    required: true,
                                    readonly: false,
                                    charcounter: false,
                                    autovalidate: true,
                                    minLen: 1,
                                    maxLen: 64
                                }
                            }
                        },
                        values: {
                            ProductId: "",
                            Name: "",
                            Description: "",
                            EffectiveDate: "",
                            ExpiryDate: "",
                            Version: ""
                        }
                    }
                }
            },
            _onProductChange: function (event) {
                var self = this;
                var val = event.target.value;
                if (val !== "") {
                    var ResultObj = _.cloneDeep(self.pricingStrategyForm);
                    var productObj = _.find(self.productList, ['key', val]);
                    ResultObj.values.ExpiryDate = moment(productObj.expiresOn.time).format("YYYY-MM-DD");
                    ResultObj.values.EffectiveDate = moment(productObj.validFrom.time).format("YYYY-MM-DD");
                    self.set('pricingStrategyForm', ResultObj);
                }
            },
            ready: function () {
                this.hasAlert = false;
                this.orderedLoans = [];
                this._loadEntityTypes();
                this._initializeFilterItems();
                this.hasAlert = true;
                this._getProductList();
            },
            getApplicationData: function () {
                var self = this;
                var url = "/application/all/pricingstrategy";
                var productRule = window.config.services.productRule;
                self.$.http.get(url, productRule).then(function (data) {
                    self.getDrawdownData(data);
                }).fail(function (e) {
                    self.getDrawdownData([]);
                    console.error("alert error is ", e);
                });
            },
            getDrawdownData: function (objData) {
                var self = this;
                var url = "/drawdown/all/pricingstrategy";
                var productRule = window.config.services.productRule;
                self.$.http.get(url, productRule).then(function (data) {
                    var mergeData = _.concat(objData, data);
                    self.set('items', mergeData);
                    self.itemsLoaded = true;
                    if (!self.items || !self.items.length) {
                        self.set('hasAlert', true);
                    } else {
                        self.set('hasAlert', false);
                    }
                }).fail(function (e) {
                    console.error("Drawdown score card ", e);
                });
            },
            _loadEntityTypes: function () {
                var self = this;
                var pricingStrategyForm = _.cloneDeep(self.pricingStrategyForm);
                var data = self.$.lookup.getLookupBasedOnName("entityTypes");
                pricingStrategyForm.controls.entityTypes.selectList = data;
                self.set('pricingStrategyForm', pricingStrategyForm);
            },
            _initializeFilterItems: function () {
                var self = this;
                self.getApplicationData();
            },
            _isItemsLoaded: function () {
                if (this.itemsLoaded) {
                    return true;
                }
                return false;
            },
            _addPricingStrategy: function (event) {
                event.preventDefault();
                var self = this;
                var ResultObj = _.cloneDeep(self.pricingStrategyForm);
                ResultObj.values.ProductId = "";
                ResultObj.values.entityTypes = "";
                ResultObj.values.Name = "";
                ResultObj.values.Description = "";
                ResultObj.values.EffectiveDate = "";
                ResultObj.values.ExpiryDate = "";
                ResultObj.values.Version = "";
                ResultObj.controls.entityTypes.validations.readonly = false;
                ResultObj.controls.Name.validations.readonly = false;
                self.set('pricingStrategyForm', ResultObj);
                var text = "Add Pricing Strategy";
                $('.PricingStrategyTitle').text(text);
                self.$$('#addEditPricingStrategyModal').showModal();
            },
            openModel: function (objId) {
                var self = this;
                if (!_.isUndefined(objId) && !_.isNull(objId) && !_.isEmpty(objId)) {
                    var pricingStrategyObj = self._getScorCardById(self.items, "id", objId);
                    var ResultObj = _.cloneDeep(self.pricingStrategyForm);
                    ResultObj.values.entityTypes = pricingStrategyObj.entityType;
                    ResultObj.values.Name = pricingStrategyObj.name;
                    ResultObj.values["EffectiveDate"] = moment(pricingStrategyObj.effectiveDate.time).format("YYYY-MM-DD");
                    ResultObj.values["ExpiryDate"] = moment(pricingStrategyObj.expiryDate.time).format("YYYY-MM-DD");
                    ResultObj.values.Version = pricingStrategyObj.version;
                    ResultObj.values.Description = pricingStrategyObj.description;
                    self.set('pricingStrategyForm', ResultObj);
                    self.pricingStrategyId = objId;
                    self.selectedProductId = pricingStrategyObj.productId;
                    $('#selectedProductId').attr("readonly", "true");
                    ResultObj.controls.entityTypes.validations.readonly = true;
                    var text = "Manage " + self._changeTextDisplay(pricingStrategyObj.name) + " Pricing Strategy";
                    $('.PricingStrategyTitle').text(text);
                    self.$$('#addEditPricingStrategyModal').showModal();
                }
            },
            _getScorCardById: function (array, propName, scoreID) {
                var Obj = array.filter(function (e) {
                    return e[propName] === scoreID;
                })[0];
                return Obj || {};
            },
            _resetForm: function (event) {
                var form = Polymer.dom(event).localTarget.parentElement;
                form.reset();
            },
            resetModal: function () {
                var self = this;
                self.SelectedProductId = "";
                self.pricingStrategyId = "";
                self.viewModel = "";
                var ResultObj = self.pricingStrategyForm;
                ResultObj.values.entityTypes = "";
                ResultObj.values.Name = "";
                ResultObj.values.Description = "";
                ResultObj.values.EffectiveDate = "";
                ResultObj.values.ExpiryDate = "";
                ResultObj.values.Version = "";
                $('#scorecardFormCancelBtn').trigger('click');
                $('#selectedProductId').removeAttr('readonly');
                self.set('pricingStrategyForm', $.extend({}, ResultObj));
            },
            SubmitPricingStrategy: function (event) {
                event.preventDefault();
                var self = this;
                var form = Polymer.dom(event).localTarget.parentElement;
                var params = self.$.url.getParams();
                if (form.validate()) {
                    if (!_.isUndefined(self.pricingStrategyId) && !_.isNull(self.pricingStrategyId) && !_.isEmpty(self.pricingStrategyId)) {
                        var productRule = window.config.services.productRule;
                        var url = "/" + self.pricingStrategyId + "/pricingstrategy";
                        var ResultObj = self.pricingStrategyForm;
                        self.$.http.put(url, ResultObj.values, productRule).then(function (result) {
                            $('.close').click();
                            self._updateHash();
                        }).fail(function (e) {
                            var strMessage = "Failed to complete the operation. " + e.responseJSON.message;
                            $('div#ErrorMessge p').html(strMessage);
                            $('div#ErrorMessge').show();
                            setTimeout(function () {
                                $('div#ErrorMessge').hide();
                            }, 2000);
                            console.error("Pricing Strategy save error is ", e);
                        });
                    }
                    else {
                        var productRule = window.config.services.productRule;
                        url = "/" + self.pricingStrategyForm.values.entityTypes + "/" + self.pricingStrategyForm.values.ProductId + "/pricingstrategy";
                        var ResultObj = self.pricingStrategyForm;
                        self.$.http.post(url, ResultObj.values, productRule).then(function (result) {
                            $('.close').click();
                            self._updateHash();
                        }).fail(function (e) {
                            var strMessage = "Failed to complete the operation. " + e.responseJSON.message;
                            $('div#ErrorMessge p').html(strMessage);
                            $('div#ErrorMessge').show();
                            setTimeout(function () {
                                $('div#ErrorMessge').hide();
                            }, 3000);
                            console.error("Pricing Strategy save error is ", e);
                        });
                    }
                }
            },
            formatDate: function (date) {
                if (date !== null && date !== undefined && date !== "") {
                    return formats.date(date, window.config.country, false);;
                }
                return "";
            },
            _updateHash: function () {
                var randomVal = Math.floor(Math.random() * (10000 - 1 + 1)) + 1;
                var hashStr = window.location.hash;
                if (hashStr.includes("refresh:")) {
                    var newHash = hashStr.replace(/refresh:\d+/i, "refresh:" + randomVal);
                    window.location.hash = newHash;
                } else {
                    window.location.hash = hashStr + "/refresh:" + randomVal;
                }
            },
            hasRole: function (RoleName) {
                return this.$.authorize.hasRole(RoleName);
            },
            getTooltip: function (compName) {
                var tooltip = this.$.authorize.getToolTip(compName, "");
                return tooltip.data;
            },
            _changeTextDisplay: function (value) {
                if (!_.isNull(value) && !_.isUndefined(value) && !_.isEmpty(value))
                    return _.startCase(_.lowerCase(value));
                return "";
            },
            _getProductList: function () {
                var self = this;
                var url = "/all/product";
                var multiProducts = window.config.services.multiProducts;
                self.$.http.get(url, multiProducts).then(function (data) {
                    var ProductList = _.transform(data, function (result, item) {
                        result.push({ key: item.productId, value: item.productId, expiresOn: item.expiresOn, validFrom: item.validFrom });
                    }, []);
                    self.set('productList', ProductList);
                }).fail(function (e) {
                    console.error("Product List error is ", e);
                });
            }
        });
    </script>
</dom-module>