<dom-module id="rule-editor">
    <template>
        <style>
            .app_cat_h {
                font-size: 30px;
                border-bottom: 4px solid #80FF00;
                padding: 8px 10px;
                background-color: #EEE;
            }

            ul.app_cat_ul {
                padding: 0px;
                list-style: none;
                overflow: hidden;
            }

            ul.app_cat_ul li a {
                padding: 8px 10px;
                display: block;
                color: #555;
                background-color: #FFF;
                border: 1px solid #EEE;
                border-top: 0px;
                text-decoration: none;
                -webkit-transition: all .3s ease;
                -moz-transition: all .3s ease;
                -ms-transition: all .3s ease;
                -o-transition: all .3s ease;
                transition: all .3s ease;
            }

            ul.app_cat_ul li a:hover {
                background-color: #EEE;
            }

            .footer {
                background-color: #EEE;
                color: #666;
                height: 60px;
                text-align: center;
                padding: 10px;
                overflow: hidden;
            }

            .header {
                background-color: #F9F9F9;
                border-bottom: 4px solid #008080;
            }

            .header_img {
                background-image: url(/img/logo.png);
                background-repeat: no-repeat;
                background-size: 200px 60px;
                width: 200px;
                height: 60px;
                margin: 5px 0px;
            }

            /* nav */

            div.nav_bar {
                position: relative;
            }

            div.header_nav {
                position: absolute;
                right: 0px;
                top: 7px;
            }

            ul.nav_ul {
                margin: 0px;
                padding: 0px;
                list-style: none;
                overflow: hidden;
            }

            ul.nav_ul li {
                float: left;
                margin-right: 3px;
            }

            ul.nav_ul li a {
                padding: 12px;
                display: block;
                color: #555;
                background-color: #FFF;
                border: 1px solid #EEE;
                text-decoration: none;
                -webkit-transition: all .3s ease;
                -moz-transition: all .3s ease;
                -ms-transition: all .3s ease;
                -o-transition: all .3s ease;
                transition: all .3s ease;
                -webkit-border-radius: 4px;
                border-radius: 4px;
            }

            ul.nav_ul li a:hover {
                background-color: #EEE;
            }

            @media (max-width: 768px) {
                div.header_nav {
                    position: relative;
                    top: 0px;
                    margin-bottom: 5px;
                }
                ul.nav_ul li {
                    float: none;
                }
            }

            ul.ul_buttons li a {
                margin: 5px 0px;
                color: #555;
                background-color: #FFF;
                border: 1px solid #C0C0C0;
            }

            #code1 {
                height: 400px;
                font-size: 14px;
            }

            #ErrorMessge p {
                color: #FF0000;
            }

            #ErrorMessgeRuleEditor p {
                color: #FF0000;
            }

            #SuccessMessge p {
                color: #008000;
            }

            .fa {
                font-size: 25px;
            }
        </style>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                    <div style="float: right;">
                        <a href="javascript:" id="format_code" title="Format Code" class="dropdown-toggle moreHeight" data-toggle="dropdown" role="button"
                            aria-expanded="false">
                            <i class="fa fa-file-code-o" aria-hidden="true"></i>
                        </a>
                    </div>
                    <div class="clearfix">
                    </div>
                    <div class="well well-sm">
                        <div id="code1"></div>
                        <fieldset>
                            <div class="form-group text-center" style="margin-top:10px;">
                                <div class="col-md-12">
                                    <template is="dom-if" if="{{hasRole('AddEditRuleBtn')}}">
                                        <button id="submitRule" name="options" on-click="saveRules" class="btn btn-primary activity-action-btn">Publish</button>
                                    </template>
                                    <button id="Closebtn" name="cleard" class="btn btn-primary activity-action-btn">Close</button>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="well well-sm data_well">
                        <table class="table data table-striped table-hover" style="width:100%;background-color:#FFF;">
                            <thead>
                                <tr>
                                    <th>Line</th>
                                    <th>Col</th>
                                    <th>Errors</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td colspan="3">No syntax errors!</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <http-request id="http"></http-request>
        <auth-service id="authorize"></auth-service>
    </template>
    <script>
        var outerEditorObj;
        Polymer({
            is: "rule-editor",
            properties: {
                dispInfo: {
                    type: String,
                    notify: true
                },
                ruleDefination: {
                    type: String,
                    notify: true,
                    observer: "SetId"
                },
                ruleObj: {
                    type: Object,
                    notify: false
                },
                codeObj: {
                    type: Object,
                    notify: false
                },
                codeObjOnsever: {
                    type: Object,
                    notify: false
                }
            },
            SetId: function () {
                this.loadRules();
            },
            hasRole: function (RoleName) {
                return this.$.authorize.hasRole(RoleName);
            },
            loadEditor: function () {
                var self = this;
                ace.require("ace/ext/language_tools");
                var editorAce1 = ace.edit("code1");
                outerEditorObj = editorAce1;
                editorAce1.focus();
                editorAce1.setOptions({
                    autoScrollEditorIntoView: true,
                    enableBasicAutocompletion: true,
                    enableSnippets: true,
                    enableLiveAutocompletion: true
                });
                editorAce1.setValue(self.codeObj);
                editorAce1.setTheme("ace/theme/idle_fingers");
                editorAce1.getSession().setMode("ace/mode/javascript");
                editorAce1.getSession().setUseWorker(false);
                $("input[name='checkboxes']").prop("checked", false);
                $("#browser,#jquery").prop("checked", true);
                var JSHINT_options = {};
                function set_options() {
                    JSHINT_options = {
                        undef: true,
                        unused: true,
                        browser: $("#browser").is(":checked"),
                        devel: $("#browser").is(":checked"),
                        browserify: $("#browserify").is(":checked"),
                        couch: $("#couch").is(":checked"),
                        dojo: $("#dojo").is(":checked"),
                        jasmine: $("#jasmine").is(":checked"),
                        jquery: $("#jquery").is(":checked"),
                        mocha: $("#mocha").is(":checked"),
                        module: $("#module").is(":checked"),
                        mootools: $("#mootools").is(":checked"),
                        node: $("#node").is(":checked"),
                        nonstandard: $("#nonstandard").is(":checked"),
                        phantom: $("#phantom").is(":checked"),
                        prototypejs: $("#prototypejs").is(":checked"),
                        qunit: $("#qunit").is(":checked"),
                        rhino: $("#rhino").is(":checked"),
                        shelljs: $("#shelljs").is(":checked"),
                        typed: $("#typed").is(":checked"),
                        worker: $("#worker").is(":checked"),
                        wsh: $("#wsh").is(":checked"),
                        yui: $("#yui").is(":checked")
                    };
                }
                set_options();
                function validate() {
                    code = editorAce1.getValue();
                    JSHINT(code, JSHINT_options);
                    errors = JSHINT.errors;
                    count = errors.length;
                    data = "";
                    if (count == 0) {
                        data = '<tr><td colspan="3">No syntax errors!</td></tr>';
                    } else {
                        for (i = 0; i < count; i++) {
                            if (errors[i] != null) {
                                data += "<tr class='errorRows'>";
                                data += "<td>" + errors[i].line + "</td>";
                                data += "<td>" + errors[i].character + "</td>";
                                data += "<td>" + errors[i].reason + "</td>";
                                data += "</tr>";
                            }
                        }
                    }
                    if (count > 10) {
                        $("div.data_well").css({ "height": "479px", "overflow-y": "scroll" });
                    } else {
                        $("div.data_well").css({ "height": "auto", "overflow-y": "auto" });
                    }
                    $("table.data tbody").html(data);
                }
                $("#set").click(function (e) {
                    e.preventDefault();
                    set_options();
                    validate();
                });
                $("#options").click(function (e) {
                    e.preventDefault();
                    $("#options_modal").modal({ backdrop: false });
                });
                $('#format_code').click(function (e) {
                    e.preventDefault();
                    data = $.trim(editorAce1.getValue());
                    if (data != "") {
                        js = js_beautify(data, { 'indent_size': 1, 'indent_char': '\t' });
                        js = js.replace(/\\/g, '');
                        editorAce1.setValue(js);
                    }
                    editorAce1.focus();
                    validate();
                });
                $('#Closebtn').click(function (e) {
                    e.preventDefault();
                    editorAce1.setValue("");
                    $('.CloseRuleEditor').click();
                });
                $('.errorRows').click(function (e) {
                    e.preventDefault();
                });
                var keep_validating = null;
                editorAce1.on("change", function () {
                    if (keep_validating != null) {
                        clearTimeout(keep_validating);
                    }
                    keep_validating = setTimeout(validate, 500);
                });
                function formateonloading() {
                    setTimeout(function () {
                        $('#format_code').click();
                    }, 1000);
                }
                formateonloading();
            },
            ready: function () {
                $('div#ErrorMessge p').html("");
                $('div#ErrorMessge').hide();
                $('div#ErrorMessgeRuleEditor p').html("");
                $('div#ErrorMessgeRuleEditor').hide();
                $('div#SuccessMessge p').html("");
                $('div#SuccessMessge').hide();
            },
            saveRules: function (e) {
                var self = this;
                data = $.trim(outerEditorObj.getValue());
                var nopara = true;
                data = data.replace(/(\r\n|\n|\r)/gm, "<1br />");
                re1 = /<1br \/><1br \/>/gi;
                re1a = /<1br \/><1br \/><1br \/>/gi;
                data = data.replace(re1, " ");
                data = data.replace(re1a, "<1br /><2br />");
                data = data.replace(re1, "<2br />");
                re2 = /\<1br \/>/gi;
                data = data.replace(re2, " ");
                re3 = /\s+/g;
                data = data.replace(re3, " ");
                re4 = /<2br \/>/gi;
                data = data.replace(re4, "\n\n");
                var payload = {
                    source: data
                }
                var decisionEngine = window.config.services.decisionEngine;
                self.$.http.put("", payload, decisionEngine).then(function (data) {
                    $('div#SuccessMessge p').html("Operation completed successfully");
                    $('div#SuccessMessge').show();
                    setTimeout(function () {
                        $('.CloseRuleEditor').click();
                    }, 2000);
                }).fail(function (e) {
                    $('div#ErrorMessgeRuleEditor p').html("Failed to complete the operation.");
                    $('div#ErrorMessgeRuleEditor').show();
                    console.error("Decision Rule error is ", e);
                });
            },
            loadRules: function () {
                var self = this;
                if (self.ruleDefination !== "" && self.ruleDefination != null && self.ruleDefination != undefined) {
                    var productRule = window.config.services.productRule;
                    var url = "/" + self.ruleDefination + "/ruledefinition";
                    self.$.http.get(url, productRule).then(function (result) {
                        var RuleName = result.ruleDetail.deRuleName;
                        self.dispInfo = RuleName;
                        self.GetData(RuleName);
                    }).fail(function (e) {
                        self.GetData("");
                        console.error("Add Attribute save error is ", e);
                    });
                }
            },
            GetData: function (ruleNameObj) {
                var self = this;
                var decisionEngine = window.config.services.decisionEngine;
                var url = "/" + ruleNameObj;
                self.$.http.get(url, decisionEngine).then(function (data) {
                    if (data !== undefined && data !== null) {
                        self.ruleObj = data;
                        self.codeObj = data.source.substring(1, data.source.length - 1);
                        setTimeout(function () {
                            self.loadEditor();
                        }, 1000);
                    }
                    else {
                        self.ruleObj = "";
                        self.codeObj = "function " + ruleNameObj + "(){return;}";
                        self.loadEditor();
                    }
                }).fail(function (e) {
                    self.ruleObj = "";
                    self.codeObj = "";
                    self.loadEditor();
                    $('div#ErrorMessgeRuleEditor p').html("Failed to complete the operation.");
                    $('div#ErrorMessgeRuleEditor').show();
                    console.error("Decision Rule error is ", e);
                });
            }
        });
    </script>
</dom-module>