<html-import html-href="poll-details/pollDetail.html"></html-import>
<html-import html-href="poll-details/actions-container.html"></html-import>
<dom-module id="poll-details-home">
    <template>
        <style>
            .nav-tabs>li.active>a,
            .nav-tabs>li.active>a:hover,
            .nav-tabs>li.active>a:focus {
                color: #555555 !important;
                cursor: default;
                background: white;
                border-bottom: #f3f3f4;
                border-color: #dddddd #dddddd rgba(0, 0, 0, 0);
                border-image: none;
                border-style: solid;
                border-width: 1px;
                -moz-border-bottom-colors: none;
                -moz-border-left-colors: none;
                -moz-border-right-colors: none;
                -moz-border-top-colors: none;
            }

            .tab-content>.active {
                display: block;
                background: white;
            }

            .loan-summary .ibox-content {
                padding-bottom: 0;
            }

            .theme-config {
                height: 100%;
                top: 0;
            }

            .theme-config-box {
                margin-right: -400px;
                position: relative;
                height: 100%;
                z-index: 99;
            }

            .theme-config-box.show {
                margin-right: 0;
            }

            .skin-settings {
                width: 395px;
                margin-left: 40px;
                background: #f3f3f2;
                height: auto;
                min-height: 100px;
                padding-bottom: 20px;
            }

            .spin-icon {
                background-color: #03466B;
            }
        </style>
        <help-text></help-text>
        <div class="theme-config">
            <div class="theme-config-box">
                <div class="spin-icon" on-click="_spinIconClick">
                    <i class="fa fa-chevron-circle-left" id="gearIcon"></i>
                </div>
                <div class="skin-settings">
                    <template is="dom-if" if="{{_isReady(componentMap,componentMapUpdated)}}" restamp="true">
                        <actions-container id="actionContainer" poll-id="{{pollId}}" component-map="{{componentMap}}" action-events="{{actionEvents}}"
                            status="{{status}}"></actions-container>
                    </template>
                </div>
            </div>
        </div>

        <poll-detail id="pollDetails" poll-id="{{pollId}}" status="{{status}}" action-events="{{actionEvents}}" component-map="{{componentMap}}"
            poll-data="{{pollData}}"></poll-detail>

        <url-parser id="url"></url-parser>
        <http-request id="http"></http-request>
        <alloy-config id="config"></alloy-config>
        <session-manager id="session"></session-manager>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "poll-details-home",
                properties: {
                    pollId: {
                        type: String,
                        notify: true,
                        reflectToAttribute: true
                    },
                    pollData: {
                        type: Object,
                        notify: true,
                        reflectToAttribute: true
                    },
                    componentMap: {
                        type: Object,
                        notify: true,
                        value: {
                            PostVote: false
                        },
                        reflectToAttribute: true
                    },
                    componentMapUpdated: {
                        type: Boolean,
                        notify: true,
                        value: false,
                        reflectToAttribute: true
                    },
                    actionEvents: {
                        type: Object,
                        notify: true,
                        value: {},
                        reflectToAttribute: true
                    },
                    currentEntityName: {
                        type: String,
                        notify: true,
                        value: 'application'
                    }
                },
                listeners: {
                    'AppDetailsPageRefresh': '_refreshAppDetails'
                },
                ready: function () {
                    var self = this;
                    if (window.jQuery) {
                        self.init()();
                    } else {
                        window.addEventListener("WebComponentsReady", self.init());
                    }
                },
                init: function () {
                    var self = this;
                    return function () {
                        var params = self.$.url.getParams();
                        if (params.hasOwnProperty('entity')) {
                            self.set('currentEntityName', params.entity);
                        }
                        self.set('pollId', params.pollId);
                        self._initializeComponentStatus();
                    }
                },
                _initializeComponentStatus: function () {
                    var self = this;
                    var componentMap = _.cloneDeep(self.componentMap);
                    var filterActions = self.$.config.getConfigurationBasedOnKey("filter-actions");
                    self.set("actionEvents", filterActions.events);
                    self.$.session.setObject("actionEvents", filterActions.events);
                    if (!_.isUndefined(self.actionEvents) && !_.isNull(self.actionEvents)) {
                        var actions = self._getActionsByTagAndStatus(filterActions);
                        if (!_.isUndefined(actions)) {
                            var result = _.reduce(componentMap, function (output, value, key) {
                                output[key] = actions.hasOwnProperty(key) ? actions[key] : false;
                                return output;
                            }, {});
                            self.set('componentMap', result);
                        }
                    }
                    else {
                        self._resetComponentMap();
                    }
                    self.set('componentMapUpdated', true);
                    self.loadData();
                },
                _getActionsByTagAndStatus: function (filterActions) {
                    var statusCode = this.statusCode;
                    var tags = this.tags;
                    var params = this.$.url.getParams();
                    var FilterData = filterActions[params.filter];
                    var actions;
                    var INCLUDE_KEYS = ["PollingVoting"];
                    if (INCLUDE_KEYS.indexOf(params.filter) != -1) {
                        actions = FilterData["PollVote"];
                    }
                    return actions;
                },
                _resetComponentMap: function () {
                    var input = _.cloneDeep(this.componentMap);
                    var result = _.reduce(input, function (output, value, key) {
                        output[key] = false;
                        return output;
                    }, {});
                    this.set('componentMap', result);
                },
                loadData: function () {
                    var self = this;
                    var params = self.$.url.getParams();
                    var url = "/poll/" + params.pollId;
                    var pollingVoting = window.config.services.pollingVoting;
                    self.$.http.get(url, pollingVoting, true).then(function (data) {
                        self.set('pollData', data);
                        self._OpenActionMenu();
                    }).fail(function (e) {
                        console.log("loadData error is ", e);
                    });
                },
                _spinIconClick: function (e) {
                    $('.spin-icon i').toggleClass("fa-chevron-circle-left fa-chevron-circle-right");
                    $('.theme-config-box').toggleClass('show');
                },
                _refreshAppDetails: function (e) {
                    this._updateHash();
                },
                _updateHash: function () {
                    var randomVal = Math.floor(Math.random() * (10000 - 1 + 1)) + 1;
                    var hashStr = window.location.hash;
                    if (hashStr.includes("refresh:")) {
                        var newHash = hashStr.replace(/refresh:\d+/i, "refresh:" + randomVal);
                        window.location.hash = newHash;
                    } else {
                        window.location.hash = hashStr + "/refresh:" + randomVal;
                    }
                    window.location.reload();
                },
                _isReady: function (componentMap, componentMapUpdated) {
                    var hasNoActions = window.location.href.toLowerCase().includes("/noaction");
                    if (this.componentMap && this.componentMapUpdated && !hasNoActions) {
                        return true;
                    }
                    return false;
                },
                _OpenActionMenu: function () {
                    var self = this;
                    var OpenActionMenu = self.$.config.getConfigurationBasedOnKey("openAction");
                    if (OpenActionMenu) {
                        $('.spin-icon').click();
                    }
                }
            });
        });
    </script>
</dom-module>