<dom-module id="product-list">
    <template>
        <style>
            .custom-input {
                --paper-input-container-input: {
                    font-size: 11px;
                }
                --paper-input-container-label: {
                    font-size: 12px;
                }
            }

            .pull-btn-right {
                margin: 10px auto;
                text-align: right;
            }
        </style>
        <div id="MessageContainer"></div>
        <template is="dom-if" if="{{hasRole('AddEditProductBtn')}}">
            <div class="pull-btn-right">
                <paper-button class="btn btn-primary activity-action-btn" on-click="_addEditProduct" raised>Add Product</paper-button>
            </div>
        </template>
        <div id="productDataContainer">
            <table id="productTable" class="table table-striped" width="100%" cellspacing="0"></table>
        </div>
        <div id="addEditProduct" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" on-click="resetModal" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title EditTitle"></h4>
                    </div>
                    <div class="modal-body">
                        <div id="ErrorMessge" style="display: none;">
                            <p></p>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <form is="iron-form" class="form-horizontal" name="productForm">
                                    <dynamic-form form-configuration="{{productForm}}" values="{{productForm.values}}"></dynamic-form>
                                    <br/>
                                    <template is="dom-if" if="{{hasRole('AddEditProductBtn')}}">
                                        <paper-button class="btn btn-primary activity-action-btn" on-click="_verifyForm" raised>Submit</paper-button>
                                        <paper-button id="productFormResetButton" class="btn btn-primary activity-action-btn" style="display: none;" on-click="_formReset"
                                            raised>Reset</paper-button>
                                    </template>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <url-parser id="url"></url-parser>
        <http-request id="http"></http-request>
        <auth-service id="authorize"></auth-service>
        <lookup-service id="lookup"></lookup-service>
        <message-component id="message"></message-component>
    </template>
    <script>
        Polymer({
            is: "product-list",
            properties: {
                productList: {
                    type: Array,
                    notify: true,
                    value: []
                },
                selectedProduct: {
                    type: Object,
                    notify: true
                },
                microAppName: {
                    type: String,
                    notify: true
                },
                productForm: {
                    type: Object,
                    notify: true,
                    value: {
                        controls: {
                            productId: {
                                label: "Product Id",
                                type: "textbox",
                                class: "twoRow",
                                validations: {
                                    required: true,
                                    readonly: false,
                                    charcounter: false,
                                    autovalidate: false,
                                    minLen: 1,
                                    maxLen: 64
                                }
                            },
                            name: {
                                label: "Product Name",
                                type: "textbox",
                                class: "twoRow",
                                validations: {
                                    required: true,
                                    readonly: false,
                                    charcounter: false,
                                    autovalidate: false,
                                    minLen: 1,
                                    maxLen: 64
                                }
                            },
                            productType: {
                                label: "Product Type",
                                type: "combobox",
                                class: "twoRow",
                                selectList: [],
                                labelKey: "value",
                                labelValue: "key",
                                validations: {
                                    required: true
                                }
                            },
                            productCategory: {
                                label: "Product Category",
                                type: "combobox",
                                class: "twoRow",
                                selectList: [],
                                labelKey: "value",
                                labelValue: "key",
                                validations: {
                                    required: true
                                }
                            },
                            familyId: {
                                label: "FamilyId",
                                type: "combobox",
                                class: "twoRow",
                                selectList: [],
                                labelKey: "value",
                                labelValue: "key",
                                validations: {
                                    required: true
                                }
                            },
                            isSecured: {
                                label: "Is Secured",
                                type: "checkbox",
                                class: "twoRow",
                                validations: {
                                    required: false,
                                    readonly: false,
                                    charcounter: false,
                                    autovalidate: false,
                                    minLen: 1,
                                    maxLen: 64
                                }
                            },
                            validFrom: {
                                label: "ValidFrom",
                                type: "date",
                                class: "twoRow",
                                format: COUNTRY[window.config.country].DATE_FORMAT.DATE,
                                validations: {
                                    required: true
                                }
                            },
                            expiresOn: {
                                label: "ExpiresOn",
                                type: "date",
                                class: "twoRow",
                                format: COUNTRY[window.config.country].DATE_FORMAT.DATE,
                                validations: {
                                    required: true
                                }
                            },
                            description: {
                                label: "Description",
                                type: "textbox",
                                validations: {
                                    required: true,
                                    readonly: false,
                                    charcounter: false,
                                    autovalidate: false,
                                    minLen: 1,
                                    maxLen: 64
                                }
                            }
                        },
                        values: {
                            productId: "",
                            name: "",
                            productType: "",
                            productCategory: "",
                            familyId: "",
                            validFrom: "",
                            expiresOn: "",
                            isSecured: false,
                            description: ""
                        }
                    }
                }
            },
            attached: function () {
                window.addEventListener("hashchange", this.createHashChangedHandler());
                this._loadConfigurations();
            },
            detached: function () {
                window.removeEventListener("hashchange", this.onHashChanged);
            },
            createHashChangedHandler: function () {
                this.onHashChanged = function () {
                    var self = this;
                    var currentMicroApp = window.location.hash.slice(2).split("/")[0];
                    if (self.microAppName === currentMicroApp) {
                        self._loadConfigurations();
                        self.$$('#breadcrumbLinks').init();
                    }
                }.bind(this);
                return this.onHashChanged;
            },
            _loadConfigurations: function () {
                var self = this;
                var urlParams = self.$$('#url').getParams();
                self.set('microAppName', window.location.hash.slice(2).split("/")[0]);
                self.loadProduct();
            },
            loadProduct: function () {
                var self = this;
                var url = "/all/product";
                var productForm = _.cloneDeep(self.get('productForm'));
                var multiProducts = window.config.services.multiProducts;
                self.$.http.get(url, multiProducts, true).then(function (data) {
                    self.set('productList', data);
                    var productFamily = self.$.lookup.getLookupBasedOnName("product-family");
                    var productType = self.$.lookup.getLookupBasedOnName("product-type");
                    var productCategory = self.$.lookup.getLookupBasedOnName("product-category");
                    productForm.controls.familyId.selectList = productFamily;
                    productForm.controls.productType.selectList = productType;
                    productForm.controls.productCategory.selectList = productCategory;
                    self.set('productForm', productForm);
                    self._showResult(self.productList);
                }).fail(function (e) {
                    console.error("Fetching All Products: Error is ", e);
                });
            },
            _showResult: function (resultData) {
                var self = this;
                var table = self.tableObj;
                if (table !== null && table !== undefined) {
                    table.clear();
                    table.destroy(true);
                    $('#productDataContainer').append($('<table/>').attr('id', 'productTable').css('width', '100%').addClass('table table-striped'));
                }
                $.fn.dataTable.ext.errMode = 'none';
                self.tableObj = $('#productTable').DataTable({
                    retrieve: true,
                    dom: "<'row'<'col-sm-12'tr>>" +
                        "<'row'<'col-sm-5'i><'col-sm-7'p>>",
                    language: {
                        "zeroRecords": "No data found."
                    },
                    data: resultData,
                    order: [[0, "desc"]],
                    columnDefs: [
                        {
                            targets: 0,
                            width: "10%",
                            orderable: true
                        },
                        {
                            targets: 1,
                            width: "10%",
                            orderable: true
                        },
                        {
                            targets: 2,
                            width: "15%"
                        },
                        {
                            targets: 3,
                            width: "10%"
                        },
                        {
                            targets: 4,
                            width: "10%"
                        },
                        {
                            targets: 5,
                            width: "10%"
                        },
                        {
                            targets: 6,
                            width: "8%"
                        },
                        {
                            targets: 7,
                            width: "5%"
                        },
                        {
                            targets: 8,
                            width: "5%"
                        },
                        {
                            targets: 9,
                            width: "8%"
                        },
                        {
                            targets: 10,
                            width: "5%",
                            orderable: false
                        }
                    ],
                    columns: [
                        {
                            "data": "productId",
                            "title": "Product",
                            "tooltip": "Product"
                        },
                        {
                            "data": "name",
                            "title": "Name",
                            "tooltip": "Product Name"
                        },
                        {
                            "data": "description",
                            "title": "Description",
                            "tooltip": "Description"
                        },
                        {
                            "data": "familyId",
                            "title": "Family Id",
                            "tooltip": "Family Id"
                        },
                        {
                            "data": "portfolioType",
                            "title": "Product Type",
                            "tooltip": "Portfolio Type"
                        },
                        {
                            "data": "productCategory",
                            "title": "Product Categoty",
                            "tooltip": "Product Categoty"
                        },
                        {
                            "data": "status",
                            "title": "Status",
                            "tooltip": "Status"
                        },
                        {
                            "data": "validFrom.time",
                            "title": "Valid From",
                            "isFunction": true,
                            "render": eval("(function(data,type,full,meta) { if (!data) {  return ''; } return moment(data).format(COUNTRY[window.config.country].DATE_FORMAT.DATE);})"),
                            "tooltip": "Valid From"
                        },
                        {
                            "data": "expiresOn.time",
                            "title": "Expires On",
                            "isFunction": true,
                            "render": eval("(function(data,type,full,meta) { if (!data) {  return ''; } return moment(data).format(COUNTRY[window.config.country].DATE_FORMAT.DATE);})"),
                            "tooltip": "ExpiresOn"
                        },
                        {
                            "data": "isSecured",
                            "title": "Is Secured?",
                            "isFunction": true,
                            "render": eval("(function(data,type,full,meta) { if (data) {  return \"Yes\"; } return \"No\";})"),
                            "tooltip": "IsSecured"
                        },
                        {
                            "data": null,
                            "isFunction": true,
                            "render": eval("(function(data,type,full,meta) { var ViewDetail=''; if(self.hasRole('DetialsProductBtn') == true || self.hasRole('ViewProductBtn') == true){ ViewDetail=\"<button on-click='ViewDetails' class='btn btn-primary btn-xs'>Details</button>\" }; return ViewDetail;})")
                        }
                    ]
                });
                $('#productTable tbody').on('click', 'button', function (obj) {
                    var data = self.tableObj.row($(this).parents('tr')).data();
                    if (this.getAttribute("on-click") !== null && this.getAttribute("on-click") !== undefined) {
                        if (obj.target.textContent === "Details") {
                            self.ViewDetails(data);
                        }
                    }
                });
                setTimeout(function () {
                    var configData = self.tableObj.settings().aoColumns;
                    $('#productTable thead tr')[0].childNodes.forEach(function (obj) {
                        var tooltipObj = _.filter(configData, { title: obj.innerText })
                        if (!_.isUndefined(tooltipObj) && !_.isNull(tooltipObj) && !_.isEmpty(tooltipObj)) {
                            var tooltip = tooltipObj[0].tooltip;
                            if (tooltip !== "" && tooltip !== undefined) {
                                $(obj).attr('title', tooltip);
                            }
                        }
                    });
                }, 1000);
            },
            hasRole: function (RoleName) {
                return this.$.authorize.hasRole(RoleName);
            },
            ViewDetails: function (obj) {
                window.location.hash = "/product-details/productId:" + obj.productId;
            },
            _addEditProduct: function (event) {
                event.preventDefault();
                var self = this;
                self.selectedProduct = {};
                var productFormObj = _.cloneDeep(self.productForm);
                productFormObj.values.productId = "";
                productFormObj.values.name = "";
                productFormObj.values.productType = "";
                productFormObj.values.productCategory = "";
                productFormObj.values.familyId = "";
                productFormObj.values.validFrom = moment().format("YYYY-MM-DD");
                productFormObj.values.expiresOn = "";
                productFormObj.values.isSecured = false;
                productFormObj.values.description = "";
                self.set('productForm', productFormObj);
                var text = "Add Product";
                $('.EditTitle').text(text);
                $('#addEditProduct').modal('show');
            },
            _changeTextDisplay: function (value) {
                if (!_.isNull(value) && !_.isUndefined(value) && !_.isEmpty(value))
                    return _.startCase(_.lowerCase(value));
                return "";
            },
            _formReset: function (event) {
                var form = Polymer.dom(event).localTarget.parentElement;
                form.reset();
            },
            resetModal: function () {
                var self = this;
                self.selectedProduct = {};
                var productFormObj = _.cloneDeep(self.productForm);
                productFormObj.values.productId = "";
                productFormObj.values.name = "";
                productFormObj.values.productType = "";
                productFormObj.values.productCategory = "";
                productFormObj.values.familyId = "";
                productFormObj.values.validFrom = "";
                productFormObj.values.expiresOn = "";
                productFormObj.values.isSecured = false;
                productFormObj.values.description = "";
                self.set('productForm', productFormObj);
                $('#productFormResetButton').click();
            },
            _verifyForm: function (event) {
                event.preventDefault();
                var self = this;
                var url = "/product";
                var form = Polymer.dom(event).localTarget.parentElement;
                var multiProducts = window.config.services.multiProducts;
                if (form.validate()) {
                    var payload = self.productForm.values;
                    var documents = self.selectedProduct.Documents;
                    var worflows = self.selectedProduct.WorkFlow;
                    payload.Documents = [];
                    payload.WorkFlow = [];
                    if (!_.isUndefined(documents) && !_.isNull(documents) && !_.isEmpty(documents)) {
                        payload.Documents = documents;
                    }
                    if (!_.isUndefined(worflows) && !_.isNull(worflows) && !_.isEmpty(worflows)) {
                        payload.WorkFlow = worflows;
                    }
                    self.$.http.post(url, payload, multiProducts).then(function (result) {
                        $('.close').click();
                        setTimeout(function () {
                            self.loadProduct();
                        }, 200);
                    }).fail(function (e) {
                        var strMessage = "Failed to complete the operation. " + e.responseJSON.message;
                        self.$.message.showMessage(strMessage, "ERROR", self.$.MessageContainer);
                    });
                }
            }
        })
    </script>
</dom-module>