<html-import html-href="email/html-editor.html"></html-import>
<html-import html-href="product-details-tab/product-fees.html"></html-import>
<html-import html-href="product-details-tab/product-workflow.html"></html-import>
<html-import html-href="product-details-tab/product-hierarchy.html"></html-import>
<html-import html-href="product-details-tab/product-documents.html"></html-import>
<html-import html-href="product-details-tab/product-parameters.html"></html-import>
<dom-module id="product-details">
    <template>
        <style>
            #SuccessMessge p {
                color: #008000;
            }

            .ChangeStatus {
                padding: 0 0 0 5px;
                font-size: 20px;
            }

            .header {
                font-size: 12px;
                font-weight: 700;
                color: white;
                background-color: #03466B;
            }

            strong {
                display: block;
            }

            .nav-tabs>li.active>a,
            .nav-tabs>li.active>a:hover,
            .nav-tabs>li.active>a:focus {
                color: #555555 !important;
                cursor: default;
                background: white;
                border-bottom: #f3f3f4;
                border-color: #dddddd #dddddd rgba(0, 0, 0, 0);
                border-image: none;
                border-style: solid;
                border-width: 1px;
                -moz-border-bottom-colors: none;
                -moz-border-left-colors: none;
                -moz-border-right-colors: none;
                -moz-border-top-colors: none;
            }

            .tab-content>.active {
                display: block;
                background: white;
            }

            .panel-default>.panel-heading+.panel-collapse>.panel-body {
                border-top-color: #EEEEEE;
            }

            .panel-body {
                min-height: 0px;
            }

            .tab-content>.active {
                display: block;
                background: white;
            }

            .top-tabs {
                padding: 15px 0 !important;
            }

            .fa-pencil-square-o {
                cursor: pointer;
            }
        </style>
        <div class="ibox-content">
            <div id="ContainerDetails">
                <div class="row">
                    <div class="col-sm-12">
                        <div id="MessageContainer"></div>
                        <table class="table">
                            <tr>
                                <td colspan="5" class="header">Product Info</td>
                                <td class="header">
                                    <template is="dom-if" if="{{isActiveProduct(product)}}">
                                        <template is="dom-if" if="{{hasRole('AddEditProductBtn')}}">
                                            <i aria-hidden="true" class="fa fa-pencil-square-o" on-click="editProduct"></i>
                                        </template>
                                    </template>
                                </td>
                            </tr>
                            <tr>
                                <th class="col-sm-2">ProductId</th>
                                <td class="col-sm-2">{{product.productId}}</td>
                                <th class="col-sm-2">Name</th>
                                <td class="col-sm-2">{{product.name}}</td>
                                <th class="col-sm-2">IsSecured</th>
                                <td class="col-sm-2">
                                    {{product.isSecured}}
                                    <td>
                            </tr>
                            <tr>
                                <th class="col-sm-2">Product Type</th>
                                <td class="col-sm-2">{{ _changeTextDisplay(product.portfolioType) }}</td>
                                <th class="col-sm-2">Product Category</th>
                                <td class="col-sm-2">{{ _changeTextDisplay(product.productCategory) }}</td>
                                <th class="col-sm-2">Status</th>
                                <td class="col-sm-2">
                                    {{ product.status}}
                                    <i aria-hidden="true" class="ChangeStatus fa fa-pencil-square-o" on-click="changeStatus"></i>
                                </td>
                            </tr>
                            <tr>
                                <th class="col-sm-2">FamilyId</th>
                                <td class="col-sm-2">{{ _changeTextDisplay(product.familyId) }}</td>
                                <th class="col-sm-2">Valid From</th>
                                <td class="col-sm-2">{{ formatDate(product.validFrom.time)}}</td>
                                <th class="col-sm-2">Expires On</th>
                                <td class="col-sm-2">{{ formatDate(product.expiresOn.time)}}</td>
                            </tr>
                            <tr>
                                <th class="col-sm-2">Description</th>
                                <td class="col-sm-10" colspan="5">{{ product.description }}</td>
                            </tr>
                        </table>
                        <custom-modal id="addEditProduct" class="modal-drop" on-modal-hidden="resetModal">
                            <div>
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                            <h4 class="modal-title EditTitle"></h4>
                                        </div>
                                        <div class="modal-body">
                                            <div id="ErrorMessge" style="display: none;">
                                                <p></p>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <form is="iron-form" class="form-horizontal" name="productForm">
                                                        <dynamic-form form-configuration={{productForm}} values="{{productForm.values}}"></dynamic-form>
                                                        <br/>
                                                        <template is="dom-if" if="{{hasRole('AddEditProductBtn')}}">
                                                            <paper-button class="btn btn-primary activity-action-btn" on-click="_verifyForm" raised>Submit</paper-button>
                                                        </template>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </custom-modal>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <ul class="nav nav-tabs" id="myTab">
                            <template is="dom-if" if="{{hasRole('DocumentTab')}}">
                                <li class="active">
                                    <a data-target="#Docuemnts" data-toggle="tab">
                                        <i aria-hidden="true" class="fa fa-file-o"></i>Documents
                                    </a>
                                </li>
                            </template>
                            <template is="dom-if" if="{{hasRole('ParametersTab')}}">
                                <li>
                                    <a data-target="#Parameters" data-toggle="tab">
                                        <i aria-hidden="true" class="fa fa-bars"></i>Parameters
                                    </a>
                                </li>
                            </template>
                            <template is="dom-if" if="{{hasRole('WorkflowTab')}}">
                                <li>
                                    <a data-target="#Workflow" data-toggle="tab">
                                        <i aria-hidden="true" class="fa fa-random"></i>Workflow
                                    </a>
                                </li>
                            </template>
                            <template is="dom-if" if="{{hasRole('FeeTab')}}">
                                <li>
                                    <a data-target="#Fee" data-toggle="tab">
                                        <i aria-hidden="true" class="fa fa-usd"></i>Fees
                                    </a>
                                </li>
                            </template>
                            <template is="dom-if" if="{{hasRole('HierarchyTab')}}">
                                <li>
                                    <a data-target="#Hierarchy" data-toggle="tab">
                                        <i aria-hidden="true" class="fa fa-sitemap"></i>Hierarchy
                                    </a>
                                </li>
                            </template>
                        </ul>
                        <div class="tab-content top-tabs">
                            <template is="dom-if" if="{{hasRole('DocumentTab')}}">
                                <div class="tab-pane active" id="Docuemnts">
                                    <document-list product-id="{{productId}}" expiry-date="{{formatDate(product.expiresOn.time)}}" editor-data="{{editorData}}"
                                        product-status="{{status}}"></document-list>
                                </div>
                            </template>
                            <div class="tab-pane" id="Parameters">
                                <parameter-list product-id="{{productId}}" product-status="{{status}}"></parameter-list>
                            </div>
                            <div class="tab-pane" id="Workflow">
                                <workflow-list product-id="{{productId}}" expiry-date="{{formatDate(product.expiresOn.time)}}" product-status="{{status}}"></workflow-list>
                            </div>
                            <div class="tab-pane" id="Fee">
                                <product-fees product-id="{{productId}}" product-status="{{status}}"></product-fees>
                            </div>
                            <div class="tab-pane" id="Hierarchy">
                                <product-hierarchy product-id="{{productId}}" product-status="{{status}}"></product-hierarchy>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="htmlView" style="display:none;">
                <div class="modal-header">
                    <button type="button" class="close CloseRuleEditor" on-click="backToList" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">{{dispInfo}} Priview</h4>
                </div>
                <div id="ErrorMessgeRuleEditor" style="display: none;">
                    <p></p>
                </div>
                <div id="SuccessMessge" style="display: none;">
                    <p></p>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <html-editor email-template="{{isEmailTemplate}}" template-list="{{editorData}}" html-defination="{{htmlDefination}}" disp-info="{{dispInfo}}"></html-editor>
                    </div>
                </div>
            </div>
        </div>
        <url-parser id="url"></url-parser>
        <http-request id="http"></http-request>
        <auth-service id="authorize"></auth-service>
        <lookup-service id="lookup"></lookup-service>
        <message-component id="message"></message-component>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "product-details",
                properties: {
                    EditTemplate: {
                        type: String,
                        notify: true
                    },
                    editorData: {
                        type: Array,
                        notify: true,
                        value: [],
                        observer: "setTemplateId"
                    },
                    htmlDefination: {
                        type: String,
                        notify: true
                    },
                    isEmailTemplate: {
                        type: Boolean,
                        notify: true,
                        value: false
                    },
                    productId: {
                        type: String,
                        notify: true
                    },
                    product: {
                        type: Object,
                        notify: true
                    },
                    status: {
                        type: String,
                        notify: true
                    },
                    productForm: {
                        type: Object,
                        notify: true,
                        value: {
                            controls: {
                                ProductId: {
                                    label: "Product Id",
                                    type: "textbox",
                                    class: "twoRow",
                                    validations: {
                                        required: true,
                                        readonly: true,
                                        charcounter: false,
                                        autovalidate: false,
                                        minLen: 1,
                                        maxLen: 64
                                    }
                                },
                                Name: {
                                    label: "Product Name",
                                    type: "textbox",
                                    class: "twoRow",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false,
                                        minLen: 1,
                                        maxLen: 64
                                    }
                                },
                                ProductType: {
                                    label: "Product Type",
                                    type: "combobox",
                                    class: "twoRow",
                                    selectList: [],
                                    labelKey: "value",
                                    labelValue: "key",
                                    validations: {
                                        required: true
                                    }
                                },
                                ProductCategory: {
                                    label: "Product Category",
                                    type: "combobox",
                                    class: "twoRow",
                                    selectList: [],
                                    labelKey: "value",
                                    labelValue: "key",
                                    validations: {
                                        required: true
                                    }
                                },
                                FamilyId: {
                                    label: "FamilyId",
                                    type: "combobox",
                                    class: "twoRow",
                                    selectList: [],
                                    labelKey: "value",
                                    labelValue: "key",
                                    validations: {
                                        required: true
                                    }
                                },
                                IsSecured: {
                                    label: "Is Secured",
                                    type: "checkbox",
                                    class: "twoRow",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        autovalidate: false
                                    }
                                },
                                ValidFrom: {
                                    label: "ValidFrom",
                                    type: "date",
                                    class: "twoRow",
                                    format: COUNTRY[window.config.country].DATE_FORMAT.DATE,
                                    validations: {
                                        required: true
                                    }
                                },
                                ExpiresOn: {
                                    label: "ExpiresOn",
                                    type: "date",
                                    class: "twoRow",
                                    format: COUNTRY[window.config.country].DATE_FORMAT.DATE,
                                    validations: {
                                        required: true
                                    }
                                },
                                Description: {
                                    label: "Description",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false,
                                        minLen: 1,
                                        maxLen: 64
                                    }
                                }
                            },
                            values: {
                                ProductId: "",
                                Name: "",
                                ProductType: "",
                                ProductCategory: "",
                                FamilyId: "",
                                ValidFrom: "",
                                ExpiresOn: "",
                                IsSecured: false,
                                Description: ""
                            }
                        }
                    }
                },
                setTemplateId: function () {
                    var self = this;
                    if (self.editorData != undefined && self.editorData.length > 0) {
                        self.isEmailTemplate = true;
                        self.htmlDefination = self.editorData[0].id;
                        $('#htmlView').show();
                        $('#ContainerDetails').hide();
                    }
                    else {
                        self.htmlDefination = "";
                        $('#htmlView').hide();
                        $('#ContainerDetails').show();
                    }
                },
                _loadproductfamily: function () {
                    var self = this;
                    var productForm = _.cloneDeep(this.get('productForm'));
                    var productFamily = this.$.lookup.getLookupBasedOnName("product-family");
                    var productType = this.$.lookup.getLookupBasedOnName("product-type");
                    var productCategory = this.$.lookup.getLookupBasedOnName("product-category");
                    productForm.controls.FamilyId.selectList = productFamily;
                    productForm.controls.ProductType.selectList = productType;
                    productForm.controls.ProductCategory.selectList = productCategory;
                    this.set('productForm', productForm);
                    this.loadProduct();
                },
                ready: function () {
                    this._loadproductfamily();
                },
                loadProduct: function () {
                    var self = this;
                    var params = self.$.url.getParams();
                    var url = "/product/" + params.productId;
                    self.productId = params.productId;
                    var multiProducts = window.config.services.multiProducts;
                    self.$.http.get(url, multiProducts, true).then(function (data) {
                        self.set("product", data);
                        self.set("status", data.status);
                    }).fail(function (e) {
                        console.error("alert error is ", e);
                    });
                },
                formatDate: function (date) {
                    if (date !== null && date !== undefined && date !== "") {
                        return moment.tz(date, window.config.timezone).format("YYYY-MM-DD");
                    }
                    return "";
                },
                hasRole: function (compName) {
                    return this.$.authorize.hasRole(compName);
                },
                editProduct: function () {
                    var self = this;
                    var productObj = this.product;
                    var resultObj = _.cloneDeep(this.productForm);
                    this.status = productObj.status;
                    resultObj.values.ProductId = productObj.productId
                    resultObj.values.Name = productObj.name;
                    resultObj.values.ProductType = productObj.portfolioType;
                    resultObj.values.ProductCategory = productObj.productCategory;
                    resultObj.values.FamilyId = productObj.familyId;
                    resultObj.values.ValidFrom = moment(productObj.validFrom.time).format("YYYY-MM-DD");
                    resultObj.values.ExpiresOn = moment(productObj.expiresOn.time).format("YYYY-MM-DD");
                    resultObj.values.IsSecured = productObj.isSecured;
                    resultObj.values.Description = productObj.description;
                    this.set('productForm', resultObj);
                    var text = "Edit " + this._changeTextDisplay(productObj.name) + " Product";
                    $('.EditTitle').text(text);
                    this.$$('#addEditProduct').showModal();
                },
                resetModal: function () {
                    var productObj = _.cloneDeep(this.productForm);
                    productObj.values.ProductId = "";
                    productObj.values.Name = "";
                    productObj.values.ProductType = "";
                    productObj.values.ProductCategory = "";
                    productObj.values.FamilyId = "";
                    productObj.values.ValidFrom = "";
                    productObj.values.ExpiresOn = "";
                    productObj.values.IsSecured = "";
                    productObj.values.Description = "";
                    this.set('productForm', productObj);
                },
                _verifyForm: function (event) {
                    event.preventDefault();
                    var self = this;
                    var form = Polymer.dom(event).localTarget.parentElement;
                    if (form.validate()) {
                        var payload = self.productForm.values;
                        var documents = self.product.Documents;
                        var worflows = self.product.WorkFlow;
                        payload.Documents = [];
                        payload.WorkFlow = [];
                        if (!_.isUndefined(documents) && !_.isNull(documents) && !_.isEmpty(documents)) {
                            payload.Documents = documents;
                        }
                        if (!_.isUndefined(worflows) && !_.isNull(worflows) && !_.isEmpty(worflows)) {
                            payload.WorkFlow = worflows;
                        }
                        var multiProducts = window.config.services.multiProducts;
                        var url = "/product/" + self.product.productId;
                        self.$.http.put(url, payload, multiProducts).then(function (result) {
                            $('.close').click();
                            self.loadProduct();
                        }).fail(function (e) {
                            var strMessage = "Failed to complete the operation. " + e.responseJSON.message;
                            self.$.message.showMessage(strMessage, "ERROR", self.$.MessageContainer);
                        });
                    }
                },
                _changeTextDisplay: function (value) {
                    if (!_.isNull(value) && !_.isUndefined(value) && !_.isEmpty(value))
                        return _.startCase(_.lowerCase(value));
                    return "";
                },
                isActiveProduct: function (obj) {
                    if (obj.status == "Active") {
                        return true;
                    }
                    return false;
                },
                changeStatus: function () {
                    var self = this;
                    var url = "/product/" + self.product.productId + (self.status === "Active" ? "/expire" : "/activate");
                    var multiProducts = window.config.services.multiProducts;
                    self.$.http.put(url, null, multiProducts).then(function (result) {
                        self.loadProduct();
                    }).fail(function (e) {
                        var strMessage = "Failed to complete the operation. ";
                        self.$.message.showMessage(strMessage, "ERROR", self.$.MessageContainer);
                    });
                },
                backToList: function () {
                    var self = this;
                    self.isEmailTemplate = true;
                    self.htmlDefination = "";
                    $('div#SuccessMessge p').html("");
                    $('div#SuccessMessge').hide();
                    $('div#ErrorMessgeRuleEditor p').html("");
                    $('div#ErrorMessgeRuleEditor').hide();
                    $('#htmlView').hide();
                    $('#ContainerDetails').show();
                }
            });
        });
    </script>
</dom-module>