<dom-module id="charged-off">
    <template>
        <div class="row">
            <div class="col-md-12">
                <form is="iron-form" class="form-horizontal" name="ChargeOffForm">
                    <dynamic-form form-configuration={{chargeOffObj}} values="{{chargeOffObj.values}}"></dynamic-form>
                    <br/>
                    <paper-button class="btn btn-primary activity-action-btn" on-click="_verifyForm" raised>Submit</paper-button>
                </form>
            </div>
            <div id="MessageContainerChargedOff"></div>
        </div>
        <url-parser id="urlcoff"></url-parser>
        <http-request id="httpcoff"></http-request>
        <utility-service id="utilitycoff"></utility-service>
        <message-component id="messagecoff"></message-component>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "charged-off",
                properties: {
                    currentEconomicsData: {
                        type: Object,
                        notify: true
                    },
                    chargeOffObj: {
                        type: Object,
                        notify: true,
                        value: {
                            controls: {
                                ChargeOffDate: {
                                    label: "Write Off Date",
                                    title: "Requested Date",
                                    type: "date",
                                    format: "MM/DD/YYYY",
                                    validations: {
                                        required: true
                                    }
                                },
                                ChargeOffAmount: {
                                    label: "Write Off Amount",
                                    type: "textboxwithCurrency",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false,
                                        pattern: 'DECIMAL',
                                        minLen: 1,
                                        maxLen: 10,
                                        currencySign: "$"
                                    }
                                },
                                InterestOutStanding: {
                                    label: "Interest Outstanding",
                                    type: "textboxwithCurrency",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false,
                                        pattern: 'DECIMAL',
                                        minLen: 1,
                                        maxLen: 10,
                                        currencySign: "$"
                                    }
                                },
                                FeeOutStanding: {
                                    label: "Fee Outstanding",
                                    type: "textboxwithCurrency",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false,
                                        pattern: 'DECIMAL',
                                        minLen: 1,
                                        maxLen: 10,
                                        currencySign: "$"
                                    }
                                }
                            },
                            values: {
                                ChargeOffDate: "",
                                ChargeOffAmount: "",
                                InterestOutStanding: "",
                                FeeOutStanding: ""
                            }
                        }
                    }
                },
                init: function () {
                    this.processEconomicsData();
                },
                _verifyForm: function (e) {
                    e.preventDefault();
                    var self = this;
                    var form = Polymer.dom(e).localTarget.parentElement;
                    var url = "/" + self.applicationNumber + "/chargeoff";
                    var accountingService = window.config.services.accountingService;
                    var chargeOffObj = self.chargeOffObj.values;
                    if (form.validate()) {
                        chargeOffObj.ChargeOffDate = self.formatDate(chargeOffObj.ChargeOffDate);
                        self.$.httpcoff.post(url, chargeOffObj, accountingService, true).then(function (data) {
                            self.raiseAppRefreshEvent(event);
                        }).fail(function (e) {
                            var strMessage = "Failed to complete the operation. " + e.responseJSON.message;
                            self.$.messagecoff.showMessage(strMessage, "ERROR", self.$$('#MessageContainer'));
                        });
                    }
                },
                raiseAppRefreshEvent: function (event) {
                    this.$.utilitycoff.raiseEvent(this.fireEvent, {
                        ActionName: 'WrittenOff',
                        EventData: event,
                        CompnentName: 'charged-off'
                    });
                },
                formatDate: function (date) {
                    return moment(date).format("YYYY-MM-DD");
                },
                processEconomicsData: function () {
                    var self = this;
                    if (self.currentEconomicsData) {
                        var data = self.currentEconomicsData;
                        var chargeOffObj = _.cloneDeep(self.get('chargeOffObj'));
                        chargeOffObj.values.ChargeOffDate = self.formatDate(data.pbot.asOfDatePBOT);
                        chargeOffObj.values.ChargeOffAmount = data.pbot.totalPrincipalOutStanding;
                        chargeOffObj.values.InterestOutStanding = data.pbot.totalInterestOutstanding;
                        chargeOffObj.values.FeeOutStanding = data.pbot.totalFeeOutstanding;
                        self.set('chargeOffObj', chargeOffObj);
                    }
                }
            });
        });
    </script>
</dom-module>