<dom-module id="filter-list">
    <template>
        <style>
            div#queue_wrapper {
                text-align: center;
            }

            .export-button {
                margin: 15px 0 15px 5px;
                display: block;
                float: right;
            }

            .manualupload-button {
                margin: 15px 0 15px 5px;
                display: block;
                float: right;
            }

            .manualcashflow-button {
                margin: 15px 0 15px 5px;
                display: block;
                float: right;
            }

            .twoRow {
                display: inline-block !important;
                margin: 0px 0px !important;
                width: 49% !important;
            }

            .custom-input {
                --paper-input-container-input: {
                    font-size: 11px;
                }
                --paper-input-container-label: {
                    font-size: 12px;
                }
            }

            .col-md-12 {
                padding: 0 2px;
            }

            .row {
                margin: auto auto 10px auto;
            }

            .left-align {
                text-align: left !important;
            }

            .helpIcon {
                cursor: pointer;
                font-size: 14px;
                color: lightseagreen;
            }

            .uploadDocWrapper {
                padding: 10px;
                border-style: dotted;
                border-width: 1px;
            }

            .uploadBtn {
                margin: 10px auto;
                text-align: right;
            }

            vaadin-upload {
                --vaadin-upload-button-add: {
                    background: #80b43c;
                }
                --vaadin-upload-file-list: {
                    margin-left: 20px;
                }
                --vaadin-upload-drop-label: {
                    margin: 0 !important;
                    padding: 0 !important;
                    display: inline-block;
                }
            }
        </style>
        <div class="row" id="filterContainer">
            <div class="col-md-12" id="tableContainer">
                <breadcrumb-links id="breadcrumbLinks"></breadcrumb-links>
                <br>
                <div class="row">
                    <div class="col-md-12">
                        <button id="Export" on-click="_exportData" class="btn btn-primary activity-action-btn export-button">Export Data</button>
                        <button id="ManualUpload" on-click="_manualUpload" class="btn btn-primary activity-action-btn manualupload-button">Upload Bank Statement</button>
                        <button id="ManualCashflow" on-click="_manualCashflow" class="btn btn-primary activity-action-btn manualcashflow-button">Add Bank Account</button>
                    </div>
                </div>
                <table id="queue" class="table table-striped" width="100%" cellspacing="0"></table>
            </div>
        </div>
        <custom-modal id="addmanualuploadmodal" class="modal-drop" on-modal-hidden="resetModal">
            <div>
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title">Upload Bank Statement</h4>
                        </div>
                        <div class="modal-body">
                            <div id="ErrorMessge" style="display: none;">
                                <p></p>
                            </div>
                            <div id="ErrorMessageContainer"></div>
                            <form is="iron-form" class="form-horizontal" name="scorCardForm">
                                <!-- <dynamic-form form-configuration={{uploadBankObj}} values="{{uploadBankObj.values}}"></dynamic-form> -->
                                <div class="row">
                                    <div class="col-md-6">
                                        <paper-input type="text" pattern="^[a-zA-Z][a-zA-Z ]*$" error-message="first name is required." allowed-pattern="^[a-zA-Z][a-zA-Z ]*$"
                                            class="custom-input" value="{{firstname}}" name="firstname" id="firstname" label="First Name"
                                            required on-change="_onchangeDocumentMessage" auto-validate minlength="1" maxlength="50"></paper-input>
                                    </div>
                                    <div class="col-md-6">
                                        <paper-input type="text" pattern="^[a-zA-Z][a-zA-Z ]*$" class="custom-input" value="{{lastname}}" name="lastname" id="lastname"
                                            label="Last Name" auto-validate required on-change="_onchangeDocumentMessage" minlength="1"
                                            maxlength="50"></paper-input>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <paper-input type="text" error-message="email id is required." class="custom-input" value="{{emailid}}" name="emailid" id="emailid"
                                            label="Email Id" required on-change="_onchangeDocumentMessage" auto-validate minlength="1"
                                            maxlength="50"></paper-input>
                                    </div>

                                    <div class="col-md-6">
                                        <paper-input type="text" class="custom-input" value="{{bankname}}" name="bankname" id="bankname" label="Bank Name" required
                                            on-change="_onchangeDocumentMessage" auto-validate minlength="1" maxlength="64"></paper-input>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <paper-input type="text" pattern="^[0-9]+$" error-message="account number is required." allowed-pattern="^[0-9]+$" class="custom-input"
                                            value="{{accountnumber}}" name="accountnumber" id="accountnumber" label="Account Number"
                                            required on-change="_onchangeDocumentMessage" auto-validate maxlength="16" minlength="8"></paper-input>
                                    </div>
                                    <div class="col-md-6">
                                        <!-- <paper-input type="combobox" class="custom-input" value="{{accounttype}}" name="accounttype" id="accounttype" label="Account Type"
                                            required on-change="_onchangeDocumentMessage" minlength="1" maxlength="50">
                                            
                                        </paper-input> -->
                                        <dynamic-form form-configuration={{addBankObj}} values="{{addBankObj.values}}"></dynamic-form>
                                        <!-- <paper-input type="text" class="custom-input" value="{{accounttype}}" name="accounttype" id="accounttype" label="Account Type"
                                            required on-change="_onchangeDocumentMessage" minlength="1" maxlength="50"></paper-input> -->
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <paper-input type="text" pattern="^[0-9]+$" error-message="routing number is required." allowed-pattern="^[0-9]+$" class="custom-input"
                                            value="{{routingnumber}}" name="routingnumber" id="routingnumber" label="Routing Number"
                                            required on-change="_onchangeDocumentMessage" auto-validate minlength="1" maxlength="16"></paper-input>
                                    </div>
                                    <div class="col-md-6">
                                        <paper-input type="text" pattern="^[0-9]+$" error-message="wire-routing number is required." allowed-pattern="^[0-9]+$" class="custom-input"
                                            value="{{wireroutingnumber}}" name="wireroutingnumber" id="wireroutingnumber" label="Wire Routing Number"
                                            required on-change="_onchangeDocumentMessage" auto-validate minlength="1" maxlength="16"></paper-input>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <paper-radio-group selected="{{selectedFileType}}" on-click="typeChange" required>
                                            <paper-radio-button class="radioGroup" name="csv">CSV</paper-radio-button>
                                            <paper-radio-button class="radioGroup" name="pdf">PDF</paper-radio-button>
                                        </paper-radio-group>
                                    </div>
                                </div>

                                <div class="row" id="csvUploadDiv" style="display:none;">
                                    <div class="col-md-12">
                                        <vaadin-upload id="BankStatement" method="POST" max-files="1" on-upload-before="_fileUploadBefore" required></vaadin-upload>
                                    </div>
                                </div>

                                <div class="row" id="pdfUploadDiv" style="display:none;">
                                    <div class="col-md-12">
                                        <vaadin-upload id="pdfStatement" method="POST" on-upload-request="_uploadRequest" on-upload-before="_changeServerUrl" on-upload-success="_uploadSuccess"
                                            required>
                                        </vaadin-upload>
                                    </div>
                                </div>
                                <br/>
                                <paper-button class="btn btn-primary activity-action-btn" on-click="_manualUploadSubmit" raised>Submit</paper-button>
                                <paper-button id="manualUploadCancelBtn" class="btn btn-primary activity-action-btn" on-click="_resetForm" raised>cancel</paper-button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </custom-modal>
        <custom-modal id="addmanualCashflowModal" class="modal-drop" on-modal-hidden="resetModal">
            <div>
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title">Add Bank Account</h4>
                        </div>
                        <div class="modal-body">
                            <div id="ErrorMessge" style="display: none;">
                                <p></p>
                            </div>
                            <div id="ErrorMessageContainer"></div>
                            <form is="iron-form" class="form-horizontal" name="cashflowManualForm">
                                <dynamic-form form-configuration={{manualCashflowObj}} values="{{manualCashflowObj.values}}"></dynamic-form>
                                <br/>
                                <paper-button class="btn btn-primary activity-action-btn" on-click="_manualCashflowSubmit" raised>Submit</paper-button>
                                <paper-button id="manualCashflowCancelBtn" class="btn btn-primary activity-action-btn" on-click="_resetForm" raised>Cancel</paper-button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </custom-modal>


        <url-parser id="url"></url-parser>
        <http-request id="http"></http-request>
        <alloy-format id="format"></alloy-format>
        <alloy-config id="config"></alloy-config>
        <session-manager id="session"></session-manager>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "filter-list",
                properties: {
                    addBankObj: {
                        type: Object,
                        notify: true,
                        class: "twoInRow",
                        value: {
                            controls: {
                                AccountType: {
                                    label: "Account Type",
                                    type: "combobox",
                                    selectList: [
                                        { key: 'Checking', value: 'Checking' },
                                        { key: 'Savings', value: 'Savings' }
                                    ],
                                    labelKey: "value",
                                    labelValue: "key",
                                    validations: {
                                        required: true
                                    }
                                }
                            },
                            values: {
                                accounttype: ""
                            }
                        }
                    },
                    manualCashflowObj: {
                        type: Object,
                        notify: true,
                        class: "twoInRow",
                        value: {
                            controls: {
                                FirstName: {
                                    label: "First Name",
                                    type: "textbox",
                                    class: "twoInRow",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: true,
                                        minLen: 1,
                                        maxLen: 100
                                    }
                                },
                                LastName: {
                                    label: "Last Name",
                                    type: "textbox",
                                    class: "twoInRow",
                                    validations: {
                                        required: false,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: true,
                                        minLen: 1,
                                        maxLen: 100
                                    }
                                },
                                Email: {
                                    label: "Email",
                                    type: "email",
                                    class: "twoInRow",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: true,
                                        minLen: 1,
                                        maxLen: 100
                                    }
                                },
                                BankName: {
                                    label: "Bank Name",
                                    type: "textbox",
                                    class: "twoInRow",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: true,
                                        minLen: 1,
                                        maxLen: 100
                                    }
                                },
                                AccountNumber: {
                                    label: "Account Number",
                                    type: "textbox",
                                    class: "twoInRow",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: true,
                                        pattern: "NUMBER",
                                        allowpattern: "^[0-9]+$"
                                    }
                                },
                                AccountType: {
                                    label: "Account Type",
                                    type: "combobox",
                                    class: "twoInRow",
                                    selectList: [
                                        { key: 'Checking', value: 'Checking' },
                                        { key: 'Savings', value: 'Savings' }
                                    ],
                                    labelKey: "value",
                                    labelValue: "key",
                                    validations: {
                                        required: true
                                    }
                                },
                                CurrentBalance: {
                                    label: "Current Balance",
                                    type: "textbox",
                                    class: "twoInRow",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: true,
                                        minLen: 0,
                                        maxLen: 20,
                                        pattern: "NUMBER",
                                        allowpattern: "^[0-9]+$"
                                    }
                                },
                                AvailableBalance: {
                                    label: "Available Balance",
                                    type: "textbox",
                                    class: "twoInRow",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: true,
                                        minLen: 0,
                                        maxLen: 20,
                                        pattern: "NUMBER",
                                        allowpattern: "^[0-9]+$"
                                    }
                                },
                                BalanceAsOfDate: {
                                    label: "Balance As Of Date",
                                    type: "date",
                                    class: "twoInRow",
                                    format: "MM-DD-YYYY",
                                    minFactor: 10,
                                    maxFactor: 0,
                                    validations: {
                                        required: false,
                                        min: true,
                                        max: true
                                    }
                                },
                            },
                            values: {
                                FirstName: "",
                                LastName: "",
                                Email: "",
                                BankName: "",
                                AccountNumber: "",
                                AccountType: "",
                                CurrentBalance: 0,
                                AvailableBalance: 0,
                                BalanceAsOfDate: ""
                            }
                        }
                    },
                    selectedFileType: {
                        type: String,
                        notify: true,
                        value: ""
                    },
                    file: {
                        type: Object,
                        notify: true,
                        value: {}
                    },
                    firstname: {
                        type: String,
                        notify: true
                    },
                    emailid: {
                        type: String,
                        notify: true
                    },
                    lastname: {
                        type: String,
                        notify: true
                    },
                    bankname: {
                        type: String,
                        notify: true
                    },
                    bankname: {
                        type: String,
                        notify: true
                    },
                    accountnumber: {
                        type: String,
                        notify: true
                    },
                    routingnumber: {
                        type: String,
                        notify: true
                    },
                    wireroutingnumber: {
                        type: String,
                        notify: true
                    },
                    applicationNumber: {
                        type: String,
                        notify: true
                    },
                    entityType: {
                        type: String,
                        notify: true,
                        value: "application"
                    },
                    microAppName: {
                        type: String,
                        notify: true
                    },
                    currentEntityName: {
                        type: String,
                        notify: true,
                        value: 'ibv'
                    },
                    currentFilterName: {
                        type: String,
                        notify: true
                    },
                    tableObj: {
                        type: Object,
                        notify: true,
                        value: {}
                    },
                    filteredItems: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    searchName: {
                        type: String,
                        notify: true,
                        value: 'Search'
                    },
                    manualEntityId: {
                        type: String,
                        notify: true
                    },
                    manualBookId: {
                        type: String,
                        notify: true
                    }
                },
                attached: function () {
                    window.addEventListener("hashchange", this.createHashChangedHandler());
                    this._loadFilterConfigurations();
                },
                detached: function () {
                    window.removeEventListener("hashchange", this.onHashChanged);
                },
                createHashChangedHandler: function () {
                    this.onHashChanged = function () {
                        var self = this;
                        var currentMicroApp = window.location.hash.slice(2).split("/")[0];
                        if (self.microAppName === currentMicroApp) {
                            self._loadFilterConfigurations();
                            self.$$('#breadcrumbLinks').init();
                        }
                    }.bind(this);
                    return this.onHashChanged;
                },
                _loadFilterConfigurations: function () {
                    var self = this;
                    var urlParams = self.$$('#url').getParams();
                    self.set('microAppName', window.location.hash.slice(2).split("/")[0]);
                    self.set('currentFilterName', urlParams.filter);
                    if (urlParams.hasOwnProperty('entity')) {
                        self.set('currentEntityName', urlParams.entity);
                    }
                    if (self.currentEntityName === "loan") {
                        self.set("searchName", "SearchLoan");
                    }
                    else {
                        self.set("searchName", "Search");
                    }
                    var data = self.$.config.getConfigurationBasedOnKey("filters");
                    var config = _.cloneDeep(data[self.currentFilterName]);
                    var columnLength = config.columns.length;
                    for (var i = 0; i < columnLength; i++) {
                        if (config.columns[i].render != undefined) {
                            var render = config.columns[i].render;
                            if (config.columns[i].isFunction) {
                                config.columns[i].render = eval("(" + render + ")");
                            }
                            else {
                                config.columns[i].render = eval(render);
                            }
                        }
                    }
                    self._getFilteredApplicationList(config);
                },
                _checkIfEmptyObject: function (obj) {
                    return Object.keys(obj).length === 0 && obj.constructor === Object;
                },
                _getFilteredApplicationList: function (filterConfig) {
                    var self = this;
                    var table = self.tableObj;
                    var loanFilters = window.config.services.savedFilters;
                    $.fn.dataTable.ext.errMode = 'none';
                    if (!_.isUndefined(table) && !_.isNull(table) && !self._checkIfEmptyObject(table)) {
                        table.clear();
                        table.destroy(true);
                        $('#tableContainer').append($('<table/>').attr('id', 'queue').css('width', '100%').addClass('table table-striped'));
                    }
                    table = self.tableObj = $('#queue').DataTable({
                        serverSide: true,
                        ajax: function (data, success) {
                            var page = data.start / 10;
                            page = page + 1;
                            var draw = data.draw;
                            var sortObj = _.transform(data.order, function (result, item) {
                                var columnObj = data.columns[item.column];
                                result[columnObj.data] = item.dir === "desc" ? -1 : 1;
                            }, {});
                            var payload = { sorts: sortObj };
                            if (self.currentFilterName === "AssignedApplications") {
                                payload.searchFilterView = [{ "Assignees.v": self.$.session.get("username") }];
                            }
                            if (self.currentFilterName === "UnAssignedApplications") {
                                payload.searchFilterView = [{ "Assignees.k": { '$nin': JSON.parse(self.$.session.get("role")) } }];
                            }
                            if (self.currentFilterName === "PollingVoting") {
                                var sha256 = new jsSHA('SHA-256', 'TEXT');
                                sha256.update(self.$.session.get("username"));
                                var hashUser = sha256.getHash("HEX");
                                hashUser = "votes." + hashUser;
                                var keyVal = '{"' + hashUser + '": {"' + "$exists" + '":' + false + '}}';
                                var obj = JSON.parse(keyVal);
                                payload.searchFilterView = [];
                                payload.searchFilterView.push({ "entityType": "application" });
                                payload.searchFilterView.push({ "participants.id": self.$.session.get("username") });
                                payload.searchFilterView.push(obj);
                            }
                            $.ajax({
                                url: loanFilters + '/' + self.currentEntityName + '/' + self.searchName + '/' + self.currentFilterName + '?pageSize=10&page=' + page,
                                type: 'POST',
                                contentType: 'application/json',
                                data: JSON.stringify(payload),
                                headers: {
                                    'Authorization': "Bearer " + self.$.session.get('token')
                                },
                                complete: function (data) {
                                    var totalCount = parseInt(data.getResponseHeader('X-TOTAL-COUNT'));
                                    self.set('filteredItems', data.responseJSON);
                                    self.fire('iron-signal', { name: 'displaytotalcount', data: { totalRecords: data.getResponseHeader('X-TOTAL-COUNT') } });
                                    var gridData = {
                                        "draw": draw,
                                        "recordsTotal": parseInt(data.getResponseHeader('X-TOTAL-COUNT')),
                                        "recordsFiltered": parseInt(data.getResponseHeader('X-TOTAL-COUNT')),
                                        "data": data.responseJSON
                                    }
                                    if (totalCount === 0) {
                                        $('#Export').hide();
                                    } else {
                                        $('#Export').show();
                                    }
                                    success(gridData);
                                }
                            });
                        },
                        dom: "<'row'<'col-sm-12'tr>>" +
                            "<'row'<'col-sm-5'i><'col-sm-7'p>>",
                        columns: filterConfig.columns,
                        columnDefs: filterConfig.columnDefs,
                        order: filterConfig.order,
                        language: {
                            lengthMenu: "show_MENU_ loans",
                            zeroRecords: "No Bank Linking found.",
                            info: "Showing _START_ to _END_ of _TOTAL_ loans",
                            infoEmpty: "",
                            infoFiltered: "(filtered from _MAX_ total loans)"
                        }
                    });
                    setTimeout(function () {
                        $('#queue tbody').on('click', 'button', function () {
                            var data = table.row($(this).parents('tr')).data();
                            self[this.getAttribute("on-click")](data);
                        });

                        //Grid header tooltip
                        var configData = $('#queue').dataTable().dataTableSettings[0].aoColumns;
                        $('#queue thead tr')[0].childNodes.forEach(function (obj) {
                            var tooltipObj = _.filter(configData, { title: obj.innerText })
                            if (!_.isUndefined(tooltipObj) && !_.isNull(tooltipObj) && !_.isEmpty(tooltipObj)) {
                                var tooltip = tooltipObj[0].tooltip;
                                if (tooltip !== "" && tooltip !== undefined) {
                                    $(obj).attr('title', tooltip);
                                }
                            }
                        });
                    }, 700);
                },
                openBankDetailView: function (item) {
                    var self = this;
                    window.location.hash = "/bank-details/entity:" + self.currentEntityName + "/filter:" + self.currentFilterName + "/bankLinkId:" + item.BankLinkId + "/entityId:" + item.EntityId + "/name:" + item.ProviderBankName;
                },
                currencyFormat: function (value) {
                    if (value) {
                        value = new Number(value);
                        var amount = value.toFixed(0);
                        amount = amount.toString();
                        var lastThree = amount.substring(amount.length - 3);
                        var otherNumbers = amount.substring(0, amount.length - 3);
                        if (otherNumbers != '')
                            lastThree = ',' + lastThree;
                        var res = otherNumbers.replace(/\B(?=(\d{2})+(?!\d))/g, ",") + lastThree;
                        return res;
                    }
                    else {
                        return 0.00;
                    }
                },
                formatMoney: function (value) {
                    if (typeof (value) != Number)
                        value = new Number(value);
                    return value.formatMoney(2);
                },
                formatCurrency: function (data) {
                    return formats.money(data, 'USA', 0);
                },
                formatDate: function (date) {
                    if (typeof this.$.format.formatDate === "function") {
                        return this.$.format.formatDate(date);
                    }
                    return "";
                },
                _exportData: function () {
                    var self = this;
                    var token = self.$.session.get("token");
                    var savefilterservice = window.config.services.savedFilters;
                    var xhr = new XMLHttpRequest();
                    xhr.open('GET', savefilterservice + "/" + self.currentEntityName + "/ExportData/" + self.currentFilterName);
                    xhr.setRequestHeader('Authorization', "Bearer " + token);
                    xhr.responseType = 'blob';
                    xhr.onload = function (e) {
                        if (this.status == 200) {
                            var blob = new Blob([this.response], {
                                type: this.response.type
                            });
                            var link = document.createElement('a');
                            link.href = window.URL.createObjectURL(blob);
                            link.download = "ExportedData.csv";
                            link.click();
                        }
                    };
                    xhr.onerror = function (e) {
                        console.error("Error " + e.target.status + " occurred while receiving the document.");
                    };
                    xhr.send();
                },
                appendAccountCount: function (data, row) {
                    return data + " (" + row.AccountCount + ")";
                },
                _manualUpload: function (event) {
                    event.preventDefault();
                    this.$$('#addmanualuploadmodal').showModal();
                },
                _manualCashflow: function (event) {
                    event.preventDefault();
                    this.$$('#addmanualCashflowModal').showModal();
                },
                _resetForm: function (event) {
                    var form = Polymer.dom(event).localTarget.parentElement;
                    form.reset();
                    this.$$('#addmanualuploadmodal').hideModal();
                    this.$$('#addmanualCashflowModal').hideModal();
                    $('#pdfUploadDiv').css('display', 'none');
                    $('#csvUploadDiv').css('display', 'none');
                },
                resetModal: function () {
                    $('#manualUploadCancelBtn').trigger('click');
                    $('#manualCashflowCancelBtn').trigger('click');
                },
                _onchangeDocumentMessage: function (event) {
                    var self = this;
                    var verificationName = event.target.value;
                    if (!_.isEmpty(verificationName)) {
                        self.set("documentMessage", verificationName);
                    }
                },
                _manualUploadSubmit: function (event) {
                    var self = this;
                    if (self.selectedFileType === "csv") {
                        self._csvSubmit(event);
                    }
                    else if (self.selectedFileType === "pdf") {
                        self._pdfSubmit(event);
                    }
                },
                _pdfSubmit: function (event) {
                    var self = this;
                    var form = Polymer.dom(event).localTarget.parentElement;
                    var token = this.$.session.get("token");
                    var payload = {
                        bankName: self.bankname,
                        // routingNumber: self.routingnumber,
                        // wireRoutingNumber: self.wireroutingnumber,
                        // accountNumber: self.accountnumber,
                        // accountType: self.addBankObj.values.AccountType,
                        firstName: self.firstname,
                        lastName: self.lastname,
                        userMailId: self.emailid,
                        // manualType: "CSVUplaod"
                    };
                    if (form.validate()) {
                        var randomVal = Math.floor(Math.random() * (10000 - 1 + 1)) + 1;
                        self.set('manualEntityId', randomVal);
                        var uploadContainer = document.querySelector("vaadin-upload#pdfStatement");
                        var files = uploadContainer.files;
                        var url = "/" + self.entityType + "/" + randomVal + "/createbook";
                        $('div#ErrorMessge').hide();
                        self.$.http.post(url, payload, window.config.services.ibvService).then(function (data) {
                            if (data != undefined) {
                                self.set('manualBookId', data.providerLinkId);
                            }
                            if (files.length > 0) {
                                self._uploadManualDocuments(event);
                                form.reset();
                            }
                            else {
                                self.raiseloanModeRefreshEvent(event);
                            }
                            uploadContainer.files = [];
                            setTimeout(function () {
                                self.resetModal();
                                self._updateHash();
                            }, 500);
                        }).fail(function (e) {
                            var error = JSON.parse(e);
                            $('div#ErrorMessge p').html(error.message);
                            $('div#ErrorMessge').show();
                            setTimeout(function () {
                                $('div#ErrorMessge').hide();
                            }, 5000);
                        });
                        }
                        else {
                            $('div#ErrorMessge p').html("Bank statement all fields are required.");
                            $('div#ErrorMessge').show();
                        }
                    },
                    _getOtherServerUrl: function (doc) {
                        var baseUrl = window.config.services.documentService;
                        var docEndPoint = "/" + this.applicationNumber + "/" + doc.url;
                        return baseUrl + docEndPoint;
                    },
                    _getServerUrl: function () {
                        var self = this;
                        var serviceUrl = window.config.services.ibvService;
                        var ibvServiceURL = serviceUrl + "/application/" + self.manualEntityId +
                            "/uploadstatement/" + self.manualBookId + "/single";
                        return ibvServiceURL;
                    },
                    _uploadManualDocuments: function (e) {
                        var self = this;
                        self.set('allowUpload', true);
                        self.set('isExtVerified', true);
                        var uploadContainer = document.querySelector("vaadin-upload#pdfStatement");
                        var files = uploadContainer.files;
                        if (self.isExtVerified) {
                            _.forEach(files, function (item) {
                                item.uploadTarget = self._getServerUrl();
                                uploadContainer._uploadFile(item);
                            });
                        }
                        self.set('allowUpload', false);
                    },
                    _csvSubmit: function (event) {
                        var self = this;
                        var form = Polymer.dom(event).localTarget.parentElement;
                        var payload = {
                            bankName: self.bankname,
                            routingNumber: self.routingnumber,
                            wireRoutingNumber: self.wireroutingnumber,
                            accountNumber: self.accountnumber,
                            accountType: self.addBankObj.values.AccountType,
                            firstName: self.firstname,
                            lastName: self.lastname,
                            userMailId: self.emailid,
                            manualType: "CSVUplaod"
                        };
                        payload = $.extend({}, payload, self.file);
                        $('div#ErrorMessge').hide();

                        if (_.isEmpty(self.file)) {
                            $('div#ErrorMessge p').html("Please upload document.");
                            $('div#ErrorMessge').show();
                            return;
                        }
                        var token = this.$.session.get("token");
                        if (form.validate()) {
                            var randomVal = Math.floor(Math.random() * (10000 - 1 + 1)) + 1;
                            var uploadContainer = document.querySelector("vaadin-upload#BankStatement");
                            var url = "/" + self.entityType + "/" + randomVal + "/manual/details";
                            $('div#ErrorMessge').hide();
                            window.jQuery.ajax({
                                type: "POST",
                                url: window.config.services.ibvService + url,
                                headers: { 'Authorization': "Bearer " + token },
                                contentType: "application/json",
                                data: JSON.stringify(payload),
                                success: function (data) {
                                    form.reset();
                                    uploadContainer.files = [];
                                    setTimeout(function () {
                                        self.resetModal();
                                        self._updateHash();
                                    }, 500);
                                },
                                error: function (xhr, status, errorThrown) {
                                    var error = JSON.parse(xhr.responseText);
                                    $('div#ErrorMessge p').html(error.message);
                                    $('div#ErrorMessge').show();
                                    setTimeout(function () {
                                        $('div#ErrorMessge').hide();
                                    }, 5000);
                                }
                            });
                        }
                        else {
                            $('div#ErrorMessge p').html("Bank statement all fields are required.");
                            $('div#ErrorMessge').show();
                        }
                    },
                    _manualCashflowSubmit: function (event) {
                        var self = this;
                        var manualCashflowObject = _.cloneDeep(self.manualCashflowObj);
                        var form = Polymer.dom(event).localTarget.parentElement;
                        var payload = {
                            bankName: manualCashflowObject.values.BankName,
                            accountNumber: manualCashflowObject.values.AccountNumber,
                            accountType: manualCashflowObject.values.AccountType,
                            firstName: manualCashflowObject.values.FirstName,
                            lastName: manualCashflowObject.values.LastName,
                            userMailId: manualCashflowObject.values.Email,
                            availableBalance: manualCashflowObject.values.AvailableBalance,
                            currentBalance: manualCashflowObject.values.CurrentBalance,
                            balanceAsOfDate: manualCashflowObject.values.BalanceAsOfDate,
                            manualType: "Cashflow"
                        };
                        $('div#ErrorMessge').hide();
                        var token = this.$.session.get("token");
                        if (form.validate()) {
                            var randomVal = Math.floor(Math.random() * (10000 - 1 + 1)) + 1;
                            var url = "/" + self.entityType + "/" + randomVal + "/manual/details";
                            $('div#ErrorMessge').hide();
                            window.jQuery.ajax({
                                type: "POST",
                                url: window.config.services.ibvService + url,
                                headers: { 'Authorization': "Bearer " + token },
                                contentType: "application/json",
                                data: JSON.stringify(payload),
                                success: function (data) {
                                    form.reset();
                                    setTimeout(function () {
                                        self.resetModal();
                                        self._updateHash();
                                    }, 500);
                                },
                                error: function (xhr, status, errorThrown) {
                                    var error = JSON.parse(xhr.responseText);
                                    $('div#ErrorMessge p').html(error.message);
                                    $('div#ErrorMessge').show();
                                    setTimeout(function () {
                                        $('div#ErrorMessge').hide();
                                    }, 5000);
                                }
                            });
                        }
                        else {
                            $('div#ErrorMessge p').html("Bank statement all fields are required.");
                            $('div#ErrorMessge').show();
                        }
                    },
                    _documentName: function (doc) {
                        if (doc && doc != null && doc.documentName && doc.documentName != null)
                            return doc.documentName[0];
                        else {
                            return '';
                        }
                    },
                    _fileUploadBefore: function (event) {
                        var self = this;
                        event.preventDefault();
                        var fileObj = event.detail.file;
                        if (!this._checkfileType(fileObj.name)) {
                            $('div#ErrorMessge p').html("Invalid file extension. Only .csv extension allowed.");
                            $('div#ErrorMessge').show();
                            return;
                        }
                        $('div#ErrorMessge').hide();
                        var reader = new FileReader();
                        reader.onload = function (e) {
                            var fileContent = reader.result;
                            fileContent = fileContent.replace('data:application/vnd.openxmlformats-officedocument.spreadsheetml.sheet;base64,', '');
                            fileContent = fileContent.replace('data:application/vnd.ms-excel;base64,', '');
                            var statement = {
                                fileName: fileObj.name,
                                fileContent: fileContent,
                                type: fileObj.type
                            };
                            self.file = statement;
                        };
                        reader.readAsDataURL(event.detail.file);
                    },
                    _checkfileType: function (doc) {
                        var fileName = doc;
                        if (/\.(csv)$/i.test(fileName)) {
                            return true;
                        }
                        return false;
                    },
                    _updateHash: function () {
                        var randomVal = Math.floor(Math.random() * (10000 - 1 + 1)) + 1;
                        var hashStr = window.location.hash;
                        if (hashStr.includes("refresh:")) {
                            var newHash = hashStr.replace(/refresh:\d+/i, "refresh:" + randomVal);
                            window.location.hash = newHash;
                        } else {
                            window.location.hash = hashStr + "/refresh:" + randomVal;
                        }
                        window.location.reload();
                    },
                    _refreshAppDetails: function (e) {
                        this._updateHash();
                    },
                    //// Un-used function
                    _generateID: function (doc) {
                        return this._documentName(doc).toLowerCase();
                    },
                    openAppView: function (item) {
                        var self = this;
                        var url = "/app-details/entity:" + self.currentEntityName + "/filter:" + self.currentFilterName;
                        self.set("statusName", item.StatusName);
                        if (item.hasOwnProperty('ApplicationNumber')) {
                            self.set("applicationNumber", item.ApplicationNumber);
                        } else {
                            self.set("applicationNumber", item.LocNumber);
                            self.set("drawdownId", item.DrawDownId);
                        }
                        self.set("applicantId", item.ApplicantId);
                        self.set("productId", item.ProductId);
                        self.set("statusWorkFlowId", item.StatusWorkFlowId);
                        if (self.applicantId != null) {
                            url = url + "/app:" + self.applicationNumber + "/applicantId:" + self.applicantId + "/product:" + self.productId + "/workflow:" + self.statusWorkFlowId;
                        } else {
                            url = url + "/app:" + self.applicationNumber + "/product:" + self.productId + "/workflow:" + self.statusWorkFlowId;
                        }
                        if (self.drawdownId != "" && self.drawdownId != undefined) {
                            url = url + "/drawdownId:" + self.drawdownId;
                        }
                        window.location.hash = url;
                    },
                    openPartnerView: function (item) {
                        this.set("partnerId", item.PartnerId);
                        window.location.hash = "/partner-details/entity:" + this.currentEntityName + "/filter:" + this.currentFilterName + "/partner:" + this.partnerId;
                    },
                    _changeServerUrl: function (event) {
                        if (!this.allowUpload) {
                            event.preventDefault();
                        }
                        event.detail.file.uploadTarget = this._getServerUrl();
                    },
                    _uploadSuccess: function (event) {
                        var self = this;
                        if (event.detail.xhr.status === 200) {
                            var res = $.parseJSON(event.detail.xhr.response);
                            $(this.querySelectorAll("#row")).hide();
                            $(this.querySelectorAll("#progress")).hide();
                            self.$.message.showMessage("Document Uploaded successfully.", "INFO", self.$.uploadDocumentErrorMessge);
                        }
                    },
                    _uploadRequest: function (event) {
                        var token = this.$.session.get("token");
                        event.detail.xhr.setRequestHeader('Authorization', "Bearer " + token);
                    },
                    openVotingView: function (item) {
                        var self = this;
                        self.set("pollId", item._id);
                        window.location.hash = "/poll-details/entity:" + self.currentEntityName + "/filter:" + self.currentFilterName + "/pollId:" + item._id;
                    },
                    typeChange: function (event) {
                        var self = this;
                        if (self.selectedFileType === "csv") {
                            $('#csvUploadDiv').css('display', 'block');
                            $('#pdfUploadDiv').css('display', 'none');
                            $('div#ErrorMessge').hide();
                        } else if (self.selectedFileType === "pdf") {
                            $('#pdfUploadDiv').css('display', 'block');
                            $('#csvUploadDiv').css('display', 'none');
                            $('div#ErrorMessge').hide();
                        }
                        else {
                            $('#pdfUploadDiv').css('display', 'none');
                            $('#csvUploadDiv').css('display', 'none');
                        }
                    },
                    // _changeServerUrl: function (event) {
                    //     var ext = event.detail.file.name;
                    //     if (!this._checkfileType(ext)) {
                    //     }
                    //     else {
                    //         event.detail.file.uploadTarget = this._getServerUrl(event.model.__data__.pdoc);
                    //         $('#uploadSuccessMessage').hide();
                    //     }
                    // },
                    //  _uploadSuccess: function (event) {
                    //     if (event.detail.xhr.status === 200) {
                    //         var res = $.parseJSON(event.detail.xhr.response);
                    //         $('#uploadSuccessMessage').show();
                    //         setTimeout(function () {
                    //             $(this.querySelectorAll("#row")).hide();
                    //             $(this.querySelectorAll("#progress")).hide();
                    //             $('#uploadSuccessMessage').hide();
                    //             this.raiseRefreshOnUploadDocEvent();
                    //         }.bind(this), 5000);
                    //     }
                    // },
                    //// Un-used function
                });
        });
    </script>
</dom-module>