<html-import html-href="bank-details/bankDetail.html"></html-import>
<html-import html-href="custom-component/floating-action-button.html"></html-import>
<dom-module id="bank-details-home">
    <template>
        <style>
            .set-vertical-height {
                height: 500px;
                overflow-y: auto;
                overflow-x: hidden;
            }

            .header {
                font-size: 12px;
                font-weight: 700;
                color: white;
                background-color: #03466B;
            }

            .custom-input {
                --paper-input-container-input: {
                    font-size: 11px;
                }
                --paper-input-container-label: {
                    font-size: 12px;
                }
            }

            vaadin-upload {
                --vaadin-upload-button-add: {
                    background: #80b43c;
                }
                --vaadin-upload-file-list: {
                    margin-left: 20px;
                }
                --vaadin-upload-drop-label: {
                    margin: 0 !important;
                    padding: 0 !important;
                }
                #ErrorMessge p {
                    color: #ff0000;
                    font-size: 12px !important;
                }
            }

            .nav-tabs>li.active>a,
            .nav-tabs>li.active>a:hover,
            .nav-tabs>li.active>a:focus {
                color: #555555 !important;
                cursor: default;
                background: white;
                border-bottom: #f3f3f4;
                border-color: #dddddd #dddddd rgba(0, 0, 0, 0);
                border-image: none;
                border-style: solid;
                border-width: 1px;
                -moz-border-bottom-colors: none;
                -moz-border-left-colors: none;
                -moz-border-right-colors: none;
                -moz-border-top-colors: none;
            }

            .tab-content>.active {
                display: block;
                background: white;
            }

            .loan-summary .ibox-content {
                padding-bottom: 0;
            }

            .theme-config {
                height: 100%;
                top: 0;
            }

            .theme-config-box {
                margin-right: -400px;
                position: relative;
                height: 100%;
                z-index: 99;
            }

            .theme-config-box.show {
                margin-right: 0;
            }

            .skin-settings {
                width: 395px;
                margin-left: 40px;
                background: #f3f3f2;
                height: auto;
                min-height: 100px;
                padding-bottom: 20px;
            }

            .spin-icon {
                background-color: #03466B;
            }

            .col-md-12 {
                padding: 0;
            }
        </style>
        <help-text></help-text>
        <div class="theme-config">
            <div class="theme-config-box">
                <div class="spin-icon" on-click="_spinIconClick">
                    <i class="fa fa-chevron-circle-left" id="gearIcon"></i>
                </div>
                <div class="skin-settings">
                    <template is="dom-if" if="{{_isReady(componentMap,componentMapUpdated)}}" restamp="true">
                        <actions-container id="actionContainer" application-number="{{applicationNumber}}" component-map="{{componentMap}}" action-events="{{actionEvents}}"
                            status="{{status}}" status-obj="{{statusObj}}" pay-calculator="{{payCalculator}}" loan-data="{{loanData}}"
                            current-schedule="{{currentSchedule}}" current-economics-data="{{currentEconomicsData}}" add-new-contact="{{addNewContact}}"
                            no-action-message="{{noActionMessage}}" bank-list="{{bankList}}" loan-modification="{{loanModification}}"
                            adhoc-payment="{{adhocPayment}}" schedule-list="{{scheduleList}}"></actions-container>
                    </template>
                </div>
            </div>
        </div>
        <breadcrumb-links></breadcrumb-links>
        <div id="BankMessageContainer"></div>
        <bank-detail id="bankDetails" application-number="{{applicationNumber}}" bank-link-number="{{bankLinkNumber}}" ></bank-detail>

        <fab-menu application-number="{{applicationNumber}}"></fab-menu>
        <iron-signals on-iron-signal-factverified="_onFactVerified"></iron-signals>
        <iron-signals on-iron-signal-refreshattributes="_refreshAttribute"></iron-signals>
        <url-parser id="url"></url-parser>
        <http-request id="http"></http-request>
        <alloy-config id="config"></alloy-config>
        <lookup-service id="lookup"></lookup-service>
        <session-manager id="session"></session-manager>
        <message-component id="message"></message-component>
        <auth-service id="authorize"></auth-service>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "bank-details-home",
                properties: {
                    // scheduleList: {
                    //     type: Array,
                    //     notify: true,
                    //     reflectToAttribute: true
                    // },
                    // email: {
                    //     type: String,
                    //     notify: true,
                    //     reflectToAttribute: true
                    // },
                    // openActivity: {
                    //     type: String,
                    //     notify: true,
                    //     reflectToAttribute: true,
                    //     observer: "openAction"
                    // },
                    noActionMessage: {
                        type: String,
                        notify: true,
                        reflectToAttribute: true
                    },
                    // addNewContact: {
                    //     type: String,
                    //     notify: true,
                    //     reflectToAttribute: true
                    // },
                    // loanModification: {
                    //     type: String,
                    //     notify: true,
                    //     reflectToAttribute: true
                    // },
                    // adhocPayment: {
                    //     type: String,
                    //     notify: true,
                    //     reflectToAttribute: true
                    // },
                    // recordingLink: {
                    //     type: String,
                    //     notify: true
                    // },
                    // showPopup: {
                    //     type: Boolean,
                    //     notify: true,
                    //     value: false,
                    //     observer: "_showCallNotes"
                    // },
                    // feeDetailList: {
                    //     type: Array,
                    //     notify: true,
                    //     value: []
                    // },
                    // payCalculator: {
                    //     type: Array,
                    //     notify: true,
                    //     reflectToAttribute: true,
                    //     observer: "_loadJson"
                    // },
                    // calculatorObj: {
                    //     type: Array,
                    //     notify: true
                    // },
                    tags: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    applicationNumber: {
                        type: String,
                        notify: true,
                        reflectToAttribute: true
                    },
                    bankLinkNumber: {
                        type: String,
                        notify: true,
                        reflectToAttribute: true
                    },
                    // currentSchedule: {
                    //     type: Object,
                    //     notify: true,
                    //     reflectToAttribute: true
                    // },
                    // currentEconomicsData: {
                    //     type: Object,
                    //     notify: true,
                    //     reflectToAttribute: true
                    // },
                    // bankList: {
                    //     type: Array,
                    //     notify: true,
                    //     reflectToAttribute: true
                    // },
                    // statusObj: {
                    //     type: Object,
                    //     notify: true,
                    //     reflectToAttribute: true
                    // },
                    // loanData: {
                    //     type: Object,
                    //     notify: true,
                    //     reflectToAttribute: true,
                    //     observer: "setName"
                    // },
                    currentEntityName: {
                        type: String,
                        notify: true,
                        value: 'ibv'
                    },
                    entityName: {
                        type: String,
                        notify: true,
                        value: 'application'
                    },
                    // callNotesId: {
                    //     type: String,
                    //     notify: true
                    // },
                    // tableObj: {
                    //     type: Object,
                    //     notify: false
                    // },
                //     componentMap: {
                //         type: Object,
                //         notify: true,
                //         value: {
                //             ApplySuspense: false,
                //             ChargedOff: false,
                //             MakeNewPayment: false,
                //             NewDrawDownRequest: false,
                //             PauseAccrual: false,
                //             PauseAutoPayment: false,
                //             SellOff: false,
                //             StartAccrual: false,
                //             StartAutoPayment: false,
                //             UpdateBankDetail: false,
                //             UpdateBorrowerDetail: false,
                //             ApplyFees: false,
                //             CloseLoan: false,
                //             UpdatePaymentInstrument: false,
                //             PayoffCalculator: false,
                //             MakePayment: false,
                //             SchedulePayment: false,
                //             OtherContact: false,
                //             UploadBankStatement: false,
                //             RefundPayment: false,
                //             UploadDocs: false,
                //             SendMail: false,
                //             LoanModification: false,
                //             AdhocPayment: false,
                //             NoAction: false
                //         },
                //         reflectToAttribute: true
                //     },
                //     componentMapUpdated: {
                //         type: Boolean,
                //         notify: true,
                //         value: false,
                //         reflectToAttribute: true
                //     },
                //     tags: {
                //         type: Array,
                //         notify: true,
                //         value: []
                //     },
                //     actionEvents: {
                //         type: Object,
                //         notify: true,
                //         value: {}
                //     },
                //     allowUpload: {
                //         type: Boolean,
                //         notify: true,
                //         value: false
                //     },
                //     estPayOffFilterObj: {
                //         type: Object,
                //         notify: true
                //     },
                //     callNotesObj: {
                //         type: Object,
                //         notify: true,
                //         value: {
                //             controls: {
                //                 CallDate: {
                //                     label: "Call Date",
                //                     title: "Call Date",
                //                     type: "date",
                //                     class: "twoRow",
                //                     format: "MM/DD/YYYY",
                //                     minFactor: 100,
                //                     maxFactor: 0,
                //                     validations: {
                //                         required: true,
                //                         min: false,
                //                         max: true
                //                     }
                //                 },
                //                 ContactedBy: {
                //                     label: "Contacted By",
                //                     type: "textbox",
                //                     class: "twoRow",
                //                     validations: {
                //                         required: true,
                //                         readonly: false,
                //                         charcounter: false,
                //                         autovalidate: false,
                //                         minLen: 1,
                //                         maxLen: 64
                //                     }
                //                 },
                //                 ContactPerson: {
                //                     label: "Contact Person",
                //                     type: "textbox",
                //                     class: "twoRow",
                //                     validations: {
                //                         required: true,
                //                         readonly: false,
                //                         charcounter: false,
                //                         autovalidate: false,
                //                         minLen: 1,
                //                         maxLen: 64
                //                     }
                //                 },
                //                 RelationshiptoBorrower: {
                //                     label: "Relationship to Borrower",
                //                     type: "combobox",
                //                     selectList: [],
                //                     class: "twoRow",
                //                     labelKey: "value",
                //                     labelValue: "key",
                //                     validations: {
                //                         required: true
                //                     }
                //                 },
                //                 CallDisposition: {
                //                     label: "Call Disposition",
                //                     type: "combobox",
                //                     selectList: [],
                //                     class: "twoRow",
                //                     labelKey: "value",
                //                     labelValue: "key",
                //                     validations: {
                //                         required: true
                //                     }
                //                 },
                //                 CallNotes: {
                //                     label: "Call Notes",
                //                     type: "textarea",
                //                     validations: {
                //                         required: true,
                //                         readonly: false,
                //                         charcounter: false,
                //                         autovalidate: false,
                //                         rows: 3,
                //                         minLen: 1,
                //                         maxLen: 2000
                //                     }
                //                 }
                //             },
                //             values: {
                //                 CallDate: "",
                //                 ContactedBy: "",
                //                 ContactPerson: "",
                //                 RelationshiptoBorrower: "",
                //                 CallNotes: "",
                //                 CallDisposition: ""
                //             }
                //         }
                //     }
                // },
                // listeners: {
                //     'AppDetailsPageRefresh': '_refreshAppDetails',
                //     'RefreshActivity': '_refreshActivity',
                //     'RefreshTransaction': '_refreshTranscations',
                //     'RefreshPaymentSchedule': '_refreshPaymentSchedule',
                //     'RefreshPaymentDetail': '_refreshPaymentDetail',
                //     'RefreshPaymentInprocess': '_refreshPaymentInprocess',
                //     'RefreshDrawRequest': '_refreshDrawRequest',
                //     'RefreshEconomics': '_refreshEconomicsData',
                //     'RefreshLoanData': '_refreshLoanData',
                //     'RefreshLoanStatusData': '_refreshLoanStatusData',
                //     'RefreshBankData': '_refreshBankData',
                //     'RefreshFlagData': '_refreshFlagData',
                //     'RefreshDocumentData': '_refreshDocumentData',
                //     'RefreshVerificationData': '_refreshVerificationData',
                //     'RefreshUploadDocAction': '_refreshUploadDocAction',
                //     'RefreshScheduleData': '_refreshScheduleData',
                //     'ShowMessage': '_showMessage'
                },
                ready: function () {
                    var self = this;
                    if (window.jQuery) {
                        self.init()();
                    } else {
                        window.addEventListener("WebComponentsReady", self.init());
                    }
                },
                init: function () {
                    var self = this;
                    var showSpinner = true;
                    return function () {
                        var params = self.$.url.getParams();
                        self.set("bankLinkNumber", params.bankLinkId);
                        self.set("applicationNumber", params.entityId);
                        if (params.hasOwnProperty('entity')) {
                            self.set('currentEntityName', params.entity);
                        }
                        // self.loadData(showSpinner);
                        // self.getScheduleData(showSpinner);
                        // self.getBankDetails(showSpinner);
                        // self._loadAppStatus(showSpinner);
                    }
                },
                // _refreshScheduleData: function () {
                //     var self = this;
                //     setTimeout(function () {
                //         self.getScheduleData(false);
                //     }, parseInt(self.refreshTimeSpan));
                // },
                // _loadAppStatus: function (showSpinner) {
                //     var self = this;
                //     var url = "/status-management/" + self.currentEntityName + "/" + self.applicationNumber + "/" + self.workflowId;
                //     self.$.http.get(url, "", showSpinner).then(function (data) {
                //         self.set("status", data.name);
                //         self.set("statusCode", data.code);
                //         self.set("statusObj", data);
                //         self._fetchCurrentTagsInfo(showSpinner);
                //     }).fail(function (e) {
                //         console.error("loadAppStatusFromConfig error is ", e);
                //     });
                // },
                // _fetchCurrentTagsInfo: function (showSpinner) {
                //     var self = this;
                //     var url = "/tags/" + self.applicationNumber;
                //     var loanFilters = window.config.services.lmsLoanFilters;
                //     self.$.http.get(url, loanFilters, showSpinner).then(function (data) {
                //         if (data.tags) {
                //             var tags = _.transform(data.tags, function (result, item) {
                //                 result.push({ name: item.tagName, taggedOn: item.taggedOn.time });
                //             }, []);
                //             self.set("tags", tags);
                //         }
                //         self._initializeComponentStatus();
                //     }).fail(function (e) {
                //         console.error("Loan Tag error is ", e);
                //         self._initializeComponentStatus();
                //     });
                // },
                // _getActionsByTagAndStatus: function (filterActions) {
                //     var self = this;
                //     var statusCode = self.statusCode;
                //     var tags = self.tags;
                //     var params = self.$.url.getParams();
                //     var actions;
                //     self.noActionMessage = self.$.config.getConfigurationBasedOnKey("noActionMessage");
                //     var StatusBasedFilter = self.$.config.getConfigurationBasedOnKey("StatusBasedFilter");
                //     var SubStatusBasedFilter = self.$.config.getConfigurationBasedOnKey("SubStatusBasedFilter");
                //     if (StatusBasedFilter.indexOf(self.status) != -1) {
                //         actions = filterActions[statusCode];
                //         return actions;
                //     }
                //     else if (self.statusObj.subStatusDetail != null && self.statusObj.subStatusDetail != undefined && self.statusObj.subStatusDetail != "") {
                //         self.statusObj.subStatusDetail.forEach(function (Obj) {
                //             if (SubStatusBasedFilter.indexOf(Obj.subStatusCode) != -1) {
                //                 actions = _.merge(filterActions[Obj.subStatusCode], actions);
                //             }
                //         });
                //         if (actions == "" || actions == undefined) {
                //             actions = filterActions[params.filter];
                //         }
                //         return actions;
                //     }
                //     else {
                //         actions = filterActions[params.filter];
                //         return actions;
                //     }
                // },
                // _initializeComponentStatus: function () {
                //     var self = this;
                //     var componentMap = _.cloneDeep(self.componentMap);
                //     var filterActions = self.$.config.getConfigurationBasedOnKey("filter-actions");
                //     self.set("actionEvents", filterActions.events);
                //     self.set("actionMessages", filterActions.messages);
                //     self.$.session.setObject("actionEvents", filterActions.events);
                //     if (!_.isUndefined(self.statusCode) && !_.isNull(self.statusCode)) {
                //         var actions = self._getActionsByTagAndStatus(filterActions);
                //         if (!_.isUndefined(actions) && !_.isEmpty(actions)) {
                //             var result = _.reduce(componentMap, function (output, value, key) {
                //                 output[key] = actions.hasOwnProperty(key) ? actions[key] : false;
                //                 return output;
                //             }, {});
                //             var noAction = true;
                //             var mapObj = Object.keys(result);
                //             mapObj.forEach(function (key) {
                //                 if (result[key]) {
                //                     noAction = false;
                //                 }
                //             });
                //             result.NoAction = noAction;
                //             self.set('componentMap', result);
                //         }
                //         else {
                //             self.componentMap.NoAction = true;
                //         }
                //     }
                //     else {
                //         self._resetComponentMap();
                //     }
                //     self.set('componentMapUpdated', true);
                //     self._openActionMenu();
                //     self.setCallNoteValue();
                // },
                // _openActionMenu: function () {
                //     var self = this;
                //     var OpenActionMenu = self.$.config.getConfigurationBasedOnKey("openAction");
                //     if (OpenActionMenu) {
                //         $('.spin-icon').click();
                //     }
                // },
                _spinIconClick: function (e) {
                    $('.spin-icon i').toggleClass("fa-chevron-circle-left fa-chevron-circle-right");
                    $('.theme-config-box').toggleClass('show');
                },
                // loadData: function (showSpinner) {
                //     var self = this;
                //     var lmsService = window.config.services.lmsService;
                //     var url = "/" + self.applicationNumber;
                //     self.$.http.get(url, lmsService, showSpinner).then(function (data) {
                //         if (data) {
                //             self.set("loanData", data);
                //         }
                //     }).fail(function (e) {
                //         console.error("Load Loan Data error is ", e);
                //     });
                // },
                // getScheduleData: function (showSpinner) {
                //     var self = this;
                //     var lmsService = window.config.services.lmsService;
                //     var url = "/" + self.applicationNumber + "/schedule";
                //     self.$.http.get(url, lmsService, showSpinner).then(function (data) {
                //         if (data) {
                //             self.set('currentSchedule', data);
                //             self.getEconomicsData(showSpinner);
                //         }
                //     }).fail(function (e) {
                //         console.error("load Schedule error is ", e);
                //     });
                // },
                // getEconomicsData: function (showSpinner) {
                //     var self = this;
                //     var accountingService = window.config.services.accountingService;
                //     var url = "/" + self.applicationNumber + "/" + self.currentSchedule.scheduleVersionNo;
                //     self.$.http.get(url, accountingService, showSpinner).then(function (data) {
                //         if (data) {
                //             self.set('currentEconomicsData', data);
                //         }
                //     }).fail(function (e) {
                //         console.error("load economics error is ", e);
                //     });
                // },
                // getBankDetails: function (showSpinner) {
                //     var self = this;
                //     var lmsService = window.config.services.lmsService;
                //     var url = "/all/bank/" + self.applicationNumber;
                //     self.$.http.get(url, lmsService, showSpinner).then(function (data) {
                //         if (data) {
                //             self.set('bankList', data);
                //         }
                //     }).fail(function (e) {
                //         console.error("load bank details error is ", e);
                //     });
                // },
                // setCallNoteValue: function () {
                //     var self = this;
                //     var calldisposition = self.$.lookup.getLookupBasedOnName("calldisposition");
                //     var relations = self.$.lookup.getLookupBasedOnName("relations");
                //     var callNotesObj = _.cloneDeep(self.callNotesObj);
                //     callNotesObj.values.CallDate = moment().format('YYYY-MM-DD');
                //     callNotesObj.values.ContactedBy = self.$.session.get("userName");
                //     callNotesObj.controls.RelationshiptoBorrower.selectList = relations;
                //     callNotesObj.values.RelationshiptoBorrower = "self";
                //     callNotesObj.controls.CallDisposition.selectList = calldisposition;
                //     self.set('callNotesObj', callNotesObj);
                // },
                // _resetComponentMap: function () {
                //     var self = this;
                //     var input = _.cloneDeep(self.componentMap);
                //     var result = _.reduce(input, function (output, value, key) {
                //         output[key] = false;
                //         return output;
                //     }, {});
                //     self.set('componentMap', result);
                // },
                _isReady: function (componentMap, componentMapUpdated) {
                    var hasNoActions = window.location.href.toLowerCase().includes("/noaction");
                    if (this.componentMap && this.componentMapUpdated && !hasNoActions) {
                        return true;
                    }
                    return false;
                },
                // _refreshAppDetails: function (e) {
                //     this._updateHash();
                // },
                // _updateHash: function () {
                //     var randomVal = Math.floor(Math.random() * (10000 - 1 + 1)) + 1;
                //     var hashStr = window.location.hash;
                //     if (hashStr.includes("refresh:")) {
                //         var newHash = hashStr.replace(/refresh:\d+/i, "refresh:" + randomVal);
                //         window.location.hash = newHash;
                //     } else {
                //         window.location.hash = hashStr + "/refresh:" + randomVal;
                //     }
                //     window.location.reload();
                // },
                // date: function (date) {
                //     if (!_.isNull(date) && !_.isUndefined(date) && !_.isEmpty(date)) {
                //         return formats.date(date, 'USA', false);
                //     }
                //     return "NA";
                // },
                // formatMoney: function (value) {
                //     return formats.money(value, 'USA', 0);
                // },
                // resetModal: function () {
                //     var self = this;
                // },
                // calculateValue: function (fees) {
                //     return this.formatCurrency(fees.feeAmount - fees.paidAmount);
                // },
                // setName: function () {
                //     var self = this;
                //     var name = "";
                //     var loanDetailObj = self.loanData;
                //     if (!_.isUndefined(loanDetailObj) && loanDetailObj.hasOwnProperty('productCategory')) {
                //         var primaryApplicantObj = loanDetailObj.primaryApplicantDetails;
                //         if (!_.isUndefined(primaryApplicantObj) && !_.isNull(primaryApplicantObj)) {
                //             name = primaryApplicantObj.name.first + " " + primaryApplicantObj.name.last;
                //         }
                //     }
                //     var callNotesObj = _.cloneDeep(self.callNotesObj);
                //     callNotesObj.values.ContactPerson = name;
                //     self.set('callNotesObj', callNotesObj);
                // },
                // sendCallNotes: function () {
                //     var self = this;
                //     var form = Polymer.dom(event).localTarget.parentElement.parentElement;
                //     if (form.validate()) {
                //         var params = this.$.url.getParams();
                //         var url = '/' + params.entity + '/' + self.applicationNumber;
                //         var payload = {
                //             CallDateTime: self.callNotesObj.values.CallDate,
                //             ContactedBy: self.callNotesObj.values.ContactedBy,
                //             ContactPerson: self.callNotesObj.values.ContactPerson,
                //             RelationToBorrower: self.callNotesObj.values.RelationshiptoBorrower,
                //             Notes: self.callNotesObj.values.CallNotes,
                //             CallDisposition: self.callNotesObj.values.CallDisposition,
                //             RecordedDate: new Date(),
                //             RecordedBy: self.$.session.get("userName"),
                //             RecordingLink: self.recordingLink
                //         };
                //         self.$.http.post(url, payload, window.config.services.callService).then(function (data) {
                //             self.callNotesId = data.id;
                //             var uploadContainer = document.querySelector("vaadin-upload#CallRecording");
                //             var files = uploadContainer.files;
                //             if (files.length > 0) {
                //                 self._uploadManualDocuments();
                //             }
                //             else {
                //                 self._updateHashSubWorkFlow();
                //             }
                //         }).fail(function (e) {
                //             var strMessage = "Failed to complete the operation. " + e.responseJSON.message;
                //             self.$.message.showMessage(strMessage, "ERROR", self.$$('#MessageContainer'));
                //         });
                //     }
                // },
                // _showCallNotes: function () {
                //     var self = this;
                //     if (self.showPopup) {
                //         self.$$('#CallNotesModal').showModal();
                //     }
                // },
                // resetCallNotesModal: function () {
                //     var self = this;
                //     self.set('showPopup', false);
                // },
                // _updateHashSubWorkFlow: function () {
                //     var randomVal = Math.floor(Math.random() * (10000 - 1 + 1)) + 1;
                //     var hashStr = window.location.hash;
                //     if (hashStr.includes("refresh:")) {
                //         var newHash = hashStr.replace(/refresh:\d+/i, "refresh:" + randomVal);
                //         window.location.hash = newHash;
                //     } else {
                //         window.location.hash = hashStr + "/refresh:" + randomVal;
                //     }
                //     window.location.reload();
                // },
                // _uploadRequest: function (event) {
                //     event.detail.xhr.setRequestHeader('Authorization', "Bearer " + this.$.session.get('token'));
                // },
                // _uploadSuccess: function (event) {
                //     var self = this;
                //     if (event.detail.xhr.status === 200) {
                //         var res = $.parseJSON(event.detail.xhr.response);
                //         self._updateHashSubWorkFlow();
                //     }
                // },
                // _changeServerUrl: function (event) {
                //     var self = this;
                //     if (!self.allowUpload) {
                //         event.preventDefault();
                //         return;
                //     }
                //     event.detail.file.uploadTarget = self._getServerUrl();
                // },
                // _documentName: function (doc) {
                //     return doc.documentName[0];
                // },
                // _getServerUrl: function () {
                //     var self = this;
                //     var callServiceURL = window.config.services.callService + "/loan/" + self.applicationNumber + "/recording/" + self.callNotesId;
                //     return callServiceURL;
                // },
                // _uploadManualDocuments: function (e) {
                //     var self = this;
                //     self.set('allowUpload', true);
                //     self.set('isExtVerified', true);
                //     var uploadContainer = document.querySelector("vaadin-upload#CallRecording");
                //     var files = uploadContainer.files;
                //     if (self.isExtVerified) {
                //         _.forEach(files, function (item) {
                //             item.uploadTarget = self._getServerUrl();
                //             uploadContainer._uploadFile(item);
                //         });
                //     }
                //     self.set('allowUpload', false);
                // },
                // formatCurrency: function (data) {
                //     return formats.money(data, 'USA', 0);
                // },
                // cancelCall: function (event) {
                //     event.preventDefault();
                //     $(".CloseCallNotes").click();
                // },
                // _refreshActivity: function (e) {
                //     var self = this;
                //     setTimeout(function () {
                //         self.callChildMethod("activityListTab", "_reloadActivityList");
                //     }, parseInt(self.refreshTimeSpan));
                // },
                // _refreshBankData: function (e) {
                //     var self = this;
                //     setTimeout(function () {
                //         self.getBankDetails(false);
                //     }, parseInt(self.refreshTimeSpan));
                // },
                // _refreshLoanData: function (e) {
                //     var self = this;
                //     setTimeout(function () {
                //         self.loadData(false);
                //     }, parseInt(self.refreshTimeSpan));
                // },
                // _refreshLoanStatusData: function (e) {
                //     var self = this;
                //     setTimeout(function () {
                //         self._loadAppStatus(false);
                //     }, parseInt(self.refreshTimeSpan));
                // },
                // _refreshEconomicsData: function (e) {
                //     var self = this;
                //     setTimeout(function () {
                //         self.getEconomicsData(false);
                //     }, parseInt(self.refreshTimeSpan));
                // },
                // _refreshTranscations: function (e) {
                //     var self = this;
                //     var bankDetails = self.$$('#bankDetails');
                //     setTimeout(function () {
                //         bankDetails.$$('#TransactionTab')._getTransactions();
                //     }, parseInt(self.refreshTimeSpan));
                // },
                // _refreshUploadDocAction: function (e) {
                //     var self = this;
                //     var actionContainer = this.$$("#actionContainer");
                //     setTimeout(function () {
                //         actionContainer.$$('#UploadDocs-loan-activity').toggleActivity();
                //     }, parseInt(self.refreshTimeSpan));
                // },
                // _refreshDocumentData: function (e) {
                //     var self = this;
                //     var bankDetails = self.$$('#bankDetails');
                //     setTimeout(function () {
                //         bankDetails.$$('#DocumentTab').init();
                //     }, parseInt(self.refreshTimeSpan));
                // },
                // _refreshVerificationData: function (e) {
                //     var self = this;
                //     var bankDetails = self.$$('#bankDetails');
                //     setTimeout(function () {
                //         bankDetails.$$('#verificationdashboardInfo').init();
                //     }, parseInt(self.refreshTimeSpan));
                // },
                // _refreshFlagData: function (e) {
                //     var self = this;
                //     setTimeout(function () {
                //         self.callChildMethod("FlagsTab", "_getAllFlags");
                //     }, parseInt(self.refreshTimeSpan));
                // },
                // _refreshPaymentDetail: function (e) {
                //     var self = this;
                //     var bankDetails = self.$$('#bankDetails');
                //     setTimeout(function () {
                //         bankDetails.$$('#paymentDetailTab')._loadLookup();
                //     }, parseInt(self.refreshTimeSpan));
                // },
                // _refreshPaymentInprocess: function (e) {
                //     var self = this;
                //     var bankDetails = self.$$('#bankDetails');
                //     setTimeout(function () {
                //         bankDetails.$$('#paymentInprocessTab')._loadLookup();
                //     }, parseInt(self.refreshTimeSpan));
                // },
                // _refreshPaymentSchedule: function (e) {
                //     var self = this;
                //     var bankDetails = self.$$('#bankDetails');
                //     setTimeout(function () {
                //         bankDetails.fetchAllSchedules();
                //     }, parseInt(self.refreshTimeSpan));
                // },
                // _refreshDrawRequest: function (e) {
                //     var self = this;
                //     setTimeout(function () {
                //         bankDetails.$$('#drawdownRequestTab')._loadFilterConfigurations();
                //     }, parseInt(self.refreshTimeSpan));
                // },
                // _onFactVerified: function () {
                //     var self = this;
                //     setTimeout(function () {
                //         self._refreshVerificationData();
                //         self._refreshLoanStatusData();
                //     }, parseInt(self.refreshTimeSpan));
                // },
                // _showMessage: function (e) {
                //     var self = this;
                //     if (e.detail.data && e.detail.data.ActionName) {
                //         var action = e.detail.data.ActionName;
                //         var message = self.actionMessages[action];
                //         self.$.message.showMessage(message, "INFO", self.$.BankMessageContainer);
                //     } else if (e.detail.data && e.detail.data.Message) {
                //         self.$.message.showMessage(e.detail.data.Message, "INFO", self.$.BankMessageContainer);
                //     }
                //     self._resetActionItems(e.detail.data.EventData, e.detail.data.CompnentName);
                // },
                // callChildMethod: function (childId, method) {
                //     var appDetails = this.$$("#bankDetails");
                //     appDetails.$$('#' + childId)[method]();
                // },
                // _resetActionItems: function (event, componentName) {
                //     if (event && componentName) {
                //         var componentObj = $(event.target).parents().find(componentName)[0];
                //         var siblingObj = $(componentObj).parent().siblings()[0];
                //         $(siblingObj).trigger('click');
                //     }
                // },
                // _loadJson: function (obj) {
                //     var self = this;
                //     self.set("calculatorObj", obj);
                //     var data = self.$.config.getConfigurationBasedOnKey("filters");
                //     var estPayOffFilterObj = {};
                //     if (self.checkPortfolioType(self.loanData) === true) {
                //         estPayOffFilterObj = _.cloneDeep(data["EstimatePayOff"]);
                //     }
                //     else {
                //         estPayOffFilterObj = _.cloneDeep(data["EstimatePayOffMCA"]);
                //     }

                //     var columnLength = estPayOffFilterObj.columns.length;
                //     for (var i = 0; i < columnLength; i++) {
                //         if (estPayOffFilterObj.columns[i].render != undefined) {
                //             var render = estPayOffFilterObj.columns[i].render;
                //             if (estPayOffFilterObj.columns[i].isFunction) {
                //                 estPayOffFilterObj.columns[i].render = eval("(" + render + ")");
                //             }
                //             else {
                //                 estPayOffFilterObj.columns[i].render = eval(render);
                //             }
                //         }
                //     }
                //     self.set("estPayOffFilterObj", estPayOffFilterObj);
                //     self.renderPayOffTable();
                // },
                // ViewFees: function (e) {
                //     this.set('feeDetailList', e.feeDetails);
                //     $('#feesHeader').show();
                //     $('#PayOffFeesDetails').show();
                // },
                // renderPayOffTable: function () {
                //     var self = this, table;
                //     table = self.tableObj;
                //     if (table !== null && table !== undefined) {
                //         table.clear();
                //         table.destroy();
                //     }
                //     table = self.tableObj = $('#PayOffEstimates').DataTable({
                //         dom: "<'row'<'col-sm-12'tr>>" +
                //         "<'row'<'col-sm-5'i><'col-sm-7'p>>",
                //         data: self.calculatorObj,
                //         columns: self.estPayOffFilterObj.columns,
                //         columnDefs: self.estPayOffFilterObj.columnDefs,
                //         order: self.estPayOffFilterObj.order,
                //         language: {
                //             lengthMenu: "show_MENU_ Payoff",
                //             zeroRecords: "No Data found.",
                //             info: "Showing _START_ to _END_ of _TOTAL_ Payoff",
                //             infoEmpty: "Payoff schedule not available",
                //             infoFiltered: "(filtered from _MAX_ total Payoff)"
                //         }
                //     });
                //     setTimeout(function () {
                //         $('#PayOffEstimates tbody').on('click', 'button', function () {
                //             var data = self.tableObj.row($(this).parents('tr')).data();
                //             if (this.getAttribute("on-click") !== null && this.getAttribute("on-click") !== undefined) {
                //                 self[this.getAttribute("on-click")](data);
                //             }
                //         });
                //         var configData = self.estPayOffFilterObj.columns;
                //         self.$$('#PayoffCalculaterModal').showModal();
                //         $('#feesHeader').hide();
                //         $('#PayOffFeesDetails').hide();
                //     }, 700);
                // },
                // openAction: function (obj) {
                //     var self = this;
                //     if (obj != undefined && obj != null && obj != "clear") {
                //         var actionContainer = this.$$("#actionContainer");
                //         var actionMapped = self.$.config.getConfigurationBasedOnKey("flagActionMapped");
                //         var performAction = _.find(actionMapped, ['value', obj]);
                //         if (performAction != undefined && performAction != null && performAction != "") {
                //             var isOpen = $('.theme-config-box').attr('class');
                //             if (isOpen.indexOf("Show") === -1) {
                //                 $('.spin-icon').click();
                //             }
                //             actionContainer.$$('#' + performAction.value).toggleActivity();
                //         }
                //     }
                //     self.set("openActivity", "clear");
                // },
                // checkPortfolioType: function (objType) {
                //     var self = this;
                //     if (self.loanData && self.loanData.productPortfolioType != "MCA" && self.loanData.productPortfolioType != "MCALOC") {
                //         return true;
                //     }
                //     return false;
                // },
                // sendMailToBorrower: function (event) {
                //     var self = this;
                //     event.preventDefault();
                //     var params = self.$.url.getParams();
                //     var url = '/' + self.applicationNumber + "/" + self.currentSchedule.scheduleVersionNo + "/payoffSchedule";
                //     self.$.http.post(url, self.calculatorObj, window.config.services.lmsService).then(function (data) {
                //         self.$.message.showMessage("Payoff schedule mail sent successfully.", "SUCCESS", self.$$('#MessageContainerEstimatePayoff'));
                //     }).fail(function (e) {
                //         var strMessage = "Failed to complete the operation. " + e.responseJSON.message;
                //         self.$.message.showMessage(strMessage, "ERROR", self.$$('#MessageContainerEstimatePayoff'));
                //     });
                // },
                // hasRole: function (compName) {
                //     return this.$.authorize.hasRole(compName);
                // },
            });
        });
    </script>
</dom-module>