<dom-module id="login-layout">
    <template>
        <style>
            #app-shell {
                margin: 0;
                height: 100%;
                z-index: 20;
            }

            .center-box {
                display: flex;
                justify-content: center;
                height: 80%;
                flex-direction: column;
                margin: 0 auto;
            }

            img {
                margin: 0 auto;
            }

            micro-app {
                width: 20%;
                min-width: 335px;
                margin: 0 auto;
            }
        </style>
        <div id="app-shell" class="text-center gray-bg">
            <div class="center-box">
                <template is="dom-if" if="{{_checkIfLogoLoaded(logoObj)}}">
                    <img is="img-ext" src="{{dynamicImage}}" alt="{{logoObj.alt}}" style="{{imgStyle}}">
                </template>
                <micro-app current-app></micro-app>
            </div>
        </div>
        <http-request id="httpp"></http-request>
        <alloy-config id="configp"></alloy-config>
    </template>
    <script>
        Polymer({
            is: "login-layout",
            properties: {
                imgStyle: {
                    type: String,
                    notify: true,
                    reflectToAttribute: true
                },
                logoObj: {
                    type: Object,
                    notify: true,
                    value: {}
                },
                hasImageLoaded: {
                    type: Boolean,
                    notify: true,
                    value: false
                },
                dynamicImage: {
                    type: String,
                    notify: true
                }
            },
            _checkIfLogoLoaded: function (logoObj) {
                var self = this;
                if (self.hasImageLoaded && !_.isEmpty(self.logoObj))
                    return true;
                return false;
            },
            loadLogoconfigs: function () {
                var self = this;
                var data = self.$.configp.getConfigurationBasedOnKey("images-config");
                if (data.loginlogo) {
                    self.set('hasImageLoaded', true);
                    self.set('logoObj', data.loginlogo);
                    var regexpattern = /((?:https?\:\/\/|www\.)(?:[-a-z0-9]+\.)*[-a-z0-9]+.*)/i;
                    if (regexpattern.test(data.loginlogo.img)) {
                        self.set("dynamicImage", data.loginlogo.img);
                    }
                    else {
                        self.set("dynamicImage", "/images/" + data.loginlogo.img);
                    }
                    var tmpHeight = (self.logoObj.height !== undefined && self.logoObj.height !== "") ? self.logoObj.height : "auto";
                    var tmpWidth = (self.logoObj.width !== undefined && self.logoObj.width !== "") ? self.logoObj.width : "auto";
                    var style = "height:" + tmpHeight + " !important; width:" + tmpWidth + " !important";
                    self.set('imgStyle', style);
                }
            },
            ready: function () {
                this.loadLogoconfigs();
            }
        });
    </script>
</dom-module>