<html-import html-href="loaders/sk-wave.html"></html-import>
<dom-module id="recent-activity">
    <template>
        <style>
        </style>
        <div class="row">
            <breadcrumb-links id="breadkcrumbLinks"></breadcrumb-links>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <spinkit-wave hidden$="{{loadding}}"></spinkit-wave>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12" id="recentActivityContainer">
                <table id="recentActivityTable" class="table table-striped" width="100%" cellspacing="0">
                </table>
            </div>
        </div>
        <url-parser id="url"></url-parser>
        <http-request id="http"></http-request>
        <alloy-config id="config"></alloy-config>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "recent-activity",
                properties: {
                    loadding: {
                        type: Boolean,
                        notify: true,
                        value: false,
                        reflectToAttribute: true
                    },
                    tableObj: {
                        type: Object,
                        notify: false
                    },
                    columnObj: {
                        type: Object,
                        notify: true
                    }
                },
                ready: function () {
                    var self = this;
                    self.getConfig();
                },
                getConfig: function () {
                    var self = this;
                    var dataConfig = self.$.config.getConfigurationBasedOnKey("filters");
                    var RecentActivity = _.cloneDeep(dataConfig["RecentActivity"]);
                    if (_.isUndefined(RecentActivity) || _.isNull(RecentActivity)) {
                        RecentActivity = _.cloneDeep(dataConfig["Alerts"]);
                    }
                    var columnLength = RecentActivity.columns.length;
                    for (var i = 0; i < columnLength; i++) {
                        if (RecentActivity.columns[i].render != undefined) {
                            var render = RecentActivity.columns[i].render;
                            if (RecentActivity.columns[i].isFunction) {
                                RecentActivity.columns[i].render = eval("(" + render + ")");
                            }
                            else {
                                RecentActivity.columns[i].render = eval(render);
                            }
                        }
                    }
                    self.set("columnObj", RecentActivity);
                    self.loadData();
                },
                loadData: function () {
                    var self = this;
                    self.$.http.get("/", window.config.services.inbox, false).then(function (result) {
                        _.forEach(result, function (element) {
                            var _app = "";
                            var _entityType = "";
                            var body = element.body;
                            if ((body.indexOf("$#") !== -1) && (body.indexOf("#$") !== -1)) {
                                var entityData = body.substring(body.indexOf("$#") + 2);
                                entityData = entityData.substring(0, entityData.indexOf("#$"));
                                var arrayEntity = entityData.split('|');
                                if (arrayEntity !== undefined && arrayEntity.length > 0) {
                                    _entityType = arrayEntity[0];
                                    if (arrayEntity[1] !== undefined) {
                                        _app = arrayEntity[1];
                                    }
                                }
                            }
                            _.extend(element, {
                                applicationNumber: _app,
                                tags: (element.tags !== undefined && element.tags !== null && element.tags.length > 0) ? element.tags[0] : "",
                                entityType: _entityType,
                                body: element.body.substring(0, element.body.indexOf("$#")),
                                title: " " + element.subject + " at " + self.formatDate(element.date)
                            });
                        });
                        self.set('loadding', true);
                        if (result) {
                            self._generateTable(result);
                        }
                    }).fail(function (e) {
                        self.set('loadding', true);
                        console.error("recent activity error is ", e);
                    });
                },
                formatDate: function (date) {
                    if (date !== undefined) {
                        return moment.tz(date, window.config.timezone).format(COUNTRY[window.config.country].DATE_FORMAT.DATE_TIMEZONE);
                    }
                    return "";
                },
                _generateTable: function (recentActivity) {
                    var self = this, table;
                    table = self.tableObj;
                    if (table !== null && table !== undefined) {
                        table.clear();
                        table.destroy(true);
                        $('#recentActivityContainer').append($('<table/>').attr('id', 'recentActivityTable').css('width', '100%').addClass('table table-striped'));
                    }
                    $.fn.dataTable.ext.errMode = 'none';
                    table = self.tableObj = $(self.$$('#recentActivityTable')).DataTable({
                        dom: "<'row'<'col-sm-12'tr>><'row'<'col-sm-6'lt><'col-sm-6'ft>>" +
                            "<'row'<'col-sm-12'tr>>" +
                            "<'row'<'col-sm-5'i><'col-sm-7'p>>",
                        data: recentActivity,
                        columns: self.columnObj.columns,
                        columnDefs: self.columnObj.columnDefs,
                        order: self.columnObj.order,
                        language: {
                            lengthMenu: "show_MENU_",
                            zeroRecords: "No Data found.",
                            info: "Showing _START_ to _END_ of _TOTAL_ Records",
                            infoEmpty: "No Recent Activity Available",
                            infoFiltered: "(filtered from _MAX_ total Recent Activity)"
                        }
                    });
                    setTimeout(function () {
                        //Grid header tooltip
                        var columnObj = self.columnObj;
                        $('#recentActivityTable thead tr')[0].childNodes.forEach(function (obj) {
                            var tooltipObj = _.filter(columnObj.columns, { title: obj.innerText })
                            if (!_.isUndefined(tooltipObj) && !_.isNull(tooltipObj) && !_.isEmpty(tooltipObj)) {
                                var tooltip = tooltipObj[0].tooltip;
                                if (tooltip !== "" && tooltip !== undefined) {
                                    $(obj).attr('title', tooltip);
                                }
                            }
                        });

                        $('#recentActivityTable tbody').off('click', 'a').on('click', 'a', function () {
                            var data = self.tableObj.row($(this).parents('tr')).data();
                            self.redirectToNewProduct(data);
                        });

                    }, 700);
                },
                redirectToNewProduct: function (objPayload) {
                    var self = this;
                    var url = "";
                    if (objPayload.entityType === "application") {
                        url = "/application/" + objPayload.applicationNumber + "/statusworkflow";
                    }
                    else if (objPayload.entityType === "loan") {
                        url = "/loan/" + objPayload.applicationNumber + "/statusworkflow";
                    }
                    else {
                        url = "/drawdown/" + objPayload.applicationNumber + "/statusworkflow";
                    }
                    self.$.http.get(url, window.config.services.statusManagement).then(function (data) {
                        if (objPayload.entityType === "application") {
                            var redirect = "/app-details/entity:application/filter:Application";
                            redirect = redirect + "/app:" + objPayload.applicationNumber + "/product:" + data.productId + "/workflow:" + data.statusWorkFlowId;
                            window.location.hash = redirect;
                        }
                        else if (objPayload.entityType === "loan") {
                            var redirect = "/loan-details/entity:loan/filter:Loan";
                            redirect = redirect + "/loanId:" + objPayload.applicationNumber + "/product:" + data.productId + "/workflow:" + data.statusWorkFlowId;
                            window.location.hash = redirect;
                        }
                        else {
                            self.getLocNumber(objPayload, data);

                        }
                    }).fail(function (e) {
                        console.error("initiat fact verification error is ", e);
                    });
                },
                getLocNumber: function (objPayload, data) {
                    var self = this;
                    var payload = {};
                    payload.searchFilterView = [{ "DrawDownId": objPayload.applicationNumber }];
                    payload.operator = "and";
                    var savefilterservice = window.config.services.savedFilters;
                    self.$.http.post("/drawdown/search-applications", payload, window.config.services.savedFilters).then(function (response) {
                        var redirect = "/app-details/entity:drawdown/filter:drawdown";
                        redirect = redirect + "/app:" + response[0].LocNumber + "/product:" + data.productId + "/workflow:" + data.statusWorkFlowId + "/drawdownId:" + objPayload.applicationNumber;
                        window.location.hash = redirect;
                    });
                }
            });
        });
    </script>
</dom-module>